{
  "New-MgGroup+[NoContext]+ShouldCreateNewGroup+$POST+https://graph.microsoft.com/v1.0/groups+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://graph.microsoft.com/v1.0/groups",
      "Content": "{\r\n  \"displayName\": \"new-mggroup-test\",\r\n  \"mailEnabled\": false,\r\n  \"mailNickname\": \"unused\",\r\n  \"securityEnabled\": true\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ags-diagnostic": [ "{\"ServerInfo\":{\"DataCenter\":\"West US 2\",\"Slice\":\"E\",\"Ring\":\"1\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"MW2PEPF0000749D\"}}" ],
        "WWW-Authenticate": [ "Bearer realm=\"\", authorization_uri=\"https://login.microsoftonline.com/common/oauth2/authorize\", client_id=\"00000003-0000-0000-c000-000000000000\"" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\r\n    \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#groups/$entity\",\r\n    \"id\": \"02bd9fd6-8f93-4758-87c3-1fb73740a315\",\r\n    \"displayName\": \"new-mggroup-test\",\r\n    \"groupTypes\": [\r\n        \"Unified\"\r\n    ],\r\n    \"mailEnabled\": false,\r\n    \"mailNickname\": \"unused\",\r\n    \"securityEnabled\": true\r\n}",
    }
  }
}