<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="PowerShellSDK_BuildFeed" value="https://pkgs.dev.azure.com/microsoftgraph/0985d294-5762-4bc2-a565-161ef349ca3e/_packaging/PowerShellSDK_BuildFeed/nuget/v3/index.json" />
    <add key="LocalNugetFeed" value="https://pkgs.dev.azure.com/microsoftgraph/0985d294-5762-4bc2-a565-161ef349ca3e/_packaging/edc337b9-e5ea-49dd-a2cb-e8d66668ca57/nuget/v2" />
  </packageSources>
</configuration>