openapi: 3.0.1
info:
  title: Bookings
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /bookingBusinesses:
    get:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Get entities from bookingBusinesses
      operationId: bookingBusinesses.bookingBusiness_ListBookingBusiness
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - address
                - address desc
                - businessHours
                - businessHours desc
                - businessType
                - businessType desc
                - defaultCurrencyIso
                - defaultCurrencyIso desc
                - email
                - email desc
                - isPublished
                - isPublished desc
                - phone
                - phone desc
                - publicUrl
                - publicUrl desc
                - schedulingPolicy
                - schedulingPolicy desc
                - webSiteUrl
                - webSiteUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - address
                - businessHours
                - businessType
                - defaultCurrencyIso
                - email
                - isPublished
                - phone
                - publicUrl
                - schedulingPolicy
                - webSiteUrl
                - appointments
                - calendarView
                - customers
                - services
                - staffMembers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appointments
                - calendarView
                - customers
                - services
                - staffMembers
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of bookingBusiness
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Add new entity to bookingBusinesses
      operationId: bookingBusinesses.bookingBusiness_CreateBookingBusiness
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}':
    get:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Get entity from bookingBusinesses by key
      operationId: bookingBusinesses.bookingBusiness_GetBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - address
                - businessHours
                - businessType
                - defaultCurrencyIso
                - email
                - isPublished
                - phone
                - publicUrl
                - schedulingPolicy
                - webSiteUrl
                - appointments
                - calendarView
                - customers
                - services
                - staffMembers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appointments
                - calendarView
                - customers
                - services
                - staffMembers
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
          links:
            appointments:
              operationId: bookingBusinesses.ListAppointments
              parameters:
                bookingBusiness-id: $request.path.bookingBusiness-id
            calendarView:
              operationId: bookingBusinesses.ListCalendarView
              parameters:
                bookingBusiness-id: $request.path.bookingBusiness-id
            customers:
              operationId: bookingBusinesses.ListCustomers
              parameters:
                bookingBusiness-id: $request.path.bookingBusiness-id
            services:
              operationId: bookingBusinesses.ListServices
              parameters:
                bookingBusiness-id: $request.path.bookingBusiness-id
            staffMembers:
              operationId: bookingBusinesses.ListStaffMembers
              parameters:
                bookingBusiness-id: $request.path.bookingBusiness-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Update entity in bookingBusinesses
      operationId: bookingBusinesses.bookingBusiness_UpdateBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Delete entity from bookingBusinesses
      operationId: bookingBusinesses.bookingBusiness_DeleteBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get appointments from bookingBusinesses
      operationId: bookingBusinesses_ListAppointments
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - additionalInformation
                - additionalInformation desc
                - customerEmailAddress
                - customerEmailAddress desc
                - customerId
                - customerId desc
                - customerLocation
                - customerLocation desc
                - customerName
                - customerName desc
                - customerNotes
                - customerNotes desc
                - customerPhone
                - customerPhone desc
                - duration
                - duration desc
                - end
                - end desc
                - invoiceAmount
                - invoiceAmount desc
                - invoiceDate
                - invoiceDate desc
                - invoiceId
                - invoiceId desc
                - invoiceStatus
                - invoiceStatus desc
                - invoiceUrl
                - invoiceUrl desc
                - isLocationOnline
                - isLocationOnline desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - optOutOfCustomerEmail
                - optOutOfCustomerEmail desc
                - postBuffer
                - postBuffer desc
                - preBuffer
                - preBuffer desc
                - price
                - price desc
                - priceType
                - priceType desc
                - reminders
                - reminders desc
                - selfServiceAppointmentId
                - selfServiceAppointmentId desc
                - serviceId
                - serviceId desc
                - serviceLocation
                - serviceLocation desc
                - serviceName
                - serviceName desc
                - serviceNotes
                - serviceNotes desc
                - staffMemberIds
                - staffMemberIds desc
                - start
                - start desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - additionalInformation
                - customerEmailAddress
                - customerId
                - customerLocation
                - customerName
                - customerNotes
                - customerPhone
                - duration
                - end
                - invoiceAmount
                - invoiceDate
                - invoiceId
                - invoiceStatus
                - invoiceUrl
                - isLocationOnline
                - onlineMeetingUrl
                - optOutOfCustomerEmail
                - postBuffer
                - preBuffer
                - price
                - priceType
                - reminders
                - selfServiceAppointmentId
                - serviceId
                - serviceLocation
                - serviceName
                - serviceNotes
                - staffMemberIds
                - start
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of bookingAppointment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Create new navigation property to appointments for bookingBusinesses
      operationId: bookingBusinesses_CreateAppointments
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get appointments from bookingBusinesses
      operationId: bookingBusinesses_GetAppointments
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - additionalInformation
                - customerEmailAddress
                - customerId
                - customerLocation
                - customerName
                - customerNotes
                - customerPhone
                - duration
                - end
                - invoiceAmount
                - invoiceDate
                - invoiceId
                - invoiceStatus
                - invoiceUrl
                - isLocationOnline
                - onlineMeetingUrl
                - optOutOfCustomerEmail
                - postBuffer
                - preBuffer
                - price
                - priceType
                - reminders
                - selfServiceAppointmentId
                - serviceId
                - serviceLocation
                - serviceName
                - serviceNotes
                - staffMemberIds
                - start
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Update the navigation property appointments in bookingBusinesses
      operationId: bookingBusinesses_UpdateAppointments
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Delete navigation property appointments for bookingBusinesses
      operationId: bookingBusinesses_DeleteAppointments
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}/microsoft.graph.cancel':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action cancel
      operationId: bookingBusinesses.appointments_cancel
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/calendarView':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get calendarView from bookingBusinesses
      operationId: bookingBusinesses_ListCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - additionalInformation
                - additionalInformation desc
                - customerEmailAddress
                - customerEmailAddress desc
                - customerId
                - customerId desc
                - customerLocation
                - customerLocation desc
                - customerName
                - customerName desc
                - customerNotes
                - customerNotes desc
                - customerPhone
                - customerPhone desc
                - duration
                - duration desc
                - end
                - end desc
                - invoiceAmount
                - invoiceAmount desc
                - invoiceDate
                - invoiceDate desc
                - invoiceId
                - invoiceId desc
                - invoiceStatus
                - invoiceStatus desc
                - invoiceUrl
                - invoiceUrl desc
                - isLocationOnline
                - isLocationOnline desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - optOutOfCustomerEmail
                - optOutOfCustomerEmail desc
                - postBuffer
                - postBuffer desc
                - preBuffer
                - preBuffer desc
                - price
                - price desc
                - priceType
                - priceType desc
                - reminders
                - reminders desc
                - selfServiceAppointmentId
                - selfServiceAppointmentId desc
                - serviceId
                - serviceId desc
                - serviceLocation
                - serviceLocation desc
                - serviceName
                - serviceName desc
                - serviceNotes
                - serviceNotes desc
                - staffMemberIds
                - staffMemberIds desc
                - start
                - start desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - additionalInformation
                - customerEmailAddress
                - customerId
                - customerLocation
                - customerName
                - customerNotes
                - customerPhone
                - duration
                - end
                - invoiceAmount
                - invoiceDate
                - invoiceId
                - invoiceStatus
                - invoiceUrl
                - isLocationOnline
                - onlineMeetingUrl
                - optOutOfCustomerEmail
                - postBuffer
                - preBuffer
                - price
                - priceType
                - reminders
                - selfServiceAppointmentId
                - serviceId
                - serviceLocation
                - serviceName
                - serviceNotes
                - staffMemberIds
                - start
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of bookingAppointment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Create new navigation property to calendarView for bookingBusinesses
      operationId: bookingBusinesses_CreateCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get calendarView from bookingBusinesses
      operationId: bookingBusinesses_GetCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - additionalInformation
                - customerEmailAddress
                - customerId
                - customerLocation
                - customerName
                - customerNotes
                - customerPhone
                - duration
                - end
                - invoiceAmount
                - invoiceDate
                - invoiceId
                - invoiceStatus
                - invoiceUrl
                - isLocationOnline
                - onlineMeetingUrl
                - optOutOfCustomerEmail
                - postBuffer
                - preBuffer
                - price
                - priceType
                - reminders
                - selfServiceAppointmentId
                - serviceId
                - serviceLocation
                - serviceName
                - serviceNotes
                - staffMemberIds
                - start
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Update the navigation property calendarView in bookingBusinesses
      operationId: bookingBusinesses_UpdateCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Delete navigation property calendarView for bookingBusinesses
      operationId: bookingBusinesses_DeleteCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}/microsoft.graph.cancel':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action cancel
      operationId: bookingBusinesses.calendarView_cancel
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/customers':
    get:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Get customers from bookingBusinesses
      operationId: bookingBusinesses_ListCustomers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - emailAddress
                - emailAddress desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - emailAddress
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of bookingCustomer
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Create new navigation property to customers for bookingBusinesses
      operationId: bookingBusinesses_CreateCustomers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customers/{bookingCustomer-id}':
    get:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Get customers from bookingBusinesses
      operationId: bookingBusinesses_GetCustomers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomer-id
          in: path
          description: 'key: id of bookingCustomer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - emailAddress
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Update the navigation property customers in bookingBusinesses
      operationId: bookingBusinesses_UpdateCustomers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomer-id
          in: path
          description: 'key: id of bookingCustomer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Delete navigation property customers for bookingBusinesses
      operationId: bookingBusinesses_DeleteCustomers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomer-id
          in: path
          description: 'key: id of bookingCustomer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomer
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.publish':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action publish
      operationId: bookingBusinesses_publish
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.unpublish':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action unpublish
      operationId: bookingBusinesses_unpublish
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/services':
    get:
      tags:
        - bookingBusinesses.bookingService
      summary: Get services from bookingBusinesses
      operationId: bookingBusinesses_ListServices
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - additionalInformation
                - additionalInformation desc
                - defaultDuration
                - defaultDuration desc
                - defaultLocation
                - defaultLocation desc
                - defaultPrice
                - defaultPrice desc
                - defaultPriceType
                - defaultPriceType desc
                - defaultReminders
                - defaultReminders desc
                - description
                - description desc
                - isHiddenFromCustomers
                - isHiddenFromCustomers desc
                - isLocationOnline
                - isLocationOnline desc
                - notes
                - notes desc
                - postBuffer
                - postBuffer desc
                - preBuffer
                - preBuffer desc
                - schedulingPolicy
                - schedulingPolicy desc
                - staffMemberIds
                - staffMemberIds desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - additionalInformation
                - defaultDuration
                - defaultLocation
                - defaultPrice
                - defaultPriceType
                - defaultReminders
                - description
                - isHiddenFromCustomers
                - isLocationOnline
                - notes
                - postBuffer
                - preBuffer
                - schedulingPolicy
                - staffMemberIds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of bookingService
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.bookingService'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingService
      summary: Create new navigation property to services for bookingBusinesses
      operationId: bookingBusinesses_CreateServices
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/services/{bookingService-id}':
    get:
      tags:
        - bookingBusinesses.bookingService
      summary: Get services from bookingBusinesses
      operationId: bookingBusinesses_GetServices
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: 'key: id of bookingService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingService
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - additionalInformation
                - defaultDuration
                - defaultLocation
                - defaultPrice
                - defaultPriceType
                - defaultReminders
                - description
                - isHiddenFromCustomers
                - isLocationOnline
                - notes
                - postBuffer
                - preBuffer
                - schedulingPolicy
                - staffMemberIds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingService
      summary: Update the navigation property services in bookingBusinesses
      operationId: bookingBusinesses_UpdateServices
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: 'key: id of bookingService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingService
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingService
      summary: Delete navigation property services for bookingBusinesses
      operationId: bookingBusinesses_DeleteServices
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: 'key: id of bookingService'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingService
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/staffMembers':
    get:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Get staffMembers from bookingBusinesses
      operationId: bookingBusinesses_ListStaffMembers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - emailAddress
                - emailAddress desc
                - availabilityIsAffectedByPersonalCalendar
                - availabilityIsAffectedByPersonalCalendar desc
                - colorIndex
                - colorIndex desc
                - role
                - role desc
                - useBusinessHours
                - useBusinessHours desc
                - workingHours
                - workingHours desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - emailAddress
                - availabilityIsAffectedByPersonalCalendar
                - colorIndex
                - role
                - useBusinessHours
                - workingHours
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of bookingStaffMember
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Create new navigation property to staffMembers for bookingBusinesses
      operationId: bookingBusinesses_CreateStaffMembers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/staffMembers/{bookingStaffMember-id}':
    get:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Get staffMembers from bookingBusinesses
      operationId: bookingBusinesses_GetStaffMembers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMember-id
          in: path
          description: 'key: id of bookingStaffMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMember
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - emailAddress
                - availabilityIsAffectedByPersonalCalendar
                - colorIndex
                - role
                - useBusinessHours
                - workingHours
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Update the navigation property staffMembers in bookingBusinesses
      operationId: bookingBusinesses_UpdateStaffMembers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMember-id
          in: path
          description: 'key: id of bookingStaffMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMember
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Delete navigation property staffMembers for bookingBusinesses
      operationId: bookingBusinesses_DeleteStaffMembers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMember-id
          in: path
          description: 'key: id of bookingStaffMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMember
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /bookingCurrencies:
    get:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Get entities from bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency_ListBookingCurrency
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - symbol
                - symbol desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - symbol
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of bookingCurrency
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Add new entity to bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency_CreateBookingCurrency
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingCurrencies/{bookingCurrency-id}':
    get:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Get entity from bookingCurrencies by key
      operationId: bookingCurrencies.bookingCurrency_GetBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: 'key: id of bookingCurrency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - symbol
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Update entity in bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency_UpdateBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: 'key: id of bookingCurrency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Delete entity from bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency_DeleteBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: 'key: id of bookingCurrency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.bookingBusiness:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.bookingNamedEntity'
        - title: bookingBusiness
          type: object
          properties:
            address:
              $ref: '#/components/schemas/microsoft.graph.physicalAddress'
            businessHours:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.bookingWorkHours'
              description: The hours of operation for the business.
            businessType:
              type: string
              description: The type of business.
              nullable: true
            defaultCurrencyIso:
              type: string
              description: The code for the currency that the business operates in on Microsoft Bookings.
              nullable: true
            email:
              type: string
              description: The email address for the business.
              nullable: true
            isPublished:
              type: boolean
              description: The scheduling page has been made available to external customers. Use the publish and unpublish actions to set this property. Read-only.
              nullable: true
            phone:
              type: string
              description: 'The telephone number for the business. The phone property, together with address and webSiteUrl, appear in the footer of a business scheduling page.'
              nullable: true
            publicUrl:
              type: string
              description: 'The URL for the scheduling page, which is set after you publish or unpublish the page. Read-only.'
              nullable: true
            schedulingPolicy:
              $ref: '#/components/schemas/microsoft.graph.bookingSchedulingPolicy'
            webSiteUrl:
              type: string
              description: 'The URL of the business web site. The webSiteUrl property, together with address, phone, appear in the footer of a business scheduling page.'
              nullable: true
            appointments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
              description: All the appointments of this business. Read-only. Nullable.
            calendarView:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
              description: The set of appointments of this business in a specified date range. Read-only. Nullable.
            customers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
              description: All the customers of this business. Read-only. Nullable.
            services:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
              description: All the services offered by this business. Read-only. Nullable.
            staffMembers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
              description: All the staff members that provide services in this business. Read-only. Nullable.
          additionalProperties:
            type: object
          description: Represents a Microsot Bookings Business.
    microsoft.graph.bookingAppointment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: bookingAppointment
          type: object
          properties:
            additionalInformation:
              type: string
              nullable: true
            customerEmailAddress:
              type: string
              description: The SMTP address of the bookingCustomer who is booking the appointment.
              nullable: true
            customerId:
              type: string
              description: 'The ID of the bookingCustomer for this appointment. If no ID is specified when an appointment is created, then a new bookingCustomer object is created. Once set, you should consider the customerId immutable.'
              nullable: true
            customerLocation:
              $ref: '#/components/schemas/microsoft.graph.location'
            customerName:
              type: string
              description: The customer's name.
              nullable: true
            customerNotes:
              type: string
              description: 'Notes from the customer associated with this appointment. You can get the value only when reading this bookingAppointment by its ID.  You can set this property only when initially creating an appointment with a new customer. After that point, the value is computed from the customer represented by customerId.'
              nullable: true
            customerPhone:
              type: string
              description: The customer's phone number.
              nullable: true
            duration:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              description: 'The length of the appointment, denoted in ISO8601 format.'
              format: duration
            end:
              $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
            invoiceAmount:
              type: number
              description: The billed amount on the invoice.
              format: double
            invoiceDate:
              $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
            invoiceId:
              type: string
              description: The ID of the invoice.
              nullable: true
            invoiceStatus:
              $ref: '#/components/schemas/microsoft.graph.bookingInvoiceStatus'
            invoiceUrl:
              type: string
              description: The URL of the invoice in Microsoft Bookings.
              nullable: true
            isLocationOnline:
              type: boolean
            onlineMeetingUrl:
              type: string
              nullable: true
            optOutOfCustomerEmail:
              type: boolean
              description: True indicates that the bookingCustomer for this appointment does not wish to receive a confirmation for this appointment.
            postBuffer:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              description: 'The amount of time to reserve after the appointment ends, for cleaning up, as an example. The value is expressed in ISO8601 format.'
              format: duration
            preBuffer:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              description: 'The amount of time to reserve before the appointment begins, for preparation, as an example. The value is expressed in ISO8601 format.'
              format: duration
            price:
              type: number
              description: The regular price for an appointment for the specified bookingService.
              format: double
            priceType:
              $ref: '#/components/schemas/microsoft.graph.bookingPriceType'
            reminders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.bookingReminder'
              description: The collection of customer reminders sent for this appointment. The value of this property is available only when reading this bookingAppointment by its ID.
            selfServiceAppointmentId:
              type: string
              description: 'An additional tracking ID for the appointment, if the appointment has been created directly by the customer on the scheduling page, as opposed to by a staff member on the behalf of the customer.'
              nullable: true
            serviceId:
              type: string
              description: The ID of the bookingService associated with this appointment.
              nullable: true
            serviceLocation:
              $ref: '#/components/schemas/microsoft.graph.location'
            serviceName:
              type: string
              description: 'The name of the bookingService associated with this appointment.This property is optional when creating a new appointment. If not specified, it is computed from the service associated with the appointment by the serviceId property.'
            serviceNotes:
              type: string
              description: Notes from a bookingStaffMember. The value of this property is available only when reading this bookingAppointment by its ID.
              nullable: true
            staffMemberIds:
              type: array
              items:
                type: string
                nullable: true
              description: The ID of each bookingStaffMember who is scheduled in this appointment.
            start:
              $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
          additionalProperties:
            type: object
          description: Represents a booked appointment of a service by a customer in a business.
    microsoft.graph.bookingCustomer:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.bookingPerson'
        - title: bookingCustomer
          type: object
          additionalProperties:
            type: object
          description: Represents a customer of the business.
    microsoft.graph.bookingService:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.bookingNamedEntity'
        - title: bookingService
          type: object
          properties:
            additionalInformation:
              type: string
              nullable: true
            defaultDuration:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              description: 'The default length of the service, represented in numbers of days, hours, minutes, and seconds. For example, P11D23H59M59.999999999999S.'
              format: duration
            defaultLocation:
              $ref: '#/components/schemas/microsoft.graph.location'
            defaultPrice:
              type: number
              description: The default monetary price for the service.
              format: double
            defaultPriceType:
              $ref: '#/components/schemas/microsoft.graph.bookingPriceType'
            defaultReminders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.bookingReminder'
              description: The default set of reminders for an appointment of this service. The value of this property is available only when reading this bookingService by its ID.
            description:
              type: string
              description: A text description for the service.
              nullable: true
            isHiddenFromCustomers:
              type: boolean
              description: True means this service is not available to customers for booking.
            isLocationOnline:
              type: boolean
            notes:
              type: string
              description: Additional information about this service.
              nullable: true
            postBuffer:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              description: 'The time to buffer after an appointment for this service ends, and before the next customer appointment can be booked.'
              format: duration
            preBuffer:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              description: The time to buffer before an appointment for this service can start.
              format: duration
            schedulingPolicy:
              $ref: '#/components/schemas/microsoft.graph.bookingSchedulingPolicy'
            staffMemberIds:
              type: array
              items:
                type: string
                nullable: true
              description: Represents those staff members who provide this service.
          additionalProperties:
            type: object
          description: Represents a particular service offered by a booking business.
    microsoft.graph.bookingStaffMember:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.bookingPerson'
        - title: bookingStaffMember
          type: object
          properties:
            availabilityIsAffectedByPersonalCalendar:
              type: boolean
              description: 'True means that if the staff member is a Microsoft 365 user, the Bookings API would verify the staff member''s availability in their personal calendar in Microsoft 365, before making a booking.'
            colorIndex:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: Identifies a color to represent the staff member. The color corresponds to the color palette in the Staff details page in the Bookings app.
              format: int32
              nullable: true
            role:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffRole'
            useBusinessHours:
              type: boolean
              description: True means the staff member's availability is as specified in the businessHours property of the business. False means the availability is determined by the staff member's workingHours property setting.
            workingHours:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.bookingWorkHours'
              description: 'The range of hours each day of the week that the staff member is available for booking. By default, they are initialized to be the same as the businessHours property of the business.'
          additionalProperties:
            type: object
          description: Represents a staff member who provides services in a business.
    microsoft.graph.bookingCurrency:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: bookingCurrency
          type: object
          properties:
            symbol:
              type: string
              description: 'The currency symbol. For example, the currency symbol for the US dollar and for the Australian dollar is $.'
          additionalProperties:
            type: object
    microsoft.graph.bookingNamedEntity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: bookingNamedEntity
          type: object
          properties:
            displayName:
              type: string
              description: 'A name for the derived entity, which interfaces with customers.'
          additionalProperties:
            type: object
          description: Booking entities that provide a display name.
    microsoft.graph.physicalAddress:
      title: physicalAddress
      type: object
      properties:
        city:
          type: string
          description: The city.
          nullable: true
        countryOrRegion:
          type: string
          description: 'The country or region. It''s a free-format string value, for example, ''United States''.'
          nullable: true
        postalCode:
          type: string
          description: The postal code.
          nullable: true
        postOfficeBox:
          type: string
          description: The post office box number.
          nullable: true
        state:
          type: string
          description: The state.
          nullable: true
        street:
          type: string
          description: The street.
          nullable: true
        type:
          $ref: '#/components/schemas/microsoft.graph.physicalAddressType'
      additionalProperties:
        type: object
    microsoft.graph.bookingWorkHours:
      title: bookingWorkHours
      type: object
      properties:
        day:
          $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
        timeSlots:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.bookingWorkTimeSlot'
          description: A list of start/end times during a day.
      additionalProperties:
        type: object
      description: This type represents the set of working hours in a single day of the week.
    microsoft.graph.bookingSchedulingPolicy:
      title: bookingSchedulingPolicy
      type: object
      properties:
        allowStaffSelection:
          type: boolean
          description: True if to allow customers to choose a specific person for the booking.
        maximumAdvance:
          pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
          type: string
          description: Maximum number of days in advance that a booking can be made. It follows the ISO 8601 format.
          format: duration
        minimumLeadTime:
          pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
          type: string
          description: The minimum amount of time before which bookings and cancellations must be made. It follows the ISO 8601 format.
          format: duration
        sendConfirmationsToOwner:
          type: boolean
          description: True to notify the business via email when a booking is created or changed. Use the email address specified in the email property of the bookingBusiness entity for the business.
        timeSlotInterval:
          pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
          type: string
          description: 'Duration of each time slot, denoted in ISO 8601 format.'
          format: duration
      additionalProperties:
        type: object
      description: This type represents the set of policies that dictate how bookings can be created in a Booking Calendar.
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.location:
      title: location
      type: object
      properties:
        address:
          $ref: '#/components/schemas/microsoft.graph.physicalAddress'
        coordinates:
          $ref: '#/components/schemas/microsoft.graph.outlookGeoCoordinates'
        displayName:
          type: string
          description: The name associated with the location.
          nullable: true
        locationEmailAddress:
          type: string
          description: Optional email address of the location.
          nullable: true
        locationType:
          $ref: '#/components/schemas/microsoft.graph.locationType'
        locationUri:
          type: string
          description: Optional URI representing the location.
          nullable: true
        uniqueId:
          type: string
          description: For internal use only.
          nullable: true
        uniqueIdType:
          $ref: '#/components/schemas/microsoft.graph.locationUniqueIdType'
      additionalProperties:
        type: object
    microsoft.graph.dateTimeTimeZone:
      title: dateTimeTimeZone
      type: object
      properties:
        dateTime:
          type: string
          description: 'A single point of time in a combined date and time representation ({date}T{time}). For example, ''2019-04-16T09:00:00''.'
        timeZone:
          type: string
          description: 'Represents a time zone, for example, ''Pacific Standard Time''. See below for possible values.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.bookingInvoiceStatus:
      title: bookingInvoiceStatus
      enum:
        - draft
        - reviewing
        - open
        - canceled
        - paid
        - corrective
      type: string
    microsoft.graph.bookingPriceType:
      title: bookingPriceType
      enum:
        - undefined
        - fixedPrice
        - startingAt
        - hourly
        - free
        - priceVaries
        - callUs
        - notSet
      type: string
    microsoft.graph.bookingReminder:
      title: bookingReminder
      type: object
      properties:
        message:
          type: string
          description: The message in the reminder.
        offset:
          pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
          type: string
          description: The amount of time before the start of an appointment that the reminder should be sent. It's denoted in ISO 8601 format.
          format: duration
        recipients:
          $ref: '#/components/schemas/microsoft.graph.bookingReminderRecipients'
      additionalProperties:
        type: object
      description: This type represents when and to whom to send an e-mail reminder.
    microsoft.graph.bookingPerson:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.bookingNamedEntity'
        - title: bookingPerson
          type: object
          properties:
            emailAddress:
              type: string
              description: The email address of the person.
              nullable: true
          additionalProperties:
            type: object
          description: Represents a booking customer or staff member.
    microsoft.graph.bookingStaffRole:
      title: bookingStaffRole
      enum:
        - guest
        - administrator
        - viewer
        - externalGuest
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.physicalAddressType:
      title: physicalAddressType
      enum:
        - unknown
        - home
        - business
        - other
      type: string
    microsoft.graph.dayOfWeek:
      title: dayOfWeek
      enum:
        - sunday
        - monday
        - tuesday
        - wednesday
        - thursday
        - friday
        - saturday
      type: string
    microsoft.graph.bookingWorkTimeSlot:
      title: bookingWorkTimeSlot
      type: object
      properties:
        end:
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$'
          type: string
          description: 'The time of the day that work starts. For example, 08:00:00.0000000.'
          format: time
        start:
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$'
          type: string
          description: 'The time of the day that work stops. For example, 17:00:00.0000000.'
          format: time
      additionalProperties:
        type: object
    microsoft.graph.outlookGeoCoordinates:
      title: outlookGeoCoordinates
      type: object
      properties:
        accuracy:
          type: number
          description: 'The accuracy of the latitude and longitude. As an example, the accuracy can be measured in meters, such as the latitude and longitude are accurate to within 50 meters.'
          format: double
          nullable: true
        altitude:
          type: number
          description: The altitude of the location.
          format: double
          nullable: true
        altitudeAccuracy:
          type: number
          description: The accuracy of the altitude.
          format: double
          nullable: true
        latitude:
          type: number
          description: The latitude of the location.
          format: double
          nullable: true
        longitude:
          type: number
          description: The longitude of the location.
          format: double
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.locationType:
      title: locationType
      enum:
        - default
        - conferenceRoom
        - homeAddress
        - businessAddress
        - geoCoordinates
        - streetAddress
        - hotel
        - restaurant
        - localBusiness
        - postalAddress
      type: string
    microsoft.graph.locationUniqueIdType:
      title: locationUniqueIdType
      enum:
        - unknown
        - locationStore
        - directory
        - private
        - bing
      type: string
    microsoft.graph.bookingReminderRecipients:
      title: bookingReminderRecipients
      enum:
        - allAttendees
        - staff
        - customer
      type: string
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]