openapi: 3.0.1
info:
  title: Bookings
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /bookingBusinesses:
    get:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: List bookingBusinesses
      description: 'Get a collection of bookingBusiness objects that has been created for the tenant. This operation returns only the **id** and **displayName** of each Microsoft Bookings business in the collection. For performance considerations, it does not return other properties. You can get the other properties of a Bookings business by specifying its **id** in a GET operation. You can also query for Bookings businesses by specifying a string in a `query` parameter to do substring matching among the businesses of a tenant. See an example below.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-list?view=graph-rest-1.0
      operationId: bookingBusinesses.bookingBusiness_ListBookingBusiness
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - address
                - address desc
                - businessHours
                - businessHours desc
                - businessType
                - businessType desc
                - defaultCurrencyIso
                - defaultCurrencyIso desc
                - email
                - email desc
                - isPublished
                - isPublished desc
                - languageTag
                - languageTag desc
                - phone
                - phone desc
                - publicUrl
                - publicUrl desc
                - schedulingPolicy
                - schedulingPolicy desc
                - webSiteUrl
                - webSiteUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - address
                - businessHours
                - businessType
                - defaultCurrencyIso
                - email
                - isPublished
                - languageTag
                - phone
                - publicUrl
                - schedulingPolicy
                - webSiteUrl
                - appointments
                - calendarView
                - customers
                - customQuestions
                - services
                - staffMembers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appointments
                - calendarView
                - customers
                - customQuestions
                - services
                - staffMembers
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingBusinessCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Create bookingBusiness
      description: 'Create a new Microsoft Bookings business in a tenant. This is the first step in setting up a Bookings business where you must specify the business display name. You can include other information such as business address, web site address, and scheduling policy, or set that information later by updating the **bookingBusiness**.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-post-bookingbusinesses?view=graph-rest-1.0
      operationId: bookingBusinesses.bookingBusiness_CreateBookingBusiness
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}':
    get:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Get bookingBusiness
      description: Get the properties and relationships of a bookingBusiness object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-get?view=graph-rest-1.0
      operationId: bookingBusinesses.bookingBusiness_GetBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - address
                - businessHours
                - businessType
                - defaultCurrencyIso
                - email
                - isPublished
                - languageTag
                - phone
                - publicUrl
                - schedulingPolicy
                - webSiteUrl
                - appointments
                - calendarView
                - customers
                - customQuestions
                - services
                - staffMembers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appointments
                - calendarView
                - customers
                - customQuestions
                - services
                - staffMembers
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Update bookingbusiness
      description: Update the properties of a bookingBusiness object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-update?view=graph-rest-1.0
      operationId: bookingBusinesses.bookingBusiness_UpdateBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Delete bookingBusiness
      description: Delete a bookingBusiness object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-delete?view=graph-rest-1.0
      operationId: bookingBusinesses.bookingBusiness_DeleteBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: List appointments
      description: Get a list of bookingAppointment objects for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-list-appointments?view=graph-rest-1.0
      operationId: bookingBusinesses_ListAppointments
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - additionalInformation
                - additionalInformation desc
                - anonymousJoinWebUrl
                - anonymousJoinWebUrl desc
                - customerEmailAddress
                - customerEmailAddress desc
                - customerId
                - customerId desc
                - customerLocation
                - customerLocation desc
                - customerName
                - customerName desc
                - customerNotes
                - customerNotes desc
                - customerPhone
                - customerPhone desc
                - customers
                - customers desc
                - customerTimeZone
                - customerTimeZone desc
                - duration
                - duration desc
                - end
                - end desc
                - filledAttendeesCount
                - filledAttendeesCount desc
                - invoiceAmount
                - invoiceAmount desc
                - invoiceDate
                - invoiceDate desc
                - invoiceId
                - invoiceId desc
                - invoiceStatus
                - invoiceStatus desc
                - invoiceUrl
                - invoiceUrl desc
                - isLocationOnline
                - isLocationOnline desc
                - joinWebUrl
                - joinWebUrl desc
                - maximumAttendeesCount
                - maximumAttendeesCount desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - optOutOfCustomerEmail
                - optOutOfCustomerEmail desc
                - postBuffer
                - postBuffer desc
                - preBuffer
                - preBuffer desc
                - price
                - price desc
                - priceType
                - priceType desc
                - reminders
                - reminders desc
                - selfServiceAppointmentId
                - selfServiceAppointmentId desc
                - serviceId
                - serviceId desc
                - serviceLocation
                - serviceLocation desc
                - serviceName
                - serviceName desc
                - serviceNotes
                - serviceNotes desc
                - smsNotificationsEnabled
                - smsNotificationsEnabled desc
                - staffMemberIds
                - staffMemberIds desc
                - start
                - start desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - additionalInformation
                - anonymousJoinWebUrl
                - customerEmailAddress
                - customerId
                - customerLocation
                - customerName
                - customerNotes
                - customerPhone
                - customers
                - customerTimeZone
                - duration
                - end
                - filledAttendeesCount
                - invoiceAmount
                - invoiceDate
                - invoiceId
                - invoiceStatus
                - invoiceUrl
                - isLocationOnline
                - joinWebUrl
                - maximumAttendeesCount
                - onlineMeetingUrl
                - optOutOfCustomerEmail
                - postBuffer
                - preBuffer
                - price
                - priceType
                - reminders
                - selfServiceAppointmentId
                - serviceId
                - serviceLocation
                - serviceName
                - serviceNotes
                - smsNotificationsEnabled
                - staffMemberIds
                - start
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Create bookingAppointment
      description: Create a new bookingAppointment for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-post-appointments?view=graph-rest-1.0
      operationId: bookingBusinesses_CreateAppointments
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get appointments from bookingBusinesses
      description: All the appointments of this business. Read-only. Nullable.
      operationId: bookingBusinesses_GetAppointments
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - additionalInformation
                - anonymousJoinWebUrl
                - customerEmailAddress
                - customerId
                - customerLocation
                - customerName
                - customerNotes
                - customerPhone
                - customers
                - customerTimeZone
                - duration
                - end
                - filledAttendeesCount
                - invoiceAmount
                - invoiceDate
                - invoiceId
                - invoiceStatus
                - invoiceUrl
                - isLocationOnline
                - joinWebUrl
                - maximumAttendeesCount
                - onlineMeetingUrl
                - optOutOfCustomerEmail
                - postBuffer
                - preBuffer
                - price
                - priceType
                - reminders
                - selfServiceAppointmentId
                - serviceId
                - serviceLocation
                - serviceName
                - serviceNotes
                - smsNotificationsEnabled
                - staffMemberIds
                - start
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Update the navigation property appointments in bookingBusinesses
      operationId: bookingBusinesses_UpdateAppointments
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Delete navigation property appointments for bookingBusinesses
      operationId: bookingBusinesses_DeleteAppointments
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}/microsoft.graph.cancel':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action cancel
      description: 'Cancel the specified bookingAppointment in the specified bookingBusiness, and send a message to the involved customer and staff members.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-1.0
      operationId: bookingBusinesses.appointments_cancel
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/calendarView':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get calendarView from bookingBusinesses
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-list-calendarview?view=graph-rest-1.0
      operationId: bookingBusinesses_ListCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - additionalInformation
                - additionalInformation desc
                - anonymousJoinWebUrl
                - anonymousJoinWebUrl desc
                - customerEmailAddress
                - customerEmailAddress desc
                - customerId
                - customerId desc
                - customerLocation
                - customerLocation desc
                - customerName
                - customerName desc
                - customerNotes
                - customerNotes desc
                - customerPhone
                - customerPhone desc
                - customers
                - customers desc
                - customerTimeZone
                - customerTimeZone desc
                - duration
                - duration desc
                - end
                - end desc
                - filledAttendeesCount
                - filledAttendeesCount desc
                - invoiceAmount
                - invoiceAmount desc
                - invoiceDate
                - invoiceDate desc
                - invoiceId
                - invoiceId desc
                - invoiceStatus
                - invoiceStatus desc
                - invoiceUrl
                - invoiceUrl desc
                - isLocationOnline
                - isLocationOnline desc
                - joinWebUrl
                - joinWebUrl desc
                - maximumAttendeesCount
                - maximumAttendeesCount desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - optOutOfCustomerEmail
                - optOutOfCustomerEmail desc
                - postBuffer
                - postBuffer desc
                - preBuffer
                - preBuffer desc
                - price
                - price desc
                - priceType
                - priceType desc
                - reminders
                - reminders desc
                - selfServiceAppointmentId
                - selfServiceAppointmentId desc
                - serviceId
                - serviceId desc
                - serviceLocation
                - serviceLocation desc
                - serviceName
                - serviceName desc
                - serviceNotes
                - serviceNotes desc
                - smsNotificationsEnabled
                - smsNotificationsEnabled desc
                - staffMemberIds
                - staffMemberIds desc
                - start
                - start desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - additionalInformation
                - anonymousJoinWebUrl
                - customerEmailAddress
                - customerId
                - customerLocation
                - customerName
                - customerNotes
                - customerPhone
                - customers
                - customerTimeZone
                - duration
                - end
                - filledAttendeesCount
                - invoiceAmount
                - invoiceDate
                - invoiceId
                - invoiceStatus
                - invoiceUrl
                - isLocationOnline
                - joinWebUrl
                - maximumAttendeesCount
                - onlineMeetingUrl
                - optOutOfCustomerEmail
                - postBuffer
                - preBuffer
                - price
                - priceType
                - reminders
                - selfServiceAppointmentId
                - serviceId
                - serviceLocation
                - serviceName
                - serviceNotes
                - smsNotificationsEnabled
                - staffMemberIds
                - start
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Create new navigation property to calendarView for bookingBusinesses
      operationId: bookingBusinesses_CreateCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get calendarView from bookingBusinesses
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      operationId: bookingBusinesses_GetCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - additionalInformation
                - anonymousJoinWebUrl
                - customerEmailAddress
                - customerId
                - customerLocation
                - customerName
                - customerNotes
                - customerPhone
                - customers
                - customerTimeZone
                - duration
                - end
                - filledAttendeesCount
                - invoiceAmount
                - invoiceDate
                - invoiceId
                - invoiceStatus
                - invoiceUrl
                - isLocationOnline
                - joinWebUrl
                - maximumAttendeesCount
                - onlineMeetingUrl
                - optOutOfCustomerEmail
                - postBuffer
                - preBuffer
                - price
                - priceType
                - reminders
                - selfServiceAppointmentId
                - serviceId
                - serviceLocation
                - serviceName
                - serviceNotes
                - smsNotificationsEnabled
                - staffMemberIds
                - start
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Update the navigation property calendarView in bookingBusinesses
      operationId: bookingBusinesses_UpdateCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Delete navigation property calendarView for bookingBusinesses
      operationId: bookingBusinesses_DeleteCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}/microsoft.graph.cancel':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action cancel
      description: 'Cancel the specified bookingAppointment in the specified bookingBusiness, and send a message to the involved customer and staff members.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-1.0
      operationId: bookingBusinesses.calendarView_cancel
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: 'key: id of bookingAppointment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/customers':
    get:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: List customers
      description: Get a list of bookingCustomer objects.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-list-customers?view=graph-rest-1.0
      operationId: bookingBusinesses_ListCustomers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - emailAddress
                - emailAddress desc
                - addresses
                - addresses desc
                - phones
                - phones desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - emailAddress
                - addresses
                - phones
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCustomerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Create bookingCustomer
      description: Create a new bookingCustomer object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-post-customers?view=graph-rest-1.0
      operationId: bookingBusinesses_CreateCustomers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customers/{bookingCustomer-id}':
    get:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Get customers from bookingBusinesses
      description: All the customers of this business. Read-only. Nullable.
      operationId: bookingBusinesses_GetCustomers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomer-id
          in: path
          description: 'key: id of bookingCustomer'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - emailAddress
                - addresses
                - phones
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Update the navigation property customers in bookingBusinesses
      operationId: bookingBusinesses_UpdateCustomers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomer-id
          in: path
          description: 'key: id of bookingCustomer'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Delete navigation property customers for bookingBusinesses
      operationId: bookingBusinesses_DeleteCustomers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomer-id
          in: path
          description: 'key: id of bookingCustomer'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomer
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customQuestions':
    get:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: List customQuestions
      description: Get the bookingCustomQuestion resources associated with a bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-list-customquestions?view=graph-rest-1.0
      operationId: bookingBusinesses_ListCustomQuestions
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - answerInputType
                - answerInputType desc
                - answerOptions
                - answerOptions desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - answerInputType
                - answerOptions
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCustomQuestionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Create new navigation property to customQuestions for bookingBusinesses
      operationId: bookingBusinesses_CreateCustomQuestions
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customQuestions/{bookingCustomQuestion-id}':
    get:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Get customQuestions from bookingBusinesses
      description: All the custom questions of this business. Read-only. Nullable.
      operationId: bookingBusinesses_GetCustomQuestions
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomQuestion-id
          in: path
          description: 'key: id of bookingCustomQuestion'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomQuestion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - answerInputType
                - answerOptions
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Update the navigation property customQuestions in bookingBusinesses
      operationId: bookingBusinesses_UpdateCustomQuestions
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomQuestion-id
          in: path
          description: 'key: id of bookingCustomQuestion'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomQuestion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Delete navigation property customQuestions for bookingBusinesses
      operationId: bookingBusinesses_DeleteCustomQuestions
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomQuestion-id
          in: path
          description: 'key: id of bookingCustomQuestion'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomQuestion
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.getStaffAvailability':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action getStaffAvailability
      description: Get the availability information of staff members of a Microsoft Bookings calendar.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-getstaffavailability?view=graph-rest-1.0
      operationId: bookingBusinesses_getStaffAvailability
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                staffIds:
                  type: array
                  items:
                    type: string
                startDateTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                endDateTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.staffAvailabilityItem'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.publish':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action publish
      description: 'Make the scheduling page of this business available to external customers. Set the **isPublished** property to true, and **publicUrl** property to the URL of the scheduling page.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-publish?view=graph-rest-1.0
      operationId: bookingBusinesses_publish
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.unpublish':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action unpublish
      description: 'Make the scheduling page of this business not available to external customers. Set the **isPublished** property to false, and **publicUrl** property to null.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-unpublish?view=graph-rest-1.0
      operationId: bookingBusinesses_unpublish
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/services':
    get:
      tags:
        - bookingBusinesses.bookingService
      summary: List services
      description: Get a list of bookingService objects in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-list-services?view=graph-rest-1.0
      operationId: bookingBusinesses_ListServices
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - additionalInformation
                - additionalInformation desc
                - customQuestions
                - customQuestions desc
                - defaultDuration
                - defaultDuration desc
                - defaultLocation
                - defaultLocation desc
                - defaultPrice
                - defaultPrice desc
                - defaultPriceType
                - defaultPriceType desc
                - defaultReminders
                - defaultReminders desc
                - description
                - description desc
                - isAnonymousJoinEnabled
                - isAnonymousJoinEnabled desc
                - isHiddenFromCustomers
                - isHiddenFromCustomers desc
                - isLocationOnline
                - isLocationOnline desc
                - languageTag
                - languageTag desc
                - maximumAttendeesCount
                - maximumAttendeesCount desc
                - notes
                - notes desc
                - postBuffer
                - postBuffer desc
                - preBuffer
                - preBuffer desc
                - schedulingPolicy
                - schedulingPolicy desc
                - smsNotificationsEnabled
                - smsNotificationsEnabled desc
                - staffMemberIds
                - staffMemberIds desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - additionalInformation
                - customQuestions
                - defaultDuration
                - defaultLocation
                - defaultPrice
                - defaultPriceType
                - defaultReminders
                - description
                - isAnonymousJoinEnabled
                - isHiddenFromCustomers
                - isLocationOnline
                - languageTag
                - maximumAttendeesCount
                - notes
                - postBuffer
                - preBuffer
                - schedulingPolicy
                - smsNotificationsEnabled
                - staffMemberIds
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingServiceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingService
      summary: Create bookingService
      description: Create a new bookingService for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-post-services?view=graph-rest-1.0
      operationId: bookingBusinesses_CreateServices
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/services/{bookingService-id}':
    get:
      tags:
        - bookingBusinesses.bookingService
      summary: Get services from bookingBusinesses
      description: All the services offered by this business. Read-only. Nullable.
      operationId: bookingBusinesses_GetServices
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: 'key: id of bookingService'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingService
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - additionalInformation
                - customQuestions
                - defaultDuration
                - defaultLocation
                - defaultPrice
                - defaultPriceType
                - defaultReminders
                - description
                - isAnonymousJoinEnabled
                - isHiddenFromCustomers
                - isLocationOnline
                - languageTag
                - maximumAttendeesCount
                - notes
                - postBuffer
                - preBuffer
                - schedulingPolicy
                - smsNotificationsEnabled
                - staffMemberIds
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingService
      summary: Update the navigation property services in bookingBusinesses
      operationId: bookingBusinesses_UpdateServices
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: 'key: id of bookingService'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingService
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingService
      summary: Delete navigation property services for bookingBusinesses
      operationId: bookingBusinesses_DeleteServices
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: 'key: id of bookingService'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingService
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/staffMembers':
    get:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: List staffMembers
      description: Get a list of bookingStaffMember objects in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-list-staffmembers?view=graph-rest-1.0
      operationId: bookingBusinesses_ListStaffMembers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - emailAddress
                - emailAddress desc
                - availabilityIsAffectedByPersonalCalendar
                - availabilityIsAffectedByPersonalCalendar desc
                - colorIndex
                - colorIndex desc
                - isEmailNotificationEnabled
                - isEmailNotificationEnabled desc
                - role
                - role desc
                - timeZone
                - timeZone desc
                - useBusinessHours
                - useBusinessHours desc
                - workingHours
                - workingHours desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - emailAddress
                - availabilityIsAffectedByPersonalCalendar
                - colorIndex
                - isEmailNotificationEnabled
                - role
                - timeZone
                - useBusinessHours
                - workingHours
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingStaffMemberCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Create bookingStaffMember
      description: Create a new staff member in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingbusiness-post-staffmembers?view=graph-rest-1.0
      operationId: bookingBusinesses_CreateStaffMembers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/staffMembers/{bookingStaffMember-id}':
    get:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Get staffMembers from bookingBusinesses
      description: All the staff members that provide services in this business. Read-only. Nullable.
      operationId: bookingBusinesses_GetStaffMembers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMember-id
          in: path
          description: 'key: id of bookingStaffMember'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMember
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - emailAddress
                - availabilityIsAffectedByPersonalCalendar
                - colorIndex
                - isEmailNotificationEnabled
                - role
                - timeZone
                - useBusinessHours
                - workingHours
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Update the navigation property staffMembers in bookingBusinesses
      operationId: bookingBusinesses_UpdateStaffMembers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMember-id
          in: path
          description: 'key: id of bookingStaffMember'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMember
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Delete navigation property staffMembers for bookingBusinesses
      operationId: bookingBusinesses_DeleteStaffMembers
      parameters:
        - name: bookingBusiness-id
          in: path
          description: 'key: id of bookingBusiness'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMember-id
          in: path
          description: 'key: id of bookingStaffMember'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMember
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /bookingCurrencies:
    get:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: List bookingCurrencies
      description: Get a list of bookingCurrency objects available to a Microsoft Bookings business.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingcurrency-list?view=graph-rest-1.0
      operationId: bookingCurrencies.bookingCurrency_ListBookingCurrency
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - symbol
                - symbol desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - symbol
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCurrencyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Add new entity to bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency_CreateBookingCurrency
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingCurrencies/{bookingCurrency-id}':
    get:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Get bookingCurrency
      description: 'Get the properties of a bookingCurrency object that is available to a Microsoft Bookings business. Use the **id** property, which is the currency code, to specify the currency.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/bookingcurrency-get?view=graph-rest-1.0
      operationId: bookingCurrencies.bookingCurrency_GetBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: 'key: id of bookingCurrency'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - symbol
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Update entity in bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency_UpdateBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: 'key: id of bookingCurrency'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Delete entity from bookingCurrencies
      operationId: bookingCurrencies.bookingCurrency_DeleteBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: 'key: id of bookingCurrency'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions:
    get:
      tags:
        - solutions.solutionsRoot
      summary: Get solutions
      operationId: solutions.solutionsRoot_GetSolutionsRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - businessScenarios
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - businessScenarios
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.solutionsRoot
      summary: Update solutions
      operationId: solutions.solutionsRoot_UpdateSolutionsRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/businessScenarios:
    get:
      tags:
        - solutions.businessScenario
      summary: Get businessScenarios from solutions
      operationId: solutions_ListBusinessScenarios
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - ownerAppIds
                - ownerAppIds desc
                - uniqueName
                - uniqueName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - ownerAppIds
                - uniqueName
                - planner
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - planner
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.businessScenarioCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.businessScenario
      summary: Create new navigation property to businessScenarios for solutions
      operationId: solutions_CreateBusinessScenarios
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessScenario'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenario'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}':
    get:
      tags:
        - solutions.businessScenario
      summary: Get businessScenarios from solutions
      operationId: solutions_GetBusinessScenarios
      parameters:
        - name: businessScenario-id
          in: path
          description: 'key: id of businessScenario'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: businessScenario
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - ownerAppIds
                - uniqueName
                - planner
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - planner
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenario'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update the navigation property businessScenarios in solutions
      operationId: solutions_UpdateBusinessScenarios
      parameters:
        - name: businessScenario-id
          in: path
          description: 'key: id of businessScenario'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: businessScenario
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessScenario'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenario'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property businessScenarios for solutions
      operationId: solutions_DeleteBusinessScenarios
      parameters:
        - name: businessScenario-id
          in: path
          description: 'key: id of businessScenario'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: businessScenario
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner':
    get:
      tags:
        - solutions.businessScenario
      summary: Get planner from solutions
      operationId: solutions.businessScenarios_GetPlanner
      parameters:
        - name: businessScenario-id
          in: path
          description: 'key: id of businessScenario'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: businessScenario
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - planConfiguration
                - taskConfiguration
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - planConfiguration
                - taskConfiguration
                - tasks
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenarioPlanner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update the navigation property planner in solutions
      operationId: solutions.businessScenarios_UpdatePlanner
      parameters:
        - name: businessScenario-id
          in: path
          description: 'key: id of businessScenario'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: businessScenario
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessScenarioPlanner'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenarioPlanner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.businessScenario
      summary: Delete navigation property planner for solutions
      operationId: solutions.businessScenarios_DeletePlanner
      parameters:
        - name: businessScenario-id
          in: path
          description: 'key: id of businessScenario'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: businessScenario
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/businessScenarios/{businessScenario-id}/planner/microsoft.graph.getPlan':
    post:
      tags:
        - solutions.Actions
      summary: Invoke action getPlan
      operationId: solutions.businessScenarios.planner_getPlan
      parameters:
        - name: businessScenario-id
          in: path
          description: 'key: id of businessScenario'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: businessScenario
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  $ref: '#/components/schemas/microsoft.graph.businessScenarioTaskTargetBase'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessScenarioPlanReference'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/solutions/businessScenarios/{businessScenario-id}/planner/planConfiguration':
    get:
      tags:
        - solutions.businessScenario
      summary: Get planConfiguration from solutions
      operationId: solutions.businessScenarios.planner_GetPlanConfiguration
      parameters:
        - name: businessScenario-id
          in: path
          description: 'key: id of businessScenario'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: businessScenario
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - buckets
                - createdBy
                - createdDateTime
                - defaultLanguage
                - lastModifiedBy
                - lastModifiedDateTime
                - localizations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - localizations
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.businessScenario
      summary: Update the navigation property planConfiguration in solutions
      operationId: solutions.businessScenarios.planner_UpdatePlanConfiguration
      parameters:
        - name: businessScenario-id
          in: path
          description: 'key: id of businessScenario'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: businessScenario
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanConfiguration'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
[...]
