openapi: 3.0.1
info:
  title: Bookings
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /bookingBusinesses:
    get:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Get entities from bookingBusinesses
      operationId: bookingBusiness_ListBookingBusiness
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingBusinessCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Add new entity to bookingBusinesses
      operationId: bookingBusiness_CreateBookingBusiness
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}':
    get:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Get entity from bookingBusinesses by key
      description: Represents a Microsoft Bookings Business.
      operationId: bookingBusiness_GetBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Update entity in bookingBusinesses
      operationId: bookingBusiness_UpdateBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Delete entity from bookingBusinesses
      operationId: bookingBusiness_DeleteBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: List appointments
      description: Get a list of bookingAppointment objects for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-appointments?view=graph-rest-1.0
      operationId: bookingBusiness_ListAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Create bookingAppointment
      description: Create a new bookingAppointment for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-appointments?view=graph-rest-1.0
      operationId: bookingBusiness_CreateAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get bookingAppointment
      description: Get the properties and relationships of a bookingAppointment object in the specified bookingBusiness. The start and end properties are always returned in UTC.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-get?view=graph-rest-1.0
      operationId: bookingBusiness_GetAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Update bookingAppointment
      description: Update the properties of a bookingAppointment object in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-update?view=graph-rest-1.0
      operationId: bookingBusiness_UpdateAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Delete bookingAppointment
      description: Delete a bookingAppointment in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-delete?view=graph-rest-1.0
      operationId: bookingBusiness_DeleteAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}/microsoft.graph.cancel':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action cancel
      description: 'Cancel the specified bookingAppointment in the specified bookingBusiness, and send a message to the involved customer and staff members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-1.0
      operationId: bookingBusiness.appointment_cancel
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/appointments/$count':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get the number of the resource
      operationId: bookingBusiness.appointment_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/bookingBusinesses/{bookingBusiness-id}/calendarView':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get calendarView from bookingBusinesses
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-calendarview?view=graph-rest-1.0
      operationId: bookingBusiness_ListCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Create new navigation property to calendarView for bookingBusinesses
      operationId: bookingBusiness_CreateCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get calendarView from bookingBusinesses
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      operationId: bookingBusiness_GetCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Update the navigation property calendarView in bookingBusinesses
      operationId: bookingBusiness_UpdateCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Delete navigation property calendarView for bookingBusinesses
      operationId: bookingBusiness_DeleteCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}/microsoft.graph.cancel':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action cancel
      description: 'Cancel the specified bookingAppointment in the specified bookingBusiness, and send a message to the involved customer and staff members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-1.0
      operationId: bookingBusiness.calendarView_cancel
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/calendarView/$count':
    get:
      tags:
        - bookingBusinesses.bookingAppointment
      summary: Get the number of the resource
      operationId: bookingBusiness.calendarView_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/bookingBusinesses/{bookingBusiness-id}/customers':
    get:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: List customers
      description: Get a list of bookingCustomer objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-customers?view=graph-rest-1.0
      operationId: bookingBusiness_ListCustomer
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCustomerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Create bookingCustomer
      description: Create a new bookingCustomer object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-customers?view=graph-rest-1.0
      operationId: bookingBusiness_CreateCustomer
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customers/{bookingCustomer-id}':
    get:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Get bookingCustomer
      description: Get the properties and relationships of a bookingCustomer object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomer-get?view=graph-rest-1.0
      operationId: bookingBusiness_GetCustomer
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomer-id
          in: path
          description: The unique identifier of bookingCustomer
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Update bookingCustomer
      description: Update the properties of a bookingCustomer object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomer-update?view=graph-rest-1.0
      operationId: bookingBusiness_UpdateCustomer
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomer-id
          in: path
          description: The unique identifier of bookingCustomer
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Delete bookingCustomer
      description: Delete the specified bookingCustomer object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomer-delete?view=graph-rest-1.0
      operationId: bookingBusiness_DeleteCustomer
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomer-id
          in: path
          description: The unique identifier of bookingCustomer
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomer
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customers/$count':
    get:
      tags:
        - bookingBusinesses.bookingCustomer
      summary: Get the number of the resource
      operationId: bookingBusiness.customer_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/bookingBusinesses/{bookingBusiness-id}/customQuestions':
    get:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: List customQuestions
      description: Get the bookingCustomQuestion resources associated with a bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-customquestions?view=graph-rest-1.0
      operationId: bookingBusiness_ListCustomQuestion
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCustomQuestionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Create bookingCustomQuestion
      description: Create a new bookingCustomQuestion object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-customquestions?view=graph-rest-1.0
      operationId: bookingBusiness_CreateCustomQuestion
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customQuestions/{bookingCustomQuestion-id}':
    get:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Get bookingCustomQuestion
      description: Read the properties and relationships of a bookingCustomQuestion object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomquestion-get?view=graph-rest-1.0
      operationId: bookingBusiness_GetCustomQuestion
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomQuestion-id
          in: path
          description: The unique identifier of bookingCustomQuestion
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomQuestion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Update bookingCustomQuestion
      description: Update the properties of a bookingCustomQuestion object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomquestion-update?view=graph-rest-1.0
      operationId: bookingBusiness_UpdateCustomQuestion
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomQuestion-id
          in: path
          description: The unique identifier of bookingCustomQuestion
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomQuestion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Delete bookingCustomQuestion
      description: Delete the specified bookingCustomQuestion object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomquestion-delete?view=graph-rest-1.0
      operationId: bookingBusiness_DeleteCustomQuestion
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomQuestion-id
          in: path
          description: The unique identifier of bookingCustomQuestion
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomQuestion
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/customQuestions/$count':
    get:
      tags:
        - bookingBusinesses.bookingCustomQuestion
      summary: Get the number of the resource
      operationId: bookingBusiness.customQuestion_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.getStaffAvailability':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action getStaffAvailability
      description: Get the availability information of staff members of a Microsoft Bookings calendar.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-getstaffavailability?view=graph-rest-1.0
      operationId: bookingBusiness_getStaffAvailability
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                staffIds:
                  type: array
                  items:
                    type: string
                startDateTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                endDateTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.staffAvailabilityItem'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.publish':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action publish
      description: 'Make the scheduling page of this business available to external customers. Set the isPublished property to true, and publicUrl property to the URL of the scheduling page.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-publish?view=graph-rest-1.0
      operationId: bookingBusiness_publish
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.unpublish':
    post:
      tags:
        - bookingBusinesses.Actions
      summary: Invoke action unpublish
      description: 'Make the scheduling page of this business not available to external customers. Set the isPublished property to false, and publicUrl property to null.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-unpublish?view=graph-rest-1.0
      operationId: bookingBusiness_unpublish
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/bookingBusinesses/{bookingBusiness-id}/services':
    get:
      tags:
        - bookingBusinesses.bookingService
      summary: List services
      description: Get a list of bookingService objects in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-services?view=graph-rest-1.0
      operationId: bookingBusiness_ListService
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingServiceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingService
      summary: Create bookingService
      description: Create a new bookingService for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-services?view=graph-rest-1.0
      operationId: bookingBusiness_CreateService
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/services/{bookingService-id}':
    get:
      tags:
        - bookingBusinesses.bookingService
      summary: Get bookingService
      description: Get the properties and relationships of a bookingService object in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingservice-get?view=graph-rest-1.0
      operationId: bookingBusiness_GetService
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: The unique identifier of bookingService
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingService
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingService
      summary: Update bookingservice
      description: "Update the properties of a bookingService object in the specified bookingBusiness. The following are some examples you can customize for a service:\n- Price\n- Typical length of an appointment\n- Reminders\n- Any, time buffer to set up before or finish up after the service\n- Scheduling policy parameters such as minimum notice to book or cancel, and whether customers can select specific staff members for an appointment."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingservice-update?view=graph-rest-1.0
      operationId: bookingBusiness_UpdateService
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: The unique identifier of bookingService
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingService
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingService
      summary: Delete bookingService
      description: Delete a bookingService object in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingservice-delete?view=graph-rest-1.0
      operationId: bookingBusiness_DeleteService
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: The unique identifier of bookingService
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingService
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/services/$count':
    get:
      tags:
        - bookingBusinesses.bookingService
      summary: Get the number of the resource
      operationId: bookingBusiness.service_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/bookingBusinesses/{bookingBusiness-id}/staffMembers':
    get:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: List staffMembers
      description: Get a list of bookingStaffMember objects in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-staffmembers?view=graph-rest-1.0
      operationId: bookingBusiness_ListStaffMember
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingStaffMemberCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Create bookingStaffMember
      description: Create a new staff member in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-staffmembers?view=graph-rest-1.0
      operationId: bookingBusiness_CreateStaffMember
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/staffMembers/{bookingStaffMember-id}':
    get:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Get bookingStaffMember
      description: Get the properties and relationships of a bookingStaffMember in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingstaffmember-get?view=graph-rest-1.0
      operationId: bookingBusiness_GetStaffMember
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMember-id
          in: path
          description: The unique identifier of bookingStaffMember
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMember
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Update bookingstaffmember
      description: Update the properties of a bookingStaffMember in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingstaffmember-update?view=graph-rest-1.0
      operationId: bookingBusiness_UpdateStaffMember
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMember-id
          in: path
          description: The unique identifier of bookingStaffMember
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMember
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Delete bookingStaffMember
      description: Delete a staff member in the specified bookingbusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingstaffmember-delete?view=graph-rest-1.0
      operationId: bookingBusiness_DeleteStaffMember
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMember-id
          in: path
          description: The unique identifier of bookingStaffMember
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMember
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingBusinesses/{bookingBusiness-id}/staffMembers/$count':
    get:
      tags:
        - bookingBusinesses.bookingStaffMember
      summary: Get the number of the resource
      operationId: bookingBusiness.staffMember_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /bookingBusinesses/$count:
    get:
      tags:
        - bookingBusinesses.bookingBusiness
      summary: Get the number of the resource
      operationId: bookingBusiness_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /bookingCurrencies:
    get:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Get entities from bookingCurrencies
      operationId: bookingCurrency_ListBookingCurrency
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCurrencyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Add new entity to bookingCurrencies
      operationId: bookingCurrency_CreateBookingCurrency
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/bookingCurrencies/{bookingCurrency-id}':
    get:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Get entity from bookingCurrencies by key
      operationId: bookingCurrency_GetBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: The unique identifier of bookingCurrency
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Update entity in bookingCurrencies
      operationId: bookingCurrency_UpdateBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: The unique identifier of bookingCurrency
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Delete entity from bookingCurrencies
      operationId: bookingCurrency_DeleteBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: The unique identifier of bookingCurrency
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /bookingCurrencies/$count:
    get:
      tags:
        - bookingCurrencies.bookingCurrency
      summary: Get the number of the resource
      operationId: bookingCurrency_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions:
    get:
      tags:
        - solutions.solutionsRoot
      summary: Get solutions
      operationId: solution.solutionsRoot_GetSolutionsRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.solutionsRoot
      summary: Update solutions
      operationId: solution.solutionsRoot_UpdateSolutionsRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/bookingBusinesses:
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingBusinesses from solutions
      operationId: solution_ListBookingBusiness
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingBusinessCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create new navigation property to bookingBusinesses for solutions
      operationId: solution_CreateBookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingBusinesses from solutions
      operationId: solution_GetBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update the navigation property bookingBusinesses in solutions
      operationId: solution_UpdateBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete bookingBusiness
      description: Delete a bookingBusiness object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-delete?view=graph-rest-1.0
      operationId: solution_DeleteBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments':
    get:
      tags:
        - solutions.bookingBusiness
      summary: List appointments
      description: Get a list of bookingAppointment objects for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-appointments?view=graph-rest-1.0
      operationId: solution.bookingBusiness_ListAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create bookingAppointment
      description: Create a new bookingAppointment for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-appointments?view=graph-rest-1.0
      operationId: solution.bookingBusiness_CreateAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingAppointment
      description: Get the properties and relationships of a bookingAppointment object in the specified bookingBusiness. The start and end properties are always returned in UTC.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-get?view=graph-rest-1.0
      operationId: solution.bookingBusiness_GetAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update bookingAppointment
      description: Update the properties of a bookingAppointment object in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-update?view=graph-rest-1.0
      operationId: solution.bookingBusiness_UpdateAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete bookingAppointment
      description: Delete a bookingAppointment in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-delete?view=graph-rest-1.0
      operationId: solution.bookingBusiness_DeleteAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}/microsoft.graph.cancel':
    post:
      tags:
        - solutions.Actions
      summary: Invoke action cancel
      description: 'Cancel the specified bookingAppointment in the specified bookingBusiness, and send a message to the involved customer and staff members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-1.0
      operationId: solution.bookingBusiness.appointment_cancel
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solution.bookingBusiness.appointment_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get calendarView from solutions
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-calendarview?view=graph-rest-1.0
      operationId: solution.bookingBusiness_ListCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create new navigation property to calendarView for solutions
      operationId: solution.bookingBusiness_CreateCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get calendarView from solutions
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      operationId: solution.bookingBusiness_GetCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update the navigation property calendarView in solutions
      operationId: solution.bookingBusiness_UpdateCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete navigation property calendarView for solutions
      operationId: solution.bookingBusiness_DeleteCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}/microsoft.graph.cancel':
    post:
      tags:
        - solutions.Actions
      summary: Invoke action cancel
      description: 'Cancel the specified bookingAppointment in the specified bookingBusiness, and send a message to the involved customer and staff members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-1.0
      operationId: solution.bookingBusiness.calendarView_cancel
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
[...]
