openapi: 3.0.1
info:
  title: Calendar
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/groups/{group-id}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The group's calendar. Read-only.
      operationId: group_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedOnlineMeetingProviders
                - calendarGroupId
                - canEdit
                - canShare
                - canViewPrivateItems
                - changeKey
                - color
                - defaultOnlineMeetingProvider
                - hexColor
                - isDefaultCalendar
                - isRemovable
                - isShared
                - isSharedWithMe
                - isTallyingResponses
                - name
                - owner
                - calendarPermissions
                - calendarView
                - events
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarPermissions':
    get:
      tags:
        - groups.calendar
      summary: Get calendarPermissions from groups
      description: The permissions of the users with whom the calendar is shared.
      operationId: group.calendar_ListCalendarPermissions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedRoles
                - allowedRoles desc
                - emailAddress
                - emailAddress desc
                - isInsideOrganization
                - isInsideOrganization desc
                - isRemovable
                - isRemovable desc
                - role
                - role desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedRoles
                - emailAddress
                - isInsideOrganization
                - isRemovable
                - role
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.calendarPermissionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create calendarPermission
      description: Create a calendarPermission resource to specify the identity and role of the user with whom the specified calendar is being shared or delegated.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/calendar-post-calendarpermissions?view=graph-rest-1.0
      operationId: group.calendar_CreateCalendarPermissions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarPermissions/{calendarPermission-id}':
    get:
      tags:
        - groups.calendar
      summary: Get calendarPermissions from groups
      description: The permissions of the users with whom the calendar is shared.
      operationId: group.calendar_GetCalendarPermissions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: calendarPermission-id
          in: path
          description: The unique identifier of calendarPermission
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedRoles
                - emailAddress
                - isInsideOrganization
                - isRemovable
                - role
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property calendarPermissions in groups
      operationId: group.calendar_UpdateCalendarPermissions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: calendarPermission-id
          in: path
          description: The unique identifier of calendarPermission
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property calendarPermissions for groups
      operationId: group.calendar_DeleteCalendarPermissions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: calendarPermission-id
          in: path
          description: The unique identifier of calendarPermission
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView':
    get:
      tags:
        - groups.calendar
      summary: Get calendarView from groups
      description: The calendar view for the calendar. Navigation property. Read-only.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/calendar-list-calendarview?view=graph-rest-1.0
      operationId: group.calendar_ListCalendarView
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
                - attendees
                - attendees desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - cancelledOccurrences
                - cancelledOccurrences desc
                - end
                - end desc
                - hasAttachments
                - hasAttachments desc
                - hideAttendees
                - hideAttendees desc
                - importance
                - importance desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isDraft
                - isDraft desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - isOrganizer
                - isOrganizer desc
                - isReminderOn
                - isReminderOn desc
                - location
                - location desc
                - locations
                - locations desc
                - occurrenceId
                - occurrenceId desc
                - onlineMeeting
                - onlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - organizer
                - organizer desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - originalStart
                - originalStart desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - recurrence
                - recurrence desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - responseRequested
                - responseRequested desc
                - responseStatus
                - responseStatus desc
                - sensitivity
                - sensitivity desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - start
                - start desc
                - subject
                - subject desc
                - transactionId
                - transactionId desc
                - type
                - type desc
                - uid
                - uid desc
                - webLink
                - webLink desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - allowNewTimeProposals
                - attendees
                - body
                - bodyPreview
                - cancelledOccurrences
                - end
                - hasAttachments
                - hideAttendees
                - importance
                - isAllDay
                - isCancelled
                - isDraft
                - isOnlineMeeting
                - isOrganizer
                - isReminderOn
                - location
                - locations
                - occurrenceId
                - onlineMeeting
                - onlineMeetingProvider
                - onlineMeetingUrl
                - organizer
                - originalEndTimeZone
                - originalStart
                - originalStartTimeZone
                - recurrence
                - reminderMinutesBeforeStart
                - responseRequested
                - responseStatus
                - sensitivity
                - seriesMasterId
                - showAs
                - start
                - subject
                - transactionId
                - type
                - uid
                - webLink
                - attachments
                - calendar
                - exceptionOccurrences
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}':
    get:
      tags:
        - groups.calendar
      summary: Get calendarView from groups
      description: The calendar view for the calendar. Navigation property. Read-only.
      operationId: group.calendar_GetCalendarView
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - allowNewTimeProposals
                - attendees
                - body
                - bodyPreview
                - cancelledOccurrences
                - end
                - hasAttachments
                - hideAttendees
                - importance
                - isAllDay
                - isCancelled
                - isDraft
                - isOnlineMeeting
                - isOrganizer
                - isReminderOn
                - location
                - locations
                - occurrenceId
                - onlineMeeting
                - onlineMeetingProvider
                - onlineMeetingUrl
                - organizer
                - originalEndTimeZone
                - originalStart
                - originalStartTimeZone
                - recurrence
                - reminderMinutesBeforeStart
                - responseRequested
                - responseStatus
                - sensitivity
                - seriesMasterId
                - showAs
                - start
                - subject
                - transactionId
                - type
                - uid
                - webLink
                - attachments
                - calendar
                - exceptionOccurrences
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/attachments':
    get:
      tags:
        - groups.calendar
      summary: List attachments
      description: Retrieve a list of attachment objects attached to an event.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/event-list-attachments?view=graph-rest-1.0
      operationId: group.calendar.calendarView_ListAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentType
                - contentType desc
                - isInline
                - isInline desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - size
                - size desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Add attachment
      description: "Use this API to create a new Attachment. An attachment can be one of the following types: All these types of attachment resources are derived from the attachment\nresource. "
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/eventmessage-post-attachments?view=graph-rest-1.0
      operationId: group.calendar.calendarView_CreateAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/attachments/{attachment-id}':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.calendarView_GetAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property attachments for groups
      operationId: group.calendar.calendarView_DeleteAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The calendar that contains the event. Navigation property. Read-only.
      operationId: group.calendar.calendarView_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedOnlineMeetingProviders
                - calendarGroupId
                - canEdit
                - canShare
                - canViewPrivateItems
                - changeKey
                - color
                - defaultOnlineMeetingProvider
                - hexColor
                - isDefaultCalendar
                - isRemovable
                - isShared
                - isSharedWithMe
                - isTallyingResponses
                - name
                - owner
                - calendarPermissions
                - calendarView
                - events
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences':
    get:
      tags:
        - groups.calendar
      summary: Get exceptionOccurrences from groups
      operationId: group.calendar.calendarView_ListExceptionOccurrences
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
                - attendees
                - attendees desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - cancelledOccurrences
                - cancelledOccurrences desc
                - end
                - end desc
                - hasAttachments
                - hasAttachments desc
                - hideAttendees
                - hideAttendees desc
                - importance
                - importance desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isDraft
                - isDraft desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - isOrganizer
                - isOrganizer desc
                - isReminderOn
                - isReminderOn desc
                - location
                - location desc
                - locations
                - locations desc
                - occurrenceId
                - occurrenceId desc
                - onlineMeeting
                - onlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - organizer
                - organizer desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - originalStart
                - originalStart desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - recurrence
                - recurrence desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - responseRequested
                - responseRequested desc
                - responseStatus
                - responseStatus desc
                - sensitivity
                - sensitivity desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - start
                - start desc
                - subject
                - subject desc
                - transactionId
                - transactionId desc
                - type
                - type desc
                - uid
                - uid desc
                - webLink
                - webLink desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - allowNewTimeProposals
                - attendees
                - body
                - bodyPreview
                - cancelledOccurrences
                - end
                - hasAttachments
                - hideAttendees
                - importance
                - isAllDay
                - isCancelled
                - isDraft
                - isOnlineMeeting
                - isOrganizer
                - isReminderOn
                - location
                - locations
                - occurrenceId
                - onlineMeeting
                - onlineMeetingProvider
                - onlineMeetingUrl
                - organizer
                - originalEndTimeZone
                - originalStart
                - originalStartTimeZone
                - recurrence
                - reminderMinutesBeforeStart
                - responseRequested
                - responseStatus
                - sensitivity
                - seriesMasterId
                - showAs
                - start
                - subject
                - transactionId
                - type
                - uid
                - webLink
                - attachments
                - calendar
                - exceptionOccurrences
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - calendar
                - exceptionOccurrences
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}':
    get:
      tags:
        - groups.calendar
      summary: Get exceptionOccurrences from groups
      operationId: group.calendar.calendarView_GetExceptionOccurrences
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - allowNewTimeProposals
                - attendees
                - body
                - bodyPreview
                - cancelledOccurrences
                - end
                - hasAttachments
                - hideAttendees
                - importance
                - isAllDay
                - isCancelled
                - isDraft
                - isOnlineMeeting
                - isOrganizer
                - isReminderOn
                - location
                - locations
                - occurrenceId
                - onlineMeeting
                - onlineMeetingProvider
                - onlineMeetingUrl
                - organizer
                - originalEndTimeZone
                - originalStart
                - originalStartTimeZone
                - recurrence
                - reminderMinutesBeforeStart
                - responseRequested
                - responseStatus
                - sensitivity
                - seriesMasterId
                - showAs
                - start
                - subject
                - transactionId
                - type
                - uid
                - webLink
                - attachments
                - calendar
                - exceptionOccurrences
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - calendar
                - exceptionOccurrences
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/attachments':
    get:
      tags:
        - groups.calendar
      summary: List attachments
      description: Retrieve a list of attachment objects attached to an event.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/event-list-attachments?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_ListAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentType
                - contentType desc
                - isInline
                - isInline desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - size
                - size desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Add attachment
      description: "Use this API to create a new Attachment. An attachment can be one of the following types: All these types of attachment resources are derived from the attachment\nresource. "
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/eventmessage-post-attachments?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_CreateAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/attachments/{attachment-id}':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.calendarView.exceptionOccurrence_GetAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property attachments for groups
      operationId: group.calendar.calendarView.exceptionOccurrence_DeleteAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The calendar that contains the event. Navigation property. Read-only.
      operationId: group.calendar.calendarView.exceptionOccurrence_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedOnlineMeetingProviders
                - calendarGroupId
                - canEdit
                - canShare
                - canViewPrivateItems
                - changeKey
                - color
                - defaultOnlineMeetingProvider
                - hexColor
                - isDefaultCalendar
                - isRemovable
                - isShared
                - isSharedWithMe
                - isTallyingResponses
                - name
                - owner
                - calendarPermissions
                - calendarView
                - events
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/extensions':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.calendarView.exceptionOccurrence_ListExtensions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create openTypeExtension
      description: 'Create an open extension (openTypeExtension object) and add custom properties in a new or existing instance of a resource. You can create an open extension in a resource instance and store custom data to it all in the same operation, except for specific resources. See known limitations of open extensions for more information. The table in the Permissions section lists the resources that support open extensions.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/opentypeextension-post-opentypeextension?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_CreateExtensions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/extensions/{extension-id}':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.calendarView.exceptionOccurrence_GetExtensions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property extensions in groups
      operationId: group.calendar.calendarView.exceptionOccurrence_UpdateExtensions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property extensions for groups
      operationId: group.calendar.calendarView.exceptionOccurrence_DeleteExtensions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances':
    get:
      tags:
        - groups.calendar
      summary: List instances
      description: "Get the instances (occurrences) of an event for a specified time range.  If the event is a `seriesMaster` type, this returns the\noccurrences and exceptions of the event in the specified time range."
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/event-list-instances?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_ListInstances
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
                - attendees
                - attendees desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - cancelledOccurrences
                - cancelledOccurrences desc
                - end
                - end desc
                - hasAttachments
                - hasAttachments desc
                - hideAttendees
                - hideAttendees desc
                - importance
                - importance desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isDraft
                - isDraft desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - isOrganizer
                - isOrganizer desc
                - isReminderOn
                - isReminderOn desc
                - location
                - location desc
                - locations
                - locations desc
                - occurrenceId
                - occurrenceId desc
                - onlineMeeting
                - onlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - organizer
                - organizer desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - originalStart
                - originalStart desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - recurrence
                - recurrence desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - responseRequested
                - responseRequested desc
                - responseStatus
                - responseStatus desc
                - sensitivity
                - sensitivity desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - start
                - start desc
                - subject
                - subject desc
                - transactionId
                - transactionId desc
                - type
                - type desc
                - uid
                - uid desc
                - webLink
                - webLink desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - allowNewTimeProposals
                - attendees
                - body
                - bodyPreview
                - cancelledOccurrences
                - end
                - hasAttachments
                - hideAttendees
                - importance
                - isAllDay
                - isCancelled
                - isDraft
                - isOnlineMeeting
                - isOrganizer
                - isReminderOn
                - location
                - locations
                - occurrenceId
                - onlineMeeting
                - onlineMeetingProvider
                - onlineMeetingUrl
                - organizer
                - originalEndTimeZone
                - originalStart
                - originalStartTimeZone
                - recurrence
                - reminderMinutesBeforeStart
                - responseRequested
                - responseStatus
                - sensitivity
                - seriesMasterId
                - showAs
                - start
                - subject
                - transactionId
                - type
                - uid
                - webLink
                - attachments
                - calendar
                - exceptionOccurrences
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}':
    get:
      tags:
        - groups.calendar
      summary: Get instances from groups
      description: 'The occurrences of a recurring series, if the event is a series master. This property includes occurrences that are part of the recurrence pattern, and exceptions that have been modified, but does not include occurrences that have been cancelled from the series. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.calendarView.exceptionOccurrence_GetInstances
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - allowNewTimeProposals
                - attendees
                - body
                - bodyPreview
                - cancelledOccurrences
                - end
                - hasAttachments
                - hideAttendees
                - importance
                - isAllDay
                - isCancelled
                - isDraft
                - isOnlineMeeting
                - isOrganizer
                - isReminderOn
                - location
                - locations
                - occurrenceId
                - onlineMeeting
                - onlineMeetingProvider
                - onlineMeetingUrl
                - organizer
                - originalEndTimeZone
                - originalStart
                - originalStartTimeZone
                - recurrence
                - reminderMinutesBeforeStart
                - responseRequested
                - responseStatus
                - sensitivity
                - seriesMasterId
                - showAs
                - start
                - subject
                - transactionId
                - type
                - uid
                - webLink
                - attachments
                - calendar
                - exceptionOccurrences
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/attachments':
    get:
      tags:
        - groups.calendar
      summary: List attachments
      description: Retrieve a list of attachment objects attached to an event.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/event-list-attachments?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_ListAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentType
                - contentType desc
                - isInline
                - isInline desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - size
                - size desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Add attachment
      description: "Use this API to create a new Attachment. An attachment can be one of the following types: All these types of attachment resources are derived from the attachment\nresource. "
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/eventmessage-post-attachments?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_CreateAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/attachments/{attachment-id}':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_GetAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property attachments for groups
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_DeleteAttachments
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The calendar that contains the event. Navigation property. Read-only.
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedOnlineMeetingProviders
                - calendarGroupId
                - canEdit
                - canShare
                - canViewPrivateItems
                - changeKey
                - color
                - defaultOnlineMeetingProvider
                - hexColor
                - isDefaultCalendar
                - isRemovable
                - isShared
                - isSharedWithMe
                - isTallyingResponses
                - name
                - owner
                - calendarPermissions
                - calendarView
                - events
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/extensions':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_ListExtensions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create openTypeExtension
      description: 'Create an open extension (openTypeExtension object) and add custom properties in a new or existing instance of a resource. You can create an open extension in a resource instance and store custom data to it all in the same operation, except for specific resources. See known limitations of open extensions for more information. The table in the Permissions section lists the resources that support open extensions.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/opentypeextension-post-opentypeextension?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_CreateExtensions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/extensions/{extension-id}':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_GetExtensions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property extensions in groups
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_UpdateExtensions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property extensions for groups
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_DeleteExtensions
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/multiValueExtendedProperties':
    get:
      tags:
        - groups.calendar
      summary: Get multiValueExtendedProperties from groups
      description: The collection of multi-value extended properties defined for the event. Read-only. Nullable.
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_ListMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.multiValueLegacyExtendedPropertyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to multiValueExtendedProperties for groups
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_CreateMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - groups.calendar
      summary: Get multiValueExtendedProperties from groups
      description: The collection of multi-value extended properties defined for the event. Read-only. Nullable.
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_GetMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
[...]
