openapi: 3.0.1
info:
  title: CloudCommunications
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /communications:
    get:
      tags:
        - communications.cloudCommunications
      summary: Get communications
      operationId: communications.cloudCommunications_GetCloudCommunications
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - calls
                - callRecords
                - onlineMeetings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - calls
                - callRecords
                - onlineMeetings
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.cloudCommunications
      summary: Update communications
      operationId: communications.cloudCommunications_UpdateCloudCommunications
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/callRecords:
    get:
      tags:
        - communications.callRecord
      summary: Get callRecords from communications
      operationId: communications_ListCallRecords
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - version
                - version desc
                - type
                - type desc
                - modalities
                - modalities desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - organizer
                - organizer desc
                - participants
                - participants desc
                - joinWebUrl
                - joinWebUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - version
                - type
                - modalities
                - lastModifiedDateTime
                - startDateTime
                - endDateTime
                - organizer
                - participants
                - joinWebUrl
                - sessions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sessions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of callRecord
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to callRecords for communications
      operationId: communications_CreateCallRecords
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get callRecords from communications
      operationId: communications_GetCallRecords
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: callRecord-id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - version
                - type
                - modalities
                - lastModifiedDateTime
                - startDateTime
                - endDateTime
                - organizer
                - participants
                - joinWebUrl
                - sessions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sessions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property callRecords in communications
      operationId: communications_UpdateCallRecords
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: callRecord-id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions':
    get:
      tags:
        - communications.callRecord
      summary: Get sessions from communications
      operationId: communications.callRecords_ListSessions
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: callRecord-id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - modalities
                - modalities desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - caller
                - caller desc
                - callee
                - callee desc
                - failureInfo
                - failureInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - modalities
                - startDateTime
                - endDateTime
                - caller
                - callee
                - failureInfo
                - segments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - segments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of session
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to sessions for communications
      operationId: communications.callRecords_CreateSessions
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: callRecord-id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get sessions from communications
      operationId: communications.callRecords_GetSessions
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: callRecord-id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: session-id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - modalities
                - startDateTime
                - endDateTime
                - caller
                - callee
                - failureInfo
                - segments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - segments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property sessions in communications
      operationId: communications.callRecords_UpdateSessions
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: callRecord-id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: session-id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      operationId: communications.callRecords.sessions_ListSegments
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: callRecord-id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: session-id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - caller
                - caller desc
                - callee
                - callee desc
                - failureInfo
                - failureInfo desc
                - media
                - media desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - startDateTime
                - endDateTime
                - caller
                - callee
                - failureInfo
                - media
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of segment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to segments for communications
      operationId: communications.callRecords.sessions_CreateSegments
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: callRecord-id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: session-id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments/{segment-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      operationId: communications.callRecords.sessions_GetSegments
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: callRecord-id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: session-id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: 'key: segment-id of segment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: segment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - startDateTime
                - endDateTime
                - caller
                - callee
                - failureInfo
                - media
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property segments in communications
      operationId: communications.callRecords.sessions_UpdateSegments
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: callRecord-id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: session-id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: 'key: segment-id of segment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: segment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls:
    get:
      tags:
        - communications.call
      summary: Get calls from communications
      operationId: communications_ListCalls
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - state
                - state desc
                - mediaState
                - mediaState desc
                - resultInfo
                - resultInfo desc
                - terminationReason
                - terminationReason desc
                - direction
                - direction desc
                - ringingTimeoutInSeconds
                - ringingTimeoutInSeconds desc
                - subject
                - subject desc
                - callbackUri
                - callbackUri desc
                - callRoutes
                - callRoutes desc
                - source
                - source desc
                - targets
                - targets desc
                - answeredBy
                - answeredBy desc
                - requestedModalities
                - requestedModalities desc
                - activeModalities
                - activeModalities desc
                - mediaConfig
                - mediaConfig desc
                - chatInfo
                - chatInfo desc
                - callOptions
                - callOptions desc
                - meetingInfo
                - meetingInfo desc
                - meetingCapability
                - meetingCapability desc
                - routingPolicies
                - routingPolicies desc
                - tenantId
                - tenantId desc
                - myParticipantId
                - myParticipantId desc
                - toneInfo
                - toneInfo desc
                - incomingContext
                - incomingContext desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - state
                - mediaState
                - resultInfo
                - terminationReason
                - direction
                - ringingTimeoutInSeconds
                - subject
                - callbackUri
                - callRoutes
                - source
                - targets
                - answeredBy
                - requestedModalities
                - activeModalities
                - mediaConfig
                - chatInfo
                - callOptions
                - meetingInfo
                - meetingCapability
                - routingPolicies
                - tenantId
                - myParticipantId
                - toneInfo
                - incomingContext
                - participants
                - audioRoutingGroups
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - participants
                - audioRoutingGroups
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of call
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to calls for communications
      operationId: communications_CreateCalls
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}':
    get:
      tags:
        - communications.call
      summary: Get calls from communications
      operationId: communications_GetCalls
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - state
                - mediaState
                - resultInfo
                - terminationReason
                - direction
                - ringingTimeoutInSeconds
                - subject
                - callbackUri
                - callRoutes
                - source
                - targets
                - answeredBy
                - requestedModalities
                - activeModalities
                - mediaConfig
                - chatInfo
                - callOptions
                - meetingInfo
                - meetingCapability
                - routingPolicies
                - tenantId
                - myParticipantId
                - toneInfo
                - incomingContext
                - participants
                - audioRoutingGroups
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - participants
                - audioRoutingGroups
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property calls in communications
      operationId: communications_UpdateCalls
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups':
    get:
      tags:
        - communications.call
      summary: Get audioRoutingGroups from communications
      operationId: communications.calls_ListAudioRoutingGroups
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - routingMode
                - routingMode desc
                - sources
                - sources desc
                - receivers
                - receivers desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - routingMode
                - sources
                - receivers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of audioRoutingGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to audioRoutingGroups for communications
      operationId: communications.calls_CreateAudioRoutingGroups
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups/{audioRoutingGroup-id}':
    get:
      tags:
        - communications.call
      summary: Get audioRoutingGroups from communications
      operationId: communications.calls_GetAudioRoutingGroups
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: 'key: audioRoutingGroup-id of audioRoutingGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - routingMode
                - sources
                - receivers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property audioRoutingGroups in communications
      operationId: communications.calls_UpdateAudioRoutingGroups
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: 'key: audioRoutingGroup-id of audioRoutingGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/microsoft.graph.answer':
    post:
      tags:
        - communications.Actions
      summary: Invoke action answer
      operationId: communications.calls_answer
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                callbackUri:
                  type: string
                mediaConfig:
                  $ref: '#/components/schemas/microsoft.graph.mediaConfig'
                acceptedModalities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.modality'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.cancelMediaProcessing':
    post:
      tags:
        - communications.Actions
      summary: Invoke action cancelMediaProcessing
      operationId: communications.calls_cancelMediaProcessing
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cancelMediaProcessingOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.changeScreenSharingRole':
    post:
      tags:
        - communications.Actions
      summary: Invoke action changeScreenSharingRole
      operationId: communications.calls_changeScreenSharingRole
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: '#/components/schemas/microsoft.graph.screenSharingRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.keepAlive':
    post:
      tags:
        - communications.Actions
      summary: Invoke action keepAlive
      operationId: communications.calls_keepAlive
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.mute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action mute
      operationId: communications.calls_mute
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.playPrompt':
    post:
      tags:
        - communications.Actions
      summary: Invoke action playPrompt
      operationId: communications.calls_playPrompt
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                loop:
                  type: boolean
                  default: false
                  nullable: true
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.playPromptOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.record':
    post:
      tags:
        - communications.Actions
      summary: Invoke action record
      operationId: communications.calls_record
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                bargeInAllowed:
                  type: boolean
                  default: false
                  nullable: true
                initialSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maxSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maxRecordDurationInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                playBeep:
                  type: boolean
                  default: false
                  nullable: true
                streamWhileRecording:
                  type: boolean
                  default: false
                  nullable: true
                stopTones:
                  type: array
                  items:
                    type: string
                    nullable: true
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.recordOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.recordResponse':
    post:
      tags:
        - communications.Actions
      summary: Invoke action recordResponse
      operationId: communications.calls_recordResponse
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                bargeInAllowed:
                  type: boolean
                  default: false
                  nullable: true
                initialSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maxSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maxRecordDurationInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                playBeep:
                  type: boolean
                  default: false
                  nullable: true
                streamWhileRecording:
                  type: boolean
                  default: false
                  nullable: true
                stopTones:
                  type: array
                  items:
                    type: string
                    nullable: true
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.recordOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.redirect':
    post:
      tags:
        - communications.Actions
      summary: Invoke action redirect
      operationId: communications.calls_redirect
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                targets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                targetDisposition:
                  $ref: '#/components/schemas/microsoft.graph.callDisposition'
                timeout:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maskCallee:
                  type: boolean
                  default: false
                  nullable: true
                maskCaller:
                  type: boolean
                  default: false
                  nullable: true
                callbackUri:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.reject':
    post:
      tags:
        - communications.Actions
      summary: Invoke action reject
      operationId: communications.calls_reject
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  $ref: '#/components/schemas/microsoft.graph.rejectReason'
                callbackUri:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.subscribeToTone':
    post:
      tags:
        - communications.Actions
      summary: Invoke action subscribeToTone
      operationId: communications.calls_subscribeToTone
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscribeToToneOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.transfer':
    post:
      tags:
        - communications.Actions
      summary: Invoke action transfer
      operationId: communications.calls_transfer
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                transferTarget:
                  $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.unmute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action unmute
      operationId: communications.calls_unmute
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unmuteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.updateRecordingStatus':
    post:
      tags:
        - communications.Actions
      summary: Invoke action updateRecordingStatus
      operationId: communications.calls_updateRecordingStatus
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/microsoft.graph.recordingStatus'
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.updateRecordingStatusOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/operations':
    get:
      tags:
        - communications.call
      summary: Get operations from communications
      operationId: communications.calls_ListOperations
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - status
                - status desc
                - clientContext
                - clientContext desc
                - resultInfo
                - resultInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - status
                - clientContext
                - resultInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of commsOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to operations for communications
      operationId: communications.calls_CreateOperations
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/operations/{commsOperation-id}':
    get:
      tags:
        - communications.call
      summary: Get operations from communications
      operationId: communications.calls_GetOperations
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: 'key: commsOperation-id of commsOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - status
                - clientContext
                - resultInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property operations in communications
      operationId: communications.calls_UpdateOperations
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: 'key: commsOperation-id of commsOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/participants':
    get:
      tags:
        - communications.call
      summary: Get participants from communications
      operationId: communications.calls_ListParticipants
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - info
                - info desc
                - recordingInfo
                - recordingInfo desc
                - mediaStreams
                - mediaStreams desc
                - metadata
                - metadata desc
                - isMuted
                - isMuted desc
                - isInLobby
                - isInLobby desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - info
                - recordingInfo
                - mediaStreams
                - metadata
                - isMuted
                - isInLobby
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of participant
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to participants for communications
      operationId: communications.calls_CreateParticipants
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.participant'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/participants/{participant-id}':
    get:
      tags:
        - communications.call
      summary: Get participants from communications
      operationId: communications.calls_GetParticipants
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: 'key: participant-id of participant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: participant
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - info
                - recordingInfo
                - mediaStreams
                - metadata
                - isMuted
                - isInLobby
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property participants in communications
      operationId: communications.calls_UpdateParticipants
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: 'key: participant-id of participant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.participant'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.mute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action mute
      operationId: communications.calls.participants_mute
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: 'key: participant-id of participant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/microsoft.graph.invite':
    post:
      tags:
        - communications.Actions
      summary: Invoke action invite
      operationId: communications.calls.participants_invite
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                participants:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inviteParticipantsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/microsoft.graph.muteAll':
    post:
      tags:
        - communications.Actions
      summary: Invoke action muteAll
      operationId: communications.calls.participants_muteAll
      parameters:
        - name: call-id
          in: path
          description: 'key: call-id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                participants:
                  type: array
                  items:
                    type: string
                    nullable: true
                clientContext:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.muteParticipantsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/microsoft.graph.getPresencesByUserId:
    post:
      tags:
        - communications.Actions
      summary: Invoke action getPresencesByUserId
      operationId: communications_getPresencesByUserId
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.presence'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/onlineMeetings:
    get:
      tags:
        - communications.onlineMeeting
      summary: Get onlineMeetings from communications
      operationId: communications_ListOnlineMeetings
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - creationDateTime
                - creationDateTime desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - canceledDateTime
                - canceledDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - entryExitAnnouncement
                - entryExitAnnouncement desc
                - joinUrl
                - joinUrl desc
                - subject
                - subject desc
                - isCancelled
                - isCancelled desc
                - participants
                - participants desc
                - isBroadcast
                - isBroadcast desc
                - accessLevel
                - accessLevel desc
                - capabilities
                - capabilities desc
                - audioConferencing
                - audioConferencing desc
                - chatInfo
                - chatInfo desc
                - videoTeleconferenceId
                - videoTeleconferenceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - creationDateTime
                - startDateTime
                - endDateTime
                - canceledDateTime
                - expirationDateTime
                - entryExitAnnouncement
                - joinUrl
                - subject
                - isCancelled
                - participants
                - isBroadcast
                - accessLevel
                - capabilities
                - audioConferencing
                - chatInfo
                - videoTeleconferenceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onlineMeeting
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.onlineMeeting
      summary: Create new navigation property to onlineMeetings for communications
      operationId: communications_CreateOnlineMeetings
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/onlineMeetings/{onlineMeeting-id}':
    get:
      tags:
        - communications.onlineMeeting
      summary: Get onlineMeetings from communications
      operationId: communications_GetOnlineMeetings
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: onlineMeeting-id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - creationDateTime
                - startDateTime
                - endDateTime
                - canceledDateTime
                - expirationDateTime
                - entryExitAnnouncement
                - joinUrl
                - subject
                - isCancelled
                - participants
                - isBroadcast
                - accessLevel
                - capabilities
                - audioConferencing
                - chatInfo
                - videoTeleconferenceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.onlineMeeting
      summary: Update the navigation property onlineMeetings in communications
      operationId: communications_UpdateOnlineMeetings
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: onlineMeeting-id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.cloudCommunications:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: cloudCommunications
          type: object
          properties:
            calls:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.call'
            callRecords:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
            onlineMeetings:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
      example:
        id: string (identifier)
        calls:
          - '@odata.type': microsoft.graph.call
        callRecords:
          - '@odata.type': microsoft.graph.callRecords.callRecord
        onlineMeetings:
          - '@odata.type': microsoft.graph.onlineMeeting
    microsoft.graph.callRecords.callRecord:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: callRecord
          type: object
          properties:
            version:
              type: integer
              format: int64
            type:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callType'
            modalities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.callRecords.modality'
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            endDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            organizer:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            participants:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.identitySet'
            joinWebUrl:
              type: string
              nullable: true
            sessions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
      example:
        id: string (identifier)
        version: integer
        type:
          '@odata.type': microsoft.graph.callRecords.callType
        modalities:
          - '@odata.type': microsoft.graph.callRecords.modality
        lastModifiedDateTime: string (timestamp)
        startDateTime: string (timestamp)
        endDateTime: string (timestamp)
        organizer:
          '@odata.type': microsoft.graph.identitySet
        participants:
          - '@odata.type': microsoft.graph.identitySet
        joinWebUrl: string
        sessions:
          - '@odata.type': microsoft.graph.callRecords.session
    microsoft.graph.callRecords.session:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: session
          type: object
          properties:
            modalities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.callRecords.modality'
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            endDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            caller:
              $ref: '#/components/schemas/microsoft.graph.callRecords.endpoint'
            callee:
              $ref: '#/components/schemas/microsoft.graph.callRecords.endpoint'
            failureInfo:
              $ref: '#/components/schemas/microsoft.graph.callRecords.failureInfo'
            segments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
      example:
        id: string (identifier)
        modalities:
          - '@odata.type': microsoft.graph.callRecords.modality
        startDateTime: string (timestamp)
        endDateTime: string (timestamp)
        caller:
          '@odata.type': microsoft.graph.callRecords.endpoint
        callee:
          '@odata.type': microsoft.graph.callRecords.endpoint
        failureInfo:
          '@odata.type': microsoft.graph.callRecords.failureInfo
        segments:
          - '@odata.type': microsoft.graph.callRecords.segment
    microsoft.graph.callRecords.segment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: segment
          type: object
          properties:
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            endDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            caller:
              $ref: '#/components/schemas/microsoft.graph.callRecords.endpoint'
            callee:
              $ref: '#/components/schemas/microsoft.graph.callRecords.endpoint'
            failureInfo:
              $ref: '#/components/schemas/microsoft.graph.callRecords.failureInfo'
            media:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.callRecords.media'
      example:
        id: string (identifier)
        startDateTime: string (timestamp)
        endDateTime: string (timestamp)
        caller:
          '@odata.type': microsoft.graph.callRecords.endpoint
        callee:
          '@odata.type': microsoft.graph.callRecords.endpoint
        failureInfo:
          '@odata.type': microsoft.graph.callRecords.failureInfo
        media:
          - '@odata.type': microsoft.graph.callRecords.media
    microsoft.graph.call:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: call
          type: object
          properties:
            state:
              $ref: '#/components/schemas/microsoft.graph.callState'
            mediaState:
              $ref: '#/components/schemas/microsoft.graph.callMediaState'
            resultInfo:
              $ref: '#/components/schemas/microsoft.graph.ResultInfo'
            terminationReason:
              type: string
              nullable: true
            direction:
              $ref: '#/components/schemas/microsoft.graph.callDirection'
            ringingTimeoutInSeconds:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            subject:
              type: string
              description: The subject of the conversation.
              nullable: true
            callbackUri:
              type: string
              description: The callback URL on which callbacks will be delivered. Must be https.
            callRoutes:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.callRoute'
            source:
              $ref: '#/components/schemas/microsoft.graph.participantInfo'
            targets:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
              description: The targets of the call. Required information for creating peer to peer call.
            answeredBy:
              $ref: '#/components/schemas/microsoft.graph.participantInfo'
            requestedModalities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.modality'
              description: The list of requested modalities.
            activeModalities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.modality'
            mediaConfig:
              $ref: '#/components/schemas/microsoft.graph.mediaConfig'
            chatInfo:
              $ref: '#/components/schemas/microsoft.graph.chatInfo'
            callOptions:
              $ref: '#/components/schemas/microsoft.graph.callOptions'
            meetingInfo:
              $ref: '#/components/schemas/microsoft.graph.meetingInfo'
            meetingCapability:
              $ref: '#/components/schemas/microsoft.graph.meetingCapability'
            routingPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.routingPolicy'
            tenantId:
              type: string
              nullable: true
            myParticipantId:
              type: string
              description: Read-only.
              nullable: true
            toneInfo:
              $ref: '#/components/schemas/microsoft.graph.toneInfo'
            incomingContext:
              $ref: '#/components/schemas/microsoft.graph.incomingContext'
            participants:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.participant'
              description: Read-only. Nullable.
            audioRoutingGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
              description: Read-only. Nullable.
      example:
        id: string (identifier)
        state:
          '@odata.type': microsoft.graph.callState
        mediaState:
          '@odata.type': microsoft.graph.callMediaState
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
        terminationReason: string
        direction:
          '@odata.type': microsoft.graph.callDirection
        ringingTimeoutInSeconds: integer
        subject: string
        callbackUri: string
        callRoutes:
          - '@odata.type': microsoft.graph.callRoute
        source:
          '@odata.type': microsoft.graph.participantInfo
        targets:
          - '@odata.type': microsoft.graph.invitationParticipantInfo
        answeredBy:
          '@odata.type': microsoft.graph.participantInfo
        requestedModalities:
          - '@odata.type': microsoft.graph.modality
        activeModalities:
          - '@odata.type': microsoft.graph.modality
        mediaConfig:
          '@odata.type': microsoft.graph.mediaConfig
        chatInfo:
          '@odata.type': microsoft.graph.chatInfo
        callOptions:
          '@odata.type': microsoft.graph.callOptions
        meetingInfo:
          '@odata.type': microsoft.graph.meetingInfo
        meetingCapability:
          '@odata.type': microsoft.graph.meetingCapability
        routingPolicies:
          - '@odata.type': microsoft.graph.routingPolicy
        tenantId: string
        myParticipantId: string
        toneInfo:
          '@odata.type': microsoft.graph.toneInfo
        incomingContext:
          '@odata.type': microsoft.graph.incomingContext
        participants:
          - '@odata.type': microsoft.graph.participant
        audioRoutingGroups:
          - '@odata.type': microsoft.graph.audioRoutingGroup
        operations:
          - '@odata.type': microsoft.graph.commsOperation
    microsoft.graph.audioRoutingGroup:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: audioRoutingGroup
          type: object
          properties:
            routingMode:
              $ref: '#/components/schemas/microsoft.graph.routingMode'
            sources:
              type: array
              items:
                type: string
                nullable: true
            receivers:
              type: array
              items:
                type: string
                nullable: true
      example:
        id: string (identifier)
        routingMode:
          '@odata.type': microsoft.graph.routingMode
        sources:
          - string
        receivers:
          - string
    microsoft.graph.mediaConfig:
      title: mediaConfig
      type: object
      properties:
        removeFromDefaultAudioGroup:
          type: boolean
          nullable: true
      example:
        removeFromDefaultAudioGroup: true
    microsoft.graph.modality:
      title: modality
      enum:
        - unknown
        - audio
        - video
        - videoBasedScreenSharing
        - data
        - unknownFutureValue
      type: string
    microsoft.graph.cancelMediaProcessingOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.commsOperation'
        - title: cancelMediaProcessingOperation
          type: object
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.operationStatus
        clientContext: string
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
    microsoft.graph.screenSharingRole:
      title: screenSharingRole
      enum:
        - viewer
        - sharer
      type: string
    microsoft.graph.muteParticipantOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.commsOperation'
        - title: muteParticipantOperation
          type: object
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.operationStatus
        clientContext: string
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
    microsoft.graph.prompt:
      title: prompt
      type: object
    microsoft.graph.playPromptOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.commsOperation'
        - title: playPromptOperation
          type: object
          properties:
            completionReason:
              $ref: '#/components/schemas/microsoft.graph.playPromptCompletionReason'
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.operationStatus
        clientContext: string
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
        completionReason:
          '@odata.type': microsoft.graph.playPromptCompletionReason
    microsoft.graph.recordOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.commsOperation'
        - title: recordOperation
          type: object
          properties:
            recordingLocation:
              type: string
              description: The location where the recording is located.
              nullable: true
            recordingAccessToken:
              type: string
              description: The access token required to retrieve the recording.
              nullable: true
            completionReason:
              $ref: '#/components/schemas/microsoft.graph.recordCompletionReason'
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.operationStatus
        clientContext: string
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
        recordingLocation: string
        recordingAccessToken: string
        completionReason:
          '@odata.type': microsoft.graph.recordCompletionReason
    microsoft.graph.invitationParticipantInfo:
      title: invitationParticipantInfo
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
        endpointType:
          $ref: '#/components/schemas/microsoft.graph.endpointType'
        replacesCallId:
          type: string
          description: Optional. The call which the target identity is currently a part of. This call will be dropped once the participant is added.
          nullable: true
      example:
        identity:
          '@odata.type': microsoft.graph.identitySet
        endpointType:
          '@odata.type': microsoft.graph.endpointType
        replacesCallId: string
    microsoft.graph.callDisposition:
      title: callDisposition
      enum:
        - default
        - simultaneousRing
        - forward
      type: string
    microsoft.graph.rejectReason:
      title: rejectReason
      enum:
        - none
        - busy
        - forbidden
        - unknownFutureValue
      type: string
    microsoft.graph.subscribeToToneOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.commsOperation'
        - title: subscribeToToneOperation
          type: object
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.operationStatus
        clientContext: string
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
    microsoft.graph.unmuteParticipantOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.commsOperation'
        - title: unmuteParticipantOperation
          type: object
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.operationStatus
        clientContext: string
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
    microsoft.graph.recordingStatus:
      title: recordingStatus
      enum:
        - unknown
        - notRecording
        - recording
        - failed
        - unknownFutureValue
      type: string
    microsoft.graph.updateRecordingStatusOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.commsOperation'
        - title: updateRecordingStatusOperation
          type: object
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.operationStatus
        clientContext: string
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
    microsoft.graph.commsOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: commsOperation
          type: object
          properties:
            status:
              $ref: '#/components/schemas/microsoft.graph.operationStatus'
            clientContext:
              type: string
              description: Unique Client Context string. Max limit is 256 chars.
              nullable: true
            resultInfo:
              $ref: '#/components/schemas/microsoft.graph.ResultInfo'
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.operationStatus
        clientContext: string
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
    microsoft.graph.participant:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: participant
          type: object
          properties:
            info:
              $ref: '#/components/schemas/microsoft.graph.participantInfo'
            recordingInfo:
              $ref: '#/components/schemas/microsoft.graph.recordingInfo'
            mediaStreams:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mediaStream'
              description: The list of media streams.
            metadata:
              type: string
              nullable: true
            isMuted:
              type: boolean
              description: true if the participant is muted (client or server muted).
            isInLobby:
              type: boolean
              description: true if the participant is in lobby.
      example:
        id: string (identifier)
        info:
          '@odata.type': microsoft.graph.participantInfo
        recordingInfo:
          '@odata.type': microsoft.graph.recordingInfo
        mediaStreams:
          - '@odata.type': microsoft.graph.mediaStream
        metadata: string
        isMuted: true
        isInLobby: true
    microsoft.graph.inviteParticipantsOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.commsOperation'
        - title: inviteParticipantsOperation
          type: object
          properties:
            participants:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
              description: The participants to invite.
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.operationStatus
        clientContext: string
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
        participants:
          - '@odata.type': microsoft.graph.invitationParticipantInfo
    microsoft.graph.muteParticipantsOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.commsOperation'
        - title: muteParticipantsOperation
          type: object
          properties:
            participants:
              type: array
              items:
                type: string
                nullable: true
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.operationStatus
        clientContext: string
        resultInfo:
          '@odata.type': microsoft.graph.ResultInfo
        participants:
          - string
    microsoft.graph.presence:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: presence
          type: object
          properties:
            availability:
              type: string
              nullable: true
            activity:
              type: string
              nullable: true
      example:
        id: string (identifier)
        availability: string
        activity: string
    microsoft.graph.onlineMeeting:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: onlineMeeting
          type: object
          properties:
            creationDateTime:
[...]
