openapi: 3.0.1
info:
  title: Compliance
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /compliance:
    get:
      tags:
        - compliance.compliance
      summary: Get compliance
      operationId: compliance.compliance_GetCompliance
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - ediscovery
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - ediscovery
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.compliance'
          links:
            ediscovery:
              operationId: compliance.GetEdiscovery
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.compliance
      summary: Update compliance
      operationId: compliance.compliance_UpdateCompliance
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.compliance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /compliance/ediscovery:
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get ediscovery from compliance
      operationId: compliance_GetEdiscovery
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - cases
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - cases
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.ediscoveryroot'
          links:
            cases:
              operationId: compliance.Ediscovery.ListCases
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscoveryroot
      summary: Update the navigation property ediscovery in compliance
      operationId: compliance_UpdateEdiscovery
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.ediscoveryroot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscoveryroot
      summary: Delete navigation property ediscovery for compliance
      operationId: compliance_DeleteEdiscovery
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /compliance/ediscovery/cases:
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get cases from compliance
      operationId: compliance.ediscovery_ListCases
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - closedBy
                - closedBy desc
                - closedDateTime
                - closedDateTime desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - externalId
                - externalId desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - closedBy
                - closedDateTime
                - createdDateTime
                - description
                - displayName
                - externalId
                - lastModifiedBy
                - lastModifiedDateTime
                - status
                - custodians
                - legalHolds
                - noncustodialDataSources
                - operations
                - reviewSets
                - settings
                - sourceCollections
                - tags
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - custodians
                - legalHolds
                - noncustodialDataSources
                - operations
                - reviewSets
                - settings
                - sourceCollections
                - tags
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.ediscovery.caseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - compliance.ediscoveryroot
      summary: Create new navigation property to cases for compliance
      operationId: compliance.ediscovery_CreateCases
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.case'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.case'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get cases from compliance
      operationId: compliance.ediscovery_GetCases
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - closedBy
                - closedDateTime
                - createdDateTime
                - description
                - displayName
                - externalId
                - lastModifiedBy
                - lastModifiedDateTime
                - status
                - custodians
                - legalHolds
                - noncustodialDataSources
                - operations
                - reviewSets
                - settings
                - sourceCollections
                - tags
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - custodians
                - legalHolds
                - noncustodialDataSources
                - operations
                - reviewSets
                - settings
                - sourceCollections
                - tags
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.case'
          links:
            custodians:
              operationId: compliance.ediscovery.Cases.ListCustodians
              parameters:
                case-id: $request.path.case-id
            legalHolds:
              operationId: compliance.ediscovery.Cases.ListLegalHolds
              parameters:
                case-id: $request.path.case-id
            noncustodialDataSources:
              operationId: compliance.ediscovery.Cases.ListNoncustodialDataSources
              parameters:
                case-id: $request.path.case-id
            operations:
              operationId: compliance.ediscovery.Cases.ListOperations
              parameters:
                case-id: $request.path.case-id
            reviewSets:
              operationId: compliance.ediscovery.Cases.ListReviewSets
              parameters:
                case-id: $request.path.case-id
            settings:
              operationId: compliance.ediscovery.Cases.GetSettings
              parameters:
                case-id: $request.path.case-id
            sourceCollections:
              operationId: compliance.ediscovery.Cases.ListSourceCollections
              parameters:
                case-id: $request.path.case-id
            tags:
              operationId: compliance.ediscovery.Cases.ListTags
              parameters:
                case-id: $request.path.case-id
            close:
              operationId: compliance.ediscovery.cases.case.close
            reopen:
              operationId: compliance.ediscovery.cases.case.reopen
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscoveryroot
      summary: Update the navigation property cases in compliance
      operationId: compliance.ediscovery_UpdateCases
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.case'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscoveryroot
      summary: Delete navigation property cases for compliance
      operationId: compliance.ediscovery_DeleteCases
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get custodians from compliance
      description: Returns a list of case custodian objects for this case.  Nullable.
      operationId: compliance.ediscovery.cases_ListCustodians
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - releasedDateTime
                - releasedDateTime desc
                - status
                - status desc
                - acknowledgedDateTime
                - acknowledgedDateTime desc
                - applyHoldToSources
                - applyHoldToSources desc
                - email
                - email desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - holdStatus
                - lastModifiedDateTime
                - releasedDateTime
                - status
                - acknowledgedDateTime
                - applyHoldToSources
                - email
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.ediscovery.custodianCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - compliance.ediscoveryroot
      summary: Create new navigation property to custodians for compliance
      operationId: compliance.ediscovery.cases_CreateCustodians
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.custodian'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.custodian'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get custodians from compliance
      description: Returns a list of case custodian objects for this case.  Nullable.
      operationId: compliance.ediscovery.cases_GetCustodians
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - holdStatus
                - lastModifiedDateTime
                - releasedDateTime
                - status
                - acknowledgedDateTime
                - applyHoldToSources
                - email
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.custodian'
          links:
            lastIndexOperation:
              operationId: compliance.ediscovery.cases.Custodians.GetLastIndexOperation
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
            siteSources:
              operationId: compliance.ediscovery.cases.Custodians.ListSiteSources
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
            unifiedGroupSources:
              operationId: compliance.ediscovery.cases.Custodians.ListUnifiedGroupSources
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
            userSources:
              operationId: compliance.ediscovery.cases.Custodians.ListUserSources
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
            activate:
              operationId: compliance.ediscovery.cases.case.custodians.custodian.activate
            applyHold:
              operationId: compliance.ediscovery.cases.case.custodians.custodian.applyHold
            release:
              operationId: compliance.ediscovery.cases.case.custodians.custodian.release
            removeHold:
              operationId: compliance.ediscovery.cases.case.custodians.custodian.removeHold
            updateIndex:
              operationId: compliance.ediscovery.cases.case.custodians.custodian.updateIndex
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscoveryroot
      summary: Update the navigation property custodians in compliance
      operationId: compliance.ediscovery.cases_UpdateCustodians
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.custodian'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscoveryroot
      summary: Delete navigation property custodians for compliance
      operationId: compliance.ediscovery.cases_DeleteCustodians
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/microsoft.graph.ediscovery.activate':
    post:
      tags:
        - compliance.Actions
      summary: Invoke action activate
      operationId: compliance.ediscovery.cases.custodians_activate
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/microsoft.graph.ediscovery.applyHold':
    post:
      tags:
        - compliance.Actions
      summary: Invoke action applyHold
      operationId: compliance.ediscovery.cases.custodians_applyHold
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/microsoft.graph.ediscovery.release':
    post:
      tags:
        - compliance.Actions
      summary: Invoke action release
      operationId: compliance.ediscovery.cases.custodians_release
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/microsoft.graph.ediscovery.removeHold':
    post:
      tags:
        - compliance.Actions
      summary: Invoke action removeHold
      operationId: compliance.ediscovery.cases.custodians_removeHold
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/microsoft.graph.ediscovery.updateIndex':
    post:
      tags:
        - compliance.Actions
      summary: Invoke action updateIndex
      operationId: compliance.ediscovery.cases.custodians_updateIndex
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/siteSources':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get siteSources from compliance
      description: Data source entity for SharePoint sites associated with the custodian.
      operationId: compliance.ediscovery.cases.custodians_ListSiteSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - site
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - site
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.ediscovery.siteSourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - compliance.ediscoveryroot
      summary: Create new navigation property to siteSources for compliance
      operationId: compliance.ediscovery.cases.custodians_CreateSiteSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.siteSource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.siteSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/siteSources/{siteSource-id}':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get siteSources from compliance
      description: Data source entity for SharePoint sites associated with the custodian.
      operationId: compliance.ediscovery.cases.custodians_GetSiteSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - site
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - site
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.siteSource'
          links:
            site:
              operationId: compliance.ediscovery.cases.custodians.SiteSources.GetSite
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscoveryroot
      summary: Update the navigation property siteSources in compliance
      operationId: compliance.ediscovery.cases.custodians_UpdateSiteSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.siteSource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscoveryroot
      summary: Delete navigation property siteSources for compliance
      operationId: compliance.ediscovery.cases.custodians_DeleteSiteSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/siteSources/{siteSource-id}/site':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get site from compliance
      description: The SharePoint site associated with the siteSource.
      operationId: compliance.ediscovery.cases.custodians.siteSources_GetSite
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - deleted
                - displayName
                - root
                - settings
                - sharepointIds
                - siteCollection
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - operations
                - pages
                - permissions
                - sites
                - termStore
                - onenote
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - operations
                - pages
                - permissions
                - sites
                - termStore
                - onenote
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.site'
          links:
            createdByUser:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.GetCreatedGraphBPreUser
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            lastModifiedByUser:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.GetLastModifiedGraphBPreUser
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            analytics:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.GetAnalytics
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            columns:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.ListColumns
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            contentTypes:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.ListContentTypes
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            drive:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.GetDrive
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            drives:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.ListDrives
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            externalColumns:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.ListExternalColumns
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            items:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.ListItems
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            lists:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.ListLists
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            operations:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.ListOperations
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            pages:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.ListPages
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            permissions:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.ListPermissions
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            sites:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.ListSites
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            termStore:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.GetTermStore
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
            onenote:
              operationId: compliance.ediscovery.cases.custodians.siteSources.Site.GetOnenote
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                siteSource-id: $request.path.siteSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/unifiedGroupSources':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get unifiedGroupSources from compliance
      description: Data source entity for groups associated with the custodian.
      operationId: compliance.ediscovery.cases.custodians_ListUnifiedGroupSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
                - includedSources
                - includedSources desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - includedSources
                - group
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - group
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.ediscovery.unifiedGroupSourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - compliance.ediscoveryroot
      summary: Create new navigation property to unifiedGroupSources for compliance
      operationId: compliance.ediscovery.cases.custodians_CreateUnifiedGroupSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.unifiedGroupSource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.unifiedGroupSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/unifiedGroupSources/{unifiedGroupSource-id}':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get unifiedGroupSources from compliance
      description: Data source entity for groups associated with the custodian.
      operationId: compliance.ediscovery.cases.custodians_GetUnifiedGroupSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: unifiedGroupSource-id
          in: path
          description: 'key: id of unifiedGroupSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedGroupSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - includedSources
                - group
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - group
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.unifiedGroupSource'
          links:
            group:
              operationId: compliance.ediscovery.cases.custodians.UnifiedGroupSources.GetGroup
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscoveryroot
      summary: Update the navigation property unifiedGroupSources in compliance
      operationId: compliance.ediscovery.cases.custodians_UpdateUnifiedGroupSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: unifiedGroupSource-id
          in: path
          description: 'key: id of unifiedGroupSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedGroupSource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.unifiedGroupSource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscoveryroot
      summary: Delete navigation property unifiedGroupSources for compliance
      operationId: compliance.ediscovery.cases.custodians_DeleteUnifiedGroupSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: unifiedGroupSource-id
          in: path
          description: 'key: id of unifiedGroupSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedGroupSource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/unifiedGroupSources/{unifiedGroupSource-id}/group':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get group from compliance
      description: The group associated with the unifiedGroupSource.
      operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources_GetGroup
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: unifiedGroupSource-id
          in: path
          description: 'key: id of unifiedGroupSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedGroupSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedLabels
                - assignedLicenses
                - classification
                - createdByAppId
                - createdDateTime
                - description
                - displayName
                - expirationDateTime
                - groupTypes
                - hasMembersWithLicenseErrors
                - infoCatalogs
                - isAssignableToRole
                - isManagementRestricted
                - licenseProcessingState
                - mail
                - mailEnabled
                - mailNickname
                - membershipRule
                - membershipRuleProcessingState
                - onPremisesDomainName
                - onPremisesLastSyncDateTime
                - onPremisesNetBiosName
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - organizationId
                - preferredDataLocation
                - preferredLanguage
                - proxyAddresses
                - renewedDateTime
                - resourceBehaviorOptions
                - resourceProvisioningOptions
                - securityEnabled
                - securityIdentifier
                - theme
                - visibility
                - writebackConfiguration
                - accessType
                - allowExternalSenders
                - autoSubscribeNewMembers
                - hideFromAddressLists
                - hideFromOutlookClients
                - isFavorite
                - isSubscribedByMail
                - unseenConversationsCount
                - unseenCount
                - unseenMessagesCount
                - membershipRuleProcessingStatus
                - isArchived
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
          links:
            appRoleAssignments:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListAppRoleAssignments
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            createdOnBehalfOf:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.GetCreatedOnBehalfGraphOPre
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            endpoints:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListEndpoints
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            memberOf:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListMemberGraphOPre
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            members:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListMembers
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            membersWithLicenseErrors:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListMembersGraphWPreLicenseErrors
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            owners:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListOwners
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            permissionGrants:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListPermissionGrants
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            settings:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListSettings
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            transitiveMemberOf:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListTransitiveMemberGraphOPre
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            transitiveMembers:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListTransitiveMembers
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            acceptedSenders:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListAcceptedSenders
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            calendar:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.GetCalendar
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            calendarView:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListCalendarView
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            conversations:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListConversations
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            events:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListEvents
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            rejectedSenders:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListRejectedSenders
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            threads:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListThreads
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            drive:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.GetDrive
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            drives:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListDrives
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            sites:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListSites
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            extensions:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListExtensions
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            groupLifecyclePolicies:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListGroupLifecyclePolicies
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            planner:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.GetPlanner
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            onenote:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.GetOnenote
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            photo:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.GetPhoto
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            photos:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.ListPhotos
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
            team:
              operationId: compliance.ediscovery.cases.custodians.unifiedGroupSources.Group.GetTeam
              parameters:
                case-id: $request.path.case-id
                custodian-id: $request.path.custodian-id
                unifiedGroupSource-id: $request.path.unifiedGroupSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/userSources':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get userSources from compliance
      description: Data source entity for a the custodian. This is the container for a custodian's mailbox and OneDrive for Business site.
      operationId: compliance.ediscovery.cases.custodians_ListUserSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
                - email
                - email desc
                - includedSources
                - includedSources desc
                - siteWebUrl
                - siteWebUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - email
                - includedSources
                - siteWebUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.ediscovery.userSourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - compliance.ediscoveryroot
      summary: Create new navigation property to userSources for compliance
      operationId: compliance.ediscovery.cases.custodians_CreateUserSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.userSource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.userSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians/{custodian-id}/userSources/{userSource-id}':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get userSources from compliance
      description: Data source entity for a the custodian. This is the container for a custodian's mailbox and OneDrive for Business site.
      operationId: compliance.ediscovery.cases.custodians_GetUserSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: userSource-id
          in: path
          description: 'key: id of userSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - email
                - includedSources
                - siteWebUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.userSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscoveryroot
      summary: Update the navigation property userSources in compliance
      operationId: compliance.ediscovery.cases.custodians_UpdateUserSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: userSource-id
          in: path
          description: 'key: id of userSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userSource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.userSource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscoveryroot
      summary: Delete navigation property userSources for compliance
      operationId: compliance.ediscovery.cases.custodians_DeleteUserSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: custodian-id
          in: path
          description: 'key: id of custodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: custodian
        - name: userSource-id
          in: path
          description: 'key: id of userSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userSource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/custodians/microsoft.graph.ediscovery.applyHold':
    post:
      tags:
        - compliance.Actions
      summary: Invoke action applyHold
      operationId: compliance.ediscovery.cases.custodians_applyHold
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/compliance/ediscovery/cases/{case-id}/custodians/microsoft.graph.ediscovery.removeHold':
    post:
      tags:
        - compliance.Actions
      summary: Invoke action removeHold
      operationId: compliance.ediscovery.cases.custodians_removeHold
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/compliance/ediscovery/cases/{case-id}/legalHolds':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get legalHolds from compliance
      description: Returns a list of case legalHold objects for this case.  Nullable.
      operationId: compliance.ediscovery.cases_ListLegalHolds
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentQuery
                - contentQuery desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - errors
                - errors desc
                - isEnabled
                - isEnabled desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentQuery
                - createdBy
                - createdDateTime
                - description
                - displayName
                - errors
                - isEnabled
                - lastModifiedBy
                - lastModifiedDateTime
                - status
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.ediscovery.legalHoldCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - compliance.ediscoveryroot
      summary: Create new navigation property to legalHolds for compliance
      operationId: compliance.ediscovery.cases_CreateLegalHolds
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.legalHold'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.legalHold'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/legalHolds/{legalHold-id}':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get legalHolds from compliance
      description: Returns a list of case legalHold objects for this case.  Nullable.
      operationId: compliance.ediscovery.cases_GetLegalHolds
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: legalHold-id
          in: path
          description: 'key: id of legalHold'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: legalHold
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentQuery
                - createdBy
                - createdDateTime
                - description
                - displayName
                - errors
                - isEnabled
                - lastModifiedBy
                - lastModifiedDateTime
                - status
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.legalHold'
          links:
            siteSources:
              operationId: compliance.ediscovery.cases.LegalHolds.ListSiteSources
              parameters:
                case-id: $request.path.case-id
                legalHold-id: $request.path.legalHold-id
            unifiedGroupSources:
              operationId: compliance.ediscovery.cases.LegalHolds.ListUnifiedGroupSources
              parameters:
                case-id: $request.path.case-id
                legalHold-id: $request.path.legalHold-id
            userSources:
              operationId: compliance.ediscovery.cases.LegalHolds.ListUserSources
              parameters:
                case-id: $request.path.case-id
                legalHold-id: $request.path.legalHold-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscoveryroot
      summary: Update the navigation property legalHolds in compliance
      operationId: compliance.ediscovery.cases_UpdateLegalHolds
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: legalHold-id
          in: path
          description: 'key: id of legalHold'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: legalHold
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.legalHold'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscoveryroot
      summary: Delete navigation property legalHolds for compliance
      operationId: compliance.ediscovery.cases_DeleteLegalHolds
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: legalHold-id
          in: path
          description: 'key: id of legalHold'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: legalHold
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/legalHolds/{legalHold-id}/siteSources':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get siteSources from compliance
      description: Data source entity for SharePoint sites associated with the legal hold.
      operationId: compliance.ediscovery.cases.legalHolds_ListSiteSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: legalHold-id
          in: path
          description: 'key: id of legalHold'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: legalHold
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - site
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - site
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.ediscovery.siteSourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - compliance.ediscoveryroot
      summary: Create new navigation property to siteSources for compliance
      operationId: compliance.ediscovery.cases.legalHolds_CreateSiteSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: legalHold-id
          in: path
          description: 'key: id of legalHold'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: legalHold
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.siteSource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.siteSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/legalHolds/{legalHold-id}/siteSources/{siteSource-id}':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get siteSources from compliance
      description: Data source entity for SharePoint sites associated with the legal hold.
      operationId: compliance.ediscovery.cases.legalHolds_GetSiteSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: legalHold-id
          in: path
          description: 'key: id of legalHold'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: legalHold
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - site
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - site
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery.siteSource'
          links:
            site:
              operationId: compliance.ediscovery.cases.legalHolds.SiteSources.GetSite
              parameters:
                case-id: $request.path.case-id
                legalHold-id: $request.path.legalHold-id
                siteSource-id: $request.path.siteSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscoveryroot
      summary: Update the navigation property siteSources in compliance
      operationId: compliance.ediscovery.cases.legalHolds_UpdateSiteSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: legalHold-id
          in: path
          description: 'key: id of legalHold'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: legalHold
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery.siteSource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscoveryroot
      summary: Delete navigation property siteSources for compliance
      operationId: compliance.ediscovery.cases.legalHolds_DeleteSiteSources
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: legalHold-id
          in: path
          description: 'key: id of legalHold'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: legalHold
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{case-id}/legalHolds/{legalHold-id}/siteSources/{siteSource-id}/site':
    get:
      tags:
        - compliance.ediscoveryroot
      summary: Get site from compliance
      description: The SharePoint site associated with the siteSource.
      operationId: compliance.ediscovery.cases.legalHolds.siteSources_GetSite
      parameters:
        - name: case-id
          in: path
          description: 'key: id of case'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: case
        - name: legalHold-id
          in: path
          description: 'key: id of legalHold'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: legalHold
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - deleted
                - displayName
                - root
                - settings
                - sharepointIds
                - siteCollection
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - operations
                - pages
                - permissions
                - sites
                - termStore
                - onenote
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - operations
                - pages
                - permissions
                - sites
                - termStore
                - onenote
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.site'
          links:
            createdByUser:
              operationId: compliance.ediscovery.cases.legalHolds.siteSources.Site.GetCreatedGraphBPreUser
              parameters:
                case-id: $request.path.case-id
                legalHold-id: $request.path.legalHold-id
                siteSource-id: $request.path.siteSource-id
            lastModifiedByUser:
              operationId: compliance.ediscovery.cases.legalHolds.siteSources.Site.GetLastModifiedGraphBPreUser
              parameters:
                case-id: $request.path.case-id
[...]
