openapi: 3.0.1
info:
  title: Compliance
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /compliance:
    get:
      tags:
        - compliance.compliance
      summary: Get compliance
      operationId: compliance.compliance_GetCompliance
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - ediscovery
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - ediscovery
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.compliance'
          links:
            ediscovery:
              operationId: compliance.GetEdiscovery
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.compliance
      summary: Update compliance
      operationId: compliance.compliance_UpdateCompliance
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.compliance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /compliance/ediscovery:
    get:
      tags:
        - compliance.ediscovery
      summary: Get ediscovery from compliance
      operationId: compliance_GetEdiscovery
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - cases
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - cases
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscovery'
          links:
            cases:
              operationId: compliance.Ediscovery.ListCases
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscovery
      summary: Update the navigation property ediscovery in compliance
      operationId: compliance_UpdateEdiscovery
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscovery'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscovery
      summary: Delete navigation property ediscovery for compliance
      operationId: compliance_DeleteEdiscovery
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /compliance/ediscovery/cases:
    get:
      tags:
        - compliance.ediscovery
      summary: Get cases from compliance
      operationId: compliance.ediscovery_ListCases
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - closedBy
                - closedBy desc
                - closedDateTime
                - closedDateTime desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - externalId
                - externalId desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - closedBy
                - closedDateTime
                - createdDateTime
                - description
                - displayName
                - externalId
                - lastModifiedBy
                - lastModifiedDateTime
                - status
                - reviewSets
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewSets
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of ediscoveryCase
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.ediscoveryCase'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - compliance.ediscovery
      summary: Create new navigation property to cases for compliance
      operationId: compliance.ediscovery_CreateCases
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscoveryCase'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscoveryCase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{ediscoveryCase-id}':
    get:
      tags:
        - compliance.ediscovery
      summary: Get cases from compliance
      operationId: compliance.ediscovery_GetCases
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - closedBy
                - closedDateTime
                - createdDateTime
                - description
                - displayName
                - externalId
                - lastModifiedBy
                - lastModifiedDateTime
                - status
                - reviewSets
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewSets
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.ediscoveryCase'
          links:
            reviewSets:
              operationId: compliance.ediscovery.Cases.ListReviewSets
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscovery
      summary: Update the navigation property cases in compliance
      operationId: compliance.ediscovery_UpdateCases
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.ediscoveryCase'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscovery
      summary: Delete navigation property cases for compliance
      operationId: compliance.ediscovery_DeleteCases
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{ediscoveryCase-id}/microsoft.graph.close':
    post:
      tags:
        - compliance.Actions
      summary: Invoke action close
      operationId: compliance.ediscovery.cases_close
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/compliance/ediscovery/cases/{ediscoveryCase-id}/microsoft.graph.reopen':
    post:
      tags:
        - compliance.Actions
      summary: Invoke action reopen
      operationId: compliance.ediscovery.cases_reopen
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/compliance/ediscovery/cases/{ediscoveryCase-id}/reviewSets':
    get:
      tags:
        - compliance.ediscovery
      summary: Get reviewSets from compliance
      operationId: compliance.ediscovery.cases_ListReviewSets
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - queries
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - queries
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of reviewSet
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.reviewSet'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - compliance.ediscovery
      summary: Create new navigation property to reviewSets for compliance
      operationId: compliance.ediscovery.cases_CreateReviewSets
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reviewSet'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reviewSet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{ediscoveryCase-id}/reviewSets/{reviewSet-id}':
    get:
      tags:
        - compliance.ediscovery
      summary: Get reviewSets from compliance
      operationId: compliance.ediscovery.cases_GetReviewSets
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: reviewSet-id
          in: path
          description: 'key: id of reviewSet'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSet
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - queries
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - queries
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reviewSet'
          links:
            queries:
              operationId: compliance.ediscovery.cases.ReviewSets.ListQueries
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                reviewSet-id: $request.path.reviewSet-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscovery
      summary: Update the navigation property reviewSets in compliance
      operationId: compliance.ediscovery.cases_UpdateReviewSets
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: reviewSet-id
          in: path
          description: 'key: id of reviewSet'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSet
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reviewSet'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscovery
      summary: Delete navigation property reviewSets for compliance
      operationId: compliance.ediscovery.cases_DeleteReviewSets
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: reviewSet-id
          in: path
          description: 'key: id of reviewSet'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSet
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{ediscoveryCase-id}/reviewSets/{reviewSet-id}/queries':
    get:
      tags:
        - compliance.ediscovery
      summary: Get queries from compliance
      operationId: compliance.ediscovery.cases.reviewSets_ListQueries
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: reviewSet-id
          in: path
          description: 'key: id of reviewSet'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSet
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - query
                - query desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - query
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of reviewSetQuery
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.reviewSetQuery'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - compliance.ediscovery
      summary: Create new navigation property to queries for compliance
      operationId: compliance.ediscovery.cases.reviewSets_CreateQueries
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: reviewSet-id
          in: path
          description: 'key: id of reviewSet'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSet
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reviewSetQuery'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reviewSetQuery'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/compliance/ediscovery/cases/{ediscoveryCase-id}/reviewSets/{reviewSet-id}/queries/{reviewSetQuery-id}':
    get:
      tags:
        - compliance.ediscovery
      summary: Get queries from compliance
      operationId: compliance.ediscovery.cases.reviewSets_GetQueries
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: reviewSet-id
          in: path
          description: 'key: id of reviewSet'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSet
        - name: reviewSetQuery-id
          in: path
          description: 'key: id of reviewSetQuery'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSetQuery
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - query
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reviewSetQuery'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - compliance.ediscovery
      summary: Update the navigation property queries in compliance
      operationId: compliance.ediscovery.cases.reviewSets_UpdateQueries
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: reviewSet-id
          in: path
          description: 'key: id of reviewSet'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSet
        - name: reviewSetQuery-id
          in: path
          description: 'key: id of reviewSetQuery'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSetQuery
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reviewSetQuery'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - compliance.ediscovery
      summary: Delete navigation property queries for compliance
      operationId: compliance.ediscovery.cases.reviewSets_DeleteQueries
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: reviewSet-id
          in: path
          description: 'key: id of reviewSet'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSet
        - name: reviewSetQuery-id
          in: path
          description: 'key: id of reviewSetQuery'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reviewSetQuery
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.compliance:
      title: compliance
      type: object
      properties:
        ediscovery:
          $ref: '#/components/schemas/microsoft.graph.ediscovery'
      additionalProperties:
        type: object
    microsoft.graph.ediscovery:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: ediscovery
          type: object
          properties:
            cases:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.ediscoveryCase'
          additionalProperties:
            type: object
    microsoft.graph.ediscoveryCase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: ediscoveryCase
          type: object
          properties:
            closedBy:
              type: string
              nullable: true
            closedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            description:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            externalId:
              type: string
              nullable: true
            lastModifiedBy:
              type: string
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            status:
              $ref: '#/components/schemas/microsoft.graph.caseStatus'
            reviewSets:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.reviewSet'
          additionalProperties:
            type: object
    microsoft.graph.reviewSet:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: reviewSet
          type: object
          properties:
            createdBy:
              type: string
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            displayName:
              type: string
              nullable: true
            queries:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.reviewSetQuery'
          additionalProperties:
            type: object
    microsoft.graph.reviewSetQuery:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: reviewSetQuery
          type: object
          properties:
            createdBy:
              type: string
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            displayName:
              type: string
              nullable: true
            lastModifiedBy:
              type: string
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            query:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.caseStatus:
      title: caseStatus
      enum:
        - unknown
        - active
        - pendingDelete
        - closing
        - closed
        - closedWithError
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]