openapi: 3.0.1
info:
  title: CrossDeviceExperiences
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/activities':
    get:
      tags:
        - users.userActivity
      summary: Get activities from users
      operationId: users_ListActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activationUrl
                - activationUrl desc
                - activitySourceHost
                - activitySourceHost desc
                - appActivityId
                - appActivityId desc
                - appDisplayName
                - appDisplayName desc
                - contentInfo
                - contentInfo desc
                - contentUrl
                - contentUrl desc
                - createdDateTime
                - createdDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - fallbackUrl
                - fallbackUrl desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - status
                - status desc
                - userTimezone
                - userTimezone desc
                - visualElements
                - visualElements desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationUrl
                - activitySourceHost
                - appActivityId
                - appDisplayName
                - contentInfo
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - status
                - userTimezone
                - visualElements
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of userActivity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userActivity'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userActivity
      summary: Create new navigation property to activities for users
      operationId: users_CreateActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}':
    get:
      tags:
        - users.userActivity
      summary: Get activities from users
      operationId: users_GetActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationUrl
                - activitySourceHost
                - appActivityId
                - appDisplayName
                - contentInfo
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - status
                - userTimezone
                - visualElements
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
          links:
            historyItems:
              operationId: users.Activities.ListHistoryItems
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userActivity
      summary: Update the navigation property activities in users
      operationId: users_UpdateActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userActivity
      summary: Delete navigation property activities for users
      operationId: users_DeleteActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems':
    get:
      tags:
        - users.userActivity
      summary: Get historyItems from users
      operationId: users.activities_ListHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activeDurationSeconds
                - activeDurationSeconds desc
                - createdDateTime
                - createdDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - lastActiveDateTime
                - lastActiveDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - startedDateTime
                - startedDateTime desc
                - status
                - status desc
                - userTimezone
                - userTimezone desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeDurationSeconds
                - createdDateTime
                - expirationDateTime
                - lastActiveDateTime
                - lastModifiedDateTime
                - startedDateTime
                - status
                - userTimezone
                - activity
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activity
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of activityHistoryItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userActivity
      summary: Create new navigation property to historyItems for users
      operationId: users.activities_CreateHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}':
    get:
      tags:
        - users.userActivity
      summary: Get historyItems from users
      operationId: users.activities_GetHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeDurationSeconds
                - createdDateTime
                - expirationDateTime
                - lastActiveDateTime
                - lastModifiedDateTime
                - startedDateTime
                - status
                - userTimezone
                - activity
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activity
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
          links:
            activity:
              operationId: users.activities.HistoryItems.GetActivity
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
                activityHistoryItem-id: $request.path.activityHistoryItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userActivity
      summary: Update the navigation property historyItems in users
      operationId: users.activities_UpdateHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userActivity
      summary: Delete navigation property historyItems for users
      operationId: users.activities_DeleteHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}/activity':
    get:
      tags:
        - users.userActivity
      summary: Get activity from users
      operationId: users.activities.historyItems_GetActivity
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationUrl
                - activitySourceHost
                - appActivityId
                - appDisplayName
                - contentInfo
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - status
                - userTimezone
                - visualElements
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
          links:
            historyItems:
              operationId: users.activities.historyItems.Activity.ListHistoryItems
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
                activityHistoryItem-id: $request.path.activityHistoryItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}/activity/$ref':
    get:
      tags:
        - users.userActivity
      summary: Get ref of activity from users
      operationId: users.activities.historyItems_GetRefActivity
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            historyItems:
              operationId: users.activities.historyItems.Activity.ListHistoryItems
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
                activityHistoryItem-id: $request.path.activityHistoryItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.userActivity
      summary: Update the ref of navigation property activity in users
      operationId: users.activities.historyItems_SetRefActivity
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userActivity
      summary: Delete ref of navigation property activity for users
      operationId: users.activities.historyItems_DeleteRefActivity
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices':
    get:
      tags:
        - users.device
      summary: Get devices from users
      operationId: users_ListDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - alternativeSecurityIds
                - alternativeSecurityIds desc
                - approximateLastSignInDateTime
                - approximateLastSignInDateTime desc
                - complianceExpirationDateTime
                - complianceExpirationDateTime desc
                - deviceCategory
                - deviceCategory desc
                - deviceId
                - deviceId desc
                - deviceMetadata
                - deviceMetadata desc
                - deviceOwnership
                - deviceOwnership desc
                - deviceVersion
                - deviceVersion desc
                - displayName
                - displayName desc
                - domainName
                - domainName desc
                - enrollmentProfileName
                - enrollmentProfileName desc
                - enrollmentType
                - enrollmentType desc
                - extensionAttributes
                - extensionAttributes desc
                - isCompliant
                - isCompliant desc
                - isManaged
                - isManaged desc
                - isRooted
                - isRooted desc
                - managementType
                - managementType desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - operatingSystem
                - operatingSystem desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - physicalIds
                - physicalIds desc
                - profileType
                - profileType desc
                - registrationDateTime
                - registrationDateTime desc
                - systemLabels
                - systemLabels desc
                - trustType
                - trustType desc
                - kind
                - kind desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - name
                - name desc
                - platform
                - platform desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceCategory
                - deviceId
                - deviceMetadata
                - deviceOwnership
                - deviceVersion
                - displayName
                - domainName
                - enrollmentProfileName
                - enrollmentType
                - extensionAttributes
                - isCompliant
                - isManaged
                - isRooted
                - managementType
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - registrationDateTime
                - systemLabels
                - trustType
                - kind
                - manufacturer
                - model
                - name
                - platform
                - status
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of device
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.device'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property to devices for users
      operationId: users_CreateDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}':
    get:
      tags:
        - users.device
      summary: Get devices from users
      operationId: users_GetDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceCategory
                - deviceId
                - deviceMetadata
                - deviceOwnership
                - deviceVersion
                - displayName
                - domainName
                - enrollmentProfileName
                - enrollmentType
                - extensionAttributes
                - isCompliant
                - isManaged
                - isRooted
                - managementType
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - registrationDateTime
                - systemLabels
                - trustType
                - kind
                - manufacturer
                - model
                - name
                - platform
                - status
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
          links:
            memberOf:
              operationId: users.Devices.ListMemberOf
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            registeredOwners:
              operationId: users.Devices.ListRegisteredOwners
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            registeredUsers:
              operationId: users.Devices.ListRegisteredUsers
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            transitiveMemberOf:
              operationId: users.Devices.ListTransitiveMemberOf
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            extensions:
              operationId: users.Devices.ListExtensions
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            commands:
              operationId: users.Devices.ListCommands
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.device
      summary: Update the navigation property devices in users
      operationId: users_UpdateDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.device
      summary: Delete navigation property devices for users
      operationId: users_DeleteDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.userActivity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userActivity
          type: object
          properties:
            activationUrl:
              type: string
              description: Required. URL used to launch the activity in the best native experience represented by the appId. Might launch a web-based app if no native app exists.
            activitySourceHost:
              type: string
              description: 'Required. URL for the domain representing the cross-platform identity mapping for the app. Mapping is stored either as a JSON file hosted on the domain or configurable via Windows Dev Center. The JSON file is named cross-platform-app-identifiers and is hosted at root of your HTTPS domain, either at the top level domain or include a sub domain. For example: https://contoso.com or https://myapp.contoso.com but NOT https://myapp.contoso.com/somepath. You must have a unique file and domain (or sub domain) per cross-platform app identity. For example, a separate file and domain is needed for Word vs. PowerPoint.'
            appActivityId:
              type: string
              description: Required. The unique activity ID in the context of the app - supplied by caller and immutable thereafter.
            appDisplayName:
              type: string
              description: Optional. Short text description of the app used to generate the activity for use in cases when the app is not installed on the user’s local device.
              nullable: true
            contentInfo:
              $ref: '#/components/schemas/microsoft.graph.Json'
            contentUrl:
              type: string
              description: 'Optional. Used in the event the content can be rendered outside of a native or web-based app experience (for example, a pointer to an item in an RSS feed).'
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was created on the server.
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object expired on the server.
              format: date-time
              nullable: true
            fallbackUrl:
              type: string
              description: 'Optional. URL used to launch the activity in a web-based app, if available.'
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was modified on the server.
              format: date-time
              nullable: true
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            userTimezone:
              type: string
              description: Optional. The timezone in which the user's device used to generate the activity was located at activity creation time; values supplied as Olson IDs in order to support cross-platform representation.
              nullable: true
            visualElements:
              $ref: '#/components/schemas/microsoft.graph.visualInfo'
            historyItems:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
              description: Optional. NavigationProperty/Containment; navigation property to the activity's historyItems.
          additionalProperties:
            type: object
    microsoft.graph.activityHistoryItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: activityHistoryItem
          type: object
          properties:
            activeDurationSeconds:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: 'Optional. The duration of active user engagement. if not supplied, this is calculated from the startedDateTime and lastActiveDateTime.'
              format: int32
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was created on the server.
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Optional. UTC DateTime when the historyItem will undergo hard-delete. Can be set by the client.
              format: date-time
              nullable: true
            lastActiveDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Optional. UTC DateTime when the historyItem (activity session) was last understood as active or finished - if null, historyItem status should be Ongoing.'
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was modified on the server.
              format: date-time
              nullable: true
            startedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Required. UTC DateTime when the historyItem (activity session) was started. Required for timeline history.
              format: date-time
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            userTimezone:
              type: string
              description: Optional. The timezone in which the user's device used to generate the activity was located at activity creation time. Values supplied as Olson IDs in order to support cross-platform representation.
              nullable: true
            activity:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
          additionalProperties:
            type: object
    microsoft.graph.device:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: device
          type: object
          properties:
            accountEnabled:
              type: boolean
              description: 'true if the account is enabled; otherwise, false. default is true.'
              nullable: true
            alternativeSecurityIds:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alternativeSecurityId'
              description: For internal use only. Not nullable.
            approximateLastSignInDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            complianceExpirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp when the device is no longer deemed compliant. The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            deviceCategory:
              type: string
              nullable: true
            deviceId:
              type: string
              description: Unique identifier set by Azure Device Registration Service at the time of registration.
              nullable: true
            deviceMetadata:
              type: string
              description: For internal use only. Set to null.
              nullable: true
            deviceOwnership:
              type: string
              nullable: true
            deviceVersion:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: For internal use only.
              format: int32
              nullable: true
            displayName:
              type: string
              description: The display name for the device. Required.
              nullable: true
            domainName:
              type: string
              nullable: true
            enrollmentProfileName:
              type: string
              nullable: true
            enrollmentType:
              type: string
              nullable: true
            extensionAttributes:
              $ref: '#/components/schemas/microsoft.graph.onPremisesExtensionAttributes'
            isCompliant:
              type: boolean
              description: 'true if the device complies with Mobile Device Management (MDM) policies; otherwise, false. Read-only. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices.'
              nullable: true
            isManaged:
              type: boolean
              description: 'true if the device is managed by a Mobile Device Management (MDM) app; otherwise, false. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices.'
              nullable: true
            isRooted:
              type: boolean
              nullable: true
            managementType:
              type: string
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The last time at which the object was synced with the on-premises directory. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'' Read-only.'
              format: date-time
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              description: true if this object is synced from an on-premises directory; false if this object was originally synced from an on-premises directory but is no longer synced; null if this object has never been synced from an on-premises directory (default). Read-only.
              nullable: true
            operatingSystem:
              type: string
              description: The type of operating system on the device. Required.
              nullable: true
            operatingSystemVersion:
              type: string
              description: Operating system version of the device. Required.
              nullable: true
            physicalIds:
              type: array
              items:
                type: string
              description: For internal use only. Not nullable.
            profileType:
              type: string
              description: The profile type of the device. Possible values:RegisteredDevice (default)SecureVMPrinterSharedIoT
              nullable: true
            registrationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            systemLabels:
              type: array
              items:
                type: string
              description: List of labels applied to the device by the system.
            trustType:
              type: string
              description: 'Type of trust for the joined device. Read-only. Possible values: Workplace - indicates bring your own personal devicesAzureAd - Cloud only joined devicesServerAd - on-premises domain joined devices joined to Azure AD. For more details, see Introduction to device management in Azure Active Directory'
              nullable: true
            kind:
              type: string
              nullable: true
            manufacturer:
              type: string
              description: Manufacturer of the device. Read-only.
              nullable: true
            model:
              type: string
              description: Model of the device. Read-only.
              nullable: true
            name:
              type: string
              nullable: true
            platform:
              type: string
              nullable: true
            status:
              type: string
              nullable: true
            memberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Groups that this group is a member of. HTTP Methods: GET (supported for all groups). Read-only. Nullable.'
            registeredOwners:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'The user that cloud joined the device or registered their personal device. The registered owner is set at the time of registration. Currently, there can be only one owner. Read-only. Nullable.'
            registeredUsers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Collection of registered users of the device. For cloud joined devices and registered personal devices, registered users are set to the same value as registered owners at the time of registration. Read-only. Nullable.'
            transitiveMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the device. Read-only. Nullable.
            commands:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.command'
              description: Set of commands sent to this device
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.Json:
      title: Json
      type: object
      additionalProperties:
        type: object
    microsoft.graph.status:
      title: status
      enum:
        - active
        - updated
        - deleted
        - ignored
        - unknownFutureValue
      type: string
    microsoft.graph.visualInfo:
      title: visualInfo
      type: object
      properties:
        attribution:
          $ref: '#/components/schemas/microsoft.graph.imageInfo'
        backgroundColor:
          type: string
          description: Optional. Background color used to render the activity in the UI - brand color for the application source of the activity. Must be a valid hex color
          nullable: true
        content:
          $ref: '#/components/schemas/microsoft.graph.Json'
        description:
          type: string
          description: 'Optional. Longer text description of the user''s unique activity (example: document name, first sentence, and/or metadata)'
          nullable: true
        displayText:
          type: string
          description: 'Required. Short text description of the user''s unique activity (for example, document name in cases where an activity refers to document creation)'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.alternativeSecurityId:
      title: alternativeSecurityId
      type: object
      properties:
        identityProvider:
          type: string
          description: For internal use only
          nullable: true
        key:
          type: string
          description: For internal use only
          format: base64url
          nullable: true
        type:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: For internal use only
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.onPremisesExtensionAttributes:
      title: onPremisesExtensionAttributes
      type: object
      properties:
        extensionAttribute1:
          type: string
          description: First customizable extension attribute.
          nullable: true
        extensionAttribute10:
          type: string
          description: Tenth customizable extension attribute.
          nullable: true
        extensionAttribute11:
          type: string
          description: Eleventh customizable extension attribute.
          nullable: true
        extensionAttribute12:
          type: string
          description: Twelfth customizable extension attribute.
          nullable: true
        extensionAttribute13:
          type: string
          description: Thirteenth customizable extension attribute.
          nullable: true
        extensionAttribute14:
          type: string
          description: Fourteenth customizable extension attribute.
          nullable: true
        extensionAttribute15:
          type: string
          description: Fifteenth customizable extension attribute.
          nullable: true
        extensionAttribute2:
          type: string
          description: Second customizable extension attribute.
          nullable: true
        extensionAttribute3:
          type: string
          description: Third customizable extension attribute.
          nullable: true
        extensionAttribute4:
          type: string
          description: Fourth customizable extension attribute.
          nullable: true
        extensionAttribute5:
          type: string
          description: Fifth customizable extension attribute.
          nullable: true
        extensionAttribute6:
          type: string
          description: Sixth customizable extension attribute.
          nullable: true
        extensionAttribute7:
          type: string
          description: Seventh customizable extension attribute.
          nullable: true
        extensionAttribute8:
          type: string
          description: Eighth customizable extension attribute.
          nullable: true
        extensionAttribute9:
          type: string
          description: Ninth customizable extension attribute.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
          additionalProperties:
            type: object
    microsoft.graph.command:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: command
          type: object
          properties:
            appServiceName:
              type: string
              nullable: true
            error:
              type: string
              nullable: true
            packageFamilyName:
              type: string
              nullable: true
            payload:
              $ref: '#/components/schemas/microsoft.graph.payloadRequest'
            permissionTicket:
              type: string
              nullable: true
            postBackUri:
              type: string
              nullable: true
            status:
              type: string
              nullable: true
            type:
              type: string
              nullable: true
            responsepayload:
              $ref: '#/components/schemas/microsoft.graph.payloadResponse'
          additionalProperties:
            type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.imageInfo:
      title: imageInfo
      type: object
      properties:
        addImageQuery:
          type: boolean
          description: Optional; parameter used to indicate the server is able to render image dynamically in response to parameterization. For example – a high contrast image
          nullable: true
        alternateText:
          type: string
          description: Optional; alt-text accessible content for the image
          nullable: true
        alternativeText:
          type: string
          nullable: true
        iconUrl:
          type: string
          description: Optional; URI that points to an icon which represents the application used to generate the activity
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.payloadRequest:
      title: payloadRequest
      type: object
      additionalProperties:
        type: object
    microsoft.graph.payloadResponse:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: payloadResponse
          type: object
          additionalProperties:
            type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]