openapi: 3.0.1
info:
  title: CrossDeviceExperiences
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/activities':
    get:
      tags:
        - users.userActivity
      summary: Get activities from users
      operationId: users_ListActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activationUrl
                - activationUrl desc
                - activitySourceHost
                - activitySourceHost desc
                - appActivityId
                - appActivityId desc
                - appDisplayName
                - appDisplayName desc
                - contentInfo
                - contentInfo desc
                - contentUrl
                - contentUrl desc
                - createdDateTime
                - createdDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - fallbackUrl
                - fallbackUrl desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - status
                - status desc
                - userTimezone
                - userTimezone desc
                - visualElements
                - visualElements desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationUrl
                - activitySourceHost
                - appActivityId
                - appDisplayName
                - contentInfo
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - status
                - userTimezone
                - visualElements
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.userActivityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userActivity
      summary: Create new navigation property to activities for users
      operationId: users_CreateActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}':
    get:
      tags:
        - users.userActivity
      summary: Get activities from users
      operationId: users_GetActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationUrl
                - activitySourceHost
                - appActivityId
                - appDisplayName
                - contentInfo
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - status
                - userTimezone
                - visualElements
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
          links:
            historyItems:
              operationId: users.Activities.ListHistoryItems
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userActivity
      summary: Update the navigation property activities in users
      operationId: users_UpdateActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userActivity
      summary: Delete navigation property activities for users
      operationId: users_DeleteActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems':
    get:
      tags:
        - users.userActivity
      summary: Get historyItems from users
      operationId: users.activities_ListHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activeDurationSeconds
                - activeDurationSeconds desc
                - createdDateTime
                - createdDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - lastActiveDateTime
                - lastActiveDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - startedDateTime
                - startedDateTime desc
                - status
                - status desc
                - userTimezone
                - userTimezone desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeDurationSeconds
                - createdDateTime
                - expirationDateTime
                - lastActiveDateTime
                - lastModifiedDateTime
                - startedDateTime
                - status
                - userTimezone
                - activity
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activity
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.activityHistoryItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userActivity
      summary: Create new navigation property to historyItems for users
      operationId: users.activities_CreateHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}':
    get:
      tags:
        - users.userActivity
      summary: Get historyItems from users
      operationId: users.activities_GetHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeDurationSeconds
                - createdDateTime
                - expirationDateTime
                - lastActiveDateTime
                - lastModifiedDateTime
                - startedDateTime
                - status
                - userTimezone
                - activity
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activity
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
          links:
            activity:
              operationId: users.activities.HistoryItems.GetActivity
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
                activityHistoryItem-id: $request.path.activityHistoryItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userActivity
      summary: Update the navigation property historyItems in users
      operationId: users.activities_UpdateHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userActivity
      summary: Delete navigation property historyItems for users
      operationId: users.activities_DeleteHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}/activity':
    get:
      tags:
        - users.userActivity
      summary: Get activity from users
      operationId: users.activities.historyItems_GetActivity
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationUrl
                - activitySourceHost
                - appActivityId
                - appDisplayName
                - contentInfo
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - status
                - userTimezone
                - visualElements
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
          links:
            historyItems:
              operationId: users.activities.historyItems.Activity.ListHistoryItems
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
                activityHistoryItem-id: $request.path.activityHistoryItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices':
    get:
      tags:
        - users.device
      summary: Get devices from users
      operationId: users_ListDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - alternativeSecurityIds
                - alternativeSecurityIds desc
                - approximateLastSignInDateTime
                - approximateLastSignInDateTime desc
                - complianceExpirationDateTime
                - complianceExpirationDateTime desc
                - deviceCategory
                - deviceCategory desc
                - deviceId
                - deviceId desc
                - deviceMetadata
                - deviceMetadata desc
                - deviceOwnership
                - deviceOwnership desc
                - deviceVersion
                - deviceVersion desc
                - displayName
                - displayName desc
                - domainName
                - domainName desc
                - enrollmentProfileName
                - enrollmentProfileName desc
                - enrollmentType
                - enrollmentType desc
                - extensionAttributes
                - extensionAttributes desc
                - hostnames
                - hostnames desc
                - isCompliant
                - isCompliant desc
                - isManaged
                - isManaged desc
                - isManagementRestricted
                - isManagementRestricted desc
                - isRooted
                - isRooted desc
                - managementType
                - managementType desc
                - mdmAppId
                - mdmAppId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - operatingSystem
                - operatingSystem desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - physicalIds
                - physicalIds desc
                - profileType
                - profileType desc
                - registrationDateTime
                - registrationDateTime desc
                - systemLabels
                - systemLabels desc
                - trustType
                - trustType desc
                - kind
                - kind desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - name
                - name desc
                - platform
                - platform desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceCategory
                - deviceId
                - deviceMetadata
                - deviceOwnership
                - deviceVersion
                - displayName
                - domainName
                - enrollmentProfileName
                - enrollmentType
                - extensionAttributes
                - hostnames
                - isCompliant
                - isManaged
                - isManagementRestricted
                - isRooted
                - managementType
                - mdmAppId
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - registrationDateTime
                - systemLabels
                - trustType
                - kind
                - manufacturer
                - model
                - name
                - platform
                - status
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property to devices for users
      operationId: users_CreateDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}':
    get:
      tags:
        - users.device
      summary: Get devices from users
      operationId: users_GetDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceCategory
                - deviceId
                - deviceMetadata
                - deviceOwnership
                - deviceVersion
                - displayName
                - domainName
                - enrollmentProfileName
                - enrollmentType
                - extensionAttributes
                - hostnames
                - isCompliant
                - isManaged
                - isManagementRestricted
                - isRooted
                - managementType
                - mdmAppId
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - registrationDateTime
                - systemLabels
                - trustType
                - kind
                - manufacturer
                - model
                - name
                - platform
                - status
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
          links:
            usageRights:
              operationId: users.Devices.ListUsageRights
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            memberOf:
              operationId: users.Devices.ListMemberGraphOPre
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            registeredOwners:
              operationId: users.Devices.ListRegisteredOwners
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            registeredUsers:
              operationId: users.Devices.ListRegisteredUsers
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            transitiveMemberOf:
              operationId: users.Devices.ListTransitiveMemberGraphOPre
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            extensions:
              operationId: users.Devices.ListExtensions
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            commands:
              operationId: users.Devices.ListCommands
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            checkMemberGroups:
              operationId: users.user.devices.device.checkMemberGroups
            checkMemberObjects:
              operationId: users.user.devices.device.checkMemberObjects
            getMemberGroups:
              operationId: users.user.devices.device.getMemberGroups
            getMemberObjects:
              operationId: users.user.devices.device.getMemberObjects
            restore:
              operationId: users.user.devices.device.restore
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.device
      summary: Update the navigation property devices in users
      operationId: users_UpdateDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.device
      summary: Delete navigation property devices for users
      operationId: users_DeleteDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/commands':
    get:
      tags:
        - users.device
      summary: Get commands from users
      description: Set of commands sent to this device.
      operationId: users.devices_ListCommands
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appServiceName
                - appServiceName desc
                - error
                - error desc
                - packageFamilyName
                - packageFamilyName desc
                - payload
                - payload desc
                - permissionTicket
                - permissionTicket desc
                - postBackUri
                - postBackUri desc
                - status
                - status desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appServiceName
                - error
                - packageFamilyName
                - payload
                - permissionTicket
                - postBackUri
                - status
                - type
                - responsepayload
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - responsepayload
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.commandCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property to commands for users
      operationId: users.devices_CreateCommands
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.command'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.command'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/commands/{command-id}':
    get:
      tags:
        - users.device
      summary: Get commands from users
      description: Set of commands sent to this device.
      operationId: users.devices_GetCommands
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: command
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appServiceName
                - error
                - packageFamilyName
                - payload
                - permissionTicket
                - postBackUri
                - status
                - type
                - responsepayload
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - responsepayload
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.command'
          links:
            responsepayload:
              operationId: users.devices.Commands.GetResponsepayload
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
                command-id: $request.path.command-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.device
      summary: Update the navigation property commands in users
      operationId: users.devices_UpdateCommands
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: command
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.command'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.device
      summary: Delete navigation property commands for users
      operationId: users.devices_DeleteCommands
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: command
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/commands/{command-id}/responsepayload':
    get:
      tags:
        - users.device
      summary: Get responsepayload from users
      operationId: users.devices.commands_GetResponsepayload
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: command
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payloadResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/extensions':
    get:
      tags:
        - users.device
      summary: Get extensions from users
      description: The collection of open extensions defined for the device. Read-only. Nullable.
      operationId: users.devices_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property to extensions for users
      operationId: users.devices_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/extensions/{extension-id}':
    get:
      tags:
        - users.device
      summary: Get extensions from users
      description: The collection of open extensions defined for the device. Read-only. Nullable.
      operationId: users.devices_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.device
      summary: Update the navigation property extensions in users
      operationId: users.devices_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.device
      summary: Delete navigation property extensions for users
      operationId: users.devices_DeleteExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/memberOf':
    get:
      tags:
        - users.device
      summary: Get memberOf from users
      description: Groups and administrative units that this device is a member of. Read-only. Nullable. Supports $expand.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/device-list-memberof?view=graph-rest-1.0
      operationId: users.devices_ListMemberGraphOPre
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - users.device
      summary: Get memberOf from users
      description: Groups and administrative units that this device is a member of. Read-only. Nullable. Supports $expand.
      operationId: users.devices_GetMemberGraphOPre
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredOwners':
    get:
      tags:
        - users.device
      summary: Get registeredOwners from users
      description: 'The user that cloud joined the device or registered their personal device. The registered owner is set at the time of registration. Currently, there can be only one owner. Read-only. Nullable. Supports $expand.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/device-list-registeredowners?view=graph-rest-1.0
      operationId: users.devices_ListRegisteredOwners
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredOwners/{directoryObject-id}/$ref':
    delete:
      tags:
        - users.device
      summary: Delete ref of navigation property registeredOwners for users
      operationId: users.devices_DeleteRegisteredOwnersGraphBPreRef
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          style: form
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredOwners/$ref':
    get:
      tags:
        - users.device
      summary: Get ref of registeredOwners from users
      description: 'The user that cloud joined the device or registered their personal device. The registered owner is set at the time of registration. Currently, there can be only one owner. Read-only. Nullable. Supports $expand.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/device-list-registeredowners?view=graph-rest-1.0
      operationId: users.devices_ListRegisteredOwnersGraphBPreRef
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property ref to registeredOwners for users
      operationId: users.devices_CreateRegisteredOwnersGraphBPreRef
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredUsers':
    get:
      tags:
        - users.device
      summary: Get registeredUsers from users
      description: 'Collection of registered users of the device. For cloud joined devices and registered personal devices, registered users are set to the same value as registered owners at the time of registration. Read-only. Nullable. Supports $expand.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/device-list-registeredusers?view=graph-rest-1.0
      operationId: users.devices_ListRegisteredUsers
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredUsers/{directoryObject-id}':
    get:
      tags:
        - users.device
      summary: Get registeredUsers from users
      description: 'Collection of registered users of the device. For cloud joined devices and registered personal devices, registered users are set to the same value as registered owners at the time of registration. Read-only. Nullable. Supports $expand.'
      operationId: users.devices_GetRegisteredUsers
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/transitiveMemberOf':
    get:
      tags:
        - users.device
      summary: Get transitiveMemberOf from users
      description: Groups and administrative units that this device is a member of. This operation is transitive. Supports $expand.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/device-list-transitivememberof?view=graph-rest-1.0
      operationId: users.devices_ListTransitiveMemberGraphOPre
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/transitiveMemberOf/{directoryObject-id}':
    get:
      tags:
        - users.device
      summary: Get transitiveMemberOf from users
      description: Groups and administrative units that this device is a member of. This operation is transitive. Supports $expand.
      operationId: users.devices_GetTransitiveMemberGraphOPre
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/usageRights':
    get:
      tags:
        - users.device
      summary: List device usageRights
      description: Retrieve a list of usageRight objects for a given device.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/device-list-usagerights?view=graph-rest-1.0
      operationId: users.devices_ListUsageRights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - catalogId
                - catalogId desc
                - serviceIdentifier
                - serviceIdentifier desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - catalogId
                - serviceIdentifier
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.usageRightCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property to usageRights for users
      operationId: users.devices_CreateUsageRights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usageRight'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usageRight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/usageRights/{usageRight-id}':
    get:
      tags:
        - users.device
      summary: Get usageRights from users
      description: Represents the usage rights a device has been granted.
      operationId: users.devices_GetUsageRights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: usageRight-id
          in: path
          description: 'key: id of usageRight'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: usageRight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - catalogId
                - serviceIdentifier
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usageRight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.device
      summary: Update the navigation property usageRights in users
      operationId: users.devices_UpdateUsageRights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: usageRight-id
          in: path
          description: 'key: id of usageRight'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: usageRight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usageRight'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.device
      summary: Delete navigation property usageRights for users
      operationId: users.devices_DeleteUsageRights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: usageRight-id
          in: path
          description: 'key: id of usageRight'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: usageRight
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.userActivity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userActivity
          type: object
          properties:
            activationUrl:
              type: string
            activitySourceHost:
              type: string
            appActivityId:
              type: string
            appDisplayName:
              type: string
              nullable: true
            contentInfo:
              $ref: '#/components/schemas/microsoft.graph.Json'
            contentUrl:
              type: string
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            fallbackUrl:
              type: string
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            userTimezone:
              type: string
              nullable: true
            visualElements:
              $ref: '#/components/schemas/microsoft.graph.visualInfo'
            historyItems:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.activityHistoryItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: activityHistoryItem
          type: object
          properties:
            activeDurationSeconds:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastActiveDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            startedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            userTimezone:
              type: string
              nullable: true
            activity:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
          additionalProperties:
            type: object
    microsoft.graph.device:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: device
          type: object
          properties:
            accountEnabled:
              type: boolean
              description: 'true if the account is enabled; otherwise, false. Default is true.  Supports $filter (eq, ne, not, in). Only callers in Global Administrator and Cloud Device Administrator roles can set this property.'
              nullable: true
            alternativeSecurityIds:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alternativeSecurityId'
              description: 'For internal use only. Not nullable. Supports $filter (eq, not, ge, le).'
            approximateLastSignInDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only. Supports $filter (eq, ne, not, ge, le, and eq on null values) and $orderBy.'
              format: date-time
              nullable: true
            complianceExpirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp when the device is no longer deemed compliant. The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.'
              format: date-time
              nullable: true
            deviceCategory:
              type: string
              description: User-defined property set by Intune to automatically add devices to groups and simplify managing devices.
              nullable: true
            deviceId:
              type: string
              description: 'Identifier set by Azure Device Registration Service at the time of registration. Supports $filter (eq, ne, not, startsWith).'
              nullable: true
            deviceMetadata:
              type: string
              description: For internal use only. Set to null.
              nullable: true
            deviceOwnership:
              type: string
              description: 'Ownership of the device. This property is set by Intune. Possible values are: unknown, company, personal.'
              nullable: true
            deviceVersion:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: For internal use only.
              format: int32
              nullable: true
            displayName:
              type: string
              description: 'The display name for the device. Required. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values), $search, and $orderBy.'
              nullable: true
            domainName:
              type: string
              description: The on-premises domain name of Hybrid Azure AD joined devices. This property is set by Intune.
              nullable: true
            enrollmentProfileName:
              type: string
              description: 'Enrollment profile applied to the device. For example, Apple Device Enrollment Profile, Device enrollment - Corporate device identifiers, or Windows Autopilot profile name. This property is set by Intune.'
              nullable: true
            enrollmentType:
              type: string
              description: 'Enrollment type of the device. This property is set by Intune. Possible values are: unknown, userEnrollment, deviceEnrollmentManager, appleBulkWithUser, appleBulkWithoutUser, windowsAzureADJoin, windowsBulkUserless, windowsAutoEnrollment, windowsBulkAzureDomainJoin, windowsCoManagement.'
              nullable: true
            extensionAttributes:
              $ref: '#/components/schemas/microsoft.graph.onPremisesExtensionAttributes'
            hostnames:
              type: array
              items:
                type: string
                nullable: true
              description: List of hostNames for the device.
            isCompliant:
              type: boolean
              description: 'true if the device complies with Mobile Device Management (MDM) policies; otherwise, false. Read-only. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices. Supports $filter (eq, ne, not).'
              nullable: true
            isManaged:
              type: boolean
              description: 'true if the device is managed by a Mobile Device Management (MDM) app; otherwise, false. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices. Supports $filter (eq, ne, not).'
              nullable: true
            isManagementRestricted:
              type: boolean
              nullable: true
            isRooted:
              type: boolean
              description: true if device is rooted; false if device is jail-broken. This can only be updated by Intune.
              nullable: true
            managementType:
              type: string
              description: 'Management channel of the device.  This property is set by Intune. Possible values are: eas, mdm, easMdm, intuneClient, easIntuneClient, configurationManagerClient, configurationManagerClientMdm, configurationManagerClientMdmEas, unknown, jamf, googleCloudDevicePolicyController.'
              nullable: true
            mdmAppId:
              type: string
              description: 'Application identifier used to register device into MDM. Read-only. Supports $filter (eq, ne, not, startsWith).'
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The last time at which the object was synced with the on-premises directory. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z Read-only. Supports $filter (eq, ne, not, ge, le, in).'
              format: date-time
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              description: 'true if this object is synced from an on-premises directory; false if this object was originally synced from an on-premises directory but is no longer synced; null if this object has never been synced from an on-premises directory (default). Read-only. Supports $filter (eq, ne, not, in, and eq on null values).'
              nullable: true
            operatingSystem:
              type: string
              description: 'The type of operating system on the device. Required. Supports $filter (eq, ne, not, ge, le, startsWith, and eq on null values).'
              nullable: true
            operatingSystemVersion:
              type: string
              description: 'Operating system version of the device. Required. Supports $filter (eq, ne, not, ge, le, startsWith, and eq on null values).'
              nullable: true
            physicalIds:
              type: array
              items:
                type: string
              description: 'For internal use only. Not nullable. Supports $filter (eq, not, ge, le, startsWith, and counting empty collections).'
            profileType:
              type: string
              description: 'The profile type of the device. Possible values: RegisteredDevice (default), SecureVM, Printer, Shared, IoT.'
              nullable: true
            registrationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Date and time of when the device was registered. The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.'
              format: date-time
              nullable: true
            systemLabels:
              type: array
              items:
                type: string
              description: List of labels applied to the device by the system. Supports $filter (eq when counting empty collections).
            trustType:
              type: string
              description: 'Type of trust for the joined device. Read-only. Possible values: Workplace (indicates bring your own personal devices), AzureAd (Cloud only joined devices), ServerAd (on-premises domain joined devices joined to Azure AD). For more details, see Introduction to device management in Azure Active Directory'
              nullable: true
            kind:
              type: string
              description: Form factor of device. Only returned if user signs in with a Microsoft account as part of Project Rome.
              nullable: true
            manufacturer:
              type: string
              description: Manufacturer of the device. Read-only.
              nullable: true
            model:
              type: string
              description: Model of the device. Read-only.
              nullable: true
[...]
