openapi: 3.0.4
info:
  title: CrossTenantAccessPolicies
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /policies/crossTenantAccessPolicy:
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get crossTenantAccessPolicy
      description: Read the properties and relationships of a crossTenantAccessPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicy-get?view=graph-rest-beta
      operationId: policy_GetCrossTenantAccessPolicy
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Update crossTenantAccessPolicy
      description: Update the properties of a cross-tenant access policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicy-update?view=graph-rest-beta
      operationId: policy_UpdateCrossTenantAccessPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Delete navigation property crossTenantAccessPolicy for policies
      operationId: policy_DeleteCrossTenantAccessPolicy
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/default:
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get crossTenantAccessPolicyConfigurationDefault
      description: Read the default configuration of a cross-tenant access policy. This default configuration may be the service default assigned by Microsoft Entra ID (isServiceDefault is true) or may be customized in your tenant (isServiceDefault is false).
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationdefault-get?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy_GetDefault
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Update crossTenantAccessPolicyConfigurationDefault
      description: Update the default configuration of a cross-tenant access policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationdefault-update?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy_UpdateDefault
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Delete navigation property default for policies
      operationId: policy.crossTenantAccessPolicy_DeleteDefault
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/default/m365Capabilities:
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: List m365Capabilities for default policy
      description: 'Get a list of Microsoft 365 cross-tenant capabilities configured for the default cross-tenant access policy. The returned collection is a heterogeneous collection of derived types of m365CapabilityBase, differentiated by their @odata.type property.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationdefault-list-m365capabilities?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.default_ListM365Capability
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.m365CapabilityBaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Create m365CapabilityBase for default policy
      description: Create a new Microsoft 365 cross-tenant capability for the default cross-tenant access policy. The @odata.type property in the request body is required to specify which type of capability to create.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationdefault-post-m365capabilities?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.default_CreateM365Capability
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/crossTenantAccessPolicy/default/m365Capabilities/{m365CapabilityBase-name}':
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get m365Capabilities from policies
      description: Defines the default Microsoft 365 cross-tenant capabilities for inbound access from external organizations.
      operationId: policy.crossTenantAccessPolicy.default_GetM365Capability
      parameters:
        - name: m365CapabilityBase-name
          in: path
          description: The unique identifier of m365CapabilityBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: m365CapabilityBase
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Update the navigation property m365Capabilities in policies
      operationId: policy.crossTenantAccessPolicy.default_UpdateM365Capability
      parameters:
        - name: m365CapabilityBase-name
          in: path
          description: The unique identifier of m365CapabilityBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: m365CapabilityBase
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Delete navigation property m365Capabilities for policies
      operationId: policy.crossTenantAccessPolicy.default_DeleteM365Capability
      parameters:
        - name: m365CapabilityBase-name
          in: path
          description: The unique identifier of m365CapabilityBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: m365CapabilityBase
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/default/m365Capabilities/$count:
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get the number of the resource
      operationId: policy.crossTenantAccessPolicy.default.m365Capability_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /policies/crossTenantAccessPolicy/default/microsoft.graph.resetToSystemDefault:
    post:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Invoke action resetToSystemDefault
      description: Reset any changes made to the default configuration in a cross-tenant access policy back to the system default.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationdefault-resettosystemdefault?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.default_resetToSystemDefault
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /policies/crossTenantAccessPolicy/partners:
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: List partners
      description: Get a list of all partner configurations within a cross-tenant access policy. You can also use the $expand parameter to list the user and group synchronization policy for all partner configurations.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicy-list-partners?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy_ListPartner
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.crossTenantAccessPolicyConfigurationPartnerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Create crossTenantAccessPolicyConfigurationPartner
      description: Create a new partner configuration in a cross-tenant access policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicy-post-partners?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy_CreatePartner
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/crossTenantAccessPolicy/partners/{crossTenantAccessPolicyConfigurationPartner-tenantId}':
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get crossTenantAccessPolicyConfigurationPartner
      description: Read the properties and relationships of a partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-get?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy_GetPartner
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Update crossTenantAccessPolicyConfigurationPartner
      description: Update the properties of a partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-update?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy_UpdatePartner
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Delete crossTenantAccessPolicyConfigurationPartner
      description: 'Delete a partner-specific configuration in a cross-tenant access policy. If a configuration includes a user synchronization policy, you must first delete the user synchronization policy before you can delete the partner-specific configuration.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-delete?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy_DeletePartner
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/crossTenantAccessPolicy/partners/{crossTenantAccessPolicyConfigurationPartner-tenantId}/identitySynchronization':
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get crossTenantIdentitySyncPolicyPartner
      description: Get the user and group synchronization policy of a partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantidentitysyncpolicypartner-get?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.partner_GetIdentitySynchronization
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantIdentitySyncPolicyPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Create identitySynchronization
      description: Create a cross-tenant user and optionally group synchronization policy for a partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-put-identitysynchronization?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.partner_SetIdentitySynchronization
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantIdentitySyncPolicyPartner'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantIdentitySyncPolicyPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Delete crossTenantIdentitySyncPolicyPartner
      description: Delete the user and group synchronization policy for a partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantidentitysyncpolicypartner-delete?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.partner_DeleteIdentitySynchronization
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/crossTenantAccessPolicy/partners/{crossTenantAccessPolicyConfigurationPartner-tenantId}/identitySynchronization/microsoft.graph.restore':
    post:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Invoke action restore
      description: Restore a deleted crossTenantIdentitySyncPolicyPartner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantidentitysyncpolicypartner-restore?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.partner.identitySynchronization_restore
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantIdentitySyncPolicyPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/policies/crossTenantAccessPolicy/partners/{crossTenantAccessPolicyConfigurationPartner-tenantId}/m365Capabilities':
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: List m365Capabilities for partner
      description: 'Get a list of Microsoft 365 cross-tenant capabilities configured for a partner organization in the cross-tenant access policy. The returned collection is a heterogeneous collection of derived types of m365CapabilityBase, differentiated by their @odata.type property.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-list-m365capabilities?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.partner_ListM365Capability
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.m365CapabilityBaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Create m365CapabilityBase for partner
      description: Create a new Microsoft 365 cross-tenant capability for a partner organization in the cross-tenant access policy. The @odata.type property in the request body is required to specify which type of capability to create.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-post-m365capabilities?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.partner_CreateM365Capability
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/crossTenantAccessPolicy/partners/{crossTenantAccessPolicyConfigurationPartner-tenantId}/m365Capabilities/{m365CapabilityBase-name}':
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get m365Capabilities from policies
      description: Defines the partner-specific Microsoft 365 cross-tenant capabilities for inbound access from the partner organization.
      operationId: policy.crossTenantAccessPolicy.partner_GetM365Capability
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
        - name: m365CapabilityBase-name
          in: path
          description: The unique identifier of m365CapabilityBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: m365CapabilityBase
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Update the navigation property m365Capabilities in policies
      operationId: policy.crossTenantAccessPolicy.partner_UpdateM365Capability
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
        - name: m365CapabilityBase-name
          in: path
          description: The unique identifier of m365CapabilityBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: m365CapabilityBase
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Delete navigation property m365Capabilities for policies
      operationId: policy.crossTenantAccessPolicy.partner_DeleteM365Capability
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
        - name: m365CapabilityBase-name
          in: path
          description: The unique identifier of m365CapabilityBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: m365CapabilityBase
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/crossTenantAccessPolicy/partners/{crossTenantAccessPolicyConfigurationPartner-tenantId}/m365Capabilities/$count':
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get the number of the resource
      operationId: policy.crossTenantAccessPolicy.partner.m365Capability_GetCount
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/policies/crossTenantAccessPolicy/partners/{crossTenantAccessPolicyConfigurationPartner-tenantId}/microsoft.graph.restore':
    post:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Invoke action restore
      description: 'Restore a deleted crossTenantAccessPolicyConfigurationPartner object. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-restore?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.partner_restore
      parameters:
        - name: crossTenantAccessPolicyConfigurationPartner-tenantId
          in: path
          description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /policies/crossTenantAccessPolicy/partners/$count:
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get the number of the resource
      operationId: policy.crossTenantAccessPolicy.partner_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /policies/crossTenantAccessPolicy/templates:
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get templates from policies
      description: Represents the base policy in the directory for multi-tenant organization settings.
      operationId: policy.crossTenantAccessPolicy_GetTemplate
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.policyTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Update the navigation property templates in policies
      operationId: policy.crossTenantAccessPolicy_UpdateTemplate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.policyTemplate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.policyTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Delete navigation property templates for policies
      operationId: policy.crossTenantAccessPolicy_DeleteTemplate
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/templates/multiTenantOrganizationIdentitySynchronization:
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get multiTenantOrganizationIdentitySyncPolicyTemplate
      description: Get the cross-tenant access policy template with user synchronization settings for a multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationidentitysyncpolicytemplate-get?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.template_GetMultiTenantOrganizationIdentitySynchronization
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Update multiTenantOrganizationIdentitySyncPolicyTemplate
      description: Update the cross-tenant access policy template with user synchronization settings for a multi-tenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationidentitysyncpolicytemplate-update?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.template_UpdateMultiTenantOrganizationIdentitySynchronization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Delete navigation property multiTenantOrganizationIdentitySynchronization for policies
      operationId: policy.crossTenantAccessPolicy.template_DeleteMultiTenantOrganizationIdentitySynchronization
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/templates/multiTenantOrganizationIdentitySynchronization/microsoft.graph.resetToDefaultSettings:
    post:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Invoke action resetToDefaultSettings
      description: 'Reset the cross-tenant access policy template with user synchronization settings for a multitenant organization to the default values. In its reset state, the template has no impact on user synchronization settings, other than that unconfigured user synchronization settings are created if needed, for every multitenant organization tenant.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationidentitysyncpolicytemplate-resettodefaultsettings?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.template.multiTenantOrganizationIdentitySynchronization_resetToDefaultSetting
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /policies/crossTenantAccessPolicy/templates/multiTenantOrganizationPartnerConfiguration:
    get:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Get multiTenantOrganizationPartnerConfigurationTemplate
      description: Get the cross-tenant access policy template with inbound and outbound partner configuration settings for a multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationpartnerconfigurationtemplate-get?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.template_GetMultiTenantOrganizationPartnerConfiguration
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Update multiTenantOrganizationPartnerConfigurationTemplate
      description: Update the cross-tenant access policy template with inbound and outbound partner configuration settings for a multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationpartnerconfigurationtemplate-update?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.template_UpdateMultiTenantOrganizationPartnerConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Delete navigation property multiTenantOrganizationPartnerConfiguration for policies
      operationId: policy.crossTenantAccessPolicy.template_DeleteMultiTenantOrganizationPartnerConfiguration
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/templates/multiTenantOrganizationPartnerConfiguration/microsoft.graph.resetToDefaultSettings:
    post:
      tags:
        - policies.crossTenantAccessPolicy
      summary: Invoke action resetToDefaultSettings
      description: 'Reset the cross-tenant access policy template with inbound and outbound partner configuration settings for a multitenant organization to the default values. In its reset state, the template has no impact on partner configuration settings, other than that an unconfigured partner configuration is created if needed, for every multitenant organization tenant.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationpartnerconfigurationtemplate-resettodefaultsettings?view=graph-rest-beta
      operationId: policy.crossTenantAccessPolicy.template.multiTenantOrganizationPartnerConfiguration_resetToDefaultSetting
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.crossTenantAccessPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.tenantRelationshipAccessPolicyBase'
        - title: crossTenantAccessPolicy
          type: object
          properties:
            allowedCloudEndpoints:
              type: array
              items:
                type: string
              description: 'Used to specify which Microsoft clouds an organization would like to collaborate with. By default, this value is empty. Supported values for this field are: microsoftonline.com, microsoftonline.us, and partner.microsoftonline.cn.'
            default:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
            partners:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
              description: Defines partner-specific configurations for external Microsoft Entra organizations.
              x-ms-navigationProperty: true
            templates:
              $ref: '#/components/schemas/microsoft.graph.policyTemplate'
          additionalProperties:
            type: object
    microsoft.graph.crossTenantAccessPolicyConfigurationDefault:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: crossTenantAccessPolicyConfigurationDefault
          type: object
          properties:
            appServiceConnectInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyAppServiceConnectSetting'
            automaticUserConsentSettings:
              $ref: '#/components/schemas/microsoft.graph.inboundOutboundPolicyConfiguration'
            b2bCollaborationInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            b2bCollaborationOutbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            b2bDirectConnectInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            b2bDirectConnectOutbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            blockServiceProviderOutboundAccess:
              type: boolean
              description: Specifies whether users can use granular delegated admin privileges (GDAP) to sign-in and access resources in other organizations. Default value is false.
              nullable: true
            inboundTrust:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyInboundTrust'
            invitationRedemptionIdentityProviderConfiguration:
              $ref: '#/components/schemas/microsoft.graph.defaultInvitationRedemptionIdentityProviderConfiguration'
            isServiceDefault:
              type: boolean
              description: 'If true, the default configuration is set to the system default configuration. If false, the default settings are customized.'
              nullable: true
            m365CollaborationInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyM365CollaborationInboundSetting'
            m365CollaborationOutbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyM365CollaborationOutboundSetting'
            tenantRestrictions:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTenantRestrictions'
            m365Capabilities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
              description: Defines the default Microsoft 365 cross-tenant capabilities for inbound access from external organizations.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.m365CapabilityBase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: m365CapabilityBase
          type: object
          properties:
            inboundAccess:
              $ref: '#/components/schemas/microsoft.graph.m365CapabilityInboundAccess'
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The automatically updated last modified timestamp for the capability. The timestamp type represents date and time information using ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2024, is 2024-01-01T00:00:00Z.'
              format: date-time
            name:
              type: string
              description: The name or identifier of the capability. Key.
          additionalProperties:
            type: object
    microsoft.graph.crossTenantAccessPolicyConfigurationPartner:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.policyDeletableItem'
        - title: crossTenantAccessPolicyConfigurationPartner
          type: object
          properties:
            appServiceConnectInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyAppServiceConnectSetting'
            automaticUserConsentSettings:
              $ref: '#/components/schemas/microsoft.graph.inboundOutboundPolicyConfiguration'
            b2bCollaborationInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            b2bCollaborationOutbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            b2bDirectConnectInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            b2bDirectConnectOutbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            blockServiceProviderOutboundAccess:
              type: boolean
              description: Specifies whether users can use granular delegated admin privileges (GDAP) to sign-in and access resources in other organizations. Default value is false.
              nullable: true
            inboundTrust:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyInboundTrust'
            isInMultiTenantOrganization:
              type: boolean
              description: Identifies whether a tenant is a member of a multitenant organization.
              nullable: true
            isServiceProvider:
              type: boolean
              description: Identifies whether the partner-specific configuration is a Cloud Service Provider for your organization.
              nullable: true
            m365CollaborationInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyM365CollaborationInboundSetting'
            m365CollaborationOutbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyM365CollaborationOutboundSetting'
            tenantId:
              type: string
              description: The tenant identifier for the partner Microsoft Entra organization. Read-only. Key.
            tenantRestrictions:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTenantRestrictions'
            identitySynchronization:
              $ref: '#/components/schemas/microsoft.graph.crossTenantIdentitySyncPolicyPartner'
            m365Capabilities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
              description: Defines the partner-specific Microsoft 365 cross-tenant capabilities for inbound access from the partner organization.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.crossTenantIdentitySyncPolicyPartner:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.policyDeletableItem'
        - title: crossTenantIdentitySyncPolicyPartner
          type: object
          properties:
            displayName:
              type: string
              description: Display name for the cross-tenant user and group synchronization policy. Use the name of the partner Microsoft Entra tenant to easily identify the policy. Optional.
              nullable: true
            externalCloudAuthorizedApplicationId:
              type: string
              nullable: true
            groupSyncInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantGroupSyncInbound'
            tenantId:
              type: string
              description: Tenant identifier for the partner Microsoft Entra organization. Key. Read-only.
            userSyncInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantUserSyncInbound'
          additionalProperties:
            type: object
    microsoft.graph.policyTemplate:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: policyTemplate
          type: object
          properties:
            multiTenantOrganizationIdentitySynchronization:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate'
            multiTenantOrganizationPartnerConfiguration:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate'
          additionalProperties:
            type: object
    microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: multiTenantOrganizationIdentitySyncPolicyTemplate
          type: object
          properties:
            templateApplicationLevel:
              $ref: '#/components/schemas/microsoft.graph.templateApplicationLevel'
            userSyncInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantUserSyncInbound'
          additionalProperties:
            type: object
    microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: multiTenantOrganizationPartnerConfigurationTemplate
          type: object
          properties:
            automaticUserConsentSettings:
              $ref: '#/components/schemas/microsoft.graph.inboundOutboundPolicyConfiguration'
            b2bCollaborationInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            b2bCollaborationOutbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            b2bDirectConnectInbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            b2bDirectConnectOutbound:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
            inboundTrust:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyInboundTrust'
            templateApplicationLevel:
              $ref: '#/components/schemas/microsoft.graph.templateApplicationLevel'
          additionalProperties:
            type: object
    microsoft.graph.tenantRelationshipAccessPolicyBase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.policyBase'
        - title: tenantRelationshipAccessPolicyBase
          type: object
          properties:
            definition:
              type: array
              items:
                type: string
              description: The raw JSON definition of the cross-tenant access policy. Deprecated. Do not use.
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.crossTenantAccessPolicyAppServiceConnectSetting:
      title: crossTenantAccessPolicyAppServiceConnectSetting
      type: object
      properties:
        applications:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfiguration'
      additionalProperties:
        type: object
    microsoft.graph.inboundOutboundPolicyConfiguration:
      title: inboundOutboundPolicyConfiguration
      type: object
      properties:
        inboundAllowed:
          type: boolean
          description: Defines whether external users coming inbound are allowed.
          nullable: true
        outboundAllowed:
          type: boolean
          description: Defines whether internal users are allowed to go outbound.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.crossTenantAccessPolicyB2BSetting:
      title: crossTenantAccessPolicyB2BSetting
      type: object
      properties:
        applications:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfiguration'
        usersAndGroups:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfiguration'
      additionalProperties:
        type: object
    microsoft.graph.crossTenantAccessPolicyInboundTrust:
      title: crossTenantAccessPolicyInboundTrust
      type: object
      properties:
        isCompliantDeviceAccepted:
          type: boolean
          description: Specifies whether compliant devices from external Microsoft Entra organizations are trusted.
          nullable: true
        isHybridAzureADJoinedDeviceAccepted:
          type: boolean
          description: Specifies whether Microsoft Entra hybrid joined devices from external Microsoft Entra organizations are trusted.
          nullable: true
        isMfaAccepted:
          type: boolean
          description: Specifies whether MFA from external Microsoft Entra organizations is trusted.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.defaultInvitationRedemptionIdentityProviderConfiguration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.invitationRedemptionIdentityProviderConfiguration'
        - title: defaultInvitationRedemptionIdentityProviderConfiguration
          type: object
          additionalProperties:
            type: object
    microsoft.graph.crossTenantAccessPolicyM365CollaborationInboundSetting:
      title: crossTenantAccessPolicyM365CollaborationInboundSetting
      type: object
      properties:
        users:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfiguration'
      additionalProperties:
        type: object
    microsoft.graph.crossTenantAccessPolicyM365CollaborationOutboundSetting:
      title: crossTenantAccessPolicyM365CollaborationOutboundSetting
      type: object
      properties:
        usersAndGroups:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfiguration'
      additionalProperties:
        type: object
    microsoft.graph.crossTenantAccessPolicyTenantRestrictions:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
        - title: crossTenantAccessPolicyTenantRestrictions
          type: object
          properties:
            devices:
              $ref: '#/components/schemas/microsoft.graph.devicesFilter'
          additionalProperties:
            type: object
    microsoft.graph.m365CapabilityInboundAccess:
      title: m365CapabilityInboundAccess
      type: object
      properties:
        isAllowed:
          type: boolean
          description: Indicates whether this capability should be allowed or blocked for inbound access.
          nullable: true
        resourceScopes:
          $ref: '#/components/schemas/microsoft.graph.m365CapabilityResourceScopes'
      additionalProperties:
        type: object
    microsoft.graph.policyDeletableItem:
      title: policyDeletableItem
      type: object
      properties:
        deletedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: Shows the last date and time the policy was deleted.
          format: date-time
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.crossTenantGroupSyncInbound:
      title: crossTenantGroupSyncInbound
      type: object
      properties:
        isSyncAllowed:
          type: boolean
          description: Defines whether group objects should be synchronized from the partner tenant. false stops any current group synchronization from the source tenant to the target tenant. This property has no impact on existing groups that were synchronized.
      additionalProperties:
        type: object
    microsoft.graph.crossTenantUserSyncInbound:
      title: crossTenantUserSyncInbound
      type: object
      properties:
        isSyncAllowed:
          type: boolean
          description: Defines whether user objects should be synchronized from the partner tenant. false causes any current user synchronization from the source tenant to the target tenant to stop. This property has no impact on existing users who have already been synchronized.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.templateApplicationLevel:
      title: templateApplicationLevel
      enum:
        - none
        - newPartners
        - existingPartners
        - unknownFutureValue
      type: string
      x-ms-enum-flags:
        isFlags: true
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.m365CapabilityBaseCollectionResponse:
      title: Collection of m365CapabilityBase
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.m365CapabilityBase'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.crossTenantAccessPolicyConfigurationPartnerCollectionResponse:
      title: Collection of crossTenantAccessPolicyConfigurationPartner
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.policyBase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: policyBase
          type: object
          properties:
            description:
              type: string
              description: Description for this policy. Required.
            displayName:
              type: string
              description: Display name for this policy. Required.
          additionalProperties:
            type: object
    microsoft.graph.crossTenantAccessPolicyTargetConfiguration:
      title: crossTenantAccessPolicyTargetConfiguration
      type: object
      properties:
        accessType:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfigurationAccessType'
        targets:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTarget'
          description: 'Specifies whether to target users, groups, or applications with this rule.'
      additionalProperties:
        type: object
    microsoft.graph.invitationRedemptionIdentityProviderConfiguration:
      title: invitationRedemptionIdentityProviderConfiguration
      type: object
      properties:
        fallbackIdentityProvider:
          $ref: '#/components/schemas/microsoft.graph.b2bIdentityProvidersType'
        primaryIdentityProviderPrecedenceOrder:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.b2bIdentityProvidersType'
          description: 'Collection of identity providers in priority order of preference to be used for guest invitation redemption. The possible values are: azureActiveDirectory, externalFederation, or socialIdentityProviders.'
      additionalProperties:
        type: object
    microsoft.graph.devicesFilter:
      title: devicesFilter
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfigurationAccessType'
        rule:
          type: string
          description: 'Defines the rule to filter the devices. For example, device.deviceAttribute2 -eq ''PrivilegedAccessWorkstation''.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.m365CapabilityResourceScopes:
      title: m365CapabilityResourceScopes
      type: object
      properties:
        excluded:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.m365CapabilityResourceScope'
          description: 'Resources to exclude from the scope. If a resource appears in both included and excluded, the excluded property takes precedence.'
        included:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.m365CapabilityResourceScope'
          description: Resources to include in the scope.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
              format: date-time
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.crossTenantAccessPolicyTargetConfigurationAccessType:
      title: crossTenantAccessPolicyTargetConfigurationAccessType
      enum:
        - allowed
        - blocked
        - unknownFutureValue
      type: string
    microsoft.graph.crossTenantAccessPolicyTarget:
      title: crossTenantAccessPolicyTarget
      type: object
      properties:
        target:
          type: string
          description: 'Defines the target for cross-tenant access policy settings and can have one of the following values:  The unique identifier of the user, group, or application  AllUsers  AllApplications - Refers to any Microsoft cloud application.  Office365 - Includes the applications mentioned as part of the Office 365 suite.'
          nullable: true
        targetType:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetType'
      additionalProperties:
        type: object
    microsoft.graph.b2bIdentityProvidersType:
      title: b2bIdentityProvidersType
      enum:
        - azureActiveDirectory
        - externalFederation
        - socialIdentityProviders
        - emailOneTimePasscode
        - microsoftAccount
        - defaultConfiguredIdp
        - unknownFutureValue
      type: string
    microsoft.graph.m365CapabilityResourceScope:
      title: m365CapabilityResourceScope
      type: object
      properties:
        resourceId:
          type: string
          description: The ID of the resource to modify (a user or group ID).
          nullable: true
        resourceType:
          $ref: '#/components/schemas/microsoft.graph.m365ResourceType'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.crossTenantAccessPolicyTargetType:
      title: crossTenantAccessPolicyTargetType
      enum:
        - user
        - group
        - application
        - unknownFutureValue
      type: string
    microsoft.graph.m365ResourceType:
      title: m365ResourceType
      enum:
        - none
        - group
        - user
        - unknownFutureValue
      type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.m365CapabilityBaseCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.m365CapabilityBaseCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
    microsoft.graph.crossTenantAccessPolicyConfigurationPartnerCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartnerCollectionResponse'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]
