openapi: 3.0.1
info:
  title: Devices.CorporateManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceAppManagement:
    get:
      tags:
        - deviceAppManagement.deviceAppManagement
      summary: Get deviceAppManagement
      operationId: deviceAppManagement_GetDeviceAppManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isEnabledForMicrosoftStoreForBusiness
                - microsoftStoreForBusinessLanguage
                - microsoftStoreForBusinessLastCompletedApplicationSyncTime
                - microsoftStoreForBusinessLastSuccessfulSyncDateTime
                - microsoftStoreForBusinessPortalSelection
                - managedEBookCategories
                - enterpriseCodeSigningCertificates
                - iosLobAppProvisioningConfigurations
                - mobileAppCategories
                - mobileAppConfigurations
                - mobileApps
                - symantecCodeSigningCertificate
                - managedEBooks
                - policySets
                - vppTokens
                - windowsManagementApp
                - androidManagedAppProtections
                - defaultManagedAppProtections
                - iosManagedAppProtections
                - managedAppPolicies
                - managedAppRegistrations
                - managedAppStatuses
                - mdmWindowsInformationProtectionPolicies
                - targetedManagedAppConfigurations
                - windowsInformationProtectionDeviceRegistrations
                - windowsInformationProtectionPolicies
                - windowsInformationProtectionWipeActions
                - windowsManagedAppProtections
                - deviceAppManagementTasks
                - wdacSupplementalPolicies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - managedEBookCategories
                - enterpriseCodeSigningCertificates
                - iosLobAppProvisioningConfigurations
                - mobileAppCategories
                - mobileAppConfigurations
                - mobileApps
                - symantecCodeSigningCertificate
                - managedEBooks
                - policySets
                - vppTokens
                - windowsManagementApp
                - androidManagedAppProtections
                - defaultManagedAppProtections
                - iosManagedAppProtections
                - managedAppPolicies
                - managedAppRegistrations
                - managedAppStatuses
                - mdmWindowsInformationProtectionPolicies
                - targetedManagedAppConfigurations
                - windowsInformationProtectionDeviceRegistrations
                - windowsInformationProtectionPolicies
                - windowsInformationProtectionWipeActions
                - windowsManagedAppProtections
                - deviceAppManagementTasks
                - wdacSupplementalPolicies
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.deviceAppManagement
      summary: Update deviceAppManagement
      operationId: deviceAppManagement_UpdateDeviceAppManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/androidManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get androidManagedAppProtections from deviceAppManagement
      description: Android managed app policies.
      operationId: deviceAppManagement_ListAndroidManagedAppProtection
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - version
                - version desc
                - allowedDataIngestionLocations
                - allowedDataIngestionLocations desc
                - allowedDataStorageLocations
                - allowedDataStorageLocations desc
                - allowedInboundDataTransferSources
                - allowedInboundDataTransferSources desc
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingExceptionLength desc
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundClipboardSharingLevel desc
                - allowedOutboundDataTransferDestinations
                - allowedOutboundDataTransferDestinations desc
                - appActionIfDeviceComplianceRequired
                - appActionIfDeviceComplianceRequired desc
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfMaximumPinRetriesExceeded desc
                - appActionIfUnableToAuthenticateUser
                - appActionIfUnableToAuthenticateUser desc
                - blockDataIngestionIntoOrganizationDocuments
                - blockDataIngestionIntoOrganizationDocuments desc
                - contactSyncBlocked
                - contactSyncBlocked desc
                - dataBackupBlocked
                - dataBackupBlocked desc
                - deviceComplianceRequired
                - deviceComplianceRequired desc
                - dialerRestrictionLevel
                - dialerRestrictionLevel desc
                - disableAppPinIfDevicePinIsSet
                - disableAppPinIfDevicePinIsSet desc
                - fingerprintBlocked
                - fingerprintBlocked desc
                - gracePeriodToBlockAppsDuringOffClockHours
                - gracePeriodToBlockAppsDuringOffClockHours desc
                - managedBrowser
                - managedBrowser desc
                - managedBrowserToOpenLinksRequired
                - managedBrowserToOpenLinksRequired desc
                - maximumAllowedDeviceThreatLevel
                - maximumAllowedDeviceThreatLevel desc
                - maximumPinRetries
                - maximumPinRetries desc
                - maximumRequiredOsVersion
                - maximumRequiredOsVersion desc
                - maximumWarningOsVersion
                - maximumWarningOsVersion desc
                - maximumWipeOsVersion
                - maximumWipeOsVersion desc
                - minimumPinLength
                - minimumPinLength desc
                - minimumRequiredAppVersion
                - minimumRequiredAppVersion desc
                - minimumRequiredOsVersion
                - minimumRequiredOsVersion desc
                - minimumWarningAppVersion
                - minimumWarningAppVersion desc
                - minimumWarningOsVersion
                - minimumWarningOsVersion desc
                - minimumWipeAppVersion
                - minimumWipeAppVersion desc
                - minimumWipeOsVersion
                - minimumWipeOsVersion desc
                - mobileThreatDefensePartnerPriority
                - mobileThreatDefensePartnerPriority desc
                - mobileThreatDefenseRemediationAction
                - mobileThreatDefenseRemediationAction desc
                - notificationRestriction
                - notificationRestriction desc
                - organizationalCredentialsRequired
                - organizationalCredentialsRequired desc
                - periodBeforePinReset
                - periodBeforePinReset desc
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeAccessCheck desc
                - periodOfflineBeforeWipeIsEnforced
                - periodOfflineBeforeWipeIsEnforced desc
                - periodOnlineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck desc
                - pinCharacterSet
                - pinCharacterSet desc
                - pinRequired
                - pinRequired desc
                - pinRequiredInsteadOfBiometricTimeout
                - pinRequiredInsteadOfBiometricTimeout desc
                - previousPinBlockCount
                - previousPinBlockCount desc
                - printBlocked
                - printBlocked desc
                - protectedMessagingRedirectAppType
                - protectedMessagingRedirectAppType desc
                - saveAsBlocked
                - saveAsBlocked desc
                - simplePinBlocked
                - simplePinBlocked desc
                - appGroupType
                - appGroupType desc
                - isAssigned
                - isAssigned desc
                - targetedAppManagementLevels
                - targetedAppManagementLevels desc
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceManufacturers desc
                - allowedAndroidDeviceModels
                - allowedAndroidDeviceModels desc
                - appActionIfAccountIsClockedOut
                - appActionIfAccountIsClockedOut desc
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceManufacturerNotAllowed desc
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed desc
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetAppsVerificationFailed desc
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed desc
                - appActionIfDeviceLockNotSet
                - appActionIfDeviceLockNotSet desc
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanHigh desc
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanLow desc
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - appActionIfDevicePasscodeComplexityLessThanMedium desc
                - appActionIfSamsungKnoxAttestationRequired
                - appActionIfSamsungKnoxAttestationRequired desc
                - approvedKeyboards
                - approvedKeyboards desc
                - biometricAuthenticationBlocked
                - biometricAuthenticationBlocked desc
                - blockAfterCompanyPortalUpdateDeferralInDays
                - blockAfterCompanyPortalUpdateDeferralInDays desc
                - connectToVpnOnLaunch
                - connectToVpnOnLaunch desc
                - customBrowserDisplayName
                - customBrowserDisplayName desc
                - customBrowserPackageId
                - customBrowserPackageId desc
                - customDialerAppDisplayName
                - customDialerAppDisplayName desc
                - customDialerAppPackageId
                - customDialerAppPackageId desc
                - deployedAppCount
                - deployedAppCount desc
                - deviceLockRequired
                - deviceLockRequired desc
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableAppEncryptionIfDeviceEncryptionIsEnabled desc
                - encryptAppData
                - encryptAppData desc
                - exemptedAppPackages
                - exemptedAppPackages desc
                - fingerprintAndBiometricEnabled
                - fingerprintAndBiometricEnabled desc
                - keyboardsRestricted
                - keyboardsRestricted desc
                - messagingRedirectAppDisplayName
                - messagingRedirectAppDisplayName desc
                - messagingRedirectAppPackageId
                - messagingRedirectAppPackageId desc
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredCompanyPortalVersion desc
                - minimumRequiredPatchVersion
                - minimumRequiredPatchVersion desc
                - minimumWarningCompanyPortalVersion
                - minimumWarningCompanyPortalVersion desc
                - minimumWarningPatchVersion
                - minimumWarningPatchVersion desc
                - minimumWipeCompanyPortalVersion
                - minimumWipeCompanyPortalVersion desc
                - minimumWipePatchVersion
                - minimumWipePatchVersion desc
                - requireClass3Biometrics
                - requireClass3Biometrics desc
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetAppsVerificationType desc
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetDeviceAttestationType desc
                - requiredAndroidSafetyNetEvaluationType
                - requiredAndroidSafetyNetEvaluationType desc
                - requirePinAfterBiometricChange
                - requirePinAfterBiometricChange desc
                - screenCaptureBlocked
                - screenCaptureBlocked desc
                - warnAfterCompanyPortalUpdateDeferralInDays
                - warnAfterCompanyPortalUpdateDeferralInDays desc
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - roleScopeTagIds
                - version
                - allowedDataIngestionLocations
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - appActionIfDeviceComplianceRequired
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfUnableToAuthenticateUser
                - blockDataIngestionIntoOrganizationDocuments
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - dialerRestrictionLevel
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - gracePeriodToBlockAppsDuringOffClockHours
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumAllowedDeviceThreatLevel
                - maximumPinRetries
                - maximumRequiredOsVersion
                - maximumWarningOsVersion
                - maximumWipeOsVersion
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - minimumWipeAppVersion
                - minimumWipeOsVersion
                - mobileThreatDefensePartnerPriority
                - mobileThreatDefenseRemediationAction
                - notificationRestriction
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - pinRequiredInsteadOfBiometricTimeout
                - previousPinBlockCount
                - printBlocked
                - protectedMessagingRedirectAppType
                - saveAsBlocked
                - simplePinBlocked
                - appGroupType
                - isAssigned
                - targetedAppManagementLevels
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceModels
                - appActionIfAccountIsClockedOut
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfDeviceLockNotSet
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - appActionIfSamsungKnoxAttestationRequired
                - approvedKeyboards
                - biometricAuthenticationBlocked
                - blockAfterCompanyPortalUpdateDeferralInDays
                - connectToVpnOnLaunch
                - customBrowserDisplayName
                - customBrowserPackageId
                - customDialerAppDisplayName
                - customDialerAppPackageId
                - deployedAppCount
                - deviceLockRequired
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - encryptAppData
                - exemptedAppPackages
                - fingerprintAndBiometricEnabled
                - keyboardsRestricted
                - messagingRedirectAppDisplayName
                - messagingRedirectAppPackageId
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredPatchVersion
                - minimumWarningCompanyPortalVersion
                - minimumWarningPatchVersion
                - minimumWipeCompanyPortalVersion
                - minimumWipePatchVersion
                - requireClass3Biometrics
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetEvaluationType
                - requirePinAfterBiometricChange
                - screenCaptureBlocked
                - warnAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.androidManagedAppProtectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to androidManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_CreateAndroidManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get androidManagedAppProtections from deviceAppManagement
      description: Android managed app policies.
      operationId: deviceAppManagement_GetAndroidManagedAppProtection
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - roleScopeTagIds
                - version
                - allowedDataIngestionLocations
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - appActionIfDeviceComplianceRequired
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfUnableToAuthenticateUser
                - blockDataIngestionIntoOrganizationDocuments
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - dialerRestrictionLevel
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - gracePeriodToBlockAppsDuringOffClockHours
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumAllowedDeviceThreatLevel
                - maximumPinRetries
                - maximumRequiredOsVersion
                - maximumWarningOsVersion
                - maximumWipeOsVersion
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - minimumWipeAppVersion
                - minimumWipeOsVersion
                - mobileThreatDefensePartnerPriority
                - mobileThreatDefenseRemediationAction
                - notificationRestriction
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - pinRequiredInsteadOfBiometricTimeout
                - previousPinBlockCount
                - printBlocked
                - protectedMessagingRedirectAppType
                - saveAsBlocked
                - simplePinBlocked
                - appGroupType
                - isAssigned
                - targetedAppManagementLevels
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceModels
                - appActionIfAccountIsClockedOut
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfDeviceLockNotSet
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - appActionIfSamsungKnoxAttestationRequired
                - approvedKeyboards
                - biometricAuthenticationBlocked
                - blockAfterCompanyPortalUpdateDeferralInDays
                - connectToVpnOnLaunch
                - customBrowserDisplayName
                - customBrowserPackageId
                - customDialerAppDisplayName
                - customDialerAppPackageId
                - deployedAppCount
                - deviceLockRequired
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - encryptAppData
                - exemptedAppPackages
                - fingerprintAndBiometricEnabled
                - keyboardsRestricted
                - messagingRedirectAppDisplayName
                - messagingRedirectAppPackageId
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredPatchVersion
                - minimumWarningCompanyPortalVersion
                - minimumWarningPatchVersion
                - minimumWipeCompanyPortalVersion
                - minimumWipePatchVersion
                - requireClass3Biometrics
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetEvaluationType
                - requirePinAfterBiometricChange
                - screenCaptureBlocked
                - warnAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property androidManagedAppProtections in deviceAppManagement
      operationId: deviceAppManagement_UpdateAndroidManagedAppProtection
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property androidManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_DeleteAndroidManagedAppProtection
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.androidManagedAppProtection_ListApp
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mobileAppIdentifier
                - mobileAppIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedMobileAppCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_CreateApp
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.androidManagedAppProtection_GetApp
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_UpdateApp
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property apps for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_DeleteApp
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps/$count':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.androidManagedAppProtection.app_GetCount
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/assignments':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get assignments from deviceAppManagement
      description: Navigation property to list of inclusion and exclusion groups to which the policy is deployed.
      operationId: deviceAppManagement.androidManagedAppProtection_ListAssignment
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - source
                - source desc
                - sourceId
                - sourceId desc
                - target
                - target desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - source
                - sourceId
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.targetedManagedAppPolicyAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to assignments for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_CreateAssignment
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/assignments/{targetedManagedAppPolicyAssignment-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get assignments from deviceAppManagement
      description: Navigation property to list of inclusion and exclusion groups to which the policy is deployed.
      operationId: deviceAppManagement.androidManagedAppProtection_GetAssignment
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: targetedManagedAppPolicyAssignment-id
          in: path
          description: The unique identifier of targetedManagedAppPolicyAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: targetedManagedAppPolicyAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - source
                - sourceId
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property assignments in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_UpdateAssignment
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: targetedManagedAppPolicyAssignment-id
          in: path
          description: The unique identifier of targetedManagedAppPolicyAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: targetedManagedAppPolicyAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.targetedManagedAppPolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property assignments for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_DeleteAssignment
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: targetedManagedAppPolicyAssignment-id
          in: path
          description: The unique identifier of targetedManagedAppPolicyAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: targetedManagedAppPolicyAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/assignments/$count':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.androidManagedAppProtection.assignment_GetCount
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      description: Navigation property to deployment summary of the configuration.
      operationId: deviceAppManagement.androidManagedAppProtection_GetDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationDeployedUserCount
                - configurationDeploymentSummaryPerApp
                - displayName
                - lastRefreshTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_UpdateDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property deploymentSummary for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtection_DeleteDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: The unique identifier of androidManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/androidManagedAppProtections/$count:
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.androidManagedAppProtection_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceAppManagement/androidManagedAppProtections/microsoft.graph.hasPayloadLinks:
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action hasPayloadLinks
      operationId: deviceAppManagement.androidManagedAppProtection_hasPayloadLink
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                payloadIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.hasPayloadLinkResultItem'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceAppManagement/defaultManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get defaultManagedAppProtections from deviceAppManagement
      description: Default managed app policies.
      operationId: deviceAppManagement_ListDefaultManagedAppProtection
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - version
                - version desc
                - allowedDataIngestionLocations
                - allowedDataIngestionLocations desc
                - allowedDataStorageLocations
                - allowedDataStorageLocations desc
                - allowedInboundDataTransferSources
                - allowedInboundDataTransferSources desc
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingExceptionLength desc
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundClipboardSharingLevel desc
                - allowedOutboundDataTransferDestinations
                - allowedOutboundDataTransferDestinations desc
                - appActionIfDeviceComplianceRequired
                - appActionIfDeviceComplianceRequired desc
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfMaximumPinRetriesExceeded desc
                - appActionIfUnableToAuthenticateUser
                - appActionIfUnableToAuthenticateUser desc
                - blockDataIngestionIntoOrganizationDocuments
                - blockDataIngestionIntoOrganizationDocuments desc
                - contactSyncBlocked
                - contactSyncBlocked desc
                - dataBackupBlocked
                - dataBackupBlocked desc
                - deviceComplianceRequired
                - deviceComplianceRequired desc
                - dialerRestrictionLevel
                - dialerRestrictionLevel desc
                - disableAppPinIfDevicePinIsSet
                - disableAppPinIfDevicePinIsSet desc
                - fingerprintBlocked
                - fingerprintBlocked desc
                - gracePeriodToBlockAppsDuringOffClockHours
                - gracePeriodToBlockAppsDuringOffClockHours desc
                - managedBrowser
                - managedBrowser desc
                - managedBrowserToOpenLinksRequired
                - managedBrowserToOpenLinksRequired desc
                - maximumAllowedDeviceThreatLevel
                - maximumAllowedDeviceThreatLevel desc
                - maximumPinRetries
                - maximumPinRetries desc
                - maximumRequiredOsVersion
                - maximumRequiredOsVersion desc
                - maximumWarningOsVersion
                - maximumWarningOsVersion desc
                - maximumWipeOsVersion
                - maximumWipeOsVersion desc
                - minimumPinLength
                - minimumPinLength desc
                - minimumRequiredAppVersion
                - minimumRequiredAppVersion desc
                - minimumRequiredOsVersion
                - minimumRequiredOsVersion desc
                - minimumWarningAppVersion
                - minimumWarningAppVersion desc
                - minimumWarningOsVersion
                - minimumWarningOsVersion desc
                - minimumWipeAppVersion
                - minimumWipeAppVersion desc
                - minimumWipeOsVersion
                - minimumWipeOsVersion desc
                - mobileThreatDefensePartnerPriority
                - mobileThreatDefensePartnerPriority desc
                - mobileThreatDefenseRemediationAction
                - mobileThreatDefenseRemediationAction desc
                - notificationRestriction
                - notificationRestriction desc
                - organizationalCredentialsRequired
                - organizationalCredentialsRequired desc
                - periodBeforePinReset
                - periodBeforePinReset desc
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeAccessCheck desc
                - periodOfflineBeforeWipeIsEnforced
                - periodOfflineBeforeWipeIsEnforced desc
                - periodOnlineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck desc
                - pinCharacterSet
                - pinCharacterSet desc
                - pinRequired
                - pinRequired desc
                - pinRequiredInsteadOfBiometricTimeout
                - pinRequiredInsteadOfBiometricTimeout desc
                - previousPinBlockCount
                - previousPinBlockCount desc
                - printBlocked
                - printBlocked desc
                - protectedMessagingRedirectAppType
                - protectedMessagingRedirectAppType desc
                - saveAsBlocked
                - saveAsBlocked desc
                - simplePinBlocked
                - simplePinBlocked desc
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceManufacturers desc
                - allowedAndroidDeviceModels
                - allowedAndroidDeviceModels desc
                - allowedIosDeviceModels
                - allowedIosDeviceModels desc
                - appActionIfAccountIsClockedOut
                - appActionIfAccountIsClockedOut desc
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceManufacturerNotAllowed desc
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed desc
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetAppsVerificationFailed desc
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed desc
                - appActionIfDeviceLockNotSet
                - appActionIfDeviceLockNotSet desc
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanHigh desc
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanLow desc
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - appActionIfDevicePasscodeComplexityLessThanMedium desc
                - appActionIfIosDeviceModelNotAllowed
                - appActionIfIosDeviceModelNotAllowed desc
                - appDataEncryptionType
                - appDataEncryptionType desc
                - biometricAuthenticationBlocked
                - biometricAuthenticationBlocked desc
                - blockAfterCompanyPortalUpdateDeferralInDays
                - blockAfterCompanyPortalUpdateDeferralInDays desc
                - connectToVpnOnLaunch
                - connectToVpnOnLaunch desc
                - customBrowserDisplayName
                - customBrowserDisplayName desc
                - customBrowserPackageId
                - customBrowserPackageId desc
                - customBrowserProtocol
                - customBrowserProtocol desc
                - customDialerAppDisplayName
                - customDialerAppDisplayName desc
                - customDialerAppPackageId
                - customDialerAppPackageId desc
                - customDialerAppProtocol
                - customDialerAppProtocol desc
                - customSettings
                - customSettings desc
                - deployedAppCount
                - deployedAppCount desc
                - deviceLockRequired
                - deviceLockRequired desc
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableAppEncryptionIfDeviceEncryptionIsEnabled desc
                - disableProtectionOfManagedOutboundOpenInData
                - disableProtectionOfManagedOutboundOpenInData desc
                - encryptAppData
                - encryptAppData desc
                - exemptedAppPackages
                - exemptedAppPackages desc
                - exemptedAppProtocols
                - exemptedAppProtocols desc
                - faceIdBlocked
                - faceIdBlocked desc
                - filterOpenInToOnlyManagedApps
                - filterOpenInToOnlyManagedApps desc
                - fingerprintAndBiometricEnabled
                - fingerprintAndBiometricEnabled desc
                - messagingRedirectAppDisplayName
                - messagingRedirectAppDisplayName desc
                - messagingRedirectAppPackageId
                - messagingRedirectAppPackageId desc
                - messagingRedirectAppUrlScheme
                - messagingRedirectAppUrlScheme desc
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredCompanyPortalVersion desc
                - minimumRequiredPatchVersion
                - minimumRequiredPatchVersion desc
                - minimumRequiredSdkVersion
                - minimumRequiredSdkVersion desc
                - minimumWarningCompanyPortalVersion
                - minimumWarningCompanyPortalVersion desc
                - minimumWarningPatchVersion
                - minimumWarningPatchVersion desc
                - minimumWarningSdkVersion
                - minimumWarningSdkVersion desc
                - minimumWipeCompanyPortalVersion
                - minimumWipeCompanyPortalVersion desc
                - minimumWipePatchVersion
                - minimumWipePatchVersion desc
                - minimumWipeSdkVersion
                - minimumWipeSdkVersion desc
                - protectInboundDataFromUnknownSources
                - protectInboundDataFromUnknownSources desc
                - requireClass3Biometrics
                - requireClass3Biometrics desc
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetAppsVerificationType desc
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetDeviceAttestationType desc
                - requiredAndroidSafetyNetEvaluationType
                - requiredAndroidSafetyNetEvaluationType desc
                - requirePinAfterBiometricChange
                - requirePinAfterBiometricChange desc
                - screenCaptureBlocked
                - screenCaptureBlocked desc
                - thirdPartyKeyboardsBlocked
                - thirdPartyKeyboardsBlocked desc
                - warnAfterCompanyPortalUpdateDeferralInDays
                - warnAfterCompanyPortalUpdateDeferralInDays desc
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - roleScopeTagIds
                - version
                - allowedDataIngestionLocations
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - appActionIfDeviceComplianceRequired
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfUnableToAuthenticateUser
                - blockDataIngestionIntoOrganizationDocuments
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - dialerRestrictionLevel
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - gracePeriodToBlockAppsDuringOffClockHours
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumAllowedDeviceThreatLevel
                - maximumPinRetries
                - maximumRequiredOsVersion
                - maximumWarningOsVersion
                - maximumWipeOsVersion
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - minimumWipeAppVersion
                - minimumWipeOsVersion
                - mobileThreatDefensePartnerPriority
                - mobileThreatDefenseRemediationAction
                - notificationRestriction
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - pinRequiredInsteadOfBiometricTimeout
                - previousPinBlockCount
                - printBlocked
                - protectedMessagingRedirectAppType
                - saveAsBlocked
                - simplePinBlocked
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceModels
                - allowedIosDeviceModels
                - appActionIfAccountIsClockedOut
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfDeviceLockNotSet
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - appActionIfIosDeviceModelNotAllowed
                - appDataEncryptionType
                - biometricAuthenticationBlocked
                - blockAfterCompanyPortalUpdateDeferralInDays
                - connectToVpnOnLaunch
                - customBrowserDisplayName
                - customBrowserPackageId
                - customBrowserProtocol
                - customDialerAppDisplayName
                - customDialerAppPackageId
                - customDialerAppProtocol
                - customSettings
                - deployedAppCount
                - deviceLockRequired
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableProtectionOfManagedOutboundOpenInData
                - encryptAppData
                - exemptedAppPackages
                - exemptedAppProtocols
                - faceIdBlocked
                - filterOpenInToOnlyManagedApps
                - fingerprintAndBiometricEnabled
                - messagingRedirectAppDisplayName
                - messagingRedirectAppPackageId
                - messagingRedirectAppUrlScheme
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredPatchVersion
                - minimumRequiredSdkVersion
                - minimumWarningCompanyPortalVersion
                - minimumWarningPatchVersion
                - minimumWarningSdkVersion
                - minimumWipeCompanyPortalVersion
                - minimumWipePatchVersion
                - minimumWipeSdkVersion
                - protectInboundDataFromUnknownSources
                - requireClass3Biometrics
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetEvaluationType
                - requirePinAfterBiometricChange
                - screenCaptureBlocked
                - thirdPartyKeyboardsBlocked
                - warnAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - apps
                - deploymentSummary
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.defaultManagedAppProtectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Create new navigation property to defaultManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_CreateDefaultManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get defaultManagedAppProtections from deviceAppManagement
      description: Default managed app policies.
      operationId: deviceAppManagement_GetDefaultManagedAppProtection
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - roleScopeTagIds
                - version
                - allowedDataIngestionLocations
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - appActionIfDeviceComplianceRequired
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfUnableToAuthenticateUser
                - blockDataIngestionIntoOrganizationDocuments
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - dialerRestrictionLevel
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - gracePeriodToBlockAppsDuringOffClockHours
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumAllowedDeviceThreatLevel
                - maximumPinRetries
                - maximumRequiredOsVersion
                - maximumWarningOsVersion
                - maximumWipeOsVersion
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - minimumWipeAppVersion
                - minimumWipeOsVersion
                - mobileThreatDefensePartnerPriority
                - mobileThreatDefenseRemediationAction
                - notificationRestriction
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - pinRequiredInsteadOfBiometricTimeout
                - previousPinBlockCount
                - printBlocked
                - protectedMessagingRedirectAppType
                - saveAsBlocked
                - simplePinBlocked
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceModels
                - allowedIosDeviceModels
                - appActionIfAccountIsClockedOut
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfDeviceLockNotSet
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - appActionIfIosDeviceModelNotAllowed
                - appDataEncryptionType
                - biometricAuthenticationBlocked
                - blockAfterCompanyPortalUpdateDeferralInDays
                - connectToVpnOnLaunch
                - customBrowserDisplayName
                - customBrowserPackageId
                - customBrowserProtocol
                - customDialerAppDisplayName
                - customDialerAppPackageId
                - customDialerAppProtocol
                - customSettings
                - deployedAppCount
                - deviceLockRequired
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableProtectionOfManagedOutboundOpenInData
                - encryptAppData
                - exemptedAppPackages
                - exemptedAppProtocols
                - faceIdBlocked
                - filterOpenInToOnlyManagedApps
                - fingerprintAndBiometricEnabled
                - messagingRedirectAppDisplayName
                - messagingRedirectAppPackageId
                - messagingRedirectAppUrlScheme
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredPatchVersion
                - minimumRequiredSdkVersion
                - minimumWarningCompanyPortalVersion
                - minimumWarningPatchVersion
                - minimumWarningSdkVersion
                - minimumWipeCompanyPortalVersion
                - minimumWipePatchVersion
                - minimumWipeSdkVersion
                - protectInboundDataFromUnknownSources
                - requireClass3Biometrics
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetEvaluationType
                - requirePinAfterBiometricChange
                - screenCaptureBlocked
                - thirdPartyKeyboardsBlocked
                - warnAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - apps
                - deploymentSummary
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property defaultManagedAppProtections in deviceAppManagement
      operationId: deviceAppManagement_UpdateDefaultManagedAppProtection
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property defaultManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_DeleteDefaultManagedAppProtection
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.defaultManagedAppProtection_ListApp
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mobileAppIdentifier
                - mobileAppIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedMobileAppCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtection_CreateApp
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get apps from deviceAppManagement
      description: List of apps to which the policy is deployed.
      operationId: deviceAppManagement.defaultManagedAppProtection_GetApp
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtection_UpdateApp
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property apps for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtection_DeleteApp
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: The unique identifier of managedMobileApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps/$count':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.defaultManagedAppProtection.app_GetCount
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      description: Navigation property to deployment summary of the configuration.
      operationId: deviceAppManagement.defaultManagedAppProtection_GetDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationDeployedUserCount
                - configurationDeploymentSummaryPerApp
                - displayName
                - lastRefreshTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtection_UpdateDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property deploymentSummary for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtection_DeleteDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: The unique identifier of defaultManagedAppProtection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/defaultManagedAppProtections/$count:
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get the number of the resource
      operationId: deviceAppManagement.defaultManagedAppProtection_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceAppManagement/deviceAppManagementTasks:
    get:
      tags:
        - deviceAppManagement.deviceAppManagementTask
      summary: Get deviceAppManagementTasks from deviceAppManagement
      description: Device app management tasks.
      operationId: deviceAppManagement_ListDeviceAppManagementTask
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - assignedTo
                - assignedTo desc
                - category
                - category desc
                - createdDateTime
                - createdDateTime desc
                - creator
                - creator desc
                - creatorNotes
                - creatorNotes desc
                - description
                - description desc
                - displayName
                - displayName desc
                - dueDateTime
                - dueDateTime desc
                - priority
                - priority desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedTo
                - category
                - createdDateTime
                - creator
                - creatorNotes
                - description
                - displayName
                - dueDateTime
                - priority
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceAppManagementTaskCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.deviceAppManagementTask
      summary: Create new navigation property to deviceAppManagementTasks for deviceAppManagement
      operationId: deviceAppManagement_CreateDeviceAppManagementTask
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAppManagementTask'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAppManagementTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/deviceAppManagementTasks/{deviceAppManagementTask-id}':
    get:
      tags:
        - deviceAppManagement.deviceAppManagementTask
      summary: Get deviceAppManagementTasks from deviceAppManagement
      description: Device app management tasks.
      operationId: deviceAppManagement_GetDeviceAppManagementTask
      parameters:
        - name: deviceAppManagementTask-id
          in: path
          description: The unique identifier of deviceAppManagementTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAppManagementTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedTo
                - category
                - createdDateTime
                - creator
                - creatorNotes
                - description
                - displayName
                - dueDateTime
                - priority
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
[...]
