openapi: 3.0.1
info:
  title: DeviceManagement.Functions
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceManagement/applePushNotificationCertificate/microsoft.graph.downloadApplePushNotificationCertificateSigningRequest():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function downloadApplePushNotificationCertificateSigningRequest
      description: Download Apple push notification certificate signing request
      operationId: deviceManagement.applePushNotificationCertificate_downloadApplePushNotificationCertificateSigningRequest
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/assignmentFilters/{deviceAndAppManagementAssignmentFilter-id}/microsoft.graph.getSupportedProperties()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getSupportedProperties
      operationId: deviceManagement.assignmentFilter_getSupportedProperty
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: The unique identifier of deviceAndAppManagementAssignmentFilter
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.assignmentFilterSupportedProperty'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/assignmentFilters/microsoft.graph.getPlatformSupportedProperties(platform=''{platform}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getPlatformSupportedProperties
      operationId: deviceManagement.assignmentFilter_getPlatformSupportedProperty
      parameters:
        - name: platform
          in: path
          description: 'Usage: platform=''{platform}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.devicePlatformType'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.assignmentFilterSupportedProperty'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/assignmentFilters/microsoft.graph.getState():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getState
      operationId: deviceManagement.assignmentFilter_getState
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.assignmentFilterState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/auditEvents/microsoft.graph.getAuditActivityTypes(category=''{category}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getAuditActivityTypes
      operationId: deviceManagement.auditEvent_getAuditActivityType
      parameters:
        - name: category
          in: path
          description: 'Usage: category=''{category}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/auditEvents/microsoft.graph.getAuditCategories():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getAuditCategories
      operationId: deviceManagement.auditEvent_getAuditCategory
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.getCloudPcRemoteActionResults()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcRemoteActionResults
      operationId: deviceManagement.comanagedDevice_getCloudPcRemoteActionResult
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcRemoteActionResult'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.getCloudPcReviewStatus()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcReviewStatus
      operationId: deviceManagement.comanagedDevice_getCloudPcReviewStatus
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcReviewStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.getFileVaultKey()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getFileVaultKey
      operationId: deviceManagement.comanagedDevice_getFileVaultKey
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.getNonCompliantSettings()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getNonCompliantSettings
      operationId: deviceManagement.comanagedDevice_getNonCompliantSetting
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicySettingState'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/comanagedDevices/microsoft.graph.appDiagnostics(upn=''{upn}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function appDiagnostics
      operationId: deviceManagement.comanagedDevice_appDiagnostic
      parameters:
        - name: upn
          in: path
          description: 'Usage: upn=''{upn}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.powerliftIncidentMetadata'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/configManagerCollections/microsoft.graph.getPolicySummary(policyId=''{policyId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getPolicySummary
      operationId: deviceManagement.configManagerCollection_getPolicySummary
      parameters:
        - name: policyId
          in: path
          description: 'Usage: policyId=''{policyId}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.configManagerPolicySummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/configurationPolicies/{deviceManagementConfigurationPolicy-id}/microsoft.graph.retrieveLatestUpgradeDefaultBaselinePolicy()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function retrieveLatestUpgradeDefaultBaselinePolicy
      operationId: deviceManagement.configurationPolicy_retrieveLatestUpgradeDefaultBaselinePolicy
      parameters:
        - name: deviceManagementConfigurationPolicy-id
          in: path
          description: The unique identifier of deviceManagementConfigurationPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementConfigurationPolicy
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementConfigurationPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles/{enrollmentProfile-id}/microsoft.graph.exportMobileConfig()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function exportMobileConfig
      description: Exports the mobile configuration
      operationId: deviceManagement.depOnboardingSetting.enrollmentProfile_exportMobileConfig
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: The unique identifier of enrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.getEncryptionPublicKey()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getEncryptionPublicKey
      description: Get a public key to use to encrypt the Apple device enrollment program token
      operationId: deviceManagement.depOnboardingSetting_getEncryptionPublicKey
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/depOnboardingSettings/microsoft.graph.getExpiringVppTokenCount(expiringBeforeDateTime=''{expiringBeforeDateTime}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getExpiringVppTokenCount
      operationId: deviceManagement.depOnboardingSetting_getExpiringVppTokenCount
      parameters:
        - name: expiringBeforeDateTime
          in: path
          description: 'Usage: expiringBeforeDateTime=''{expiringBeforeDateTime}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    format: int32
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.getDevicesScheduledToRetire():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getDevicesScheduledToRetire
      operationId: deviceManagement.deviceCompliancePolicy_getDevicesScheduledToRetire
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.retireScheduledManagedDevice'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/deviceConfigurations/{deviceConfiguration-id}/microsoft.graph.getOmaSettingPlainTextValue(secretReferenceValueId=''{secretReferenceValueId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getOmaSettingPlainTextValue
      operationId: deviceManagement.deviceConfiguration_getOmaSettingPlainTextValue
      parameters:
        - name: deviceConfiguration-id
          in: path
          description: The unique identifier of deviceConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceConfiguration
        - name: secretReferenceValueId
          in: path
          description: 'Usage: secretReferenceValueId=''{secretReferenceValueId}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/deviceConfigurations/microsoft.graph.getIosAvailableUpdateVersions():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getIosAvailableUpdateVersions
      operationId: deviceManagement.deviceConfiguration_getIosAvailableUpdateVersion
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.iosAvailableUpdateVersion'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/deviceHealthScripts/{deviceHealthScript-id}/microsoft.graph.getRemediationHistory()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getRemediationHistory
      description: Function to get the number of remediations by a device health scripts
      operationId: deviceManagement.deviceHealthScript_getRemediationHistory
      parameters:
        - name: deviceHealthScript-id
          in: path
          description: The unique identifier of deviceHealthScript
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceHealthScript
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceHealthScriptRemediationHistory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/deviceHealthScripts/microsoft.graph.areGlobalScriptsAvailable():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function areGlobalScriptsAvailable
      operationId: deviceManagement.deviceHealthScript_areGlobalScriptsAvailable
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.globalDeviceHealthScriptState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/deviceHealthScripts/microsoft.graph.getRemediationSummary():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getRemediationSummary
      operationId: deviceManagement.deviceHealthScript_getRemediationSummary
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceHealthScriptRemediationSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/intents/{deviceManagementIntent-id}/microsoft.graph.compare(templateId=''{templateId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function compare
      operationId: deviceManagement.intent_compare
      parameters:
        - name: deviceManagementIntent-id
          in: path
          description: The unique identifier of deviceManagementIntent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementIntent
        - name: templateId
          in: path
          description: 'Usage: templateId=''{templateId}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingComparison'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/intents/{deviceManagementIntent-id}/microsoft.graph.getCustomizedSettings()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCustomizedSettings
      operationId: deviceManagement.intent_getCustomizedSetting
      parameters:
        - name: deviceManagementIntent-id
          in: path
          description: The unique identifier of deviceManagementIntent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementIntent
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementIntentCustomizedSetting'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.getCloudPcRemoteActionResults()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcRemoteActionResults
      operationId: deviceManagement.managedDevice_getCloudPcRemoteActionResult
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcRemoteActionResult'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.getCloudPcReviewStatus()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcReviewStatus
      operationId: deviceManagement.managedDevice_getCloudPcReviewStatus
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcReviewStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.getFileVaultKey()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getFileVaultKey
      operationId: deviceManagement.managedDevice_getFileVaultKey
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.getNonCompliantSettings()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getNonCompliantSettings
      operationId: deviceManagement.managedDevice_getNonCompliantSetting
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicySettingState'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/managedDevices/microsoft.graph.appDiagnostics(upn=''{upn}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function appDiagnostics
      operationId: deviceManagement.managedDevice_appDiagnostic
      parameters:
        - name: upn
          in: path
          description: 'Usage: upn=''{upn}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.powerliftIncidentMetadata'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/microsoft.graph.getAssignedRoleDetails():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getAssignedRoleDetails
      description: Retrieves the assigned role definitions and role assignments of the currently authenticated user.
      operationId: deviceManagement_getAssignedRoleDetail
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignedRoleDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/microsoft.graph.getComanagedDevicesSummary():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getComanagedDevicesSummary
      operationId: deviceManagement_getComanagedDevicesSummary
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.comanagedDevicesSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/microsoft.graph.getComanagementEligibleDevicesSummary():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getComanagementEligibleDevicesSummary
      operationId: deviceManagement_getComanagementEligibleDevicesSummary
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.comanagementEligibleDevicesSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/microsoft.graph.getEffectivePermissions():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getEffectivePermissions
      operationId: deviceManagement_getEffectivePermission
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/microsoft.graph.getEffectivePermissions(scope=''{scope}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getEffectivePermissions
      operationId: deviceManagement_getEffectivePermission
      parameters:
        - name: scope
          in: path
          description: 'Usage: scope=''{scope}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.rolePermission'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/microsoft.graph.getRoleScopeTagsByIds(ids={ids})':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getRoleScopeTagsByIds
      operationId: deviceManagement_getRoleScopeTagsGraphBPreId
      parameters:
        - name: ids
          in: path
          description: 'Usage: ids={ids}'
          required: true
          style: simple
          schema:
            type: array
            items:
              type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - assignments
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isBuiltIn
                - isBuiltIn desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of roleScopeTag
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.roleScopeTag'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/microsoft.graph.getRoleScopeTagsByResource(resource=''{resource}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getRoleScopeTagsByResource
      operationId: deviceManagement_getRoleScopeTagsGraphBPreResource
      parameters:
        - name: resource
          in: path
          description: 'Usage: resource=''{resource}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - assignments
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isBuiltIn
                - isBuiltIn desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of roleScopeTag
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.roleScopeTag'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/microsoft.graph.getSuggestedEnrollmentLimit(enrollmentType=''{enrollmentType}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getSuggestedEnrollmentLimit
      operationId: deviceManagement_getSuggestedEnrollmentLimit
      parameters:
        - name: enrollmentType
          in: path
          description: 'Usage: enrollmentType=''{enrollmentType}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.suggestedEnrollmentLimit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.scopedForResource(resource=''{resource}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function scopedForResource
      operationId: deviceManagement_scopedGraphFPreResource
      parameters:
        - name: resource
          in: path
          description: 'Usage: resource=''{resource}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/microsoft.graph.userExperienceAnalyticsSummarizedDeviceScopes():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function userExperienceAnalyticsSummarizedDeviceScopes
      operationId: deviceManagement_userExperienceAnalyticsSummarizedDeviceScope
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsDeviceScopeSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/microsoft.graph.userExperienceAnalyticsSummarizeWorkFromAnywhereDevices():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function userExperienceAnalyticsSummarizeWorkFromAnywhereDevices
      operationId: deviceManagement_userExperienceAnalyticsSummarizeWorkFromAnywhereDevice
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsWorkFromAnywhereDevicesSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.verifyWindowsEnrollmentAutoDiscovery(domainName=''{domainName}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function verifyWindowsEnrollmentAutoDiscovery
      operationId: deviceManagement_verifyWindowsEnrollmentAutoDiscovery
      parameters:
        - name: domainName
          in: path
          description: 'Usage: domainName=''{domainName}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/monitoring/alertRecords/microsoft.graph.deviceManagement.getPortalNotifications():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getPortalNotifications
      operationId: deviceManagement.monitoring.alertRecord_getPortalNotification
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagement.portalNotification'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/operationApprovalPolicies/microsoft.graph.getApprovableOperations():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getApprovableOperations
      operationId: deviceManagement.operationApprovalPolicy_getApprovableOperation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.operationApprovalPolicySet'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/operationApprovalPolicies/microsoft.graph.getOperationsRequiringApproval():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getOperationsRequiringApproval
      operationId: deviceManagement.operationApprovalPolicy_getOperationsRequiringApproval
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.operationApprovalPolicySet'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/operationApprovalPolicies/microsoft.graph.retrieveApprovableOperations():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function retrieveApprovableOperations
      operationId: deviceManagement.operationApprovalPolicy_retrieveApprovableOperation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.operationApprovalPolicySet'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/operationApprovalPolicies/microsoft.graph.retrieveOperationsRequiringApproval():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function retrieveOperationsRequiringApproval
      operationId: deviceManagement.operationApprovalPolicy_retrieveOperationsRequiringApproval
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.operationApprovalPolicySet'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/operationApprovalRequests/microsoft.graph.retrieveMyRequestById(id=''{id}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function retrieveMyRequestById
      operationId: deviceManagement.operationApprovalRequest_retrieveMyRequestGraphBPreId
      parameters:
        - name: id
          in: path
          description: 'Usage: id=''{id}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.operationApprovalRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/operationApprovalRequests/microsoft.graph.retrieveMyRequests():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function retrieveMyRequests
      operationId: deviceManagement.operationApprovalRequest_retrieveMyRequest
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - approvalJustification
                - approver
                - expirationDateTime
                - lastModifiedDateTime
                - operationApprovalPolicies
                - requestDateTime
                - requestJustification
                - requestor
                - requiredOperationApprovalPolicyTypes
                - status
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - approvalJustification
                - approvalJustification desc
                - approver
                - approver desc
                - expirationDateTime
                - expirationDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - operationApprovalPolicies
                - operationApprovalPolicies desc
                - requestDateTime
                - requestDateTime desc
                - requestJustification
                - requestJustification desc
                - requestor
                - requestor desc
                - requiredOperationApprovalPolicyTypes
                - requiredOperationApprovalPolicyTypes desc
                - status
                - status desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of operationApprovalRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.operationApprovalRequest'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/resourceOperations/{resourceOperation-id}/microsoft.graph.getScopesForUser(userid=''{userid}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getScopesForUser
      operationId: deviceManagement.resourceOperation_getScopesGraphFPreUser
      parameters:
        - name: resourceOperation-id
          in: path
          description: The unique identifier of resourceOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: resourceOperation
        - name: userid
          in: path
          description: 'Usage: userid=''{userid}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/reusablePolicySettings/{deviceManagementReusablePolicySetting-id}/referencingConfigurationPolicies/{deviceManagementConfigurationPolicy-id}/microsoft.graph.retrieveLatestUpgradeDefaultBaselinePolicy()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function retrieveLatestUpgradeDefaultBaselinePolicy
      operationId: deviceManagement.reusablePolicySetting.referencingConfigurationPolicy_retrieveLatestUpgradeDefaultBaselinePolicy
      parameters:
        - name: deviceManagementReusablePolicySetting-id
          in: path
          description: The unique identifier of deviceManagementReusablePolicySetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementReusablePolicySetting
        - name: deviceManagementConfigurationPolicy-id
          in: path
          description: The unique identifier of deviceManagementConfigurationPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementConfigurationPolicy
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementConfigurationPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/roleScopeTags/microsoft.graph.hasCustomRoleScopeTag():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function hasCustomRoleScopeTag
      operationId: deviceManagement.roleScopeTag_hasCustomRoleScopeTag
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/templates/{deviceManagementTemplate-id}/microsoft.graph.compare(templateId=''{templateId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function compare
      operationId: deviceManagement.template_compare
      parameters:
        - name: deviceManagementTemplate-id
          in: path
          description: The unique identifier of deviceManagementTemplate
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementTemplate
        - name: templateId
          in: path
          description: 'Usage: templateId=''{templateId}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingComparison'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/templates/{deviceManagementTemplate-id}/migratableTo/{deviceManagementTemplate-id1}/microsoft.graph.compare(templateId=''{templateId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function compare
      operationId: deviceManagement.template.migratableTo_compare
      parameters:
        - name: deviceManagementTemplate-id
          in: path
          description: The unique identifier of deviceManagementTemplate
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementTemplate
        - name: deviceManagementTemplate-id1
          in: path
          description: The unique identifier of deviceManagementTemplate
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementTemplate
        - name: templateId
          in: path
          description: 'Usage: templateId=''{templateId}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingComparison'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/tenantAttachRBAC/microsoft.graph.getState():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getState
      operationId: deviceManagement.tenantAttachRBAC_getState
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tenantAttachRBACState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/userExperienceAnalyticsDevicePerformance/microsoft.graph.summarizeDevicePerformanceDevices(summarizeBy=''{summarizeBy}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function summarizeDevicePerformanceDevices
      operationId: deviceManagement.userExperienceAnalyticsDevicePerformance_summarizeDevicePerformanceDevice
      parameters:
        - name: summarizeBy
          in: path
          description: 'Usage: summarizeBy=''{summarizeBy}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsSummarizedBy'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - averageBlueScreens
                - averageRestarts
                - blueScreenCount
                - bootScore
                - coreBootTimeInMs
                - coreLoginTimeInMs
                - deviceCount
                - deviceName
                - diskType
                - groupPolicyBootTimeInMs
                - groupPolicyLoginTimeInMs
                - healthStatus
                - loginScore
                - manufacturer
                - model
                - modelStartupPerformanceScore
                - operatingSystemVersion
                - responsiveDesktopTimeInMs
                - restartCount
                - startupPerformanceScore
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - averageBlueScreens
                - averageBlueScreens desc
                - averageRestarts
                - averageRestarts desc
                - blueScreenCount
                - blueScreenCount desc
                - bootScore
                - bootScore desc
                - coreBootTimeInMs
                - coreBootTimeInMs desc
                - coreLoginTimeInMs
                - coreLoginTimeInMs desc
                - deviceCount
                - deviceCount desc
                - deviceName
                - deviceName desc
                - diskType
                - diskType desc
                - groupPolicyBootTimeInMs
                - groupPolicyBootTimeInMs desc
                - groupPolicyLoginTimeInMs
                - groupPolicyLoginTimeInMs desc
                - healthStatus
                - healthStatus desc
                - loginScore
                - loginScore desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - modelStartupPerformanceScore
                - modelStartupPerformanceScore desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - responsiveDesktopTimeInMs
                - responsiveDesktopTimeInMs desc
                - restartCount
                - restartCount desc
                - startupPerformanceScore
                - startupPerformanceScore desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of userExperienceAnalyticsDevicePerformance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsDevicePerformance'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/userExperienceAnalyticsRemoteConnection/microsoft.graph.summarizeDeviceRemoteConnection(summarizeBy=''{summarizeBy}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function summarizeDeviceRemoteConnection
      operationId: deviceManagement.userExperienceAnalyticsRemoteConnection_summarizeDeviceRemoteConnection
      parameters:
        - name: summarizeBy
          in: path
          description: 'Usage: summarizeBy=''{summarizeBy}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsSummarizedBy'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - cloudPcFailurePercentage
                - cloudPcRoundTripTime
                - cloudPcSignInTime
                - coreBootTime
                - coreSignInTime
                - deviceCount
                - deviceId
                - deviceName
                - manufacturer
                - model
                - remoteSignInTime
                - userPrincipalName
                - virtualNetwork
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - cloudPcFailurePercentage
                - cloudPcFailurePercentage desc
                - cloudPcRoundTripTime
                - cloudPcRoundTripTime desc
                - cloudPcSignInTime
                - cloudPcSignInTime desc
                - coreBootTime
                - coreBootTime desc
                - coreSignInTime
                - coreSignInTime desc
                - deviceCount
                - deviceCount desc
                - deviceId
                - deviceId desc
                - deviceName
                - deviceName desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - remoteSignInTime
                - remoteSignInTime desc
                - userPrincipalName
                - userPrincipalName desc
                - virtualNetwork
                - virtualNetwork desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of userExperienceAnalyticsRemoteConnection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsRemoteConnection'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/userExperienceAnalyticsResourcePerformance/microsoft.graph.summarizeDeviceResourcePerformance(summarizeBy=''{summarizeBy}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function summarizeDeviceResourcePerformance
      operationId: deviceManagement.userExperienceAnalyticsResourcePerformance_summarizeDeviceResourcePerformance
      parameters:
        - name: summarizeBy
          in: path
          description: 'Usage: summarizeBy=''{summarizeBy}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsSummarizedBy'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - averageSpikeTimeScore
                - cpuClockSpeedInMHz
                - cpuDisplayName
                - cpuSpikeTimePercentage
                - cpuSpikeTimePercentageThreshold
                - cpuSpikeTimeScore
                - deviceCount
                - deviceId
                - deviceName
                - deviceResourcePerformanceScore
                - diskType
                - healthStatus
                - machineType
                - manufacturer
                - model
                - ramSpikeTimePercentage
                - ramSpikeTimePercentageThreshold
                - ramSpikeTimeScore
                - totalProcessorCoreCount
                - totalRamInMB
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - averageSpikeTimeScore
                - averageSpikeTimeScore desc
                - cpuClockSpeedInMHz
                - cpuClockSpeedInMHz desc
                - cpuDisplayName
                - cpuDisplayName desc
                - cpuSpikeTimePercentage
                - cpuSpikeTimePercentage desc
                - cpuSpikeTimePercentageThreshold
                - cpuSpikeTimePercentageThreshold desc
                - cpuSpikeTimeScore
                - cpuSpikeTimeScore desc
                - deviceCount
                - deviceCount desc
                - deviceId
                - deviceId desc
                - deviceName
                - deviceName desc
                - deviceResourcePerformanceScore
                - deviceResourcePerformanceScore desc
                - diskType
                - diskType desc
                - healthStatus
                - healthStatus desc
                - machineType
                - machineType desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - ramSpikeTimePercentage
                - ramSpikeTimePercentage desc
                - ramSpikeTimePercentageThreshold
                - ramSpikeTimePercentageThreshold desc
                - ramSpikeTimeScore
                - ramSpikeTimeScore desc
                - totalProcessorCoreCount
                - totalProcessorCoreCount desc
                - totalRamInMB
                - totalRamInMB desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of userExperienceAnalyticsResourcePerformance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsResourcePerformance'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/virtualEndpoint/auditEvents/microsoft.graph.getAuditActivityTypes():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getAuditActivityTypes
      operationId: deviceManagement.virtualEndpoint.auditEvent_getAuditActivityType
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/virtualEndpoint/cloudPCs/{cloudPC-id}/microsoft.graph.getCloudPcConnectivityHistory()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcConnectivityHistory
      operationId: deviceManagement.virtualEndpoint.cloudPC_getCloudPcConnectivityHistory
      parameters:
        - name: cloudPC-id
          in: path
          description: The unique identifier of cloudPC
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPC
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcConnectivityEvent'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/virtualEndpoint/cloudPCs/{cloudPC-id}/microsoft.graph.getCloudPcLaunchInfo()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcLaunchInfo
      operationId: deviceManagement.virtualEndpoint.cloudPC_getCloudPcLaunchInfo
      parameters:
        - name: cloudPC-id
          in: path
          description: The unique identifier of cloudPC
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPC
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcLaunchInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/virtualEndpoint/cloudPCs/{cloudPC-id}/microsoft.graph.getFrontlineCloudPcAccessState()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getFrontlineCloudPcAccessState
      operationId: deviceManagement.virtualEndpoint.cloudPC_getFrontlineCloudPcAccessState
      parameters:
        - name: cloudPC-id
          in: path
          description: The unique identifier of cloudPC
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPC
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.frontlineCloudPcAccessState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/virtualEndpoint/cloudPCs/{cloudPC-id}/microsoft.graph.getShiftWorkCloudPcAccessState()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getShiftWorkCloudPcAccessState
      operationId: deviceManagement.virtualEndpoint.cloudPC_getShiftWorkCloudPcAccessState
      parameters:
        - name: cloudPC-id
          in: path
          description: The unique identifier of cloudPC
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPC
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.shiftWorkCloudPcAccessState'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-12-31T00:00:00.0000000+00:00'
        date: '2023-09-05T00:00:00.0000000+00:00'
        version: 2023-08/getShiftWorkCloudPcAccessState
        description: 'The getShiftWorkCloudPcAccessState API is deprecated and will stop returning data on Dec 31, 2023. Please use the new getFrontlineCloudPcAccessState API'
      x-ms-docs-operation-type: function
  '/deviceManagement/virtualEndpoint/cloudPCs/{cloudPC-id}/microsoft.graph.getSupportedCloudPcRemoteActions()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getSupportedCloudPcRemoteActions
      operationId: deviceManagement.virtualEndpoint.cloudPC_getSupportedCloudPcRemoteAction
      parameters:
        - name: cloudPC-id
          in: path
          description: The unique identifier of cloudPC
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPC
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcRemoteActionCapability'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/virtualEndpoint/cloudPCs/microsoft.graph.getProvisionedCloudPCs(groupId=''{groupId}'',servicePlanId=''{servicePlanId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getProvisionedCloudPCs
      operationId: deviceManagement.virtualEndpoint.cloudPC_getProvisionedCloudPC
      parameters:
        - name: groupId
          in: path
          description: 'Usage: groupId=''{groupId}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - name: servicePlanId
          in: path
          description: 'Usage: servicePlanId=''{servicePlanId}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - aadDeviceId
                - connectionSettings
                - connectivityResult
                - disasterRecoveryCapability
                - diskEncryptionState
                - displayName
                - gracePeriodEndDateTime
                - imageDisplayName
                - lastLoginResult
                - lastModifiedDateTime
                - lastRemoteActionResult
                - managedDeviceId
                - managedDeviceName
                - onPremisesConnectionName
                - osVersion
                - partnerAgentInstallResults
                - powerState
                - provisioningPolicyId
                - provisioningPolicyName
                - provisioningType
                - scopeIds
                - servicePlanId
                - servicePlanName
                - servicePlanType
                - status
                - statusDetails
                - userAccountType
                - userPrincipalName
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - aadDeviceId
                - aadDeviceId desc
                - connectionSettings
                - connectionSettings desc
                - connectivityResult
                - connectivityResult desc
                - disasterRecoveryCapability
                - disasterRecoveryCapability desc
                - diskEncryptionState
                - diskEncryptionState desc
                - displayName
                - displayName desc
                - gracePeriodEndDateTime
                - gracePeriodEndDateTime desc
                - imageDisplayName
                - imageDisplayName desc
                - lastLoginResult
                - lastLoginResult desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastRemoteActionResult
                - lastRemoteActionResult desc
                - managedDeviceId
                - managedDeviceId desc
                - managedDeviceName
                - managedDeviceName desc
                - onPremisesConnectionName
                - onPremisesConnectionName desc
                - osVersion
                - osVersion desc
                - partnerAgentInstallResults
                - partnerAgentInstallResults desc
                - powerState
                - powerState desc
                - provisioningPolicyId
                - provisioningPolicyId desc
                - provisioningPolicyName
                - provisioningPolicyName desc
                - provisioningType
                - provisioningType desc
                - scopeIds
                - scopeIds desc
                - servicePlanId
                - servicePlanId desc
                - servicePlanName
                - servicePlanName desc
                - servicePlanType
                - servicePlanType desc
                - status
                - status desc
                - statusDetails
                - statusDetails desc
                - userAccountType
                - userAccountType desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of cloudPC
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPC'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/virtualEndpoint/deviceImages/microsoft.graph.getSourceImages():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getSourceImages
      operationId: deviceManagement.virtualEndpoint.deviceImage_getSourceImage
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcSourceDeviceImage'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/virtualEndpoint/microsoft.graph.getEffectivePermissions():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getEffectivePermissions
      operationId: deviceManagement.virtualEndpoint_getEffectivePermission
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/virtualEndpoint/microsoft.graph.retrieveScopedPermissions():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function retrieveScopedPermissions
      operationId: deviceManagement.virtualEndpoint_retrieveScopedPermission
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcScopedPermission'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/virtualEndpoint/microsoft.graph.retrieveTenantEncryptionSetting():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function retrieveTenantEncryptionSetting
      operationId: deviceManagement.virtualEndpoint_retrieveTenantEncryptionSetting
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcTenantEncryptionSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/virtualEndpoint/reports/microsoft.graph.getRealTimeRemoteConnectionLatency(cloudPcId=''{cloudPcId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getRealTimeRemoteConnectionLatency
      operationId: deviceManagement.virtualEndpoint.report_getRealTimeRemoteConnectionLatency
      parameters:
        - name: cloudPcId
          in: path
          description: 'Usage: cloudPcId=''{cloudPcId}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/virtualEndpoint/reports/microsoft.graph.getRealTimeRemoteConnectionStatus(cloudPcId=''{cloudPcId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getRealTimeRemoteConnectionStatus
      operationId: deviceManagement.virtualEndpoint.report_getRealTimeRemoteConnectionStatus
      parameters:
        - name: cloudPcId
          in: path
          description: 'Usage: cloudPcId=''{cloudPcId}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
[...]
