openapi: 3.0.1
info:
  title: DevicesApps.SharedResources
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/mobileAppTroubleshootingEvents':
    get:
      tags:
        - users.mobileAppTroubleshootingEvent
      summary: Get mobileAppTroubleshootingEvents from users
      operationId: users_ListMobileAppTroubleshootingEvents
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - eventDateTime
                - eventDateTime desc
                - correlationId
                - correlationId desc
                - troubleshootingErrorDetails
                - troubleshootingErrorDetails desc
                - eventName
                - eventName desc
                - additionalInformation
                - additionalInformation desc
                - managedDeviceIdentifier
                - managedDeviceIdentifier desc
                - userId
                - userId desc
                - applicationId
                - applicationId desc
                - history
                - history desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - eventDateTime
                - correlationId
                - troubleshootingErrorDetails
                - eventName
                - additionalInformation
                - managedDeviceIdentifier
                - userId
                - applicationId
                - history
                - appLogCollectionRequests
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appLogCollectionRequests
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of mobileAppTroubleshootingEvent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.mobileAppTroubleshootingEvent'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mobileAppTroubleshootingEvent
      summary: Create new navigation property to mobileAppTroubleshootingEvents for users
      operationId: users_CreateMobileAppTroubleshootingEvents
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppTroubleshootingEvent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppTroubleshootingEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mobileAppTroubleshootingEvents/{mobileAppTroubleshootingEvent-id}':
    get:
      tags:
        - users.mobileAppTroubleshootingEvent
      summary: Get mobileAppTroubleshootingEvents from users
      operationId: users_GetMobileAppTroubleshootingEvents
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mobileAppTroubleshootingEvent-id
          in: path
          description: 'key: id of mobileAppTroubleshootingEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileAppTroubleshootingEvent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - eventDateTime
                - correlationId
                - troubleshootingErrorDetails
                - eventName
                - additionalInformation
                - managedDeviceIdentifier
                - userId
                - applicationId
                - history
                - appLogCollectionRequests
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appLogCollectionRequests
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileAppTroubleshootingEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mobileAppTroubleshootingEvent
      summary: Update the navigation property mobileAppTroubleshootingEvents in users
      operationId: users_UpdateMobileAppTroubleshootingEvents
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mobileAppTroubleshootingEvent-id
          in: path
          description: 'key: id of mobileAppTroubleshootingEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileAppTroubleshootingEvent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileAppTroubleshootingEvent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mobileAppTroubleshootingEvent
      summary: Delete navigation property mobileAppTroubleshootingEvents for users
      operationId: users_DeleteMobileAppTroubleshootingEvents
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mobileAppTroubleshootingEvent-id
          in: path
          description: 'key: id of mobileAppTroubleshootingEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileAppTroubleshootingEvent
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mobileAppTroubleshootingEvents/{mobileAppTroubleshootingEvent-id}/appLogCollectionRequests':
    get:
      tags:
        - users.mobileAppTroubleshootingEvent
      summary: Get appLogCollectionRequests from users
      operationId: users.mobileAppTroubleshootingEvents_ListAppLogCollectionRequests
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mobileAppTroubleshootingEvent-id
          in: path
          description: 'key: id of mobileAppTroubleshootingEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileAppTroubleshootingEvent
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - status
                - status desc
                - errorMessage
                - errorMessage desc
                - customLogFolders
                - customLogFolders desc
                - completedDateTime
                - completedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - status
                - errorMessage
                - customLogFolders
                - completedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appLogCollectionRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appLogCollectionRequest'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mobileAppTroubleshootingEvent
      summary: Create new navigation property to appLogCollectionRequests for users
      operationId: users.mobileAppTroubleshootingEvents_CreateAppLogCollectionRequests
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mobileAppTroubleshootingEvent-id
          in: path
          description: 'key: id of mobileAppTroubleshootingEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileAppTroubleshootingEvent
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appLogCollectionRequest'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appLogCollectionRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mobileAppTroubleshootingEvents/{mobileAppTroubleshootingEvent-id}/appLogCollectionRequests/{appLogCollectionRequest-id}':
    get:
      tags:
        - users.mobileAppTroubleshootingEvent
      summary: Get appLogCollectionRequests from users
      operationId: users.mobileAppTroubleshootingEvents_GetAppLogCollectionRequests
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mobileAppTroubleshootingEvent-id
          in: path
          description: 'key: id of mobileAppTroubleshootingEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileAppTroubleshootingEvent
        - name: appLogCollectionRequest-id
          in: path
          description: 'key: id of appLogCollectionRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appLogCollectionRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - status
                - errorMessage
                - customLogFolders
                - completedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appLogCollectionRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mobileAppTroubleshootingEvent
      summary: Update the navigation property appLogCollectionRequests in users
      operationId: users.mobileAppTroubleshootingEvents_UpdateAppLogCollectionRequests
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mobileAppTroubleshootingEvent-id
          in: path
          description: 'key: id of mobileAppTroubleshootingEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileAppTroubleshootingEvent
        - name: appLogCollectionRequest-id
          in: path
          description: 'key: id of appLogCollectionRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appLogCollectionRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appLogCollectionRequest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mobileAppTroubleshootingEvent
      summary: Delete navigation property appLogCollectionRequests for users
      operationId: users.mobileAppTroubleshootingEvents_DeleteAppLogCollectionRequests
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mobileAppTroubleshootingEvent-id
          in: path
          description: 'key: id of mobileAppTroubleshootingEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileAppTroubleshootingEvent
        - name: appLogCollectionRequest-id
          in: path
          description: 'key: id of appLogCollectionRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appLogCollectionRequest
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.mobileAppTroubleshootingEvent:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.deviceManagementTroubleshootingEvent'
        - title: mobileAppTroubleshootingEvent
          type: object
          properties:
            managedDeviceIdentifier:
              type: string
              description: Device identifier created or collected by Intune.
              nullable: true
            userId:
              type: string
              description: Identifier for the user that tried to enroll the device.
              nullable: true
            applicationId:
              type: string
              description: Intune application identifier.
              nullable: true
            history:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mobileAppTroubleshootingHistoryItem'
              description: Intune Mobile Application Troubleshooting History Item
            appLogCollectionRequests:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.appLogCollectionRequest'
              description: The collection property of AppLogUploadRequest.
          additionalProperties:
            type: object
          description: MobileAppTroubleshootingEvent Entity.
    microsoft.graph.appLogCollectionRequest:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: appLogCollectionRequest
          type: object
          properties:
            status:
              $ref: '#/components/schemas/microsoft.graph.appLogUploadState'
            errorMessage:
              type: string
              description: Error message if any during the upload process
              nullable: true
            customLogFolders:
              type: array
              items:
                type: string
                nullable: true
              description: 'List of log folders. '
            completedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Time at which the upload log request reached a terminal state
              format: date-time
              nullable: true
          additionalProperties:
            type: object
          description: AppLogCollectionRequest Entity.
    microsoft.graph.deviceManagementTroubleshootingEvent:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: deviceManagementTroubleshootingEvent
          type: object
          properties:
            eventDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Time when the event occurred .
              format: date-time
            correlationId:
              type: string
              description: Id used for tracing the failure in the service.
              nullable: true
            troubleshootingErrorDetails:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementTroubleshootingErrorDetails'
            eventName:
              type: string
              description: Event Name corresponding to the Troubleshooting Event. It is an Optional field
              nullable: true
            additionalInformation:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.keyValuePair'
              description: A set of string key and string value pairs which provides additional information on the Troubleshooting event
          additionalProperties:
            type: object
          description: Event representing an general failure.
    microsoft.graph.mobileAppTroubleshootingHistoryItem:
      title: mobileAppTroubleshootingHistoryItem
      type: object
      properties:
        occurrenceDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: Time when the history item occurred.
          format: date-time
        troubleshootingErrorDetails:
          $ref: '#/components/schemas/microsoft.graph.deviceManagementTroubleshootingErrorDetails'
      additionalProperties:
        type: object
      description: History Item contained in the Mobile App Troubleshooting Event.
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.appLogUploadState:
      title: appLogUploadState
      enum:
        - pending
        - completed
        - failed
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.deviceManagementTroubleshootingErrorDetails:
      title: deviceManagementTroubleshootingErrorDetails
      type: object
      properties:
        context:
          type: string
          nullable: true
        failure:
          type: string
          nullable: true
        failureDetails:
          type: string
          description: The detailed description of what went wrong.
          nullable: true
        remediation:
          type: string
          description: The detailed description of how to remediate this issue.
          nullable: true
        resources:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.deviceManagementTroubleshootingErrorResource'
          description: Links to helpful documentation about this failure.
      additionalProperties:
        type: object
      description: Object containing detailed information about the error and its remediation.
    microsoft.graph.keyValuePair:
      title: keyValuePair
      type: object
      properties:
        name:
          type: string
          description: Name for this key-value pair
        value:
          type: string
          description: Value for this key-value pair
          nullable: true
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    microsoft.graph.deviceManagementTroubleshootingErrorResource:
      title: deviceManagementTroubleshootingErrorResource
      type: object
      properties:
        text:
          type: string
          nullable: true
        link:
          type: string
          description: 'The link to the web resource. Can contain any of the following formatters: {{UPN}}, {{DeviceGUID}}, {{UserGUID}}'
          nullable: true
      additionalProperties:
        type: object
      description: 'Object representing a link to troubleshooting information, the link could be to the Azure Portal or a Microsoft doc.'
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]