openapi: 3.0.1
info:
  title: DeviceManagement.Functions
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceManagement/applePushNotificationCertificate/microsoft.graph.downloadApplePushNotificationCertificateSigningRequest():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function downloadApplePushNotificationCertificateSigningRequest
      description: Download Apple push notification certificate signing request
      operationId: deviceManagement.applePushNotificationCertificate_downloadApplePushNotificationCertificateSigningRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/assignmentFilters/{deviceAndAppManagementAssignmentFilter-id}/microsoft.graph.getSupportedProperties()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getSupportedProperties
      operationId: deviceManagement.assignmentFilters_getSupportedProperties
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: 'key: id of deviceAndAppManagementAssignmentFilter'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceAndAppManagementAssignmentFilter
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.assignmentFilterSupportedProperty'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/assignmentFilters/microsoft.graph.getPlatformSupportedProperties(platform=''{platform}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getPlatformSupportedProperties
      operationId: deviceManagement.assignmentFilters_getPlatformSupportedProperties
      parameters:
        - name: platform
          in: path
          description: 'Usage: platform=''{platform}'''
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.devicePlatformType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceAndAppManagementAssignmentFilter
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.assignmentFilterSupportedProperty'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/assignmentFilters/microsoft.graph.getState():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getState
      operationId: deviceManagement.assignmentFilters_getState
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.assignmentFilterState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/auditEvents/microsoft.graph.getAuditActivityTypes(category=''{category}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getAuditActivityTypes
      operationId: deviceManagement.auditEvents_getAuditActivityTypes
      parameters:
        - name: category
          in: path
          description: 'Usage: category=''{category}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of auditEvent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/auditEvents/microsoft.graph.getAuditCategories():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getAuditCategories
      operationId: deviceManagement.auditEvents_getAuditCategories
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of auditEvent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.getCloudPcRemoteActionResults()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcRemoteActionResults
      operationId: deviceManagement.comanagedDevices_getCloudPcRemoteActionResults
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of managedDevice
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcRemoteActionResult'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.getCloudPcReviewStatus()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcReviewStatus
      operationId: deviceManagement.comanagedDevices_getCloudPcReviewStatus
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcReviewStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.getFileVaultKey()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getFileVaultKey
      operationId: deviceManagement.comanagedDevices_getFileVaultKey
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.getNonCompliantSettings()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getNonCompliantSettings
      operationId: deviceManagement.comanagedDevices_getNonCompliantSettings
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of managedDevice
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicySettingState'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.getOemWarranty()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getOemWarranty
      operationId: deviceManagement.comanagedDevices_getOemWarranty
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.oemWarranty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.retrieveRemoteHelpSession(sessionKey=''{sessionKey}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function retrieveRemoteHelpSession
      operationId: deviceManagement.comanagedDevices_retrieveRemoteHelpSession
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: sessionKey
          in: path
          description: 'Usage: sessionKey=''{sessionKey}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.retrieveRemoteHelpSessionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/comanagedDevices/microsoft.graph.appDiagnostics(upn=''{upn}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function appDiagnostics
      operationId: deviceManagement.comanagedDevices_appDiagnostics
      parameters:
        - name: upn
          in: path
          description: 'Usage: upn=''{upn}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of managedDevice
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.powerliftIncidentMetadata'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/configManagerCollections/microsoft.graph.getPolicySummary(policyId=''{policyId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getPolicySummary
      operationId: deviceManagement.configManagerCollections_getPolicySummary
      parameters:
        - name: policyId
          in: path
          description: 'Usage: policyId=''{policyId}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.configManagerPolicySummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles/{enrollmentProfile-id}/microsoft.graph.exportMobileConfig()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function exportMobileConfig
      description: Exports the mobile configuration
      operationId: deviceManagement.depOnboardingSettings.enrollmentProfiles_exportMobileConfig
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: 'key: id of enrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.getEncryptionPublicKey()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getEncryptionPublicKey
      description: Get a public key to use to encrypt the Apple device enrollment program token
      operationId: deviceManagement.depOnboardingSettings_getEncryptionPublicKey
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/depOnboardingSettings/microsoft.graph.getExpiringVppTokenCount(expiringBeforeDateTime=''{expiringBeforeDateTime}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getExpiringVppTokenCount
      operationId: deviceManagement.depOnboardingSettings_getExpiringVppTokenCount
      parameters:
        - name: expiringBeforeDateTime
          in: path
          description: 'Usage: expiringBeforeDateTime=''{expiringBeforeDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    format: int32
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.getDevicesScheduledToRetire():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getDevicesScheduledToRetire
      operationId: deviceManagement.deviceCompliancePolicies_getDevicesScheduledToRetire
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceCompliancePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.retireScheduledManagedDevice'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/deviceConfigurations/{deviceConfiguration-id}/microsoft.graph.getOmaSettingPlainTextValue(secretReferenceValueId=''{secretReferenceValueId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getOmaSettingPlainTextValue
      operationId: deviceManagement.deviceConfigurations_getOmaSettingPlainTextValue
      parameters:
        - name: deviceConfiguration-id
          in: path
          description: 'key: id of deviceConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceConfiguration
        - name: secretReferenceValueId
          in: path
          description: 'Usage: secretReferenceValueId=''{secretReferenceValueId}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/deviceConfigurations/microsoft.graph.getIosAvailableUpdateVersions():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getIosAvailableUpdateVersions
      operationId: deviceManagement.deviceConfigurations_getIosAvailableUpdateVersions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceConfiguration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.iosAvailableUpdateVersion'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/deviceHealthScripts/{deviceHealthScript-id}/microsoft.graph.getRemediationHistory()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getRemediationHistory
      description: Function to get the number of remediations by a device health scripts
      operationId: deviceManagement.deviceHealthScripts_getRemediationHistory
      parameters:
        - name: deviceHealthScript-id
          in: path
          description: 'key: id of deviceHealthScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceHealthScript
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceHealthScriptRemediationHistory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/deviceHealthScripts/microsoft.graph.areGlobalScriptsAvailable():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function areGlobalScriptsAvailable
      operationId: deviceManagement.deviceHealthScripts_areGlobalScriptsAvailable
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.globalDeviceHealthScriptState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/deviceHealthScripts/microsoft.graph.getRemediationSummary():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getRemediationSummary
      operationId: deviceManagement.deviceHealthScripts_getRemediationSummary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceHealthScriptRemediationSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/intents/{deviceManagementIntent-id}/microsoft.graph.compare(templateId=''{templateId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function compare
      operationId: deviceManagement.intents_compare
      parameters:
        - name: deviceManagementIntent-id
          in: path
          description: 'key: id of deviceManagementIntent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementIntent
        - name: templateId
          in: path
          description: 'Usage: templateId=''{templateId}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagementIntent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingComparison'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.getCloudPcRemoteActionResults()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcRemoteActionResults
      operationId: deviceManagement.managedDevices_getCloudPcRemoteActionResults
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of managedDevice
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcRemoteActionResult'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.getCloudPcReviewStatus()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcReviewStatus
      operationId: deviceManagement.managedDevices_getCloudPcReviewStatus
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcReviewStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.getFileVaultKey()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getFileVaultKey
      operationId: deviceManagement.managedDevices_getFileVaultKey
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.getNonCompliantSettings()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getNonCompliantSettings
      operationId: deviceManagement.managedDevices_getNonCompliantSettings
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of managedDevice
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicySettingState'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.getOemWarranty()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getOemWarranty
      operationId: deviceManagement.managedDevices_getOemWarranty
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.oemWarranty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.retrieveRemoteHelpSession(sessionKey=''{sessionKey}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function retrieveRemoteHelpSession
      operationId: deviceManagement.managedDevices_retrieveRemoteHelpSession
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: sessionKey
          in: path
          description: 'Usage: sessionKey=''{sessionKey}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.retrieveRemoteHelpSessionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/managedDevices/microsoft.graph.appDiagnostics(upn=''{upn}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function appDiagnostics
      operationId: deviceManagement.managedDevices_appDiagnostics
      parameters:
        - name: upn
          in: path
          description: 'Usage: upn=''{upn}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of managedDevice
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.powerliftIncidentMetadata'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/microsoft.graph.getAssignedRoleDetails():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getAssignedRoleDetails
      description: Retrieves the assigned role definitions and role assignments of the currently authenticated user.
      operationId: deviceManagement_getAssignedRoleDetails
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignedRoleDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/microsoft.graph.getComanagedDevicesSummary():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getComanagedDevicesSummary
      operationId: deviceManagement_getComanagedDevicesSummary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.comanagedDevicesSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/microsoft.graph.getComanagementEligibleDevicesSummary():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getComanagementEligibleDevicesSummary
      operationId: deviceManagement_getComanagementEligibleDevicesSummary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.comanagementEligibleDevicesSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/microsoft.graph.getEffectivePermissions():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getEffectivePermissions
      operationId: deviceManagement_getEffectivePermissions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagement
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.getEffectivePermissions(scope=''{scope}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getEffectivePermissions
      operationId: deviceManagement_getEffectivePermissions
      parameters:
        - name: scope
          in: path
          description: 'Usage: scope=''{scope}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagement
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.rolePermission'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.getRoleScopeTagsByIds(ids={ids})':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getRoleScopeTagsByIds
      operationId: deviceManagement_getRoleScopeTagsGraphBPreIds
      parameters:
        - name: ids
          in: path
          description: 'Usage: ids={ids}'
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagement
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.roleScopeTag'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.getRoleScopeTagsByResource(resource=''{resource}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getRoleScopeTagsByResource
      operationId: deviceManagement_getRoleScopeTagsGraphBPreResource
      parameters:
        - name: resource
          in: path
          description: 'Usage: resource=''{resource}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagement
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.roleScopeTag'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.getSuggestedEnrollmentLimit(enrollmentType=''{enrollmentType}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getSuggestedEnrollmentLimit
      operationId: deviceManagement_getSuggestedEnrollmentLimit
      parameters:
        - name: enrollmentType
          in: path
          description: 'Usage: enrollmentType=''{enrollmentType}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.suggestedEnrollmentLimit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.scopedForResource(resource=''{resource}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function scopedForResource
      operationId: deviceManagement_scopedGraphFPreResource
      parameters:
        - name: resource
          in: path
          description: 'Usage: resource=''{resource}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/microsoft.graph.userExperienceAnalyticsSummarizeWorkFromAnywhereDevices():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function userExperienceAnalyticsSummarizeWorkFromAnywhereDevices
      operationId: deviceManagement_userExperienceAnalyticsSummarizeWorkFromAnywhereDevices
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsWorkFromAnywhereDevicesSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.verifyWindowsEnrollmentAutoDiscovery(domainName=''{domainName}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function verifyWindowsEnrollmentAutoDiscovery
      operationId: deviceManagement_verifyWindowsEnrollmentAutoDiscovery
      parameters:
        - name: domainName
          in: path
          description: 'Usage: domainName=''{domainName}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/monitoring/alertRecords/microsoft.graph.deviceManagement.getPortalNotifications():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getPortalNotifications
      operationId: deviceManagement.monitoring.alertRecords_getPortalNotifications
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of alertRecord
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagement.portalNotification'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/resourceOperations/{resourceOperation-id}/microsoft.graph.getScopesForUser(userid=''{userid}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getScopesForUser
      operationId: deviceManagement.resourceOperations_getScopesGraphFPreUser
      parameters:
        - name: resourceOperation-id
          in: path
          description: 'key: id of resourceOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: resourceOperation
        - name: userid
          in: path
          description: 'Usage: userid=''{userid}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of resourceOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/roleScopeTags/microsoft.graph.hasCustomRoleScopeTag():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function hasCustomRoleScopeTag
      operationId: deviceManagement.roleScopeTags_hasCustomRoleScopeTag
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/templates/{deviceManagementTemplate-id}/microsoft.graph.compare(templateId=''{templateId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function compare
      operationId: deviceManagement.templates_compare
      parameters:
        - name: deviceManagementTemplate-id
          in: path
          description: 'key: id of deviceManagementTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementTemplate
        - name: templateId
          in: path
          description: 'Usage: templateId=''{templateId}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagementTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingComparison'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/templates/{deviceManagementTemplate-id}/migratableTo/{deviceManagementTemplate-id1}/microsoft.graph.compare(templateId=''{templateId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function compare
      operationId: deviceManagement.templates.migratableTo_compare
      parameters:
        - name: deviceManagementTemplate-id
          in: path
          description: 'key: id of deviceManagementTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementTemplate
        - name: deviceManagementTemplate-id1
          in: path
          description: 'key: id of deviceManagementTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementTemplate
        - name: templateId
          in: path
          description: 'Usage: templateId=''{templateId}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagementTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingComparison'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/tenantAttachRBAC/microsoft.graph.getState():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getState
      operationId: deviceManagement.tenantAttachRBAC_getState
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tenantAttachRBACState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/userExperienceAnalyticsDevicePerformance/microsoft.graph.summarizeDevicePerformanceDevices(summarizeBy=''{summarizeBy}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function summarizeDevicePerformanceDevices
      operationId: deviceManagement.userExperienceAnalyticsDevicePerformance_summarizeDevicePerformanceDevices
      parameters:
        - name: summarizeBy
          in: path
          description: 'Usage: summarizeBy=''{summarizeBy}'''
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsSummarizedBy'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of userExperienceAnalyticsDevicePerformance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsDevicePerformance'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/userExperienceAnalyticsRegressionSummary/microsoft.graph.summarizeDeviceRegressionPerformance(summarizeBy=''{summarizeBy}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function summarizeDeviceRegressionPerformance
      operationId: deviceManagement.userExperienceAnalyticsRegressionSummary_summarizeDeviceRegressionPerformance
      parameters:
        - name: summarizeBy
          in: path
          description: 'Usage: summarizeBy=''{summarizeBy}'''
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsSummarizedBy'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsRegressionSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/userExperienceAnalyticsRemoteConnection/microsoft.graph.summarizeDeviceRemoteConnection(summarizeBy=''{summarizeBy}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function summarizeDeviceRemoteConnection
      operationId: deviceManagement.userExperienceAnalyticsRemoteConnection_summarizeDeviceRemoteConnection
      parameters:
        - name: summarizeBy
          in: path
          description: 'Usage: summarizeBy=''{summarizeBy}'''
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsSummarizedBy'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of userExperienceAnalyticsRemoteConnection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsRemoteConnection'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/userExperienceAnalyticsResourcePerformance/microsoft.graph.summarizeDeviceResourcePerformance(summarizeBy=''{summarizeBy}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function summarizeDeviceResourcePerformance
      operationId: deviceManagement.userExperienceAnalyticsResourcePerformance_summarizeDeviceResourcePerformance
      parameters:
        - name: summarizeBy
          in: path
          description: 'Usage: summarizeBy=''{summarizeBy}'''
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsSummarizedBy'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of userExperienceAnalyticsResourcePerformance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsResourcePerformance'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/virtualEndpoint/auditEvents/microsoft.graph.getAuditActivityTypes():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getAuditActivityTypes
      operationId: deviceManagement.virtualEndpoint.auditEvents_getAuditActivityTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of cloudPcAuditEvent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/virtualEndpoint/cloudPCs/{cloudPC-id}/microsoft.graph.getCloudPcConnectivityHistory()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcConnectivityHistory
      operationId: deviceManagement.virtualEndpoint.cloudPCs_getCloudPcConnectivityHistory
      parameters:
        - name: cloudPC-id
          in: path
          description: 'key: id of cloudPC'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cloudPC
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of cloudPC
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcConnectivityEvent'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/virtualEndpoint/cloudPCs/{cloudPC-id}/microsoft.graph.getCloudPcLaunchInfo()':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getCloudPcLaunchInfo
      operationId: deviceManagement.virtualEndpoint.cloudPCs_getCloudPcLaunchInfo
      parameters:
        - name: cloudPC-id
          in: path
          description: 'key: id of cloudPC'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cloudPC
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcLaunchInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/virtualEndpoint/deviceImages/microsoft.graph.getSourceImages():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getSourceImages
      operationId: deviceManagement.virtualEndpoint.deviceImages_getSourceImages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of cloudPcDeviceImage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcSourceDeviceImage'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/virtualEndpoint/microsoft.graph.getEffectivePermissions():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getEffectivePermissions
      operationId: deviceManagement.virtualEndpoint_getEffectivePermissions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of virtualEndpoint
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/virtualEndpoint/snapshots/microsoft.graph.getStorageAccounts(subscriptionId=''{subscriptionId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getStorageAccounts
      operationId: deviceManagement.virtualEndpoint.snapshots_getStorageAccounts
      parameters:
        - name: subscriptionId
          in: path
          description: 'Usage: subscriptionId=''{subscriptionId}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of cloudPcSnapshot
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcForensicStorageAccount'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /deviceManagement/virtualEndpoint/snapshots/microsoft.graph.getSubscriptions():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getSubscriptions
      operationId: deviceManagement.virtualEndpoint.snapshots_getSubscriptions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of cloudPcSnapshot
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcSubscription'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
components:
  schemas:
    microsoft.graph.assignmentFilterSupportedProperty:
      title: assignmentFilterSupportedProperty
      type: object
      properties:
        dataType:
          type: string
          description: The data type of the property.
          nullable: true
        isCollection:
          type: boolean
          description: Indicates whether the property is a collection type or not.
        name:
          type: string
          description: Name of the property.
          nullable: true
        propertyRegexConstraint:
          type: string
          description: Regex string to do validation on the property value.
          nullable: true
        supportedOperators:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.assignmentFilterOperator'
          description: List of all supported operators on this property.
        supportedValues:
          type: array
          items:
            type: string
            nullable: true
          description: 'List of all supported values for this propery, empty if everything is supported.'
      additionalProperties:
        type: object
      description: Represents the information about the property which is supported in crafting the rule of AssignmentFilter.
    microsoft.graph.devicePlatformType:
      title: devicePlatformType
      enum:
        - android
        - androidForWork
        - iOS
        - macOS
        - windowsPhone81
        - windows81AndLater
        - windows10AndLater
        - androidWorkProfile
        - unknown
        - androidAOSP
      type: string
      description: Supported platform types.
      x-ms-enum:
        name: devicePlatformType
        modelAsString: false
        values:
          - value: android
            description: Android.
            name: android
          - value: androidForWork
            description: AndroidForWork.
            name: androidForWork
          - value: iOS
            description: iOS.
            name: iOS
          - value: macOS
            description: MacOS.
            name: macOS
          - value: windowsPhone81
            description: WindowsPhone 8.1.
            name: windowsPhone81
          - value: windows81AndLater
            description: Windows 8.1 and later
            name: windows81AndLater
          - value: windows10AndLater
            description: Windows 10 and later.
            name: windows10AndLater
          - value: androidWorkProfile
            description: Android Work Profile.
            name: androidWorkProfile
          - value: unknown
            description: Unknown.
            name: unknown
          - value: androidAOSP
            description: Android AOSP.
            name: androidAOSP
    microsoft.graph.assignmentFilterState:
      title: assignmentFilterState
      type: object
      properties:
        enabled:
          type: boolean
          description: Indicator to if AssignmentFilter is enabled or disabled.
      additionalProperties:
        type: object
      description: Represents result of GetState API.
    microsoft.graph.cloudPcRemoteActionResult:
      title: cloudPcRemoteActionResult
      type: object
      properties:
        actionName:
          type: string
          description: 'The specified action. Supported values in the Microsoft Endpoint Manager portal are: Reprovision, Resize, Restore. Supported values in enterprise Cloud PC devices are: Reboot, Rename, Reprovision, Troubleshoot.'
          nullable: true
        actionState:
          $ref: '#/components/schemas/microsoft.graph.actionState'
        cloudPcId:
          type: string
          description: The ID of the Cloud PC device on which the remote action is performed. Read-only.
          nullable: true
        lastUpdatedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'Last update time for action. The Timestamp is shown in ISO 8601 format and Coordinated Universal Time (UTC). For example, midnight UTC on Jan 1, 2014 appears as ''2014-01-01T00:00:00Z''.'
          format: date-time
          nullable: true
        managedDeviceId:
          type: string
          description: The ID of the Intune managed device on which the remote action is performed. Read-only.
          nullable: true
        startDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'Time the action was initiated. The Timestamp is shown in ISO 8601 format and Coordinated Universal Time (UTC). For example, midnight UTC on Jan 1, 2014 appears as ''2014-01-01T00:00:00Z''.'
          format: date-time
          nullable: true
        statusDetails:
          $ref: '#/components/schemas/microsoft.graph.cloudPcStatusDetails'
      additionalProperties:
        type: object
    microsoft.graph.cloudPcReviewStatus:
      title: cloudPcReviewStatus
      type: object
      properties:
        azureStorageAccountId:
          type: string
          description: The resource ID of the Azure Storage account in which the Cloud PC snapshot is being saved.
          nullable: true
        azureStorageAccountName:
          type: string
          description: The name of the Azure Storage account in which the Cloud PC snapshot is being saved.
          nullable: true
        azureStorageContainerName:
          type: string
          description: The name of the container in an Azure Storage account in which the Cloud PC snapshot is being saved.
          nullable: true
        inReview:
          type: boolean
          description: True if the Cloud PC is set to in review by the administrator.
        restorePointDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The specific date and time of the Cloud PC snapshot that was taken and saved automatically, when the Cloud PC is set to in review. The timestamp is shown in ISO 8601 format and Coordinated Universal Time (UTC). For example, midnight UTC on Jan 1, 2014 appears as 2014-01-01T00:00:00Z.'
          format: date-time
          nullable: true
        reviewStartDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The specific date and time when the Cloud PC was set to in review. The timestamp is shown in ISO 8601 format and Coordinated Universal Time (UTC). For example, midnight UTC on Jan 1, 2014 appears as 2014-01-01T00:00:00Z.'
          format: date-time
          nullable: true
        subscriptionId:
          type: string
          description: 'The ID of the Azure subscription in which the Cloud PC snapshot is being saved, in GUID format.'
          nullable: true
        subscriptionName:
          type: string
          description: The name of the Azure subscription in which the Cloud PC snapshot is being saved.
          nullable: true
        userAccessLevel:
          $ref: '#/components/schemas/microsoft.graph.cloudPcUserAccessLevel'
      additionalProperties:
        type: object
    microsoft.graph.deviceCompliancePolicySettingState:
      title: deviceCompliancePolicySettingState
      type: object
      properties:
        currentValue:
          type: string
          description: Current value of setting on device
          nullable: true
        errorCode:
          type: integer
          description: Error code for the setting
          format: int64
        errorDescription:
          type: string
          description: Error description
          nullable: true
        instanceDisplayName:
          type: string
          description: Name of setting instance that is being reported.
          nullable: true
        setting:
          type: string
          description: The setting that is being reported
          nullable: true
        settingInstanceId:
          type: string
          description: SettingInstanceId
          nullable: true
        settingName:
          type: string
          description: Localized/user friendly setting name that is being reported
          nullable: true
        sources:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.settingSource'
          description: Contributing policies
        state:
          $ref: '#/components/schemas/microsoft.graph.complianceStatus'
        userEmail:
          type: string
          description: UserEmail
          nullable: true
        userId:
          type: string
          description: UserId
          nullable: true
        userName:
          type: string
          description: UserName
          nullable: true
        userPrincipalName:
          type: string
          description: UserPrincipalName.
          nullable: true
      additionalProperties:
        type: object
      description: Device Compilance Policy Setting State for a given device.
    microsoft.graph.oemWarranty:
      title: oemWarranty
      type: object
      properties:
        additionalWarranties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.warrantyOffer'
          description: List of additional warranty offers. This collection can contain a maximum of 100 elements.
        baseWarranties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.warrantyOffer'
          description: List of base warranty offers. This collection can contain a maximum of 100 elements.
        deviceConfigurationUrl:
          type: string
          description: Device configuration page URL
          nullable: true
        deviceWarrantyUrl:
          type: string
          description: Device warranty page URL
          nullable: true
      additionalProperties:
        type: object
      description: OEM Warranty information for a given device
    microsoft.graph.retrieveRemoteHelpSessionResponse:
      title: retrieveRemoteHelpSessionResponse
      type: object
      properties:
        acsGroupId:
          type: string
          description: ACS Group Id
        acsHelperUserId:
          type: string
          description: Helper ACS User Id
        acsHelperUserToken:
          type: string
          description: Helper ACS User Token
        acsSharerUserId:
          type: string
          description: Sharer ACS User Id
        deviceName:
          type: string
          description: Android Device Name
        pubSubGroupId:
          type: string
          description: Azure Pubsub Group Id
        pubSubHelperAccessUri:
          type: string
          description: Azure Pubsub Group Id
        sessionExpirationDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: Azure Pubsub Session Expiration Date Time.
          format: date-time
        sessionKey:
          type: string
          description: The unique identifier for a session
      additionalProperties:
        type: object
      description: Remote help - response we provide back to the helper on retrieve session API call
    microsoft.graph.powerliftIncidentMetadata:
      title: powerliftIncidentMetadata
      type: object
      properties:
        application:
          type: string
          description: 'The name of the application the diagnostic is from. Example: com.microsoft.CompanyPortal'
          nullable: true
        clientVersion:
          type: string
          description: 'The version of the application. Example: 5.2203.1'
          nullable: true
        createdAtDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The time the app diagnostic was created. Example: 2022-04-19T17:24:45.313Z'
          format: date-time
          nullable: true
        easyId:
          type: string
          description: 'The unique app diagnostic identifier as a user friendly 8 character hexadecimal string. Example: 8520467A'
          nullable: true
        fileNames:
          type: array
          items:
            type: string
            nullable: true
          description: A list of files that are associated with the diagnostic.
        locale:
          type: string
          description: 'The locale information of the application. Example: en-US'
          nullable: true
        platform:
          type: string
          description: 'The device''s OS the diagnostic is from. Example: iOS'
          nullable: true
        powerliftId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          description: 'The unique identifier of the app diagnostic. Example: 8520467a-49a9-44a4-8447-8dfb8bec6726'
          format: uuid
      additionalProperties:
        type: object
      description: Collection of app diagnostics associated with a user.
    microsoft.graph.configManagerPolicySummary:
      title: configManagerPolicySummary
      type: object
      properties:
        compliantDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of devices evaluated to be compliant by the policy.
          format: int32
        enforcedDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of devices that have have been remediated by the policy.
          format: int32
        failedDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of devices that failed to be evaluated by the policy.
          format: int32
        nonCompliantDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of devices evaluated to be noncompliant by the policy.
          format: int32
        pendingDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of devices that have acknowledged the policy but are pending evaluation.
          format: int32
        targetedDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of devices targeted by the policy.
          format: int32
      additionalProperties:
        type: object
      description: A ConfigManager policy summary.
    microsoft.graph.retireScheduledManagedDevice:
      title: retireScheduledManagedDevice
      type: object
      properties:
        complianceState:
          $ref: '#/components/schemas/microsoft.graph.complianceStatus'
        deviceCompliancePolicyId:
          type: string
          description: Device Compliance PolicyId
          nullable: true
        deviceCompliancePolicyName:
          type: string
          description: Device Compliance Policy Name
          nullable: true
        deviceType:
          $ref: '#/components/schemas/microsoft.graph.deviceType'
        id:
          type: string
          description: Key of the entity.
          nullable: true
        managedDeviceId:
          type: string
          description: Managed DeviceId
          nullable: true
        managedDeviceName:
          type: string
          description: Managed Device Name
          nullable: true
        managementAgent:
          $ref: '#/components/schemas/microsoft.graph.managementAgentType'
        ownerType:
          $ref: '#/components/schemas/microsoft.graph.managedDeviceOwnerType'
        retireAfterDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: Managed Device Retire After DateTime
          format: date-time
        roleScopeTagIds:
          type: array
          items:
            type: string
            nullable: true
          description: List of Scope Tags for this Entity instance.
      additionalProperties:
        type: object
      description: ManagedDevices that are scheduled for retire
    microsoft.graph.iosAvailableUpdateVersion:
      title: iosAvailableUpdateVersion
      type: object
      properties:
        expirationDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: The expiration date of the update.
          format: date-time
        postingDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: The posting date of the update.
          format: date-time
        productVersion:
          type: string
          description: The version of the update.
        supportedDevices:
          type: array
          items:
            type: string
            nullable: true
          description: List of supported devices for the update.
      additionalProperties:
        type: object
      description: iOS available update version details
    microsoft.graph.deviceHealthScriptRemediationHistory:
      title: deviceHealthScriptRemediationHistory
      type: object
      properties:
        historyData:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.deviceHealthScriptRemediationHistoryData'
          description: The number of devices remediated by the device health script on the given date.
        lastModifiedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: The date on which the results history is calculated for the healthscript.
          format: date-time
          nullable: true
      additionalProperties:
        type: object
      description: The number of devices remediated by a device health script on a given date with the last modified time.
    microsoft.graph.globalDeviceHealthScriptState:
      title: globalDeviceHealthScriptState
      enum:
        - notConfigured
        - pending
        - enabled
      type: string
      description: Indicates whether global device health scripts are enabled and are in which state
      x-ms-enum:
        name: globalDeviceHealthScriptState
        modelAsString: false
        values:
          - value: notConfigured
            description: Global device health scripts are not configured
            name: notConfigured
          - value: pending
            description: Global device health scripts are configured but not fully enabled
            name: pending
          - value: enabled
            description: Global device health scripts are enabled and ready to use
            name: enabled
    microsoft.graph.deviceHealthScriptRemediationSummary:
      title: deviceHealthScriptRemediationSummary
      type: object
      properties:
        remediatedDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of devices remediated by device health scripts.
          format: int32
          nullable: true
        scriptCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of device health scripts deployed.
          format: int32
          nullable: true
      additionalProperties:
        type: object
      description: The number of device health scripts deployed and the number of devices the scripts remediated.
    microsoft.graph.deviceManagementSettingComparison:
      title: deviceManagementSettingComparison
      type: object
      properties:
        comparisonResult:
          $ref: '#/components/schemas/microsoft.graph.deviceManagementComparisonResult'
        currentValueJson:
          type: string
          description: JSON representation of current intent (or) template setting's value
          nullable: true
        definitionId:
          type: string
          description: The ID of the setting definition for this instance
          nullable: true
        displayName:
          type: string
          description: The setting's display name
          nullable: true
        id:
          type: string
          description: The setting ID
          nullable: true
        newValueJson:
          type: string
          description: JSON representation of new template setting's value
          nullable: true
      additionalProperties:
        type: object
      description: Entity representing setting comparison result
    microsoft.graph.deviceAndAppManagementAssignedRoleDetails:
      title: deviceAndAppManagementAssignedRoleDetails
      type: object
      properties:
        roleAssignmentIds:
          type: array
          items:
            type: string
            nullable: true
          description: Role Assignment IDs for the specifc Role Assignments assigned to a user. This property is read-only.
        roleDefinitionIds:
          type: array
          items:
            type: string
            nullable: true
          description: Role Definition IDs for the specifc Role Definitions assigned to a user. This property is read-only.
      additionalProperties:
        type: object
      description: The set of Role Definitions and Role Assignments assigned to a user.
    microsoft.graph.comanagedDevicesSummary:
      title: comanagedDevicesSummary
      type: object
      properties:
        compliancePolicyCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Number of devices with CompliancePolicy swung-over. This property is read-only.
          format: int32
        configurationSettingsCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Number of devices with ConfigurationSettings swung-over. This property is read-only.
          format: int32
        endpointProtectionCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Number of devices with EndpointProtection swung-over. This property is read-only.
          format: int32
        inventoryCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Number of devices with Inventory swung-over. This property is read-only.
          format: int32
        modernAppsCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Number of devices with ModernApps swung-over. This property is read-only.
          format: int32
        officeAppsCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Number of devices with OfficeApps swung-over. This property is read-only.
          format: int32
        resourceAccessCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Number of devices with ResourceAccess swung-over. This property is read-only.
          format: int32
        totalComanagedCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Number of Co-Managed Devices. This property is read-only.
          format: int32
        windowsUpdateForBusinessCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Number of devices with WindowsUpdateForBusiness swung-over. This property is read-only.
          format: int32
      additionalProperties:
        type: object
      description: Summary data for co managed devices
    microsoft.graph.comanagementEligibleDevicesSummary:
      title: comanagementEligibleDevicesSummary
      type: object
      properties:
        comanagedCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Count of devices already Co-Managed
          format: int32
        eligibleButNotAzureAdJoinedCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Count of devices eligible for Co-Management but not yet joined to Azure Active Directory
          format: int32
        eligibleCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Count of devices fully eligible for Co-Management
          format: int32
        ineligibleCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Count of devices ineligible for Co-Management
          format: int32
        needsOsUpdateCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Count of devices that will be eligible for Co-Management after an OS update
          format: int32
      additionalProperties:
        type: object
    microsoft.graph.rolePermission:
      title: rolePermission
      type: object
      properties:
        actions:
          type: array
          items:
            type: string
            nullable: true
          description: Allowed Actions - Deprecated
        resourceActions:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.resourceAction'
          description: Resource Actions each containing a set of allowed and not allowed permissions.
      additionalProperties:
        type: object
      description: Contains the set of ResourceActions determining the allowed and not allowed permissions for each role.
    microsoft.graph.roleScopeTag:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: roleScopeTag
          type: object
          properties:
            description:
              type: string
              description: Description of the Role Scope Tag.
              nullable: true
            displayName:
              type: string
              description: The display or friendly name of the Role Scope Tag.
              nullable: true
            isBuiltIn:
              type: boolean
              description: Description of the Role Scope Tag. This property is read-only.
            assignments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.roleScopeTagAutoAssignment'
              description: The list of assignments for this Role Scope Tag.
          additionalProperties:
            type: object
          description: Role Scope Tag
    microsoft.graph.suggestedEnrollmentLimit:
      title: suggestedEnrollmentLimit
      type: object
      properties:
        suggestedDailyLimit:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The suggested enrollment limit within a day
          format: int32
      additionalProperties:
        type: object
      description: The suggestedEnrollmentLimit resource represents the suggested enrollment limit when given an enrollment type.
    microsoft.graph.userExperienceAnalyticsWorkFromAnywhereDevicesSummary:
      title: userExperienceAnalyticsWorkFromAnywhereDevicesSummary
      type: object
      properties:
        autopilotDevicesSummary:
          $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsAutopilotDevicesSummary'
        cloudIdentityDevicesSummary:
          $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsCloudIdentityDevicesSummary'
        cloudManagementDevicesSummary:
          $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsCloudManagementDevicesSummary'
        coManagedDevices:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Total number of co-managed devices. Valid values -2147483648 to 2147483647
          format: int32
        devicesNotAutopilotRegistered:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The count of intune devices that are not autopilot registerd. Valid values -2147483648 to 2147483647
          format: int32
        devicesWithoutAutopilotProfileAssigned:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The count of intune devices not autopilot profile assigned. Valid values -2147483648 to 2147483647
          format: int32
        devicesWithoutCloudIdentity:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The count of devices that are not cloud identity. Valid values -2147483648 to 2147483647
          format: int32
        intuneDevices:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The count of intune devices that are not autopilot registerd. Valid values -2147483648 to 2147483647
          format: int32
        tenantAttachDevices:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Total count of tenant attach devices. Valid values -2147483648 to 2147483647
          format: int32
        totalDevices:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The total count of devices. Valid values -2147483648 to 2147483647
          format: int32
        unsupportedOSversionDevices:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The count of Windows 10 devices that have unsupported OS versions. Valid values -2147483648 to 2147483647
          format: int32
        windows10Devices:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The count of windows 10 devices. Valid values -2147483648 to 2147483647
          format: int32
        windows10DevicesSummary:
          $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsWindows10DevicesSummary'
        windows10DevicesWithoutTenantAttach:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The count of windows 10 devices that are Intune and Comanaged. Valid values -2147483648 to 2147483647
          format: int32
      additionalProperties:
        type: object
      description: The user experience analytics Work From Anywhere metrics devices summary.
    microsoft.graph.deviceManagement.portalNotification:
      title: portalNotification
      type: object
      properties:
        alertImpact:
          $ref: '#/components/schemas/microsoft.graph.deviceManagement.alertImpact'
        alertRecordId:
          type: string
          nullable: true
        alertRuleId:
          type: string
          nullable: true
        alertRuleName:
          type: string
          nullable: true
        alertRuleTemplate:
          $ref: '#/components/schemas/microsoft.graph.deviceManagement.alertRuleTemplate'
        id:
          type: string
          nullable: true
        isPortalNotificationSent:
          type: boolean
          nullable: true
        severity:
          $ref: '#/components/schemas/microsoft.graph.deviceManagement.ruleSeverityType'
      additionalProperties:
        type: object
    microsoft.graph.tenantAttachRBACState:
      title: tenantAttachRBACState
      type: object
      properties:
        enabled:
          type: boolean
          description: 'Indicates whether the tenant is enabled for Tenant Attach with role management.  TRUE if enabled, FALSE if the Tenant Attach with rolemanagement is disabled.'
      additionalProperties:
        type: object
      description: Represents result of GetState API.
    microsoft.graph.userExperienceAnalyticsSummarizedBy:
      title: userExperienceAnalyticsSummarizedBy
      enum:
        - none
        - model
        - allRegressions
        - modelRegression
        - manufacturerRegression
        - operatingSystemVersionRegression
      type: string
    microsoft.graph.userExperienceAnalyticsDevicePerformance:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userExperienceAnalyticsDevicePerformance
          type: object
          properties:
            averageBlueScreens:
              type: number
              description: Average (mean) number of Blue Screens per device in the last 14 days. Valid values 0 to 9999999
              format: double
            averageRestarts:
              type: number
              description: Average (mean) number of Restarts per device in the last 14 days. Valid values 0 to 9999999
              format: double
            blueScreenCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: Number of Blue Screens in the last 14 days. Valid values 0 to 9999999
              format: int32
            bootScore:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The user experience analytics device boot score.
              format: int32
            coreBootTimeInMs:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The user experience analytics device core boot time in milliseconds.
              format: int32
            coreLoginTimeInMs:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The user experience analytics device core login time in milliseconds.
              format: int32
            deviceCount:
              type: integer
              description: User experience analytics summarized device count.
              format: int64
            deviceName:
              type: string
              description: The user experience analytics device name.
              nullable: true
            diskType:
              $ref: '#/components/schemas/microsoft.graph.diskType'
            groupPolicyBootTimeInMs:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The user experience analytics device group policy boot time in milliseconds.
              format: int32
            groupPolicyLoginTimeInMs:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The user experience analytics device group policy login time in milliseconds.
              format: int32
            healthStatus:
              $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsHealthState'
            loginScore:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The user experience analytics device login score.
              format: int32
            manufacturer:
              type: string
              description: The user experience analytics device manufacturer.
              nullable: true
            model:
              type: string
              description: The user experience analytics device model.
              nullable: true
            modelStartupPerformanceScore:
              type: number
              description: The user experience analytics model level startup performance score. Valid values -1.79769313486232E+308 to 1.79769313486232E+308
              format: double
            operatingSystemVersion:
              type: string
              description: The user experience analytics device Operating System version.
              nullable: true
            responsiveDesktopTimeInMs:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The user experience analytics responsive desktop time in milliseconds.
              format: int32
            restartCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: Number of Restarts in the last 14 days. Valid values 0 to 9999999
              format: int32
            startupPerformanceScore:
              type: number
              description: The user experience analytics device startup performance score. Valid values -1.79769313486232E+308 to 1.79769313486232E+308
              format: double
          additionalProperties:
            type: object
          description: The user experience analytics device performance entity contains device boot performance details.
    microsoft.graph.userExperienceAnalyticsRegressionSummary:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userExperienceAnalyticsRegressionSummary
          type: object
          properties:
            manufacturerRegression:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsMetric'
              description: The metric values for the user experience analytics Manufacturer regression.
            modelRegression:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsMetric'
              description: The metric values for the user experience analytics model regression.
            operatingSystemRegression:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsMetric'
              description: The metric values for the user experience analytics operating system regression.
          additionalProperties:
            type: object
          description: The user experience analytics Regression Summary.
    microsoft.graph.userExperienceAnalyticsRemoteConnection:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userExperienceAnalyticsRemoteConnection
          type: object
          properties:
            cloudPcFailurePercentage:
              type: number
              description: The sign in failure percentage of Cloud PC Device. Valid values 0 to 100
              format: double
            cloudPcRoundTripTime:
              type: number
              description: The round tip time of Cloud PC Device. Valid values 0 to 1.79769313486232E+308
              format: double
            cloudPcSignInTime:
              type: number
              description: The sign in time of Cloud PC Device. Valid values 0 to 1.79769313486232E+308
              format: double
            coreBootTime:
              type: number
              description: The core boot time of Cloud PC Device. Valid values 0 to 1.79769313486232E+308
              format: double
            coreSignInTime:
              type: number
              description: The core sign in time of Cloud PC Device. Valid values 0 to 1.79769313486232E+308
              format: double
            deviceCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The count of remote connection. Valid values 0 to 2147483647
              format: int32
            deviceId:
              type: string
              description: The id of the device.
              nullable: true
            deviceName:
              type: string
              description: The name of the device.
              nullable: true
            manufacturer:
              type: string
              description: The user experience analytics manufacturer.
              nullable: true
            model:
              type: string
              description: The user experience analytics device model.
              nullable: true
            remoteSignInTime:
              type: number
              description: The remote sign in time of Cloud PC Device. Valid values 0 to 1.79769313486232E+308
              format: double
            userPrincipalName:
              type: string
              description: The user experience analytics userPrincipalName.
              nullable: true
            virtualNetwork:
              type: string
              description: The user experience analytics virtual network.
              nullable: true
          additionalProperties:
            type: object
          description: The user experience analyte remote connection entity.
    microsoft.graph.userExperienceAnalyticsResourcePerformance:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userExperienceAnalyticsResourcePerformance
          type: object
          properties:
            averageSpikeTimeScore:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
[...]
