openapi: 3.0.1
info:
  title: Devices.ServiceAnnouncement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /admin/serviceAnnouncement:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get serviceAnnouncement from admin
      description: A container for service communications resources. Read-only.
      operationId: admin_GetServiceAnnouncement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - healthOverviews
                - issues
                - messages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - healthOverviews
                - issues
                - messages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceAnnouncement'
          links:
            healthOverviews:
              operationId: admin.ServiceAnnouncement.ListHealthOverviews
            issues:
              operationId: admin.ServiceAnnouncement.ListIssues
            messages:
              operationId: admin.ServiceAnnouncement.ListMessages
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property serviceAnnouncement in admin
      operationId: admin_UpdateServiceAnnouncement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceAnnouncement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property serviceAnnouncement for admin
      operationId: admin_DeleteServiceAnnouncement
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/serviceAnnouncement/healthOverviews:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get healthOverviews from admin
      description: 'A collection of service health information for tenant. This property is a contained navigation property, it is nullable and readonly.'
      operationId: admin.serviceAnnouncement_ListHealthOverviews
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - service
                - service desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - service
                - status
                - issues
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - issues
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.serviceHealthCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.serviceAnnouncement
      summary: Create new navigation property to healthOverviews for admin
      operationId: admin.serviceAnnouncement_CreateHealthOverviews
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealth'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealth'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/healthOverviews/{serviceHealth-id}':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get healthOverviews from admin
      description: 'A collection of service health information for tenant. This property is a contained navigation property, it is nullable and readonly.'
      operationId: admin.serviceAnnouncement_GetHealthOverviews
      parameters:
        - name: serviceHealth-id
          in: path
          description: 'key: id of serviceHealth'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - service
                - status
                - issues
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - issues
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealth'
          links:
            issues:
              operationId: admin.serviceAnnouncement.HealthOverviews.ListIssues
              parameters:
                serviceHealth-id: $request.path.serviceHealth-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property healthOverviews in admin
      operationId: admin.serviceAnnouncement_UpdateHealthOverviews
      parameters:
        - name: serviceHealth-id
          in: path
          description: 'key: id of serviceHealth'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealth'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property healthOverviews for admin
      operationId: admin.serviceAnnouncement_DeleteHealthOverviews
      parameters:
        - name: serviceHealth-id
          in: path
          description: 'key: id of serviceHealth'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/healthOverviews/{serviceHealth-id}/issues':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get issues from admin
      description: 'A collection of issues that happened on the service, with detailed information for each issue.'
      operationId: admin.serviceAnnouncement.healthOverviews_ListIssues
      parameters:
        - name: serviceHealth-id
          in: path
          description: 'key: id of serviceHealth'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - details
                - details desc
                - endDateTime
                - endDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
                - classification
                - classification desc
                - feature
                - feature desc
                - featureGroup
                - featureGroup desc
                - impactDescription
                - impactDescription desc
                - isResolved
                - isResolved desc
                - origin
                - origin desc
                - posts
                - posts desc
                - service
                - service desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - classification
                - feature
                - featureGroup
                - impactDescription
                - isResolved
                - origin
                - posts
                - service
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.serviceHealthIssueCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.serviceAnnouncement
      summary: Create new navigation property to issues for admin
      operationId: admin.serviceAnnouncement.healthOverviews_CreateIssues
      parameters:
        - name: serviceHealth-id
          in: path
          description: 'key: id of serviceHealth'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/healthOverviews/{serviceHealth-id}/issues/{serviceHealthIssue-id}':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get issues from admin
      description: 'A collection of issues that happened on the service, with detailed information for each issue.'
      operationId: admin.serviceAnnouncement.healthOverviews_GetIssues
      parameters:
        - name: serviceHealth-id
          in: path
          description: 'key: id of serviceHealth'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: serviceHealthIssue-id
          in: path
          description: 'key: id of serviceHealthIssue'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - classification
                - feature
                - featureGroup
                - impactDescription
                - isResolved
                - origin
                - posts
                - service
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
          links:
            incidentReport:
              operationId: admin.serviceAnnouncement.healthOverviews.serviceHealth.issues.serviceHealthIssue.incidentReport
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property issues in admin
      operationId: admin.serviceAnnouncement.healthOverviews_UpdateIssues
      parameters:
        - name: serviceHealth-id
          in: path
          description: 'key: id of serviceHealth'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: serviceHealthIssue-id
          in: path
          description: 'key: id of serviceHealthIssue'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property issues for admin
      operationId: admin.serviceAnnouncement.healthOverviews_DeleteIssues
      parameters:
        - name: serviceHealth-id
          in: path
          description: 'key: id of serviceHealth'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: serviceHealthIssue-id
          in: path
          description: 'key: id of serviceHealthIssue'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/healthOverviews/{serviceHealth-id}/issues/{serviceHealthIssue-id}/microsoft.graph.incidentReport()':
    get:
      tags:
        - admin.Functions
      summary: Invoke function incidentReport
      operationId: admin.serviceAnnouncement.healthOverviews.issues_incidentReport
      parameters:
        - name: serviceHealth-id
          in: path
          description: 'key: id of serviceHealth'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: serviceHealthIssue-id
          in: path
          description: 'key: id of serviceHealthIssue'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /admin/serviceAnnouncement/issues:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get issues from admin
      description: 'A collection of service issues for tenant. This property is a contained navigation property, it is nullable and readonly.'
      operationId: admin.serviceAnnouncement_ListIssues
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - details
                - details desc
                - endDateTime
                - endDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
                - classification
                - classification desc
                - feature
                - feature desc
                - featureGroup
                - featureGroup desc
                - impactDescription
                - impactDescription desc
                - isResolved
                - isResolved desc
                - origin
                - origin desc
                - posts
                - posts desc
                - service
                - service desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - classification
                - feature
                - featureGroup
                - impactDescription
                - isResolved
                - origin
                - posts
                - service
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.serviceHealthIssueCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.serviceAnnouncement
      summary: Create new navigation property to issues for admin
      operationId: admin.serviceAnnouncement_CreateIssues
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/issues/{serviceHealthIssue-id}':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get issues from admin
      description: 'A collection of service issues for tenant. This property is a contained navigation property, it is nullable and readonly.'
      operationId: admin.serviceAnnouncement_GetIssues
      parameters:
        - name: serviceHealthIssue-id
          in: path
          description: 'key: id of serviceHealthIssue'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - classification
                - feature
                - featureGroup
                - impactDescription
                - isResolved
                - origin
                - posts
                - service
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
          links:
            incidentReport:
              operationId: admin.serviceAnnouncement.issues.serviceHealthIssue.incidentReport
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property issues in admin
      operationId: admin.serviceAnnouncement_UpdateIssues
      parameters:
        - name: serviceHealthIssue-id
          in: path
          description: 'key: id of serviceHealthIssue'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property issues for admin
      operationId: admin.serviceAnnouncement_DeleteIssues
      parameters:
        - name: serviceHealthIssue-id
          in: path
          description: 'key: id of serviceHealthIssue'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/issues/{serviceHealthIssue-id}/microsoft.graph.incidentReport()':
    get:
      tags:
        - admin.Functions
      summary: Invoke function incidentReport
      operationId: admin.serviceAnnouncement.issues_incidentReport
      parameters:
        - name: serviceHealthIssue-id
          in: path
          description: 'key: id of serviceHealthIssue'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /admin/serviceAnnouncement/messages:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get messages from admin
      description: 'A collection of service messages for tenant. This property is a contained navigation property, it is nullable and readonly.'
      operationId: admin.serviceAnnouncement_ListMessages
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - details
                - details desc
                - endDateTime
                - endDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
                - actionRequiredByDateTime
                - actionRequiredByDateTime desc
                - attachmentsArchive
                - attachmentsArchive desc
                - body
                - body desc
                - category
                - category desc
                - hasAttachments
                - hasAttachments desc
                - isMajorChange
                - isMajorChange desc
                - services
                - services desc
                - severity
                - severity desc
                - tags
                - tags desc
                - viewPoint
                - viewPoint desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - actionRequiredByDateTime
                - attachmentsArchive
                - body
                - category
                - hasAttachments
                - isMajorChange
                - services
                - severity
                - tags
                - viewPoint
                - attachments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.serviceUpdateMessageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.serviceAnnouncement
      summary: Create new navigation property to messages for admin
      operationId: admin.serviceAnnouncement_CreateMessages
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get messages from admin
      description: 'A collection of service messages for tenant. This property is a contained navigation property, it is nullable and readonly.'
      operationId: admin.serviceAnnouncement_GetMessages
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - actionRequiredByDateTime
                - attachmentsArchive
                - body
                - category
                - hasAttachments
                - isMajorChange
                - services
                - severity
                - tags
                - viewPoint
                - attachments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessage'
          links:
            attachments:
              operationId: admin.serviceAnnouncement.Messages.ListAttachments
              parameters:
                serviceUpdateMessage-id: $request.path.serviceUpdateMessage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property messages in admin
      operationId: admin.serviceAnnouncement_UpdateMessages
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property messages for admin
      operationId: admin.serviceAnnouncement_DeleteMessages
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}/attachments':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get attachments from admin
      description: A collection of serviceAnnouncementAttachments.
      operationId: admin.serviceAnnouncement.messages_ListAttachments
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - content
                - content desc
                - contentType
                - contentType desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - size
                - size desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - contentType
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.serviceAnnouncementAttachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.serviceAnnouncement
      summary: Create new navigation property to attachments for admin
      operationId: admin.serviceAnnouncement.messages_CreateAttachments
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}/attachments/{serviceAnnouncementAttachment-id}':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get attachments from admin
      description: A collection of serviceAnnouncementAttachments.
      operationId: admin.serviceAnnouncement.messages_GetAttachments
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: serviceAnnouncementAttachment-id
          in: path
          description: 'key: id of serviceAnnouncementAttachment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceAnnouncementAttachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - contentType
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property attachments in admin
      operationId: admin.serviceAnnouncement.messages_UpdateAttachments
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: serviceAnnouncementAttachment-id
          in: path
          description: 'key: id of serviceAnnouncementAttachment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceAnnouncementAttachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property attachments for admin
      operationId: admin.serviceAnnouncement.messages_DeleteAttachments
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: serviceAnnouncementAttachment-id
          in: path
          description: 'key: id of serviceAnnouncementAttachment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceAnnouncementAttachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}/attachments/{serviceAnnouncementAttachment-id}/content':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get content for the navigation property attachments from admin
      description: The attachment content.
      operationId: admin.serviceAnnouncement.messages_GetAttachmentsContent
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: serviceAnnouncementAttachment-id
          in: path
          description: 'key: id of serviceAnnouncementAttachment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceAnnouncementAttachment
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - admin.serviceAnnouncement
      summary: Update content for the navigation property attachments in admin
      description: The attachment content.
      operationId: admin.serviceAnnouncement.messages_SetAttachmentsContent
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: serviceAnnouncementAttachment-id
          in: path
          description: 'key: id of serviceAnnouncementAttachment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceAnnouncementAttachment
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}/attachmentsArchive':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get attachmentsArchive for the navigation property messages from admin
      description: The zip file of all attachments for a message.
      operationId: admin.serviceAnnouncement_GetMessagesAttachmentsArchive
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - admin.serviceAnnouncement
      summary: Update attachmentsArchive for the navigation property messages in admin
      description: The zip file of all attachments for a message.
      operationId: admin.serviceAnnouncement_SetMessagesAttachmentsArchive
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: 'key: id of serviceUpdateMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/serviceAnnouncement/messages/microsoft.graph.archive:
    post:
      tags:
        - admin.Actions
      summary: Invoke action archive
      operationId: admin.serviceAnnouncement.messages_archive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.favorite:
    post:
      tags:
        - admin.Actions
      summary: Invoke action favorite
      operationId: admin.serviceAnnouncement.messages_favorite
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.markRead:
    post:
      tags:
        - admin.Actions
      summary: Invoke action markRead
      operationId: admin.serviceAnnouncement.messages_markRead
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.markUnread:
    post:
      tags:
        - admin.Actions
      summary: Invoke action markUnread
      operationId: admin.serviceAnnouncement.messages_markUnread
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.unarchive:
    post:
      tags:
        - admin.Actions
      summary: Invoke action unarchive
      operationId: admin.serviceAnnouncement.messages_unarchive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.unfavorite:
    post:
      tags:
        - admin.Actions
      summary: Invoke action unfavorite
      operationId: admin.serviceAnnouncement.messages_unfavorite
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembers
      operationId: admin.windows.updates.deployments.audience.exclusions_addMembers
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembersById
      operationId: admin.windows.updates.deployments.audience.exclusions_addMembersGraphBPreId
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembers
      operationId: admin.windows.updates.deployments.audience.exclusions_removeMembers
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembersById
      operationId: admin.windows.updates.deployments.audience.exclusions_removeMembersGraphBPreId
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/microsoft.graph.windowsUpdates.enrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssets
      operationId: admin.windows.updates.deployments.audience.exclusions_enrollAssets
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/microsoft.graph.windowsUpdates.enrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssetsById
      operationId: admin.windows.updates.deployments.audience.exclusions_enrollAssetsGraphBPreId
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/microsoft.graph.windowsUpdates.unenrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssets
      operationId: admin.windows.updates.deployments.audience.exclusions_unenrollAssets
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/microsoft.graph.windowsUpdates.unenrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssetsById
      operationId: admin.windows.updates.deployments.audience.exclusions_unenrollAssetsGraphBPreId
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembers
      operationId: admin.windows.updates.deployments.audience.members_addMembers
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembersById
      operationId: admin.windows.updates.deployments.audience.members_addMembersGraphBPreId
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembers
      operationId: admin.windows.updates.deployments.audience.members_removeMembers
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembersById
      operationId: admin.windows.updates.deployments.audience.members_removeMembersGraphBPreId
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/members/microsoft.graph.windowsUpdates.enrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssets
      operationId: admin.windows.updates.deployments.audience.members_enrollAssets
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/members/microsoft.graph.windowsUpdates.enrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssetsById
      operationId: admin.windows.updates.deployments.audience.members_enrollAssetsGraphBPreId
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/members/microsoft.graph.windowsUpdates.unenrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssets
      operationId: admin.windows.updates.deployments.audience.members_unenrollAssets
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/members/microsoft.graph.windowsUpdates.unenrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssetsById
      operationId: admin.windows.updates.deployments.audience.members_unenrollAssetsGraphBPreId
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/microsoft.graph.windowsUpdates.updateAudience':
    post:
      tags:
        - admin.Actions
      summary: Invoke action updateAudience
      operationId: admin.windows.updates.deployments.audience_updateAudience
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                addMembers:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
                removeMembers:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
                addExclusions:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
                removeExclusions:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/microsoft.graph.windowsUpdates.updateAudienceById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action updateAudienceById
      operationId: admin.windows.updates.deployments.audience_updateAudienceGraphBPreId
      parameters:
        - name: deployment-id
          in: path
          description: 'key: id of deployment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                memberEntityType:
                  type: string
                  nullable: true
                addMembers:
                  type: array
                  items:
                    type: string
                    nullable: true
                removeMembers:
                  type: array
                  items:
                    type: string
                    nullable: true
                addExclusions:
                  type: array
                  items:
                    type: string
                    nullable: true
                removeExclusions:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/updatableAssets/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembers
      operationId: admin.windows.updates.updatableAssets_addMembers
      parameters:
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/updatableAssets/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembersById
      operationId: admin.windows.updates.updatableAssets_addMembersGraphBPreId
      parameters:
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/updatableAssets/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembers
      operationId: admin.windows.updates.updatableAssets_removeMembers
      parameters:
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/updatableAssets/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembersById
      operationId: admin.windows.updates.updatableAssets_removeMembersGraphBPreId
      parameters:
        - name: updatableAsset-id
          in: path
          description: 'key: id of updatableAsset'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/windows/updates/updatableAssets/microsoft.graph.windowsUpdates.enrollAssets:
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssets
      operationId: admin.windows.updates.updatableAssets_enrollAssets
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/windows/updates/updatableAssets/microsoft.graph.windowsUpdates.enrollAssetsById:
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssetsById
      operationId: admin.windows.updates.updatableAssets_enrollAssetsGraphBPreId
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/windows/updates/updatableAssets/microsoft.graph.windowsUpdates.unenrollAssets:
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssets
      operationId: admin.windows.updates.updatableAssets_unenrollAssets
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/windows/updates/updatableAssets/microsoft.graph.windowsUpdates.unenrollAssetsById:
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssetsById
      operationId: admin.windows.updates.updatableAssets_unenrollAssetsGraphBPreId
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.serviceAnnouncement:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: serviceAnnouncement
          type: object
          properties:
            healthOverviews:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.serviceHealth'
              description: 'A collection of service health information for tenant. This property is a contained navigation property, it is nullable and readonly.'
            issues:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
              description: 'A collection of service issues for tenant. This property is a contained navigation property, it is nullable and readonly.'
            messages:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessage'
              description: 'A collection of service messages for tenant. This property is a contained navigation property, it is nullable and readonly.'
          additionalProperties:
            type: object
    microsoft.graph.serviceHealth:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: serviceHealth
          type: object
          properties:
            service:
              type: string
              description: The service name. Use the list healthOverviews operation to get exact string names for services subscribed by the tenant.
            status:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthStatus'
            issues:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
              description: 'A collection of issues that happened on the service, with detailed information for each issue.'
          additionalProperties:
            type: object
    microsoft.graph.serviceHealthIssue:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementBase'
        - title: serviceHealthIssue
          type: object
          properties:
            classification:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthClassificationType'
            feature:
              type: string
              description: The feature name of the service issue.
              nullable: true
            featureGroup:
              type: string
              description: The feature group name of the service issue.
              nullable: true
            impactDescription:
              type: string
              description: The description of the service issue impact.
            isResolved:
              type: boolean
              description: Indicates whether the issue is resolved.
            origin:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthOrigin'
            posts:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssuePost'
              description: Collection of historical posts for the service issue.
            service:
              type: string
              description: Indicates the service affected by the issue.
            status:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthStatus'
          additionalProperties:
            type: object
    microsoft.graph.serviceUpdateMessage:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementBase'
        - title: serviceUpdateMessage
          type: object
          properties:
            actionRequiredByDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The expected deadline of the action for the message.
              format: date-time
              nullable: true
            attachmentsArchive:
              type: string
              description: The zip file of all attachments for a message.
              format: base64url
              nullable: true
            body:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            category:
              $ref: '#/components/schemas/microsoft.graph.serviceUpdateCategory'
            hasAttachments:
              type: boolean
              description: Indicates whether the message has any attachment.
            isMajorChange:
              type: boolean
              description: Indicates whether the message describes a major update for the service.
              nullable: true
            services:
              type: array
              items:
                type: string
                nullable: true
              description: The affected services by the service message.
            severity:
              $ref: '#/components/schemas/microsoft.graph.serviceUpdateSeverity'
            tags:
              type: array
              items:
                type: string
                nullable: true
              description: 'A collection of tags for the service message. Tags are provided by the service team/support team who post the message to tell whether this message contains privacy data, or whether this message is for a service new feature update, and so on.'
            viewPoint:
              $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessageViewpoint'
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
              description: A collection of serviceAnnouncementAttachments.
          additionalProperties:
            type: object
    microsoft.graph.serviceAnnouncementAttachment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: serviceAnnouncementAttachment
          type: object
          properties:
            content:
              type: string
              description: The attachment content.
              format: base64url
              nullable: true
            contentType:
              type: string
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            name:
              type: string
              nullable: true
            size:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
          additionalProperties:
            type: object
    microsoft.graph.windowsUpdates.updatableAsset:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: updatableAsset
          type: object
          additionalProperties:
            type: object
    microsoft.graph.windowsUpdates.updateCategory:
      title: updateCategory
      enum:
        - feature
        - quality
        - unknownFutureValue
      type: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.serviceHealthStatus:
      title: serviceHealthStatus
      enum:
        - serviceOperational
        - investigating
        - restoringService
        - verifyingService
        - serviceRestored
        - postIncidentReviewPublished
        - serviceDegradation
        - serviceInterruption
        - extendedRecovery
        - falsePositive
        - investigationSuspended
        - resolved
        - mitigatedExternal
        - mitigated
        - resolvedExternal
        - confirmed
        - reported
        - unknownFutureValue
      type: string
    microsoft.graph.serviceAnnouncementBase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: serviceAnnouncementBase
          type: object
          properties:
            details:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.keyValuePair'
              description: Additional details about service event. This property doesn't support filters.
            endDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The end time of the service event.
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The last modified time of the service event.
              format: date-time
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The start time of the service event.
              format: date-time
            title:
              type: string
              description: The title of the service event.
          additionalProperties:
            type: object
    microsoft.graph.serviceHealthClassificationType:
      title: serviceHealthClassificationType
      enum:
        - advisory
        - incident
        - unknownFutureValue
      type: string
    microsoft.graph.serviceHealthOrigin:
      title: serviceHealthOrigin
      enum:
        - microsoft
        - thirdParty
        - customer
        - unknownFutureValue
      type: string
    microsoft.graph.serviceHealthIssuePost:
      title: serviceHealthIssuePost
      type: object
      properties:
        createdDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: The published time of the post.
          format: date-time
        description:
[...]
