openapi: 3.0.1
info:
  title: DevicesApps.MobileAppManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/managedAppRegistrations':
    get:
      tags:
        - users.managedAppRegistration
      summary: Get managedAppRegistrations from users
      operationId: users_ListManagedAppRegistrations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastSyncDateTime
                - lastSyncDateTime desc
                - applicationVersion
                - applicationVersion desc
                - managementSdkVersion
                - managementSdkVersion desc
                - platformVersion
                - platformVersion desc
                - deviceType
                - deviceType desc
                - deviceTag
                - deviceTag desc
                - deviceName
                - deviceName desc
                - managedDeviceId
                - managedDeviceId desc
                - azureADDeviceId
                - azureADDeviceId desc
                - deviceModel
                - deviceModel desc
                - deviceManufacturer
                - deviceManufacturer desc
                - flaggedReasons
                - flaggedReasons desc
                - userId
                - userId desc
                - appIdentifier
                - appIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastSyncDateTime
                - applicationVersion
                - managementSdkVersion
                - platformVersion
                - deviceType
                - deviceTag
                - deviceName
                - managedDeviceId
                - azureADDeviceId
                - deviceModel
                - deviceManufacturer
                - flaggedReasons
                - userId
                - appIdentifier
                - version
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of managedAppRegistration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/managedAppRegistrations/{managedAppRegistration-id}':
    get:
      tags:
        - users.managedAppRegistration
      summary: Get managedAppRegistrations from users
      operationId: users_GetManagedAppRegistrations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: managedAppRegistration-id
          in: path
          description: 'key: id of managedAppRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAppRegistration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastSyncDateTime
                - applicationVersion
                - managementSdkVersion
                - platformVersion
                - deviceType
                - deviceTag
                - deviceName
                - managedDeviceId
                - azureADDeviceId
                - deviceModel
                - deviceManufacturer
                - flaggedReasons
                - userId
                - appIdentifier
                - version
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliedPolicies
                - intendedPolicies
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/managedAppRegistrations/$ref':
    get:
      tags:
        - users.managedAppRegistration
      summary: Get ref of managedAppRegistrations from users
      operationId: users_ListRefManagedAppRegistrations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastSyncDateTime
                - lastSyncDateTime desc
                - applicationVersion
                - applicationVersion desc
                - managementSdkVersion
                - managementSdkVersion desc
                - platformVersion
                - platformVersion desc
                - deviceType
                - deviceType desc
                - deviceTag
                - deviceTag desc
                - deviceName
                - deviceName desc
                - managedDeviceId
                - managedDeviceId desc
                - azureADDeviceId
                - azureADDeviceId desc
                - deviceModel
                - deviceModel desc
                - deviceManufacturer
                - deviceManufacturer desc
                - flaggedReasons
                - flaggedReasons desc
                - userId
                - userId desc
                - appIdentifier
                - appIdentifier desc
                - version
                - version desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of managedAppRegistration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.managedAppRegistration
      summary: Create new navigation property ref to managedAppRegistrations for users
      operationId: users_CreateRefManagedAppRegistrations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/windowsInformationProtectionDeviceRegistrations':
    get:
      tags:
        - users.windowsInformationProtectionDeviceRegistration
      summary: Get windowsInformationProtectionDeviceRegistrations from users
      operationId: users_ListWindowsInformationProtectionDeviceRegistrations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userId
                - userId desc
                - deviceRegistrationId
                - deviceRegistrationId desc
                - deviceName
                - deviceName desc
                - deviceType
                - deviceType desc
                - deviceMacAddress
                - deviceMacAddress desc
                - lastCheckInDateTime
                - lastCheckInDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - deviceRegistrationId
                - deviceName
                - deviceType
                - deviceMacAddress
                - lastCheckInDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of windowsInformationProtectionDeviceRegistration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.windowsInformationProtectionDeviceRegistration'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/windowsInformationProtectionDeviceRegistrations/{windowsInformationProtectionDeviceRegistration-id}':
    get:
      tags:
        - users.windowsInformationProtectionDeviceRegistration
      summary: Get windowsInformationProtectionDeviceRegistrations from users
      operationId: users_GetWindowsInformationProtectionDeviceRegistrations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: windowsInformationProtectionDeviceRegistration-id
          in: path
          description: 'key: id of windowsInformationProtectionDeviceRegistration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: windowsInformationProtectionDeviceRegistration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - deviceRegistrationId
                - deviceName
                - deviceType
                - deviceMacAddress
                - lastCheckInDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsInformationProtectionDeviceRegistration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/windowsInformationProtectionDeviceRegistrations/$ref':
    get:
      tags:
        - users.windowsInformationProtectionDeviceRegistration
      summary: Get ref of windowsInformationProtectionDeviceRegistrations from users
      operationId: users_ListRefWindowsInformationProtectionDeviceRegistrations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userId
                - userId desc
                - deviceRegistrationId
                - deviceRegistrationId desc
                - deviceName
                - deviceName desc
                - deviceType
                - deviceType desc
                - deviceMacAddress
                - deviceMacAddress desc
                - lastCheckInDateTime
                - lastCheckInDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of windowsInformationProtectionDeviceRegistration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.windowsInformationProtectionDeviceRegistration
      summary: Create new navigation property ref to windowsInformationProtectionDeviceRegistrations for users
      operationId: users_CreateRefWindowsInformationProtectionDeviceRegistrations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.managedAppRegistration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: managedAppRegistration
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Date and time of creation
              format: date-time
            lastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Date and time of last the app synced with management service.
              format: date-time
            applicationVersion:
              type: string
              description: App version
              nullable: true
            managementSdkVersion:
              type: string
              description: App management SDK version
              nullable: true
            platformVersion:
              type: string
              description: Operating System version
              nullable: true
            deviceType:
              type: string
              description: Host device type
              nullable: true
            deviceTag:
              type: string
              description: 'App management SDK generated tag, which helps relate apps hosted on the same device. Not guaranteed to relate apps in all conditions.'
              nullable: true
            deviceName:
              type: string
              description: Host device name
              nullable: true
            managedDeviceId:
              type: string
              description: The Managed Device identifier of the host device. Value could be empty even when the host device is managed.
              nullable: true
            azureADDeviceId:
              type: string
              description: The Azure Active Directory Device identifier of the host device. Value could be empty even when the host device is Azure Active Directory registered.
              nullable: true
            deviceModel:
              type: string
              description: 'The device model for the current app registration '
              nullable: true
            deviceManufacturer:
              type: string
              description: 'The device manufacturer for the current app registration '
              nullable: true
            flaggedReasons:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppFlaggedReason'
              description: Zero or more reasons an app registration is flagged. E.g. app running on rooted device
            userId:
              type: string
              description: The user Id to who this app registration belongs.
              nullable: true
            appIdentifier:
              $ref: '#/components/schemas/microsoft.graph.mobileAppIdentifier'
            version:
              type: string
              description: Version of the entity.
              nullable: true
            appliedPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
              description: Zero or more policys already applied on the registered app when it last synchronized with managment service.
            intendedPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicy'
              description: Zero or more policies admin intended for the app as of now.
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppOperation'
              description: Zero or more long running operations triggered on the app registration.
          additionalProperties:
            type: object
          description: The ManagedAppEntity is the base entity type for all other entity types under app management workflow.
    microsoft.graph.windowsInformationProtectionDeviceRegistration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: windowsInformationProtectionDeviceRegistration
          type: object
          properties:
            userId:
              type: string
              description: UserId associated with this device registration record.
              nullable: true
            deviceRegistrationId:
              type: string
              description: Device identifier for this device registration record.
              nullable: true
            deviceName:
              type: string
              description: Device name.
              nullable: true
            deviceType:
              type: string
              description: 'Device type, for example, Windows laptop VS Windows phone.'
              nullable: true
            deviceMacAddress:
              type: string
              description: Device Mac address.
              nullable: true
            lastCheckInDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Last checkin time of the device.
              format: date-time
          additionalProperties:
            type: object
          description: Represents device registration records for Bring-Your-Own-Device(BYOD) Windows devices.
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.managedAppFlaggedReason:
      title: managedAppFlaggedReason
      enum:
        - none
        - rootedDevice
        - androidBootloaderUnlocked
        - androidFactoryRomModified
      type: string
    microsoft.graph.mobileAppIdentifier:
      title: mobileAppIdentifier
      type: object
      additionalProperties:
        type: object
      description: The identifier for a mobile app.
    microsoft.graph.managedAppPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: managedAppPolicy
          type: object
          properties:
            displayName:
              type: string
              description: Policy display name.
            description:
              type: string
              description: The policy's description.
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The date and time the policy was created.
              format: date-time
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Last time the policy was modified.
              format: date-time
            roleScopeTagIds:
              type: array
              items:
                type: string
                nullable: true
              description: List of Scope Tags for this Entity instance.
            version:
              type: string
              description: Version of the entity.
              nullable: true
          additionalProperties:
            type: object
          description: The ManagedAppPolicy resource represents a base type for platform specific policies.
    microsoft.graph.managedAppOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: managedAppOperation
          type: object
          properties:
            displayName:
              type: string
              description: The operation name.
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The last time the app operation was modified.
              format: date-time
            state:
              type: string
              description: The current state of the operation
              nullable: true
            version:
              type: string
              description: Version of the entity.
              nullable: true
          additionalProperties:
            type: object
          description: Represents an operation applied against an app registration.
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]