openapi: 3.0.1
info:
  title: DeviceManagement.Enrollment
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceManagement/androidDeviceOwnerEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Get androidDeviceOwnerEnrollmentProfiles from deviceManagement
      description: Android device owner enrollment profile entities.
      operationId: deviceManagement_ListAndroidDeviceOwnerEnrollmentProfile
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountId
                - accountId desc
                - configureWifi
                - configureWifi desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enrolledDeviceCount
                - enrolledDeviceCount desc
                - enrollmentMode
                - enrollmentMode desc
                - enrollmentTokenType
                - enrollmentTokenType desc
                - enrollmentTokenUsageCount
                - enrollmentTokenUsageCount desc
                - isTeamsDeviceProfile
                - isTeamsDeviceProfile desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - qrCodeContent
                - qrCodeContent desc
                - qrCodeImage
                - qrCodeImage desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - tokenCreationDateTime
                - tokenCreationDateTime desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenValue
                - tokenValue desc
                - wifiHidden
                - wifiHidden desc
                - wifiPassword
                - wifiPassword desc
                - wifiSecurityType
                - wifiSecurityType desc
                - wifiSsid
                - wifiSsid desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - configureWifi
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - enrollmentMode
                - enrollmentTokenType
                - enrollmentTokenUsageCount
                - isTeamsDeviceProfile
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - roleScopeTagIds
                - tokenCreationDateTime
                - tokenExpirationDateTime
                - tokenValue
                - wifiHidden
                - wifiPassword
                - wifiSecurityType
                - wifiSsid
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.androidDeviceOwnerEnrollmentProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Create new navigation property to androidDeviceOwnerEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAndroidDeviceOwnerEnrollmentProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidDeviceOwnerEnrollmentProfiles/{androidDeviceOwnerEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Get androidDeviceOwnerEnrollmentProfiles from deviceManagement
      description: Android device owner enrollment profile entities.
      operationId: deviceManagement_GetAndroidDeviceOwnerEnrollmentProfile
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: The unique identifier of androidDeviceOwnerEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - configureWifi
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - enrollmentMode
                - enrollmentTokenType
                - enrollmentTokenUsageCount
                - isTeamsDeviceProfile
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - roleScopeTagIds
                - tokenCreationDateTime
                - tokenExpirationDateTime
                - tokenValue
                - wifiHidden
                - wifiPassword
                - wifiSecurityType
                - wifiSsid
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Update the navigation property androidDeviceOwnerEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAndroidDeviceOwnerEnrollmentProfile
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: The unique identifier of androidDeviceOwnerEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Delete navigation property androidDeviceOwnerEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAndroidDeviceOwnerEnrollmentProfile
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: The unique identifier of androidDeviceOwnerEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidDeviceOwnerEnrollmentProfiles/$count:
    get:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Get the number of the resource
      operationId: deviceManagement.androidDeviceOwnerEnrollmentProfile_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/androidForWorkEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Get androidForWorkEnrollmentProfiles from deviceManagement
      description: Android for Work enrollment profile entities.
      operationId: deviceManagement_ListAndroidGraphFPreWorkEnrollmentProfile
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountId
                - accountId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enrolledDeviceCount
                - enrolledDeviceCount desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - qrCodeContent
                - qrCodeContent desc
                - qrCodeImage
                - qrCodeImage desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenValue
                - tokenValue desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.androidForWorkEnrollmentProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Create new navigation property to androidForWorkEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAndroidGraphFPreWorkEnrollmentProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidForWorkEnrollmentProfiles/{androidForWorkEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Get androidForWorkEnrollmentProfiles from deviceManagement
      description: Android for Work enrollment profile entities.
      operationId: deviceManagement_GetAndroidGraphFPreWorkEnrollmentProfile
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: The unique identifier of androidForWorkEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Update the navigation property androidForWorkEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAndroidGraphFPreWorkEnrollmentProfile
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: The unique identifier of androidForWorkEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Delete navigation property androidForWorkEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAndroidGraphFPreWorkEnrollmentProfile
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: The unique identifier of androidForWorkEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidForWorkEnrollmentProfiles/$count:
    get:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Get the number of the resource
      operationId: deviceManagement.androidGraphFPreWorkEnrollmentProfile_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/appleUserInitiatedEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get appleUserInitiatedEnrollmentProfiles from deviceManagement
      description: Apple user initiated enrollment profiles
      operationId: deviceManagement_ListAppleUserInitiatedEnrollmentProfile
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - availableEnrollmentTypeOptions
                - availableEnrollmentTypeOptions desc
                - createdDateTime
                - createdDateTime desc
                - defaultEnrollmentType
                - defaultEnrollmentType desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - platform
                - platform desc
                - priority
                - priority desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - availableEnrollmentTypeOptions
                - createdDateTime
                - defaultEnrollmentType
                - description
                - displayName
                - lastModifiedDateTime
                - platform
                - priority
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.appleUserInitiatedEnrollmentProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Create new navigation property to appleUserInitiatedEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAppleUserInitiatedEnrollmentProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get appleUserInitiatedEnrollmentProfiles from deviceManagement
      description: Apple user initiated enrollment profiles
      operationId: deviceManagement_GetAppleUserInitiatedEnrollmentProfile
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: The unique identifier of appleUserInitiatedEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - availableEnrollmentTypeOptions
                - createdDateTime
                - defaultEnrollmentType
                - description
                - displayName
                - lastModifiedDateTime
                - platform
                - priority
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Update the navigation property appleUserInitiatedEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAppleUserInitiatedEnrollmentProfile
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: The unique identifier of appleUserInitiatedEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Delete navigation property appleUserInitiatedEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAppleUserInitiatedEnrollmentProfile
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: The unique identifier of appleUserInitiatedEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}/assignments':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get assignments from deviceManagement
      description: The list of assignments for this profile.
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfile_ListAssignment
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: The unique identifier of appleUserInitiatedEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - target
                - target desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.appleEnrollmentProfileAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Create new navigation property to assignments for deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfile_CreateAssignment
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: The unique identifier of appleUserInitiatedEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}/assignments/{appleEnrollmentProfileAssignment-id}':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get assignments from deviceManagement
      description: The list of assignments for this profile.
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfile_GetAssignment
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: The unique identifier of appleUserInitiatedEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: appleEnrollmentProfileAssignment-id
          in: path
          description: The unique identifier of appleEnrollmentProfileAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleEnrollmentProfileAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Update the navigation property assignments in deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfile_UpdateAssignment
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: The unique identifier of appleUserInitiatedEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: appleEnrollmentProfileAssignment-id
          in: path
          description: The unique identifier of appleEnrollmentProfileAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleEnrollmentProfileAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Delete navigation property assignments for deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfile_DeleteAssignment
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: The unique identifier of appleUserInitiatedEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: appleEnrollmentProfileAssignment-id
          in: path
          description: The unique identifier of appleEnrollmentProfileAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleEnrollmentProfileAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}/assignments/$count':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get the number of the resource
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfile.assignment_GetCount
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: The unique identifier of appleUserInitiatedEnrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/appleUserInitiatedEnrollmentProfiles/$count:
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get the number of the resource
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfile_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/autopilotEvents:
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get autopilotEvents from deviceManagement
      description: The list of autopilot events for the tenant.
      operationId: deviceManagement_ListAutopilotEvent
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountSetupDuration
                - accountSetupDuration desc
                - accountSetupStatus
                - accountSetupStatus desc
                - deploymentDuration
                - deploymentDuration desc
                - deploymentEndDateTime
                - deploymentEndDateTime desc
                - deploymentStartDateTime
                - deploymentStartDateTime desc
                - deploymentState
                - deploymentState desc
                - deploymentTotalDuration
                - deploymentTotalDuration desc
                - deviceId
                - deviceId desc
                - devicePreparationDuration
                - devicePreparationDuration desc
                - deviceRegisteredDateTime
                - deviceRegisteredDateTime desc
                - deviceSerialNumber
                - deviceSerialNumber desc
                - deviceSetupDuration
                - deviceSetupDuration desc
                - deviceSetupStatus
                - deviceSetupStatus desc
                - enrollmentFailureDetails
                - enrollmentFailureDetails desc
                - enrollmentStartDateTime
                - enrollmentStartDateTime desc
                - enrollmentState
                - enrollmentState desc
                - enrollmentType
                - enrollmentType desc
                - eventDateTime
                - eventDateTime desc
                - managedDeviceName
                - managedDeviceName desc
                - osVersion
                - osVersion desc
                - targetedAppCount
                - targetedAppCount desc
                - targetedPolicyCount
                - targetedPolicyCount desc
                - userPrincipalName
                - userPrincipalName desc
                - windows10EnrollmentCompletionPageConfigurationDisplayName
                - windows10EnrollmentCompletionPageConfigurationDisplayName desc
                - windows10EnrollmentCompletionPageConfigurationId
                - windows10EnrollmentCompletionPageConfigurationId desc
                - windowsAutopilotDeploymentProfileDisplayName
                - windowsAutopilotDeploymentProfileDisplayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountSetupDuration
                - accountSetupStatus
                - deploymentDuration
                - deploymentEndDateTime
                - deploymentStartDateTime
                - deploymentState
                - deploymentTotalDuration
                - deviceId
                - devicePreparationDuration
                - deviceRegisteredDateTime
                - deviceSerialNumber
                - deviceSetupDuration
                - deviceSetupStatus
                - enrollmentFailureDetails
                - enrollmentStartDateTime
                - enrollmentState
                - enrollmentType
                - eventDateTime
                - managedDeviceName
                - osVersion
                - targetedAppCount
                - targetedPolicyCount
                - userPrincipalName
                - windows10EnrollmentCompletionPageConfigurationDisplayName
                - windows10EnrollmentCompletionPageConfigurationId
                - windowsAutopilotDeploymentProfileDisplayName
                - policyStatusDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - policyStatusDetails
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementAutopilotEventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Create new navigation property to autopilotEvents for deviceManagement
      operationId: deviceManagement_CreateAutopilotEvent
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/autopilotEvents/{deviceManagementAutopilotEvent-id}':
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get autopilotEvents from deviceManagement
      description: The list of autopilot events for the tenant.
      operationId: deviceManagement_GetAutopilotEvent
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: The unique identifier of deviceManagementAutopilotEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountSetupDuration
                - accountSetupStatus
                - deploymentDuration
                - deploymentEndDateTime
                - deploymentStartDateTime
                - deploymentState
                - deploymentTotalDuration
                - deviceId
                - devicePreparationDuration
                - deviceRegisteredDateTime
                - deviceSerialNumber
                - deviceSetupDuration
                - deviceSetupStatus
                - enrollmentFailureDetails
                - enrollmentStartDateTime
                - enrollmentState
                - enrollmentType
                - eventDateTime
                - managedDeviceName
                - osVersion
                - targetedAppCount
                - targetedPolicyCount
                - userPrincipalName
                - windows10EnrollmentCompletionPageConfigurationDisplayName
                - windows10EnrollmentCompletionPageConfigurationId
                - windowsAutopilotDeploymentProfileDisplayName
                - policyStatusDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - policyStatusDetails
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Update the navigation property autopilotEvents in deviceManagement
      operationId: deviceManagement_UpdateAutopilotEvent
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: The unique identifier of deviceManagementAutopilotEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Delete navigation property autopilotEvents for deviceManagement
      operationId: deviceManagement_DeleteAutopilotEvent
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: The unique identifier of deviceManagementAutopilotEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/autopilotEvents/{deviceManagementAutopilotEvent-id}/policyStatusDetails':
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get policyStatusDetails from deviceManagement
      description: Policy and application status details for this device.
      operationId: deviceManagement.autopilotEvent_ListPolicyStatusDetail
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: The unique identifier of deviceManagementAutopilotEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - complianceStatus
                - complianceStatus desc
                - displayName
                - displayName desc
                - errorCode
                - errorCode desc
                - lastReportedDateTime
                - lastReportedDateTime desc
                - policyType
                - policyType desc
                - trackedOnEnrollmentStatus
                - trackedOnEnrollmentStatus desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceStatus
                - displayName
                - errorCode
                - lastReportedDateTime
                - policyType
                - trackedOnEnrollmentStatus
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementAutopilotPolicyStatusDetailCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Create new navigation property to policyStatusDetails for deviceManagement
      operationId: deviceManagement.autopilotEvent_CreatePolicyStatusDetail
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: The unique identifier of deviceManagementAutopilotEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/autopilotEvents/{deviceManagementAutopilotEvent-id}/policyStatusDetails/{deviceManagementAutopilotPolicyStatusDetail-id}':
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get policyStatusDetails from deviceManagement
      description: Policy and application status details for this device.
      operationId: deviceManagement.autopilotEvent_GetPolicyStatusDetail
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: The unique identifier of deviceManagementAutopilotEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - name: deviceManagementAutopilotPolicyStatusDetail-id
          in: path
          description: The unique identifier of deviceManagementAutopilotPolicyStatusDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotPolicyStatusDetail
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceStatus
                - displayName
                - errorCode
                - lastReportedDateTime
                - policyType
                - trackedOnEnrollmentStatus
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Update the navigation property policyStatusDetails in deviceManagement
      operationId: deviceManagement.autopilotEvent_UpdatePolicyStatusDetail
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: The unique identifier of deviceManagementAutopilotEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - name: deviceManagementAutopilotPolicyStatusDetail-id
          in: path
          description: The unique identifier of deviceManagementAutopilotPolicyStatusDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotPolicyStatusDetail
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Delete navigation property policyStatusDetails for deviceManagement
      operationId: deviceManagement.autopilotEvent_DeletePolicyStatusDetail
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: The unique identifier of deviceManagementAutopilotEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - name: deviceManagementAutopilotPolicyStatusDetail-id
          in: path
          description: The unique identifier of deviceManagementAutopilotPolicyStatusDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotPolicyStatusDetail
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/autopilotEvents/{deviceManagementAutopilotEvent-id}/policyStatusDetails/$count':
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get the number of the resource
      operationId: deviceManagement.autopilotEvent.policyStatusDetail_GetCount
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: The unique identifier of deviceManagementAutopilotEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/autopilotEvents/$count:
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get the number of the resource
      operationId: deviceManagement.autopilotEvent_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/conditionalAccessSettings:
    get:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Get conditionalAccessSettings from deviceManagement
      description: The Exchange on premises conditional access settings. On premises conditional access will require devices to be both enrolled and compliant for mail access
      operationId: deviceManagement_GetConditionalAccessSetting
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - enabled
                - excludedGroups
                - includedGroups
                - overrideDefaultRule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Update the navigation property conditionalAccessSettings in deviceManagement
      operationId: deviceManagement_UpdateConditionalAccessSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Delete navigation property conditionalAccessSettings for deviceManagement
      operationId: deviceManagement_DeleteConditionalAccessSetting
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/depOnboardingSettings:
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get depOnboardingSettings from deviceManagement
      description: This collections of multiple DEP tokens per-tenant.
      operationId: deviceManagement_ListDepOnboardingSetting
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appleIdentifier
                - appleIdentifier desc
                - dataSharingConsentGranted
                - dataSharingConsentGranted desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastSuccessfulSyncDateTime
                - lastSuccessfulSyncDateTime desc
                - lastSyncErrorCode
                - lastSyncErrorCode desc
                - lastSyncTriggeredDateTime
                - lastSyncTriggeredDateTime desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - shareTokenWithSchoolDataSyncService
                - shareTokenWithSchoolDataSyncService desc
                - syncedDeviceCount
                - syncedDeviceCount desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenName
                - tokenName desc
                - tokenType
                - tokenType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appleIdentifier
                - dataSharingConsentGranted
                - lastModifiedDateTime
                - lastSuccessfulSyncDateTime
                - lastSyncErrorCode
                - lastSyncTriggeredDateTime
                - roleScopeTagIds
                - shareTokenWithSchoolDataSyncService
                - syncedDeviceCount
                - tokenExpirationDateTime
                - tokenName
                - tokenType
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.depOnboardingSettingCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Create new navigation property to depOnboardingSettings for deviceManagement
      operationId: deviceManagement_CreateDepOnboardingSetting
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get depOnboardingSettings from deviceManagement
      description: This collections of multiple DEP tokens per-tenant.
      operationId: deviceManagement_GetDepOnboardingSetting
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appleIdentifier
                - dataSharingConsentGranted
                - lastModifiedDateTime
                - lastSuccessfulSyncDateTime
                - lastSyncErrorCode
                - lastSyncTriggeredDateTime
                - roleScopeTagIds
                - shareTokenWithSchoolDataSyncService
                - syncedDeviceCount
                - tokenExpirationDateTime
                - tokenName
                - tokenType
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the navigation property depOnboardingSettings in deviceManagement
      operationId: deviceManagement_UpdateDepOnboardingSetting
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete navigation property depOnboardingSettings for deviceManagement
      operationId: deviceManagement_DeleteDepOnboardingSetting
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/defaultIosEnrollmentProfile':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get defaultIosEnrollmentProfile from deviceManagement
      description: Default iOS Enrollment Profile
      operationId: deviceManagement.depOnboardingSetting_GetDefaultIosEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
                - appleIdDisabled
                - applePayDisabled
                - configurationWebUrl
                - deviceNameTemplate
                - diagnosticsDisabled
                - displayToneSetupDisabled
                - enabledSkipKeys
                - enrollmentTimeAzureAdGroupIds
                - isDefault
                - isMandatory
                - locationDisabled
                - privacyPaneDisabled
                - profileRemovalDisabled
                - restoreBlocked
                - screenTimeScreenDisabled
                - siriDisabled
                - supervisedModeEnabled
                - supportDepartment
                - supportPhoneNumber
                - termsAndConditionsDisabled
                - touchIdDisabled
                - waitForDeviceConfiguredConfirmation
                - appearanceScreenDisabled
                - awaitDeviceConfiguredConfirmation
                - carrierActivationUrl
                - companyPortalVppTokenId
                - deviceToDeviceMigrationDisabled
                - enableSharedIPad
                - enableSingleAppEnrollmentMode
                - expressLanguageScreenDisabled
                - forceTemporarySession
                - homeButtonScreenDisabled
                - iMessageAndFaceTimeScreenDisabled
                - iTunesPairingMode
                - managementCertificates
                - onBoardingScreenDisabled
                - passCodeDisabled
                - passcodeLockGracePeriodInSeconds
                - preferredLanguageScreenDisabled
                - restoreCompletedScreenDisabled
                - restoreFromAndroidDisabled
                - sharedIPadMaximumUserCount
                - simSetupScreenDisabled
                - softwareUpdateScreenDisabled
                - temporarySessionTimeoutInSeconds
                - updateCompleteScreenDisabled
                - userlessSharedAadModeEnabled
                - userSessionTimeoutInSeconds
                - watchMigrationScreenDisabled
                - welcomeScreenDisabled
                - zoomDisabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depIOSEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/defaultMacOsEnrollmentProfile':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get defaultMacOsEnrollmentProfile from deviceManagement
      description: Default MacOs Enrollment Profile
      operationId: deviceManagement.depOnboardingSetting_GetDefaultMacOsEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
                - appleIdDisabled
                - applePayDisabled
                - configurationWebUrl
                - deviceNameTemplate
                - diagnosticsDisabled
                - displayToneSetupDisabled
                - enabledSkipKeys
                - enrollmentTimeAzureAdGroupIds
                - isDefault
                - isMandatory
                - locationDisabled
                - privacyPaneDisabled
                - profileRemovalDisabled
                - restoreBlocked
                - screenTimeScreenDisabled
                - siriDisabled
                - supervisedModeEnabled
                - supportDepartment
                - supportPhoneNumber
                - termsAndConditionsDisabled
                - touchIdDisabled
                - waitForDeviceConfiguredConfirmation
                - accessibilityScreenDisabled
                - adminAccountFullName
                - adminAccountPassword
                - adminAccountUserName
                - autoAdvanceSetupEnabled
                - autoUnlockWithWatchDisabled
                - chooseYourLockScreenDisabled
                - dontAutoPopulatePrimaryAccountInfo
                - enableRestrictEditing
                - fileVaultDisabled
                - hideAdminAccount
                - iCloudDiagnosticsDisabled
                - iCloudStorageDisabled
                - passCodeDisabled
                - primaryAccountFullName
                - primaryAccountUserName
                - registrationDisabled
                - requestRequiresNetworkTether
                - setPrimarySetupAccountAsRegularUser
                - skipPrimarySetupAccountCreation
                - zoomDisabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depMacOSEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get enrollmentProfiles from deviceManagement
      description: The enrollment profiles.
      operationId: deviceManagement.depOnboardingSetting_ListEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - configurationEndpointUrl
                - configurationEndpointUrl desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enableAuthenticationViaCompanyPortal
                - enableAuthenticationViaCompanyPortal desc
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requireCompanyPortalOnSetupAssistantEnrolledDevices desc
                - requiresUserAuthentication
                - requiresUserAuthentication desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.enrollmentProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Create new navigation property to enrollmentProfiles for deviceManagement
      operationId: deviceManagement.depOnboardingSetting_CreateEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles/{enrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get enrollmentProfiles from deviceManagement
      description: The enrollment profiles.
      operationId: deviceManagement.depOnboardingSetting_GetEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: The unique identifier of enrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the navigation property enrollmentProfiles in deviceManagement
      operationId: deviceManagement.depOnboardingSetting_UpdateEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: The unique identifier of enrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete navigation property enrollmentProfiles for deviceManagement
      operationId: deviceManagement.depOnboardingSetting_DeleteEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: The unique identifier of enrollmentProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles/$count':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get the number of the resource
      operationId: deviceManagement.depOnboardingSetting.enrollmentProfile_GetCount
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/importedAppleDeviceIdentities':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get importedAppleDeviceIdentities from deviceManagement
      description: The imported Apple device identities.
      operationId: deviceManagement.depOnboardingSetting_ListImportedAppleDeviceIdentity
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - discoverySource
                - discoverySource desc
                - enrollmentState
                - enrollmentState desc
                - isDeleted
                - isDeleted desc
                - isSupervised
                - isSupervised desc
                - lastContactedDateTime
                - lastContactedDateTime desc
                - platform
                - platform desc
                - requestedEnrollmentProfileAssignmentDateTime
                - requestedEnrollmentProfileAssignmentDateTime desc
                - requestedEnrollmentProfileId
                - requestedEnrollmentProfileId desc
                - serialNumber
                - serialNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - discoverySource
                - enrollmentState
                - isDeleted
                - isSupervised
                - lastContactedDateTime
                - platform
                - requestedEnrollmentProfileAssignmentDateTime
                - requestedEnrollmentProfileId
                - serialNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.importedAppleDeviceIdentityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Create new navigation property to importedAppleDeviceIdentities for deviceManagement
      operationId: deviceManagement.depOnboardingSetting_CreateImportedAppleDeviceIdentity
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/importedAppleDeviceIdentities/{importedAppleDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get importedAppleDeviceIdentities from deviceManagement
      description: The imported Apple device identities.
      operationId: deviceManagement.depOnboardingSetting_GetImportedAppleDeviceIdentity
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: importedAppleDeviceIdentity-id
          in: path
          description: The unique identifier of importedAppleDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: importedAppleDeviceIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - discoverySource
                - enrollmentState
                - isDeleted
                - isSupervised
                - lastContactedDateTime
                - platform
                - requestedEnrollmentProfileAssignmentDateTime
                - requestedEnrollmentProfileId
                - serialNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the navigation property importedAppleDeviceIdentities in deviceManagement
      operationId: deviceManagement.depOnboardingSetting_UpdateImportedAppleDeviceIdentity
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: importedAppleDeviceIdentity-id
          in: path
          description: The unique identifier of importedAppleDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: importedAppleDeviceIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete navigation property importedAppleDeviceIdentities for deviceManagement
      operationId: deviceManagement.depOnboardingSetting_DeleteImportedAppleDeviceIdentity
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: importedAppleDeviceIdentity-id
          in: path
          description: The unique identifier of importedAppleDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: importedAppleDeviceIdentity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/importedAppleDeviceIdentities/$count':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get the number of the resource
      operationId: deviceManagement.depOnboardingSetting.importedAppleDeviceIdentity_GetCount
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: The unique identifier of depOnboardingSetting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/depOnboardingSettings/$count:
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get the number of the resource
      operationId: deviceManagement.depOnboardingSetting_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/deviceEnrollmentConfigurations:
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement_ListDeviceEnrollmentConfiguration
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - deviceEnrollmentConfigurationType
                - deviceEnrollmentConfigurationType desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - priority
                - priority desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - deviceEnrollmentConfigurationType
                - displayName
                - lastModifiedDateTime
                - priority
                - roleScopeTagIds
                - version
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceEnrollmentConfigurationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create new navigation property to deviceEnrollmentConfigurations for deviceManagement
      operationId: deviceManagement_CreateDeviceEnrollmentConfiguration
      requestBody:
        description: New navigation property
        content:
[...]
