openapi: 3.0.1
info:
  title: DeviceManagement.Enrolment
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceManagement/androidDeviceOwnerEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Get androidDeviceOwnerEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_ListAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountId
                - accountId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enrolledDeviceCount
                - enrolledDeviceCount desc
                - enrollmentMode
                - enrollmentMode desc
                - enrollmentTokenType
                - enrollmentTokenType desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - qrCodeContent
                - qrCodeContent desc
                - qrCodeImage
                - qrCodeImage desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - tokenCreationDateTime
                - tokenCreationDateTime desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenValue
                - tokenValue desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - enrollmentMode
                - enrollmentTokenType
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - roleScopeTagIds
                - tokenCreationDateTime
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of androidDeviceOwnerEnrollmentProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Create new navigation property to androidDeviceOwnerEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAndroidDeviceOwnerEnrollmentProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidDeviceOwnerEnrollmentProfiles/{androidDeviceOwnerEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Get androidDeviceOwnerEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_GetAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - enrollmentMode
                - enrollmentTokenType
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - roleScopeTagIds
                - tokenCreationDateTime
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Update the navigation property androidDeviceOwnerEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Delete navigation property androidDeviceOwnerEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidForWorkEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Get androidForWorkEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_ListAndroidForWorkEnrollmentProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountId
                - accountId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enrolledDeviceCount
                - enrolledDeviceCount desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - qrCodeContent
                - qrCodeContent desc
                - qrCodeImage
                - qrCodeImage desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenValue
                - tokenValue desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of androidForWorkEnrollmentProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Create new navigation property to androidForWorkEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAndroidForWorkEnrollmentProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidForWorkEnrollmentProfiles/{androidForWorkEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Get androidForWorkEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_GetAndroidForWorkEnrollmentProfiles
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Update the navigation property androidForWorkEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAndroidForWorkEnrollmentProfiles
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Delete navigation property androidForWorkEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAndroidForWorkEnrollmentProfiles
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/appleUserInitiatedEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get appleUserInitiatedEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_ListAppleUserInitiatedEnrollmentProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - availableEnrollmentTypeOptions
                - availableEnrollmentTypeOptions desc
                - createdDateTime
                - createdDateTime desc
                - defaultEnrollmentType
                - defaultEnrollmentType desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - platform
                - platform desc
                - priority
                - priority desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - availableEnrollmentTypeOptions
                - createdDateTime
                - defaultEnrollmentType
                - description
                - displayName
                - lastModifiedDateTime
                - platform
                - priority
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appleUserInitiatedEnrollmentProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Create new navigation property to appleUserInitiatedEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAppleUserInitiatedEnrollmentProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get appleUserInitiatedEnrollmentProfiles from deviceManagement
      operationId: deviceManagement_GetAppleUserInitiatedEnrollmentProfiles
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - availableEnrollmentTypeOptions
                - createdDateTime
                - defaultEnrollmentType
                - description
                - displayName
                - lastModifiedDateTime
                - platform
                - priority
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
          links:
            assignments:
              operationId: deviceManagement.AppleUserInitiatedEnrollmentProfiles.ListAssignments
              parameters:
                appleUserInitiatedEnrollmentProfile-id: $request.path.appleUserInitiatedEnrollmentProfile-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Update the navigation property appleUserInitiatedEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAppleUserInitiatedEnrollmentProfiles
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Delete navigation property appleUserInitiatedEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAppleUserInitiatedEnrollmentProfiles
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}/assignments':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get assignments from deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_ListAssignments
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - target
                - target desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appleEnrollmentProfileAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Create new navigation property to assignments for deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_CreateAssignments
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}/assignments/{appleEnrollmentProfileAssignment-id}':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get assignments from deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_GetAssignments
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: appleEnrollmentProfileAssignment-id
          in: path
          description: 'key: id of appleEnrollmentProfileAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleEnrollmentProfileAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Update the navigation property assignments in deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_UpdateAssignments
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: appleEnrollmentProfileAssignment-id
          in: path
          description: 'key: id of appleEnrollmentProfileAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleEnrollmentProfileAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Delete navigation property assignments for deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_DeleteAssignments
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
        - name: appleEnrollmentProfileAssignment-id
          in: path
          description: 'key: id of appleEnrollmentProfileAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleEnrollmentProfileAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/autopilotEvents:
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get autopilotEvents from deviceManagement
      operationId: deviceManagement_ListAutopilotEvents
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountSetupDuration
                - accountSetupDuration desc
                - accountSetupStatus
                - accountSetupStatus desc
                - deploymentDuration
                - deploymentDuration desc
                - deploymentEndDateTime
                - deploymentEndDateTime desc
                - deploymentStartDateTime
                - deploymentStartDateTime desc
                - deploymentState
                - deploymentState desc
                - deploymentTotalDuration
                - deploymentTotalDuration desc
                - deviceId
                - deviceId desc
                - devicePreparationDuration
                - devicePreparationDuration desc
                - deviceRegisteredDateTime
                - deviceRegisteredDateTime desc
                - deviceSerialNumber
                - deviceSerialNumber desc
                - deviceSetupDuration
                - deviceSetupDuration desc
                - deviceSetupStatus
                - deviceSetupStatus desc
                - enrollmentFailureDetails
                - enrollmentFailureDetails desc
                - enrollmentStartDateTime
                - enrollmentStartDateTime desc
                - enrollmentState
                - enrollmentState desc
                - enrollmentType
                - enrollmentType desc
                - eventDateTime
                - eventDateTime desc
                - managedDeviceName
                - managedDeviceName desc
                - osVersion
                - osVersion desc
                - targetedAppCount
                - targetedAppCount desc
                - targetedPolicyCount
                - targetedPolicyCount desc
                - userPrincipalName
                - userPrincipalName desc
                - windows10EnrollmentCompletionPageConfigurationDisplayName
                - windows10EnrollmentCompletionPageConfigurationDisplayName desc
                - windows10EnrollmentCompletionPageConfigurationId
                - windows10EnrollmentCompletionPageConfigurationId desc
                - windowsAutopilotDeploymentProfileDisplayName
                - windowsAutopilotDeploymentProfileDisplayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountSetupDuration
                - accountSetupStatus
                - deploymentDuration
                - deploymentEndDateTime
                - deploymentStartDateTime
                - deploymentState
                - deploymentTotalDuration
                - deviceId
                - devicePreparationDuration
                - deviceRegisteredDateTime
                - deviceSerialNumber
                - deviceSetupDuration
                - deviceSetupStatus
                - enrollmentFailureDetails
                - enrollmentStartDateTime
                - enrollmentState
                - enrollmentType
                - eventDateTime
                - managedDeviceName
                - osVersion
                - targetedAppCount
                - targetedPolicyCount
                - userPrincipalName
                - windows10EnrollmentCompletionPageConfigurationDisplayName
                - windows10EnrollmentCompletionPageConfigurationId
                - windowsAutopilotDeploymentProfileDisplayName
                - policyStatusDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - policyStatusDetails
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceManagementAutopilotEvent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Create new navigation property to autopilotEvents for deviceManagement
      operationId: deviceManagement_CreateAutopilotEvents
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/autopilotEvents/{deviceManagementAutopilotEvent-id}':
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get autopilotEvents from deviceManagement
      operationId: deviceManagement_GetAutopilotEvents
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: 'key: id of deviceManagementAutopilotEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountSetupDuration
                - accountSetupStatus
                - deploymentDuration
                - deploymentEndDateTime
                - deploymentStartDateTime
                - deploymentState
                - deploymentTotalDuration
                - deviceId
                - devicePreparationDuration
                - deviceRegisteredDateTime
                - deviceSerialNumber
                - deviceSetupDuration
                - deviceSetupStatus
                - enrollmentFailureDetails
                - enrollmentStartDateTime
                - enrollmentState
                - enrollmentType
                - eventDateTime
                - managedDeviceName
                - osVersion
                - targetedAppCount
                - targetedPolicyCount
                - userPrincipalName
                - windows10EnrollmentCompletionPageConfigurationDisplayName
                - windows10EnrollmentCompletionPageConfigurationId
                - windowsAutopilotDeploymentProfileDisplayName
                - policyStatusDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - policyStatusDetails
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
          links:
            policyStatusDetails:
              operationId: deviceManagement.AutopilotEvents.ListPolicyStatusDetails
              parameters:
                deviceManagementAutopilotEvent-id: $request.path.deviceManagementAutopilotEvent-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Update the navigation property autopilotEvents in deviceManagement
      operationId: deviceManagement_UpdateAutopilotEvents
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: 'key: id of deviceManagementAutopilotEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Delete navigation property autopilotEvents for deviceManagement
      operationId: deviceManagement_DeleteAutopilotEvents
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: 'key: id of deviceManagementAutopilotEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/autopilotEvents/{deviceManagementAutopilotEvent-id}/policyStatusDetails':
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get policyStatusDetails from deviceManagement
      operationId: deviceManagement.autopilotEvents_ListPolicyStatusDetails
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: 'key: id of deviceManagementAutopilotEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - complianceStatus
                - complianceStatus desc
                - displayName
                - displayName desc
                - errorCode
                - errorCode desc
                - lastReportedDateTime
                - lastReportedDateTime desc
                - policyType
                - policyType desc
                - trackedOnEnrollmentStatus
                - trackedOnEnrollmentStatus desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceStatus
                - displayName
                - errorCode
                - lastReportedDateTime
                - policyType
                - trackedOnEnrollmentStatus
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceManagementAutopilotPolicyStatusDetail
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Create new navigation property to policyStatusDetails for deviceManagement
      operationId: deviceManagement.autopilotEvents_CreatePolicyStatusDetails
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: 'key: id of deviceManagementAutopilotEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/autopilotEvents/{deviceManagementAutopilotEvent-id}/policyStatusDetails/{deviceManagementAutopilotPolicyStatusDetail-id}':
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get policyStatusDetails from deviceManagement
      operationId: deviceManagement.autopilotEvents_GetPolicyStatusDetails
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: 'key: id of deviceManagementAutopilotEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - name: deviceManagementAutopilotPolicyStatusDetail-id
          in: path
          description: 'key: id of deviceManagementAutopilotPolicyStatusDetail'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotPolicyStatusDetail
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceStatus
                - displayName
                - errorCode
                - lastReportedDateTime
                - policyType
                - trackedOnEnrollmentStatus
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Update the navigation property policyStatusDetails in deviceManagement
      operationId: deviceManagement.autopilotEvents_UpdatePolicyStatusDetails
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: 'key: id of deviceManagementAutopilotEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - name: deviceManagementAutopilotPolicyStatusDetail-id
          in: path
          description: 'key: id of deviceManagementAutopilotPolicyStatusDetail'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotPolicyStatusDetail
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Delete navigation property policyStatusDetails for deviceManagement
      operationId: deviceManagement.autopilotEvents_DeletePolicyStatusDetails
      parameters:
        - name: deviceManagementAutopilotEvent-id
          in: path
          description: 'key: id of deviceManagementAutopilotEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotEvent
        - name: deviceManagementAutopilotPolicyStatusDetail-id
          in: path
          description: 'key: id of deviceManagementAutopilotPolicyStatusDetail'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementAutopilotPolicyStatusDetail
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/conditionalAccessSettings:
    get:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Get conditionalAccessSettings from deviceManagement
      operationId: deviceManagement_GetConditionalAccessSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - enabled
                - excludedGroups
                - includedGroups
                - overrideDefaultRule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Update the navigation property conditionalAccessSettings in deviceManagement
      operationId: deviceManagement_UpdateConditionalAccessSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Delete navigation property conditionalAccessSettings for deviceManagement
      operationId: deviceManagement_DeleteConditionalAccessSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/depOnboardingSettings:
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get depOnboardingSettings from deviceManagement
      operationId: deviceManagement_ListDepOnboardingSettings
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appleIdentifier
                - appleIdentifier desc
                - dataSharingConsentGranted
                - dataSharingConsentGranted desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastSuccessfulSyncDateTime
                - lastSuccessfulSyncDateTime desc
                - lastSyncErrorCode
                - lastSyncErrorCode desc
                - lastSyncTriggeredDateTime
                - lastSyncTriggeredDateTime desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - shareTokenWithSchoolDataSyncService
                - shareTokenWithSchoolDataSyncService desc
                - syncedDeviceCount
                - syncedDeviceCount desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenName
                - tokenName desc
                - tokenType
                - tokenType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appleIdentifier
                - dataSharingConsentGranted
                - lastModifiedDateTime
                - lastSuccessfulSyncDateTime
                - lastSyncErrorCode
                - lastSyncTriggeredDateTime
                - roleScopeTagIds
                - shareTokenWithSchoolDataSyncService
                - syncedDeviceCount
                - tokenExpirationDateTime
                - tokenName
                - tokenType
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of depOnboardingSetting
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Create new navigation property to depOnboardingSettings for deviceManagement
      operationId: deviceManagement_CreateDepOnboardingSettings
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get depOnboardingSettings from deviceManagement
      operationId: deviceManagement_GetDepOnboardingSettings
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appleIdentifier
                - dataSharingConsentGranted
                - lastModifiedDateTime
                - lastSuccessfulSyncDateTime
                - lastSyncErrorCode
                - lastSyncTriggeredDateTime
                - roleScopeTagIds
                - shareTokenWithSchoolDataSyncService
                - syncedDeviceCount
                - tokenExpirationDateTime
                - tokenName
                - tokenType
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
          links:
            defaultIosEnrollmentProfile:
              operationId: deviceManagement.DepOnboardingSettings.GetDefaultIosEnrollmentProfile
              parameters:
                depOnboardingSetting-id: $request.path.depOnboardingSetting-id
            defaultMacOsEnrollmentProfile:
              operationId: deviceManagement.DepOnboardingSettings.GetDefaultMacOsEnrollmentProfile
              parameters:
                depOnboardingSetting-id: $request.path.depOnboardingSetting-id
            enrollmentProfiles:
              operationId: deviceManagement.DepOnboardingSettings.ListEnrollmentProfiles
              parameters:
                depOnboardingSetting-id: $request.path.depOnboardingSetting-id
            importedAppleDeviceIdentities:
              operationId: deviceManagement.DepOnboardingSettings.ListImportedAppleDeviceIdentities
              parameters:
                depOnboardingSetting-id: $request.path.depOnboardingSetting-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the navigation property depOnboardingSettings in deviceManagement
      operationId: deviceManagement_UpdateDepOnboardingSettings
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete navigation property depOnboardingSettings for deviceManagement
      operationId: deviceManagement_DeleteDepOnboardingSettings
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/defaultIosEnrollmentProfile':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get defaultIosEnrollmentProfile from deviceManagement
      operationId: deviceManagement.depOnboardingSettings_GetDefaultIosEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
                - appleIdDisabled
                - applePayDisabled
                - configurationWebUrl
                - deviceNameTemplate
                - diagnosticsDisabled
                - displayToneSetupDisabled
                - isDefault
                - isMandatory
                - locationDisabled
                - privacyPaneDisabled
                - profileRemovalDisabled
                - restoreBlocked
                - screenTimeScreenDisabled
                - siriDisabled
                - supervisedModeEnabled
                - supportDepartment
                - supportPhoneNumber
                - termsAndConditionsDisabled
                - touchIdDisabled
                - appearanceScreenDisabled
                - awaitDeviceConfiguredConfirmation
                - companyPortalVppTokenId
                - deviceToDeviceMigrationDisabled
                - enableSharedIPad
                - enableSingleAppEnrollmentMode
                - expressLanguageScreenDisabled
                - homeButtonScreenDisabled
                - iMessageAndFaceTimeScreenDisabled
                - iTunesPairingMode
                - managementCertificates
                - onBoardingScreenDisabled
                - passCodeDisabled
                - preferredLanguageScreenDisabled
                - restoreCompletedScreenDisabled
                - restoreFromAndroidDisabled
                - sharedIPadMaximumUserCount
                - simSetupScreenDisabled
                - softwareUpdateScreenDisabled
                - updateCompleteScreenDisabled
                - watchMigrationScreenDisabled
                - welcomeScreenDisabled
                - zoomDisabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depIOSEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/defaultIosEnrollmentProfile/$ref':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get ref of defaultIosEnrollmentProfile from deviceManagement
      operationId: deviceManagement.depOnboardingSettings_GetRefDefaultIosEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the ref of navigation property defaultIosEnrollmentProfile in deviceManagement
      operationId: deviceManagement.depOnboardingSettings_SetRefDefaultIosEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete ref of navigation property defaultIosEnrollmentProfile for deviceManagement
      operationId: deviceManagement.depOnboardingSettings_DeleteRefDefaultIosEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/defaultMacOsEnrollmentProfile':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get defaultMacOsEnrollmentProfile from deviceManagement
      operationId: deviceManagement.depOnboardingSettings_GetDefaultMacOsEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
                - appleIdDisabled
                - applePayDisabled
                - configurationWebUrl
                - deviceNameTemplate
                - diagnosticsDisabled
                - displayToneSetupDisabled
                - isDefault
                - isMandatory
                - locationDisabled
                - privacyPaneDisabled
                - profileRemovalDisabled
                - restoreBlocked
                - screenTimeScreenDisabled
                - siriDisabled
                - supervisedModeEnabled
                - supportDepartment
                - supportPhoneNumber
                - termsAndConditionsDisabled
                - touchIdDisabled
                - accessibilityScreenDisabled
                - chooseYourLockScreenDisabled
                - fileVaultDisabled
                - iCloudDiagnosticsDisabled
                - iCloudStorageDisabled
                - passCodeDisabled
                - registrationDisabled
                - zoomDisabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depMacOSEnrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/defaultMacOsEnrollmentProfile/$ref':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get ref of defaultMacOsEnrollmentProfile from deviceManagement
      operationId: deviceManagement.depOnboardingSettings_GetRefDefaultMacOsEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the ref of navigation property defaultMacOsEnrollmentProfile in deviceManagement
      operationId: deviceManagement.depOnboardingSettings_SetRefDefaultMacOsEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete ref of navigation property defaultMacOsEnrollmentProfile for deviceManagement
      operationId: deviceManagement.depOnboardingSettings_DeleteRefDefaultMacOsEnrollmentProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get enrollmentProfiles from deviceManagement
      operationId: deviceManagement.depOnboardingSettings_ListEnrollmentProfiles
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - configurationEndpointUrl
                - configurationEndpointUrl desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enableAuthenticationViaCompanyPortal
                - enableAuthenticationViaCompanyPortal desc
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requireCompanyPortalOnSetupAssistantEnrolledDevices desc
                - requiresUserAuthentication
                - requiresUserAuthentication desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of enrollmentProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Create new navigation property to enrollmentProfiles for deviceManagement
      operationId: deviceManagement.depOnboardingSettings_CreateEnrollmentProfiles
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles/{enrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get enrollmentProfiles from deviceManagement
      operationId: deviceManagement.depOnboardingSettings_GetEnrollmentProfiles
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: 'key: id of enrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the navigation property enrollmentProfiles in deviceManagement
      operationId: deviceManagement.depOnboardingSettings_UpdateEnrollmentProfiles
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: 'key: id of enrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete navigation property enrollmentProfiles for deviceManagement
      operationId: deviceManagement.depOnboardingSettings_DeleteEnrollmentProfiles
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: 'key: id of enrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/importedAppleDeviceIdentities':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get importedAppleDeviceIdentities from deviceManagement
      operationId: deviceManagement.depOnboardingSettings_ListImportedAppleDeviceIdentities
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - discoverySource
                - discoverySource desc
                - enrollmentState
                - enrollmentState desc
                - isDeleted
                - isDeleted desc
                - isSupervised
                - isSupervised desc
                - lastContactedDateTime
                - lastContactedDateTime desc
                - platform
                - platform desc
                - requestedEnrollmentProfileAssignmentDateTime
                - requestedEnrollmentProfileAssignmentDateTime desc
                - requestedEnrollmentProfileId
                - requestedEnrollmentProfileId desc
                - serialNumber
                - serialNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - discoverySource
                - enrollmentState
                - isDeleted
                - isSupervised
                - lastContactedDateTime
                - platform
                - requestedEnrollmentProfileAssignmentDateTime
                - requestedEnrollmentProfileId
                - serialNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of importedAppleDeviceIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Create new navigation property to importedAppleDeviceIdentities for deviceManagement
      operationId: deviceManagement.depOnboardingSettings_CreateImportedAppleDeviceIdentities
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/importedAppleDeviceIdentities/{importedAppleDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get importedAppleDeviceIdentities from deviceManagement
      operationId: deviceManagement.depOnboardingSettings_GetImportedAppleDeviceIdentities
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: importedAppleDeviceIdentity-id
          in: path
          description: 'key: id of importedAppleDeviceIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: importedAppleDeviceIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - discoverySource
                - enrollmentState
                - isDeleted
                - isSupervised
                - lastContactedDateTime
                - platform
                - requestedEnrollmentProfileAssignmentDateTime
                - requestedEnrollmentProfileId
                - serialNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the navigation property importedAppleDeviceIdentities in deviceManagement
      operationId: deviceManagement.depOnboardingSettings_UpdateImportedAppleDeviceIdentities
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: importedAppleDeviceIdentity-id
          in: path
          description: 'key: id of importedAppleDeviceIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: importedAppleDeviceIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete navigation property importedAppleDeviceIdentities for deviceManagement
      operationId: deviceManagement.depOnboardingSettings_DeleteImportedAppleDeviceIdentities
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: importedAppleDeviceIdentity-id
          in: path
          description: 'key: id of importedAppleDeviceIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: importedAppleDeviceIdentity
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceEnrollmentConfigurations:
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      operationId: deviceManagement_ListDeviceEnrollmentConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - priority
                - priority desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - priority
                - roleScopeTagIds
                - version
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceEnrollmentConfiguration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create new navigation property to deviceEnrollmentConfigurations for deviceManagement
      operationId: deviceManagement_CreateDeviceEnrollmentConfigurations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      operationId: deviceManagement_GetDeviceEnrollmentConfigurations
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - priority
                - roleScopeTagIds
                - version
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
[...]
