openapi: 3.0.1
info:
  title: DevicesApps.OfficeConfiguration
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /officeConfiguration:
    get:
      tags:
        - officeConfiguration.officeConfiguration
      summary: Get officeConfiguration
      operationId: officeConfiguration.officeConfiguration_GetOfficeConfiguration
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - tenantCheckinStatuses
                - tenantUserCheckinSummary
                - clientConfigurations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - clientConfigurations
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.officeConfiguration'
          links:
            clientConfigurations:
              operationId: officeConfiguration.GetClientConfigurations
              parameters:
                officeClientConfiguration-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - officeConfiguration.officeConfiguration
      summary: Update officeConfiguration
      operationId: officeConfiguration.officeConfiguration_UpdateOfficeConfiguration
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.officeConfiguration'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /officeConfiguration/clientConfigurations:
    get:
      tags:
        - officeConfiguration.officeClientConfiguration
      summary: Get clientConfigurations from officeConfiguration
      operationId: officeConfiguration_ListClientConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userPreferencePayload
                - userPreferencePayload desc
                - policyPayload
                - policyPayload desc
                - description
                - description desc
                - displayName
                - displayName desc
                - priority
                - priority desc
                - userCheckinSummary
                - userCheckinSummary desc
                - checkinStatuses
                - checkinStatuses desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userPreferencePayload
                - policyPayload
                - description
                - displayName
                - priority
                - userCheckinSummary
                - checkinStatuses
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of officeClientConfiguration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.officeClientConfiguration'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - officeConfiguration.officeClientConfiguration
      summary: Create new navigation property to clientConfigurations for officeConfiguration
      operationId: officeConfiguration_CreateClientConfigurations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.officeClientConfiguration'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.officeClientConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/officeConfiguration/clientConfigurations/{officeClientConfiguration-id}':
    get:
      tags:
        - officeConfiguration.officeClientConfiguration
      summary: Get clientConfigurations from officeConfiguration
      operationId: officeConfiguration_GetClientConfigurations
      parameters:
        - name: officeClientConfiguration-id
          in: path
          description: 'key: officeClientConfiguration-id of officeClientConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: officeClientConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userPreferencePayload
                - policyPayload
                - description
                - displayName
                - priority
                - userCheckinSummary
                - checkinStatuses
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.officeClientConfiguration'
          links:
            assignments:
              operationId: officeConfiguration.clientConfigurations.GetAssignments
              parameters:
                officeClientConfiguration-id: $request.path.officeClientConfiguration-id
                officeClientConfigurationAssignment-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - officeConfiguration.officeClientConfiguration
      summary: Update the navigation property clientConfigurations in officeConfiguration
      operationId: officeConfiguration_UpdateClientConfigurations
      parameters:
        - name: officeClientConfiguration-id
          in: path
          description: 'key: officeClientConfiguration-id of officeClientConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: officeClientConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.officeClientConfiguration'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/officeConfiguration/clientConfigurations/{officeClientConfiguration-id}/assignments':
    get:
      tags:
        - officeConfiguration.officeClientConfiguration
      summary: Get assignments from officeConfiguration
      operationId: officeConfiguration.clientConfigurations_ListAssignments
      parameters:
        - name: officeClientConfiguration-id
          in: path
          description: 'key: officeClientConfiguration-id of officeClientConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: officeClientConfiguration
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - target
                - target desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of officeClientConfigurationAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.officeClientConfigurationAssignment'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - officeConfiguration.officeClientConfiguration
      summary: Create new navigation property to assignments for officeConfiguration
      operationId: officeConfiguration.clientConfigurations_CreateAssignments
      parameters:
        - name: officeClientConfiguration-id
          in: path
          description: 'key: officeClientConfiguration-id of officeClientConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: officeClientConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.officeClientConfigurationAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.officeClientConfigurationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/officeConfiguration/clientConfigurations/{officeClientConfiguration-id}/assignments/{officeClientConfigurationAssignment-id}':
    get:
      tags:
        - officeConfiguration.officeClientConfiguration
      summary: Get assignments from officeConfiguration
      operationId: officeConfiguration.clientConfigurations_GetAssignments
      parameters:
        - name: officeClientConfiguration-id
          in: path
          description: 'key: officeClientConfiguration-id of officeClientConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: officeClientConfiguration
        - name: officeClientConfigurationAssignment-id
          in: path
          description: 'key: officeClientConfigurationAssignment-id of officeClientConfigurationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: officeClientConfigurationAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.officeClientConfigurationAssignment'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - officeConfiguration.officeClientConfiguration
      summary: Update the navigation property assignments in officeConfiguration
      operationId: officeConfiguration.clientConfigurations_UpdateAssignments
      parameters:
        - name: officeClientConfiguration-id
          in: path
          description: 'key: officeClientConfiguration-id of officeClientConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: officeClientConfiguration
        - name: officeClientConfigurationAssignment-id
          in: path
          description: 'key: officeClientConfigurationAssignment-id of officeClientConfigurationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: officeClientConfigurationAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.officeClientConfigurationAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/officeConfiguration/clientConfigurations/{officeClientConfiguration-id}/microsoft.graph.assign':
    post:
      tags:
        - officeConfiguration.Actions
      summary: Invoke action assign
      operationId: officeConfiguration.clientConfigurations_assign
      parameters:
        - name: officeClientConfiguration-id
          in: path
          description: 'key: officeClientConfiguration-id of officeClientConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: officeClientConfiguration
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                officeConfigurationAssignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.officeClientConfigurationAssignment'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.officeClientConfigurationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /officeConfiguration/clientConfigurations/microsoft.graph.updatePriorities:
    post:
      tags:
        - officeConfiguration.Actions
      summary: Invoke action updatePriorities
      operationId: officeConfiguration.clientConfigurations_updatePriorities
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                officeConfigurationPolicyIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                officeConfigurationPriorities:
                  type: array
                  items:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    format: int32
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.officeConfiguration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: officeConfiguration
          type: object
          properties:
            tenantCheckinStatuses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.officeClientCheckinStatus'
            tenantUserCheckinSummary:
              $ref: '#/components/schemas/microsoft.graph.officeUserCheckinSummary'
            clientConfigurations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.officeClientConfiguration'
      example:
        id: string (identifier)
        tenantCheckinStatuses:
          - '@odata.type': microsoft.graph.officeClientCheckinStatus
        tenantUserCheckinSummary:
          '@odata.type': microsoft.graph.officeUserCheckinSummary
        clientConfigurations:
          - '@odata.type': microsoft.graph.officeClientConfiguration
    microsoft.graph.officeClientConfiguration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: officeClientConfiguration
          type: object
          properties:
            userPreferencePayload:
              type: string
              format: base64url
              nullable: true
            policyPayload:
              type: string
              format: base64url
              nullable: true
            description:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            priority:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
            userCheckinSummary:
              $ref: '#/components/schemas/microsoft.graph.officeUserCheckinSummary'
            checkinStatuses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.officeClientCheckinStatus'
            assignments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.officeClientConfigurationAssignment'
      example:
        id: string (identifier)
        userPreferencePayload: string
        policyPayload: string
        description: string
        displayName: string
        priority: integer
        userCheckinSummary:
          '@odata.type': microsoft.graph.officeUserCheckinSummary
        checkinStatuses:
          - '@odata.type': microsoft.graph.officeClientCheckinStatus
        assignments:
          - '@odata.type': microsoft.graph.officeClientConfigurationAssignment
    microsoft.graph.officeClientConfigurationAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: officeClientConfigurationAssignment
          type: object
          properties:
            target:
              $ref: '#/components/schemas/microsoft.graph.officeConfigurationAssignmentTarget'
      example:
        id: string (identifier)
        target:
          '@odata.type': microsoft.graph.officeConfigurationAssignmentTarget
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    microsoft.graph.officeClientCheckinStatus:
      title: officeClientCheckinStatus
      type: object
      properties:
        userPrincipalName:
          type: string
          nullable: true
        deviceName:
          type: string
          nullable: true
        devicePlatform:
          type: string
          nullable: true
        devicePlatformVersion:
          type: string
          nullable: true
        wasSuccessful:
          type: boolean
        userId:
          type: string
        checkinDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
        errorMessage:
          type: string
          nullable: true
        appliedPolicies:
          type: array
          items:
            type: string
            nullable: true
      example:
        userPrincipalName: string
        deviceName: string
        devicePlatform: string
        devicePlatformVersion: string
        wasSuccessful: true
        userId: string
        checkinDateTime: string (timestamp)
        errorMessage: string
        appliedPolicies:
          - string
    microsoft.graph.officeUserCheckinSummary:
      title: officeUserCheckinSummary
      type: object
      properties:
        succeededUserCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
        failedUserCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
      example:
        succeededUserCount: integer
        failedUserCount: integer
    microsoft.graph.officeConfigurationAssignmentTarget:
      title: officeConfigurationAssignmentTarget
      type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]