openapi: 3.0.1
info:
  title: DeviceManagement.Actions
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/deviceManagement/androidDeviceOwnerEnrollmentProfiles/{androidDeviceOwnerEnrollmentProfile-id}/microsoft.graph.createToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createToken
      operationId: deviceManagement.androidDeviceOwnerEnrollmentProfiles_createToken
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                tokenValidityInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/androidDeviceOwnerEnrollmentProfiles/{androidDeviceOwnerEnrollmentProfile-id}/microsoft.graph.revokeToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action revokeToken
      operationId: deviceManagement.androidDeviceOwnerEnrollmentProfiles_revokeToken
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/androidForWorkEnrollmentProfiles/{androidForWorkEnrollmentProfile-id}/microsoft.graph.createToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createToken
      operationId: deviceManagement.androidForWorkEnrollmentProfiles_createToken
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                tokenValidityInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/androidForWorkEnrollmentProfiles/{androidForWorkEnrollmentProfile-id}/microsoft.graph.revokeToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action revokeToken
      operationId: deviceManagement.androidForWorkEnrollmentProfiles_revokeToken
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.completeSignup:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action completeSignup
      operationId: deviceManagement.androidForWorkSettings_completeSignup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enterpriseToken:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.requestSignupUrl:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestSignupUrl
      operationId: deviceManagement.androidForWorkSettings_requestSignupUrl
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                hostName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.syncApps:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncApps
      operationId: deviceManagement.androidForWorkSettings_syncApps
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.unbind:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action unbind
      operationId: deviceManagement.androidForWorkSettings_unbind
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.approveApps:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action approveApps
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_approveApps
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                packageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                approveAllPermissions:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.completeSignup:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action completeSignup
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_completeSignup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enterpriseToken:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.createGooglePlayWebToken:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createGooglePlayWebToken
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_createGooglePlayWebToken
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                parentUri:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.requestSignupUrl:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestSignupUrl
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_requestSignupUrl
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                hostName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.setAndroidDeviceOwnerFullyManagedEnrollmentState:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setAndroidDeviceOwnerFullyManagedEnrollmentState
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_setAndroidDeviceOwnerFullyManagedEnrollmentState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.syncApps:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncApps
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_syncApps
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.unbind:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action unbind
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_unbind
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/applePushNotificationCertificate/microsoft.graph.generateApplePushNotificationCertificateSigningRequest:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action generateApplePushNotificationCertificateSigningRequest
      operationId: deviceManagement.applePushNotificationCertificate_generateApplePushNotificationCertificateSigningRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}/microsoft.graph.setPriority':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setPriority
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_setPriority
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                priority:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/assignmentFilters/microsoft.graph.enable:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action enable
      operationId: deviceManagement.assignmentFilters_enable
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enable:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/assignmentFilters/microsoft.graph.validateFilter:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action validateFilter
      operationId: deviceManagement.assignmentFilters_validateFilter
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceAndAppManagementAssignmentFilter:
                  $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.assignmentFilterValidationResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/chromeOSOnboardingSettings/microsoft.graph.connect:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action connect
      operationId: deviceManagement.chromeOSOnboardingSettings_connect
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ownerUserPrincipalName:
                  type: string
                  nullable: true
                serviceAccountCredentials:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chromeOSOnboardingStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/logCollectionRequests/{deviceLogCollectionResponse-id}/microsoft.graph.createDownloadUrl':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createDownloadUrl
      operationId: deviceManagement.comanagedDevices.logCollectionRequests_createDownloadUrl
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: deviceLogCollectionResponse-id
          in: path
          description: 'key: id of deviceLogCollectionResponse'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceLogCollectionResponse
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.bypassActivationLock':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action bypassActivationLock
      operationId: deviceManagement.comanagedDevices_bypassActivationLock
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.cleanWindowsDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action cleanWindowsDevice
      operationId: deviceManagement.comanagedDevices_cleanWindowsDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keepUserData:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.createDeviceLogCollectionRequest':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createDeviceLogCollectionRequest
      operationId: deviceManagement.comanagedDevices_createDeviceLogCollectionRequest
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                templateType:
                  $ref: '#/components/schemas/microsoft.graph.deviceLogCollectionRequest'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceLogCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.deleteUserFromSharedAppleDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action deleteUserFromSharedAppleDevice
      operationId: deviceManagement.comanagedDevices_deleteUserFromSharedAppleDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userPrincipalName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.disableLostMode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action disableLostMode
      operationId: deviceManagement.comanagedDevices_disableLostMode
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.enableLostMode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action enableLostMode
      operationId: deviceManagement.comanagedDevices_enableLostMode
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  nullable: true
                phoneNumber:
                  type: string
                  nullable: true
                footer:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.locateDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action locateDevice
      operationId: deviceManagement.comanagedDevices_locateDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.logoutSharedAppleDeviceActiveUser':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action logoutSharedAppleDeviceActiveUser
      operationId: deviceManagement.comanagedDevices_logoutSharedAppleDeviceActiveUser
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.overrideComplianceState':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action overrideComplianceState
      operationId: deviceManagement.comanagedDevices_overrideComplianceState
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                complianceState:
                  $ref: '#/components/schemas/microsoft.graph.administratorConfiguredDeviceComplianceState'
                remediationUrl:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.playLostModeSound':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action playLostModeSound
      operationId: deviceManagement.comanagedDevices_playLostModeSound
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.rebootNow':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action rebootNow
      operationId: deviceManagement.comanagedDevices_rebootNow
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.recoverPasscode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action recoverPasscode
      operationId: deviceManagement.comanagedDevices_recoverPasscode
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.remoteLock':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action remoteLock
      operationId: deviceManagement.comanagedDevices_remoteLock
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.requestRemoteAssistance':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestRemoteAssistance
      operationId: deviceManagement.comanagedDevices_requestRemoteAssistance
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.resetPasscode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action resetPasscode
      operationId: deviceManagement.comanagedDevices_resetPasscode
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.retire':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action retire
      operationId: deviceManagement.comanagedDevices_retire
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.revokeAppleVppLicenses':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action revokeAppleVppLicenses
      operationId: deviceManagement.comanagedDevices_revokeAppleVppLicenses
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.rotateBitLockerKeys':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action rotateBitLockerKeys
      operationId: deviceManagement.comanagedDevices_rotateBitLockerKeys
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.rotateFileVaultKey':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action rotateFileVaultKey
      operationId: deviceManagement.comanagedDevices_rotateFileVaultKey
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.sendCustomNotificationToCompanyPortal':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action sendCustomNotificationToCompanyPortal
      operationId: deviceManagement.comanagedDevices_sendCustomNotificationToCompanyPortal
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                notificationTitle:
                  type: string
                notificationBody:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.setDeviceName':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setDeviceName
      operationId: deviceManagement.comanagedDevices_setDeviceName
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.shutDown':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action shutDown
      operationId: deviceManagement.comanagedDevices_shutDown
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.syncDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncDevice
      operationId: deviceManagement.comanagedDevices_syncDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.triggerConfigurationManagerAction':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action triggerConfigurationManagerAction
      operationId: deviceManagement.comanagedDevices_triggerConfigurationManagerAction
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                configurationManagerAction:
                  $ref: '#/components/schemas/microsoft.graph.configurationManagerAction'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.updateWindowsDeviceAccount':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action updateWindowsDeviceAccount
      operationId: deviceManagement.comanagedDevices_updateWindowsDeviceAccount
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateWindowsDeviceAccountActionParameter:
                  $ref: '#/components/schemas/microsoft.graph.updateWindowsDeviceAccountActionParameter'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.windowsDefenderScan':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action windowsDefenderScan
      operationId: deviceManagement.comanagedDevices_windowsDefenderScan
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                quickScan:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.windowsDefenderUpdateSignatures':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action windowsDefenderUpdateSignatures
      operationId: deviceManagement.comanagedDevices_windowsDefenderUpdateSignatures
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.wipe':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action wipe
      operationId: deviceManagement.comanagedDevices_wipe
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keepEnrollmentData:
                  type: boolean
                  default: false
                  nullable: true
                keepUserData:
                  type: boolean
                  default: false
                  nullable: true
                macOsUnlockCode:
                  type: string
                  nullable: true
                useProtectedWipe:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/comanagedDevices/microsoft.graph.executeAction:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action executeAction
      operationId: deviceManagement.comanagedDevices_executeAction
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                actionName:
                  $ref: '#/components/schemas/microsoft.graph.managedDeviceRemoteAction'
                keepEnrollmentData:
                  type: boolean
                  default: false
                  nullable: true
                keepUserData:
                  type: boolean
                  default: false
                  nullable: true
                deviceIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                notificationTitle:
                  type: string
                  nullable: true
                notificationBody:
                  type: string
                  nullable: true
                deviceName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bulkManagedDeviceActionResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/configurationPolicies/{deviceManagementConfigurationPolicy-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.configurationPolicies_assign
      parameters:
        - name: deviceManagementConfigurationPolicy-id
          in: path
          description: 'key: id of deviceManagementConfigurationPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementConfigurationPolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceManagementConfigurationPolicyAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.deviceManagementConfigurationPolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/dataSharingConsents/{dataSharingConsent-id}/microsoft.graph.consentToDataSharing':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action consentToDataSharing
      operationId: deviceManagement.dataSharingConsents_consentToDataSharing
      parameters:
        - name: dataSharingConsent-id
          in: path
          description: 'key: id of dataSharingConsent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataSharingConsent
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataSharingConsent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles/{enrollmentProfile-id}/microsoft.graph.setDefaultProfile':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setDefaultProfile
      operationId: deviceManagement.depOnboardingSettings.enrollmentProfiles_setDefaultProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: 'key: id of enrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles/{enrollmentProfile-id}/microsoft.graph.updateDeviceProfileAssignment':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action updateDeviceProfileAssignment
      operationId: deviceManagement.depOnboardingSettings.enrollmentProfiles_updateDeviceProfileAssignment
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: 'key: id of enrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/importedAppleDeviceIdentities/microsoft.graph.importAppleDeviceIdentityList':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action importAppleDeviceIdentityList
      operationId: deviceManagement.depOnboardingSettings.importedAppleDeviceIdentities_importAppleDeviceIdentityList
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                importedAppleDeviceIdentities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
                overwriteImportedDeviceIdentities:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentityResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.generateEncryptionPublicKey':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action generateEncryptionPublicKey
      operationId: deviceManagement.depOnboardingSettings_generateEncryptionPublicKey
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.shareForSchoolDataSyncService':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action shareForSchoolDataSyncService
      operationId: deviceManagement.depOnboardingSettings_shareForSchoolDataSyncService
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.syncWithAppleDeviceEnrollmentProgram':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncWithAppleDeviceEnrollmentProgram
      operationId: deviceManagement.depOnboardingSettings_syncWithAppleDeviceEnrollmentProgram
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.unshareForSchoolDataSyncService':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action unshareForSchoolDataSyncService
      operationId: deviceManagement.depOnboardingSettings_unshareForSchoolDataSyncService
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.uploadDepToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action uploadDepToken
      operationId: deviceManagement.depOnboardingSettings_uploadDepToken
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                appleId:
                  type: string
                  nullable: true
                depToken:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/detectedApps/{detectedApp-id}/managedDevices/microsoft.graph.executeAction':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action executeAction
      operationId: deviceManagement.detectedApps.managedDevices_executeAction
      parameters:
        - name: detectedApp-id
          in: path
          description: 'key: id of detectedApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: detectedApp
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                actionName:
                  $ref: '#/components/schemas/microsoft.graph.managedDeviceRemoteAction'
                keepEnrollmentData:
                  type: boolean
                  default: false
                  nullable: true
                keepUserData:
                  type: boolean
                  default: false
                  nullable: true
                deviceIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                notificationTitle:
                  type: string
                  nullable: true
                notificationBody:
                  type: string
                  nullable: true
                deviceName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bulkManagedDeviceActionResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.deviceCompliancePolicies_assign
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/microsoft.graph.scheduleActionsForRules':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action scheduleActionsForRules
      operationId: deviceManagement.deviceCompliancePolicies_scheduleActionsForRules
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceComplianceScheduledActionForRules:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.getDevicesScheduledToRetire:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getDevicesScheduledToRetire
      operationId: deviceManagement.deviceCompliancePolicies_getDevicesScheduledToRetire
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.retireScheduledManagedDevice'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.hasPayloadLinks:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action hasPayloadLinks
      operationId: deviceManagement.deviceCompliancePolicies_hasPayloadLinks
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                payloadIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.hasPayloadLinkResultItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.refreshDeviceComplianceReportSummarization:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action refreshDeviceComplianceReportSummarization
      operationId: deviceManagement.deviceCompliancePolicies_refreshDeviceComplianceReportSummarization
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.setScheduledRetireState:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setScheduledRetireState
      operationId: deviceManagement.deviceCompliancePolicies_setScheduledRetireState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  $ref: '#/components/schemas/microsoft.graph.scheduledRetireState'
                managedDeviceIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.validateComplianceScript:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action validateComplianceScript
      operationId: deviceManagement.deviceCompliancePolicies_validateComplianceScript
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceCompliancePolicyScript:
                  $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyScript'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceScriptValidationResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.bypassActivationLock':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action bypassActivationLock
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_bypassActivationLock
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.cleanWindowsDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action cleanWindowsDevice
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_cleanWindowsDevice
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keepUserData:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.createDeviceLogCollectionRequest':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createDeviceLogCollectionRequest
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_createDeviceLogCollectionRequest
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                templateType:
                  $ref: '#/components/schemas/microsoft.graph.deviceLogCollectionRequest'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceLogCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.deleteUserFromSharedAppleDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action deleteUserFromSharedAppleDevice
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_deleteUserFromSharedAppleDevice
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userPrincipalName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.disableLostMode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action disableLostMode
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_disableLostMode
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.enableLostMode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action enableLostMode
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_enableLostMode
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  nullable: true
                phoneNumber:
                  type: string
                  nullable: true
                footer:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.locateDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action locateDevice
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_locateDevice
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.logoutSharedAppleDeviceActiveUser':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action logoutSharedAppleDeviceActiveUser
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_logoutSharedAppleDeviceActiveUser
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.overrideComplianceState':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action overrideComplianceState
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_overrideComplianceState
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                complianceState:
                  $ref: '#/components/schemas/microsoft.graph.administratorConfiguredDeviceComplianceState'
                remediationUrl:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.playLostModeSound':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action playLostModeSound
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_playLostModeSound
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.rebootNow':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action rebootNow
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_rebootNow
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.recoverPasscode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action recoverPasscode
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_recoverPasscode
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.remoteLock':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action remoteLock
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_remoteLock
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.requestRemoteAssistance':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestRemoteAssistance
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_requestRemoteAssistance
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.resetPasscode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action resetPasscode
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_resetPasscode
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.retire':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action retire
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_retire
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.revokeAppleVppLicenses':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action revokeAppleVppLicenses
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_revokeAppleVppLicenses
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.rotateBitLockerKeys':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action rotateBitLockerKeys
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_rotateBitLockerKeys
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.rotateFileVaultKey':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action rotateFileVaultKey
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_rotateFileVaultKey
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.sendCustomNotificationToCompanyPortal':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action sendCustomNotificationToCompanyPortal
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_sendCustomNotificationToCompanyPortal
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                notificationTitle:
                  type: string
                notificationBody:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.setDeviceName':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setDeviceName
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_setDeviceName
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.shutDown':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action shutDown
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_shutDown
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.syncDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncDevice
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_syncDevice
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.triggerConfigurationManagerAction':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action triggerConfigurationManagerAction
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_triggerConfigurationManagerAction
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                configurationManagerAction:
                  $ref: '#/components/schemas/microsoft.graph.configurationManagerAction'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.updateWindowsDeviceAccount':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action updateWindowsDeviceAccount
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_updateWindowsDeviceAccount
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateWindowsDeviceAccountActionParameter:
                  $ref: '#/components/schemas/microsoft.graph.updateWindowsDeviceAccountActionParameter'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.windowsDefenderScan':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action windowsDefenderScan
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_windowsDefenderScan
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                quickScan:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.windowsDefenderUpdateSignatures':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action windowsDefenderUpdateSignatures
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_windowsDefenderUpdateSignatures
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/deviceRunStates/{deviceComplianceScriptDeviceState-id}/managedDevice/microsoft.graph.wipe':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action wipe
      operationId: deviceManagement.deviceComplianceScripts.deviceRunStates.managedDevice_wipe
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
        - name: deviceComplianceScriptDeviceState-id
          in: path
          description: 'key: id of deviceComplianceScriptDeviceState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScriptDeviceState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keepEnrollmentData:
                  type: boolean
                  default: false
                  nullable: true
                keepUserData:
                  type: boolean
                  default: false
                  nullable: true
                macOsUnlockCode:
                  type: string
                  nullable: true
                useProtectedWipe:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.deviceComplianceScripts_assign
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceHealthScriptAssignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceHealthScriptAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceConfigurations/{deviceConfiguration-id}/groupAssignments/{deviceConfigurationGroupAssignment-id}/deviceConfiguration/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.deviceConfigurations.groupAssignments.deviceConfiguration_assign
      parameters:
        - name: deviceConfiguration-id
          in: path
          description: 'key: id of deviceConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceConfiguration
[...]
