openapi: 3.0.1
info:
  title: DeviceManagement.Actions
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/deviceManagement/androidDeviceOwnerEnrollmentProfiles/{androidDeviceOwnerEnrollmentProfile-id}/microsoft.graph.createToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createToken
      operationId: deviceManagement.androidDeviceOwnerEnrollmentProfiles_createToken
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                tokenValidityInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/androidDeviceOwnerEnrollmentProfiles/{androidDeviceOwnerEnrollmentProfile-id}/microsoft.graph.revokeToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action revokeToken
      operationId: deviceManagement.androidDeviceOwnerEnrollmentProfiles_revokeToken
      parameters:
        - name: androidDeviceOwnerEnrollmentProfile-id
          in: path
          description: 'key: id of androidDeviceOwnerEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidDeviceOwnerEnrollmentProfile
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/androidForWorkEnrollmentProfiles/{androidForWorkEnrollmentProfile-id}/microsoft.graph.createToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createToken
      operationId: deviceManagement.androidGraphFPreWorkEnrollmentProfiles_createToken
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                tokenValidityInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/androidForWorkEnrollmentProfiles/{androidForWorkEnrollmentProfile-id}/microsoft.graph.revokeToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action revokeToken
      operationId: deviceManagement.androidGraphFPreWorkEnrollmentProfiles_revokeToken
      parameters:
        - name: androidForWorkEnrollmentProfile-id
          in: path
          description: 'key: id of androidForWorkEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkEnrollmentProfile
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.completeSignup:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action completeSignup
      operationId: deviceManagement.androidGraphFPreWorkSettings_completeSignup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enterpriseToken:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.requestSignupUrl:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestSignupUrl
      operationId: deviceManagement.androidGraphFPreWorkSettings_requestSignupUrl
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                hostName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.syncApps:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncApps
      operationId: deviceManagement.androidGraphFPreWorkSettings_syncApps
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidForWorkSettings/microsoft.graph.unbind:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action unbind
      operationId: deviceManagement.androidGraphFPreWorkSettings_unbind
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.approveApps:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action approveApps
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_approveApps
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                packageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                approveAllPermissions:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.completeSignup:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action completeSignup
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_completeSignup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enterpriseToken:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.createGooglePlayWebToken:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createGooglePlayWebToken
      description: Generates a web token that is used in an embeddable component.
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_createGooglePlayWebToken
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                parentUri:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.requestSignupUrl:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestSignupUrl
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_requestSignupUrl
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                hostName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.setAndroidDeviceOwnerFullyManagedEnrollmentState:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setAndroidDeviceOwnerFullyManagedEnrollmentState
      description: Sets the AndroidManagedStoreAccountEnterpriseSettings AndroidDeviceOwnerFullyManagedEnrollmentEnabled to the given value.
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_setAndroidDeviceOwnerFullyManagedEnrollmentState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.syncApps:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncApps
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_syncApps
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings/microsoft.graph.unbind:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action unbind
      operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings_unbind
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/applePushNotificationCertificate/microsoft.graph.generateApplePushNotificationCertificateSigningRequest:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action generateApplePushNotificationCertificateSigningRequest
      description: Download Apple push notification certificate signing request
      operationId: deviceManagement.applePushNotificationCertificate_generateApplePushNotificationCertificateSigningRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}/microsoft.graph.setPriority':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setPriority
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_setPriority
      parameters:
        - name: appleUserInitiatedEnrollmentProfile-id
          in: path
          description: 'key: id of appleUserInitiatedEnrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appleUserInitiatedEnrollmentProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                priority:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/assignmentFilters/microsoft.graph.enable:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action enable
      operationId: deviceManagement.assignmentFilters_enable
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enable:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/assignmentFilters/microsoft.graph.validateFilter:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action validateFilter
      operationId: deviceManagement.assignmentFilters_validateFilter
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceAndAppManagementAssignmentFilter:
                  $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.assignmentFilterValidationResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/certificateConnectorDetails/{certificateConnectorDetails-id}/microsoft.graph.getHealthMetrics':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getHealthMetrics
      operationId: deviceManagement.certificateConnectorDetails_getHealthMetrics
      parameters:
        - name: certificateConnectorDetails-id
          in: path
          description: 'key: id of certificateConnectorDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: certificateConnectorDetails
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                metricNames:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of certificateConnectorDetails
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.keyLongValuePair'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/certificateConnectorDetails/{certificateConnectorDetails-id}/microsoft.graph.getHealthMetricTimeSeries':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getHealthMetricTimeSeries
      operationId: deviceManagement.certificateConnectorDetails_getHealthMetricTimeSeries
      parameters:
        - name: certificateConnectorDetails-id
          in: path
          description: 'key: id of certificateConnectorDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: certificateConnectorDetails
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                timeSeries:
                  $ref: '#/components/schemas/microsoft.graph.timeSeriesParameter'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of certificateConnectorDetails
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.certificateConnectorHealthMetricValue'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/chromeOSOnboardingSettings/microsoft.graph.connect:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action connect
      operationId: deviceManagement.chromeOSOnboardingSettings_connect
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ownerUserPrincipalName:
                  type: string
                  nullable: true
                ownerAccessToken:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chromeOSOnboardingStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/chromeOSOnboardingSettings/microsoft.graph.disconnect:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action disconnect
      operationId: deviceManagement.chromeOSOnboardingSettings_disconnect
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chromeOSOnboardingStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/logCollectionRequests/{deviceLogCollectionResponse-id}/microsoft.graph.createDownloadUrl':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createDownloadUrl
      operationId: deviceManagement.comanagedDevices.logCollectionRequests_createDownloadUrl
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: deviceLogCollectionResponse-id
          in: path
          description: 'key: id of deviceLogCollectionResponse'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceLogCollectionResponse
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.activateDeviceEsim':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action activateDeviceEsim
      description: Activate eSIM on the device.
      operationId: deviceManagement.comanagedDevices_activateDeviceEsim
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                carrierUrl:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.bypassActivationLock':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action bypassActivationLock
      description: Bypass activation lock
      operationId: deviceManagement.comanagedDevices_bypassActivationLock
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.cleanWindowsDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action cleanWindowsDevice
      description: Clean Windows device
      operationId: deviceManagement.comanagedDevices_cleanWindowsDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keepUserData:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.createDeviceLogCollectionRequest':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createDeviceLogCollectionRequest
      operationId: deviceManagement.comanagedDevices_createDeviceLogCollectionRequest
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                templateType:
                  $ref: '#/components/schemas/microsoft.graph.deviceLogCollectionRequest'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceLogCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.createRemoteHelpSession':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createRemoteHelpSession
      description: Remote help - Create session with a specific device
      operationId: deviceManagement.comanagedDevices_createRemoteHelpSession
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.createRemoteHelpSessionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.deleteUserFromSharedAppleDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action deleteUserFromSharedAppleDevice
      description: Delete user from shared Apple device
      operationId: deviceManagement.comanagedDevices_deleteUserFromSharedAppleDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userPrincipalName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.deprovision':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action deprovision
      operationId: deviceManagement.comanagedDevices_deprovision
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deprovisionReason:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.disable':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action disable
      operationId: deviceManagement.comanagedDevices_disable
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.disableLostMode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action disableLostMode
      description: Disable lost mode
      operationId: deviceManagement.comanagedDevices_disableLostMode
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.enableLostMode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action enableLostMode
      description: Enable lost mode
      operationId: deviceManagement.comanagedDevices_enableLostMode
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  nullable: true
                phoneNumber:
                  type: string
                  nullable: true
                footer:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.locateDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action locateDevice
      description: Locate a device
      operationId: deviceManagement.comanagedDevices_locateDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.logoutSharedAppleDeviceActiveUser':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action logoutSharedAppleDeviceActiveUser
      description: Logout shared Apple device active user
      operationId: deviceManagement.comanagedDevices_logoutSharedAppleDeviceActiveUser
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.overrideComplianceState':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action overrideComplianceState
      operationId: deviceManagement.comanagedDevices_overrideComplianceState
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                complianceState:
                  $ref: '#/components/schemas/microsoft.graph.administratorConfiguredDeviceComplianceState'
                remediationUrl:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.playLostModeSound':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action playLostModeSound
      description: Play lost mode sound
      operationId: deviceManagement.comanagedDevices_playLostModeSound
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                durationInMinutes:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.rebootNow':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action rebootNow
      description: Reboot device
      operationId: deviceManagement.comanagedDevices_rebootNow
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.recoverPasscode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action recoverPasscode
      description: Recover passcode
      operationId: deviceManagement.comanagedDevices_recoverPasscode
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.reenable':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action reenable
      operationId: deviceManagement.comanagedDevices_reenable
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.remoteLock':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action remoteLock
      description: Remote lock
      operationId: deviceManagement.comanagedDevices_remoteLock
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.removeDeviceFirmwareConfigurationInterfaceManagement':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action removeDeviceFirmwareConfigurationInterfaceManagement
      description: Remove device from Device Firmware Configuration Interface management
      operationId: deviceManagement.comanagedDevices_removeDeviceFirmwareConfigurationInterfaceManagement
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.reprovisionCloudPc':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action reprovisionCloudPc
      operationId: deviceManagement.comanagedDevices_reprovisionCloudPc
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.requestRemoteAssistance':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestRemoteAssistance
      description: Request remote assistance
      operationId: deviceManagement.comanagedDevices_requestRemoteAssistance
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.requestRemoteHelpSessionAccess':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestRemoteHelpSessionAccess
      description: Remote help - Request Remote help session access permission for an existing session
      operationId: deviceManagement.comanagedDevices_requestRemoteHelpSessionAccess
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionKey:
                  type: string
                  nullable: true
                pubSubConnectionId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.requestRemoteHelpSessionAccessResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.resetPasscode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action resetPasscode
      description: Reset passcode
      operationId: deviceManagement.comanagedDevices_resetPasscode
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.resizeCloudPc':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action resizeCloudPc
      operationId: deviceManagement.comanagedDevices_resizeCloudPc
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                targetServicePlanId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.restoreCloudPc':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action restoreCloudPc
      operationId: deviceManagement.comanagedDevices_restoreCloudPc
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cloudPcSnapshotId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.retire':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action retire
      description: Retire a device
      operationId: deviceManagement.comanagedDevices_retire
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.revokeAppleVppLicenses':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action revokeAppleVppLicenses
      description: Revoke all Apple Vpp licenses for a device
      operationId: deviceManagement.comanagedDevices_revokeAppleVppLicenses
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.rotateBitLockerKeys':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action rotateBitLockerKeys
      description: Rotate BitLockerKeys
      operationId: deviceManagement.comanagedDevices_rotateBitLockerKeys
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.rotateFileVaultKey':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action rotateFileVaultKey
      operationId: deviceManagement.comanagedDevices_rotateFileVaultKey
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.sendCustomNotificationToCompanyPortal':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action sendCustomNotificationToCompanyPortal
      operationId: deviceManagement.comanagedDevices_sendCustomNotificationToCompanyPortal
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                notificationTitle:
                  type: string
                notificationBody:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.setCloudPcReviewStatus':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setCloudPcReviewStatus
      operationId: deviceManagement.comanagedDevices_setCloudPcReviewStatus
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reviewStatus:
                  $ref: '#/components/schemas/microsoft.graph.cloudPcReviewStatus'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.setDeviceName':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setDeviceName
      description: Set device name of the device.
      operationId: deviceManagement.comanagedDevices_setDeviceName
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.shutDown':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action shutDown
      description: Shut down device
      operationId: deviceManagement.comanagedDevices_shutDown
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.syncDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncDevice
      operationId: deviceManagement.comanagedDevices_syncDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.triggerConfigurationManagerAction':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action triggerConfigurationManagerAction
      description: Trigger action on ConfigurationManager client
      operationId: deviceManagement.comanagedDevices_triggerConfigurationManagerAction
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                configurationManagerAction:
                  $ref: '#/components/schemas/microsoft.graph.configurationManagerAction'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.updateWindowsDeviceAccount':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action updateWindowsDeviceAccount
      operationId: deviceManagement.comanagedDevices_updateWindowsDeviceAccount
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateWindowsDeviceAccountActionParameter:
                  $ref: '#/components/schemas/microsoft.graph.updateWindowsDeviceAccountActionParameter'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.windowsDefenderScan':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action windowsDefenderScan
      operationId: deviceManagement.comanagedDevices_windowsDefenderScan
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                quickScan:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.windowsDefenderUpdateSignatures':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action windowsDefenderUpdateSignatures
      operationId: deviceManagement.comanagedDevices_windowsDefenderUpdateSignatures
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/comanagedDevices/{managedDevice-id}/microsoft.graph.wipe':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action wipe
      description: Wipe a device
      operationId: deviceManagement.comanagedDevices_wipe
      parameters:
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keepEnrollmentData:
                  type: boolean
                  default: false
                  nullable: true
                keepUserData:
                  type: boolean
                  default: false
                  nullable: true
                macOsUnlockCode:
                  type: string
                  nullable: true
                persistEsimDataPlan:
                  type: boolean
                  default: false
                  nullable: true
                useProtectedWipe:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/comanagedDevices/microsoft.graph.bulkReprovisionCloudPc:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action bulkReprovisionCloudPc
      operationId: deviceManagement.comanagedDevices_bulkReprovisionCloudPc
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                managedDeviceIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcBulkRemoteActionResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/comanagedDevices/microsoft.graph.bulkRestoreCloudPc:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action bulkRestoreCloudPc
      operationId: deviceManagement.comanagedDevices_bulkRestoreCloudPc
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                managedDeviceIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                restorePointDateTime:
                  pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
                  type: string
                  format: date-time
                  nullable: true
                timeRange:
                  $ref: '#/components/schemas/microsoft.graph.restoreTimeRange'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcBulkRemoteActionResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/comanagedDevices/microsoft.graph.bulkSetCloudPcReviewStatus:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action bulkSetCloudPcReviewStatus
      operationId: deviceManagement.comanagedDevices_bulkSetCloudPcReviewStatus
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                managedDeviceIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                reviewStatus:
                  $ref: '#/components/schemas/microsoft.graph.cloudPcReviewStatus'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcBulkRemoteActionResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/comanagedDevices/microsoft.graph.downloadAppDiagnostics:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action downloadAppDiagnostics
      operationId: deviceManagement.comanagedDevices_downloadAppDiagnostics
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  $ref: '#/components/schemas/microsoft.graph.powerliftDownloadRequest'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/comanagedDevices/microsoft.graph.executeAction:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action executeAction
      operationId: deviceManagement.comanagedDevices_executeAction
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                actionName:
                  $ref: '#/components/schemas/microsoft.graph.managedDeviceRemoteAction'
                keepEnrollmentData:
                  type: boolean
                  default: false
                  nullable: true
                keepUserData:
                  type: boolean
                  default: false
                  nullable: true
                persistEsimDataPlan:
                  type: boolean
                  default: false
                  nullable: true
                deviceIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                notificationTitle:
                  type: string
                  nullable: true
                notificationBody:
                  type: string
                  nullable: true
                deviceName:
                  type: string
                  nullable: true
                carrierUrl:
                  type: string
                  nullable: true
                deprovisionReason:
                  type: string
                  nullable: true
                organizationalUnitPath:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bulkManagedDeviceActionResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/comanagedDevices/microsoft.graph.moveDevicesToOU:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action moveDevicesToOU
      operationId: deviceManagement.comanagedDevices_moveDevicesToOU
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceIds:
                  type: array
                  items:
                    pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                    type: string
                    format: uuid
                organizationalUnitPath:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/compliancePolicies/{deviceManagementCompliancePolicy-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.compliancePolicies_assign
      parameters:
        - name: deviceManagementCompliancePolicy-id
          in: path
          description: 'key: id of deviceManagementCompliancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCompliancePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceManagementConfigurationPolicyAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagementCompliancePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementConfigurationPolicyAssignment'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/compliancePolicies/{deviceManagementCompliancePolicy-id}/microsoft.graph.setScheduledActions':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setScheduledActions
      operationId: deviceManagement.compliancePolicies_setScheduledActions
      parameters:
        - name: deviceManagementCompliancePolicy-id
          in: path
          description: 'key: id of deviceManagementCompliancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCompliancePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduledActions:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceManagementComplianceScheduledActionForRule'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagementCompliancePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementComplianceScheduledActionForRule'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/configurationPolicies/{deviceManagementConfigurationPolicy-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.configurationPolicies_assign
      parameters:
        - name: deviceManagementConfigurationPolicy-id
          in: path
          description: 'key: id of deviceManagementConfigurationPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementConfigurationPolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceManagementConfigurationPolicyAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagementConfigurationPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementConfigurationPolicyAssignment'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/configurationPolicies/{deviceManagementConfigurationPolicy-id}/microsoft.graph.createCopy':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createCopy
      operationId: deviceManagement.configurationPolicies_createCopy
      parameters:
        - name: deviceManagementConfigurationPolicy-id
          in: path
          description: 'key: id of deviceManagementConfigurationPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementConfigurationPolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementConfigurationPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/dataSharingConsents/{dataSharingConsent-id}/microsoft.graph.consentToDataSharing':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action consentToDataSharing
      operationId: deviceManagement.dataSharingConsents_consentToDataSharing
      parameters:
        - name: dataSharingConsent-id
          in: path
          description: 'key: id of dataSharingConsent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataSharingConsent
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataSharingConsent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles/{enrollmentProfile-id}/microsoft.graph.setDefaultProfile':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setDefaultProfile
      operationId: deviceManagement.depOnboardingSettings.enrollmentProfiles_setDefaultProfile
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: 'key: id of enrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles/{enrollmentProfile-id}/microsoft.graph.updateDeviceProfileAssignment':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action updateDeviceProfileAssignment
      operationId: deviceManagement.depOnboardingSettings.enrollmentProfiles_updateDeviceProfileAssignment
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
        - name: enrollmentProfile-id
          in: path
          description: 'key: id of enrollmentProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enrollmentProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/importedAppleDeviceIdentities/microsoft.graph.importAppleDeviceIdentityList':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action importAppleDeviceIdentityList
      operationId: deviceManagement.depOnboardingSettings.importedAppleDeviceIdentities_importAppleDeviceIdentityList
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                importedAppleDeviceIdentities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
                overwriteImportedDeviceIdentities:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of importedAppleDeviceIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentityResult'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.generateEncryptionPublicKey':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action generateEncryptionPublicKey
      description: Generate a public key to use to encrypt the Apple device enrollment program token
      operationId: deviceManagement.depOnboardingSettings_generateEncryptionPublicKey
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.shareForSchoolDataSyncService':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action shareForSchoolDataSyncService
      operationId: deviceManagement.depOnboardingSettings_shareGraphFPreSchoolDataSyncService
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.syncWithAppleDeviceEnrollmentProgram':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncWithAppleDeviceEnrollmentProgram
      description: Synchronizes between Apple Device Enrollment Program and Intune
      operationId: deviceManagement.depOnboardingSettings_syncGraphWPreAppleDeviceEnrollmentProgram
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.unshareForSchoolDataSyncService':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action unshareForSchoolDataSyncService
      operationId: deviceManagement.depOnboardingSettings_unshareGraphFPreSchoolDataSyncService
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/microsoft.graph.uploadDepToken':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action uploadDepToken
      description: Uploads a new Device Enrollment Program token
      operationId: deviceManagement.depOnboardingSettings_uploadDepToken
      parameters:
        - name: depOnboardingSetting-id
          in: path
          description: 'key: id of depOnboardingSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: depOnboardingSetting
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                appleId:
                  type: string
                  nullable: true
                depToken:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.deviceCompliancePolicies_assign
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceCompliancePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/microsoft.graph.scheduleActionsForRules':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action scheduleActionsForRules
      operationId: deviceManagement.deviceCompliancePolicies_scheduleActionsGraphFPreRules
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceComplianceScheduledActionForRules:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.hasPayloadLinks:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action hasPayloadLinks
      operationId: deviceManagement.deviceCompliancePolicies_hasPayloadLinks
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                payloadIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceCompliancePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.hasPayloadLinkResultItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.refreshDeviceComplianceReportSummarization:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action refreshDeviceComplianceReportSummarization
      operationId: deviceManagement.deviceCompliancePolicies_refreshDeviceComplianceReportSummarization
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.setScheduledRetireState:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setScheduledRetireState
      operationId: deviceManagement.deviceCompliancePolicies_setScheduledRetireState
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  $ref: '#/components/schemas/microsoft.graph.scheduledRetireState'
                managedDeviceIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceCompliancePolicies/microsoft.graph.validateComplianceScript:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action validateComplianceScript
      operationId: deviceManagement.deviceCompliancePolicies_validateComplianceScript
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceCompliancePolicyScript:
                  $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyScript'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceScriptValidationResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceComplianceScripts/{deviceComplianceScript-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.deviceComplianceScripts_assign
      parameters:
        - name: deviceComplianceScript-id
          in: path
          description: 'key: id of deviceComplianceScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScript
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceHealthScriptAssignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceHealthScriptAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceConfigurations/{deviceConfiguration-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.deviceConfigurations_assign
      parameters:
        - name: deviceConfiguration-id
          in: path
          description: 'key: id of deviceConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceConfiguration
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceConfigurationGroupAssignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceConfigurationGroupAssignment'
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceConfigurationAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceConfiguration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceConfigurationAssignment'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceConfigurations/{deviceConfiguration-id}/microsoft.graph.assignedAccessMultiModeProfiles':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assignedAccessMultiModeProfiles
      operationId: deviceManagement.deviceConfigurations_assignedAccessMultiModeProfiles
      parameters:
        - name: deviceConfiguration-id
          in: path
          description: 'key: id of deviceConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceConfiguration
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignedAccessMultiModeProfiles:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsAssignedAccessProfile'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceConfigurations/{deviceConfiguration-id}/microsoft.graph.windowsPrivacyAccessControls':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action windowsPrivacyAccessControls
      operationId: deviceManagement.deviceConfigurations_windowsPrivacyAccessControls
      parameters:
        - name: deviceConfiguration-id
          in: path
          description: 'key: id of deviceConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceConfiguration
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                windowsPrivacyAccessControls:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsPrivacyDataAccessControlItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceConfigurations/microsoft.graph.getTargetedUsersAndDevices:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getTargetedUsersAndDevices
      operationId: deviceManagement.deviceConfigurations_getTargetedUsersAndDevices
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceConfigurationIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceConfiguration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceConfigurationTargetedUserAndDevice'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceConfigurations/microsoft.graph.hasPayloadLinks:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action hasPayloadLinks
      operationId: deviceManagement.deviceConfigurations_hasPayloadLinks
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                payloadIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceConfiguration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.hasPayloadLinkResultItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceCustomAttributeShellScripts/{deviceCustomAttributeShellScript-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.deviceCustomAttributeShellScripts_assign
      parameters:
        - name: deviceCustomAttributeShellScript-id
          in: path
          description: 'key: id of deviceCustomAttributeShellScript'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceCustomAttributeShellScript
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceManagementScriptGroupAssignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceManagementScriptGroupAssignment'
                deviceManagementScriptAssignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceManagementScriptAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      operationId: deviceManagement.deviceEnrollmentConfigurations_assign
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enrollmentConfigurationAssignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/microsoft.graph.setPriority':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setPriority
      operationId: deviceManagement.deviceEnrollmentConfigurations_setPriority
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: 'key: id of deviceEnrollmentConfiguration'
[...]
