openapi: 3.0.1
info:
  title: Devices.CloudPrint
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /print:
    get:
      tags:
        - print.print
      summary: Get print
      operationId: print.print_GetPrint
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - settings
                - connectors
                - operations
                - printers
                - printerShares
                - reports
                - services
                - shares
                - taskDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - connectors
                - operations
                - printers
                - printerShares
                - reports
                - services
                - shares
                - taskDefinitions
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.print'
          links:
            connectors:
              operationId: print.ListConnectors
            operations:
              operationId: print.ListOperations
            printers:
              operationId: print.ListPrinters
            printerShares:
              operationId: print.ListPrinterShares
            reports:
              operationId: print.ListReports
            services:
              operationId: print.ListServices
            shares:
              operationId: print.ListShares
            taskDefinitions:
              operationId: print.ListTaskDefinitions
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.print
      summary: Update print
      operationId: print.print_UpdatePrint
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.print'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/connectors:
    get:
      tags:
        - print.printConnector
      summary: Get connectors from print
      operationId: print_ListConnectors
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appVersion
                - appVersion desc
                - deviceHealth
                - deviceHealth desc
                - displayName
                - displayName desc
                - fullyQualifiedDomainName
                - fullyQualifiedDomainName desc
                - location
                - location desc
                - name
                - name desc
                - operatingSystem
                - operatingSystem desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appVersion
                - deviceHealth
                - displayName
                - fullyQualifiedDomainName
                - location
                - name
                - operatingSystem
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printConnector'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printConnector
      summary: Create new navigation property to connectors for print
      operationId: print_CreateConnectors
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printConnector'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/connectors/{printConnector-id}':
    get:
      tags:
        - print.printConnector
      summary: Get connectors from print
      operationId: print_GetConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appVersion
                - deviceHealth
                - displayName
                - fullyQualifiedDomainName
                - location
                - name
                - operatingSystem
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printConnector
      summary: Update the navigation property connectors in print
      operationId: print_UpdateConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printConnector'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printConnector
      summary: Delete navigation property connectors for print
      operationId: print_DeleteConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/operations:
    get:
      tags:
        - print.printOperation
      summary: Get operations from print
      operationId: print_ListOperations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printOperation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printOperation
      summary: Create new navigation property to operations for print
      operationId: print_CreateOperations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/operations/{printOperation-id}':
    get:
      tags:
        - print.printOperation
      summary: Get operations from print
      operationId: print_GetOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printOperation
      summary: Update the navigation property operations in print
      operationId: print_UpdateOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printOperation
      summary: Delete navigation property operations for print
      operationId: print_DeleteOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/printers:
    get:
      tags:
        - print.printer
      summary: Get printers from print
      operationId: print_ListPrinters
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - capabilities
                - capabilities desc
                - defaults
                - defaults desc
                - displayName
                - displayName desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - location
                - location desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - name
                - name desc
                - status
                - status desc
                - acceptingJobs
                - acceptingJobs desc
                - hasPhysicalDevice
                - hasPhysicalDevice desc
                - isShared
                - isShared desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - acceptingJobs
                - hasPhysicalDevice
                - isShared
                - registeredDateTime
                - jobs
                - connectors
                - share
                - shares
                - taskTriggers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - connectors
                - share
                - shares
                - taskTriggers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printer
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printer'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to printers for print
      operationId: print_CreatePrinters
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}':
    get:
      tags:
        - print.printer
      summary: Get printers from print
      operationId: print_GetPrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - acceptingJobs
                - hasPhysicalDevice
                - isShared
                - registeredDateTime
                - jobs
                - connectors
                - share
                - shares
                - taskTriggers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - connectors
                - share
                - shares
                - taskTriggers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printer'
          links:
            jobs:
              operationId: print.Printers.ListJobs
              parameters:
                printer-id: $request.path.printer-id
            connectors:
              operationId: print.Printers.ListConnectors
              parameters:
                printer-id: $request.path.printer-id
            share:
              operationId: print.Printers.GetShare
              parameters:
                printer-id: $request.path.printer-id
            shares:
              operationId: print.Printers.ListShares
              parameters:
                printer-id: $request.path.printer-id
            taskTriggers:
              operationId: print.Printers.ListTaskTriggers
              parameters:
                printer-id: $request.path.printer-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printer
      summary: Update the navigation property printers in print
      operationId: print_UpdatePrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete navigation property printers for print
      operationId: print_DeletePrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/connectors':
    get:
      tags:
        - print.printer
      summary: Get connectors from print
      operationId: print.printers_ListConnectors
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appVersion
                - appVersion desc
                - deviceHealth
                - deviceHealth desc
                - displayName
                - displayName desc
                - fullyQualifiedDomainName
                - fullyQualifiedDomainName desc
                - location
                - location desc
                - name
                - name desc
                - operatingSystem
                - operatingSystem desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appVersion
                - deviceHealth
                - displayName
                - fullyQualifiedDomainName
                - location
                - name
                - operatingSystem
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printConnector'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/connectors/$ref':
    get:
      tags:
        - print.printer
      summary: Get ref of connectors from print
      operationId: print.printers_ListRefConnectors
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appVersion
                - appVersion desc
                - deviceHealth
                - deviceHealth desc
                - displayName
                - displayName desc
                - fullyQualifiedDomainName
                - fullyQualifiedDomainName desc
                - location
                - location desc
                - name
                - name desc
                - operatingSystem
                - operatingSystem desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of printConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property ref to connectors for print
      operationId: print.printers_CreateRefConnectors
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/microsoft.graph.getCapabilities()':
    get:
      tags:
        - print.Functions
      summary: Invoke function getCapabilities
      operationId: print.printers_getCapabilities
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerCapabilities'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/printers/{printer-id}/microsoft.graph.resetDefaults':
    post:
      tags:
        - print.Actions
      summary: Invoke action resetDefaults
      operationId: print.printers_resetDefaults
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/print/printers/{printer-id}/microsoft.graph.restoreFactoryDefaults':
    post:
      tags:
        - print.Actions
      summary: Invoke action restoreFactoryDefaults
      operationId: print.printers_restoreFactoryDefaults
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/print/printers/{printer-id}/share':
    get:
      tags:
        - print.printer
      summary: Get share from print
      operationId: print.printers_GetShare
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
          links:
            jobs:
              operationId: print.printers.Share.ListJobs
              parameters:
                printer-id: $request.path.printer-id
            allowedGroups:
              operationId: print.printers.Share.ListAllowedGroups
              parameters:
                printer-id: $request.path.printer-id
            allowedUsers:
              operationId: print.printers.Share.ListAllowedUsers
              parameters:
                printer-id: $request.path.printer-id
            printer:
              operationId: print.printers.Share.GetPrinter
              parameters:
                printer-id: $request.path.printer-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/share/$ref':
    get:
      tags:
        - print.printer
      summary: Get ref of share from print
      operationId: print.printers_GetRefShare
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            jobs:
              operationId: print.printers.Share.ListJobs
              parameters:
                printer-id: $request.path.printer-id
            allowedGroups:
              operationId: print.printers.Share.ListAllowedGroups
              parameters:
                printer-id: $request.path.printer-id
            allowedUsers:
              operationId: print.printers.Share.ListAllowedUsers
              parameters:
                printer-id: $request.path.printer-id
            printer:
              operationId: print.printers.Share.GetPrinter
              parameters:
                printer-id: $request.path.printer-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - print.printer
      summary: Update the ref of navigation property share in print
      operationId: print.printers_SetRefShare
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete ref of navigation property share for print
      operationId: print.printers_DeleteRefShare
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/shares':
    get:
      tags:
        - print.printer
      summary: Get shares from print
      operationId: print.printers_ListShares
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - capabilities
                - capabilities desc
                - defaults
                - defaults desc
                - displayName
                - displayName desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - location
                - location desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - name
                - name desc
                - status
                - status desc
                - allowAllUsers
                - allowAllUsers desc
                - createdDateTime
                - createdDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printerShare
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printerShare'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/shares/$ref':
    get:
      tags:
        - print.printer
      summary: Get ref of shares from print
      operationId: print.printers_ListRefShares
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - capabilities
                - capabilities desc
                - defaults
                - defaults desc
                - displayName
                - displayName desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - location
                - location desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - name
                - name desc
                - status
                - status desc
                - allowAllUsers
                - allowAllUsers desc
                - createdDateTime
                - createdDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of printerShare
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property ref to shares for print
      operationId: print.printers_CreateRefShares
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers':
    get:
      tags:
        - print.printer
      summary: Get taskTriggers from print
      operationId: print.printers_ListTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - event
                - event desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - event
                - definition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - definition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printTaskTrigger
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to taskTriggers for print
      operationId: print.printers_CreateTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers/{printTaskTrigger-id}':
    get:
      tags:
        - print.printer
      summary: Get taskTriggers from print
      operationId: print.printers_GetTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - event
                - definition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - definition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
          links:
            definition:
              operationId: print.printers.TaskTriggers.GetDefinition
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $request.path.printTaskTrigger-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printer
      summary: Update the navigation property taskTriggers in print
      operationId: print.printers_UpdateTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete navigation property taskTriggers for print
      operationId: print.printers_DeleteTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers/{printTaskTrigger-id}/definition':
    get:
      tags:
        - print.printer
      summary: Get definition from print
      operationId: print.printers.taskTriggers_GetDefinition
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - displayName
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskDefinition'
          links:
            tasks:
              operationId: print.printers.taskTriggers.Definition.ListTasks
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $request.path.printTaskTrigger-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers/{printTaskTrigger-id}/definition/$ref':
    get:
      tags:
        - print.printer
      summary: Get ref of definition from print
      operationId: print.printers.taskTriggers_GetRefDefinition
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            tasks:
              operationId: print.printers.taskTriggers.Definition.ListTasks
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $request.path.printTaskTrigger-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - print.printer
      summary: Update the ref of navigation property definition in print
      operationId: print.printers.taskTriggers_SetRefDefinition
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete ref of navigation property definition for print
      operationId: print.printers.taskTriggers_DeleteRefDefinition
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/printers/microsoft.graph.create:
    post:
      tags:
        - print.Actions
      summary: Invoke action create
      operationId: print.printers_create
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                manufacturer:
                  type: string
                model:
                  type: string
                physicalDeviceId:
                  type: string
                  nullable: true
                hasPhysicalDevice:
                  type: boolean
                  default: false
                  nullable: true
                certificateSigningRequest:
                  $ref: '#/components/schemas/microsoft.graph.printCertificateSigningRequest'
                connectorId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /print/printerShares:
    get:
      tags:
        - print.printerShare
      summary: Get printerShares from print
      operationId: print_ListPrinterShares
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - capabilities
                - capabilities desc
                - defaults
                - defaults desc
                - displayName
                - displayName desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - location
                - location desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - name
                - name desc
                - status
                - status desc
                - allowAllUsers
                - allowAllUsers desc
                - createdDateTime
                - createdDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printerShare
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printerShare'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property to printerShares for print
      operationId: print_CreatePrinterShares
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printerShare'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}':
    get:
      tags:
        - print.printerShare
      summary: Get printerShares from print
      operationId: print_GetPrinterShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - displayName
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
          links:
            jobs:
              operationId: print.PrinterShares.ListJobs
              parameters:
                printerShare-id: $request.path.printerShare-id
            allowedGroups:
              operationId: print.PrinterShares.ListAllowedGroups
              parameters:
                printerShare-id: $request.path.printerShare-id
            allowedUsers:
              operationId: print.PrinterShares.ListAllowedUsers
              parameters:
                printerShare-id: $request.path.printerShare-id
            printer:
              operationId: print.PrinterShares.GetPrinter
              parameters:
                printerShare-id: $request.path.printerShare-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printerShare
      summary: Update the navigation property printerShares in print
      operationId: print_UpdatePrinterShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printerShare'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printerShare
      summary: Delete navigation property printerShares for print
      operationId: print_DeletePrinterShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedGroups':
    get:
      tags:
        - print.printerShare
      summary: Get allowedGroups from print
      operationId: print.printerShares_ListAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - assignedLabels
                - assignedLabels desc
                - assignedLicenses
                - assignedLicenses desc
                - classification
                - classification desc
                - createdByAppId
                - createdByAppId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - expirationDateTime
                - expirationDateTime desc
                - groupTypes
                - groupTypes desc
                - hasMembersWithLicenseErrors
                - hasMembersWithLicenseErrors desc
                - infoCatalogs
                - infoCatalogs desc
                - isAssignableToRole
                - isAssignableToRole desc
                - licenseProcessingState
                - licenseProcessingState desc
                - mail
                - mail desc
                - mailEnabled
                - mailEnabled desc
                - mailNickname
                - mailNickname desc
                - mdmAppId
                - mdmAppId desc
                - membershipRule
                - membershipRule desc
                - membershipRuleProcessingState
                - membershipRuleProcessingState desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesNetBiosName
                - onPremisesNetBiosName desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - proxyAddresses
                - proxyAddresses desc
                - renewedDateTime
                - renewedDateTime desc
                - resourceBehaviorOptions
                - resourceBehaviorOptions desc
                - resourceProvisioningOptions
                - resourceProvisioningOptions desc
                - securityEnabled
                - securityEnabled desc
                - securityIdentifier
                - securityIdentifier desc
                - theme
                - theme desc
                - visibility
                - visibility desc
                - accessType
                - accessType desc
                - allowExternalSenders
                - allowExternalSenders desc
                - autoSubscribeNewMembers
                - autoSubscribeNewMembers desc
                - hideFromAddressLists
                - hideFromAddressLists desc
                - hideFromOutlookClients
                - hideFromOutlookClients desc
                - isFavorite
                - isFavorite desc
                - isSubscribedByMail
                - isSubscribedByMail desc
                - unseenConversationsCount
                - unseenConversationsCount desc
                - unseenCount
                - unseenCount desc
                - unseenMessagesCount
                - unseenMessagesCount desc
                - membershipRuleProcessingStatus
                - membershipRuleProcessingStatus desc
                - isArchived
                - isArchived desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedLabels
                - assignedLicenses
                - classification
                - createdByAppId
                - createdDateTime
                - description
                - displayName
                - expirationDateTime
                - groupTypes
                - hasMembersWithLicenseErrors
                - infoCatalogs
                - isAssignableToRole
                - licenseProcessingState
                - mail
                - mailEnabled
                - mailNickname
                - mdmAppId
                - membershipRule
                - membershipRuleProcessingState
                - onPremisesDomainName
                - onPremisesLastSyncDateTime
                - onPremisesNetBiosName
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - preferredDataLocation
                - preferredLanguage
                - proxyAddresses
                - renewedDateTime
                - resourceBehaviorOptions
                - resourceProvisioningOptions
                - securityEnabled
                - securityIdentifier
                - theme
                - visibility
                - accessType
                - allowExternalSenders
                - autoSubscribeNewMembers
                - hideFromAddressLists
                - hideFromOutlookClients
                - isFavorite
                - isSubscribedByMail
                - unseenConversationsCount
                - unseenCount
                - unseenMessagesCount
                - membershipRuleProcessingStatus
                - isArchived
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - photo
                - photos
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - team
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - photo
                - photos
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - team
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of group
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.group'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedGroups/$ref':
    get:
      tags:
        - print.printerShare
      summary: Get ref of allowedGroups from print
      operationId: print.printerShares_ListRefAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - assignedLabels
                - assignedLabels desc
                - assignedLicenses
                - assignedLicenses desc
                - classification
                - classification desc
                - createdByAppId
                - createdByAppId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - expirationDateTime
                - expirationDateTime desc
                - groupTypes
                - groupTypes desc
                - hasMembersWithLicenseErrors
                - hasMembersWithLicenseErrors desc
                - infoCatalogs
                - infoCatalogs desc
                - isAssignableToRole
                - isAssignableToRole desc
                - licenseProcessingState
                - licenseProcessingState desc
                - mail
                - mail desc
                - mailEnabled
                - mailEnabled desc
                - mailNickname
                - mailNickname desc
                - mdmAppId
                - mdmAppId desc
                - membershipRule
                - membershipRule desc
                - membershipRuleProcessingState
                - membershipRuleProcessingState desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesNetBiosName
                - onPremisesNetBiosName desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - proxyAddresses
                - proxyAddresses desc
                - renewedDateTime
                - renewedDateTime desc
                - resourceBehaviorOptions
                - resourceBehaviorOptions desc
                - resourceProvisioningOptions
                - resourceProvisioningOptions desc
                - securityEnabled
                - securityEnabled desc
                - securityIdentifier
                - securityIdentifier desc
                - theme
                - theme desc
                - visibility
                - visibility desc
                - accessType
                - accessType desc
                - allowExternalSenders
                - allowExternalSenders desc
                - autoSubscribeNewMembers
                - autoSubscribeNewMembers desc
                - hideFromAddressLists
                - hideFromAddressLists desc
                - hideFromOutlookClients
                - hideFromOutlookClients desc
                - isFavorite
                - isFavorite desc
                - isSubscribedByMail
                - isSubscribedByMail desc
                - unseenConversationsCount
                - unseenConversationsCount desc
                - unseenCount
                - unseenCount desc
                - unseenMessagesCount
                - unseenMessagesCount desc
                - membershipRuleProcessingStatus
                - membershipRuleProcessingStatus desc
                - isArchived
                - isArchived desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of group
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property ref to allowedGroups for print
      operationId: print.printerShares_CreateRefAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedUsers':
    get:
      tags:
        - print.printerShare
      summary: Get allowedUsers from print
      operationId: print.printerShares_ListAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - signInActivity
                - signInActivity desc
                - accountEnabled
                - accountEnabled desc
                - ageGroup
                - ageGroup desc
                - assignedLicenses
                - assignedLicenses desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - companyName
                - companyName desc
                - consentProvidedForMinor
                - consentProvidedForMinor desc
                - country
                - country desc
                - createdDateTime
                - createdDateTime desc
                - creationType
                - creationType desc
                - department
                - department desc
                - deviceKeys
                - deviceKeys desc
                - displayName
                - displayName desc
                - employeeHireDate
                - employeeHireDate desc
                - employeeId
                - employeeId desc
                - employeeOrgData
                - employeeOrgData desc
                - employeeType
                - employeeType desc
                - externalUserState
                - externalUserState desc
                - externalUserStateChangeDateTime
                - externalUserStateChangeDateTime desc
                - faxNumber
                - faxNumber desc
                - givenName
                - givenName desc
                - identities
                - identities desc
                - imAddresses
                - imAddresses desc
                - infoCatalogs
                - infoCatalogs desc
                - isResourceAccount
                - isResourceAccount desc
                - jobTitle
                - jobTitle desc
                - lastPasswordChangeDateTime
                - lastPasswordChangeDateTime desc
                - legalAgeGroupClassification
                - legalAgeGroupClassification desc
                - licenseAssignmentStates
                - licenseAssignmentStates desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - mobilePhone
                - mobilePhone desc
                - officeLocation
                - officeLocation desc
                - onPremisesDistinguishedName
                - onPremisesDistinguishedName desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesExtensionAttributes
                - onPremisesExtensionAttributes desc
                - onPremisesImmutableId
                - onPremisesImmutableId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - onPremisesUserPrincipalName
                - onPremisesUserPrincipalName desc
                - otherMails
                - otherMails desc
                - passwordPolicies
                - passwordPolicies desc
                - passwordProfile
                - passwordProfile desc
                - postalCode
                - postalCode desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - provisionedPlans
                - provisionedPlans desc
                - proxyAddresses
                - proxyAddresses desc
                - refreshTokensValidFromDateTime
                - refreshTokensValidFromDateTime desc
                - showInAddressList
                - showInAddressList desc
                - signInSessionsValidFromDateTime
                - signInSessionsValidFromDateTime desc
                - state
                - state desc
                - streetAddress
                - streetAddress desc
                - surname
                - surname desc
                - usageLocation
                - usageLocation desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
                - mailboxSettings
                - mailboxSettings desc
                - deviceEnrollmentLimit
                - deviceEnrollmentLimit desc
                - aboutMe
                - aboutMe desc
                - birthday
                - birthday desc
                - hireDate
                - hireDate desc
                - interests
                - interests desc
                - mySite
                - mySite desc
                - pastProjects
                - pastProjects desc
                - preferredName
                - preferredName desc
                - responsibilities
                - responsibilities desc
                - schools
                - schools desc
                - skills
                - skills desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - signInActivity
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - department
                - deviceKeys
                - displayName
                - employeeHireDate
                - employeeId
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - infoCatalogs
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - postalCode
                - preferredDataLocation
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - refreshTokensValidFromDateTime
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - analytics
                - informationProtection
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - joinedGroups
                - mailFolders
                - messages
                - outlook
                - people
                - photo
                - photos
                - drive
                - drives
                - followedSites
                - extensions
                - appConsentRequestsForApproval
                - approvals
                - pendingAccessReviewInstances
                - agreementAcceptances
                - deviceEnrollmentConfigurations
                - managedDevices
                - managedAppRegistrations
                - windowsInformationProtectionDeviceRegistrations
                - deviceManagementTroubleshootingEvents
                - mobileAppIntentAndStates
                - mobileAppTroubleshootingEvents
                - notifications
                - planner
                - insights
                - settings
                - onenote
                - profile
                - activities
                - devices
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - analytics
                - informationProtection
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - joinedGroups
                - mailFolders
                - messages
                - outlook
                - people
                - photo
                - photos
                - drive
                - drives
                - followedSites
                - extensions
                - appConsentRequestsForApproval
                - approvals
                - pendingAccessReviewInstances
                - agreementAcceptances
                - deviceEnrollmentConfigurations
                - managedDevices
                - managedAppRegistrations
                - windowsInformationProtectionDeviceRegistrations
                - deviceManagementTroubleshootingEvents
                - mobileAppIntentAndStates
                - mobileAppTroubleshootingEvents
                - notifications
                - planner
                - insights
                - settings
                - onenote
                - profile
                - activities
                - devices
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of user
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.user'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedUsers/$ref':
    get:
      tags:
        - print.printerShare
      summary: Get ref of allowedUsers from print
      operationId: print.printerShares_ListRefAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - signInActivity
                - signInActivity desc
                - accountEnabled
                - accountEnabled desc
                - ageGroup
                - ageGroup desc
                - assignedLicenses
                - assignedLicenses desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - companyName
                - companyName desc
                - consentProvidedForMinor
                - consentProvidedForMinor desc
                - country
                - country desc
                - createdDateTime
                - createdDateTime desc
                - creationType
                - creationType desc
                - department
                - department desc
                - deviceKeys
                - deviceKeys desc
                - displayName
                - displayName desc
                - employeeHireDate
                - employeeHireDate desc
                - employeeId
                - employeeId desc
                - employeeOrgData
                - employeeOrgData desc
                - employeeType
                - employeeType desc
                - externalUserState
                - externalUserState desc
                - externalUserStateChangeDateTime
                - externalUserStateChangeDateTime desc
                - faxNumber
                - faxNumber desc
                - givenName
                - givenName desc
                - identities
                - identities desc
                - imAddresses
                - imAddresses desc
                - infoCatalogs
                - infoCatalogs desc
                - isResourceAccount
                - isResourceAccount desc
                - jobTitle
                - jobTitle desc
                - lastPasswordChangeDateTime
                - lastPasswordChangeDateTime desc
                - legalAgeGroupClassification
                - legalAgeGroupClassification desc
                - licenseAssignmentStates
                - licenseAssignmentStates desc
                - mail
                - mail desc
                - mailNickname
[...]
