openapi: 3.0.1
info:
  title: DeviceManagement.Administration
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceManagement/applePushNotificationCertificate:
    get:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Get applePushNotificationCertificate from deviceManagement
      operationId: deviceManagement_GetApplePushNotificationCertificate
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appleIdentifier
                - certificate
                - certificateSerialNumber
                - certificateUploadFailureReason
                - certificateUploadStatus
                - expirationDateTime
                - lastModifiedDateTime
                - topicIdentifier
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Update the navigation property applePushNotificationCertificate in deviceManagement
      operationId: deviceManagement_UpdateApplePushNotificationCertificate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Delete navigation property applePushNotificationCertificate for deviceManagement
      operationId: deviceManagement_DeleteApplePushNotificationCertificate
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/auditEvents:
    get:
      tags:
        - deviceManagement.auditEvent
      summary: Get auditEvents from deviceManagement
      operationId: deviceManagement_ListAuditEvents
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activity
                - activity desc
                - activityDateTime
                - activityDateTime desc
                - activityOperationType
                - activityOperationType desc
                - activityResult
                - activityResult desc
                - activityType
                - activityType desc
                - actor
                - actor desc
                - category
                - category desc
                - componentName
                - componentName desc
                - correlationId
                - correlationId desc
                - displayName
                - displayName desc
                - resources
                - resources desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - activityDateTime
                - activityOperationType
                - activityResult
                - activityType
                - actor
                - category
                - componentName
                - correlationId
                - displayName
                - resources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of auditEvent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.auditEvent'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.auditEvent
      summary: Create new navigation property to auditEvents for deviceManagement
      operationId: deviceManagement_CreateAuditEvents
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditEvent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/auditEvents/{auditEvent-id}':
    get:
      tags:
        - deviceManagement.auditEvent
      summary: Get auditEvents from deviceManagement
      operationId: deviceManagement_GetAuditEvents
      parameters:
        - name: auditEvent-id
          in: path
          description: 'key: id of auditEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: auditEvent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - activityDateTime
                - activityOperationType
                - activityResult
                - activityType
                - actor
                - category
                - componentName
                - correlationId
                - displayName
                - resources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.auditEvent
      summary: Update the navigation property auditEvents in deviceManagement
      operationId: deviceManagement_UpdateAuditEvents
      parameters:
        - name: auditEvent-id
          in: path
          description: 'key: id of auditEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: auditEvent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditEvent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.auditEvent
      summary: Delete navigation property auditEvents for deviceManagement
      operationId: deviceManagement_DeleteAuditEvents
      parameters:
        - name: auditEvent-id
          in: path
          description: 'key: id of auditEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: auditEvent
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/cartToClassAssociations:
    get:
      tags:
        - deviceManagement.cartToClassAssociation
      summary: Get cartToClassAssociations from deviceManagement
      operationId: deviceManagement_ListCartToClassAssociations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - classroomIds
                - classroomIds desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - deviceCartIds
                - deviceCartIds desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classroomIds
                - createdDateTime
                - description
                - deviceCartIds
                - displayName
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of cartToClassAssociation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cartToClassAssociation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.cartToClassAssociation
      summary: Create new navigation property to cartToClassAssociations for deviceManagement
      operationId: deviceManagement_CreateCartToClassAssociations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cartToClassAssociation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cartToClassAssociation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/cartToClassAssociations/{cartToClassAssociation-id}':
    get:
      tags:
        - deviceManagement.cartToClassAssociation
      summary: Get cartToClassAssociations from deviceManagement
      operationId: deviceManagement_GetCartToClassAssociations
      parameters:
        - name: cartToClassAssociation-id
          in: path
          description: 'key: id of cartToClassAssociation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cartToClassAssociation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classroomIds
                - createdDateTime
                - description
                - deviceCartIds
                - displayName
                - lastModifiedDateTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cartToClassAssociation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.cartToClassAssociation
      summary: Update the navigation property cartToClassAssociations in deviceManagement
      operationId: deviceManagement_UpdateCartToClassAssociations
      parameters:
        - name: cartToClassAssociation-id
          in: path
          description: 'key: id of cartToClassAssociation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cartToClassAssociation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cartToClassAssociation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.cartToClassAssociation
      summary: Delete navigation property cartToClassAssociations for deviceManagement
      operationId: deviceManagement_DeleteCartToClassAssociations
      parameters:
        - name: cartToClassAssociation-id
          in: path
          description: 'key: id of cartToClassAssociation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cartToClassAssociation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/comanagementEligibleDevices:
    get:
      tags:
        - deviceManagement.comanagementEligibleDevice
      summary: Get comanagementEligibleDevices from deviceManagement
      operationId: deviceManagement_ListComanagementEligibleDevices
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientRegistrationStatus
                - clientRegistrationStatus desc
                - deviceName
                - deviceName desc
                - deviceType
                - deviceType desc
                - entitySource
                - entitySource desc
                - managementAgents
                - managementAgents desc
                - managementState
                - managementState desc
                - manufacturer
                - manufacturer desc
                - mdmStatus
                - mdmStatus desc
                - model
                - model desc
                - osDescription
                - osDescription desc
                - osVersion
                - osVersion desc
                - ownerType
                - ownerType desc
                - referenceId
                - referenceId desc
                - serialNumber
                - serialNumber desc
                - status
                - status desc
                - upn
                - upn desc
                - userEmail
                - userEmail desc
                - userId
                - userId desc
                - userName
                - userName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientRegistrationStatus
                - deviceName
                - deviceType
                - entitySource
                - managementAgents
                - managementState
                - manufacturer
                - mdmStatus
                - model
                - osDescription
                - osVersion
                - ownerType
                - referenceId
                - serialNumber
                - status
                - upn
                - userEmail
                - userId
                - userName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of comanagementEligibleDevice
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.comanagementEligibleDevice'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.comanagementEligibleDevice
      summary: Create new navigation property to comanagementEligibleDevices for deviceManagement
      operationId: deviceManagement_CreateComanagementEligibleDevices
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.comanagementEligibleDevice'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.comanagementEligibleDevice'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/comanagementEligibleDevices/{comanagementEligibleDevice-id}':
    get:
      tags:
        - deviceManagement.comanagementEligibleDevice
      summary: Get comanagementEligibleDevices from deviceManagement
      operationId: deviceManagement_GetComanagementEligibleDevices
      parameters:
        - name: comanagementEligibleDevice-id
          in: path
          description: 'key: id of comanagementEligibleDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: comanagementEligibleDevice
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientRegistrationStatus
                - deviceName
                - deviceType
                - entitySource
                - managementAgents
                - managementState
                - manufacturer
                - mdmStatus
                - model
                - osDescription
                - osVersion
                - ownerType
                - referenceId
                - serialNumber
                - status
                - upn
                - userEmail
                - userId
                - userName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.comanagementEligibleDevice'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.comanagementEligibleDevice
      summary: Update the navigation property comanagementEligibleDevices in deviceManagement
      operationId: deviceManagement_UpdateComanagementEligibleDevices
      parameters:
        - name: comanagementEligibleDevice-id
          in: path
          description: 'key: id of comanagementEligibleDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: comanagementEligibleDevice
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.comanagementEligibleDevice'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.comanagementEligibleDevice
      summary: Delete navigation property comanagementEligibleDevices for deviceManagement
      operationId: deviceManagement_DeleteComanagementEligibleDevices
      parameters:
        - name: comanagementEligibleDevice-id
          in: path
          description: 'key: id of comanagementEligibleDevice'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: comanagementEligibleDevice
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/complianceManagementPartners:
    get:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Get complianceManagementPartners from deviceManagement
      operationId: deviceManagement_ListComplianceManagementPartners
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - androidEnrollmentAssignments
                - androidEnrollmentAssignments desc
                - androidOnboarded
                - androidOnboarded desc
                - displayName
                - displayName desc
                - iosEnrollmentAssignments
                - iosEnrollmentAssignments desc
                - iosOnboarded
                - iosOnboarded desc
                - lastHeartbeatDateTime
                - lastHeartbeatDateTime desc
                - macOsEnrollmentAssignments
                - macOsEnrollmentAssignments desc
                - macOsOnboarded
                - macOsOnboarded desc
                - partnerState
                - partnerState desc
                - windowsEnrollmentAssignments
                - windowsEnrollmentAssignments desc
                - windowsOnboarded
                - windowsOnboarded desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidEnrollmentAssignments
                - androidOnboarded
                - displayName
                - iosEnrollmentAssignments
                - iosOnboarded
                - lastHeartbeatDateTime
                - macOsEnrollmentAssignments
                - macOsOnboarded
                - partnerState
                - windowsEnrollmentAssignments
                - windowsOnboarded
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of complianceManagementPartner
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Create new navigation property to complianceManagementPartners for deviceManagement
      operationId: deviceManagement_CreateComplianceManagementPartners
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/complianceManagementPartners/{complianceManagementPartner-id}':
    get:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Get complianceManagementPartners from deviceManagement
      operationId: deviceManagement_GetComplianceManagementPartners
      parameters:
        - name: complianceManagementPartner-id
          in: path
          description: 'key: id of complianceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: complianceManagementPartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidEnrollmentAssignments
                - androidOnboarded
                - displayName
                - iosEnrollmentAssignments
                - iosOnboarded
                - lastHeartbeatDateTime
                - macOsEnrollmentAssignments
                - macOsOnboarded
                - partnerState
                - windowsEnrollmentAssignments
                - windowsOnboarded
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Update the navigation property complianceManagementPartners in deviceManagement
      operationId: deviceManagement_UpdateComplianceManagementPartners
      parameters:
        - name: complianceManagementPartner-id
          in: path
          description: 'key: id of complianceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: complianceManagementPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Delete navigation property complianceManagementPartners for deviceManagement
      operationId: deviceManagement_DeleteComplianceManagementPartners
      parameters:
        - name: complianceManagementPartner-id
          in: path
          description: 'key: id of complianceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: complianceManagementPartner
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceConfigurationRestrictedAppsViolations:
    get:
      tags:
        - deviceManagement.restrictedAppsViolation
      summary: Get deviceConfigurationRestrictedAppsViolations from deviceManagement
      operationId: deviceManagement_ListDeviceConfigurationRestrictedAppsViolations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deviceConfigurationId
                - deviceConfigurationId desc
                - deviceConfigurationName
                - deviceConfigurationName desc
                - deviceName
                - deviceName desc
                - managedDeviceId
                - managedDeviceId desc
                - platformType
                - platformType desc
                - restrictedApps
                - restrictedApps desc
                - restrictedAppsState
                - restrictedAppsState desc
                - userId
                - userId desc
                - userName
                - userName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deviceConfigurationId
                - deviceConfigurationName
                - deviceName
                - managedDeviceId
                - platformType
                - restrictedApps
                - restrictedAppsState
                - userId
                - userName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of restrictedAppsViolation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.restrictedAppsViolation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.restrictedAppsViolation
      summary: Create new navigation property to deviceConfigurationRestrictedAppsViolations for deviceManagement
      operationId: deviceManagement_CreateDeviceConfigurationRestrictedAppsViolations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedAppsViolation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedAppsViolation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceConfigurationRestrictedAppsViolations/{restrictedAppsViolation-id}':
    get:
      tags:
        - deviceManagement.restrictedAppsViolation
      summary: Get deviceConfigurationRestrictedAppsViolations from deviceManagement
      operationId: deviceManagement_GetDeviceConfigurationRestrictedAppsViolations
      parameters:
        - name: restrictedAppsViolation-id
          in: path
          description: 'key: id of restrictedAppsViolation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedAppsViolation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deviceConfigurationId
                - deviceConfigurationName
                - deviceName
                - managedDeviceId
                - platformType
                - restrictedApps
                - restrictedAppsState
                - userId
                - userName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedAppsViolation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.restrictedAppsViolation
      summary: Update the navigation property deviceConfigurationRestrictedAppsViolations in deviceManagement
      operationId: deviceManagement_UpdateDeviceConfigurationRestrictedAppsViolations
      parameters:
        - name: restrictedAppsViolation-id
          in: path
          description: 'key: id of restrictedAppsViolation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedAppsViolation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedAppsViolation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.restrictedAppsViolation
      summary: Delete navigation property deviceConfigurationRestrictedAppsViolations for deviceManagement
      operationId: deviceManagement_DeleteDeviceConfigurationRestrictedAppsViolations
      parameters:
        - name: restrictedAppsViolation-id
          in: path
          description: 'key: id of restrictedAppsViolation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedAppsViolation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceConfigurationsAllManagedDeviceCertificateStates:
    get:
      tags:
        - deviceManagement.managedAllDeviceCertificateState
      summary: Get deviceConfigurationsAllManagedDeviceCertificateStates from deviceManagement
      operationId: deviceManagement_ListDeviceConfigurationsAllManagedDeviceCertificateStates
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - certificateExpirationDateTime
                - certificateExpirationDateTime desc
                - certificateExtendedKeyUsages
                - certificateExtendedKeyUsages desc
                - certificateIssuanceDateTime
                - certificateIssuanceDateTime desc
                - certificateIssuerName
                - certificateIssuerName desc
                - certificateKeyUsages
                - certificateKeyUsages desc
                - certificateRevokeStatus
                - certificateRevokeStatus desc
                - certificateRevokeStatusLastChangeDateTime
                - certificateRevokeStatusLastChangeDateTime desc
                - certificateSerialNumber
                - certificateSerialNumber desc
                - certificateSubjectName
                - certificateSubjectName desc
                - certificateThumbprint
                - certificateThumbprint desc
                - managedDeviceDisplayName
                - managedDeviceDisplayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - certificateExpirationDateTime
                - certificateExtendedKeyUsages
                - certificateIssuanceDateTime
                - certificateIssuerName
                - certificateKeyUsages
                - certificateRevokeStatus
                - certificateRevokeStatusLastChangeDateTime
                - certificateSerialNumber
                - certificateSubjectName
                - certificateThumbprint
                - managedDeviceDisplayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of managedAllDeviceCertificateState
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.managedAllDeviceCertificateState'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.managedAllDeviceCertificateState
      summary: Create new navigation property to deviceConfigurationsAllManagedDeviceCertificateStates for deviceManagement
      operationId: deviceManagement_CreateDeviceConfigurationsAllManagedDeviceCertificateStates
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAllDeviceCertificateState'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAllDeviceCertificateState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceConfigurationsAllManagedDeviceCertificateStates/{managedAllDeviceCertificateState-id}':
    get:
      tags:
        - deviceManagement.managedAllDeviceCertificateState
      summary: Get deviceConfigurationsAllManagedDeviceCertificateStates from deviceManagement
      operationId: deviceManagement_GetDeviceConfigurationsAllManagedDeviceCertificateStates
      parameters:
        - name: managedAllDeviceCertificateState-id
          in: path
          description: 'key: id of managedAllDeviceCertificateState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAllDeviceCertificateState
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - certificateExpirationDateTime
                - certificateExtendedKeyUsages
                - certificateIssuanceDateTime
                - certificateIssuerName
                - certificateKeyUsages
                - certificateRevokeStatus
                - certificateRevokeStatusLastChangeDateTime
                - certificateSerialNumber
                - certificateSubjectName
                - certificateThumbprint
                - managedDeviceDisplayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAllDeviceCertificateState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.managedAllDeviceCertificateState
      summary: Update the navigation property deviceConfigurationsAllManagedDeviceCertificateStates in deviceManagement
      operationId: deviceManagement_UpdateDeviceConfigurationsAllManagedDeviceCertificateStates
      parameters:
        - name: managedAllDeviceCertificateState-id
          in: path
          description: 'key: id of managedAllDeviceCertificateState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAllDeviceCertificateState
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAllDeviceCertificateState'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.managedAllDeviceCertificateState
      summary: Delete navigation property deviceConfigurationsAllManagedDeviceCertificateStates for deviceManagement
      operationId: deviceManagement_DeleteDeviceConfigurationsAllManagedDeviceCertificateStates
      parameters:
        - name: managedAllDeviceCertificateState-id
          in: path
          description: 'key: id of managedAllDeviceCertificateState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedAllDeviceCertificateState
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceManagementPartners:
    get:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Get deviceManagementPartners from deviceManagement
      operationId: deviceManagement_ListDeviceManagementPartners
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - groupsRequiringPartnerEnrollment
                - groupsRequiringPartnerEnrollment desc
                - isConfigured
                - isConfigured desc
                - lastHeartbeatDateTime
                - lastHeartbeatDateTime desc
                - partnerAppType
                - partnerAppType desc
                - partnerState
                - partnerState desc
                - singleTenantAppId
                - singleTenantAppId desc
                - whenPartnerDevicesWillBeMarkedAsNonCompliant
                - whenPartnerDevicesWillBeMarkedAsNonCompliant desc
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime desc
                - whenPartnerDevicesWillBeRemoved
                - whenPartnerDevicesWillBeRemoved desc
                - whenPartnerDevicesWillBeRemovedDateTime
                - whenPartnerDevicesWillBeRemovedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - groupsRequiringPartnerEnrollment
                - isConfigured
                - lastHeartbeatDateTime
                - partnerAppType
                - partnerState
                - singleTenantAppId
                - whenPartnerDevicesWillBeMarkedAsNonCompliant
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime
                - whenPartnerDevicesWillBeRemoved
                - whenPartnerDevicesWillBeRemovedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceManagementPartner
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Create new navigation property to deviceManagementPartners for deviceManagement
      operationId: deviceManagement_CreateDeviceManagementPartners
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceManagementPartners/{deviceManagementPartner-id}':
    get:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Get deviceManagementPartners from deviceManagement
      operationId: deviceManagement_GetDeviceManagementPartners
      parameters:
        - name: deviceManagementPartner-id
          in: path
          description: 'key: id of deviceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementPartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - groupsRequiringPartnerEnrollment
                - isConfigured
                - lastHeartbeatDateTime
                - partnerAppType
                - partnerState
                - singleTenantAppId
                - whenPartnerDevicesWillBeMarkedAsNonCompliant
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime
                - whenPartnerDevicesWillBeRemoved
                - whenPartnerDevicesWillBeRemovedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Update the navigation property deviceManagementPartners in deviceManagement
      operationId: deviceManagement_UpdateDeviceManagementPartners
      parameters:
        - name: deviceManagementPartner-id
          in: path
          description: 'key: id of deviceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Delete navigation property deviceManagementPartners for deviceManagement
      operationId: deviceManagement_DeleteDeviceManagementPartners
      parameters:
        - name: deviceManagementPartner-id
          in: path
          description: 'key: id of deviceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementPartner
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/domainJoinConnectors:
    get:
      tags:
        - deviceManagement.deviceManagementDomainJoinConnector
      summary: Get domainJoinConnectors from deviceManagement
      operationId: deviceManagement_ListDomainJoinConnectors
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - lastConnectionDateTime
                - lastConnectionDateTime desc
                - state
                - state desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - lastConnectionDateTime
                - state
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceManagementDomainJoinConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementDomainJoinConnector'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementDomainJoinConnector
      summary: Create new navigation property to domainJoinConnectors for deviceManagement
      operationId: deviceManagement_CreateDomainJoinConnectors
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementDomainJoinConnector'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementDomainJoinConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/domainJoinConnectors/{deviceManagementDomainJoinConnector-id}':
    get:
      tags:
        - deviceManagement.deviceManagementDomainJoinConnector
      summary: Get domainJoinConnectors from deviceManagement
      operationId: deviceManagement_GetDomainJoinConnectors
      parameters:
        - name: deviceManagementDomainJoinConnector-id
          in: path
          description: 'key: id of deviceManagementDomainJoinConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementDomainJoinConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - lastConnectionDateTime
                - state
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementDomainJoinConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementDomainJoinConnector
      summary: Update the navigation property domainJoinConnectors in deviceManagement
      operationId: deviceManagement_UpdateDomainJoinConnectors
      parameters:
        - name: deviceManagementDomainJoinConnector-id
          in: path
          description: 'key: id of deviceManagementDomainJoinConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementDomainJoinConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementDomainJoinConnector'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementDomainJoinConnector
      summary: Delete navigation property domainJoinConnectors for deviceManagement
      operationId: deviceManagement_DeleteDomainJoinConnectors
      parameters:
        - name: deviceManagementDomainJoinConnector-id
          in: path
          description: 'key: id of deviceManagementDomainJoinConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementDomainJoinConnector
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/exchangeConnectors:
    get:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Get exchangeConnectors from deviceManagement
      operationId: deviceManagement_ListExchangeConnectors
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - connectorServerName
                - connectorServerName desc
                - exchangeAlias
                - exchangeAlias desc
                - exchangeConnectorType
                - exchangeConnectorType desc
                - exchangeOrganization
                - exchangeOrganization desc
                - lastSyncDateTime
                - lastSyncDateTime desc
                - primarySmtpAddress
                - primarySmtpAddress desc
                - serverName
                - serverName desc
                - status
                - status desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - connectorServerName
                - exchangeAlias
                - exchangeConnectorType
                - exchangeOrganization
                - lastSyncDateTime
                - primarySmtpAddress
                - serverName
                - status
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceManagementExchangeConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Create new navigation property to exchangeConnectors for deviceManagement
      operationId: deviceManagement_CreateExchangeConnectors
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/exchangeConnectors/{deviceManagementExchangeConnector-id}':
    get:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Get exchangeConnectors from deviceManagement
      operationId: deviceManagement_GetExchangeConnectors
      parameters:
        - name: deviceManagementExchangeConnector-id
          in: path
          description: 'key: id of deviceManagementExchangeConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - connectorServerName
                - exchangeAlias
                - exchangeConnectorType
                - exchangeOrganization
                - lastSyncDateTime
                - primarySmtpAddress
                - serverName
                - status
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Update the navigation property exchangeConnectors in deviceManagement
      operationId: deviceManagement_UpdateExchangeConnectors
      parameters:
        - name: deviceManagementExchangeConnector-id
          in: path
          description: 'key: id of deviceManagementExchangeConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Delete navigation property exchangeConnectors for deviceManagement
      operationId: deviceManagement_DeleteExchangeConnectors
      parameters:
        - name: deviceManagementExchangeConnector-id
          in: path
          description: 'key: id of deviceManagementExchangeConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeConnector
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/exchangeOnPremisesPolicies:
    get:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Get exchangeOnPremisesPolicies from deviceManagement
      operationId: deviceManagement_ListExchangeOnPremisesPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessRules
                - accessRules desc
                - defaultAccessLevel
                - defaultAccessLevel desc
                - knownDeviceClasses
                - knownDeviceClasses desc
                - notificationContent
                - notificationContent desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRules
                - defaultAccessLevel
                - knownDeviceClasses
                - notificationContent
                - conditionalAccessSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - conditionalAccessSettings
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceManagementExchangeOnPremisesPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeOnPremisesPolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Create new navigation property to exchangeOnPremisesPolicies for deviceManagement
      operationId: deviceManagement_CreateExchangeOnPremisesPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeOnPremisesPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeOnPremisesPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/exchangeOnPremisesPolicies/{deviceManagementExchangeOnPremisesPolicy-id}':
    get:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Get exchangeOnPremisesPolicies from deviceManagement
      operationId: deviceManagement_GetExchangeOnPremisesPolicies
      parameters:
        - name: deviceManagementExchangeOnPremisesPolicy-id
          in: path
          description: 'key: id of deviceManagementExchangeOnPremisesPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeOnPremisesPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRules
                - defaultAccessLevel
                - knownDeviceClasses
                - notificationContent
                - conditionalAccessSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - conditionalAccessSettings
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeOnPremisesPolicy'
          links:
            conditionalAccessSettings:
              operationId: deviceManagement.ExchangeOnPremisesPolicies.GetConditionalAccessSettings
              parameters:
                deviceManagementExchangeOnPremisesPolicy-id: $request.path.deviceManagementExchangeOnPremisesPolicy-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Update the navigation property exchangeOnPremisesPolicies in deviceManagement
      operationId: deviceManagement_UpdateExchangeOnPremisesPolicies
      parameters:
        - name: deviceManagementExchangeOnPremisesPolicy-id
          in: path
          description: 'key: id of deviceManagementExchangeOnPremisesPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeOnPremisesPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeOnPremisesPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Delete navigation property exchangeOnPremisesPolicies for deviceManagement
      operationId: deviceManagement_DeleteExchangeOnPremisesPolicies
      parameters:
        - name: deviceManagementExchangeOnPremisesPolicy-id
          in: path
          description: 'key: id of deviceManagementExchangeOnPremisesPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeOnPremisesPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/exchangeOnPremisesPolicies/{deviceManagementExchangeOnPremisesPolicy-id}/conditionalAccessSettings':
    get:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Get conditionalAccessSettings from deviceManagement
      operationId: deviceManagement.exchangeOnPremisesPolicies_GetConditionalAccessSettings
      parameters:
        - name: deviceManagementExchangeOnPremisesPolicy-id
          in: path
          description: 'key: id of deviceManagementExchangeOnPremisesPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeOnPremisesPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - enabled
                - excludedGroups
                - includedGroups
                - overrideDefaultRule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Update the navigation property conditionalAccessSettings in deviceManagement
      operationId: deviceManagement.exchangeOnPremisesPolicies_UpdateConditionalAccessSettings
      parameters:
        - name: deviceManagementExchangeOnPremisesPolicy-id
          in: path
          description: 'key: id of deviceManagementExchangeOnPremisesPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeOnPremisesPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Delete navigation property conditionalAccessSettings for deviceManagement
      operationId: deviceManagement.exchangeOnPremisesPolicies_DeleteConditionalAccessSettings
      parameters:
        - name: deviceManagementExchangeOnPremisesPolicy-id
          in: path
          description: 'key: id of deviceManagementExchangeOnPremisesPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeOnPremisesPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/exchangeOnPremisesPolicy:
    get:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Get exchangeOnPremisesPolicy from deviceManagement
      operationId: deviceManagement_GetExchangeOnPremisesPolicy
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRules
                - defaultAccessLevel
                - knownDeviceClasses
                - notificationContent
                - conditionalAccessSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - conditionalAccessSettings
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeOnPremisesPolicy'
          links:
            conditionalAccessSettings:
              operationId: deviceManagement.ExchangeOnPremisesPolicy.GetConditionalAccessSettings
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Update the navigation property exchangeOnPremisesPolicy in deviceManagement
      operationId: deviceManagement_UpdateExchangeOnPremisesPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeOnPremisesPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Delete navigation property exchangeOnPremisesPolicy for deviceManagement
      operationId: deviceManagement_DeleteExchangeOnPremisesPolicy
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/exchangeOnPremisesPolicy/conditionalAccessSettings:
    get:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Get conditionalAccessSettings from deviceManagement
      operationId: deviceManagement.exchangeOnPremisesPolicy_GetConditionalAccessSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - enabled
                - excludedGroups
                - includedGroups
                - overrideDefaultRule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Update the navigation property conditionalAccessSettings in deviceManagement
      operationId: deviceManagement.exchangeOnPremisesPolicy_UpdateConditionalAccessSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementExchangeOnPremisesPolicy
      summary: Delete navigation property conditionalAccessSettings for deviceManagement
      operationId: deviceManagement.exchangeOnPremisesPolicy_DeleteConditionalAccessSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/groupPolicyCategories:
    get:
      tags:
        - deviceManagement.groupPolicyCategory
      summary: Get groupPolicyCategories from deviceManagement
      operationId: deviceManagement_ListGroupPolicyCategories
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - isRoot
                - isRoot desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isRoot
                - lastModifiedDateTime
                - children
                - definitionFile
                - definitions
                - parent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - children
                - definitionFile
                - definitions
                - parent
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of groupPolicyCategory
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.groupPolicyCategory'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.groupPolicyCategory
      summary: Create new navigation property to groupPolicyCategories for deviceManagement
      operationId: deviceManagement_CreateGroupPolicyCategories
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupPolicyCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupPolicyCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/groupPolicyCategories/{groupPolicyCategory-id}':
    get:
      tags:
        - deviceManagement.groupPolicyCategory
      summary: Get groupPolicyCategories from deviceManagement
      operationId: deviceManagement_GetGroupPolicyCategories
      parameters:
        - name: groupPolicyCategory-id
          in: path
          description: 'key: id of groupPolicyCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupPolicyCategory
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isRoot
                - lastModifiedDateTime
                - children
                - definitionFile
                - definitions
                - parent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - children
                - definitionFile
                - definitions
                - parent
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupPolicyCategory'
          links:
            children:
              operationId: deviceManagement.GroupPolicyCategories.ListChildren
              parameters:
                groupPolicyCategory-id: $request.path.groupPolicyCategory-id
            definitionFile:
              operationId: deviceManagement.GroupPolicyCategories.GetDefinitionFile
              parameters:
                groupPolicyCategory-id: $request.path.groupPolicyCategory-id
            definitions:
              operationId: deviceManagement.GroupPolicyCategories.ListDefinitions
              parameters:
                groupPolicyCategory-id: $request.path.groupPolicyCategory-id
            parent:
              operationId: deviceManagement.GroupPolicyCategories.GetParent
              parameters:
                groupPolicyCategory-id: $request.path.groupPolicyCategory-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.groupPolicyCategory
      summary: Update the navigation property groupPolicyCategories in deviceManagement
      operationId: deviceManagement_UpdateGroupPolicyCategories
      parameters:
        - name: groupPolicyCategory-id
          in: path
          description: 'key: id of groupPolicyCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupPolicyCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupPolicyCategory'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.groupPolicyCategory
      summary: Delete navigation property groupPolicyCategories for deviceManagement
      operationId: deviceManagement_DeleteGroupPolicyCategories
      parameters:
        - name: groupPolicyCategory-id
          in: path
          description: 'key: id of groupPolicyCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupPolicyCategory
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/groupPolicyCategories/{groupPolicyCategory-id}/children':
    get:
      tags:
        - deviceManagement.groupPolicyCategory
      summary: Get children from deviceManagement
      operationId: deviceManagement.groupPolicyCategories_ListChildren
      parameters:
        - name: groupPolicyCategory-id
          in: path
          description: 'key: id of groupPolicyCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupPolicyCategory
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - isRoot
                - isRoot desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isRoot
                - lastModifiedDateTime
                - children
                - definitionFile
                - definitions
                - parent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
[...]
