openapi: 3.0.1
info:
  title: Devices.ServiceAnnouncement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/microsoft.graph.publish':
    post:
      tags:
        - admin.Actions
      summary: Invoke action publish
      description: Publish the specified browserSiteList for devices to download.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-publish?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_publish
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                revision:
                  type: string
                sites:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.browserSite'
                sharedCookies:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get serviceAnnouncement from admin
      description: A container for service communications resources. Read-only.
      operationId: admin_GetServiceAnnouncement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - healthOverviews
                - issues
                - messages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - healthOverviews
                - issues
                - messages
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceAnnouncement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property serviceAnnouncement in admin
      operationId: admin_UpdateServiceAnnouncement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceAnnouncement'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceAnnouncement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property serviceAnnouncement for admin
      operationId: admin_DeleteServiceAnnouncement
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/serviceAnnouncement/healthOverviews:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: List healthOverviews
      description: Retrieve the serviceHealth resources from the healthOverviews navigation property. This operation provides the health report of all subscribed services for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceannouncement-list-healthoverviews?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement_ListHealthOverview
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - service
                - service desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - service
                - status
                - issues
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - issues
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceHealthCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.serviceAnnouncement
      summary: Create new navigation property to healthOverviews for admin
      operationId: admin.serviceAnnouncement_CreateHealthOverview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealth'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealth'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/healthOverviews/{serviceHealth-id}':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get serviceHealth
      description: Retrieve the properties and relationships of a serviceHealth object. This operation provides the health information of a specified service for a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/servicehealth-get?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement_GetHealthOverview
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - service
                - status
                - issues
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - issues
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealth'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property healthOverviews in admin
      operationId: admin.serviceAnnouncement_UpdateHealthOverview
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealth'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealth'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property healthOverviews for admin
      operationId: admin.serviceAnnouncement_DeleteHealthOverview
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/healthOverviews/{serviceHealth-id}/issues':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get issues from admin
      description: 'A collection of issues that happened on the service, with detailed information for each issue.'
      operationId: admin.serviceAnnouncement.healthOverview_ListIssue
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - details
                - details desc
                - endDateTime
                - endDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
                - classification
                - classification desc
                - feature
                - feature desc
                - featureGroup
                - featureGroup desc
                - impactDescription
                - impactDescription desc
                - isResolved
                - isResolved desc
                - origin
                - origin desc
                - posts
                - posts desc
                - service
                - service desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - classification
                - feature
                - featureGroup
                - impactDescription
                - isResolved
                - origin
                - posts
                - service
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceHealthIssueCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.serviceAnnouncement
      summary: Create new navigation property to issues for admin
      operationId: admin.serviceAnnouncement.healthOverview_CreateIssue
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/healthOverviews/{serviceHealth-id}/issues/{serviceHealthIssue-id}':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get issues from admin
      description: 'A collection of issues that happened on the service, with detailed information for each issue.'
      operationId: admin.serviceAnnouncement.healthOverview_GetIssue
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: serviceHealthIssue-id
          in: path
          description: The unique identifier of serviceHealthIssue
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - classification
                - feature
                - featureGroup
                - impactDescription
                - isResolved
                - origin
                - posts
                - service
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property issues in admin
      operationId: admin.serviceAnnouncement.healthOverview_UpdateIssue
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: serviceHealthIssue-id
          in: path
          description: The unique identifier of serviceHealthIssue
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property issues for admin
      operationId: admin.serviceAnnouncement.healthOverview_DeleteIssue
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: serviceHealthIssue-id
          in: path
          description: The unique identifier of serviceHealthIssue
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/healthOverviews/{serviceHealth-id}/issues/{serviceHealthIssue-id}/microsoft.graph.incidentReport()':
    get:
      tags:
        - admin.Functions
      summary: Invoke function incidentReport
      operationId: admin.serviceAnnouncement.healthOverview.issue_incidentReport
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: serviceHealthIssue-id
          in: path
          description: The unique identifier of serviceHealthIssue
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/admin/serviceAnnouncement/healthOverviews/{serviceHealth-id}/issues/$count':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get the number of the resource
      operationId: admin.serviceAnnouncement.healthOverview.issue_GetCount
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/serviceAnnouncement/healthOverviews/$count:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get the number of the resource
      operationId: admin.serviceAnnouncement.healthOverview_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/serviceAnnouncement/issues:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: List issues
      description: Retrieve serviceHealthIssue resources from the issues navigation property. This operation retrieves information about all service health issues that exist for the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceannouncement-list-issues?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement_ListIssue
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - details
                - details desc
                - endDateTime
                - endDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
                - classification
                - classification desc
                - feature
                - feature desc
                - featureGroup
                - featureGroup desc
                - impactDescription
                - impactDescription desc
                - isResolved
                - isResolved desc
                - origin
                - origin desc
                - posts
                - posts desc
                - service
                - service desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - classification
                - feature
                - featureGroup
                - impactDescription
                - isResolved
                - origin
                - posts
                - service
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceHealthIssueCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.serviceAnnouncement
      summary: Create new navigation property to issues for admin
      operationId: admin.serviceAnnouncement_CreateIssue
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/issues/{serviceHealthIssue-id}':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get serviceHealthIssue
      description: Retrieve the properties and relationships of a serviceHealthIssue object. This operation retrieves a specified service health issue for tenant. The operation returns an error if the issue does not exist for the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/servicehealthissue-get?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement_GetIssue
      parameters:
        - name: serviceHealthIssue-id
          in: path
          description: The unique identifier of serviceHealthIssue
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - classification
                - feature
                - featureGroup
                - impactDescription
                - isResolved
                - origin
                - posts
                - service
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property issues in admin
      operationId: admin.serviceAnnouncement_UpdateIssue
      parameters:
        - name: serviceHealthIssue-id
          in: path
          description: The unique identifier of serviceHealthIssue
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceHealthIssue'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property issues for admin
      operationId: admin.serviceAnnouncement_DeleteIssue
      parameters:
        - name: serviceHealthIssue-id
          in: path
          description: The unique identifier of serviceHealthIssue
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/issues/{serviceHealthIssue-id}/microsoft.graph.incidentReport()':
    get:
      tags:
        - admin.Functions
      summary: Invoke function incidentReport
      operationId: admin.serviceAnnouncement.issue_incidentReport
      parameters:
        - name: serviceHealthIssue-id
          in: path
          description: The unique identifier of serviceHealthIssue
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /admin/serviceAnnouncement/issues/$count:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get the number of the resource
      operationId: admin.serviceAnnouncement.issue_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/serviceAnnouncement/messages:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: List messages
      description: Retrieve the serviceUpdateMessage resources from the messages navigation property. This operation retrieves all service update messages that exist for the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceannouncement-list-messages?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement_ListMessage
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - details
                - details desc
                - endDateTime
                - endDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
                - actionRequiredByDateTime
                - actionRequiredByDateTime desc
                - attachmentsArchive
                - attachmentsArchive desc
                - body
                - body desc
                - category
                - category desc
                - hasAttachments
                - hasAttachments desc
                - isMajorChange
                - isMajorChange desc
                - services
                - services desc
                - severity
                - severity desc
                - tags
                - tags desc
                - viewPoint
                - viewPoint desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - actionRequiredByDateTime
                - attachmentsArchive
                - body
                - category
                - hasAttachments
                - isMajorChange
                - services
                - severity
                - tags
                - viewPoint
                - attachments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceUpdateMessageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.serviceAnnouncement
      summary: Create new navigation property to messages for admin
      operationId: admin.serviceAnnouncement_CreateMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get serviceUpdateMessage
      description: Retrieve the properties and relationships of a serviceUpdateMessage object. This operation retrieves a specified service update message for the tenant. The operation returns an error if the message does not exist for the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-get?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement_GetMessage
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - details
                - endDateTime
                - lastModifiedDateTime
                - startDateTime
                - title
                - actionRequiredByDateTime
                - attachmentsArchive
                - body
                - category
                - hasAttachments
                - isMajorChange
                - services
                - severity
                - tags
                - viewPoint
                - attachments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property messages in admin
      operationId: admin.serviceAnnouncement_UpdateMessage
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceUpdateMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property messages for admin
      operationId: admin.serviceAnnouncement_DeleteMessage
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}/attachments':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: List attachments
      description: Get a list of attachments associated with a service message.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-list-attachments?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_ListAttachment
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - content
                - content desc
                - contentType
                - contentType desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - size
                - size desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - contentType
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceAnnouncementAttachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.serviceAnnouncement
      summary: Create new navigation property to attachments for admin
      operationId: admin.serviceAnnouncement.message_CreateAttachment
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}/attachments/{serviceAnnouncementAttachment-id}':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get serviceAnnouncementAttachment
      description: Read the properties and relationships of a serviceAnnouncementAttachment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceannouncementattachment-get?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_GetAttachment
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: serviceAnnouncementAttachment-id
          in: path
          description: The unique identifier of serviceAnnouncementAttachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceAnnouncementAttachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - contentType
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.serviceAnnouncement
      summary: Update the navigation property attachments in admin
      operationId: admin.serviceAnnouncement.message_UpdateAttachment
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: serviceAnnouncementAttachment-id
          in: path
          description: The unique identifier of serviceAnnouncementAttachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceAnnouncementAttachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.serviceAnnouncement
      summary: Delete navigation property attachments for admin
      operationId: admin.serviceAnnouncement.message_DeleteAttachment
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: serviceAnnouncementAttachment-id
          in: path
          description: The unique identifier of serviceAnnouncementAttachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceAnnouncementAttachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}/attachments/{serviceAnnouncementAttachment-id}/content':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get content for the navigation property attachments from admin
      description: The attachment content.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-list-attachments?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_GetAttachmentsContent
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: serviceAnnouncementAttachment-id
          in: path
          description: The unique identifier of serviceAnnouncementAttachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceAnnouncementAttachment
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - admin.serviceAnnouncement
      summary: Update content for the navigation property attachments in admin
      description: The attachment content.
      operationId: admin.serviceAnnouncement.message_SetAttachmentsContent
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - name: serviceAnnouncementAttachment-id
          in: path
          description: The unique identifier of serviceAnnouncementAttachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceAnnouncementAttachment
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceAnnouncementAttachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}/attachments/$count':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get the number of the resource
      operationId: admin.serviceAnnouncement.message.attachment_GetCount
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/admin/serviceAnnouncement/messages/{serviceUpdateMessage-id}/attachmentsArchive':
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get attachmentsArchive for the navigation property messages from admin
      description: The zip file of all attachments for a message.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceannouncement-list-messages?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement_GetMessagesAttachmentsArchive
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - admin.serviceAnnouncement
      summary: Update attachmentsArchive for the navigation property messages in admin
      description: The zip file of all attachments for a message.
      operationId: admin.serviceAnnouncement_SetMessagesAttachmentsArchive
      parameters:
        - name: serviceUpdateMessage-id
          in: path
          description: The unique identifier of serviceUpdateMessage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceUpdateMessage
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/serviceAnnouncement/messages/$count:
    get:
      tags:
        - admin.serviceAnnouncement
      summary: Get the number of the resource
      operationId: admin.serviceAnnouncement.message_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/serviceAnnouncement/messages/microsoft.graph.archive:
    post:
      tags:
        - admin.Actions
      summary: Invoke action archive
      description: Archive a list of serviceUpdateMessages for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-archive?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_archive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.favorite:
    post:
      tags:
        - admin.Actions
      summary: Invoke action favorite
      description: Change the status of a list of serviceUpdateMessages to favorite for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-favorite?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_favorite
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.markRead:
    post:
      tags:
        - admin.Actions
      summary: Invoke action markRead
      description: Mark a list of serviceUpdateMessages as read for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-markread?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_markRead
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.markUnread:
    post:
      tags:
        - admin.Actions
      summary: Invoke action markUnread
      description: Mark a list of serviceUpdateMessages as unread for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-markunread?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_markUnread
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.unarchive:
    post:
      tags:
        - admin.Actions
      summary: Invoke action unarchive
      description: Unarchive a list of serviceUpdateMessages for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-unarchive?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_unarchive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.unfavorite:
    post:
      tags:
        - admin.Actions
      summary: Invoke action unfavorite
      description: Remove the favorite status of serviceUpdateMessages for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-unfavorite?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_unfavorite
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembers
      description: 'Add members to an updatableAssetGroup. You can add azureADDevice resources as members, but may not add updatableAssetGroup resources as members. Adding a Microsoft Entra device as a member of an updatable asset group automatically creates an azureADDevice object, if it does not already exist. You can also use the method addMembersById to add members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-addmembers?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.exclusion_addMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembersById
      description: Add members of the same type to an updatableAssetGroup. You can also use the method addMembers to add members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-addmembersbyid?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.exclusion_addMembersGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembers
      description: Remove members from an updatableAssetGroup. You can also use the method removeMembersById to remove members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-removemembers?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.exclusion_removeMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembersById
      description: Remove members of the same type from an updatableAssetGroup. You can also use the method removeMembers to remove members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-removemembersbyid?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.exclusion_removeMembersGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/microsoft.graph.windowsUpdates.enrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssets
      operationId: admin.window.update.deploymentAudience.exclusion_enrollAsset
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/microsoft.graph.windowsUpdates.enrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssetsById
      operationId: admin.window.update.deploymentAudience.exclusion_enrollAssetsGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/microsoft.graph.windowsUpdates.unenrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssets
      operationId: admin.window.update.deploymentAudience.exclusion_unenrollAsset
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/microsoft.graph.windowsUpdates.unenrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssetsById
      operationId: admin.window.update.deploymentAudience.exclusion_unenrollAssetsGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembers
      description: 'Add members to an updatableAssetGroup. You can add azureADDevice resources as members, but may not add updatableAssetGroup resources as members. Adding a Microsoft Entra device as a member of an updatable asset group automatically creates an azureADDevice object, if it does not already exist. You can also use the method addMembersById to add members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-addmembers?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.member_addMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembersById
      description: Add members of the same type to an updatableAssetGroup. You can also use the method addMembers to add members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-addmembersbyid?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.member_addMembersGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembers
      description: Remove members from an updatableAssetGroup. You can also use the method removeMembersById to remove members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-removemembers?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.member_removeMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembersById
      description: Remove members of the same type from an updatableAssetGroup. You can also use the method removeMembers to remove members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-removemembersbyid?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.member_removeMembersGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/microsoft.graph.windowsUpdates.enrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssets
      operationId: admin.window.update.deploymentAudience.member_enrollAsset
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/microsoft.graph.windowsUpdates.enrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssetsById
      operationId: admin.window.update.deploymentAudience.member_enrollAssetsGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/microsoft.graph.windowsUpdates.unenrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssets
      operationId: admin.window.update.deploymentAudience.member_unenrollAsset
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/microsoft.graph.windowsUpdates.unenrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssetsById
      operationId: admin.window.update.deploymentAudience.member_unenrollAssetsGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/microsoft.graph.windowsUpdates.updateAudience':
    post:
      tags:
        - admin.Actions
      summary: Invoke action updateAudience
      description: 'Update the members and exclusions collections of a deploymentAudience. Adding an azureADDevice to the members or exclusions collections of a deployment audience automatically creates a Microsoft Entra device object, if it does not already exist. If the same updatableAsset gets included in the exclusions and members collections of a deploymentAudience, deployment will not apply to that asset. If all updatableAsset objects are the same type, you can also use the method updateAudienceById to update the deploymentAudience.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deploymentaudience-updateaudience?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience_updateAudience
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                addMembers:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
                removeMembers:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
                addExclusions:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
                removeExclusions:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/microsoft.graph.windowsUpdates.updateAudienceById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action updateAudienceById
      description: 'Update the members and exclusions collections of a deploymentAudience with updatableAsset resources of the same type. Adding an azureADDevice to the members or exclusions collections of a deployment audience automatically creates a Microsoft Entra device object if it does not already exist. If the same updatableAsset gets included in the exclusions and members collections of a deploymentAudience, deployment will not apply to that asset. You can also use the method updateAudience to update the deploymentAudience.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deploymentaudience-updateaudiencebyid?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience_updateAudienceGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                memberEntityType:
                  type: string
                  nullable: true
                addMembers:
                  type: array
                  items:
                    type: string
                    nullable: true
                removeMembers:
                  type: array
                  items:
                    type: string
                    nullable: true
                addExclusions:
                  type: array
                  items:
                    type: string
                    nullable: true
                removeExclusions:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembers
      description: 'Add members to an updatableAssetGroup. You can add azureADDevice resources as members, but may not add updatableAssetGroup resources as members. Adding a Microsoft Entra device as a member of an updatable asset group automatically creates an azureADDevice object, if it does not already exist. You can also use the method addMembersById to add members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-addmembers?view=graph-rest-1.0
      operationId: admin.window.update.deployment.audience.exclusion_addMember
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembersById
      description: Add members of the same type to an updatableAssetGroup. You can also use the method addMembers to add members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-addmembersbyid?view=graph-rest-1.0
      operationId: admin.window.update.deployment.audience.exclusion_addMembersGraphBPreId
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembers
      description: Remove members from an updatableAssetGroup. You can also use the method removeMembersById to remove members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-removemembers?view=graph-rest-1.0
      operationId: admin.window.update.deployment.audience.exclusion_removeMember
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
[...]
