openapi: 3.0.1
info:
  title: Devices.CorporateManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceAppManagement:
    get:
      tags:
        - deviceAppManagement.deviceAppManagement
      summary: Get deviceAppManagement
      operationId: deviceAppManagement.deviceAppManagement_GetDeviceAppManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isEnabledForMicrosoftStoreForBusiness
                - microsoftStoreForBusinessLanguage
                - microsoftStoreForBusinessLastCompletedApplicationSyncTime
                - microsoftStoreForBusinessLastSuccessfulSyncDateTime
                - microsoftStoreForBusinessPortalSelection
                - managedEBookCategories
                - enterpriseCodeSigningCertificates
                - iosLobAppProvisioningConfigurations
                - mobileAppCategories
                - mobileAppConfigurations
                - mobileApps
                - symantecCodeSigningCertificate
                - managedEBooks
                - policySets
                - sideLoadingKeys
                - vppTokens
                - windowsManagementApp
                - androidManagedAppProtections
                - defaultManagedAppProtections
                - iosManagedAppProtections
                - managedAppPolicies
                - managedAppRegistrations
                - managedAppStatuses
                - mdmWindowsInformationProtectionPolicies
                - targetedManagedAppConfigurations
                - windowsInformationProtectionDeviceRegistrations
                - windowsInformationProtectionPolicies
                - windowsInformationProtectionWipeActions
                - windowsManagedAppProtections
                - deviceAppManagementTasks
                - wdacSupplementalPolicies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - managedEBookCategories
                - enterpriseCodeSigningCertificates
                - iosLobAppProvisioningConfigurations
                - mobileAppCategories
                - mobileAppConfigurations
                - mobileApps
                - symantecCodeSigningCertificate
                - managedEBooks
                - policySets
                - sideLoadingKeys
                - vppTokens
                - windowsManagementApp
                - androidManagedAppProtections
                - defaultManagedAppProtections
                - iosManagedAppProtections
                - managedAppPolicies
                - managedAppRegistrations
                - managedAppStatuses
                - mdmWindowsInformationProtectionPolicies
                - targetedManagedAppConfigurations
                - windowsInformationProtectionDeviceRegistrations
                - windowsInformationProtectionPolicies
                - windowsInformationProtectionWipeActions
                - windowsManagedAppProtections
                - deviceAppManagementTasks
                - wdacSupplementalPolicies
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
          links:
            managedEBookCategories:
              operationId: deviceAppManagement.ListManagedEBookCategories
            enterpriseCodeSigningCertificates:
              operationId: deviceAppManagement.ListEnterpriseCodeSigningCertificates
            iosLobAppProvisioningConfigurations:
              operationId: deviceAppManagement.ListIosLobAppProvisioningConfigurations
            mobileAppCategories:
              operationId: deviceAppManagement.ListMobileAppCategories
            mobileAppConfigurations:
              operationId: deviceAppManagement.ListMobileAppConfigurations
            mobileApps:
              operationId: deviceAppManagement.ListMobileApps
            symantecCodeSigningCertificate:
              operationId: deviceAppManagement.GetSymantecCodeSigningCertificate
            managedEBooks:
              operationId: deviceAppManagement.ListManagedEBooks
            policySets:
              operationId: deviceAppManagement.ListPolicySets
            sideLoadingKeys:
              operationId: deviceAppManagement.ListSideLoadingKeys
            vppTokens:
              operationId: deviceAppManagement.ListVppTokens
            windowsManagementApp:
              operationId: deviceAppManagement.GetWindowsManagementApp
            androidManagedAppProtections:
              operationId: deviceAppManagement.ListAndroidManagedAppProtections
            defaultManagedAppProtections:
              operationId: deviceAppManagement.ListDefaultManagedAppProtections
            iosManagedAppProtections:
              operationId: deviceAppManagement.ListIosManagedAppProtections
            managedAppPolicies:
              operationId: deviceAppManagement.ListManagedAppPolicies
            managedAppRegistrations:
              operationId: deviceAppManagement.ListManagedAppRegistrations
            managedAppStatuses:
              operationId: deviceAppManagement.ListManagedAppStatuses
            mdmWindowsInformationProtectionPolicies:
              operationId: deviceAppManagement.ListMdmWindowsInformationProtectionPolicies
            targetedManagedAppConfigurations:
              operationId: deviceAppManagement.ListTargetedManagedAppConfigurations
            windowsInformationProtectionDeviceRegistrations:
              operationId: deviceAppManagement.ListWindowsInformationProtectionDeviceRegistrations
            windowsInformationProtectionPolicies:
              operationId: deviceAppManagement.ListWindowsInformationProtectionPolicies
            windowsInformationProtectionWipeActions:
              operationId: deviceAppManagement.ListWindowsInformationProtectionWipeActions
            windowsManagedAppProtections:
              operationId: deviceAppManagement.ListWindowsManagedAppProtections
            deviceAppManagementTasks:
              operationId: deviceAppManagement.ListDeviceAppManagementTasks
            wdacSupplementalPolicies:
              operationId: deviceAppManagement.ListWdacSupplementalPolicies
            syncMicrosoftStoreForBusinessApps:
              operationId: deviceAppManagement.syncMicrosoftStoreGraphFPreBusinessApps
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.deviceAppManagement
      summary: Update deviceAppManagement
      operationId: deviceAppManagement.deviceAppManagement_UpdateDeviceAppManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAppManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/androidManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get androidManagedAppProtections from deviceAppManagement
      operationId: deviceAppManagement_ListAndroidManagedAppProtections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - version
                - version desc
                - allowedDataIngestionLocations
                - allowedDataIngestionLocations desc
                - allowedDataStorageLocations
                - allowedDataStorageLocations desc
                - allowedInboundDataTransferSources
                - allowedInboundDataTransferSources desc
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingExceptionLength desc
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundClipboardSharingLevel desc
                - allowedOutboundDataTransferDestinations
                - allowedOutboundDataTransferDestinations desc
                - appActionIfDeviceComplianceRequired
                - appActionIfDeviceComplianceRequired desc
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfMaximumPinRetriesExceeded desc
                - appActionIfUnableToAuthenticateUser
                - appActionIfUnableToAuthenticateUser desc
                - blockDataIngestionIntoOrganizationDocuments
                - blockDataIngestionIntoOrganizationDocuments desc
                - contactSyncBlocked
                - contactSyncBlocked desc
                - dataBackupBlocked
                - dataBackupBlocked desc
                - deviceComplianceRequired
                - deviceComplianceRequired desc
                - dialerRestrictionLevel
                - dialerRestrictionLevel desc
                - disableAppPinIfDevicePinIsSet
                - disableAppPinIfDevicePinIsSet desc
                - fingerprintBlocked
                - fingerprintBlocked desc
                - gracePeriodToBlockAppsDuringOffClockHours
                - gracePeriodToBlockAppsDuringOffClockHours desc
                - managedBrowser
                - managedBrowser desc
                - managedBrowserToOpenLinksRequired
                - managedBrowserToOpenLinksRequired desc
                - maximumAllowedDeviceThreatLevel
                - maximumAllowedDeviceThreatLevel desc
                - maximumPinRetries
                - maximumPinRetries desc
                - maximumRequiredOsVersion
                - maximumRequiredOsVersion desc
                - maximumWarningOsVersion
                - maximumWarningOsVersion desc
                - maximumWipeOsVersion
                - maximumWipeOsVersion desc
                - minimumPinLength
                - minimumPinLength desc
                - minimumRequiredAppVersion
                - minimumRequiredAppVersion desc
                - minimumRequiredOsVersion
                - minimumRequiredOsVersion desc
                - minimumWarningAppVersion
                - minimumWarningAppVersion desc
                - minimumWarningOsVersion
                - minimumWarningOsVersion desc
                - minimumWipeAppVersion
                - minimumWipeAppVersion desc
                - minimumWipeOsVersion
                - minimumWipeOsVersion desc
                - mobileThreatDefenseRemediationAction
                - mobileThreatDefenseRemediationAction desc
                - notificationRestriction
                - notificationRestriction desc
                - organizationalCredentialsRequired
                - organizationalCredentialsRequired desc
                - periodBeforePinReset
                - periodBeforePinReset desc
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeAccessCheck desc
                - periodOfflineBeforeWipeIsEnforced
                - periodOfflineBeforeWipeIsEnforced desc
                - periodOnlineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck desc
                - pinCharacterSet
                - pinCharacterSet desc
                - pinRequired
                - pinRequired desc
                - pinRequiredInsteadOfBiometricTimeout
                - pinRequiredInsteadOfBiometricTimeout desc
                - previousPinBlockCount
                - previousPinBlockCount desc
                - printBlocked
                - printBlocked desc
                - saveAsBlocked
                - saveAsBlocked desc
                - simplePinBlocked
                - simplePinBlocked desc
                - appGroupType
                - appGroupType desc
                - isAssigned
                - isAssigned desc
                - targetedAppManagementLevels
                - targetedAppManagementLevels desc
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceManufacturers desc
                - allowedAndroidDeviceModels
                - allowedAndroidDeviceModels desc
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceManufacturerNotAllowed desc
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed desc
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetAppsVerificationFailed desc
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed desc
                - appActionIfDeviceLockNotSet
                - appActionIfDeviceLockNotSet desc
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanHigh desc
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanLow desc
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - appActionIfDevicePasscodeComplexityLessThanMedium desc
                - approvedKeyboards
                - approvedKeyboards desc
                - biometricAuthenticationBlocked
                - biometricAuthenticationBlocked desc
                - blockAfterCompanyPortalUpdateDeferralInDays
                - blockAfterCompanyPortalUpdateDeferralInDays desc
                - connectToVpnOnLaunch
                - connectToVpnOnLaunch desc
                - customBrowserDisplayName
                - customBrowserDisplayName desc
                - customBrowserPackageId
                - customBrowserPackageId desc
                - customDialerAppDisplayName
                - customDialerAppDisplayName desc
                - customDialerAppPackageId
                - customDialerAppPackageId desc
                - deployedAppCount
                - deployedAppCount desc
                - deviceLockRequired
                - deviceLockRequired desc
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableAppEncryptionIfDeviceEncryptionIsEnabled desc
                - encryptAppData
                - encryptAppData desc
                - exemptedAppPackages
                - exemptedAppPackages desc
                - fingerprintAndBiometricEnabled
                - fingerprintAndBiometricEnabled desc
                - keyboardsRestricted
                - keyboardsRestricted desc
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredCompanyPortalVersion desc
                - minimumRequiredPatchVersion
                - minimumRequiredPatchVersion desc
                - minimumWarningCompanyPortalVersion
                - minimumWarningCompanyPortalVersion desc
                - minimumWarningPatchVersion
                - minimumWarningPatchVersion desc
                - minimumWipeCompanyPortalVersion
                - minimumWipeCompanyPortalVersion desc
                - minimumWipePatchVersion
                - minimumWipePatchVersion desc
                - requireClass3Biometrics
                - requireClass3Biometrics desc
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetAppsVerificationType desc
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetDeviceAttestationType desc
                - requiredAndroidSafetyNetEvaluationType
                - requiredAndroidSafetyNetEvaluationType desc
                - requirePinAfterBiometricChange
                - requirePinAfterBiometricChange desc
                - screenCaptureBlocked
                - screenCaptureBlocked desc
                - warnAfterCompanyPortalUpdateDeferralInDays
                - warnAfterCompanyPortalUpdateDeferralInDays desc
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - roleScopeTagIds
                - version
                - allowedDataIngestionLocations
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - appActionIfDeviceComplianceRequired
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfUnableToAuthenticateUser
                - blockDataIngestionIntoOrganizationDocuments
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - dialerRestrictionLevel
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - gracePeriodToBlockAppsDuringOffClockHours
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumAllowedDeviceThreatLevel
                - maximumPinRetries
                - maximumRequiredOsVersion
                - maximumWarningOsVersion
                - maximumWipeOsVersion
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - minimumWipeAppVersion
                - minimumWipeOsVersion
                - mobileThreatDefenseRemediationAction
                - notificationRestriction
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - pinRequiredInsteadOfBiometricTimeout
                - previousPinBlockCount
                - printBlocked
                - saveAsBlocked
                - simplePinBlocked
                - appGroupType
                - isAssigned
                - targetedAppManagementLevels
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceModels
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfDeviceLockNotSet
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - approvedKeyboards
                - biometricAuthenticationBlocked
                - blockAfterCompanyPortalUpdateDeferralInDays
                - connectToVpnOnLaunch
                - customBrowserDisplayName
                - customBrowserPackageId
                - customDialerAppDisplayName
                - customDialerAppPackageId
                - deployedAppCount
                - deviceLockRequired
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - encryptAppData
                - exemptedAppPackages
                - fingerprintAndBiometricEnabled
                - keyboardsRestricted
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredPatchVersion
                - minimumWarningCompanyPortalVersion
                - minimumWarningPatchVersion
                - minimumWipeCompanyPortalVersion
                - minimumWipePatchVersion
                - requireClass3Biometrics
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetEvaluationType
                - requirePinAfterBiometricChange
                - screenCaptureBlocked
                - warnAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.androidManagedAppProtectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to androidManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_CreateAndroidManagedAppProtections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get androidManagedAppProtections from deviceAppManagement
      operationId: deviceAppManagement_GetAndroidManagedAppProtections
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - roleScopeTagIds
                - version
                - allowedDataIngestionLocations
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - appActionIfDeviceComplianceRequired
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfUnableToAuthenticateUser
                - blockDataIngestionIntoOrganizationDocuments
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - dialerRestrictionLevel
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - gracePeriodToBlockAppsDuringOffClockHours
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumAllowedDeviceThreatLevel
                - maximumPinRetries
                - maximumRequiredOsVersion
                - maximumWarningOsVersion
                - maximumWipeOsVersion
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - minimumWipeAppVersion
                - minimumWipeOsVersion
                - mobileThreatDefenseRemediationAction
                - notificationRestriction
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - pinRequiredInsteadOfBiometricTimeout
                - previousPinBlockCount
                - printBlocked
                - saveAsBlocked
                - simplePinBlocked
                - appGroupType
                - isAssigned
                - targetedAppManagementLevels
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceModels
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfDeviceLockNotSet
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - approvedKeyboards
                - biometricAuthenticationBlocked
                - blockAfterCompanyPortalUpdateDeferralInDays
                - connectToVpnOnLaunch
                - customBrowserDisplayName
                - customBrowserPackageId
                - customDialerAppDisplayName
                - customDialerAppPackageId
                - deployedAppCount
                - deviceLockRequired
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - encryptAppData
                - exemptedAppPackages
                - fingerprintAndBiometricEnabled
                - keyboardsRestricted
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredPatchVersion
                - minimumWarningCompanyPortalVersion
                - minimumWarningPatchVersion
                - minimumWipeCompanyPortalVersion
                - minimumWipePatchVersion
                - requireClass3Biometrics
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetEvaluationType
                - requirePinAfterBiometricChange
                - screenCaptureBlocked
                - warnAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - assignments
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
          links:
            assignments:
              operationId: deviceAppManagement.AndroidManagedAppProtections.ListAssignments
              parameters:
                androidManagedAppProtection-id: $request.path.androidManagedAppProtection-id
            apps:
              operationId: deviceAppManagement.AndroidManagedAppProtections.ListApps
              parameters:
                androidManagedAppProtection-id: $request.path.androidManagedAppProtection-id
            deploymentSummary:
              operationId: deviceAppManagement.AndroidManagedAppProtections.GetDeploymentSummary
              parameters:
                androidManagedAppProtection-id: $request.path.androidManagedAppProtection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property androidManagedAppProtections in deviceAppManagement
      operationId: deviceAppManagement_UpdateAndroidManagedAppProtections
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedAppProtection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property androidManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_DeleteAndroidManagedAppProtections
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get apps from deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_ListApps
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mobileAppIdentifier
                - mobileAppIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.managedMobileAppCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_CreateApps
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get apps from deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_GetApps
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_UpdateApps
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property apps for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_DeleteApps
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_GetDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationDeployedUserCount
                - configurationDeploymentSummaryPerApp
                - displayName
                - lastRefreshTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_UpdateDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.androidManagedAppProtection
      summary: Delete navigation property deploymentSummary for deviceAppManagement
      operationId: deviceAppManagement.androidManagedAppProtections_DeleteDeploymentSummary
      parameters:
        - name: androidManagedAppProtection-id
          in: path
          description: 'key: id of androidManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/androidManagedAppProtections/microsoft.graph.hasPayloadLinks:
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action hasPayloadLinks
      operationId: deviceAppManagement.androidManagedAppProtections_hasPayloadLinks
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                payloadIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of androidManagedAppProtection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.hasPayloadLinkResultItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceAppManagement/defaultManagedAppProtections:
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get defaultManagedAppProtections from deviceAppManagement
      operationId: deviceAppManagement_ListDefaultManagedAppProtections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - version
                - version desc
                - allowedDataIngestionLocations
                - allowedDataIngestionLocations desc
                - allowedDataStorageLocations
                - allowedDataStorageLocations desc
                - allowedInboundDataTransferSources
                - allowedInboundDataTransferSources desc
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingExceptionLength desc
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundClipboardSharingLevel desc
                - allowedOutboundDataTransferDestinations
                - allowedOutboundDataTransferDestinations desc
                - appActionIfDeviceComplianceRequired
                - appActionIfDeviceComplianceRequired desc
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfMaximumPinRetriesExceeded desc
                - appActionIfUnableToAuthenticateUser
                - appActionIfUnableToAuthenticateUser desc
                - blockDataIngestionIntoOrganizationDocuments
                - blockDataIngestionIntoOrganizationDocuments desc
                - contactSyncBlocked
                - contactSyncBlocked desc
                - dataBackupBlocked
                - dataBackupBlocked desc
                - deviceComplianceRequired
                - deviceComplianceRequired desc
                - dialerRestrictionLevel
                - dialerRestrictionLevel desc
                - disableAppPinIfDevicePinIsSet
                - disableAppPinIfDevicePinIsSet desc
                - fingerprintBlocked
                - fingerprintBlocked desc
                - gracePeriodToBlockAppsDuringOffClockHours
                - gracePeriodToBlockAppsDuringOffClockHours desc
                - managedBrowser
                - managedBrowser desc
                - managedBrowserToOpenLinksRequired
                - managedBrowserToOpenLinksRequired desc
                - maximumAllowedDeviceThreatLevel
                - maximumAllowedDeviceThreatLevel desc
                - maximumPinRetries
                - maximumPinRetries desc
                - maximumRequiredOsVersion
                - maximumRequiredOsVersion desc
                - maximumWarningOsVersion
                - maximumWarningOsVersion desc
                - maximumWipeOsVersion
                - maximumWipeOsVersion desc
                - minimumPinLength
                - minimumPinLength desc
                - minimumRequiredAppVersion
                - minimumRequiredAppVersion desc
                - minimumRequiredOsVersion
                - minimumRequiredOsVersion desc
                - minimumWarningAppVersion
                - minimumWarningAppVersion desc
                - minimumWarningOsVersion
                - minimumWarningOsVersion desc
                - minimumWipeAppVersion
                - minimumWipeAppVersion desc
                - minimumWipeOsVersion
                - minimumWipeOsVersion desc
                - mobileThreatDefenseRemediationAction
                - mobileThreatDefenseRemediationAction desc
                - notificationRestriction
                - notificationRestriction desc
                - organizationalCredentialsRequired
                - organizationalCredentialsRequired desc
                - periodBeforePinReset
                - periodBeforePinReset desc
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeAccessCheck desc
                - periodOfflineBeforeWipeIsEnforced
                - periodOfflineBeforeWipeIsEnforced desc
                - periodOnlineBeforeAccessCheck
                - periodOnlineBeforeAccessCheck desc
                - pinCharacterSet
                - pinCharacterSet desc
                - pinRequired
                - pinRequired desc
                - pinRequiredInsteadOfBiometricTimeout
                - pinRequiredInsteadOfBiometricTimeout desc
                - previousPinBlockCount
                - previousPinBlockCount desc
                - printBlocked
                - printBlocked desc
                - saveAsBlocked
                - saveAsBlocked desc
                - simplePinBlocked
                - simplePinBlocked desc
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceManufacturers desc
                - allowedAndroidDeviceModels
                - allowedAndroidDeviceModels desc
                - allowedIosDeviceModels
                - allowedIosDeviceModels desc
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceManufacturerNotAllowed desc
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed desc
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetAppsVerificationFailed desc
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed desc
                - appActionIfDeviceLockNotSet
                - appActionIfDeviceLockNotSet desc
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanHigh desc
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanLow desc
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - appActionIfDevicePasscodeComplexityLessThanMedium desc
                - appActionIfIosDeviceModelNotAllowed
                - appActionIfIosDeviceModelNotAllowed desc
                - appDataEncryptionType
                - appDataEncryptionType desc
                - biometricAuthenticationBlocked
                - biometricAuthenticationBlocked desc
                - blockAfterCompanyPortalUpdateDeferralInDays
                - blockAfterCompanyPortalUpdateDeferralInDays desc
                - connectToVpnOnLaunch
                - connectToVpnOnLaunch desc
                - customBrowserDisplayName
                - customBrowserDisplayName desc
                - customBrowserPackageId
                - customBrowserPackageId desc
                - customBrowserProtocol
                - customBrowserProtocol desc
                - customDialerAppDisplayName
                - customDialerAppDisplayName desc
                - customDialerAppPackageId
                - customDialerAppPackageId desc
                - customDialerAppProtocol
                - customDialerAppProtocol desc
                - customSettings
                - customSettings desc
                - deployedAppCount
                - deployedAppCount desc
                - deviceLockRequired
                - deviceLockRequired desc
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableAppEncryptionIfDeviceEncryptionIsEnabled desc
                - disableProtectionOfManagedOutboundOpenInData
                - disableProtectionOfManagedOutboundOpenInData desc
                - encryptAppData
                - encryptAppData desc
                - exemptedAppPackages
                - exemptedAppPackages desc
                - exemptedAppProtocols
                - exemptedAppProtocols desc
                - faceIdBlocked
                - faceIdBlocked desc
                - filterOpenInToOnlyManagedApps
                - filterOpenInToOnlyManagedApps desc
                - fingerprintAndBiometricEnabled
                - fingerprintAndBiometricEnabled desc
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredCompanyPortalVersion desc
                - minimumRequiredPatchVersion
                - minimumRequiredPatchVersion desc
                - minimumRequiredSdkVersion
                - minimumRequiredSdkVersion desc
                - minimumWarningCompanyPortalVersion
                - minimumWarningCompanyPortalVersion desc
                - minimumWarningPatchVersion
                - minimumWarningPatchVersion desc
                - minimumWipeCompanyPortalVersion
                - minimumWipeCompanyPortalVersion desc
                - minimumWipePatchVersion
                - minimumWipePatchVersion desc
                - minimumWipeSdkVersion
                - minimumWipeSdkVersion desc
                - protectInboundDataFromUnknownSources
                - protectInboundDataFromUnknownSources desc
                - requireClass3Biometrics
                - requireClass3Biometrics desc
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetAppsVerificationType desc
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetDeviceAttestationType desc
                - requiredAndroidSafetyNetEvaluationType
                - requiredAndroidSafetyNetEvaluationType desc
                - requirePinAfterBiometricChange
                - requirePinAfterBiometricChange desc
                - screenCaptureBlocked
                - screenCaptureBlocked desc
                - thirdPartyKeyboardsBlocked
                - thirdPartyKeyboardsBlocked desc
                - warnAfterCompanyPortalUpdateDeferralInDays
                - warnAfterCompanyPortalUpdateDeferralInDays desc
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - roleScopeTagIds
                - version
                - allowedDataIngestionLocations
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - appActionIfDeviceComplianceRequired
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfUnableToAuthenticateUser
                - blockDataIngestionIntoOrganizationDocuments
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - dialerRestrictionLevel
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - gracePeriodToBlockAppsDuringOffClockHours
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumAllowedDeviceThreatLevel
                - maximumPinRetries
                - maximumRequiredOsVersion
                - maximumWarningOsVersion
                - maximumWipeOsVersion
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - minimumWipeAppVersion
                - minimumWipeOsVersion
                - mobileThreatDefenseRemediationAction
                - notificationRestriction
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - pinRequiredInsteadOfBiometricTimeout
                - previousPinBlockCount
                - printBlocked
                - saveAsBlocked
                - simplePinBlocked
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceModels
                - allowedIosDeviceModels
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfDeviceLockNotSet
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - appActionIfIosDeviceModelNotAllowed
                - appDataEncryptionType
                - biometricAuthenticationBlocked
                - blockAfterCompanyPortalUpdateDeferralInDays
                - connectToVpnOnLaunch
                - customBrowserDisplayName
                - customBrowserPackageId
                - customBrowserProtocol
                - customDialerAppDisplayName
                - customDialerAppPackageId
                - customDialerAppProtocol
                - customSettings
                - deployedAppCount
                - deviceLockRequired
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableProtectionOfManagedOutboundOpenInData
                - encryptAppData
                - exemptedAppPackages
                - exemptedAppProtocols
                - faceIdBlocked
                - filterOpenInToOnlyManagedApps
                - fingerprintAndBiometricEnabled
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredPatchVersion
                - minimumRequiredSdkVersion
                - minimumWarningCompanyPortalVersion
                - minimumWarningPatchVersion
                - minimumWipeCompanyPortalVersion
                - minimumWipePatchVersion
                - minimumWipeSdkVersion
                - protectInboundDataFromUnknownSources
                - requireClass3Biometrics
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetEvaluationType
                - requirePinAfterBiometricChange
                - screenCaptureBlocked
                - thirdPartyKeyboardsBlocked
                - warnAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.defaultManagedAppProtectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Create new navigation property to defaultManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_CreateDefaultManagedAppProtections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get defaultManagedAppProtections from deviceAppManagement
      operationId: deviceAppManagement_GetDefaultManagedAppProtections
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - roleScopeTagIds
                - version
                - allowedDataIngestionLocations
                - allowedDataStorageLocations
                - allowedInboundDataTransferSources
                - allowedOutboundClipboardSharingExceptionLength
                - allowedOutboundClipboardSharingLevel
                - allowedOutboundDataTransferDestinations
                - appActionIfDeviceComplianceRequired
                - appActionIfMaximumPinRetriesExceeded
                - appActionIfUnableToAuthenticateUser
                - blockDataIngestionIntoOrganizationDocuments
                - contactSyncBlocked
                - dataBackupBlocked
                - deviceComplianceRequired
                - dialerRestrictionLevel
                - disableAppPinIfDevicePinIsSet
                - fingerprintBlocked
                - gracePeriodToBlockAppsDuringOffClockHours
                - managedBrowser
                - managedBrowserToOpenLinksRequired
                - maximumAllowedDeviceThreatLevel
                - maximumPinRetries
                - maximumRequiredOsVersion
                - maximumWarningOsVersion
                - maximumWipeOsVersion
                - minimumPinLength
                - minimumRequiredAppVersion
                - minimumRequiredOsVersion
                - minimumWarningAppVersion
                - minimumWarningOsVersion
                - minimumWipeAppVersion
                - minimumWipeOsVersion
                - mobileThreatDefenseRemediationAction
                - notificationRestriction
                - organizationalCredentialsRequired
                - periodBeforePinReset
                - periodOfflineBeforeAccessCheck
                - periodOfflineBeforeWipeIsEnforced
                - periodOnlineBeforeAccessCheck
                - pinCharacterSet
                - pinRequired
                - pinRequiredInsteadOfBiometricTimeout
                - previousPinBlockCount
                - printBlocked
                - saveAsBlocked
                - simplePinBlocked
                - allowedAndroidDeviceManufacturers
                - allowedAndroidDeviceModels
                - allowedIosDeviceModels
                - appActionIfAndroidDeviceManufacturerNotAllowed
                - appActionIfAndroidDeviceModelNotAllowed
                - appActionIfAndroidSafetyNetAppsVerificationFailed
                - appActionIfAndroidSafetyNetDeviceAttestationFailed
                - appActionIfDeviceLockNotSet
                - appActionIfDevicePasscodeComplexityLessThanHigh
                - appActionIfDevicePasscodeComplexityLessThanLow
                - appActionIfDevicePasscodeComplexityLessThanMedium
                - appActionIfIosDeviceModelNotAllowed
                - appDataEncryptionType
                - biometricAuthenticationBlocked
                - blockAfterCompanyPortalUpdateDeferralInDays
                - connectToVpnOnLaunch
                - customBrowserDisplayName
                - customBrowserPackageId
                - customBrowserProtocol
                - customDialerAppDisplayName
                - customDialerAppPackageId
                - customDialerAppProtocol
                - customSettings
                - deployedAppCount
                - deviceLockRequired
                - disableAppEncryptionIfDeviceEncryptionIsEnabled
                - disableProtectionOfManagedOutboundOpenInData
                - encryptAppData
                - exemptedAppPackages
                - exemptedAppProtocols
                - faceIdBlocked
                - filterOpenInToOnlyManagedApps
                - fingerprintAndBiometricEnabled
                - minimumRequiredCompanyPortalVersion
                - minimumRequiredPatchVersion
                - minimumRequiredSdkVersion
                - minimumWarningCompanyPortalVersion
                - minimumWarningPatchVersion
                - minimumWipeCompanyPortalVersion
                - minimumWipePatchVersion
                - minimumWipeSdkVersion
                - protectInboundDataFromUnknownSources
                - requireClass3Biometrics
                - requiredAndroidSafetyNetAppsVerificationType
                - requiredAndroidSafetyNetDeviceAttestationType
                - requiredAndroidSafetyNetEvaluationType
                - requirePinAfterBiometricChange
                - screenCaptureBlocked
                - thirdPartyKeyboardsBlocked
                - warnAfterCompanyPortalUpdateDeferralInDays
                - wipeAfterCompanyPortalUpdateDeferralInDays
                - apps
                - deploymentSummary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - apps
                - deploymentSummary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
          links:
            apps:
              operationId: deviceAppManagement.DefaultManagedAppProtections.ListApps
              parameters:
                defaultManagedAppProtection-id: $request.path.defaultManagedAppProtection-id
            deploymentSummary:
              operationId: deviceAppManagement.DefaultManagedAppProtections.GetDeploymentSummary
              parameters:
                defaultManagedAppProtection-id: $request.path.defaultManagedAppProtection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property defaultManagedAppProtections in deviceAppManagement
      operationId: deviceAppManagement_UpdateDefaultManagedAppProtections
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.defaultManagedAppProtection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property defaultManagedAppProtections for deviceAppManagement
      operationId: deviceAppManagement_DeleteDefaultManagedAppProtections
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get apps from deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_ListApps
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mobileAppIdentifier
                - mobileAppIdentifier desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.managedMobileAppCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Create new navigation property to apps for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_CreateApps
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/apps/{managedMobileApp-id}':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get apps from deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_GetApps
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mobileAppIdentifier
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property apps in deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_UpdateApps
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedMobileApp'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property apps for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_DeleteApps
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: managedMobileApp-id
          in: path
          description: 'key: id of managedMobileApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: managedMobileApp
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}/deploymentSummary':
    get:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Get deploymentSummary from deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_GetDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationDeployedUserCount
                - configurationDeploymentSummaryPerApp
                - displayName
                - lastRefreshTime
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Update the navigation property deploymentSummary in deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_UpdateDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedAppPolicyDeploymentSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.defaultManagedAppProtection
      summary: Delete navigation property deploymentSummary for deviceAppManagement
      operationId: deviceAppManagement.defaultManagedAppProtections_DeleteDeploymentSummary
      parameters:
        - name: defaultManagedAppProtection-id
          in: path
          description: 'key: id of defaultManagedAppProtection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: defaultManagedAppProtection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/deviceAppManagementTasks:
    get:
      tags:
        - deviceAppManagement.deviceAppManagementTask
      summary: Get deviceAppManagementTasks from deviceAppManagement
      operationId: deviceAppManagement_ListDeviceAppManagementTasks
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - assignedTo
                - assignedTo desc
                - category
                - category desc
                - createdDateTime
                - createdDateTime desc
                - creator
                - creator desc
                - creatorNotes
                - creatorNotes desc
                - description
                - description desc
                - displayName
                - displayName desc
                - dueDateTime
                - dueDateTime desc
                - priority
                - priority desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedTo
                - category
                - createdDateTime
                - creator
                - creatorNotes
                - description
                - displayName
                - dueDateTime
                - priority
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceAppManagementTaskCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.deviceAppManagementTask
      summary: Create new navigation property to deviceAppManagementTasks for deviceAppManagement
      operationId: deviceAppManagement_CreateDeviceAppManagementTasks
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAppManagementTask'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAppManagementTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/deviceAppManagementTasks/{deviceAppManagementTask-id}':
    get:
      tags:
        - deviceAppManagement.deviceAppManagementTask
      summary: Get deviceAppManagementTasks from deviceAppManagement
      operationId: deviceAppManagement_GetDeviceAppManagementTasks
      parameters:
        - name: deviceAppManagementTask-id
          in: path
          description: 'key: id of deviceAppManagementTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAppManagementTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedTo
                - category
                - createdDateTime
                - creator
                - creatorNotes
                - description
                - displayName
                - dueDateTime
                - priority
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAppManagementTask'
          links:
            updateStatus:
              operationId: deviceAppManagement.deviceAppManagementTasks.deviceAppManagementTask.updateStatus
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.deviceAppManagementTask
      summary: Update the navigation property deviceAppManagementTasks in deviceAppManagement
      operationId: deviceAppManagement_UpdateDeviceAppManagementTasks
      parameters:
        - name: deviceAppManagementTask-id
          in: path
          description: 'key: id of deviceAppManagementTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAppManagementTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAppManagementTask'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.deviceAppManagementTask
      summary: Delete navigation property deviceAppManagementTasks for deviceAppManagement
      operationId: deviceAppManagement_DeleteDeviceAppManagementTasks
      parameters:
        - name: deviceAppManagementTask-id
          in: path
          description: 'key: id of deviceAppManagementTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAppManagementTask
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/deviceAppManagementTasks/{deviceAppManagementTask-id}/microsoft.graph.updateStatus':
    post:
      tags:
        - deviceAppManagement.Actions
      summary: Invoke action updateStatus
      operationId: deviceAppManagement.deviceAppManagementTasks_updateStatus
      parameters:
        - name: deviceAppManagementTask-id
          in: path
          description: 'key: id of deviceAppManagementTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAppManagementTask
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/microsoft.graph.deviceAppManagementTaskStatus'
                note:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceAppManagement/enterpriseCodeSigningCertificates:
    get:
      tags:
        - deviceAppManagement.enterpriseCodeSigningCertificate
      summary: Get enterpriseCodeSigningCertificates from deviceAppManagement
      operationId: deviceAppManagement_ListEnterpriseCodeSigningCertificates
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - content
                - content desc
                - expirationDateTime
                - expirationDateTime desc
                - issuer
                - issuer desc
                - issuerName
                - issuerName desc
                - status
                - status desc
                - subject
                - subject desc
                - subjectName
                - subjectName desc
                - uploadDateTime
                - uploadDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - expirationDateTime
                - issuer
                - issuerName
                - status
                - subject
                - subjectName
                - uploadDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.enterpriseCodeSigningCertificateCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceAppManagement.enterpriseCodeSigningCertificate
      summary: Create new navigation property to enterpriseCodeSigningCertificates for deviceAppManagement
      operationId: deviceAppManagement_CreateEnterpriseCodeSigningCertificates
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enterpriseCodeSigningCertificate'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enterpriseCodeSigningCertificate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceAppManagement/enterpriseCodeSigningCertificates/{enterpriseCodeSigningCertificate-id}':
    get:
      tags:
        - deviceAppManagement.enterpriseCodeSigningCertificate
      summary: Get enterpriseCodeSigningCertificates from deviceAppManagement
      operationId: deviceAppManagement_GetEnterpriseCodeSigningCertificates
      parameters:
        - name: enterpriseCodeSigningCertificate-id
          in: path
          description: 'key: id of enterpriseCodeSigningCertificate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enterpriseCodeSigningCertificate
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - expirationDateTime
                - issuer
                - issuerName
                - status
                - subject
                - subjectName
                - uploadDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enterpriseCodeSigningCertificate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceAppManagement.enterpriseCodeSigningCertificate
      summary: Update the navigation property enterpriseCodeSigningCertificates in deviceAppManagement
      operationId: deviceAppManagement_UpdateEnterpriseCodeSigningCertificates
      parameters:
        - name: enterpriseCodeSigningCertificate-id
          in: path
          description: 'key: id of enterpriseCodeSigningCertificate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enterpriseCodeSigningCertificate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enterpriseCodeSigningCertificate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceAppManagement.enterpriseCodeSigningCertificate
      summary: Delete navigation property enterpriseCodeSigningCertificates for deviceAppManagement
      operationId: deviceAppManagement_DeleteEnterpriseCodeSigningCertificates
      parameters:
        - name: enterpriseCodeSigningCertificate-id
          in: path
          description: 'key: id of enterpriseCodeSigningCertificate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: enterpriseCodeSigningCertificate
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceAppManagement/iosLobAppProvisioningConfigurations:
    get:
      tags:
        - deviceAppManagement.iosLobAppProvisioningConfiguration
      summary: Get iosLobAppProvisioningConfigurations from deviceAppManagement
      operationId: deviceAppManagement_ListIosLobAppProvisioningConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - expirationDateTime
                - expirationDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - payload
                - payload desc
                - payloadFileName
                - payloadFileName desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - expirationDateTime
                - lastModifiedDateTime
                - payload
                - payloadFileName
                - roleScopeTagIds
                - version
                - assignments
                - deviceStatuses
                - groupAssignments
                - userStatuses
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - deviceStatuses
                - groupAssignments
                - userStatuses
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.iosLobAppProvisioningConfigurationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
[...]
