openapi: 3.0.1
info:
  title: DeviceManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /admin/edge:
    get:
      tags:
        - admin.edge
      summary: Get edge from admin
      description: A container for Microsoft Edge resources. Read-only.
      operationId: admin_GetEdge
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.edge'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.edge
      summary: Update the navigation property edge in admin
      operationId: admin_UpdateEdge
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.edge'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.edge'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.edge
      summary: Delete navigation property edge for admin
      operationId: admin_DeleteEdge
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/edge/internetExplorerMode:
    get:
      tags:
        - admin.edge
      summary: Get internetExplorerMode from admin
      description: A container for Internet Explorer mode resources.
      operationId: admin.edge_GetInternetExplorerMode
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.internetExplorerMode'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.edge
      summary: Update the navigation property internetExplorerMode in admin
      operationId: admin.edge_UpdateInternetExplorerMode
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.internetExplorerMode'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.internetExplorerMode'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.edge
      summary: Delete navigation property internetExplorerMode for admin
      operationId: admin.edge_DeleteInternetExplorerMode
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/edge/internetExplorerMode/siteLists:
    get:
      tags:
        - admin.edge
      summary: List browserSiteLists
      description: Get a list of the browserSiteList objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/internetexplorermode-list-sitelists?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode_ListSiteList
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.browserSiteListCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.edge
      summary: Create browserSiteList
      description: Create a new browserSiteList object to support Internet Explorer mode.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/internetexplorermode-post-sitelists?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode_CreateSiteList
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}':
    get:
      tags:
        - admin.edge
      summary: Get browserSiteList
      description: Get a browserSiteList that contains browserSite and browserSharedCookie resources.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-get?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode_GetSiteList
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.edge
      summary: Update browserSiteList
      description: Update the properties of a browserSiteList object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-update?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode_UpdateSiteList
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.edge
      summary: Delete browserSiteList
      description: Delete a browserSiteList object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/internetexplorermode-delete-sitelists?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode_DeleteSiteList
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sharedCookies':
    get:
      tags:
        - admin.edge
      summary: List browserSharedCookies
      description: Get a list of the browserSharedCookie objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-list-sharedcookies?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_ListSharedCookie
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.browserSharedCookieCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.edge
      summary: Create browserSharedCookie
      description: Create a new browserSharedCookie object in a browserSiteList.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-post-sharedcookies?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_CreateSharedCookie
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sharedCookies/{browserSharedCookie-id}':
    get:
      tags:
        - admin.edge
      summary: Get browserSharedCookie
      description: 'Get a session cookie that can be shared between a Microsoft Edge process and an Internet Explorer process, while using Internet Explorer mode.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersharedcookie-get?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_GetSharedCookie
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - name: browserSharedCookie-id
          in: path
          description: The unique identifier of browserSharedCookie
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSharedCookie
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.edge
      summary: Update browserSharedCookie
      description: Update the properties of a browserSharedCookie object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersharedcookie-update?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_UpdateSharedCookie
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - name: browserSharedCookie-id
          in: path
          description: The unique identifier of browserSharedCookie
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSharedCookie
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.edge
      summary: Delete browserSharedCookie
      description: Delete a browserSharedCookie from a browserSiteList.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-delete-sharedcookies?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_DeleteSharedCookie
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - name: browserSharedCookie-id
          in: path
          description: The unique identifier of browserSharedCookie
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSharedCookie
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sharedCookies/$count':
    get:
      tags:
        - admin.edge
      summary: Get the number of the resource
      operationId: admin.edge.internetExplorerMode.siteList.sharedCookie_GetCount
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sites':
    get:
      tags:
        - admin.edge
      summary: List browserSites
      description: Get a list of the browserSite objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-list-sites?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_ListSite
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.browserSiteCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.edge
      summary: Create browserSite
      description: Create a new browserSite object in a browserSiteList.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-post-sites?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_CreateSite
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSite'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSite'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sites/{browserSite-id}':
    get:
      tags:
        - admin.edge
      summary: Get browserSite
      description: Get a browserSite that resides on a browserSiteList.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersite-get?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_GetSite
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - name: browserSite-id
          in: path
          description: The unique identifier of browserSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSite
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSite'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.edge
      summary: Update browserSite
      description: Update the properties of a browserSite object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersite-update?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_UpdateSite
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - name: browserSite-id
          in: path
          description: The unique identifier of browserSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSite
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSite'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSite'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.edge
      summary: Delete browserSite
      description: Delete a browserSite from a browserSiteList.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-delete-sites?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_DeleteSite
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - name: browserSite-id
          in: path
          description: The unique identifier of browserSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSite
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sites/$count':
    get:
      tags:
        - admin.edge
      summary: Get the number of the resource
      operationId: admin.edge.internetExplorerMode.siteList.site_GetCount
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/edge/internetExplorerMode/siteLists/$count:
    get:
      tags:
        - admin.edge
      summary: Get the number of the resource
      operationId: admin.edge.internetExplorerMode.siteList_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement:
    get:
      tags:
        - deviceManagement.deviceManagement
      summary: Get deviceManagement
      operationId: deviceManagement_GetDeviceManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagement
      summary: Update deviceManagement
      operationId: deviceManagement_UpdateDeviceManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagement'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/advancedThreatProtectionOnboardingStateSummary:
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingStateSummary from deviceManagement
      description: The summary state of ATP onboarding state for this account.
      operationId: deviceManagement_GetAdvancedThreatProtectionOnboardingStateSummary
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Update the navigation property advancedThreatProtectionOnboardingStateSummary in deviceManagement
      operationId: deviceManagement_UpdateAdvancedThreatProtectionOnboardingStateSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Delete navigation property advancedThreatProtectionOnboardingStateSummary for deviceManagement
      operationId: deviceManagement_DeleteAdvancedThreatProtectionOnboardingStateSummary
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/advancedThreatProtectionOnboardingStateSummary/advancedThreatProtectionOnboardingDeviceSettingStates:
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingDeviceSettingStates from deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_ListAdvancedThreatProtectionOnboardingDeviceSettingState
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingStateCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Create new navigation property to advancedThreatProtectionOnboardingDeviceSettingStates for deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_CreateAdvancedThreatProtectionOnboardingDeviceSettingState
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/advancedThreatProtectionOnboardingStateSummary/advancedThreatProtectionOnboardingDeviceSettingStates/{advancedThreatProtectionOnboardingDeviceSettingState-id}':
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingDeviceSettingStates from deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_GetAdvancedThreatProtectionOnboardingDeviceSettingState
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: The unique identifier of advancedThreatProtectionOnboardingDeviceSettingState
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Update the navigation property advancedThreatProtectionOnboardingDeviceSettingStates in deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_UpdateAdvancedThreatProtectionOnboardingDeviceSettingState
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: The unique identifier of advancedThreatProtectionOnboardingDeviceSettingState
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Delete navigation property advancedThreatProtectionOnboardingDeviceSettingStates for deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_DeleteAdvancedThreatProtectionOnboardingDeviceSettingState
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: The unique identifier of advancedThreatProtectionOnboardingDeviceSettingState
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/advancedThreatProtectionOnboardingStateSummary/advancedThreatProtectionOnboardingDeviceSettingStates/$count:
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get the number of the resource
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary.advancedThreatProtectionOnboardingDeviceSettingState_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/androidForWorkAppConfigurationSchemas:
    get:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Get androidForWorkAppConfigurationSchemas from deviceManagement
      description: Android for Work app configuration schema entities.
      operationId: deviceManagement_ListAndroidGraphFPreWorkAppConfigurationSchema
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.androidForWorkAppConfigurationSchemaCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Create new navigation property to androidForWorkAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_CreateAndroidGraphFPreWorkAppConfigurationSchema
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidForWorkAppConfigurationSchemas/{androidForWorkAppConfigurationSchema-id}':
    get:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Get androidForWorkAppConfigurationSchemas from deviceManagement
      description: Android for Work app configuration schema entities.
      operationId: deviceManagement_GetAndroidGraphFPreWorkAppConfigurationSchema
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: The unique identifier of androidForWorkAppConfigurationSchema
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Update the navigation property androidForWorkAppConfigurationSchemas in deviceManagement
      operationId: deviceManagement_UpdateAndroidGraphFPreWorkAppConfigurationSchema
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: The unique identifier of androidForWorkAppConfigurationSchema
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Delete navigation property androidForWorkAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_DeleteAndroidGraphFPreWorkAppConfigurationSchema
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: The unique identifier of androidForWorkAppConfigurationSchema
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidForWorkAppConfigurationSchemas/$count:
    get:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Get the number of the resource
      operationId: deviceManagement.androidGraphFPreWorkAppConfigurationSchema_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/androidForWorkSettings:
    get:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Get androidForWorkSettings from deviceManagement
      description: The singleton Android for Work settings entity.
      operationId: deviceManagement_GetAndroidGraphFPreWorkSetting
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Update the navigation property androidForWorkSettings in deviceManagement
      operationId: deviceManagement_UpdateAndroidGraphFPreWorkSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Delete navigation property androidForWorkSettings for deviceManagement
      operationId: deviceManagement_DeleteAndroidGraphFPreWorkSetting
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings:
    get:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Get androidManagedStoreAccountEnterpriseSettings from deviceManagement
      description: The singleton Android managed store account enterprise settings entity.
      operationId: deviceManagement_GetAndroidManagedStoreAccountEnterpriseSetting
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Update the navigation property androidManagedStoreAccountEnterpriseSettings in deviceManagement
      operationId: deviceManagement_UpdateAndroidManagedStoreAccountEnterpriseSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Delete navigation property androidManagedStoreAccountEnterpriseSettings for deviceManagement
      operationId: deviceManagement_DeleteAndroidManagedStoreAccountEnterpriseSetting
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidManagedStoreAppConfigurationSchemas:
    get:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Get androidManagedStoreAppConfigurationSchemas from deviceManagement
      description: Android Enterprise app configuration schema entities.
      operationId: deviceManagement_ListAndroidManagedStoreAppConfigurationSchema
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.androidManagedStoreAppConfigurationSchemaCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Create new navigation property to androidManagedStoreAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_CreateAndroidManagedStoreAppConfigurationSchema
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidManagedStoreAppConfigurationSchemas/{androidManagedStoreAppConfigurationSchema-id}':
    get:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Get androidManagedStoreAppConfigurationSchemas from deviceManagement
      description: Android Enterprise app configuration schema entities.
      operationId: deviceManagement_GetAndroidManagedStoreAppConfigurationSchema
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: The unique identifier of androidManagedStoreAppConfigurationSchema
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Update the navigation property androidManagedStoreAppConfigurationSchemas in deviceManagement
      operationId: deviceManagement_UpdateAndroidManagedStoreAppConfigurationSchema
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: The unique identifier of androidManagedStoreAppConfigurationSchema
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Delete navigation property androidManagedStoreAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_DeleteAndroidManagedStoreAppConfigurationSchema
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: The unique identifier of androidManagedStoreAppConfigurationSchema
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidManagedStoreAppConfigurationSchemas/$count:
    get:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Get the number of the resource
      operationId: deviceManagement.androidManagedStoreAppConfigurationSchema_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/assignmentFilters:
    get:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Get assignmentFilters from deviceManagement
      description: The list of assignment filters
      operationId: deviceManagement_ListAssignmentFilter
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceAndAppManagementAssignmentFilterCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Create new navigation property to assignmentFilters for deviceManagement
      operationId: deviceManagement_CreateAssignmentFilter
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/assignmentFilters/{deviceAndAppManagementAssignmentFilter-id}':
    get:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Get assignmentFilters from deviceManagement
      description: The list of assignment filters
      operationId: deviceManagement_GetAssignmentFilter
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: The unique identifier of deviceAndAppManagementAssignmentFilter
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Update the navigation property assignmentFilters in deviceManagement
      operationId: deviceManagement_UpdateAssignmentFilter
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: The unique identifier of deviceAndAppManagementAssignmentFilter
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Delete navigation property assignmentFilters for deviceManagement
      operationId: deviceManagement_DeleteAssignmentFilter
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: The unique identifier of deviceAndAppManagementAssignmentFilter
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/assignmentFilters/$count:
    get:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Get the number of the resource
      operationId: deviceManagement.assignmentFilter_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/categories:
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get categories from deviceManagement
      description: The available categories
      operationId: deviceManagement_ListCategory
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementSettingCategoryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Create new navigation property to categories for deviceManagement
      operationId: deviceManagement_CreateCategory
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/categories/{deviceManagementSettingCategory-id}':
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get categories from deviceManagement
      description: The available categories
      operationId: deviceManagement_GetCategory
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: The unique identifier of deviceManagementSettingCategory
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Update the navigation property categories in deviceManagement
      operationId: deviceManagement_UpdateCategory
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: The unique identifier of deviceManagementSettingCategory
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Delete navigation property categories for deviceManagement
      operationId: deviceManagement_DeleteCategory
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: The unique identifier of deviceManagementSettingCategory
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/categories/{deviceManagementSettingCategory-id}/settingDefinitions':
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get settingDefinitions from deviceManagement
      description: The setting definitions this category contains
      operationId: deviceManagement.category_ListSettingDefinition
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: The unique identifier of deviceManagementSettingCategory
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementSettingDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Create new navigation property to settingDefinitions for deviceManagement
      operationId: deviceManagement.category_CreateSettingDefinition
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: The unique identifier of deviceManagementSettingCategory
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/categories/{deviceManagementSettingCategory-id}/settingDefinitions/{deviceManagementSettingDefinition-id}':
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get settingDefinitions from deviceManagement
      description: The setting definitions this category contains
      operationId: deviceManagement.category_GetSettingDefinition
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: The unique identifier of deviceManagementSettingCategory
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: deviceManagementSettingDefinition-id
          in: path
          description: The unique identifier of deviceManagementSettingDefinition
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Update the navigation property settingDefinitions in deviceManagement
      operationId: deviceManagement.category_UpdateSettingDefinition
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: The unique identifier of deviceManagementSettingCategory
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: deviceManagementSettingDefinition-id
          in: path
          description: The unique identifier of deviceManagementSettingDefinition
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Delete navigation property settingDefinitions for deviceManagement
      operationId: deviceManagement.category_DeleteSettingDefinition
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: The unique identifier of deviceManagementSettingCategory
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: deviceManagementSettingDefinition-id
          in: path
          description: The unique identifier of deviceManagementSettingDefinition
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingDefinition
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/categories/{deviceManagementSettingCategory-id}/settingDefinitions/$count':
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get the number of the resource
      operationId: deviceManagement.category.settingDefinition_GetCount
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: The unique identifier of deviceManagementSettingCategory
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/categories/$count:
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get the number of the resource
      operationId: deviceManagement.category_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/comanagedDevices:
    get:
      tags:
        - deviceManagement.managedDevice
      summary: Get comanagedDevices from deviceManagement
      description: The list of co-managed devices report
      operationId: deviceManagement_ListComanagedDevice
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedDeviceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.managedDevice
      summary: Create new navigation property to comanagedDevices for deviceManagement
      operationId: deviceManagement_CreateComanagedDevice
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedDevice'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedDevice'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/comanagedDevices/{managedDevice-id}':
    get:
      tags:
        - deviceManagement.managedDevice
      summary: Get comanagedDevices from deviceManagement
      description: The list of co-managed devices report
      operationId: deviceManagement_GetComanagedDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedDevice'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.managedDevice
      summary: Update the navigation property comanagedDevices in deviceManagement
      operationId: deviceManagement_UpdateComanagedDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedDevice'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedDevice'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.managedDevice
      summary: Delete navigation property comanagedDevices for deviceManagement
      operationId: deviceManagement_DeleteComanagedDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/comanagedDevices/{managedDevice-id}/assignmentFilterEvaluationStatusDetails':
    get:
      tags:
        - deviceManagement.managedDevice
      summary: Get assignmentFilterEvaluationStatusDetails from deviceManagement
      description: Managed device mobile app configuration states for this device.
      operationId: deviceManagement.comanagedDevice_ListAssignmentFilterEvaluationStatusDetail
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.assignmentFilterEvaluationStatusDetailsCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.managedDevice
      summary: Create new navigation property to assignmentFilterEvaluationStatusDetails for deviceManagement
      operationId: deviceManagement.comanagedDevice_CreateAssignmentFilterEvaluationStatusDetail
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.assignmentFilterEvaluationStatusDetails'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.assignmentFilterEvaluationStatusDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/comanagedDevices/{managedDevice-id}/assignmentFilterEvaluationStatusDetails/{assignmentFilterEvaluationStatusDetails-id}':
    get:
      tags:
        - deviceManagement.managedDevice
      summary: Get assignmentFilterEvaluationStatusDetails from deviceManagement
      description: Managed device mobile app configuration states for this device.
      operationId: deviceManagement.comanagedDevice_GetAssignmentFilterEvaluationStatusDetail
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: assignmentFilterEvaluationStatusDetails-id
          in: path
          description: The unique identifier of assignmentFilterEvaluationStatusDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: assignmentFilterEvaluationStatusDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.assignmentFilterEvaluationStatusDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.managedDevice
      summary: Update the navigation property assignmentFilterEvaluationStatusDetails in deviceManagement
      operationId: deviceManagement.comanagedDevice_UpdateAssignmentFilterEvaluationStatusDetail
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: assignmentFilterEvaluationStatusDetails-id
          in: path
          description: The unique identifier of assignmentFilterEvaluationStatusDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: assignmentFilterEvaluationStatusDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.assignmentFilterEvaluationStatusDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.assignmentFilterEvaluationStatusDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.managedDevice
      summary: Delete navigation property assignmentFilterEvaluationStatusDetails for deviceManagement
      operationId: deviceManagement.comanagedDevice_DeleteAssignmentFilterEvaluationStatusDetail
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: assignmentFilterEvaluationStatusDetails-id
          in: path
          description: The unique identifier of assignmentFilterEvaluationStatusDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: assignmentFilterEvaluationStatusDetails
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/comanagedDevices/{managedDevice-id}/assignmentFilterEvaluationStatusDetails/$count':
    get:
      tags:
        - deviceManagement.managedDevice
      summary: Get the number of the resource
      operationId: deviceManagement.comanagedDevice.assignmentFilterEvaluationStatusDetail_GetCount
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceManagement/comanagedDevices/{managedDevice-id}/detectedApps':
    get:
      tags:
        - deviceManagement.managedDevice
      summary: Get detectedApps from deviceManagement
      description: All applications currently installed on the device
      operationId: deviceManagement.comanagedDevice_ListDetectedApp
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.detectedAppCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/deviceManagement/comanagedDevices/{managedDevice-id}/detectedApps/{detectedApp-id}':
    get:
      tags:
        - deviceManagement.managedDevice
      summary: Get detectedApps from deviceManagement
      description: All applications currently installed on the device
      operationId: deviceManagement.comanagedDevice_GetDetectedApp
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: detectedApp-id
          in: path
          description: The unique identifier of detectedApp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: detectedApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
[...]
