openapi: 3.0.1
info:
  title: DeviceManagement.Actions
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceManagement/microsoft.graph.enableAndroidDeviceAdministratorEnrollment:
    post:
      tags:
        - deviceManagement.deviceManagement.Actions
      summary: Invoke action enableAndroidDeviceAdministratorEnrollment
      operationId: deviceManagement_enableAndroidDeviceAdministratorEnrollment
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/microsoft.graph.enableEndpointPrivilegeManagement:
    post:
      tags:
        - deviceManagement.deviceManagement.Actions
      summary: Invoke action enableEndpointPrivilegeManagement
      description: DEPRECATED - DO NOT USE. (Triggers onboarding of tenant to Microsoft Managed Platform - Cloud (MMP-C)).
      operationId: deviceManagement_enableEndpointPrivilegeManagement
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/microsoft.graph.enableLegacyPcManagement:
    post:
      tags:
        - deviceManagement.deviceManagement.Actions
      summary: Invoke action enableLegacyPcManagement
      operationId: deviceManagement_enableLegacyPcManagement
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/microsoft.graph.enableUnlicensedAdminstrators:
    post:
      tags:
        - deviceManagement.deviceManagement.Actions
      summary: Invoke action enableUnlicensedAdminstrators
      description: 'Upon enabling, users assigned as administrators via Role Assignment Memberships will no longer require an assigned Intune license. You are limited to 350 unlicensed direct members for each AAD security group in a role assignment, but you can assign multiple AAD security groups to a role if you need to support more than 350 unlicensed administrators. Licensed administrators will continue to function as-is in that transitive memberships apply and are not subject to the 350 member limit.'
      operationId: deviceManagement_enableUnlicensedAdminstrator
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/microsoft.graph.evaluateAssignmentFilter:
    post:
      tags:
        - deviceManagement.deviceManagement.Actions
      summary: Invoke action evaluateAssignmentFilter
      operationId: deviceManagement_evaluateAssignmentFilter
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/microsoft.graph.assignmentFilterEvaluateRequest'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/microsoft.graph.getAssignmentFiltersStatusDetails:
    post:
      tags:
        - deviceManagement.deviceManagement.Actions
      summary: Invoke action getAssignmentFiltersStatusDetails
      operationId: deviceManagement_getAssignmentFiltersStatusDetail
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                managedDeviceId:
                  type: string
                  nullable: true
                payloadId:
                  type: string
                  nullable: true
                userId:
                  type: string
                  nullable: true
                assignmentFilterIds:
                  type: array
                  items:
                    type: string
                    nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.assignmentFilterStatusDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/microsoft.graph.sendCustomNotificationToCompanyPortal:
    post:
      tags:
        - deviceManagement.deviceManagement.Actions
      summary: Invoke action sendCustomNotificationToCompanyPortal
      operationId: deviceManagement_sendCustomNotificationToCompanyPortal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                notificationTitle:
                  type: string
                  nullable: true
                notificationBody:
                  type: string
                  nullable: true
                groupsToNotify:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.assignmentFilterEvaluateRequest:
      title: assignmentFilterEvaluateRequest
      type: object
      properties:
        orderBy:
          type: array
          items:
            type: string
            nullable: true
          description: Order the devices should be sorted in. Default is ascending on device name.
        platform:
          $ref: '#/components/schemas/microsoft.graph.devicePlatformType'
        rule:
          type: string
          description: Rule definition of the Assignment Filter.
        search:
          type: string
          description: Search keyword applied to scope found devices.
          nullable: true
        skip:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: Number of records to skip. Default value is 0
          format: int32
        top:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: 'Limit of records per request. Default value is 100, if provided less than 0 or greater than 100'
          format: int32
      additionalProperties:
        type: object
      description: Request for assignment filter evaluation for devices.
    microsoft.graph.assignmentFilterStatusDetails:
      title: assignmentFilterStatusDetails
      type: object
      properties:
        deviceProperties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.keyValuePair'
          description: Device properties used for filter evaluation during device check-in time.
        evalutionSummaries:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.assignmentFilterEvaluationSummary'
          description: Evaluation result summaries for each filter associated to device and payload
        managedDeviceId:
          type: string
          description: Unique identifier for the device object.
          nullable: true
        payloadId:
          type: string
          description: Unique identifier for payload object.
          nullable: true
        userId:
          type: string
          description: Unique identifier for UserId object. Can be null
          nullable: true
      additionalProperties:
        type: object
      description: Represent status details for device and payload and all associated applied filters.
    microsoft.graph.devicePlatformType:
      title: devicePlatformType
      enum:
        - android
        - androidForWork
        - iOS
        - macOS
        - windowsPhone81
        - windows81AndLater
        - windows10AndLater
        - androidWorkProfile
        - unknown
        - androidAOSP
        - androidMobileApplicationManagement
        - iOSMobileApplicationManagement
        - unknownFutureValue
        - windowsMobileApplicationManagement
      type: string
      description: Supported platform types.
      x-ms-enum:
        name: devicePlatformType
        modelAsString: false
        values:
          - value: android
            description: Android.
            name: android
          - value: androidForWork
            description: AndroidForWork.
            name: androidForWork
          - value: iOS
            description: iOS.
            name: iOS
          - value: macOS
            description: MacOS.
            name: macOS
          - value: windowsPhone81
            description: WindowsPhone 8.1.
            name: windowsPhone81
          - value: windows81AndLater
            description: Windows 8.1 and later
            name: windows81AndLater
          - value: windows10AndLater
            description: Windows 10 and later.
            name: windows10AndLater
          - value: androidWorkProfile
            description: Android Work Profile.
            name: androidWorkProfile
          - value: unknown
            description: Unknown.
            name: unknown
          - value: androidAOSP
            description: Android AOSP.
            name: androidAOSP
          - value: androidMobileApplicationManagement
            description: Indicates Mobile Application Management (MAM) for android devices.
            name: androidMobileApplicationManagement
          - value: iOSMobileApplicationManagement
            description: Indicates Mobile Application Management (MAM) for iOS devices
            name: iOSMobileApplicationManagement
          - value: unknownFutureValue
            description: Evolvable enumeration sentinel value. Do not use
            name: unknownFutureValue
          - value: windowsMobileApplicationManagement
            description: Indicates Mobile Application Management (MAM) for Windows devices.
            name: windowsMobileApplicationManagement
    microsoft.graph.keyValuePair:
      title: keyValuePair
      type: object
      properties:
        name:
          type: string
          description: Name for this key-value pair
        value:
          type: string
          description: Value for this key-value pair
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.assignmentFilterEvaluationSummary:
      title: assignmentFilterEvaluationSummary
      type: object
      properties:
        assignmentFilterDisplayName:
          type: string
          description: The admin defined name for assignment filter.
          nullable: true
        assignmentFilterId:
          type: string
          description: Unique identifier for the assignment filter object
          nullable: true
        assignmentFilterLastModifiedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: The time the assignment filter was last modified.
          format: date-time
        assignmentFilterPlatform:
          $ref: '#/components/schemas/microsoft.graph.devicePlatformType'
        assignmentFilterType:
          $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilterType'
        assignmentFilterTypeAndEvaluationResults:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.assignmentFilterTypeAndEvaluationResult'
          description: A collection of filter types and their corresponding evaluation results.
        evaluationDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: The time assignment filter was evaluated.
          format: date-time
        evaluationResult:
          $ref: '#/components/schemas/microsoft.graph.assignmentFilterEvaluationResult'
      additionalProperties:
        type: object
      description: Represent result summary for assignment filter evaluation
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.deviceAndAppManagementAssignmentFilterType:
      title: deviceAndAppManagementAssignmentFilterType
      enum:
        - none
        - include
        - exclude
      type: string
      description: Represents type of the assignment filter.
      x-ms-enum:
        name: deviceAndAppManagementAssignmentFilterType
        modelAsString: false
        values:
          - value: none
            description: Default value. Do not use.
            name: none
          - value: include
            description: 'Indicates in-filter, rule matching will offer the payload to devices.'
            name: include
          - value: exclude
            description: 'Indicates out-filter, rule matching will not offer the payload to devices.'
            name: exclude
    microsoft.graph.assignmentFilterTypeAndEvaluationResult:
      title: assignmentFilterTypeAndEvaluationResult
      type: object
      properties:
        assignmentFilterType:
          $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilterType'
        evaluationResult:
          $ref: '#/components/schemas/microsoft.graph.assignmentFilterEvaluationResult'
      additionalProperties:
        type: object
      description: Represents the filter type and evalaution result of the filter.
    microsoft.graph.assignmentFilterEvaluationResult:
      title: assignmentFilterEvaluationResult
      enum:
        - unknown
        - match
        - notMatch
        - inconclusive
        - failure
        - notEvaluated
      type: string
      description: Supported evaluation results for filter.
      x-ms-enum:
        name: assignmentFilterEvaluationResult
        modelAsString: false
        values:
          - value: unknown
            description: Unknown.
            name: unknown
          - value: match
            description: Match.
            name: match
          - value: notMatch
            description: NotMatch.
            name: notMatch
          - value: inconclusive
            description: Inconclusive.
            name: inconclusive
          - value: failure
            description: Failure.
            name: failure
          - value: notEvaluated
            description: NotEvaluated.
            name: notEvaluated
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]
