openapi: 3.0.1
info:
  title: DeviceManagement.Enrolment
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceManagement/androidDeviceOwnerEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Get androidDeviceOwnerEnrollmentProfiles from deviceManagement
      description: Android device owner enrollment profile entities.
      operationId: deviceManagement_ListAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountId
                - accountId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enrolledDeviceCount
                - enrolledDeviceCount desc
                - enrollmentMode
                - enrollmentMode desc
                - enrollmentTokenType
                - enrollmentTokenType desc
                - enrollmentTokenUsageCount
                - enrollmentTokenUsageCount desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - qrCodeContent
                - qrCodeContent desc
                - qrCodeImage
                - qrCodeImage desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - tokenCreationDateTime
                - tokenCreationDateTime desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenValue
                - tokenValue desc
                - wifiHidden
                - wifiHidden desc
                - wifiPassword
                - wifiPassword desc
                - wifiSecurityType
                - wifiSecurityType desc
                - wifiSsid
                - wifiSsid desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - enrollmentMode
                - enrollmentTokenType
                - enrollmentTokenUsageCount
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - roleScopeTagIds
                - tokenCreationDateTime
                - tokenExpirationDateTime
                - tokenValue
                - wifiHidden
                - wifiPassword
                - wifiSecurityType
                - wifiSsid
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.androidDeviceOwnerEnrollmentProfileCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Create new navigation property to androidDeviceOwnerEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAndroidDeviceOwnerEnrollmentProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidDeviceOwnerEnrollmentProfiles/{androidDeviceOwnerEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Get androidDeviceOwnerEnrollmentProfiles from deviceManagement
      description: Android device owner enrollment profile entities.
      operationId: deviceManagement_GetAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - enrollmentMode
                - enrollmentTokenType
                - enrollmentTokenUsageCount
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - roleScopeTagIds
                - tokenCreationDateTime
                - tokenExpirationDateTime
                - tokenValue
                - wifiHidden
                - wifiPassword
                - wifiSecurityType
                - wifiSsid
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Update the navigation property androidDeviceOwnerEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAndroidDeviceOwnerEnrollmentProfiles
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidDeviceOwnerEnrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidDeviceOwnerEnrollmentProfile
      summary: Delete navigation property androidDeviceOwnerEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAndroidDeviceOwnerEnrollmentProfiles
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidForWorkEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Get androidForWorkEnrollmentProfiles from deviceManagement
      description: Android for Work enrollment profile entities.
      operationId: deviceManagement_ListAndroidForWorkEnrollmentProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountId
                - accountId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enrolledDeviceCount
                - enrolledDeviceCount desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - qrCodeContent
                - qrCodeContent desc
                - qrCodeImage
                - qrCodeImage desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenValue
                - tokenValue desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.androidForWorkEnrollmentProfileCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Create new navigation property to androidForWorkEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAndroidForWorkEnrollmentProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidForWorkEnrollmentProfiles/{androidForWorkEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Get androidForWorkEnrollmentProfiles from deviceManagement
      description: Android for Work enrollment profile entities.
      operationId: deviceManagement_GetAndroidForWorkEnrollmentProfiles
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountId
                - createdDateTime
                - description
                - displayName
                - enrolledDeviceCount
                - lastModifiedDateTime
                - qrCodeContent
                - qrCodeImage
                - tokenExpirationDateTime
                - tokenValue
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Update the navigation property androidForWorkEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAndroidForWorkEnrollmentProfiles
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkEnrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkEnrollmentProfile
      summary: Delete navigation property androidForWorkEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAndroidForWorkEnrollmentProfiles
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/appleUserInitiatedEnrollmentProfiles:
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get appleUserInitiatedEnrollmentProfiles from deviceManagement
      description: Apple user initiated enrollment profiles
      operationId: deviceManagement_ListAppleUserInitiatedEnrollmentProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - availableEnrollmentTypeOptions
                - availableEnrollmentTypeOptions desc
                - createdDateTime
                - createdDateTime desc
                - defaultEnrollmentType
                - defaultEnrollmentType desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - platform
                - platform desc
                - priority
                - priority desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - availableEnrollmentTypeOptions
                - createdDateTime
                - defaultEnrollmentType
                - description
                - displayName
                - lastModifiedDateTime
                - platform
                - priority
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.appleUserInitiatedEnrollmentProfileCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Create new navigation property to appleUserInitiatedEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_CreateAppleUserInitiatedEnrollmentProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get appleUserInitiatedEnrollmentProfiles from deviceManagement
      description: Apple user initiated enrollment profiles
      operationId: deviceManagement_GetAppleUserInitiatedEnrollmentProfiles
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - availableEnrollmentTypeOptions
                - createdDateTime
                - defaultEnrollmentType
                - description
                - displayName
                - lastModifiedDateTime
                - platform
                - priority
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
          links:
            assignments:
              operationId: deviceManagement.AppleUserInitiatedEnrollmentProfiles.ListAssignments
              parameters:
                appleUserInitiatedEnrollmentProfile-id: $request.path.appleUserInitiatedEnrollmentProfile-id
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Update the navigation property appleUserInitiatedEnrollmentProfiles in deviceManagement
      operationId: deviceManagement_UpdateAppleUserInitiatedEnrollmentProfiles
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleUserInitiatedEnrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Delete navigation property appleUserInitiatedEnrollmentProfiles for deviceManagement
      operationId: deviceManagement_DeleteAppleUserInitiatedEnrollmentProfiles
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}/assignments':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get assignments from deviceManagement
      description: The list of assignments for this profile.
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_ListAssignments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - target
                - target desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.appleEnrollmentProfileAssignmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Create new navigation property to assignments for deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_CreateAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/appleUserInitiatedEnrollmentProfiles/{appleUserInitiatedEnrollmentProfile-id}/assignments/{appleEnrollmentProfileAssignment-id}':
    get:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Get assignments from deviceManagement
      description: The list of assignments for this profile.
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_GetAssignments
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Update the navigation property assignments in deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_UpdateAssignments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appleEnrollmentProfileAssignment'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.appleUserInitiatedEnrollmentProfile
      summary: Delete navigation property assignments for deviceManagement
      operationId: deviceManagement.appleUserInitiatedEnrollmentProfiles_DeleteAssignments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/autopilotEvents:
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get autopilotEvents from deviceManagement
      description: The list of autopilot events for the tenant.
      operationId: deviceManagement_ListAutopilotEvents
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accountSetupDuration
                - accountSetupDuration desc
                - accountSetupStatus
                - accountSetupStatus desc
                - deploymentDuration
                - deploymentDuration desc
                - deploymentEndDateTime
                - deploymentEndDateTime desc
                - deploymentStartDateTime
                - deploymentStartDateTime desc
                - deploymentState
                - deploymentState desc
                - deploymentTotalDuration
                - deploymentTotalDuration desc
                - deviceId
                - deviceId desc
                - devicePreparationDuration
                - devicePreparationDuration desc
                - deviceRegisteredDateTime
                - deviceRegisteredDateTime desc
                - deviceSerialNumber
                - deviceSerialNumber desc
                - deviceSetupDuration
                - deviceSetupDuration desc
                - deviceSetupStatus
                - deviceSetupStatus desc
                - enrollmentFailureDetails
                - enrollmentFailureDetails desc
                - enrollmentStartDateTime
                - enrollmentStartDateTime desc
                - enrollmentState
                - enrollmentState desc
                - enrollmentType
                - enrollmentType desc
                - eventDateTime
                - eventDateTime desc
                - managedDeviceName
                - managedDeviceName desc
                - osVersion
                - osVersion desc
                - targetedAppCount
                - targetedAppCount desc
                - targetedPolicyCount
                - targetedPolicyCount desc
                - userPrincipalName
                - userPrincipalName desc
                - windows10EnrollmentCompletionPageConfigurationDisplayName
                - windows10EnrollmentCompletionPageConfigurationDisplayName desc
                - windows10EnrollmentCompletionPageConfigurationId
                - windows10EnrollmentCompletionPageConfigurationId desc
                - windowsAutopilotDeploymentProfileDisplayName
                - windowsAutopilotDeploymentProfileDisplayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountSetupDuration
                - accountSetupStatus
                - deploymentDuration
                - deploymentEndDateTime
                - deploymentStartDateTime
                - deploymentState
                - deploymentTotalDuration
                - deviceId
                - devicePreparationDuration
                - deviceRegisteredDateTime
                - deviceSerialNumber
                - deviceSetupDuration
                - deviceSetupStatus
                - enrollmentFailureDetails
                - enrollmentStartDateTime
                - enrollmentState
                - enrollmentType
                - eventDateTime
                - managedDeviceName
                - osVersion
                - targetedAppCount
                - targetedPolicyCount
                - userPrincipalName
                - windows10EnrollmentCompletionPageConfigurationDisplayName
                - windows10EnrollmentCompletionPageConfigurationId
                - windowsAutopilotDeploymentProfileDisplayName
                - policyStatusDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - policyStatusDetails
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceManagementAutopilotEventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Create new navigation property to autopilotEvents for deviceManagement
      operationId: deviceManagement_CreateAutopilotEvents
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/autopilotEvents/{deviceManagementAutopilotEvent-id}':
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get autopilotEvents from deviceManagement
      description: The list of autopilot events for the tenant.
      operationId: deviceManagement_GetAutopilotEvents
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accountSetupDuration
                - accountSetupStatus
                - deploymentDuration
                - deploymentEndDateTime
                - deploymentStartDateTime
                - deploymentState
                - deploymentTotalDuration
                - deviceId
                - devicePreparationDuration
                - deviceRegisteredDateTime
                - deviceSerialNumber
                - deviceSetupDuration
                - deviceSetupStatus
                - enrollmentFailureDetails
                - enrollmentStartDateTime
                - enrollmentState
                - enrollmentType
                - eventDateTime
                - managedDeviceName
                - osVersion
                - targetedAppCount
                - targetedPolicyCount
                - userPrincipalName
                - windows10EnrollmentCompletionPageConfigurationDisplayName
                - windows10EnrollmentCompletionPageConfigurationId
                - windowsAutopilotDeploymentProfileDisplayName
                - policyStatusDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - policyStatusDetails
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
          links:
            policyStatusDetails:
              operationId: deviceManagement.AutopilotEvents.ListPolicyStatusDetails
              parameters:
                deviceManagementAutopilotEvent-id: $request.path.deviceManagementAutopilotEvent-id
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Update the navigation property autopilotEvents in deviceManagement
      operationId: deviceManagement_UpdateAutopilotEvents
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotEvent'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Delete navigation property autopilotEvents for deviceManagement
      operationId: deviceManagement_DeleteAutopilotEvents
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/autopilotEvents/{deviceManagementAutopilotEvent-id}/policyStatusDetails':
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get policyStatusDetails from deviceManagement
      description: Policy and application status details for this device.
      operationId: deviceManagement.autopilotEvents_ListPolicyStatusDetails
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - complianceStatus
                - complianceStatus desc
                - displayName
                - displayName desc
                - errorCode
                - errorCode desc
                - lastReportedDateTime
                - lastReportedDateTime desc
                - policyType
                - policyType desc
                - trackedOnEnrollmentStatus
                - trackedOnEnrollmentStatus desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceStatus
                - displayName
                - errorCode
                - lastReportedDateTime
                - policyType
                - trackedOnEnrollmentStatus
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceManagementAutopilotPolicyStatusDetailCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Create new navigation property to policyStatusDetails for deviceManagement
      operationId: deviceManagement.autopilotEvents_CreatePolicyStatusDetails
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/autopilotEvents/{deviceManagementAutopilotEvent-id}/policyStatusDetails/{deviceManagementAutopilotPolicyStatusDetail-id}':
    get:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Get policyStatusDetails from deviceManagement
      description: Policy and application status details for this device.
      operationId: deviceManagement.autopilotEvents_GetPolicyStatusDetails
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceStatus
                - displayName
                - errorCode
                - lastReportedDateTime
                - policyType
                - trackedOnEnrollmentStatus
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Update the navigation property policyStatusDetails in deviceManagement
      operationId: deviceManagement.autopilotEvents_UpdatePolicyStatusDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementAutopilotPolicyStatusDetail'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementAutopilotEvent
      summary: Delete navigation property policyStatusDetails for deviceManagement
      operationId: deviceManagement.autopilotEvents_DeletePolicyStatusDetails
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/conditionalAccessSettings:
    get:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Get conditionalAccessSettings from deviceManagement
      description: The Exchange on premises conditional access settings. On premises conditional access will require devices to be both enrolled and compliant for mail access
      operationId: deviceManagement_GetConditionalAccessSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - enabled
                - excludedGroups
                - includedGroups
                - overrideDefaultRule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Update the navigation property conditionalAccessSettings in deviceManagement
      operationId: deviceManagement_UpdateConditionalAccessSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Delete navigation property conditionalAccessSettings for deviceManagement
      operationId: deviceManagement_DeleteConditionalAccessSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/depOnboardingSettings:
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get depOnboardingSettings from deviceManagement
      description: This collections of multiple DEP tokens per-tenant.
      operationId: deviceManagement_ListDepOnboardingSettings
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appleIdentifier
                - appleIdentifier desc
                - dataSharingConsentGranted
                - dataSharingConsentGranted desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastSuccessfulSyncDateTime
                - lastSuccessfulSyncDateTime desc
                - lastSyncErrorCode
                - lastSyncErrorCode desc
                - lastSyncTriggeredDateTime
                - lastSyncTriggeredDateTime desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - shareTokenWithSchoolDataSyncService
                - shareTokenWithSchoolDataSyncService desc
                - syncedDeviceCount
                - syncedDeviceCount desc
                - tokenExpirationDateTime
                - tokenExpirationDateTime desc
                - tokenName
                - tokenName desc
                - tokenType
                - tokenType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appleIdentifier
                - dataSharingConsentGranted
                - lastModifiedDateTime
                - lastSuccessfulSyncDateTime
                - lastSyncErrorCode
                - lastSyncTriggeredDateTime
                - roleScopeTagIds
                - shareTokenWithSchoolDataSyncService
                - syncedDeviceCount
                - tokenExpirationDateTime
                - tokenName
                - tokenType
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.depOnboardingSettingCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Create new navigation property to depOnboardingSettings for deviceManagement
      operationId: deviceManagement_CreateDepOnboardingSettings
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get depOnboardingSettings from deviceManagement
      description: This collections of multiple DEP tokens per-tenant.
      operationId: deviceManagement_GetDepOnboardingSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appleIdentifier
                - dataSharingConsentGranted
                - lastModifiedDateTime
                - lastSuccessfulSyncDateTime
                - lastSyncErrorCode
                - lastSyncTriggeredDateTime
                - roleScopeTagIds
                - shareTokenWithSchoolDataSyncService
                - syncedDeviceCount
                - tokenExpirationDateTime
                - tokenName
                - tokenType
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - defaultIosEnrollmentProfile
                - defaultMacOsEnrollmentProfile
                - enrollmentProfiles
                - importedAppleDeviceIdentities
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
          links:
            defaultIosEnrollmentProfile:
              operationId: deviceManagement.DepOnboardingSettings.GetDefaultIosEnrollmentProfile
              parameters:
                depOnboardingSetting-id: $request.path.depOnboardingSetting-id
            defaultMacOsEnrollmentProfile:
              operationId: deviceManagement.DepOnboardingSettings.GetDefaultMacOsEnrollmentProfile
              parameters:
                depOnboardingSetting-id: $request.path.depOnboardingSetting-id
            enrollmentProfiles:
              operationId: deviceManagement.DepOnboardingSettings.ListEnrollmentProfiles
              parameters:
                depOnboardingSetting-id: $request.path.depOnboardingSetting-id
            importedAppleDeviceIdentities:
              operationId: deviceManagement.DepOnboardingSettings.ListImportedAppleDeviceIdentities
              parameters:
                depOnboardingSetting-id: $request.path.depOnboardingSetting-id
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the navigation property depOnboardingSettings in deviceManagement
      operationId: deviceManagement_UpdateDepOnboardingSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.depOnboardingSetting'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete navigation property depOnboardingSettings for deviceManagement
      operationId: deviceManagement_DeleteDepOnboardingSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/defaultIosEnrollmentProfile':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get defaultIosEnrollmentProfile from deviceManagement
      description: Default iOS Enrollment Profile
      operationId: deviceManagement.depOnboardingSettings_GetDefaultIosEnrollmentProfile
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
                - appleIdDisabled
                - applePayDisabled
                - configurationWebUrl
                - deviceNameTemplate
                - diagnosticsDisabled
                - displayToneSetupDisabled
                - isDefault
                - isMandatory
                - locationDisabled
                - privacyPaneDisabled
                - profileRemovalDisabled
                - restoreBlocked
                - screenTimeScreenDisabled
                - siriDisabled
                - supervisedModeEnabled
                - supportDepartment
                - supportPhoneNumber
                - termsAndConditionsDisabled
                - touchIdDisabled
                - appearanceScreenDisabled
                - awaitDeviceConfiguredConfirmation
                - carrierActivationUrl
                - companyPortalVppTokenId
                - deviceToDeviceMigrationDisabled
                - enableSharedIPad
                - enableSingleAppEnrollmentMode
                - expressLanguageScreenDisabled
                - forceTemporarySession
                - homeButtonScreenDisabled
                - iMessageAndFaceTimeScreenDisabled
                - iTunesPairingMode
                - managementCertificates
                - onBoardingScreenDisabled
                - passCodeDisabled
                - passcodeLockGracePeriodInSeconds
                - preferredLanguageScreenDisabled
                - restoreCompletedScreenDisabled
                - restoreFromAndroidDisabled
                - sharedIPadMaximumUserCount
                - simSetupScreenDisabled
                - softwareUpdateScreenDisabled
                - temporarySessionTimeoutInSeconds
                - updateCompleteScreenDisabled
                - userlessSharedAadModeEnabled
                - userSessionTimeoutInSeconds
                - watchMigrationScreenDisabled
                - welcomeScreenDisabled
                - zoomDisabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depIOSEnrollmentProfile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/defaultMacOsEnrollmentProfile':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get defaultMacOsEnrollmentProfile from deviceManagement
      description: Default MacOs Enrollment Profile
      operationId: deviceManagement.depOnboardingSettings_GetDefaultMacOsEnrollmentProfile
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
                - appleIdDisabled
                - applePayDisabled
                - configurationWebUrl
                - deviceNameTemplate
                - diagnosticsDisabled
                - displayToneSetupDisabled
                - isDefault
                - isMandatory
                - locationDisabled
                - privacyPaneDisabled
                - profileRemovalDisabled
                - restoreBlocked
                - screenTimeScreenDisabled
                - siriDisabled
                - supervisedModeEnabled
                - supportDepartment
                - supportPhoneNumber
                - termsAndConditionsDisabled
                - touchIdDisabled
                - accessibilityScreenDisabled
                - autoUnlockWithWatchDisabled
                - chooseYourLockScreenDisabled
                - fileVaultDisabled
                - iCloudDiagnosticsDisabled
                - iCloudStorageDisabled
                - passCodeDisabled
                - registrationDisabled
                - zoomDisabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.depMacOSEnrollmentProfile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get enrollmentProfiles from deviceManagement
      description: The enrollment profiles.
      operationId: deviceManagement.depOnboardingSettings_ListEnrollmentProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - configurationEndpointUrl
                - configurationEndpointUrl desc
                - description
                - description desc
                - displayName
                - displayName desc
                - enableAuthenticationViaCompanyPortal
                - enableAuthenticationViaCompanyPortal desc
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requireCompanyPortalOnSetupAssistantEnrolledDevices desc
                - requiresUserAuthentication
                - requiresUserAuthentication desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.enrollmentProfileCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Create new navigation property to enrollmentProfiles for deviceManagement
      operationId: deviceManagement.depOnboardingSettings_CreateEnrollmentProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/enrollmentProfiles/{enrollmentProfile-id}':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get enrollmentProfiles from deviceManagement
      description: The enrollment profiles.
      operationId: deviceManagement.depOnboardingSettings_GetEnrollmentProfiles
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationEndpointUrl
                - description
                - displayName
                - enableAuthenticationViaCompanyPortal
                - requireCompanyPortalOnSetupAssistantEnrolledDevices
                - requiresUserAuthentication
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the navigation property enrollmentProfiles in deviceManagement
      operationId: deviceManagement.depOnboardingSettings_UpdateEnrollmentProfiles
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentProfile'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete navigation property enrollmentProfiles for deviceManagement
      operationId: deviceManagement.depOnboardingSettings_DeleteEnrollmentProfiles
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/importedAppleDeviceIdentities':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get importedAppleDeviceIdentities from deviceManagement
      description: The imported Apple device identities.
      operationId: deviceManagement.depOnboardingSettings_ListImportedAppleDeviceIdentities
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - discoverySource
                - discoverySource desc
                - enrollmentState
                - enrollmentState desc
                - isDeleted
                - isDeleted desc
                - isSupervised
                - isSupervised desc
                - lastContactedDateTime
                - lastContactedDateTime desc
                - platform
                - platform desc
                - requestedEnrollmentProfileAssignmentDateTime
                - requestedEnrollmentProfileAssignmentDateTime desc
                - requestedEnrollmentProfileId
                - requestedEnrollmentProfileId desc
                - serialNumber
                - serialNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - discoverySource
                - enrollmentState
                - isDeleted
                - isSupervised
                - lastContactedDateTime
                - platform
                - requestedEnrollmentProfileAssignmentDateTime
                - requestedEnrollmentProfileId
                - serialNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.importedAppleDeviceIdentityCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Create new navigation property to importedAppleDeviceIdentities for deviceManagement
      operationId: deviceManagement.depOnboardingSettings_CreateImportedAppleDeviceIdentities
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/depOnboardingSettings/{depOnboardingSetting-id}/importedAppleDeviceIdentities/{importedAppleDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Get importedAppleDeviceIdentities from deviceManagement
      description: The imported Apple device identities.
      operationId: deviceManagement.depOnboardingSettings_GetImportedAppleDeviceIdentities
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - discoverySource
                - enrollmentState
                - isDeleted
                - isSupervised
                - lastContactedDateTime
                - platform
                - requestedEnrollmentProfileAssignmentDateTime
                - requestedEnrollmentProfileId
                - serialNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Update the navigation property importedAppleDeviceIdentities in deviceManagement
      operationId: deviceManagement.depOnboardingSettings_UpdateImportedAppleDeviceIdentities
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedAppleDeviceIdentity'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.depOnboardingSetting
      summary: Delete navigation property importedAppleDeviceIdentities for deviceManagement
      operationId: deviceManagement.depOnboardingSettings_DeleteImportedAppleDeviceIdentities
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceEnrollmentConfigurations:
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement_ListDeviceEnrollmentConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - deviceEnrollmentConfigurationType
                - deviceEnrollmentConfigurationType desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - priority
                - priority desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - deviceEnrollmentConfigurationType
                - displayName
                - lastModifiedDateTime
                - priority
                - roleScopeTagIds
                - version
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceEnrollmentConfigurationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create new navigation property to deviceEnrollmentConfigurations for deviceManagement
      operationId: deviceManagement_CreateDeviceEnrollmentConfigurations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement_GetDeviceEnrollmentConfigurations
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - deviceEnrollmentConfigurationType
                - displayName
                - lastModifiedDateTime
                - priority
                - roleScopeTagIds
                - version
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
          links:
            assignments:
              operationId: deviceManagement.DeviceEnrollmentConfigurations.ListAssignments
              parameters:
                deviceEnrollmentConfiguration-id: $request.path.deviceEnrollmentConfiguration-id
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Update the navigation property deviceEnrollmentConfigurations in deviceManagement
      operationId: deviceManagement_UpdateDeviceEnrollmentConfigurations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Delete navigation property deviceEnrollmentConfigurations for deviceManagement
      operationId: deviceManagement_DeleteDeviceEnrollmentConfigurations
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get assignments from deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations_ListAssignments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - source
                - source desc
                - sourceId
                - sourceId desc
                - target
                - target desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - source
                - sourceId
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.enrollmentConfigurationAssignmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create new navigation property to assignments for deviceManagement
      operationId: deviceManagement.deviceEnrollmentConfigurations_CreateAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments/{enrollmentConfigurationAssignment-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get assignments from deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations_GetAssignments
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - source
                - sourceId
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Update the navigation property assignments in deviceManagement
      operationId: deviceManagement.deviceEnrollmentConfigurations_UpdateAssignments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Delete navigation property assignments for deviceManagement
      operationId: deviceManagement.deviceEnrollmentConfigurations_DeleteAssignments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/importedDeviceIdentities:
    get:
      tags:
        - deviceManagement.importedDeviceIdentity
      summary: Get importedDeviceIdentities from deviceManagement
      description: The imported device identities.
      operationId: deviceManagement_ListImportedDeviceIdentities
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - enrollmentState
                - enrollmentState desc
                - importedDeviceIdentifier
                - importedDeviceIdentifier desc
                - importedDeviceIdentityType
                - importedDeviceIdentityType desc
                - lastContactedDateTime
                - lastContactedDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - platform
                - platform desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - enrollmentState
                - importedDeviceIdentifier
                - importedDeviceIdentityType
                - lastContactedDateTime
                - lastModifiedDateTime
                - platform
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.importedDeviceIdentityCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.importedDeviceIdentity
      summary: Create new navigation property to importedDeviceIdentities for deviceManagement
      operationId: deviceManagement_CreateImportedDeviceIdentities
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedDeviceIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/importedDeviceIdentities/{importedDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.importedDeviceIdentity
      summary: Get importedDeviceIdentities from deviceManagement
      description: The imported device identities.
      operationId: deviceManagement_GetImportedDeviceIdentities
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - enrollmentState
                - importedDeviceIdentifier
                - importedDeviceIdentityType
                - lastContactedDateTime
                - lastModifiedDateTime
                - platform
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.importedDeviceIdentity
      summary: Update the navigation property importedDeviceIdentities in deviceManagement
      operationId: deviceManagement_UpdateImportedDeviceIdentities
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedDeviceIdentity'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.importedDeviceIdentity
      summary: Delete navigation property importedDeviceIdentities for deviceManagement
      operationId: deviceManagement_DeleteImportedDeviceIdentities
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/importedWindowsAutopilotDeviceIdentities:
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Get importedWindowsAutopilotDeviceIdentities from deviceManagement
      description: Collection of imported Windows autopilot devices.
      operationId: deviceManagement_ListImportedWindowsAutopilotDeviceIdentities
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - assignedUserPrincipalName
                - assignedUserPrincipalName desc
                - groupTag
                - groupTag desc
                - hardwareIdentifier
                - hardwareIdentifier desc
                - importId
                - importId desc
                - productKey
                - productKey desc
                - serialNumber
                - serialNumber desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignedUserPrincipalName
                - groupTag
                - hardwareIdentifier
                - importId
                - productKey
                - serialNumber
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.importedWindowsAutopilotDeviceIdentityCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
[...]
