openapi: 3.0.1
info:
  title: Devices.CloudPrint
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /print:
    get:
      tags:
        - print.print
      summary: Get print
      operationId: print.print_GetPrint
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - settings
                - connectors
                - operations
                - printers
                - printerShares
                - reports
                - services
                - shares
                - taskDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - connectors
                - operations
                - printers
                - printerShares
                - reports
                - services
                - shares
                - taskDefinitions
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.print'
          links:
            connectors:
              operationId: print.ListConnectors
            operations:
              operationId: print.ListOperations
            printers:
              operationId: print.ListPrinters
            printerShares:
              operationId: print.ListPrinterShares
            reports:
              operationId: print.ListReports
            services:
              operationId: print.ListServices
            shares:
              operationId: print.ListShares
            taskDefinitions:
              operationId: print.ListTaskDefinitions
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.print
      summary: Update print
      operationId: print.print_UpdatePrint
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.print'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/connectors:
    get:
      tags:
        - print.printConnector
      summary: Get connectors from print
      operationId: print_ListConnectors
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appVersion
                - appVersion desc
                - deviceHealth
                - deviceHealth desc
                - fullyQualifiedDomainName
                - fullyQualifiedDomainName desc
                - location
                - location desc
                - name
                - name desc
                - operatingSystem
                - operatingSystem desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appVersion
                - deviceHealth
                - fullyQualifiedDomainName
                - location
                - name
                - operatingSystem
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printConnector'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printConnector
      summary: Create new navigation property to connectors for print
      operationId: print_CreateConnectors
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printConnector'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/connectors/{printConnector-id}':
    get:
      tags:
        - print.printConnector
      summary: Get connectors from print
      operationId: print_GetConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appVersion
                - deviceHealth
                - fullyQualifiedDomainName
                - location
                - name
                - operatingSystem
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printConnector
      summary: Update the navigation property connectors in print
      operationId: print_UpdateConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printConnector'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printConnector
      summary: Delete navigation property connectors for print
      operationId: print_DeleteConnectors
      parameters:
        - name: printConnector-id
          in: path
          description: 'key: id of printConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printConnector
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/operations:
    get:
      tags:
        - print.printOperation
      summary: Get operations from print
      operationId: print_ListOperations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printOperation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printOperation
      summary: Create new navigation property to operations for print
      operationId: print_CreateOperations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/operations/{printOperation-id}':
    get:
      tags:
        - print.printOperation
      summary: Get operations from print
      operationId: print_GetOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printOperation
      summary: Update the navigation property operations in print
      operationId: print_UpdateOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printOperation
      summary: Delete navigation property operations for print
      operationId: print_DeleteOperations
      parameters:
        - name: printOperation-id
          in: path
          description: 'key: id of printOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/printers:
    get:
      tags:
        - print.printer
      summary: Get printers from print
      operationId: print_ListPrinters
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - capabilities
                - capabilities desc
                - defaults
                - defaults desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - location
                - location desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - name
                - name desc
                - status
                - status desc
                - acceptingJobs
                - acceptingJobs desc
                - isShared
                - isShared desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - acceptingJobs
                - isShared
                - registeredDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - connectors
                - share
                - taskTriggers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - connectors
                - share
                - taskTriggers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printer
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printer'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to printers for print
      operationId: print_CreatePrinters
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}':
    get:
      tags:
        - print.printer
      summary: Get printers from print
      operationId: print_GetPrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - acceptingJobs
                - isShared
                - registeredDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - connectors
                - share
                - taskTriggers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - connectors
                - share
                - taskTriggers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printer'
          links:
            jobs:
              operationId: print.Printers.ListJobs
              parameters:
                printer-id: $request.path.printer-id
            allowedGroups:
              operationId: print.Printers.ListAllowedGroups
              parameters:
                printer-id: $request.path.printer-id
            allowedUsers:
              operationId: print.Printers.ListAllowedUsers
              parameters:
                printer-id: $request.path.printer-id
            connectors:
              operationId: print.Printers.ListConnectors
              parameters:
                printer-id: $request.path.printer-id
            share:
              operationId: print.Printers.GetShare
              parameters:
                printer-id: $request.path.printer-id
            taskTriggers:
              operationId: print.Printers.ListTaskTriggers
              parameters:
                printer-id: $request.path.printer-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printer
      summary: Update the navigation property printers in print
      operationId: print_UpdatePrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete navigation property printers for print
      operationId: print_DeletePrinters
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/allowedGroups':
    get:
      tags:
        - print.printer
      summary: Get allowedGroups from print
      operationId: print.printers_ListAllowedGroups
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printIdentity'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to allowedGroups for print
      operationId: print.printers_CreateAllowedGroups
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/allowedGroups/{printIdentity-id}':
    get:
      tags:
        - print.printer
      summary: Get allowedGroups from print
      operationId: print.printers_GetAllowedGroups
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printIdentity-id
          in: path
          description: 'key: id of printIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printer
      summary: Update the navigation property allowedGroups in print
      operationId: print.printers_UpdateAllowedGroups
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printIdentity-id
          in: path
          description: 'key: id of printIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete navigation property allowedGroups for print
      operationId: print.printers_DeleteAllowedGroups
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printIdentity-id
          in: path
          description: 'key: id of printIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printIdentity
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/allowedUsers':
    get:
      tags:
        - print.printer
      summary: Get allowedUsers from print
      operationId: print.printers_ListAllowedUsers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - ipAddress
                - ipAddress desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - ipAddress
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printUserIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to allowedUsers for print
      operationId: print.printers_CreateAllowedUsers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/allowedUsers/{printUserIdentity-id}':
    get:
      tags:
        - print.printer
      summary: Get allowedUsers from print
      operationId: print.printers_GetAllowedUsers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printUserIdentity-id
          in: path
          description: 'key: id of printUserIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUserIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - ipAddress
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printer
      summary: Update the navigation property allowedUsers in print
      operationId: print.printers_UpdateAllowedUsers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printUserIdentity-id
          in: path
          description: 'key: id of printUserIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUserIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete navigation property allowedUsers for print
      operationId: print.printers_DeleteAllowedUsers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printUserIdentity-id
          in: path
          description: 'key: id of printUserIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUserIdentity
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/connectors':
    get:
      tags:
        - print.printer
      summary: Get connectors from print
      operationId: print.printers_ListConnectors
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appVersion
                - appVersion desc
                - deviceHealth
                - deviceHealth desc
                - fullyQualifiedDomainName
                - fullyQualifiedDomainName desc
                - location
                - location desc
                - name
                - name desc
                - operatingSystem
                - operatingSystem desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appVersion
                - deviceHealth
                - fullyQualifiedDomainName
                - location
                - name
                - operatingSystem
                - registeredDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printConnector'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/connectors/$ref':
    get:
      tags:
        - print.printer
      summary: Get ref of connectors from print
      operationId: print.printers_ListRefConnectors
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appVersion
                - appVersion desc
                - deviceHealth
                - deviceHealth desc
                - fullyQualifiedDomainName
                - fullyQualifiedDomainName desc
                - location
                - location desc
                - name
                - name desc
                - operatingSystem
                - operatingSystem desc
                - registeredDateTime
                - registeredDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of printConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property ref to connectors for print
      operationId: print.printers_CreateRefConnectors
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/microsoft.graph.getCapabilities()':
    get:
      tags:
        - print.Functions
      summary: Invoke function getCapabilities
      operationId: print.printers_getCapabilities
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerCapabilities'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/printers/{printer-id}/microsoft.graph.resetDefaults':
    post:
      tags:
        - print.Actions
      summary: Invoke action resetDefaults
      operationId: print.printers_resetDefaults
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/print/printers/{printer-id}/share':
    get:
      tags:
        - print.printer
      summary: Get share from print
      operationId: print.printers_GetShare
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
          links:
            jobs:
              operationId: print.printers.Share.ListJobs
              parameters:
                printer-id: $request.path.printer-id
            allowedGroups:
              operationId: print.printers.Share.ListAllowedGroups
              parameters:
                printer-id: $request.path.printer-id
            allowedUsers:
              operationId: print.printers.Share.ListAllowedUsers
              parameters:
                printer-id: $request.path.printer-id
            printer:
              operationId: print.printers.Share.GetPrinter
              parameters:
                printer-id: $request.path.printer-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/share/$ref':
    get:
      tags:
        - print.printer
      summary: Get ref of share from print
      operationId: print.printers_GetRefShare
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            jobs:
              operationId: print.printers.Share.ListJobs
              parameters:
                printer-id: $request.path.printer-id
            allowedGroups:
              operationId: print.printers.Share.ListAllowedGroups
              parameters:
                printer-id: $request.path.printer-id
            allowedUsers:
              operationId: print.printers.Share.ListAllowedUsers
              parameters:
                printer-id: $request.path.printer-id
            printer:
              operationId: print.printers.Share.GetPrinter
              parameters:
                printer-id: $request.path.printer-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - print.printer
      summary: Update the ref of navigation property share in print
      operationId: print.printers_SetRefShare
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete ref of navigation property share for print
      operationId: print.printers_DeleteRefShare
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers':
    get:
      tags:
        - print.printer
      summary: Get taskTriggers from print
      operationId: print.printers_ListTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - event
                - event desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - event
                - definition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - definition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printTaskTrigger
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printer
      summary: Create new navigation property to taskTriggers for print
      operationId: print.printers_CreateTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers/{printTaskTrigger-id}':
    get:
      tags:
        - print.printer
      summary: Get taskTriggers from print
      operationId: print.printers_GetTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - event
                - definition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - definition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
          links:
            definition:
              operationId: print.printers.TaskTriggers.GetDefinition
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $request.path.printTaskTrigger-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printer
      summary: Update the navigation property taskTriggers in print
      operationId: print.printers_UpdateTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printTaskTrigger'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete navigation property taskTriggers for print
      operationId: print.printers_DeleteTaskTriggers
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers/{printTaskTrigger-id}/definition':
    get:
      tags:
        - print.printer
      summary: Get definition from print
      operationId: print.printers.taskTriggers_GetDefinition
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - displayName
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printTaskDefinition'
          links:
            tasks:
              operationId: print.printers.taskTriggers.Definition.ListTasks
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $request.path.printTaskTrigger-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printers/{printer-id}/taskTriggers/{printTaskTrigger-id}/definition/$ref':
    get:
      tags:
        - print.printer
      summary: Get ref of definition from print
      operationId: print.printers.taskTriggers_GetRefDefinition
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            tasks:
              operationId: print.printers.taskTriggers.Definition.ListTasks
              parameters:
                printer-id: $request.path.printer-id
                printTaskTrigger-id: $request.path.printTaskTrigger-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - print.printer
      summary: Update the ref of navigation property definition in print
      operationId: print.printers.taskTriggers_SetRefDefinition
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printer
      summary: Delete ref of navigation property definition for print
      operationId: print.printers.taskTriggers_DeleteRefDefinition
      parameters:
        - name: printer-id
          in: path
          description: 'key: id of printer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printer
        - name: printTaskTrigger-id
          in: path
          description: 'key: id of printTaskTrigger'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printTaskTrigger
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /print/printers/microsoft.graph.create:
    post:
      tags:
        - print.Actions
      summary: Invoke action create
      operationId: print.printers_create
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                manufacturer:
                  type: string
                model:
                  type: string
                physicalDeviceId:
                  type: string
                  nullable: true
                hasPhysicalDevice:
                  type: boolean
                  default: false
                  nullable: true
                certificateSigningRequest:
                  $ref: '#/components/schemas/microsoft.graph.printCertificateSigningRequest'
                connectorId:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /print/printerShares:
    get:
      tags:
        - print.printerShare
      summary: Get printerShares from print
      operationId: print_ListPrinterShares
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - capabilities
                - capabilities desc
                - defaults
                - defaults desc
                - isAcceptingJobs
                - isAcceptingJobs desc
                - location
                - location desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - name
                - name desc
                - status
                - status desc
                - allowAllUsers
                - allowAllUsers desc
                - createdDateTime
                - createdDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printerShare
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printerShare'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property to printerShares for print
      operationId: print_CreatePrinterShares
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printerShare'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}':
    get:
      tags:
        - print.printerShare
      summary: Get printerShares from print
      operationId: print_GetPrinterShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - allowAllUsers
                - createdDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - printer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerShare'
          links:
            jobs:
              operationId: print.PrinterShares.ListJobs
              parameters:
                printerShare-id: $request.path.printerShare-id
            allowedGroups:
              operationId: print.PrinterShares.ListAllowedGroups
              parameters:
                printerShare-id: $request.path.printerShare-id
            allowedUsers:
              operationId: print.PrinterShares.ListAllowedUsers
              parameters:
                printerShare-id: $request.path.printerShare-id
            printer:
              operationId: print.PrinterShares.GetPrinter
              parameters:
                printerShare-id: $request.path.printerShare-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printerShare
      summary: Update the navigation property printerShares in print
      operationId: print_UpdatePrinterShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printerShare'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printerShare
      summary: Delete navigation property printerShares for print
      operationId: print_DeletePrinterShares
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedGroups':
    get:
      tags:
        - print.printerShare
      summary: Get allowedGroups from print
      operationId: print.printerShares_ListAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printIdentity'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property to allowedGroups for print
      operationId: print.printerShares_CreateAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedGroups/{printIdentity-id}':
    get:
      tags:
        - print.printerShare
      summary: Get allowedGroups from print
      operationId: print.printerShares_GetAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: printIdentity-id
          in: path
          description: 'key: id of printIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printerShare
      summary: Update the navigation property allowedGroups in print
      operationId: print.printerShares_UpdateAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: printIdentity-id
          in: path
          description: 'key: id of printIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printerShare
      summary: Delete navigation property allowedGroups for print
      operationId: print.printerShares_DeleteAllowedGroups
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: printIdentity-id
          in: path
          description: 'key: id of printIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printIdentity
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedUsers':
    get:
      tags:
        - print.printerShare
      summary: Get allowedUsers from print
      operationId: print.printerShares_ListAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - ipAddress
                - ipAddress desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - ipAddress
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of printUserIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.printerShare
      summary: Create new navigation property to allowedUsers for print
      operationId: print.printerShares_CreateAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/allowedUsers/{printUserIdentity-id}':
    get:
      tags:
        - print.printerShare
      summary: Get allowedUsers from print
      operationId: print.printerShares_GetAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: printUserIdentity-id
          in: path
          description: 'key: id of printUserIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUserIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - ipAddress
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - print.printerShare
      summary: Update the navigation property allowedUsers in print
      operationId: print.printerShares_UpdateAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: printUserIdentity-id
          in: path
          description: 'key: id of printUserIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUserIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUserIdentity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printerShare
      summary: Delete navigation property allowedUsers for print
      operationId: print.printerShares_DeleteAllowedUsers
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: printUserIdentity-id
          in: path
          description: 'key: id of printUserIdentity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printUserIdentity
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/printer':
    get:
      tags:
        - print.printerShare
      summary: Get printer from print
      operationId: print.printerShares_GetPrinter
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - capabilities
                - defaults
                - isAcceptingJobs
                - location
                - manufacturer
                - model
                - name
                - status
                - acceptingJobs
                - isShared
                - registeredDateTime
                - jobs
                - allowedGroups
                - allowedUsers
                - connectors
                - share
                - taskTriggers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - allowedGroups
                - allowedUsers
                - connectors
                - share
                - taskTriggers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printer'
          links:
            jobs:
              operationId: print.printerShares.Printer.ListJobs
              parameters:
                printerShare-id: $request.path.printerShare-id
            allowedGroups:
              operationId: print.printerShares.Printer.ListAllowedGroups
              parameters:
                printerShare-id: $request.path.printerShare-id
            allowedUsers:
              operationId: print.printerShares.Printer.ListAllowedUsers
              parameters:
                printerShare-id: $request.path.printerShare-id
            connectors:
              operationId: print.printerShares.Printer.ListConnectors
              parameters:
                printerShare-id: $request.path.printerShare-id
            share:
              operationId: print.printerShares.Printer.GetShare
              parameters:
                printerShare-id: $request.path.printerShare-id
            taskTriggers:
              operationId: print.printerShares.Printer.ListTaskTriggers
              parameters:
                printerShare-id: $request.path.printerShare-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/printer/$ref':
    get:
      tags:
        - print.printerShare
      summary: Get ref of printer from print
      operationId: print.printerShares_GetRefPrinter
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            jobs:
              operationId: print.printerShares.Printer.ListJobs
              parameters:
                printerShare-id: $request.path.printerShare-id
            allowedGroups:
              operationId: print.printerShares.Printer.ListAllowedGroups
              parameters:
                printerShare-id: $request.path.printerShare-id
            allowedUsers:
              operationId: print.printerShares.Printer.ListAllowedUsers
              parameters:
                printerShare-id: $request.path.printerShare-id
            connectors:
              operationId: print.printerShares.Printer.ListConnectors
              parameters:
                printerShare-id: $request.path.printerShare-id
            share:
              operationId: print.printerShares.Printer.GetShare
              parameters:
                printerShare-id: $request.path.printerShare-id
            taskTriggers:
              operationId: print.printerShares.Printer.ListTaskTriggers
              parameters:
                printerShare-id: $request.path.printerShare-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - print.printerShare
      summary: Update the ref of navigation property printer in print
      operationId: print.printerShares_SetRefPrinter
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - print.printerShare
      summary: Delete ref of navigation property printer for print
      operationId: print.printerShares_DeleteRefPrinter
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/printerShares/{printerShare-id}/printer/microsoft.graph.getCapabilities()':
    get:
      tags:
        - print.Functions
      summary: Invoke function getCapabilities
      operationId: print.printerShares.printer_getCapabilities
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printerCapabilities'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/print/printerShares/{printerShare-id}/printer/microsoft.graph.resetDefaults':
    post:
      tags:
        - print.Actions
      summary: Invoke action resetDefaults
      operationId: print.printerShares.printer_resetDefaults
      parameters:
        - name: printerShare-id
          in: path
          description: 'key: id of printerShare'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: printerShare
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /print/reports:
    get:
      tags:
        - print.reportRoot
      summary: Get reports from print
      operationId: print_ListReports
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationSignInDetailedSummary
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageSummariesByPrinter
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByUser
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - applicationSignInDetailedSummary
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageSummariesByPrinter
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByUser
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of reportRoot
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.reportRoot'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - print.reportRoot
      summary: Create new navigation property to reports for print
      operationId: print_CreateReports
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/print/reports/{reportRoot-id}':
    get:
      tags:
        - print.reportRoot
      summary: Get reports from print
      operationId: print_GetReports
      parameters:
        - name: reportRoot-id
          in: path
          description: 'key: id of reportRoot'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: reportRoot
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationSignInDetailedSummary
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageSummariesByPrinter
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByUser
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - applicationSignInDetailedSummary
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageSummariesByPrinter
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByUser
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
[...]
