openapi: 3.0.1
info:
  title: DeviceManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceManagement:
    get:
      tags:
        - deviceManagement.deviceManagement
      summary: Get deviceManagement
      operationId: deviceManagement.deviceManagement_GetDeviceManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deviceComplianceReportSummarizationDateTime
                - intuneAccountId
                - lastReportAggregationDateTime
                - legacyPcManangementEnabled
                - maximumDepTokens
                - settings
                - unlicensedAdminstratorsEnabled
                - intuneBrand
                - accountMoveCompletionDateTime
                - adminConsent
                - dataProcessorServiceForWindowsFeaturesOnboarding
                - deviceProtectionOverview
                - managedDeviceCleanupSettings
                - subscriptions
                - subscriptionState
                - userExperienceAnalyticsAnomalySeverityOverview
                - userExperienceAnalyticsSettings
                - windowsMalwareOverview
                - monitoring
                - virtualEndpoint
                - androidDeviceOwnerEnrollmentProfiles
                - androidForWorkAppConfigurationSchemas
                - androidForWorkEnrollmentProfiles
                - androidForWorkSettings
                - androidManagedStoreAccountEnterpriseSettings
                - androidManagedStoreAppConfigurationSchemas
                - auditEvents
                - assignmentFilters
                - chromeOSOnboardingSettings
                - termsAndConditions
                - advancedThreatProtectionOnboardingStateSummary
                - cartToClassAssociations
                - deviceCompliancePolicies
                - deviceCompliancePolicyDeviceStateSummary
                - deviceCompliancePolicySettingStateSummaries
                - deviceConfigurationConflictSummary
                - deviceConfigurationDeviceStateSummaries
                - deviceConfigurationRestrictedAppsViolations
                - deviceConfigurations
                - deviceConfigurationsAllManagedDeviceCertificateStates
                - deviceConfigurationUserStateSummaries
                - iosUpdateStatuses
                - macOSSoftwareUpdateAccountSummaries
                - managedDeviceEncryptionStates
                - ndesConnectors
                - softwareUpdateStatusSummary
                - complianceCategories
                - compliancePolicies
                - complianceSettings
                - configurationCategories
                - configurationPolicies
                - configurationPolicyTemplates
                - configurationSettings
                - reusablePolicySettings
                - reusableSettings
                - templateSettings
                - complianceManagementPartners
                - conditionalAccessSettings
                - deviceCategories
                - deviceEnrollmentConfigurations
                - deviceManagementPartners
                - exchangeConnectors
                - exchangeOnPremisesPolicies
                - exchangeOnPremisesPolicy
                - mobileThreatDefenseConnectors
                - categories
                - intents
                - settingDefinitions
                - templates
                - applePushNotificationCertificate
                - cloudPCConnectivityIssues
                - comanagedDevices
                - comanagementEligibleDevices
                - dataSharingConsents
                - detectedApps
                - deviceComplianceScripts
                - deviceCustomAttributeShellScripts
                - deviceHealthScripts
                - deviceManagementScripts
                - deviceShellScripts
                - managedDeviceOverview
                - managedDevices
                - mobileAppTroubleshootingEvents
                - oemWarrantyInformationOnboarding
                - remoteActionAudits
                - tenantAttachRBAC
                - userExperienceAnalyticsAnomaly
                - userExperienceAnalyticsAnomalyDevice
                - userExperienceAnalyticsAppHealthApplicationPerformance
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDetails
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDeviceId
                - userExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion
                - userExperienceAnalyticsAppHealthDeviceModelPerformance
                - userExperienceAnalyticsAppHealthDevicePerformance
                - userExperienceAnalyticsAppHealthDevicePerformanceDetails
                - userExperienceAnalyticsAppHealthOSVersionPerformance
                - userExperienceAnalyticsAppHealthOverview
                - userExperienceAnalyticsBaselines
                - userExperienceAnalyticsBatteryHealthAppImpact
                - userExperienceAnalyticsBatteryHealthCapacityDetails
                - userExperienceAnalyticsBatteryHealthDeviceAppImpact
                - userExperienceAnalyticsBatteryHealthDevicePerformance
                - userExperienceAnalyticsBatteryHealthDeviceRuntimeHistory
                - userExperienceAnalyticsBatteryHealthModelPerformance
                - userExperienceAnalyticsBatteryHealthOsPerformance
                - userExperienceAnalyticsBatteryHealthRuntimeDetails
                - userExperienceAnalyticsCategories
                - userExperienceAnalyticsDeviceMetricHistory
                - userExperienceAnalyticsDevicePerformance
                - userExperienceAnalyticsDeviceScope
                - userExperienceAnalyticsDeviceScopes
                - userExperienceAnalyticsDeviceScores
                - userExperienceAnalyticsDeviceStartupHistory
                - userExperienceAnalyticsDeviceStartupProcesses
                - userExperienceAnalyticsDeviceStartupProcessPerformance
                - userExperienceAnalyticsDevicesWithoutCloudIdentity
                - userExperienceAnalyticsImpactingProcess
                - userExperienceAnalyticsMetricHistory
                - userExperienceAnalyticsModelScores
                - userExperienceAnalyticsNotAutopilotReadyDevice
                - userExperienceAnalyticsOverview
                - userExperienceAnalyticsRegressionSummary
                - userExperienceAnalyticsRemoteConnection
                - userExperienceAnalyticsResourcePerformance
                - userExperienceAnalyticsScoreHistory
                - userExperienceAnalyticsWorkFromAnywhereHardwareReadinessMetric
                - userExperienceAnalyticsWorkFromAnywhereMetrics
                - userExperienceAnalyticsWorkFromAnywhereModelPerformance
                - windowsMalwareInformation
                - derivedCredentials
                - resourceAccessProfiles
                - appleUserInitiatedEnrollmentProfiles
                - depOnboardingSettings
                - importedDeviceIdentities
                - importedWindowsAutopilotDeviceIdentities
                - windowsAutopilotDeploymentProfiles
                - windowsAutopilotDeviceIdentities
                - windowsAutopilotSettings
                - zebraFotaArtifacts
                - zebraFotaConnector
                - zebraFotaDeployments
                - groupPolicyMigrationReports
                - groupPolicyObjectFiles
                - groupPolicyCategories
                - groupPolicyConfigurations
                - groupPolicyDefinitionFiles
                - groupPolicyDefinitions
                - groupPolicyUploadedDefinitionFiles
                - microsoftTunnelConfigurations
                - microsoftTunnelHealthThresholds
                - microsoftTunnelServerLogCollectionResponses
                - microsoftTunnelSites
                - notificationMessageTemplates
                - domainJoinConnectors
                - configManagerCollections
                - organizationalMessageDetails
                - organizationalMessageGuidedContents
                - resourceOperations
                - roleAssignments
                - roleDefinitions
                - roleScopeTags
                - remoteAssistancePartners
                - remoteAssistanceSettings
                - reports
                - embeddedSIMActivationCodePools
                - telecomExpenseManagementPartners
                - autopilotEvents
                - troubleshootingEvents
                - windowsDriverUpdateProfiles
                - windowsFeatureUpdateProfiles
                - windowsQualityUpdateProfiles
                - windowsUpdateCatalogItems
                - intuneBrandingProfiles
                - windowsInformationProtectionAppLearningSummaries
                - windowsInformationProtectionNetworkLearningSummaries
                - certificateConnectorDetails
                - userPfxCertificates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - monitoring
                - virtualEndpoint
                - androidDeviceOwnerEnrollmentProfiles
                - androidForWorkAppConfigurationSchemas
                - androidForWorkEnrollmentProfiles
                - androidForWorkSettings
                - androidManagedStoreAccountEnterpriseSettings
                - androidManagedStoreAppConfigurationSchemas
                - auditEvents
                - assignmentFilters
                - chromeOSOnboardingSettings
                - termsAndConditions
                - advancedThreatProtectionOnboardingStateSummary
                - cartToClassAssociations
                - deviceCompliancePolicies
                - deviceCompliancePolicyDeviceStateSummary
                - deviceCompliancePolicySettingStateSummaries
                - deviceConfigurationConflictSummary
                - deviceConfigurationDeviceStateSummaries
                - deviceConfigurationRestrictedAppsViolations
                - deviceConfigurations
                - deviceConfigurationsAllManagedDeviceCertificateStates
                - deviceConfigurationUserStateSummaries
                - iosUpdateStatuses
                - macOSSoftwareUpdateAccountSummaries
                - managedDeviceEncryptionStates
                - ndesConnectors
                - softwareUpdateStatusSummary
                - complianceCategories
                - compliancePolicies
                - complianceSettings
                - configurationCategories
                - configurationPolicies
                - configurationPolicyTemplates
                - configurationSettings
                - reusablePolicySettings
                - reusableSettings
                - templateSettings
                - complianceManagementPartners
                - conditionalAccessSettings
                - deviceCategories
                - deviceEnrollmentConfigurations
                - deviceManagementPartners
                - exchangeConnectors
                - exchangeOnPremisesPolicies
                - exchangeOnPremisesPolicy
                - mobileThreatDefenseConnectors
                - categories
                - intents
                - settingDefinitions
                - templates
                - applePushNotificationCertificate
                - cloudPCConnectivityIssues
                - comanagedDevices
                - comanagementEligibleDevices
                - dataSharingConsents
                - detectedApps
                - deviceComplianceScripts
                - deviceCustomAttributeShellScripts
                - deviceHealthScripts
                - deviceManagementScripts
                - deviceShellScripts
                - managedDeviceOverview
                - managedDevices
                - mobileAppTroubleshootingEvents
                - oemWarrantyInformationOnboarding
                - remoteActionAudits
                - tenantAttachRBAC
                - userExperienceAnalyticsAnomaly
                - userExperienceAnalyticsAnomalyDevice
                - userExperienceAnalyticsAppHealthApplicationPerformance
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDetails
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDeviceId
                - userExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion
                - userExperienceAnalyticsAppHealthDeviceModelPerformance
                - userExperienceAnalyticsAppHealthDevicePerformance
                - userExperienceAnalyticsAppHealthDevicePerformanceDetails
                - userExperienceAnalyticsAppHealthOSVersionPerformance
                - userExperienceAnalyticsAppHealthOverview
                - userExperienceAnalyticsBaselines
                - userExperienceAnalyticsBatteryHealthAppImpact
                - userExperienceAnalyticsBatteryHealthCapacityDetails
                - userExperienceAnalyticsBatteryHealthDeviceAppImpact
                - userExperienceAnalyticsBatteryHealthDevicePerformance
                - userExperienceAnalyticsBatteryHealthDeviceRuntimeHistory
                - userExperienceAnalyticsBatteryHealthModelPerformance
                - userExperienceAnalyticsBatteryHealthOsPerformance
                - userExperienceAnalyticsBatteryHealthRuntimeDetails
                - userExperienceAnalyticsCategories
                - userExperienceAnalyticsDeviceMetricHistory
                - userExperienceAnalyticsDevicePerformance
                - userExperienceAnalyticsDeviceScope
                - userExperienceAnalyticsDeviceScopes
                - userExperienceAnalyticsDeviceScores
                - userExperienceAnalyticsDeviceStartupHistory
                - userExperienceAnalyticsDeviceStartupProcesses
                - userExperienceAnalyticsDeviceStartupProcessPerformance
                - userExperienceAnalyticsDevicesWithoutCloudIdentity
                - userExperienceAnalyticsImpactingProcess
                - userExperienceAnalyticsMetricHistory
                - userExperienceAnalyticsModelScores
                - userExperienceAnalyticsNotAutopilotReadyDevice
                - userExperienceAnalyticsOverview
                - userExperienceAnalyticsRegressionSummary
                - userExperienceAnalyticsRemoteConnection
                - userExperienceAnalyticsResourcePerformance
                - userExperienceAnalyticsScoreHistory
                - userExperienceAnalyticsWorkFromAnywhereHardwareReadinessMetric
                - userExperienceAnalyticsWorkFromAnywhereMetrics
                - userExperienceAnalyticsWorkFromAnywhereModelPerformance
                - windowsMalwareInformation
                - derivedCredentials
                - resourceAccessProfiles
                - appleUserInitiatedEnrollmentProfiles
                - depOnboardingSettings
                - importedDeviceIdentities
                - importedWindowsAutopilotDeviceIdentities
                - windowsAutopilotDeploymentProfiles
                - windowsAutopilotDeviceIdentities
                - windowsAutopilotSettings
                - zebraFotaArtifacts
                - zebraFotaConnector
                - zebraFotaDeployments
                - groupPolicyMigrationReports
                - groupPolicyObjectFiles
                - groupPolicyCategories
                - groupPolicyConfigurations
                - groupPolicyDefinitionFiles
                - groupPolicyDefinitions
                - groupPolicyUploadedDefinitionFiles
                - microsoftTunnelConfigurations
                - microsoftTunnelHealthThresholds
                - microsoftTunnelServerLogCollectionResponses
                - microsoftTunnelSites
                - notificationMessageTemplates
                - domainJoinConnectors
                - configManagerCollections
                - organizationalMessageDetails
                - organizationalMessageGuidedContents
                - resourceOperations
                - roleAssignments
                - roleDefinitions
                - roleScopeTags
                - remoteAssistancePartners
                - remoteAssistanceSettings
                - reports
                - embeddedSIMActivationCodePools
                - telecomExpenseManagementPartners
                - autopilotEvents
                - troubleshootingEvents
                - windowsDriverUpdateProfiles
                - windowsFeatureUpdateProfiles
                - windowsQualityUpdateProfiles
                - windowsUpdateCatalogItems
                - intuneBrandingProfiles
                - windowsInformationProtectionAppLearningSummaries
                - windowsInformationProtectionNetworkLearningSummaries
                - certificateConnectorDetails
                - userPfxCertificates
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagement'
          links:
            monitoring:
              operationId: deviceManagement.GetMonitoring
            virtualEndpoint:
              operationId: deviceManagement.GetVirtualEndpoint
            androidDeviceOwnerEnrollmentProfiles:
              operationId: deviceManagement.ListAndroidDeviceOwnerEnrollmentProfiles
            androidForWorkAppConfigurationSchemas:
              operationId: deviceManagement.ListAndroidGraphFPreWorkAppConfigurationSchemas
            androidForWorkEnrollmentProfiles:
              operationId: deviceManagement.ListAndroidGraphFPreWorkEnrollmentProfiles
            androidForWorkSettings:
              operationId: deviceManagement.GetAndroidGraphFPreWorkSettings
            androidManagedStoreAccountEnterpriseSettings:
              operationId: deviceManagement.GetAndroidManagedStoreAccountEnterpriseSettings
            androidManagedStoreAppConfigurationSchemas:
              operationId: deviceManagement.ListAndroidManagedStoreAppConfigurationSchemas
            auditEvents:
              operationId: deviceManagement.ListAuditEvents
            assignmentFilters:
              operationId: deviceManagement.ListAssignmentFilters
            chromeOSOnboardingSettings:
              operationId: deviceManagement.ListChromeOSOnboardingSettings
            termsAndConditions:
              operationId: deviceManagement.ListTermsAndConditions
            advancedThreatProtectionOnboardingStateSummary:
              operationId: deviceManagement.GetAdvancedThreatProtectionOnboardingStateSummary
            cartToClassAssociations:
              operationId: deviceManagement.ListCartToClassAssociations
            deviceCompliancePolicies:
              operationId: deviceManagement.ListDeviceCompliancePolicies
            deviceCompliancePolicyDeviceStateSummary:
              operationId: deviceManagement.GetDeviceCompliancePolicyDeviceStateSummary
            deviceCompliancePolicySettingStateSummaries:
              operationId: deviceManagement.ListDeviceCompliancePolicySettingStateSummaries
            deviceConfigurationConflictSummary:
              operationId: deviceManagement.ListDeviceConfigurationConflictSummary
            deviceConfigurationDeviceStateSummaries:
              operationId: deviceManagement.GetDeviceConfigurationDeviceStateSummaries
            deviceConfigurationRestrictedAppsViolations:
              operationId: deviceManagement.ListDeviceConfigurationRestrictedAppsViolations
            deviceConfigurations:
              operationId: deviceManagement.ListDeviceConfigurations
            deviceConfigurationsAllManagedDeviceCertificateStates:
              operationId: deviceManagement.ListDeviceConfigurationsAllManagedDeviceCertificateStates
            deviceConfigurationUserStateSummaries:
              operationId: deviceManagement.GetDeviceConfigurationUserStateSummaries
            iosUpdateStatuses:
              operationId: deviceManagement.ListIosUpdateStatuses
            macOSSoftwareUpdateAccountSummaries:
              operationId: deviceManagement.ListMacOSSoftwareUpdateAccountSummaries
            managedDeviceEncryptionStates:
              operationId: deviceManagement.ListManagedDeviceEncryptionStates
            ndesConnectors:
              operationId: deviceManagement.ListNdesConnectors
            softwareUpdateStatusSummary:
              operationId: deviceManagement.GetSoftwareUpdateStatusSummary
            complianceCategories:
              operationId: deviceManagement.ListComplianceCategories
            compliancePolicies:
              operationId: deviceManagement.ListCompliancePolicies
            complianceSettings:
              operationId: deviceManagement.ListComplianceSettings
            configurationCategories:
              operationId: deviceManagement.ListConfigurationCategories
            configurationPolicies:
              operationId: deviceManagement.ListConfigurationPolicies
            configurationPolicyTemplates:
              operationId: deviceManagement.ListConfigurationPolicyTemplates
            configurationSettings:
              operationId: deviceManagement.ListConfigurationSettings
            reusablePolicySettings:
              operationId: deviceManagement.ListReusablePolicySettings
            reusableSettings:
              operationId: deviceManagement.ListReusableSettings
            templateSettings:
              operationId: deviceManagement.ListTemplateSettings
            complianceManagementPartners:
              operationId: deviceManagement.ListComplianceManagementPartners
            conditionalAccessSettings:
              operationId: deviceManagement.GetConditionalAccessSettings
            deviceCategories:
              operationId: deviceManagement.ListDeviceCategories
            deviceEnrollmentConfigurations:
              operationId: deviceManagement.ListDeviceEnrollmentConfigurations
            deviceManagementPartners:
              operationId: deviceManagement.ListDeviceManagementPartners
            exchangeConnectors:
              operationId: deviceManagement.ListExchangeConnectors
            exchangeOnPremisesPolicies:
              operationId: deviceManagement.ListExchangeOnPremisesPolicies
            exchangeOnPremisesPolicy:
              operationId: deviceManagement.GetExchangeOnPremisesPolicy
            mobileThreatDefenseConnectors:
              operationId: deviceManagement.ListMobileThreatDefenseConnectors
            categories:
              operationId: deviceManagement.ListCategories
            intents:
              operationId: deviceManagement.ListIntents
            settingDefinitions:
              operationId: deviceManagement.ListSettingDefinitions
            templates:
              operationId: deviceManagement.ListTemplates
            applePushNotificationCertificate:
              operationId: deviceManagement.GetApplePushNotificationCertificate
            cloudPCConnectivityIssues:
              operationId: deviceManagement.ListCloudPCConnectivityIssues
            comanagedDevices:
              operationId: deviceManagement.ListComanagedDevices
            comanagementEligibleDevices:
              operationId: deviceManagement.ListComanagementEligibleDevices
            dataSharingConsents:
              operationId: deviceManagement.ListDataSharingConsents
            detectedApps:
              operationId: deviceManagement.ListDetectedApps
            deviceComplianceScripts:
              operationId: deviceManagement.ListDeviceComplianceScripts
            deviceCustomAttributeShellScripts:
              operationId: deviceManagement.ListDeviceCustomAttributeShellScripts
            deviceHealthScripts:
              operationId: deviceManagement.ListDeviceHealthScripts
            deviceManagementScripts:
              operationId: deviceManagement.ListDeviceManagementScripts
            deviceShellScripts:
              operationId: deviceManagement.ListDeviceShellScripts
            managedDeviceOverview:
              operationId: deviceManagement.GetManagedDeviceOverview
            managedDevices:
              operationId: deviceManagement.ListManagedDevices
            mobileAppTroubleshootingEvents:
              operationId: deviceManagement.ListMobileAppTroubleshootingEvents
            oemWarrantyInformationOnboarding:
              operationId: deviceManagement.ListOemWarrantyInformationOnboarding
            remoteActionAudits:
              operationId: deviceManagement.ListRemoteActionAudits
            tenantAttachRBAC:
              operationId: deviceManagement.GetTenantAttachRBAC
            userExperienceAnalyticsAnomaly:
              operationId: deviceManagement.ListUserExperienceAnalyticsAnomaly
            userExperienceAnalyticsAnomalyDevice:
              operationId: deviceManagement.ListUserExperienceAnalyticsAnomalyDevice
            userExperienceAnalyticsAppHealthApplicationPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformance
            userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformanceGraphBPreAppVersion
            userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDetails:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformanceGraphBPreAppVersionDetails
            userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDeviceId:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformanceGraphBPreAppVersionDeviceId
            userExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformanceGraphBPreOSVersion
            userExperienceAnalyticsAppHealthDeviceModelPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthDeviceModelPerformance
            userExperienceAnalyticsAppHealthDevicePerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthDevicePerformance
            userExperienceAnalyticsAppHealthDevicePerformanceDetails:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthDevicePerformanceDetails
            userExperienceAnalyticsAppHealthOSVersionPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthOSVersionPerformance
            userExperienceAnalyticsAppHealthOverview:
              operationId: deviceManagement.GetUserExperienceAnalyticsAppHealthOverview
            userExperienceAnalyticsBaselines:
              operationId: deviceManagement.ListUserExperienceAnalyticsBaselines
            userExperienceAnalyticsBatteryHealthAppImpact:
              operationId: deviceManagement.ListUserExperienceAnalyticsBatteryHealthAppImpact
            userExperienceAnalyticsBatteryHealthCapacityDetails:
              operationId: deviceManagement.GetUserExperienceAnalyticsBatteryHealthCapacityDetails
            userExperienceAnalyticsBatteryHealthDeviceAppImpact:
              operationId: deviceManagement.ListUserExperienceAnalyticsBatteryHealthDeviceAppImpact
            userExperienceAnalyticsBatteryHealthDevicePerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsBatteryHealthDevicePerformance
            userExperienceAnalyticsBatteryHealthDeviceRuntimeHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsBatteryHealthDeviceRuntimeHistory
            userExperienceAnalyticsBatteryHealthModelPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsBatteryHealthModelPerformance
            userExperienceAnalyticsBatteryHealthOsPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsBatteryHealthOsPerformance
            userExperienceAnalyticsBatteryHealthRuntimeDetails:
              operationId: deviceManagement.GetUserExperienceAnalyticsBatteryHealthRuntimeDetails
            userExperienceAnalyticsCategories:
              operationId: deviceManagement.ListUserExperienceAnalyticsCategories
            userExperienceAnalyticsDeviceMetricHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceMetricHistory
            userExperienceAnalyticsDevicePerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsDevicePerformance
            userExperienceAnalyticsDeviceScope:
              operationId: deviceManagement.GetUserExperienceAnalyticsDeviceScope
            userExperienceAnalyticsDeviceScopes:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceScopes
            userExperienceAnalyticsDeviceScores:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceScores
            userExperienceAnalyticsDeviceStartupHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceStartupHistory
            userExperienceAnalyticsDeviceStartupProcesses:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceStartupProcesses
            userExperienceAnalyticsDeviceStartupProcessPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceStartupProcessPerformance
            userExperienceAnalyticsDevicesWithoutCloudIdentity:
              operationId: deviceManagement.ListUserExperienceAnalyticsDevicesWithoutCloudIdentity
            userExperienceAnalyticsImpactingProcess:
              operationId: deviceManagement.ListUserExperienceAnalyticsImpactingProcess
            userExperienceAnalyticsMetricHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsMetricHistory
            userExperienceAnalyticsModelScores:
              operationId: deviceManagement.ListUserExperienceAnalyticsModelScores
            userExperienceAnalyticsNotAutopilotReadyDevice:
              operationId: deviceManagement.ListUserExperienceAnalyticsNotAutopilotReadyDevice
            userExperienceAnalyticsOverview:
              operationId: deviceManagement.GetUserExperienceAnalyticsOverview
            userExperienceAnalyticsRegressionSummary:
              operationId: deviceManagement.GetUserExperienceAnalyticsRegressionSummary
            userExperienceAnalyticsRemoteConnection:
              operationId: deviceManagement.ListUserExperienceAnalyticsRemoteConnection
            userExperienceAnalyticsResourcePerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsResourcePerformance
            userExperienceAnalyticsScoreHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsScoreHistory
            userExperienceAnalyticsWorkFromAnywhereHardwareReadinessMetric:
              operationId: deviceManagement.GetUserExperienceAnalyticsWorkFromAnywhereHardwareReadinessMetric
            userExperienceAnalyticsWorkFromAnywhereMetrics:
              operationId: deviceManagement.ListUserExperienceAnalyticsWorkFromAnywhereMetrics
            userExperienceAnalyticsWorkFromAnywhereModelPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsWorkFromAnywhereModelPerformance
            windowsMalwareInformation:
              operationId: deviceManagement.ListWindowsMalwareInformation
            derivedCredentials:
              operationId: deviceManagement.ListDerivedCredentials
            resourceAccessProfiles:
              operationId: deviceManagement.ListResourceAccessProfiles
            appleUserInitiatedEnrollmentProfiles:
              operationId: deviceManagement.ListAppleUserInitiatedEnrollmentProfiles
            depOnboardingSettings:
              operationId: deviceManagement.ListDepOnboardingSettings
            importedDeviceIdentities:
              operationId: deviceManagement.ListImportedDeviceIdentities
            importedWindowsAutopilotDeviceIdentities:
              operationId: deviceManagement.ListImportedWindowsAutopilotDeviceIdentities
            windowsAutopilotDeploymentProfiles:
              operationId: deviceManagement.ListWindowsAutopilotDeploymentProfiles
            windowsAutopilotDeviceIdentities:
              operationId: deviceManagement.ListWindowsAutopilotDeviceIdentities
            windowsAutopilotSettings:
              operationId: deviceManagement.GetWindowsAutopilotSettings
            zebraFotaArtifacts:
              operationId: deviceManagement.ListZebraFotaArtifacts
            zebraFotaConnector:
              operationId: deviceManagement.GetZebraFotaConnector
            zebraFotaDeployments:
              operationId: deviceManagement.ListZebraFotaDeployments
            groupPolicyMigrationReports:
              operationId: deviceManagement.ListGroupPolicyMigrationReports
            groupPolicyObjectFiles:
              operationId: deviceManagement.ListGroupPolicyObjectFiles
            groupPolicyCategories:
              operationId: deviceManagement.ListGroupPolicyCategories
            groupPolicyConfigurations:
              operationId: deviceManagement.ListGroupPolicyConfigurations
            groupPolicyDefinitionFiles:
              operationId: deviceManagement.ListGroupPolicyDefinitionFiles
            groupPolicyDefinitions:
              operationId: deviceManagement.ListGroupPolicyDefinitions
            groupPolicyUploadedDefinitionFiles:
              operationId: deviceManagement.ListGroupPolicyUploadedDefinitionFiles
            microsoftTunnelConfigurations:
              operationId: deviceManagement.ListMicrosoftTunnelConfigurations
            microsoftTunnelHealthThresholds:
              operationId: deviceManagement.ListMicrosoftTunnelHealthThresholds
            microsoftTunnelServerLogCollectionResponses:
              operationId: deviceManagement.ListMicrosoftTunnelServerLogCollectionResponses
            microsoftTunnelSites:
              operationId: deviceManagement.ListMicrosoftTunnelSites
            notificationMessageTemplates:
              operationId: deviceManagement.ListNotificationMessageTemplates
            domainJoinConnectors:
              operationId: deviceManagement.ListDomainJoinConnectors
            configManagerCollections:
              operationId: deviceManagement.ListConfigManagerCollections
            organizationalMessageDetails:
              operationId: deviceManagement.ListOrganizationalMessageDetails
            organizationalMessageGuidedContents:
              operationId: deviceManagement.ListOrganizationalMessageGuidedContents
            resourceOperations:
              operationId: deviceManagement.ListResourceOperations
            roleAssignments:
              operationId: deviceManagement.ListRoleAssignments
            roleDefinitions:
              operationId: deviceManagement.ListRoleDefinitions
            roleScopeTags:
              operationId: deviceManagement.ListRoleScopeTags
            remoteAssistancePartners:
              operationId: deviceManagement.ListRemoteAssistancePartners
            remoteAssistanceSettings:
              operationId: deviceManagement.GetRemoteAssistanceSettings
            reports:
              operationId: deviceManagement.GetReports
            embeddedSIMActivationCodePools:
              operationId: deviceManagement.ListEmbeddedSIMActivationCodePools
            telecomExpenseManagementPartners:
              operationId: deviceManagement.ListTelecomExpenseManagementPartners
            autopilotEvents:
              operationId: deviceManagement.ListAutopilotEvents
            troubleshootingEvents:
              operationId: deviceManagement.ListTroubleshootingEvents
            windowsDriverUpdateProfiles:
              operationId: deviceManagement.ListWindowsDriverUpdateProfiles
            windowsFeatureUpdateProfiles:
              operationId: deviceManagement.ListWindowsFeatureUpdateProfiles
            windowsQualityUpdateProfiles:
              operationId: deviceManagement.ListWindowsQualityUpdateProfiles
            windowsUpdateCatalogItems:
              operationId: deviceManagement.ListWindowsUpdateCatalogItems
            intuneBrandingProfiles:
              operationId: deviceManagement.ListIntuneBrandingProfiles
            windowsInformationProtectionAppLearningSummaries:
              operationId: deviceManagement.ListWindowsInformationProtectionAppLearningSummaries
            windowsInformationProtectionNetworkLearningSummaries:
              operationId: deviceManagement.ListWindowsInformationProtectionNetworkLearningSummaries
            certificateConnectorDetails:
              operationId: deviceManagement.ListCertificateConnectorDetails
            userPfxCertificates:
              operationId: deviceManagement.ListUserPfxCertificates
            enableAndroidDeviceAdministratorEnrollment:
              operationId: deviceManagement.enableAndroidDeviceAdministratorEnrollment
            enableLegacyPcManagement:
              operationId: deviceManagement.enableLegacyPcManagement
            enableUnlicensedAdminstrators:
              operationId: deviceManagement.enableUnlicensedAdminstrators
            evaluateAssignmentFilter:
              operationId: deviceManagement.evaluateAssignmentFilter
            getAssignedRoleDetails:
              operationId: deviceManagement.getAssignedRoleDetails
            getAssignmentFiltersStatusDetails:
              operationId: deviceManagement.getAssignmentFiltersStatusDetails
            getComanagedDevicesSummary:
              operationId: deviceManagement.getComanagedDevicesSummary
            getComanagementEligibleDevicesSummary:
              operationId: deviceManagement.getComanagementEligibleDevicesSummary
            getEffectivePermissions:
              operationId: deviceManagement.getEffectivePermissions
            getOrganizationalMessageTenantConsent:
              operationId: deviceManagement.getOrganizationalMessageTenantConsent
            getRoleScopeTagsByIds:
              operationId: deviceManagement.getRoleScopeTagsGraphBPreIds
            getRoleScopeTagsByResource:
              operationId: deviceManagement.getRoleScopeTagsGraphBPreResource
            getSuggestedEnrollmentLimit:
              operationId: deviceManagement.getSuggestedEnrollmentLimit
            postOrganizationalMessageTenantConsent:
              operationId: deviceManagement.postOrganizationalMessageTenantConsent
            scopedForResource:
              operationId: deviceManagement.scopedGraphFPreResource
            sendCustomNotificationToCompanyPortal:
              operationId: deviceManagement.sendCustomNotificationToCompanyPortal
            updateOrganizationalMessageTenantConsent:
              operationId: deviceManagement.updateOrganizationalMessageTenantConsent
            userExperienceAnalyticsSummarizeWorkFromAnywhereDevices:
              operationId: deviceManagement.userExperienceAnalyticsSummarizeWorkFromAnywhereDevices
            verifyWindowsEnrollmentAutoDiscovery:
              operationId: deviceManagement.verifyWindowsEnrollmentAutoDiscovery
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagement
      summary: Update deviceManagement
      operationId: deviceManagement.deviceManagement_UpdateDeviceManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/advancedThreatProtectionOnboardingStateSummary:
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingStateSummary from deviceManagement
      description: The summary state of ATP onboarding state for this account.
      operationId: deviceManagement_GetAdvancedThreatProtectionOnboardingStateSummary
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - compliantDeviceCount
                - conflictDeviceCount
                - errorDeviceCount
                - nonCompliantDeviceCount
                - notApplicableDeviceCount
                - notAssignedDeviceCount
                - remediatedDeviceCount
                - unknownDeviceCount
                - advancedThreatProtectionOnboardingDeviceSettingStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - advancedThreatProtectionOnboardingDeviceSettingStates
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
          links:
            advancedThreatProtectionOnboardingDeviceSettingStates:
              operationId: deviceManagement.AdvancedThreatProtectionOnboardingStateSummary.ListAdvancedThreatProtectionOnboardingDeviceSettingStates
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Update the navigation property advancedThreatProtectionOnboardingStateSummary in deviceManagement
      operationId: deviceManagement_UpdateAdvancedThreatProtectionOnboardingStateSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Delete navigation property advancedThreatProtectionOnboardingStateSummary for deviceManagement
      operationId: deviceManagement_DeleteAdvancedThreatProtectionOnboardingStateSummary
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/advancedThreatProtectionOnboardingStateSummary/advancedThreatProtectionOnboardingDeviceSettingStates:
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingDeviceSettingStates from deviceManagement
      description: Not yet documented
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_ListAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - complianceGracePeriodExpirationDateTime
                - complianceGracePeriodExpirationDateTime desc
                - deviceId
                - deviceId desc
                - deviceModel
                - deviceModel desc
                - deviceName
                - deviceName desc
                - platformType
                - platformType desc
                - setting
                - setting desc
                - settingName
                - settingName desc
                - state
                - state desc
                - userEmail
                - userEmail desc
                - userId
                - userId desc
                - userName
                - userName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceId
                - deviceModel
                - deviceName
                - platformType
                - setting
                - settingName
                - state
                - userEmail
                - userId
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingStateCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Create new navigation property to advancedThreatProtectionOnboardingDeviceSettingStates for deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_CreateAdvancedThreatProtectionOnboardingDeviceSettingStates
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/advancedThreatProtectionOnboardingStateSummary/advancedThreatProtectionOnboardingDeviceSettingStates/{advancedThreatProtectionOnboardingDeviceSettingState-id}':
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingDeviceSettingStates from deviceManagement
      description: Not yet documented
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_GetAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: 'key: id of advancedThreatProtectionOnboardingDeviceSettingState'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceId
                - deviceModel
                - deviceName
                - platformType
                - setting
                - settingName
                - state
                - userEmail
                - userId
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Update the navigation property advancedThreatProtectionOnboardingDeviceSettingStates in deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_UpdateAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: 'key: id of advancedThreatProtectionOnboardingDeviceSettingState'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Delete navigation property advancedThreatProtectionOnboardingDeviceSettingStates for deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_DeleteAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: 'key: id of advancedThreatProtectionOnboardingDeviceSettingState'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidForWorkAppConfigurationSchemas:
    get:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Get androidForWorkAppConfigurationSchemas from deviceManagement
      description: Android for Work app configuration schema entities.
      operationId: deviceManagement_ListAndroidGraphFPreWorkAppConfigurationSchemas
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - exampleJson
                - exampleJson desc
                - schemaItems
                - schemaItems desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.androidForWorkAppConfigurationSchemaCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Create new navigation property to androidForWorkAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_CreateAndroidGraphFPreWorkAppConfigurationSchemas
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidForWorkAppConfigurationSchemas/{androidForWorkAppConfigurationSchema-id}':
    get:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Get androidForWorkAppConfigurationSchemas from deviceManagement
      description: Android for Work app configuration schema entities.
      operationId: deviceManagement_GetAndroidGraphFPreWorkAppConfigurationSchemas
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: 'key: id of androidForWorkAppConfigurationSchema'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Update the navigation property androidForWorkAppConfigurationSchemas in deviceManagement
      operationId: deviceManagement_UpdateAndroidGraphFPreWorkAppConfigurationSchemas
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: 'key: id of androidForWorkAppConfigurationSchema'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Delete navigation property androidForWorkAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_DeleteAndroidGraphFPreWorkAppConfigurationSchemas
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: 'key: id of androidForWorkAppConfigurationSchema'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidForWorkSettings:
    get:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Get androidForWorkSettings from deviceManagement
      description: The singleton Android for Work settings entity.
      operationId: deviceManagement_GetAndroidGraphFPreWorkSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - bindStatus
                - deviceOwnerManagementEnabled
                - enrollmentTarget
                - lastAppSyncDateTime
                - lastAppSyncStatus
                - lastModifiedDateTime
                - ownerOrganizationName
                - ownerUserPrincipalName
                - targetGroupIds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkSettings'
          links:
            completeSignup:
              operationId: deviceManagement.androidGraphFPreWorkSettings.completeSignup
            requestSignupUrl:
              operationId: deviceManagement.androidGraphFPreWorkSettings.requestSignupUrl
            syncApps:
              operationId: deviceManagement.androidGraphFPreWorkSettings.syncApps
            unbind:
              operationId: deviceManagement.androidGraphFPreWorkSettings.unbind
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Update the navigation property androidForWorkSettings in deviceManagement
      operationId: deviceManagement_UpdateAndroidGraphFPreWorkSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Delete navigation property androidForWorkSettings for deviceManagement
      operationId: deviceManagement_DeleteAndroidGraphFPreWorkSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings:
    get:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Get androidManagedStoreAccountEnterpriseSettings from deviceManagement
      description: The singleton Android managed store account enterprise settings entity.
      operationId: deviceManagement_GetAndroidManagedStoreAccountEnterpriseSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidDeviceOwnerFullyManagedEnrollmentEnabled
                - bindStatus
                - companyCodes
                - deviceOwnerManagementEnabled
                - enrollmentTarget
                - lastAppSyncDateTime
                - lastAppSyncStatus
                - lastModifiedDateTime
                - managedGooglePlayInitialScopeTagIds
                - ownerOrganizationName
                - ownerUserPrincipalName
                - targetGroupIds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
          links:
            approveApps:
              operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings.approveApps
            completeSignup:
              operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings.completeSignup
            createGooglePlayWebToken:
              operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings.createGooglePlayWebToken
            requestSignupUrl:
              operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings.requestSignupUrl
            setAndroidDeviceOwnerFullyManagedEnrollmentState:
              operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings.setAndroidDeviceOwnerFullyManagedEnrollmentState
            syncApps:
              operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings.syncApps
            unbind:
              operationId: deviceManagement.androidManagedStoreAccountEnterpriseSettings.unbind
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Update the navigation property androidManagedStoreAccountEnterpriseSettings in deviceManagement
      operationId: deviceManagement_UpdateAndroidManagedStoreAccountEnterpriseSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Delete navigation property androidManagedStoreAccountEnterpriseSettings for deviceManagement
      operationId: deviceManagement_DeleteAndroidManagedStoreAccountEnterpriseSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidManagedStoreAppConfigurationSchemas:
    get:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Get androidManagedStoreAppConfigurationSchemas from deviceManagement
      description: Android Enterprise app configuration schema entities.
      operationId: deviceManagement_ListAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - exampleJson
                - exampleJson desc
                - nestedSchemaItems
                - nestedSchemaItems desc
                - schemaItems
                - schemaItems desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - nestedSchemaItems
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.androidManagedStoreAppConfigurationSchemaCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Create new navigation property to androidManagedStoreAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_CreateAndroidManagedStoreAppConfigurationSchemas
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidManagedStoreAppConfigurationSchemas/{androidManagedStoreAppConfigurationSchema-id}':
    get:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Get androidManagedStoreAppConfigurationSchemas from deviceManagement
      description: Android Enterprise app configuration schema entities.
      operationId: deviceManagement_GetAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: 'key: id of androidManagedStoreAppConfigurationSchema'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - nestedSchemaItems
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Update the navigation property androidManagedStoreAppConfigurationSchemas in deviceManagement
      operationId: deviceManagement_UpdateAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: 'key: id of androidManagedStoreAppConfigurationSchema'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Delete navigation property androidManagedStoreAppConfigurationSchemas for deviceManagement
      operationId: deviceManagement_DeleteAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: 'key: id of androidManagedStoreAppConfigurationSchema'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/assignmentFilters:
    get:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Get assignmentFilters from deviceManagement
      description: The list of assignment filters
      operationId: deviceManagement_ListAssignmentFilters
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - payloads
                - payloads desc
                - platform
                - platform desc
                - roleScopeTags
                - roleScopeTags desc
                - rule
                - rule desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - payloads
                - platform
                - roleScopeTags
                - rule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceAndAppManagementAssignmentFilterCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Create new navigation property to assignmentFilters for deviceManagement
      operationId: deviceManagement_CreateAssignmentFilters
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/assignmentFilters/{deviceAndAppManagementAssignmentFilter-id}':
    get:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Get assignmentFilters from deviceManagement
      description: The list of assignment filters
      operationId: deviceManagement_GetAssignmentFilters
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: 'key: id of deviceAndAppManagementAssignmentFilter'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - payloads
                - platform
                - roleScopeTags
                - rule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
          links:
            getSupportedProperties:
              operationId: deviceManagement.assignmentFilters.deviceAndAppManagementAssignmentFilter.getSupportedProperties
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Update the navigation property assignmentFilters in deviceManagement
      operationId: deviceManagement_UpdateAssignmentFilters
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: 'key: id of deviceAndAppManagementAssignmentFilter'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Delete navigation property assignmentFilters for deviceManagement
      operationId: deviceManagement_DeleteAssignmentFilters
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: 'key: id of deviceAndAppManagementAssignmentFilter'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/categories:
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get categories from deviceManagement
      description: The available categories
      operationId: deviceManagement_ListCategories
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - hasRequiredSetting
                - hasRequiredSetting desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - hasRequiredSetting
                - settingDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settingDefinitions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceManagementSettingCategoryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Create new navigation property to categories for deviceManagement
      operationId: deviceManagement_CreateCategories
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/categories/{deviceManagementSettingCategory-id}':
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get categories from deviceManagement
      description: The available categories
      operationId: deviceManagement_GetCategories
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - hasRequiredSetting
                - settingDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settingDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
          links:
            settingDefinitions:
              operationId: deviceManagement.Categories.ListSettingDefinitions
              parameters:
                deviceManagementSettingCategory-id: $request.path.deviceManagementSettingCategory-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Update the navigation property categories in deviceManagement
      operationId: deviceManagement_UpdateCategories
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Delete navigation property categories for deviceManagement
      operationId: deviceManagement_DeleteCategories
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/categories/{deviceManagementSettingCategory-id}/settingDefinitions':
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get settingDefinitions from deviceManagement
      description: The setting definitions this category contains
      operationId: deviceManagement.categories_ListSettingDefinitions
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - constraints
                - constraints desc
                - dependencies
                - dependencies desc
                - description
                - description desc
                - displayName
                - displayName desc
                - documentationUrl
                - documentationUrl desc
                - headerSubtitle
                - headerSubtitle desc
                - headerTitle
                - headerTitle desc
                - isTopLevel
                - isTopLevel desc
                - keywords
                - keywords desc
                - placeholderText
                - placeholderText desc
                - valueType
                - valueType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - constraints
                - dependencies
                - description
                - displayName
                - documentationUrl
                - headerSubtitle
                - headerTitle
                - isTopLevel
                - keywords
                - placeholderText
                - valueType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceManagementSettingDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Create new navigation property to settingDefinitions for deviceManagement
      operationId: deviceManagement.categories_CreateSettingDefinitions
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/categories/{deviceManagementSettingCategory-id}/settingDefinitions/{deviceManagementSettingDefinition-id}':
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get settingDefinitions from deviceManagement
      description: The setting definitions this category contains
      operationId: deviceManagement.categories_GetSettingDefinitions
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: deviceManagementSettingDefinition-id
          in: path
          description: 'key: id of deviceManagementSettingDefinition'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - constraints
                - dependencies
                - description
                - displayName
                - documentationUrl
                - headerSubtitle
                - headerTitle
                - isTopLevel
                - keywords
                - placeholderText
                - valueType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Update the navigation property settingDefinitions in deviceManagement
      operationId: deviceManagement.categories_UpdateSettingDefinitions
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: deviceManagementSettingDefinition-id
          in: path
          description: 'key: id of deviceManagementSettingDefinition'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Delete navigation property settingDefinitions for deviceManagement
      operationId: deviceManagement.categories_DeleteSettingDefinitions
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: deviceManagementSettingDefinition-id
          in: path
          description: 'key: id of deviceManagementSettingDefinition'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingDefinition
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/comanagedDevices:
    get:
      tags:
        - deviceManagement.managedDevice
      summary: Get comanagedDevices from deviceManagement
      description: The list of co-managed devices report
      operationId: deviceManagement_ListComanagedDevices
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - cloudPcRemoteActionResults
                - cloudPcRemoteActionResults desc
                - aadRegistered
                - aadRegistered desc
                - activationLockBypassCode
                - activationLockBypassCode desc
                - androidSecurityPatchLevel
                - androidSecurityPatchLevel desc
                - autopilotEnrolled
                - autopilotEnrolled desc
                - azureActiveDirectoryDeviceId
                - azureActiveDirectoryDeviceId desc
                - azureADDeviceId
                - azureADDeviceId desc
                - azureADRegistered
                - azureADRegistered desc
                - bootstrapTokenEscrowed
                - bootstrapTokenEscrowed desc
                - chassisType
                - chassisType desc
                - chromeOSDeviceInfo
                - chromeOSDeviceInfo desc
                - complianceGracePeriodExpirationDateTime
                - complianceGracePeriodExpirationDateTime desc
                - complianceState
                - complianceState desc
                - configurationManagerClientEnabledFeatures
                - configurationManagerClientEnabledFeatures desc
                - configurationManagerClientHealthState
                - configurationManagerClientHealthState desc
                - configurationManagerClientInformation
                - configurationManagerClientInformation desc
                - deviceActionResults
                - deviceActionResults desc
                - deviceCategoryDisplayName
                - deviceCategoryDisplayName desc
                - deviceEnrollmentType
                - deviceEnrollmentType desc
[...]
