openapi: 3.0.1
info:
  title: Directory
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /directory/publicKeyInfrastructure:
    get:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Get publicKeyInfrastructure from directory
      operationId: directory_GetPublicKeyInfrastructure
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.publicKeyInfrastructureRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Update the navigation property publicKeyInfrastructure in directory
      operationId: directory_UpdatePublicKeyInfrastructure
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.publicKeyInfrastructureRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.publicKeyInfrastructureRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Delete navigation property publicKeyInfrastructure for directory
      operationId: directory_DeletePublicKeyInfrastructure
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/publicKeyInfrastructure/certificateBasedAuthConfigurations:
    get:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Get certificateBasedAuthConfigurations from directory
      operationId: directory.publicKeyInfrastructure_ListCertificateBasedAuthConfiguration
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.certificateBasedAuthPkiCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Create new navigation property to certificateBasedAuthConfigurations for directory
      operationId: directory.publicKeyInfrastructure_CreateCertificateBasedAuthConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directory/publicKeyInfrastructure/certificateBasedAuthConfigurations/{certificateBasedAuthPki-id}':
    get:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Get certificateBasedAuthConfigurations from directory
      operationId: directory.publicKeyInfrastructure_GetCertificateBasedAuthConfiguration
      parameters:
        - name: certificateBasedAuthPki-id
          in: path
          description: The unique identifier of certificateBasedAuthPki
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthPki
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Update the navigation property certificateBasedAuthConfigurations in directory
      operationId: directory.publicKeyInfrastructure_UpdateCertificateBasedAuthConfiguration
      parameters:
        - name: certificateBasedAuthPki-id
          in: path
          description: The unique identifier of certificateBasedAuthPki
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthPki
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Delete navigation property certificateBasedAuthConfigurations for directory
      operationId: directory.publicKeyInfrastructure_DeleteCertificateBasedAuthConfiguration
      parameters:
        - name: certificateBasedAuthPki-id
          in: path
          description: The unique identifier of certificateBasedAuthPki
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthPki
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directory/publicKeyInfrastructure/certificateBasedAuthConfigurations/{certificateBasedAuthPki-id}/certificateAuthorities':
    get:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Get certificateAuthorities from directory
      operationId: directory.publicKeyInfrastructure.certificateBasedAuthConfiguration_ListCertificateAuthority
      parameters:
        - name: certificateBasedAuthPki-id
          in: path
          description: The unique identifier of certificateBasedAuthPki
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthPki
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.certificateAuthorityDetailCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Create new navigation property to certificateAuthorities for directory
      operationId: directory.publicKeyInfrastructure.certificateBasedAuthConfiguration_CreateCertificateAuthority
      parameters:
        - name: certificateBasedAuthPki-id
          in: path
          description: The unique identifier of certificateBasedAuthPki
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthPki
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directory/publicKeyInfrastructure/certificateBasedAuthConfigurations/{certificateBasedAuthPki-id}/certificateAuthorities/{certificateAuthorityDetail-id}':
    get:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Get certificateAuthorities from directory
      operationId: directory.publicKeyInfrastructure.certificateBasedAuthConfiguration_GetCertificateAuthority
      parameters:
        - name: certificateBasedAuthPki-id
          in: path
          description: The unique identifier of certificateBasedAuthPki
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthPki
        - name: certificateAuthorityDetail-id
          in: path
          description: The unique identifier of certificateAuthorityDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateAuthorityDetail
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Update the navigation property certificateAuthorities in directory
      operationId: directory.publicKeyInfrastructure.certificateBasedAuthConfiguration_UpdateCertificateAuthority
      parameters:
        - name: certificateBasedAuthPki-id
          in: path
          description: The unique identifier of certificateBasedAuthPki
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthPki
        - name: certificateAuthorityDetail-id
          in: path
          description: The unique identifier of certificateAuthorityDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateAuthorityDetail
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Delete navigation property certificateAuthorities for directory
      operationId: directory.publicKeyInfrastructure.certificateBasedAuthConfiguration_DeleteCertificateAuthority
      parameters:
        - name: certificateBasedAuthPki-id
          in: path
          description: The unique identifier of certificateBasedAuthPki
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthPki
        - name: certificateAuthorityDetail-id
          in: path
          description: The unique identifier of certificateAuthorityDetail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateAuthorityDetail
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directory/publicKeyInfrastructure/certificateBasedAuthConfigurations/{certificateBasedAuthPki-id}/certificateAuthorities/$count':
    get:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Get the number of the resource
      operationId: directory.publicKeyInfrastructure.certificateBasedAuthConfiguration.certificateAuthority_GetCount
      parameters:
        - name: certificateBasedAuthPki-id
          in: path
          description: The unique identifier of certificateBasedAuthPki
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthPki
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/directory/publicKeyInfrastructure/certificateBasedAuthConfigurations/{certificateBasedAuthPki-id}/microsoft.graph.upload':
    post:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Invoke action upload
      operationId: directory.publicKeyInfrastructure.certificateBasedAuthConfiguration_upload
      parameters:
        - name: certificateBasedAuthPki-id
          in: path
          description: The unique identifier of certificateBasedAuthPki
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthPki
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                uploadUrl:
                  type: string
                sha256FileHash:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /directory/publicKeyInfrastructure/certificateBasedAuthConfigurations/$count:
    get:
      tags:
        - directory.publicKeyInfrastructureRoot
      summary: Get the number of the resource
      operationId: directory.publicKeyInfrastructure.certificateBasedAuthConfiguration_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.publicKeyInfrastructureRoot:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: publicKeyInfrastructureRoot
          type: object
          properties:
            certificateBasedAuthConfigurations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.certificateBasedAuthPki:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: certificateBasedAuthPki
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            status:
              type: string
              nullable: true
            statusDetails:
              type: string
              nullable: true
            certificateAuthorities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.certificateAuthorityDetail:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: certificateAuthorityDetail
          type: object
          properties:
            certificate:
              type: string
              format: base64url
            certificateAuthorityType:
              $ref: '#/components/schemas/microsoft.graph.certificateAuthorityType'
            certificateRevocationListUrl:
              type: string
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            deltacertificateRevocationListUrl:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            isIssuerHintEnabled:
              type: boolean
              nullable: true
            issuer:
              type: string
              nullable: true
            issuerSubjectKeyIdentifier:
              type: string
              nullable: true
            thumbprint:
              type: string
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
              format: date-time
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.certificateAuthorityType:
      title: certificateAuthorityType
      enum:
        - root
        - intermediate
        - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.certificateBasedAuthPkiCollectionResponse:
      title: Collection of certificateBasedAuthPki
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.certificateAuthorityDetailCollectionResponse:
      title: Collection of certificateAuthorityDetail
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.certificateBasedAuthPkiCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthPkiCollectionResponse'
    microsoft.graph.certificateAuthorityDetailCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.certificateAuthorityDetailCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]
