openapi: 3.0.1
info:
  title: Education
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /education:
    get:
      tags:
        - education.educationRoot
      summary: Get education
      operationId: education.educationRoot_GetEducationRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - synchronizationProfiles
                - classes
                - me
                - schools
                - users
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - synchronizationProfiles
                - classes
                - me
                - schools
                - users
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationRoot'
          links:
            synchronizationProfiles:
              operationId: education.ListSynchronizationProfiles
            classes:
              operationId: education.ListClasses
            me:
              operationId: education.GetMe
            schools:
              operationId: education.ListSchools
            users:
              operationId: education.ListUsers
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationRoot
      summary: Update education
      operationId: education.educationRoot_UpdateEducationRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /education/classes:
    get:
      tags:
        - education.educationClass
      summary: List classes
      description: 'Retrieve a list of all class objects. '
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationroot-list-classes?view=graph-rest-1.0
      operationId: education_ListClasses
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - classCode
                - classCode desc
                - course
                - course desc
                - createdBy
                - createdBy desc
                - description
                - description desc
                - displayName
                - displayName desc
                - externalId
                - externalId desc
                - externalName
                - externalName desc
                - externalSource
                - externalSource desc
                - externalSourceDetail
                - externalSourceDetail desc
                - grade
                - grade desc
                - mailNickname
                - mailNickname desc
                - term
                - term desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classCode
                - course
                - createdBy
                - description
                - displayName
                - externalId
                - externalName
                - externalSource
                - externalSourceDetail
                - grade
                - mailNickname
                - term
                - assignmentCategories
                - assignmentDefaults
                - assignments
                - assignmentSettings
                - group
                - members
                - schools
                - teachers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignmentCategories
                - assignmentDefaults
                - assignments
                - assignmentSettings
                - group
                - members
                - schools
                - teachers
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationClassCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create educationClass
      description: "Create a new class. This will also create a universal group. When you use this API to create a class, it will add special properties to the group, which will\nadd features such as assignments and special handling within Microsoft Teams when teams are created using the group. Please note that this API only creates the universal group and does not create a team. Microsoft Teams provides a user interface for teachers to create teams for their own classes using the groups created by this API."
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationroot-post-classes?view=graph-rest-1.0
      operationId: education_CreateClasses
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationClass'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationClass'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}':
    get:
      tags:
        - education.educationClass
      summary: Get classes from education
      operationId: education_GetClasses
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classCode
                - course
                - createdBy
                - description
                - displayName
                - externalId
                - externalName
                - externalSource
                - externalSourceDetail
                - grade
                - mailNickname
                - term
                - assignmentCategories
                - assignmentDefaults
                - assignments
                - assignmentSettings
                - group
                - members
                - schools
                - teachers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignmentCategories
                - assignmentDefaults
                - assignments
                - assignmentSettings
                - group
                - members
                - schools
                - teachers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationClass'
          links:
            assignmentCategories:
              operationId: education.Classes.ListAssignmentCategories
              parameters:
                educationClass-id: $request.path.educationClass-id
            assignmentDefaults:
              operationId: education.Classes.GetAssignmentDefaults
              parameters:
                educationClass-id: $request.path.educationClass-id
            assignments:
              operationId: education.Classes.ListAssignments
              parameters:
                educationClass-id: $request.path.educationClass-id
            assignmentSettings:
              operationId: education.Classes.GetAssignmentSettings
              parameters:
                educationClass-id: $request.path.educationClass-id
            group:
              operationId: education.Classes.GetGroup
              parameters:
                educationClass-id: $request.path.educationClass-id
            members:
              operationId: education.Classes.ListMembers
              parameters:
                educationClass-id: $request.path.educationClass-id
            schools:
              operationId: education.Classes.ListSchools
              parameters:
                educationClass-id: $request.path.educationClass-id
            teachers:
              operationId: education.Classes.ListTeachers
              parameters:
                educationClass-id: $request.path.educationClass-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property classes in education
      operationId: education_UpdateClasses
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationClass'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property classes for education
      operationId: education_DeleteClasses
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignmentCategories':
    get:
      tags:
        - education.educationClass
      summary: List assignmentCategories
      description: Retrieve a list of educationCategory objects.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationclass-list-categories?view=graph-rest-1.0
      operationId: education.classes_ListAssignmentCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationCategoryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create educationCategory
      description: Creates a new educationCategory on an educationClass.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationclass-post-category?view=graph-rest-1.0
      operationId: education.classes_CreateAssignmentCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignmentCategories/{educationCategory-id}':
    get:
      tags:
        - education.educationClass
      summary: Get assignmentCategories from education
      description: All categories associated with this class. Nullable.
      operationId: education.classes_GetAssignmentCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationCategory-id
          in: path
          description: 'key: id of educationCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationCategory
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property assignmentCategories in education
      operationId: education.classes_UpdateAssignmentCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationCategory-id
          in: path
          description: 'key: id of educationCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationCategory'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property assignmentCategories for education
      operationId: education.classes_DeleteAssignmentCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationCategory-id
          in: path
          description: 'key: id of educationCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationCategory
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignmentCategories/microsoft.graph.delta()':
    get:
      tags:
        - education.Functions
      summary: Invoke function delta
      operationId: education.classes.assignmentCategories_delta
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of educationCategory
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.educationCategory'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/education/classes/{educationClass-id}/assignmentDefaults':
    get:
      tags:
        - education.educationClass
      summary: Get educationAssignmentDefaults
      description: Read the properties and relationships of an educationAssignmentDefaults object.  These are the class-level assignment defaults respected by new assignments created in the class. Callers can continue to specify custom values on each **assignment** creation if they don't want the default behaviors.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignmentdefaults-get?view=graph-rest-1.0
      operationId: education.classes_GetAssignmentDefaults
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addedStudentAction
                - addToCalendarAction
                - dueTime
                - notificationChannelUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignmentDefaults'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update educationAssignmentDefaults
      description: Update the properties of an educationAssignmentDefaults object. Only teachers can update these settings.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignmentdefaults-update?view=graph-rest-1.0
      operationId: education.classes_UpdateAssignmentDefaults
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationAssignmentDefaults'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property assignmentDefaults for education
      operationId: education.classes_DeleteAssignmentDefaults
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments':
    get:
      tags:
        - education.educationClass
      summary: List class assignments
      description: Retrieve a list of assignment objects.  A teacher or an application executing with application permissions can see all assignment objects for the class. Students can only see assignments that are assigned to them.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationclass-list-assignments?view=graph-rest-1.0
      operationId: education.classes_ListAssignments
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - addedStudentAction
                - addedStudentAction desc
                - addToCalendarAction
                - addToCalendarAction desc
                - allowLateSubmissions
                - allowLateSubmissions desc
                - allowStudentsToAddResourcesToSubmission
                - allowStudentsToAddResourcesToSubmission desc
                - assignDateTime
                - assignDateTime desc
                - assignedDateTime
                - assignedDateTime desc
                - assignTo
                - assignTo desc
                - classId
                - classId desc
                - closeDateTime
                - closeDateTime desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - dueDateTime
                - dueDateTime desc
                - feedbackResourcesFolderUrl
                - feedbackResourcesFolderUrl desc
                - grading
                - grading desc
                - instructions
                - instructions desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - notificationChannelUrl
                - notificationChannelUrl desc
                - resourcesFolderUrl
                - resourcesFolderUrl desc
                - status
                - status desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addedStudentAction
                - addToCalendarAction
                - allowLateSubmissions
                - allowStudentsToAddResourcesToSubmission
                - assignDateTime
                - assignedDateTime
                - assignTo
                - classId
                - closeDateTime
                - createdBy
                - createdDateTime
                - displayName
                - dueDateTime
                - feedbackResourcesFolderUrl
                - grading
                - instructions
                - lastModifiedBy
                - lastModifiedDateTime
                - notificationChannelUrl
                - resourcesFolderUrl
                - status
                - webUrl
                - categories
                - resources
                - rubric
                - submissions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - categories
                - resources
                - rubric
                - submissions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create educationAssignment
      description: 'Create a new assignment.  Only teachers in a class can create an assignment. Assignments start in the Draft state, which means that students will not see the assignment until publication.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationclass-post-assignments?view=graph-rest-1.0
      operationId: education.classes_CreateAssignments
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}':
    get:
      tags:
        - education.educationClass
      summary: Get assignments from education
      description: All assignments associated with this class. Nullable.
      operationId: education.classes_GetAssignments
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addedStudentAction
                - addToCalendarAction
                - allowLateSubmissions
                - allowStudentsToAddResourcesToSubmission
                - assignDateTime
                - assignedDateTime
                - assignTo
                - classId
                - closeDateTime
                - createdBy
                - createdDateTime
                - displayName
                - dueDateTime
                - feedbackResourcesFolderUrl
                - grading
                - instructions
                - lastModifiedBy
                - lastModifiedDateTime
                - notificationChannelUrl
                - resourcesFolderUrl
                - status
                - webUrl
                - categories
                - resources
                - rubric
                - submissions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - categories
                - resources
                - rubric
                - submissions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignment'
          links:
            categories:
              operationId: education.classes.Assignments.ListCategories
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
            resources:
              operationId: education.classes.Assignments.ListResources
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
            rubric:
              operationId: education.classes.Assignments.GetRubric
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
            submissions:
              operationId: education.classes.Assignments.ListSubmissions
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
            publish:
              operationId: education.classes.educationClass.assignments.educationAssignment.publish
            setUpFeedbackResourcesFolder:
              operationId: education.classes.educationClass.assignments.educationAssignment.setUpFeedbackResourcesFolder
            setUpResourcesFolder:
              operationId: education.classes.educationClass.assignments.educationAssignment.setUpResourcesFolder
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property assignments in education
      operationId: education.classes_UpdateAssignments
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property assignments for education
      operationId: education.classes_DeleteAssignments
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories':
    get:
      tags:
        - education.educationClass
      summary: List categories
      description: List all the categories associated with an assignment.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignment-list-categories?view=graph-rest-1.0
      operationId: education.classes.assignments_ListCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationCategoryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property to categories for education
      operationId: education.classes.assignments_CreateCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories/{educationCategory-id}/$ref':
    delete:
      tags:
        - education.educationClass
      summary: Delete ref of navigation property categories for education
      operationId: education.classes.assignments_DeleteCategoriesGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationCategory-id
          in: path
          description: 'key: id of educationCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationCategory
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          style: form
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories/$ref':
    get:
      tags:
        - education.educationClass
      summary: List categories
      description: List all the categories associated with an assignment.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignment-list-categories?view=graph-rest-1.0
      operationId: education.classes.assignments_ListCategoriesGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
      responses:
        '200':
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property ref to categories for education
      operationId: education.classes.assignments_CreateCategoriesGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories/microsoft.graph.delta()':
    get:
      tags:
        - education.Functions
      summary: Invoke function delta
      operationId: education.classes.assignments.categories_delta
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of educationCategory
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.educationCategory'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/microsoft.graph.publish':
    post:
      tags:
        - education.Actions
      summary: Invoke action publish
      description: 'Change the state of an educationAssignment from its original `draft` status to the `published` status.  You can change the state from `draft` to `scheduled` if the **assignment** is scheduled for a future date.  Only a teacher in the class can make this call. When an **assignment** is in draft status, students will not see the **assignment**, nor will there be any submission objects. When you call this API, educationSubmission objects are created and the assignment appears in the student''s list. The state of the **assignment** goes back to `draft` if there is any backend failure during publish process. To update the properties of a published **assignment**, see update an assignment. To update the properties of a published assignment, see update an assignment.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignment-publish?view=graph-rest-1.0
      operationId: education.classes.assignments_publish
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/microsoft.graph.setUpFeedbackResourcesFolder':
    post:
      tags:
        - education.Actions
      summary: Invoke action setUpFeedbackResourcesFolder
      description: Create a SharePoint folder to upload feedback files for a given educationSubmission. The teacher determines the resources to upload in the feedback resources folder of a submission.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignment-setupfeedbackresourcesfolder?view=graph-rest-1.0
      operationId: education.classes.assignments_setUpFeedbackResourcesFolder
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/microsoft.graph.setUpResourcesFolder':
    post:
      tags:
        - education.Actions
      summary: Invoke action setUpResourcesFolder
      description: 'Create a SharePoint folder to upload files for a given educationAssignment.  The teacher determines the resources to upload in the assignment''s folder. '
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignment-setupresourcesfolder?view=graph-rest-1.0
      operationId: education.classes.assignments_setUpResourcesFolder
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/resources':
    get:
      tags:
        - education.educationClass
      summary: List assignment resources
      description: Get all the educationAssignmentResource objects associated with an assignment.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignment-list-resources?view=graph-rest-1.0
      operationId: education.classes.assignments_ListResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - distributeForStudentWork
                - distributeForStudentWork desc
                - resource
                - resource desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - distributeForStudentWork
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationAssignmentResourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create educationAssignmentResource
      description: 'Create an assignment resource. You can create the following types of assignment resources: Every resource has an @odata.type property to indicate which type of resource is being created. '
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignment-post-resources?view=graph-rest-1.0
      operationId: education.classes.assignments_CreateResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationAssignmentResource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignmentResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/resources/{educationAssignmentResource-id}':
    get:
      tags:
        - education.educationClass
      summary: Get resources from education
      description: Learning objects that are associated with this assignment.  Only teachers can modify this list. Nullable.
      operationId: education.classes.assignments_GetResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationAssignmentResource-id
          in: path
          description: 'key: id of educationAssignmentResource'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignmentResource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - distributeForStudentWork
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignmentResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property resources in education
      operationId: education.classes.assignments_UpdateResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationAssignmentResource-id
          in: path
          description: 'key: id of educationAssignmentResource'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignmentResource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationAssignmentResource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property resources for education
      operationId: education.classes.assignments_DeleteResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationAssignmentResource-id
          in: path
          description: 'key: id of educationAssignmentResource'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignmentResource
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/rubric':
    get:
      tags:
        - education.educationClass
      summary: Get educationRubric attached to educationAssignment
      description: 'Get the educationRubric object attached to an educationAssignment, if one exists.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignment-get-rubric?view=graph-rest-1.0
      operationId: education.classes.assignments_GetRubric
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - displayName
                - grading
                - lastModifiedBy
                - lastModifiedDateTime
                - levels
                - qualities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationRubric'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property rubric in education
      operationId: education.classes.assignments_UpdateRubric
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationRubric'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property rubric for education
      operationId: education.classes.assignments_DeleteRubric
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/rubric/$ref':
    get:
      tags:
        - education.educationClass
      summary: Get educationRubric attached to educationAssignment
      description: 'Get the educationRubric object attached to an educationAssignment, if one exists.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignment-get-rubric?view=graph-rest-1.0
      operationId: education.classes.assignments_GetRubricGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - education.educationClass
      summary: Update the ref of navigation property rubric in education
      operationId: education.classes.assignments_SetRubricGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        $ref: '#/components/requestBodies/refPutBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete ref of navigation property rubric for education
      operationId: education.classes.assignments_DeleteRubricGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions':
    get:
      tags:
        - education.educationClass
      summary: List submissions
      description: 'List all the submissions associated with an assignment. A teacher or an application with application permissions can get all the **submissions**, a student can only get **submissions** that they are associated with. Provide the header `Prefer: include-unknown-enum-members` to properly list **submissions** with the `reassigned` status. For details, see the examples section.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationassignment-list-submissions?view=graph-rest-1.0
      operationId: education.classes.assignments_ListSubmissions
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - reassignedBy
                - reassignedBy desc
                - reassignedDateTime
                - reassignedDateTime desc
                - recipient
                - recipient desc
                - resourcesFolderUrl
                - resourcesFolderUrl desc
                - returnedBy
                - returnedBy desc
                - returnedDateTime
                - returnedDateTime desc
                - status
                - status desc
                - submittedBy
                - submittedBy desc
                - submittedDateTime
                - submittedDateTime desc
                - unsubmittedBy
                - unsubmittedBy desc
                - unsubmittedDateTime
                - unsubmittedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - reassignedBy
                - reassignedDateTime
                - recipient
                - resourcesFolderUrl
                - returnedBy
                - returnedDateTime
                - status
                - submittedBy
                - submittedDateTime
                - unsubmittedBy
                - unsubmittedDateTime
                - outcomes
                - resources
                - submittedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - outcomes
                - resources
                - submittedResources
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationSubmissionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property to submissions for education
      operationId: education.classes.assignments_CreateSubmissions
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}':
    get:
      tags:
        - education.educationClass
      summary: Get submissions from education
      description: 'Once published, there is a submission object for each student representing their work and grade.  Read-only. Nullable.'
      operationId: education.classes.assignments_GetSubmissions
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - reassignedBy
                - reassignedDateTime
                - recipient
                - resourcesFolderUrl
                - returnedBy
                - returnedDateTime
                - status
                - submittedBy
                - submittedDateTime
                - unsubmittedBy
                - unsubmittedDateTime
                - outcomes
                - resources
                - submittedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - outcomes
                - resources
                - submittedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
          links:
            outcomes:
              operationId: education.classes.assignments.Submissions.ListOutcomes
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
                educationSubmission-id: $request.path.educationSubmission-id
            resources:
              operationId: education.classes.assignments.Submissions.ListResources
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
                educationSubmission-id: $request.path.educationSubmission-id
            submittedResources:
              operationId: education.classes.assignments.Submissions.ListSubmittedResources
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
                educationSubmission-id: $request.path.educationSubmission-id
            reassign:
              operationId: education.classes.educationClass.assignments.educationAssignment.submissions.educationSubmission.reassign
            return:
              operationId: education.classes.educationClass.assignments.educationAssignment.submissions.educationSubmission.return
            setUpResourcesFolder:
              operationId: education.classes.educationClass.assignments.educationAssignment.submissions.educationSubmission.setUpResourcesFolder
            submit:
              operationId: education.classes.educationClass.assignments.educationAssignment.submissions.educationSubmission.submit
            unsubmit:
              operationId: education.classes.educationClass.assignments.educationAssignment.submissions.educationSubmission.unsubmit
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property submissions in education
      operationId: education.classes.assignments_UpdateSubmissions
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property submissions for education
      operationId: education.classes.assignments_DeleteSubmissions
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/microsoft.graph.reassign':
    post:
      tags:
        - education.Actions
      summary: Invoke action reassign
      description: 'Reassign the submission to the student with feedback for review. Only teachers can perform this action.  Include the `Prefer: include-unknown-enum-members` header when you call this method; otherwise, a reassigned submission will be treated as a returned submission. This means that the `reassigned` status will be mapped to the `returned` status, and **reassignedDateTime** and **reassignedBy** properties will be mapped to **returnedDateTime** and **returnedBy** respectively. If the header `Prefer: include-unknown-enum-members` is provided, a reassigned submission retains the `reassigned` status. For details, see the examples section.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationsubmission-reassign?view=graph-rest-1.0
      operationId: education.classes.assignments.submissions_reassign
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/microsoft.graph.return':
    post:
      tags:
        - education.Actions
      summary: Invoke action return
      description: Make the grade and feedback associated with this submission available to the student. This will change the status of the submission from 'submitted' to 'returned' and indicates that feedback is provided or grading is done. This action can only be done by the teacher.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationsubmission-return?view=graph-rest-1.0
      operationId: education.classes.assignments.submissions_return
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/microsoft.graph.setUpResourcesFolder':
    post:
      tags:
        - education.Actions
      summary: Invoke action setUpResourcesFolder
      description: 'Trigger the creation of the SharePoint resource folder where all file-based resources (Word, Excel, and so on) should be uploaded for a given submission. Note that files must be located in this folder in order to be added as resources. Only a student in the class can determine what files to upload in a given submission-level resource folder. '
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationsubmission-setupresourcesfolder?view=graph-rest-1.0
      operationId: education.classes.assignments.submissions_setUpResourcesFolder
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/microsoft.graph.submit':
    post:
      tags:
        - education.Actions
      summary: Invoke action submit
      description: 'Indicate that a student is done with the work and is ready to hand in the assignment.  This method changes the status of the submission from `working` to `submitted`. During the submit process, all the resources are copied to the **submittedResources** bucket. The teacher will be looking at the submitted resources list for grading. A teacher can also submit a student''s assignment on their behalf.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationsubmission-submit?view=graph-rest-1.0
      operationId: education.classes.assignments.submissions_submit
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/microsoft.graph.unsubmit':
    post:
      tags:
        - education.Actions
      summary: Invoke action unsubmit
      description: 'Indicate that a student wants to work on the submitted assignment after it was turned in.  This method changes the status of the submission from `submitted` to `working`. During the submit process, all the resources are copied from **submittedResources** to  **workingResources**. The teacher will be looking at the working resources list for grading. A teacher can also unsubmit a student''s assignment on their behalf.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationsubmission-unsubmit?view=graph-rest-1.0
      operationId: education.classes.assignments.submissions_unsubmit
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/outcomes':
    get:
      tags:
        - education.educationClass
      summary: List outcomes
      description: 'Retrieve a list of educationOutcome objects.  There are four types of outcomes: **educationPointsOutcome**, **educationFeedbackOutcome**, **educationRubricOutcome**, and **educationFeedbackResourceOutcome**. A submission for a credit assignment (one that has no point value and no rubric) will have an educationFeedbackOutcome. (It might also return an educationPointsOutcome, but that outcome is ignored.) A submission for a points assignment (one that has a point value assigned) will have both an educationFeedbackOutcome and an educationPointsOutcome. A submission for an assignment with an attached rubric, if the rubric is a credit rubric (no points), will have an educationFeedbackOutcome and an educationRubricOutcome. (It might also return an educationPointsOutcome, but that outcome is ignored.) A submission for an assignment with an attached rubric, if the rubric is a points rubric, will have an educationFeedbackOutcome, an educationPointsOutcome. A submission for a feedback resource will have an educationFeedbackResourceOutcome. All outcome types have a regular and a published property appropriate to that type of outcome; for example, **points** and **publishedPoints**, **feedback** and **publishedFeedback**.  The regular property is the most recent value updated by the teacher; the published property is the most recent value returned to the student.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationsubmission-list-outcomes?view=graph-rest-1.0
      operationId: education.classes.assignments.submissions_ListOutcomes
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedBy
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationOutcomeCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create educationFeedbackResourceOutcome
      description: 'Create a new feedback resource for a submission. Only a teacher can perform this operation. To create a new file-based resource, upload the file to the feedback resources folder associated with the assignment. If the file doesn''t exist or is not in that folder, the `POST` request will fail.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/educationfeedbackresourceoutcome-post-outcomes?view=graph-rest-1.0
      operationId: education.classes.assignments.submissions_CreateOutcomes
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationClass
[...]
