openapi: 3.0.1
info:
  title: Education
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /education:
    get:
      tags:
        - education.educationRoot
      summary: Get education
      operationId: education.educationRoot_GetEducationRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - synchronizationProfiles
                - classes
                - me
                - schools
                - users
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - synchronizationProfiles
                - classes
                - me
                - schools
                - users
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationRoot'
          links:
            synchronizationProfiles:
              operationId: education.ListSynchronizationProfiles
            classes:
              operationId: education.ListClasses
            me:
              operationId: education.GetMe
            schools:
              operationId: education.ListSchools
            users:
              operationId: education.ListUsers
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationRoot
      summary: Update education
      operationId: education.educationRoot_UpdateEducationRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /education/classes:
    get:
      tags:
        - education.educationClass
      summary: Get classes from education
      operationId: education_ListClasses
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - classCode
                - classCode desc
                - course
                - course desc
                - createdBy
                - createdBy desc
                - description
                - description desc
                - displayName
                - displayName desc
                - externalId
                - externalId desc
                - externalName
                - externalName desc
                - externalSource
                - externalSource desc
                - externalSourceDetail
                - externalSourceDetail desc
                - grade
                - grade desc
                - mailNickname
                - mailNickname desc
                - term
                - term desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classCode
                - course
                - createdBy
                - description
                - displayName
                - externalId
                - externalName
                - externalSource
                - externalSourceDetail
                - grade
                - mailNickname
                - term
                - assignmentCategories
                - assignmentDefaults
                - assignments
                - assignmentSettings
                - group
                - members
                - schools
                - teachers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignmentCategories
                - assignmentDefaults
                - assignments
                - assignmentSettings
                - group
                - members
                - schools
                - teachers
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationClassCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property to classes for education
      operationId: education_CreateClasses
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationClass'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationClass'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}':
    get:
      tags:
        - education.educationClass
      summary: Get classes from education
      operationId: education_GetClasses
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classCode
                - course
                - createdBy
                - description
                - displayName
                - externalId
                - externalName
                - externalSource
                - externalSourceDetail
                - grade
                - mailNickname
                - term
                - assignmentCategories
                - assignmentDefaults
                - assignments
                - assignmentSettings
                - group
                - members
                - schools
                - teachers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignmentCategories
                - assignmentDefaults
                - assignments
                - assignmentSettings
                - group
                - members
                - schools
                - teachers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationClass'
          links:
            assignmentCategories:
              operationId: education.Classes.ListAssignmentCategories
              parameters:
                educationClass-id: $request.path.educationClass-id
            assignmentDefaults:
              operationId: education.Classes.GetAssignmentDefaults
              parameters:
                educationClass-id: $request.path.educationClass-id
            assignments:
              operationId: education.Classes.ListAssignments
              parameters:
                educationClass-id: $request.path.educationClass-id
            assignmentSettings:
              operationId: education.Classes.GetAssignmentSettings
              parameters:
                educationClass-id: $request.path.educationClass-id
            group:
              operationId: education.Classes.GetGroup
              parameters:
                educationClass-id: $request.path.educationClass-id
            members:
              operationId: education.Classes.ListMembers
              parameters:
                educationClass-id: $request.path.educationClass-id
            schools:
              operationId: education.Classes.ListSchools
              parameters:
                educationClass-id: $request.path.educationClass-id
            teachers:
              operationId: education.Classes.ListTeachers
              parameters:
                educationClass-id: $request.path.educationClass-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property classes in education
      operationId: education_UpdateClasses
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationClass'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property classes for education
      operationId: education_DeleteClasses
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignmentCategories':
    get:
      tags:
        - education.educationClass
      summary: Get assignmentCategories from education
      description: All categories associated with this class. Nullable.
      operationId: education.classes_ListAssignmentCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationCategoryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property to assignmentCategories for education
      operationId: education.classes_CreateAssignmentCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignmentCategories/{educationCategory-id}':
    get:
      tags:
        - education.educationClass
      summary: Get assignmentCategories from education
      description: All categories associated with this class. Nullable.
      operationId: education.classes_GetAssignmentCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationCategory-id
          in: path
          description: 'key: id of educationCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationCategory
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property assignmentCategories in education
      operationId: education.classes_UpdateAssignmentCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationCategory-id
          in: path
          description: 'key: id of educationCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationCategory'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property assignmentCategories for education
      operationId: education.classes_DeleteAssignmentCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationCategory-id
          in: path
          description: 'key: id of educationCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationCategory
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignmentCategories/microsoft.graph.delta()':
    get:
      tags:
        - education.Functions
      summary: Invoke function delta
      operationId: education.classes.assignmentCategories_delta
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of educationCategory
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.educationCategory'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/education/classes/{educationClass-id}/assignmentDefaults':
    get:
      tags:
        - education.educationClass
      summary: Get assignmentDefaults from education
      description: Specifies class-level defaults respected by new assignments created in the class.
      operationId: education.classes_GetAssignmentDefaults
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addedStudentAction
                - addToCalendarAction
                - dueTime
                - notificationChannelUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignmentDefaults'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property assignmentDefaults in education
      operationId: education.classes_UpdateAssignmentDefaults
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationAssignmentDefaults'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property assignmentDefaults for education
      operationId: education.classes_DeleteAssignmentDefaults
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments':
    get:
      tags:
        - education.educationClass
      summary: Get assignments from education
      description: All assignments associated with this class. Nullable.
      operationId: education.classes_ListAssignments
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - addedStudentAction
                - addedStudentAction desc
                - addToCalendarAction
                - addToCalendarAction desc
                - allowLateSubmissions
                - allowLateSubmissions desc
                - allowStudentsToAddResourcesToSubmission
                - allowStudentsToAddResourcesToSubmission desc
                - assignDateTime
                - assignDateTime desc
                - assignedDateTime
                - assignedDateTime desc
                - assignTo
                - assignTo desc
                - classId
                - classId desc
                - closeDateTime
                - closeDateTime desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - dueDateTime
                - dueDateTime desc
                - feedbackResourcesFolderUrl
                - feedbackResourcesFolderUrl desc
                - grading
                - grading desc
                - instructions
                - instructions desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - notificationChannelUrl
                - notificationChannelUrl desc
                - resourcesFolderUrl
                - resourcesFolderUrl desc
                - status
                - status desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addedStudentAction
                - addToCalendarAction
                - allowLateSubmissions
                - allowStudentsToAddResourcesToSubmission
                - assignDateTime
                - assignedDateTime
                - assignTo
                - classId
                - closeDateTime
                - createdBy
                - createdDateTime
                - displayName
                - dueDateTime
                - feedbackResourcesFolderUrl
                - grading
                - instructions
                - lastModifiedBy
                - lastModifiedDateTime
                - notificationChannelUrl
                - resourcesFolderUrl
                - status
                - webUrl
                - categories
                - resources
                - rubric
                - submissions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - categories
                - resources
                - rubric
                - submissions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property to assignments for education
      operationId: education.classes_CreateAssignments
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}':
    get:
      tags:
        - education.educationClass
      summary: Get assignments from education
      description: All assignments associated with this class. Nullable.
      operationId: education.classes_GetAssignments
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addedStudentAction
                - addToCalendarAction
                - allowLateSubmissions
                - allowStudentsToAddResourcesToSubmission
                - assignDateTime
                - assignedDateTime
                - assignTo
                - classId
                - closeDateTime
                - createdBy
                - createdDateTime
                - displayName
                - dueDateTime
                - feedbackResourcesFolderUrl
                - grading
                - instructions
                - lastModifiedBy
                - lastModifiedDateTime
                - notificationChannelUrl
                - resourcesFolderUrl
                - status
                - webUrl
                - categories
                - resources
                - rubric
                - submissions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - categories
                - resources
                - rubric
                - submissions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignment'
          links:
            categories:
              operationId: education.classes.Assignments.ListCategories
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
            resources:
              operationId: education.classes.Assignments.ListResources
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
            rubric:
              operationId: education.classes.Assignments.GetRubric
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
            submissions:
              operationId: education.classes.Assignments.ListSubmissions
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
            publish:
              operationId: education.classes.educationClass.assignments.educationAssignment.publish
            setUpFeedbackResourcesFolder:
              operationId: education.classes.educationClass.assignments.educationAssignment.setUpFeedbackResourcesFolder
            setUpResourcesFolder:
              operationId: education.classes.educationClass.assignments.educationAssignment.setUpResourcesFolder
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property assignments in education
      operationId: education.classes_UpdateAssignments
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property assignments for education
      operationId: education.classes_DeleteAssignments
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories':
    get:
      tags:
        - education.educationClass
      summary: Get categories from education
      description: 'When set, enables users to easily find assignments of a given type.  Read-only. Nullable.'
      operationId: education.classes.assignments_ListCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationCategoryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property to categories for education
      operationId: education.classes.assignments_CreateCategories
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories/{educationCategory-id}/$ref':
    delete:
      tags:
        - education.educationClass
      summary: Delete ref of navigation property categories for education
      operationId: education.classes.assignments_DeleteCategoriesGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationCategory-id
          in: path
          description: 'key: id of educationCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationCategory
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories/$ref':
    get:
      tags:
        - education.educationClass
      summary: Get ref of categories from education
      description: 'When set, enables users to easily find assignments of a given type.  Read-only. Nullable.'
      operationId: education.classes.assignments_ListCategoriesGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
      responses:
        '200':
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property ref to categories for education
      operationId: education.classes.assignments_CreateCategoriesGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories/microsoft.graph.delta()':
    get:
      tags:
        - education.Functions
      summary: Invoke function delta
      operationId: education.classes.assignments.categories_delta
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of educationCategory
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.educationCategory'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/microsoft.graph.publish':
    post:
      tags:
        - education.Actions
      summary: Invoke action publish
      operationId: education.classes.assignments_publish
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/microsoft.graph.setUpFeedbackResourcesFolder':
    post:
      tags:
        - education.Actions
      summary: Invoke action setUpFeedbackResourcesFolder
      operationId: education.classes.assignments_setUpFeedbackResourcesFolder
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/microsoft.graph.setUpResourcesFolder':
    post:
      tags:
        - education.Actions
      summary: Invoke action setUpResourcesFolder
      operationId: education.classes.assignments_setUpResourcesFolder
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/resources':
    get:
      tags:
        - education.educationClass
      summary: Get resources from education
      description: Learning objects that are associated with this assignment.  Only teachers can modify this list. Nullable.
      operationId: education.classes.assignments_ListResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - distributeForStudentWork
                - distributeForStudentWork desc
                - resource
                - resource desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - distributeForStudentWork
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationAssignmentResourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property to resources for education
      operationId: education.classes.assignments_CreateResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationAssignmentResource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignmentResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/resources/{educationAssignmentResource-id}':
    get:
      tags:
        - education.educationClass
      summary: Get resources from education
      description: Learning objects that are associated with this assignment.  Only teachers can modify this list. Nullable.
      operationId: education.classes.assignments_GetResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationAssignmentResource-id
          in: path
          description: 'key: id of educationAssignmentResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignmentResource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - distributeForStudentWork
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationAssignmentResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property resources in education
      operationId: education.classes.assignments_UpdateResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationAssignmentResource-id
          in: path
          description: 'key: id of educationAssignmentResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignmentResource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationAssignmentResource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property resources for education
      operationId: education.classes.assignments_DeleteResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationAssignmentResource-id
          in: path
          description: 'key: id of educationAssignmentResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignmentResource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/rubric':
    get:
      tags:
        - education.educationClass
      summary: Get rubric from education
      description: 'When set, the grading rubric attached to this assignment.'
      operationId: education.classes.assignments_GetRubric
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - displayName
                - grading
                - lastModifiedBy
                - lastModifiedDateTime
                - levels
                - qualities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationRubric'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property rubric in education
      operationId: education.classes.assignments_UpdateRubric
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationRubric'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property rubric for education
      operationId: education.classes.assignments_DeleteRubric
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/rubric/$ref':
    get:
      tags:
        - education.educationClass
      summary: Get ref of rubric from education
      description: 'When set, the grading rubric attached to this assignment.'
      operationId: education.classes.assignments_GetRubricGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - education.educationClass
      summary: Update the ref of navigation property rubric in education
      operationId: education.classes.assignments_SetRubricGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        $ref: '#/components/requestBodies/refPutBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete ref of navigation property rubric for education
      operationId: education.classes.assignments_DeleteRubricGraphBPreRef
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions':
    get:
      tags:
        - education.educationClass
      summary: Get submissions from education
      description: 'Once published, there is a submission object for each student representing their work and grade.  Read-only. Nullable.'
      operationId: education.classes.assignments_ListSubmissions
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - reassignedBy
                - reassignedBy desc
                - reassignedDateTime
                - reassignedDateTime desc
                - recipient
                - recipient desc
                - resourcesFolderUrl
                - resourcesFolderUrl desc
                - returnedBy
                - returnedBy desc
                - returnedDateTime
                - returnedDateTime desc
                - status
                - status desc
                - submittedBy
                - submittedBy desc
                - submittedDateTime
                - submittedDateTime desc
                - unsubmittedBy
                - unsubmittedBy desc
                - unsubmittedDateTime
                - unsubmittedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - reassignedBy
                - reassignedDateTime
                - recipient
                - resourcesFolderUrl
                - returnedBy
                - returnedDateTime
                - status
                - submittedBy
                - submittedDateTime
                - unsubmittedBy
                - unsubmittedDateTime
                - outcomes
                - resources
                - submittedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - outcomes
                - resources
                - submittedResources
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationSubmissionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property to submissions for education
      operationId: education.classes.assignments_CreateSubmissions
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}':
    get:
      tags:
        - education.educationClass
      summary: Get submissions from education
      description: 'Once published, there is a submission object for each student representing their work and grade.  Read-only. Nullable.'
      operationId: education.classes.assignments_GetSubmissions
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - reassignedBy
                - reassignedDateTime
                - recipient
                - resourcesFolderUrl
                - returnedBy
                - returnedDateTime
                - status
                - submittedBy
                - submittedDateTime
                - unsubmittedBy
                - unsubmittedDateTime
                - outcomes
                - resources
                - submittedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - outcomes
                - resources
                - submittedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
          links:
            outcomes:
              operationId: education.classes.assignments.Submissions.ListOutcomes
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
                educationSubmission-id: $request.path.educationSubmission-id
            resources:
              operationId: education.classes.assignments.Submissions.ListResources
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
                educationSubmission-id: $request.path.educationSubmission-id
            submittedResources:
              operationId: education.classes.assignments.Submissions.ListSubmittedResources
              parameters:
                educationClass-id: $request.path.educationClass-id
                educationAssignment-id: $request.path.educationAssignment-id
                educationSubmission-id: $request.path.educationSubmission-id
            reassign:
              operationId: education.classes.educationClass.assignments.educationAssignment.submissions.educationSubmission.reassign
            return:
              operationId: education.classes.educationClass.assignments.educationAssignment.submissions.educationSubmission.return
            setUpResourcesFolder:
              operationId: education.classes.educationClass.assignments.educationAssignment.submissions.educationSubmission.setUpResourcesFolder
            submit:
              operationId: education.classes.educationClass.assignments.educationAssignment.submissions.educationSubmission.submit
            unsubmit:
              operationId: education.classes.educationClass.assignments.educationAssignment.submissions.educationSubmission.unsubmit
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property submissions in education
      operationId: education.classes.assignments_UpdateSubmissions
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property submissions for education
      operationId: education.classes.assignments_DeleteSubmissions
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/microsoft.graph.reassign':
    post:
      tags:
        - education.Actions
      summary: Invoke action reassign
      operationId: education.classes.assignments.submissions_reassign
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/microsoft.graph.return':
    post:
      tags:
        - education.Actions
      summary: Invoke action return
      operationId: education.classes.assignments.submissions_return
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/microsoft.graph.setUpResourcesFolder':
    post:
      tags:
        - education.Actions
      summary: Invoke action setUpResourcesFolder
      operationId: education.classes.assignments.submissions_setUpResourcesFolder
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/microsoft.graph.submit':
    post:
      tags:
        - education.Actions
      summary: Invoke action submit
      operationId: education.classes.assignments.submissions_submit
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/microsoft.graph.unsubmit':
    post:
      tags:
        - education.Actions
      summary: Invoke action unsubmit
      operationId: education.classes.assignments.submissions_unsubmit
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/outcomes':
    get:
      tags:
        - education.educationClass
      summary: Get outcomes from education
      operationId: education.classes.assignments.submissions_ListOutcomes
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedBy
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationOutcomeCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property to outcomes for education
      operationId: education.classes.assignments.submissions_CreateOutcomes
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationOutcome'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationOutcome'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/outcomes/{educationOutcome-id}':
    get:
      tags:
        - education.educationClass
      summary: Get outcomes from education
      operationId: education.classes.assignments.submissions_GetOutcomes
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - name: educationOutcome-id
          in: path
          description: 'key: id of educationOutcome'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationOutcome
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedBy
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationOutcome'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property outcomes in education
      operationId: education.classes.assignments.submissions_UpdateOutcomes
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - name: educationOutcome-id
          in: path
          description: 'key: id of educationOutcome'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationOutcome
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationOutcome'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property outcomes for education
      operationId: education.classes.assignments.submissions_DeleteOutcomes
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - name: educationOutcome-id
          in: path
          description: 'key: id of educationOutcome'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationOutcome
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/resources':
    get:
      tags:
        - education.educationClass
      summary: Get resources from education
      operationId: education.classes.assignments.submissions_ListResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - assignmentResourceUrl
                - assignmentResourceUrl desc
                - resource
                - resource desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignmentResourceUrl
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.educationSubmissionResourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - education.educationClass
      summary: Create new navigation property to resources for education
      operationId: education.classes.assignments.submissions_CreateResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationSubmissionResource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmissionResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/resources/{educationSubmissionResource-id}':
    get:
      tags:
        - education.educationClass
      summary: Get resources from education
      operationId: education.classes.assignments.submissions_GetResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - name: educationSubmissionResource-id
          in: path
          description: 'key: id of educationSubmissionResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmissionResource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - assignmentResourceUrl
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationSubmissionResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - education.educationClass
      summary: Update the navigation property resources in education
      operationId: education.classes.assignments.submissions_UpdateResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - name: educationSubmissionResource-id
          in: path
          description: 'key: id of educationSubmissionResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmissionResource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationSubmissionResource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - education.educationClass
      summary: Delete navigation property resources for education
      operationId: education.classes.assignments.submissions_DeleteResources
      parameters:
        - name: educationClass-id
          in: path
          description: 'key: id of educationClass'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationClass
        - name: educationAssignment-id
          in: path
          description: 'key: id of educationAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationAssignment
        - name: educationSubmission-id
          in: path
          description: 'key: id of educationSubmission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmission
        - name: educationSubmissionResource-id
          in: path
          description: 'key: id of educationSubmissionResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationSubmissionResource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
[...]
