openapi: 3.0.1
info:
  title: Files
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /drives:
    get:
      tags:
        - drives.drive
      summary: Get Drive
      description: 'Retrieve the properties and relationships of a Drive resource. A Drive is the top-level container for a file system, such as OneDrive or SharePoint document libraries.'
      operationId: drives.drive_ListDrive
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - driveType
                - driveType desc
                - owner
                - owner desc
                - quota
                - quota desc
                - sharePointIds
                - sharePointIds desc
                - system
                - system desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - driveType
                - owner
                - quota
                - sharePointIds
                - system
                - createdByUser
                - lastModifiedByUser
                - activities
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - activities
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.driveCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - drives.drive
      summary: Add new entity to drives
      operationId: drives.drive_CreateDrive
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.drive'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}':
    get:
      tags:
        - drives.drive
      summary: Get Drive
      description: 'Retrieve the properties and relationships of a Drive resource. A Drive is the top-level container for a file system, such as OneDrive or SharePoint document libraries.'
      operationId: drives.drive_GetDrive
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - driveType
                - owner
                - quota
                - sharePointIds
                - system
                - createdByUser
                - lastModifiedByUser
                - activities
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - activities
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
          links:
            createdByUser:
              operationId: drives.GetCreatedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
            lastModifiedByUser:
              operationId: drives.GetLastModifiedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
            activities:
              operationId: drives.ListActivities
              parameters:
                drive-id: $request.path.drive-id
            bundles:
              operationId: drives.ListBundles
              parameters:
                drive-id: $request.path.drive-id
            following:
              operationId: drives.ListFollowing
              parameters:
                drive-id: $request.path.drive-id
            items:
              operationId: drives.ListItems
              parameters:
                drive-id: $request.path.drive-id
            list:
              operationId: drives.GetList
              parameters:
                drive-id: $request.path.drive-id
            root:
              operationId: drives.GetRoot
              parameters:
                drive-id: $request.path.drive-id
            special:
              operationId: drives.ListSpecial
              parameters:
                drive-id: $request.path.drive-id
            recent:
              operationId: drives.drive.recent
            search:
              operationId: drives.drive.search
            sharedWithMe:
              operationId: drives.drive.sharedGraphWPreMe
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - drives.drive
      summary: Update entity in drives
      operationId: drives.drive_UpdateDrive
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.drive'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - drives.drive
      summary: Delete entity from drives
      operationId: drives.drive_DeleteDrive
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/activities':
    get:
      tags:
        - drives.itemActivityOLD
      summary: Get activities from drives
      description: The list of recent activities that took place under this drive.
      operationId: drives_ListActivities
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - action
                - action desc
                - actor
                - actor desc
                - times
                - times desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - actor
                - times
                - driveItem
                - listItem
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - driveItem
                - listItem
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.itemActivityOLDCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - drives.itemActivityOLD
      summary: Create new navigation property to activities for drives
      operationId: drives_CreateActivities
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemActivityOLD'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivityOLD'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/activities/{itemActivityOLD-id}':
    get:
      tags:
        - drives.itemActivityOLD
      summary: Get activities from drives
      description: The list of recent activities that took place under this drive.
      operationId: drives_GetActivities
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - actor
                - times
                - driveItem
                - listItem
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - driveItem
                - listItem
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivityOLD'
          links:
            driveItem:
              operationId: drives.Activities.GetDriveItem
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            listItem:
              operationId: drives.Activities.GetListItem
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - drives.itemActivityOLD
      summary: Update the navigation property activities in drives
      operationId: drives_UpdateActivities
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemActivityOLD'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - drives.itemActivityOLD
      summary: Delete navigation property activities for drives
      operationId: drives_DeleteActivities
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/activities/{itemActivityOLD-id}/driveItem':
    get:
      tags:
        - drives.itemActivityOLD
      summary: Get driveItem from drives
      operationId: drives.activities_GetDriveItem
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - bundle
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - malware
                - media
                - package
                - pendingOperations
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - source
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
          links:
            createdByUser:
              operationId: drives.activities.DriveItem.GetCreatedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            lastModifiedByUser:
              operationId: drives.activities.DriveItem.GetLastModifiedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            workbook:
              operationId: drives.activities.DriveItem.GetWorkbook
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            activities:
              operationId: drives.activities.DriveItem.ListActivities
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            analytics:
              operationId: drives.activities.DriveItem.GetAnalytics
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            children:
              operationId: drives.activities.DriveItem.ListChildren
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            listItem:
              operationId: drives.activities.DriveItem.GetListItem
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            permissions:
              operationId: drives.activities.DriveItem.ListPermissions
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            subscriptions:
              operationId: drives.activities.DriveItem.ListSubscriptions
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            thumbnails:
              operationId: drives.activities.DriveItem.ListThumbnails
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            versions:
              operationId: drives.activities.DriveItem.ListVersions
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/activities/{itemActivityOLD-id}/driveItem/content':
    get:
      tags:
        - drives.itemActivityOLD
      summary: Get content for the navigation property driveItem from drives
      description: 'The content stream, if the item represents a file.'
      operationId: drives.activities_GetDriveItemContent
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - drives.itemActivityOLD
      summary: Update content for the navigation property driveItem in drives
      description: 'The content stream, if the item represents a file.'
      operationId: drives.activities_SetDriveItemContent
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/activities/{itemActivityOLD-id}/listItem':
    get:
      tags:
        - drives.itemActivityOLD
      summary: Get listItem from drives
      operationId: drives.activities_GetListItem
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - contentType
                - deleted
                - sharepointIds
                - createdByUser
                - lastModifiedByUser
                - activities
                - analytics
                - documentSetVersions
                - driveItem
                - fields
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - activities
                - analytics
                - documentSetVersions
                - driveItem
                - fields
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.listItem'
          links:
            createdByUser:
              operationId: drives.activities.ListItem.GetCreatedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            lastModifiedByUser:
              operationId: drives.activities.ListItem.GetLastModifiedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            activities:
              operationId: drives.activities.ListItem.ListActivities
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            analytics:
              operationId: drives.activities.ListItem.GetAnalytics
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            documentSetVersions:
              operationId: drives.activities.ListItem.ListDocumentSetVersions
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            driveItem:
              operationId: drives.activities.ListItem.GetDriveItem
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            fields:
              operationId: drives.activities.ListItem.GetFields
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            versions:
              operationId: drives.activities.ListItem.ListVersions
              parameters:
                drive-id: $request.path.drive-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/bundles':
    get:
      tags:
        - drives.driveItem
      summary: Get bundles from drives
      description: 'Collection of [bundles][bundle] (albums and multi-select-shared sets of items). Only in personal OneDrive.'
      operationId: drives_ListBundles
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - audio
                - audio desc
                - bundle
                - bundle desc
                - content
                - content desc
                - cTag
                - cTag desc
                - deleted
                - deleted desc
                - file
                - file desc
                - fileSystemInfo
                - fileSystemInfo desc
                - folder
                - folder desc
                - image
                - image desc
                - location
                - location desc
                - malware
                - malware desc
                - media
                - media desc
                - package
                - package desc
                - pendingOperations
                - pendingOperations desc
                - photo
                - photo desc
                - publication
                - publication desc
                - remoteItem
                - remoteItem desc
                - root
                - root desc
                - searchResult
                - searchResult desc
                - shared
                - shared desc
                - sharepointIds
                - sharepointIds desc
                - size
                - size desc
                - source
                - source desc
                - specialFolder
                - specialFolder desc
                - video
                - video desc
                - webDavUrl
                - webDavUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - bundle
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - malware
                - media
                - package
                - pendingOperations
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - source
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.driveItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/bundles/{driveItem-id}':
    get:
      tags:
        - drives.driveItem
      summary: Get bundles from drives
      description: 'Collection of [bundles][bundle] (albums and multi-select-shared sets of items). Only in personal OneDrive.'
      operationId: drives_GetBundles
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - bundle
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - malware
                - media
                - package
                - pendingOperations
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - source
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
          links:
            createdByUser:
              operationId: drives.Bundles.GetCreatedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            lastModifiedByUser:
              operationId: drives.Bundles.GetLastModifiedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            workbook:
              operationId: drives.Bundles.GetWorkbook
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            activities:
              operationId: drives.Bundles.ListActivities
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            analytics:
              operationId: drives.Bundles.GetAnalytics
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            children:
              operationId: drives.Bundles.ListChildren
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            listItem:
              operationId: drives.Bundles.GetListItem
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            permissions:
              operationId: drives.Bundles.ListPermissions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            subscriptions:
              operationId: drives.Bundles.ListSubscriptions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            thumbnails:
              operationId: drives.Bundles.ListThumbnails
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            versions:
              operationId: drives.Bundles.ListVersions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/bundles/{driveItem-id}/content':
    get:
      tags:
        - drives.driveItem
      summary: Get content for the navigation property bundles from drives
      description: 'The content stream, if the item represents a file.'
      operationId: drives_GetBundlesContent
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - drives.driveItem
      summary: Update content for the navigation property bundles in drives
      description: 'The content stream, if the item represents a file.'
      operationId: drives_SetBundlesContent
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/following':
    get:
      tags:
        - drives.driveItem
      summary: Get following from drives
      description: The list of items the user is following. Only in OneDrive for Business.
      operationId: drives_ListFollowing
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - audio
                - audio desc
                - bundle
                - bundle desc
                - content
                - content desc
                - cTag
                - cTag desc
                - deleted
                - deleted desc
                - file
                - file desc
                - fileSystemInfo
                - fileSystemInfo desc
                - folder
                - folder desc
                - image
                - image desc
                - location
                - location desc
                - malware
                - malware desc
                - media
                - media desc
                - package
                - package desc
                - pendingOperations
                - pendingOperations desc
                - photo
                - photo desc
                - publication
                - publication desc
                - remoteItem
                - remoteItem desc
                - root
                - root desc
                - searchResult
                - searchResult desc
                - shared
                - shared desc
                - sharepointIds
                - sharepointIds desc
                - size
                - size desc
                - source
                - source desc
                - specialFolder
                - specialFolder desc
                - video
                - video desc
                - webDavUrl
                - webDavUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - bundle
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - malware
                - media
                - package
                - pendingOperations
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - source
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.driveItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/following/{driveItem-id}':
    get:
      tags:
        - drives.driveItem
      summary: Get following from drives
      description: The list of items the user is following. Only in OneDrive for Business.
      operationId: drives_GetFollowing
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - bundle
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - malware
                - media
                - package
                - pendingOperations
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - source
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
          links:
            createdByUser:
              operationId: drives.Following.GetCreatedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            lastModifiedByUser:
              operationId: drives.Following.GetLastModifiedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            workbook:
              operationId: drives.Following.GetWorkbook
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            activities:
              operationId: drives.Following.ListActivities
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            analytics:
              operationId: drives.Following.GetAnalytics
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            children:
              operationId: drives.Following.ListChildren
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            listItem:
              operationId: drives.Following.GetListItem
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            permissions:
              operationId: drives.Following.ListPermissions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            subscriptions:
              operationId: drives.Following.ListSubscriptions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            thumbnails:
              operationId: drives.Following.ListThumbnails
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            versions:
              operationId: drives.Following.ListVersions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/following/{driveItem-id}/content':
    get:
      tags:
        - drives.driveItem
      summary: Get content for the navigation property following from drives
      description: 'The content stream, if the item represents a file.'
      operationId: drives_GetFollowingContent
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - drives.driveItem
      summary: Update content for the navigation property following in drives
      description: 'The content stream, if the item represents a file.'
      operationId: drives_SetFollowingContent
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/items':
    get:
      tags:
        - drives.driveItem
      summary: Get items from drives
      description: All items contained in the drive. Read-only. Nullable.
      operationId: drives_ListItems
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - audio
                - audio desc
                - bundle
                - bundle desc
                - content
                - content desc
                - cTag
                - cTag desc
                - deleted
                - deleted desc
                - file
                - file desc
                - fileSystemInfo
                - fileSystemInfo desc
                - folder
                - folder desc
                - image
                - image desc
                - location
                - location desc
                - malware
                - malware desc
                - media
                - media desc
                - package
                - package desc
                - pendingOperations
                - pendingOperations desc
                - photo
                - photo desc
                - publication
                - publication desc
                - remoteItem
                - remoteItem desc
                - root
                - root desc
                - searchResult
                - searchResult desc
                - shared
                - shared desc
                - sharepointIds
                - sharepointIds desc
                - size
                - size desc
                - source
                - source desc
                - specialFolder
                - specialFolder desc
                - video
                - video desc
                - webDavUrl
                - webDavUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - bundle
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - malware
                - media
                - package
                - pendingOperations
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - source
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.driveItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - drives.driveItem
      summary: Create new navigation property to items for drives
      operationId: drives_CreateItems
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/items/{driveItem-id}':
    get:
      tags:
        - drives.driveItem
      summary: Get items from drives
      description: All items contained in the drive. Read-only. Nullable.
      operationId: drives_GetItems
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - bundle
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - malware
                - media
                - package
                - pendingOperations
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - source
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
          links:
            createdByUser:
              operationId: drives.Items.GetCreatedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            lastModifiedByUser:
              operationId: drives.Items.GetLastModifiedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            workbook:
              operationId: drives.Items.GetWorkbook
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            activities:
              operationId: drives.Items.ListActivities
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            analytics:
              operationId: drives.Items.GetAnalytics
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            children:
              operationId: drives.Items.ListChildren
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            listItem:
              operationId: drives.Items.GetListItem
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            permissions:
              operationId: drives.Items.ListPermissions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            subscriptions:
              operationId: drives.Items.ListSubscriptions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            thumbnails:
              operationId: drives.Items.ListThumbnails
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            versions:
              operationId: drives.Items.ListVersions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            assignSensitivityLabel:
              operationId: drives.drive.items.driveItem.assignSensitivityLabel
            checkin:
              operationId: drives.drive.items.driveItem.checkin
            checkout:
              operationId: drives.drive.items.driveItem.checkout
            copy:
              operationId: drives.drive.items.driveItem.copy
            createLink:
              operationId: drives.drive.items.driveItem.createLink
            createUploadSession:
              operationId: drives.drive.items.driveItem.createUploadSession
            delta:
              operationId: drives.drive.items.driveItem.delta
            extractSensitivityLabels:
              operationId: drives.drive.items.driveItem.extractSensitivityLabels
            follow:
              operationId: drives.drive.items.driveItem.follow
            getActivitiesByInterval:
              operationId: drives.drive.items.driveItem.getActivitiesGraphBPreInterval
            invite:
              operationId: drives.drive.items.driveItem.invite
            preview:
              operationId: drives.drive.items.driveItem.preview
            restore:
              operationId: drives.drive.items.driveItem.restore
            search:
              operationId: drives.drive.items.driveItem.search
            unfollow:
              operationId: drives.drive.items.driveItem.unfollow
            validatePermission:
              operationId: drives.drive.items.driveItem.validatePermission
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - drives.driveItem
      summary: Update the navigation property items in drives
      operationId: drives_UpdateItems
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - drives.driveItem
      summary: Delete navigation property items for drives
      operationId: drives_DeleteItems
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/items/{driveItem-id}/activities':
    get:
      tags:
        - drives.driveItem
      summary: Get activities from drives
      description: The list of recent activities that took place on this item.
      operationId: drives.items_ListActivities
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - action
                - action desc
                - actor
                - actor desc
                - times
                - times desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - actor
                - times
                - driveItem
                - listItem
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - driveItem
                - listItem
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.itemActivityOLDCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/items/{driveItem-id}/activities/{itemActivityOLD-id}':
    get:
      tags:
        - drives.driveItem
      summary: Get activities from drives
      description: The list of recent activities that took place on this item.
      operationId: drives.items_GetActivities
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - actor
                - times
                - driveItem
                - listItem
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - driveItem
                - listItem
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemActivityOLD'
          links:
            driveItem:
              operationId: drives.items.Activities.GetDriveItem
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
            listItem:
              operationId: drives.items.Activities.GetListItem
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                itemActivityOLD-id: $request.path.itemActivityOLD-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/items/{driveItem-id}/analytics':
    get:
      tags:
        - drives.driveItem
      summary: Get analytics from drives
      description: Analytics about the view activities that took place on this item.
      operationId: drives.items_GetAnalytics
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allTime
                - itemActivityStats
                - lastSevenDays
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - allTime
                - itemActivityStats
                - lastSevenDays
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAnalytics'
          links:
            allTime:
              operationId: drives.items.Analytics.GetAllTime
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            itemActivityStats:
              operationId: drives.items.Analytics.ListItemActivityStats
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
            lastSevenDays:
              operationId: drives.items.Analytics.GetLastSevenDays
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/items/{driveItem-id}/children':
    get:
      tags:
        - drives.driveItem
      summary: Get children from drives
      description: Collection containing Item objects for the immediate children of Item. Only items representing folders have children. Read-only. Nullable.
      operationId: drives.items_ListChildren
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - audio
                - audio desc
                - bundle
                - bundle desc
                - content
                - content desc
                - cTag
                - cTag desc
                - deleted
                - deleted desc
                - file
                - file desc
                - fileSystemInfo
                - fileSystemInfo desc
                - folder
                - folder desc
                - image
                - image desc
                - location
                - location desc
                - malware
                - malware desc
                - media
                - media desc
                - package
                - package desc
                - pendingOperations
                - pendingOperations desc
                - photo
                - photo desc
                - publication
                - publication desc
                - remoteItem
                - remoteItem desc
                - root
                - root desc
                - searchResult
                - searchResult desc
                - shared
                - shared desc
                - sharepointIds
                - sharepointIds desc
                - size
                - size desc
                - source
                - source desc
                - specialFolder
                - specialFolder desc
                - video
                - video desc
                - webDavUrl
                - webDavUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - bundle
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - malware
                - media
                - package
                - pendingOperations
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - source
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.driveItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/items/{driveItem-id}/children/{driveItem-id1}':
    get:
      tags:
        - drives.driveItem
      summary: Get children from drives
      description: Collection containing Item objects for the immediate children of Item. Only items representing folders have children. Read-only. Nullable.
      operationId: drives.items_GetChildren
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - audio
                - bundle
                - content
                - cTag
                - deleted
                - file
                - fileSystemInfo
                - folder
                - image
                - location
                - malware
                - media
                - package
                - pendingOperations
                - photo
                - publication
                - remoteItem
                - root
                - searchResult
                - shared
                - sharepointIds
                - size
                - source
                - specialFolder
                - video
                - webDavUrl
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - workbook
                - activities
                - analytics
                - children
                - listItem
                - permissions
                - subscriptions
                - thumbnails
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
          links:
            createdByUser:
              operationId: drives.items.Children.GetCreatedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
            lastModifiedByUser:
              operationId: drives.items.Children.GetLastModifiedGraphBPreUser
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
            workbook:
              operationId: drives.items.Children.GetWorkbook
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
            activities:
              operationId: drives.items.Children.ListActivities
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
            analytics:
              operationId: drives.items.Children.GetAnalytics
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
            children:
              operationId: drives.items.Children.ListChildren
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
            listItem:
              operationId: drives.items.Children.GetListItem
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
            permissions:
              operationId: drives.items.Children.ListPermissions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
            subscriptions:
              operationId: drives.items.Children.ListSubscriptions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
            thumbnails:
              operationId: drives.items.Children.ListThumbnails
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
            versions:
              operationId: drives.items.Children.ListVersions
              parameters:
                drive-id: $request.path.drive-id
                driveItem-id: $request.path.driveItem-id
                driveItem-id1: $request.path.driveItem-id1
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/items/{driveItem-id}/children/{driveItem-id1}/content':
    get:
      tags:
        - drives.driveItem
      summary: Get content for the navigation property children from drives
      description: 'The content stream, if the item represents a file.'
      operationId: drives.items_GetChildrenContent
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - drives.driveItem
      summary: Update content for the navigation property children in drives
      description: 'The content stream, if the item represents a file.'
      operationId: drives.items_SetChildrenContent
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/items/{driveItem-id}/content':
    get:
      tags:
        - drives.driveItem
      summary: Get content for the navigation property items from drives
      description: 'The content stream, if the item represents a file.'
      operationId: drives_GetItemsContent
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - drives.driveItem
      summary: Update content for the navigation property items in drives
      description: 'The content stream, if the item represents a file.'
      operationId: drives_SetItemsContent
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/drives/{drive-id}/items/{driveItem-id}/listItem':
    get:
      tags:
        - drives.driveItem
      summary: Get listItem from drives
      description: 'For drives in SharePoint, the associated document library list item. Read-only. Nullable.'
      operationId: drives.items_GetListItem
      parameters:
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - contentType
                - deleted
                - sharepointIds
                - createdByUser
                - lastModifiedByUser
                - activities
                - analytics
                - documentSetVersions
                - driveItem
                - fields
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - activities
[...]
