openapi: 3.0.1
info:
  title: Financials
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /financials:
    get:
      tags:
        - financials.financials
      summary: Get financials
      operationId: financial_GetFinancials
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - companies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - companies
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.financials'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.financials
      summary: Update financials
      operationId: financial_UpdateFinancials
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.financials'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /financials/companies:
    get:
      tags:
        - financials.company
      summary: Get companies from financials
      operationId: financial_ListCompanies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - businessProfileId
                - businessProfileId desc
                - displayName
                - displayName desc
                - name
                - name desc
                - systemVersion
                - systemVersion desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - businessProfileId
                - displayName
                - name
                - systemVersion
                - accounts
                - agedAccountsPayable
                - agedAccountsReceivable
                - companyInformation
                - countriesRegions
                - currencies
                - customerPaymentJournals
                - customerPayments
                - customers
                - dimensions
                - dimensionValues
                - employees
                - generalLedgerEntries
                - itemCategories
                - items
                - journalLines
                - journals
                - paymentMethods
                - paymentTerms
                - picture
                - purchaseInvoiceLines
                - purchaseInvoices
                - salesCreditMemoLines
                - salesCreditMemos
                - salesInvoiceLines
                - salesInvoices
                - salesOrderLines
                - salesOrders
                - salesQuoteLines
                - salesQuotes
                - shipmentMethods
                - taxAreas
                - taxGroups
                - unitsOfMeasure
                - vendors
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accounts
                - agedAccountsPayable
                - agedAccountsReceivable
                - companyInformation
                - countriesRegions
                - currencies
                - customerPaymentJournals
                - customerPayments
                - customers
                - dimensions
                - dimensionValues
                - employees
                - generalLedgerEntries
                - itemCategories
                - items
                - journalLines
                - journals
                - paymentMethods
                - paymentTerms
                - picture
                - purchaseInvoiceLines
                - purchaseInvoices
                - salesCreditMemoLines
                - salesCreditMemos
                - salesInvoiceLines
                - salesInvoices
                - salesOrderLines
                - salesOrders
                - salesQuoteLines
                - salesQuotes
                - shipmentMethods
                - taxAreas
                - taxGroups
                - unitsOfMeasure
                - vendors
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.companyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}':
    get:
      tags:
        - financials.company
      summary: Get companies from financials
      operationId: financial_GetCompanies
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - businessProfileId
                - displayName
                - name
                - systemVersion
                - accounts
                - agedAccountsPayable
                - agedAccountsReceivable
                - companyInformation
                - countriesRegions
                - currencies
                - customerPaymentJournals
                - customerPayments
                - customers
                - dimensions
                - dimensionValues
                - employees
                - generalLedgerEntries
                - itemCategories
                - items
                - journalLines
                - journals
                - paymentMethods
                - paymentTerms
                - picture
                - purchaseInvoiceLines
                - purchaseInvoices
                - salesCreditMemoLines
                - salesCreditMemos
                - salesInvoiceLines
                - salesInvoices
                - salesOrderLines
                - salesOrders
                - salesQuoteLines
                - salesQuotes
                - shipmentMethods
                - taxAreas
                - taxGroups
                - unitsOfMeasure
                - vendors
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accounts
                - agedAccountsPayable
                - agedAccountsReceivable
                - companyInformation
                - countriesRegions
                - currencies
                - customerPaymentJournals
                - customerPayments
                - customers
                - dimensions
                - dimensionValues
                - employees
                - generalLedgerEntries
                - itemCategories
                - items
                - journalLines
                - journals
                - paymentMethods
                - paymentTerms
                - picture
                - purchaseInvoiceLines
                - purchaseInvoices
                - salesCreditMemoLines
                - salesCreditMemos
                - salesInvoiceLines
                - salesInvoices
                - salesOrderLines
                - salesOrders
                - salesQuoteLines
                - salesQuotes
                - shipmentMethods
                - taxAreas
                - taxGroups
                - unitsOfMeasure
                - vendors
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.company'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/accounts':
    get:
      tags:
        - financials.company
      summary: Get accounts from financials
      operationId: financial.company_ListAccounts
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - blocked
                - blocked desc
                - category
                - category desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - number
                - number desc
                - subCategory
                - subCategory desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blocked
                - category
                - displayName
                - lastModifiedDateTime
                - number
                - subCategory
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.accountCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/accounts/{account-id}':
    get:
      tags:
        - financials.company
      summary: Get accounts from financials
      operationId: financial.company_GetAccounts
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: account-id
          in: path
          description: The unique identifier of account
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: account
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blocked
                - category
                - displayName
                - lastModifiedDateTime
                - number
                - subCategory
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsPayable':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsPayable from financials
      operationId: financial.company_ListAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - agedAsOfDate
                - agedAsOfDate desc
                - balanceDue
                - balanceDue desc
                - currencyCode
                - currencyCode desc
                - currentAmount
                - currentAmount desc
                - name
                - name desc
                - period1Amount
                - period1Amount desc
                - period2Amount
                - period2Amount desc
                - period3Amount
                - period3Amount desc
                - periodLengthFilter
                - periodLengthFilter desc
                - vendorNumber
                - vendorNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agedAsOfDate
                - balanceDue
                - currencyCode
                - currentAmount
                - name
                - period1Amount
                - period2Amount
                - period3Amount
                - periodLengthFilter
                - vendorNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.agedAccountsPayableCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsPayable/{agedAccountsPayable-id}':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsPayable from financials
      operationId: financial.company_GetAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsPayable-id
          in: path
          description: The unique identifier of agedAccountsPayable
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsPayable
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agedAsOfDate
                - balanceDue
                - currencyCode
                - currentAmount
                - name
                - period1Amount
                - period2Amount
                - period3Amount
                - periodLengthFilter
                - vendorNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsReceivable':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsReceivable from financials
      operationId: financial.company_ListAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - agedAsOfDate
                - agedAsOfDate desc
                - balanceDue
                - balanceDue desc
                - currencyCode
                - currencyCode desc
                - currentAmount
                - currentAmount desc
                - customerNumber
                - customerNumber desc
                - name
                - name desc
                - period1Amount
                - period1Amount desc
                - period2Amount
                - period2Amount desc
                - period3Amount
                - period3Amount desc
                - periodLengthFilter
                - periodLengthFilter desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agedAsOfDate
                - balanceDue
                - currencyCode
                - currentAmount
                - customerNumber
                - name
                - period1Amount
                - period2Amount
                - period3Amount
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.agedAccountsReceivableCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsReceivable/{agedAccountsReceivable-id}':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsReceivable from financials
      operationId: financial.company_GetAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsReceivable-id
          in: path
          description: The unique identifier of agedAccountsReceivable
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsReceivable
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agedAsOfDate
                - balanceDue
                - currencyCode
                - currentAmount
                - customerNumber
                - name
                - period1Amount
                - period2Amount
                - period3Amount
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/companyInformation':
    get:
      tags:
        - financials.company
      summary: Get companyInformation from financials
      operationId: financial.company_ListCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - address
                - address desc
                - currencyCode
                - currencyCode desc
                - currentFiscalYearStartDate
                - currentFiscalYearStartDate desc
                - displayName
                - displayName desc
                - email
                - email desc
                - faxNumber
                - faxNumber desc
                - industry
                - industry desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - phoneNumber
                - phoneNumber desc
                - picture
                - picture desc
                - taxRegistrationNumber
                - taxRegistrationNumber desc
                - website
                - website desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - address
                - currencyCode
                - currentFiscalYearStartDate
                - displayName
                - email
                - faxNumber
                - industry
                - lastModifiedDateTime
                - phoneNumber
                - picture
                - taxRegistrationNumber
                - website
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.companyInformationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/companyInformation/{companyInformation-id}':
    get:
      tags:
        - financials.company
      summary: Get companyInformation from financials
      operationId: financial.company_GetCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: companyInformation-id
          in: path
          description: The unique identifier of companyInformation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: companyInformation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - address
                - currencyCode
                - currentFiscalYearStartDate
                - displayName
                - email
                - faxNumber
                - industry
                - lastModifiedDateTime
                - phoneNumber
                - picture
                - taxRegistrationNumber
                - website
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companyInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property companyInformation in financials
      operationId: financial.company_UpdateCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: companyInformation-id
          in: path
          description: The unique identifier of companyInformation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: companyInformation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.companyInformation'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/companyInformation/{companyInformation-id}/picture':
    get:
      tags:
        - financials.company
      summary: Get picture for the navigation property companyInformation from financials
      operationId: financial.company_GetCompanyInformationPicture
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: companyInformation-id
          in: path
          description: The unique identifier of companyInformation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: companyInformation
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - financials.company
      summary: Update picture for the navigation property companyInformation in financials
      operationId: financial.company_SetCompanyInformationPicture
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: companyInformation-id
          in: path
          description: The unique identifier of companyInformation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: companyInformation
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/countriesRegions':
    get:
      tags:
        - financials.company
      summary: Get countriesRegions from financials
      operationId: financial.company_ListCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - addressFormat
                - addressFormat desc
                - code
                - code desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addressFormat
                - code
                - displayName
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.countryRegionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to countriesRegions for financials
      operationId: financial.company_CreateCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.countryRegion'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.countryRegion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/countriesRegions/{countryRegion-id}':
    get:
      tags:
        - financials.company
      summary: Get countriesRegions from financials
      operationId: financial.company_GetCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: countryRegion-id
          in: path
          description: The unique identifier of countryRegion
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: countryRegion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addressFormat
                - code
                - displayName
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.countryRegion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property countriesRegions in financials
      operationId: financial.company_UpdateCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: countryRegion-id
          in: path
          description: The unique identifier of countryRegion
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: countryRegion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.countryRegion'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property countriesRegions for financials
      operationId: financial.company_DeleteCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: countryRegion-id
          in: path
          description: The unique identifier of countryRegion
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: countryRegion
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/currencies':
    get:
      tags:
        - financials.company
      summary: Get currencies from financials
      operationId: financial.company_ListCurrencies
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - amountDecimalPlaces
                - amountDecimalPlaces desc
                - amountRoundingPrecision
                - amountRoundingPrecision desc
                - code
                - code desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - symbol
                - symbol desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amountDecimalPlaces
                - amountRoundingPrecision
                - code
                - displayName
                - lastModifiedDateTime
                - symbol
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.currencyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to currencies for financials
      operationId: financial.company_CreateCurrencies
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/currencies/{currency-id}':
    get:
      tags:
        - financials.company
      summary: Get currencies from financials
      operationId: financial.company_GetCurrencies
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: currency-id
          in: path
          description: The unique identifier of currency
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: currency
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amountDecimalPlaces
                - amountRoundingPrecision
                - code
                - displayName
                - lastModifiedDateTime
                - symbol
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property currencies in financials
      operationId: financial.company_UpdateCurrencies
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: currency-id
          in: path
          description: The unique identifier of currency
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: currency
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property currencies for financials
      operationId: financial.company_DeleteCurrencies
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: currency-id
          in: path
          description: The unique identifier of currency
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: currency
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals':
    get:
      tags:
        - financials.company
      summary: Get customerPaymentJournals from financials
      operationId: financial.company_ListCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - balancingAccountId
                - balancingAccountId desc
                - balancingAccountNumber
                - balancingAccountNumber desc
                - code
                - code desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - balancingAccountId
                - balancingAccountNumber
                - code
                - displayName
                - lastModifiedDateTime
                - account
                - customerPayments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - account
                - customerPayments
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.customerPaymentJournalCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to customerPaymentJournals for financials
      operationId: financial.company_CreateCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}':
    get:
      tags:
        - financials.company
      summary: Get customerPaymentJournals from financials
      operationId: financial.company_GetCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - balancingAccountId
                - balancingAccountNumber
                - code
                - displayName
                - lastModifiedDateTime
                - account
                - customerPayments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - account
                - customerPayments
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customerPaymentJournals in financials
      operationId: financial.company_UpdateCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property customerPaymentJournals for financials
      operationId: financial.company_DeleteCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/account':
    get:
      tags:
        - financials.company
      summary: Get account from financials
      operationId: financial.company.customerPaymentJournal_GetAccount
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blocked
                - category
                - displayName
                - lastModifiedDateTime
                - number
                - subCategory
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments':
    get:
      tags:
        - financials.company
      summary: Get customerPayments from financials
      operationId: financial.company.customerPaymentJournal_ListCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - amount
                - amount desc
                - appliesToInvoiceId
                - appliesToInvoiceId desc
                - appliesToInvoiceNumber
                - appliesToInvoiceNumber desc
                - comment
                - comment desc
                - contactId
                - contactId desc
                - customerId
                - customerId desc
                - customerNumber
                - customerNumber desc
                - description
                - description desc
                - documentNumber
                - documentNumber desc
                - externalDocumentNumber
                - externalDocumentNumber desc
                - journalDisplayName
                - journalDisplayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lineNumber
                - lineNumber desc
                - postingDate
                - postingDate desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amount
                - appliesToInvoiceId
                - appliesToInvoiceNumber
                - comment
                - contactId
                - customerId
                - customerNumber
                - description
                - documentNumber
                - externalDocumentNumber
                - journalDisplayName
                - lastModifiedDateTime
                - lineNumber
                - postingDate
                - customer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customer
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.customerPaymentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to customerPayments for financials
      operationId: financial.company.customerPaymentJournal_CreateCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPayment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPayment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}':
    get:
      tags:
        - financials.company
      summary: Get customerPayments from financials
      operationId: financial.company.customerPaymentJournal_GetCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amount
                - appliesToInvoiceId
                - appliesToInvoiceNumber
                - comment
                - contactId
                - customerId
                - customerNumber
                - description
                - documentNumber
                - externalDocumentNumber
                - journalDisplayName
                - lastModifiedDateTime
                - lineNumber
                - postingDate
                - customer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customer
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPayment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customerPayments in financials
      operationId: financial.company.customerPaymentJournal_UpdateCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPayment'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property customerPayments for financials
      operationId: financial.company.customerPaymentJournal_DeleteCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer':
    get:
      tags:
        - financials.company
      summary: Get customer from financials
      operationId: financial.company.customerPaymentJournal_GetCustomer
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - address
                - blocked
                - currencyCode
                - currencyId
                - displayName
                - email
                - lastModifiedDateTime
                - number
                - paymentMethodId
                - paymentTermsId
                - phoneNumber
                - shipmentMethodId
                - taxAreaDisplayName
                - taxAreaId
                - taxLiable
                - taxRegistrationNumber
                - type
                - website
                - currency
                - paymentMethod
                - paymentTerm
                - picture
                - shipmentMethod
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - currency
                - paymentMethod
                - paymentTerm
                - picture
                - shipmentMethod
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customer in financials
      operationId: financial.company.customerPaymentJournal_UpdateCustomer
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customer'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property customer for financials
      operationId: financial.company.customerPaymentJournal_DeleteCustomer
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/currency':
    get:
      tags:
        - financials.company
      summary: Get currency from financials
      operationId: financial.company.customerPaymentJournal_GetCurrency
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amountDecimalPlaces
                - amountRoundingPrecision
                - code
                - displayName
                - lastModifiedDateTime
                - symbol
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property currency in financials
      operationId: financial.company.customerPaymentJournal_UpdateCurrency
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property currency for financials
      operationId: financial.company.customerPaymentJournal_DeleteCurrency
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/paymentMethod':
    get:
      tags:
        - financials.company
      summary: Get paymentMethod from financials
      operationId: financial.company.customerPaymentJournal_GetPaymentMethod
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.paymentMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property paymentMethod in financials
      operationId: financial.company.customerPaymentJournal_UpdatePaymentMethod
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.paymentMethod'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property paymentMethod for financials
      operationId: financial.company.customerPaymentJournal_DeletePaymentMethod
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/paymentTerm':
    get:
      tags:
        - financials.company
      summary: Get paymentTerm from financials
      operationId: financial.company.customerPaymentJournal_GetPaymentTerm
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - calculateDiscountOnCreditMemos
                - code
                - discountDateCalculation
                - discountPercent
                - displayName
                - dueDateCalculation
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.paymentTerm'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property paymentTerm in financials
      operationId: financial.company.customerPaymentJournal_UpdatePaymentTerm
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.paymentTerm'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property paymentTerm for financials
      operationId: financial.company.customerPaymentJournal_DeletePaymentTerm
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/picture':
    get:
      tags:
        - financials.company
      summary: Get picture from financials
      operationId: financial.company.customerPaymentJournal_ListPicture
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - content
                - content desc
                - contentType
                - contentType desc
                - height
                - height desc
                - width
                - width desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - contentType
                - height
                - width
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.pictureCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to picture for financials
      operationId: financial.company.customerPaymentJournal_CreatePicture
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.picture'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.picture'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/picture/{picture-id}':
    get:
      tags:
        - financials.company
      summary: Get picture from financials
      operationId: financial.company.customerPaymentJournal_GetPicture
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: picture-id
          in: path
          description: The unique identifier of picture
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: picture
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - contentType
                - height
                - width
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.picture'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property picture in financials
      operationId: financial.company.customerPaymentJournal_UpdatePicture
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: picture-id
          in: path
          description: The unique identifier of picture
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: picture
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.picture'
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property picture for financials
      operationId: financial.company.customerPaymentJournal_DeletePicture
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: picture-id
          in: path
          description: The unique identifier of picture
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: picture
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/picture/{picture-id}/content':
    get:
      tags:
        - financials.company
      summary: Get content for the navigation property picture from financials
      operationId: financial.company.customerPaymentJournal_GetPictureContent
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: The unique identifier of customerPayment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: picture-id
          in: path
          description: The unique identifier of picture
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: picture
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - financials.company
      summary: Update content for the navigation property picture in financials
      operationId: financial.company.customerPaymentJournal_SetPictureContent
      parameters:
        - name: company-id
          in: path
          description: The unique identifier of company
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: The unique identifier of customerPaymentJournal
          required: true
          style: simple
          schema:
[...]
