openapi: 3.0.1
info:
  title: Financials
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /financials:
    get:
      tags:
        - financials.financials
      summary: Get financials
      operationId: financials.financials_GetFinancials
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - companies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - companies
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.financials'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.financials
      summary: Update financials
      operationId: financials.financials_UpdateFinancials
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.financials'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /financials/companies:
    get:
      tags:
        - financials.company
      summary: Get companies from financials
      operationId: financials_ListCompanies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - systemVersion
                - systemVersion desc
                - name
                - name desc
                - displayName
                - displayName desc
                - businessProfileId
                - businessProfileId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - systemVersion
                - name
                - displayName
                - businessProfileId
                - items
                - customers
                - vendors
                - companyInformation
                - salesInvoices
                - salesInvoiceLines
                - customerPaymentJournals
                - customerPayments
                - accounts
                - taxGroups
                - journals
                - journalLines
                - employees
                - generalLedgerEntries
                - currencies
                - paymentMethods
                - dimensions
                - dimensionValues
                - paymentTerms
                - shipmentMethods
                - itemCategories
                - countriesRegions
                - salesOrders
                - salesOrderLines
                - unitsOfMeasure
                - agedAccountsReceivable
                - agedAccountsPayable
                - taxAreas
                - salesQuotes
                - salesQuoteLines
                - salesCreditMemos
                - salesCreditMemoLines
                - purchaseInvoices
                - purchaseInvoiceLines
                - picture
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - items
                - customers
                - vendors
                - companyInformation
                - salesInvoices
                - salesInvoiceLines
                - customerPaymentJournals
                - customerPayments
                - accounts
                - taxGroups
                - journals
                - journalLines
                - employees
                - generalLedgerEntries
                - currencies
                - paymentMethods
                - dimensions
                - dimensionValues
                - paymentTerms
                - shipmentMethods
                - itemCategories
                - countriesRegions
                - salesOrders
                - salesOrderLines
                - unitsOfMeasure
                - agedAccountsReceivable
                - agedAccountsPayable
                - taxAreas
                - salesQuotes
                - salesQuoteLines
                - salesCreditMemos
                - salesCreditMemoLines
                - purchaseInvoices
                - purchaseInvoiceLines
                - picture
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of company
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.company'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to companies for financials
      operationId: financials_CreateCompanies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.company'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.company'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}':
    get:
      tags:
        - financials.company
      summary: Get companies from financials
      operationId: financials_GetCompanies
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - systemVersion
                - name
                - displayName
                - businessProfileId
                - items
                - customers
                - vendors
                - companyInformation
                - salesInvoices
                - salesInvoiceLines
                - customerPaymentJournals
                - customerPayments
                - accounts
                - taxGroups
                - journals
                - journalLines
                - employees
                - generalLedgerEntries
                - currencies
                - paymentMethods
                - dimensions
                - dimensionValues
                - paymentTerms
                - shipmentMethods
                - itemCategories
                - countriesRegions
                - salesOrders
                - salesOrderLines
                - unitsOfMeasure
                - agedAccountsReceivable
                - agedAccountsPayable
                - taxAreas
                - salesQuotes
                - salesQuoteLines
                - salesCreditMemos
                - salesCreditMemoLines
                - purchaseInvoices
                - purchaseInvoiceLines
                - picture
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - items
                - customers
                - vendors
                - companyInformation
                - salesInvoices
                - salesInvoiceLines
                - customerPaymentJournals
                - customerPayments
                - accounts
                - taxGroups
                - journals
                - journalLines
                - employees
                - generalLedgerEntries
                - currencies
                - paymentMethods
                - dimensions
                - dimensionValues
                - paymentTerms
                - shipmentMethods
                - itemCategories
                - countriesRegions
                - salesOrders
                - salesOrderLines
                - unitsOfMeasure
                - agedAccountsReceivable
                - agedAccountsPayable
                - taxAreas
                - salesQuotes
                - salesQuoteLines
                - salesCreditMemos
                - salesCreditMemoLines
                - purchaseInvoices
                - purchaseInvoiceLines
                - picture
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.company'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property companies in financials
      operationId: financials_UpdateCompanies
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.company'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property companies for financials
      operationId: financials_DeleteCompanies
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/accounts':
    get:
      tags:
        - financials.company
      summary: Get accounts from financials
      operationId: financials.companies_ListAccounts
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - number
                - number desc
                - displayName
                - displayName desc
                - category
                - category desc
                - subCategory
                - subCategory desc
                - blocked
                - blocked desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - number
                - displayName
                - category
                - subCategory
                - blocked
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of account
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.account'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to accounts for financials
      operationId: financials.companies_CreateAccounts
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.account'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/accounts/{account-id}':
    get:
      tags:
        - financials.company
      summary: Get accounts from financials
      operationId: financials.companies_GetAccounts
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: account-id
          in: path
          description: 'key: id of account'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: account
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - number
                - displayName
                - category
                - subCategory
                - blocked
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property accounts in financials
      operationId: financials.companies_UpdateAccounts
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: account-id
          in: path
          description: 'key: id of account'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: account
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.account'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property accounts for financials
      operationId: financials.companies_DeleteAccounts
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: account-id
          in: path
          description: 'key: id of account'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: account
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsPayable':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsPayable from financials
      operationId: financials.companies_ListAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - vendorNumber
                - vendorNumber desc
                - name
                - name desc
                - currencyCode
                - currencyCode desc
                - balanceDue
                - balanceDue desc
                - currentAmount
                - currentAmount desc
                - period1Amount
                - period1Amount desc
                - period2Amount
                - period2Amount desc
                - period3Amount
                - period3Amount desc
                - agedAsOfDate
                - agedAsOfDate desc
                - periodLengthFilter
                - periodLengthFilter desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - vendorNumber
                - name
                - currencyCode
                - balanceDue
                - currentAmount
                - period1Amount
                - period2Amount
                - period3Amount
                - agedAsOfDate
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agedAccountsPayable
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to agedAccountsPayable for financials
      operationId: financials.companies_CreateAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsPayable/{agedAccountsPayable-id}':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsPayable from financials
      operationId: financials.companies_GetAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsPayable-id
          in: path
          description: 'key: id of agedAccountsPayable'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsPayable
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - vendorNumber
                - name
                - currencyCode
                - balanceDue
                - currentAmount
                - period1Amount
                - period2Amount
                - period3Amount
                - agedAsOfDate
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property agedAccountsPayable in financials
      operationId: financials.companies_UpdateAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsPayable-id
          in: path
          description: 'key: id of agedAccountsPayable'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsPayable
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property agedAccountsPayable for financials
      operationId: financials.companies_DeleteAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsPayable-id
          in: path
          description: 'key: id of agedAccountsPayable'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsPayable
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsReceivable':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsReceivable from financials
      operationId: financials.companies_ListAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - customerNumber
                - customerNumber desc
                - name
                - name desc
                - currencyCode
                - currencyCode desc
                - balanceDue
                - balanceDue desc
                - currentAmount
                - currentAmount desc
                - period1Amount
                - period1Amount desc
                - period2Amount
                - period2Amount desc
                - period3Amount
                - period3Amount desc
                - agedAsOfDate
                - agedAsOfDate desc
                - periodLengthFilter
                - periodLengthFilter desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - customerNumber
                - name
                - currencyCode
                - balanceDue
                - currentAmount
                - period1Amount
                - period2Amount
                - period3Amount
                - agedAsOfDate
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agedAccountsReceivable
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to agedAccountsReceivable for financials
      operationId: financials.companies_CreateAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsReceivable/{agedAccountsReceivable-id}':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsReceivable from financials
      operationId: financials.companies_GetAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsReceivable-id
          in: path
          description: 'key: id of agedAccountsReceivable'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsReceivable
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - customerNumber
                - name
                - currencyCode
                - balanceDue
                - currentAmount
                - period1Amount
                - period2Amount
                - period3Amount
                - agedAsOfDate
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property agedAccountsReceivable in financials
      operationId: financials.companies_UpdateAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsReceivable-id
          in: path
          description: 'key: id of agedAccountsReceivable'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsReceivable
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property agedAccountsReceivable for financials
      operationId: financials.companies_DeleteAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsReceivable-id
          in: path
          description: 'key: id of agedAccountsReceivable'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsReceivable
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/companyInformation':
    get:
      tags:
        - financials.company
      summary: Get companyInformation from financials
      operationId: financials.companies_ListCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - address
                - address desc
                - phoneNumber
                - phoneNumber desc
                - faxNumber
                - faxNumber desc
                - email
                - email desc
                - website
                - website desc
                - taxRegistrationNumber
                - taxRegistrationNumber desc
                - currencyCode
                - currencyCode desc
                - currentFiscalYearStartDate
                - currentFiscalYearStartDate desc
                - industry
                - industry desc
                - picture
                - picture desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - address
                - phoneNumber
                - faxNumber
                - email
                - website
                - taxRegistrationNumber
                - currencyCode
                - currentFiscalYearStartDate
                - industry
                - picture
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of companyInformation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.companyInformation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to companyInformation for financials
      operationId: financials.companies_CreateCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.companyInformation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companyInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/companyInformation/{companyInformation-id}':
    get:
      tags:
        - financials.company
      summary: Get companyInformation from financials
      operationId: financials.companies_GetCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: companyInformation-id
          in: path
          description: 'key: id of companyInformation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: companyInformation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - address
                - phoneNumber
                - faxNumber
                - email
                - website
                - taxRegistrationNumber
                - currencyCode
                - currentFiscalYearStartDate
                - industry
                - picture
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companyInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property companyInformation in financials
      operationId: financials.companies_UpdateCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: companyInformation-id
          in: path
          description: 'key: id of companyInformation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: companyInformation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.companyInformation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property companyInformation for financials
      operationId: financials.companies_DeleteCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: companyInformation-id
          in: path
          description: 'key: id of companyInformation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: companyInformation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/countriesRegions':
    get:
      tags:
        - financials.company
      summary: Get countriesRegions from financials
      operationId: financials.companies_ListCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - code
                - code desc
                - displayName
                - displayName desc
                - addressFormat
                - addressFormat desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - addressFormat
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of countryRegion
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.countryRegion'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to countriesRegions for financials
      operationId: financials.companies_CreateCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.countryRegion'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.countryRegion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/countriesRegions/{countryRegion-id}':
    get:
      tags:
        - financials.company
      summary: Get countriesRegions from financials
      operationId: financials.companies_GetCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: countryRegion-id
          in: path
          description: 'key: id of countryRegion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: countryRegion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - addressFormat
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.countryRegion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property countriesRegions in financials
      operationId: financials.companies_UpdateCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: countryRegion-id
          in: path
          description: 'key: id of countryRegion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: countryRegion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.countryRegion'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property countriesRegions for financials
      operationId: financials.companies_DeleteCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: countryRegion-id
          in: path
          description: 'key: id of countryRegion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: countryRegion
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/currencies':
    get:
      tags:
        - financials.company
      summary: Get currencies from financials
      operationId: financials.companies_ListCurrencies
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - code
                - code desc
                - displayName
                - displayName desc
                - symbol
                - symbol desc
                - amountDecimalPlaces
                - amountDecimalPlaces desc
                - amountRoundingPrecision
                - amountRoundingPrecision desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - symbol
                - amountDecimalPlaces
                - amountRoundingPrecision
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of currency
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.currency'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to currencies for financials
      operationId: financials.companies_CreateCurrencies
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/currencies/{currency-id}':
    get:
      tags:
        - financials.company
      summary: Get currencies from financials
      operationId: financials.companies_GetCurrencies
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: currency-id
          in: path
          description: 'key: id of currency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: currency
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - symbol
                - amountDecimalPlaces
                - amountRoundingPrecision
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property currencies in financials
      operationId: financials.companies_UpdateCurrencies
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: currency-id
          in: path
          description: 'key: id of currency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: currency
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property currencies for financials
      operationId: financials.companies_DeleteCurrencies
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: currency-id
          in: path
          description: 'key: id of currency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: currency
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals':
    get:
      tags:
        - financials.company
      summary: Get customerPaymentJournals from financials
      operationId: financials.companies_ListCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - code
                - code desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - balancingAccountId
                - balancingAccountId desc
                - balancingAccountNumber
                - balancingAccountNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - lastModifiedDateTime
                - balancingAccountId
                - balancingAccountNumber
                - customerPayments
                - account
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customerPayments
                - account
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of customerPaymentJournal
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to customerPaymentJournals for financials
      operationId: financials.companies_CreateCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}':
    get:
      tags:
        - financials.company
      summary: Get customerPaymentJournals from financials
      operationId: financials.companies_GetCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - lastModifiedDateTime
                - balancingAccountId
                - balancingAccountNumber
                - customerPayments
                - account
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customerPayments
                - account
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customerPaymentJournals in financials
      operationId: financials.companies_UpdateCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property customerPaymentJournals for financials
      operationId: financials.companies_DeleteCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/account':
    get:
      tags:
        - financials.company
      summary: Get account from financials
      operationId: financials.companies.customerPaymentJournals_GetAccount
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - number
                - displayName
                - category
                - subCategory
                - blocked
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property account in financials
      operationId: financials.companies.customerPaymentJournals_UpdateAccount
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.account'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property account for financials
      operationId: financials.companies.customerPaymentJournals_DeleteAccount
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments':
    get:
      tags:
        - financials.company
      summary: Get customerPayments from financials
      operationId: financials.companies.customerPaymentJournals_ListCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - journalDisplayName
                - journalDisplayName desc
                - lineNumber
                - lineNumber desc
                - customerId
                - customerId desc
                - customerNumber
                - customerNumber desc
                - contactId
                - contactId desc
                - postingDate
                - postingDate desc
                - documentNumber
                - documentNumber desc
                - externalDocumentNumber
                - externalDocumentNumber desc
                - amount
                - amount desc
                - appliesToInvoiceId
                - appliesToInvoiceId desc
                - appliesToInvoiceNumber
                - appliesToInvoiceNumber desc
                - description
                - description desc
                - comment
                - comment desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - journalDisplayName
                - lineNumber
                - customerId
                - customerNumber
                - contactId
                - postingDate
                - documentNumber
                - externalDocumentNumber
                - amount
                - appliesToInvoiceId
                - appliesToInvoiceNumber
                - description
                - comment
                - lastModifiedDateTime
                - customer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of customerPayment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.customerPayment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to customerPayments for financials
      operationId: financials.companies.customerPaymentJournals_CreateCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPayment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPayment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}':
    get:
      tags:
        - financials.company
      summary: Get customerPayments from financials
      operationId: financials.companies.customerPaymentJournals_GetCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - journalDisplayName
                - lineNumber
                - customerId
                - customerNumber
                - contactId
                - postingDate
                - documentNumber
                - externalDocumentNumber
                - amount
                - appliesToInvoiceId
                - appliesToInvoiceNumber
                - description
                - comment
                - lastModifiedDateTime
                - customer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPayment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customerPayments in financials
      operationId: financials.companies.customerPaymentJournals_UpdateCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPayment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property customerPayments for financials
      operationId: financials.companies.customerPaymentJournals_DeleteCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer':
    get:
      tags:
        - financials.company
      summary: Get customer from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments_GetCustomer
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - number
                - displayName
                - type
                - address
                - phoneNumber
                - email
                - website
                - taxLiable
                - taxAreaId
                - taxAreaDisplayName
                - taxRegistrationNumber
                - currencyId
                - currencyCode
                - paymentTermsId
                - shipmentMethodId
                - paymentMethodId
                - blocked
                - lastModifiedDateTime
                - picture
                - currency
                - paymentTerm
                - shipmentMethod
                - paymentMethod
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - picture
                - currency
                - paymentTerm
                - shipmentMethod
                - paymentMethod
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customer in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments_UpdateCustomer
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property customer for financials
      operationId: financials.companies.customerPaymentJournals.customerPayments_DeleteCustomer
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/currency':
    get:
      tags:
        - financials.company
      summary: Get currency from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetCurrency
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - symbol
                - amountDecimalPlaces
                - amountRoundingPrecision
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property currency in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdateCurrency
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property currency for financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_DeleteCurrency
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/paymentMethod':
    get:
      tags:
        - financials.company
      summary: Get paymentMethod from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetPaymentMethod
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.paymentMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property paymentMethod in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdatePaymentMethod
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.paymentMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property paymentMethod for financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_DeletePaymentMethod
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/paymentTerm':
    get:
      tags:
        - financials.company
      summary: Get paymentTerm from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetPaymentTerm
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - dueDateCalculation
                - discountDateCalculation
                - discountPercent
                - calculateDiscountOnCreditMemos
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.paymentTerm'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property paymentTerm in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdatePaymentTerm
      parameters:
        - name: company-id
          in: path
          description: 'key: id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
[...]
