openapi: 3.0.1
info:
  title: Financials
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /financials:
    get:
      tags:
        - financials.financials
      summary: Get financials
      operationId: financials.financials_GetFinancials
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - companies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - companies
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.financials'
          links:
            companies:
              operationId: financials.ListCompanies
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.financials
      summary: Update financials
      operationId: financials.financials_UpdateFinancials
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.financials'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /financials/companies:
    get:
      tags:
        - financials.company
      summary: Get companies from financials
      operationId: financials_ListCompanies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - businessProfileId
                - businessProfileId desc
                - displayName
                - displayName desc
                - name
                - name desc
                - systemVersion
                - systemVersion desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - businessProfileId
                - displayName
                - name
                - systemVersion
                - accounts
                - agedAccountsPayable
                - agedAccountsReceivable
                - companyInformation
                - countriesRegions
                - currencies
                - customerPaymentJournals
                - customerPayments
                - customers
                - dimensions
                - dimensionValues
                - employees
                - generalLedgerEntries
                - itemCategories
                - items
                - journalLines
                - journals
                - paymentMethods
                - paymentTerms
                - picture
                - purchaseInvoiceLines
                - purchaseInvoices
                - salesCreditMemoLines
                - salesCreditMemos
                - salesInvoiceLines
                - salesInvoices
                - salesOrderLines
                - salesOrders
                - salesQuoteLines
                - salesQuotes
                - shipmentMethods
                - taxAreas
                - taxGroups
                - unitsOfMeasure
                - vendors
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accounts
                - agedAccountsPayable
                - agedAccountsReceivable
                - companyInformation
                - countriesRegions
                - currencies
                - customerPaymentJournals
                - customerPayments
                - customers
                - dimensions
                - dimensionValues
                - employees
                - generalLedgerEntries
                - itemCategories
                - items
                - journalLines
                - journals
                - paymentMethods
                - paymentTerms
                - picture
                - purchaseInvoiceLines
                - purchaseInvoices
                - salesCreditMemoLines
                - salesCreditMemos
                - salesInvoiceLines
                - salesInvoices
                - salesOrderLines
                - salesOrders
                - salesQuoteLines
                - salesQuotes
                - shipmentMethods
                - taxAreas
                - taxGroups
                - unitsOfMeasure
                - vendors
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.companyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to companies for financials
      operationId: financials_CreateCompanies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.company'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.company'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}':
    get:
      tags:
        - financials.company
      summary: Get companies from financials
      operationId: financials_GetCompanies
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - businessProfileId
                - displayName
                - name
                - systemVersion
                - accounts
                - agedAccountsPayable
                - agedAccountsReceivable
                - companyInformation
                - countriesRegions
                - currencies
                - customerPaymentJournals
                - customerPayments
                - customers
                - dimensions
                - dimensionValues
                - employees
                - generalLedgerEntries
                - itemCategories
                - items
                - journalLines
                - journals
                - paymentMethods
                - paymentTerms
                - picture
                - purchaseInvoiceLines
                - purchaseInvoices
                - salesCreditMemoLines
                - salesCreditMemos
                - salesInvoiceLines
                - salesInvoices
                - salesOrderLines
                - salesOrders
                - salesQuoteLines
                - salesQuotes
                - shipmentMethods
                - taxAreas
                - taxGroups
                - unitsOfMeasure
                - vendors
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accounts
                - agedAccountsPayable
                - agedAccountsReceivable
                - companyInformation
                - countriesRegions
                - currencies
                - customerPaymentJournals
                - customerPayments
                - customers
                - dimensions
                - dimensionValues
                - employees
                - generalLedgerEntries
                - itemCategories
                - items
                - journalLines
                - journals
                - paymentMethods
                - paymentTerms
                - picture
                - purchaseInvoiceLines
                - purchaseInvoices
                - salesCreditMemoLines
                - salesCreditMemos
                - salesInvoiceLines
                - salesInvoices
                - salesOrderLines
                - salesOrders
                - salesQuoteLines
                - salesQuotes
                - shipmentMethods
                - taxAreas
                - taxGroups
                - unitsOfMeasure
                - vendors
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.company'
          links:
            accounts:
              operationId: financials.Companies.ListAccounts
              parameters:
                company-id: $request.path.company-id
            agedAccountsPayable:
              operationId: financials.Companies.ListAgedAccountsPayable
              parameters:
                company-id: $request.path.company-id
            agedAccountsReceivable:
              operationId: financials.Companies.ListAgedAccountsReceivable
              parameters:
                company-id: $request.path.company-id
            companyInformation:
              operationId: financials.Companies.ListCompanyInformation
              parameters:
                company-id: $request.path.company-id
            countriesRegions:
              operationId: financials.Companies.ListCountriesRegions
              parameters:
                company-id: $request.path.company-id
            currencies:
              operationId: financials.Companies.ListCurrencies
              parameters:
                company-id: $request.path.company-id
            customerPaymentJournals:
              operationId: financials.Companies.ListCustomerPaymentJournals
              parameters:
                company-id: $request.path.company-id
            customerPayments:
              operationId: financials.Companies.ListCustomerPayments
              parameters:
                company-id: $request.path.company-id
            customers:
              operationId: financials.Companies.ListCustomers
              parameters:
                company-id: $request.path.company-id
            dimensions:
              operationId: financials.Companies.ListDimensions
              parameters:
                company-id: $request.path.company-id
            dimensionValues:
              operationId: financials.Companies.ListDimensionValues
              parameters:
                company-id: $request.path.company-id
            employees:
              operationId: financials.Companies.ListEmployees
              parameters:
                company-id: $request.path.company-id
            generalLedgerEntries:
              operationId: financials.Companies.ListGeneralLedgerEntries
              parameters:
                company-id: $request.path.company-id
            itemCategories:
              operationId: financials.Companies.ListItemCategories
              parameters:
                company-id: $request.path.company-id
            items:
              operationId: financials.Companies.ListItems
              parameters:
                company-id: $request.path.company-id
            journalLines:
              operationId: financials.Companies.ListJournalLines
              parameters:
                company-id: $request.path.company-id
            journals:
              operationId: financials.Companies.ListJournals
              parameters:
                company-id: $request.path.company-id
            paymentMethods:
              operationId: financials.Companies.ListPaymentMethods
              parameters:
                company-id: $request.path.company-id
            paymentTerms:
              operationId: financials.Companies.ListPaymentTerms
              parameters:
                company-id: $request.path.company-id
            picture:
              operationId: financials.Companies.ListPicture
              parameters:
                company-id: $request.path.company-id
            purchaseInvoiceLines:
              operationId: financials.Companies.ListPurchaseInvoiceLines
              parameters:
                company-id: $request.path.company-id
            purchaseInvoices:
              operationId: financials.Companies.ListPurchaseInvoices
              parameters:
                company-id: $request.path.company-id
            salesCreditMemoLines:
              operationId: financials.Companies.ListSalesCreditMemoLines
              parameters:
                company-id: $request.path.company-id
            salesCreditMemos:
              operationId: financials.Companies.ListSalesCreditMemos
              parameters:
                company-id: $request.path.company-id
            salesInvoiceLines:
              operationId: financials.Companies.ListSalesInvoiceLines
              parameters:
                company-id: $request.path.company-id
            salesInvoices:
              operationId: financials.Companies.ListSalesInvoices
              parameters:
                company-id: $request.path.company-id
            salesOrderLines:
              operationId: financials.Companies.ListSalesOrderLines
              parameters:
                company-id: $request.path.company-id
            salesOrders:
              operationId: financials.Companies.ListSalesOrders
              parameters:
                company-id: $request.path.company-id
            salesQuoteLines:
              operationId: financials.Companies.ListSalesQuoteLines
              parameters:
                company-id: $request.path.company-id
            salesQuotes:
              operationId: financials.Companies.ListSalesQuotes
              parameters:
                company-id: $request.path.company-id
            shipmentMethods:
              operationId: financials.Companies.ListShipmentMethods
              parameters:
                company-id: $request.path.company-id
            taxAreas:
              operationId: financials.Companies.ListTaxAreas
              parameters:
                company-id: $request.path.company-id
            taxGroups:
              operationId: financials.Companies.ListTaxGroups
              parameters:
                company-id: $request.path.company-id
            unitsOfMeasure:
              operationId: financials.Companies.ListUnitsOfMeasure
              parameters:
                company-id: $request.path.company-id
            vendors:
              operationId: financials.Companies.ListVendors
              parameters:
                company-id: $request.path.company-id
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property companies in financials
      operationId: financials_UpdateCompanies
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.company'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property companies for financials
      operationId: financials_DeleteCompanies
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/accounts':
    get:
      tags:
        - financials.company
      summary: Get accounts from financials
      operationId: financials.companies_ListAccounts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - blocked
                - blocked desc
                - category
                - category desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - number
                - number desc
                - subCategory
                - subCategory desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blocked
                - category
                - displayName
                - lastModifiedDateTime
                - number
                - subCategory
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accountCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to accounts for financials
      operationId: financials.companies_CreateAccounts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.account'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/accounts/{account-id}':
    get:
      tags:
        - financials.company
      summary: Get accounts from financials
      operationId: financials.companies_GetAccounts
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blocked
                - category
                - displayName
                - lastModifiedDateTime
                - number
                - subCategory
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property accounts in financials
      operationId: financials.companies_UpdateAccounts
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.account'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property accounts for financials
      operationId: financials.companies_DeleteAccounts
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsPayable':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsPayable from financials
      operationId: financials.companies_ListAgedAccountsPayable
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - agedAsOfDate
                - agedAsOfDate desc
                - balanceDue
                - balanceDue desc
                - currencyCode
                - currencyCode desc
                - currentAmount
                - currentAmount desc
                - name
                - name desc
                - period1Amount
                - period1Amount desc
                - period2Amount
                - period2Amount desc
                - period3Amount
                - period3Amount desc
                - periodLengthFilter
                - periodLengthFilter desc
                - vendorNumber
                - vendorNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agedAsOfDate
                - balanceDue
                - currencyCode
                - currentAmount
                - name
                - period1Amount
                - period2Amount
                - period3Amount
                - periodLengthFilter
                - vendorNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agedAccountsPayableCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to agedAccountsPayable for financials
      operationId: financials.companies_CreateAgedAccountsPayable
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsPayable/{agedAccountsPayable-id}':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsPayable from financials
      operationId: financials.companies_GetAgedAccountsPayable
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agedAsOfDate
                - balanceDue
                - currencyCode
                - currentAmount
                - name
                - period1Amount
                - period2Amount
                - period3Amount
                - periodLengthFilter
                - vendorNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property agedAccountsPayable in financials
      operationId: financials.companies_UpdateAgedAccountsPayable
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property agedAccountsPayable for financials
      operationId: financials.companies_DeleteAgedAccountsPayable
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsReceivable':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsReceivable from financials
      operationId: financials.companies_ListAgedAccountsReceivable
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - agedAsOfDate
                - agedAsOfDate desc
                - balanceDue
                - balanceDue desc
                - currencyCode
                - currencyCode desc
                - currentAmount
                - currentAmount desc
                - customerNumber
                - customerNumber desc
                - name
                - name desc
                - period1Amount
                - period1Amount desc
                - period2Amount
                - period2Amount desc
                - period3Amount
                - period3Amount desc
                - periodLengthFilter
                - periodLengthFilter desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agedAsOfDate
                - balanceDue
                - currencyCode
                - currentAmount
                - customerNumber
                - name
                - period1Amount
                - period2Amount
                - period3Amount
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agedAccountsReceivableCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to agedAccountsReceivable for financials
      operationId: financials.companies_CreateAgedAccountsReceivable
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsReceivable/{agedAccountsReceivable-id}':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsReceivable from financials
      operationId: financials.companies_GetAgedAccountsReceivable
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agedAsOfDate
                - balanceDue
                - currencyCode
                - currentAmount
                - customerNumber
                - name
                - period1Amount
                - period2Amount
                - period3Amount
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property agedAccountsReceivable in financials
      operationId: financials.companies_UpdateAgedAccountsReceivable
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property agedAccountsReceivable for financials
      operationId: financials.companies_DeleteAgedAccountsReceivable
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/companyInformation':
    get:
      tags:
        - financials.company
      summary: Get companyInformation from financials
      operationId: financials.companies_ListCompanyInformation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - address
                - address desc
                - currencyCode
                - currencyCode desc
                - currentFiscalYearStartDate
                - currentFiscalYearStartDate desc
                - displayName
                - displayName desc
                - email
                - email desc
                - faxNumber
                - faxNumber desc
                - industry
                - industry desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - phoneNumber
                - phoneNumber desc
                - picture
                - picture desc
                - taxRegistrationNumber
                - taxRegistrationNumber desc
                - website
                - website desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - address
                - currencyCode
                - currentFiscalYearStartDate
                - displayName
                - email
                - faxNumber
                - industry
                - lastModifiedDateTime
                - phoneNumber
                - picture
                - taxRegistrationNumber
                - website
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.companyInformationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to companyInformation for financials
      operationId: financials.companies_CreateCompanyInformation
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.companyInformation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companyInformation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/companyInformation/{companyInformation-id}':
    get:
      tags:
        - financials.company
      summary: Get companyInformation from financials
      operationId: financials.companies_GetCompanyInformation
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - address
                - currencyCode
                - currentFiscalYearStartDate
                - displayName
                - email
                - faxNumber
                - industry
                - lastModifiedDateTime
                - phoneNumber
                - picture
                - taxRegistrationNumber
                - website
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companyInformation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property companyInformation in financials
      operationId: financials.companies_UpdateCompanyInformation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.companyInformation'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property companyInformation for financials
      operationId: financials.companies_DeleteCompanyInformation
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/companyInformation/{companyInformation-id}/picture':
    get:
      tags:
        - financials.company
      summary: Get picture for the navigation property companyInformation from financials
      operationId: financials.companies_GetCompanyInformationPicture
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - financials.company
      summary: Update picture for the navigation property companyInformation in financials
      operationId: financials.companies_SetCompanyInformationPicture
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/countriesRegions':
    get:
      tags:
        - financials.company
      summary: Get countriesRegions from financials
      operationId: financials.companies_ListCountriesRegions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - addressFormat
                - addressFormat desc
                - code
                - code desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addressFormat
                - code
                - displayName
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.countryRegionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to countriesRegions for financials
      operationId: financials.companies_CreateCountriesRegions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.countryRegion'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.countryRegion'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/countriesRegions/{countryRegion-id}':
    get:
      tags:
        - financials.company
      summary: Get countriesRegions from financials
      operationId: financials.companies_GetCountriesRegions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - addressFormat
                - code
                - displayName
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.countryRegion'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property countriesRegions in financials
      operationId: financials.companies_UpdateCountriesRegions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.countryRegion'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property countriesRegions for financials
      operationId: financials.companies_DeleteCountriesRegions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/currencies':
    get:
      tags:
        - financials.company
      summary: Get currencies from financials
      operationId: financials.companies_ListCurrencies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - amountDecimalPlaces
                - amountDecimalPlaces desc
                - amountRoundingPrecision
                - amountRoundingPrecision desc
                - code
                - code desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - symbol
                - symbol desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amountDecimalPlaces
                - amountRoundingPrecision
                - code
                - displayName
                - lastModifiedDateTime
                - symbol
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.currencyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to currencies for financials
      operationId: financials.companies_CreateCurrencies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/currencies/{currency-id}':
    get:
      tags:
        - financials.company
      summary: Get currencies from financials
      operationId: financials.companies_GetCurrencies
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amountDecimalPlaces
                - amountRoundingPrecision
                - code
                - displayName
                - lastModifiedDateTime
                - symbol
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property currencies in financials
      operationId: financials.companies_UpdateCurrencies
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property currencies for financials
      operationId: financials.companies_DeleteCurrencies
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals':
    get:
      tags:
        - financials.company
      summary: Get customerPaymentJournals from financials
      operationId: financials.companies_ListCustomerPaymentJournals
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - balancingAccountId
                - balancingAccountId desc
                - balancingAccountNumber
                - balancingAccountNumber desc
                - code
                - code desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - balancingAccountId
                - balancingAccountNumber
                - code
                - displayName
                - lastModifiedDateTime
                - account
                - customerPayments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - account
                - customerPayments
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.customerPaymentJournalCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to customerPaymentJournals for financials
      operationId: financials.companies_CreateCustomerPaymentJournals
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}':
    get:
      tags:
        - financials.company
      summary: Get customerPaymentJournals from financials
      operationId: financials.companies_GetCustomerPaymentJournals
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - balancingAccountId
                - balancingAccountNumber
                - code
                - displayName
                - lastModifiedDateTime
                - account
                - customerPayments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - account
                - customerPayments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
          links:
            account:
              operationId: financials.companies.CustomerPaymentJournals.GetAccount
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
            customerPayments:
              operationId: financials.companies.CustomerPaymentJournals.ListCustomerPayments
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customerPaymentJournals in financials
      operationId: financials.companies_UpdateCustomerPaymentJournals
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property customerPaymentJournals for financials
      operationId: financials.companies_DeleteCustomerPaymentJournals
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/account':
    get:
      tags:
        - financials.company
      summary: Get account from financials
      operationId: financials.companies.customerPaymentJournals_GetAccount
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blocked
                - category
                - displayName
                - lastModifiedDateTime
                - number
                - subCategory
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property account in financials
      operationId: financials.companies.customerPaymentJournals_UpdateAccount
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.account'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property account for financials
      operationId: financials.companies.customerPaymentJournals_DeleteAccount
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments':
    get:
      tags:
        - financials.company
      summary: Get customerPayments from financials
      operationId: financials.companies.customerPaymentJournals_ListCustomerPayments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - amount
                - amount desc
                - appliesToInvoiceId
                - appliesToInvoiceId desc
                - appliesToInvoiceNumber
                - appliesToInvoiceNumber desc
                - comment
                - comment desc
                - contactId
                - contactId desc
                - customerId
                - customerId desc
                - customerNumber
                - customerNumber desc
                - description
                - description desc
                - documentNumber
                - documentNumber desc
                - externalDocumentNumber
                - externalDocumentNumber desc
                - journalDisplayName
                - journalDisplayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lineNumber
                - lineNumber desc
                - postingDate
                - postingDate desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amount
                - appliesToInvoiceId
                - appliesToInvoiceNumber
                - comment
                - contactId
                - customerId
                - customerNumber
                - description
                - documentNumber
                - externalDocumentNumber
                - journalDisplayName
                - lastModifiedDateTime
                - lineNumber
                - postingDate
                - customer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customer
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.customerPaymentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to customerPayments for financials
      operationId: financials.companies.customerPaymentJournals_CreateCustomerPayments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPayment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPayment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}':
    get:
      tags:
        - financials.company
      summary: Get customerPayments from financials
      operationId: financials.companies.customerPaymentJournals_GetCustomerPayments
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amount
                - appliesToInvoiceId
                - appliesToInvoiceNumber
                - comment
                - contactId
                - customerId
                - customerNumber
                - description
                - documentNumber
                - externalDocumentNumber
                - journalDisplayName
                - lastModifiedDateTime
                - lineNumber
                - postingDate
                - customer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPayment'
          links:
            customer:
              operationId: financials.companies.customerPaymentJournals.CustomerPayments.GetCustomer
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customerPayments in financials
      operationId: financials.companies.customerPaymentJournals_UpdateCustomerPayments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPayment'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property customerPayments for financials
      operationId: financials.companies.customerPaymentJournals_DeleteCustomerPayments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer':
    get:
      tags:
        - financials.company
      summary: Get customer from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments_GetCustomer
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - address
                - blocked
                - currencyCode
                - currencyId
                - displayName
                - email
                - lastModifiedDateTime
                - number
                - paymentMethodId
                - paymentTermsId
                - phoneNumber
                - shipmentMethodId
                - taxAreaDisplayName
                - taxAreaId
                - taxLiable
                - taxRegistrationNumber
                - type
                - website
                - currency
                - paymentMethod
                - paymentTerm
                - picture
                - shipmentMethod
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - currency
                - paymentMethod
                - paymentTerm
                - picture
                - shipmentMethod
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customer'
          links:
            currency:
              operationId: financials.companies.customerPaymentJournals.customerPayments.Customer.GetCurrency
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
            paymentMethod:
              operationId: financials.companies.customerPaymentJournals.customerPayments.Customer.GetPaymentMethod
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
            paymentTerm:
              operationId: financials.companies.customerPaymentJournals.customerPayments.Customer.GetPaymentTerm
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
            picture:
              operationId: financials.companies.customerPaymentJournals.customerPayments.Customer.ListPicture
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
            shipmentMethod:
              operationId: financials.companies.customerPaymentJournals.customerPayments.Customer.GetShipmentMethod
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customer in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments_UpdateCustomer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customer'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property customer for financials
      operationId: financials.companies.customerPaymentJournals.customerPayments_DeleteCustomer
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/currency':
    get:
      tags:
        - financials.company
      summary: Get currency from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetCurrency
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amountDecimalPlaces
                - amountRoundingPrecision
                - code
                - displayName
                - lastModifiedDateTime
                - symbol
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property currency in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdateCurrency
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property currency for financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_DeleteCurrency
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/paymentMethod':
    get:
      tags:
        - financials.company
      summary: Get paymentMethod from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetPaymentMethod
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.paymentMethod'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property paymentMethod in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdatePaymentMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.paymentMethod'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property paymentMethod for financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_DeletePaymentMethod
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/paymentTerm':
    get:
      tags:
        - financials.company
      summary: Get paymentTerm from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetPaymentTerm
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - calculateDiscountOnCreditMemos
                - code
                - discountDateCalculation
                - discountPercent
                - displayName
                - dueDateCalculation
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.paymentTerm'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property paymentTerm in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdatePaymentTerm
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.paymentTerm'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property paymentTerm for financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_DeletePaymentTerm
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/picture':
    get:
      tags:
        - financials.company
      summary: Get picture from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_ListPicture
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - content
                - content desc
                - contentType
                - contentType desc
                - height
                - height desc
                - width
                - width desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - contentType
                - height
                - width
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.pictureCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to picture for financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_CreatePicture
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.picture'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.picture'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/picture/{picture-id}':
    get:
      tags:
        - financials.company
      summary: Get picture from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetPicture
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - contentType
                - height
                - width
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.picture'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property picture in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdatePicture
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.picture'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property picture for financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_DeletePicture
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/picture/{picture-id}/content':
    get:
      tags:
        - financials.company
      summary: Get content for the navigation property picture from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetPictureContent
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - financials.company
      summary: Update content for the navigation property picture in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_SetPictureContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/shipmentMethod':
    get:
      tags:
        - financials.company
      summary: Get shipmentMethod from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetShipmentMethod
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.shipmentMethod'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.company
      summary: Update the navigation property shipmentMethod in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdateShipmentMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.shipmentMethod'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - financials.company
      summary: Delete navigation property shipmentMethod for financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_DeleteShipmentMethod
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPayments':
    get:
      tags:
        - financials.company
      summary: Get customerPayments from financials
      operationId: financials.companies_ListCustomerPayments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - amount
                - amount desc
                - appliesToInvoiceId
                - appliesToInvoiceId desc
                - appliesToInvoiceNumber
                - appliesToInvoiceNumber desc
                - comment
                - comment desc
                - contactId
                - contactId desc
                - customerId
                - customerId desc
                - customerNumber
                - customerNumber desc
                - description
                - description desc
                - documentNumber
                - documentNumber desc
                - externalDocumentNumber
                - externalDocumentNumber desc
                - journalDisplayName
                - journalDisplayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lineNumber
                - lineNumber desc
                - postingDate
                - postingDate desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - amount
                - appliesToInvoiceId
                - appliesToInvoiceNumber
                - comment
                - contactId
                - customerId
                - customerNumber
                - description
                - documentNumber
                - externalDocumentNumber
                - journalDisplayName
                - lastModifiedDateTime
                - lineNumber
                - postingDate
                - customer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customer
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.customerPaymentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
[...]
