openapi: 3.0.1
info:
  title: Financials
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /financials:
    get:
      tags:
        - financials.financials
      summary: Get financials
      operationId: financials.financials_GetFinancials
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - companies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - companies
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.financials'
          links:
            companies:
              operationId: financials.GetCompanies
              parameters:
                company-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - financials.financials
      summary: Update financials
      operationId: financials.financials_UpdateFinancials
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.financials'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /financials/companies:
    get:
      tags:
        - financials.company
      summary: Get companies from financials
      operationId: financials_ListCompanies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - systemVersion
                - systemVersion desc
                - name
                - name desc
                - displayName
                - displayName desc
                - businessProfileId
                - businessProfileId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - systemVersion
                - name
                - displayName
                - businessProfileId
                - items
                - customers
                - vendors
                - companyInformation
                - salesInvoices
                - salesInvoiceLines
                - customerPaymentJournals
                - customerPayments
                - accounts
                - taxGroups
                - journals
                - journalLines
                - employees
                - generalLedgerEntries
                - currencies
                - paymentMethods
                - dimensions
                - dimensionValues
                - paymentTerms
                - shipmentMethods
                - itemCategories
                - countriesRegions
                - salesOrders
                - salesOrderLines
                - unitsOfMeasure
                - agedAccountsReceivable
                - agedAccountsPayable
                - taxAreas
                - salesQuotes
                - salesQuoteLines
                - salesCreditMemos
                - salesCreditMemoLines
                - purchaseInvoices
                - purchaseInvoiceLines
                - picture
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - items
                - customers
                - vendors
                - companyInformation
                - salesInvoices
                - salesInvoiceLines
                - customerPaymentJournals
                - customerPayments
                - accounts
                - taxGroups
                - journals
                - journalLines
                - employees
                - generalLedgerEntries
                - currencies
                - paymentMethods
                - dimensions
                - dimensionValues
                - paymentTerms
                - shipmentMethods
                - itemCategories
                - countriesRegions
                - salesOrders
                - salesOrderLines
                - unitsOfMeasure
                - agedAccountsReceivable
                - agedAccountsPayable
                - taxAreas
                - salesQuotes
                - salesQuoteLines
                - salesCreditMemos
                - salesCreditMemoLines
                - purchaseInvoices
                - purchaseInvoiceLines
                - picture
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of company
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.company'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to companies for financials
      operationId: financials_CreateCompanies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.company'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.company'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}':
    get:
      tags:
        - financials.company
      summary: Get companies from financials
      operationId: financials_GetCompanies
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - systemVersion
                - name
                - displayName
                - businessProfileId
                - items
                - customers
                - vendors
                - companyInformation
                - salesInvoices
                - salesInvoiceLines
                - customerPaymentJournals
                - customerPayments
                - accounts
                - taxGroups
                - journals
                - journalLines
                - employees
                - generalLedgerEntries
                - currencies
                - paymentMethods
                - dimensions
                - dimensionValues
                - paymentTerms
                - shipmentMethods
                - itemCategories
                - countriesRegions
                - salesOrders
                - salesOrderLines
                - unitsOfMeasure
                - agedAccountsReceivable
                - agedAccountsPayable
                - taxAreas
                - salesQuotes
                - salesQuoteLines
                - salesCreditMemos
                - salesCreditMemoLines
                - purchaseInvoices
                - purchaseInvoiceLines
                - picture
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - items
                - customers
                - vendors
                - companyInformation
                - salesInvoices
                - salesInvoiceLines
                - customerPaymentJournals
                - customerPayments
                - accounts
                - taxGroups
                - journals
                - journalLines
                - employees
                - generalLedgerEntries
                - currencies
                - paymentMethods
                - dimensions
                - dimensionValues
                - paymentTerms
                - shipmentMethods
                - itemCategories
                - countriesRegions
                - salesOrders
                - salesOrderLines
                - unitsOfMeasure
                - agedAccountsReceivable
                - agedAccountsPayable
                - taxAreas
                - salesQuotes
                - salesQuoteLines
                - salesCreditMemos
                - salesCreditMemoLines
                - purchaseInvoices
                - purchaseInvoiceLines
                - picture
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.company'
          links:
            items:
              operationId: financials.companies.GetItems
              parameters:
                company-id: $request.path.company-id
                item-id: $response.body#/id
            customers:
              operationId: financials.companies.GetCustomers
              parameters:
                company-id: $request.path.company-id
                customer-id: $response.body#/id
            vendors:
              operationId: financials.companies.GetVendors
              parameters:
                company-id: $request.path.company-id
                vendor-id: $response.body#/id
            companyInformation:
              operationId: financials.companies.GetCompanyInformation
              parameters:
                company-id: $request.path.company-id
                companyInformation-id: $response.body#/id
            salesInvoices:
              operationId: financials.companies.GetSalesInvoices
              parameters:
                company-id: $request.path.company-id
                salesInvoice-id: $response.body#/id
            salesInvoiceLines:
              operationId: financials.companies.GetSalesInvoiceLines
              parameters:
                company-id: $request.path.company-id
                salesInvoiceLine-id: $response.body#/id
            customerPaymentJournals:
              operationId: financials.companies.GetCustomerPaymentJournals
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $response.body#/id
            customerPayments:
              operationId: financials.companies.GetCustomerPayments
              parameters:
                company-id: $request.path.company-id
                customerPayment-id: $response.body#/id
            accounts:
              operationId: financials.companies.GetAccounts
              parameters:
                company-id: $request.path.company-id
                account-id: $response.body#/id
            taxGroups:
              operationId: financials.companies.GetTaxGroups
              parameters:
                company-id: $request.path.company-id
                taxGroup-id: $response.body#/id
            journals:
              operationId: financials.companies.GetJournals
              parameters:
                company-id: $request.path.company-id
                journal-id: $response.body#/id
            journalLines:
              operationId: financials.companies.GetJournalLines
              parameters:
                company-id: $request.path.company-id
                journalLine-id: $response.body#/id
            employees:
              operationId: financials.companies.GetEmployees
              parameters:
                company-id: $request.path.company-id
                employee-id: $response.body#/id
            generalLedgerEntries:
              operationId: financials.companies.GetGeneralLedgerEntries
              parameters:
                company-id: $request.path.company-id
                generalLedgerEntry-id: $response.body#/id
            currencies:
              operationId: financials.companies.GetCurrencies
              parameters:
                company-id: $request.path.company-id
                currency-id: $response.body#/id
            paymentMethods:
              operationId: financials.companies.GetPaymentMethods
              parameters:
                company-id: $request.path.company-id
                paymentMethod-id: $response.body#/id
            dimensions:
              operationId: financials.companies.GetDimensions
              parameters:
                company-id: $request.path.company-id
                dimension-id: $response.body#/id
            dimensionValues:
              operationId: financials.companies.GetDimensionValues
              parameters:
                company-id: $request.path.company-id
                dimensionValue-id: $response.body#/id
            paymentTerms:
              operationId: financials.companies.GetPaymentTerms
              parameters:
                company-id: $request.path.company-id
                paymentTerm-id: $response.body#/id
            shipmentMethods:
              operationId: financials.companies.GetShipmentMethods
              parameters:
                company-id: $request.path.company-id
                shipmentMethod-id: $response.body#/id
            itemCategories:
              operationId: financials.companies.GetItemCategories
              parameters:
                company-id: $request.path.company-id
                itemCategory-id: $response.body#/id
            countriesRegions:
              operationId: financials.companies.GetCountriesRegions
              parameters:
                company-id: $request.path.company-id
                countryRegion-id: $response.body#/id
            salesOrders:
              operationId: financials.companies.GetSalesOrders
              parameters:
                company-id: $request.path.company-id
                salesOrder-id: $response.body#/id
            salesOrderLines:
              operationId: financials.companies.GetSalesOrderLines
              parameters:
                company-id: $request.path.company-id
                salesOrderLine-id: $response.body#/id
            unitsOfMeasure:
              operationId: financials.companies.GetUnitsOfMeasure
              parameters:
                company-id: $request.path.company-id
                unitOfMeasure-id: $response.body#/id
            agedAccountsReceivable:
              operationId: financials.companies.GetAgedAccountsReceivable
              parameters:
                company-id: $request.path.company-id
                agedAccountsReceivable-id: $response.body#/id
            agedAccountsPayable:
              operationId: financials.companies.GetAgedAccountsPayable
              parameters:
                company-id: $request.path.company-id
                agedAccountsPayable-id: $response.body#/id
            taxAreas:
              operationId: financials.companies.GetTaxAreas
              parameters:
                company-id: $request.path.company-id
                taxArea-id: $response.body#/id
            salesQuotes:
              operationId: financials.companies.GetSalesQuotes
              parameters:
                company-id: $request.path.company-id
                salesQuote-id: $response.body#/id
            salesQuoteLines:
              operationId: financials.companies.GetSalesQuoteLines
              parameters:
                company-id: $request.path.company-id
                salesQuoteLine-id: $response.body#/id
            salesCreditMemos:
              operationId: financials.companies.GetSalesCreditMemos
              parameters:
                company-id: $request.path.company-id
                salesCreditMemo-id: $response.body#/id
            salesCreditMemoLines:
              operationId: financials.companies.GetSalesCreditMemoLines
              parameters:
                company-id: $request.path.company-id
                salesCreditMemoLine-id: $response.body#/id
            purchaseInvoices:
              operationId: financials.companies.GetPurchaseInvoices
              parameters:
                company-id: $request.path.company-id
                purchaseInvoice-id: $response.body#/id
            purchaseInvoiceLines:
              operationId: financials.companies.GetPurchaseInvoiceLines
              parameters:
                company-id: $request.path.company-id
                purchaseInvoiceLine-id: $response.body#/id
            picture:
              operationId: financials.companies.GetPicture
              parameters:
                company-id: $request.path.company-id
                picture-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property companies in financials
      operationId: financials_UpdateCompanies
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.company'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/accounts':
    get:
      tags:
        - financials.company
      summary: Get accounts from financials
      operationId: financials.companies_ListAccounts
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - number
                - number desc
                - displayName
                - displayName desc
                - category
                - category desc
                - subCategory
                - subCategory desc
                - blocked
                - blocked desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - number
                - displayName
                - category
                - subCategory
                - blocked
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of account
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.account'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to accounts for financials
      operationId: financials.companies_CreateAccounts
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.account'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/accounts/{account-id}':
    get:
      tags:
        - financials.company
      summary: Get accounts from financials
      operationId: financials.companies_GetAccounts
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: account-id
          in: path
          description: 'key: account-id of account'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: account
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - number
                - displayName
                - category
                - subCategory
                - blocked
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property accounts in financials
      operationId: financials.companies_UpdateAccounts
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: account-id
          in: path
          description: 'key: account-id of account'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: account
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.account'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsPayable':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsPayable from financials
      operationId: financials.companies_ListAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - vendorNumber
                - vendorNumber desc
                - name
                - name desc
                - currencyCode
                - currencyCode desc
                - balanceDue
                - balanceDue desc
                - currentAmount
                - currentAmount desc
                - period1Amount
                - period1Amount desc
                - period2Amount
                - period2Amount desc
                - period3Amount
                - period3Amount desc
                - agedAsOfDate
                - agedAsOfDate desc
                - periodLengthFilter
                - periodLengthFilter desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - vendorNumber
                - name
                - currencyCode
                - balanceDue
                - currentAmount
                - period1Amount
                - period2Amount
                - period3Amount
                - agedAsOfDate
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agedAccountsPayable
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to agedAccountsPayable for financials
      operationId: financials.companies_CreateAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsPayable/{agedAccountsPayable-id}':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsPayable from financials
      operationId: financials.companies_GetAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsPayable-id
          in: path
          description: 'key: agedAccountsPayable-id of agedAccountsPayable'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsPayable
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - vendorNumber
                - name
                - currencyCode
                - balanceDue
                - currentAmount
                - period1Amount
                - period2Amount
                - period3Amount
                - agedAsOfDate
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property agedAccountsPayable in financials
      operationId: financials.companies_UpdateAgedAccountsPayable
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsPayable-id
          in: path
          description: 'key: agedAccountsPayable-id of agedAccountsPayable'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsPayable
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsPayable'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsReceivable':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsReceivable from financials
      operationId: financials.companies_ListAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - customerNumber
                - customerNumber desc
                - name
                - name desc
                - currencyCode
                - currencyCode desc
                - balanceDue
                - balanceDue desc
                - currentAmount
                - currentAmount desc
                - period1Amount
                - period1Amount desc
                - period2Amount
                - period2Amount desc
                - period3Amount
                - period3Amount desc
                - agedAsOfDate
                - agedAsOfDate desc
                - periodLengthFilter
                - periodLengthFilter desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - customerNumber
                - name
                - currencyCode
                - balanceDue
                - currentAmount
                - period1Amount
                - period2Amount
                - period3Amount
                - agedAsOfDate
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agedAccountsReceivable
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to agedAccountsReceivable for financials
      operationId: financials.companies_CreateAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/agedAccountsReceivable/{agedAccountsReceivable-id}':
    get:
      tags:
        - financials.company
      summary: Get agedAccountsReceivable from financials
      operationId: financials.companies_GetAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsReceivable-id
          in: path
          description: 'key: agedAccountsReceivable-id of agedAccountsReceivable'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsReceivable
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - customerNumber
                - name
                - currencyCode
                - balanceDue
                - currentAmount
                - period1Amount
                - period2Amount
                - period3Amount
                - agedAsOfDate
                - periodLengthFilter
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property agedAccountsReceivable in financials
      operationId: financials.companies_UpdateAgedAccountsReceivable
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: agedAccountsReceivable-id
          in: path
          description: 'key: agedAccountsReceivable-id of agedAccountsReceivable'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agedAccountsReceivable
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agedAccountsReceivable'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/companyInformation':
    get:
      tags:
        - financials.company
      summary: Get companyInformation from financials
      operationId: financials.companies_ListCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - address
                - address desc
                - phoneNumber
                - phoneNumber desc
                - faxNumber
                - faxNumber desc
                - email
                - email desc
                - website
                - website desc
                - taxRegistrationNumber
                - taxRegistrationNumber desc
                - currencyCode
                - currencyCode desc
                - currentFiscalYearStartDate
                - currentFiscalYearStartDate desc
                - industry
                - industry desc
                - picture
                - picture desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - address
                - phoneNumber
                - faxNumber
                - email
                - website
                - taxRegistrationNumber
                - currencyCode
                - currentFiscalYearStartDate
                - industry
                - picture
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of companyInformation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.companyInformation'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to companyInformation for financials
      operationId: financials.companies_CreateCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.companyInformation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companyInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/companyInformation/{companyInformation-id}':
    get:
      tags:
        - financials.company
      summary: Get companyInformation from financials
      operationId: financials.companies_GetCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: companyInformation-id
          in: path
          description: 'key: companyInformation-id of companyInformation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: companyInformation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - address
                - phoneNumber
                - faxNumber
                - email
                - website
                - taxRegistrationNumber
                - currencyCode
                - currentFiscalYearStartDate
                - industry
                - picture
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companyInformation'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property companyInformation in financials
      operationId: financials.companies_UpdateCompanyInformation
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: companyInformation-id
          in: path
          description: 'key: companyInformation-id of companyInformation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: companyInformation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.companyInformation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/countriesRegions':
    get:
      tags:
        - financials.company
      summary: Get countriesRegions from financials
      operationId: financials.companies_ListCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - code
                - code desc
                - displayName
                - displayName desc
                - addressFormat
                - addressFormat desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - addressFormat
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of countryRegion
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.countryRegion'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to countriesRegions for financials
      operationId: financials.companies_CreateCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.countryRegion'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.countryRegion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/countriesRegions/{countryRegion-id}':
    get:
      tags:
        - financials.company
      summary: Get countriesRegions from financials
      operationId: financials.companies_GetCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: countryRegion-id
          in: path
          description: 'key: countryRegion-id of countryRegion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: countryRegion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - addressFormat
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.countryRegion'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property countriesRegions in financials
      operationId: financials.companies_UpdateCountriesRegions
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: countryRegion-id
          in: path
          description: 'key: countryRegion-id of countryRegion'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: countryRegion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.countryRegion'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/currencies':
    get:
      tags:
        - financials.company
      summary: Get currencies from financials
      operationId: financials.companies_ListCurrencies
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - code
                - code desc
                - displayName
                - displayName desc
                - symbol
                - symbol desc
                - amountDecimalPlaces
                - amountDecimalPlaces desc
                - amountRoundingPrecision
                - amountRoundingPrecision desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - symbol
                - amountDecimalPlaces
                - amountRoundingPrecision
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of currency
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.currency'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to currencies for financials
      operationId: financials.companies_CreateCurrencies
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/currencies/{currency-id}':
    get:
      tags:
        - financials.company
      summary: Get currencies from financials
      operationId: financials.companies_GetCurrencies
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: currency-id
          in: path
          description: 'key: currency-id of currency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: currency
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - symbol
                - amountDecimalPlaces
                - amountRoundingPrecision
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property currencies in financials
      operationId: financials.companies_UpdateCurrencies
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: currency-id
          in: path
          description: 'key: currency-id of currency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: currency
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals':
    get:
      tags:
        - financials.company
      summary: Get customerPaymentJournals from financials
      operationId: financials.companies_ListCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - code
                - code desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - balancingAccountId
                - balancingAccountId desc
                - balancingAccountNumber
                - balancingAccountNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - lastModifiedDateTime
                - balancingAccountId
                - balancingAccountNumber
                - customerPayments
                - account
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customerPayments
                - account
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of customerPaymentJournal
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to customerPaymentJournals for financials
      operationId: financials.companies_CreateCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}':
    get:
      tags:
        - financials.company
      summary: Get customerPaymentJournals from financials
      operationId: financials.companies_GetCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - lastModifiedDateTime
                - balancingAccountId
                - balancingAccountNumber
                - customerPayments
                - account
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customerPayments
                - account
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
          links:
            customerPayments:
              operationId: company.customerPaymentJournals.GetCustomerPayments
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $response.body#/id
            account:
              operationId: company.customerPaymentJournals.GetAccount
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                account-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customerPaymentJournals in financials
      operationId: financials.companies_UpdateCustomerPaymentJournals
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPaymentJournal'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/account':
    get:
      tags:
        - financials.company
      summary: Get account from financials
      operationId: financials.companies.customerPaymentJournals_GetAccount
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - number
                - displayName
                - category
                - subCategory
                - blocked
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.account'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property account in financials
      operationId: financials.companies.customerPaymentJournals_UpdateAccount
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.account'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments':
    get:
      tags:
        - financials.company
      summary: Get customerPayments from financials
      operationId: financials.companies.customerPaymentJournals_ListCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - journalDisplayName
                - journalDisplayName desc
                - lineNumber
                - lineNumber desc
                - customerId
                - customerId desc
                - customerNumber
                - customerNumber desc
                - contactId
                - contactId desc
                - postingDate
                - postingDate desc
                - documentNumber
                - documentNumber desc
                - externalDocumentNumber
                - externalDocumentNumber desc
                - amount
                - amount desc
                - appliesToInvoiceId
                - appliesToInvoiceId desc
                - appliesToInvoiceNumber
                - appliesToInvoiceNumber desc
                - description
                - description desc
                - comment
                - comment desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - journalDisplayName
                - lineNumber
                - customerId
                - customerNumber
                - contactId
                - postingDate
                - documentNumber
                - externalDocumentNumber
                - amount
                - appliesToInvoiceId
                - appliesToInvoiceNumber
                - description
                - comment
                - lastModifiedDateTime
                - customer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of customerPayment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.customerPayment'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - financials.company
      summary: Create new navigation property to customerPayments for financials
      operationId: financials.companies.customerPaymentJournals_CreateCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPayment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPayment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}':
    get:
      tags:
        - financials.company
      summary: Get customerPayments from financials
      operationId: financials.companies.customerPaymentJournals_GetCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - journalDisplayName
                - lineNumber
                - customerId
                - customerNumber
                - contactId
                - postingDate
                - documentNumber
                - externalDocumentNumber
                - amount
                - appliesToInvoiceId
                - appliesToInvoiceNumber
                - description
                - comment
                - lastModifiedDateTime
                - customer
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - customer
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customerPayment'
          links:
            customer:
              operationId: customerPaymentJournal.customerPayments.GetCustomer
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
                customer-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customerPayments in financials
      operationId: financials.companies.customerPaymentJournals_UpdateCustomerPayments
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customerPayment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer':
    get:
      tags:
        - financials.company
      summary: Get customer from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments_GetCustomer
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - number
                - displayName
                - type
                - address
                - phoneNumber
                - email
                - website
                - taxLiable
                - taxAreaId
                - taxAreaDisplayName
                - taxRegistrationNumber
                - currencyId
                - currencyCode
                - paymentTermsId
                - shipmentMethodId
                - paymentMethodId
                - blocked
                - lastModifiedDateTime
                - picture
                - currency
                - paymentTerm
                - shipmentMethod
                - paymentMethod
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - picture
                - currency
                - paymentTerm
                - shipmentMethod
                - paymentMethod
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customer'
          links:
            picture:
              operationId: customerPayment.customer.GetPicture
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
                picture-id: $response.body#/id
            currency:
              operationId: customerPayment.customer.GetCurrency
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
                currency-id: $response.body#/id
            paymentTerm:
              operationId: customerPayment.customer.GetPaymentTerm
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
                paymentTerm-id: $response.body#/id
            shipmentMethod:
              operationId: customerPayment.customer.GetShipmentMethod
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
                shipmentMethod-id: $response.body#/id
            paymentMethod:
              operationId: customerPayment.customer.GetPaymentMethod
              parameters:
                company-id: $request.path.company-id
                customerPaymentJournal-id: $request.path.customerPaymentJournal-id
                customerPayment-id: $request.path.customerPayment-id
                paymentMethod-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property customer in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments_UpdateCustomer
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/currency':
    get:
      tags:
        - financials.company
      summary: Get currency from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetCurrency
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - symbol
                - amountDecimalPlaces
                - amountRoundingPrecision
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.currency'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property currency in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdateCurrency
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.currency'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/paymentMethod':
    get:
      tags:
        - financials.company
      summary: Get paymentMethod from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetPaymentMethod
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.paymentMethod'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property paymentMethod in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdatePaymentMethod
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.paymentMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/paymentTerm':
    get:
      tags:
        - financials.company
      summary: Get paymentTerm from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_GetPaymentTerm
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - code
                - displayName
                - dueDateCalculation
                - discountDateCalculation
                - discountPercent
                - calculateDiscountOnCreditMemos
                - lastModifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.paymentTerm'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - financials.company
      summary: Update the navigation property paymentTerm in financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_UpdatePaymentTerm
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.paymentTerm'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/financials/companies/{company-id}/customerPaymentJournals/{customerPaymentJournal-id}/customerPayments/{customerPayment-id}/customer/picture':
    get:
      tags:
        - financials.company
      summary: Get picture from financials
      operationId: financials.companies.customerPaymentJournals.customerPayments.customer_ListPicture
      parameters:
        - name: company-id
          in: path
          description: 'key: company-id of company'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: company
        - name: customerPaymentJournal-id
          in: path
          description: 'key: customerPaymentJournal-id of customerPaymentJournal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPaymentJournal
        - name: customerPayment-id
          in: path
          description: 'key: customerPayment-id of customerPayment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: customerPayment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - width
[...]
