openapi: 3.0.1
info:
  title: Groups.Planner
  version: v1.0-Beta
servers:
  - url: https://graph.microsoft.com/Beta/
    description: Core
paths:
  '/groups/{group-id}/planner':
    get:
      tags:
        - groups.plannerGroup
      summary: Get planner from groups
      operationId: groups_GetPlanner
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - plans
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - plans
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property planner in groups
      operationId: groups_UpdatePlanner
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plans from groups
      operationId: groups.planner_ListPlans
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - owner
                - owner desc
                - title
                - title desc
                - contexts
                - contexts desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - owner
                - title
                - contexts
                - tasks
                - buckets
                - details
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
                - buckets
                - details
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of plannerPlan
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plans from groups
      operationId: groups.planner_GetPlans
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: 'key: plannerPlan-id of plannerPlan'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - owner
                - title
                - contexts
                - tasks
                - buckets
                - details
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
                - buckets
                - details
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.plannerGroup:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerGroup
          type: object
          properties:
            plans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
      example:
        id: string (identifier)
        plans:
          - '@odata.type': microsoft.graph.plannerPlan
    microsoft.graph.plannerPlan:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerPlan
          type: object
          properties:
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            owner:
              type: string
              nullable: true
            title:
              type: string
            contexts:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanContextCollection'
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
            buckets:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
            details:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
      example:
        id: string (identifier)
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        createdDateTime: string (timestamp)
        owner: string
        title: string
        contexts:
          '@odata.type': microsoft.graph.plannerPlanContextCollection
        tasks:
          - '@odata.type': microsoft.graph.plannerTask
        buckets:
          - '@odata.type': microsoft.graph.plannerBucket
        details:
          '@odata.type': microsoft.graph.plannerPlanDetails
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    microsoft.graph.plannerDelta:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: plannerDelta
          type: object
      example:
        id: string (identifier)
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      example:
        application:
          '@odata.type': microsoft.graph.identity
        device:
          '@odata.type': microsoft.graph.identity
        user:
          '@odata.type': microsoft.graph.identity
    microsoft.graph.plannerPlanContextCollection:
      title: plannerPlanContextCollection
      type: object
    microsoft.graph.plannerTask:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerTask
          type: object
          properties:
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            planId:
              type: string
              nullable: true
            bucketId:
              type: string
              nullable: true
            title:
              type: string
            orderHint:
              type: string
              nullable: true
            assigneePriority:
              type: string
              nullable: true
            percentComplete:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            priority:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            dueDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            hasDescription:
              type: boolean
              nullable: true
            previewType:
              $ref: '#/components/schemas/microsoft.graph.plannerPreviewType'
            completedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            completedBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            referenceCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            checklistItemCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            activeChecklistItemCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            appliedCategories:
              $ref: '#/components/schemas/microsoft.graph.plannerAppliedCategories'
            assignments:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignments'
            conversationThreadId:
              type: string
              nullable: true
            details:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
            assignedToTaskBoardFormat:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
            progressTaskBoardFormat:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
            bucketTaskBoardFormat:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
      example:
        id: string (identifier)
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        planId: string
        bucketId: string
        title: string
        orderHint: string
        assigneePriority: string
        percentComplete: integer
        priority: integer
        startDateTime: string (timestamp)
        createdDateTime: string (timestamp)
        dueDateTime: string (timestamp)
        hasDescription: true
        previewType:
          '@odata.type': microsoft.graph.plannerPreviewType
        completedDateTime: string (timestamp)
        completedBy:
          '@odata.type': microsoft.graph.identitySet
        referenceCount: integer
        checklistItemCount: integer
        activeChecklistItemCount: integer
        appliedCategories:
          '@odata.type': microsoft.graph.plannerAppliedCategories
        assignments:
          '@odata.type': microsoft.graph.plannerAssignments
        conversationThreadId: string
        details:
          '@odata.type': microsoft.graph.plannerTaskDetails
        assignedToTaskBoardFormat:
          '@odata.type': microsoft.graph.plannerAssignedToTaskBoardTaskFormat
        progressTaskBoardFormat:
          '@odata.type': microsoft.graph.plannerProgressTaskBoardTaskFormat
        bucketTaskBoardFormat:
          '@odata.type': microsoft.graph.plannerBucketTaskBoardTaskFormat
    microsoft.graph.plannerBucket:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerBucket
          type: object
          properties:
            name:
              type: string
            planId:
              type: string
              nullable: true
            orderHint:
              type: string
              nullable: true
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
      example:
        id: string (identifier)
        name: string
        planId: string
        orderHint: string
        tasks:
          - '@odata.type': microsoft.graph.plannerTask
    microsoft.graph.plannerPlanDetails:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerPlanDetails
          type: object
          properties:
            sharedWith:
              $ref: '#/components/schemas/microsoft.graph.plannerUserIds'
            categoryDescriptions:
              $ref: '#/components/schemas/microsoft.graph.plannerCategoryDescriptions'
            contextDetails:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanContextDetailsCollection'
      example:
        id: string (identifier)
        sharedWith:
          '@odata.type': microsoft.graph.plannerUserIds
        categoryDescriptions:
          '@odata.type': microsoft.graph.plannerCategoryDescriptions
        contextDetails:
          '@odata.type': microsoft.graph.plannerPlanContextDetailsCollection
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        id:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
      example:
        id: string
        displayName: string
    microsoft.graph.plannerPreviewType:
      title: plannerPreviewType
      enum:
        - automatic
        - noPreview
        - checklist
        - description
        - reference
      type: string
    microsoft.graph.plannerAppliedCategories:
      title: plannerAppliedCategories
      type: object
    microsoft.graph.plannerAssignments:
      title: plannerAssignments
      type: object
    microsoft.graph.plannerTaskDetails:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerTaskDetails
          type: object
          properties:
            description:
              type: string
              nullable: true
            previewType:
              $ref: '#/components/schemas/microsoft.graph.plannerPreviewType'
            references:
              $ref: '#/components/schemas/microsoft.graph.plannerExternalReferences'
            checklist:
              $ref: '#/components/schemas/microsoft.graph.plannerChecklistItems'
      example:
        id: string (identifier)
        description: string
        previewType:
          '@odata.type': microsoft.graph.plannerPreviewType
        references:
          '@odata.type': microsoft.graph.plannerExternalReferences
        checklist:
          '@odata.type': microsoft.graph.plannerChecklistItems
    microsoft.graph.plannerAssignedToTaskBoardTaskFormat:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerAssignedToTaskBoardTaskFormat
          type: object
          properties:
            unassignedOrderHint:
              type: string
              nullable: true
            orderHintsByAssignee:
              $ref: '#/components/schemas/microsoft.graph.plannerOrderHintsByAssignee'
      example:
        id: string (identifier)
        unassignedOrderHint: string
        orderHintsByAssignee:
          '@odata.type': microsoft.graph.plannerOrderHintsByAssignee
    microsoft.graph.plannerProgressTaskBoardTaskFormat:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerProgressTaskBoardTaskFormat
          type: object
          properties:
            orderHint:
              type: string
              nullable: true
      example:
        id: string (identifier)
        orderHint: string
    microsoft.graph.plannerBucketTaskBoardTaskFormat:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.plannerDelta'
        - title: plannerBucketTaskBoardTaskFormat
          type: object
          properties:
            orderHint:
              type: string
              nullable: true
      example:
        id: string (identifier)
        orderHint: string
    microsoft.graph.plannerUserIds:
      title: plannerUserIds
      type: object
    microsoft.graph.plannerCategoryDescriptions:
      title: plannerCategoryDescriptions
      type: object
      properties:
        category1:
          type: string
          nullable: true
        category2:
          type: string
          nullable: true
        category3:
          type: string
          nullable: true
        category4:
          type: string
          nullable: true
        category5:
          type: string
          nullable: true
        category6:
          type: string
          nullable: true
      example:
        category1: string
        category2: string
        category3: string
        category4: string
        category5: string
        category6: string
    microsoft.graph.plannerPlanContextDetailsCollection:
      title: plannerPlanContextDetailsCollection
      type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    microsoft.graph.plannerExternalReferences:
      title: plannerExternalReferences
      type: object
    microsoft.graph.plannerChecklistItems:
      title: plannerChecklistItems
      type: object
    microsoft.graph.plannerOrderHintsByAssignee:
      title: plannerOrderHintsByAssignee
      type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]