openapi: 3.0.1
info:
  title: Groups.Calendar
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/groups/{group-id}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      operationId: groups_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - color
                - hexColor
                - isDefaultCalendar
                - changeKey
                - canShare
                - canViewPrivateItems
                - isShared
                - isSharedWithMe
                - canEdit
                - owner
                - calendarGroupId
                - allowedOnlineMeetingProviders
                - defaultOnlineMeetingProvider
                - isTallyingResponses
                - isRemovable
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendarPermissions
                - events
                - calendarView
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendarPermissions
                - events
                - calendarView
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property calendar in groups
      operationId: groups_UpdateCalendar
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendar'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property calendar for groups
      operationId: groups_DeleteCalendar
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarPermissions':
    get:
      tags:
        - groups.calendar
      summary: Get calendarPermissions from groups
      operationId: groups.calendar_ListCalendarPermissions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - emailAddress
                - emailAddress desc
                - isRemovable
                - isRemovable desc
                - isInsideOrganization
                - isInsideOrganization desc
                - role
                - role desc
                - allowedRoles
                - allowedRoles desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - emailAddress
                - isRemovable
                - isInsideOrganization
                - role
                - allowedRoles
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of calendarPermission
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.calendarPermission'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to calendarPermissions for groups
      operationId: groups.calendar_CreateCalendarPermissions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarPermissions/{calendarPermission-id}':
    get:
      tags:
        - groups.calendar
      summary: Get calendarPermissions from groups
      operationId: groups.calendar_GetCalendarPermissions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: calendarPermission-id
          in: path
          description: 'key: id of calendarPermission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - emailAddress
                - isRemovable
                - isInsideOrganization
                - role
                - allowedRoles
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property calendarPermissions in groups
      operationId: groups.calendar_UpdateCalendarPermissions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: calendarPermission-id
          in: path
          description: 'key: id of calendarPermission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property calendarPermissions for groups
      operationId: groups.calendar_DeleteCalendarPermissions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: calendarPermission-id
          in: path
          description: 'key: id of calendarPermission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView':
    get:
      tags:
        - groups.calendar
      summary: Get calendarView from groups
      operationId: groups.calendar_ListCalendarView
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - transactionId
                - transactionId desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - responseStatus
                - responseStatus desc
                - uid
                - uid desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - isReminderOn
                - isReminderOn desc
                - hasAttachments
                - hasAttachments desc
                - subject
                - subject desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - importance
                - importance desc
                - sensitivity
                - sensitivity desc
                - start
                - start desc
                - originalStart
                - originalStart desc
                - end
                - end desc
                - location
                - location desc
                - locations
                - locations desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isOrganizer
                - isOrganizer desc
                - recurrence
                - recurrence desc
                - responseRequested
                - responseRequested desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - type
                - type desc
                - attendees
                - attendees desc
                - organizer
                - organizer desc
                - webLink
                - webLink desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeeting
                - onlineMeeting desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
                - isDraft
                - isDraft desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - transactionId
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - isDraft
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to calendarView for groups
      operationId: groups.calendar_CreateCalendarView
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}':
    get:
      tags:
        - groups.calendar
      summary: Get calendarView from groups
      operationId: groups.calendar_GetCalendarView
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - transactionId
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - isDraft
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property calendarView in groups
      operationId: groups.calendar_UpdateCalendarView
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property calendarView for groups
      operationId: groups.calendar_DeleteCalendarView
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/attachments':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      operationId: groups.calendar.calendarView_ListAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - contentType
                - contentType desc
                - size
                - size desc
                - isInline
                - isInline desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of attachment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attachment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to attachments for groups
      operationId: groups.calendar.calendarView_CreateAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/attachments/{attachment-id}':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      operationId: groups.calendar.calendarView_GetAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property attachments in groups
      operationId: groups.calendar.calendarView_UpdateAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property attachments for groups
      operationId: groups.calendar.calendarView_DeleteAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      operationId: groups.calendar.calendarView_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - color
                - hexColor
                - isDefaultCalendar
                - changeKey
                - canShare
                - canViewPrivateItems
                - isShared
                - isSharedWithMe
                - canEdit
                - owner
                - calendarGroupId
                - allowedOnlineMeetingProviders
                - defaultOnlineMeetingProvider
                - isTallyingResponses
                - isRemovable
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendarPermissions
                - events
                - calendarView
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendarPermissions
                - events
                - calendarView
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property calendar in groups
      operationId: groups.calendar.calendarView_UpdateCalendar
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendar'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property calendar for groups
      operationId: groups.calendar.calendarView_DeleteCalendar
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/extensions':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      operationId: groups.calendar.calendarView_ListExtensions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to extensions for groups
      operationId: groups.calendar.calendarView_CreateExtensions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/extensions/{extension-id}':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      operationId: groups.calendar.calendarView_GetExtensions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property extensions in groups
      operationId: groups.calendar.calendarView_UpdateExtensions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property extensions for groups
      operationId: groups.calendar.calendarView_DeleteExtensions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances':
    get:
      tags:
        - groups.calendar
      summary: Get instances from groups
      operationId: groups.calendar.calendarView_ListInstances
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - transactionId
                - transactionId desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - responseStatus
                - responseStatus desc
                - uid
                - uid desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - isReminderOn
                - isReminderOn desc
                - hasAttachments
                - hasAttachments desc
                - subject
                - subject desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - importance
                - importance desc
                - sensitivity
                - sensitivity desc
                - start
                - start desc
                - originalStart
                - originalStart desc
                - end
                - end desc
                - location
                - location desc
                - locations
                - locations desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isOrganizer
                - isOrganizer desc
                - recurrence
                - recurrence desc
                - responseRequested
                - responseRequested desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - type
                - type desc
                - attendees
                - attendees desc
                - organizer
                - organizer desc
                - webLink
                - webLink desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeeting
                - onlineMeeting desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
                - isDraft
                - isDraft desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - transactionId
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - isDraft
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to instances for groups
      operationId: groups.calendar.calendarView_CreateInstances
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}':
    get:
      tags:
        - groups.calendar
      summary: Get instances from groups
      operationId: groups.calendar.calendarView_GetInstances
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - transactionId
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - isDraft
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property instances in groups
      operationId: groups.calendar.calendarView_UpdateInstances
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property instances for groups
      operationId: groups.calendar.calendarView_DeleteInstances
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/multiValueExtendedProperties':
    get:
      tags:
        - groups.calendar
      summary: Get multiValueExtendedProperties from groups
      operationId: groups.calendar.calendarView_ListMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to multiValueExtendedProperties for groups
      operationId: groups.calendar.calendarView_CreateMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - groups.calendar
      summary: Get multiValueExtendedProperties from groups
      operationId: groups.calendar.calendarView_GetMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property multiValueExtendedProperties in groups
      operationId: groups.calendar.calendarView_UpdateMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property multiValueExtendedProperties for groups
      operationId: groups.calendar.calendarView_DeleteMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/singleValueExtendedProperties':
    get:
      tags:
        - groups.calendar
      summary: Get singleValueExtendedProperties from groups
      operationId: groups.calendar.calendarView_ListSingleValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to singleValueExtendedProperties for groups
      operationId: groups.calendar.calendarView_CreateSingleValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - groups.calendar
      summary: Get singleValueExtendedProperties from groups
      operationId: groups.calendar.calendarView_GetSingleValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property singleValueExtendedProperties in groups
      operationId: groups.calendar.calendarView_UpdateSingleValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property singleValueExtendedProperties for groups
      operationId: groups.calendar.calendarView_DeleteSingleValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events':
    get:
      tags:
        - groups.calendar
      summary: Get events from groups
      operationId: groups.calendar_ListEvents
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - transactionId
                - transactionId desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - responseStatus
                - responseStatus desc
                - uid
                - uid desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - isReminderOn
                - isReminderOn desc
                - hasAttachments
                - hasAttachments desc
                - subject
                - subject desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - importance
                - importance desc
                - sensitivity
                - sensitivity desc
                - start
                - start desc
                - originalStart
                - originalStart desc
                - end
                - end desc
                - location
                - location desc
                - locations
                - locations desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isOrganizer
                - isOrganizer desc
                - recurrence
                - recurrence desc
                - responseRequested
                - responseRequested desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - type
                - type desc
                - attendees
                - attendees desc
                - organizer
                - organizer desc
                - webLink
                - webLink desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeeting
                - onlineMeeting desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
                - isDraft
                - isDraft desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - transactionId
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - isDraft
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to events for groups
      operationId: groups.calendar_CreateEvents
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}':
    get:
      tags:
        - groups.calendar
      summary: Get events from groups
      operationId: groups.calendar_GetEvents
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - transactionId
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - isDraft
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property events in groups
      operationId: groups.calendar_UpdateEvents
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property events for groups
      operationId: groups.calendar_DeleteEvents
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/attachments':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      operationId: groups.calendar.events_ListAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - contentType
                - contentType desc
                - size
                - size desc
                - isInline
                - isInline desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of attachment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attachment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to attachments for groups
      operationId: groups.calendar.events_CreateAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/attachments/{attachment-id}':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      operationId: groups.calendar.events_GetAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property attachments in groups
      operationId: groups.calendar.events_UpdateAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property attachments for groups
      operationId: groups.calendar.events_DeleteAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      operationId: groups.calendar.events_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - color
                - hexColor
                - isDefaultCalendar
                - changeKey
                - canShare
                - canViewPrivateItems
                - isShared
                - isSharedWithMe
                - canEdit
                - owner
                - calendarGroupId
                - allowedOnlineMeetingProviders
                - defaultOnlineMeetingProvider
                - isTallyingResponses
                - isRemovable
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendarPermissions
                - events
                - calendarView
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendarPermissions
                - events
                - calendarView
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property calendar in groups
      operationId: groups.calendar.events_UpdateCalendar
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendar'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property calendar for groups
      operationId: groups.calendar.events_DeleteCalendar
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
[...]
