openapi: 3.0.1
info:
  title: Groups.ConversationThread
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/groups/{group-id}/threads':
    get:
      tags:
        - groups.conversationThread
      summary: Get threads from groups
      operationId: groups_ListThreads
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - toRecipients
                - toRecipients desc
                - topic
                - topic desc
                - hasAttachments
                - hasAttachments desc
                - lastDeliveredDateTime
                - lastDeliveredDateTime desc
                - uniqueSenders
                - uniqueSenders desc
                - ccRecipients
                - ccRecipients desc
                - preview
                - preview desc
                - isLocked
                - isLocked desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - toRecipients
                - topic
                - hasAttachments
                - lastDeliveredDateTime
                - uniqueSenders
                - ccRecipients
                - preview
                - isLocked
                - posts
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - posts
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of conversationThread
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.conversationThread'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.conversationThread
      summary: Create new navigation property to threads for groups
      operationId: groups_CreateThreads
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversationThread'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationThread'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}':
    get:
      tags:
        - groups.conversationThread
      summary: Get threads from groups
      operationId: groups_GetThreads
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - toRecipients
                - topic
                - hasAttachments
                - lastDeliveredDateTime
                - uniqueSenders
                - ccRecipients
                - preview
                - isLocked
                - posts
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - posts
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationThread'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.conversationThread
      summary: Update the navigation property threads in groups
      operationId: groups_UpdateThreads
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversationThread'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.conversationThread
      summary: Delete navigation property threads for groups
      operationId: groups_DeleteThreads
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts':
    get:
      tags:
        - groups.conversationThread
      summary: Get posts from groups
      operationId: groups.threads_ListPosts
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - body
                - body desc
                - receivedDateTime
                - receivedDateTime desc
                - hasAttachments
                - hasAttachments desc
                - from
                - from desc
                - sender
                - sender desc
                - conversationThreadId
                - conversationThreadId desc
                - newParticipants
                - newParticipants desc
                - conversationId
                - conversationId desc
                - importance
                - importance desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - body
                - receivedDateTime
                - hasAttachments
                - from
                - sender
                - conversationThreadId
                - newParticipants
                - conversationId
                - importance
                - inReplyTo
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - extensions
                - attachments
                - mentions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - inReplyTo
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - extensions
                - attachments
                - mentions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of post
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.post'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.conversationThread
      summary: Create new navigation property to posts for groups
      operationId: groups.threads_CreatePosts
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.post'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.post'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}':
    get:
      tags:
        - groups.conversationThread
      summary: Get posts from groups
      operationId: groups.threads_GetPosts
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - body
                - receivedDateTime
                - hasAttachments
                - from
                - sender
                - conversationThreadId
                - newParticipants
                - conversationId
                - importance
                - inReplyTo
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - extensions
                - attachments
                - mentions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - inReplyTo
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - extensions
                - attachments
                - mentions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.post'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.conversationThread
      summary: Update the navigation property posts in groups
      operationId: groups.threads_UpdatePosts
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.post'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.conversationThread
      summary: Delete navigation property posts for groups
      operationId: groups.threads_DeletePosts
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/attachments':
    get:
      tags:
        - groups.conversationThread
      summary: Get attachments from groups
      operationId: groups.threads.posts_ListAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - contentType
                - contentType desc
                - size
                - size desc
                - isInline
                - isInline desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of attachment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attachment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.conversationThread
      summary: Create new navigation property to attachments for groups
      operationId: groups.threads.posts_CreateAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/attachments/{attachment-id}':
    get:
      tags:
        - groups.conversationThread
      summary: Get attachments from groups
      operationId: groups.threads.posts_GetAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.conversationThread
      summary: Update the navigation property attachments in groups
      operationId: groups.threads.posts_UpdateAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.conversationThread
      summary: Delete navigation property attachments for groups
      operationId: groups.threads.posts_DeleteAttachments
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/extensions':
    get:
      tags:
        - groups.conversationThread
      summary: Get extensions from groups
      operationId: groups.threads.posts_ListExtensions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.conversationThread
      summary: Create new navigation property to extensions for groups
      operationId: groups.threads.posts_CreateExtensions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/extensions/{extension-id}':
    get:
      tags:
        - groups.conversationThread
      summary: Get extensions from groups
      operationId: groups.threads.posts_GetExtensions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.conversationThread
      summary: Update the navigation property extensions in groups
      operationId: groups.threads.posts_UpdateExtensions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.conversationThread
      summary: Delete navigation property extensions for groups
      operationId: groups.threads.posts_DeleteExtensions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo':
    get:
      tags:
        - groups.conversationThread
      summary: Get inReplyTo from groups
      operationId: groups.threads.posts_GetInReplyTo
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - body
                - receivedDateTime
                - hasAttachments
                - from
                - sender
                - conversationThreadId
                - newParticipants
                - conversationId
                - importance
                - inReplyTo
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - extensions
                - attachments
                - mentions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - inReplyTo
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - extensions
                - attachments
                - mentions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.post'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.conversationThread
      summary: Update the navigation property inReplyTo in groups
      operationId: groups.threads.posts_UpdateInReplyTo
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.post'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.conversationThread
      summary: Delete navigation property inReplyTo for groups
      operationId: groups.threads.posts_DeleteInReplyTo
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/mentions':
    get:
      tags:
        - groups.conversationThread
      summary: Get mentions from groups
      operationId: groups.threads.posts_ListMentions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - mentioned
                - mentioned desc
                - mentionText
                - mentionText desc
                - clientReference
                - clientReference desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - serverCreatedDateTime
                - serverCreatedDateTime desc
                - deepLink
                - deepLink desc
                - application
                - application desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mentioned
                - mentionText
                - clientReference
                - createdBy
                - createdDateTime
                - serverCreatedDateTime
                - deepLink
                - application
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of mention
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.mention'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.conversationThread
      summary: Create new navigation property to mentions for groups
      operationId: groups.threads.posts_CreateMentions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mention'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mention'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/mentions/{mention-id}':
    get:
      tags:
        - groups.conversationThread
      summary: Get mentions from groups
      operationId: groups.threads.posts_GetMentions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: mention-id
          in: path
          description: 'key: id of mention'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mention
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - mentioned
                - mentionText
                - clientReference
                - createdBy
                - createdDateTime
                - serverCreatedDateTime
                - deepLink
                - application
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mention'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.conversationThread
      summary: Update the navigation property mentions in groups
      operationId: groups.threads.posts_UpdateMentions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: mention-id
          in: path
          description: 'key: id of mention'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mention
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mention'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.conversationThread
      summary: Delete navigation property mentions for groups
      operationId: groups.threads.posts_DeleteMentions
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: mention-id
          in: path
          description: 'key: id of mention'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mention
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/multiValueExtendedProperties':
    get:
      tags:
        - groups.conversationThread
      summary: Get multiValueExtendedProperties from groups
      operationId: groups.threads.posts_ListMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.conversationThread
      summary: Create new navigation property to multiValueExtendedProperties for groups
      operationId: groups.threads.posts_CreateMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - groups.conversationThread
      summary: Get multiValueExtendedProperties from groups
      operationId: groups.threads.posts_GetMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.conversationThread
      summary: Update the navigation property multiValueExtendedProperties in groups
      operationId: groups.threads.posts_UpdateMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.conversationThread
      summary: Delete navigation property multiValueExtendedProperties for groups
      operationId: groups.threads.posts_DeleteMultiValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/singleValueExtendedProperties':
    get:
      tags:
        - groups.conversationThread
      summary: Get singleValueExtendedProperties from groups
      operationId: groups.threads.posts_ListSingleValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.conversationThread
      summary: Create new navigation property to singleValueExtendedProperties for groups
      operationId: groups.threads.posts_CreateSingleValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/threads/{conversationThread-id}/posts/{post-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - groups.conversationThread
      summary: Get singleValueExtendedProperties from groups
      operationId: groups.threads.posts_GetSingleValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.conversationThread
      summary: Update the navigation property singleValueExtendedProperties in groups
      operationId: groups.threads.posts_UpdateSingleValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.conversationThread
      summary: Delete navigation property singleValueExtendedProperties for groups
      operationId: groups.threads.posts_DeleteSingleValueExtendedProperties
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: conversationThread-id
          in: path
          description: 'key: id of conversationThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationThread
        - name: post-id
          in: path
          description: 'key: id of post'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: post
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.conversationThread:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: conversationThread
          type: object
          properties:
            toRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The To: recipients for the thread.'
            topic:
              type: string
              description: 'The topic of the conversation. This property can be set when the conversation is created, but it cannot be updated.'
            hasAttachments:
              type: boolean
              description: Indicates whether any of the posts within this thread has at least one attachment.
            lastDeliveredDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
            uniqueSenders:
              type: array
              items:
                type: string
              description: All the users that sent a message to this thread.
            ccRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The Cc: recipients for the thread.'
            preview:
              type: string
              description: A short summary from the body of the latest post in this conversation.
            isLocked:
              type: boolean
              description: Indicates if the thread is locked.
            posts:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.post'
              description: Read-only. Nullable.
          additionalProperties:
            type: object
    microsoft.graph.post:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.outlookItem'
        - title: post
          type: object
          properties:
            body:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            receivedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Specifies when the post was received. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
            hasAttachments:
              type: boolean
              description: Indicates whether the post has at least one attachment. This is a default property.
            from:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            sender:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            conversationThreadId:
              type: string
              description: Unique ID of the conversation thread. Read-only.
              nullable: true
            newParticipants:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: Conversation participants that were added to the thread as part of this post.
            conversationId:
              type: string
              description: Unique ID of the conversation. Read-only.
              nullable: true
            importance:
              $ref: '#/components/schemas/microsoft.graph.importance'
            inReplyTo:
              $ref: '#/components/schemas/microsoft.graph.post'
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
              description: The collection of single-value extended properties defined for the post. Read-only. Nullable.
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
              description: The collection of multi-value extended properties defined for the post. Read-only. Nullable.
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the post. Read-only. Nullable.
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.attachment'
              description: Read-only. Nullable.
            mentions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mention'
          additionalProperties:
            type: object
    microsoft.graph.attachment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: attachment
          type: object
          properties:
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            name:
              type: string
              description: The attachment's file name.
              nullable: true
            contentType:
              type: string
              description: The MIME type.
              nullable: true
            size:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The length of the attachment in bytes.
              format: int32
            isInline:
              type: boolean
              description: 'true if the attachment is an inline attachment; otherwise, false.'
          additionalProperties:
            type: object
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
          additionalProperties:
            type: object
    microsoft.graph.mention:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: mention
          type: object
          properties:
            mentioned:
              $ref: '#/components/schemas/microsoft.graph.emailAddress'
            mentionText:
              type: string
              nullable: true
            clientReference:
              type: string
              nullable: true
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.emailAddress'
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            serverCreatedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            deepLink:
              type: string
              nullable: true
            application:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.multiValueLegacyExtendedProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: multiValueLegacyExtendedProperty
          type: object
          properties:
            value:
              type: array
              items:
                type: string
                nullable: true
              description: A collection of property values.
          additionalProperties:
            type: object
    microsoft.graph.singleValueLegacyExtendedProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: singleValueLegacyExtendedProperty
          type: object
          properties:
            value:
              type: string
              description: A property value.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.recipient:
      title: recipient
      type: object
      properties:
        emailAddress:
          $ref: '#/components/schemas/microsoft.graph.emailAddress'
      additionalProperties:
        type: object
    microsoft.graph.outlookItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: outlookItem
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            changeKey:
              type: string
              description: 'Identifies the version of the item. Every time the item is changed, changeKey changes as well. This allows Exchange to apply changes to the correct version of the object. Read-only.'
              nullable: true
            categories:
              type: array
              items:
                type: string
                nullable: true
              description: The categories associated with the item
          additionalProperties:
            type: object
    microsoft.graph.itemBody:
      title: itemBody
      type: object
      properties:
        contentType:
          $ref: '#/components/schemas/microsoft.graph.bodyType'
        content:
          type: string
          description: The content of the item.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.importance:
      title: importance
      enum:
        - low
        - normal
        - high
      type: string
    microsoft.graph.emailAddress:
      title: emailAddress
      type: object
      properties:
        name:
          type: string
          description: The display name of the person or entity.
          nullable: true
        address:
          type: string
          description: The email address of the person or entity.
          nullable: true
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.bodyType:
      title: bodyType
      enum:
        - text
        - html
      type: string
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]