openapi: 3.0.1
info:
  title: Groups
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /groupLifecyclePolicies:
    get:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: List groupLifecyclePolicies
      description: List all the groupLifecyclePolicies. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/grouplifecyclepolicy-list?view=graph-rest-1.0
      operationId: groupLifecyclePolicy_ListGroupLifecyclePolicy
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - alternateNotificationEmails
                - alternateNotificationEmails desc
                - groupLifetimeInDays
                - groupLifetimeInDays desc
                - managedGroupTypes
                - managedGroupTypes desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateNotificationEmails
                - groupLifetimeInDays
                - managedGroupTypes
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.groupLifecyclePolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Create groupLifecyclePolicy
      description: Creates a new groupLifecyclePolicy. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/grouplifecyclepolicy-post-grouplifecyclepolicies?view=graph-rest-1.0
      operationId: groupLifecyclePolicy_CreateGroupLifecyclePolicy
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groupLifecyclePolicies/{groupLifecyclePolicy-id}':
    get:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Get groupLifecyclePolicy
      description: Retrieve the properties and relationships of a groupLifecyclePolicies object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/grouplifecyclepolicy-get?view=graph-rest-1.0
      operationId: groupLifecyclePolicy_GetGroupLifecyclePolicy
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: The unique identifier of groupLifecyclePolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateNotificationEmails
                - groupLifetimeInDays
                - managedGroupTypes
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Update groupLifecyclePolicy
      description: Update the properties of a groupLifecyclePolicygroupLifecyclePolicy resource type object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/grouplifecyclepolicy-update?view=graph-rest-1.0
      operationId: groupLifecyclePolicy_UpdateGroupLifecyclePolicy
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: The unique identifier of groupLifecyclePolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Delete groupLifecyclePolicy
      description: Delete a groupLifecyclePolicy. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/grouplifecyclepolicy-delete?view=graph-rest-1.0
      operationId: groupLifecyclePolicy_DeleteGroupLifecyclePolicy
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: The unique identifier of groupLifecyclePolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groupLifecyclePolicies/{groupLifecyclePolicy-id}/microsoft.graph.addGroup':
    post:
      tags:
        - groupLifecyclePolicies.Actions
      summary: Invoke action addGroup
      operationId: groupLifecyclePolicy_addGroup
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: The unique identifier of groupLifecyclePolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groupLifecyclePolicies/{groupLifecyclePolicy-id}/microsoft.graph.removeGroup':
    post:
      tags:
        - groupLifecyclePolicies.Actions
      summary: Invoke action removeGroup
      operationId: groupLifecyclePolicy_removeGroup
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: The unique identifier of groupLifecyclePolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groupLifecyclePolicies/$count:
    get:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Get the number of the resource
      operationId: groupLifecyclePolicy_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /groupLifecyclePolicies/microsoft.graph.renewGroup:
    post:
      tags:
        - groupLifecyclePolicies.Actions
      summary: Invoke action renewGroup
      description: 'Renew a group''s expiration. When a group is renewed, the group expiration is extended by the number of days defined in the policy. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/grouplifecyclepolicy-renewgroup?view=graph-rest-1.0
      operationId: groupLifecyclePolicy_renewGroup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groups:
    get:
      tags:
        - groups.group
      summary: List groups
      description: 'List all the groups available in an organization, excluding dynamic distribution groups. To retrieve dynamic distribution groups, use the Exchange admin center. This operation returns by default only a subset of the more commonly used properties for each group. These default properties are noted in the Properties section. To get properties that are not returned by default, do a GET operation for the group and specify the properties in a $select OData query option. The hasMembersWithLicenseErrors and isArchived properties are an exception and are not returned in the $select query. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-list?view=graph-rest-1.0
      operationId: group_ListGroup
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - assignedLabels
                - assignedLabels desc
                - assignedLicenses
                - assignedLicenses desc
                - classification
                - classification desc
                - createdByAppId
                - createdByAppId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - expirationDateTime
                - expirationDateTime desc
                - groupTypes
                - groupTypes desc
                - hasMembersWithLicenseErrors
                - hasMembersWithLicenseErrors desc
                - infoCatalogs
                - infoCatalogs desc
                - isAssignableToRole
                - isAssignableToRole desc
                - isManagementRestricted
                - isManagementRestricted desc
                - licenseProcessingState
                - licenseProcessingState desc
                - mail
                - mail desc
                - mailEnabled
                - mailEnabled desc
                - mailNickname
                - mailNickname desc
                - membershipRule
                - membershipRule desc
                - membershipRuleProcessingState
                - membershipRuleProcessingState desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesNetBiosName
                - onPremisesNetBiosName desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - organizationId
                - organizationId desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - proxyAddresses
                - proxyAddresses desc
                - renewedDateTime
                - renewedDateTime desc
                - resourceBehaviorOptions
                - resourceBehaviorOptions desc
                - resourceProvisioningOptions
                - resourceProvisioningOptions desc
                - securityEnabled
                - securityEnabled desc
                - securityIdentifier
                - securityIdentifier desc
                - serviceProvisioningErrors
                - serviceProvisioningErrors desc
                - theme
                - theme desc
                - uniqueName
                - uniqueName desc
                - visibility
                - visibility desc
                - writebackConfiguration
                - writebackConfiguration desc
                - accessType
                - accessType desc
                - allowExternalSenders
                - allowExternalSenders desc
                - autoSubscribeNewMembers
                - autoSubscribeNewMembers desc
                - hideFromAddressLists
                - hideFromAddressLists desc
                - hideFromOutlookClients
                - hideFromOutlookClients desc
                - isFavorite
                - isFavorite desc
                - isSubscribedByMail
                - isSubscribedByMail desc
                - unseenConversationsCount
                - unseenConversationsCount desc
                - unseenCount
                - unseenCount desc
                - unseenMessagesCount
                - unseenMessagesCount desc
                - membershipRuleProcessingStatus
                - membershipRuleProcessingStatus desc
                - isArchived
                - isArchived desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedLabels
                - assignedLicenses
                - classification
                - createdByAppId
                - createdDateTime
                - description
                - displayName
                - expirationDateTime
                - groupTypes
                - hasMembersWithLicenseErrors
                - infoCatalogs
                - isAssignableToRole
                - isManagementRestricted
                - licenseProcessingState
                - mail
                - mailEnabled
                - mailNickname
                - membershipRule
                - membershipRuleProcessingState
                - onPremisesDomainName
                - onPremisesLastSyncDateTime
                - onPremisesNetBiosName
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - organizationId
                - preferredDataLocation
                - preferredLanguage
                - proxyAddresses
                - renewedDateTime
                - resourceBehaviorOptions
                - resourceProvisioningOptions
                - securityEnabled
                - securityIdentifier
                - serviceProvisioningErrors
                - theme
                - uniqueName
                - visibility
                - writebackConfiguration
                - accessType
                - allowExternalSenders
                - autoSubscribeNewMembers
                - hideFromAddressLists
                - hideFromOutlookClients
                - isFavorite
                - isSubscribedByMail
                - unseenConversationsCount
                - unseenCount
                - unseenMessagesCount
                - membershipRuleProcessingStatus
                - isArchived
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.groupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.group
      summary: Create group
      description: 'Create a new group as specified in the request body. You can create one of the following groups: This operation returns by default only a subset of the properties for each group. These default properties are noted in the Properties section. To get properties that are not returned by default, do a GET operation and specify the properties in a $select OData query option. Note: To create a team, first create a group then add a team to it, see create team. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-post-groups?view=graph-rest-1.0
      operationId: group_CreateGroup
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.group'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}':
    get:
      tags:
        - groups.group
      summary: Get group
      description: 'Get the properties and relationships of a group object. This operation returns by default only a subset of all the available properties, as noted in the Properties section. To get properties that aren''t_ returned by default, specify them in a $select OData query option. The hasMembersWithLicenseErrors and isArchived properties are an exception and aren''t returned in the $select query. Because the group resource supports extensions, you can also use the GET operation to get custom properties and extension data in a group instance. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-get?view=graph-rest-1.0
      operationId: group_GetGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedLabels
                - assignedLicenses
                - classification
                - createdByAppId
                - createdDateTime
                - description
                - displayName
                - expirationDateTime
                - groupTypes
                - hasMembersWithLicenseErrors
                - infoCatalogs
                - isAssignableToRole
                - isManagementRestricted
                - licenseProcessingState
                - mail
                - mailEnabled
                - mailNickname
                - membershipRule
                - membershipRuleProcessingState
                - onPremisesDomainName
                - onPremisesLastSyncDateTime
                - onPremisesNetBiosName
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - organizationId
                - preferredDataLocation
                - preferredLanguage
                - proxyAddresses
                - renewedDateTime
                - resourceBehaviorOptions
                - resourceProvisioningOptions
                - securityEnabled
                - securityIdentifier
                - serviceProvisioningErrors
                - theme
                - uniqueName
                - visibility
                - writebackConfiguration
                - accessType
                - allowExternalSenders
                - autoSubscribeNewMembers
                - hideFromAddressLists
                - hideFromOutlookClients
                - isFavorite
                - isSubscribedByMail
                - unseenConversationsCount
                - unseenCount
                - unseenMessagesCount
                - membershipRuleProcessingStatus
                - isArchived
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.group
      summary: Update group
      description: Update the properties of a group object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-update?view=graph-rest-1.0
      operationId: group_UpdateGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.group'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.group
      summary: Delete group
      description: 'Deletes a group. When deleted, Microsoft 365 groups are moved to a temporary container and can be restored within 30 days. After that time, they are permanently deleted. This isn''t applicable to Security groups and Distribution groups that are permanently deleted immediately. To learn more, see deletedItems. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-delete?view=graph-rest-1.0
      operationId: group_DeleteGroup
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/acceptedSenders':
    get:
      tags:
        - groups.directoryObject
      summary: List acceptedSenders
      description: 'Get a list of users or groups that are in the accepted-senders list for this group. Users in the accepted senders list can post to conversations of the group (identified in the GET request URL). Make sure you do not specify the same user or group in the accepted senders and rejected senders lists, otherwise you will get an error. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-list-acceptedsenders?view=graph-rest-1.0
      operationId: group_ListAcceptedSender
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/acceptedSenders/{directoryObject-id}/$ref':
    delete:
      tags:
        - groups.directoryObject
      summary: Remove acceptedSender
      description: Remove a user or group from the accepted-senders list of the specified group.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-delete-acceptedsenders?view=graph-rest-1.0
      operationId: group_DeleteAcceptedSenderGraphBPreRef
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: directoryObject-id
          in: path
          description: The unique identifier of directoryObject
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          style: form
          explode: false
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/acceptedSenders/$count':
    get:
      tags:
        - groups.directoryObject
      summary: Get the number of the resource
      operationId: group.acceptedSender_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/acceptedSenders/$ref':
    get:
      tags:
        - groups.directoryObject
      summary: List acceptedSenders
      description: 'Get a list of users or groups that are in the accepted-senders list for this group. Users in the accepted senders list can post to conversations of the group (identified in the GET request URL). Make sure you do not specify the same user or group in the accepted senders and rejected senders lists, otherwise you will get an error. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-list-acceptedsenders?view=graph-rest-1.0
      operationId: group_ListAcceptedSenderGraphBPreRef
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.directoryObject
      summary: Create acceptedSender
      description: 'Add a new user or group to the acceptedSender list. Specify the user or group in @odata.id in the request body. Users in the accepted senders list can post to conversations of the group. Make sure you don''t specify the same user or group in the accepted senders and rejected senders lists, otherwise you''ll get an error. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-post-acceptedsenders?view=graph-rest-1.0
      operationId: group_CreateAcceptedSenderGraphBPreRef
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - groups.Actions
      summary: Invoke action createUploadSession
      description: 'Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to an Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that''s smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using an upload session: See attach large files to Outlook messages or events for an example. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-1.0
      operationId: group.calendar.calendarView.attachment_createUploadSession
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - groups.Actions
      summary: Invoke action createUploadSession
      description: 'Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to an Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that''s smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using an upload session: See attach large files to Outlook messages or events for an example. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.attachment_createUploadSession
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - groups.Actions
      summary: Invoke action createUploadSession
      description: 'Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to an Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that''s smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using an upload session: See attach large files to Outlook messages or events for an example. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance.attachment_createUploadSession
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/microsoft.graph.accept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action accept
      description: Accept the specified event in a user calendar. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-accept?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_accept
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/microsoft.graph.cancel':
    post:
      tags:
        - groups.Actions
      summary: Invoke action cancel
      description: "This action allows the organizer of a meeting to send a cancellation message and cancel the event.  The action moves the event to the Deleted Items folder. The organizer can also cancel an occurrence of a recurring meeting \nby providing the occurrence event ID. An attendee calling this action gets an error (HTTP 400 Bad Request), with the following\nerror message: 'Your request can't be completed. You need to be an organizer to cancel a meeting.' This action differs from Delete in that Cancel is available to only the organizer, and lets\nthe organizer send a custom message to the attendees about the cancellation. This API is available in the following national cloud deployments."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-cancel?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_cancel
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/microsoft.graph.decline':
    post:
      tags:
        - groups.Actions
      summary: Invoke action decline
      description: 'Decline invitation to the specified event in a user calendar. If the event allows proposals for new times, on declining the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new meeting times. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-decline?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_decline
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/microsoft.graph.dismissReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action dismissReminder
      description: Dismiss a reminder that has been triggered for an event in a user calendar. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-dismissreminder?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_dismissReminder
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/microsoft.graph.forward':
    post:
      tags:
        - groups.Actions
      summary: Invoke action forward
      description: "This action allows the organizer or attendee of a meeting event to forward the \nmeeting request to a new recipient.  If the meeting event is forwarded from an attendee's Microsoft 365 mailbox to another recipient, this action \nalso sends a message to notify the organizer of the forwarding, and adds the recipient to the organizer's \ncopy of the meeting event. This convenience is not available when forwarding from an Outlook.com account. This API is available in the following national cloud deployments."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-forward?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_forward
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action snoozeReminder
      description: Postpone a reminder for an event in a user calendar until a new time. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-snoozereminder?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_snoozeReminder
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/{event-id2}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action tentativelyAccept
      description: 'Tentatively accept the specified event in a user calendar. If the event allows proposals for new times, on responding tentative to the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new meeting times. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-tentativelyaccept?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_tentativelyAccept
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id2
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/microsoft.graph.delta()':
    get:
      tags:
        - groups.Functions
      summary: Invoke function delta
      description: 'Get a set of event resources that have been added, deleted, or updated in one or more calendars.  You can get specific types of these incremental changes in the events in all the calendars of a mailbox or in a specific calendar, or in an event collection of a calendarView (range of events defined by start and end dates) of a calendar. The calendar can be the default calendar or some other specified calendar of the user''s. In the case of getting incremental changes on calendarView, the calendar can be a group calendar as well. Typically, synchronizing events in a calendar or calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This allows you to maintain and synchronize a local store of events in the specified calendar, without having to fetch all the events of that calendar from the server every time. The following table lists the differences between the delta function on events and the delta function on a calendarView in a calendar. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence.instance_delta
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - allowNewTimeProposals
                - attendees
                - body
                - bodyPreview
                - cancelledOccurrences
                - end
                - hasAttachments
                - hideAttendees
                - importance
                - isAllDay
                - isCancelled
                - isDraft
                - isOnlineMeeting
                - isOrganizer
                - isReminderOn
                - location
                - locations
                - occurrenceId
                - onlineMeeting
                - onlineMeetingProvider
                - onlineMeetingUrl
                - organizer
                - originalEndTimeZone
                - originalStart
                - originalStartTimeZone
                - recurrence
                - reminderMinutesBeforeStart
                - responseRequested
                - responseStatus
                - sensitivity
                - seriesMasterId
                - showAs
                - start
                - subject
                - transactionId
                - type
                - uid
                - webLink
                - attachments
                - calendar
                - exceptionOccurrences
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
                - attendees
                - attendees desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - cancelledOccurrences
                - cancelledOccurrences desc
                - end
                - end desc
                - hasAttachments
                - hasAttachments desc
                - hideAttendees
                - hideAttendees desc
                - importance
                - importance desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isDraft
                - isDraft desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - isOrganizer
                - isOrganizer desc
                - isReminderOn
                - isReminderOn desc
                - location
                - location desc
                - locations
                - locations desc
                - occurrenceId
                - occurrenceId desc
                - onlineMeeting
                - onlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - organizer
                - organizer desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - originalStart
                - originalStart desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - recurrence
                - recurrence desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - responseRequested
                - responseRequested desc
                - responseStatus
                - responseStatus desc
                - sensitivity
                - sensitivity desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - start
                - start desc
                - subject
                - subject desc
                - transactionId
                - transactionId desc
                - type
                - type desc
                - uid
                - uid desc
                - webLink
                - webLink desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.accept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action accept
      description: Accept the specified event in a user calendar. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-accept?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_accept
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.cancel':
    post:
      tags:
        - groups.Actions
      summary: Invoke action cancel
      description: "This action allows the organizer of a meeting to send a cancellation message and cancel the event.  The action moves the event to the Deleted Items folder. The organizer can also cancel an occurrence of a recurring meeting \nby providing the occurrence event ID. An attendee calling this action gets an error (HTTP 400 Bad Request), with the following\nerror message: 'Your request can't be completed. You need to be an organizer to cancel a meeting.' This action differs from Delete in that Cancel is available to only the organizer, and lets\nthe organizer send a custom message to the attendees about the cancellation. This API is available in the following national cloud deployments."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-cancel?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_cancel
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.decline':
    post:
      tags:
        - groups.Actions
      summary: Invoke action decline
      description: 'Decline invitation to the specified event in a user calendar. If the event allows proposals for new times, on declining the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new meeting times. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-decline?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_decline
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.dismissReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action dismissReminder
      description: Dismiss a reminder that has been triggered for an event in a user calendar. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-dismissreminder?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_dismissReminder
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.forward':
    post:
      tags:
        - groups.Actions
      summary: Invoke action forward
      description: "This action allows the organizer or attendee of a meeting event to forward the \nmeeting request to a new recipient.  If the meeting event is forwarded from an attendee's Microsoft 365 mailbox to another recipient, this action \nalso sends a message to notify the organizer of the forwarding, and adds the recipient to the organizer's \ncopy of the meeting event. This convenience is not available when forwarding from an Outlook.com account. This API is available in the following national cloud deployments."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-forward?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_forward
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action snoozeReminder
      description: Postpone a reminder for an event in a user calendar until a new time. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-snoozereminder?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_snoozeReminder
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action tentativelyAccept
      description: 'Tentatively accept the specified event in a user calendar. If the event allows proposals for new times, on responding tentative to the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new meeting times. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-tentativelyaccept?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_tentativelyAccept
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - groups.Functions
      summary: Invoke function delta
      description: 'Get a set of event resources that have been added, deleted, or updated in one or more calendars.  You can get specific types of these incremental changes in the events in all the calendars of a mailbox or in a specific calendar, or in an event collection of a calendarView (range of events defined by start and end dates) of a calendar. The calendar can be the default calendar or some other specified calendar of the user''s. In the case of getting incremental changes on calendarView, the calendar can be a group calendar as well. Typically, synchronizing events in a calendar or calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This allows you to maintain and synchronize a local store of events in the specified calendar, without having to fetch all the events of that calendar from the server every time. The following table lists the differences between the delta function on events and the delta function on a calendarView in a calendar. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delta?view=graph-rest-1.0
      operationId: group.calendar.calendarView.exceptionOccurrence_delta
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - allowNewTimeProposals
                - attendees
                - body
                - bodyPreview
                - cancelledOccurrences
                - end
                - hasAttachments
                - hideAttendees
                - importance
                - isAllDay
                - isCancelled
                - isDraft
                - isOnlineMeeting
                - isOrganizer
                - isReminderOn
                - location
                - locations
                - occurrenceId
                - onlineMeeting
                - onlineMeetingProvider
                - onlineMeetingUrl
                - organizer
                - originalEndTimeZone
                - originalStart
                - originalStartTimeZone
                - recurrence
                - reminderMinutesBeforeStart
                - responseRequested
                - responseStatus
                - sensitivity
                - seriesMasterId
                - showAs
                - start
                - subject
                - transactionId
                - type
                - uid
                - webLink
                - attachments
                - calendar
                - exceptionOccurrences
                - extensions
                - instances
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
                - attendees
                - attendees desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - cancelledOccurrences
                - cancelledOccurrences desc
                - end
                - end desc
                - hasAttachments
                - hasAttachments desc
                - hideAttendees
                - hideAttendees desc
                - importance
                - importance desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isDraft
                - isDraft desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - isOrganizer
                - isOrganizer desc
                - isReminderOn
                - isReminderOn desc
                - location
                - location desc
                - locations
                - locations desc
                - occurrenceId
                - occurrenceId desc
                - onlineMeeting
                - onlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - organizer
                - organizer desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - originalStart
                - originalStart desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - recurrence
                - recurrence desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - responseRequested
                - responseRequested desc
                - responseStatus
                - responseStatus desc
                - sensitivity
                - sensitivity desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - start
                - start desc
                - subject
                - subject desc
                - transactionId
                - transactionId desc
                - type
                - type desc
                - uid
                - uid desc
                - webLink
                - webLink desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - groups.Actions
      summary: Invoke action createUploadSession
      description: 'Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to an Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that''s smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using an upload session: See attach large files to Outlook messages or events for an example. This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-1.0
      operationId: group.calendar.calendarView.instance.attachment_createUploadSession
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
[...]
