openapi: 3.0.1
info:
  title: Identity.SignIns
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /dataPolicyOperations:
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get dataPolicyOperation
      operationId: dataPolicyOperations.dataPolicyOperation_ListDataPolicyOperation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - completedDateTime
                - completedDateTime desc
                - progress
                - progress desc
                - status
                - status desc
                - storageLocation
                - storageLocation desc
                - submittedDateTime
                - submittedDateTime desc
                - userId
                - userId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedDateTime
                - progress
                - status
                - storageLocation
                - submittedDateTime
                - userId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.dataPolicyOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Add new entity to dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_CreateDataPolicyOperation
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/dataPolicyOperations/{dataPolicyOperation-id}':
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get dataPolicyOperation
      operationId: dataPolicyOperations.dataPolicyOperation_GetDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedDateTime
                - progress
                - status
                - storageLocation
                - submittedDateTime
                - userId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Update entity in dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_UpdateDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Delete entity from dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_DeleteDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get conditionalAccess from identity
      operationId: identity_GetConditionalAccess
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authenticationContextClassReferences
                - namedLocations
                - policies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - authenticationContextClassReferences
                - namedLocations
                - policies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessRoot'
          links:
            authenticationContextClassReferences:
              operationId: identity.ConditionalAccess.ListAuthenticationContextClassReferences
            namedLocations:
              operationId: identity.ConditionalAccess.ListNamedLocations
            policies:
              operationId: identity.ConditionalAccess.ListPolicies
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property conditionalAccess in identity
      operationId: identity_UpdateConditionalAccess
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property conditionalAccess for identity
      operationId: identity_DeleteConditionalAccess
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess/authenticationContextClassReferences:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get authenticationContextClassReferences from identity
      operationId: identity.conditionalAccess_ListAuthenticationContextClassReferences
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isAvailable
                - isAvailable desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isAvailable
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.authenticationContextClassReferenceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.conditionalAccessRoot
      summary: Create new navigation property to authenticationContextClassReferences for identity
      operationId: identity.conditionalAccess_CreateAuthenticationContextClassReferences
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationContextClassReference'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationContextClassReference'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/conditionalAccess/authenticationContextClassReferences/{authenticationContextClassReference-id}':
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get authenticationContextClassReferences from identity
      operationId: identity.conditionalAccess_GetAuthenticationContextClassReferences
      parameters:
        - name: authenticationContextClassReference-id
          in: path
          description: 'key: id of authenticationContextClassReference'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: authenticationContextClassReference
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isAvailable
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationContextClassReference'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property authenticationContextClassReferences in identity
      operationId: identity.conditionalAccess_UpdateAuthenticationContextClassReferences
      parameters:
        - name: authenticationContextClassReference-id
          in: path
          description: 'key: id of authenticationContextClassReference'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: authenticationContextClassReference
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationContextClassReference'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property authenticationContextClassReferences for identity
      operationId: identity.conditionalAccess_DeleteAuthenticationContextClassReferences
      parameters:
        - name: authenticationContextClassReference-id
          in: path
          description: 'key: id of authenticationContextClassReference'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: authenticationContextClassReference
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess/namedLocations:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get namedLocations from identity
      operationId: identity.conditionalAccess_ListNamedLocations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - modifiedDateTime
                - modifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - modifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.namedLocationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.conditionalAccessRoot
      summary: Create new navigation property to namedLocations for identity
      operationId: identity.conditionalAccess_CreateNamedLocations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.namedLocation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/conditionalAccess/namedLocations/{namedLocation-id}':
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get namedLocations from identity
      operationId: identity.conditionalAccess_GetNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - modifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property namedLocations in identity
      operationId: identity.conditionalAccess_UpdateNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.namedLocation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property namedLocations for identity
      operationId: identity.conditionalAccess_DeleteNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess/policies:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get policies from identity
      operationId: identity.conditionalAccess_ListPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - conditions
                - conditions desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - grantControls
                - grantControls desc
                - modifiedDateTime
                - modifiedDateTime desc
                - sessionControls
                - sessionControls desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - conditions
                - createdDateTime
                - description
                - displayName
                - grantControls
                - modifiedDateTime
                - sessionControls
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.conditionalAccessPolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.conditionalAccessRoot
      summary: Create new navigation property to policies for identity
      operationId: identity.conditionalAccess_CreatePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/conditionalAccess/policies/{conditionalAccessPolicy-id}':
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get policies from identity
      operationId: identity.conditionalAccess_GetPolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - conditions
                - createdDateTime
                - description
                - displayName
                - grantControls
                - modifiedDateTime
                - sessionControls
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property policies in identity
      operationId: identity.conditionalAccess_UpdatePolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property policies for identity
      operationId: identity.conditionalAccess_DeletePolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/userFlows:
    get:
      tags:
        - identity.identityUserFlow
      summary: Get userFlows from identity
      operationId: identity_ListUserFlows
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userFlowType
                - userFlowType desc
                - userFlowTypeVersion
                - userFlowTypeVersion desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userFlowType
                - userFlowTypeVersion
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.identityUserFlowCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-01-15T00:00:00.0000000+00:00'
        date: '2021-05-21T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identity/userflows API is deprecated and will stop returning data on January 2022. Please use the new b2cUserflows or b2xUserflows APIs.
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.identityUserFlow
      summary: Create new navigation property to userFlows for identity
      operationId: identity_CreateUserFlows
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlow'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlow'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-01-15T00:00:00.0000000+00:00'
        date: '2021-05-21T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identity/userflows API is deprecated and will stop returning data on January 2022. Please use the new b2cUserflows or b2xUserflows APIs.
      x-ms-docs-operation-type: operation
  '/identity/userFlows/{identityUserFlow-id}':
    get:
      tags:
        - identity.identityUserFlow
      summary: Get userFlows from identity
      operationId: identity_GetUserFlows
      parameters:
        - name: identityUserFlow-id
          in: path
          description: 'key: id of identityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityUserFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userFlowType
                - userFlowTypeVersion
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlow'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-01-15T00:00:00.0000000+00:00'
        date: '2021-05-21T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identity/userflows API is deprecated and will stop returning data on January 2022. Please use the new b2cUserflows or b2xUserflows APIs.
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.identityUserFlow
      summary: Update the navigation property userFlows in identity
      operationId: identity_UpdateUserFlows
      parameters:
        - name: identityUserFlow-id
          in: path
          description: 'key: id of identityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityUserFlow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlow'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-01-15T00:00:00.0000000+00:00'
        date: '2021-05-21T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identity/userflows API is deprecated and will stop returning data on January 2022. Please use the new b2cUserflows or b2xUserflows APIs.
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.identityUserFlow
      summary: Delete navigation property userFlows for identity
      operationId: identity_DeleteUserFlows
      parameters:
        - name: identityUserFlow-id
          in: path
          description: 'key: id of identityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityUserFlow
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-01-15T00:00:00.0000000+00:00'
        date: '2021-05-21T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identity/userflows API is deprecated and will stop returning data on January 2022. Please use the new b2cUserflows or b2xUserflows APIs.
      x-ms-docs-operation-type: operation
  /identityProviders:
    get:
      tags:
        - identityProviders.identityProvider
      summary: List identityProviders (deprecated)
      operationId: identityProviders.identityProvider_ListIdentityProvider
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientId
                - clientId desc
                - clientSecret
                - clientSecret desc
                - name
                - name desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - clientSecret
                - name
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.identityProviderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15T00:00:00.0000000+00:00'
        date: '2021-08-24T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityProviders.identityProvider
      summary: Create identityProvider (deprecated)
      operationId: identityProviders.identityProvider_CreateIdentityProvider
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityProvider'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProvider'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15T00:00:00.0000000+00:00'
        date: '2021-08-24T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-docs-operation-type: operation
  '/identityProviders/{identityProvider-id}':
    get:
      tags:
        - identityProviders.identityProvider
      summary: Get identityProvider (deprecated)
      operationId: identityProviders.identityProvider_GetIdentityProvider
      parameters:
        - name: identityProvider-id
          in: path
          description: 'key: id of identityProvider'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProvider
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - clientSecret
                - name
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProvider'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15T00:00:00.0000000+00:00'
        date: '2021-08-24T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityProviders.identityProvider
      summary: Update entity in identityProviders
      operationId: identityProviders.identityProvider_UpdateIdentityProvider
      parameters:
        - name: identityProvider-id
          in: path
          description: 'key: id of identityProvider'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProvider
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityProvider'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15T00:00:00.0000000+00:00'
        date: '2021-08-24T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityProviders.identityProvider
      summary: Delete identityProvider (deprecated)
      operationId: identityProviders.identityProvider_DeleteIdentityProvider
      parameters:
        - name: identityProvider-id
          in: path
          description: 'key: id of identityProvider'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProvider
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15T00:00:00.0000000+00:00'
        date: '2021-08-24T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-docs-operation-type: operation
  /identityProviders/microsoft.graph.availableProviderTypes():
    get:
      tags:
        - identityProviders.Functions
      summary: Invoke function availableProviderTypes
      operationId: identityProviders_availableProviderTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of identityProvider
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                      nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15T00:00:00.0000000+00:00'
        date: '2021-08-24T00:00:00.0000000+00:00'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-docs-operation-type: function
  /informationProtection:
    get:
      tags:
        - informationProtection.informationProtection
      summary: Get informationProtection
      operationId: informationProtection.informationProtection_GetInformationProtection
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - bitlocker
                - dataLossPreventionPolicies
                - sensitivityLabels
                - sensitivityPolicySettings
                - policy
                - threatAssessmentRequests
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - bitlocker
                - dataLossPreventionPolicies
                - sensitivityLabels
                - sensitivityPolicySettings
                - policy
                - threatAssessmentRequests
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtection'
          links:
            bitlocker:
              operationId: informationProtection.GetBitlocker
            dataLossPreventionPolicies:
              operationId: informationProtection.ListDataLossPreventionPolicies
            sensitivityLabels:
              operationId: informationProtection.ListSensitivityLabels
            sensitivityPolicySettings:
              operationId: informationProtection.GetSensitivityPolicySettings
            policy:
              operationId: informationProtection.GetPolicy
            threatAssessmentRequests:
              operationId: informationProtection.ListThreatAssessmentRequests
            decryptBuffer:
              operationId: informationProtection.decryptBuffer
            encryptBuffer:
              operationId: informationProtection.encryptBuffer
            signDigest:
              operationId: informationProtection.signDigest
            verifySignature:
              operationId: informationProtection.verifySignature
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.informationProtection
      summary: Update informationProtection
      operationId: informationProtection.informationProtection_UpdateInformationProtection
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/bitlocker:
    get:
      tags:
        - informationProtection.bitlocker
      summary: Get bitlocker from informationProtection
      operationId: informationProtection_GetBitlocker
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - recoveryKeys
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - recoveryKeys
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bitlocker'
          links:
            recoveryKeys:
              operationId: informationProtection.Bitlocker.ListRecoveryKeys
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.bitlocker
      summary: Update the navigation property bitlocker in informationProtection
      operationId: informationProtection_UpdateBitlocker
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bitlocker'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/bitlocker/recoveryKeys:
    get:
      tags:
        - informationProtection.bitlocker
      summary: Get recoveryKeys from informationProtection
      operationId: informationProtection.bitlocker_ListRecoveryKeys
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - deviceId
                - deviceId desc
                - key
                - key desc
                - volumeType
                - volumeType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - deviceId
                - key
                - volumeType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.bitlockerRecoveryKeyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.bitlocker
      summary: Create new navigation property to recoveryKeys for informationProtection
      operationId: informationProtection.bitlocker_CreateRecoveryKeys
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/bitlocker/recoveryKeys/{bitlockerRecoveryKey-id}':
    get:
      tags:
        - informationProtection.bitlocker
      summary: Get recoveryKeys from informationProtection
      operationId: informationProtection.bitlocker_GetRecoveryKeys
      parameters:
        - name: bitlockerRecoveryKey-id
          in: path
          description: 'key: id of bitlockerRecoveryKey'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bitlockerRecoveryKey
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - deviceId
                - key
                - volumeType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/dataLossPreventionPolicies:
    get:
      tags:
        - informationProtection.dataLossPreventionPolicy
      summary: Get dataLossPreventionPolicies from informationProtection
      operationId: informationProtection_ListDataLossPreventionPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.dataLossPreventionPolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.dataLossPreventionPolicy
      summary: Create new navigation property to dataLossPreventionPolicies for informationProtection
      operationId: informationProtection_CreateDataLossPreventionPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/dataLossPreventionPolicies/{dataLossPreventionPolicy-id}':
    get:
      tags:
        - informationProtection.dataLossPreventionPolicy
      summary: Get dataLossPreventionPolicies from informationProtection
      operationId: informationProtection_GetDataLossPreventionPolicies
      parameters:
        - name: dataLossPreventionPolicy-id
          in: path
          description: 'key: id of dataLossPreventionPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataLossPreventionPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.dataLossPreventionPolicy
      summary: Update the navigation property dataLossPreventionPolicies in informationProtection
      operationId: informationProtection_UpdateDataLossPreventionPolicies
      parameters:
        - name: dataLossPreventionPolicy-id
          in: path
          description: 'key: id of dataLossPreventionPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataLossPreventionPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - informationProtection.dataLossPreventionPolicy
      summary: Delete navigation property dataLossPreventionPolicies for informationProtection
      operationId: informationProtection_DeleteDataLossPreventionPolicies
      parameters:
        - name: dataLossPreventionPolicy-id
          in: path
          description: 'key: id of dataLossPreventionPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataLossPreventionPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/dataLossPreventionPolicies/microsoft.graph.evaluate:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action evaluate
      operationId: informationProtection.dataLossPreventionPolicies_evaluate
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  type: string
                  nullable: true
                evaluationInput:
                  $ref: '#/components/schemas/microsoft.graph.dlpEvaluationInput'
                notificationInfo:
                  $ref: '#/components/schemas/microsoft.graph.dlpNotification'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dlpEvaluatePoliciesJobResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /informationProtection/microsoft.graph.decryptBuffer:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action decryptBuffer
      operationId: informationProtection_decryptBuffer
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                encryptedBuffer:
                  type: string
                  format: base64url
                publishingLicense:
                  type: string
                  format: base64url
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bufferDecryptionResult'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: action
  /informationProtection/microsoft.graph.encryptBuffer:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action encryptBuffer
      operationId: informationProtection_encryptBuffer
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                buffer:
                  type: string
                  format: base64url
                labelId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bufferEncryptionResult'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: action
  /informationProtection/microsoft.graph.signDigest:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action signDigest
      operationId: informationProtection_signDigest
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                digest:
                  type: string
                  format: base64url
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signingResult'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: action
  /informationProtection/microsoft.graph.verifySignature:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action verifySignature
      operationId: informationProtection_verifySignature
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                digest:
                  type: string
                  format: base64url
                signature:
                  type: string
                  format: base64url
                signingKeyId:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.verificationResult'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: action
  /informationProtection/policy:
    get:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Get policy from informationProtection
      operationId: informationProtection_GetPolicy
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - labels
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - labels
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtectionPolicy'
          links:
            labels:
              operationId: informationProtection.Policy.ListLabels
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Update the navigation property policy in informationProtection
      operationId: informationProtection_UpdatePolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtectionPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Delete navigation property policy for informationProtection
      operationId: informationProtection_DeletePolicy
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: operation
  /informationProtection/policy/labels:
    get:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Get labels from informationProtection
      operationId: informationProtection.policy_ListLabels
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - color
                - color desc
                - description
                - description desc
                - isActive
                - isActive desc
                - name
                - name desc
                - parent
                - parent desc
                - sensitivity
                - sensitivity desc
                - tooltip
                - tooltip desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - color
                - description
                - isActive
                - name
                - parent
                - sensitivity
                - tooltip
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.informationProtectionLabelCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Create new navigation property to labels for informationProtection
      operationId: informationProtection.policy_CreateLabels
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtectionLabel'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtectionLabel'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: operation
  '/informationProtection/policy/labels/{informationProtectionLabel-id}':
    get:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Get labels from informationProtection
      operationId: informationProtection.policy_GetLabels
      parameters:
        - name: informationProtectionLabel-id
          in: path
          description: 'key: id of informationProtectionLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: informationProtectionLabel
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - color
                - description
                - isActive
                - name
                - parent
                - sensitivity
                - tooltip
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtectionLabel'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Update the navigation property labels in informationProtection
      operationId: informationProtection.policy_UpdateLabels
      parameters:
        - name: informationProtectionLabel-id
          in: path
          description: 'key: id of informationProtectionLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: informationProtectionLabel
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtectionLabel'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Delete navigation property labels for informationProtection
      operationId: informationProtection.policy_DeleteLabels
      parameters:
        - name: informationProtectionLabel-id
          in: path
          description: 'key: id of informationProtectionLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: informationProtectionLabel
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: operation
  /informationProtection/policy/labels/microsoft.graph.evaluateApplication:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action evaluateApplication
      operationId: informationProtection.policy.labels_evaluateApplication
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.contentInfo'
                labelingOptions:
                  $ref: '#/components/schemas/microsoft.graph.labelingOptions'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of informationProtectionLabel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.informationProtectionAction'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: action
  /informationProtection/policy/labels/microsoft.graph.evaluateClassificationResults:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action evaluateClassificationResults
      operationId: informationProtection.policy.labels_evaluateClassificationResults
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.contentInfo'
                classificationResults:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.classificationResult'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of informationProtectionLabel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.informationProtectionAction'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: action
  /informationProtection/policy/labels/microsoft.graph.evaluateRemoval:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action evaluateRemoval
      operationId: informationProtection.policy.labels_evaluateRemoval
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.contentInfo'
                downgradeJustification:
                  $ref: '#/components/schemas/microsoft.graph.downgradeJustification'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of informationProtectionLabel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.informationProtectionAction'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: action
  /informationProtection/policy/labels/microsoft.graph.extractLabel:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action extractLabel
      operationId: informationProtection.policy.labels_extractLabel
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.contentInfo'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtectionContentLabel'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-08-15T00:00:00.0000000+00:00'
        date: '2021-02-15T00:00:00.0000000+00:00'
        version: 2021-02/Beta_SensitivityLabels
        description: 'This API will no longer be accessible, please see microsoft.graph.security.informationProtection APIs.'
      x-ms-docs-operation-type: action
  /informationProtection/sensitivityLabels:
    get:
      tags:
        - informationProtection.sensitivityLabel
      summary: Get sensitivityLabels from informationProtection
      operationId: informationProtection_ListSensitivityLabels
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - applicableTo
                - applicableTo desc
                - applicationMode
                - applicationMode desc
                - assignedPolicies
                - assignedPolicies desc
                - autoLabeling
                - autoLabeling desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isDefault
                - isDefault desc
                - isEndpointProtectionEnabled
                - isEndpointProtectionEnabled desc
                - labelActions
                - labelActions desc
                - name
                - name desc
                - priority
                - priority desc
                - toolTip
                - toolTip desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicableTo
                - applicationMode
                - assignedPolicies
                - autoLabeling
                - description
                - displayName
                - isDefault
                - isEndpointProtectionEnabled
                - labelActions
                - name
                - priority
                - toolTip
                - sublabels
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sublabels
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.sensitivityLabelCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.sensitivityLabel
      summary: Create new navigation property to sensitivityLabels for informationProtection
      operationId: informationProtection_CreateSensitivityLabels
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/sensitivityLabels/{sensitivityLabel-id}':
    get:
      tags:
        - informationProtection.sensitivityLabel
      summary: Get sensitivityLabels from informationProtection
      operationId: informationProtection_GetSensitivityLabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicableTo
                - applicationMode
                - assignedPolicies
                - autoLabeling
                - description
                - displayName
                - isDefault
                - isEndpointProtectionEnabled
                - labelActions
                - name
                - priority
                - toolTip
                - sublabels
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sublabels
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
          links:
            sublabels:
              operationId: informationProtection.SensitivityLabels.ListSublabels
              parameters:
                sensitivityLabel-id: $request.path.sensitivityLabel-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.sensitivityLabel
      summary: Update the navigation property sensitivityLabels in informationProtection
      operationId: informationProtection_UpdateSensitivityLabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - informationProtection.sensitivityLabel
      summary: Delete navigation property sensitivityLabels for informationProtection
      operationId: informationProtection_DeleteSensitivityLabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/sensitivityLabels/{sensitivityLabel-id}/sublabels':
    get:
      tags:
        - informationProtection.sensitivityLabel
      summary: Get sublabels from informationProtection
      operationId: informationProtection.sensitivityLabels_ListSublabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - applicableTo
                - applicableTo desc
                - applicationMode
                - applicationMode desc
                - assignedPolicies
                - assignedPolicies desc
                - autoLabeling
                - autoLabeling desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isDefault
                - isDefault desc
                - isEndpointProtectionEnabled
                - isEndpointProtectionEnabled desc
                - labelActions
                - labelActions desc
                - name
                - name desc
                - priority
                - priority desc
                - toolTip
                - toolTip desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicableTo
                - applicationMode
                - assignedPolicies
                - autoLabeling
                - description
                - displayName
                - isDefault
                - isEndpointProtectionEnabled
                - labelActions
                - name
                - priority
                - toolTip
                - sublabels
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sublabels
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.sensitivityLabelCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.sensitivityLabel
      summary: Create new navigation property to sublabels for informationProtection
      operationId: informationProtection.sensitivityLabels_CreateSublabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/sensitivityLabels/{sensitivityLabel-id}/sublabels/{sensitivityLabel-id1}':
    get:
      tags:
        - informationProtection.sensitivityLabel
      summary: Get sublabels from informationProtection
      operationId: informationProtection.sensitivityLabels_GetSublabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - name: sensitivityLabel-id1
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicableTo
                - applicationMode
                - assignedPolicies
                - autoLabeling
                - description
                - displayName
                - isDefault
                - isEndpointProtectionEnabled
                - labelActions
                - name
                - priority
                - toolTip
                - sublabels
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sublabels
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
          links:
            sublabels:
              operationId: informationProtection.sensitivityLabels.Sublabels.ListSublabels
              parameters:
                sensitivityLabel-id: $request.path.sensitivityLabel-id
                sensitivityLabel-id1: $request.path.sensitivityLabel-id1
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.sensitivityLabel
      summary: Update the navigation property sublabels in informationProtection
      operationId: informationProtection.sensitivityLabels_UpdateSublabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - name: sensitivityLabel-id1
          in: path
          description: 'key: id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - informationProtection.sensitivityLabel
      summary: Delete navigation property sublabels for informationProtection
[...]
