openapi: 3.0.1
info:
  title: Identity.DirectoryManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /organization:
    get:
      tags:
        - organization.organization
      summary: List organization
      description: Retrieve a list of organization objects.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organization-list?view=graph-rest-1.0
      operationId: organization.organization_ListOrganization
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - country
                - country desc
                - countryLetterCode
                - countryLetterCode desc
                - createdDateTime
                - createdDateTime desc
                - defaultUsageLocation
                - defaultUsageLocation desc
                - directorySizeQuota
                - directorySizeQuota desc
                - displayName
                - displayName desc
                - isMultipleDataLocationsForServicesEnabled
                - isMultipleDataLocationsForServicesEnabled desc
                - marketingNotificationEmails
                - marketingNotificationEmails desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - partnerTenantType
                - partnerTenantType desc
                - postalCode
                - postalCode desc
                - preferredLanguage
                - preferredLanguage desc
                - privacyProfile
                - privacyProfile desc
                - provisionedPlans
                - provisionedPlans desc
                - securityComplianceNotificationMails
                - securityComplianceNotificationMails desc
                - securityComplianceNotificationPhones
                - securityComplianceNotificationPhones desc
                - state
                - state desc
                - street
                - street desc
                - technicalNotificationMails
                - technicalNotificationMails desc
                - verifiedDomains
                - verifiedDomains desc
                - certificateConnectorSetting
                - certificateConnectorSetting desc
                - mobileDeviceManagementAuthority
                - mobileDeviceManagementAuthority desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedPlans
                - businessPhones
                - city
                - country
                - countryLetterCode
                - createdDateTime
                - defaultUsageLocation
                - directorySizeQuota
                - displayName
                - isMultipleDataLocationsForServicesEnabled
                - marketingNotificationEmails
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - partnerTenantType
                - postalCode
                - preferredLanguage
                - privacyProfile
                - provisionedPlans
                - securityComplianceNotificationMails
                - securityComplianceNotificationPhones
                - state
                - street
                - technicalNotificationMails
                - verifiedDomains
                - certificateConnectorSetting
                - mobileDeviceManagementAuthority
                - branding
                - certificateBasedAuthConfiguration
                - extensions
                - settings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - branding
                - certificateBasedAuthConfiguration
                - extensions
                - settings
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.organizationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - organization.organization
      summary: Add new entity to organization
      operationId: organization.organization_CreateOrganization
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organization'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}':
    get:
      tags:
        - organization.organization
      summary: Get organization
      description: 'Get the properties and relationships of the currently authenticated organization. Since the **organization** resource supports extensions, you can also use the `GET` operation to get custom properties and extension data in an **organization** instance.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organization-get?view=graph-rest-1.0
      operationId: organization.organization_GetOrganization
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedPlans
                - businessPhones
                - city
                - country
                - countryLetterCode
                - createdDateTime
                - defaultUsageLocation
                - directorySizeQuota
                - displayName
                - isMultipleDataLocationsForServicesEnabled
                - marketingNotificationEmails
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - partnerTenantType
                - postalCode
                - preferredLanguage
                - privacyProfile
                - provisionedPlans
                - securityComplianceNotificationMails
                - securityComplianceNotificationPhones
                - state
                - street
                - technicalNotificationMails
                - verifiedDomains
                - certificateConnectorSetting
                - mobileDeviceManagementAuthority
                - branding
                - certificateBasedAuthConfiguration
                - extensions
                - settings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - branding
                - certificateBasedAuthConfiguration
                - extensions
                - settings
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organization
      summary: Update organization
      description: 'Update the properties of the currently authenticated organization. In this case, `organization` is defined as a collection of exactly one record, and so its **ID** must be specified in the request.  The **ID** is also known as the **tenantId** of the organization.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organization-update?view=graph-rest-1.0
      operationId: organization.organization_UpdateOrganization
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organization
      summary: Delete entity from organization
      operationId: organization.organization_DeleteOrganization
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get organizationalBranding
      description: 'Retrieve the default organizational branding object, if the **Accept-Language** header is set to `0` or `default`. If no default organizational branding object exists, this method returns a `404 Not Found` error. If the **Accept-Language** header is set to an existing locale identified by the value of its **id**, this method retrieves the branding for the specified locale. This method retrieves only non-Stream properties, for example, **usernameHintText** and **signInPageText**. To retrieve Stream types of the default branding, for example, **bannerLogo** and **backgroundImage**, use the GET organizationalBrandingLocalization method.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-get?view=graph-rest-1.0
      operationId: organization_GetBranding
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - backgroundColor
                - backgroundImage
                - backgroundImageRelativeUrl
                - bannerLogo
                - bannerLogoRelativeUrl
                - cdnList
                - customAccountResetCredentialsUrl
                - customCannotAccessYourAccountText
                - customCannotAccessYourAccountUrl
                - customCSS
                - customCSSRelativeUrl
                - customForgotMyPasswordText
                - customPrivacyAndCookiesText
                - customPrivacyAndCookiesUrl
                - customResetItNowText
                - customTermsOfUseText
                - customTermsOfUseUrl
                - favicon
                - faviconRelativeUrl
                - headerBackgroundColor
                - headerLogo
                - headerLogoRelativeUrl
                - loginPageLayoutConfiguration
                - loginPageTextVisibilitySettings
                - signInPageText
                - squareLogo
                - squareLogoDark
                - squareLogoDarkRelativeUrl
                - squareLogoRelativeUrl
                - usernameHintText
                - localizations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - localizations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organizationalBranding
      summary: Update organizationalBranding
      description: Update the properties of the default branding object specified by the organizationalBranding resource.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-update?view=graph-rest-1.0
      operationId: organization_UpdateBranding
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organizationalBranding
      summary: Delete organizationalBranding
      description: 'Delete the default organizational branding object. To delete the organizationalBranding object, all images (Stream types) must first be removed from the object.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-delete?view=graph-rest-1.0
      operationId: organization_DeleteBranding
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/backgroundImage':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get backgroundImage for the navigation property branding from organization
      description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image will reduce bandwidth requirements and make the page load faster.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-get?view=graph-rest-1.0
      operationId: organization_GetBrandingBackgroundImage
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update backgroundImage for the navigation property branding in organization
      description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image will reduce bandwidth requirements and make the page load faster.
      operationId: organization_SetBrandingBackgroundImage
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/bannerLogo':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get bannerLogo for the navigation property branding from organization
      description: A banner version of your company logo that appears on the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-get?view=graph-rest-1.0
      operationId: organization_GetBrandingBannerLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update bannerLogo for the navigation property branding in organization
      description: A banner version of your company logo that appears on the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization_SetBrandingBannerLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/customCSS':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get customCSS for the navigation property branding from organization
      description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-get?view=graph-rest-1.0
      operationId: organization_GetBrandingCustomCSS
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update customCSS for the navigation property branding in organization
      description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
      operationId: organization_SetBrandingCustomCSS
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/favicon':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get favicon for the navigation property branding from organization
      description: A custom icon (favicon) to replace a default Microsoft product favicon on an Azure AD tenant.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-get?view=graph-rest-1.0
      operationId: organization_GetBrandingFavicon
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update favicon for the navigation property branding in organization
      description: A custom icon (favicon) to replace a default Microsoft product favicon on an Azure AD tenant.
      operationId: organization_SetBrandingFavicon
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/headerLogo':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get headerLogo for the navigation property branding from organization
      description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-get?view=graph-rest-1.0
      operationId: organization_GetBrandingHeaderLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update headerLogo for the navigation property branding in organization
      description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization_SetBrandingHeaderLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/localizations':
    get:
      tags:
        - organization.organizationalBranding
      summary: List localizations
      description: 'Retrieve all localization branding objects, including the default branding.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-list-localizations?view=graph-rest-1.0
      operationId: organization.branding_ListLocalizations
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - backgroundColor
                - backgroundColor desc
                - backgroundImage
                - backgroundImage desc
                - backgroundImageRelativeUrl
                - backgroundImageRelativeUrl desc
                - bannerLogo
                - bannerLogo desc
                - bannerLogoRelativeUrl
                - bannerLogoRelativeUrl desc
                - cdnList
                - cdnList desc
                - customAccountResetCredentialsUrl
                - customAccountResetCredentialsUrl desc
                - customCannotAccessYourAccountText
                - customCannotAccessYourAccountText desc
                - customCannotAccessYourAccountUrl
                - customCannotAccessYourAccountUrl desc
                - customCSS
                - customCSS desc
                - customCSSRelativeUrl
                - customCSSRelativeUrl desc
                - customForgotMyPasswordText
                - customForgotMyPasswordText desc
                - customPrivacyAndCookiesText
                - customPrivacyAndCookiesText desc
                - customPrivacyAndCookiesUrl
                - customPrivacyAndCookiesUrl desc
                - customResetItNowText
                - customResetItNowText desc
                - customTermsOfUseText
                - customTermsOfUseText desc
                - customTermsOfUseUrl
                - customTermsOfUseUrl desc
                - favicon
                - favicon desc
                - faviconRelativeUrl
                - faviconRelativeUrl desc
                - headerBackgroundColor
                - headerBackgroundColor desc
                - headerLogo
                - headerLogo desc
                - headerLogoRelativeUrl
                - headerLogoRelativeUrl desc
                - loginPageLayoutConfiguration
                - loginPageLayoutConfiguration desc
                - loginPageTextVisibilitySettings
                - loginPageTextVisibilitySettings desc
                - signInPageText
                - signInPageText desc
                - squareLogo
                - squareLogo desc
                - squareLogoDark
                - squareLogoDark desc
                - squareLogoDarkRelativeUrl
                - squareLogoDarkRelativeUrl desc
                - squareLogoRelativeUrl
                - squareLogoRelativeUrl desc
                - usernameHintText
                - usernameHintText desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - backgroundColor
                - backgroundImage
                - backgroundImageRelativeUrl
                - bannerLogo
                - bannerLogoRelativeUrl
                - cdnList
                - customAccountResetCredentialsUrl
                - customCannotAccessYourAccountText
                - customCannotAccessYourAccountUrl
                - customCSS
                - customCSSRelativeUrl
                - customForgotMyPasswordText
                - customPrivacyAndCookiesText
                - customPrivacyAndCookiesUrl
                - customResetItNowText
                - customTermsOfUseText
                - customTermsOfUseUrl
                - favicon
                - faviconRelativeUrl
                - headerBackgroundColor
                - headerLogo
                - headerLogoRelativeUrl
                - loginPageLayoutConfiguration
                - loginPageTextVisibilitySettings
                - signInPageText
                - squareLogo
                - squareLogoDark
                - squareLogoDarkRelativeUrl
                - squareLogoRelativeUrl
                - usernameHintText
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.organizationalBrandingLocalizationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - organization.organizationalBranding
      summary: Create organizationalBrandingLocalization
      description: 'Create a new organizationalBrandingLocalization object. This creates a localized branding and at the same time, the default branding if it doesn''t exist. The default branding is created only once. It''s loaded when a localized branding isn''t configured for the user''s browser language. To retrieve the default branding, see Get branding.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-post-localizations?view=graph-rest-1.0
      operationId: organization.branding_CreateLocalizations
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get localizations from organization
      description: Add different branding based on a locale.
      operationId: organization.branding_GetLocalizations
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - backgroundColor
                - backgroundImage
                - backgroundImageRelativeUrl
                - bannerLogo
                - bannerLogoRelativeUrl
                - cdnList
                - customAccountResetCredentialsUrl
                - customCannotAccessYourAccountText
                - customCannotAccessYourAccountUrl
                - customCSS
                - customCSSRelativeUrl
                - customForgotMyPasswordText
                - customPrivacyAndCookiesText
                - customPrivacyAndCookiesUrl
                - customResetItNowText
                - customTermsOfUseText
                - customTermsOfUseUrl
                - favicon
                - faviconRelativeUrl
                - headerBackgroundColor
                - headerLogo
                - headerLogoRelativeUrl
                - loginPageLayoutConfiguration
                - loginPageTextVisibilitySettings
                - signInPageText
                - squareLogo
                - squareLogoDark
                - squareLogoDarkRelativeUrl
                - squareLogoRelativeUrl
                - usernameHintText
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organizationalBranding
      summary: Update the navigation property localizations in organization
      operationId: organization.branding_UpdateLocalizations
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organizationalBranding
      summary: Delete navigation property localizations for organization
      operationId: organization.branding_DeleteLocalizations
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/backgroundImage':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get backgroundImage for the navigation property localizations from organization
      description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image will reduce bandwidth requirements and make the page load faster.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-list-localizations?view=graph-rest-1.0
      operationId: organization.branding_GetLocalizationsBackgroundImage
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update backgroundImage for the navigation property localizations in organization
      description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image will reduce bandwidth requirements and make the page load faster.
      operationId: organization.branding_SetLocalizationsBackgroundImage
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/bannerLogo':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get bannerLogo for the navigation property localizations from organization
      description: A banner version of your company logo that appears on the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-list-localizations?view=graph-rest-1.0
      operationId: organization.branding_GetLocalizationsBannerLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update bannerLogo for the navigation property localizations in organization
      description: A banner version of your company logo that appears on the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_SetLocalizationsBannerLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/customCSS':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get customCSS for the navigation property localizations from organization
      description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-list-localizations?view=graph-rest-1.0
      operationId: organization.branding_GetLocalizationsCustomCSS
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update customCSS for the navigation property localizations in organization
      description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
      operationId: organization.branding_SetLocalizationsCustomCSS
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/favicon':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get favicon for the navigation property localizations from organization
      description: A custom icon (favicon) to replace a default Microsoft product favicon on an Azure AD tenant.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-list-localizations?view=graph-rest-1.0
      operationId: organization.branding_GetLocalizationsFavicon
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update favicon for the navigation property localizations in organization
      description: A custom icon (favicon) to replace a default Microsoft product favicon on an Azure AD tenant.
      operationId: organization.branding_SetLocalizationsFavicon
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/headerLogo':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get headerLogo for the navigation property localizations from organization
      description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-list-localizations?view=graph-rest-1.0
      operationId: organization.branding_GetLocalizationsHeaderLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update headerLogo for the navigation property localizations in organization
      description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_SetLocalizationsHeaderLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/squareLogo':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get squareLogo for the navigation property localizations from organization
      description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-list-localizations?view=graph-rest-1.0
      operationId: organization.branding_GetLocalizationsSquareLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update squareLogo for the navigation property localizations in organization
      description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_SetLocalizationsSquareLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/squareLogoDark':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get squareLogoDark for the navigation property localizations from organization
      description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-list-localizations?view=graph-rest-1.0
      operationId: organization.branding_GetLocalizationsSquareLogoDark
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update squareLogoDark for the navigation property localizations in organization
      description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_SetLocalizationsSquareLogoDark
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBrandingLocalization-id
          in: path
          description: The unique identifier of organizationalBrandingLocalization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/squareLogo':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get squareLogo for the navigation property branding from organization
      description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-get?view=graph-rest-1.0
      operationId: organization_GetBrandingSquareLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update squareLogo for the navigation property branding in organization
      description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization_SetBrandingSquareLogo
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/branding/squareLogoDark':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get squareLogoDark for the navigation property branding from organization
      description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationalbranding-get?view=graph-rest-1.0
      operationId: organization_GetBrandingSquareLogoDark
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - organization.organizationalBranding
      summary: Update squareLogoDark for the navigation property branding in organization
      description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization_SetBrandingSquareLogoDark
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/extensions':
    get:
      tags:
        - organization.extension
      summary: Get extensions from organization
      description: The collection of open extensions defined for the organization resource. Nullable.
      operationId: organization_ListExtensions
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - organization.extension
      summary: Create new navigation property to extensions for organization
      operationId: organization_CreateExtensions
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/extensions/{extension-id}':
    get:
      tags:
        - organization.extension
      summary: Get extensions from organization
      description: The collection of open extensions defined for the organization resource. Nullable.
      operationId: organization_GetExtensions
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.extension
      summary: Update the navigation property extensions in organization
      operationId: organization_UpdateExtensions
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.extension
      summary: Delete navigation property extensions for organization
      operationId: organization_DeleteExtensions
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/microsoft.graph.activateService':
    post:
      tags:
        - organization.Actions
      summary: Invoke action activateService
      description: Activate a service for an organization.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organization-activateservice?view=graph-rest-1.0
      operationId: organization_activateService
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                service:
                  type: string
                  nullable: true
                servicePlanId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
                skuId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2022-10-15T00:00:00.0000000+00:00'
        date: '2022-09-05T00:00:00.0000000+00:00'
        version: 2022-09/Identity_And_Access
        description: 'The activateService API will be deprecated and will stop returning data on Oct-15, 2022'
      x-ms-docs-operation-type: action
  '/organization/{organization-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - organization.Actions
      summary: Invoke action checkMemberGroups
      description: 'Check for membership in a specified list of group IDs, and return from that list those groups (identified by IDs) of which the specified user, group, service principal, organizational contact, device, or directory object is a member. This function is transitive. You can check up to a maximum of 20 groups per request. This function supports all groups provisioned in Azure AD. Because Microsoft 365 groups cannot contain other groups, membership in a Microsoft 365 group is always direct.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-checkmembergroups?view=graph-rest-1.0
      operationId: organization_checkMemberGroups
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/organization/{organization-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - organization.Actions
      summary: Invoke action checkMemberObjects
      operationId: organization_checkMemberObjects
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/organization/{organization-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - organization.Actions
      summary: Invoke action getMemberGroups
      description: 'Return all the group IDs for the groups that the specified user, group, service principal, organizational contact, device, or directory object is a member of. This function is transitive.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-getmembergroups?view=graph-rest-1.0
      operationId: organization_getMemberGroups
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/organization/{organization-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - organization.Actions
      summary: Invoke action getMemberObjects
      operationId: organization_getMemberObjects
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/organization/{organization-id}/microsoft.graph.restore':
    post:
      tags:
        - organization.Actions
      summary: Invoke action restore
      description: 'Restore a recently deleted application, group, servicePrincipal, administrative unit, or user object from deleted items. If an item was accidentally deleted, you can fully restore the item. This is not applicable to security groups, which are deleted permanently. A recently deleted item will remain available for up to 30 days. After 30 days, the item is permanently deleted.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directory-deleteditems-restore?view=graph-rest-1.0
      operationId: organization_restore
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  - type: object
                    additionalProperties:
                      type: object
                    nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/organization/{organization-id}/microsoft.graph.setMobileDeviceManagementAuthority':
    post:
      tags:
        - organization.Actions
      summary: Invoke action setMobileDeviceManagementAuthority
      description: Set mobile device management authority
      operationId: organization_setMobileDeviceManagementAuthority
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    format: int32
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/organization/{organization-id}/settings':
    get:
      tags:
        - organization.organizationSettings
      summary: Get organizationSettings
      description: 'Retrieve the properties and relationships of an organizationSettings object, including **profileCardProperties**. This operation does not return insightsSettings. Depending on the type of insights, you can get their settings by using list itemInsights or list peopleInsights. This operation does not return microsoftApplicationDataAccessSettings. To get microsoftApplicationDataAccessSettings, use list microsoftApplicationDataAccessSettings.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationsettings-get?view=graph-rest-1.0
      operationId: organization_GetSettings
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - microsoftApplicationDataAccess
                - contactInsights
                - itemInsights
                - peopleInsights
                - profileCardProperties
                - pronouns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - microsoftApplicationDataAccess
                - contactInsights
                - itemInsights
                - peopleInsights
                - profileCardProperties
                - pronouns
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organizationSettings
      summary: Update the navigation property settings in organization
      operationId: organization_UpdateSettings
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organizationSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organizationSettings
      summary: Delete navigation property settings for organization
      operationId: organization_DeleteSettings
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/settings/contactInsights':
    get:
      tags:
        - organization.organizationSettings
      summary: List contactInsights
      description: Get the properties of an insightsSettings object for displaying or returning contact insights in an organization.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationsettings-list-contactinsights?view=graph-rest-1.0
      operationId: organization.settings_GetContactInsights
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - disabledForGroup
                - isEnabledInOrganization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.insightsSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organizationSettings
      summary: Update insightsSettings
      description: "Update the privacy settings to display or return the specified type of insights in an organization. The type of settings can be contact insights, item insights, or people insights. To learn more about customizing insights privacy for your organization, see:\n-  Customize item insights privacy \n-  Customize people insights privacy"
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/insightssettings-update?view=graph-rest-1.0
      operationId: organization.settings_UpdateContactInsights
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.insightsSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organizationSettings
      summary: Delete navigation property contactInsights for organization
      operationId: organization.settings_DeleteContactInsights
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/settings/itemInsights':
    get:
      tags:
        - organization.organizationSettings
      summary: List itemInsights
      description: 'Get the properties of an insightsSettings object for displaying or returning item insights in an organization. To learn how to customize the privacy of item insights in an organization, see Customize item insights privacy. '
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationsettings-list-iteminsights?view=graph-rest-1.0
      operationId: organization.settings_GetItemInsights
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - disabledForGroup
                - isEnabledInOrganization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.insightsSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organizationSettings
      summary: Update insightsSettings
      description: "Update the privacy settings to display or return the specified type of insights in an organization. The type of settings can be contact insights, item insights, or people insights. To learn more about customizing insights privacy for your organization, see:\n-  Customize item insights privacy \n-  Customize people insights privacy"
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/insightssettings-update?view=graph-rest-1.0
      operationId: organization.settings_UpdateItemInsights
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.insightsSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organizationSettings
      summary: Delete navigation property itemInsights for organization
      operationId: organization.settings_DeleteItemInsights
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/settings/microsoftApplicationDataAccess':
    get:
      tags:
        - organization.organizationSettings
      summary: List microsoftApplicationDataAccessSettings
      description: Get the _settings_ in a microsoftApplicationDataAccessSettings object that specify access from Microsoft applications to Microsoft 365 user data in an organization.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/organizationsettings-list-microsoftapplicationdataaccess?view=graph-rest-1.0
      operationId: organization.settings_GetMicrosoftApplicationDataAccess
      parameters:
        - name: organization-id
          in: path
          description: The unique identifier of organization
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - disabledForGroup
                - isEnabledForAllMicrosoftApplications
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
[...]
