openapi: 3.0.1
info:
  title: Identity.RoleManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /roleManagement:
    get:
      tags:
        - roleManagement.roleManagement
      summary: Get roleManagement
      operationId: roleManagement.roleManagement_GetRoleManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - directory
                - deviceManagement
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directory
                - deviceManagement
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.roleManagement
      summary: Update roleManagement
      operationId: roleManagement.roleManagement_UpdateRoleManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/deviceManagement:
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get deviceManagement from roleManagement
      operationId: roleManagement_GetDeviceManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleDefinitions
                - roleAssignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinitions
                - roleAssignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.rbacApplicationMultiple'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Update the navigation property deviceManagement in roleManagement
      operationId: roleManagement_UpdateDeviceManagement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.rbacApplicationMultiple'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Delete navigation property deviceManagement for roleManagement
      operationId: roleManagement_DeleteDeviceManagement
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/deviceManagement/roleAssignments:
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get roleAssignments from roleManagement
      operationId: roleManagement.deviceManagement_ListRoleAssignments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - roleDefinitionId
                - roleDefinitionId desc
                - condition
                - condition desc
                - displayName
                - displayName desc
                - description
                - description desc
                - principalIds
                - principalIds desc
                - directoryScopeIds
                - directoryScopeIds desc
                - appScopeIds
                - appScopeIds desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleDefinitionId
                - condition
                - displayName
                - description
                - principalIds
                - directoryScopeIds
                - appScopeIds
                - roleDefinition
                - principals
                - directoryScopes
                - appScopes
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
                - principals
                - directoryScopes
                - appScopes
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleAssignmentMultiple
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentMultiple'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Create new navigation property to roleAssignments for roleManagement
      operationId: roleManagement.deviceManagement_CreateRoleAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentMultiple'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentMultiple'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get roleAssignments from roleManagement
      operationId: roleManagement.deviceManagement_GetRoleAssignments
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleDefinitionId
                - condition
                - displayName
                - description
                - principalIds
                - directoryScopeIds
                - appScopeIds
                - roleDefinition
                - principals
                - directoryScopes
                - appScopes
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
                - principals
                - directoryScopes
                - appScopes
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentMultiple'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Update the navigation property roleAssignments in roleManagement
      operationId: roleManagement.deviceManagement_UpdateRoleAssignments
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentMultiple'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Delete navigation property roleAssignments for roleManagement
      operationId: roleManagement.deviceManagement_DeleteRoleAssignments
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}/appScopes':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get appScopes from roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_ListAppScopes
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - type
                - type desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - type
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appScope
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appScope'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Create new navigation property to appScopes for roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_CreateAppScopes
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appScope'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}/appScopes/{appScope-id}':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get appScopes from roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_GetAppScopes
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - name: appScope-id
          in: path
          description: 'key: id of appScope'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appScope
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - type
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Update the navigation property appScopes in roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_UpdateAppScopes
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - name: appScope-id
          in: path
          description: 'key: id of appScope'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appScope
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appScope'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Delete navigation property appScopes for roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_DeleteAppScopes
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - name: appScope-id
          in: path
          description: 'key: id of appScope'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appScope
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}/directoryScopes':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get directoryScopes from roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_ListDirectoryScopes
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}/directoryScopes/{directoryObject-id}':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get directoryScopes from roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_GetDirectoryScopes
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}/directoryScopes/$ref':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get ref of directoryScopes from roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_ListRefDirectoryScopes
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Create new navigation property ref to directoryScopes for roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_CreateRefDirectoryScopes
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}/principals':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get principals from roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_ListPrincipals
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}/principals/{directoryObject-id}':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get principals from roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_GetPrincipals
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}/principals/$ref':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get ref of principals from roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_ListRefPrincipals
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Create new navigation property ref to principals for roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_CreateRefPrincipals
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}/roleDefinition':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get roleDefinition from roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_GetRoleDefinition
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleAssignments/{unifiedRoleAssignmentMultiple-id}/roleDefinition/$ref':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get ref of roleDefinition from roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_GetRefRoleDefinition
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Update the ref of navigation property roleDefinition in roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_UpdateRefRoleDefinition
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Delete ref of navigation property roleDefinition for roleManagement
      operationId: roleManagement.deviceManagement.roleAssignments_DeleteRefRoleDefinition
      parameters:
        - name: unifiedRoleAssignmentMultiple-id
          in: path
          description: 'key: id of unifiedRoleAssignmentMultiple'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignmentMultiple
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/deviceManagement/roleDefinitions:
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get roleDefinitions from roleManagement
      operationId: roleManagement.deviceManagement_ListRoleDefinitions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isBuiltIn
                - isBuiltIn desc
                - isEnabled
                - isEnabled desc
                - resourceScopes
                - resourceScopes desc
                - rolePermissions
                - rolePermissions desc
                - templateId
                - templateId desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Create new navigation property to roleDefinitions for roleManagement
      operationId: roleManagement.deviceManagement_CreateRoleDefinitions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/deviceManagement/roleDefinitions/{unifiedRoleDefinition-id}':
    get:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Get roleDefinitions from roleManagement
      operationId: roleManagement.deviceManagement_GetRoleDefinitions
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Update the navigation property roleDefinitions in roleManagement
      operationId: roleManagement.deviceManagement_UpdateRoleDefinitions
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplicationMultiple
      summary: Delete navigation property roleDefinitions for roleManagement
      operationId: roleManagement.deviceManagement_DeleteRoleDefinitions
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get directory from roleManagement
      operationId: roleManagement_GetDirectory
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleDefinitions
                - roleAssignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinitions
                - roleAssignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.rbacApplication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property directory in roleManagement
      operationId: roleManagement_UpdateDirectory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.rbacApplication'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property directory for roleManagement
      operationId: roleManagement_DeleteDirectory
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignments:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleAssignments from roleManagement
      operationId: roleManagement.directory_ListRoleAssignments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - roleDefinitionId
                - roleDefinitionId desc
                - condition
                - condition desc
                - principalId
                - principalId desc
                - directoryScopeId
                - directoryScopeId desc
                - appScopeId
                - appScopeId desc
                - resourceScope
                - resourceScope desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleDefinitionId
                - condition
                - principalId
                - directoryScopeId
                - appScopeId
                - resourceScope
                - roleDefinition
                - principal
                - directoryScope
                - appScope
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
                - principal
                - directoryScope
                - appScope
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplication
      summary: Create new navigation property to roleAssignments for roleManagement
      operationId: roleManagement.directory_CreateRoleAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleAssignments from roleManagement
      operationId: roleManagement.directory_GetRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleDefinitionId
                - condition
                - principalId
                - directoryScopeId
                - appScopeId
                - resourceScope
                - roleDefinition
                - principal
                - directoryScope
                - appScope
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
                - principal
                - directoryScope
                - appScope
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property roleAssignments in roleManagement
      operationId: roleManagement.directory_UpdateRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property roleAssignments for roleManagement
      operationId: roleManagement.directory_DeleteRoleAssignments
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/appScope':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get appScope from roleManagement
      operationId: roleManagement.directory.roleAssignments_GetAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - type
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property appScope in roleManagement
      operationId: roleManagement.directory.roleAssignments_UpdateAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appScope'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property appScope for roleManagement
      operationId: roleManagement.directory.roleAssignments_DeleteAppScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/directoryScope':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get directoryScope from roleManagement
      operationId: roleManagement.directory.roleAssignments_GetDirectoryScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/directoryScope/$ref':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get ref of directoryScope from roleManagement
      operationId: roleManagement.directory.roleAssignments_GetRefDirectoryScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - roleManagement.rbacApplication
      summary: Update the ref of navigation property directoryScope in roleManagement
      operationId: roleManagement.directory.roleAssignments_UpdateRefDirectoryScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete ref of navigation property directoryScope for roleManagement
      operationId: roleManagement.directory.roleAssignments_DeleteRefDirectoryScope
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/principal':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get principal from roleManagement
      operationId: roleManagement.directory.roleAssignments_GetPrincipal
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/principal/$ref':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get ref of principal from roleManagement
      operationId: roleManagement.directory.roleAssignments_GetRefPrincipal
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - roleManagement.rbacApplication
      summary: Update the ref of navigation property principal in roleManagement
      operationId: roleManagement.directory.roleAssignments_UpdateRefPrincipal
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete ref of navigation property principal for roleManagement
      operationId: roleManagement.directory.roleAssignments_DeleteRefPrincipal
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/roleDefinition':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleDefinition from roleManagement
      operationId: roleManagement.directory.roleAssignments_GetRoleDefinition
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/roleDefinition/$ref':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get ref of roleDefinition from roleManagement
      operationId: roleManagement.directory.roleAssignments_GetRefRoleDefinition
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - roleManagement.rbacApplication
      summary: Update the ref of navigation property roleDefinition in roleManagement
      operationId: roleManagement.directory.roleAssignments_UpdateRefRoleDefinition
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete ref of navigation property roleDefinition for roleManagement
      operationId: roleManagement.directory.roleAssignments_DeleteRefRoleDefinition
      parameters:
        - name: unifiedRoleAssignment-id
          in: path
          description: 'key: id of unifiedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleDefinitions:
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleDefinitions from roleManagement
      operationId: roleManagement.directory_ListRoleDefinitions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isBuiltIn
                - isBuiltIn desc
                - isEnabled
                - isEnabled desc
                - resourceScopes
                - resourceScopes desc
                - rolePermissions
                - rolePermissions desc
                - templateId
                - templateId desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - roleManagement.rbacApplication
      summary: Create new navigation property to roleDefinitions for roleManagement
      operationId: roleManagement.directory_CreateRoleDefinitions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/roleManagement/directory/roleDefinitions/{unifiedRoleDefinition-id}':
    get:
      tags:
        - roleManagement.rbacApplication
      summary: Get roleDefinitions from roleManagement
      operationId: roleManagement.directory_GetRoleDefinitions
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - isEnabled
                - resourceScopes
                - rolePermissions
                - templateId
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.rbacApplication
      summary: Update the navigation property roleDefinitions in roleManagement
      operationId: roleManagement.directory_UpdateRoleDefinitions
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - roleManagement.rbacApplication
      summary: Delete navigation property roleDefinitions for roleManagement
      operationId: roleManagement.directory_DeleteRoleDefinitions
      parameters:
        - name: unifiedRoleDefinition-id
          in: path
          description: 'key: id of unifiedRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: unifiedRoleDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.roleManagement:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: roleManagement
          type: object
          properties:
            directory:
              $ref: '#/components/schemas/microsoft.graph.rbacApplication'
            deviceManagement:
              $ref: '#/components/schemas/microsoft.graph.rbacApplicationMultiple'
          additionalProperties:
            type: object
    microsoft.graph.rbacApplicationMultiple:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: rbacApplicationMultiple
          type: object
          properties:
            roleDefinitions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
            roleAssignments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentMultiple'
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleAssignmentMultiple:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: unifiedRoleAssignmentMultiple
          type: object
          properties:
            roleDefinitionId:
              type: string
            condition:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            principalIds:
              type: array
              items:
                type: string
                nullable: true
            directoryScopeIds:
              type: array
              items:
                type: string
                nullable: true
            appScopeIds:
              type: array
              items:
                type: string
                nullable: true
            roleDefinition:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
            principals:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            directoryScopes:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            appScopes:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.appScope'
          additionalProperties:
            type: object
    microsoft.graph.appScope:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: appScope
          type: object
          properties:
            type:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.unifiedRoleDefinition:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: unifiedRoleDefinition
          type: object
          properties:
            description:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            isBuiltIn:
              type: boolean
              nullable: true
            isEnabled:
              type: boolean
              nullable: true
            resourceScopes:
              type: array
              items:
                type: string
            rolePermissions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRolePermission'
            templateId:
              type: string
              nullable: true
            version:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.rbacApplication:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: rbacApplication
          type: object
          properties:
            roleDefinitions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
            roleAssignments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: unifiedRoleAssignment
          type: object
          properties:
            roleDefinitionId:
              type: string
              nullable: true
            condition:
              type: string
              nullable: true
            principalId:
              type: string
              nullable: true
            directoryScopeId:
              type: string
              nullable: true
            appScopeId:
              type: string
              nullable: true
            resourceScope:
              type: string
              nullable: true
            roleDefinition:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
            principal:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            directoryScope:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            appScope:
              $ref: '#/components/schemas/microsoft.graph.appScope'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.unifiedRolePermission:
      title: unifiedRolePermission
      type: object
      properties:
        allowedResourceActions:
          type: array
          items:
            type: string
        excludedResourceActions:
          type: array
          items:
            type: string
            nullable: true
        condition:
          type: string
          nullable: true
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]