openapi: 3.0.1
info:
  title: Identity.Organization
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /organization:
    get:
      tags:
        - organization.organization
      summary: Get entities from organization
      operationId: organization.organization_ListOrganization
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - country
                - country desc
                - countryLetterCode
                - countryLetterCode desc
                - createdDateTime
                - createdDateTime desc
                - directorySizeQuota
                - directorySizeQuota desc
                - displayName
                - displayName desc
                - isMultipleDataLocationsForServicesEnabled
                - isMultipleDataLocationsForServicesEnabled desc
                - marketingNotificationEmails
                - marketingNotificationEmails desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - postalCode
                - postalCode desc
                - preferredLanguage
                - preferredLanguage desc
                - privacyProfile
                - privacyProfile desc
                - provisionedPlans
                - provisionedPlans desc
                - securityComplianceNotificationMails
                - securityComplianceNotificationMails desc
                - securityComplianceNotificationPhones
                - securityComplianceNotificationPhones desc
                - state
                - state desc
                - street
                - street desc
                - technicalNotificationMails
                - technicalNotificationMails desc
                - verifiedDomains
                - verifiedDomains desc
                - mobileDeviceManagementAuthority
                - mobileDeviceManagementAuthority desc
                - certificateConnectorSetting
                - certificateConnectorSetting desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedPlans
                - businessPhones
                - city
                - country
                - countryLetterCode
                - createdDateTime
                - directorySizeQuota
                - displayName
                - isMultipleDataLocationsForServicesEnabled
                - marketingNotificationEmails
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - postalCode
                - preferredLanguage
                - privacyProfile
                - provisionedPlans
                - securityComplianceNotificationMails
                - securityComplianceNotificationPhones
                - state
                - street
                - technicalNotificationMails
                - verifiedDomains
                - mobileDeviceManagementAuthority
                - certificateConnectorSetting
                - brandings
                - certificateBasedAuthConfiguration
                - extensions
                - settings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - brandings
                - certificateBasedAuthConfiguration
                - extensions
                - settings
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of organization
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.organization'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - organization.organization
      summary: Add new entity to organization
      operationId: organization.organization_CreateOrganization
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organization'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}':
    get:
      tags:
        - organization.organization
      summary: Get entity from organization by key
      operationId: organization.organization_GetOrganization
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedPlans
                - businessPhones
                - city
                - country
                - countryLetterCode
                - createdDateTime
                - directorySizeQuota
                - displayName
                - isMultipleDataLocationsForServicesEnabled
                - marketingNotificationEmails
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - postalCode
                - preferredLanguage
                - privacyProfile
                - provisionedPlans
                - securityComplianceNotificationMails
                - securityComplianceNotificationPhones
                - state
                - street
                - technicalNotificationMails
                - verifiedDomains
                - mobileDeviceManagementAuthority
                - certificateConnectorSetting
                - brandings
                - certificateBasedAuthConfiguration
                - extensions
                - settings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - brandings
                - certificateBasedAuthConfiguration
                - extensions
                - settings
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organization
      summary: Update entity in organization
      operationId: organization.organization_UpdateOrganization
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organization
      summary: Delete entity from organization
      operationId: organization.organization_DeleteOrganization
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/brandings':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get brandings from organization
      operationId: organization_ListBrandings
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - backgroundColor
                - backgroundColor desc
                - backgroundImage
                - backgroundImage desc
                - bannerLogo
                - bannerLogo desc
                - locale
                - locale desc
                - signInPageText
                - signInPageText desc
                - squareLogo
                - squareLogo desc
                - usernameHintText
                - usernameHintText desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - backgroundColor
                - backgroundImage
                - bannerLogo
                - locale
                - signInPageText
                - squareLogo
                - usernameHintText
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of organizationalBranding
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - organization.organizationalBranding
      summary: Create new navigation property to brandings for organization
      operationId: organization_CreateBrandings
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/brandings/{organizationalBranding-id}':
    get:
      tags:
        - organization.organizationalBranding
      summary: Get brandings from organization
      operationId: organization_GetBrandings
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBranding-id
          in: path
          description: 'key: id of organizationalBranding'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organizationalBranding
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - backgroundColor
                - backgroundImage
                - bannerLogo
                - locale
                - signInPageText
                - squareLogo
                - usernameHintText
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organizationalBranding
      summary: Update the navigation property brandings in organization
      operationId: organization_UpdateBrandings
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBranding-id
          in: path
          description: 'key: id of organizationalBranding'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organizationalBranding
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organizationalBranding
      summary: Delete navigation property brandings for organization
      operationId: organization_DeleteBrandings
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: organizationalBranding-id
          in: path
          description: 'key: id of organizationalBranding'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organizationalBranding
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/certificateBasedAuthConfiguration':
    get:
      tags:
        - organization.certificateBasedAuthConfiguration
      summary: Get certificateBasedAuthConfiguration from organization
      operationId: organization_ListCertificateBasedAuthConfiguration
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - certificateAuthorities
                - certificateAuthorities desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - certificateAuthorities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of certificateBasedAuthConfiguration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthConfiguration'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/certificateBasedAuthConfiguration/{certificateBasedAuthConfiguration-id}':
    get:
      tags:
        - organization.certificateBasedAuthConfiguration
      summary: Get certificateBasedAuthConfiguration from organization
      operationId: organization_GetCertificateBasedAuthConfiguration
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: certificateBasedAuthConfiguration-id
          in: path
          description: 'key: id of certificateBasedAuthConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - certificateAuthorities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/certificateBasedAuthConfiguration/$ref':
    get:
      tags:
        - organization.certificateBasedAuthConfiguration
      summary: Get ref of certificateBasedAuthConfiguration from organization
      operationId: organization_ListRefCertificateBasedAuthConfiguration
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - certificateAuthorities
                - certificateAuthorities desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of certificateBasedAuthConfiguration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - organization.certificateBasedAuthConfiguration
      summary: Create new navigation property ref to certificateBasedAuthConfiguration for organization
      operationId: organization_CreateRefCertificateBasedAuthConfiguration
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/extensions':
    get:
      tags:
        - organization.extension
      summary: Get extensions from organization
      operationId: organization_ListExtensions
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - organization.extension
      summary: Create new navigation property to extensions for organization
      operationId: organization_CreateExtensions
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/extensions/{extension-id}':
    get:
      tags:
        - organization.extension
      summary: Get extensions from organization
      operationId: organization_GetExtensions
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.extension
      summary: Update the navigation property extensions in organization
      operationId: organization_UpdateExtensions
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.extension
      summary: Delete navigation property extensions for organization
      operationId: organization_DeleteExtensions
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - organization.Actions
      summary: Invoke action checkMemberGroups
      operationId: organization_checkMemberGroups
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/organization/{organization-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - organization.Actions
      summary: Invoke action checkMemberObjects
      operationId: organization_checkMemberObjects
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/organization/{organization-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - organization.Actions
      summary: Invoke action getMemberGroups
      operationId: organization_getMemberGroups
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/organization/{organization-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - organization.Actions
      summary: Invoke action getMemberObjects
      operationId: organization_getMemberObjects
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/organization/{organization-id}/microsoft.graph.restore':
    post:
      tags:
        - organization.Actions
      summary: Invoke action restore
      operationId: organization_restore
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/organization/{organization-id}/microsoft.graph.setMobileDeviceManagementAuthority':
    post:
      tags:
        - organization.Actions
      summary: Invoke action setMobileDeviceManagementAuthority
      operationId: organization_setMobileDeviceManagementAuthority
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                maximum: 2147483647
                minimum: -2147483648
                type: integer
                format: int32
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/organization/{organization-id}/settings':
    get:
      tags:
        - organization.organizationSettings
      summary: Get settings from organization
      operationId: organization_GetSettings
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - profileCardProperties
                - itemInsights
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - profileCardProperties
                - itemInsights
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organizationSettings
      summary: Update the navigation property settings in organization
      operationId: organization_UpdateSettings
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organizationSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organizationSettings
      summary: Delete navigation property settings for organization
      operationId: organization_DeleteSettings
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/settings/itemInsights':
    get:
      tags:
        - organization.organizationSettings
      summary: Get itemInsights from organization
      operationId: organization.settings_GetItemInsights
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isEnabledInOrganization
                - disabledForGroup
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemInsightsSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organizationSettings
      summary: Update the navigation property itemInsights in organization
      operationId: organization.settings_UpdateItemInsights
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemInsightsSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organizationSettings
      summary: Delete navigation property itemInsights for organization
      operationId: organization.settings_DeleteItemInsights
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/settings/profileCardProperties':
    get:
      tags:
        - organization.organizationSettings
      summary: Get profileCardProperties from organization
      operationId: organization.settings_ListProfileCardProperties
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - directoryPropertyName
                - directoryPropertyName desc
                - annotations
                - annotations desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - directoryPropertyName
                - annotations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of profileCardProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - organization.organizationSettings
      summary: Create new navigation property to profileCardProperties for organization
      operationId: organization.settings_CreateProfileCardProperties
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/settings/profileCardProperties/{profileCardProperty-id}':
    get:
      tags:
        - organization.organizationSettings
      summary: Get profileCardProperties from organization
      operationId: organization.settings_GetProfileCardProperties
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: profileCardProperty-id
          in: path
          description: 'key: id of profileCardProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: profileCardProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - directoryPropertyName
                - annotations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - organization.organizationSettings
      summary: Update the navigation property profileCardProperties in organization
      operationId: organization.settings_UpdateProfileCardProperties
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: profileCardProperty-id
          in: path
          description: 'key: id of profileCardProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: profileCardProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - organization.organizationSettings
      summary: Delete navigation property profileCardProperties for organization
      operationId: organization.settings_DeleteProfileCardProperties
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: profileCardProperty-id
          in: path
          description: 'key: id of profileCardProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: profileCardProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /organization/microsoft.graph.getByIds:
    post:
      tags:
        - organization.Actions
      summary: Invoke action getByIds
      operationId: organization_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /organization/microsoft.graph.getUserOwnedObjects:
    post:
      tags:
        - organization.Actions
      summary: Invoke action getUserOwnedObjects
      operationId: organization_getUserOwnedObjects
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  nullable: true
                type:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /organization/microsoft.graph.validateProperties:
    post:
      tags:
        - organization.Actions
      summary: Invoke action validateProperties
      operationId: organization_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.organization:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: organization
          type: object
          properties:
            assignedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.assignedPlan'
              description: The collection of service plans associated with the tenant. Not nullable.
            businessPhones:
              type: array
              items:
                type: string
              description: 'Telephone number for the organization. NOTE: Although this is a string collection, only one number can be set for this property.'
            city:
              type: string
              description: City name of the address for the organization.
              nullable: true
            country:
              type: string
              description: Country/region name of the address for the organization.
              nullable: true
            countryLetterCode:
              type: string
              description: Country/region abbreviation for the organization.
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Timestamp of when the organization was created. The value cannot be modified and is automatically populated when the organization is created. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            directorySizeQuota:
              $ref: '#/components/schemas/microsoft.graph.directorySizeQuota'
            displayName:
              type: string
              description: The display name for the tenant.
              nullable: true
            isMultipleDataLocationsForServicesEnabled:
              type: boolean
              description: 'true if organization is Multi-Geo enabled; false if organization is not Multi-Geo enabled; null (default). Read-only. For more information, see OneDrive Online Multi-Geo.'
              nullable: true
            marketingNotificationEmails:
              type: array
              items:
                type: string
              description: Not nullable.
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The time and date at which the tenant was last synced with the on-premise directory. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              description: true if this object is synced from an on-premises directory; false if this object was originally synced from an on-premises directory but is no longer synced; null if this object has never been synced from an on-premises directory (default).
              nullable: true
            postalCode:
              type: string
              description: Postal code of the address for the organization.
              nullable: true
            preferredLanguage:
              type: string
              description: The preferred language for the organization. Should follow ISO 639-1 Code; for example 'en'.
              nullable: true
            privacyProfile:
              $ref: '#/components/schemas/microsoft.graph.privacyProfile'
            provisionedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.provisionedPlan'
              description: Not nullable.
            securityComplianceNotificationMails:
              type: array
              items:
                type: string
            securityComplianceNotificationPhones:
              type: array
              items:
                type: string
            state:
              type: string
              description: State name of the address for the organization.
              nullable: true
            street:
              type: string
              description: Street name of the address for organization.
              nullable: true
            technicalNotificationMails:
              type: array
              items:
                type: string
              description: Not nullable.
            verifiedDomains:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.verifiedDomain'
              description: The collection of domains associated with this tenant. Not nullable.
            mobileDeviceManagementAuthority:
              $ref: '#/components/schemas/microsoft.graph.mdmAuthority'
            certificateConnectorSetting:
              $ref: '#/components/schemas/microsoft.graph.certificateConnectorSetting'
            brandings:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
            certificateBasedAuthConfiguration:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthConfiguration'
              description: Navigation property to manage certificate-based authentication configuration. Only a single instance of certificateBasedAuthConfiguration can be created in the collection.
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the organization. Read-only. Nullable.
            settings:
              $ref: '#/components/schemas/microsoft.graph.organizationSettings'
          additionalProperties:
            type: object
          description: The organization resource represents an instance of global settings and resources which operate and are provisioned at the tenant-level.
    microsoft.graph.organizationalBranding:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: organizationalBranding
          type: object
          properties:
            backgroundColor:
              type: string
              nullable: true
            backgroundImage:
              type: string
              format: base64url
            bannerLogo:
              type: string
              format: base64url
            locale:
              type: string
              nullable: true
            signInPageText:
              type: string
              nullable: true
            squareLogo:
              type: string
              format: base64url
            usernameHintText:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.certificateBasedAuthConfiguration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: certificateBasedAuthConfiguration
          type: object
          properties:
            certificateAuthorities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.certificateAuthority'
              description: Collection of certificate authorities which creates a trusted certificate chain.
          additionalProperties:
            type: object
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
          additionalProperties:
            type: object
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.organizationSettings:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: organizationSettings
          type: object
          properties:
            profileCardProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
            itemInsights:
              $ref: '#/components/schemas/microsoft.graph.itemInsightsSettings'
          additionalProperties:
            type: object
    microsoft.graph.itemInsightsSettings:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: itemInsightsSettings
          type: object
          properties:
            isEnabledInOrganization:
              type: boolean
              nullable: true
            disabledForGroup:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.profileCardProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: profileCardProperty
          type: object
          properties:
            directoryPropertyName:
              type: string
              nullable: true
            annotations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.profileCardAnnotation'
          additionalProperties:
            type: object
    microsoft.graph.assignedPlan:
      title: assignedPlan
      type: object
      properties:
        assignedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The date and time at which the plan was assigned; for example: 2013-01-02T19:32:30Z. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
          format: date-time
          nullable: true
        capabilityStatus:
          type: string
          description: 'For example, ''Enabled''.'
          nullable: true
        service:
          type: string
          description: 'The name of the service; for example, ''Exchange''.'
          nullable: true
        servicePlanId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          description: A GUID that identifies the service plan.
          format: uuid
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.directorySizeQuota:
      title: directorySizeQuota
      type: object
      properties:
        used:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        total:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.privacyProfile:
      title: privacyProfile
      type: object
      properties:
        contactEmail:
          type: string
          description: A valid smtp email address for the privacy statement contact. Not required.
          nullable: true
        statementUrl:
          type: string
          description: A valid URL format that begins with http:// or https://. Maximum length is 255 characters. The URL that directs to the company's privacy statement. Not required.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.provisionedPlan:
      title: provisionedPlan
      type: object
      properties:
        capabilityStatus:
          type: string
          description: 'For example, ''Enabled''.'
          nullable: true
        provisioningStatus:
          type: string
          description: 'For example, ''Success''.'
          nullable: true
        service:
          type: string
          description: 'The name of the service; for example, ''AccessControlS2S'''
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.verifiedDomain:
      title: verifiedDomain
      type: object
      properties:
        capabilities:
          type: string
          description: 'For example, ''Email'', ''OfficeCommunicationsOnline''.'
          nullable: true
        isDefault:
          type: boolean
          description: 'true if this is the default domain associated with the tenant; otherwise, false.'
          nullable: true
        isInitial:
          type: boolean
          description: 'true if this is the initial domain associated with the tenant; otherwise, false'
          nullable: true
        name:
          type: string
          description: 'The domain name; for example, ''contoso.onmicrosoft.com'''
          nullable: true
        type:
          type: string
          description: 'For example, ''Managed''.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.mdmAuthority:
      title: mdmAuthority
      enum:
        - unknown
        - intune
        - sccm
        - office365
      type: string
    microsoft.graph.certificateConnectorSetting:
      title: certificateConnectorSetting
      type: object
      properties:
        status:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Certificate connector status
          format: int32
        certExpiryTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: Certificate expire time
          format: date-time
        enrollmentError:
          type: string
          description: Certificate connector enrollment error
          nullable: true
        lastConnectorConnectionTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: Last time certificate connector connected
          format: date-time
        connectorVersion:
          type: string
          description: Version of certificate connector
          nullable: true
        lastUploadVersion:
          type: integer
          description: Version of last uploaded certificate connector
          format: int64
      additionalProperties:
        type: object
      description: Certificate connector settings.
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.certificateAuthority:
      title: certificateAuthority
      type: object
      properties:
        isRootAuthority:
          type: boolean
          description: 'Required. true if the trusted certificate is a root authority, false if the trusted certificate is an intermediate authority.'
        certificateRevocationListUrl:
          type: string
          description: The URL of the certificate revocation list.
          nullable: true
        deltaCertificateRevocationListUrl:
          type: string
          description: The URL contains the list of all revoked certificates since the last time a full certificate revocaton list was created.
          nullable: true
        certificate:
          type: string
          description: Required. The base64 encoded string representing the public certificate.
          format: base64url
        issuer:
          type: string
          description: 'The issuer of the certificate, calculated from the certificate value. Read-only.'
        issuerSki:
          type: string
          description: 'The subject key identifier of the certificate, calculated from the certificate value. Read-only.'
      additionalProperties:
        type: object
    microsoft.graph.profileCardAnnotation:
      title: profileCardAnnotation
      type: object
      properties:
        displayName:
          type: string
          nullable: true
        localizations:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.displayNameLocalization'
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.displayNameLocalization:
      title: displayNameLocalization
      type: object
      properties:
        languageTag:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]