openapi: 3.0.1
info:
  title: Identity.Application
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /applications:
    get:
      tags:
        - applications.application
      summary: Get entities from applications
      operationId: applications.application_ListApplication
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - api
                - api desc
                - appId
                - appId desc
                - appRoles
                - appRoles desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - isFallbackPublicClient
                - isFallbackPublicClient desc
                - identifierUris
                - identifierUris desc
                - displayName
                - displayName desc
                - groupMembershipClaims
                - groupMembershipClaims desc
                - info
                - info desc
                - isDeviceOnlyAuthSupported
                - isDeviceOnlyAuthSupported desc
                - keyCredentials
                - keyCredentials desc
                - logo
                - logo desc
                - notes
                - notes desc
                - optionalClaims
                - optionalClaims desc
                - parentalControlSettings
                - parentalControlSettings desc
                - passwordCredentials
                - passwordCredentials desc
                - publicClient
                - publicClient desc
                - publisherDomain
                - publisherDomain desc
                - requiredResourceAccess
                - requiredResourceAccess desc
                - signInAudience
                - signInAudience desc
                - tags
                - tags desc
                - tokenEncryptionKeyId
                - tokenEncryptionKeyId desc
                - web
                - web desc
                - onPremisesPublishing
                - onPremisesPublishing desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - api
                - appId
                - appRoles
                - createdDateTime
                - description
                - isFallbackPublicClient
                - identifierUris
                - displayName
                - groupMembershipClaims
                - info
                - isDeviceOnlyAuthSupported
                - keyCredentials
                - logo
                - notes
                - optionalClaims
                - parentalControlSettings
                - passwordCredentials
                - publicClient
                - publisherDomain
                - requiredResourceAccess
                - signInAudience
                - tags
                - tokenEncryptionKeyId
                - web
                - onPremisesPublishing
                - extensionProperties
                - createdOnBehalfOf
                - owners
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - connectorGroup
                - synchronization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensionProperties
                - createdOnBehalfOf
                - owners
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - connectorGroup
                - synchronization
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of application
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.application'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.application
      summary: Add new entity to applications
      operationId: applications.application_CreateApplication
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.application'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}':
    get:
      tags:
        - applications.application
      summary: Get entity from applications by key
      operationId: applications.application_GetApplication
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - api
                - appId
                - appRoles
                - createdDateTime
                - description
                - isFallbackPublicClient
                - identifierUris
                - displayName
                - groupMembershipClaims
                - info
                - isDeviceOnlyAuthSupported
                - keyCredentials
                - logo
                - notes
                - optionalClaims
                - parentalControlSettings
                - passwordCredentials
                - publicClient
                - publisherDomain
                - requiredResourceAccess
                - signInAudience
                - tags
                - tokenEncryptionKeyId
                - web
                - onPremisesPublishing
                - extensionProperties
                - createdOnBehalfOf
                - owners
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - connectorGroup
                - synchronization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensionProperties
                - createdOnBehalfOf
                - owners
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - connectorGroup
                - synchronization
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.application
      summary: Update entity in applications
      operationId: applications.application_UpdateApplication
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.application'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.application
      summary: Delete entity from applications
      operationId: applications.application_DeleteApplication
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/connectorGroup':
    get:
      tags:
        - applications.connectorGroup
      summary: Get connectorGroup from applications
      operationId: applications_GetConnectorGroup
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - connectorGroupType
                - isDefault
                - region
                - members
                - applications
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
                - applications
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.connectorGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/connectorGroup/$ref':
    get:
      tags:
        - applications.connectorGroup
      summary: Get ref of connectorGroup from applications
      operationId: applications_GetRefConnectorGroup
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - applications.connectorGroup
      summary: Update the ref of navigation property connectorGroup in applications
      operationId: applications_UpdateRefConnectorGroup
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.connectorGroup
      summary: Delete ref of navigation property connectorGroup for applications
      operationId: applications_DeleteRefConnectorGroup
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/createdOnBehalfOf':
    get:
      tags:
        - applications.directoryObject
      summary: Get createdOnBehalfOf from applications
      operationId: applications_GetCreatedOnBehalfOf
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/createdOnBehalfOf/$ref':
    get:
      tags:
        - applications.directoryObject
      summary: Get ref of createdOnBehalfOf from applications
      operationId: applications_GetRefCreatedOnBehalfOf
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - applications.directoryObject
      summary: Update the ref of navigation property createdOnBehalfOf in applications
      operationId: applications_UpdateRefCreatedOnBehalfOf
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.directoryObject
      summary: Delete ref of navigation property createdOnBehalfOf for applications
      operationId: applications_DeleteRefCreatedOnBehalfOf
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/extensionProperties':
    get:
      tags:
        - applications.extensionProperty
      summary: Get extensionProperties from applications
      operationId: applications_ListExtensionProperties
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - appDisplayName
                - appDisplayName desc
                - name
                - name desc
                - dataType
                - dataType desc
                - isSyncedFromOnPremises
                - isSyncedFromOnPremises desc
                - targetObjects
                - targetObjects desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - appDisplayName
                - name
                - dataType
                - isSyncedFromOnPremises
                - targetObjects
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extensionProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extensionProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.extensionProperty
      summary: Create new navigation property to extensionProperties for applications
      operationId: applications_CreateExtensionProperties
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/extensionProperties/{extensionProperty-id}':
    get:
      tags:
        - applications.extensionProperty
      summary: Get extensionProperties from applications
      operationId: applications_GetExtensionProperties
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: extensionProperty-id
          in: path
          description: 'key: id of extensionProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extensionProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - appDisplayName
                - name
                - dataType
                - isSyncedFromOnPremises
                - targetObjects
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.extensionProperty
      summary: Update the navigation property extensionProperties in applications
      operationId: applications_UpdateExtensionProperties
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: extensionProperty-id
          in: path
          description: 'key: id of extensionProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extensionProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.extensionProperty
      summary: Delete navigation property extensionProperties for applications
      operationId: applications_DeleteExtensionProperties
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: extensionProperty-id
          in: path
          description: 'key: id of extensionProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extensionProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/homeRealmDiscoveryPolicies':
    get:
      tags:
        - applications.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from applications
      operationId: applications_ListHomeRealmDiscoveryPolicies
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of homeRealmDiscoveryPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/homeRealmDiscoveryPolicies/{homeRealmDiscoveryPolicy-id}':
    get:
      tags:
        - applications.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from applications
      operationId: applications_GetHomeRealmDiscoveryPolicies
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: homeRealmDiscoveryPolicy-id
          in: path
          description: 'key: id of homeRealmDiscoveryPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: homeRealmDiscoveryPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/homeRealmDiscoveryPolicies/$ref':
    get:
      tags:
        - applications.homeRealmDiscoveryPolicy
      summary: Get ref of homeRealmDiscoveryPolicies from applications
      operationId: applications_ListRefHomeRealmDiscoveryPolicies
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of homeRealmDiscoveryPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.homeRealmDiscoveryPolicy
      summary: Create new navigation property ref to homeRealmDiscoveryPolicies for applications
      operationId: applications_CreateRefHomeRealmDiscoveryPolicies
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/microsoft.graph.addKey':
    post:
      tags:
        - applications.Actions
      summary: Invoke action addKey
      operationId: applications_addKey
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keyCredential:
                  $ref: '#/components/schemas/microsoft.graph.keyCredential'
                passwordCredential:
                  $ref: '#/components/schemas/microsoft.graph.passwordCredential'
                proof:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.keyCredential'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.addPassword':
    post:
      tags:
        - applications.Actions
      summary: Invoke action addPassword
      operationId: applications_addPassword
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                passwordCredential:
                  $ref: '#/components/schemas/microsoft.graph.passwordCredential'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordCredential'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - applications.Actions
      summary: Invoke action checkMemberGroups
      operationId: applications_checkMemberGroups
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - applications.Actions
      summary: Invoke action checkMemberObjects
      operationId: applications_checkMemberObjects
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - applications.Actions
      summary: Invoke action getMemberGroups
      operationId: applications_getMemberGroups
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - applications.Actions
      summary: Invoke action getMemberObjects
      operationId: applications_getMemberObjects
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.removeKey':
    post:
      tags:
        - applications.Actions
      summary: Invoke action removeKey
      operationId: applications_removeKey
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                proof:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.removePassword':
    post:
      tags:
        - applications.Actions
      summary: Invoke action removePassword
      operationId: applications_removePassword
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.restore':
    post:
      tags:
        - applications.Actions
      summary: Invoke action restore
      operationId: applications_restore
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/owners':
    get:
      tags:
        - applications.directoryObject
      summary: Get owners from applications
      operationId: applications_ListOwners
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/owners/{directoryObject-id}':
    get:
      tags:
        - applications.directoryObject
      summary: Get owners from applications
      operationId: applications_GetOwners
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/owners/$ref':
    get:
      tags:
        - applications.directoryObject
      summary: Get ref of owners from applications
      operationId: applications_ListRefOwners
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.directoryObject
      summary: Create new navigation property ref to owners for applications
      operationId: applications_CreateRefOwners
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization':
    get:
      tags:
        - applications.synchronization
      summary: Get synchronization from applications
      operationId: applications_GetSynchronization
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - secrets
                - jobs
                - templates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - templates
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property synchronization in applications
      operationId: applications_UpdateSynchronization
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.synchronization
      summary: Delete navigation property synchronization for applications
      operationId: applications_DeleteSynchronization
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs':
    get:
      tags:
        - applications.synchronization
      summary: Get jobs from applications
      operationId: applications.synchronization_ListJobs
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - schedule
                - schedule desc
                - status
                - status desc
                - templateId
                - templateId desc
                - synchronizationJobSettings
                - synchronizationJobSettings desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - schedule
                - status
                - templateId
                - synchronizationJobSettings
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of synchronizationJob
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.synchronization
      summary: Create new navigation property to jobs for applications
      operationId: applications.synchronization_CreateJobs
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}':
    get:
      tags:
        - applications.synchronization
      summary: Get jobs from applications
      operationId: applications.synchronization_GetJobs
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - schedule
                - status
                - templateId
                - synchronizationJobSettings
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property jobs in applications
      operationId: applications.synchronization_UpdateJobs
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.synchronization
      summary: Delete navigation property jobs for applications
      operationId: applications.synchronization_DeleteJobs
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.pause':
    post:
      tags:
        - applications.Actions
      summary: Invoke action pause
      operationId: applications.synchronization.jobs_pause
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.provisionOnDemand':
    post:
      tags:
        - applications.Actions
      summary: Invoke action provisionOnDemand
      operationId: applications.synchronization.jobs_provisionOnDemand
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                parameters:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationJobApplicationParameters'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.stringKeyStringValuePair'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.restart':
    post:
      tags:
        - applications.Actions
      summary: Invoke action restart
      operationId: applications.synchronization.jobs_restart
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                criteria:
                  $ref: '#/components/schemas/microsoft.graph.synchronizationJobRestartCriteria'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.start':
    post:
      tags:
        - applications.Actions
      summary: Invoke action start
      operationId: applications.synchronization.jobs_start
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.stop':
    post:
      tags:
        - applications.Actions
      summary: Invoke action stop
      operationId: applications.synchronization.jobs_stop
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.validateCredentials':
    post:
      tags:
        - applications.Actions
      summary: Invoke action validateCredentials
      operationId: applications.synchronization.jobs_validateCredentials
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationIdentifier:
                  type: string
                  nullable: true
                templateId:
                  type: string
                  nullable: true
                useSavedCredentials:
                  type: boolean
                  default: false
                  nullable: true
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema':
    get:
      tags:
        - applications.synchronization
      summary: Get schema from applications
      operationId: applications.synchronization.jobs_GetSchema
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - synchronizationRules
                - version
                - directories
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directories
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property schema in applications
      operationId: applications.synchronization.jobs_UpdateSchema
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.synchronization
      summary: Delete navigation property schema for applications
      operationId: applications.synchronization.jobs_DeleteSchema
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories':
    get:
      tags:
        - applications.synchronization
      summary: Get directories from applications
      operationId: applications.synchronization.jobs.schema_ListDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - discoveryDateTime
                - discoveryDateTime desc
                - discoverabilities
                - discoverabilities desc
                - name
                - name desc
                - objects
                - objects desc
                - readOnly
                - readOnly desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - discoveryDateTime
                - discoverabilities
                - name
                - objects
                - readOnly
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.synchronization
      summary: Create new navigation property to directories for applications
      operationId: applications.synchronization.jobs.schema_CreateDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/{directoryDefinition-id}':
    get:
      tags:
        - applications.synchronization
      summary: Get directories from applications
      operationId: applications.synchronization.jobs.schema_GetDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: directoryDefinition-id
          in: path
          description: 'key: id of directoryDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - discoveryDateTime
                - discoverabilities
                - name
                - objects
                - readOnly
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property directories in applications
      operationId: applications.synchronization.jobs.schema_UpdateDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: directoryDefinition-id
          in: path
          description: 'key: id of directoryDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.synchronization
      summary: Delete navigation property directories for applications
      operationId: applications.synchronization.jobs.schema_DeleteDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: directoryDefinition-id
          in: path
          description: 'key: id of directoryDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/{directoryDefinition-id}/microsoft.graph.discover':
    post:
      tags:
        - applications.Actions
      summary: Invoke action discover
      operationId: applications.synchronization.jobs.schema.directories_discover
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: directoryDefinition-id
          in: path
          description: 'key: id of directoryDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryDefinition
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.filterOperators()':
    get:
      tags:
        - applications.Functions
      summary: Invoke function filterOperators
      operationId: applications.synchronization.jobs.schema_filterOperators
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.filterOperatorSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.functions()':
    get:
      tags:
        - applications.Functions
      summary: Invoke function functions
      operationId: applications.synchronization.jobs.schema_functions
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.parseExpression':
    post:
      tags:
        - applications.Actions
      summary: Invoke action parseExpression
      operationId: applications.synchronization.jobs.schema_parseExpression
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                  nullable: true
                testInputObject:
                  $ref: '#/components/schemas/microsoft.graph.expressionInputObject'
                targetAttributeDefinition:
                  $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.parseExpressionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/microsoft.graph.validateCredentials':
    post:
      tags:
        - applications.Actions
      summary: Invoke action validateCredentials
      operationId: applications.synchronization.jobs_validateCredentials
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationIdentifier:
                  type: string
                  nullable: true
                templateId:
                  type: string
                  nullable: true
                useSavedCredentials:
                  type: boolean
                  default: false
                  nullable: true
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/microsoft.graph.acquireAccessToken':
    post:
      tags:
        - applications.Actions
      summary: Invoke action acquireAccessToken
      operationId: applications.synchronization_acquireAccessToken
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/microsoft.graph.Ping()':
    get:
      tags:
        - applications.Functions
      summary: Invoke function Ping
      operationId: applications.synchronization_Ping
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/applications/{application-id}/synchronization/templates':
    get:
      tags:
        - applications.synchronization
      summary: Get templates from applications
      operationId: applications.synchronization_ListTemplates
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - applicationId
                - applicationId desc
                - default
                - default desc
                - description
                - description desc
                - discoverable
                - discoverable desc
                - factoryTag
                - factoryTag desc
                - metadata
                - metadata desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationId
                - default
                - description
                - discoverable
                - factoryTag
                - metadata
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of synchronizationTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.synchronization
      summary: Create new navigation property to templates for applications
      operationId: applications.synchronization_CreateTemplates
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}':
    get:
      tags:
        - applications.synchronization
      summary: Get templates from applications
      operationId: applications.synchronization_GetTemplates
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationId
                - default
                - description
                - discoverable
                - factoryTag
                - metadata
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property templates in applications
      operationId: applications.synchronization_UpdateTemplates
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.synchronization
      summary: Delete navigation property templates for applications
      operationId: applications.synchronization_DeleteTemplates
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema':
    get:
      tags:
        - applications.synchronization
      summary: Get schema from applications
      operationId: applications.synchronization.templates_GetSchema
      parameters:
        - name: application-id
          in: path
          description: 'key: id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - synchronizationRules
                - version
                - directories
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directories
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
[...]
