openapi: 3.0.1
info:
  title: Identity.AuditLogs
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLogs.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - signIns
                - directoryAudits
                - restrictedSignIns
                - directoryProvisioning
                - provisioning
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - signIns
                - directoryAudits
                - restrictedSignIns
                - directoryProvisioning
                - provisioning
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLogs.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_ListDirectoryAudits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - category
                - category desc
                - correlationId
                - correlationId desc
                - result
                - result desc
                - resultReason
                - resultReason desc
                - activityDisplayName
                - activityDisplayName desc
                - activityDateTime
                - activityDateTime desc
                - loggedByService
                - loggedByService desc
                - operationType
                - operationType desc
                - initiatedBy
                - initiatedBy desc
                - targetResources
                - targetResources desc
                - additionalDetails
                - additionalDetails desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - category
                - correlationId
                - result
                - resultReason
                - activityDisplayName
                - activityDateTime
                - loggedByService
                - operationType
                - initiatedBy
                - targetResources
                - additionalDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryAudit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryAudit'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLogs_CreateDirectoryAudits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_GetDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - category
                - correlationId
                - result
                - resultReason
                - activityDisplayName
                - activityDateTime
                - loggedByService
                - operationType
                - initiatedBy
                - targetResources
                - additionalDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLogs_UpdateDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.directoryAudit
      summary: Delete navigation property directoryAudits for auditLogs
      operationId: auditLogs_DeleteDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryProvisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLogs_ListDirectoryProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - tenantId
                - tenantId desc
                - jobId
                - jobId desc
                - cycleId
                - cycleId desc
                - changeId
                - changeId desc
                - action
                - action desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - servicePrincipal
                - servicePrincipal desc
                - initiatedBy
                - initiatedBy desc
                - sourceSystem
                - sourceSystem desc
                - targetSystem
                - targetSystem desc
                - sourceIdentity
                - sourceIdentity desc
                - targetIdentity
                - targetIdentity desc
                - statusInfo
                - statusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - modifiedProperties
                - modifiedProperties desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - tenantId
                - jobId
                - cycleId
                - changeId
                - action
                - durationInMilliseconds
                - servicePrincipal
                - initiatedBy
                - sourceSystem
                - targetSystem
                - sourceIdentity
                - targetIdentity
                - statusInfo
                - provisioningSteps
                - modifiedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of provisioningObjectSummary
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to directoryProvisioning for auditLogs
      operationId: auditLogs_CreateDirectoryProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryProvisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLogs_GetDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - tenantId
                - jobId
                - cycleId
                - changeId
                - action
                - durationInMilliseconds
                - servicePrincipal
                - initiatedBy
                - sourceSystem
                - targetSystem
                - sourceIdentity
                - targetIdentity
                - statusInfo
                - provisioningSteps
                - modifiedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property directoryProvisioning in auditLogs
      operationId: auditLogs_UpdateDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property directoryProvisioning for auditLogs
      operationId: auditLogs_DeleteDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLogs_ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - tenantId
                - tenantId desc
                - jobId
                - jobId desc
                - cycleId
                - cycleId desc
                - changeId
                - changeId desc
                - action
                - action desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - servicePrincipal
                - servicePrincipal desc
                - initiatedBy
                - initiatedBy desc
                - sourceSystem
                - sourceSystem desc
                - targetSystem
                - targetSystem desc
                - sourceIdentity
                - sourceIdentity desc
                - targetIdentity
                - targetIdentity desc
                - statusInfo
                - statusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - modifiedProperties
                - modifiedProperties desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - tenantId
                - jobId
                - cycleId
                - changeId
                - action
                - durationInMilliseconds
                - servicePrincipal
                - initiatedBy
                - sourceSystem
                - targetSystem
                - sourceIdentity
                - targetIdentity
                - statusInfo
                - provisioningSteps
                - modifiedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of provisioningObjectSummary
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLogs_CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLogs_GetProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - tenantId
                - jobId
                - cycleId
                - changeId
                - action
                - durationInMilliseconds
                - servicePrincipal
                - initiatedBy
                - sourceSystem
                - targetSystem
                - sourceIdentity
                - targetIdentity
                - statusInfo
                - provisioningSteps
                - modifiedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLogs_UpdateProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property provisioning for auditLogs
      operationId: auditLogs_DeleteProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/restrictedSignIns:
    get:
      tags:
        - auditLogs.restrictedSignIn
      summary: Get restrictedSignIns from auditLogs
      operationId: auditLogs_ListRestrictedSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - alternateSignInName
                - alternateSignInName desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - authenticationDetails
                - authenticationDetails desc
                - authenticationMethodsUsed
                - authenticationMethodsUsed desc
                - authenticationProcessingDetails
                - authenticationProcessingDetails desc
                - authenticationRequirement
                - authenticationRequirement desc
                - authenticationRequirementPolicies
                - authenticationRequirementPolicies desc
                - clientAppUsed
                - clientAppUsed desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - deviceDetail
                - deviceDetail desc
                - isInteractive
                - isInteractive desc
                - ipAddress
                - ipAddress desc
                - location
                - location desc
                - mfaDetail
                - mfaDetail desc
                - networkLocationDetails
                - networkLocationDetails desc
                - originalRequestId
                - originalRequestId desc
                - processingTimeInMilliseconds
                - processingTimeInMilliseconds desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes
                - riskEventTypes desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - resourceTenantId
                - resourceTenantId desc
                - servicePrincipalId
                - servicePrincipalId desc
                - servicePrincipalName
                - servicePrincipalName desc
                - signInEventTypes
                - signInEventTypes desc
                - status
                - status desc
                - tokenIssuerName
                - tokenIssuerName desc
                - tokenIssuerType
                - tokenIssuerType desc
                - userAgent
                - userAgent desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
                - targetTenantId
                - targetTenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateSignInName
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationRequirement
                - authenticationRequirementPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - isInteractive
                - ipAddress
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - processingTimeInMilliseconds
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - resourceDisplayName
                - resourceId
                - resourceTenantId
                - servicePrincipalId
                - servicePrincipalName
                - signInEventTypes
                - status
                - tokenIssuerName
                - tokenIssuerType
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
                - targetTenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of restrictedSignIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.restrictedSignIn
      summary: Create new navigation property to restrictedSignIns for auditLogs
      operationId: auditLogs_CreateRestrictedSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/restrictedSignIns/{restrictedSignIn-id}':
    get:
      tags:
        - auditLogs.restrictedSignIn
      summary: Get restrictedSignIns from auditLogs
      operationId: auditLogs_GetRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateSignInName
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationRequirement
                - authenticationRequirementPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - isInteractive
                - ipAddress
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - processingTimeInMilliseconds
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - resourceDisplayName
                - resourceId
                - resourceTenantId
                - servicePrincipalId
                - servicePrincipalName
                - signInEventTypes
                - status
                - tokenIssuerName
                - tokenIssuerType
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
                - targetTenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.restrictedSignIn
      summary: Update the navigation property restrictedSignIns in auditLogs
      operationId: auditLogs_UpdateRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.restrictedSignIn
      summary: Delete navigation property restrictedSignIns for auditLogs
      operationId: auditLogs_DeleteRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_ListSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - alternateSignInName
                - alternateSignInName desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - authenticationDetails
                - authenticationDetails desc
                - authenticationMethodsUsed
                - authenticationMethodsUsed desc
                - authenticationProcessingDetails
                - authenticationProcessingDetails desc
                - authenticationRequirement
                - authenticationRequirement desc
                - authenticationRequirementPolicies
                - authenticationRequirementPolicies desc
                - clientAppUsed
                - clientAppUsed desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - deviceDetail
                - deviceDetail desc
                - isInteractive
                - isInteractive desc
                - ipAddress
                - ipAddress desc
                - location
                - location desc
                - mfaDetail
                - mfaDetail desc
                - networkLocationDetails
                - networkLocationDetails desc
                - originalRequestId
                - originalRequestId desc
                - processingTimeInMilliseconds
                - processingTimeInMilliseconds desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes
                - riskEventTypes desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - resourceTenantId
                - resourceTenantId desc
                - servicePrincipalId
                - servicePrincipalId desc
                - servicePrincipalName
                - servicePrincipalName desc
                - signInEventTypes
                - signInEventTypes desc
                - status
                - status desc
                - tokenIssuerName
                - tokenIssuerName desc
                - tokenIssuerType
                - tokenIssuerType desc
                - userAgent
                - userAgent desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateSignInName
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationRequirement
                - authenticationRequirementPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - isInteractive
                - ipAddress
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - processingTimeInMilliseconds
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - resourceDisplayName
                - resourceId
                - resourceTenantId
                - servicePrincipalId
                - servicePrincipalName
                - signInEventTypes
                - status
                - tokenIssuerName
                - tokenIssuerType
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of signIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.signIn'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLogs_CreateSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_GetSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateSignInName
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationRequirement
                - authenticationRequirementPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - isInteractive
                - ipAddress
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - processingTimeInMilliseconds
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - resourceDisplayName
                - resourceId
                - resourceTenantId
                - servicePrincipalId
                - servicePrincipalName
                - signInEventTypes
                - status
                - tokenIssuerName
                - tokenIssuerType
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLogs_UpdateSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signIn
      summary: Delete navigation property signIns for auditLogs
      operationId: auditLogs_DeleteSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.auditLogRoot:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: auditLogRoot
          type: object
          properties:
            signIns:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.signIn'
              description: Read-only. Nullable.
            directoryAudits:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
              description: Read-only. Nullable.
            restrictedSignIns:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
            directoryProvisioning:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
            provisioning:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
          additionalProperties:
            type: object
    microsoft.graph.directoryAudit:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryAudit
          type: object
          properties:
            category:
              type: string
              description: 'Indicates which resource category that''s targeted by the activity. (For example: User Management, Group Management etc..)'
            correlationId:
              type: string
              description: Indicates a unique ID that helps correlate activities that span across various services. Can be used to trace logs across services.
              nullable: true
            result:
              $ref: '#/components/schemas/microsoft.graph.operationResult'
            resultReason:
              type: string
              description: Describes cause of 'failure' or 'timeout' results.
              nullable: true
            activityDisplayName:
              type: string
              description: 'Indicates the activity name or the operation name (examples: ''Create User'' and ''Add member to group''). For full list, see Azure AD activity list.'
            activityDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Indicates the date and time the activity was performed. The Timestamp type is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
            loggedByService:
              type: string
              description: 'Indicates information on which service initiated the activity (For example: Self-service Password Management, Core Directory, B2C, Invited Users, Microsoft Identity Manager, Privileged Identity Management.'
              nullable: true
            operationType:
              type: string
              nullable: true
            initiatedBy:
              $ref: '#/components/schemas/microsoft.graph.auditActivityInitiator'
            targetResources:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.targetResource'
              description: 'Indicates information on which resource was changed due to the activity. Target Resource Type can be User, Device, Directory, App, Role, Group, Policy or Other.'
            additionalDetails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.keyValue'
              description: Indicates additional details on the activity.
          additionalProperties:
            type: object
    microsoft.graph.provisioningObjectSummary:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: provisioningObjectSummary
          type: object
          properties:
            activityDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            tenantId:
              type: string
              nullable: true
            jobId:
              type: string
              nullable: true
            cycleId:
              type: string
              nullable: true
            changeId:
              type: string
              nullable: true
            action:
              type: string
              nullable: true
            durationInMilliseconds:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            servicePrincipal:
              $ref: '#/components/schemas/microsoft.graph.provisioningServicePrincipal'
            initiatedBy:
              $ref: '#/components/schemas/microsoft.graph.initiator'
            sourceSystem:
              $ref: '#/components/schemas/microsoft.graph.provisioningSystemDetails'
            targetSystem:
              $ref: '#/components/schemas/microsoft.graph.provisioningSystemDetails'
            sourceIdentity:
              $ref: '#/components/schemas/microsoft.graph.provisionedIdentity'
            targetIdentity:
              $ref: '#/components/schemas/microsoft.graph.provisionedIdentity'
            statusInfo:
              $ref: '#/components/schemas/microsoft.graph.statusBase'
            provisioningSteps:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.provisioningStep'
            modifiedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.modifiedProperty'
          additionalProperties:
            type: object
    microsoft.graph.restrictedSignIn:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.signIn'
        - title: restrictedSignIn
          type: object
          properties:
            targetTenantId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.signIn:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: signIn
          type: object
          properties:
            alternateSignInName:
              type: string
              nullable: true
            appDisplayName:
              type: string
              description: App name displayed in the Azure Portal.
              nullable: true
            appId:
              type: string
              description: Unique GUID representing the app ID in the Azure Active Directory.
              nullable: true
            appliedConditionalAccessPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.appliedConditionalAccessPolicy'
            authenticationDetails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.authenticationDetail'
            authenticationMethodsUsed:
              type: array
              items:
                type: string
                nullable: true
            authenticationProcessingDetails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.keyValue'
            authenticationRequirement:
              type: string
              nullable: true
            authenticationRequirementPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.authenticationRequirementPolicy'
            clientAppUsed:
              type: string
              description: 'Identifies the legacy client used for sign-in activity.  Includes Browser, Exchange Active Sync, modern clients, IMAP, MAPI, SMTP, and POP.'
              nullable: true
            conditionalAccessStatus:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessStatus'
            correlationId:
              type: string
              description: The request ID sent from the client when the sign-in is initiated; used to troubleshoot sign-in activity.
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Date and time (UTC) the sign-in was initiated. Example: midnight on Jan 1, 2014 is reported as ''2014-01-01T00:00:00Z''.'
              format: date-time
            deviceDetail:
              $ref: '#/components/schemas/microsoft.graph.deviceDetail'
            isInteractive:
              type: boolean
              description: Indicates if a sign-in is interactive or not.
              nullable: true
            ipAddress:
              type: string
              description: IP address of the client used to sign in.
              nullable: true
            location:
              $ref: '#/components/schemas/microsoft.graph.signInLocation'
            mfaDetail:
              $ref: '#/components/schemas/microsoft.graph.mfaDetail'
            networkLocationDetails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.networkLocationDetail'
            originalRequestId:
              type: string
              nullable: true
            processingTimeInMilliseconds:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            riskDetail:
              $ref: '#/components/schemas/microsoft.graph.riskDetail'
            riskEventTypes:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.riskEventType'
              description: 'Risk event types associated with the sign-in. The possible values are: unlikelyTravel, anonymizedIPAddress, maliciousIPAddress, unfamiliarFeatures, malwareInfectedIPAddress, suspiciousIPAddress, leakedCredentials, investigationsThreatIntelligence,  generic, and unknownFutureValue.'
            riskEventTypes_v2:
              type: array
              items:
                type: string
                nullable: true
              description: 'The list of risk event types associated with the sign-in. Possible values: unlikelyTravel, anonymizedIPAddress, maliciousIPAddress, unfamiliarFeatures, malwareInfectedIPAddress, suspiciousIPAddress, leakedCredentials, investigationsThreatIntelligence,  generic, or unknownFutureValue.'
            riskLevelAggregated:
              $ref: '#/components/schemas/microsoft.graph.riskLevel'
            riskLevelDuringSignIn:
              $ref: '#/components/schemas/microsoft.graph.riskLevel'
            riskState:
              $ref: '#/components/schemas/microsoft.graph.riskState'
            resourceDisplayName:
              type: string
              description: Name of the resource the user signed into.
              nullable: true
            resourceId:
              type: string
              description: ID of the resource that the user signed into.
              nullable: true
            resourceTenantId:
              type: string
              nullable: true
            servicePrincipalId:
              type: string
            servicePrincipalName:
              type: string
              nullable: true
            signInEventTypes:
              type: array
              items:
                type: string
                nullable: true
            status:
              $ref: '#/components/schemas/microsoft.graph.signInStatus'
            tokenIssuerName:
              type: string
              nullable: true
            tokenIssuerType:
              $ref: '#/components/schemas/microsoft.graph.tokenIssuerType'
            userAgent:
              type: string
              nullable: true
            userDisplayName:
              type: string
              description: Display name of the user that initiated the sign-in.
              nullable: true
            userId:
              type: string
              description: ID of the user that initiated the sign-in.
            userPrincipalName:
              type: string
              description: User principal name of the user that initiated the sign-in.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.operationResult:
      title: operationResult
      enum:
        - success
        - failure
        - timeout
        - unknownFutureValue
      type: string
    microsoft.graph.auditActivityInitiator:
      title: auditActivityInitiator
      type: object
      properties:
        user:
          $ref: '#/components/schemas/microsoft.graph.userIdentity'
        app:
          $ref: '#/components/schemas/microsoft.graph.appIdentity'
      additionalProperties:
        type: object
    microsoft.graph.targetResource:
      title: targetResource
      type: object
      properties:
        id:
          type: string
          description: Indicates the unique ID of the resource.
          nullable: true
        displayName:
          type: string
          description: Indicates the visible name defined for the resource. Typically specified when the resource is created.
          nullable: true
        type:
          type: string
          description: 'Describes the resource type.  Example values include Application, Group, ServicePrincipal, and User.'
          nullable: true
        userPrincipalName:
          type: string
          description: 'When type is set to User, this includes the user name that initiated the action; null for other types.'
          nullable: true
        groupType:
          $ref: '#/components/schemas/microsoft.graph.groupType'
        modifiedProperties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.modifiedProperty'
          description: 'Indicates name, old value and new value of each attribute that changed. Property values depend on the operation type.'
      additionalProperties:
        type: object
    microsoft.graph.keyValue:
      title: keyValue
      type: object
      properties:
        key:
          type: string
          description: Key for the key-value pair.
          nullable: true
        value:
          type: string
          description: Value for the key-value pair.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.provisioningServicePrincipal:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.identity'
        - title: provisioningServicePrincipal
          type: object
          additionalProperties:
            type: object
    microsoft.graph.initiator:
      title: initiator
      type: object
      properties:
        id:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        initiatorType:
          $ref: '#/components/schemas/microsoft.graph.initiatorType'
      additionalProperties:
        type: object
    microsoft.graph.provisioningSystemDetails:
      title: provisioningSystemDetails
      type: object
      properties:
        id:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        details:
          $ref: '#/components/schemas/microsoft.graph.detailsInfo'
      additionalProperties:
        type: object
    microsoft.graph.provisionedIdentity:
      title: provisionedIdentity
      type: object
      properties:
        id:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        identityType:
          type: string
          nullable: true
        details:
          $ref: '#/components/schemas/microsoft.graph.detailsInfo'
      additionalProperties:
        type: object
    microsoft.graph.statusBase:
      title: statusBase
      type: object
      properties:
        status:
          $ref: '#/components/schemas/microsoft.graph.provisioningResult'
      additionalProperties:
        type: object
    microsoft.graph.provisioningStep:
      title: provisioningStep
      type: object
      properties:
        name:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/microsoft.graph.provisioningResult'
        description:
          type: string
          nullable: true
        details:
          $ref: '#/components/schemas/microsoft.graph.detailsInfo'
        provisioningStepType:
          $ref: '#/components/schemas/microsoft.graph.provisioningStepType'
      additionalProperties:
        type: object
    microsoft.graph.modifiedProperty:
      title: modifiedProperty
      type: object
      properties:
        displayName:
          type: string
          description: Indicates the property name of the target attribute that was changed.
          nullable: true
        oldValue:
          type: string
          description: Indicates the previous value (before the update) for the property.
          nullable: true
        newValue:
          type: string
          description: Indicates the updated value for the propery.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.appliedConditionalAccessPolicy:
      title: appliedConditionalAccessPolicy
      type: object
      properties:
        id:
          type: string
          description: Unique GUID of the conditional access policy.
          nullable: true
        displayName:
          type: string
          description: 'Refers to the Name of the conditional access policy (example: ''Require MFA for Salesforce'').'
          nullable: true
        enforcedGrantControls:
          type: array
          items:
            type: string
            nullable: true
          description: 'Refers to the grant controls enforced by the conditional access policy (example: ''Require multi-factor authentication'').'
        enforcedSessionControls:
          type: array
          items:
            type: string
            nullable: true
          description: 'Refers to the session controls enforced by the conditional access policy (example: ''Require app enforced controls'').'
        conditionsSatisfied:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessConditions'
        conditionsNotSatisfied:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessConditions'
        result:
          $ref: '#/components/schemas/microsoft.graph.appliedConditionalAccessPolicyResult'
      additionalProperties:
        type: object
    microsoft.graph.authenticationDetail:
      title: authenticationDetail
      type: object
      properties:
        authenticationStepDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        authenticationMethod:
          type: string
          nullable: true
        authenticationMethodDetail:
          type: string
          nullable: true
        succeeded:
          type: boolean
          nullable: true
        authenticationStepResultDetail:
          type: string
          nullable: true
        authenticationStepRequirement:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.authenticationRequirementPolicy:
      title: authenticationRequirementPolicy
      type: object
      properties:
        requirementProvider:
          $ref: '#/components/schemas/microsoft.graph.requirementProvider'
        detail:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessStatus:
      title: conditionalAccessStatus
      enum:
        - success
        - failure
        - notApplied
        - unknownFutureValue
      type: string
    microsoft.graph.deviceDetail:
      title: deviceDetail
      type: object
      properties:
        deviceId:
          type: string
          description: Refers to the UniqueID of the device used for signing in.
          nullable: true
        displayName:
          type: string
          description: Refers to the name of the device used for signing in.
          nullable: true
        operatingSystem:
          type: string
          description: Indicates the operating system name and version used for signing in.
          nullable: true
        browser:
          type: string
          description: Indicates the browser information of the used for signing in.
          nullable: true
        browserId:
          type: string
          nullable: true
        isCompliant:
          type: boolean
          description: Indicates whether the device is compliant.
          nullable: true
        isManaged:
          type: boolean
          description: Indicates whether the device is managed.
          nullable: true
        trustType:
          type: string
          description: 'Provides information about whether the signed-in device is Workplace Joined, AzureAD Joined, Domain Joined.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.signInLocation:
      title: signInLocation
      type: object
      properties:
        city:
          type: string
          description: Provides the city where the sign-in originated. This is calculated using latitude/longitude information from the sign-in activity.
          nullable: true
        state:
          type: string
          description: Provides the State where the sign-in originated. This is calculated using latitude/longitude information from the sign-in activity.
          nullable: true
        countryOrRegion:
          type: string
          description: Provides the country code info (2 letter code) where the sign-in originated.  This is calculated using latitude/longitude information from the sign-in activity.
          nullable: true
        geoCoordinates:
          $ref: '#/components/schemas/microsoft.graph.geoCoordinates'
      additionalProperties:
        type: object
    microsoft.graph.mfaDetail:
      title: mfaDetail
      type: object
      properties:
        authMethod:
          type: string
          nullable: true
        authDetail:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.networkLocationDetail:
      title: networkLocationDetail
      type: object
      properties:
        networkType:
          $ref: '#/components/schemas/microsoft.graph.networkType'
        networkNames:
          type: array
          items:
            type: string
            nullable: true
      additionalProperties:
        type: object
    microsoft.graph.riskDetail:
      title: riskDetail
      enum:
        - none
        - adminGeneratedTemporaryPassword
        - userPerformedSecuredPasswordChange
        - userPerformedSecuredPasswordReset
        - adminConfirmedSigninSafe
        - aiConfirmedSigninSafe
        - userPassedMFADrivenByRiskBasedPolicy
        - adminDismissedAllRiskForUser
        - adminConfirmedSigninCompromised
        - hidden
        - adminConfirmedUserCompromised
        - unknownFutureValue
      type: string
    microsoft.graph.riskEventType:
      title: riskEventType
      enum:
        - unlikelyTravel
        - anonymizedIPAddress
        - maliciousIPAddress
        - unfamiliarFeatures
        - malwareInfectedIPAddress
        - suspiciousIPAddress
        - leakedCredentials
        - investigationsThreatIntelligence
        - generic
        - adminConfirmedUserCompromised
        - mcasImpossibleTravel
        - mcasSuspiciousInboxManipulationRules
        - investigationsThreatIntelligenceSigninLinked
        - maliciousIPAddressValidCredentialsBlockedIP
        - unknownFutureValue
      type: string
    microsoft.graph.riskLevel:
      title: riskLevel
      enum:
        - low
        - medium
        - high
        - hidden
        - none
        - unknownFutureValue
      type: string
    microsoft.graph.riskState:
      title: riskState
      enum:
        - none
        - confirmedSafe
        - remediated
        - dismissed
        - atRisk
        - confirmedCompromised
        - unknownFutureValue
      type: string
    microsoft.graph.signInStatus:
      title: signInStatus
      type: object
      properties:
        errorCode:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Provides the 5-6digit error code that's generated during a sign-in failure. Check out the list of error codes and messages.
          format: int32
          nullable: true
        failureReason:
          type: string
          description: Provides the error message or the reason for failure for the corresponding sign-in activity. Check out the list of error codes and messages.
          nullable: true
        additionalDetails:
          type: string
          description: Provides additional details on the sign-in activity
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.tokenIssuerType:
      title: tokenIssuerType
      enum:
        - AzureAD
        - ADFederationServices
        - UnknownFutureValue
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.userIdentity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.identity'
        - title: userIdentity
          type: object
          properties:
            ipAddress:
              type: string
              description: Indicates the client IP address used by user performing the activity (audit log only).
              nullable: true
            userPrincipalName:
              type: string
              description: The userPrincipalName attribute of the user.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.appIdentity:
      title: appIdentity
      type: object
      properties:
        appId:
          type: string
          description: Refers to the Unique GUID representing Application Id in the Azure Active Directory.
          nullable: true
        displayName:
          type: string
          description: Refers to the Application Name displayed in the Azure Portal.
          nullable: true
        servicePrincipalId:
          type: string
          description: Refers to the Unique GUID indicating Service Principal Id in Azure Active Directory for the corresponding App.
          nullable: true
        servicePrincipalName:
          type: string
          description: Refers to the Service Principal Name is the Application name in the tenant.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.groupType:
      title: groupType
      enum:
        - unifiedGroups
        - azureAD
        - unknownFutureValue
      type: string
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the identity.
          nullable: true
        displayName:
          type: string
          description: 'The identity''s display name. Note that this may not always be available or up to date. For example, if a user changes their display name, the API may show the new value in a future response, but the items associated with the user won''t show up as having changed when using delta.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.initiatorType:
      title: initiatorType
      enum:
        - user
        - app
        - system
        - unknownFutureValue
      type: string
    microsoft.graph.detailsInfo:
      title: detailsInfo
      type: object
      additionalProperties:
        type: object
    microsoft.graph.provisioningResult:
      title: provisioningResult
      enum:
        - success
        - failure
        - skipped
        - unknownFutureValue
      type: string
    microsoft.graph.provisioningStepType:
      title: provisioningStepType
      enum:
        - import
        - scoping
        - matching
        - processing
        - referenceResolution
        - export
        - unknownFutureValue
      type: string
    microsoft.graph.conditionalAccessConditions:
      title: conditionalAccessConditions
      enum:
        - none
        - application
        - users
        - devicePlatform
        - location
        - clientType
        - signInRisk
        - userRisk
        - time
        - deviceState
        - client
      type: string
    microsoft.graph.appliedConditionalAccessPolicyResult:
      title: appliedConditionalAccessPolicyResult
      enum:
        - success
        - failure
        - notApplied
        - notEnabled
        - unknown
        - unknownFutureValue
        - reportOnlySuccess
        - reportOnlyFailure
        - reportOnlyNotApplied
        - reportOnlyInterrupted
      type: string
    microsoft.graph.requirementProvider:
      title: requirementProvider
      enum:
        - MFA
        - CA
        - unknownFutureValue
      type: string
    microsoft.graph.geoCoordinates:
      title: geoCoordinates
      type: object
      properties:
        altitude:
          type: number
          description: 'Optional. The altitude (height), in feet,  above sea level for the item. Read-only.'
          format: double
          nullable: true
        latitude:
          type: number
          description: 'Optional. The latitude, in decimal, for the item. Read-only.'
          format: double
          nullable: true
        longitude:
          type: number
          description: 'Optional. The longitude, in decimal, for the item. Read-only.'
          format: double
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.networkType:
      title: networkType
      enum:
        - intranet
        - extranet
        - namedNetwork
        - trusted
        - unknownFutureValue
      type: string
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]