openapi: 3.0.1
info:
  title: Identity.DirectoryRoles
  version: v1.0-Beta
servers:
  - url: https://graph.microsoft.com/Beta/
    description: Core
paths:
  /directoryRoles:
    get:
      tags:
        - directoryRoles.directoryRole
      summary: Get entities from directoryRoles
      operationId: directoryRoles.directoryRole_ListDirectoryRole
      parameters:
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - roleTemplateId
                - roleTemplateId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - roleTemplateId
                - members
                - scopedMembers
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of directoryRole
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - directoryRoles.directoryRole
      summary: Add new entity to directoryRoles
      operationId: directoryRoles.directoryRole_CreateDirectoryRole
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRole'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryRoles/{directoryRole-id}':
    get:
      tags:
        - directoryRoles.directoryRole
      summary: Get entity from directoryRoles by key
      operationId: directoryRoles.directoryRole_GetDirectoryRole
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - roleTemplateId
                - members
                - scopedMembers
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRole'
          links:
            members:
              operationId: directoryRoles.directoryRole.GetDirectoryRole
              parameters:
                id: $request.path.id
            scopedMembers:
              operationId: directoryRoles.directoryRole.GetDirectoryRole
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directoryRoles.directoryRole
      summary: Update entity in directoryRoles
      operationId: directoryRoles.directoryRole_UpdateDirectoryRole
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directoryRoles.directoryRole
      summary: Delete entity from directoryRoles
      operationId: directoryRoles.directoryRole_DeleteDirectoryRole
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryRoles/{directoryRole-id}/members':
    get:
      tags:
        - directoryRoles.directoryObject
      summary: Get members from directoryRoles
      operationId: directoryRoles_ListMembers
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryRoles/{directoryRole-id}/members/{directoryObject-id}':
    get:
      tags:
        - directoryRoles.directoryObject
      summary: Get members from directoryRoles
      operationId: directoryRoles_GetMembers
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryRoles/{directoryRole-id}/scopedMembers':
    get:
      tags:
        - directoryRoles.scopedRoleMembership
      summary: Get scopedMembers from directoryRoles
      operationId: directoryRoles_ListScopedMembers
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - roleId
                - roleId desc
                - administrativeUnitId
                - administrativeUnitId desc
                - roleMemberInfo
                - roleMemberInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleId
                - administrativeUnitId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of scopedRoleMembership
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - directoryRoles.scopedRoleMembership
      summary: Create new navigation property to scopedMembers for directoryRoles
      operationId: directoryRoles_CreateScopedMembers
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryRoles/{directoryRole-id}/scopedMembers/{scopedRoleMembership-id}':
    get:
      tags:
        - directoryRoles.scopedRoleMembership
      summary: Get scopedMembers from directoryRoles
      operationId: directoryRoles_GetScopedMembers
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - name: scopedRoleMembership-id
          in: path
          description: 'key: scopedRoleMembership-id of scopedRoleMembership'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleId
                - administrativeUnitId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directoryRoles.scopedRoleMembership
      summary: Update the navigation property scopedMembers in directoryRoles
      operationId: directoryRoles_UpdateScopedMembers
      parameters:
        - name: directoryRole-id
          in: path
          description: 'key: directoryRole-id of directoryRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRole
        - name: scopedRoleMembership-id
          in: path
          description: 'key: scopedRoleMembership-id of scopedRoleMembership'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directoryRoles/microsoft.graph.delta():
    get:
      tags:
        - directoryRoles.Functions
      summary: Invoke function delta
      operationId: directoryRoles_delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
components:
  schemas:
    microsoft.graph.directoryRole:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: directoryRole
          type: object
          properties:
            description:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            roleTemplateId:
              type: string
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            scopedMembers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
        roleTemplateId: string
        members:
          - '@odata.type': microsoft.graph.directoryObject
        scopedMembers:
          - '@odata.type': microsoft.graph.scopedRoleMembership
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.scopedRoleMembership:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: scopedRoleMembership
          type: object
          properties:
            roleId:
              type: string
            administrativeUnitId:
              type: string
            roleMemberInfo:
              $ref: '#/components/schemas/microsoft.graph.identity'
      example:
        id: string (identifier)
        roleId: string
        administrativeUnitId: string
        roleMemberInfo:
          '@odata.type': microsoft.graph.identity
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        id:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
      example:
        id: string
        displayName: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]