openapi: 3.0.1
info:
  title: Identity.TrustFramework
  version: v1.0-Beta
servers:
  - url: https://graph.microsoft.com/Beta/
    description: Core
paths:
  /trustFramework:
    get:
      tags:
        - trustFramework.trustFramework
      summary: Get trustFramework
      operationId: trustFramework.trustFramework_GetTrustFramework
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - policies
                - keySets
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - policies
                - keySets
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trustFramework'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - trustFramework.trustFramework
      summary: Update trustFramework
      operationId: trustFramework.trustFramework_UpdateTrustFramework
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trustFramework'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /trustFramework/keySets:
    get:
      tags:
        - trustFramework.trustFrameworkKeySet
      summary: Get keySets from trustFramework
      operationId: trustFramework_ListKeySets
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of trustFrameworkKeySet
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.trustFrameworkKeySet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - trustFramework.trustFrameworkKeySet
      summary: Create new navigation property to keySets for trustFramework
      operationId: trustFramework_CreateKeySets
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trustFrameworkKeySet'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trustFrameworkKeySet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/trustFramework/keySets/{trustFrameworkKeySet-id}':
    get:
      tags:
        - trustFramework.trustFrameworkKeySet
      summary: Get keySets from trustFramework
      operationId: trustFramework_GetKeySets
      parameters:
        - name: trustFrameworkKeySet-id
          in: path
          description: 'key: trustFrameworkKeySet-id of trustFrameworkKeySet'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trustFrameworkKeySet
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trustFrameworkKeySet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - trustFramework.trustFrameworkKeySet
      summary: Update the navigation property keySets in trustFramework
      operationId: trustFramework_UpdateKeySets
      parameters:
        - name: trustFrameworkKeySet-id
          in: path
          description: 'key: trustFrameworkKeySet-id of trustFrameworkKeySet'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trustFrameworkKeySet
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trustFrameworkKeySet'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /trustFramework/policies:
    get:
      tags:
        - trustFramework.trustFrameworkPolicy
      summary: Get policies from trustFramework
      operationId: trustFramework_ListPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of trustFrameworkPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.trustFrameworkPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - trustFramework.trustFrameworkPolicy
      summary: Create new navigation property to policies for trustFramework
      operationId: trustFramework_CreatePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trustFrameworkPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trustFrameworkPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/trustFramework/policies/{trustFrameworkPolicy-id}':
    get:
      tags:
        - trustFramework.trustFrameworkPolicy
      summary: Get policies from trustFramework
      operationId: trustFramework_GetPolicies
      parameters:
        - name: trustFrameworkPolicy-id
          in: path
          description: 'key: trustFrameworkPolicy-id of trustFrameworkPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trustFrameworkPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trustFrameworkPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - trustFramework.trustFrameworkPolicy
      summary: Update the navigation property policies in trustFramework
      operationId: trustFramework_UpdatePolicies
      parameters:
        - name: trustFrameworkPolicy-id
          in: path
          description: 'key: trustFrameworkPolicy-id of trustFrameworkPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trustFrameworkPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trustFrameworkPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.trustFramework:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: trustFramework
          type: object
          properties:
            policies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.trustFrameworkPolicy'
            keySets:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.trustFrameworkKeySet'
      example:
        id: string (identifier)
        policies:
          - '@odata.type': microsoft.graph.trustFrameworkPolicy
        keySets:
          - '@odata.type': microsoft.graph.trustFrameworkKeySet
    microsoft.graph.trustFrameworkKeySet:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: trustFrameworkKeySet
          type: object
      example:
        id: string (identifier)
    microsoft.graph.trustFrameworkPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: trustFrameworkPolicy
          type: object
      example:
        id: string (identifier)
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]