openapi: 3.0.1
info:
  title: Identity.ConditionalAccess
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /identity/conditionalAccess:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get conditionalAccess from identity
      operationId: identity_GetConditionalAccess
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - policies
                - namedLocations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - policies
                - namedLocations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property conditionalAccess in identity
      operationId: identity_UpdateConditionalAccess
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property conditionalAccess for identity
      operationId: identity_DeleteConditionalAccess
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess/namedLocations:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get namedLocations from identity
      operationId: identity.conditionalAccess_ListNamedLocations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - createdDateTime
                - createdDateTime desc
                - modifiedDateTime
                - modifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - createdDateTime
                - modifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of namedLocation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.namedLocation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.conditionalAccessRoot
      summary: Create new navigation property to namedLocations for identity
      operationId: identity.conditionalAccess_CreateNamedLocations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.namedLocation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/conditionalAccess/namedLocations/{namedLocation-id}':
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get namedLocations from identity
      operationId: identity.conditionalAccess_GetNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - createdDateTime
                - modifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property namedLocations in identity
      operationId: identity.conditionalAccess_UpdateNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.namedLocation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property namedLocations for identity
      operationId: identity.conditionalAccess_DeleteNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess/policies:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get policies from identity
      operationId: identity.conditionalAccess_ListPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - modifiedDateTime
                - modifiedDateTime desc
                - displayName
                - displayName desc
                - description
                - description desc
                - state
                - state desc
                - conditions
                - conditions desc
                - grantControls
                - grantControls desc
                - sessionControls
                - sessionControls desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - modifiedDateTime
                - displayName
                - description
                - state
                - conditions
                - grantControls
                - sessionControls
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of conditionalAccessPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.conditionalAccessRoot
      summary: Create new navigation property to policies for identity
      operationId: identity.conditionalAccess_CreatePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/conditionalAccess/policies/{conditionalAccessPolicy-id}':
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get policies from identity
      operationId: identity.conditionalAccess_GetPolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - modifiedDateTime
                - displayName
                - description
                - state
                - conditions
                - grantControls
                - sessionControls
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property policies in identity
      operationId: identity.conditionalAccess_UpdatePolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property policies for identity
      operationId: identity.conditionalAccess_DeletePolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.conditionalAccessRoot:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: conditionalAccessRoot
          type: object
          properties:
            policies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
            namedLocations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
          additionalProperties:
            type: object
    microsoft.graph.namedLocation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: namedLocation
          type: object
          properties:
            displayName:
              type: string
              description: Human-readable name of the location.
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents creation date and time of the location using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            modifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents last modified date and time of the location using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.conditionalAccessPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: conditionalAccessPolicy
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Readonly.'
              format: date-time
              nullable: true
            modifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Readonly.'
              format: date-time
              nullable: true
            displayName:
              type: string
              description: Specifies a display name for the conditionalAccessPolicy object.
            description:
              type: string
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicyState'
            conditions:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessConditionSet'
            grantControls:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessGrantControls'
            sessionControls:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControls'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessPolicyState:
      title: conditionalAccessPolicyState
      enum:
        - enabled
        - disabled
        - enabledForReportingButNotEnforced
      type: string
    microsoft.graph.conditionalAccessConditionSet:
      title: conditionalAccessConditionSet
      type: object
      properties:
        applications:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessApplications'
        users:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessUsers'
        signInRiskLevels:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.riskLevel'
          description: 'Risk levels included in the policy. Possible values are: low, medium, high, none.'
        userRiskLevels:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.riskLevel'
        platforms:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessPlatforms'
        locations:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessLocations'
        clientAppTypes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessClientApp'
          description: 'Client application types included in the policy. Possible values are: all, browser, mobileAppsAndDesktopClients, exchangeActiveSync, easSupported, other.'
        deviceStates:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessDeviceStates'
        devices:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevices'
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessGrantControls:
      title: conditionalAccessGrantControls
      type: object
      properties:
        operator:
          type: string
          description: 'Defines the relationship of the grant controls. Possible values: AND, OR.'
          nullable: true
        builtInControls:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessGrantControl'
          description: 'List of values of built-in controls required by the policy. Possible values: Block, Mfa, CompliantDevice, DomainJoinedDevice, ApprovedApplication, CompliantApplication'
        customAuthenticationFactors:
          type: array
          items:
            type: string
          description: 'List of custom controls IDs required by the policy. For more information, see Custom controls.'
        termsOfUse:
          type: array
          items:
            type: string
          description: List of terms of use IDs required by the policy.
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessSessionControls:
      title: conditionalAccessSessionControls
      type: object
      properties:
        applicationEnforcedRestrictions:
          $ref: '#/components/schemas/microsoft.graph.applicationEnforcedRestrictionsSessionControl'
        cloudAppSecurity:
          $ref: '#/components/schemas/microsoft.graph.cloudAppSecuritySessionControl'
        signInFrequency:
          $ref: '#/components/schemas/microsoft.graph.signInFrequencySessionControl'
        persistentBrowser:
          $ref: '#/components/schemas/microsoft.graph.persistentBrowserSessionControl'
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessApplications:
      title: conditionalAccessApplications
      type: object
      properties:
        includeApplications:
          type: array
          items:
            type: string
          description: 'The list of application IDs the policy applies to, unless explicitly excluded (in excludeApplications). Can also be set to All.'
        excludeApplications:
          type: array
          items:
            type: string
          description: The list of application IDs explicitly excluded from the policy.
        includeUserActions:
          type: array
          items:
            type: string
          description: 'User actions to include. For example, urn:user:registersecurityinfo'
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessUsers:
      title: conditionalAccessUsers
      type: object
      properties:
        includeUsers:
          type: array
          items:
            type: string
          description: 'User IDs in scope of policy unless explicitly excluded, or None or All or GuestsOrExternalUsers.'
        excludeUsers:
          type: array
          items:
            type: string
          description: User IDs excluded from scope of policy and/or GuestsOrExternalUsers.
        includeGroups:
          type: array
          items:
            type: string
          description: 'Group IDs in scope of policy unless explicitly excluded, or All.'
        excludeGroups:
          type: array
          items:
            type: string
          description: Group IDs excluded from scope of policy.
        includeRoles:
          type: array
          items:
            type: string
          description: 'Role IDs in scope of policy unless explicitly excluded, or All.'
        excludeRoles:
          type: array
          items:
            type: string
          description: Role IDs excluded from scope of policy.
      additionalProperties:
        type: object
    microsoft.graph.riskLevel:
      title: riskLevel
      enum:
        - low
        - medium
        - high
        - hidden
        - none
        - unknownFutureValue
      type: string
    microsoft.graph.conditionalAccessPlatforms:
      title: conditionalAccessPlatforms
      type: object
      properties:
        includePlatforms:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevicePlatform'
          description: 'Possible values are: android, iOS, windows, windowsPhone, macOS, all, unknownFutureValue.'
        excludePlatforms:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevicePlatform'
          description: 'Possible values are: android, iOS, windows, windowsPhone, macOS, unknownFutureValue.'
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessLocations:
      title: conditionalAccessLocations
      type: object
      properties:
        includeLocations:
          type: array
          items:
            type: string
          description: 'Location IDs in scope of policy unless explicitly excluded, All, or AllTrusted.'
        excludeLocations:
          type: array
          items:
            type: string
          description: Location IDs excluded from scope of policy.
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessClientApp:
      title: conditionalAccessClientApp
      enum:
        - all
        - browser
        - mobileAppsAndDesktopClients
        - exchangeActiveSync
        - easSupported
        - other
        - unknownFutureValue
      type: string
    microsoft.graph.conditionalAccessDeviceStates:
      title: conditionalAccessDeviceStates
      type: object
      properties:
        includeStates:
          type: array
          items:
            type: string
        excludeStates:
          type: array
          items:
            type: string
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessDevices:
      title: conditionalAccessDevices
      type: object
      properties:
        includeDeviceStates:
          type: array
          items:
            type: string
        excludeDeviceStates:
          type: array
          items:
            type: string
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessGrantControl:
      title: conditionalAccessGrantControl
      enum:
        - block
        - mfa
        - compliantDevice
        - domainJoinedDevice
        - approvedApplication
        - compliantApplication
        - passwordChange
        - unknownFutureValue
      type: string
    microsoft.graph.applicationEnforcedRestrictionsSessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: applicationEnforcedRestrictionsSessionControl
          type: object
          additionalProperties:
            type: object
    microsoft.graph.cloudAppSecuritySessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: cloudAppSecuritySessionControl
          type: object
          properties:
            cloudAppSecurityType:
              $ref: '#/components/schemas/microsoft.graph.cloudAppSecuritySessionControlType'
          additionalProperties:
            type: object
    microsoft.graph.signInFrequencySessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: signInFrequencySessionControl
          type: object
          properties:
            value:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The number of days or hours.
              format: int32
              nullable: true
            type:
              $ref: '#/components/schemas/microsoft.graph.signinFrequencyType'
          additionalProperties:
            type: object
    microsoft.graph.persistentBrowserSessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: persistentBrowserSessionControl
          type: object
          properties:
            mode:
              $ref: '#/components/schemas/microsoft.graph.persistentBrowserSessionMode'
          additionalProperties:
            type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    microsoft.graph.conditionalAccessDevicePlatform:
      title: conditionalAccessDevicePlatform
      enum:
        - android
        - iOS
        - windows
        - windowsPhone
        - macOS
        - all
        - unknownFutureValue
      type: string
    microsoft.graph.conditionalAccessSessionControl:
      title: conditionalAccessSessionControl
      type: object
      properties:
        isEnabled:
          type: boolean
          description: Specifies whether the session control is enabled.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.cloudAppSecuritySessionControlType:
      title: cloudAppSecuritySessionControlType
      enum:
        - mcasConfigured
        - monitorOnly
        - blockDownloads
        - unknownFutureValue
      type: string
    microsoft.graph.signinFrequencyType:
      title: signinFrequencyType
      enum:
        - days
        - hours
      type: string
    microsoft.graph.persistentBrowserSessionMode:
      title: persistentBrowserSessionMode
      enum:
        - always
        - never
      type: string
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]