openapi: 3.0.1
info:
  title: Identity.AccessReview
  version: v1.0-StagingBeta
servers:
  - url: https://graph.microsoft.com/StagingBeta/
    description: Core
paths:
  /accessReviewDecisions:
    get:
      tags:
        - accessReviewDecisions.accessReviewDecision
      summary: Get entities from accessReviewDecisions
      operationId: accessReviewDecisions.accessReviewDecision_ListAccessReviewDecision
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessReviewId
                - accessReviewId desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
                - justification
                - justification desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - accessRecommendation
                - accessRecommendation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of accessReviewDecision
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviewDecisions.accessReviewDecision
      summary: Add new entity to accessReviewDecisions
      operationId: accessReviewDecisions.accessReviewDecision_CreateAccessReviewDecision
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviewDecisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviewDecisions.accessReviewDecision
      summary: Get entity from accessReviewDecisions by key
      operationId: accessReviewDecisions.accessReviewDecision_GetAccessReviewDecision
      parameters:
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviewDecisions.accessReviewDecision
      summary: Update entity in accessReviewDecisions
      operationId: accessReviewDecisions.accessReviewDecision_UpdateAccessReviewDecision
      parameters:
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviewDecisions.accessReviewDecision
      summary: Delete entity from accessReviewDecisions
      operationId: accessReviewDecisions.accessReviewDecision_DeleteAccessReviewDecision
      parameters:
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /accessReviews:
    get:
      tags:
        - accessReviews.accessReview
      summary: Get entities from accessReviews
      operationId: accessReviews.accessReview_ListAccessReview
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - status
                - status desc
                - createdBy
                - createdBy desc
                - businessFlowTemplateId
                - businessFlowTemplateId desc
                - reviewerType
                - reviewerType desc
                - description
                - description desc
                - settings
                - settings desc
                - reviewedEntity
                - reviewedEntity desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of accessReview
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Add new entity to accessReviews
      operationId: accessReviews.accessReview_CreateAccessReview
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get entity from accessReviews by key
      operationId: accessReviews.accessReview_GetAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
          links:
            reviewers:
              operationId: accessReviews.accessReview.GetAccessReview
              parameters:
                id: $request.path.id
            decisions:
              operationId: accessReviews.accessReview.GetAccessReview
              parameters:
                id: $request.path.id
            myDecisions:
              operationId: accessReviews.accessReview.GetAccessReview
              parameters:
                id: $request.path.id
            instances:
              operationId: accessReviews.accessReview.GetAccessReview
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update entity in accessReviews
      operationId: accessReviews.accessReview_UpdateAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReview
      summary: Delete entity from accessReviews
      operationId: accessReviews.accessReview_DeleteAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/decisions':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get decisions from accessReviews
      operationId: accessReviews_ListDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessReviewId
                - accessReviewId desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
                - justification
                - justification desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - accessRecommendation
                - accessRecommendation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewDecision
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewDecision
      summary: Create new navigation property to decisions for accessReviews
      operationId: accessReviews_CreateDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/decisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get decisions from accessReviews
      operationId: accessReviews_GetDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReviewDecision
      summary: Update the navigation property decisions in accessReviews
      operationId: accessReviews_UpdateDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get instances from accessReviews
      operationId: accessReviews_ListInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - status
                - status desc
                - createdBy
                - createdBy desc
                - businessFlowTemplateId
                - businessFlowTemplateId desc
                - reviewerType
                - reviewerType desc
                - description
                - description desc
                - settings
                - settings desc
                - reviewedEntity
                - reviewedEntity desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReview
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Create new navigation property to instances for accessReviews
      operationId: accessReviews_CreateInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get instances from accessReviews
      operationId: accessReviews_GetInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update the navigation property instances in accessReviews
      operationId: accessReviews_UpdateInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/microsoft.graph.applyDecisions':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action applyDecisions
      operationId: accessReviews_applyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.resetDecisions':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action resetDecisions
      operationId: accessReviews_resetDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.sendReminder':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action sendReminder
      operationId: accessReviews_sendReminder
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.stop':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action stop
      operationId: accessReviews_stop
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/myDecisions':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get myDecisions from accessReviews
      operationId: accessReviews_ListMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessReviewId
                - accessReviewId desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
                - justification
                - justification desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - accessRecommendation
                - accessRecommendation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewDecision
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewDecision
      summary: Create new navigation property to myDecisions for accessReviews
      operationId: accessReviews_CreateMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/myDecisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get myDecisions from accessReviews
      operationId: accessReviews_GetMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReviewDecision
      summary: Update the navigation property myDecisions in accessReviews
      operationId: accessReviews_UpdateMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/reviewers':
    get:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Get reviewers from accessReviews
      operationId: accessReviews_ListReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewReviewer
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Create new navigation property to reviewers for accessReviews
      operationId: accessReviews_CreateReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/reviewers/{accessReviewReviewer-id}':
    get:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Get reviewers from accessReviews
      operationId: accessReviews_GetReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: accessReviewReviewer-id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Update the navigation property reviewers in accessReviews
      operationId: accessReviews_UpdateReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: accessReviewReviewer-id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /businessFlowTemplates:
    get:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Get entities from businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_ListBusinessFlowTemplate
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of businessFlowTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Add new entity to businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_CreateBusinessFlowTemplate
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/businessFlowTemplates/{businessFlowTemplate-id}':
    get:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Get entity from businessFlowTemplates by key
      operationId: businessFlowTemplates.businessFlowTemplate_GetBusinessFlowTemplate
      parameters:
        - name: businessFlowTemplate-id
          in: path
          description: 'key: businessFlowTemplate-id of businessFlowTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: businessFlowTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Update entity in businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_UpdateBusinessFlowTemplate
      parameters:
        - name: businessFlowTemplate-id
          in: path
          description: 'key: businessFlowTemplate-id of businessFlowTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: businessFlowTemplate
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Delete entity from businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_DeleteBusinessFlowTemplate
      parameters:
        - name: businessFlowTemplate-id
          in: path
          description: 'key: businessFlowTemplate-id of businessFlowTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: businessFlowTemplate
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /programControlTypes:
    get:
      tags:
        - programControlTypes.programControlType
      summary: Get entities from programControlTypes
      operationId: programControlTypes.programControlType_ListProgramControlType
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - controlTypeGroupId
                - controlTypeGroupId desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - controlTypeGroupId
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of programControlType
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.programControlType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - programControlTypes.programControlType
      summary: Add new entity to programControlTypes
      operationId: programControlTypes.programControlType_CreateProgramControlType
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.programControlType'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.programControlType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/programControlTypes/{programControlType-id}':
    get:
      tags:
        - programControlTypes.programControlType
      summary: Get entity from programControlTypes by key
      operationId: programControlTypes.programControlType_GetProgramControlType
      parameters:
        - name: programControlType-id
          in: path
          description: 'key: programControlType-id of programControlType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: programControlType
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - controlTypeGroupId
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.programControlType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - programControlTypes.programControlType
      summary: Update entity in programControlTypes
      operationId: programControlTypes.programControlType_UpdateProgramControlType
      parameters:
        - name: programControlType-id
          in: path
          description: 'key: programControlType-id of programControlType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: programControlType
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.programControlType'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - programControlTypes.programControlType
      summary: Delete entity from programControlTypes
      operationId: programControlTypes.programControlType_DeleteProgramControlType
      parameters:
        - name: programControlType-id
          in: path
          description: 'key: programControlType-id of programControlType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: programControlType
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.accessReviewDecision:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: accessReviewDecision
          type: object
          properties:
            accessReviewId:
              type: string
              nullable: true
            reviewedBy:
              $ref: '#/components/schemas/microsoft.graph.userIdentity'
            reviewedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            reviewResult:
              type: string
              nullable: true
            justification:
              type: string
              nullable: true
            appliedBy:
              $ref: '#/components/schemas/microsoft.graph.userIdentity'
            appliedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            applyResult:
              type: string
              nullable: true
            accessRecommendation:
              type: string
              nullable: true
      example:
        id: string (identifier)
        accessReviewId: string
        reviewedBy:
          '@odata.type': microsoft.graph.userIdentity
        reviewedDateTime: string (timestamp)
        reviewResult: string
        justification: string
        appliedBy:
          '@odata.type': microsoft.graph.userIdentity
        appliedDateTime: string (timestamp)
        applyResult: string
        accessRecommendation: string
    microsoft.graph.accessReview:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: accessReview
          type: object
          properties:
            displayName:
              type: string
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            endDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            status:
              type: string
              nullable: true
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.userIdentity'
            businessFlowTemplateId:
              type: string
            reviewerType:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            settings:
              $ref: '#/components/schemas/microsoft.graph.accessReviewSettings'
            reviewedEntity:
              $ref: '#/components/schemas/microsoft.graph.identity'
            reviewers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
            decisions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
            myDecisions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
            instances:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
      example:
        id: string (identifier)
        displayName: string
        startDateTime: string (timestamp)
        endDateTime: string (timestamp)
        status: string
        createdBy:
          '@odata.type': microsoft.graph.userIdentity
        businessFlowTemplateId: string
        reviewerType: string
        description: string
        settings:
          '@odata.type': microsoft.graph.accessReviewSettings
        reviewedEntity:
          '@odata.type': microsoft.graph.identity
        reviewers:
          - '@odata.type': microsoft.graph.accessReviewReviewer
        decisions:
          - '@odata.type': microsoft.graph.accessReviewDecision
        myDecisions:
          - '@odata.type': microsoft.graph.accessReviewDecision
        instances:
          - '@odata.type': microsoft.graph.accessReview
    microsoft.graph.accessReviewReviewer:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: accessReviewReviewer
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            userPrincipalName:
              type: string
              nullable: true
      example:
        id: string (identifier)
        displayName: string
        userPrincipalName: string
    microsoft.graph.businessFlowTemplate:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: businessFlowTemplate
          type: object
          properties:
            displayName:
              type: string
              nullable: true
      example:
        id: string (identifier)
        displayName: string
    microsoft.graph.programControlType:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: programControlType
          type: object
          properties:
            controlTypeGroupId:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
      example:
        id: string (identifier)
        controlTypeGroupId: string
        displayName: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    microsoft.graph.userIdentity:
      title: userIdentity
      type: object
      properties:
        id:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        ipAddress:
          type: string
          nullable: true
        userPrincipalName:
          type: string
          nullable: true
      example:
        id: string
        displayName: string
        ipAddress: string
        userPrincipalName: string
    microsoft.graph.accessReviewSettings:
      title: accessReviewSettings
      type: object
      properties:
        mailNotificationsEnabled:
          type: boolean
        remindersEnabled:
          type: boolean
        justificationRequiredOnApproval:
          type: boolean
        recurrenceSettings:
          $ref: '#/components/schemas/microsoft.graph.accessReviewRecurrenceSettings'
        autoReviewEnabled:
          type: boolean
        activityDurationInDays:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
        autoReviewSettings:
          $ref: '#/components/schemas/microsoft.graph.autoReviewSettings'
        autoApplyReviewResultsEnabled:
          type: boolean
        accessRecommendationsEnabled:
          type: boolean
      example:
        mailNotificationsEnabled: true
        remindersEnabled: true
        justificationRequiredOnApproval: true
        recurrenceSettings:
          '@odata.type': microsoft.graph.accessReviewRecurrenceSettings
        autoReviewEnabled: true
        activityDurationInDays: integer
        autoReviewSettings:
          '@odata.type': microsoft.graph.autoReviewSettings
        autoApplyReviewResultsEnabled: true
        accessRecommendationsEnabled: true
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        id:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
      example:
        id: string
        displayName: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.accessReviewRecurrenceSettings:
      title: accessReviewRecurrenceSettings
      type: object
      properties:
        recurrenceType:
          type: string
          nullable: true
        recurrenceEndType:
          type: string
          nullable: true
        durationInDays:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
        recurrenceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
      example:
        recurrenceType: string
        recurrenceEndType: string
        durationInDays: integer
        recurrenceCount: integer
    microsoft.graph.autoReviewSettings:
      title: autoReviewSettings
      type: object
      properties:
        notReviewedResult:
          type: string
          nullable: true
      example:
        notReviewedResult: string
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]