openapi: 3.0.1
info:
  title: Identity.AzureADPIM
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /privilegedApproval:
    get:
      tags:
        - privilegedApproval.privilegedApproval
      summary: Get entities from privilegedApproval
      operationId: privilegedApproval.privilegedApproval_ListPrivilegedApproval
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userId
                - userId desc
                - roleId
                - roleId desc
                - approvalType
                - approvalType desc
                - approvalState
                - approvalState desc
                - approvalDuration
                - approvalDuration desc
                - requestorReason
                - requestorReason desc
                - approverReason
                - approverReason desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - roleId
                - approvalType
                - approvalState
                - approvalDuration
                - requestorReason
                - approverReason
                - startDateTime
                - endDateTime
                - request
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - request
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedApproval
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedApproval.privilegedApproval
      summary: Add new entity to privilegedApproval
      operationId: privilegedApproval.privilegedApproval_CreatePrivilegedApproval
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedApproval/{privilegedApproval-id}':
    get:
      tags:
        - privilegedApproval.privilegedApproval
      summary: Get entity from privilegedApproval by key
      operationId: privilegedApproval.privilegedApproval_GetPrivilegedApproval
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: privilegedApproval-id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - roleId
                - approvalType
                - approvalState
                - approvalDuration
                - requestorReason
                - approverReason
                - startDateTime
                - endDateTime
                - request
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - request
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
          links:
            request:
              operationId: privilegedApproval.privilegedApproval.GetPrivilegedApproval
              parameters:
                id: $request.path.id
            roleInfo:
              operationId: privilegedApproval.privilegedApproval.GetPrivilegedApproval
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedApproval.privilegedApproval
      summary: Update entity in privilegedApproval
      operationId: privilegedApproval.privilegedApproval_UpdatePrivilegedApproval
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: privilegedApproval-id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedApproval.privilegedApproval
      summary: Delete entity from privilegedApproval
      operationId: privilegedApproval.privilegedApproval_DeletePrivilegedApproval
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: privilegedApproval-id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedApproval/{privilegedApproval-id}/request':
    get:
      tags:
        - privilegedApproval.privilegedRoleAssignmentRequest
      summary: Get request from privilegedApproval
      operationId: privilegedApproval_GetRequest
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: privilegedApproval-id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - schedule
                - userId
                - roleId
                - type
                - assignmentState
                - requestedDateTime
                - status
                - duration
                - reason
                - ticketNumber
                - ticketSystem
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedApproval/{privilegedApproval-id}/roleInfo':
    get:
      tags:
        - privilegedApproval.privilegedRole
      summary: Get roleInfo from privilegedApproval
      operationId: privilegedApproval_GetRoleInfo
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: privilegedApproval-id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - settings
                - assignments
                - summary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settings
                - assignments
                - summary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedApproval.privilegedRole
      summary: Update the navigation property roleInfo in privilegedApproval
      operationId: privilegedApproval_UpdateRoleInfo
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: privilegedApproval-id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /privilegedApproval/microsoft.graph.myRequests():
    get:
      tags:
        - privilegedApproval.Functions
      summary: Invoke function myRequests
      operationId: privilegedApproval_myRequests
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /privilegedOperationEvents:
    get:
      tags:
        - privilegedOperationEvents.privilegedOperationEvent
      summary: Get entities from privilegedOperationEvents
      operationId: privilegedOperationEvents.privilegedOperationEvent_ListPrivilegedOperationEvent
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userId
                - userId desc
                - userName
                - userName desc
                - userMail
                - userMail desc
                - roleId
                - roleId desc
                - roleName
                - roleName desc
                - expirationDateTime
                - expirationDateTime desc
                - creationDateTime
                - creationDateTime desc
                - requestorId
                - requestorId desc
                - requestorName
                - requestorName desc
                - tenantId
                - tenantId desc
                - requestType
                - requestType desc
                - additionalInformation
                - additionalInformation desc
                - referenceKey
                - referenceKey desc
                - referenceSystem
                - referenceSystem desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - userName
                - userMail
                - roleId
                - roleName
                - expirationDateTime
                - creationDateTime
                - requestorId
                - requestorName
                - tenantId
                - requestType
                - additionalInformation
                - referenceKey
                - referenceSystem
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedOperationEvent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedOperationEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedOperationEvents.privilegedOperationEvent
      summary: Add new entity to privilegedOperationEvents
      operationId: privilegedOperationEvents.privilegedOperationEvent_CreatePrivilegedOperationEvent
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedOperationEvent'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedOperationEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedOperationEvents/{privilegedOperationEvent-id}':
    get:
      tags:
        - privilegedOperationEvents.privilegedOperationEvent
      summary: Get entity from privilegedOperationEvents by key
      operationId: privilegedOperationEvents.privilegedOperationEvent_GetPrivilegedOperationEvent
      parameters:
        - name: privilegedOperationEvent-id
          in: path
          description: 'key: privilegedOperationEvent-id of privilegedOperationEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedOperationEvent
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - userName
                - userMail
                - roleId
                - roleName
                - expirationDateTime
                - creationDateTime
                - requestorId
                - requestorName
                - tenantId
                - requestType
                - additionalInformation
                - referenceKey
                - referenceSystem
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedOperationEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedOperationEvents.privilegedOperationEvent
      summary: Update entity in privilegedOperationEvents
      operationId: privilegedOperationEvents.privilegedOperationEvent_UpdatePrivilegedOperationEvent
      parameters:
        - name: privilegedOperationEvent-id
          in: path
          description: 'key: privilegedOperationEvent-id of privilegedOperationEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedOperationEvent
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedOperationEvent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedOperationEvents.privilegedOperationEvent
      summary: Delete entity from privilegedOperationEvents
      operationId: privilegedOperationEvents.privilegedOperationEvent_DeletePrivilegedOperationEvent
      parameters:
        - name: privilegedOperationEvent-id
          in: path
          description: 'key: privilegedOperationEvent-id of privilegedOperationEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedOperationEvent
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /privilegedRoleAssignmentRequests:
    get:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest
      summary: Get entities from privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest_ListPrivilegedRoleAssignmentRequest
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - schedule
                - schedule desc
                - userId
                - userId desc
                - roleId
                - roleId desc
                - type
                - type desc
                - assignmentState
                - assignmentState desc
                - requestedDateTime
                - requestedDateTime desc
                - status
                - status desc
                - duration
                - duration desc
                - reason
                - reason desc
                - ticketNumber
                - ticketNumber desc
                - ticketSystem
                - ticketSystem desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - schedule
                - userId
                - roleId
                - type
                - assignmentState
                - requestedDateTime
                - status
                - duration
                - reason
                - ticketNumber
                - ticketSystem
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedRoleAssignmentRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest
      summary: Add new entity to privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest_CreatePrivilegedRoleAssignmentRequest
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoleAssignmentRequests/{privilegedRoleAssignmentRequest-id}':
    get:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest
      summary: Get entity from privilegedRoleAssignmentRequests by key
      operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest_GetPrivilegedRoleAssignmentRequest
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: privilegedRoleAssignmentRequest-id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - schedule
                - userId
                - roleId
                - type
                - assignmentState
                - requestedDateTime
                - status
                - duration
                - reason
                - ticketNumber
                - ticketSystem
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
          links:
            roleInfo:
              operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest.GetPrivilegedRoleAssignmentRequest
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest
      summary: Update entity in privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest_UpdatePrivilegedRoleAssignmentRequest
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: privilegedRoleAssignmentRequest-id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest
      summary: Delete entity from privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest_DeletePrivilegedRoleAssignmentRequest
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: privilegedRoleAssignmentRequest-id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoleAssignmentRequests/{privilegedRoleAssignmentRequest-id}/microsoft.graph.cancel':
    post:
      tags:
        - privilegedRoleAssignmentRequests.Actions
      summary: Invoke action cancel
      operationId: privilegedRoleAssignmentRequests_cancel
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: privilegedRoleAssignmentRequest-id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/privilegedRoleAssignmentRequests/{privilegedRoleAssignmentRequest-id}/roleInfo':
    get:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRole
      summary: Get roleInfo from privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests_GetRoleInfo
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: privilegedRoleAssignmentRequest-id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - settings
                - assignments
                - summary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settings
                - assignments
                - summary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRole
      summary: Update the navigation property roleInfo in privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests_UpdateRoleInfo
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: privilegedRoleAssignmentRequest-id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /privilegedRoleAssignmentRequests/microsoft.graph.my():
    get:
      tags:
        - privilegedRoleAssignmentRequests.Functions
      summary: Invoke function my
      operationId: privilegedRoleAssignmentRequests_my
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /privilegedRoleAssignments:
    get:
      tags:
        - privilegedRoleAssignments.privilegedRoleAssignment
      summary: Get entities from privilegedRoleAssignments
      operationId: privilegedRoleAssignments.privilegedRoleAssignment_ListPrivilegedRoleAssignment
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userId
                - userId desc
                - roleId
                - roleId desc
                - isElevated
                - isElevated desc
                - expirationDateTime
                - expirationDateTime desc
                - resultMessage
                - resultMessage desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - roleId
                - isElevated
                - expirationDateTime
                - resultMessage
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedRoleAssignments.privilegedRoleAssignment
      summary: Add new entity to privilegedRoleAssignments
      operationId: privilegedRoleAssignments.privilegedRoleAssignment_CreatePrivilegedRoleAssignment
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoleAssignments/{privilegedRoleAssignment-id}':
    get:
      tags:
        - privilegedRoleAssignments.privilegedRoleAssignment
      summary: Get entity from privilegedRoleAssignments by key
      operationId: privilegedRoleAssignments.privilegedRoleAssignment_GetPrivilegedRoleAssignment
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: privilegedRoleAssignment-id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - roleId
                - isElevated
                - expirationDateTime
                - resultMessage
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
          links:
            roleInfo:
              operationId: privilegedRoleAssignments.privilegedRoleAssignment.GetPrivilegedRoleAssignment
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoleAssignments.privilegedRoleAssignment
      summary: Update entity in privilegedRoleAssignments
      operationId: privilegedRoleAssignments.privilegedRoleAssignment_UpdatePrivilegedRoleAssignment
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: privilegedRoleAssignment-id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedRoleAssignments.privilegedRoleAssignment
      summary: Delete entity from privilegedRoleAssignments
      operationId: privilegedRoleAssignments.privilegedRoleAssignment_DeletePrivilegedRoleAssignment
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: privilegedRoleAssignment-id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoleAssignments/{privilegedRoleAssignment-id}/microsoft.graph.makeEligible':
    post:
      tags:
        - privilegedRoleAssignments.Actions
      summary: Invoke action makeEligible
      operationId: privilegedRoleAssignments_makeEligible
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: privilegedRoleAssignment-id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/privilegedRoleAssignments/{privilegedRoleAssignment-id}/microsoft.graph.makePermanent':
    post:
      tags:
        - privilegedRoleAssignments.Actions
      summary: Invoke action makePermanent
      operationId: privilegedRoleAssignments_makePermanent
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: privilegedRoleAssignment-id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  nullable: true
                ticketNumber:
                  type: string
                  nullable: true
                ticketSystem:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/privilegedRoleAssignments/{privilegedRoleAssignment-id}/roleInfo':
    get:
      tags:
        - privilegedRoleAssignments.privilegedRole
      summary: Get roleInfo from privilegedRoleAssignments
      operationId: privilegedRoleAssignments_GetRoleInfo
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: privilegedRoleAssignment-id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - settings
                - assignments
                - summary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settings
                - assignments
                - summary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoleAssignments.privilegedRole
      summary: Update the navigation property roleInfo in privilegedRoleAssignments
      operationId: privilegedRoleAssignments_UpdateRoleInfo
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: privilegedRoleAssignment-id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /privilegedRoleAssignments/microsoft.graph.my():
    get:
      tags:
        - privilegedRoleAssignments.Functions
      summary: Invoke function my
      operationId: privilegedRoleAssignments_my
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /privilegedRoles:
    get:
      tags:
        - privilegedRoles.privilegedRole
      summary: Get entities from privilegedRoles
      operationId: privilegedRoles.privilegedRole_ListPrivilegedRole
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - settings
                - assignments
                - summary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settings
                - assignments
                - summary
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedRole
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedRoles.privilegedRole
      summary: Add new entity to privilegedRoles
      operationId: privilegedRoles.privilegedRole_CreatePrivilegedRole
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoles/{privilegedRole-id}':
    get:
      tags:
        - privilegedRoles.privilegedRole
      summary: Get entity from privilegedRoles by key
      operationId: privilegedRoles.privilegedRole_GetPrivilegedRole
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - settings
                - assignments
                - summary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settings
                - assignments
                - summary
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRole'
          links:
            settings:
              operationId: privilegedRoles.privilegedRole.GetPrivilegedRole
              parameters:
                id: $request.path.id
            assignments:
              operationId: privilegedRoles.privilegedRole.GetPrivilegedRole
              parameters:
                id: $request.path.id
            summary:
              operationId: privilegedRoles.privilegedRole.GetPrivilegedRole
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoles.privilegedRole
      summary: Update entity in privilegedRoles
      operationId: privilegedRoles.privilegedRole_UpdatePrivilegedRole
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedRoles.privilegedRole
      summary: Delete entity from privilegedRoles
      operationId: privilegedRoles.privilegedRole_DeletePrivilegedRole
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoles/{privilegedRole-id}/assignments':
    get:
      tags:
        - privilegedRoles.privilegedRoleAssignment
      summary: Get assignments from privilegedRoles
      operationId: privilegedRoles_ListAssignments
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userId
                - userId desc
                - roleId
                - roleId desc
                - isElevated
                - isElevated desc
                - expirationDateTime
                - expirationDateTime desc
                - resultMessage
                - resultMessage desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - roleId
                - isElevated
                - expirationDateTime
                - resultMessage
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of privilegedRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoles/{privilegedRole-id}/assignments/{privilegedRoleAssignment-id}':
    get:
      tags:
        - privilegedRoles.privilegedRoleAssignment
      summary: Get assignments from privilegedRoles
      operationId: privilegedRoles_GetAssignments
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: privilegedRoleAssignment-id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - roleId
                - isElevated
                - expirationDateTime
                - resultMessage
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoles/{privilegedRole-id}/microsoft.graph.selfActivate':
    post:
      tags:
        - privilegedRoles.Actions
      summary: Invoke action selfActivate
      operationId: privilegedRoles_selfActivate
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  nullable: true
                duration:
                  type: string
                  nullable: true
                ticketNumber:
                  type: string
                  nullable: true
                ticketSystem:
                  type: string
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/privilegedRoles/{privilegedRole-id}/microsoft.graph.selfDeactivate':
    post:
      tags:
        - privilegedRoles.Actions
      summary: Invoke action selfDeactivate
      operationId: privilegedRoles_selfDeactivate
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/privilegedRoles/{privilegedRole-id}/settings':
    get:
      tags:
        - privilegedRoles.privilegedRoleSettings
      summary: Get settings from privilegedRoles
      operationId: privilegedRoles_GetSettings
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - approverIds
                - minElevationDuration
                - maxElavationDuration
                - elevationDuration
                - notificationToUserOnElevation
                - ticketingInfoOnElevation
                - mfaOnElevation
                - lastGlobalAdmin
                - isMfaOnElevationConfigurable
                - approvalOnElevation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoles.privilegedRoleSettings
      summary: Update the navigation property settings in privilegedRoles
      operationId: privilegedRoles_UpdateSettings
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoles/{privilegedRole-id}/summary':
    get:
      tags:
        - privilegedRoles.privilegedRoleSummary
      summary: Get summary from privilegedRoles
      operationId: privilegedRoles_GetSummary
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - status
                - usersCount
                - managedCount
                - elevatedCount
                - mfaEnabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoles.privilegedRoleSummary
      summary: Update the navigation property summary in privilegedRoles
      operationId: privilegedRoles_UpdateSummary
      parameters:
        - name: privilegedRole-id
          in: path
          description: 'key: privilegedRole-id of privilegedRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRole
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.privilegedApproval:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: privilegedApproval
          type: object
          properties:
            userId:
              type: string
              nullable: true
            roleId:
              type: string
              nullable: true
            approvalType:
              type: string
              nullable: true
            approvalState:
              $ref: '#/components/schemas/microsoft.graph.approvalState'
            approvalDuration:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              format: duration
              nullable: true
            requestorReason:
              type: string
              nullable: true
            approverReason:
              type: string
              nullable: true
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            endDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            request:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
            roleInfo:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
      example:
        id: string (identifier)
        userId: string
        roleId: string
        approvalType: string
        approvalState:
          '@odata.type': microsoft.graph.approvalState
        approvalDuration: string
        requestorReason: string
        approverReason: string
        startDateTime: string (timestamp)
        endDateTime: string (timestamp)
        request:
          '@odata.type': microsoft.graph.privilegedRoleAssignmentRequest
        roleInfo:
          '@odata.type': microsoft.graph.privilegedRole
    microsoft.graph.privilegedRoleAssignmentRequest:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: privilegedRoleAssignmentRequest
          type: object
          properties:
            schedule:
              $ref: '#/components/schemas/microsoft.graph.governanceSchedule'
            userId:
              type: string
              nullable: true
            roleId:
              type: string
              nullable: true
            type:
              type: string
              nullable: true
            assignmentState:
              type: string
              nullable: true
            requestedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            status:
              type: string
              nullable: true
            duration:
              type: string
              nullable: true
            reason:
              type: string
              nullable: true
            ticketNumber:
              type: string
              nullable: true
            ticketSystem:
              type: string
              nullable: true
            roleInfo:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
      example:
        id: string (identifier)
        schedule:
          '@odata.type': microsoft.graph.governanceSchedule
        userId: string
        roleId: string
        type: string
        assignmentState: string
        requestedDateTime: string (timestamp)
        status: string
        duration: string
        reason: string
        ticketNumber: string
        ticketSystem: string
        roleInfo:
          '@odata.type': microsoft.graph.privilegedRole
    microsoft.graph.privilegedRole:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: privilegedRole
          type: object
          properties:
            name:
              type: string
              nullable: true
            settings:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleSettings'
            assignments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
            summary:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleSummary'
      example:
        id: string (identifier)
        name: string
        settings:
          '@odata.type': microsoft.graph.privilegedRoleSettings
        assignments:
          - '@odata.type': microsoft.graph.privilegedRoleAssignment
        summary:
          '@odata.type': microsoft.graph.privilegedRoleSummary
    microsoft.graph.privilegedOperationEvent:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: privilegedOperationEvent
          type: object
          properties:
            userId:
              type: string
              nullable: true
            userName:
              type: string
              nullable: true
            userMail:
              type: string
              nullable: true
            roleId:
              type: string
              nullable: true
            roleName:
              type: string
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            creationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            requestorId:
              type: string
              nullable: true
            requestorName:
              type: string
              nullable: true
            tenantId:
              type: string
              nullable: true
            requestType:
              type: string
              nullable: true
            additionalInformation:
              type: string
              nullable: true
            referenceKey:
              type: string
              nullable: true
            referenceSystem:
              type: string
              nullable: true
      example:
        id: string (identifier)
        userId: string
        userName: string
        userMail: string
        roleId: string
        roleName: string
        expirationDateTime: string (timestamp)
        creationDateTime: string (timestamp)
        requestorId: string
        requestorName: string
        tenantId: string
        requestType: string
        additionalInformation: string
        referenceKey: string
        referenceSystem: string
    microsoft.graph.privilegedRoleAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: privilegedRoleAssignment
          type: object
          properties:
            userId:
              type: string
            roleId:
              type: string
            isElevated:
              type: boolean
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            resultMessage:
              type: string
              nullable: true
            roleInfo:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
      example:
        id: string (identifier)
        userId: string
        roleId: string
        isElevated: true
        expirationDateTime: string (timestamp)
        resultMessage: string
        roleInfo:
          '@odata.type': microsoft.graph.privilegedRole
    microsoft.graph.privilegedRoleSettings:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: privilegedRoleSettings
          type: object
          properties:
            approverIds:
              type: array
              items:
                type: string
                nullable: true
            minElevationDuration:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              format: duration
              nullable: true
            maxElavationDuration:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              format: duration
              nullable: true
            elevationDuration:
              pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
              type: string
              format: duration
              nullable: true
            notificationToUserOnElevation:
              type: boolean
              nullable: true
            ticketingInfoOnElevation:
              type: boolean
              nullable: true
            mfaOnElevation:
              type: boolean
              nullable: true
            lastGlobalAdmin:
              type: boolean
              nullable: true
            isMfaOnElevationConfigurable:
              type: boolean
              nullable: true
            approvalOnElevation:
              type: boolean
              nullable: true
      example:
        id: string (identifier)
        approverIds:
          - string
        minElevationDuration: string
        maxElavationDuration: string
        elevationDuration: string
        notificationToUserOnElevation: true
        ticketingInfoOnElevation: true
        mfaOnElevation: true
        lastGlobalAdmin: true
        isMfaOnElevationConfigurable: true
        approvalOnElevation: true
    microsoft.graph.privilegedRoleSummary:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: privilegedRoleSummary
          type: object
          properties:
            status:
              $ref: '#/components/schemas/microsoft.graph.roleSummaryStatus'
            usersCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            managedCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            elevatedCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            mfaEnabled:
              type: boolean
              nullable: true
      example:
        id: string (identifier)
        status:
          '@odata.type': microsoft.graph.roleSummaryStatus
        usersCount: integer
        managedCount: integer
        elevatedCount: integer
        mfaEnabled: true
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    microsoft.graph.approvalState:
      title: approvalState
      enum:
        - pending
        - approved
        - denied
        - aborted
        - canceled
      type: string
    microsoft.graph.governanceSchedule:
      title: governanceSchedule
      type: object
      properties:
        type:
          type: string
          nullable: true
        startDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        endDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        duration:
          pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
          type: string
          format: duration
          nullable: true
      example:
        type: string
        startDateTime: string (timestamp)
        endDateTime: string (timestamp)
        duration: string
    microsoft.graph.roleSummaryStatus:
      title: roleSummaryStatus
      enum:
        - ok
        - bad
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]