openapi: 3.0.1
info:
  title: Identity.Governance
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /accessReviews:
    get:
      tags:
        - accessReviews.accessReview
      summary: List accessReviews (deprecated)
      operationId: accessReviews.accessReview_ListAccessReview
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - businessFlowTemplateId
                - businessFlowTemplateId desc
                - createdBy
                - createdBy desc
                - description
                - description desc
                - displayName
                - displayName desc
                - endDateTime
                - endDateTime desc
                - reviewedEntity
                - reviewedEntity desc
                - reviewerType
                - reviewerType desc
                - settings
                - settings desc
                - startDateTime
                - startDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - businessFlowTemplateId
                - createdBy
                - description
                - displayName
                - endDateTime
                - reviewedEntity
                - reviewerType
                - settings
                - startDateTime
                - status
                - decisions
                - instances
                - myDecisions
                - reviewers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - decisions
                - instances
                - myDecisions
                - reviewers
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Create accessReview (deprecated)
      operationId: accessReviews.accessReview_CreateAccessReview
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get accessReview (deprecated)
      operationId: accessReviews.accessReview_GetAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - businessFlowTemplateId
                - createdBy
                - description
                - displayName
                - endDateTime
                - reviewedEntity
                - reviewerType
                - settings
                - startDateTime
                - status
                - decisions
                - instances
                - myDecisions
                - reviewers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - decisions
                - instances
                - myDecisions
                - reviewers
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
          links:
            decisions:
              operationId: accessReviews.ListDecisions
              parameters:
                accessReview-id: $request.path.accessReview-id
            instances:
              operationId: accessReviews.ListInstances
              parameters:
                accessReview-id: $request.path.accessReview-id
            myDecisions:
              operationId: accessReviews.ListMyDecisions
              parameters:
                accessReview-id: $request.path.accessReview-id
            reviewers:
              operationId: accessReviews.ListReviewers
              parameters:
                accessReview-id: $request.path.accessReview-id
            applyDecisions:
              operationId: accessReviews.accessReview.applyDecisions
            resetDecisions:
              operationId: accessReviews.accessReview.resetDecisions
            sendReminder:
              operationId: accessReviews.accessReview.sendReminder
            stop:
              operationId: accessReviews.accessReview.stop
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update accessReview (deprecated)
      operationId: accessReviews.accessReview_UpdateAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReview
      summary: Delete accessReview (deprecated)
      operationId: accessReviews.accessReview_DeleteAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/decisions':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get decisions from accessReviews
      operationId: accessReviews_ListDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessRecommendation
                - accessRecommendation desc
                - accessReviewId
                - accessReviewId desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - justification
                - justification desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRecommendation
                - accessReviewId
                - appliedBy
                - appliedDateTime
                - applyResult
                - justification
                - reviewedBy
                - reviewedDateTime
                - reviewResult
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewDecisionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewDecision
      summary: Create new navigation property to decisions for accessReviews
      operationId: accessReviews_CreateDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/decisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get decisions from accessReviews
      operationId: accessReviews_GetDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRecommendation
                - accessReviewId
                - appliedBy
                - appliedDateTime
                - applyResult
                - justification
                - reviewedBy
                - reviewedDateTime
                - reviewResult
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReviewDecision
      summary: Update the navigation property decisions in accessReviews
      operationId: accessReviews_UpdateDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReviewDecision
      summary: Delete navigation property decisions for accessReviews
      operationId: accessReviews_DeleteDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get instances from accessReviews
      operationId: accessReviews_ListInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - businessFlowTemplateId
                - businessFlowTemplateId desc
                - createdBy
                - createdBy desc
                - description
                - description desc
                - displayName
                - displayName desc
                - endDateTime
                - endDateTime desc
                - reviewedEntity
                - reviewedEntity desc
                - reviewerType
                - reviewerType desc
                - settings
                - settings desc
                - startDateTime
                - startDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - businessFlowTemplateId
                - createdBy
                - description
                - displayName
                - endDateTime
                - reviewedEntity
                - reviewerType
                - settings
                - startDateTime
                - status
                - decisions
                - instances
                - myDecisions
                - reviewers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - decisions
                - instances
                - myDecisions
                - reviewers
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Create new navigation property to instances for accessReviews
      operationId: accessReviews_CreateInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get instances from accessReviews
      operationId: accessReviews_GetInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - businessFlowTemplateId
                - createdBy
                - description
                - displayName
                - endDateTime
                - reviewedEntity
                - reviewerType
                - settings
                - startDateTime
                - status
                - decisions
                - instances
                - myDecisions
                - reviewers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - decisions
                - instances
                - myDecisions
                - reviewers
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
          links:
            decisions:
              operationId: accessReviews.Instances.ListDecisions
              parameters:
                accessReview-id: $request.path.accessReview-id
                accessReview-id1: $request.path.accessReview-id1
            instances:
              operationId: accessReviews.Instances.ListInstances
              parameters:
                accessReview-id: $request.path.accessReview-id
                accessReview-id1: $request.path.accessReview-id1
            myDecisions:
              operationId: accessReviews.Instances.ListMyDecisions
              parameters:
                accessReview-id: $request.path.accessReview-id
                accessReview-id1: $request.path.accessReview-id1
            reviewers:
              operationId: accessReviews.Instances.ListReviewers
              parameters:
                accessReview-id: $request.path.accessReview-id
                accessReview-id1: $request.path.accessReview-id1
            applyDecisions:
              operationId: accessReviews.accessReview.instances.accessReview.applyDecisions
            resetDecisions:
              operationId: accessReviews.accessReview.instances.accessReview.resetDecisions
            sendReminder:
              operationId: accessReviews.accessReview.instances.accessReview.sendReminder
            stop:
              operationId: accessReviews.accessReview.instances.accessReview.stop
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update the navigation property instances in accessReviews
      operationId: accessReviews_UpdateInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReview
      summary: Delete navigation property instances for accessReviews
      operationId: accessReviews_DeleteInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}/decisions':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get decisions from accessReviews
      operationId: accessReviews.instances_ListDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessRecommendation
                - accessRecommendation desc
                - accessReviewId
                - accessReviewId desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - justification
                - justification desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRecommendation
                - accessReviewId
                - appliedBy
                - appliedDateTime
                - applyResult
                - justification
                - reviewedBy
                - reviewedDateTime
                - reviewResult
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewDecisionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Create new navigation property to decisions for accessReviews
      operationId: accessReviews.instances_CreateDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}/decisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get decisions from accessReviews
      operationId: accessReviews.instances_GetDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRecommendation
                - accessReviewId
                - appliedBy
                - appliedDateTime
                - applyResult
                - justification
                - reviewedBy
                - reviewedDateTime
                - reviewResult
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update the navigation property decisions in accessReviews
      operationId: accessReviews.instances_UpdateDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReview
      summary: Delete navigation property decisions for accessReviews
      operationId: accessReviews.instances_DeleteDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}/microsoft.graph.applyDecisions':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action applyDecisions
      operationId: accessReviews.instances_applyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}/microsoft.graph.resetDecisions':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action resetDecisions
      operationId: accessReviews.instances_resetDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}/microsoft.graph.sendReminder':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action sendReminder
      operationId: accessReviews.instances_sendReminder
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}/microsoft.graph.stop':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action stop
      operationId: accessReviews.instances_stop
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}/myDecisions':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get myDecisions from accessReviews
      operationId: accessReviews.instances_ListMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessRecommendation
                - accessRecommendation desc
                - accessReviewId
                - accessReviewId desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - justification
                - justification desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRecommendation
                - accessReviewId
                - appliedBy
                - appliedDateTime
                - applyResult
                - justification
                - reviewedBy
                - reviewedDateTime
                - reviewResult
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewDecisionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Create new navigation property to myDecisions for accessReviews
      operationId: accessReviews.instances_CreateMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}/myDecisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get myDecisions from accessReviews
      operationId: accessReviews.instances_GetMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRecommendation
                - accessReviewId
                - appliedBy
                - appliedDateTime
                - applyResult
                - justification
                - reviewedBy
                - reviewedDateTime
                - reviewResult
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update the navigation property myDecisions in accessReviews
      operationId: accessReviews.instances_UpdateMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReview
      summary: Delete navigation property myDecisions for accessReviews
      operationId: accessReviews.instances_DeleteMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}/reviewers':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get reviewers from accessReviews
      operationId: accessReviews.instances_ListReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewReviewerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Create new navigation property to reviewers for accessReviews
      operationId: accessReviews.instances_CreateReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}/reviewers/{accessReviewReviewer-id}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get reviewers from accessReviews
      operationId: accessReviews.instances_GetReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update the navigation property reviewers in accessReviews
      operationId: accessReviews.instances_UpdateReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReview
      summary: Delete navigation property reviewers for accessReviews
      operationId: accessReviews.instances_DeleteReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/microsoft.graph.applyDecisions':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action applyDecisions
      operationId: accessReviews_applyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.resetDecisions':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action resetDecisions
      operationId: accessReviews_resetDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.sendReminder':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action sendReminder
      operationId: accessReviews_sendReminder
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.stop':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action stop
      operationId: accessReviews_stop
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/myDecisions':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get myDecisions from accessReviews
      operationId: accessReviews_ListMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessRecommendation
                - accessRecommendation desc
                - accessReviewId
                - accessReviewId desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - justification
                - justification desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRecommendation
                - accessReviewId
                - appliedBy
                - appliedDateTime
                - applyResult
                - justification
                - reviewedBy
                - reviewedDateTime
                - reviewResult
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewDecisionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewDecision
      summary: Create new navigation property to myDecisions for accessReviews
      operationId: accessReviews_CreateMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/myDecisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get myDecisions from accessReviews
      operationId: accessReviews_GetMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessRecommendation
                - accessReviewId
                - appliedBy
                - appliedDateTime
                - applyResult
                - justification
                - reviewedBy
                - reviewedDateTime
                - reviewResult
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReviewDecision
      summary: Update the navigation property myDecisions in accessReviews
      operationId: accessReviews_UpdateMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReviewDecision
      summary: Delete navigation property myDecisions for accessReviews
      operationId: accessReviews_DeleteMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/reviewers':
    get:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Get reviewers from accessReviews
      operationId: accessReviews_ListReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.accessReviewReviewerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Create new navigation property to reviewers for accessReviews
      operationId: accessReviews_CreateReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/reviewers/{accessReviewReviewer-id}':
    get:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Get reviewers from accessReviews
      operationId: accessReviews_GetReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Update the navigation property reviewers in accessReviews
      operationId: accessReviews_UpdateReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Delete navigation property reviewers for accessReviews
      operationId: accessReviews_DeleteReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /agreements:
    get:
      tags:
        - agreements.agreement
      summary: Get entities from agreements
      operationId: agreements.agreement_ListAgreement
      parameters:
        - $ref: '#/components/parameters/search'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isPerDeviceAcceptanceRequired
                - isViewingBeforeAcceptanceRequired
                - termsExpiration
                - userReacceptRequiredFrequency
                - acceptances
                - file
                - files
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agreementCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreement
      summary: Add new entity to agreements
      operationId: agreements.agreement_CreateAgreement
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreement'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}':
    get:
      tags:
        - agreements.agreement
      summary: Get entity from agreements by key
      operationId: agreements.agreement_GetAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isPerDeviceAcceptanceRequired
                - isViewingBeforeAcceptanceRequired
                - termsExpiration
                - userReacceptRequiredFrequency
                - acceptances
                - file
                - files
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreement'
          links:
            acceptances:
              operationId: agreements.ListAcceptances
              parameters:
                agreement-id: $request.path.agreement-id
            file:
              operationId: agreements.GetFile
              parameters:
                agreement-id: $request.path.agreement-id
            files:
              operationId: agreements.ListFiles
              parameters:
                agreement-id: $request.path.agreement-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreement
      summary: Update entity in agreements
      operationId: agreements.agreement_UpdateAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreement
      summary: Delete entity from agreements
      operationId: agreements.agreement_DeleteAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/acceptances':
    get:
      tags:
        - agreements.agreementAcceptance
      summary: Get acceptances from agreements
      operationId: agreements_ListAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - agreementFileId
                - agreementFileId desc
                - agreementId
                - agreementId desc
                - deviceDisplayName
                - deviceDisplayName desc
                - deviceId
                - deviceId desc
                - deviceOSType
                - deviceOSType desc
                - deviceOSVersion
                - deviceOSVersion desc
                - expirationDateTime
                - expirationDateTime desc
                - recordedDateTime
                - recordedDateTime desc
                - state
                - state desc
                - userDisplayName
                - userDisplayName desc
                - userEmail
                - userEmail desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agreementFileId
                - agreementId
                - deviceDisplayName
                - deviceId
                - deviceOSType
                - deviceOSVersion
                - expirationDateTime
                - recordedDateTime
                - state
                - userDisplayName
                - userEmail
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agreementAcceptanceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementAcceptance
      summary: Create new navigation property to acceptances for agreements
      operationId: agreements_CreateAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/acceptances/{agreementAcceptance-id}':
    get:
      tags:
        - agreements.agreementAcceptance
      summary: Get acceptances from agreements
      operationId: agreements_GetAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agreementFileId
                - agreementId
                - deviceDisplayName
                - deviceId
                - deviceOSType
                - deviceOSVersion
                - expirationDateTime
                - recordedDateTime
                - state
                - userDisplayName
                - userEmail
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementAcceptance
      summary: Update the navigation property acceptances in agreements
      operationId: agreements_UpdateAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementAcceptance
      summary: Delete navigation property acceptances for agreements
      operationId: agreements_DeleteAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file':
    get:
      tags:
        - agreements.agreementFile
      summary: Get file from agreements
      operationId: agreements_GetFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - localizations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - localizations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFile'
          links:
            localizations:
              operationId: agreements.File.ListLocalizations
              parameters:
                agreement-id: $request.path.agreement-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property file in agreements
      operationId: agreements_UpdateFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFile
      summary: Delete navigation property file for agreements
      operationId: agreements_DeleteFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations':
    get:
      tags:
        - agreements.agreementFile
      summary: Get localizations from agreements
      operationId: agreements.file_ListLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - fileData
                - fileData desc
                - fileName
                - fileName desc
                - isDefault
                - isDefault desc
                - isMajorVersion
                - isMajorVersion desc
                - language
                - language desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - versions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agreementFileLocalizationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFile
      summary: Create new navigation property to localizations for agreements
      operationId: agreements.file_CreateLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}':
    get:
      tags:
        - agreements.agreementFile
      summary: Get localizations from agreements
      operationId: agreements.file_GetLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
                - versions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - versions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
          links:
            versions:
              operationId: agreements.file.Localizations.ListVersions
              parameters:
                agreement-id: $request.path.agreement-id
                agreementFileLocalization-id: $request.path.agreementFileLocalization-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property localizations in agreements
      operationId: agreements.file_UpdateLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFile
      summary: Delete navigation property localizations for agreements
      operationId: agreements.file_DeleteLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}/versions':
    get:
      tags:
        - agreements.agreementFile
      summary: Get versions from agreements
      operationId: agreements.file.localizations_ListVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - fileData
                - fileData desc
                - fileName
                - fileName desc
                - isDefault
                - isDefault desc
                - isMajorVersion
                - isMajorVersion desc
                - language
                - language desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - fileData
                - fileName
                - isDefault
                - isMajorVersion
                - language
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.agreementFileVersionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFile
      summary: Create new navigation property to versions for agreements
      operationId: agreements.file.localizations_CreateVersions
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
[...]
