openapi: 3.0.1
info:
  title: Identity.ServicePrincipal
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /servicePrincipals:
    get:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Get entities from servicePrincipals
      operationId: servicePrincipals.servicePrincipal_ListServicePrincipal
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - addIns
                - addIns desc
                - alternativeNames
                - alternativeNames desc
                - appDescription
                - appDescription desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - applicationTemplateId
                - applicationTemplateId desc
                - appOwnerOrganizationId
                - appOwnerOrganizationId desc
                - appRoleAssignmentRequired
                - appRoleAssignmentRequired desc
                - appRoles
                - appRoles desc
                - description
                - description desc
                - displayName
                - displayName desc
                - errorUrl
                - errorUrl desc
                - homepage
                - homepage desc
                - info
                - info desc
                - keyCredentials
                - keyCredentials desc
                - loginUrl
                - loginUrl desc
                - logoutUrl
                - logoutUrl desc
                - notes
                - notes desc
                - notificationEmailAddresses
                - notificationEmailAddresses desc
                - publishedPermissionScopes
                - publishedPermissionScopes desc
                - passwordCredentials
                - passwordCredentials desc
                - preferredTokenSigningKeyEndDateTime
                - preferredTokenSigningKeyEndDateTime desc
                - preferredTokenSigningKeyThumbprint
                - preferredTokenSigningKeyThumbprint desc
                - preferredSingleSignOnMode
                - preferredSingleSignOnMode desc
                - publisherName
                - publisherName desc
                - replyUrls
                - replyUrls desc
                - samlMetadataUrl
                - samlMetadataUrl desc
                - samlSingleSignOnSettings
                - samlSingleSignOnSettings desc
                - servicePrincipalNames
                - servicePrincipalNames desc
                - servicePrincipalType
                - servicePrincipalType desc
                - signInAudience
                - signInAudience desc
                - tags
                - tags desc
                - tokenEncryptionKeyId
                - tokenEncryptionKeyId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - addIns
                - alternativeNames
                - appDescription
                - appDisplayName
                - appId
                - applicationTemplateId
                - appOwnerOrganizationId
                - appRoleAssignmentRequired
                - appRoles
                - description
                - displayName
                - errorUrl
                - homepage
                - info
                - keyCredentials
                - loginUrl
                - logoutUrl
                - notes
                - notificationEmailAddresses
                - publishedPermissionScopes
                - passwordCredentials
                - preferredTokenSigningKeyEndDateTime
                - preferredTokenSigningKeyThumbprint
                - preferredSingleSignOnMode
                - publisherName
                - replyUrls
                - samlMetadataUrl
                - samlSingleSignOnSettings
                - servicePrincipalNames
                - servicePrincipalType
                - signInAudience
                - tags
                - tokenEncryptionKeyId
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - homeRealmDiscoveryPolicies
                - endpoints
                - oauth2PermissionGrants
                - memberOf
                - transitiveMemberOf
                - createdObjects
                - licenseDetails
                - owners
                - ownedObjects
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - homeRealmDiscoveryPolicies
                - endpoints
                - oauth2PermissionGrants
                - memberOf
                - transitiveMemberOf
                - createdObjects
                - licenseDetails
                - owners
                - ownedObjects
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of servicePrincipal
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Add new entity to servicePrincipals
      operationId: servicePrincipals.servicePrincipal_CreateServicePrincipal
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}':
    get:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Get entity from servicePrincipals by key
      operationId: servicePrincipals.servicePrincipal_GetServicePrincipal
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - addIns
                - alternativeNames
                - appDescription
                - appDisplayName
                - appId
                - applicationTemplateId
                - appOwnerOrganizationId
                - appRoleAssignmentRequired
                - appRoles
                - description
                - displayName
                - errorUrl
                - homepage
                - info
                - keyCredentials
                - loginUrl
                - logoutUrl
                - notes
                - notificationEmailAddresses
                - publishedPermissionScopes
                - passwordCredentials
                - preferredTokenSigningKeyEndDateTime
                - preferredTokenSigningKeyThumbprint
                - preferredSingleSignOnMode
                - publisherName
                - replyUrls
                - samlMetadataUrl
                - samlSingleSignOnSettings
                - servicePrincipalNames
                - servicePrincipalType
                - signInAudience
                - tags
                - tokenEncryptionKeyId
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - homeRealmDiscoveryPolicies
                - endpoints
                - oauth2PermissionGrants
                - memberOf
                - transitiveMemberOf
                - createdObjects
                - licenseDetails
                - owners
                - ownedObjects
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignedTo
                - appRoleAssignments
                - claimsMappingPolicies
                - homeRealmDiscoveryPolicies
                - endpoints
                - oauth2PermissionGrants
                - memberOf
                - transitiveMemberOf
                - createdObjects
                - licenseDetails
                - owners
                - ownedObjects
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
          links:
            appRoleAssignedTo:
              operationId: servicePrincipals.GetAppRoleAssignedTo
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                appRoleAssignment-id: $response.body#/id
            appRoleAssignments:
              operationId: servicePrincipals.GetAppRoleAssignments
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                appRoleAssignment-id: $response.body#/id
            claimsMappingPolicies:
              operationId: servicePrincipals.GetClaimsMappingPolicies
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                claimsMappingPolicy-id: $response.body#/id
            homeRealmDiscoveryPolicies:
              operationId: servicePrincipals.GetHomeRealmDiscoveryPolicies
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                homeRealmDiscoveryPolicy-id: $response.body#/id
            endpoints:
              operationId: servicePrincipals.GetEndpoints
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                endpoint-id: $response.body#/id
            oauth2PermissionGrants:
              operationId: servicePrincipals.GetOauth2PermissionGrants
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                oAuth2PermissionGrant-id: $response.body#/id
            memberOf:
              operationId: servicePrincipals.GetMemberOf
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                directoryObject-id: $response.body#/id
            transitiveMemberOf:
              operationId: servicePrincipals.GetTransitiveMemberOf
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                directoryObject-id: $response.body#/id
            createdObjects:
              operationId: servicePrincipals.GetCreatedObjects
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                directoryObject-id: $response.body#/id
            licenseDetails:
              operationId: servicePrincipals.GetLicenseDetails
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                licenseDetails-id: $response.body#/id
            owners:
              operationId: servicePrincipals.GetOwners
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                directoryObject-id: $response.body#/id
            ownedObjects:
              operationId: servicePrincipals.GetOwnedObjects
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                directoryObject-id: $response.body#/id
            tokenIssuancePolicies:
              operationId: servicePrincipals.GetTokenIssuancePolicies
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                tokenIssuancePolicy-id: $response.body#/id
            tokenLifetimePolicies:
              operationId: servicePrincipals.GetTokenLifetimePolicies
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                tokenLifetimePolicy-id: $response.body#/id
            synchronization:
              operationId: servicePrincipals.GetSynchronization
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                synchronization-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Update entity in servicePrincipals
      operationId: servicePrincipals.servicePrincipal_UpdateServicePrincipal
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Delete entity from servicePrincipals
      operationId: servicePrincipals.servicePrincipal_DeleteServicePrincipal
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignedTo':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignedTo from servicePrincipals
      operationId: servicePrincipals_ListAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appRoleId
                - appRoleId desc
                - creationTimestamp
                - creationTimestamp desc
                - principalDisplayName
                - principalDisplayName desc
                - principalId
                - principalId desc
                - principalType
                - principalType desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Create new navigation property to appRoleAssignedTo for servicePrincipals
      operationId: servicePrincipals_CreateAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignedTo/{appRoleAssignment-id}':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignedTo from servicePrincipals
      operationId: servicePrincipals_GetAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Update the navigation property appRoleAssignedTo in servicePrincipals
      operationId: servicePrincipals_UpdateAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignments':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignments from servicePrincipals
      operationId: servicePrincipals_ListAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appRoleId
                - appRoleId desc
                - creationTimestamp
                - creationTimestamp desc
                - principalDisplayName
                - principalDisplayName desc
                - principalId
                - principalId desc
                - principalType
                - principalType desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Create new navigation property to appRoleAssignments for servicePrincipals
      operationId: servicePrincipals_CreateAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignments/{appRoleAssignment-id}':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignments from servicePrincipals
      operationId: servicePrincipals_GetAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Update the navigation property appRoleAssignments in servicePrincipals
      operationId: servicePrincipals_UpdateAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/claimsMappingPolicies':
    get:
      tags:
        - servicePrincipals.claimsMappingPolicy
      summary: Get claimsMappingPolicies from servicePrincipals
      operationId: servicePrincipals_ListClaimsMappingPolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of claimsMappingPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/claimsMappingPolicies/{claimsMappingPolicy-id}':
    get:
      tags:
        - servicePrincipals.claimsMappingPolicy
      summary: Get claimsMappingPolicies from servicePrincipals
      operationId: servicePrincipals_GetClaimsMappingPolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: claimsMappingPolicy-id
          in: path
          description: 'key: claimsMappingPolicy-id of claimsMappingPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: claimsMappingPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/createdObjects':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get createdObjects from servicePrincipals
      operationId: servicePrincipals_ListCreatedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/createdObjects/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get createdObjects from servicePrincipals
      operationId: servicePrincipals_GetCreatedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/endpoints':
    get:
      tags:
        - servicePrincipals.endpoint
      summary: Get endpoints from servicePrincipals
      operationId: servicePrincipals_ListEndpoints
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - capability
                - capability desc
                - providerId
                - providerId desc
                - providerName
                - providerName desc
                - uri
                - uri desc
                - providerResourceId
                - providerResourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - capability
                - providerId
                - providerName
                - uri
                - providerResourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of endpoint
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.endpoint'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.endpoint
      summary: Create new navigation property to endpoints for servicePrincipals
      operationId: servicePrincipals_CreateEndpoints
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endpoint'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endpoint'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/endpoints/{endpoint-id}':
    get:
      tags:
        - servicePrincipals.endpoint
      summary: Get endpoints from servicePrincipals
      operationId: servicePrincipals_GetEndpoints
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: endpoint-id
          in: path
          description: 'key: endpoint-id of endpoint'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: endpoint
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - capability
                - providerId
                - providerName
                - uri
                - providerResourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.endpoint'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - servicePrincipals.endpoint
      summary: Update the navigation property endpoints in servicePrincipals
      operationId: servicePrincipals_UpdateEndpoints
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: endpoint-id
          in: path
          description: 'key: endpoint-id of endpoint'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: endpoint
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.endpoint'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/homeRealmDiscoveryPolicies':
    get:
      tags:
        - servicePrincipals.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from servicePrincipals
      operationId: servicePrincipals_ListHomeRealmDiscoveryPolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of homeRealmDiscoveryPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/homeRealmDiscoveryPolicies/{homeRealmDiscoveryPolicy-id}':
    get:
      tags:
        - servicePrincipals.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from servicePrincipals
      operationId: servicePrincipals_GetHomeRealmDiscoveryPolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: homeRealmDiscoveryPolicy-id
          in: path
          description: 'key: homeRealmDiscoveryPolicy-id of homeRealmDiscoveryPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: homeRealmDiscoveryPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/licenseDetails':
    get:
      tags:
        - servicePrincipals.licenseDetails
      summary: Get licenseDetails from servicePrincipals
      operationId: servicePrincipals_ListLicenseDetails
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - servicePlans
                - servicePlans desc
                - skuId
                - skuId desc
                - skuPartNumber
                - skuPartNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - servicePlans
                - skuId
                - skuPartNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of licenseDetails
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.licenseDetails'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.licenseDetails
      summary: Create new navigation property to licenseDetails for servicePrincipals
      operationId: servicePrincipals_CreateLicenseDetails
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/licenseDetails/{licenseDetails-id}':
    get:
      tags:
        - servicePrincipals.licenseDetails
      summary: Get licenseDetails from servicePrincipals
      operationId: servicePrincipals_GetLicenseDetails
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: licenseDetails-id
          in: path
          description: 'key: licenseDetails-id of licenseDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: licenseDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - servicePlans
                - skuId
                - skuPartNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - servicePrincipals.licenseDetails
      summary: Update the navigation property licenseDetails in servicePrincipals
      operationId: servicePrincipals_UpdateLicenseDetails
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: licenseDetails-id
          in: path
          description: 'key: licenseDetails-id of licenseDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: licenseDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/memberOf':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get memberOf from servicePrincipals
      operationId: servicePrincipals_ListMemberOf
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get memberOf from servicePrincipals
      operationId: servicePrincipals_GetMemberOf
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action checkMemberGroups
      operationId: servicePrincipals_checkMemberGroups
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action checkMemberObjects
      operationId: servicePrincipals_checkMemberObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.createPasswordSingleSignOnCredentials':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action createPasswordSingleSignOnCredentials
      operationId: servicePrincipals_createPasswordSingleSignOnCredentials
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.credential'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordSingleSignOnCredentialSet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.deletePasswordSingleSignOnCredentials':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action deletePasswordSingleSignOnCredentials
      operationId: servicePrincipals_deletePasswordSingleSignOnCredentials
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action getMemberGroups
      operationId: servicePrincipals_getMemberGroups
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action getMemberObjects
      operationId: servicePrincipals_getMemberObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.getPasswordSingleSignOnCredentials':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action getPasswordSingleSignOnCredentials
      operationId: servicePrincipals_getPasswordSingleSignOnCredentials
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordSingleSignOnCredentialSet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.restore':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action restore
      operationId: servicePrincipals_restore
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/microsoft.graph.updatePasswordSingleSignOnCredentials':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action updatePasswordSingleSignOnCredentials
      operationId: servicePrincipals_updatePasswordSingleSignOnCredentials
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.credential'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/oauth2PermissionGrants':
    get:
      tags:
        - servicePrincipals.oAuth2PermissionGrant
      summary: Get oauth2PermissionGrants from servicePrincipals
      operationId: servicePrincipals_ListOauth2PermissionGrants
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientId
                - clientId desc
                - consentType
                - consentType desc
                - expiryTime
                - expiryTime desc
                - principalId
                - principalId desc
                - resourceId
                - resourceId desc
                - scope
                - scope desc
                - startTime
                - startTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - expiryTime
                - principalId
                - resourceId
                - scope
                - startTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of oAuth2PermissionGrant
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/oauth2PermissionGrants/{oAuth2PermissionGrant-id}':
    get:
      tags:
        - servicePrincipals.oAuth2PermissionGrant
      summary: Get oauth2PermissionGrants from servicePrincipals
      operationId: servicePrincipals_GetOauth2PermissionGrants
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: oAuth2PermissionGrant-id
          in: path
          description: 'key: oAuth2PermissionGrant-id of oAuth2PermissionGrant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: oAuth2PermissionGrant
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - expiryTime
                - principalId
                - resourceId
                - scope
                - startTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/ownedObjects':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get ownedObjects from servicePrincipals
      operationId: servicePrincipals_ListOwnedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/ownedObjects/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get ownedObjects from servicePrincipals
      operationId: servicePrincipals_GetOwnedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/owners':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get owners from servicePrincipals
      operationId: servicePrincipals_ListOwners
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/owners/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get owners from servicePrincipals
      operationId: servicePrincipals_GetOwners
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
  '/servicePrincipals/{servicePrincipal-id}/synchronization':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get synchronization from servicePrincipals
      operationId: servicePrincipals_GetSynchronization
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - secrets
                - jobs
                - templates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - templates
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronization'
          links:
            jobs:
              operationId: servicePrincipal.synchronization.GetJobs
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                synchronizationJob-id: $response.body#/id
            templates:
              operationId: servicePrincipal.synchronization.GetTemplates
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                synchronizationTemplate-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - servicePrincipals.synchronization
      summary: Update the navigation property synchronization in servicePrincipals
      operationId: servicePrincipals_UpdateSynchronization
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get jobs from servicePrincipals
      operationId: servicePrincipals.synchronization_ListJobs
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - schedule
                - schedule desc
                - status
                - status desc
                - templateId
                - templateId desc
                - synchronizationJobSettings
                - synchronizationJobSettings desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - schedule
                - status
                - templateId
                - synchronizationJobSettings
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of synchronizationJob
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.synchronization
      summary: Create new navigation property to jobs for servicePrincipals
      operationId: servicePrincipals.synchronization_CreateJobs
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get jobs from servicePrincipals
      operationId: servicePrincipals.synchronization_GetJobs
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - schedule
                - status
                - templateId
                - synchronizationJobSettings
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
          links:
            schema:
              operationId: synchronization.jobs.GetSchema
              parameters:
                servicePrincipal-id: $request.path.servicePrincipal-id
                synchronizationJob-id: $request.path.synchronizationJob-id
                synchronizationSchema-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - servicePrincipals.synchronization
      summary: Update the navigation property jobs in servicePrincipals
      operationId: servicePrincipals.synchronization_UpdateJobs
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.pause':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action pause
      operationId: servicePrincipals.synchronization.jobs_pause
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.restart':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action restart
      operationId: servicePrincipals.synchronization.jobs_restart
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                criteria:
                  $ref: '#/components/schemas/microsoft.graph.synchronizationJobRestartCriteria'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.start':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action start
      operationId: servicePrincipals.synchronization.jobs_start
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.stop':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action stop
      operationId: servicePrincipals.synchronization.jobs_stop
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
[...]
