openapi: 3.0.1
info:
  title: Identity.Policies
  version: v1.0-Beta
servers:
  - url: https://graph.microsoft.com/Beta/
    description: Core
paths:
  /policies:
    get:
      tags:
        - policies.policy
      summary: Get entities from policies
      operationId: policies.policy_ListPolicy
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - alternativeIdentifier
                - alternativeIdentifier desc
                - definition
                - definition desc
                - displayName
                - displayName desc
                - isOrganizationDefault
                - isOrganizationDefault desc
                - keyCredentials
                - keyCredentials desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - alternativeIdentifier
                - definition
                - displayName
                - isOrganizationDefault
                - keyCredentials
                - type
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of policy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.policy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.policy
      summary: Add new entity to policies
      operationId: policies.policy_CreatePolicy
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.policy'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.policy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/{policy-id}':
    get:
      tags:
        - policies.policy
      summary: Get entity from policies by key
      operationId: policies.policy_GetPolicy
      parameters:
        - name: policy-id
          in: path
          description: 'key: policy-id of policy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: policy
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - alternativeIdentifier
                - definition
                - displayName
                - isOrganizationDefault
                - keyCredentials
                - type
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.policy'
          links:
            appliesTo:
              operationId: policies.policy.GetPolicy
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.policy
      summary: Update entity in policies
      operationId: policies.policy_UpdatePolicy
      parameters:
        - name: policy-id
          in: path
          description: 'key: policy-id of policy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: policy
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.policy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - policies.policy
      summary: Delete entity from policies
      operationId: policies.policy_DeletePolicy
      parameters:
        - name: policy-id
          in: path
          description: 'key: policy-id of policy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: policy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/{policy-id}/appliesTo':
    get:
      tags:
        - policies.directoryObject
      summary: Get appliesTo from policies
      operationId: policies_ListAppliesTo
      parameters:
        - name: policy-id
          in: path
          description: 'key: policy-id of policy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: policy
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/{policy-id}/appliesTo/{directoryObject-id}':
    get:
      tags:
        - policies.directoryObject
      summary: Get appliesTo from policies
      operationId: policies_GetAppliesTo
      parameters:
        - name: policy-id
          in: path
          description: 'key: policy-id of policy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: policy
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.policy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: policy
          type: object
          properties:
            alternativeIdentifier:
              type: string
              nullable: true
            definition:
              type: array
              items:
                type: string
            displayName:
              type: string
            isOrganizationDefault:
              type: boolean
              nullable: true
            keyCredentials:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.keyCredential'
            type:
              type: string
            appliesTo:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        alternativeIdentifier: string
        definition:
          - string
        displayName: string
        isOrganizationDefault: true
        keyCredentials:
          - '@odata.type': microsoft.graph.keyCredential
        type: string
        appliesTo:
          - '@odata.type': microsoft.graph.directoryObject
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.keyCredential:
      title: keyCredential
      type: object
      properties:
        customKeyIdentifier:
          type: string
          format: base64url
          nullable: true
        endDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        keyId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          format: uuid
          nullable: true
        startDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        type:
          type: string
          nullable: true
        usage:
          type: string
          nullable: true
        key:
          type: string
          format: base64url
          nullable: true
        displayName:
          type: string
          nullable: true
      example:
        customKeyIdentifier: string
        endDateTime: string (timestamp)
        keyId: string
        startDateTime: string (timestamp)
        type: string
        usage: string
        key: string
        displayName: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]