openapi: 3.0.1
info:
  title: Identity.AppRoleAssignments
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /appRoleAssignments:
    get:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Get entities from appRoleAssignments
      operationId: appRoleAssignments.appRoleAssignment_ListAppRoleAssignment
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appRoleId
                - appRoleId desc
                - creationTimestamp
                - creationTimestamp desc
                - principalDisplayName
                - principalDisplayName desc
                - principalId
                - principalId desc
                - principalType
                - principalType desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of appRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Add new entity to appRoleAssignments
      operationId: appRoleAssignments.appRoleAssignment_CreateAppRoleAssignment
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appRoleAssignments/{appRoleAssignment-id}':
    get:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Get entity from appRoleAssignments by key
      operationId: appRoleAssignments.appRoleAssignment_GetAppRoleAssignment
      parameters:
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Update entity in appRoleAssignments
      operationId: appRoleAssignments.appRoleAssignment_UpdateAppRoleAssignment
      parameters:
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - appRoleAssignments.appRoleAssignment
      summary: Delete entity from appRoleAssignments
      operationId: appRoleAssignments.appRoleAssignment_DeleteAppRoleAssignment
      parameters:
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/appRoleAssignments':
    get:
      tags:
        - groups.appRoleAssignment
      summary: Get appRoleAssignments from groups
      operationId: groups_ListAppRoleAssignments
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appRoleId
                - appRoleId desc
                - creationTimestamp
                - creationTimestamp desc
                - principalDisplayName
                - principalDisplayName desc
                - principalId
                - principalId desc
                - principalType
                - principalType desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.appRoleAssignment
      summary: Create new navigation property to appRoleAssignments for groups
      operationId: groups_CreateAppRoleAssignments
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/appRoleAssignments/{appRoleAssignment-id}':
    get:
      tags:
        - groups.appRoleAssignment
      summary: Get appRoleAssignments from groups
      operationId: groups_GetAppRoleAssignments
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.appRoleAssignment
      summary: Update the navigation property appRoleAssignments in groups
      operationId: groups_UpdateAppRoleAssignments
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/appRoleAssignments':
    get:
      tags:
        - users.appRoleAssignment
      summary: Get appRoleAssignments from users
      operationId: users_ListAppRoleAssignments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appRoleId
                - appRoleId desc
                - creationTimestamp
                - creationTimestamp desc
                - principalDisplayName
                - principalDisplayName desc
                - principalId
                - principalId desc
                - principalType
                - principalType desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.appRoleAssignment
      summary: Create new navigation property to appRoleAssignments for users
      operationId: users_CreateAppRoleAssignments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/appRoleAssignments/{appRoleAssignment-id}':
    get:
      tags:
        - users.appRoleAssignment
      summary: Get appRoleAssignments from users
      operationId: users_GetAppRoleAssignments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.appRoleAssignment
      summary: Update the navigation property appRoleAssignments in users
      operationId: users_UpdateAppRoleAssignments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.appRoleAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: appRoleAssignment
          type: object
          properties:
            appRoleId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
            creationTimestamp:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            principalDisplayName:
              type: string
              nullable: true
            principalId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
              nullable: true
            principalType:
              type: string
              nullable: true
            resourceDisplayName:
              type: string
              nullable: true
            resourceId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
              nullable: true
      example:
        id: string (identifier)
        appRoleId: string
        creationTimestamp: string (timestamp)
        principalDisplayName: string
        principalId: string
        principalType: string
        resourceDisplayName: string
        resourceId: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]