openapi: 3.0.1
info:
  title: Identity.Policies
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /policies:
    get:
      tags:
        - policies.policyRoot
      summary: Get policies
      operationId: policies.policyRoot_GetPolicyRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityBasedTimeoutPolicies
                - claimsMappingPolicies
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - adminConsentRequestPolicy
                - identitySecurityDefaultsEnforcementPolicy
                - conditionalAccessPolicies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activityBasedTimeoutPolicies
                - claimsMappingPolicies
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - adminConsentRequestPolicy
                - identitySecurityDefaultsEnforcementPolicy
                - conditionalAccessPolicies
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.policyRoot'
          links:
            activityBasedTimeoutPolicies:
              operationId: policies.GetActivityBasedTimeoutPolicies
              parameters:
                activityBasedTimeoutPolicy-id: $response.body#/id
            claimsMappingPolicies:
              operationId: policies.GetClaimsMappingPolicies
              parameters:
                claimsMappingPolicy-id: $response.body#/id
            homeRealmDiscoveryPolicies:
              operationId: policies.GetHomeRealmDiscoveryPolicies
              parameters:
                homeRealmDiscoveryPolicy-id: $response.body#/id
            tokenIssuancePolicies:
              operationId: policies.GetTokenIssuancePolicies
              parameters:
                tokenIssuancePolicy-id: $response.body#/id
            tokenLifetimePolicies:
              operationId: policies.GetTokenLifetimePolicies
              parameters:
                tokenLifetimePolicy-id: $response.body#/id
            adminConsentRequestPolicy:
              operationId: policies.GetAdminConsentRequestPolicy
              parameters:
                adminConsentRequestPolicy-id: $response.body#/id
            identitySecurityDefaultsEnforcementPolicy:
              operationId: policies.GetIdentitySecurityDefaultsEnforcementPolicy
              parameters:
                identitySecurityDefaultsEnforcementPolicy-id: $response.body#/id
            conditionalAccessPolicies:
              operationId: policies.GetConditionalAccessPolicies
              parameters:
                conditionalAccessPolicy-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - policies.policyRoot
      summary: Update policies
      operationId: policies.policyRoot_UpdatePolicyRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.policyRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/activityBasedTimeoutPolicies:
    get:
      tags:
        - policies.activityBasedTimeoutPolicy
      summary: Get activityBasedTimeoutPolicies from policies
      operationId: policies_ListActivityBasedTimeoutPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of activityBasedTimeoutPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.activityBasedTimeoutPolicy
      summary: Create new navigation property to activityBasedTimeoutPolicies for policies
      operationId: policies_CreateActivityBasedTimeoutPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/activityBasedTimeoutPolicies/{activityBasedTimeoutPolicy-id}':
    get:
      tags:
        - policies.activityBasedTimeoutPolicy
      summary: Get activityBasedTimeoutPolicies from policies
      operationId: policies_GetActivityBasedTimeoutPolicies
      parameters:
        - name: activityBasedTimeoutPolicy-id
          in: path
          description: 'key: activityBasedTimeoutPolicy-id of activityBasedTimeoutPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityBasedTimeoutPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - policies.activityBasedTimeoutPolicy
      summary: Update the navigation property activityBasedTimeoutPolicies in policies
      operationId: policies_UpdateActivityBasedTimeoutPolicies
      parameters:
        - name: activityBasedTimeoutPolicy-id
          in: path
          description: 'key: activityBasedTimeoutPolicy-id of activityBasedTimeoutPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityBasedTimeoutPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/adminConsentRequestPolicy:
    get:
      tags:
        - policies.adminConsentRequestPolicy
      summary: Get adminConsentRequestPolicy from policies
      operationId: policies_GetAdminConsentRequestPolicy
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isEnabled
                - version
                - notifyReviewers
                - remindersEnabled
                - requestDurationInDays
                - reviewers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminConsentRequestPolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - policies.adminConsentRequestPolicy
      summary: Update the navigation property adminConsentRequestPolicy in policies
      operationId: policies_UpdateAdminConsentRequestPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adminConsentRequestPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/claimsMappingPolicies:
    get:
      tags:
        - policies.claimsMappingPolicy
      summary: Get claimsMappingPolicies from policies
      operationId: policies_ListClaimsMappingPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of claimsMappingPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.claimsMappingPolicy
      summary: Create new navigation property to claimsMappingPolicies for policies
      operationId: policies_CreateClaimsMappingPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/claimsMappingPolicies/{claimsMappingPolicy-id}':
    get:
      tags:
        - policies.claimsMappingPolicy
      summary: Get claimsMappingPolicies from policies
      operationId: policies_GetClaimsMappingPolicies
      parameters:
        - name: claimsMappingPolicy-id
          in: path
          description: 'key: claimsMappingPolicy-id of claimsMappingPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: claimsMappingPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - policies.claimsMappingPolicy
      summary: Update the navigation property claimsMappingPolicies in policies
      operationId: policies_UpdateClaimsMappingPolicies
      parameters:
        - name: claimsMappingPolicy-id
          in: path
          description: 'key: claimsMappingPolicy-id of claimsMappingPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: claimsMappingPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/conditionalAccessPolicies:
    get:
      tags:
        - policies.conditionalAccessPolicy
      summary: Get conditionalAccessPolicies from policies
      operationId: policies_ListConditionalAccessPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - modifiedDateTime
                - modifiedDateTime desc
                - displayName
                - displayName desc
                - description
                - description desc
                - state
                - state desc
                - conditions
                - conditions desc
                - grantControls
                - grantControls desc
                - sessionControls
                - sessionControls desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - modifiedDateTime
                - displayName
                - description
                - state
                - conditions
                - grantControls
                - sessionControls
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of conditionalAccessPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.conditionalAccessPolicy
      summary: Create new navigation property to conditionalAccessPolicies for policies
      operationId: policies_CreateConditionalAccessPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/conditionalAccessPolicies/{conditionalAccessPolicy-id}':
    get:
      tags:
        - policies.conditionalAccessPolicy
      summary: Get conditionalAccessPolicies from policies
      operationId: policies_GetConditionalAccessPolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: conditionalAccessPolicy-id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - modifiedDateTime
                - displayName
                - description
                - state
                - conditions
                - grantControls
                - sessionControls
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - policies.conditionalAccessPolicy
      summary: Update the navigation property conditionalAccessPolicies in policies
      operationId: policies_UpdateConditionalAccessPolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: conditionalAccessPolicy-id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/homeRealmDiscoveryPolicies:
    get:
      tags:
        - policies.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from policies
      operationId: policies_ListHomeRealmDiscoveryPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of homeRealmDiscoveryPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.homeRealmDiscoveryPolicy
      summary: Create new navigation property to homeRealmDiscoveryPolicies for policies
      operationId: policies_CreateHomeRealmDiscoveryPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/homeRealmDiscoveryPolicies/{homeRealmDiscoveryPolicy-id}':
    get:
      tags:
        - policies.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from policies
      operationId: policies_GetHomeRealmDiscoveryPolicies
      parameters:
        - name: homeRealmDiscoveryPolicy-id
          in: path
          description: 'key: homeRealmDiscoveryPolicy-id of homeRealmDiscoveryPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: homeRealmDiscoveryPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - policies.homeRealmDiscoveryPolicy
      summary: Update the navigation property homeRealmDiscoveryPolicies in policies
      operationId: policies_UpdateHomeRealmDiscoveryPolicies
      parameters:
        - name: homeRealmDiscoveryPolicy-id
          in: path
          description: 'key: homeRealmDiscoveryPolicy-id of homeRealmDiscoveryPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: homeRealmDiscoveryPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/identitySecurityDefaultsEnforcementPolicy:
    get:
      tags:
        - policies.identitySecurityDefaultsEnforcementPolicy
      summary: Get identitySecurityDefaultsEnforcementPolicy from policies
      operationId: policies_GetIdentitySecurityDefaultsEnforcementPolicy
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - isEnabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - policies.identitySecurityDefaultsEnforcementPolicy
      summary: Update the navigation property identitySecurityDefaultsEnforcementPolicy in policies
      operationId: policies_UpdateIdentitySecurityDefaultsEnforcementPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/tokenIssuancePolicies:
    get:
      tags:
        - policies.tokenIssuancePolicy
      summary: Get tokenIssuancePolicies from policies
      operationId: policies_ListTokenIssuancePolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of tokenIssuancePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.tokenIssuancePolicy
      summary: Create new navigation property to tokenIssuancePolicies for policies
      operationId: policies_CreateTokenIssuancePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/tokenIssuancePolicies/{tokenIssuancePolicy-id}':
    get:
      tags:
        - policies.tokenIssuancePolicy
      summary: Get tokenIssuancePolicies from policies
      operationId: policies_GetTokenIssuancePolicies
      parameters:
        - name: tokenIssuancePolicy-id
          in: path
          description: 'key: tokenIssuancePolicy-id of tokenIssuancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenIssuancePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - policies.tokenIssuancePolicy
      summary: Update the navigation property tokenIssuancePolicies in policies
      operationId: policies_UpdateTokenIssuancePolicies
      parameters:
        - name: tokenIssuancePolicy-id
          in: path
          description: 'key: tokenIssuancePolicy-id of tokenIssuancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenIssuancePolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/tokenLifetimePolicies:
    get:
      tags:
        - policies.tokenLifetimePolicy
      summary: Get tokenLifetimePolicies from policies
      operationId: policies_ListTokenLifetimePolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of tokenLifetimePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - policies.tokenLifetimePolicy
      summary: Create new navigation property to tokenLifetimePolicies for policies
      operationId: policies_CreateTokenLifetimePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/policies/tokenLifetimePolicies/{tokenLifetimePolicy-id}':
    get:
      tags:
        - policies.tokenLifetimePolicy
      summary: Get tokenLifetimePolicies from policies
      operationId: policies_GetTokenLifetimePolicies
      parameters:
        - name: tokenLifetimePolicy-id
          in: path
          description: 'key: tokenLifetimePolicy-id of tokenLifetimePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenLifetimePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - policies.tokenLifetimePolicy
      summary: Update the navigation property tokenLifetimePolicies in policies
      operationId: policies_UpdateTokenLifetimePolicies
      parameters:
        - name: tokenLifetimePolicy-id
          in: path
          description: 'key: tokenLifetimePolicy-id of tokenLifetimePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenLifetimePolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.policyRoot:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: policyRoot
          type: object
          properties:
            activityBasedTimeoutPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
            claimsMappingPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
            homeRealmDiscoveryPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
            tokenIssuancePolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
            tokenLifetimePolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
            adminConsentRequestPolicy:
              $ref: '#/components/schemas/microsoft.graph.adminConsentRequestPolicy'
            identitySecurityDefaultsEnforcementPolicy:
              $ref: '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
            conditionalAccessPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
      example:
        id: string (identifier)
        activityBasedTimeoutPolicies:
          - '@odata.type': microsoft.graph.activityBasedTimeoutPolicy
        claimsMappingPolicies:
          - '@odata.type': microsoft.graph.claimsMappingPolicy
        homeRealmDiscoveryPolicies:
          - '@odata.type': microsoft.graph.homeRealmDiscoveryPolicy
        tokenIssuancePolicies:
          - '@odata.type': microsoft.graph.tokenIssuancePolicy
        tokenLifetimePolicies:
          - '@odata.type': microsoft.graph.tokenLifetimePolicy
        adminConsentRequestPolicy:
          '@odata.type': microsoft.graph.adminConsentRequestPolicy
        identitySecurityDefaultsEnforcementPolicy:
          '@odata.type': microsoft.graph.identitySecurityDefaultsEnforcementPolicy
        conditionalAccessPolicies:
          - '@odata.type': microsoft.graph.conditionalAccessPolicy
    microsoft.graph.activityBasedTimeoutPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
        - title: activityBasedTimeoutPolicy
          type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
        definition:
          - string
        isOrganizationDefault: true
        appliesTo:
          - '@odata.type': microsoft.graph.directoryObject
    microsoft.graph.adminConsentRequestPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: adminConsentRequestPolicy
          type: object
          properties:
            isEnabled:
              type: boolean
            version:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
            notifyReviewers:
              type: boolean
            remindersEnabled:
              type: boolean
            requestDurationInDays:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
            reviewers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.accessReviewScope'
      example:
        id: string (identifier)
        isEnabled: true
        version: integer
        notifyReviewers: true
        remindersEnabled: true
        requestDurationInDays: integer
        reviewers:
          - '@odata.type': microsoft.graph.accessReviewScope
    microsoft.graph.claimsMappingPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
        - title: claimsMappingPolicy
          type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
        definition:
          - string
        isOrganizationDefault: true
        appliesTo:
          - '@odata.type': microsoft.graph.directoryObject
    microsoft.graph.conditionalAccessPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: conditionalAccessPolicy
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            modifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            displayName:
              type: string
            description:
              type: string
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicyState'
            conditions:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessConditionSet'
            grantControls:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessGrantControls'
            sessionControls:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControls'
      example:
        id: string (identifier)
        createdDateTime: string (timestamp)
        modifiedDateTime: string (timestamp)
        displayName: string
        description: string
        state:
          '@odata.type': microsoft.graph.conditionalAccessPolicyState
        conditions:
          '@odata.type': microsoft.graph.conditionalAccessConditionSet
        grantControls:
          '@odata.type': microsoft.graph.conditionalAccessGrantControls
        sessionControls:
          '@odata.type': microsoft.graph.conditionalAccessSessionControls
    microsoft.graph.homeRealmDiscoveryPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
        - title: homeRealmDiscoveryPolicy
          type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
        definition:
          - string
        isOrganizationDefault: true
        appliesTo:
          - '@odata.type': microsoft.graph.directoryObject
    microsoft.graph.identitySecurityDefaultsEnforcementPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.policyBase'
        - title: identitySecurityDefaultsEnforcementPolicy
          type: object
          properties:
            isEnabled:
              type: boolean
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
        isEnabled: true
    microsoft.graph.tokenIssuancePolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
        - title: tokenIssuancePolicy
          type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
        definition:
          - string
        isOrganizationDefault: true
        appliesTo:
          - '@odata.type': microsoft.graph.directoryObject
    microsoft.graph.tokenLifetimePolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
        - title: tokenLifetimePolicy
          type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
        definition:
          - string
        isOrganizationDefault: true
        appliesTo:
          - '@odata.type': microsoft.graph.directoryObject
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    microsoft.graph.stsPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.policyBase'
        - title: stsPolicy
          type: object
          properties:
            definition:
              type: array
              items:
                type: string
              description: A string collection containing a JSON string that defines the rules and settings for a policy. The syntax for the definition differs for each derived policy type. Required.
            isOrganizationDefault:
              type: boolean
              description: 'If set to true, activates this policy. There can be many policies for the same policy type, but only one can be activated as the organization default. Optional, default value is false.'
              nullable: true
            appliesTo:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
        definition:
          - string
        isOrganizationDefault: true
        appliesTo:
          - '@odata.type': microsoft.graph.directoryObject
    microsoft.graph.accessReviewScope:
      title: accessReviewScope
      type: object
      properties:
        query:
          type: string
          nullable: true
        queryType:
          type: string
          nullable: true
      example:
        query: string
        queryType: string
    microsoft.graph.conditionalAccessPolicyState:
      title: conditionalAccessPolicyState
      enum:
        - enabled
        - disabled
        - enabledForReportingButNotEnforced
      type: string
    microsoft.graph.conditionalAccessConditionSet:
      title: conditionalAccessConditionSet
      type: object
      properties:
        applications:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessApplications'
        users:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessUsers'
        signInRiskLevels:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.riskLevel'
        platforms:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessPlatforms'
        locations:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessLocations'
        clientAppTypes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessClientApp'
        deviceStates:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessDeviceStates'
        devices:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevices'
      example:
        applications:
          '@odata.type': microsoft.graph.conditionalAccessApplications
        users:
          '@odata.type': microsoft.graph.conditionalAccessUsers
        signInRiskLevels:
          - '@odata.type': microsoft.graph.riskLevel
        platforms:
          '@odata.type': microsoft.graph.conditionalAccessPlatforms
        locations:
          '@odata.type': microsoft.graph.conditionalAccessLocations
        clientAppTypes:
          - '@odata.type': microsoft.graph.conditionalAccessClientApp
        deviceStates:
          '@odata.type': microsoft.graph.conditionalAccessDeviceStates
        devices:
          '@odata.type': microsoft.graph.conditionalAccessDevices
    microsoft.graph.conditionalAccessGrantControls:
      title: conditionalAccessGrantControls
      type: object
      properties:
        operator:
          type: string
          nullable: true
        builtInControls:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessGrantControl'
        customAuthenticationFactors:
          type: array
          items:
            type: string
        termsOfUse:
          type: array
          items:
            type: string
      example:
        operator: string
        builtInControls:
          - '@odata.type': microsoft.graph.conditionalAccessGrantControl
        customAuthenticationFactors:
          - string
        termsOfUse:
          - string
    microsoft.graph.conditionalAccessSessionControls:
      title: conditionalAccessSessionControls
      type: object
      properties:
        applicationEnforcedRestrictions:
          $ref: '#/components/schemas/microsoft.graph.applicationEnforcedRestrictionsSessionControl'
        cloudAppSecurity:
          $ref: '#/components/schemas/microsoft.graph.cloudAppSecuritySessionControl'
        signInFrequency:
          $ref: '#/components/schemas/microsoft.graph.signInFrequencySessionControl'
        persistentBrowser:
          $ref: '#/components/schemas/microsoft.graph.persistentBrowserSessionControl'
      example:
        applicationEnforcedRestrictions:
          '@odata.type': microsoft.graph.applicationEnforcedRestrictionsSessionControl
        cloudAppSecurity:
          '@odata.type': microsoft.graph.cloudAppSecuritySessionControl
        signInFrequency:
          '@odata.type': microsoft.graph.signInFrequencySessionControl
        persistentBrowser:
          '@odata.type': microsoft.graph.persistentBrowserSessionControl
    microsoft.graph.policyBase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: policyBase
          type: object
          properties:
            description:
              type: string
              description: Description for this policy.
            displayName:
              type: string
              description: Display name for this policy.
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.conditionalAccessApplications:
      title: conditionalAccessApplications
      type: object
      properties:
        includeApplications:
          type: array
          items:
            type: string
        excludeApplications:
          type: array
          items:
            type: string
        includeUserActions:
          type: array
          items:
            type: string
      example:
        includeApplications:
          - string
        excludeApplications:
          - string
        includeUserActions:
          - string
    microsoft.graph.conditionalAccessUsers:
      title: conditionalAccessUsers
      type: object
      properties:
        includeUsers:
          type: array
          items:
            type: string
        excludeUsers:
          type: array
          items:
            type: string
        includeGroups:
          type: array
          items:
            type: string
        excludeGroups:
          type: array
          items:
            type: string
        includeRoles:
          type: array
          items:
            type: string
        excludeRoles:
          type: array
          items:
            type: string
      example:
        includeUsers:
          - string
        excludeUsers:
          - string
        includeGroups:
          - string
        excludeGroups:
          - string
        includeRoles:
          - string
        excludeRoles:
          - string
    microsoft.graph.riskLevel:
      title: riskLevel
      enum:
        - low
        - medium
        - high
        - hidden
        - none
        - unknownFutureValue
      type: string
    microsoft.graph.conditionalAccessPlatforms:
      title: conditionalAccessPlatforms
      type: object
      properties:
        includePlatforms:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevicePlatform'
        excludePlatforms:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevicePlatform'
      example:
        includePlatforms:
          - '@odata.type': microsoft.graph.conditionalAccessDevicePlatform
        excludePlatforms:
          - '@odata.type': microsoft.graph.conditionalAccessDevicePlatform
    microsoft.graph.conditionalAccessLocations:
      title: conditionalAccessLocations
      type: object
      properties:
        includeLocations:
          type: array
          items:
            type: string
        excludeLocations:
          type: array
          items:
            type: string
      example:
        includeLocations:
          - string
        excludeLocations:
          - string
    microsoft.graph.conditionalAccessClientApp:
      title: conditionalAccessClientApp
      enum:
        - all
        - browser
        - modern
        - mobileAppsAndDesktopClients
        - exchangeActiveSync
        - easSupported
        - easUnsupported
        - other
      type: string
    microsoft.graph.conditionalAccessDeviceStates:
      title: conditionalAccessDeviceStates
      type: object
      properties:
        includeStates:
          type: array
          items:
            type: string
        excludeStates:
          type: array
          items:
            type: string
      example:
        includeStates:
          - string
        excludeStates:
          - string
    microsoft.graph.conditionalAccessDevices:
      title: conditionalAccessDevices
      type: object
      properties:
        includeDeviceStates:
          type: array
          items:
            type: string
        excludeDeviceStates:
          type: array
          items:
            type: string
      example:
        includeDeviceStates:
          - string
        excludeDeviceStates:
          - string
    microsoft.graph.conditionalAccessGrantControl:
      title: conditionalAccessGrantControl
      enum:
        - block
        - mfa
        - compliantDevice
        - domainJoinedDevice
        - approvedApplication
        - compliantApplication
      type: string
    microsoft.graph.applicationEnforcedRestrictionsSessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: applicationEnforcedRestrictionsSessionControl
          type: object
      example:
        isEnabled: true
    microsoft.graph.cloudAppSecuritySessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: cloudAppSecuritySessionControl
          type: object
          properties:
            cloudAppSecurityType:
              $ref: '#/components/schemas/microsoft.graph.cloudAppSecuritySessionControlType'
      example:
        isEnabled: true
        cloudAppSecurityType:
          '@odata.type': microsoft.graph.cloudAppSecuritySessionControlType
    microsoft.graph.signInFrequencySessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: signInFrequencySessionControl
          type: object
          properties:
            value:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            type:
              $ref: '#/components/schemas/microsoft.graph.signinFrequencyType'
      example:
        isEnabled: true
        value: integer
        type:
          '@odata.type': microsoft.graph.signinFrequencyType
    microsoft.graph.persistentBrowserSessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: persistentBrowserSessionControl
          type: object
          properties:
            mode:
              $ref: '#/components/schemas/microsoft.graph.persistentBrowserSessionMode'
      example:
        isEnabled: true
        mode:
          '@odata.type': microsoft.graph.persistentBrowserSessionMode
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    microsoft.graph.conditionalAccessDevicePlatform:
      title: conditionalAccessDevicePlatform
      enum:
        - android
        - iOS
        - windows
        - windowsPhone
        - macOS
        - all
      type: string
    microsoft.graph.conditionalAccessSessionControl:
      title: conditionalAccessSessionControl
      type: object
      properties:
        isEnabled:
          type: boolean
          nullable: true
      example:
        isEnabled: true
    microsoft.graph.cloudAppSecuritySessionControlType:
      title: cloudAppSecuritySessionControlType
      enum:
        - mcasConfigured
        - monitorOnly
        - blockDownloads
      type: string
    microsoft.graph.signinFrequencyType:
      title: signinFrequencyType
      enum:
        - days
        - hours
      type: string
    microsoft.graph.persistentBrowserSessionMode:
      title: persistentBrowserSessionMode
      enum:
        - always
        - never
      type: string
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]