openapi: 3.0.1
info:
  title: Identity.DirectoryManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /administrativeUnits:
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: List administrativeUnits
      description: Retrieve a list of administrativeUnit objects.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directory-list-administrativeunits?view=graph-rest-1.0
      operationId: administrativeUnits.administrativeUnit_ListAdministrativeUnit
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isMemberManagementRestricted
                - isMemberManagementRestricted desc
                - visibility
                - visibility desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - isMemberManagementRestricted
                - visibility
                - members
                - scopedRoleMembers
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
                - scopedRoleMembers
                - extensions
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.administrativeUnitCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Create administrativeUnit
      description: Use this API to create a new administrativeUnit.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directory-post-administrativeunits?view=graph-rest-1.0
      operationId: administrativeUnits.administrativeUnit_CreateAdministrativeUnit
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}':
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get administrativeUnit
      description: 'Retrieve the properties and relationships of an administrativeUnit object. Since the **administrativeUnit** resource supports extensions, you can also use the `GET` operation to get custom properties and extension data in an **administrativeUnit** instance.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/administrativeunit-get?view=graph-rest-1.0
      operationId: administrativeUnits.administrativeUnit_GetAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - isMemberManagementRestricted
                - visibility
                - members
                - scopedRoleMembers
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
                - scopedRoleMembers
                - extensions
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Update administrativeunit
      description: Update the properties of an administrativeUnit object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/administrativeunit-update?view=graph-rest-1.0
      operationId: administrativeUnits.administrativeUnit_UpdateAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Delete administrativeUnit
      description: Delete an administrativeUnit.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/administrativeunit-delete?view=graph-rest-1.0
      operationId: administrativeUnits.administrativeUnit_DeleteAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/extensions':
    get:
      tags:
        - administrativeUnits.extension
      summary: Get extensions from administrativeUnits
      description: The collection of open extensions defined for this administrative unit. Nullable.
      operationId: administrativeUnits_ListExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.extension
      summary: Create new navigation property to extensions for administrativeUnits
      operationId: administrativeUnits_CreateExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/extensions/{extension-id}':
    get:
      tags:
        - administrativeUnits.extension
      summary: Get extensions from administrativeUnits
      description: The collection of open extensions defined for this administrative unit. Nullable.
      operationId: administrativeUnits_GetExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.extension
      summary: Update the navigation property extensions in administrativeUnits
      operationId: administrativeUnits_UpdateExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.extension
      summary: Delete navigation property extensions for administrativeUnits
      operationId: administrativeUnits_DeleteExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/members':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get members from administrativeUnits
      description: Users and groups that are members of this administrative unit. Supports $expand.
      operationId: administrativeUnits_ListMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/members/{directoryObject-id}/$ref':
    delete:
      tags:
        - administrativeUnits.directoryObject
      summary: Delete ref of navigation property members for administrativeUnits
      operationId: administrativeUnits_DeleteMembersGraphBPreRef
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          style: form
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/members/$ref':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get ref of members from administrativeUnits
      description: Users and groups that are members of this administrative unit. Supports $expand.
      operationId: administrativeUnits_ListMembersGraphBPreRef
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.directoryObject
      summary: Add a member
      description: 'Use this API to add a member (user, group, or device) to an administrative unit or to create a new group within an administrative unit. All group types can be created within an administrative unit. **Note:** Currently, it''s only possible to add one member at a time to an administrative unit.`'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/administrativeunit-post-members?view=graph-rest-1.0
      operationId: administrativeUnits_CreateMembersGraphBPreRef
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action checkMemberGroups
      description: 'Check for membership in a specified list of group IDs, and return from that list those groups (identified by IDs) of which the specified user, group, service principal, organizational contact, device, or directory object is a member. This function is transitive. You can check up to a maximum of 20 groups per request. This function supports all groups provisioned in Azure AD. Because Microsoft 365 groups cannot contain other groups, membership in a Microsoft 365 group is always direct.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-checkmembergroups?view=graph-rest-1.0
      operationId: administrativeUnits_checkMemberGroups
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action checkMemberObjects
      operationId: administrativeUnits_checkMemberObjects
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action getMemberGroups
      description: 'Return all the group IDs for the groups that the specified user, group, service principal, organizational contact, device, or directory object is a member of. This function is transitive.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-getmembergroups?view=graph-rest-1.0
      operationId: administrativeUnits_getMemberGroups
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action getMemberObjects
      operationId: administrativeUnits_getMemberObjects
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.restore':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action restore
      description: 'Restore a recently deleted application, group, servicePrincipal, administrative unit, or user object from deleted items. If an item was accidentally deleted, you can fully restore the item. This is not applicable to security groups, which are deleted permanently. A recently deleted item will remain available for up to 30 days. After 30 days, the item is permanently deleted.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directory-deleteditems-restore?view=graph-rest-1.0
      operationId: administrativeUnits_restore
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/administrativeUnits/{administrativeUnit-id}/scopedRoleMembers':
    get:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: List scopedRoleMembers
      description: List Azure Active Directory (Azure AD) role assignments with administrative unit scope.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/administrativeunit-list-scopedrolemembers?view=graph-rest-1.0
      operationId: administrativeUnits_ListScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - administrativeUnitId
                - administrativeUnitId desc
                - roleId
                - roleId desc
                - roleMemberInfo
                - roleMemberInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - administrativeUnitId
                - roleId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.scopedRoleMembershipCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Add a scopedRoleMember
      description: 'Assign an Azure Active Directory (Azure AD) role with administrative unit scope. For a list of roles that can be assigned with administrative unit scope, see Assign Azure AD roles with administrative unit scope.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/administrativeunit-post-scopedrolemembers?view=graph-rest-1.0
      operationId: administrativeUnits_CreateScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/scopedRoleMembers/{scopedRoleMembership-id}':
    get:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Get scopedRoleMembers from administrativeUnits
      description: Scoped-role members of this administrative unit.
      operationId: administrativeUnits_GetScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: 'key: id of scopedRoleMembership'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - administrativeUnitId
                - roleId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Update the navigation property scopedRoleMembers in administrativeUnits
      operationId: administrativeUnits_UpdateScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: 'key: id of scopedRoleMembership'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Delete navigation property scopedRoleMembers for administrativeUnits
      operationId: administrativeUnits_DeleteScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: id of administrativeUnit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: 'key: id of scopedRoleMembership'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /administrativeUnits/microsoft.graph.delta():
    get:
      tags:
        - administrativeUnits.Functions
      summary: Invoke function delta
      operationId: administrativeUnits_delta
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - isMemberManagementRestricted
                - visibility
                - members
                - scopedRoleMembers
                - extensions
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isMemberManagementRestricted
                - isMemberManagementRestricted desc
                - visibility
                - visibility desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of administrativeUnit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /administrativeUnits/microsoft.graph.getByIds:
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action getByIds
      description: 'Return the directory objects specified in a list of IDs. Some common uses for this function are to:'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-getbyids?view=graph-rest-1.0
      operationId: administrativeUnits_getGraphBPreIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /administrativeUnits/microsoft.graph.getUserOwnedObjects:
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action getUserOwnedObjects
      operationId: administrativeUnits_getUserOwnedObjects
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  nullable: true
                type:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /administrativeUnits/microsoft.graph.validateProperties:
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action validateProperties
      description: "Validate that a Microsoft 365 group's display name or mail nickname complies with naming policies.  Clients can use this API to determine whether a display name or mail nickname is valid before trying to **create** a Microsoft 365 group. For validating properties of an existing group, use the validateProperties function for groups. The following validations are performed for the display name and mail nickname properties: \n1. Validate the prefix and suffix naming policy\n2. Validate the custom banned words policy\n3. Validate the mail nickname is unique This API returns with the first failure encountered. If one or more properties fail multiple validations, only the property with the first validation failure is returned. However, you can validate both the mail nickname and the display name and receive a collection of validation errors if you are only validating the prefix and suffix naming policy."
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-validateproperties?view=graph-rest-1.0
      operationId: administrativeUnits_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contacts:
    get:
      tags:
        - contacts.orgContact
      summary: List orgContacts
      description: Get the list of organizational contacts for this organization.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/orgcontact-list?view=graph-rest-1.0
      operationId: contacts.orgContact_ListOrgContact
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - addresses
                - addresses desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - jobTitle
                - jobTitle desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - phones
                - phones desc
                - proxyAddresses
                - proxyAddresses desc
                - surname
                - surname desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addresses
                - companyName
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSyncEnabled
                - phones
                - proxyAddresses
                - surname
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
                - transitiveReports
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
                - transitiveReports
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.orgContactCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - contacts.orgContact
      summary: Add new entity to contacts
      operationId: contacts.orgContact_CreateOrgContact
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.orgContact'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}':
    get:
      tags:
        - contacts.orgContact
      summary: Get orgContact
      description: Get the properties and relationships of an organizational contact object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/orgcontact-get?view=graph-rest-1.0
      operationId: contacts.orgContact_GetOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addresses
                - companyName
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSyncEnabled
                - phones
                - proxyAddresses
                - surname
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
                - transitiveReports
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
                - transitiveReports
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - contacts.orgContact
      summary: Update entity in contacts
      operationId: contacts.orgContact_UpdateOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.orgContact'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - contacts.orgContact
      summary: Delete entity from contacts
      operationId: contacts.orgContact_DeleteOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/directReports':
    get:
      tags:
        - contacts.directoryObject
      summary: Get directReports from contacts
      description: The contact's direct reports. (The users and contacts that have their manager property set to this contact.) Read-only. Nullable. Supports $expand.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/orgcontact-list-directreports?view=graph-rest-1.0
      operationId: contacts_ListDirectReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/directReports/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get directReports from contacts
      description: The contact's direct reports. (The users and contacts that have their manager property set to this contact.) Read-only. Nullable. Supports $expand.
      operationId: contacts_GetDirectReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/manager':
    get:
      tags:
        - contacts.directoryObject
      summary: 'orgContact: Get manager'
      description: Get the contact's manager
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/orgcontact-get-manager?view=graph-rest-1.0
      operationId: contacts_GetManager
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/memberOf':
    get:
      tags:
        - contacts.directoryObject
      summary: Get memberOf from contacts
      description: Groups that this contact is a member of. Read-only. Nullable. Supports $expand.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/orgcontact-list-memberof?view=graph-rest-1.0
      operationId: contacts_ListMemberGraphOPre
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get memberOf from contacts
      description: Groups that this contact is a member of. Read-only. Nullable. Supports $expand.
      operationId: contacts_GetMemberGraphOPre
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action checkMemberGroups
      description: 'Check for membership in a specified list of group IDs, and return from that list those groups (identified by IDs) of which the specified user, group, service principal, organizational contact, device, or directory object is a member. This function is transitive. You can check up to a maximum of 20 groups per request. This function supports all groups provisioned in Azure AD. Because Microsoft 365 groups cannot contain other groups, membership in a Microsoft 365 group is always direct.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-checkmembergroups?view=graph-rest-1.0
      operationId: contacts_checkMemberGroups
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/contacts/{orgContact-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action checkMemberObjects
      operationId: contacts_checkMemberObjects
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/contacts/{orgContact-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getMemberGroups
      description: 'Return all the group IDs for the groups that the specified user, group, service principal, organizational contact, device, or directory object is a member of. This function is transitive.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-getmembergroups?view=graph-rest-1.0
      operationId: contacts_getMemberGroups
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/contacts/{orgContact-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getMemberObjects
      operationId: contacts_getMemberObjects
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/contacts/{orgContact-id}/microsoft.graph.restore':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action restore
      description: 'Restore a recently deleted application, group, servicePrincipal, administrative unit, or user object from deleted items. If an item was accidentally deleted, you can fully restore the item. This is not applicable to security groups, which are deleted permanently. A recently deleted item will remain available for up to 30 days. After 30 days, the item is permanently deleted.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directory-deleteditems-restore?view=graph-rest-1.0
      operationId: contacts_restore
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/transitiveMemberOf':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveMemberOf from contacts
      operationId: contacts_ListTransitiveMemberGraphOPre
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/transitiveMemberOf/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveMemberOf from contacts
      operationId: contacts_GetTransitiveMemberGraphOPre
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/transitiveReports':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveReports from contacts
      description: The transitive reports for a contact. Read-only.
      operationId: contacts_ListTransitiveReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/transitiveReports/{directoryObject-id}':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveReports from contacts
      description: The transitive reports for a contact. Read-only.
      operationId: contacts_GetTransitiveReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /contacts/microsoft.graph.delta():
    get:
      tags:
        - contacts.Functions
      summary: Invoke function delta
      operationId: contacts_delta
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addresses
                - companyName
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSyncEnabled
                - phones
                - proxyAddresses
                - surname
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
                - transitiveReports
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - addresses
                - addresses desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - jobTitle
                - jobTitle desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - phones
                - phones desc
                - proxyAddresses
                - proxyAddresses desc
                - surname
                - surname desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of orgContact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.orgContact'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /contacts/microsoft.graph.getByIds:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getByIds
      description: 'Return the directory objects specified in a list of IDs. Some common uses for this function are to:'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-getbyids?view=graph-rest-1.0
      operationId: contacts_getGraphBPreIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /contacts/microsoft.graph.getUserOwnedObjects:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getUserOwnedObjects
      operationId: contacts_getUserOwnedObjects
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  nullable: true
                type:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contacts/microsoft.graph.validateProperties:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action validateProperties
      description: "Validate that a Microsoft 365 group's display name or mail nickname complies with naming policies.  Clients can use this API to determine whether a display name or mail nickname is valid before trying to **create** a Microsoft 365 group. For validating properties of an existing group, use the validateProperties function for groups. The following validations are performed for the display name and mail nickname properties: \n1. Validate the prefix and suffix naming policy\n2. Validate the custom banned words policy\n3. Validate the mail nickname is unique This API returns with the first failure encountered. If one or more properties fail multiple validations, only the property with the first validation failure is returned. However, you can validate both the mail nickname and the display name and receive a collection of validation errors if you are only validating the prefix and suffix naming policy."
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-validateproperties?view=graph-rest-1.0
      operationId: contacts_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts:
    get:
      tags:
        - contracts.contract
      summary: List contracts
      description: Retrieve a list of contract objects associated to a partner tenant.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/contract-list?view=graph-rest-1.0
      operationId: contracts.contract_ListContract
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - contractType
                - contractType desc
                - customerId
                - customerId desc
                - defaultDomainName
                - defaultDomainName desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - contractType
                - customerId
                - defaultDomainName
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contractCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - contracts.contract
      summary: Add new entity to contracts
      operationId: contracts.contract_CreateContract
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contract'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contract'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contracts/{contract-id}':
    get:
      tags:
        - contracts.contract
      summary: Get Contract
      description: Retrieve the properties and relationships of contract object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/contract-get?view=graph-rest-1.0
      operationId: contracts.contract_GetContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contract
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - contractType
                - customerId
                - defaultDomainName
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contract'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - contracts.contract
      summary: Update entity in contracts
      operationId: contracts.contract_UpdateContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contract'
        required: true
      responses:
        2XX:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contract'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - contracts.contract
      summary: Delete entity from contracts
      operationId: contracts.contract_DeleteContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contract
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
[...]
