openapi: 3.0.1
info:
  title: Identity.AuthenticationMethods
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/authentication':
    get:
      tags:
        - users.authentication
      summary: Get authentication from users
      operationId: users_GetAuthentication
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - methods
                - phoneMethods
                - passwordMethods
                - operations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - methods
                - phoneMethods
                - passwordMethods
                - operations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authentication'
          links:
            methods:
              operationId: user.authentication.GetMethods
              parameters:
                user-id: $request.path.user-id
                authenticationMethod-id: $response.body#/id
            phoneMethods:
              operationId: user.authentication.GetPhoneMethods
              parameters:
                user-id: $request.path.user-id
                phoneAuthenticationMethod-id: $response.body#/id
            passwordMethods:
              operationId: user.authentication.GetPasswordMethods
              parameters:
                user-id: $request.path.user-id
                passwordAuthenticationMethod-id: $response.body#/id
            operations:
              operationId: user.authentication.GetOperations
              parameters:
                user-id: $request.path.user-id
                longRunningOperation-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property authentication in users
      operationId: users_UpdateAuthentication
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authentication'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/methods':
    get:
      tags:
        - users.authentication
      summary: Get methods from users
      operationId: users.authentication_ListMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of authenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to methods for users
      operationId: users.authentication_CreateMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/methods/{authenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get methods from users
      operationId: users.authentication_GetMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: authenticationMethod-id
          in: path
          description: 'key: authenticationMethod-id of authenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: authenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property methods in users
      operationId: users.authentication_UpdateMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: authenticationMethod-id
          in: path
          description: 'key: authenticationMethod-id of authenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: authenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/operations':
    get:
      tags:
        - users.authentication
      summary: Get operations from users
      operationId: users.authentication_ListOperations
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastActionDateTime
                - lastActionDateTime desc
                - status
                - status desc
                - statusDetail
                - statusDetail desc
                - resourceLocation
                - resourceLocation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastActionDateTime
                - status
                - statusDetail
                - resourceLocation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of longRunningOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to operations for users
      operationId: users.authentication_CreateOperations
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/operations/{longRunningOperation-id}':
    get:
      tags:
        - users.authentication
      summary: Get operations from users
      operationId: users.authentication_GetOperations
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: longRunningOperation-id
          in: path
          description: 'key: longRunningOperation-id of longRunningOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: longRunningOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastActionDateTime
                - status
                - statusDetail
                - resourceLocation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property operations in users
      operationId: users.authentication_UpdateOperations
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: longRunningOperation-id
          in: path
          description: 'key: longRunningOperation-id of longRunningOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: longRunningOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/passwordMethods':
    get:
      tags:
        - users.authentication
      summary: Get passwordMethods from users
      operationId: users.authentication_ListPasswordMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - password
                - password desc
                - creationDateTime
                - creationDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - password
                - creationDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of passwordAuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to passwordMethods for users
      operationId: users.authentication_CreatePasswordMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/passwordMethods/{passwordAuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get passwordMethods from users
      operationId: users.authentication_GetPasswordMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: passwordAuthenticationMethod-id
          in: path
          description: 'key: passwordAuthenticationMethod-id of passwordAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: passwordAuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - password
                - creationDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property passwordMethods in users
      operationId: users.authentication_UpdatePasswordMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: passwordAuthenticationMethod-id
          in: path
          description: 'key: passwordAuthenticationMethod-id of passwordAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: passwordAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/phoneMethods':
    get:
      tags:
        - users.authentication
      summary: Get phoneMethods from users
      operationId: users.authentication_ListPhoneMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - phoneNumber
                - phoneNumber desc
                - phoneType
                - phoneType desc
                - smsSignInState
                - smsSignInState desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - phoneNumber
                - phoneType
                - smsSignInState
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of phoneAuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to phoneMethods for users
      operationId: users.authentication_CreatePhoneMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/phoneMethods/{phoneAuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get phoneMethods from users
      operationId: users.authentication_GetPhoneMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: phoneAuthenticationMethod-id
          in: path
          description: 'key: phoneAuthenticationMethod-id of phoneAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: phoneAuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - phoneNumber
                - phoneType
                - smsSignInState
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property phoneMethods in users
      operationId: users.authentication_UpdatePhoneMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: phoneAuthenticationMethod-id
          in: path
          description: 'key: phoneAuthenticationMethod-id of phoneAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: phoneAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.authentication:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: authentication
          type: object
          properties:
            methods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
            phoneMethods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
            passwordMethods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
      example:
        id: string (identifier)
        methods:
          - '@odata.type': microsoft.graph.authenticationMethod
        phoneMethods:
          - '@odata.type': microsoft.graph.phoneAuthenticationMethod
        passwordMethods:
          - '@odata.type': microsoft.graph.passwordAuthenticationMethod
        operations:
          - '@odata.type': microsoft.graph.longRunningOperation
    microsoft.graph.authenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: authenticationMethod
          type: object
      example:
        id: string (identifier)
    microsoft.graph.longRunningOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: longRunningOperation
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastActionDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            status:
              $ref: '#/components/schemas/microsoft.graph.longRunningOperationStatus'
            statusDetail:
              type: string
              nullable: true
            resourceLocation:
              type: string
              nullable: true
      example:
        id: string (identifier)
        createdDateTime: string (timestamp)
        lastActionDateTime: string (timestamp)
        status:
          '@odata.type': microsoft.graph.longRunningOperationStatus
        statusDetail: string
        resourceLocation: string
    microsoft.graph.passwordAuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: passwordAuthenticationMethod
          type: object
          properties:
            password:
              type: string
              nullable: true
            creationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
      example:
        id: string (identifier)
        password: string
        creationDateTime: string (timestamp)
    microsoft.graph.phoneAuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: phoneAuthenticationMethod
          type: object
          properties:
            phoneNumber:
              type: string
              nullable: true
            phoneType:
              $ref: '#/components/schemas/microsoft.graph.authenticationPhoneType'
            smsSignInState:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethodSignInState'
      example:
        id: string (identifier)
        phoneNumber: string
        phoneType:
          '@odata.type': microsoft.graph.authenticationPhoneType
        smsSignInState:
          '@odata.type': microsoft.graph.authenticationMethodSignInState
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    microsoft.graph.longRunningOperationStatus:
      title: longRunningOperationStatus
      enum:
        - notstarted
        - running
        - succeeded
        - failed
      type: string
    microsoft.graph.authenticationPhoneType:
      title: authenticationPhoneType
      enum:
        - mobile
        - alternateMobile
        - office
        - unknownFutureValue
      type: string
    microsoft.graph.authenticationMethodSignInState:
      title: authenticationMethodSignInState
      enum:
        - notSupported
        - notAllowedByPolicy
        - notEnabled
        - phoneNumberNotUnique
        - ready
        - notConfigured
        - unknownFutureValue
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]