openapi: 3.0.1
info:
  title: Identity.DirectorySettingTemplates
  version: v1.0-StagingBeta
servers:
  - url: https://graph.microsoft.com/StagingBeta/
    description: Core
paths:
  /directorySettingTemplates:
    get:
      tags:
        - directorySettingTemplates.directorySettingTemplate
      summary: Get entities from directorySettingTemplates
      operationId: directorySettingTemplates.directorySettingTemplate_ListDirectorySettingTemplate
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - displayName
                - displayName desc
                - description
                - description desc
                - values
                - values desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - displayName
                - description
                - values
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of directorySettingTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directorySettingTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - directorySettingTemplates.directorySettingTemplate
      summary: Add new entity to directorySettingTemplates
      operationId: directorySettingTemplates.directorySettingTemplate_CreateDirectorySettingTemplate
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directorySettingTemplate'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directorySettingTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directorySettingTemplates/{directorySettingTemplate-id}':
    get:
      tags:
        - directorySettingTemplates.directorySettingTemplate
      summary: Get entity from directorySettingTemplates by key
      operationId: directorySettingTemplates.directorySettingTemplate_GetDirectorySettingTemplate
      parameters:
        - name: directorySettingTemplate-id
          in: path
          description: 'key: directorySettingTemplate-id of directorySettingTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directorySettingTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - displayName
                - description
                - values
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directorySettingTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directorySettingTemplates.directorySettingTemplate
      summary: Update entity in directorySettingTemplates
      operationId: directorySettingTemplates.directorySettingTemplate_UpdateDirectorySettingTemplate
      parameters:
        - name: directorySettingTemplate-id
          in: path
          description: 'key: directorySettingTemplate-id of directorySettingTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directorySettingTemplate
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directorySettingTemplate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directorySettingTemplates.directorySettingTemplate
      summary: Delete entity from directorySettingTemplates
      operationId: directorySettingTemplates.directorySettingTemplate_DeleteDirectorySettingTemplate
      parameters:
        - name: directorySettingTemplate-id
          in: path
          description: 'key: directorySettingTemplate-id of directorySettingTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directorySettingTemplate
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.directorySettingTemplate:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: directorySettingTemplate
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            values:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.settingTemplateValue'
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        displayName: string
        description: string
        values:
          - '@odata.type': microsoft.graph.settingTemplateValue
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.settingTemplateValue:
      title: settingTemplateValue
      type: object
      properties:
        name:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        defaultValue:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
      example:
        name: string
        type: string
        defaultValue: string
        description: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]