openapi: 3.0.1
info:
  title: Identity.AuthenticationMethods
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/authentication':
    get:
      tags:
        - users.authentication
      summary: Get authentication from users
      operationId: users_GetAuthentication
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - methods
                - securityQuestionMethods
                - phoneMethods
                - passwordMethods
                - operations
                - emailMethods
                - oathMethods
                - microsoftAuthenticatorMethods
                - passwordlessMicrosoftAuthenticatorMethods
                - fido2Methods
                - temporaryAccessPassMethods
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - methods
                - securityQuestionMethods
                - phoneMethods
                - passwordMethods
                - operations
                - emailMethods
                - oathMethods
                - microsoftAuthenticatorMethods
                - passwordlessMicrosoftAuthenticatorMethods
                - fido2Methods
                - temporaryAccessPassMethods
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authentication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property authentication in users
      operationId: users_UpdateAuthentication
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authentication'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property authentication for users
      operationId: users_DeleteAuthentication
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/emailMethods':
    get:
      tags:
        - users.authentication
      summary: Get emailMethods from users
      operationId: users.authentication_ListEmailMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of emailAuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to emailMethods for users
      operationId: users.authentication_CreateEmailMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/emailMethods/{emailAuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get emailMethods from users
      operationId: users.authentication_GetEmailMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: emailAuthenticationMethod-id
          in: path
          description: 'key: id of emailAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: emailAuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property emailMethods in users
      operationId: users.authentication_UpdateEmailMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: emailAuthenticationMethod-id
          in: path
          description: 'key: id of emailAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: emailAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property emailMethods for users
      operationId: users.authentication_DeleteEmailMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: emailAuthenticationMethod-id
          in: path
          description: 'key: id of emailAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: emailAuthenticationMethod
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/fido2Methods':
    get:
      tags:
        - users.authentication
      summary: Get fido2Methods from users
      operationId: users.authentication_ListFido2Methods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of fido2AuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to fido2Methods for users
      operationId: users.authentication_CreateFido2Methods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/fido2Methods/{fido2AuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get fido2Methods from users
      operationId: users.authentication_GetFido2Methods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: fido2AuthenticationMethod-id
          in: path
          description: 'key: id of fido2AuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: fido2AuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property fido2Methods in users
      operationId: users.authentication_UpdateFido2Methods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: fido2AuthenticationMethod-id
          in: path
          description: 'key: id of fido2AuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: fido2AuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property fido2Methods for users
      operationId: users.authentication_DeleteFido2Methods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: fido2AuthenticationMethod-id
          in: path
          description: 'key: id of fido2AuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: fido2AuthenticationMethod
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/methods':
    get:
      tags:
        - users.authentication
      summary: Get methods from users
      operationId: users.authentication_ListMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of authenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to methods for users
      operationId: users.authentication_CreateMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/methods/{authenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get methods from users
      operationId: users.authentication_GetMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: authenticationMethod-id
          in: path
          description: 'key: id of authenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: authenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property methods in users
      operationId: users.authentication_UpdateMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: authenticationMethod-id
          in: path
          description: 'key: id of authenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: authenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property methods for users
      operationId: users.authentication_DeleteMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: authenticationMethod-id
          in: path
          description: 'key: id of authenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: authenticationMethod
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/microsoftAuthenticatorMethods':
    get:
      tags:
        - users.authentication
      summary: Get microsoftAuthenticatorMethods from users
      operationId: users.authentication_ListMicrosoftAuthenticatorMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of microsoftAuthenticatorAuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethod'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to microsoftAuthenticatorMethods for users
      operationId: users.authentication_CreateMicrosoftAuthenticatorMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/microsoftAuthenticatorMethods/{microsoftAuthenticatorAuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get microsoftAuthenticatorMethods from users
      operationId: users.authentication_GetMicrosoftAuthenticatorMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: microsoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of microsoftAuthenticatorAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property microsoftAuthenticatorMethods in users
      operationId: users.authentication_UpdateMicrosoftAuthenticatorMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: microsoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of microsoftAuthenticatorAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property microsoftAuthenticatorMethods for users
      operationId: users.authentication_DeleteMicrosoftAuthenticatorMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: microsoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of microsoftAuthenticatorAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/oathMethods':
    get:
      tags:
        - users.authentication
      summary: Get oathMethods from users
      operationId: users.authentication_ListOathMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of softwareOathAuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethod'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to oathMethods for users
      operationId: users.authentication_CreateOathMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/oathMethods/{softwareOathAuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get oathMethods from users
      operationId: users.authentication_GetOathMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: softwareOathAuthenticationMethod-id
          in: path
          description: 'key: id of softwareOathAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: softwareOathAuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property oathMethods in users
      operationId: users.authentication_UpdateOathMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: softwareOathAuthenticationMethod-id
          in: path
          description: 'key: id of softwareOathAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: softwareOathAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property oathMethods for users
      operationId: users.authentication_DeleteOathMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: softwareOathAuthenticationMethod-id
          in: path
          description: 'key: id of softwareOathAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: softwareOathAuthenticationMethod
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/operations':
    get:
      tags:
        - users.authentication
      summary: Get operations from users
      operationId: users.authentication_ListOperations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastActionDateTime
                - lastActionDateTime desc
                - status
                - status desc
                - statusDetail
                - statusDetail desc
                - resourceLocation
                - resourceLocation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastActionDateTime
                - status
                - statusDetail
                - resourceLocation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of longRunningOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to operations for users
      operationId: users.authentication_CreateOperations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/operations/{longRunningOperation-id}':
    get:
      tags:
        - users.authentication
      summary: Get operations from users
      operationId: users.authentication_GetOperations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: longRunningOperation-id
          in: path
          description: 'key: id of longRunningOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: longRunningOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastActionDateTime
                - status
                - statusDetail
                - resourceLocation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property operations in users
      operationId: users.authentication_UpdateOperations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: longRunningOperation-id
          in: path
          description: 'key: id of longRunningOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: longRunningOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property operations for users
      operationId: users.authentication_DeleteOperations
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: longRunningOperation-id
          in: path
          description: 'key: id of longRunningOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: longRunningOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/passwordlessMicrosoftAuthenticatorMethods':
    get:
      tags:
        - users.authentication
      summary: Get passwordlessMicrosoftAuthenticatorMethods from users
      operationId: users.authentication_ListPasswordlessMicrosoftAuthenticatorMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of passwordlessMicrosoftAuthenticatorAuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.passwordlessMicrosoftAuthenticatorAuthenticationMethod'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to passwordlessMicrosoftAuthenticatorMethods for users
      operationId: users.authentication_CreatePasswordlessMicrosoftAuthenticatorMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.passwordlessMicrosoftAuthenticatorAuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordlessMicrosoftAuthenticatorAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/passwordlessMicrosoftAuthenticatorMethods/{passwordlessMicrosoftAuthenticatorAuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get passwordlessMicrosoftAuthenticatorMethods from users
      operationId: users.authentication_GetPasswordlessMicrosoftAuthenticatorMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: passwordlessMicrosoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of passwordlessMicrosoftAuthenticatorAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: passwordlessMicrosoftAuthenticatorAuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordlessMicrosoftAuthenticatorAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property passwordlessMicrosoftAuthenticatorMethods in users
      operationId: users.authentication_UpdatePasswordlessMicrosoftAuthenticatorMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: passwordlessMicrosoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of passwordlessMicrosoftAuthenticatorAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: passwordlessMicrosoftAuthenticatorAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.passwordlessMicrosoftAuthenticatorAuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property passwordlessMicrosoftAuthenticatorMethods for users
      operationId: users.authentication_DeletePasswordlessMicrosoftAuthenticatorMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: passwordlessMicrosoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of passwordlessMicrosoftAuthenticatorAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: passwordlessMicrosoftAuthenticatorAuthenticationMethod
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/passwordMethods':
    get:
      tags:
        - users.authentication
      summary: Get passwordMethods from users
      operationId: users.authentication_ListPasswordMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - password
                - password desc
                - creationDateTime
                - creationDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - password
                - creationDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of passwordAuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to passwordMethods for users
      operationId: users.authentication_CreatePasswordMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/passwordMethods/{passwordAuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get passwordMethods from users
      operationId: users.authentication_GetPasswordMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: passwordAuthenticationMethod-id
          in: path
          description: 'key: id of passwordAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: passwordAuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - password
                - creationDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property passwordMethods in users
      operationId: users.authentication_UpdatePasswordMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: passwordAuthenticationMethod-id
          in: path
          description: 'key: id of passwordAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: passwordAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property passwordMethods for users
      operationId: users.authentication_DeletePasswordMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: passwordAuthenticationMethod-id
          in: path
          description: 'key: id of passwordAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: passwordAuthenticationMethod
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/phoneMethods':
    get:
      tags:
        - users.authentication
      summary: Get phoneMethods from users
      operationId: users.authentication_ListPhoneMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - phoneNumber
                - phoneNumber desc
                - phoneType
                - phoneType desc
                - smsSignInState
                - smsSignInState desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - phoneNumber
                - phoneType
                - smsSignInState
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of phoneAuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to phoneMethods for users
      operationId: users.authentication_CreatePhoneMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/phoneMethods/{phoneAuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get phoneMethods from users
      operationId: users.authentication_GetPhoneMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: phoneAuthenticationMethod-id
          in: path
          description: 'key: id of phoneAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: phoneAuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - phoneNumber
                - phoneType
                - smsSignInState
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property phoneMethods in users
      operationId: users.authentication_UpdatePhoneMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: phoneAuthenticationMethod-id
          in: path
          description: 'key: id of phoneAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: phoneAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property phoneMethods for users
      operationId: users.authentication_DeletePhoneMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: phoneAuthenticationMethod-id
          in: path
          description: 'key: id of phoneAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: phoneAuthenticationMethod
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/securityQuestionMethods':
    get:
      tags:
        - users.authentication
      summary: Get securityQuestionMethods from users
      operationId: users.authentication_ListSecurityQuestionMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of securityQuestionAuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.securityQuestionAuthenticationMethod'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to securityQuestionMethods for users
      operationId: users.authentication_CreateSecurityQuestionMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.securityQuestionAuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.securityQuestionAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/securityQuestionMethods/{securityQuestionAuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get securityQuestionMethods from users
      operationId: users.authentication_GetSecurityQuestionMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: securityQuestionAuthenticationMethod-id
          in: path
          description: 'key: id of securityQuestionAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: securityQuestionAuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.securityQuestionAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property securityQuestionMethods in users
      operationId: users.authentication_UpdateSecurityQuestionMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: securityQuestionAuthenticationMethod-id
          in: path
          description: 'key: id of securityQuestionAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: securityQuestionAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.securityQuestionAuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property securityQuestionMethods for users
      operationId: users.authentication_DeleteSecurityQuestionMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: securityQuestionAuthenticationMethod-id
          in: path
          description: 'key: id of securityQuestionAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: securityQuestionAuthenticationMethod
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/temporaryAccessPassMethods':
    get:
      tags:
        - users.authentication
      summary: Get temporaryAccessPassMethods from users
      operationId: users.authentication_ListTemporaryAccessPassMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of temporaryAccessPassAuthenticationMethod
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.authentication
      summary: Create new navigation property to temporaryAccessPassMethods for users
      operationId: users.authentication_CreateTemporaryAccessPassMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/authentication/temporaryAccessPassMethods/{temporaryAccessPassAuthenticationMethod-id}':
    get:
      tags:
        - users.authentication
      summary: Get temporaryAccessPassMethods from users
      operationId: users.authentication_GetTemporaryAccessPassMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: temporaryAccessPassAuthenticationMethod-id
          in: path
          description: 'key: id of temporaryAccessPassAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: temporaryAccessPassAuthenticationMethod
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.authentication
      summary: Update the navigation property temporaryAccessPassMethods in users
      operationId: users.authentication_UpdateTemporaryAccessPassMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: temporaryAccessPassAuthenticationMethod-id
          in: path
          description: 'key: id of temporaryAccessPassAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: temporaryAccessPassAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.authentication
      summary: Delete navigation property temporaryAccessPassMethods for users
      operationId: users.authentication_DeleteTemporaryAccessPassMethods
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: temporaryAccessPassAuthenticationMethod-id
          in: path
          description: 'key: id of temporaryAccessPassAuthenticationMethod'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: temporaryAccessPassAuthenticationMethod
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.authentication:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: authentication
          type: object
          properties:
            methods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
            securityQuestionMethods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.securityQuestionAuthenticationMethod'
            phoneMethods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
            passwordMethods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
            emailMethods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
            oathMethods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethod'
            microsoftAuthenticatorMethods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethod'
            passwordlessMicrosoftAuthenticatorMethods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.passwordlessMicrosoftAuthenticatorAuthenticationMethod'
            fido2Methods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
            temporaryAccessPassMethods:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
          additionalProperties:
            type: object
    microsoft.graph.emailAuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: emailAuthenticationMethod
          type: object
          additionalProperties:
            type: object
    microsoft.graph.fido2AuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: fido2AuthenticationMethod
          type: object
          additionalProperties:
            type: object
    microsoft.graph.authenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: authenticationMethod
          type: object
          additionalProperties:
            type: object
    microsoft.graph.microsoftAuthenticatorAuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: microsoftAuthenticatorAuthenticationMethod
          type: object
          additionalProperties:
            type: object
    microsoft.graph.softwareOathAuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: softwareOathAuthenticationMethod
          type: object
          additionalProperties:
            type: object
    microsoft.graph.longRunningOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: longRunningOperation
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastActionDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            status:
              $ref: '#/components/schemas/microsoft.graph.longRunningOperationStatus'
            statusDetail:
              type: string
              nullable: true
            resourceLocation:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.passwordlessMicrosoftAuthenticatorAuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: passwordlessMicrosoftAuthenticatorAuthenticationMethod
          type: object
          additionalProperties:
            type: object
    microsoft.graph.passwordAuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: passwordAuthenticationMethod
          type: object
          properties:
            password:
              type: string
              nullable: true
            creationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.phoneAuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: phoneAuthenticationMethod
          type: object
          properties:
            phoneNumber:
              type: string
              nullable: true
            phoneType:
              $ref: '#/components/schemas/microsoft.graph.authenticationPhoneType'
            smsSignInState:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethodSignInState'
          additionalProperties:
            type: object
    microsoft.graph.securityQuestionAuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: securityQuestionAuthenticationMethod
          type: object
          additionalProperties:
            type: object
    microsoft.graph.temporaryAccessPassAuthenticationMethod:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        - title: temporaryAccessPassAuthenticationMethod
          type: object
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.longRunningOperationStatus:
      title: longRunningOperationStatus
      enum:
        - notstarted
        - running
        - succeeded
        - failed
      type: string
    microsoft.graph.authenticationPhoneType:
      title: authenticationPhoneType
      enum:
        - mobile
        - alternateMobile
        - office
        - unknownFutureValue
      type: string
    microsoft.graph.authenticationMethodSignInState:
      title: authenticationMethodSignInState
      enum:
        - notSupported
        - notAllowedByPolicy
        - notEnabled
        - phoneNumberNotUnique
        - ready
        - notConfigured
        - unknownFutureValue
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]