openapi: 3.0.1
info:
  title: Identity.Invitations
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /invitations:
    get:
      tags:
        - invitations.invitation
      summary: Get entities from invitations
      operationId: invitations.invitation_ListInvitation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - invitedUserDisplayName
                - invitedUserDisplayName desc
                - invitedUserType
                - invitedUserType desc
                - invitedUserEmailAddress
                - invitedUserEmailAddress desc
                - invitedUserMessageInfo
                - invitedUserMessageInfo desc
                - sendInvitationMessage
                - sendInvitationMessage desc
                - inviteRedirectUrl
                - inviteRedirectUrl desc
                - inviteRedeemUrl
                - inviteRedeemUrl desc
                - status
                - status desc
                - resetRedemption
                - resetRedemption desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - invitedUserDisplayName
                - invitedUserType
                - invitedUserEmailAddress
                - invitedUserMessageInfo
                - sendInvitationMessage
                - inviteRedirectUrl
                - inviteRedeemUrl
                - status
                - resetRedemption
                - invitedUser
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - invitedUser
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of invitation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.invitation'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - invitations.invitation
      summary: Add new entity to invitations
      operationId: invitations.invitation_CreateInvitation
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.invitation'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.invitation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/invitations/{invitation-id}':
    get:
      tags:
        - invitations.invitation
      summary: Get entity from invitations by key
      operationId: invitations.invitation_GetInvitation
      parameters:
        - name: invitation-id
          in: path
          description: 'key: invitation-id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - invitedUserDisplayName
                - invitedUserType
                - invitedUserEmailAddress
                - invitedUserMessageInfo
                - sendInvitationMessage
                - inviteRedirectUrl
                - inviteRedeemUrl
                - status
                - resetRedemption
                - invitedUser
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - invitedUser
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.invitation'
          links:
            invitedUser:
              operationId: invitations.GetInvitedUser
              parameters:
                invitation-id: $request.path.invitation-id
                user-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - invitations.invitation
      summary: Update entity in invitations
      operationId: invitations.invitation_UpdateInvitation
      parameters:
        - name: invitation-id
          in: path
          description: 'key: invitation-id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.invitation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - invitations.invitation
      summary: Delete entity from invitations
      operationId: invitations.invitation_DeleteInvitation
      parameters:
        - name: invitation-id
          in: path
          description: 'key: invitation-id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/invitations/{invitation-id}/invitedUser':
    get:
      tags:
        - invitations.user
      summary: Get invitedUser from invitations
      operationId: invitations_GetInvitedUser
      parameters:
        - name: invitation-id
          in: path
          description: 'key: invitation-id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - signInActivity
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - department
                - deviceKeys
                - displayName
                - employeeId
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - onPremisesDistinguishedName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesDomainName
                - onPremisesSamAccountName
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - officeLocation
                - postalCode
                - preferredDataLocation
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - refreshTokensValidFromDateTime
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - externalUserState
                - externalUserStateChangeDateTime
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - analytics
                - informationProtection
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - outlook
                - messages
                - joinedGroups
                - mailFolders
                - calendar
                - calendars
                - calendarGroups
                - calendarView
                - events
                - people
                - contacts
                - contactFolders
                - inferenceClassification
                - photo
                - photos
                - drive
                - drives
                - followedSites
                - extensions
                - approvals
                - appConsentRequestsForApproval
                - agreementAcceptances
                - deviceEnrollmentConfigurations
                - managedDevices
                - managedAppRegistrations
                - windowsInformationProtectionDeviceRegistrations
                - deviceManagementTroubleshootingEvents
                - mobileAppIntentAndStates
                - mobileAppTroubleshootingEvents
                - notifications
                - planner
                - insights
                - settings
                - onenote
                - profile
                - activities
                - devices
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - analytics
                - informationProtection
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - outlook
                - messages
                - joinedGroups
                - mailFolders
                - calendar
                - calendars
                - calendarGroups
                - calendarView
                - events
                - people
                - contacts
                - contactFolders
                - inferenceClassification
                - photo
                - photos
                - drive
                - drives
                - followedSites
                - extensions
                - approvals
                - appConsentRequestsForApproval
                - agreementAcceptances
                - deviceEnrollmentConfigurations
                - managedDevices
                - managedAppRegistrations
                - windowsInformationProtectionDeviceRegistrations
                - deviceManagementTroubleshootingEvents
                - mobileAppIntentAndStates
                - mobileAppTroubleshootingEvents
                - notifications
                - planner
                - insights
                - settings
                - onenote
                - profile
                - activities
                - devices
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
          links:
            analytics:
              operationId: invitation.invitedUser.GetAnalytics
              parameters:
                invitation-id: $request.path.invitation-id
                userAnalytics-id: $response.body#/id
            informationProtection:
              operationId: invitation.invitedUser.GetInformationProtection
              parameters:
                invitation-id: $request.path.invitation-id
                informationProtection-id: $response.body#/id
            appRoleAssignments:
              operationId: invitation.invitedUser.GetAppRoleAssignments
              parameters:
                invitation-id: $request.path.invitation-id
                appRoleAssignment-id: $response.body#/id
            createdObjects:
              operationId: invitation.invitedUser.GetCreatedObjects
              parameters:
                invitation-id: $request.path.invitation-id
                directoryObject-id: $response.body#/id
            directReports:
              operationId: invitation.invitedUser.GetDirectReports
              parameters:
                invitation-id: $request.path.invitation-id
                directoryObject-id: $response.body#/id
            licenseDetails:
              operationId: invitation.invitedUser.GetLicenseDetails
              parameters:
                invitation-id: $request.path.invitation-id
                licenseDetails-id: $response.body#/id
            manager:
              operationId: invitation.invitedUser.GetManager
              parameters:
                invitation-id: $request.path.invitation-id
                directoryObject-id: $response.body#/id
            memberOf:
              operationId: invitation.invitedUser.GetMemberOf
              parameters:
                invitation-id: $request.path.invitation-id
                directoryObject-id: $response.body#/id
            ownedDevices:
              operationId: invitation.invitedUser.GetOwnedDevices
              parameters:
                invitation-id: $request.path.invitation-id
                directoryObject-id: $response.body#/id
            ownedObjects:
              operationId: invitation.invitedUser.GetOwnedObjects
              parameters:
                invitation-id: $request.path.invitation-id
                directoryObject-id: $response.body#/id
            registeredDevices:
              operationId: invitation.invitedUser.GetRegisteredDevices
              parameters:
                invitation-id: $request.path.invitation-id
                directoryObject-id: $response.body#/id
            scopedRoleMemberOf:
              operationId: invitation.invitedUser.GetScopedRoleMemberOf
              parameters:
                invitation-id: $request.path.invitation-id
                scopedRoleMembership-id: $response.body#/id
            transitiveMemberOf:
              operationId: invitation.invitedUser.GetTransitiveMemberOf
              parameters:
                invitation-id: $request.path.invitation-id
                directoryObject-id: $response.body#/id
            outlook:
              operationId: invitation.invitedUser.GetOutlook
              parameters:
                invitation-id: $request.path.invitation-id
                outlookUser-id: $response.body#/id
            messages:
              operationId: invitation.invitedUser.GetMessages
              parameters:
                invitation-id: $request.path.invitation-id
                message-id: $response.body#/id
            joinedGroups:
              operationId: invitation.invitedUser.GetJoinedGroups
              parameters:
                invitation-id: $request.path.invitation-id
                group-id: $response.body#/id
            mailFolders:
              operationId: invitation.invitedUser.GetMailFolders
              parameters:
                invitation-id: $request.path.invitation-id
                mailFolder-id: $response.body#/id
            calendar:
              operationId: invitation.invitedUser.GetCalendar
              parameters:
                invitation-id: $request.path.invitation-id
                calendar-id: $response.body#/id
            calendars:
              operationId: invitation.invitedUser.GetCalendars
              parameters:
                invitation-id: $request.path.invitation-id
                calendar-id: $response.body#/id
            calendarGroups:
              operationId: invitation.invitedUser.GetCalendarGroups
              parameters:
                invitation-id: $request.path.invitation-id
                calendarGroup-id: $response.body#/id
            calendarView:
              operationId: invitation.invitedUser.GetCalendarView
              parameters:
                invitation-id: $request.path.invitation-id
                event-id: $response.body#/id
            events:
              operationId: invitation.invitedUser.GetEvents
              parameters:
                invitation-id: $request.path.invitation-id
                event-id: $response.body#/id
            people:
              operationId: invitation.invitedUser.GetPeople
              parameters:
                invitation-id: $request.path.invitation-id
                person-id: $response.body#/id
            contacts:
              operationId: invitation.invitedUser.GetContacts
              parameters:
                invitation-id: $request.path.invitation-id
                contact-id: $response.body#/id
            contactFolders:
              operationId: invitation.invitedUser.GetContactFolders
              parameters:
                invitation-id: $request.path.invitation-id
                contactFolder-id: $response.body#/id
            inferenceClassification:
              operationId: invitation.invitedUser.GetInferenceClassification
              parameters:
                invitation-id: $request.path.invitation-id
                inferenceClassification-id: $response.body#/id
            photo:
              operationId: invitation.invitedUser.GetPhoto
              parameters:
                invitation-id: $request.path.invitation-id
                profilePhoto-id: $response.body#/id
            photos:
              operationId: invitation.invitedUser.GetPhotos
              parameters:
                invitation-id: $request.path.invitation-id
                profilePhoto-id: $response.body#/id
            drive:
              operationId: invitation.invitedUser.GetDrive
              parameters:
                invitation-id: $request.path.invitation-id
                drive-id: $response.body#/id
            drives:
              operationId: invitation.invitedUser.GetDrives
              parameters:
                invitation-id: $request.path.invitation-id
                drive-id: $response.body#/id
            followedSites:
              operationId: invitation.invitedUser.GetFollowedSites
              parameters:
                invitation-id: $request.path.invitation-id
                site-id: $response.body#/id
            extensions:
              operationId: invitation.invitedUser.GetExtensions
              parameters:
                invitation-id: $request.path.invitation-id
                extension-id: $response.body#/id
            approvals:
              operationId: invitation.invitedUser.GetApprovals
              parameters:
                invitation-id: $request.path.invitation-id
                approval-id: $response.body#/id
            appConsentRequestsForApproval:
              operationId: invitation.invitedUser.GetAppConsentRequestsForApproval
              parameters:
                invitation-id: $request.path.invitation-id
                appConsentRequest-id: $response.body#/id
            agreementAcceptances:
              operationId: invitation.invitedUser.GetAgreementAcceptances
              parameters:
                invitation-id: $request.path.invitation-id
                agreementAcceptance-id: $response.body#/id
            deviceEnrollmentConfigurations:
              operationId: invitation.invitedUser.GetDeviceEnrollmentConfigurations
              parameters:
                invitation-id: $request.path.invitation-id
                deviceEnrollmentConfiguration-id: $response.body#/id
            managedDevices:
              operationId: invitation.invitedUser.GetManagedDevices
              parameters:
                invitation-id: $request.path.invitation-id
                managedDevice-id: $response.body#/id
            managedAppRegistrations:
              operationId: invitation.invitedUser.GetManagedAppRegistrations
              parameters:
                invitation-id: $request.path.invitation-id
                managedAppRegistration-id: $response.body#/id
            windowsInformationProtectionDeviceRegistrations:
              operationId: invitation.invitedUser.GetWindowsInformationProtectionDeviceRegistrations
              parameters:
                invitation-id: $request.path.invitation-id
                windowsInformationProtectionDeviceRegistration-id: $response.body#/id
            deviceManagementTroubleshootingEvents:
              operationId: invitation.invitedUser.GetDeviceManagementTroubleshootingEvents
              parameters:
                invitation-id: $request.path.invitation-id
                deviceManagementTroubleshootingEvent-id: $response.body#/id
            mobileAppIntentAndStates:
              operationId: invitation.invitedUser.GetMobileAppIntentAndStates
              parameters:
                invitation-id: $request.path.invitation-id
                mobileAppIntentAndState-id: $response.body#/id
            mobileAppTroubleshootingEvents:
              operationId: invitation.invitedUser.GetMobileAppTroubleshootingEvents
              parameters:
                invitation-id: $request.path.invitation-id
                mobileAppTroubleshootingEvent-id: $response.body#/id
            notifications:
              operationId: invitation.invitedUser.GetNotifications
              parameters:
                invitation-id: $request.path.invitation-id
                notification-id: $response.body#/id
            planner:
              operationId: invitation.invitedUser.GetPlanner
              parameters:
                invitation-id: $request.path.invitation-id
                plannerUser-id: $response.body#/id
            insights:
              operationId: invitation.invitedUser.GetInsights
              parameters:
                invitation-id: $request.path.invitation-id
                officeGraphInsights-id: $response.body#/id
            settings:
              operationId: invitation.invitedUser.GetSettings
              parameters:
                invitation-id: $request.path.invitation-id
                userSettings-id: $response.body#/id
            onenote:
              operationId: invitation.invitedUser.GetOnenote
              parameters:
                invitation-id: $request.path.invitation-id
                onenote-id: $response.body#/id
            profile:
              operationId: invitation.invitedUser.GetProfile
              parameters:
                invitation-id: $request.path.invitation-id
                profile-id: $response.body#/id
            activities:
              operationId: invitation.invitedUser.GetActivities
              parameters:
                invitation-id: $request.path.invitation-id
                userActivity-id: $response.body#/id
            devices:
              operationId: invitation.invitedUser.GetDevices
              parameters:
                invitation-id: $request.path.invitation-id
                device-id: $response.body#/id
            onlineMeetings:
              operationId: invitation.invitedUser.GetOnlineMeetings
              parameters:
                invitation-id: $request.path.invitation-id
                onlineMeeting-id: $response.body#/id
            presence:
              operationId: invitation.invitedUser.GetPresence
              parameters:
                invitation-id: $request.path.invitation-id
                presence-id: $response.body#/id
            authentication:
              operationId: invitation.invitedUser.GetAuthentication
              parameters:
                invitation-id: $request.path.invitation-id
                authentication-id: $response.body#/id
            chats:
              operationId: invitation.invitedUser.GetChats
              parameters:
                invitation-id: $request.path.invitation-id
                chat-id: $response.body#/id
            joinedTeams:
              operationId: invitation.invitedUser.GetJoinedTeams
              parameters:
                invitation-id: $request.path.invitation-id
                team-id: $response.body#/id
            teamwork:
              operationId: invitation.invitedUser.GetTeamwork
              parameters:
                invitation-id: $request.path.invitation-id
                userTeamwork-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.invitation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: invitation
          type: object
          properties:
            invitedUserDisplayName:
              type: string
              description: The display name of the user being invited.
              nullable: true
            invitedUserType:
              type: string
              description: 'The userType of the user being invited. By default, this is Guest. You can invite as Member if you are a company administrator.'
              nullable: true
            invitedUserEmailAddress:
              type: string
              description: 'The email address of the user being invited. Required. The following special characters are not permitted in the email address:Tilde (~)Exclamation point (!)Number sign (#)Dollar sign ($)Percent (%)Circumflex (^)Ampersand (&)Asterisk (*)Parentheses (( ))Plus sign (+)Equal sign (=)Brackets ([ ])Braces ({ })Backslash (/)Slash mark (/)Pipe (/|)Semicolon (;)Colon (:)Quotation marks ('')Angle brackets (< >)Question mark (?)Comma (,)However, the following exceptions apply:A period (.) or a hyphen (-) is permitted anywhere in the user name, except at the beginning or end of the name.An underscore (_) is permitted anywhere in the user name. This includes at the beginning or end of the name.'
            invitedUserMessageInfo:
              $ref: '#/components/schemas/microsoft.graph.invitedUserMessageInfo'
            sendInvitationMessage:
              type: boolean
              description: Indicates whether an email should be sent to the user being invited or not. The default is false.
              nullable: true
            inviteRedirectUrl:
              type: string
              description: The URL user should be redirected to once the invitation is redeemed. Required.
            inviteRedeemUrl:
              type: string
              description: The URL user can use to redeem his invitation. Read-Only
              nullable: true
            status:
              type: string
              description: 'The status of the invitation. Possible values: PendingAcceptance, Completed, InProgress, and Error'
              nullable: true
            resetRedemption:
              type: boolean
              nullable: true
            invitedUser:
              $ref: '#/components/schemas/microsoft.graph.user'
      example:
        id: string (identifier)
        invitedUserDisplayName: string
        invitedUserType: string
        invitedUserEmailAddress: string
        invitedUserMessageInfo:
          '@odata.type': microsoft.graph.invitedUserMessageInfo
        sendInvitationMessage: true
        inviteRedirectUrl: string
        inviteRedeemUrl: string
        status: string
        resetRedemption: true
        invitedUser:
          '@odata.type': microsoft.graph.user
    microsoft.graph.user:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: user
          type: object
          properties:
            signInActivity:
              $ref: '#/components/schemas/microsoft.graph.signInActivity'
            accountEnabled:
              type: boolean
              description: 'true if the account is enabled; otherwise, false. This property is required when a user is created. Supports $filter.'
              nullable: true
            ageGroup:
              type: string
              description: 'Sets the age group of the user. Allowed values: null, minor, notAdult and adult. Refer to the legal age group property definitions for further information.'
              nullable: true
            assignedLicenses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.assignedLicense'
              description: The licenses that are assigned to the user. Not nullable.
            assignedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.assignedPlan'
              description: The plans that are assigned to the user. Read-only. Not nullable.
            businessPhones:
              type: array
              items:
                type: string
              description: 'The telephone numbers for the user. NOTE: Although this is a string collection, only one number can be set for this property.'
            city:
              type: string
              description: The city in which the user is located. Supports $filter.
              nullable: true
            companyName:
              type: string
              description: The company name which the user is associated. This property can be useful for describing the company that an external user comes from.
              nullable: true
            consentProvidedForMinor:
              type: string
              description: 'Sets whether consent has been obtained for minors. Allowed values: null, granted, denied and notRequired. Refer to the legal age group property definitions for further information.'
              nullable: true
            country:
              type: string
              description: 'The country/region in which the user is located; for example, ''US'' or ''UK''. Supports $filter.'
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The created date of the user object.
              format: date-time
              nullable: true
            creationType:
              type: string
              description: 'Indicates whether the user account was created as a regular school or work account (null), an external account (Invitation), a local account for an Azure Active Directory B2C tenant (LocalAccount) or self-service sign-up using email verification (EmailVerified). Read-only.'
              nullable: true
            department:
              type: string
              description: The name for the department in which the user works. Supports $filter.
              nullable: true
            deviceKeys:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceKey'
            displayName:
              type: string
              description: 'The name displayed in the address book for the user. This is usually the combination of the user''s first name, middle initial and last name. This property is required when a user is created and it cannot be cleared during updates. Supports $filter and $orderby.'
              nullable: true
            employeeId:
              type: string
              description: The employee identifier assigned to the user by the organization. Supports $filter.
              nullable: true
            faxNumber:
              type: string
              description: The fax number of the user.
              nullable: true
            givenName:
              type: string
              description: The given name (first name) of the user. Supports $filter.
              nullable: true
            identities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.objectIdentity'
              description: 'Represents the identities that can be used to sign in to this user account. An identity can be provided by Microsoft (also known as a local account), by organizations, or by social identity providers such as Facebook, Google, and Microsoft, and tied to a user account. May contain multiple items with the same signInType value. Supports $filter.'
            imAddresses:
              type: array
              items:
                type: string
                nullable: true
              description: The instant message voice over IP (VOIP) session initiation protocol (SIP) addresses for the user. Read-only.
            isResourceAccount:
              type: boolean
              description: 'true if the user is a resource account; otherwise, false. Null value should be considered false.'
              nullable: true
            jobTitle:
              type: string
              description: The user’s job title. Supports $filter.
              nullable: true
            lastPasswordChangeDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The time when this Azure AD user last changed their password. The date and time information uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            legalAgeGroupClassification:
              type: string
              description: 'Used by enterprise applications to determine the legal age group of the user. This property is read-only and calculated based on ageGroup and consentProvidedForMinor properties. Allowed values: null, minorWithOutParentalConsent, minorWithParentalConsent, minorNoParentalConsentRequired, notAdult and adult. Refer to the legal age group property definitions for further information.)'
              nullable: true
            licenseAssignmentStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.licenseAssignmentState'
              description: State of license assignments for this user. Read-only.
            mail:
              type: string
              description: 'The SMTP address for the user, for example, ''jeff@contoso.onmicrosoft.com''. Read-Only. Supports $filter.'
              nullable: true
            mailNickname:
              type: string
              description: The mail alias for the user. This property must be specified when a user is created. Supports $filter.
              nullable: true
            mobilePhone:
              type: string
              description: The primary cellular telephone number for the user.
              nullable: true
            onPremisesDistinguishedName:
              type: string
              description: Contains the on-premises Active Directory distinguished name or DN. The property is only populated for customers who are synchronizing their on-premises directory to Azure Active Directory via Azure AD Connect. Read-only.
              nullable: true
            onPremisesExtensionAttributes:
              $ref: '#/components/schemas/microsoft.graph.onPremisesExtensionAttributes'
            onPremisesImmutableId:
              type: string
              description: 'This property is used to associate an on-premises Active Directory user account to their Azure AD user object. This property must be specified when creating a new user account in the Graph if you are using a federated domain for the user’s userPrincipalName (UPN) property. Important: The $ and _ characters cannot be used when specifying this property. Supports $filter.'
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Indicates the last time at which the object was synced with the on-premises directory; for example: ''2013-02-16T03:04:54Z''. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            onPremisesProvisioningErrors:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesProvisioningError'
              description: Errors when using Microsoft synchronization product during provisioning.
            onPremisesSecurityIdentifier:
              type: string
              description: Contains the on-premises security identifier (SID) for the user that was synchronized from on-premises to the cloud. Read-only.
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              description: true if this object is synced from an on-premises directory; false if this object was originally synced from an on-premises directory but is no longer synced; null if this object has never been synced from an on-premises directory (default). Read-only
              nullable: true
            onPremisesDomainName:
              type: string
              description: 'Contains the on-premises domainFQDN, also called dnsDomainName synchronized from the on-premises directory. The property is only populated for customers who are synchronizing their on-premises directory to Azure Active Directory via Azure AD Connect. Read-only.'
              nullable: true
            onPremisesSamAccountName:
              type: string
              description: Contains the on-premises samAccountName synchronized from the on-premises directory. The property is only populated for customers who are synchronizing their on-premises directory to Azure Active Directory via Azure AD Connect. Read-only.
              nullable: true
            onPremisesUserPrincipalName:
              type: string
              description: Contains the on-premises userPrincipalName synchronized from the on-premises directory. The property is only populated for customers who are synchronizing their on-premises directory to Azure Active Directory via Azure AD Connect. Read-only.
              nullable: true
            otherMails:
              type: array
              items:
                type: string
              description: 'A list of additional email addresses for the user; for example: [''bob@contoso.com'', ''Robert@fabrikam.com'']. Supports $filter.'
            passwordPolicies:
              type: string
              description: 'Specifies password policies for the user. This value is an enumeration with one possible value being ''DisableStrongPassword'', which allows weaker passwords than the default policy to be specified. ''DisablePasswordExpiration'' can also be specified. The two may be specified together; for example: ''DisablePasswordExpiration, DisableStrongPassword''.'
              nullable: true
            passwordProfile:
              $ref: '#/components/schemas/microsoft.graph.passwordProfile'
            officeLocation:
              type: string
              description: The office location in the user's place of business.
              nullable: true
            postalCode:
              type: string
              description: 'The postal code for the user''s postal address. The postal code is specific to the user''s country/region. In the United States of America, this attribute contains the ZIP code.'
              nullable: true
            preferredDataLocation:
              type: string
              description: 'The preferred data location for the user. For more information, see OneDrive Online Multi-Geo.'
              nullable: true
            preferredLanguage:
              type: string
              description: The preferred language for the user. Should follow ISO 639-1 Code; for example 'en-US'.
              nullable: true
            provisionedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.provisionedPlan'
              description: The plans that are provisioned for the user. Read-only. Not nullable.
            proxyAddresses:
              type: array
              items:
                type: string
              description: 'For example: [''SMTP: bob@contoso.com'', ''smtp: bob@sales.contoso.com''] The any operator is required for filter expressions on multi-valued properties. Read-only, Not nullable. Supports $filter.'
            refreshTokensValidFromDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Any refresh tokens or sessions tokens (session cookies) issued before this time are invalid, and applications will get an error when using an invalid refresh or sessions token to acquire a delegated access token (to access APIs such as Microsoft Graph).  If this happens, the application will need to acquire a new refresh token by making a request to the authorize endpoint. Returned only on $select. Read-only.'
              format: date-time
              nullable: true
            showInAddressList:
              type: boolean
              description: 'true if the Outlook global address list should contain this user, otherwise false. If not set, this will be treated as true. For users invited through the invitation manager, this property will be set to false.'
              nullable: true
            signInSessionsValidFromDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Any refresh tokens or sessions tokens (session cookies) issued before this time are invalid, and applications will get an error when using an invalid refresh or sessions token to acquire a delegated access token (to access APIs such as Microsoft Graph).  If this happens, the application will need to acquire a new refresh token by making a request to the authorize endpoint. Read-only. Use revokeSignInSessions to reset.'
              format: date-time
              nullable: true
            state:
              type: string
              description: The state or province in the user's address. Supports $filter.
              nullable: true
            streetAddress:
              type: string
              description: The street address of the user's place of business.
              nullable: true
            surname:
              type: string
              description: The user's surname (family name or last name). Supports $filter.
              nullable: true
            usageLocation:
              type: string
              description: 'A two letter country code (ISO standard 3166). Required for users that will be assigned licenses due to legal requirement to check for availability of services in countries.  Examples include: ''US'', ''JP'', and ''GB''. Not nullable. Supports $filter.'
              nullable: true
            userPrincipalName:
              type: string
              description: 'The user principal name (UPN) of the user. The UPN is an Internet-style login name for the user based on the Internet standard RFC 822. By convention, this should map to the user''s email name. The general format is alias@domain, where domain must be present in the tenant’s collection of verified domains. This property is required when a user is created. The verified domains for the tenant can be accessed from the verifiedDomains property of organization. Supports $filter and $orderby.'
              nullable: true
            externalUserState:
              type: string
              description: 'For an external user invited to the tenant using the invitation API, this property represents the invited user''s invitation status. For invited users, the state can be PendingAcceptance or Accepted, or null for all other users. Returned only on $select. Supports $filter with the supported values. For example: $filter=externalUserState eq ''PendingAcceptance''.'
              nullable: true
            externalUserStateChangeDateTime:
              type: string
              description: Shows the timestamp for the latest change to the externalUserState property. Returned only on $select.
              nullable: true
            userType:
              type: string
              description: 'A string value that can be used to classify user types in your directory, such as ''Member'' and ''Guest''. Supports $filter.'
              nullable: true
            mailboxSettings:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
            deviceEnrollmentLimit:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The limit on the maximum number of devices that the user is permitted to enroll. Allowed values are 5 or 1000.
              format: int32
            aboutMe:
              type: string
              description: A freeform text entry field for the user to describe themselves.
              nullable: true
            birthday:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The birthday of the user. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
            hireDate:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The hire date of the user. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
            interests:
              type: array
              items:
                type: string
                nullable: true
              description: A list for the user to describe their interests.
            mySite:
              type: string
              description: The URL for the user's personal site.
              nullable: true
            pastProjects:
              type: array
              items:
                type: string
                nullable: true
              description: A list for the user to enumerate their past projects.
            preferredName:
              type: string
              description: The preferred name for the user.
              nullable: true
            responsibilities:
              type: array
              items:
                type: string
                nullable: true
              description: A list for the user to enumerate their responsibilities.
            schools:
              type: array
              items:
                type: string
                nullable: true
              description: A list for the user to enumerate the schools they have attended.
            skills:
              type: array
              items:
                type: string
                nullable: true
              description: A list for the user to enumerate their skills.
            analytics:
              $ref: '#/components/schemas/microsoft.graph.userAnalytics'
            informationProtection:
              $ref: '#/components/schemas/microsoft.graph.informationProtection'
            appRoleAssignments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
            createdObjects:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: Directory objects that were created by the user. Read-only. Nullable.
            directReports:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: The users and contacts that report to the user. (The users and contacts that have their manager property set to this user.) Read-only. Nullable.
            licenseDetails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
              description: A collection of this user's license details. Read-only.
            manager:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            memberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: The groups and directory roles that the user is a member of. Read-only. Nullable.
            ownedDevices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: Devices that are owned by the user. Read-only. Nullable.
            ownedObjects:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: Directory objects that are owned by the user. Read-only. Nullable.
            registeredDevices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: Devices that are registered for the user. Read-only. Nullable.
            scopedRoleMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
            transitiveMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            outlook:
              $ref: '#/components/schemas/microsoft.graph.outlookUser'
            messages:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.message'
              description: The messages in a mailbox or folder. Read-only. Nullable.
            joinedGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.group'
            mailFolders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
              description: The user's mail folders. Read-only. Nullable.
            calendar:
              $ref: '#/components/schemas/microsoft.graph.calendar'
            calendars:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.calendar'
              description: The user's calendars. Read-only. Nullable.
            calendarGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.calendarGroup'
              description: The user's calendar groups. Read-only. Nullable.
            calendarView:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
              description: The calendar view for the calendar. Read-only. Nullable.
            events:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
              description: The user's events. Default is to show Events under the Default Calendar. Read-only. Nullable.
            people:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.person'
              description: People that are relevant to the user. Read-only. Nullable.
            contacts:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.contact'
              description: The user's contacts. Read-only. Nullable.
            contactFolders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
              description: The user's contacts folders. Read-only. Nullable.
            inferenceClassification:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
            photo:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
            photos:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
            drive:
              $ref: '#/components/schemas/microsoft.graph.drive'
            drives:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.drive'
              description: A collection of drives available for this user. Read-only.
            followedSites:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.site'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the user. Read-only. Nullable.
            approvals:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.approval'
            appConsentRequestsForApproval:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
            agreementAcceptances:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
            deviceEnrollmentConfigurations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
            managedDevices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedDevice'
              description: The managed devices associated with the user.
            managedAppRegistrations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
              description: Zero or more managed app registrations that belong to the user.
            windowsInformationProtectionDeviceRegistrations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.windowsInformationProtectionDeviceRegistration'
              description: Zero or more WIP device registrations that belong to the user.
            deviceManagementTroubleshootingEvents:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementTroubleshootingEvent'
              description: The list of troubleshooting events for this user.
            mobileAppIntentAndStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mobileAppIntentAndState'
              description: The list of troubleshooting events for this user.
            mobileAppTroubleshootingEvents:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mobileAppTroubleshootingEvent'
              description: The list of mobile app troubleshooting events for this user.
            notifications:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.notification'
            planner:
              $ref: '#/components/schemas/microsoft.graph.plannerUser'
            insights:
              $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
            settings:
              $ref: '#/components/schemas/microsoft.graph.userSettings'
            onenote:
              $ref: '#/components/schemas/microsoft.graph.onenote'
            profile:
              $ref: '#/components/schemas/microsoft.graph.profile'
            activities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
              description: The user's activities across devices. Read-only. Nullable.
            devices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.device'
            onlineMeetings:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
            presence:
              $ref: '#/components/schemas/microsoft.graph.presence'
            authentication:
              $ref: '#/components/schemas/microsoft.graph.authentication'
            chats:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chat'
            joinedTeams:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.team'
            teamwork:
              $ref: '#/components/schemas/microsoft.graph.userTeamwork'
          description: Represents an Azure Active Directory user object.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        signInActivity:
          '@odata.type': microsoft.graph.signInActivity
        accountEnabled: true
        ageGroup: string
        assignedLicenses:
          - '@odata.type': microsoft.graph.assignedLicense
        assignedPlans:
          - '@odata.type': microsoft.graph.assignedPlan
        businessPhones:
          - string
        city: string
        companyName: string
        consentProvidedForMinor: string
        country: string
        createdDateTime: string (timestamp)
        creationType: string
        department: string
        deviceKeys:
          - '@odata.type': microsoft.graph.deviceKey
        displayName: string
        employeeId: string
        faxNumber: string
        givenName: string
        identities:
          - '@odata.type': microsoft.graph.objectIdentity
        imAddresses:
          - string
        isResourceAccount: true
        jobTitle: string
        lastPasswordChangeDateTime: string (timestamp)
        legalAgeGroupClassification: string
        licenseAssignmentStates:
          - '@odata.type': microsoft.graph.licenseAssignmentState
        mail: string
        mailNickname: string
        mobilePhone: string
        onPremisesDistinguishedName: string
        onPremisesExtensionAttributes:
          '@odata.type': microsoft.graph.onPremisesExtensionAttributes
        onPremisesImmutableId: string
        onPremisesLastSyncDateTime: string (timestamp)
        onPremisesProvisioningErrors:
          - '@odata.type': microsoft.graph.onPremisesProvisioningError
        onPremisesSecurityIdentifier: string
        onPremisesSyncEnabled: true
        onPremisesDomainName: string
        onPremisesSamAccountName: string
        onPremisesUserPrincipalName: string
        otherMails:
          - string
        passwordPolicies: string
        passwordProfile:
          '@odata.type': microsoft.graph.passwordProfile
        officeLocation: string
        postalCode: string
        preferredDataLocation: string
        preferredLanguage: string
        provisionedPlans:
          - '@odata.type': microsoft.graph.provisionedPlan
        proxyAddresses:
          - string
        refreshTokensValidFromDateTime: string (timestamp)
        showInAddressList: true
        signInSessionsValidFromDateTime: string (timestamp)
        state: string
        streetAddress: string
        surname: string
        usageLocation: string
        userPrincipalName: string
        externalUserState: string
        externalUserStateChangeDateTime: string
        userType: string
        mailboxSettings:
          '@odata.type': microsoft.graph.mailboxSettings
        deviceEnrollmentLimit: integer
        aboutMe: string
        birthday: string (timestamp)
        hireDate: string (timestamp)
        interests:
          - string
        mySite: string
        pastProjects:
          - string
        preferredName: string
        responsibilities:
          - string
        schools:
          - string
        skills:
          - string
        analytics:
          '@odata.type': microsoft.graph.userAnalytics
        informationProtection:
          '@odata.type': microsoft.graph.informationProtection
        appRoleAssignments:
          - '@odata.type': microsoft.graph.appRoleAssignment
        createdObjects:
          - '@odata.type': microsoft.graph.directoryObject
        directReports:
          - '@odata.type': microsoft.graph.directoryObject
        licenseDetails:
          - '@odata.type': microsoft.graph.licenseDetails
        manager:
          '@odata.type': microsoft.graph.directoryObject
        memberOf:
          - '@odata.type': microsoft.graph.directoryObject
        ownedDevices:
          - '@odata.type': microsoft.graph.directoryObject
        ownedObjects:
          - '@odata.type': microsoft.graph.directoryObject
        registeredDevices:
          - '@odata.type': microsoft.graph.directoryObject
        scopedRoleMemberOf:
          - '@odata.type': microsoft.graph.scopedRoleMembership
        transitiveMemberOf:
          - '@odata.type': microsoft.graph.directoryObject
        outlook:
          '@odata.type': microsoft.graph.outlookUser
        messages:
          - '@odata.type': microsoft.graph.message
        joinedGroups:
          - '@odata.type': microsoft.graph.group
        mailFolders:
          - '@odata.type': microsoft.graph.mailFolder
        calendar:
          '@odata.type': microsoft.graph.calendar
        calendars:
          - '@odata.type': microsoft.graph.calendar
        calendarGroups:
          - '@odata.type': microsoft.graph.calendarGroup
        calendarView:
          - '@odata.type': microsoft.graph.event
        events:
          - '@odata.type': microsoft.graph.event
        people:
          - '@odata.type': microsoft.graph.person
        contacts:
          - '@odata.type': microsoft.graph.contact
        contactFolders:
          - '@odata.type': microsoft.graph.contactFolder
        inferenceClassification:
          '@odata.type': microsoft.graph.inferenceClassification
        photo:
          '@odata.type': microsoft.graph.profilePhoto
        photos:
          - '@odata.type': microsoft.graph.profilePhoto
        drive:
          '@odata.type': microsoft.graph.drive
        drives:
          - '@odata.type': microsoft.graph.drive
        followedSites:
          - '@odata.type': microsoft.graph.site
        extensions:
          - '@odata.type': microsoft.graph.extension
        approvals:
          - '@odata.type': microsoft.graph.approval
        appConsentRequestsForApproval:
          - '@odata.type': microsoft.graph.appConsentRequest
        agreementAcceptances:
          - '@odata.type': microsoft.graph.agreementAcceptance
        deviceEnrollmentConfigurations:
          - '@odata.type': microsoft.graph.deviceEnrollmentConfiguration
        managedDevices:
          - '@odata.type': microsoft.graph.managedDevice
        managedAppRegistrations:
          - '@odata.type': microsoft.graph.managedAppRegistration
        windowsInformationProtectionDeviceRegistrations:
          - '@odata.type': microsoft.graph.windowsInformationProtectionDeviceRegistration
        deviceManagementTroubleshootingEvents:
          - '@odata.type': microsoft.graph.deviceManagementTroubleshootingEvent
        mobileAppIntentAndStates:
          - '@odata.type': microsoft.graph.mobileAppIntentAndState
        mobileAppTroubleshootingEvents:
          - '@odata.type': microsoft.graph.mobileAppTroubleshootingEvent
        notifications:
          - '@odata.type': microsoft.graph.notification
        planner:
          '@odata.type': microsoft.graph.plannerUser
        insights:
          '@odata.type': microsoft.graph.officeGraphInsights
        settings:
          '@odata.type': microsoft.graph.userSettings
        onenote:
          '@odata.type': microsoft.graph.onenote
        profile:
          '@odata.type': microsoft.graph.profile
        activities:
          - '@odata.type': microsoft.graph.userActivity
        devices:
          - '@odata.type': microsoft.graph.device
        onlineMeetings:
          - '@odata.type': microsoft.graph.onlineMeeting
        presence:
          '@odata.type': microsoft.graph.presence
        authentication:
          '@odata.type': microsoft.graph.authentication
        chats:
          - '@odata.type': microsoft.graph.chat
        joinedTeams:
          - '@odata.type': microsoft.graph.team
        teamwork:
          '@odata.type': microsoft.graph.userTeamwork
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    microsoft.graph.invitedUserMessageInfo:
      title: invitedUserMessageInfo
      type: object
      properties:
        ccRecipients:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.recipient'
          description: Additional recipients the invitation message should be sent to. Currently only 1 additional recipient is supported.
        messageLanguage:
          type: string
          description: 'The language you want to send the default message in. If the customizedMessageBody is specified, this property is ignored, and the message is sent using the customizedMessageBody. The language format should be in ISO 639. The default is en-US.'
          nullable: true
        customizedMessageBody:
          type: string
          description: Customized message body you want to send if you don't want the default message.
          nullable: true
      example:
        ccRecipients:
          - '@odata.type': microsoft.graph.recipient
        messageLanguage: string
        customizedMessageBody: string
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.signInActivity:
      title: signInActivity
      type: object
      properties:
        lastSignInDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        lastSignInRequestId:
          type: string
          nullable: true
      example:
        lastSignInDateTime: string (timestamp)
        lastSignInRequestId: string
    microsoft.graph.assignedLicense:
      title: assignedLicense
      type: object
      properties:
        disabledPlans:
          type: array
          items:
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
            format: uuid
          description: A collection of the unique identifiers for plans that have been disabled.
        skuId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          description: The unique identifier for the SKU.
          format: uuid
          nullable: true
      example:
        disabledPlans:
          - string
        skuId: string
    microsoft.graph.assignedPlan:
      title: assignedPlan
      type: object
      properties:
        assignedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The date and time at which the plan was assigned; for example: 2013-01-02T19:32:30Z. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
          format: date-time
          nullable: true
        capabilityStatus:
          type: string
          description: 'For example, ''Enabled''.'
          nullable: true
        service:
          type: string
          description: 'The name of the service; for example, ''Exchange''.'
          nullable: true
        servicePlanId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          description: A GUID that identifies the service plan.
          format: uuid
          nullable: true
      example:
        assignedDateTime: string (timestamp)
        capabilityStatus: string
        service: string
        servicePlanId: string
    microsoft.graph.deviceKey:
      title: deviceKey
      type: object
      properties:
        keyType:
          type: string
          nullable: true
        keyMaterial:
          type: string
          format: base64url
          nullable: true
        deviceId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          format: uuid
          nullable: true
      example:
        keyType: string
        keyMaterial: string
        deviceId: string
    microsoft.graph.objectIdentity:
      title: objectIdentity
      type: object
      properties:
        signInType:
          type: string
          description: 'Specifies the user sign-in types in your directory, such as emailAddress, userName or federated. Here, federated represents a unique identifier for a user from an issuer, that can be in any format chosen by the issuer. Additional validation is enforced on issuerAssignedId when the sign-in type is set to emailAddress or userName. This property can also be set to any custom string.'
          nullable: true
        issuer:
          type: string
          description: 'Specifies the issuer of the identity, for example facebook.com.For local accounts (where signInType is not federated), this property is the local B2C tenant default domain name, for example contoso.onmicrosoft.com.For external users from other Azure AD organization, this will be the domain of the federated organization, for example contoso.com.Supports $filter. 512 character limit.'
          nullable: true
        issuerAssignedId:
          type: string
          description: 'Specifies the unique identifier assigned to the user by the issuer. The combination of issuer and issuerAssignedId must be unique within the organization. Represents the sign-in name for the user, when signInType is set to emailAddress or userName (also known as local accounts).When signInType is set to: emailAddress, (or starts with emailAddress like emailAddress1) issuerAssignedId must be a valid email addressuserName, issuerAssignedId must be a valid local part of an email addressSupports $filter. 512 character limit.'
          nullable: true
      example:
        signInType: string
        issuer: string
        issuerAssignedId: string
    microsoft.graph.licenseAssignmentState:
      title: licenseAssignmentState
      type: object
      properties:
        skuId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          format: uuid
          nullable: true
        disabledPlans:
          type: array
          items:
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
            format: uuid
            nullable: true
        assignedByGroup:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        error:
          type: string
          nullable: true
      example:
        skuId: string
        disabledPlans:
          - string
        assignedByGroup: string
        state: string
        error: string
    microsoft.graph.onPremisesExtensionAttributes:
      title: onPremisesExtensionAttributes
      type: object
      properties:
        extensionAttribute1:
          type: string
          description: First customizable extension attribute.
          nullable: true
        extensionAttribute2:
          type: string
          description: Second customizable extension attribute.
          nullable: true
        extensionAttribute3:
          type: string
          description: Third customizable extension attribute.
          nullable: true
        extensionAttribute4:
          type: string
          description: Fourth customizable extension attribute.
          nullable: true
        extensionAttribute5:
          type: string
          description: Fifth customizable extension attribute.
          nullable: true
        extensionAttribute6:
          type: string
          description: Sixth customizable extension attribute.
          nullable: true
        extensionAttribute7:
          type: string
          description: Seventh customizable extension attribute.
          nullable: true
        extensionAttribute8:
          type: string
          description: Eighth customizable extension attribute.
          nullable: true
        extensionAttribute9:
          type: string
          description: Ninth customizable extension attribute.
          nullable: true
        extensionAttribute10:
          type: string
          description: Tenth customizable extension attribute.
          nullable: true
        extensionAttribute11:
          type: string
          description: Eleventh customizable extension attribute.
          nullable: true
        extensionAttribute12:
          type: string
          description: Twelfth customizable extension attribute.
          nullable: true
        extensionAttribute13:
          type: string
          description: Thirteenth customizable extension attribute.
          nullable: true
        extensionAttribute14:
          type: string
          description: Fourteenth customizable extension attribute.
          nullable: true
        extensionAttribute15:
          type: string
          description: Fifteenth customizable extension attribute.
          nullable: true
      example:
        extensionAttribute1: string
        extensionAttribute2: string
        extensionAttribute3: string
        extensionAttribute4: string
        extensionAttribute5: string
        extensionAttribute6: string
        extensionAttribute7: string
        extensionAttribute8: string
        extensionAttribute9: string
        extensionAttribute10: string
        extensionAttribute11: string
        extensionAttribute12: string
        extensionAttribute13: string
        extensionAttribute14: string
        extensionAttribute15: string
    microsoft.graph.onPremisesProvisioningError:
      title: onPremisesProvisioningError
      type: object
      properties:
        value:
          type: string
          description: Value of the property causing the error.
          nullable: true
        category:
          type: string
          description: 'Category of the provisioning error. Note: Currently, there is only one possible value. Possible value: PropertyConflict - indicates a property value is not unique. Other objects contain the same value for the property.'
          nullable: true
        propertyCausingError:
          type: string
          description: 'Name of the directory property causing the error. Current possible values: UserPrincipalName or ProxyAddress'
          nullable: true
        occurredDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: The date and time at which the error occurred.
          format: date-time
          nullable: true
      example:
        value: string
        category: string
        propertyCausingError: string
        occurredDateTime: string (timestamp)
    microsoft.graph.passwordProfile:
      title: passwordProfile
      type: object
      properties:
        password:
          type: string
          description: 'The password for the user. This property is required when a user is created. It can be updated, but the user will be required to change the password on the next login. The password must satisfy minimum requirements as specified by the user’s passwordPolicies property. By default, a strong password is required.'
          nullable: true
        forceChangePasswordNextSignIn:
          type: boolean
          description: true if the user must change her password on the next login; otherwise false.
          nullable: true
        forceChangePasswordNextSignInWithMfa:
          type: boolean
          description: 'If true, at next sign-in, the user must perform a multi-factor authentication (MFA) before being forced to change their password. The behavior is identical to forceChangePasswordNextSignIn except that the user is required to first perform a multi-factor authentication before password change. After a password change, this property will be automatically reset to false. If not set, default is false.'
          nullable: true
      example:
        password: string
        forceChangePasswordNextSignIn: true
        forceChangePasswordNextSignInWithMfa: true
    microsoft.graph.provisionedPlan:
      title: provisionedPlan
      type: object
      properties:
        capabilityStatus:
          type: string
          description: 'For example, ''Enabled''.'
          nullable: true
        provisioningStatus:
          type: string
          description: 'For example, ''Success''.'
          nullable: true
        service:
          type: string
          description: 'The name of the service; for example, ''AccessControlS2S'''
          nullable: true
      example:
        capabilityStatus: string
        provisioningStatus: string
        service: string
    microsoft.graph.mailboxSettings:
      title: mailboxSettings
      type: object
      properties:
        automaticRepliesSetting:
          $ref: '#/components/schemas/microsoft.graph.automaticRepliesSetting'
        archiveFolder:
          type: string
          description: Folder ID of an archive folder for the user.
          nullable: true
        timeZone:
          type: string
          description: The default time zone for the user's mailbox.
          nullable: true
        language:
          $ref: '#/components/schemas/microsoft.graph.localeInfo'
        delegateMeetingMessageDeliveryOptions:
          $ref: '#/components/schemas/microsoft.graph.delegateMeetingMessageDeliveryOptions'
        workingHours:
          $ref: '#/components/schemas/microsoft.graph.workingHours'
        dateFormat:
          type: string
          description: The date format for the user's mailbox.
          nullable: true
        timeFormat:
          type: string
          description: The time format for the user's mailbox.
          nullable: true
      example:
        automaticRepliesSetting:
          '@odata.type': microsoft.graph.automaticRepliesSetting
        archiveFolder: string
        timeZone: string
        language:
          '@odata.type': microsoft.graph.localeInfo
        delegateMeetingMessageDeliveryOptions:
          '@odata.type': microsoft.graph.delegateMeetingMessageDeliveryOptions
        workingHours:
          '@odata.type': microsoft.graph.workingHours
        dateFormat: string
        timeFormat: string
    microsoft.graph.userAnalytics:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userAnalytics
          type: object
          properties:
            settings:
              $ref: '#/components/schemas/microsoft.graph.settings'
            activityStatistics:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityStatistics'
      example:
        id: string (identifier)
        settings:
          '@odata.type': microsoft.graph.settings
        activityStatistics:
          - '@odata.type': microsoft.graph.activityStatistics
    microsoft.graph.informationProtection:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: informationProtection
          type: object
          properties:
            policy:
              $ref: '#/components/schemas/microsoft.graph.informationProtectionPolicy'
            sensitivityLabels:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
            sensitivityPolicySettings:
              $ref: '#/components/schemas/microsoft.graph.sensitivityPolicySettings'
            dataLossPreventionPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
            threatAssessmentRequests:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.threatAssessmentRequest'
      example:
        id: string (identifier)
        policy:
          '@odata.type': microsoft.graph.informationProtectionPolicy
        sensitivityLabels:
          - '@odata.type': microsoft.graph.sensitivityLabel
        sensitivityPolicySettings:
          '@odata.type': microsoft.graph.sensitivityPolicySettings
        dataLossPreventionPolicies:
          - '@odata.type': microsoft.graph.dataLossPreventionPolicy
        threatAssessmentRequests:
          - '@odata.type': microsoft.graph.threatAssessmentRequest
    microsoft.graph.appRoleAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: appRoleAssignment
          type: object
          properties:
            appRoleId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              description: 'The identifier (id) for the app role which is assigned to the principal. This app role must be exposed in the appRoles property on the resource application''s service principal (resourceId). If the resource application has not declared any app roles, a default app role ID of 00000000-0000-0000-0000-000000000000 can be specified to signal that the principal is assigned to the resource app without any specific app roles. Required on create. Does not support $filter.'
              format: uuid
            creationTimestamp:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The time when the app role assignment was created.The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only. Does not support $filter.'
              format: date-time
              nullable: true
            principalDisplayName:
              type: string
              description: 'The display name of the user, group, or service principal that was granted the app role assignment. Read-only. Supports $filter (eq and startswith).'
              nullable: true
            principalId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              description: 'The unique identifier (id) for the user, group or service principal being granted the app role. Required on create. Does not support $filter.'
              format: uuid
              nullable: true
            principalType:
              type: string
              description: 'The type of the assigned principal. This can either be ''User'', ''Group'' or ''ServicePrincipal''. Read-only. Does not support $filter.'
              nullable: true
            resourceDisplayName:
              type: string
              description: The display name of the resource app's service principal to which the assignment is made. Does not support $filter.
              nullable: true
            resourceId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              description: The unique identifier (id) for the resource service principal for which the assignment is made. Required on create. Supports $filter (eq only).
              format: uuid
              nullable: true
      example:
        id: string (identifier)
        appRoleId: string
        creationTimestamp: string (timestamp)
        principalDisplayName: string
        principalId: string
        principalType: string
        resourceDisplayName: string
        resourceId: string
    microsoft.graph.licenseDetails:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: licenseDetails
          type: object
          properties:
            servicePlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.servicePlanInfo'
              description: 'Information about the service plans assigned with the license. Read-only, Not nullable'
            skuId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              description: Unique identifier (GUID) for the service SKU. Equal to the skuId property on the related SubscribedSku object. Read-only
              format: uuid
              nullable: true
            skuPartNumber:
              type: string
              description: 'Unique SKU display name. Equal to the skuPartNumber on the related SubscribedSku object; for example: ''AAD_Premium''. Read-only'
              nullable: true
      example:
        id: string (identifier)
        servicePlans:
          - '@odata.type': microsoft.graph.servicePlanInfo
        skuId: string
        skuPartNumber: string
    microsoft.graph.scopedRoleMembership:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: scopedRoleMembership
          type: object
          properties:
            roleId:
              type: string
            administrativeUnitId:
              type: string
            roleMemberInfo:
              $ref: '#/components/schemas/microsoft.graph.identity'
      example:
        id: string (identifier)
        roleId: string
        administrativeUnitId: string
        roleMemberInfo:
          '@odata.type': microsoft.graph.identity
    microsoft.graph.outlookUser:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: outlookUser
          type: object
          properties:
            masterCategories:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
              description: A list of categories defined for the user.
            taskGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskGroup'
            taskFolders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.outlookTask'
      example:
        id: string (identifier)
        masterCategories:
          - '@odata.type': microsoft.graph.outlookCategory
        taskGroups:
          - '@odata.type': microsoft.graph.outlookTaskGroup
        taskFolders:
          - '@odata.type': microsoft.graph.outlookTaskFolder
        tasks:
          - '@odata.type': microsoft.graph.outlookTask
    microsoft.graph.message:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.outlookItem'
        - title: message
          type: object
          properties:
            receivedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The date and time the message was received.
              format: date-time
              nullable: true
            sentDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The date and time the message was sent.
              format: date-time
              nullable: true
            hasAttachments:
              type: boolean
              description: 'Indicates whether the message has attachments. This property doesn''t include inline attachments, so if a message contains only inline attachments, this property is false. To verify the existence of inline attachments, parse the body property to look for a src attribute, such as <IMG src=''cid:image001.jpg@01D26CD8.6C05F070''>.'
              nullable: true
            internetMessageId:
              type: string
              description: The message ID in the format specified by RFC2822.
              nullable: true
            internetMessageHeaders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.internetMessageHeader'
              description: A collection of message headers defined by RFC5322. The set includes message headers indicating the network path taken by a message from the sender to the recipient. It can also contain custom message headers that hold app data for the message.  Returned only on applying a $select query option. Read-only.
            subject:
              type: string
              description: The subject of the message.
              nullable: true
            body:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            bodyPreview:
              type: string
              description: The first 255 characters of the message body. It is in text format.
              nullable: true
            importance:
              $ref: '#/components/schemas/microsoft.graph.importance'
            parentFolderId:
              type: string
              description: The unique identifier for the message's parent mailFolder.
              nullable: true
            sender:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            from:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            toRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The To: recipients for the message.'
            ccRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The Cc: recipients for the message.'
            bccRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The Bcc: recipients for the message.'
            replyTo:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: The email addresses to use when replying.
            conversationId:
              type: string
              description: The ID of the conversation the email belongs to.
              nullable: true
            conversationIndex:
              type: string
              description: Indicates the position of the message within the conversation.
              format: base64url
              nullable: true
            uniqueBody:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            isDeliveryReceiptRequested:
              type: boolean
              description: Indicates whether a read receipt is requested for the message.
              nullable: true
            isReadReceiptRequested:
              type: boolean
              description: Indicates whether a read receipt is requested for the message.
              nullable: true
            isRead:
              type: boolean
              description: Indicates whether the message has been read.
              nullable: true
            isDraft:
              type: boolean
              description: Indicates whether the message is a draft. A message is a draft if it hasn't been sent yet.
              nullable: true
            webLink:
              type: string
              description: 'The URL to open the message in Outlook Web App.You can append an ispopout argument to the end of the URL to change how the message is displayed. If ispopout is not present or if it is set to 1, then the message is shown in a popout window. If ispopout is set to 0, then the browser will show the message in the Outlook Web App review pane.The message will open in the browser if you are logged in to your mailbox via Outlook Web App. You will be prompted to login if you are not already logged in with the browser.This URL can be accessed from within an iFrame.'
              nullable: true
            mentionsPreview:
              $ref: '#/components/schemas/microsoft.graph.mentionsPreview'
            inferenceClassification:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationType'
            unsubscribeData:
              type: array
              items:
                type: string
                nullable: true
            unsubscribeEnabled:
              type: boolean
              nullable: true
            flag:
              $ref: '#/components/schemas/microsoft.graph.followupFlag'
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
              description: The collection of single-value extended properties defined for the message. Nullable.
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
              description: The collection of multi-value extended properties defined for the message. Nullable.
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.attachment'
              description: The fileAttachment and itemAttachment attachments for the message.
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the message. Nullable.
            mentions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mention'
      example:
        id: string (identifier)
        createdDateTime: string (timestamp)
        lastModifiedDateTime: string (timestamp)
        changeKey: string
        categories:
          - string
[...]
