openapi: 3.0.1
info:
  title: Identity.EntitlementManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /identityGovernance:
    get:
      tags:
        - identityGovernance.identityGovernance
      summary: Get identityGovernance
      operationId: identityGovernance.identityGovernance_GetIdentityGovernance
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviews
                - entitlementManagement
                - termsOfUse
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessReviews
                - entitlementManagement
                - termsOfUse
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.identityGovernance
      summary: Update identityGovernance
      operationId: identityGovernance.identityGovernance_UpdateIdentityGovernance
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityGovernance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/accessReviews:
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get accessReviews from identityGovernance
      operationId: identityGovernance_GetAccessReviews
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - definitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - definitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewSet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.accessReviewSet
      summary: Update the navigation property accessReviews in identityGovernance
      operationId: identityGovernance_UpdateAccessReviews
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewSet'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.accessReviewSet
      summary: Delete navigation property accessReviews for identityGovernance
      operationId: identityGovernance_DeleteAccessReviews
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/accessReviews/definitions:
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get definitions from identityGovernance
      operationId: identityGovernance.accessReviews_ListDefinitions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - status
                - status desc
                - descriptionForAdmins
                - descriptionForAdmins desc
                - descriptionForReviewers
                - descriptionForReviewers desc
                - createdBy
                - createdBy desc
                - scope
                - scope desc
                - reviewers
                - reviewers desc
                - settings
                - settings desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - createdDateTime
                - lastModifiedDateTime
                - status
                - descriptionForAdmins
                - descriptionForReviewers
                - createdBy
                - scope
                - reviewers
                - settings
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - instances
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewScheduleDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.accessReviewSet
      summary: Create new navigation property to definitions for identityGovernance
      operationId: identityGovernance.accessReviews_CreateDefinitions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get definitions from identityGovernance
      operationId: identityGovernance.accessReviews_GetDefinitions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - createdDateTime
                - lastModifiedDateTime
                - status
                - descriptionForAdmins
                - descriptionForReviewers
                - createdBy
                - scope
                - reviewers
                - settings
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - instances
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.accessReviewSet
      summary: Update the navigation property definitions in identityGovernance
      operationId: identityGovernance.accessReviews_UpdateDefinitions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.accessReviewSet
      summary: Delete navigation property definitions for identityGovernance
      operationId: identityGovernance.accessReviews_DeleteDefinitions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get instances from identityGovernance
      operationId: identityGovernance.accessReviews.definitions_ListInstances
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - startDateTime
                - endDateTime
                - status
                - decisions
                - definition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - decisions
                - definition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewInstance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.accessReviewSet
      summary: Create new navigation property to instances for identityGovernance
      operationId: identityGovernance.accessReviews.definitions_CreateInstances
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get instances from identityGovernance
      operationId: identityGovernance.accessReviews.definitions_GetInstances
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - startDateTime
                - endDateTime
                - status
                - decisions
                - definition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - decisions
                - definition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.accessReviewSet
      summary: Update the navigation property instances in identityGovernance
      operationId: identityGovernance.accessReviews.definitions_UpdateInstances
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.accessReviewSet
      summary: Delete navigation property instances for identityGovernance
      operationId: identityGovernance.accessReviews.definitions_DeleteInstances
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get decisions from identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_ListDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessReviewId
                - accessReviewId desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - decision
                - decision desc
                - justification
                - justification desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - recommendation
                - recommendation desc
                - target
                - target desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - decision
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - recommendation
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewInstanceDecisionItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.accessReviewSet
      summary: Create new navigation property to decisions for identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_CreateDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions/{accessReviewInstanceDecisionItem-id}':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get decisions from identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_GetDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: accessReviewInstanceDecisionItem-id
          in: path
          description: 'key: id of accessReviewInstanceDecisionItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstanceDecisionItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - decision
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - recommendation
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.accessReviewSet
      summary: Update the navigation property decisions in identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_UpdateDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: accessReviewInstanceDecisionItem-id
          in: path
          description: 'key: id of accessReviewInstanceDecisionItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstanceDecisionItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.accessReviewSet
      summary: Delete navigation property decisions for identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_DeleteDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: accessReviewInstanceDecisionItem-id
          in: path
          description: 'key: id of accessReviewInstanceDecisionItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstanceDecisionItem
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/definition':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get definition from identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_GetDefinition
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - createdDateTime
                - lastModifiedDateTime
                - status
                - descriptionForAdmins
                - descriptionForReviewers
                - createdBy
                - scope
                - reviewers
                - settings
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - instances
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/definition/$ref':
    get:
      tags:
        - identityGovernance.accessReviewSet
      summary: Get ref of definition from identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_GetRefDefinition
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - identityGovernance.accessReviewSet
      summary: Update the ref of navigation property definition in identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_UpdateRefDefinition
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.accessReviewSet
      summary: Delete ref of navigation property definition for identityGovernance
      operationId: identityGovernance.accessReviews.definitions.instances_DeleteRefDefinition
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/definition/microsoft.graph.stop':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action stop
      operationId: identityGovernance.accessReviews.definitions.instances.definition_stop
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.acceptRecommendations':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action acceptRecommendations
      operationId: identityGovernance.accessReviews.definitions.instances_acceptRecommendations
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.applyDecisions':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action applyDecisions
      operationId: identityGovernance.accessReviews.definitions.instances_applyDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.resetDecisions':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action resetDecisions
      operationId: identityGovernance.accessReviews.definitions.instances_resetDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.sendReminder':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action sendReminder
      operationId: identityGovernance.accessReviews.definitions.instances_sendReminder
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.stop':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action stop
      operationId: identityGovernance.accessReviews.definitions.instances_stop
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/microsoft.graph.stop':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action stop
      operationId: identityGovernance.accessReviews.definitions_stop
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identityGovernance/entitlementManagement:
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get entitlementManagement from identityGovernance
      operationId: identityGovernance_GetEntitlementManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessPackageCatalogs
                - accessPackageResources
                - accessPackageResourceRequests
                - accessPackageResourceRoleScopes
                - accessPackages
                - accessPackageAssignmentPolicies
                - accessPackageAssignments
                - accessPackageAssignmentRequests
                - accessPackageAssignmentResourceRoles
                - settings
                - connectedOrganizations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageCatalogs
                - accessPackageResources
                - accessPackageResourceRequests
                - accessPackageResourceRoleScopes
                - accessPackages
                - accessPackageAssignmentPolicies
                - accessPackageAssignments
                - accessPackageAssignmentRequests
                - accessPackageAssignmentResourceRoles
                - settings
                - connectedOrganizations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entitlementManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the navigation property entitlementManagement in identityGovernance
      operationId: identityGovernance_UpdateEntitlementManagement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.entitlementManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.entitlementManagement
      summary: Delete navigation property entitlementManagement for identityGovernance
      operationId: identityGovernance_DeleteEntitlementManagement
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/entitlementManagement/accessPackageAssignmentPolicies:
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageAssignmentPolicies from identityGovernance
      operationId: identityGovernance.entitlementManagement_ListAccessPackageAssignmentPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessPackageId
                - accessPackageId desc
                - displayName
                - displayName desc
                - description
                - description desc
                - canExtend
                - canExtend desc
                - durationInDays
                - durationInDays desc
                - expirationDateTime
                - expirationDateTime desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - modifiedBy
                - modifiedBy desc
                - modifiedDateTime
                - modifiedDateTime desc
                - requestorSettings
                - requestorSettings desc
                - requestApprovalSettings
                - requestApprovalSettings desc
                - accessReviewSettings
                - accessReviewSettings desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessPackageId
                - displayName
                - description
                - canExtend
                - durationInDays
                - expirationDateTime
                - createdBy
                - createdDateTime
                - modifiedBy
                - modifiedDateTime
                - requestorSettings
                - requestApprovalSettings
                - accessReviewSettings
                - accessPackage
                - accessPackageCatalog
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackage
                - accessPackageCatalog
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessPackageAssignmentPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.entitlementManagement
      summary: Create new navigation property to accessPackageAssignmentPolicies for identityGovernance
      operationId: identityGovernance.entitlementManagement_CreateAccessPackageAssignmentPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageAssignmentPolicies from identityGovernance
      operationId: identityGovernance.entitlementManagement_GetAccessPackageAssignmentPolicies
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessPackageId
                - displayName
                - description
                - canExtend
                - durationInDays
                - expirationDateTime
                - createdBy
                - createdDateTime
                - modifiedBy
                - modifiedDateTime
                - requestorSettings
                - requestApprovalSettings
                - accessReviewSettings
                - accessPackage
                - accessPackageCatalog
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackage
                - accessPackageCatalog
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the navigation property accessPackageAssignmentPolicies in identityGovernance
      operationId: identityGovernance.entitlementManagement_UpdateAccessPackageAssignmentPolicies
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.entitlementManagement
      summary: Delete navigation property accessPackageAssignmentPolicies for identityGovernance
      operationId: identityGovernance.entitlementManagement_DeleteAccessPackageAssignmentPolicies
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackage':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackage from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies_GetAccessPackage
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - catalogId
                - displayName
                - description
                - isHidden
                - isRoleScopesVisible
                - createdBy
                - createdDateTime
                - modifiedBy
                - modifiedDateTime
                - accessPackageCatalog
                - accessPackageResourceRoleScopes
                - accessPackageAssignmentPolicies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageCatalog
                - accessPackageResourceRoleScopes
                - accessPackageAssignmentPolicies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackage/$ref':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get ref of accessPackage from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies_GetRefAccessPackage
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the ref of navigation property accessPackage in identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies_UpdateRefAccessPackage
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.entitlementManagement
      summary: Delete ref of navigation property accessPackage for identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies_DeleteRefAccessPackage
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackageCatalog':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageCatalog from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies_GetAccessPackageCatalog
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - catalogType
                - catalogStatus
                - isExternallyVisible
                - createdBy
                - createdDateTime
                - modifiedBy
                - modifiedDateTime
                - accessPackageResources
                - accessPackageResourceRoles
                - accessPackageResourceScopes
                - accessPackages
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageResources
                - accessPackageResourceRoles
                - accessPackageResourceScopes
                - accessPackages
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageCatalog'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the navigation property accessPackageCatalog in identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies_UpdateAccessPackageCatalog
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageCatalog'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.entitlementManagement
      summary: Delete navigation property accessPackageCatalog for identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies_DeleteAccessPackageCatalog
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackageCatalog/accessPackageResourceRoles':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageResourceRoles from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog_ListAccessPackageResourceRoles
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - originId
                - originId desc
                - originSystem
                - originSystem desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - originId
                - originSystem
                - accessPackageResource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageResource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessPackageResourceRole
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessPackageResourceRole'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.entitlementManagement
      summary: Create new navigation property to accessPackageResourceRoles for identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog_CreateAccessPackageResourceRoles
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageResourceRole'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageResourceRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackageCatalog/accessPackageResourceRoles/{accessPackageResourceRole-id}':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageResourceRoles from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog_GetAccessPackageResourceRoles
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - originId
                - originSystem
                - accessPackageResource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageResource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageResourceRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the navigation property accessPackageResourceRoles in identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog_UpdateAccessPackageResourceRoles
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageResourceRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.entitlementManagement
      summary: Delete navigation property accessPackageResourceRoles for identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog_DeleteAccessPackageResourceRoles
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackageCatalog/accessPackageResourceRoles/{accessPackageResourceRole-id}/accessPackageResource':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageResource from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles_GetAccessPackageResource
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - url
                - resourceType
                - originId
                - originSystem
                - isPendingOnboarding
                - addedBy
                - addedOn
                - accessPackageResourceScopes
                - accessPackageResourceRoles
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageResourceScopes
                - accessPackageResourceRoles
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the navigation property accessPackageResource in identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles_UpdateAccessPackageResource
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageResource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.entitlementManagement
      summary: Delete navigation property accessPackageResource for identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles_DeleteAccessPackageResource
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackageCatalog/accessPackageResourceRoles/{accessPackageResourceRole-id}/accessPackageResource/accessPackageResourceRoles':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageResourceRoles from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource_ListAccessPackageResourceRoles
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - originId
                - originId desc
                - originSystem
                - originSystem desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - originId
                - originSystem
                - accessPackageResource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageResource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessPackageResourceRole
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessPackageResourceRole'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.entitlementManagement
      summary: Create new navigation property to accessPackageResourceRoles for identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource_CreateAccessPackageResourceRoles
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageResourceRole'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageResourceRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackageCatalog/accessPackageResourceRoles/{accessPackageResourceRole-id}/accessPackageResource/accessPackageResourceRoles/{accessPackageResourceRole-id1}':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageResourceRoles from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource_GetAccessPackageResourceRoles
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: accessPackageResourceRole-id1
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - originId
                - originSystem
                - accessPackageResource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageResource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageResourceRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the navigation property accessPackageResourceRoles in identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource_UpdateAccessPackageResourceRoles
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: accessPackageResourceRole-id1
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageResourceRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.entitlementManagement
      summary: Delete navigation property accessPackageResourceRoles for identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource_DeleteAccessPackageResourceRoles
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: accessPackageResourceRole-id1
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackageCatalog/accessPackageResourceRoles/{accessPackageResourceRole-id}/accessPackageResource/accessPackageResourceScopes':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageResourceScopes from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource_ListAccessPackageResourceScopes
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - originId
                - originId desc
                - originSystem
                - originSystem desc
                - roleOriginId
                - roleOriginId desc
                - isRootScope
                - isRootScope desc
                - url
                - url desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - originId
                - originSystem
                - roleOriginId
                - isRootScope
                - url
                - accessPackageResource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageResource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessPackageResourceScope
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessPackageResourceScope'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.entitlementManagement
      summary: Create new navigation property to accessPackageResourceScopes for identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource_CreateAccessPackageResourceScopes
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageResourceScope'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageResourceScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackageCatalog/accessPackageResourceRoles/{accessPackageResourceRole-id}/accessPackageResource/accessPackageResourceScopes/{accessPackageResourceScope-id}':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageResourceScopes from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource_GetAccessPackageResourceScopes
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: accessPackageResourceScope-id
          in: path
          description: 'key: id of accessPackageResourceScope'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceScope
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - originId
                - originSystem
                - roleOriginId
                - isRootScope
                - url
                - accessPackageResource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageResource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageResourceScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the navigation property accessPackageResourceScopes in identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource_UpdateAccessPackageResourceScopes
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: accessPackageResourceScope-id
          in: path
          description: 'key: id of accessPackageResourceScope'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceScope
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageResourceScope'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.entitlementManagement
      summary: Delete navigation property accessPackageResourceScopes for identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource_DeleteAccessPackageResourceScopes
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: accessPackageResourceRole-id
          in: path
          description: 'key: id of accessPackageResourceRole'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceRole
        - name: accessPackageResourceScope-id
          in: path
          description: 'key: id of accessPackageResourceScope'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageResourceScope
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}/accessPackageCatalog/accessPackageResourceRoles/{accessPackageResourceRole-id}/accessPackageResource/accessPackageResourceScopes/{accessPackageResourceScope-id}/accessPackageResource':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageResource from identityGovernance
      operationId: identityGovernance.entitlementManagement.accessPackageAssignmentPolicies.accessPackageCatalog.accessPackageResourceRoles.accessPackageResource.accessPackageResourceScopes_GetAccessPackageResource
      parameters:
[...]
