openapi: 3.0.1
info:
  title: Identity.AdministrativeUnits
  version: v1.0-Beta
servers:
  - url: https://graph.microsoft.com/Beta/
    description: Core
paths:
  /administrativeUnits:
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get entities from administrativeUnits
      operationId: administrativeUnits.administrativeUnit_ListAdministrativeUnit
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - displayName
                - displayName desc
                - description
                - description desc
                - visibility
                - visibility desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - displayName
                - description
                - visibility
                - members
                - scopedRoleMembers
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of administrativeUnit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Add new entity to administrativeUnits
      operationId: administrativeUnits.administrativeUnit_CreateAdministrativeUnit
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}':
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get entity from administrativeUnits by key
      operationId: administrativeUnits.administrativeUnit_GetAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - displayName
                - description
                - visibility
                - members
                - scopedRoleMembers
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
          links:
            members:
              operationId: administrativeUnits.administrativeUnit.GetAdministrativeUnit
              parameters:
                id: $request.path.id
            scopedRoleMembers:
              operationId: administrativeUnits.administrativeUnit.GetAdministrativeUnit
              parameters:
                id: $request.path.id
            extensions:
              operationId: administrativeUnits.administrativeUnit.GetAdministrativeUnit
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Update entity in administrativeUnits
      operationId: administrativeUnits.administrativeUnit_UpdateAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Delete entity from administrativeUnits
      operationId: administrativeUnits.administrativeUnit_DeleteAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/extensions':
    get:
      tags:
        - administrativeUnits.extension
      summary: Get extensions from administrativeUnits
      operationId: administrativeUnits_ListExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.extension
      summary: Create new navigation property to extensions for administrativeUnits
      operationId: administrativeUnits_CreateExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/extensions/{extension-id}':
    get:
      tags:
        - administrativeUnits.extension
      summary: Get extensions from administrativeUnits
      operationId: administrativeUnits_GetExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.extension
      summary: Update the navigation property extensions in administrativeUnits
      operationId: administrativeUnits_UpdateExtensions
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/members':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get members from administrativeUnits
      operationId: administrativeUnits_ListMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/members/{directoryObject-id}':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get members from administrativeUnits
      operationId: administrativeUnits_GetMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/scopedRoleMembers':
    get:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Get scopedRoleMembers from administrativeUnits
      operationId: administrativeUnits_ListScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - roleId
                - roleId desc
                - administrativeUnitId
                - administrativeUnitId desc
                - roleMemberInfo
                - roleMemberInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleId
                - administrativeUnitId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of scopedRoleMembership
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Create new navigation property to scopedRoleMembers for administrativeUnits
      operationId: administrativeUnits_CreateScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/scopedRoleMembers/{scopedRoleMembership-id}':
    get:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Get scopedRoleMembers from administrativeUnits
      operationId: administrativeUnits_GetScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: 'key: scopedRoleMembership-id of scopedRoleMembership'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleId
                - administrativeUnitId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Update the navigation property scopedRoleMembers in administrativeUnits
      operationId: administrativeUnits_UpdateScopedRoleMembers
      parameters:
        - name: administrativeUnit-id
          in: path
          description: 'key: administrativeUnit-id of administrativeUnit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: 'key: scopedRoleMembership-id of scopedRoleMembership'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /administrativeUnits/microsoft.graph.delta():
    get:
      tags:
        - administrativeUnits.Functions
      summary: Invoke function delta
      operationId: administrativeUnits_delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/scopedRoleMemberOf':
    get:
      tags:
        - users.scopedRoleMembership
      summary: Get scopedRoleMemberOf from users
      operationId: users_ListScopedRoleMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - roleId
                - roleId desc
                - administrativeUnitId
                - administrativeUnitId desc
                - roleMemberInfo
                - roleMemberInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleId
                - administrativeUnitId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of scopedRoleMembership
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.scopedRoleMembership
      summary: Create new navigation property to scopedRoleMemberOf for users
      operationId: users_CreateScopedRoleMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/scopedRoleMemberOf/{scopedRoleMembership-id}':
    get:
      tags:
        - users.scopedRoleMembership
      summary: Get scopedRoleMemberOf from users
      operationId: users_GetScopedRoleMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: scopedRoleMembership-id
          in: path
          description: 'key: scopedRoleMembership-id of scopedRoleMembership'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roleId
                - administrativeUnitId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.scopedRoleMembership
      summary: Update the navigation property scopedRoleMemberOf in users
      operationId: users_UpdateScopedRoleMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: scopedRoleMembership-id
          in: path
          description: 'key: scopedRoleMembership-id of scopedRoleMembership'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.administrativeUnit:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: administrativeUnit
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            visibility:
              type: string
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            scopedRoleMembers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        displayName: string
        description: string
        visibility: string
        members:
          - '@odata.type': microsoft.graph.directoryObject
        scopedRoleMembers:
          - '@odata.type': microsoft.graph.scopedRoleMembership
        extensions:
          - '@odata.type': microsoft.graph.extension
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
      example:
        id: string (identifier)
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.scopedRoleMembership:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: scopedRoleMembership
          type: object
          properties:
            roleId:
              type: string
            administrativeUnitId:
              type: string
            roleMemberInfo:
              $ref: '#/components/schemas/microsoft.graph.identity'
      example:
        id: string (identifier)
        roleId: string
        administrativeUnitId: string
        roleMemberInfo:
          '@odata.type': microsoft.graph.identity
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        id:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
      example:
        id: string
        displayName: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]