openapi: 3.0.1
info:
  title: Identity.Devices
  version: v1.0-StagingBeta
servers:
  - url: https://graph.microsoft.com/StagingBeta/
    description: Core
paths:
  /devices:
    get:
      tags:
        - devices.device
      summary: Get entities from devices
      operationId: devices.device_ListDevice
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - alternativeSecurityIds
                - alternativeSecurityIds desc
                - approximateLastSignInDateTime
                - approximateLastSignInDateTime desc
                - complianceExpirationDateTime
                - complianceExpirationDateTime desc
                - deviceId
                - deviceId desc
                - deviceMetadata
                - deviceMetadata desc
                - deviceVersion
                - deviceVersion desc
                - displayName
                - displayName desc
                - isCompliant
                - isCompliant desc
                - isManaged
                - isManaged desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - operatingSystem
                - operatingSystem desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - physicalIds
                - physicalIds desc
                - profileType
                - profileType desc
                - systemLabels
                - systemLabels desc
                - trustType
                - trustType desc
                - Name
                - Name desc
                - Manufacturer
                - Manufacturer desc
                - Model
                - Model desc
                - Kind
                - Kind desc
                - Status
                - Status desc
                - Platform
                - Platform desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - isCompliant
                - isManaged
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - systemLabels
                - trustType
                - Name
                - Manufacturer
                - Model
                - Kind
                - Status
                - Platform
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of device
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.device
      summary: Add new entity to devices
      operationId: devices.device_CreateDevice
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}':
    get:
      tags:
        - devices.device
      summary: Get entity from devices by key
      operationId: devices.device_GetDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - isCompliant
                - isManaged
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - systemLabels
                - trustType
                - Name
                - Manufacturer
                - Model
                - Kind
                - Status
                - Platform
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
          links:
            memberOf:
              operationId: devices.device.GetDevice
              parameters:
                id: $request.path.id
            registeredOwners:
              operationId: devices.device.GetDevice
              parameters:
                id: $request.path.id
            registeredUsers:
              operationId: devices.device.GetDevice
              parameters:
                id: $request.path.id
            transitiveMemberOf:
              operationId: devices.device.GetDevice
              parameters:
                id: $request.path.id
            extensions:
              operationId: devices.device.GetDevice
              parameters:
                id: $request.path.id
            commands:
              operationId: devices.device.GetDevice
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.device
      summary: Update entity in devices
      operationId: devices.device_UpdateDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.device
      summary: Delete entity from devices
      operationId: devices.device_DeleteDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/commands':
    get:
      tags:
        - devices.command
      summary: Get commands from devices
      operationId: devices_ListCommands
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - Status
                - Status desc
                - Type
                - Type desc
                - AppServiceName
                - AppServiceName desc
                - PackageFamilyName
                - PackageFamilyName desc
                - Error
                - Error desc
                - Payload
                - Payload desc
                - PermissionTicket
                - PermissionTicket desc
                - PostBackUri
                - PostBackUri desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - Status
                - Type
                - AppServiceName
                - PackageFamilyName
                - Error
                - Payload
                - PermissionTicket
                - PostBackUri
                - responsepayload
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - responsepayload
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of command
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.command'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.command
      summary: Create new navigation property to commands for devices
      operationId: devices_CreateCommands
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.command'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.command'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/commands/{command-id}':
    get:
      tags:
        - devices.command
      summary: Get commands from devices
      operationId: devices_GetCommands
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: command-id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - Status
                - Type
                - AppServiceName
                - PackageFamilyName
                - Error
                - Payload
                - PermissionTicket
                - PostBackUri
                - responsepayload
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - responsepayload
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.command'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.command
      summary: Update the navigation property commands in devices
      operationId: devices_UpdateCommands
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: command-id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.command'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/extensions':
    get:
      tags:
        - devices.extension
      summary: Get extensions from devices
      operationId: devices_ListExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.extension
      summary: Create new navigation property to extensions for devices
      operationId: devices_CreateExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/extensions/{extension-id}':
    get:
      tags:
        - devices.extension
      summary: Get extensions from devices
      operationId: devices_GetExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.extension
      summary: Update the navigation property extensions in devices
      operationId: devices_UpdateExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/memberOf':
    get:
      tags:
        - devices.directoryObject
      summary: Get memberOf from devices
      operationId: devices_ListMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get memberOf from devices
      operationId: devices_GetMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredOwners':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredOwners from devices
      operationId: devices_ListRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredOwners/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredOwners from devices
      operationId: devices_GetRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredUsers':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredUsers from devices
      operationId: devices_ListRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredUsers/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredUsers from devices
      operationId: devices_GetRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/transitiveMemberOf':
    get:
      tags:
        - devices.directoryObject
      summary: Get transitiveMemberOf from devices
      operationId: devices_ListTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/transitiveMemberOf/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get transitiveMemberOf from devices
      operationId: devices_GetTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: device-id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.device:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: device
          type: object
          properties:
            accountEnabled:
              type: boolean
              nullable: true
            alternativeSecurityIds:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alternativeSecurityId'
            approximateLastSignInDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            complianceExpirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            deviceId:
              type: string
              nullable: true
            deviceMetadata:
              type: string
              nullable: true
            deviceVersion:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            displayName:
              type: string
              nullable: true
            isCompliant:
              type: boolean
              nullable: true
            isManaged:
              type: boolean
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              nullable: true
            operatingSystem:
              type: string
              nullable: true
            operatingSystemVersion:
              type: string
              nullable: true
            physicalIds:
              type: array
              items:
                type: string
            profileType:
              type: string
              nullable: true
            systemLabels:
              type: array
              items:
                type: string
            trustType:
              type: string
              nullable: true
            Name:
              type: string
              nullable: true
            Manufacturer:
              type: string
              nullable: true
            Model:
              type: string
              nullable: true
            Kind:
              type: string
              nullable: true
            Status:
              type: string
              nullable: true
            Platform:
              type: string
              nullable: true
            memberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            registeredOwners:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            registeredUsers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            transitiveMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
            commands:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.command'
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        accountEnabled: true
        alternativeSecurityIds:
          - '@odata.type': microsoft.graph.alternativeSecurityId
        approximateLastSignInDateTime: string (timestamp)
        complianceExpirationDateTime: string (timestamp)
        deviceId: string
        deviceMetadata: string
        deviceVersion: integer
        displayName: string
        isCompliant: true
        isManaged: true
        onPremisesLastSyncDateTime: string (timestamp)
        onPremisesSyncEnabled: true
        operatingSystem: string
        operatingSystemVersion: string
        physicalIds:
          - string
        profileType: string
        systemLabels:
          - string
        trustType: string
        Name: string
        Manufacturer: string
        Model: string
        Kind: string
        Status: string
        Platform: string
        memberOf:
          - '@odata.type': microsoft.graph.directoryObject
        registeredOwners:
          - '@odata.type': microsoft.graph.directoryObject
        registeredUsers:
          - '@odata.type': microsoft.graph.directoryObject
        transitiveMemberOf:
          - '@odata.type': microsoft.graph.directoryObject
        extensions:
          - '@odata.type': microsoft.graph.extension
        commands:
          - '@odata.type': microsoft.graph.command
    microsoft.graph.command:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: command
          type: object
          properties:
            Status:
              type: string
              nullable: true
            Type:
              type: string
              nullable: true
            AppServiceName:
              type: string
              nullable: true
            PackageFamilyName:
              type: string
              nullable: true
            Error:
              type: string
              nullable: true
            Payload:
              $ref: '#/components/schemas/microsoft.graph.PayloadRequest'
            PermissionTicket:
              type: string
              nullable: true
            PostBackUri:
              type: string
              nullable: true
            responsepayload:
              $ref: '#/components/schemas/microsoft.graph.payloadResponse'
      example:
        id: string (identifier)
        Status: string
        Type: string
        AppServiceName: string
        PackageFamilyName: string
        Error: string
        Payload:
          '@odata.type': microsoft.graph.PayloadRequest
        PermissionTicket: string
        PostBackUri: string
        responsepayload:
          '@odata.type': microsoft.graph.payloadResponse
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
      example:
        id: string (identifier)
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.alternativeSecurityId:
      title: alternativeSecurityId
      type: object
      properties:
        type:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        identityProvider:
          type: string
          nullable: true
        key:
          type: string
          format: base64url
          nullable: true
      example:
        type: integer
        identityProvider: string
        key: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    microsoft.graph.PayloadRequest:
      title: PayloadRequest
      type: object
    microsoft.graph.payloadResponse:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: payloadResponse
          type: object
      example:
        id: string (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]