openapi: 3.0.1
info:
  title: Identity.Devices
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /devices:
    get:
      tags:
        - devices.device
      summary: Get entities from devices
      operationId: devices.device_ListDevice
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - alternativeSecurityIds
                - alternativeSecurityIds desc
                - approximateLastSignInDateTime
                - approximateLastSignInDateTime desc
                - complianceExpirationDateTime
                - complianceExpirationDateTime desc
                - deviceId
                - deviceId desc
                - deviceMetadata
                - deviceMetadata desc
                - deviceVersion
                - deviceVersion desc
                - displayName
                - displayName desc
                - extensionAttributes
                - extensionAttributes desc
                - isCompliant
                - isCompliant desc
                - isManaged
                - isManaged desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - operatingSystem
                - operatingSystem desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - physicalIds
                - physicalIds desc
                - profileType
                - profileType desc
                - systemLabels
                - systemLabels desc
                - trustType
                - trustType desc
                - Name
                - Name desc
                - Manufacturer
                - Manufacturer desc
                - Model
                - Model desc
                - Kind
                - Kind desc
                - Status
                - Status desc
                - Platform
                - Platform desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - extensionAttributes
                - isCompliant
                - isManaged
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - systemLabels
                - trustType
                - Name
                - Manufacturer
                - Model
                - Kind
                - Status
                - Platform
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of device
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.device'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.device
      summary: Add new entity to devices
      operationId: devices.device_CreateDevice
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}':
    get:
      tags:
        - devices.device
      summary: Get entity from devices by key
      operationId: devices.device_GetDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - extensionAttributes
                - isCompliant
                - isManaged
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - systemLabels
                - trustType
                - Name
                - Manufacturer
                - Model
                - Kind
                - Status
                - Platform
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.device
      summary: Update entity in devices
      operationId: devices.device_UpdateDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.device
      summary: Delete entity from devices
      operationId: devices.device_DeleteDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/commands':
    get:
      tags:
        - devices.command
      summary: Get commands from devices
      operationId: devices_ListCommands
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - Status
                - Status desc
                - Type
                - Type desc
                - AppServiceName
                - AppServiceName desc
                - PackageFamilyName
                - PackageFamilyName desc
                - Error
                - Error desc
                - Payload
                - Payload desc
                - PermissionTicket
                - PermissionTicket desc
                - PostBackUri
                - PostBackUri desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - Status
                - Type
                - AppServiceName
                - PackageFamilyName
                - Error
                - Payload
                - PermissionTicket
                - PostBackUri
                - responsepayload
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - responsepayload
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of command
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.command'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.command
      summary: Create new navigation property to commands for devices
      operationId: devices_CreateCommands
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.command'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.command'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/commands/{command-id}':
    get:
      tags:
        - devices.command
      summary: Get commands from devices
      operationId: devices_GetCommands
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - Status
                - Type
                - AppServiceName
                - PackageFamilyName
                - Error
                - Payload
                - PermissionTicket
                - PostBackUri
                - responsepayload
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - responsepayload
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.command'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.command
      summary: Update the navigation property commands in devices
      operationId: devices_UpdateCommands
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.command'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.command
      summary: Delete navigation property commands for devices
      operationId: devices_DeleteCommands
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/extensions':
    get:
      tags:
        - devices.extension
      summary: Get extensions from devices
      operationId: devices_ListExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.extension
      summary: Create new navigation property to extensions for devices
      operationId: devices_CreateExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/extensions/{extension-id}':
    get:
      tags:
        - devices.extension
      summary: Get extensions from devices
      operationId: devices_GetExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.extension
      summary: Update the navigation property extensions in devices
      operationId: devices_UpdateExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.extension
      summary: Delete navigation property extensions for devices
      operationId: devices_DeleteExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/memberOf':
    get:
      tags:
        - devices.directoryObject
      summary: Get memberOf from devices
      operationId: devices_ListMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get memberOf from devices
      operationId: devices_GetMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/memberOf/$ref':
    get:
      tags:
        - devices.directoryObject
      summary: Get ref of memberOf from devices
      operationId: devices_ListRefMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.directoryObject
      summary: Create new navigation property ref to memberOf for devices
      operationId: devices_CreateRefMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: String
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: String
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.directoryObject
      summary: Delete ref of navigation property memberOf for devices
      operationId: devices_DeleteRefMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - devices.Actions
      summary: Invoke action checkMemberGroups
      operationId: devices_checkMemberGroups
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - devices.Actions
      summary: Invoke action checkMemberObjects
      operationId: devices_checkMemberObjects
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - devices.Actions
      summary: Invoke action getMemberGroups
      operationId: devices_getMemberGroups
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - devices.Actions
      summary: Invoke action getMemberObjects
      operationId: devices_getMemberObjects
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.restore':
    post:
      tags:
        - devices.Actions
      summary: Invoke action restore
      operationId: devices_restore
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/registeredOwners':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredOwners from devices
      operationId: devices_ListRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredOwners/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredOwners from devices
      operationId: devices_GetRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredOwners/$ref':
    get:
      tags:
        - devices.directoryObject
      summary: Get ref of registeredOwners from devices
      operationId: devices_ListRefRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.directoryObject
      summary: Create new navigation property ref to registeredOwners for devices
      operationId: devices_CreateRefRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: String
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: String
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.directoryObject
      summary: Delete ref of navigation property registeredOwners for devices
      operationId: devices_DeleteRefRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredUsers':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredUsers from devices
      operationId: devices_ListRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredUsers/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredUsers from devices
      operationId: devices_GetRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredUsers/$ref':
    get:
      tags:
        - devices.directoryObject
      summary: Get ref of registeredUsers from devices
      operationId: devices_ListRefRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.directoryObject
      summary: Create new navigation property ref to registeredUsers for devices
      operationId: devices_CreateRefRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: String
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: String
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.directoryObject
      summary: Delete ref of navigation property registeredUsers for devices
      operationId: devices_DeleteRefRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/transitiveMemberOf':
    get:
      tags:
        - devices.directoryObject
      summary: Get transitiveMemberOf from devices
      operationId: devices_ListTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/transitiveMemberOf/{directoryObject-id}':
    get:
      tags:
        - devices.directoryObject
      summary: Get transitiveMemberOf from devices
      operationId: devices_GetTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/transitiveMemberOf/$ref':
    get:
      tags:
        - devices.directoryObject
      summary: Get ref of transitiveMemberOf from devices
      operationId: devices_ListRefTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.directoryObject
      summary: Create new navigation property ref to transitiveMemberOf for devices
      operationId: devices_CreateRefTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: String
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: String
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.directoryObject
      summary: Delete ref of navigation property transitiveMemberOf for devices
      operationId: devices_DeleteRefTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /devices/microsoft.graph.getByIds:
    post:
      tags:
        - devices.Actions
      summary: Invoke action getByIds
      operationId: devices_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /devices/microsoft.graph.getUserOwnedObjects:
    post:
      tags:
        - devices.Actions
      summary: Invoke action getUserOwnedObjects
      operationId: devices_getUserOwnedObjects
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  nullable: true
                type:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /devices/microsoft.graph.validateProperties:
    post:
      tags:
        - devices.Actions
      summary: Invoke action validateProperties
      operationId: devices_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.device:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: device
          type: object
          properties:
            accountEnabled:
              type: boolean
              description: 'true if the account is enabled; otherwise, false. Required.'
              nullable: true
            alternativeSecurityIds:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alternativeSecurityId'
              description: For internal use only. Not nullable.
            approximateLastSignInDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            complianceExpirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp when the device is no longer deemed compliant. The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            deviceId:
              type: string
              description: Unique identifier set by Azure Device Registration Service at the time of registration.
              nullable: true
            deviceMetadata:
              type: string
              description: For interal use only. Set to null.
              nullable: true
            deviceVersion:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: For interal use only.
              format: int32
              nullable: true
            displayName:
              type: string
              description: The display name for the device. Required.
              nullable: true
            extensionAttributes:
              $ref: '#/components/schemas/microsoft.graph.onPremisesExtensionAttributes'
            isCompliant:
              type: boolean
              description: 'true if the device complies with Mobile Device Management (MDM) policies; otherwise, false. Read-only. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices.'
              nullable: true
            isManaged:
              type: boolean
              description: 'true if the device is managed by a Mobile Device Management (MDM) app; otherwise, false. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices.'
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The last time at which the object was synced with the on-premises directory.The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'' Read-only.'
              format: date-time
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              description: true if this object is synced from an on-premises directory; false if this object was originally synced from an on-premises directory but is no longer synced; null if this object has never been synced from an on-premises directory (default). Read-only.
              nullable: true
            operatingSystem:
              type: string
              description: The type of operating system on the device. Required.
              nullable: true
            operatingSystemVersion:
              type: string
              description: The version of the operating system on the device. Required.
              nullable: true
            physicalIds:
              type: array
              items:
                type: string
              description: For interal use only. Not nullable.
            profileType:
              type: string
              description: The profile type of the device. Possible values:RegisteredDevice (default)SecureVMPrinterSharedIoT
              nullable: true
            systemLabels:
              type: array
              items:
                type: string
              description: List of labels applied to the device by the system.
            trustType:
              type: string
              description: 'Type of trust for the joined device. Read-only. Possible values: Workplace - indicates bring your own personal devicesAzureAd - Cloud only joined devicesServerAd - on-premises domain joined devices joined to Azure AD. For more details, see Introduction to device management in Azure Active Directory'
              nullable: true
            Name:
              type: string
              nullable: true
            Manufacturer:
              type: string
              nullable: true
            Model:
              type: string
              nullable: true
            Kind:
              type: string
              nullable: true
            Status:
              type: string
              nullable: true
            Platform:
              type: string
              nullable: true
            memberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Groups that this group is a member of. HTTP Methods: GET (supported for all groups). Read-only. Nullable.'
            registeredOwners:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'The user that cloud joined the device or registered their personal device. The registered owner is set at the time of registration. Currently, there can be only one owner. Read-only. Nullable.'
            registeredUsers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Collection of registered users of the device. For cloud joined devices and registered personal devices, registered users are set to the same value as registered owners at the time of registration. Read-only. Nullable.'
            transitiveMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the device. Read-only. Nullable.
            commands:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.command'
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.command:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: command
          type: object
          properties:
            Status:
              type: string
              nullable: true
            Type:
              type: string
              nullable: true
            AppServiceName:
              type: string
              nullable: true
            PackageFamilyName:
              type: string
              nullable: true
            Error:
              type: string
              nullable: true
            Payload:
              $ref: '#/components/schemas/microsoft.graph.PayloadRequest'
            PermissionTicket:
              type: string
              nullable: true
            PostBackUri:
              type: string
              nullable: true
            responsepayload:
              $ref: '#/components/schemas/microsoft.graph.payloadResponse'
          additionalProperties:
            type: object
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
          additionalProperties:
            type: object
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.alternativeSecurityId:
      title: alternativeSecurityId
      type: object
      properties:
        type:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: For internal use only
          format: int32
          nullable: true
        identityProvider:
          type: string
          description: For internal use only
          nullable: true
        key:
          type: string
          description: For internal use only
          format: base64url
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.onPremisesExtensionAttributes:
      title: onPremisesExtensionAttributes
      type: object
      properties:
        extensionAttribute1:
          type: string
          description: First customizable extension attribute.
          nullable: true
        extensionAttribute2:
          type: string
          description: Second customizable extension attribute.
          nullable: true
        extensionAttribute3:
          type: string
          description: Third customizable extension attribute.
          nullable: true
        extensionAttribute4:
          type: string
          description: Fourth customizable extension attribute.
          nullable: true
        extensionAttribute5:
          type: string
          description: Fifth customizable extension attribute.
          nullable: true
        extensionAttribute6:
          type: string
          description: Sixth customizable extension attribute.
          nullable: true
        extensionAttribute7:
          type: string
          description: Seventh customizable extension attribute.
          nullable: true
        extensionAttribute8:
          type: string
          description: Eighth customizable extension attribute.
          nullable: true
        extensionAttribute9:
          type: string
          description: Ninth customizable extension attribute.
          nullable: true
        extensionAttribute10:
          type: string
          description: Tenth customizable extension attribute.
          nullable: true
        extensionAttribute11:
          type: string
          description: Eleventh customizable extension attribute.
          nullable: true
        extensionAttribute12:
          type: string
          description: Twelfth customizable extension attribute.
          nullable: true
        extensionAttribute13:
          type: string
          description: Thirteenth customizable extension attribute.
          nullable: true
        extensionAttribute14:
          type: string
          description: Fourteenth customizable extension attribute.
          nullable: true
        extensionAttribute15:
          type: string
          description: Fifteenth customizable extension attribute.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.PayloadRequest:
      title: PayloadRequest
      type: object
      additionalProperties:
        type: object
    microsoft.graph.payloadResponse:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: payloadResponse
          type: object
          additionalProperties:
            type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]