openapi: 3.0.1
info:
  title: Identity.OnPremisesPublishingProfiles
  version: v1.0-Beta
servers:
  - url: https://graph.microsoft.com/Beta/
    description: Core
paths:
  /onPremisesPublishingProfiles:
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesPublishingProfile
      summary: Get entities from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile_ListOnPremisesPublishingProfile
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - hybridAgentUpdaterConfiguration
                - hybridAgentUpdaterConfiguration desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - hybridAgentUpdaterConfiguration
                - agents
                - agentGroups
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - agentGroups
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of onPremisesPublishingProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesPublishingProfile
      summary: Add new entity to onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile_CreateOnPremisesPublishingProfile
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingProfile'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesPublishingProfile
      summary: Get entity from onPremisesPublishingProfiles by key
      operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile_GetOnPremisesPublishingProfile
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - hybridAgentUpdaterConfiguration
                - agents
                - agentGroups
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - agentGroups
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingProfile'
          links:
            agents:
              operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile.GetOnPremisesPublishingProfile
              parameters:
                id: $request.path.id
            agentGroups:
              operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile.GetOnPremisesPublishingProfile
              parameters:
                id: $request.path.id
            publishedResources:
              operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile.GetOnPremisesPublishingProfile
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesPublishingProfile
      summary: Update entity in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile_UpdateOnPremisesPublishingProfile
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesPublishingProfile
      summary: Delete entity from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile_DeleteOnPremisesPublishingProfile
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_ListAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - publishingType
                - publishingType desc
                - isDefault
                - isDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgentGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Create new navigation property to agentGroups for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_CreateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_GetAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: onPremisesAgentGroup-id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Update the navigation property agentGroups in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_UpdateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: onPremisesAgentGroup-id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/agents':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agents from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_ListAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: onPremisesAgentGroup-id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - machineName
                - machineName desc
                - externalIp
                - externalIp desc
                - status
                - status desc
                - supportedPublishingTypes
                - supportedPublishingTypes desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - machineName
                - externalIp
                - status
                - supportedPublishingTypes
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/agents/{onPremisesAgent-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agents from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_GetAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: onPremisesAgentGroup-id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id
          in: path
          description: 'key: onPremisesAgent-id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - machineName
                - externalIp
                - status
                - supportedPublishingTypes
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/publishedResources':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get publishedResources from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_ListPublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: onPremisesAgentGroup-id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - resourceName
                - resourceName desc
                - publishingType
                - publishingType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resourceName
                - publishingType
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of publishedResource
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.publishedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/publishedResources/{publishedResource-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get publishedResources from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_GetPublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: onPremisesAgentGroup-id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: publishedResource-id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resourceName
                - publishingType
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.publishedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agents from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_ListAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - machineName
                - machineName desc
                - externalIp
                - externalIp desc
                - status
                - status desc
                - supportedPublishingTypes
                - supportedPublishingTypes desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - machineName
                - externalIp
                - status
                - supportedPublishingTypes
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Create new navigation property to agents for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_CreateAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agents from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_GetAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: onPremisesAgent-id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - machineName
                - externalIp
                - status
                - supportedPublishingTypes
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Update the navigation property agents in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_UpdateAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: onPremisesAgent-id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}/agentGroups':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents_ListAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: onPremisesAgent-id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - publishingType
                - publishingType desc
                - isDefault
                - isDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgentGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}/agentGroups/{onPremisesAgentGroup-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents_GetAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: onPremisesAgent-id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: onPremisesAgentGroup-id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/publishedResources':
    get:
      tags:
        - onPremisesPublishingProfiles.publishedResource
      summary: Get publishedResources from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_ListPublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - resourceName
                - resourceName desc
                - publishingType
                - publishingType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resourceName
                - publishingType
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of publishedResource
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.publishedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.publishedResource
      summary: Create new navigation property to publishedResources for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_CreatePublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.publishedResource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.publishedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/publishedResources/{publishedResource-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.publishedResource
      summary: Get publishedResources from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_GetPublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: publishedResource-id
          in: path
          description: 'key: publishedResource-id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resourceName
                - publishingType
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.publishedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.publishedResource
      summary: Update the navigation property publishedResources in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_UpdatePublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: publishedResource-id
          in: path
          description: 'key: publishedResource-id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.publishedResource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/publishedResources/{publishedResource-id}/agentGroups':
    get:
      tags:
        - onPremisesPublishingProfiles.publishedResource
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.publishedResources_ListAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: publishedResource-id
          in: path
          description: 'key: publishedResource-id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - publishingType
                - publishingType desc
                - isDefault
                - isDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgentGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/publishedResources/{publishedResource-id}/agentGroups/{onPremisesAgentGroup-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.publishedResource
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.publishedResources_GetAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: onPremisesPublishingProfile-id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: publishedResource-id
          in: path
          description: 'key: publishedResource-id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: onPremisesAgentGroup-id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.onPremisesPublishingProfile:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: onPremisesPublishingProfile
          type: object
          properties:
            hybridAgentUpdaterConfiguration:
              $ref: '#/components/schemas/microsoft.graph.hybridAgentUpdaterConfiguration'
            agents:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
            agentGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
            publishedResources:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.publishedResource'
      example:
        id: string (identifier)
        hybridAgentUpdaterConfiguration:
          '@odata.type': microsoft.graph.hybridAgentUpdaterConfiguration
        agents:
          - '@odata.type': microsoft.graph.onPremisesAgent
        agentGroups:
          - '@odata.type': microsoft.graph.onPremisesAgentGroup
        publishedResources:
          - '@odata.type': microsoft.graph.publishedResource
    microsoft.graph.onPremisesAgentGroup:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: onPremisesAgentGroup
          type: object
          properties:
            displayName:
              type: string
            publishingType:
              $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingType'
            isDefault:
              type: boolean
            agents:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
            publishedResources:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.publishedResource'
      example:
        id: string (identifier)
        displayName: string
        publishingType:
          '@odata.type': microsoft.graph.onPremisesPublishingType
        isDefault: true
        agents:
          - '@odata.type': microsoft.graph.onPremisesAgent
        publishedResources:
          - '@odata.type': microsoft.graph.publishedResource
    microsoft.graph.onPremisesAgent:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: onPremisesAgent
          type: object
          properties:
            machineName:
              type: string
            externalIp:
              type: string
            status:
              $ref: '#/components/schemas/microsoft.graph.agentStatus'
            supportedPublishingTypes:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingType'
            agentGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
      example:
        id: string (identifier)
        machineName: string
        externalIp: string
        status:
          '@odata.type': microsoft.graph.agentStatus
        supportedPublishingTypes:
          - '@odata.type': microsoft.graph.onPremisesPublishingType
        agentGroups:
          - '@odata.type': microsoft.graph.onPremisesAgentGroup
    microsoft.graph.publishedResource:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: publishedResource
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            resourceName:
              type: string
              nullable: true
            publishingType:
              $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingType'
            agentGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
      example:
        id: string (identifier)
        displayName: string
        resourceName: string
        publishingType:
          '@odata.type': microsoft.graph.onPremisesPublishingType
        agentGroups:
          - '@odata.type': microsoft.graph.onPremisesAgentGroup
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    microsoft.graph.hybridAgentUpdaterConfiguration:
      title: hybridAgentUpdaterConfiguration
      type: object
      properties:
        deferUpdateDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        updateWindow:
          $ref: '#/components/schemas/microsoft.graph.updateWindow'
        allowUpdateConfigurationOverride:
          type: boolean
      example:
        deferUpdateDateTime: string (timestamp)
        updateWindow:
          '@odata.type': microsoft.graph.updateWindow
        allowUpdateConfigurationOverride: true
    microsoft.graph.onPremisesPublishingType:
      title: onPremisesPublishingType
      enum:
        - appProxy
        - exchangeOnline
        - authentication
        - provisioning
        - intunePfx
        - oflineDomainJoin
        - unknownFutureValue
      type: string
    microsoft.graph.agentStatus:
      title: agentStatus
      enum:
        - active
        - inactive
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.updateWindow:
      title: updateWindow
      type: object
      properties:
        updateWindowStartTime:
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$'
          type: string
          format: time
          nullable: true
        updateWindowEndTime:
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$'
          type: string
          format: time
          nullable: true
      example:
        updateWindowStartTime: string (timestamp)
        updateWindowEndTime: string (timestamp)
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]