openapi: 3.0.1
info:
  title: Identity.DirectoryRoleTemplates
  version: v1.0-StagingBeta
servers:
  - url: https://graph.microsoft.com/StagingBeta/
    description: Core
paths:
  /directoryRoleTemplates:
    get:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Get entities from directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate_ListDirectoryRoleTemplate
      parameters:
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of directoryRoleTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Add new entity to directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate_CreateDirectoryRoleTemplate
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/directoryRoleTemplates/{directoryRoleTemplate-id}':
    get:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Get entity from directoryRoleTemplates by key
      operationId: directoryRoleTemplates.directoryRoleTemplate_GetDirectoryRoleTemplate
      parameters:
        - name: directoryRoleTemplate-id
          in: path
          description: 'key: directoryRoleTemplate-id of directoryRoleTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRoleTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Update entity in directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate_UpdateDirectoryRoleTemplate
      parameters:
        - name: directoryRoleTemplate-id
          in: path
          description: 'key: directoryRoleTemplate-id of directoryRoleTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRoleTemplate
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - directoryRoleTemplates.directoryRoleTemplate
      summary: Delete entity from directoryRoleTemplates
      operationId: directoryRoleTemplates.directoryRoleTemplate_DeleteDirectoryRoleTemplate
      parameters:
        - name: directoryRoleTemplate-id
          in: path
          description: 'key: directoryRoleTemplate-id of directoryRoleTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryRoleTemplate
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.directoryRoleTemplate:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: directoryRoleTemplate
          type: object
          properties:
            description:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        description: string
        displayName: string
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]