openapi: 3.0.1
info:
  title: Identity.Governance
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /accessReviews:
    get:
      tags:
        - accessReviews.accessReview
      summary: Get entities from accessReviews
      operationId: accessReviews.accessReview_ListAccessReview
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - status
                - status desc
                - createdBy
                - createdBy desc
                - businessFlowTemplateId
                - businessFlowTemplateId desc
                - reviewerType
                - reviewerType desc
                - description
                - description desc
                - settings
                - settings desc
                - reviewedEntity
                - reviewedEntity desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of accessReview
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReview'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Add new entity to accessReviews
      operationId: accessReviews.accessReview_CreateAccessReview
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get entity from accessReviews by key
      operationId: accessReviews.accessReview_GetAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update entity in accessReviews
      operationId: accessReviews.accessReview_UpdateAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReview
      summary: Delete entity from accessReviews
      operationId: accessReviews.accessReview_DeleteAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/decisions':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get decisions from accessReviews
      operationId: accessReviews_ListDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessReviewId
                - accessReviewId desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
                - justification
                - justification desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - accessRecommendation
                - accessRecommendation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewDecision
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewDecision
      summary: Create new navigation property to decisions for accessReviews
      operationId: accessReviews_CreateDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/decisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get decisions from accessReviews
      operationId: accessReviews_GetDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReviewDecision
      summary: Update the navigation property decisions in accessReviews
      operationId: accessReviews_UpdateDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReviewDecision
      summary: Delete navigation property decisions for accessReviews
      operationId: accessReviews_DeleteDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get instances from accessReviews
      operationId: accessReviews_ListInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - status
                - status desc
                - createdBy
                - createdBy desc
                - businessFlowTemplateId
                - businessFlowTemplateId desc
                - reviewerType
                - reviewerType desc
                - description
                - description desc
                - settings
                - settings desc
                - reviewedEntity
                - reviewedEntity desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReview
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReview'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Create new navigation property to instances for accessReviews
      operationId: accessReviews_CreateInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get instances from accessReviews
      operationId: accessReviews_GetInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update the navigation property instances in accessReviews
      operationId: accessReviews_UpdateInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReview
      summary: Delete navigation property instances for accessReviews
      operationId: accessReviews_DeleteInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/microsoft.graph.applyDecisions':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action applyDecisions
      operationId: accessReviews_applyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.resetDecisions':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action resetDecisions
      operationId: accessReviews_resetDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.sendReminder':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action sendReminder
      operationId: accessReviews_sendReminder
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.stop':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action stop
      operationId: accessReviews_stop
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/myDecisions':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get myDecisions from accessReviews
      operationId: accessReviews_ListMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessReviewId
                - accessReviewId desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
                - justification
                - justification desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - accessRecommendation
                - accessRecommendation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewDecision
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewDecision
      summary: Create new navigation property to myDecisions for accessReviews
      operationId: accessReviews_CreateMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/myDecisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get myDecisions from accessReviews
      operationId: accessReviews_GetMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReviewDecision
      summary: Update the navigation property myDecisions in accessReviews
      operationId: accessReviews_UpdateMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReviewDecision
      summary: Delete navigation property myDecisions for accessReviews
      operationId: accessReviews_DeleteMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/reviewers':
    get:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Get reviewers from accessReviews
      operationId: accessReviews_ListReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewReviewer
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Create new navigation property to reviewers for accessReviews
      operationId: accessReviews_CreateReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/reviewers/{accessReviewReviewer-id}':
    get:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Get reviewers from accessReviews
      operationId: accessReviews_GetReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Update the navigation property reviewers in accessReviews
      operationId: accessReviews_UpdateReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Delete navigation property reviewers for accessReviews
      operationId: accessReviews_DeleteReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /agreements:
    get:
      tags:
        - agreements.agreement
      summary: Get entities from agreements
      operationId: agreements.agreement_ListAgreement
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - termsExpiration
                - termsExpiration desc
                - userReacceptRequiredFrequency
                - userReacceptRequiredFrequency desc
                - isViewingBeforeAcceptanceRequired
                - isViewingBeforeAcceptanceRequired desc
                - isPerDeviceAcceptanceRequired
                - isPerDeviceAcceptanceRequired desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - termsExpiration
                - userReacceptRequiredFrequency
                - isViewingBeforeAcceptanceRequired
                - isPerDeviceAcceptanceRequired
                - file
                - files
                - acceptances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - file
                - files
                - acceptances
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of agreement
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreement'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreement
      summary: Add new entity to agreements
      operationId: agreements.agreement_CreateAgreement
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreement'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}':
    get:
      tags:
        - agreements.agreement
      summary: Get entity from agreements by key
      operationId: agreements.agreement_GetAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - termsExpiration
                - userReacceptRequiredFrequency
                - isViewingBeforeAcceptanceRequired
                - isPerDeviceAcceptanceRequired
                - file
                - files
                - acceptances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - file
                - files
                - acceptances
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreement
      summary: Update entity in agreements
      operationId: agreements.agreement_UpdateAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreement
      summary: Delete entity from agreements
      operationId: agreements.agreement_DeleteAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/acceptances':
    get:
      tags:
        - agreements.agreementAcceptance
      summary: Get acceptances from agreements
      operationId: agreements_ListAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - agreementId
                - agreementId desc
                - userId
                - userId desc
                - deviceId
                - deviceId desc
                - deviceDisplayName
                - deviceDisplayName desc
                - deviceOSType
                - deviceOSType desc
                - deviceOSVersion
                - deviceOSVersion desc
                - agreementFileId
                - agreementFileId desc
                - userDisplayName
                - userDisplayName desc
                - userPrincipalName
                - userPrincipalName desc
                - userEmail
                - userEmail desc
                - recordedDateTime
                - recordedDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agreementId
                - userId
                - deviceId
                - deviceDisplayName
                - deviceOSType
                - deviceOSVersion
                - agreementFileId
                - userDisplayName
                - userPrincipalName
                - userEmail
                - recordedDateTime
                - expirationDateTime
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agreementAcceptance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementAcceptance
      summary: Create new navigation property to acceptances for agreements
      operationId: agreements_CreateAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/acceptances/{agreementAcceptance-id}':
    get:
      tags:
        - agreements.agreementAcceptance
      summary: Get acceptances from agreements
      operationId: agreements_GetAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - agreementId
                - userId
                - deviceId
                - deviceDisplayName
                - deviceOSType
                - deviceOSVersion
                - agreementFileId
                - userDisplayName
                - userPrincipalName
                - userEmail
                - recordedDateTime
                - expirationDateTime
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementAcceptance
      summary: Update the navigation property acceptances in agreements
      operationId: agreements_UpdateAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementAcceptance
      summary: Delete navigation property acceptances for agreements
      operationId: agreements_DeleteAcceptances
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementAcceptance-id
          in: path
          description: 'key: id of agreementAcceptance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementAcceptance
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file':
    get:
      tags:
        - agreements.agreementFile
      summary: Get file from agreements
      operationId: agreements_GetFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - fileName
                - language
                - isDefault
                - fileData
                - localizations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - localizations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property file in agreements
      operationId: agreements_UpdateFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFile
      summary: Delete navigation property file for agreements
      operationId: agreements_DeleteFile
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations':
    get:
      tags:
        - agreements.agreementFile
      summary: Get localizations from agreements
      operationId: agreements.file_ListLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - fileName
                - fileName desc
                - language
                - language desc
                - isDefault
                - isDefault desc
                - fileData
                - fileData desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - fileName
                - language
                - isDefault
                - fileData
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agreementFileLocalization
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFile
      summary: Create new navigation property to localizations for agreements
      operationId: agreements.file_CreateLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/file/localizations/{agreementFileLocalization-id}':
    get:
      tags:
        - agreements.agreementFile
      summary: Get localizations from agreements
      operationId: agreements.file_GetLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - fileName
                - language
                - isDefault
                - fileData
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property localizations in agreements
      operationId: agreements.file_UpdateLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFile
      summary: Delete navigation property localizations for agreements
      operationId: agreements.file_DeleteLocalizations
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files':
    get:
      tags:
        - agreements.agreementFileLocalization
      summary: Get files from agreements
      operationId: agreements_ListFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - fileName
                - fileName desc
                - language
                - language desc
                - isDefault
                - isDefault desc
                - fileData
                - fileData desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - fileName
                - language
                - isDefault
                - fileData
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agreementFileLocalization
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFileLocalization
      summary: Create new navigation property to files for agreements
      operationId: agreements_CreateFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files/{agreementFileLocalization-id}':
    get:
      tags:
        - agreements.agreementFileLocalization
      summary: Get files from agreements
      operationId: agreements_GetFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - fileName
                - language
                - isDefault
                - fileData
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreementFileLocalization
      summary: Update the navigation property files in agreements
      operationId: agreements_UpdateFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreementFileLocalization
      summary: Delete navigation property files for agreements
      operationId: agreements_DeleteFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFileLocalization-id
          in: path
          description: 'key: id of agreementFileLocalization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFileLocalization
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /businessFlowTemplates:
    get:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Get entities from businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_ListBusinessFlowTemplate
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of businessFlowTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Add new entity to businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_CreateBusinessFlowTemplate
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/businessFlowTemplates/{businessFlowTemplate-id}':
    get:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Get entity from businessFlowTemplates by key
      operationId: businessFlowTemplates.businessFlowTemplate_GetBusinessFlowTemplate
      parameters:
        - name: businessFlowTemplate-id
          in: path
          description: 'key: id of businessFlowTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: businessFlowTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Update entity in businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_UpdateBusinessFlowTemplate
      parameters:
        - name: businessFlowTemplate-id
          in: path
          description: 'key: id of businessFlowTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: businessFlowTemplate
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Delete entity from businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_DeleteBusinessFlowTemplate
      parameters:
        - name: businessFlowTemplate-id
          in: path
          description: 'key: id of businessFlowTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: businessFlowTemplate
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/definition/microsoft.graph.stop':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action stop
      operationId: identityGovernance.accessReviews.definitions.instances.definition_stop
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.acceptRecommendations':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action acceptRecommendations
      operationId: identityGovernance.accessReviews.definitions.instances_acceptRecommendations
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.applyDecisions':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action applyDecisions
      operationId: identityGovernance.accessReviews.definitions.instances_applyDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.resetDecisions':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action resetDecisions
      operationId: identityGovernance.accessReviews.definitions.instances_resetDecisions
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.sendReminder':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action sendReminder
      operationId: identityGovernance.accessReviews.definitions.instances_sendReminder
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.stop':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action stop
      operationId: identityGovernance.accessReviews.definitions.instances_stop
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
        - name: accessReviewInstance-id
          in: path
          description: 'key: id of accessReviewInstance'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewInstance
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/microsoft.graph.stop':
    post:
      tags:
        - identityGovernance.Actions
      summary: Invoke action stop
      operationId: identityGovernance.accessReviews.definitions_stop
      parameters:
        - name: accessReviewScheduleDefinition-id
          in: path
          description: 'key: id of accessReviewScheduleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewScheduleDefinition
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identityGovernance/entitlementManagement:
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get entitlementManagement from identityGovernance
      operationId: identityGovernance_GetEntitlementManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessPackageCatalogs
                - accessPackageResources
                - accessPackageResourceRequests
                - accessPackageResourceRoleScopes
                - accessPackages
                - accessPackageAssignmentPolicies
                - accessPackageAssignments
                - accessPackageAssignmentRequests
                - accessPackageAssignmentResourceRoles
                - settings
                - connectedOrganizations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageCatalogs
                - accessPackageResources
                - accessPackageResourceRequests
                - accessPackageResourceRoleScopes
                - accessPackages
                - accessPackageAssignmentPolicies
                - accessPackageAssignments
                - accessPackageAssignmentRequests
                - accessPackageAssignmentResourceRoles
                - settings
                - connectedOrganizations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entitlementManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the navigation property entitlementManagement in identityGovernance
      operationId: identityGovernance_UpdateEntitlementManagement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.entitlementManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.entitlementManagement
      summary: Delete navigation property entitlementManagement for identityGovernance
      operationId: identityGovernance_DeleteEntitlementManagement
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/entitlementManagement/accessPackageAssignmentPolicies:
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageAssignmentPolicies from identityGovernance
      operationId: identityGovernance.entitlementManagement_ListAccessPackageAssignmentPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessPackageId
                - accessPackageId desc
                - displayName
                - displayName desc
                - description
                - description desc
                - canExtend
                - canExtend desc
                - durationInDays
                - durationInDays desc
                - expirationDateTime
                - expirationDateTime desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - modifiedBy
                - modifiedBy desc
                - modifiedDateTime
                - modifiedDateTime desc
                - requestorSettings
                - requestorSettings desc
                - requestApprovalSettings
                - requestApprovalSettings desc
                - accessReviewSettings
                - accessReviewSettings desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessPackageId
                - displayName
                - description
                - canExtend
                - durationInDays
                - expirationDateTime
                - createdBy
                - createdDateTime
                - modifiedBy
                - modifiedDateTime
                - requestorSettings
                - requestApprovalSettings
                - accessReviewSettings
                - accessPackage
                - accessPackageCatalog
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackage
                - accessPackageCatalog
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessPackageAssignmentPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityGovernance.entitlementManagement
      summary: Create new navigation property to accessPackageAssignmentPolicies for identityGovernance
      operationId: identityGovernance.entitlementManagement_CreateAccessPackageAssignmentPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityGovernance/entitlementManagement/accessPackageAssignmentPolicies/{accessPackageAssignmentPolicy-id}':
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get accessPackageAssignmentPolicies from identityGovernance
      operationId: identityGovernance.entitlementManagement_GetAccessPackageAssignmentPolicies
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessPackageId
                - displayName
                - description
                - canExtend
                - durationInDays
                - expirationDateTime
                - createdBy
                - createdDateTime
                - modifiedBy
                - modifiedDateTime
                - requestorSettings
                - requestApprovalSettings
                - accessReviewSettings
                - accessPackage
                - accessPackageCatalog
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackage
                - accessPackageCatalog
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the navigation property accessPackageAssignmentPolicies in identityGovernance
      operationId: identityGovernance.entitlementManagement_UpdateAccessPackageAssignmentPolicies
      parameters:
        - name: accessPackageAssignmentPolicy-id
          in: path
          description: 'key: id of accessPackageAssignmentPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessPackageAssignmentPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityGovernance.entitlementManagement
[...]
