openapi: 3.0.1
info:
  title: Identity.DirectoryManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /admin/people:
    get:
      tags:
        - admin.peopleAdminSettings
      summary: Get peopleAdminSettings
      description: Retrieve the properties and relationships of a peopleAdminSettings object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/peopleadminsettings-get?view=graph-rest-1.0
      operationId: admin_GetPerson
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - profileCardProperties
                - pronouns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - profileCardProperties
                - pronouns
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.peopleAdminSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.peopleAdminSettings
      summary: Update the navigation property people in admin
      operationId: admin_UpdatePerson
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.peopleAdminSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.peopleAdminSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.peopleAdminSettings
      summary: Delete navigation property people for admin
      operationId: admin_DeletePerson
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/people/profileCardProperties:
    get:
      tags:
        - admin.peopleAdminSettings
      summary: List profileCardProperties
      description: Get a collection of profileCardProperty resources for an organization. Each resource is identified by its directoryPropertyName property.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/peopleadminsettings-list-profilecardproperties?view=graph-rest-1.0
      operationId: admin.person_ListProfileCardProperty
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - annotations
                - annotations desc
                - directoryPropertyName
                - directoryPropertyName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - annotations
                - directoryPropertyName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.profileCardPropertyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.peopleAdminSettings
      summary: Create profileCardProperty
      description: 'Create a new profileCardProperty for an organization. The new property is identified by its directoryPropertyName property. For more information about how to add properties to the profile card for an organization, see Add or remove custom attributes on a profile card using the profile card API.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/peopleadminsettings-post-profilecardproperties?view=graph-rest-1.0
      operationId: admin.person_CreateProfileCardProperty
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/people/profileCardProperties/{profileCardProperty-id}':
    get:
      tags:
        - admin.peopleAdminSettings
      summary: Get profileCardProperty
      description: Retrieve the properties of a profileCardProperty entity. The profileCardProperty is identified by its directoryPropertyName property.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profilecardproperty-get?view=graph-rest-1.0
      operationId: admin.person_GetProfileCardProperty
      parameters:
        - name: profileCardProperty-id
          in: path
          description: The unique identifier of profileCardProperty
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: profileCardProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - annotations
                - directoryPropertyName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.peopleAdminSettings
      summary: Update profileCardProperty
      description: 'Update the properties of a profileCardProperty object, identified by its directoryPropertyName property.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profilecardproperty-update?view=graph-rest-1.0
      operationId: admin.person_UpdateProfileCardProperty
      parameters:
        - name: profileCardProperty-id
          in: path
          description: The unique identifier of profileCardProperty
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: profileCardProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profileCardProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.peopleAdminSettings
      summary: Delete profileCardProperty
      description: 'Delete the profileCardProperty object specified by its directoryPropertyName from the organization''s profile card, and remove any localized customizations for that property.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profilecardproperty-delete?view=graph-rest-1.0
      operationId: admin.person_DeleteProfileCardProperty
      parameters:
        - name: profileCardProperty-id
          in: path
          description: The unique identifier of profileCardProperty
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: profileCardProperty
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/people/profileCardProperties/$count:
    get:
      tags:
        - admin.peopleAdminSettings
      summary: Get the number of the resource
      operationId: admin.person.profileCardProperty_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/people/pronouns:
    get:
      tags:
        - admin.peopleAdminSettings
      summary: List pronounsSettings
      description: 'Get the properties of the pronounsSettings resource for an organization.  For more information on settings to manage pronouns support, see Manage pronouns settings for an organization using the Microsoft Graph API.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/peopleadminsettings-list-pronouns?view=graph-rest-1.0
      operationId: admin.person_GetPronoun
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isEnabledInOrganization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.pronounsSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.peopleAdminSettings
      summary: Update pronounsSettings
      description: 'Update the properties of a pronounsSettings object in an organization. For more information on settings to manage pronouns support, see Manage pronouns settings for an organization using the Microsoft Graph API.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/pronounssettings-update?view=graph-rest-1.0
      operationId: admin.person_UpdatePronoun
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.pronounsSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.pronounsSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.peopleAdminSettings
      summary: Delete navigation property pronouns for admin
      operationId: admin.person_DeletePronoun
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /administrativeUnits:
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: List administrativeUnits
      description: Retrieve a list of administrativeUnit objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directory-list-administrativeunits?view=graph-rest-1.0
      operationId: administrativeUnit_ListAdministrativeUnit
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isMemberManagementRestricted
                - isMemberManagementRestricted desc
                - visibility
                - visibility desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - isMemberManagementRestricted
                - visibility
                - extensions
                - members
                - scopedRoleMembers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensions
                - members
                - scopedRoleMembers
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.administrativeUnitCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Create administrativeUnit
      description: Use this API to create a new administrativeUnit.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directory-post-administrativeunits?view=graph-rest-1.0
      operationId: administrativeUnit_CreateAdministrativeUnit
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}':
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get administrativeUnit
      description: 'Retrieve the properties and relationships of an administrativeUnit object. Since the administrativeUnit resource supports extensions, you can also use the GET operation to get custom properties and extension data in an administrativeUnit instance.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/administrativeunit-get?view=graph-rest-1.0
      operationId: administrativeUnit_GetAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - isMemberManagementRestricted
                - visibility
                - extensions
                - members
                - scopedRoleMembers
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensions
                - members
                - scopedRoleMembers
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Update administrativeunit
      description: Update the properties of an administrativeUnit object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/administrativeunit-update?view=graph-rest-1.0
      operationId: administrativeUnit_UpdateAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Delete administrativeUnit
      description: Delete an administrativeUnit.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/administrativeunit-delete?view=graph-rest-1.0
      operationId: administrativeUnit_DeleteAdministrativeUnit
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/extensions':
    get:
      tags:
        - administrativeUnits.extension
      summary: Get extensions from administrativeUnits
      description: The collection of open extensions defined for this administrative unit. Nullable.
      operationId: administrativeUnit_ListExtension
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.extension
      summary: Create new navigation property to extensions for administrativeUnits
      operationId: administrativeUnit_CreateExtension
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/extensions/{extension-id}':
    get:
      tags:
        - administrativeUnits.extension
      summary: Get extensions from administrativeUnits
      description: The collection of open extensions defined for this administrative unit. Nullable.
      operationId: administrativeUnit_GetExtension
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.extension
      summary: Update the navigation property extensions in administrativeUnits
      operationId: administrativeUnit_UpdateExtension
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.extension
      summary: Delete navigation property extensions for administrativeUnits
      operationId: administrativeUnit_DeleteExtension
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/extensions/$count':
    get:
      tags:
        - administrativeUnits.extension
      summary: Get the number of the resource
      operationId: administrativeUnit.extension_GetCount
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get members from administrativeUnits
      description: Users and groups that are members of this administrative unit. Supports $expand.
      operationId: administrativeUnit_ListMember
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.directoryObject
      summary: Create new navigation property to members for administrativeUnits
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/administrativeunit-post-members?view=graph-rest-1.0
      operationId: administrativeUnit_CreateMember
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/members/{directoryObject-id}/$ref':
    delete:
      tags:
        - administrativeUnits.directoryObject
      summary: Delete ref of navigation property members for administrativeUnits
      operationId: administrativeUnit_DeleteMemberGraphBPreRef
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: directoryObject-id
          in: path
          description: The unique identifier of directoryObject
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/members/{directoryObject-id}/microsoft.graph.application':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the item of type microsoft.graph.directoryObject as microsoft.graph.application
      operationId: administrativeUnit_GetMemberAsApplication
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: directoryObject-id
          in: path
          description: The unique identifier of directoryObject
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Result entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/{directoryObject-id}/microsoft.graph.device':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the item of type microsoft.graph.directoryObject as microsoft.graph.device
      operationId: administrativeUnit_GetMemberAsDevice
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: directoryObject-id
          in: path
          description: The unique identifier of directoryObject
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Result entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/{directoryObject-id}/microsoft.graph.group':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the item of type microsoft.graph.directoryObject as microsoft.graph.group
      operationId: administrativeUnit_GetMemberAsGroup
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: directoryObject-id
          in: path
          description: The unique identifier of directoryObject
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Result entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/{directoryObject-id}/microsoft.graph.orgContact':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the item of type microsoft.graph.directoryObject as microsoft.graph.orgContact
      operationId: administrativeUnit_GetMemberAsOrgContact
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: directoryObject-id
          in: path
          description: The unique identifier of directoryObject
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Result entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/{directoryObject-id}/microsoft.graph.servicePrincipal':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the item of type microsoft.graph.directoryObject as microsoft.graph.servicePrincipal
      operationId: administrativeUnit_GetMemberAsServicePrincipal
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: directoryObject-id
          in: path
          description: The unique identifier of directoryObject
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Result entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/{directoryObject-id}/microsoft.graph.user':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the item of type microsoft.graph.directoryObject as microsoft.graph.user
      operationId: administrativeUnit_GetMemberAsUser
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: directoryObject-id
          in: path
          description: The unique identifier of directoryObject
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Result entities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/$count':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the number of the resource
      operationId: administrativeUnit.member_GetCount
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/$ref':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get ref of members from administrativeUnits
      description: Users and groups that are members of this administrative unit. Supports $expand.
      operationId: administrativeUnit_ListMemberGraphBPreRef
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.directoryObject
      summary: Create new navigation property ref to members for administrativeUnits
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/administrativeunit-post-members?view=graph-rest-1.0
      operationId: administrativeUnit_CreateMemberGraphBPreRef
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.directoryObject
      summary: Delete ref of navigation property members for administrativeUnits
      operationId: administrativeUnit_DeleteMemberGraphBPreRef
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
        - name: '@id'
          in: query
          description: The delete Uri
          required: true
          style: form
          explode: false
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.application':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the items of type microsoft.graph.application in the microsoft.graph.directoryObject collection
      operationId: administrativeUnit_ListMemberAsApplication
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.applicationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.application/$count':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the number of the resource
      operationId: administrativeUnit.Member_GetCountAsApplication
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.device':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the items of type microsoft.graph.device in the microsoft.graph.directoryObject collection
      operationId: administrativeUnit_ListMemberAsDevice
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.device/$count':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the number of the resource
      operationId: administrativeUnit.Member_GetCountAsDevice
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.group':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the items of type microsoft.graph.group in the microsoft.graph.directoryObject collection
      operationId: administrativeUnit_ListMemberAsGroup
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.groupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.group/$count':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the number of the resource
      operationId: administrativeUnit.Member_GetCountAsGroup
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.orgContact':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the items of type microsoft.graph.orgContact in the microsoft.graph.directoryObject collection
      operationId: administrativeUnit_ListMemberAsOrgContact
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.orgContactCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.orgContact/$count':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the number of the resource
      operationId: administrativeUnit.Member_GetCountAsOrgContact
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.servicePrincipal':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the items of type microsoft.graph.servicePrincipal in the microsoft.graph.directoryObject collection
      operationId: administrativeUnit_ListMemberAsServicePrincipal
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.servicePrincipalCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.servicePrincipal/$count':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the number of the resource
      operationId: administrativeUnit.Member_GetCountAsServicePrincipal
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.user':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the items of type microsoft.graph.user in the microsoft.graph.directoryObject collection
      operationId: administrativeUnit_ListMemberAsUser
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/members/microsoft.graph.user/$count':
    get:
      tags:
        - administrativeUnits.directoryObject
      summary: Get the number of the resource
      operationId: administrativeUnit.Member_GetCountAsUser
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action checkMemberGroups
      description: 'Check for membership in a specified list of group IDs, and return from that list those groups (identified by IDs) of which the specified user, group, service principal, organizational contact, device, or directory object is a member. This function is transitive. You can check up to a maximum of 20 groups per request. This function supports all groups provisioned in Microsoft Entra ID. Because Microsoft 365 groups cannot contain other groups, membership in a Microsoft 365 group is always direct.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryobject-checkmembergroups?view=graph-rest-1.0
      operationId: administrativeUnit_checkMemberGroup
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action checkMemberObjects
      operationId: administrativeUnit_checkMemberObject
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action getMemberGroups
      description: 'Return all the group IDs for the groups that the specified user, group, service principal, organizational contact, device, or directory object is a member of. This function is transitive. This API returns up to 11,000 group IDs. If more than 11,000 results are available, it returns a 400 Bad Request error with the Directory_ResultSizeLimitExceeded error code. As a workaround, use the List group transitive memberOf API.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryobject-getmembergroups?view=graph-rest-1.0
      operationId: administrativeUnit_getMemberGroup
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action getMemberObjects
      operationId: administrativeUnit_getMemberObject
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/administrativeUnits/{administrativeUnit-id}/microsoft.graph.restore':
    post:
      tags:
        - administrativeUnits.Actions
      summary: Invoke action restore
      description: 'Restore a recently deleted application, group, servicePrincipal, administrative unit, or user object from deleted items. If an item was accidentally deleted, you can fully restore the item. This isn''t applicable to security groups, which are deleted permanently. Also, restoring an application doesn''t restore the associated service principal automatically. You must call this API to explicitly restore the deleted service principal. A recently deleted item remains available for up to 30 days. After 30 days, the item is permanently deleted.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directory-deleteditems-restore?view=graph-rest-1.0
      operationId: administrativeUnit_restore
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/administrativeUnits/{administrativeUnit-id}/scopedRoleMembers':
    get:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: List scopedRoleMembers
      description: List Microsoft Entra role assignments with administrative unit scope.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/administrativeunit-list-scopedrolemembers?view=graph-rest-1.0
      operationId: administrativeUnit_ListScopedRoleMember
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - administrativeUnitId
                - administrativeUnitId desc
                - roleId
                - roleId desc
                - roleMemberInfo
                - roleMemberInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - administrativeUnitId
                - roleId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.scopedRoleMembershipCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Add a scopedRoleMember
      description: 'Assign a Microsoft Entra role with administrative unit scope. For a list of roles that can be assigned with administrative unit scope, see Assign Microsoft Entra roles with administrative unit scope.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/administrativeunit-post-scopedrolemembers?view=graph-rest-1.0
      operationId: administrativeUnit_CreateScopedRoleMember
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/scopedRoleMembers/{scopedRoleMembership-id}':
    get:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Get a scopedRoleMember
      description: Get a Microsoft Entra role assignment with administrative unit scope.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/administrativeunit-get-scopedrolemembers?view=graph-rest-1.0
      operationId: administrativeUnit_GetScopedRoleMember
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: The unique identifier of scopedRoleMembership
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - administrativeUnitId
                - roleId
                - roleMemberInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Update the navigation property scopedRoleMembers in administrativeUnits
      operationId: administrativeUnit_UpdateScopedRoleMember
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: The unique identifier of scopedRoleMembership
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Remove a scopedRoleMember
      description: Remove a Microsoft Entra role assignment with administrative unit scope.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/administrativeunit-delete-scopedrolemembers?view=graph-rest-1.0
      operationId: administrativeUnit_DeleteScopedRoleMember
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - name: scopedRoleMembership-id
          in: path
          description: The unique identifier of scopedRoleMembership
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: scopedRoleMembership
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/administrativeUnits/{administrativeUnit-id}/scopedRoleMembers/$count':
    get:
      tags:
        - administrativeUnits.scopedRoleMembership
      summary: Get the number of the resource
      operationId: administrativeUnit.scopedRoleMember_GetCount
      parameters:
        - name: administrativeUnit-id
          in: path
          description: The unique identifier of administrativeUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: administrativeUnit
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /administrativeUnits/$count:
    get:
      tags:
        - administrativeUnits.administrativeUnit
      summary: Get the number of the resource
      operationId: administrativeUnit_GetCount
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /administrativeUnits/microsoft.graph.delta():
    get:
      tags:
        - administrativeUnits.Functions
      summary: Invoke function delta
      operationId: administrativeUnit_delta
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - description
                - displayName
                - isMemberManagementRestricted
                - visibility
                - extensions
                - members
                - scopedRoleMembers
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isMemberManagementRestricted
                - isMemberManagementRestricted desc
                - visibility
                - visibility desc
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of administrativeUnit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /administrativeUnits/microsoft.graph.getByIds:
[...]
