openapi: 3.0.1
info:
  title: Identity.PIM
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /privilegedAccess:
    get:
      tags:
        - privilegedAccess.privilegedAccess
      summary: Get entities from privilegedAccess
      operationId: privilegedAccess.privilegedAccess_ListPrivilegedAccess
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resources
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resources
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedAccess
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedAccess'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedAccess.privilegedAccess
      summary: Add new entity to privilegedAccess
      operationId: privilegedAccess.privilegedAccess_CreatePrivilegedAccess
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedAccess'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedAccess'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}':
    get:
      tags:
        - privilegedAccess.privilegedAccess
      summary: Get entity from privilegedAccess by key
      operationId: privilegedAccess.privilegedAccess_GetPrivilegedAccess
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resources
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resources
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedAccess'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedAccess.privilegedAccess
      summary: Update entity in privilegedAccess
      operationId: privilegedAccess.privilegedAccess_UpdatePrivilegedAccess
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedAccess'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedAccess.privilegedAccess
      summary: Delete entity from privilegedAccess
      operationId: privilegedAccess.privilegedAccess_DeletePrivilegedAccess
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/resources':
    get:
      tags:
        - privilegedAccess.governanceResource
      summary: Get resources from privilegedAccess
      operationId: privilegedAccess_ListResources
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - externalId
                - externalId desc
                - type
                - type desc
                - displayName
                - displayName desc
                - status
                - status desc
                - registeredDateTime
                - registeredDateTime desc
                - registeredRoot
                - registeredRoot desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - externalId
                - type
                - displayName
                - status
                - registeredDateTime
                - registeredRoot
                - parent
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parent
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of governanceResource
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.governanceResource'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedAccess.governanceResource
      summary: Create new navigation property to resources for privilegedAccess
      operationId: privilegedAccess_CreateResources
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceResource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/resources/{governanceResource-id}':
    get:
      tags:
        - privilegedAccess.governanceResource
      summary: Get resources from privilegedAccess
      operationId: privilegedAccess_GetResources
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceResource-id
          in: path
          description: 'key: id of governanceResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceResource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - externalId
                - type
                - displayName
                - status
                - registeredDateTime
                - registeredRoot
                - parent
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parent
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedAccess.governanceResource
      summary: Update the navigation property resources in privilegedAccess
      operationId: privilegedAccess_UpdateResources
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceResource-id
          in: path
          description: 'key: id of governanceResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceResource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceResource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedAccess.governanceResource
      summary: Delete navigation property resources for privilegedAccess
      operationId: privilegedAccess_DeleteResources
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceResource-id
          in: path
          description: 'key: id of governanceResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceResource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleAssignmentRequests':
    get:
      tags:
        - privilegedAccess.governanceRoleAssignmentRequest
      summary: Get roleAssignmentRequests from privilegedAccess
      operationId: privilegedAccess_ListRoleAssignmentRequests
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - resourceId
                - resourceId desc
                - roleDefinitionId
                - roleDefinitionId desc
                - subjectId
                - subjectId desc
                - linkedEligibleRoleAssignmentId
                - linkedEligibleRoleAssignmentId desc
                - type
                - type desc
                - assignmentState
                - assignmentState desc
                - requestedDateTime
                - requestedDateTime desc
                - reason
                - reason desc
                - status
                - status desc
                - schedule
                - schedule desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - roleDefinitionId
                - subjectId
                - linkedEligibleRoleAssignmentId
                - type
                - assignmentState
                - requestedDateTime
                - reason
                - status
                - schedule
                - resource
                - roleDefinition
                - subject
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
                - roleDefinition
                - subject
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of governanceRoleAssignmentRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignmentRequest'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedAccess.governanceRoleAssignmentRequest
      summary: Create new navigation property to roleAssignmentRequests for privilegedAccess
      operationId: privilegedAccess_CreateRoleAssignmentRequests
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignmentRequest'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleAssignmentRequests/{governanceRoleAssignmentRequest-id}':
    get:
      tags:
        - privilegedAccess.governanceRoleAssignmentRequest
      summary: Get roleAssignmentRequests from privilegedAccess
      operationId: privilegedAccess_GetRoleAssignmentRequests
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleAssignmentRequest-id
          in: path
          description: 'key: id of governanceRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleAssignmentRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - roleDefinitionId
                - subjectId
                - linkedEligibleRoleAssignmentId
                - type
                - assignmentState
                - requestedDateTime
                - reason
                - status
                - schedule
                - resource
                - roleDefinition
                - subject
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
                - roleDefinition
                - subject
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedAccess.governanceRoleAssignmentRequest
      summary: Update the navigation property roleAssignmentRequests in privilegedAccess
      operationId: privilegedAccess_UpdateRoleAssignmentRequests
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleAssignmentRequest-id
          in: path
          description: 'key: id of governanceRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleAssignmentRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignmentRequest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedAccess.governanceRoleAssignmentRequest
      summary: Delete navigation property roleAssignmentRequests for privilegedAccess
      operationId: privilegedAccess_DeleteRoleAssignmentRequests
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleAssignmentRequest-id
          in: path
          description: 'key: id of governanceRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleAssignmentRequest
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleAssignments':
    get:
      tags:
        - privilegedAccess.governanceRoleAssignment
      summary: Get roleAssignments from privilegedAccess
      operationId: privilegedAccess_ListRoleAssignments
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - resourceId
                - resourceId desc
                - roleDefinitionId
                - roleDefinitionId desc
                - subjectId
                - subjectId desc
                - linkedEligibleRoleAssignmentId
                - linkedEligibleRoleAssignmentId desc
                - externalId
                - externalId desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - memberType
                - memberType desc
                - assignmentState
                - assignmentState desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - roleDefinitionId
                - subjectId
                - linkedEligibleRoleAssignmentId
                - externalId
                - startDateTime
                - endDateTime
                - memberType
                - assignmentState
                - status
                - resource
                - roleDefinition
                - subject
                - linkedEligibleRoleAssignment
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
                - roleDefinition
                - subject
                - linkedEligibleRoleAssignment
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of governanceRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedAccess.governanceRoleAssignment
      summary: Create new navigation property to roleAssignments for privilegedAccess
      operationId: privilegedAccess_CreateRoleAssignments
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleAssignments/{governanceRoleAssignment-id}':
    get:
      tags:
        - privilegedAccess.governanceRoleAssignment
      summary: Get roleAssignments from privilegedAccess
      operationId: privilegedAccess_GetRoleAssignments
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleAssignment-id
          in: path
          description: 'key: id of governanceRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - roleDefinitionId
                - subjectId
                - linkedEligibleRoleAssignmentId
                - externalId
                - startDateTime
                - endDateTime
                - memberType
                - assignmentState
                - status
                - resource
                - roleDefinition
                - subject
                - linkedEligibleRoleAssignment
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
                - roleDefinition
                - subject
                - linkedEligibleRoleAssignment
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedAccess.governanceRoleAssignment
      summary: Update the navigation property roleAssignments in privilegedAccess
      operationId: privilegedAccess_UpdateRoleAssignments
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleAssignment-id
          in: path
          description: 'key: id of governanceRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedAccess.governanceRoleAssignment
      summary: Delete navigation property roleAssignments for privilegedAccess
      operationId: privilegedAccess_DeleteRoleAssignments
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleAssignment-id
          in: path
          description: 'key: id of governanceRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleDefinitions':
    get:
      tags:
        - privilegedAccess.governanceRoleDefinition
      summary: Get roleDefinitions from privilegedAccess
      operationId: privilegedAccess_ListRoleDefinitions
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - resourceId
                - resourceId desc
                - externalId
                - externalId desc
                - templateId
                - templateId desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - externalId
                - templateId
                - displayName
                - resource
                - roleSetting
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
                - roleSetting
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of governanceRoleDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.governanceRoleDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedAccess.governanceRoleDefinition
      summary: Create new navigation property to roleDefinitions for privilegedAccess
      operationId: privilegedAccess_CreateRoleDefinitions
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleDefinitions/{governanceRoleDefinition-id}':
    get:
      tags:
        - privilegedAccess.governanceRoleDefinition
      summary: Get roleDefinitions from privilegedAccess
      operationId: privilegedAccess_GetRoleDefinitions
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleDefinition-id
          in: path
          description: 'key: id of governanceRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - externalId
                - templateId
                - displayName
                - resource
                - roleSetting
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
                - roleSetting
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedAccess.governanceRoleDefinition
      summary: Update the navigation property roleDefinitions in privilegedAccess
      operationId: privilegedAccess_UpdateRoleDefinitions
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleDefinition-id
          in: path
          description: 'key: id of governanceRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedAccess.governanceRoleDefinition
      summary: Delete navigation property roleDefinitions for privilegedAccess
      operationId: privilegedAccess_DeleteRoleDefinitions
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleDefinition-id
          in: path
          description: 'key: id of governanceRoleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleSettings':
    get:
      tags:
        - privilegedAccess.governanceRoleSetting
      summary: Get roleSettings from privilegedAccess
      operationId: privilegedAccess_ListRoleSettings
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - resourceId
                - resourceId desc
                - roleDefinitionId
                - roleDefinitionId desc
                - isDefault
                - isDefault desc
                - lastUpdatedDateTime
                - lastUpdatedDateTime desc
                - lastUpdatedBy
                - lastUpdatedBy desc
                - adminEligibleSettings
                - adminEligibleSettings desc
                - adminMemberSettings
                - adminMemberSettings desc
                - userEligibleSettings
                - userEligibleSettings desc
                - userMemberSettings
                - userMemberSettings desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - roleDefinitionId
                - isDefault
                - lastUpdatedDateTime
                - lastUpdatedBy
                - adminEligibleSettings
                - adminMemberSettings
                - userEligibleSettings
                - userMemberSettings
                - roleDefinition
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of governanceRoleSetting
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.governanceRoleSetting'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedAccess.governanceRoleSetting
      summary: Create new navigation property to roleSettings for privilegedAccess
      operationId: privilegedAccess_CreateRoleSettings
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleSetting'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleSettings/{governanceRoleSetting-id}':
    get:
      tags:
        - privilegedAccess.governanceRoleSetting
      summary: Get roleSettings from privilegedAccess
      operationId: privilegedAccess_GetRoleSettings
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleSetting-id
          in: path
          description: 'key: id of governanceRoleSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleSetting
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - roleDefinitionId
                - isDefault
                - lastUpdatedDateTime
                - lastUpdatedBy
                - adminEligibleSettings
                - adminMemberSettings
                - userEligibleSettings
                - userMemberSettings
                - roleDefinition
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedAccess.governanceRoleSetting
      summary: Update the navigation property roleSettings in privilegedAccess
      operationId: privilegedAccess_UpdateRoleSettings
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleSetting-id
          in: path
          description: 'key: id of governanceRoleSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleSetting'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedAccess.governanceRoleSetting
      summary: Delete navigation property roleSettings for privilegedAccess
      operationId: privilegedAccess_DeleteRoleSettings
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleSetting-id
          in: path
          description: 'key: id of governanceRoleSetting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleSetting
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /privilegedApproval:
    get:
      tags:
        - privilegedApproval.privilegedApproval
      summary: Get entities from privilegedApproval
      operationId: privilegedApproval.privilegedApproval_ListPrivilegedApproval
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userId
                - userId desc
                - roleId
                - roleId desc
                - approvalType
                - approvalType desc
                - approvalState
                - approvalState desc
                - approvalDuration
                - approvalDuration desc
                - requestorReason
                - requestorReason desc
                - approverReason
                - approverReason desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - roleId
                - approvalType
                - approvalState
                - approvalDuration
                - requestorReason
                - approverReason
                - startDateTime
                - endDateTime
                - request
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - request
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedApproval
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedApproval.privilegedApproval
      summary: Add new entity to privilegedApproval
      operationId: privilegedApproval.privilegedApproval_CreatePrivilegedApproval
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedApproval/{privilegedApproval-id}':
    get:
      tags:
        - privilegedApproval.privilegedApproval
      summary: Get entity from privilegedApproval by key
      operationId: privilegedApproval.privilegedApproval_GetPrivilegedApproval
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - roleId
                - approvalType
                - approvalState
                - approvalDuration
                - requestorReason
                - approverReason
                - startDateTime
                - endDateTime
                - request
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - request
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedApproval.privilegedApproval
      summary: Update entity in privilegedApproval
      operationId: privilegedApproval.privilegedApproval_UpdatePrivilegedApproval
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedApproval.privilegedApproval
      summary: Delete entity from privilegedApproval
      operationId: privilegedApproval.privilegedApproval_DeletePrivilegedApproval
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedApproval/{privilegedApproval-id}/request':
    get:
      tags:
        - privilegedApproval.privilegedRoleAssignmentRequest
      summary: Get request from privilegedApproval
      operationId: privilegedApproval_GetRequest
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - schedule
                - userId
                - roleId
                - type
                - assignmentState
                - requestedDateTime
                - status
                - duration
                - reason
                - ticketNumber
                - ticketSystem
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedApproval/{privilegedApproval-id}/request/$ref':
    get:
      tags:
        - privilegedApproval.privilegedRoleAssignmentRequest
      summary: Get ref of request from privilegedApproval
      operationId: privilegedApproval_GetRefRequest
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - privilegedApproval.privilegedRoleAssignmentRequest
      summary: Update the ref of navigation property request in privilegedApproval
      operationId: privilegedApproval_UpdateRefRequest
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedApproval.privilegedRoleAssignmentRequest
      summary: Delete ref of navigation property request for privilegedApproval
      operationId: privilegedApproval_DeleteRefRequest
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedApproval/{privilegedApproval-id}/roleInfo':
    get:
      tags:
        - privilegedApproval.privilegedRole
      summary: Get roleInfo from privilegedApproval
      operationId: privilegedApproval_GetRoleInfo
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - settings
                - assignments
                - summary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settings
                - assignments
                - summary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedApproval.privilegedRole
      summary: Update the navigation property roleInfo in privilegedApproval
      operationId: privilegedApproval_UpdateRoleInfo
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedApproval.privilegedRole
      summary: Delete navigation property roleInfo for privilegedApproval
      operationId: privilegedApproval_DeleteRoleInfo
      parameters:
        - name: privilegedApproval-id
          in: path
          description: 'key: id of privilegedApproval'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedApproval
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /privilegedApproval/microsoft.graph.myRequests():
    get:
      tags:
        - privilegedApproval.Functions
      summary: Invoke function myRequests
      operationId: privilegedApproval_myRequests
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.privilegedApproval'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /privilegedOperationEvents:
    get:
      tags:
        - privilegedOperationEvents.privilegedOperationEvent
      summary: Get entities from privilegedOperationEvents
      operationId: privilegedOperationEvents.privilegedOperationEvent_ListPrivilegedOperationEvent
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userId
                - userId desc
                - userName
                - userName desc
                - userMail
                - userMail desc
                - roleId
                - roleId desc
                - roleName
                - roleName desc
                - expirationDateTime
                - expirationDateTime desc
                - creationDateTime
                - creationDateTime desc
                - requestorId
                - requestorId desc
                - requestorName
                - requestorName desc
                - tenantId
                - tenantId desc
                - requestType
                - requestType desc
                - additionalInformation
                - additionalInformation desc
                - referenceKey
                - referenceKey desc
                - referenceSystem
                - referenceSystem desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - userName
                - userMail
                - roleId
                - roleName
                - expirationDateTime
                - creationDateTime
                - requestorId
                - requestorName
                - tenantId
                - requestType
                - additionalInformation
                - referenceKey
                - referenceSystem
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedOperationEvent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedOperationEvent'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedOperationEvents.privilegedOperationEvent
      summary: Add new entity to privilegedOperationEvents
      operationId: privilegedOperationEvents.privilegedOperationEvent_CreatePrivilegedOperationEvent
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedOperationEvent'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedOperationEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedOperationEvents/{privilegedOperationEvent-id}':
    get:
      tags:
        - privilegedOperationEvents.privilegedOperationEvent
      summary: Get entity from privilegedOperationEvents by key
      operationId: privilegedOperationEvents.privilegedOperationEvent_GetPrivilegedOperationEvent
      parameters:
        - name: privilegedOperationEvent-id
          in: path
          description: 'key: id of privilegedOperationEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedOperationEvent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - userName
                - userMail
                - roleId
                - roleName
                - expirationDateTime
                - creationDateTime
                - requestorId
                - requestorName
                - tenantId
                - requestType
                - additionalInformation
                - referenceKey
                - referenceSystem
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedOperationEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedOperationEvents.privilegedOperationEvent
      summary: Update entity in privilegedOperationEvents
      operationId: privilegedOperationEvents.privilegedOperationEvent_UpdatePrivilegedOperationEvent
      parameters:
        - name: privilegedOperationEvent-id
          in: path
          description: 'key: id of privilegedOperationEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedOperationEvent
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedOperationEvent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedOperationEvents.privilegedOperationEvent
      summary: Delete entity from privilegedOperationEvents
      operationId: privilegedOperationEvents.privilegedOperationEvent_DeletePrivilegedOperationEvent
      parameters:
        - name: privilegedOperationEvent-id
          in: path
          description: 'key: id of privilegedOperationEvent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedOperationEvent
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /privilegedRoleAssignmentRequests:
    get:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest
      summary: Get entities from privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest_ListPrivilegedRoleAssignmentRequest
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - schedule
                - schedule desc
                - userId
                - userId desc
                - roleId
                - roleId desc
                - type
                - type desc
                - assignmentState
                - assignmentState desc
                - requestedDateTime
                - requestedDateTime desc
                - status
                - status desc
                - duration
                - duration desc
                - reason
                - reason desc
                - ticketNumber
                - ticketNumber desc
                - ticketSystem
                - ticketSystem desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - schedule
                - userId
                - roleId
                - type
                - assignmentState
                - requestedDateTime
                - status
                - duration
                - reason
                - ticketNumber
                - ticketSystem
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedRoleAssignmentRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest
      summary: Add new entity to privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest_CreatePrivilegedRoleAssignmentRequest
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoleAssignmentRequests/{privilegedRoleAssignmentRequest-id}':
    get:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest
      summary: Get entity from privilegedRoleAssignmentRequests by key
      operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest_GetPrivilegedRoleAssignmentRequest
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - schedule
                - userId
                - roleId
                - type
                - assignmentState
                - requestedDateTime
                - status
                - duration
                - reason
                - ticketNumber
                - ticketSystem
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest
      summary: Update entity in privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest_UpdatePrivilegedRoleAssignmentRequest
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest
      summary: Delete entity from privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests.privilegedRoleAssignmentRequest_DeletePrivilegedRoleAssignmentRequest
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoleAssignmentRequests/{privilegedRoleAssignmentRequest-id}/microsoft.graph.cancel':
    post:
      tags:
        - privilegedRoleAssignmentRequests.Actions
      summary: Invoke action cancel
      operationId: privilegedRoleAssignmentRequests_cancel
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/privilegedRoleAssignmentRequests/{privilegedRoleAssignmentRequest-id}/roleInfo':
    get:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRole
      summary: Get roleInfo from privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests_GetRoleInfo
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - settings
                - assignments
                - summary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settings
                - assignments
                - summary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRole
      summary: Update the navigation property roleInfo in privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests_UpdateRoleInfo
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedRoleAssignmentRequests.privilegedRole
      summary: Delete navigation property roleInfo for privilegedRoleAssignmentRequests
      operationId: privilegedRoleAssignmentRequests_DeleteRoleInfo
      parameters:
        - name: privilegedRoleAssignmentRequest-id
          in: path
          description: 'key: id of privilegedRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignmentRequest
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /privilegedRoleAssignmentRequests/microsoft.graph.my():
    get:
      tags:
        - privilegedRoleAssignmentRequests.Functions
      summary: Invoke function my
      operationId: privilegedRoleAssignmentRequests_my
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /privilegedRoleAssignments:
    get:
      tags:
        - privilegedRoleAssignments.privilegedRoleAssignment
      summary: Get entities from privilegedRoleAssignments
      operationId: privilegedRoleAssignments.privilegedRoleAssignment_ListPrivilegedRoleAssignment
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userId
                - userId desc
                - roleId
                - roleId desc
                - isElevated
                - isElevated desc
                - expirationDateTime
                - expirationDateTime desc
                - resultMessage
                - resultMessage desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - roleId
                - isElevated
                - expirationDateTime
                - resultMessage
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedRoleAssignments.privilegedRoleAssignment
      summary: Add new entity to privilegedRoleAssignments
      operationId: privilegedRoleAssignments.privilegedRoleAssignment_CreatePrivilegedRoleAssignment
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoleAssignments/{privilegedRoleAssignment-id}':
    get:
      tags:
        - privilegedRoleAssignments.privilegedRoleAssignment
      summary: Get entity from privilegedRoleAssignments by key
      operationId: privilegedRoleAssignments.privilegedRoleAssignment_GetPrivilegedRoleAssignment
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userId
                - roleId
                - isElevated
                - expirationDateTime
                - resultMessage
                - roleInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleInfo
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoleAssignments.privilegedRoleAssignment
      summary: Update entity in privilegedRoleAssignments
      operationId: privilegedRoleAssignments.privilegedRoleAssignment_UpdatePrivilegedRoleAssignment
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedRoleAssignments.privilegedRoleAssignment
      summary: Delete entity from privilegedRoleAssignments
      operationId: privilegedRoleAssignments.privilegedRoleAssignment_DeletePrivilegedRoleAssignment
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedRoleAssignments/{privilegedRoleAssignment-id}/microsoft.graph.makeEligible':
    post:
      tags:
        - privilegedRoleAssignments.Actions
      summary: Invoke action makeEligible
      operationId: privilegedRoleAssignments_makeEligible
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/privilegedRoleAssignments/{privilegedRoleAssignment-id}/microsoft.graph.makePermanent':
    post:
      tags:
        - privilegedRoleAssignments.Actions
      summary: Invoke action makePermanent
      operationId: privilegedRoleAssignments_makePermanent
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  nullable: true
                ticketNumber:
                  type: string
                  nullable: true
                ticketSystem:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/privilegedRoleAssignments/{privilegedRoleAssignment-id}/roleInfo':
    get:
      tags:
        - privilegedRoleAssignments.privilegedRole
      summary: Get roleInfo from privilegedRoleAssignments
      operationId: privilegedRoleAssignments_GetRoleInfo
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - settings
                - assignments
                - summary
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settings
                - assignments
                - summary
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedRoleAssignments.privilegedRole
      summary: Update the navigation property roleInfo in privilegedRoleAssignments
      operationId: privilegedRoleAssignments_UpdateRoleInfo
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedRole'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedRoleAssignments.privilegedRole
      summary: Delete navigation property roleInfo for privilegedRoleAssignments
      operationId: privilegedRoleAssignments_DeleteRoleInfo
      parameters:
        - name: privilegedRoleAssignment-id
          in: path
          description: 'key: id of privilegedRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /privilegedRoleAssignments/microsoft.graph.my():
    get:
      tags:
        - privilegedRoleAssignments.Functions
      summary: Invoke function my
      operationId: privilegedRoleAssignments_my
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.privilegedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /privilegedRoles:
    get:
      tags:
        - privilegedRoles.privilegedRole
      summary: Get entities from privilegedRoles
[...]
