openapi: 3.0.1
info:
  title: Identity.ServicePrincipal
  version: v1.0-Beta
servers:
  - url: https://graph.microsoft.com/Beta/
    description: Core
paths:
  /servicePrincipals:
    get:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Get entities from servicePrincipals
      operationId: servicePrincipals.servicePrincipal_ListServicePrincipal
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - addIns
                - addIns desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appOwnerOrganizationId
                - appOwnerOrganizationId desc
                - appRoleAssignmentRequired
                - appRoleAssignmentRequired desc
                - appRoles
                - appRoles desc
                - displayName
                - displayName desc
                - homepage
                - homepage desc
                - keyCredentials
                - keyCredentials desc
                - logoutUrl
                - logoutUrl desc
                - oauth2Permissions
                - oauth2Permissions desc
                - passwordCredentials
                - passwordCredentials desc
                - preferredTokenSigningKeyThumbprint
                - preferredTokenSigningKeyThumbprint desc
                - publisherName
                - publisherName desc
                - replyUrls
                - replyUrls desc
                - samlMetadataUrl
                - samlMetadataUrl desc
                - servicePrincipalNames
                - servicePrincipalNames desc
                - tags
                - tags desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - addIns
                - appDisplayName
                - appId
                - appOwnerOrganizationId
                - appRoleAssignmentRequired
                - appRoles
                - displayName
                - homepage
                - keyCredentials
                - logoutUrl
                - oauth2Permissions
                - passwordCredentials
                - preferredTokenSigningKeyThumbprint
                - publisherName
                - replyUrls
                - samlMetadataUrl
                - servicePrincipalNames
                - tags
                - appRoleAssignedTo
                - appRoleAssignments
                - oauth2PermissionGrants
                - memberOf
                - transitiveMemberOf
                - createdObjects
                - licenseDetails
                - owners
                - ownedObjects
                - policies
                - synchronization
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of servicePrincipal
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Add new entity to servicePrincipals
      operationId: servicePrincipals.servicePrincipal_CreateServicePrincipal
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}':
    get:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Get entity from servicePrincipals by key
      operationId: servicePrincipals.servicePrincipal_GetServicePrincipal
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - addIns
                - appDisplayName
                - appId
                - appOwnerOrganizationId
                - appRoleAssignmentRequired
                - appRoles
                - displayName
                - homepage
                - keyCredentials
                - logoutUrl
                - oauth2Permissions
                - passwordCredentials
                - preferredTokenSigningKeyThumbprint
                - publisherName
                - replyUrls
                - samlMetadataUrl
                - servicePrincipalNames
                - tags
                - appRoleAssignedTo
                - appRoleAssignments
                - oauth2PermissionGrants
                - memberOf
                - transitiveMemberOf
                - createdObjects
                - licenseDetails
                - owners
                - ownedObjects
                - policies
                - synchronization
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
          links:
            appRoleAssignedTo:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
            appRoleAssignments:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
            oauth2PermissionGrants:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
            memberOf:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
            transitiveMemberOf:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
            createdObjects:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
            licenseDetails:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
            owners:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
            ownedObjects:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
            policies:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
            synchronization:
              operationId: servicePrincipals.servicePrincipal.GetServicePrincipal
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Update entity in servicePrincipals
      operationId: servicePrincipals.servicePrincipal_UpdateServicePrincipal
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - servicePrincipals.servicePrincipal
      summary: Delete entity from servicePrincipals
      operationId: servicePrincipals.servicePrincipal_DeleteServicePrincipal
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignedTo':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignedTo from servicePrincipals
      operationId: servicePrincipals_ListAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appRoleId
                - appRoleId desc
                - creationTimestamp
                - creationTimestamp desc
                - principalDisplayName
                - principalDisplayName desc
                - principalId
                - principalId desc
                - principalType
                - principalType desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Create new navigation property to appRoleAssignedTo for servicePrincipals
      operationId: servicePrincipals_CreateAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignedTo/{appRoleAssignment-id}':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignedTo from servicePrincipals
      operationId: servicePrincipals_GetAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Update the navigation property appRoleAssignedTo in servicePrincipals
      operationId: servicePrincipals_UpdateAppRoleAssignedTo
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignments':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignments from servicePrincipals
      operationId: servicePrincipals_ListAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appRoleId
                - appRoleId desc
                - creationTimestamp
                - creationTimestamp desc
                - principalDisplayName
                - principalDisplayName desc
                - principalId
                - principalId desc
                - principalType
                - principalType desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of appRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Create new navigation property to appRoleAssignments for servicePrincipals
      operationId: servicePrincipals_CreateAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/appRoleAssignments/{appRoleAssignment-id}':
    get:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Get appRoleAssignments from servicePrincipals
      operationId: servicePrincipals_GetAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appRoleId
                - creationTimestamp
                - principalDisplayName
                - principalId
                - principalType
                - resourceDisplayName
                - resourceId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.appRoleAssignment
      summary: Update the navigation property appRoleAssignments in servicePrincipals
      operationId: servicePrincipals_UpdateAppRoleAssignments
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: appRoleAssignment-id
          in: path
          description: 'key: appRoleAssignment-id of appRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/createdObjects':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get createdObjects from servicePrincipals
      operationId: servicePrincipals_ListCreatedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/createdObjects/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get createdObjects from servicePrincipals
      operationId: servicePrincipals_GetCreatedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/licenseDetails':
    get:
      tags:
        - servicePrincipals.licenseDetails
      summary: Get licenseDetails from servicePrincipals
      operationId: servicePrincipals_ListLicenseDetails
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - servicePlans
                - servicePlans desc
                - skuId
                - skuId desc
                - skuPartNumber
                - skuPartNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - servicePlans
                - skuId
                - skuPartNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of licenseDetails
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.licenseDetails
      summary: Create new navigation property to licenseDetails for servicePrincipals
      operationId: servicePrincipals_CreateLicenseDetails
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/licenseDetails/{licenseDetails-id}':
    get:
      tags:
        - servicePrincipals.licenseDetails
      summary: Get licenseDetails from servicePrincipals
      operationId: servicePrincipals_GetLicenseDetails
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: licenseDetails-id
          in: path
          description: 'key: licenseDetails-id of licenseDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: licenseDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - servicePlans
                - skuId
                - skuPartNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.licenseDetails
      summary: Update the navigation property licenseDetails in servicePrincipals
      operationId: servicePrincipals_UpdateLicenseDetails
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: licenseDetails-id
          in: path
          description: 'key: licenseDetails-id of licenseDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: licenseDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/memberOf':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get memberOf from servicePrincipals
      operationId: servicePrincipals_ListMemberOf
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get memberOf from servicePrincipals
      operationId: servicePrincipals_GetMemberOf
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/oauth2PermissionGrants':
    get:
      tags:
        - servicePrincipals.oAuth2PermissionGrant
      summary: Get oauth2PermissionGrants from servicePrincipals
      operationId: servicePrincipals_ListOauth2PermissionGrants
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientId
                - clientId desc
                - consentType
                - consentType desc
                - expiryTime
                - expiryTime desc
                - principalId
                - principalId desc
                - resourceId
                - resourceId desc
                - scope
                - scope desc
                - startTime
                - startTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - expiryTime
                - principalId
                - resourceId
                - scope
                - startTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of oAuth2PermissionGrant
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/oauth2PermissionGrants/{oAuth2PermissionGrant-id}':
    get:
      tags:
        - servicePrincipals.oAuth2PermissionGrant
      summary: Get oauth2PermissionGrants from servicePrincipals
      operationId: servicePrincipals_GetOauth2PermissionGrants
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: oAuth2PermissionGrant-id
          in: path
          description: 'key: oAuth2PermissionGrant-id of oAuth2PermissionGrant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: oAuth2PermissionGrant
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - expiryTime
                - principalId
                - resourceId
                - scope
                - startTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/ownedObjects':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get ownedObjects from servicePrincipals
      operationId: servicePrincipals_ListOwnedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/ownedObjects/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get ownedObjects from servicePrincipals
      operationId: servicePrincipals_GetOwnedObjects
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/owners':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get owners from servicePrincipals
      operationId: servicePrincipals_ListOwners
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/owners/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get owners from servicePrincipals
      operationId: servicePrincipals_GetOwners
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/policies':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get policies from servicePrincipals
      operationId: servicePrincipals_ListPolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/policies/{directoryObject-id}':
    get:
      tags:
        - servicePrincipals.directoryObject
      summary: Get policies from servicePrincipals
      operationId: servicePrincipals_GetPolicies
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get synchronization from servicePrincipals
      operationId: servicePrincipals_GetSynchronization
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - secrets
                - jobs
                - templates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - templates
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.synchronization
      summary: Update the navigation property synchronization in servicePrincipals
      operationId: servicePrincipals_UpdateSynchronization
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get jobs from servicePrincipals
      operationId: servicePrincipals.synchronization_ListJobs
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - templateId
                - templateId desc
                - schedule
                - schedule desc
                - status
                - status desc
                - synchronizationJobSettings
                - synchronizationJobSettings desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - templateId
                - schedule
                - status
                - synchronizationJobSettings
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of synchronizationJob
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.synchronization
      summary: Create new navigation property to jobs for servicePrincipals
      operationId: servicePrincipals.synchronization_CreateJobs
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get jobs from servicePrincipals
      operationId: servicePrincipals.synchronization_GetJobs
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - templateId
                - schedule
                - status
                - synchronizationJobSettings
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.synchronization
      summary: Update the navigation property jobs in servicePrincipals
      operationId: servicePrincipals.synchronization_UpdateJobs
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.apply':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action apply
      operationId: servicePrincipals.synchronization.jobs_apply
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                objectId:
                  type: string
                typeName:
                  type: string
                ruleId:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.pause':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action pause
      operationId: servicePrincipals.synchronization.jobs_pause
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.restart':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action restart
      operationId: servicePrincipals.synchronization.jobs_restart
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                criteria:
                  $ref: '#/components/schemas/microsoft.graph.synchronizationJobRestartCriteria'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.start':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action start
      operationId: servicePrincipals.synchronization.jobs_start
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.stop':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action stop
      operationId: servicePrincipals.synchronization.jobs_stop
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.validateCredentials':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action validateCredentials
      operationId: servicePrincipals.synchronization.jobs_validateCredentials
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationIdentifier:
                  type: string
                  nullable: true
                templateId:
                  type: string
                  nullable: true
                useSavedCredentials:
                  type: boolean
                  default: false
                  nullable: true
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get schema from servicePrincipals
      operationId: servicePrincipals.synchronization.jobs_GetSchema
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - provisioningTaskIdentifier
                - synchronizationRules
                - version
                - directories
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directories
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.synchronization
      summary: Update the navigation property schema in servicePrincipals
      operationId: servicePrincipals.synchronization.jobs_UpdateSchema
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get directories from servicePrincipals
      operationId: servicePrincipals.synchronization.jobs.schema_ListDirectories
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - discoveryDateTime
                - discoveryDateTime desc
                - discoverabilities
                - discoverabilities desc
                - name
                - name desc
                - objects
                - objects desc
                - readOnly
                - readOnly desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - discoveryDateTime
                - discoverabilities
                - name
                - objects
                - readOnly
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.synchronization
      summary: Create new navigation property to directories for servicePrincipals
      operationId: servicePrincipals.synchronization.jobs.schema_CreateDirectories
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/{directoryDefinition-id}':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get directories from servicePrincipals
      operationId: servicePrincipals.synchronization.jobs.schema_GetDirectories
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: directoryDefinition-id
          in: path
          description: 'key: directoryDefinition-id of directoryDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - discoveryDateTime
                - discoverabilities
                - name
                - objects
                - readOnly
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.synchronization
      summary: Update the navigation property directories in servicePrincipals
      operationId: servicePrincipals.synchronization.jobs.schema_UpdateDirectories
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: directoryDefinition-id
          in: path
          description: 'key: directoryDefinition-id of directoryDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.filterOperators()':
    get:
      tags:
        - servicePrincipals.Functions
      summary: Invoke function filterOperators
      operationId: servicePrincipals.synchronization.jobs.schema_filterOperators
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.filterOperatorSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.functions()':
    get:
      tags:
        - servicePrincipals.Functions
      summary: Invoke function functions
      operationId: servicePrincipals.synchronization.jobs.schema_functions
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.parseExpression':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action parseExpression
      operationId: servicePrincipals.synchronization.jobs.schema_parseExpression
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                  nullable: true
                testInputObject:
                  $ref: '#/components/schemas/microsoft.graph.expressionInputObject'
                targetAttributeDefinition:
                  $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.parseExpressionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/jobs/microsoft.graph.validateCredentials':
    post:
      tags:
        - servicePrincipals.Actions
      summary: Invoke action validateCredentials
      operationId: servicePrincipals.synchronization.jobs_validateCredentials
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationIdentifier:
                  type: string
                  nullable: true
                templateId:
                  type: string
                  nullable: true
                useSavedCredentials:
                  type: boolean
                  default: false
                  nullable: true
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/servicePrincipals/{servicePrincipal-id}/synchronization/microsoft.graph.Ping()':
    get:
      tags:
        - servicePrincipals.Functions
      summary: Invoke function Ping
      operationId: servicePrincipals.synchronization_Ping
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/servicePrincipals/{servicePrincipal-id}/synchronization/templates':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get templates from servicePrincipals
      operationId: servicePrincipals.synchronization_ListTemplates
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - applicationId
                - applicationId desc
                - default
                - default desc
                - description
                - description desc
                - discoverable
                - discoverable desc
                - factoryTag
                - factoryTag desc
                - metadata
                - metadata desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationId
                - default
                - description
                - discoverable
                - factoryTag
                - metadata
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of synchronizationTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - servicePrincipals.synchronization
      summary: Create new navigation property to templates for servicePrincipals
      operationId: servicePrincipals.synchronization_CreateTemplates
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get templates from servicePrincipals
      operationId: servicePrincipals.synchronization_GetTemplates
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationId
                - default
                - description
                - discoverable
                - factoryTag
                - metadata
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.synchronization
      summary: Update the navigation property templates in servicePrincipals
      operationId: servicePrincipals.synchronization_UpdateTemplates
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get schema from servicePrincipals
      operationId: servicePrincipals.synchronization.templates_GetSchema
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - provisioningTaskIdentifier
                - synchronizationRules
                - version
                - directories
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directories
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - servicePrincipals.synchronization
      summary: Update the navigation property schema in servicePrincipals
      operationId: servicePrincipals.synchronization.templates_UpdateSchema
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/servicePrincipals/{servicePrincipal-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories':
    get:
      tags:
        - servicePrincipals.synchronization
      summary: Get directories from servicePrincipals
      operationId: servicePrincipals.synchronization.templates.schema_ListDirectories
      parameters:
        - name: servicePrincipal-id
          in: path
          description: 'key: servicePrincipal-id of servicePrincipal'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: servicePrincipal
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - discoveryDateTime
                - discoveryDateTime desc
                - discoverabilities
                - discoverabilities desc
                - name
                - name desc
                - objects
                - objects desc
                - readOnly
                - readOnly desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
[...]
