openapi: 3.0.1
info:
  title: Identity.OnPremisesPublishingProfiles
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /onPremisesPublishingProfiles:
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesPublishingProfile
      summary: Get entities from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile_ListOnPremisesPublishingProfile
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - isEnabled
                - isEnabled desc
                - hybridAgentUpdaterConfiguration
                - hybridAgentUpdaterConfiguration desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isEnabled
                - hybridAgentUpdaterConfiguration
                - agents
                - agentGroups
                - publishedResources
                - connectors
                - connectorGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - agentGroups
                - publishedResources
                - connectors
                - connectorGroups
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of onPremisesPublishingProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesPublishingProfile
      summary: Add new entity to onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile_CreateOnPremisesPublishingProfile
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingProfile'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesPublishingProfile
      summary: Get entity from onPremisesPublishingProfiles by key
      operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile_GetOnPremisesPublishingProfile
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - isEnabled
                - hybridAgentUpdaterConfiguration
                - agents
                - agentGroups
                - publishedResources
                - connectors
                - connectorGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - agentGroups
                - publishedResources
                - connectors
                - connectorGroups
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesPublishingProfile
      summary: Update entity in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile_UpdateOnPremisesPublishingProfile
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesPublishingProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesPublishingProfile
      summary: Delete entity from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.onPremisesPublishingProfile_DeleteOnPremisesPublishingProfile
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_ListAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - publishingType
                - publishingType desc
                - isDefault
                - isDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgentGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Create new navigation property to agentGroups for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_CreateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_GetAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Update the navigation property agentGroups in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_UpdateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Delete navigation property agentGroups for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_DeleteAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/agents':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agents from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_ListAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - machineName
                - machineName desc
                - externalIp
                - externalIp desc
                - status
                - status desc
                - supportedPublishingTypes
                - supportedPublishingTypes desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - machineName
                - externalIp
                - status
                - supportedPublishingTypes
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Create new navigation property to agents for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_CreateAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/agents/{onPremisesAgent-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agents from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_GetAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - machineName
                - externalIp
                - status
                - supportedPublishingTypes
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Update the navigation property agents in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_UpdateAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Delete navigation property agents for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_DeleteAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/agents/{onPremisesAgent-id}/agentGroups':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups.agents_ListAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - publishingType
                - publishingType desc
                - isDefault
                - isDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgentGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Create new navigation property to agentGroups for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups.agents_CreateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/agents/{onPremisesAgent-id}/agentGroups/{onPremisesAgentGroup-id1}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups.agents_GetAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id1
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Update the navigation property agentGroups in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups.agents_UpdateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id1
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Delete navigation property agentGroups for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups.agents_DeleteAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id1
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/publishedResources':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get publishedResources from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_ListPublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - resourceName
                - resourceName desc
                - publishingType
                - publishingType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resourceName
                - publishingType
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of publishedResource
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.publishedResource'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Create new navigation property to publishedResources for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_CreatePublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.publishedResource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.publishedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/publishedResources/{publishedResource-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get publishedResources from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_GetPublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resourceName
                - publishingType
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.publishedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Update the navigation property publishedResources in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_UpdatePublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.publishedResource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Delete navigation property publishedResources for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups_DeletePublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/publishedResources/{publishedResource-id}/agentGroups':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups.publishedResources_ListAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - publishingType
                - publishingType desc
                - isDefault
                - isDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgentGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Create new navigation property to agentGroups for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups.publishedResources_CreateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agentGroups/{onPremisesAgentGroup-id}/publishedResources/{publishedResource-id}/agentGroups/{onPremisesAgentGroup-id1}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups.publishedResources_GetAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - name: onPremisesAgentGroup-id1
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Update the navigation property agentGroups in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups.publishedResources_UpdateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - name: onPremisesAgentGroup-id1
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgentGroup
      summary: Delete navigation property agentGroups for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agentGroups.publishedResources_DeleteAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - name: onPremisesAgentGroup-id1
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agents from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_ListAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - machineName
                - machineName desc
                - externalIp
                - externalIp desc
                - status
                - status desc
                - supportedPublishingTypes
                - supportedPublishingTypes desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - machineName
                - externalIp
                - status
                - supportedPublishingTypes
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Create new navigation property to agents for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_CreateAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agents from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_GetAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - machineName
                - externalIp
                - status
                - supportedPublishingTypes
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Update the navigation property agents in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_UpdateAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Delete navigation property agents for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles_DeleteAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}/agentGroups':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents_ListAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - publishingType
                - publishingType desc
                - isDefault
                - isDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgentGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Create new navigation property to agentGroups for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents_CreateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}/agentGroups/{onPremisesAgentGroup-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents_GetAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Update the navigation property agentGroups in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents_UpdateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Delete navigation property agentGroups for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents_DeleteAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}/agentGroups/{onPremisesAgentGroup-id}/agents':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agents from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups_ListAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - machineName
                - machineName desc
                - externalIp
                - externalIp desc
                - status
                - status desc
                - supportedPublishingTypes
                - supportedPublishingTypes desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - machineName
                - externalIp
                - status
                - supportedPublishingTypes
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Create new navigation property to agents for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups_CreateAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}/agentGroups/{onPremisesAgentGroup-id}/agents/{onPremisesAgent-id1}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agents from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups_GetAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id1
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - machineName
                - externalIp
                - status
                - supportedPublishingTypes
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Update the navigation property agents in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups_UpdateAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id1
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Delete navigation property agents for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups_DeleteAgents
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: onPremisesAgent-id1
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}/agentGroups/{onPremisesAgentGroup-id}/publishedResources':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get publishedResources from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups_ListPublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - resourceName
                - resourceName desc
                - publishingType
                - publishingType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resourceName
                - publishingType
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of publishedResource
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.publishedResource'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Create new navigation property to publishedResources for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups_CreatePublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.publishedResource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.publishedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}/agentGroups/{onPremisesAgentGroup-id}/publishedResources/{publishedResource-id}':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get publishedResources from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups_GetPublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resourceName
                - publishingType
                - agentGroups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agentGroups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.publishedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Update the navigation property publishedResources in onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups_UpdatePublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.publishedResource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Delete navigation property publishedResources for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups_DeletePublishedResources
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/onPremisesPublishingProfiles/{onPremisesPublishingProfile-id}/agents/{onPremisesAgent-id}/agentGroups/{onPremisesAgentGroup-id}/publishedResources/{publishedResource-id}/agentGroups':
    get:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Get agentGroups from onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups.publishedResources_ListAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - publishingType
                - publishingType desc
                - isDefault
                - isDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - publishingType
                - isDefault
                - agents
                - publishedResources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - agents
                - publishedResources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onPremisesAgentGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - onPremisesPublishingProfiles.onPremisesAgent
      summary: Create new navigation property to agentGroups for onPremisesPublishingProfiles
      operationId: onPremisesPublishingProfiles.agents.agentGroups.publishedResources_CreateAgentGroups
      parameters:
        - name: onPremisesPublishingProfile-id
          in: path
          description: 'key: id of onPremisesPublishingProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesPublishingProfile
        - name: onPremisesAgent-id
          in: path
          description: 'key: id of onPremisesAgent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgent
        - name: onPremisesAgentGroup-id
          in: path
          description: 'key: id of onPremisesAgentGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onPremisesAgentGroup
        - name: publishedResource-id
          in: path
          description: 'key: id of publishedResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: publishedResource
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesAgentGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
[...]
