openapi: 3.0.1
info:
  title: Identity.ConditionalAccess
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /conditionalAccess/namedLocations:
    get:
      tags:
        - conditionalAccess.namedLocation
      summary: Get namedLocations from conditionalAccess
      operationId: conditionalAccess_ListNamedLocations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - createdDateTime
                - createdDateTime desc
                - modifiedDateTime
                - modifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - createdDateTime
                - modifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of namedLocation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.namedLocation'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - conditionalAccess.namedLocation
      summary: Create new navigation property to namedLocations for conditionalAccess
      operationId: conditionalAccess_CreateNamedLocations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.namedLocation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/conditionalAccess/namedLocations/{namedLocation-id}':
    get:
      tags:
        - conditionalAccess.namedLocation
      summary: Get namedLocations from conditionalAccess
      operationId: conditionalAccess_GetNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: namedLocation-id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - createdDateTime
                - modifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - conditionalAccess.namedLocation
      summary: Update the navigation property namedLocations in conditionalAccess
      operationId: conditionalAccess_UpdateNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: namedLocation-id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.namedLocation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /conditionalAccess/policies:
    get:
      tags:
        - conditionalAccess.conditionalAccessPolicy
      summary: Get policies from conditionalAccess
      operationId: conditionalAccess_ListPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - modifiedDateTime
                - modifiedDateTime desc
                - displayName
                - displayName desc
                - description
                - description desc
                - state
                - state desc
                - conditions
                - conditions desc
                - grantControls
                - grantControls desc
                - sessionControls
                - sessionControls desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - modifiedDateTime
                - displayName
                - description
                - state
                - conditions
                - grantControls
                - sessionControls
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of conditionalAccessPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - conditionalAccess.conditionalAccessPolicy
      summary: Create new navigation property to policies for conditionalAccess
      operationId: conditionalAccess_CreatePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/conditionalAccess/policies/{conditionalAccessPolicy-id}':
    get:
      tags:
        - conditionalAccess.conditionalAccessPolicy
      summary: Get policies from conditionalAccess
      operationId: conditionalAccess_GetPolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: conditionalAccessPolicy-id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - modifiedDateTime
                - displayName
                - description
                - state
                - conditions
                - grantControls
                - sessionControls
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - conditionalAccess.conditionalAccessPolicy
      summary: Update the navigation property policies in conditionalAccess
      operationId: conditionalAccess_UpdatePolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: conditionalAccessPolicy-id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.namedLocation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: namedLocation
          type: object
          properties:
            displayName:
              type: string
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            modifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
      example:
        id: string (identifier)
        displayName: string
        createdDateTime: string (timestamp)
        modifiedDateTime: string (timestamp)
    microsoft.graph.conditionalAccessPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: conditionalAccessPolicy
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            modifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            displayName:
              type: string
            description:
              type: string
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicyState'
            conditions:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessConditionSet'
            grantControls:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessGrantControls'
            sessionControls:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControls'
      example:
        id: string (identifier)
        createdDateTime: string (timestamp)
        modifiedDateTime: string (timestamp)
        displayName: string
        description: string
        state:
          '@odata.type': microsoft.graph.conditionalAccessPolicyState
        conditions:
          '@odata.type': microsoft.graph.conditionalAccessConditionSet
        grantControls:
          '@odata.type': microsoft.graph.conditionalAccessGrantControls
        sessionControls:
          '@odata.type': microsoft.graph.conditionalAccessSessionControls
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    microsoft.graph.conditionalAccessPolicyState:
      title: conditionalAccessPolicyState
      enum:
        - enabled
        - disabled
        - enabledForReportingButNotEnforced
      type: string
    microsoft.graph.conditionalAccessConditionSet:
      title: conditionalAccessConditionSet
      type: object
      properties:
        applications:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessApplications'
        users:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessUsers'
        signInRiskLevels:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.riskLevel'
        platforms:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessPlatforms'
        locations:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessLocations'
        clientAppTypes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessClientApp'
        deviceStates:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessDeviceStates'
        devices:
          $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevices'
      example:
        applications:
          '@odata.type': microsoft.graph.conditionalAccessApplications
        users:
          '@odata.type': microsoft.graph.conditionalAccessUsers
        signInRiskLevels:
          - '@odata.type': microsoft.graph.riskLevel
        platforms:
          '@odata.type': microsoft.graph.conditionalAccessPlatforms
        locations:
          '@odata.type': microsoft.graph.conditionalAccessLocations
        clientAppTypes:
          - '@odata.type': microsoft.graph.conditionalAccessClientApp
        deviceStates:
          '@odata.type': microsoft.graph.conditionalAccessDeviceStates
        devices:
          '@odata.type': microsoft.graph.conditionalAccessDevices
    microsoft.graph.conditionalAccessGrantControls:
      title: conditionalAccessGrantControls
      type: object
      properties:
        operator:
          type: string
          nullable: true
        builtInControls:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessGrantControl'
        customAuthenticationFactors:
          type: array
          items:
            type: string
        termsOfUse:
          type: array
          items:
            type: string
      example:
        operator: string
        builtInControls:
          - '@odata.type': microsoft.graph.conditionalAccessGrantControl
        customAuthenticationFactors:
          - string
        termsOfUse:
          - string
    microsoft.graph.conditionalAccessSessionControls:
      title: conditionalAccessSessionControls
      type: object
      properties:
        applicationEnforcedRestrictions:
          $ref: '#/components/schemas/microsoft.graph.applicationEnforcedRestrictionsSessionControl'
        cloudAppSecurity:
          $ref: '#/components/schemas/microsoft.graph.cloudAppSecuritySessionControl'
        signInFrequency:
          $ref: '#/components/schemas/microsoft.graph.signInFrequencySessionControl'
        persistentBrowser:
          $ref: '#/components/schemas/microsoft.graph.persistentBrowserSessionControl'
      example:
        applicationEnforcedRestrictions:
          '@odata.type': microsoft.graph.applicationEnforcedRestrictionsSessionControl
        cloudAppSecurity:
          '@odata.type': microsoft.graph.cloudAppSecuritySessionControl
        signInFrequency:
          '@odata.type': microsoft.graph.signInFrequencySessionControl
        persistentBrowser:
          '@odata.type': microsoft.graph.persistentBrowserSessionControl
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.conditionalAccessApplications:
      title: conditionalAccessApplications
      type: object
      properties:
        includeApplications:
          type: array
          items:
            type: string
        excludeApplications:
          type: array
          items:
            type: string
        includeUserActions:
          type: array
          items:
            type: string
      example:
        includeApplications:
          - string
        excludeApplications:
          - string
        includeUserActions:
          - string
    microsoft.graph.conditionalAccessUsers:
      title: conditionalAccessUsers
      type: object
      properties:
        includeUsers:
          type: array
          items:
            type: string
        excludeUsers:
          type: array
          items:
            type: string
        includeGroups:
          type: array
          items:
            type: string
        excludeGroups:
          type: array
          items:
            type: string
        includeRoles:
          type: array
          items:
            type: string
        excludeRoles:
          type: array
          items:
            type: string
      example:
        includeUsers:
          - string
        excludeUsers:
          - string
        includeGroups:
          - string
        excludeGroups:
          - string
        includeRoles:
          - string
        excludeRoles:
          - string
    microsoft.graph.riskLevel:
      title: riskLevel
      enum:
        - low
        - medium
        - high
        - hidden
        - none
        - unknownFutureValue
      type: string
    microsoft.graph.conditionalAccessPlatforms:
      title: conditionalAccessPlatforms
      type: object
      properties:
        includePlatforms:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevicePlatform'
        excludePlatforms:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conditionalAccessDevicePlatform'
      example:
        includePlatforms:
          - '@odata.type': microsoft.graph.conditionalAccessDevicePlatform
        excludePlatforms:
          - '@odata.type': microsoft.graph.conditionalAccessDevicePlatform
    microsoft.graph.conditionalAccessLocations:
      title: conditionalAccessLocations
      type: object
      properties:
        includeLocations:
          type: array
          items:
            type: string
        excludeLocations:
          type: array
          items:
            type: string
      example:
        includeLocations:
          - string
        excludeLocations:
          - string
    microsoft.graph.conditionalAccessClientApp:
      title: conditionalAccessClientApp
      enum:
        - all
        - browser
        - modern
        - mobileAppsAndDesktopClients
        - exchangeActiveSync
        - easSupported
        - easUnsupported
        - other
      type: string
    microsoft.graph.conditionalAccessDeviceStates:
      title: conditionalAccessDeviceStates
      type: object
      properties:
        includeStates:
          type: array
          items:
            type: string
        excludeStates:
          type: array
          items:
            type: string
      example:
        includeStates:
          - string
        excludeStates:
          - string
    microsoft.graph.conditionalAccessDevices:
      title: conditionalAccessDevices
      type: object
      properties:
        includeDeviceStates:
          type: array
          items:
            type: string
        excludeDeviceStates:
          type: array
          items:
            type: string
      example:
        includeDeviceStates:
          - string
        excludeDeviceStates:
          - string
    microsoft.graph.conditionalAccessGrantControl:
      title: conditionalAccessGrantControl
      enum:
        - block
        - mfa
        - compliantDevice
        - domainJoinedDevice
        - approvedApplication
        - compliantApplication
      type: string
    microsoft.graph.applicationEnforcedRestrictionsSessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: applicationEnforcedRestrictionsSessionControl
          type: object
      example:
        isEnabled: true
    microsoft.graph.cloudAppSecuritySessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: cloudAppSecuritySessionControl
          type: object
          properties:
            cloudAppSecurityType:
              $ref: '#/components/schemas/microsoft.graph.cloudAppSecuritySessionControlType'
      example:
        isEnabled: true
        cloudAppSecurityType:
          '@odata.type': microsoft.graph.cloudAppSecuritySessionControlType
    microsoft.graph.signInFrequencySessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: signInFrequencySessionControl
          type: object
          properties:
            value:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            type:
              $ref: '#/components/schemas/microsoft.graph.signinFrequencyType'
      example:
        isEnabled: true
        value: integer
        type:
          '@odata.type': microsoft.graph.signinFrequencyType
    microsoft.graph.persistentBrowserSessionControl:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.conditionalAccessSessionControl'
        - title: persistentBrowserSessionControl
          type: object
          properties:
            mode:
              $ref: '#/components/schemas/microsoft.graph.persistentBrowserSessionMode'
      example:
        isEnabled: true
        mode:
          '@odata.type': microsoft.graph.persistentBrowserSessionMode
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    microsoft.graph.conditionalAccessDevicePlatform:
      title: conditionalAccessDevicePlatform
      enum:
        - android
        - iOS
        - windows
        - windowsPhone
        - macOS
        - all
      type: string
    microsoft.graph.conditionalAccessSessionControl:
      title: conditionalAccessSessionControl
      type: object
      properties:
        isEnabled:
          type: boolean
          nullable: true
      example:
        isEnabled: true
    microsoft.graph.cloudAppSecuritySessionControlType:
      title: cloudAppSecuritySessionControlType
      enum:
        - mcasConfigured
        - monitorOnly
        - blockDownloads
      type: string
    microsoft.graph.signinFrequencyType:
      title: signinFrequencyType
      enum:
        - days
        - hours
      type: string
    microsoft.graph.persistentBrowserSessionMode:
      title: persistentBrowserSessionMode
      enum:
        - always
        - never
      type: string
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]