openapi: 3.0.1
info:
  title: Identity.Application
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /applications:
    get:
      tags:
        - applications.application
      summary: Get entities from applications
      operationId: applications.application_ListApplication
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - api
                - api desc
                - appId
                - appId desc
                - appRoles
                - appRoles desc
                - createdDateTime
                - createdDateTime desc
                - isFallbackPublicClient
                - isFallbackPublicClient desc
                - identifierUris
                - identifierUris desc
                - displayName
                - displayName desc
                - groupMembershipClaims
                - groupMembershipClaims desc
                - info
                - info desc
                - isDeviceOnlyAuthSupported
                - isDeviceOnlyAuthSupported desc
                - keyCredentials
                - keyCredentials desc
                - logo
                - logo desc
                - optionalClaims
                - optionalClaims desc
                - parentalControlSettings
                - parentalControlSettings desc
                - passwordCredentials
                - passwordCredentials desc
                - publicClient
                - publicClient desc
                - publisherDomain
                - publisherDomain desc
                - requiredResourceAccess
                - requiredResourceAccess desc
                - signInAudience
                - signInAudience desc
                - tags
                - tags desc
                - tokenEncryptionKeyId
                - tokenEncryptionKeyId desc
                - web
                - web desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - api
                - appId
                - appRoles
                - createdDateTime
                - isFallbackPublicClient
                - identifierUris
                - displayName
                - groupMembershipClaims
                - info
                - isDeviceOnlyAuthSupported
                - keyCredentials
                - logo
                - optionalClaims
                - parentalControlSettings
                - passwordCredentials
                - publicClient
                - publisherDomain
                - requiredResourceAccess
                - signInAudience
                - tags
                - tokenEncryptionKeyId
                - web
                - extensionProperties
                - claimsMappingPolicies
                - createdOnBehalfOf
                - owners
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensionProperties
                - claimsMappingPolicies
                - createdOnBehalfOf
                - owners
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of application
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.application'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.application
      summary: Add new entity to applications
      operationId: applications.application_CreateApplication
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.application'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}':
    get:
      tags:
        - applications.application
      summary: Get entity from applications by key
      operationId: applications.application_GetApplication
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - api
                - appId
                - appRoles
                - createdDateTime
                - isFallbackPublicClient
                - identifierUris
                - displayName
                - groupMembershipClaims
                - info
                - isDeviceOnlyAuthSupported
                - keyCredentials
                - logo
                - optionalClaims
                - parentalControlSettings
                - passwordCredentials
                - publicClient
                - publisherDomain
                - requiredResourceAccess
                - signInAudience
                - tags
                - tokenEncryptionKeyId
                - web
                - extensionProperties
                - claimsMappingPolicies
                - createdOnBehalfOf
                - owners
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensionProperties
                - claimsMappingPolicies
                - createdOnBehalfOf
                - owners
                - homeRealmDiscoveryPolicies
                - tokenIssuancePolicies
                - tokenLifetimePolicies
                - synchronization
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
          links:
            extensionProperties:
              operationId: applications.application.GetApplication
              parameters:
                id: $request.path.id
            claimsMappingPolicies:
              operationId: applications.application.GetApplication
              parameters:
                id: $request.path.id
            createdOnBehalfOf:
              operationId: applications.application.GetApplication
              parameters:
                id: $request.path.id
            owners:
              operationId: applications.application.GetApplication
              parameters:
                id: $request.path.id
            homeRealmDiscoveryPolicies:
              operationId: applications.application.GetApplication
              parameters:
                id: $request.path.id
            tokenIssuancePolicies:
              operationId: applications.application.GetApplication
              parameters:
                id: $request.path.id
            tokenLifetimePolicies:
              operationId: applications.application.GetApplication
              parameters:
                id: $request.path.id
            synchronization:
              operationId: applications.application.GetApplication
              parameters:
                id: $request.path.id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.application
      summary: Update entity in applications
      operationId: applications.application_UpdateApplication
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.application'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - applications.application
      summary: Delete entity from applications
      operationId: applications.application_DeleteApplication
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/claimsMappingPolicies':
    get:
      tags:
        - applications.claimsMappingPolicy
      summary: Get claimsMappingPolicies from applications
      operationId: applications_ListClaimsMappingPolicies
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of claimsMappingPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/claimsMappingPolicies/{claimsMappingPolicy-id}':
    get:
      tags:
        - applications.claimsMappingPolicy
      summary: Get claimsMappingPolicies from applications
      operationId: applications_GetClaimsMappingPolicies
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: claimsMappingPolicy-id
          in: path
          description: 'key: claimsMappingPolicy-id of claimsMappingPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: claimsMappingPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/createdOnBehalfOf':
    get:
      tags:
        - applications.directoryObject
      summary: Get createdOnBehalfOf from applications
      operationId: applications_GetCreatedOnBehalfOf
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/extensionProperties':
    get:
      tags:
        - applications.extensionProperty
      summary: Get extensionProperties from applications
      operationId: applications_ListExtensionProperties
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - appDisplayName
                - appDisplayName desc
                - name
                - name desc
                - dataType
                - dataType desc
                - isSyncedFromOnPremises
                - isSyncedFromOnPremises desc
                - targetObjects
                - targetObjects desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - appDisplayName
                - name
                - dataType
                - isSyncedFromOnPremises
                - targetObjects
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extensionProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.extensionProperty
      summary: Create new navigation property to extensionProperties for applications
      operationId: applications_CreateExtensionProperties
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/extensionProperties/{extensionProperty-id}':
    get:
      tags:
        - applications.extensionProperty
      summary: Get extensionProperties from applications
      operationId: applications_GetExtensionProperties
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: extensionProperty-id
          in: path
          description: 'key: extensionProperty-id of extensionProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extensionProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - appDisplayName
                - name
                - dataType
                - isSyncedFromOnPremises
                - targetObjects
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.extensionProperty
      summary: Update the navigation property extensionProperties in applications
      operationId: applications_UpdateExtensionProperties
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: extensionProperty-id
          in: path
          description: 'key: extensionProperty-id of extensionProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extensionProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/homeRealmDiscoveryPolicies':
    get:
      tags:
        - applications.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from applications
      operationId: applications_ListHomeRealmDiscoveryPolicies
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of homeRealmDiscoveryPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/homeRealmDiscoveryPolicies/{homeRealmDiscoveryPolicy-id}':
    get:
      tags:
        - applications.homeRealmDiscoveryPolicy
      summary: Get homeRealmDiscoveryPolicies from applications
      operationId: applications_GetHomeRealmDiscoveryPolicies
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: homeRealmDiscoveryPolicy-id
          in: path
          description: 'key: homeRealmDiscoveryPolicy-id of homeRealmDiscoveryPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: homeRealmDiscoveryPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/microsoft.graph.addKey':
    post:
      tags:
        - applications.Actions
      summary: Invoke action addKey
      operationId: applications_addKey
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keyCredential:
                  $ref: '#/components/schemas/microsoft.graph.keyCredential'
                passwordCredential:
                  $ref: '#/components/schemas/microsoft.graph.passwordCredential'
                proof:
                  type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.keyCredential'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.addPassword':
    post:
      tags:
        - applications.Actions
      summary: Invoke action addPassword
      operationId: applications_addPassword
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                passwordCredential:
                  $ref: '#/components/schemas/microsoft.graph.passwordCredential'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordCredential'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - applications.Actions
      summary: Invoke action checkMemberGroups
      operationId: applications_checkMemberGroups
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - applications.Actions
      summary: Invoke action checkMemberObjects
      operationId: applications_checkMemberObjects
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - applications.Actions
      summary: Invoke action getMemberGroups
      operationId: applications_getMemberGroups
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - applications.Actions
      summary: Invoke action getMemberObjects
      operationId: applications_getMemberObjects
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.removeKey':
    post:
      tags:
        - applications.Actions
      summary: Invoke action removeKey
      operationId: applications_removeKey
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                proof:
                  type: string
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.removePassword':
    post:
      tags:
        - applications.Actions
      summary: Invoke action removePassword
      operationId: applications_removePassword
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/microsoft.graph.restore':
    post:
      tags:
        - applications.Actions
      summary: Invoke action restore
      operationId: applications_restore
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/owners':
    get:
      tags:
        - applications.directoryObject
      summary: Get owners from applications
      operationId: applications_ListOwners
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/owners/{directoryObject-id}':
    get:
      tags:
        - applications.directoryObject
      summary: Get owners from applications
      operationId: applications_GetOwners
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: directoryObject-id
          in: path
          description: 'key: directoryObject-id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization':
    get:
      tags:
        - applications.synchronization
      summary: Get synchronization from applications
      operationId: applications_GetSynchronization
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - secrets
                - jobs
                - templates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - jobs
                - templates
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property synchronization in applications
      operationId: applications_UpdateSynchronization
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronization'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs':
    get:
      tags:
        - applications.synchronization
      summary: Get jobs from applications
      operationId: applications.synchronization_ListJobs
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - templateId
                - templateId desc
                - schedule
                - schedule desc
                - status
                - status desc
                - synchronizationJobSettings
                - synchronizationJobSettings desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - templateId
                - schedule
                - status
                - synchronizationJobSettings
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of synchronizationJob
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.synchronization
      summary: Create new navigation property to jobs for applications
      operationId: applications.synchronization_CreateJobs
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}':
    get:
      tags:
        - applications.synchronization
      summary: Get jobs from applications
      operationId: applications.synchronization_GetJobs
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - templateId
                - schedule
                - status
                - synchronizationJobSettings
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property jobs in applications
      operationId: applications.synchronization_UpdateJobs
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.apply':
    post:
      tags:
        - applications.Actions
      summary: Invoke action apply
      operationId: applications.synchronization.jobs_apply
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                objectId:
                  type: string
                typeName:
                  type: string
                ruleId:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.pause':
    post:
      tags:
        - applications.Actions
      summary: Invoke action pause
      operationId: applications.synchronization.jobs_pause
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.restart':
    post:
      tags:
        - applications.Actions
      summary: Invoke action restart
      operationId: applications.synchronization.jobs_restart
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                criteria:
                  $ref: '#/components/schemas/microsoft.graph.synchronizationJobRestartCriteria'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.start':
    post:
      tags:
        - applications.Actions
      summary: Invoke action start
      operationId: applications.synchronization.jobs_start
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.stop':
    post:
      tags:
        - applications.Actions
      summary: Invoke action stop
      operationId: applications.synchronization.jobs_stop
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.validateCredentials':
    post:
      tags:
        - applications.Actions
      summary: Invoke action validateCredentials
      operationId: applications.synchronization.jobs_validateCredentials
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationIdentifier:
                  type: string
                  nullable: true
                templateId:
                  type: string
                  nullable: true
                useSavedCredentials:
                  type: boolean
                  default: false
                  nullable: true
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema':
    get:
      tags:
        - applications.synchronization
      summary: Get schema from applications
      operationId: applications.synchronization.jobs_GetSchema
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - provisioningTaskIdentifier
                - synchronizationRules
                - version
                - directories
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directories
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property schema in applications
      operationId: applications.synchronization.jobs_UpdateSchema
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories':
    get:
      tags:
        - applications.synchronization
      summary: Get directories from applications
      operationId: applications.synchronization.jobs.schema_ListDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - discoveryDateTime
                - discoveryDateTime desc
                - discoverabilities
                - discoverabilities desc
                - name
                - name desc
                - objects
                - objects desc
                - readOnly
                - readOnly desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - discoveryDateTime
                - discoverabilities
                - name
                - objects
                - readOnly
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.synchronization
      summary: Create new navigation property to directories for applications
      operationId: applications.synchronization.jobs.schema_CreateDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/{directoryDefinition-id}':
    get:
      tags:
        - applications.synchronization
      summary: Get directories from applications
      operationId: applications.synchronization.jobs.schema_GetDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: directoryDefinition-id
          in: path
          description: 'key: directoryDefinition-id of directoryDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - discoveryDateTime
                - discoverabilities
                - name
                - objects
                - readOnly
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property directories in applications
      operationId: applications.synchronization.jobs.schema_UpdateDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
        - name: directoryDefinition-id
          in: path
          description: 'key: directoryDefinition-id of directoryDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.filterOperators()':
    get:
      tags:
        - applications.Functions
      summary: Invoke function filterOperators
      operationId: applications.synchronization.jobs.schema_filterOperators
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.filterOperatorSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.functions()':
    get:
      tags:
        - applications.Functions
      summary: Invoke function functions
      operationId: applications.synchronization.jobs.schema_functions
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.parseExpression':
    post:
      tags:
        - applications.Actions
      summary: Invoke action parseExpression
      operationId: applications.synchronization.jobs.schema_parseExpression
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationJob-id
          in: path
          description: 'key: synchronizationJob-id of synchronizationJob'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                  nullable: true
                testInputObject:
                  $ref: '#/components/schemas/microsoft.graph.expressionInputObject'
                targetAttributeDefinition:
                  $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.parseExpressionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/jobs/microsoft.graph.validateCredentials':
    post:
      tags:
        - applications.Actions
      summary: Invoke action validateCredentials
      operationId: applications.synchronization.jobs_validateCredentials
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationIdentifier:
                  type: string
                  nullable: true
                templateId:
                  type: string
                  nullable: true
                useSavedCredentials:
                  type: boolean
                  default: false
                  nullable: true
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/synchronization/microsoft.graph.Ping()':
    get:
      tags:
        - applications.Functions
      summary: Invoke function Ping
      operationId: applications.synchronization_Ping
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/applications/{application-id}/synchronization/templates':
    get:
      tags:
        - applications.synchronization
      summary: Get templates from applications
      operationId: applications.synchronization_ListTemplates
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - applicationId
                - applicationId desc
                - default
                - default desc
                - description
                - description desc
                - discoverable
                - discoverable desc
                - factoryTag
                - factoryTag desc
                - metadata
                - metadata desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationId
                - default
                - description
                - discoverable
                - factoryTag
                - metadata
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of synchronizationTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.synchronization
      summary: Create new navigation property to templates for applications
      operationId: applications.synchronization_CreateTemplates
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}':
    get:
      tags:
        - applications.synchronization
      summary: Get templates from applications
      operationId: applications.synchronization_GetTemplates
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationId
                - default
                - description
                - discoverable
                - factoryTag
                - metadata
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property templates in applications
      operationId: applications.synchronization_UpdateTemplates
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema':
    get:
      tags:
        - applications.synchronization
      summary: Get schema from applications
      operationId: applications.synchronization.templates_GetSchema
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - provisioningTaskIdentifier
                - synchronizationRules
                - version
                - directories
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directories
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property schema in applications
      operationId: applications.synchronization.templates_UpdateSchema
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories':
    get:
      tags:
        - applications.synchronization
      summary: Get directories from applications
      operationId: applications.synchronization.templates.schema_ListDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - discoveryDateTime
                - discoveryDateTime desc
                - discoverabilities
                - discoverabilities desc
                - name
                - name desc
                - objects
                - objects desc
                - readOnly
                - readOnly desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - discoveryDateTime
                - discoverabilities
                - name
                - objects
                - readOnly
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - applications.synchronization
      summary: Create new navigation property to directories for applications
      operationId: applications.synchronization.templates.schema_CreateDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories/{directoryDefinition-id}':
    get:
      tags:
        - applications.synchronization
      summary: Get directories from applications
      operationId: applications.synchronization.templates.schema_GetDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - name: directoryDefinition-id
          in: path
          description: 'key: directoryDefinition-id of directoryDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - discoveryDateTime
                - discoverabilities
                - name
                - objects
                - readOnly
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - applications.synchronization
      summary: Update the navigation property directories in applications
      operationId: applications.synchronization.templates.schema_UpdateDirectories
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
        - name: directoryDefinition-id
          in: path
          description: 'key: directoryDefinition-id of directoryDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/microsoft.graph.filterOperators()':
    get:
      tags:
        - applications.Functions
      summary: Invoke function filterOperators
      operationId: applications.synchronization.templates.schema_filterOperators
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.filterOperatorSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/microsoft.graph.functions()':
    get:
      tags:
        - applications.Functions
      summary: Invoke function functions
      operationId: applications.synchronization.templates.schema_functions
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/microsoft.graph.parseExpression':
    post:
      tags:
        - applications.Actions
      summary: Invoke action parseExpression
      operationId: applications.synchronization.templates.schema_parseExpression
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: synchronizationTemplate-id
          in: path
          description: 'key: synchronizationTemplate-id of synchronizationTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                  nullable: true
                testInputObject:
                  $ref: '#/components/schemas/microsoft.graph.expressionInputObject'
                targetAttributeDefinition:
                  $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.parseExpressionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/applications/{application-id}/tokenIssuancePolicies':
    get:
      tags:
        - applications.tokenIssuancePolicy
      summary: Get tokenIssuancePolicies from applications
      operationId: applications_ListTokenIssuancePolicies
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - definition
                - definition desc
                - isOrganizationDefault
                - isOrganizationDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of tokenIssuancePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/tokenIssuancePolicies/{tokenIssuancePolicy-id}':
    get:
      tags:
        - applications.tokenIssuancePolicy
      summary: Get tokenIssuancePolicies from applications
      operationId: applications_GetTokenIssuancePolicies
      parameters:
        - name: application-id
          in: path
          description: 'key: application-id of application'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: application
        - name: tokenIssuancePolicy-id
          in: path
          description: 'key: tokenIssuancePolicy-id of tokenIssuancePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: tokenIssuancePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - definition
                - isOrganizationDefault
                - appliesTo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appliesTo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/applications/{application-id}/tokenLifetimePolicies':
    get:
      tags:
        - applications.tokenLifetimePolicy
      summary: Get tokenLifetimePolicies from applications
      operationId: applications_ListTokenLifetimePolicies
[...]
