openapi: 3.0.1
info:
  title: Mail
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/inferenceClassification':
    get:
      tags:
        - users.inferenceClassification
      summary: Get inferenceClassification from users
      operationId: users_GetInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - overrides
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - overrides
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
          links:
            overrides:
              operationId: users.InferenceClassification.ListOverrides
              parameters:
                user-id: $request.path.user-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.inferenceClassification
      summary: Update the navigation property inferenceClassification in users
      operationId: users_UpdateInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.inferenceClassification
      summary: Delete navigation property inferenceClassification for users
      operationId: users_DeleteInferenceClassification
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides':
    get:
      tags:
        - users.inferenceClassification
      summary: Get overrides from users
      operationId: users.inferenceClassification_ListOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - classifyAs
                - classifyAs desc
                - senderEmailAddress
                - senderEmailAddress desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classifyAs
                - senderEmailAddress
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of inferenceClassificationOverride
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.inferenceClassification
      summary: Create new navigation property to overrides for users
      operationId: users.inferenceClassification_CreateOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/inferenceClassification/overrides/{inferenceClassificationOverride-id}':
    get:
      tags:
        - users.inferenceClassification
      summary: Get overrides from users
      operationId: users.inferenceClassification_GetOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: 'key: id of inferenceClassificationOverride'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classifyAs
                - senderEmailAddress
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.inferenceClassification
      summary: Update the navigation property overrides in users
      operationId: users.inferenceClassification_UpdateOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: 'key: id of inferenceClassificationOverride'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationOverride'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.inferenceClassification
      summary: Delete navigation property overrides for users
      operationId: users.inferenceClassification_DeleteOverrides
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: inferenceClassificationOverride-id
          in: path
          description: 'key: id of inferenceClassificationOverride'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: inferenceClassificationOverride
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders':
    get:
      tags:
        - users.mailFolder
      summary: Get mailFolders from users
      operationId: users_ListMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - childFolderCount
                - childFolderCount desc
                - displayName
                - displayName desc
                - parentFolderId
                - parentFolderId desc
                - totalItemCount
                - totalItemCount desc
                - unreadItemCount
                - unreadItemCount desc
                - wellKnownName
                - wellKnownName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - wellKnownName
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
                - userConfigurations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
                - userConfigurations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of mailFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.mailFolder'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to mailFolders for users
      operationId: users_CreateMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get mailFolders from users
      operationId: users_GetMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - wellKnownName
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
                - userConfigurations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
                - userConfigurations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
          links:
            childFolders:
              operationId: users.MailFolders.ListChildFolders
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
            messageRules:
              operationId: users.MailFolders.ListMessageRules
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
            messages:
              operationId: users.MailFolders.ListMessages
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
            multiValueExtendedProperties:
              operationId: users.MailFolders.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
            singleValueExtendedProperties:
              operationId: users.MailFolders.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
            userConfigurations:
              operationId: users.MailFolders.ListUserConfigurations
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property mailFolders in users
      operationId: users_UpdateMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property mailFolders for users
      operationId: users_DeleteMailFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders':
    get:
      tags:
        - users.mailFolder
      summary: Get childFolders from users
      operationId: users.mailFolders_ListChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - childFolderCount
                - childFolderCount desc
                - displayName
                - displayName desc
                - parentFolderId
                - parentFolderId desc
                - totalItemCount
                - totalItemCount desc
                - unreadItemCount
                - unreadItemCount desc
                - wellKnownName
                - wellKnownName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - wellKnownName
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
                - userConfigurations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
                - userConfigurations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of mailFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.mailFolder'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to childFolders for users
      operationId: users.mailFolders_CreateChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}':
    get:
      tags:
        - users.mailFolder
      summary: Get childFolders from users
      operationId: users.mailFolders_GetChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - childFolderCount
                - displayName
                - parentFolderId
                - totalItemCount
                - unreadItemCount
                - wellKnownName
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
                - userConfigurations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - messageRules
                - messages
                - multiValueExtendedProperties
                - singleValueExtendedProperties
                - userConfigurations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
          links:
            childFolders:
              operationId: users.mailFolders.ChildFolders.ListChildFolders
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
            messageRules:
              operationId: users.mailFolders.ChildFolders.ListMessageRules
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
            messages:
              operationId: users.mailFolders.ChildFolders.ListMessages
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
            multiValueExtendedProperties:
              operationId: users.mailFolders.ChildFolders.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
            singleValueExtendedProperties:
              operationId: users.mailFolders.ChildFolders.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
            userConfigurations:
              operationId: users.mailFolders.ChildFolders.ListUserConfigurations
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                mailFolder-id1: $request.path.mailFolder-id1
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property childFolders in users
      operationId: users.mailFolders_UpdateChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property childFolders for users
      operationId: users.mailFolders_DeleteChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: mailFolder-id1
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules':
    get:
      tags:
        - users.mailFolder
      summary: Get messageRules from users
      operationId: users.mailFolders_ListMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actions
                - actions desc
                - conditions
                - conditions desc
                - displayName
                - displayName desc
                - exceptions
                - exceptions desc
                - hasError
                - hasError desc
                - isEnabled
                - isEnabled desc
                - isReadOnly
                - isReadOnly desc
                - sequence
                - sequence desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actions
                - conditions
                - displayName
                - exceptions
                - hasError
                - isEnabled
                - isReadOnly
                - sequence
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of messageRule
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.messageRule'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to messageRules for users
      operationId: users.mailFolders_CreateMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules/{messageRule-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get messageRules from users
      operationId: users.mailFolders_GetMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: 'key: id of messageRule'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actions
                - conditions
                - displayName
                - exceptions
                - hasError
                - isEnabled
                - isReadOnly
                - sequence
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.messageRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property messageRules in users
      operationId: users.mailFolders_UpdateMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: 'key: id of messageRule'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: messageRule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.messageRule'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property messageRules for users
      operationId: users.mailFolders_DeleteMessageRules
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: messageRule-id
          in: path
          description: 'key: id of messageRule'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: messageRule
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages':
    get:
      tags:
        - users.mailFolder
      summary: Get messages from users
      operationId: users.mailFolders_ListMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - bccRecipients
                - bccRecipients desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - ccRecipients
                - ccRecipients desc
                - conversationId
                - conversationId desc
                - conversationIndex
                - conversationIndex desc
                - flag
                - flag desc
                - from
                - from desc
                - hasAttachments
                - hasAttachments desc
                - importance
                - importance desc
                - inferenceClassification
                - inferenceClassification desc
                - internetMessageHeaders
                - internetMessageHeaders desc
                - internetMessageId
                - internetMessageId desc
                - isDeliveryReceiptRequested
                - isDeliveryReceiptRequested desc
                - isDraft
                - isDraft desc
                - isRead
                - isRead desc
                - isReadReceiptRequested
                - isReadReceiptRequested desc
                - mentionsPreview
                - mentionsPreview desc
                - parentFolderId
                - parentFolderId desc
                - receivedDateTime
                - receivedDateTime desc
                - replyTo
                - replyTo desc
                - sender
                - sender desc
                - sentDateTime
                - sentDateTime desc
                - subject
                - subject desc
                - toRecipients
                - toRecipients desc
                - uniqueBody
                - uniqueBody desc
                - unsubscribeData
                - unsubscribeData desc
                - unsubscribeEnabled
                - unsubscribeEnabled desc
                - webLink
                - webLink desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - bccRecipients
                - body
                - bodyPreview
                - ccRecipients
                - conversationId
                - conversationIndex
                - flag
                - from
                - hasAttachments
                - importance
                - inferenceClassification
                - internetMessageHeaders
                - internetMessageId
                - isDeliveryReceiptRequested
                - isDraft
                - isRead
                - isReadReceiptRequested
                - mentionsPreview
                - parentFolderId
                - receivedDateTime
                - replyTo
                - sender
                - sentDateTime
                - subject
                - toRecipients
                - uniqueBody
                - unsubscribeData
                - unsubscribeEnabled
                - webLink
                - attachments
                - extensions
                - mentions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - extensions
                - mentions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of message
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.message'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to messages for users
      operationId: users.mailFolders_CreateMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get messages from users
      operationId: users.mailFolders_GetMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - bccRecipients
                - body
                - bodyPreview
                - ccRecipients
                - conversationId
                - conversationIndex
                - flag
                - from
                - hasAttachments
                - importance
                - inferenceClassification
                - internetMessageHeaders
                - internetMessageId
                - isDeliveryReceiptRequested
                - isDraft
                - isRead
                - isReadReceiptRequested
                - mentionsPreview
                - parentFolderId
                - receivedDateTime
                - replyTo
                - sender
                - sentDateTime
                - subject
                - toRecipients
                - uniqueBody
                - unsubscribeData
                - unsubscribeEnabled
                - webLink
                - attachments
                - extensions
                - mentions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - extensions
                - mentions
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
          links:
            attachments:
              operationId: users.mailFolders.Messages.ListAttachments
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                message-id: $request.path.message-id
            extensions:
              operationId: users.mailFolders.Messages.ListExtensions
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                message-id: $request.path.message-id
            mentions:
              operationId: users.mailFolders.Messages.ListMentions
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                message-id: $request.path.message-id
            multiValueExtendedProperties:
              operationId: users.mailFolders.Messages.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                message-id: $request.path.message-id
            singleValueExtendedProperties:
              operationId: users.mailFolders.Messages.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                mailFolder-id: $request.path.mailFolder-id
                message-id: $request.path.message-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property messages in users
      operationId: users.mailFolders_UpdateMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property messages for users
      operationId: users.mailFolders_DeleteMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/$value':
    get:
      tags:
        - users.mailFolder
      summary: Get media content for the navigation property messages from users
      operationId: users.mailFolders_GetMessagesContent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.mailFolder
      summary: Update media content for the navigation property messages in users
      operationId: users.mailFolders_SetMessagesContent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/attachments':
    get:
      tags:
        - users.mailFolder
      summary: Get attachments from users
      operationId: users.mailFolders.messages_ListAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentType
                - contentType desc
                - isInline
                - isInline desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - size
                - size desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of attachment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attachment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to attachments for users
      operationId: users.mailFolders.messages_CreateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/attachments/{attachment-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get attachments from users
      operationId: users.mailFolders.messages_GetAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentType
                - isInline
                - lastModifiedDateTime
                - name
                - size
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property attachments in users
      operationId: users.mailFolders.messages_UpdateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property attachments for users
      operationId: users.mailFolders.messages_DeleteAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: 'key: id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/extensions':
    get:
      tags:
        - users.mailFolder
      summary: Get extensions from users
      operationId: users.mailFolders.messages_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to extensions for users
      operationId: users.mailFolders.messages_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/extensions/{extension-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get extensions from users
      operationId: users.mailFolders.messages_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property extensions in users
      operationId: users.mailFolders.messages_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property extensions for users
      operationId: users.mailFolders.messages_DeleteExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/mentions':
    get:
      tags:
        - users.mailFolder
      summary: Get mentions from users
      operationId: users.mailFolders.messages_ListMentions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - application
                - application desc
                - clientReference
                - clientReference desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - deepLink
                - deepLink desc
                - mentioned
                - mentioned desc
                - mentionText
                - mentionText desc
                - serverCreatedDateTime
                - serverCreatedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - application
                - clientReference
                - createdBy
                - createdDateTime
                - deepLink
                - mentioned
                - mentionText
                - serverCreatedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of mention
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.mention'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to mentions for users
      operationId: users.mailFolders.messages_CreateMentions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mention'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mention'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/mentions/{mention-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get mentions from users
      operationId: users.mailFolders.messages_GetMentions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: mention-id
          in: path
          description: 'key: id of mention'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mention
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - application
                - clientReference
                - createdBy
                - createdDateTime
                - deepLink
                - mentioned
                - mentionText
                - serverCreatedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mention'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property mentions in users
      operationId: users.mailFolders.messages_UpdateMentions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: mention-id
          in: path
          description: 'key: id of mention'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mention
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mention'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property mentions for users
      operationId: users.mailFolders.messages_DeleteMentions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: mention-id
          in: path
          description: 'key: id of mention'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mention
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.mailFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.mailFolders.messages_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.mailFolders.messages_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.mailFolders.messages_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.mailFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.mailFolders.messages_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.mailFolder
      summary: Delete navigation property multiValueExtendedProperties for users
      operationId: users.mailFolders.messages_DeleteMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.mailFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.mailFolders.messages_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.mailFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.mailFolders.messages_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/mailFolders/{mailFolder-id}/messages/{message-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.mailFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.mailFolders.messages_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: mailFolder-id
          in: path
          description: 'key: id of mailFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mailFolder
        - name: message-id
          in: path
          description: 'key: id of message'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
[...]
