openapi: 3.0.1
info:
  title: ManagedTenants
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /tenantRelationships/managedTenants:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get managedTenants from tenantRelationships
      description: The operations available to interact with the multi-tenant management platform.
      operationId: tenantRelationship_GetManagedTenant
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - aggregatedPolicyCompliances
                - appPerformances
                - auditEvents
                - cloudPcConnections
                - cloudPcDevices
                - cloudPcsOverview
                - conditionalAccessPolicyCoverages
                - credentialUserRegistrationsSummaries
                - deviceAppPerformances
                - deviceCompliancePolicySettingStateSummaries
                - deviceHealthStatuses
                - managedDeviceCompliances
                - managedDeviceComplianceTrends
                - managedTenantAlertLogs
                - managedTenantAlertRuleDefinitions
                - managedTenantAlertRules
                - managedTenantAlerts
                - managedTenantApiNotifications
                - managedTenantEmailNotifications
                - managedTenantTicketingEndpoints
                - managementActions
                - managementActionTenantDeploymentStatuses
                - managementIntents
                - managementTemplateCollections
                - managementTemplateCollectionTenantSummaries
                - managementTemplates
                - managementTemplateSteps
                - managementTemplateStepTenantSummaries
                - managementTemplateStepVersions
                - myRoles
                - tenantGroups
                - tenants
                - tenantsCustomizedInformation
                - tenantsDetailedInformation
                - tenantTags
                - windowsDeviceMalwareStates
                - windowsProtectionStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - aggregatedPolicyCompliances
                - appPerformances
                - auditEvents
                - cloudPcConnections
                - cloudPcDevices
                - cloudPcsOverview
                - conditionalAccessPolicyCoverages
                - credentialUserRegistrationsSummaries
                - deviceAppPerformances
                - deviceCompliancePolicySettingStateSummaries
                - deviceHealthStatuses
                - managedDeviceCompliances
                - managedDeviceComplianceTrends
                - managedTenantAlertLogs
                - managedTenantAlertRuleDefinitions
                - managedTenantAlertRules
                - managedTenantAlerts
                - managedTenantApiNotifications
                - managedTenantEmailNotifications
                - managedTenantTicketingEndpoints
                - managementActions
                - managementActionTenantDeploymentStatuses
                - managementIntents
                - managementTemplateCollections
                - managementTemplateCollectionTenantSummaries
                - managementTemplates
                - managementTemplateSteps
                - managementTemplateStepTenantSummaries
                - managementTemplateStepVersions
                - myRoles
                - tenantGroups
                - tenants
                - tenantsCustomizedInformation
                - tenantsDetailedInformation
                - tenantTags
                - windowsDeviceMalwareStates
                - windowsProtectionStates
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.managedTenant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property managedTenants in tenantRelationships
      operationId: tenantRelationship_UpdateManagedTenant
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.managedTenant'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.managedTenant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property managedTenants for tenantRelationships
      operationId: tenantRelationship_DeleteManagedTenant
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/aggregatedPolicyCompliances:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: List aggregatedPolicyCompliances
      description: Get a list of the aggregatedPolicyCompliance objects and their properties. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-managedtenant-list-aggregatedpolicycompliances?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_ListAggregatedPolicyCompliance
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - compliancePolicyId
                - compliancePolicyId desc
                - compliancePolicyName
                - compliancePolicyName desc
                - compliancePolicyPlatform
                - compliancePolicyPlatform desc
                - compliancePolicyType
                - compliancePolicyType desc
                - lastRefreshedDateTime
                - lastRefreshedDateTime desc
                - numberOfCompliantDevices
                - numberOfCompliantDevices desc
                - numberOfErrorDevices
                - numberOfErrorDevices desc
                - numberOfNonCompliantDevices
                - numberOfNonCompliantDevices desc
                - policyModifiedDateTime
                - policyModifiedDateTime desc
                - tenantDisplayName
                - tenantDisplayName desc
                - tenantId
                - tenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - compliancePolicyId
                - compliancePolicyName
                - compliancePolicyPlatform
                - compliancePolicyType
                - lastRefreshedDateTime
                - numberOfCompliantDevices
                - numberOfErrorDevices
                - numberOfNonCompliantDevices
                - policyModifiedDateTime
                - tenantDisplayName
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.aggregatedPolicyComplianceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to aggregatedPolicyCompliances for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateAggregatedPolicyCompliance
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.aggregatedPolicyCompliance'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.aggregatedPolicyCompliance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/tenantRelationships/managedTenants/aggregatedPolicyCompliances/{aggregatedPolicyCompliance-id}':
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get aggregatedPolicyCompliances from tenantRelationships
      description: Aggregate view of device compliance policies across managed tenants.
      operationId: tenantRelationship.managedTenant_GetAggregatedPolicyCompliance
      parameters:
        - name: aggregatedPolicyCompliance-id
          in: path
          description: The unique identifier of aggregatedPolicyCompliance
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: aggregatedPolicyCompliance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - compliancePolicyId
                - compliancePolicyName
                - compliancePolicyPlatform
                - compliancePolicyType
                - lastRefreshedDateTime
                - numberOfCompliantDevices
                - numberOfErrorDevices
                - numberOfNonCompliantDevices
                - policyModifiedDateTime
                - tenantDisplayName
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.aggregatedPolicyCompliance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property aggregatedPolicyCompliances in tenantRelationships
      operationId: tenantRelationship.managedTenant_UpdateAggregatedPolicyCompliance
      parameters:
        - name: aggregatedPolicyCompliance-id
          in: path
          description: The unique identifier of aggregatedPolicyCompliance
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: aggregatedPolicyCompliance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.aggregatedPolicyCompliance'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.aggregatedPolicyCompliance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property aggregatedPolicyCompliances for tenantRelationships
      operationId: tenantRelationship.managedTenant_DeleteAggregatedPolicyCompliance
      parameters:
        - name: aggregatedPolicyCompliance-id
          in: path
          description: The unique identifier of aggregatedPolicyCompliance
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: aggregatedPolicyCompliance
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/aggregatedPolicyCompliances/$count:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get the number of the resource
      operationId: tenantRelationship.managedTenant.aggregatedPolicyCompliance_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /tenantRelationships/managedTenants/appPerformances:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get appPerformances from tenantRelationships
      operationId: tenantRelationship.managedTenant_ListAppPerformance
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appFriendlyName
                - appFriendlyName desc
                - appName
                - appName desc
                - appPublisher
                - appPublisher desc
                - lastUpdatedDateTime
                - lastUpdatedDateTime desc
                - meanTimeToFailureInMinutes
                - meanTimeToFailureInMinutes desc
                - tenantDisplayName
                - tenantDisplayName desc
                - tenantId
                - tenantId desc
                - totalActiveDeviceCount
                - totalActiveDeviceCount desc
                - totalAppCrashCount
                - totalAppCrashCount desc
                - totalAppFreezeCount
                - totalAppFreezeCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appFriendlyName
                - appName
                - appPublisher
                - lastUpdatedDateTime
                - meanTimeToFailureInMinutes
                - tenantDisplayName
                - tenantId
                - totalActiveDeviceCount
                - totalAppCrashCount
                - totalAppFreezeCount
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.appPerformanceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to appPerformances for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateAppPerformance
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.appPerformance'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.appPerformance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/tenantRelationships/managedTenants/appPerformances/{appPerformance-id}':
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get appPerformances from tenantRelationships
      operationId: tenantRelationship.managedTenant_GetAppPerformance
      parameters:
        - name: appPerformance-id
          in: path
          description: The unique identifier of appPerformance
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appPerformance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appFriendlyName
                - appName
                - appPublisher
                - lastUpdatedDateTime
                - meanTimeToFailureInMinutes
                - tenantDisplayName
                - tenantId
                - totalActiveDeviceCount
                - totalAppCrashCount
                - totalAppFreezeCount
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.appPerformance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property appPerformances in tenantRelationships
      operationId: tenantRelationship.managedTenant_UpdateAppPerformance
      parameters:
        - name: appPerformance-id
          in: path
          description: The unique identifier of appPerformance
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appPerformance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.appPerformance'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.appPerformance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property appPerformances for tenantRelationships
      operationId: tenantRelationship.managedTenant_DeleteAppPerformance
      parameters:
        - name: appPerformance-id
          in: path
          description: The unique identifier of appPerformance
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appPerformance
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/appPerformances/$count:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get the number of the resource
      operationId: tenantRelationship.managedTenant.appPerformance_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /tenantRelationships/managedTenants/auditEvents:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: List auditEvents
      description: Get a list of the auditEvent objects and their properties. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-managedtenant-list-auditevents?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_ListAuditEvent
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activity
                - activity desc
                - activityDateTime
                - activityDateTime desc
                - activityId
                - activityId desc
                - category
                - category desc
                - httpVerb
                - httpVerb desc
                - initiatedByAppId
                - initiatedByAppId desc
                - initiatedByUpn
                - initiatedByUpn desc
                - initiatedByUserId
                - initiatedByUserId desc
                - ipAddress
                - ipAddress desc
                - requestBody
                - requestBody desc
                - requestUrl
                - requestUrl desc
                - tenantIds
                - tenantIds desc
                - tenantNames
                - tenantNames desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - activityDateTime
                - activityId
                - category
                - httpVerb
                - initiatedByAppId
                - initiatedByUpn
                - initiatedByUserId
                - ipAddress
                - requestBody
                - requestUrl
                - tenantIds
                - tenantNames
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.auditEventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to auditEvents for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateAuditEvent
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.auditEvent'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.auditEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/tenantRelationships/managedTenants/auditEvents/{auditEvent-id}':
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get auditEvent
      description: Read the properties and relationships of an auditEvent object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-auditevent-get?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_GetAuditEvent
      parameters:
        - name: auditEvent-id
          in: path
          description: The unique identifier of auditEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: auditEvent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - activityDateTime
                - activityId
                - category
                - httpVerb
                - initiatedByAppId
                - initiatedByUpn
                - initiatedByUserId
                - ipAddress
                - requestBody
                - requestUrl
                - tenantIds
                - tenantNames
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.auditEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property auditEvents in tenantRelationships
      operationId: tenantRelationship.managedTenant_UpdateAuditEvent
      parameters:
        - name: auditEvent-id
          in: path
          description: The unique identifier of auditEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: auditEvent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.auditEvent'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.auditEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property auditEvents for tenantRelationships
      operationId: tenantRelationship.managedTenant_DeleteAuditEvent
      parameters:
        - name: auditEvent-id
          in: path
          description: The unique identifier of auditEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: auditEvent
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/auditEvents/$count:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get the number of the resource
      operationId: tenantRelationship.managedTenant.auditEvent_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /tenantRelationships/managedTenants/cloudPcConnections:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: List cloudPcConnections
      description: Get a list of the cloudPcConnection objects and their properties. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-managedtenant-list-cloudpcconnections?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_ListCloudPcConnection
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - healthCheckStatus
                - healthCheckStatus desc
                - lastRefreshedDateTime
                - lastRefreshedDateTime desc
                - tenantDisplayName
                - tenantDisplayName desc
                - tenantId
                - tenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - healthCheckStatus
                - lastRefreshedDateTime
                - tenantDisplayName
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.cloudPcConnectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to cloudPcConnections for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateCloudPcConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcConnection'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/tenantRelationships/managedTenants/cloudPcConnections/{cloudPcConnection-id}':
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get cloudPcConnection
      description: Read the properties and relationships of a cloudPcConnection object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-cloudpcconnection-get?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_GetCloudPcConnection
      parameters:
        - name: cloudPcConnection-id
          in: path
          description: The unique identifier of cloudPcConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPcConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - healthCheckStatus
                - lastRefreshedDateTime
                - tenantDisplayName
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property cloudPcConnections in tenantRelationships
      operationId: tenantRelationship.managedTenant_UpdateCloudPcConnection
      parameters:
        - name: cloudPcConnection-id
          in: path
          description: The unique identifier of cloudPcConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPcConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcConnection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property cloudPcConnections for tenantRelationships
      operationId: tenantRelationship.managedTenant_DeleteCloudPcConnection
      parameters:
        - name: cloudPcConnection-id
          in: path
          description: The unique identifier of cloudPcConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPcConnection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/cloudPcConnections/$count:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get the number of the resource
      operationId: tenantRelationship.managedTenant.cloudPcConnection_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /tenantRelationships/managedTenants/cloudPcDevices:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: List cloudPcDevices
      description: Get a list of the cloudPcDevice objects and their properties. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-managedtenant-list-cloudpcdevices?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_ListCloudPcDevice
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - cloudPcStatus
                - cloudPcStatus desc
                - deviceSpecification
                - deviceSpecification desc
                - displayName
                - displayName desc
                - lastRefreshedDateTime
                - lastRefreshedDateTime desc
                - managedDeviceId
                - managedDeviceId desc
                - managedDeviceName
                - managedDeviceName desc
                - provisioningPolicyId
                - provisioningPolicyId desc
                - servicePlanName
                - servicePlanName desc
                - servicePlanType
                - servicePlanType desc
                - tenantDisplayName
                - tenantDisplayName desc
                - tenantId
                - tenantId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - cloudPcStatus
                - deviceSpecification
                - displayName
                - lastRefreshedDateTime
                - managedDeviceId
                - managedDeviceName
                - provisioningPolicyId
                - servicePlanName
                - servicePlanType
                - tenantDisplayName
                - tenantId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.cloudPcDeviceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to cloudPcDevices for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateCloudPcDevice
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcDevice'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcDevice'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/tenantRelationships/managedTenants/cloudPcDevices/{cloudPcDevice-id}':
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get cloudPcDevice
      description: Read the properties and relationships of a cloudPcDevice object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-cloudpcdevice-get?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_GetCloudPcDevice
      parameters:
        - name: cloudPcDevice-id
          in: path
          description: The unique identifier of cloudPcDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPcDevice
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - cloudPcStatus
                - deviceSpecification
                - displayName
                - lastRefreshedDateTime
                - managedDeviceId
                - managedDeviceName
                - provisioningPolicyId
                - servicePlanName
                - servicePlanType
                - tenantDisplayName
                - tenantId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcDevice'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property cloudPcDevices in tenantRelationships
      operationId: tenantRelationship.managedTenant_UpdateCloudPcDevice
      parameters:
        - name: cloudPcDevice-id
          in: path
          description: The unique identifier of cloudPcDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPcDevice
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcDevice'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcDevice'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property cloudPcDevices for tenantRelationships
      operationId: tenantRelationship.managedTenant_DeleteCloudPcDevice
      parameters:
        - name: cloudPcDevice-id
          in: path
          description: The unique identifier of cloudPcDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPcDevice
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/cloudPcDevices/$count:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get the number of the resource
      operationId: tenantRelationship.managedTenant.cloudPcDevice_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /tenantRelationships/managedTenants/cloudPcsOverview:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: List cloudPcOverviews
      description: Get a list of the cloudPcOverview objects and their properties. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-managedtenant-list-cloudpcsoverview?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_ListCloudPcsOverview
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastRefreshedDateTime
                - lastRefreshedDateTime desc
                - numberOfCloudPcConnectionStatusFailed
                - numberOfCloudPcConnectionStatusFailed desc
                - numberOfCloudPcConnectionStatusPassed
                - numberOfCloudPcConnectionStatusPassed desc
                - numberOfCloudPcConnectionStatusPending
                - numberOfCloudPcConnectionStatusPending desc
                - numberOfCloudPcConnectionStatusRunning
                - numberOfCloudPcConnectionStatusRunning desc
                - numberOfCloudPcConnectionStatusUnkownFutureValue
                - numberOfCloudPcConnectionStatusUnkownFutureValue desc
                - numberOfCloudPcStatusDeprovisioning
                - numberOfCloudPcStatusDeprovisioning desc
                - numberOfCloudPcStatusFailed
                - numberOfCloudPcStatusFailed desc
                - numberOfCloudPcStatusInGracePeriod
                - numberOfCloudPcStatusInGracePeriod desc
                - numberOfCloudPcStatusNotProvisioned
                - numberOfCloudPcStatusNotProvisioned desc
                - numberOfCloudPcStatusProvisioned
                - numberOfCloudPcStatusProvisioned desc
                - numberOfCloudPcStatusProvisioning
                - numberOfCloudPcStatusProvisioning desc
                - numberOfCloudPcStatusUnknown
                - numberOfCloudPcStatusUnknown desc
                - numberOfCloudPcStatusUpgrading
                - numberOfCloudPcStatusUpgrading desc
                - tenantDisplayName
                - tenantDisplayName desc
                - tenantId
                - tenantId desc
                - totalBusinessLicenses
                - totalBusinessLicenses desc
                - totalCloudPcConnectionStatus
                - totalCloudPcConnectionStatus desc
                - totalCloudPcStatus
                - totalCloudPcStatus desc
                - totalEnterpriseLicenses
                - totalEnterpriseLicenses desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastRefreshedDateTime
                - numberOfCloudPcConnectionStatusFailed
                - numberOfCloudPcConnectionStatusPassed
                - numberOfCloudPcConnectionStatusPending
                - numberOfCloudPcConnectionStatusRunning
                - numberOfCloudPcConnectionStatusUnkownFutureValue
                - numberOfCloudPcStatusDeprovisioning
                - numberOfCloudPcStatusFailed
                - numberOfCloudPcStatusInGracePeriod
                - numberOfCloudPcStatusNotProvisioned
                - numberOfCloudPcStatusProvisioned
                - numberOfCloudPcStatusProvisioning
                - numberOfCloudPcStatusUnknown
                - numberOfCloudPcStatusUpgrading
                - tenantDisplayName
                - tenantId
                - totalBusinessLicenses
                - totalCloudPcConnectionStatus
                - totalCloudPcStatus
                - totalEnterpriseLicenses
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.cloudPcOverviewCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to cloudPcsOverview for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateCloudPcsOverview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcOverview'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcOverview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/tenantRelationships/managedTenants/cloudPcsOverview/{cloudPcOverview-tenantId}':
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get cloudPcOverview
      description: Read the properties and relationships of a cloudPcOverview object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-cloudpcoverview-get?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_GetCloudPcsOverview
      parameters:
        - name: cloudPcOverview-tenantId
          in: path
          description: The unique identifier of cloudPcOverview
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPcOverview
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastRefreshedDateTime
                - numberOfCloudPcConnectionStatusFailed
                - numberOfCloudPcConnectionStatusPassed
                - numberOfCloudPcConnectionStatusPending
                - numberOfCloudPcConnectionStatusRunning
                - numberOfCloudPcConnectionStatusUnkownFutureValue
                - numberOfCloudPcStatusDeprovisioning
                - numberOfCloudPcStatusFailed
                - numberOfCloudPcStatusInGracePeriod
                - numberOfCloudPcStatusNotProvisioned
                - numberOfCloudPcStatusProvisioned
                - numberOfCloudPcStatusProvisioning
                - numberOfCloudPcStatusUnknown
                - numberOfCloudPcStatusUpgrading
                - tenantDisplayName
                - tenantId
                - totalBusinessLicenses
                - totalCloudPcConnectionStatus
                - totalCloudPcStatus
                - totalEnterpriseLicenses
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcOverview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property cloudPcsOverview in tenantRelationships
      operationId: tenantRelationship.managedTenant_UpdateCloudPcsOverview
      parameters:
        - name: cloudPcOverview-tenantId
          in: path
          description: The unique identifier of cloudPcOverview
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPcOverview
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcOverview'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.cloudPcOverview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property cloudPcsOverview for tenantRelationships
      operationId: tenantRelationship.managedTenant_DeleteCloudPcsOverview
      parameters:
        - name: cloudPcOverview-tenantId
          in: path
          description: The unique identifier of cloudPcOverview
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: cloudPcOverview
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/cloudPcsOverview/$count:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get the number of the resource
      operationId: tenantRelationship.managedTenant.cloudPcsOverview_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /tenantRelationships/managedTenants/conditionalAccessPolicyCoverages:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: List conditionalAccessPolicyCoverages
      description: Get a list of the conditionalAccessPolicyCoverage objects and their properties. Use this operation to list Microsoft Entra Conditional Access policy coverage for all tenants that are being managed by the multi-tenant management platform. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-managedtenant-list-conditionalaccesspolicycoverages?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_ListConditionalAccessPolicyCoverage
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - conditionalAccessPolicyState
                - conditionalAccessPolicyState desc
                - latestPolicyModifiedDateTime
                - latestPolicyModifiedDateTime desc
                - requiresDeviceCompliance
                - requiresDeviceCompliance desc
                - tenantDisplayName
                - tenantDisplayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - conditionalAccessPolicyState
                - latestPolicyModifiedDateTime
                - requiresDeviceCompliance
                - tenantDisplayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.conditionalAccessPolicyCoverageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to conditionalAccessPolicyCoverages for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateConditionalAccessPolicyCoverage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.conditionalAccessPolicyCoverage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.conditionalAccessPolicyCoverage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/tenantRelationships/managedTenants/conditionalAccessPolicyCoverages/{conditionalAccessPolicyCoverage-id}':
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get conditionalAccessPolicyCoverage
      description: Read the properties and relationships of a conditionalAccessPolicyCoverage object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-conditionalaccesspolicycoverage-get?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_GetConditionalAccessPolicyCoverage
      parameters:
        - name: conditionalAccessPolicyCoverage-id
          in: path
          description: The unique identifier of conditionalAccessPolicyCoverage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicyCoverage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - conditionalAccessPolicyState
                - latestPolicyModifiedDateTime
                - requiresDeviceCompliance
                - tenantDisplayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.conditionalAccessPolicyCoverage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property conditionalAccessPolicyCoverages in tenantRelationships
      operationId: tenantRelationship.managedTenant_UpdateConditionalAccessPolicyCoverage
      parameters:
        - name: conditionalAccessPolicyCoverage-id
          in: path
          description: The unique identifier of conditionalAccessPolicyCoverage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicyCoverage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.conditionalAccessPolicyCoverage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.conditionalAccessPolicyCoverage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property conditionalAccessPolicyCoverages for tenantRelationships
      operationId: tenantRelationship.managedTenant_DeleteConditionalAccessPolicyCoverage
      parameters:
        - name: conditionalAccessPolicyCoverage-id
          in: path
          description: The unique identifier of conditionalAccessPolicyCoverage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicyCoverage
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/conditionalAccessPolicyCoverages/$count:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get the number of the resource
      operationId: tenantRelationship.managedTenant.conditionalAccessPolicyCoverage_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /tenantRelationships/managedTenants/credentialUserRegistrationsSummaries:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: List credentialUserRegistrationsSummaries
      description: Get a list of the credentialUserRegistrationsSummary objects and their properties. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-managedtenant-list-credentialuserregistrationssummaries?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_ListCredentialUserRegistrationsSummary
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastRefreshedDateTime
                - lastRefreshedDateTime desc
                - mfaAndSsprCapableUserCount
                - mfaAndSsprCapableUserCount desc
                - mfaConditionalAccessPolicyState
                - mfaConditionalAccessPolicyState desc
                - mfaExcludedUserCount
                - mfaExcludedUserCount desc
                - mfaRegisteredUserCount
                - mfaRegisteredUserCount desc
                - securityDefaultsEnabled
                - securityDefaultsEnabled desc
                - ssprEnabledUserCount
                - ssprEnabledUserCount desc
                - ssprRegisteredUserCount
                - ssprRegisteredUserCount desc
                - tenantDisplayName
                - tenantDisplayName desc
                - tenantId
                - tenantId desc
                - tenantLicenseType
                - tenantLicenseType desc
                - totalUserCount
                - totalUserCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastRefreshedDateTime
                - mfaAndSsprCapableUserCount
                - mfaConditionalAccessPolicyState
                - mfaExcludedUserCount
                - mfaRegisteredUserCount
                - securityDefaultsEnabled
                - ssprEnabledUserCount
                - ssprRegisteredUserCount
                - tenantDisplayName
                - tenantId
                - tenantLicenseType
                - totalUserCount
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.credentialUserRegistrationsSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to credentialUserRegistrationsSummaries for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateCredentialUserRegistrationsSummary
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.credentialUserRegistrationsSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.credentialUserRegistrationsSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/tenantRelationships/managedTenants/credentialUserRegistrationsSummaries/{credentialUserRegistrationsSummary-id}':
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get credentialUserRegistrationsSummary
      description: Read the properties and relationships of a credentialUserRegistrationsSummary object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-credentialuserregistrationssummary-get?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_GetCredentialUserRegistrationsSummary
      parameters:
        - name: credentialUserRegistrationsSummary-id
          in: path
          description: The unique identifier of credentialUserRegistrationsSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: credentialUserRegistrationsSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastRefreshedDateTime
                - mfaAndSsprCapableUserCount
                - mfaConditionalAccessPolicyState
                - mfaExcludedUserCount
                - mfaRegisteredUserCount
                - securityDefaultsEnabled
                - ssprEnabledUserCount
                - ssprRegisteredUserCount
                - tenantDisplayName
                - tenantId
                - tenantLicenseType
                - totalUserCount
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.credentialUserRegistrationsSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property credentialUserRegistrationsSummaries in tenantRelationships
      operationId: tenantRelationship.managedTenant_UpdateCredentialUserRegistrationsSummary
      parameters:
        - name: credentialUserRegistrationsSummary-id
          in: path
          description: The unique identifier of credentialUserRegistrationsSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: credentialUserRegistrationsSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.credentialUserRegistrationsSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.credentialUserRegistrationsSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property credentialUserRegistrationsSummaries for tenantRelationships
      operationId: tenantRelationship.managedTenant_DeleteCredentialUserRegistrationsSummary
      parameters:
        - name: credentialUserRegistrationsSummary-id
          in: path
          description: The unique identifier of credentialUserRegistrationsSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: credentialUserRegistrationsSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/credentialUserRegistrationsSummaries/$count:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get the number of the resource
      operationId: tenantRelationship.managedTenant.credentialUserRegistrationsSummary_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /tenantRelationships/managedTenants/deviceAppPerformances:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get deviceAppPerformances from tenantRelationships
      operationId: tenantRelationship.managedTenant_ListDeviceAppPerformance
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appFriendlyName
                - appFriendlyName desc
                - appName
                - appName desc
                - appPublisher
                - appPublisher desc
                - appVersion
                - appVersion desc
                - deviceId
                - deviceId desc
                - deviceManufacturer
                - deviceManufacturer desc
                - deviceModel
                - deviceModel desc
                - deviceName
                - deviceName desc
                - healthStatus
                - healthStatus desc
                - isLatestUsedVersion
                - isLatestUsedVersion desc
                - isMostUsedVersion
                - isMostUsedVersion desc
                - lastUpdatedDateTime
                - lastUpdatedDateTime desc
                - tenantDisplayName
                - tenantDisplayName desc
                - tenantId
                - tenantId desc
                - totalAppCrashCount
                - totalAppCrashCount desc
                - totalAppFreezeCount
                - totalAppFreezeCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appFriendlyName
                - appName
                - appPublisher
                - appVersion
                - deviceId
                - deviceManufacturer
                - deviceModel
                - deviceName
                - healthStatus
                - isLatestUsedVersion
                - isMostUsedVersion
                - lastUpdatedDateTime
                - tenantDisplayName
                - tenantId
                - totalAppCrashCount
                - totalAppFreezeCount
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.deviceAppPerformanceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to deviceAppPerformances for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateDeviceAppPerformance
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.deviceAppPerformance'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.deviceAppPerformance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/tenantRelationships/managedTenants/deviceAppPerformances/{deviceAppPerformance-id}':
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get deviceAppPerformances from tenantRelationships
      operationId: tenantRelationship.managedTenant_GetDeviceAppPerformance
      parameters:
        - name: deviceAppPerformance-id
          in: path
          description: The unique identifier of deviceAppPerformance
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAppPerformance
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appFriendlyName
                - appName
                - appPublisher
                - appVersion
                - deviceId
                - deviceManufacturer
                - deviceModel
                - deviceName
                - healthStatus
                - isLatestUsedVersion
                - isMostUsedVersion
                - lastUpdatedDateTime
                - tenantDisplayName
                - tenantId
                - totalAppCrashCount
                - totalAppFreezeCount
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.deviceAppPerformance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property deviceAppPerformances in tenantRelationships
      operationId: tenantRelationship.managedTenant_UpdateDeviceAppPerformance
      parameters:
        - name: deviceAppPerformance-id
          in: path
          description: The unique identifier of deviceAppPerformance
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAppPerformance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.deviceAppPerformance'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.deviceAppPerformance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property deviceAppPerformances for tenantRelationships
      operationId: tenantRelationship.managedTenant_DeleteDeviceAppPerformance
      parameters:
        - name: deviceAppPerformance-id
          in: path
          description: The unique identifier of deviceAppPerformance
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAppPerformance
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/deviceAppPerformances/$count:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get the number of the resource
      operationId: tenantRelationship.managedTenant.deviceAppPerformance_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /tenantRelationships/managedTenants/deviceCompliancePolicySettingStateSummaries:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: List deviceCompliancePolicySettingStateSummary
      description: Get a list of the deviceCompliancePolicySettingStateSummary objects and their properties. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-managedtenant-list-devicecompliancepolicysettingstatesummary?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_ListDeviceCompliancePolicySettingStateSummary
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - conflictDeviceCount
                - conflictDeviceCount desc
                - errorDeviceCount
                - errorDeviceCount desc
                - failedDeviceCount
                - failedDeviceCount desc
                - intuneAccountId
                - intuneAccountId desc
                - intuneSettingId
                - intuneSettingId desc
                - lastRefreshedDateTime
                - lastRefreshedDateTime desc
                - notApplicableDeviceCount
                - notApplicableDeviceCount desc
                - pendingDeviceCount
                - pendingDeviceCount desc
                - policyType
                - policyType desc
                - settingName
                - settingName desc
                - succeededDeviceCount
                - succeededDeviceCount desc
                - tenantDisplayName
                - tenantDisplayName desc
                - tenantId
                - tenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - conflictDeviceCount
                - errorDeviceCount
                - failedDeviceCount
                - intuneAccountId
                - intuneSettingId
                - lastRefreshedDateTime
                - notApplicableDeviceCount
                - pendingDeviceCount
                - policyType
                - settingName
                - succeededDeviceCount
                - tenantDisplayName
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.deviceCompliancePolicySettingStateSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to deviceCompliancePolicySettingStateSummaries for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateDeviceCompliancePolicySettingStateSummary
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.deviceCompliancePolicySettingStateSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.deviceCompliancePolicySettingStateSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/tenantRelationships/managedTenants/deviceCompliancePolicySettingStateSummaries/{deviceCompliancePolicySettingStateSummary-id}':
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get deviceCompliancePolicySettingStateSummary
      description: Read the properties and relationships of a deviceCompliancePolicySettingStateSummary object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/managedtenants-devicecompliancepolicysettingstatesummary-get?view=graph-rest-1.0
      operationId: tenantRelationship.managedTenant_GetDeviceCompliancePolicySettingStateSummary
      parameters:
        - name: deviceCompliancePolicySettingStateSummary-id
          in: path
          description: The unique identifier of deviceCompliancePolicySettingStateSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicySettingStateSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - conflictDeviceCount
                - errorDeviceCount
                - failedDeviceCount
                - intuneAccountId
                - intuneSettingId
                - lastRefreshedDateTime
                - notApplicableDeviceCount
                - pendingDeviceCount
                - policyType
                - settingName
                - succeededDeviceCount
                - tenantDisplayName
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.deviceCompliancePolicySettingStateSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - tenantRelationships.managedTenant
      summary: Update the navigation property deviceCompliancePolicySettingStateSummaries in tenantRelationships
      operationId: tenantRelationship.managedTenant_UpdateDeviceCompliancePolicySettingStateSummary
      parameters:
        - name: deviceCompliancePolicySettingStateSummary-id
          in: path
          description: The unique identifier of deviceCompliancePolicySettingStateSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicySettingStateSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.managedTenants.deviceCompliancePolicySettingStateSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedTenants.deviceCompliancePolicySettingStateSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - tenantRelationships.managedTenant
      summary: Delete navigation property deviceCompliancePolicySettingStateSummaries for tenantRelationships
      operationId: tenantRelationship.managedTenant_DeleteDeviceCompliancePolicySettingStateSummary
      parameters:
        - name: deviceCompliancePolicySettingStateSummary-id
          in: path
          description: The unique identifier of deviceCompliancePolicySettingStateSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicySettingStateSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/managedTenants/deviceCompliancePolicySettingStateSummaries/$count:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get the number of the resource
      operationId: tenantRelationship.managedTenant.deviceCompliancePolicySettingStateSummary_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /tenantRelationships/managedTenants/deviceHealthStatuses:
    get:
      tags:
        - tenantRelationships.managedTenant
      summary: Get deviceHealthStatuses from tenantRelationships
      operationId: tenantRelationship.managedTenant_ListDeviceHealthStatus
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - blueScreenCount
                - blueScreenCount desc
                - bootTotalDurationInSeconds
                - bootTotalDurationInSeconds desc
                - deviceId
                - deviceId desc
                - deviceMake
                - deviceMake desc
                - deviceModel
                - deviceModel desc
                - deviceName
                - deviceName desc
                - healthStatus
                - healthStatus desc
                - lastUpdatedDateTime
                - lastUpdatedDateTime desc
                - osVersion
                - osVersion desc
                - primaryDiskType
                - primaryDiskType desc
                - restartCount
                - restartCount desc
                - startupPerformanceScore
                - startupPerformanceScore desc
                - tenantDisplayName
                - tenantDisplayName desc
                - tenantId
                - tenantId desc
                - topProcesses
                - topProcesses desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - blueScreenCount
                - bootTotalDurationInSeconds
                - deviceId
                - deviceMake
                - deviceModel
                - deviceName
                - healthStatus
                - lastUpdatedDateTime
                - osVersion
                - primaryDiskType
                - restartCount
                - startupPerformanceScore
                - tenantDisplayName
                - tenantId
                - topProcesses
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedTenants.deviceHealthStatusCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - tenantRelationships.managedTenant
      summary: Create new navigation property to deviceHealthStatuses for tenantRelationships
      operationId: tenantRelationship.managedTenant_CreateDeviceHealthStatus
      requestBody:
        description: New navigation property
        content:
[...]
