openapi: 3.0.4
info:
  title: Migrations
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /solutions/migrations:
    get:
      tags:
        - solutions.migrationsRoot
      summary: Get migrations from solutions
      operationId: solution_GetMigration
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.migrationsRoot'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.migrationsRoot
      summary: Update the navigation property migrations in solutions
      operationId: solution_UpdateMigration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.migrationsRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.migrationsRoot'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.migrationsRoot
      summary: Delete navigation property migrations for solutions
      operationId: solution_DeleteMigration
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
  /solutions/migrations/crossTenantMigrationJobs:
    get:
      tags:
        - solutions.migrationsRoot
      summary: List crossTenantMigrationJob objects
      description: Get a list of the crossTenantMigrationJob objects and their properties. By default 20 objects are returned. More can be retrieved through the @odata.nextLink url provided in the response.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/migrationsroot-list-crosstenantmigrationjobs?view=graph-rest-beta
      operationId: solution.migration_ListCrossTenantMigrationJob
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.crossTenantMigrationJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.migrationsRoot
      summary: Create crossTenantMigrationJob
      description: Create a new crossTenantMigrationJob.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/migrationsroot-post-crosstenantmigrationjobs?view=graph-rest-beta
      operationId: solution.migration_CreateCrossTenantMigrationJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
  '/solutions/migrations/crossTenantMigrationJobs/{crossTenantMigrationJob-id}':
    get:
      tags:
        - solutions.migrationsRoot
      summary: Get crossTenantMigrationJob
      description: 'Read the properties and relationships of crossTenantMigrationJob object. Includes details of the crossTenantMigrationJob , but not details of the individual crossTenantMigrationTasks of the crossTenantMigrationJob.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantmigrationjob-get?view=graph-rest-beta
      operationId: solution.migration_GetCrossTenantMigrationJob
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.migrationsRoot
      summary: Update crossTenantMigrationJob
      description: 'Update the completeAfterDateTime of a crossTenantMigrationJob object. Only updates to the completeAfterDateTime are supported. Use this function to change when the crossTenantMigrationJob starts processing. If completeAfterDateTime is set to the past, the crossTenantMigrationJob starts processing.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantmigrationjob-update?view=graph-rest-beta
      operationId: solution.migration_UpdateCrossTenantMigrationJob
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.migrationsRoot
      summary: Delete navigation property crossTenantMigrationJobs for solutions
      operationId: solution.migration_DeleteCrossTenantMigrationJob
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
  '/solutions/migrations/crossTenantMigrationJobs/{crossTenantMigrationJob-id}/microsoft.graph.cancel':
    post:
      tags:
        - solutions.migrationsRoot
      summary: Invoke action cancel
      description: 'Cancel a crossTenantMigrationJob. All tasks within the job that were in a Sync state are canceled. If the job can''t be canceled, a 409 Conflict response is returned and the migrations continue. This response happens when a migration is already in progress or is in a terminal state.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantmigrationjob-cancel?view=graph-rest-beta
      operationId: solution.migration.crossTenantMigrationJob_cancel
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationCancelResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: action
  '/solutions/migrations/crossTenantMigrationJobs/{crossTenantMigrationJob-id}/users':
    get:
      tags:
        - solutions.migrationsRoot
      summary: List crossTenantMigrationTask objects
      description: 'Get a list of the crossTenantMigrationTasks for users in a crossTenantMigrationJob. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantmigrationjob-list-users?view=graph-rest-beta
      operationId: solution.migration.crossTenantMigrationJob_ListUser
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.crossTenantMigrationTaskCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.migrationsRoot
      summary: Create new navigation property to users for solutions
      operationId: solution.migration.crossTenantMigrationJob_CreateUser
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationTask'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationTask'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
  '/solutions/migrations/crossTenantMigrationJobs/{crossTenantMigrationJob-id}/users/{crossTenantMigrationTask-id}':
    get:
      tags:
        - solutions.migrationsRoot
      summary: Get crossTenantMigrationTask
      description: 'Read the properties and relationships of crossTenantMigrationTask, which shows the details of the migration task for a single user of a crossTenantMigrationJob. The crossTenantMigrationTask contains the status details of migrations for the workloads specified in the crossTenantMigrationJob. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantmigrationtask-get?view=graph-rest-beta
      operationId: solution.migration.crossTenantMigrationJob_GetUser
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
        - name: crossTenantMigrationTask-id
          in: path
          description: The unique identifier of crossTenantMigrationTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationTask'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.migrationsRoot
      summary: Update the navigation property users in solutions
      operationId: solution.migration.crossTenantMigrationJob_UpdateUser
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
        - name: crossTenantMigrationTask-id
          in: path
          description: The unique identifier of crossTenantMigrationTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationTask'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationTask'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.migrationsRoot
      summary: Delete navigation property users for solutions
      operationId: solution.migration.crossTenantMigrationJob_DeleteUser
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
        - name: crossTenantMigrationTask-id
          in: path
          description: The unique identifier of crossTenantMigrationTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
  '/solutions/migrations/crossTenantMigrationJobs/{crossTenantMigrationJob-id}/users/{crossTenantMigrationTask-id}/microsoft.graph.cancel':
    post:
      tags:
        - solutions.migrationsRoot
      summary: Invoke action cancel
      description: 'Cancel a specific crossTenantMigrationTask for a User within a CrossTenantMigrationJob.  If the User migration can''t be canceled or is in a terminal state, a 409 CONFLICT response code is returned, and the migration continues.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantmigrationtask-cancel?view=graph-rest-beta
      operationId: solution.migration.crossTenantMigrationJob.user_cancel
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
        - name: crossTenantMigrationTask-id
          in: path
          description: The unique identifier of crossTenantMigrationTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationTask
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationCancelResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: action
  '/solutions/migrations/crossTenantMigrationJobs/{crossTenantMigrationJob-id}/users/$count':
    get:
      tags:
        - solutions.migrationsRoot
      summary: Get the number of the resource
      operationId: solution.migration.crossTenantMigrationJob.user_GetCount
      parameters:
        - name: crossTenantMigrationJob-id
          in: path
          description: The unique identifier of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: crossTenantMigrationJob
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
  '/solutions/migrations/crossTenantMigrationJobs(displayName=''{displayName}'')':
    get:
      tags:
        - solutions.migrationsRoot
      summary: Get crossTenantMigrationJob
      description: 'Read the properties and relationships of crossTenantMigrationJob object. Includes details of the crossTenantMigrationJob , but not details of the individual crossTenantMigrationTasks of the crossTenantMigrationJob.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantmigrationjob-get?view=graph-rest-beta
      operationId: solution.migration.crossTenantMigrationJob_GetGraphBPreDisplayName
      parameters:
        - name: displayName
          in: path
          description: Alternate key of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.migrationsRoot
      summary: Update crossTenantMigrationJob
      description: 'Update the completeAfterDateTime of a crossTenantMigrationJob object. Only updates to the completeAfterDateTime are supported. Use this function to change when the crossTenantMigrationJob starts processing. If completeAfterDateTime is set to the past, the crossTenantMigrationJob starts processing.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantmigrationjob-update?view=graph-rest-beta
      operationId: solution.migration.crossTenantMigrationJob_UpdateGraphBPreDisplayName
      parameters:
        - name: displayName
          in: path
          description: Alternate key of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.migrationsRoot
      summary: Delete navigation property crossTenantMigrationJobs for solutions
      operationId: solution.migration.crossTenantMigrationJob_DeleteGraphBPreDisplayName
      parameters:
        - name: displayName
          in: path
          description: Alternate key of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: operation
  '/solutions/migrations/crossTenantMigrationJobs(displayName=''{displayName}'')/microsoft.graph.cancel':
    post:
      tags:
        - solutions.migrationsRoot
      summary: Invoke action cancel
      description: 'Cancel a crossTenantMigrationJob. All tasks within the job that were in a Sync state are canceled. If the job can''t be canceled, a 409 Conflict response is returned and the migrations continue. This response happens when a migration is already in progress or is in a terminal state.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantmigrationjob-cancel?view=graph-rest-beta
      operationId: solution.migration.crossTenantMigrationJob.displayName_cancel
      parameters:
        - name: displayName
          in: path
          description: Alternate key of crossTenantMigrationJob
          required: true
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationCancelResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: action
  /solutions/migrations/crossTenantMigrationJobs/$count:
    get:
      tags:
        - solutions.migrationsRoot
      summary: Get the number of the resource
      operationId: solution.migration.crossTenantMigrationJob_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2023-11-15'
        version: 2023-11/PrivatePreview:CrossTenantContentMigrationAPI
  /solutions/migrations/crossTenantMigrationJobs/microsoft.graph.validate:
    post:
      tags:
        - solutions.migrationsRoot
      summary: Invoke action validate
      description: 'Validate the configuration of a crossTenantMigrationJob. This function doesn''t migrate any content, but goes through validation for the specified workloads to find any errors or misconfigurations that would affect an actual migration job. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantmigrationjob-validate?view=graph-rest-beta
      operationId: solution.migration.crossTenantMigrationJob_validate
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  nullable: true
                completeAfterDateTime:
                  type: string
                  nullable: true
                sourceTenantId:
                  type: string
                  nullable: true
                exchangeSettings:
                  $ref: '#/components/schemas/microsoft.graph.exchangeOnlineCrossTenantMigrationSettings'
                workloads:
                  type: array
                  items:
                    type: string
                    nullable: true
                resourceType:
                  type: string
                  nullable: true
                resources:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2026-07-09'
        date: '2025-07-09'
        version: 2025-07/PrivatePreview:CrossTenantContentMigrationAPI
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.migrationsRoot:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: migrationsRoot
          type: object
          properties:
            crossTenantMigrationJobs:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
              description: Migration Jobs associated with this tenant.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.crossTenantMigrationJob:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: crossTenantMigrationJob
          type: object
          properties:
            completeAfterDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: DateTime after which the migration should be performed
              format: date-time
            createdBy:
              type: string
              description: ID of the user that created the job
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: When the job what created
              format: date-time
            displayName:
              type: string
              description: Display name of the job. Must be unique per tenant
            exchangeSettings:
              $ref: '#/components/schemas/microsoft.graph.exchangeOnlineCrossTenantMigrationSettings'
            jobType:
              $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJobType'
            lastUpdatedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: When this migration job was last updated
              format: date-time
            message:
              type: string
              description: Status message of the migration job
              nullable: true
            resources:
              type: array
              items:
                type: string
              description: IDs (GUID) of the resources being migrated with the migration job
            resourceType:
              type: string
              description: Type of resource being migrated. Only Users is currently supported
            sourceTenantId:
              type: string
              description: ID (GUID) of the tenant that content is being migrated from
            status:
              $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJobStatus'
            targetTenantId:
              type: string
              description: ID of the tenant that content is being migrated to
            workloads:
              type: array
              items:
                type: string
              description: 'Workloads to migrate. Supported workloads are Teams, Exchange, and ODSP (OneDrive/SharePoint)'
            users:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationTask'
              description: Details and status of the users being migrated in this migration job
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.crossTenantMigrationCancelResponse:
      title: crossTenantMigrationCancelResponse
      type: object
      properties:
        message:
          type: string
          description: The customer facing description of the cancellation request
          nullable: true
        status:
          type: string
          description: The cancellation request status
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.crossTenantMigrationTask:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: crossTenantMigrationTask
          type: object
          properties:
            currentStatus:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationServiceStatusDetails'
              description: Most recent status of this migration task
            lastUpdatedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Time the task was last updated
              format: date-time
            taskType:
              type: string
              description: Type of migration task. Only Users are supported at this time.
          additionalProperties:
            type: object
    microsoft.graph.exchangeOnlineCrossTenantMigrationSettings:
      title: exchangeOnlineCrossTenantMigrationSettings
      type: object
      properties:
        sourceEndpoint:
          type: string
          description: Name of the Migration Endpoint in the source tenant
        targetDeliveryDomain:
          type: string
          description: Delivery domain on the target tenant
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.crossTenantMigrationJobType:
      title: crossTenantMigrationJobType
      enum:
        - validate
        - migrate
        - unknownFutureValue
      type: string
    microsoft.graph.crossTenantMigrationJobStatus:
      title: crossTenantMigrationJobStatus
      enum:
        - submitted
        - approved
        - processing
        - cuttingOver
        - inProgress
        - completed
        - completedWithErrors
        - failed
        - cancelled
        - pendingCancel
        - adminActionRequired
        - validateSubmitted
        - validateProcessing
        - validateInProgress
        - validatePassed
        - validateFailed
        - pendingDelete
        - deleted
        - unknownFutureValue
      type: string
    microsoft.graph.crossTenantMigrationServiceStatusDetails:
      title: crossTenantMigrationServiceStatusDetails
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.error'
          description: Errors associated with the migration for this service
        message:
          type: string
          description: Service status message
        service:
          type: string
          description: Service or workload the status details are associated with
        status:
          $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationServiceStatus'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.crossTenantMigrationJobCollectionResponse:
      title: Collection of crossTenantMigrationJob
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJob'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.crossTenantMigrationTaskCollectionResponse:
      title: Collection of crossTenantMigrationTask
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationTask'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.error:
      title: error
      type: object
      properties:
        code:
          type: string
          description: The error code
          nullable: true
        message:
          type: string
          description: The message for the error
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.crossTenantMigrationServiceStatus:
      title: crossTenantMigrationServiceStatus
      enum:
        - notStarted
        - valid
        - invalid
        - error
        - inProgress
        - completed
        - failed
        - cancelled
        - pendingCancel
        - syncing
        - synced
        - finalizing
        - forceComplete
        - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.crossTenantMigrationJobCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationJobCollectionResponse'
    microsoft.graph.crossTenantMigrationTaskCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.crossTenantMigrationTaskCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]
