openapi: 3.0.1
info:
  title: NetworkAccess
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /networkAccess:
    get:
      tags:
        - networkAccess.networkAccessRoot
      summary: Get networkAccess
      operationId: networkAccess.networkAccessRoot_GetNetworkAccessRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.networkAccessRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.networkAccessRoot
      summary: Update networkAccess
      operationId: networkAccess.networkAccessRoot_UpdateNetworkAccessRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.networkAccessRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.networkAccessRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /networkAccess/alerts:
    get:
      tags:
        - networkAccess.alert
      summary: Get alerts from networkAccess
      operationId: networkAccess_ListAlert
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.networkaccess.alertCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - networkAccess.alert
      summary: Create new navigation property to alerts for networkAccess
      operationId: networkAccess_CreateAlert
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.alert'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/networkAccess/alerts/{alert-id}':
    get:
      tags:
        - networkAccess.alert
      summary: Get alerts from networkAccess
      operationId: networkAccess_GetAlert
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.alert
      summary: Update the navigation property alerts in networkAccess
      operationId: networkAccess_UpdateAlert
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.alert'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.alert
      summary: Delete navigation property alerts for networkAccess
      operationId: networkAccess_DeleteAlert
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/networkAccess/alerts/{alert-id}/policy':
    get:
      tags:
        - networkAccess.alert
      summary: Get policy from networkAccess
      operationId: networkAccess.alert_GetPolicy
      parameters:
        - name: alert-id
          in: path
          description: The unique identifier of alert
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.filteringPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /networkAccess/alerts/$count:
    get:
      tags:
        - networkAccess.alert
      summary: Get the number of the resource
      operationId: networkAccess.alert_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /networkAccess/connectivity:
    get:
      tags:
        - networkAccess.connectivity
      summary: Get connectivity from networkAccess
      description: Connectivity represents all the connectivity components in Global Secure Access.
      operationId: networkAccess_GetConnectivity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update the navigation property connectivity in networkAccess
      operationId: networkAccess_UpdateConnectivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete navigation property connectivity for networkAccess
      operationId: networkAccess_DeleteConnectivity
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /networkAccess/connectivity/branches:
    get:
      tags:
        - networkAccess.connectivity
      summary: List branches (deprecated)
      description: Retrieve a list of branches within a tenant connected to the Global Secure Access services.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-connectivity-list-branches?view=graph-rest-beta
      operationId: networkAccess.connectivity_ListBranch
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.networkaccess.branchSiteCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - networkAccess.connectivity
      summary: Create branch (deprecated)
      description: Create a new branch.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-connectivity-post-branches?view=graph-rest-beta
      operationId: networkAccess.connectivity_CreateBranch
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.branchSite'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.branchSite'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get branchSite (deprecated)
      description: Retrieve information about a specific branch.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-branchsite-get?view=graph-rest-beta
      operationId: networkAccess.connectivity_GetBranch
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.branchSite'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update branchSite (deprecated)
      description: Update the configuration or properties of a specific branch.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-branchsite-update?view=graph-rest-beta
      operationId: networkAccess.connectivity_UpdateBranch
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.branchSite'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.branchSite'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete branchSite (deprecated)
      description: Delete a specific branch.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-branchsite-delete?view=graph-rest-beta
      operationId: networkAccess.connectivity_DeleteBranch
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/connectivityConfiguration':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get branchConnectivityConfiguration (deprecated)
      description: Retrieve the IPSec tunnel configuration required to establish a bidirectional communication link between your organization's router and the Microsoft gateway. This information is vital for configuring your router (customer premise equipment) after creating a deviceLink.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-branchconnectivityconfiguration-get?view=graph-rest-beta
      operationId: networkAccess.connectivity.branch_GetConnectivityConfiguration
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.branchConnectivityConfiguration'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update the navigation property connectivityConfiguration in networkAccess
      operationId: networkAccess.connectivity.branch_UpdateConnectivityConfiguration
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.branchConnectivityConfiguration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.branchConnectivityConfiguration'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete navigation property connectivityConfiguration for networkAccess
      operationId: networkAccess.connectivity.branch_DeleteConnectivityConfiguration
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/connectivityConfiguration/links':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get links from networkAccess
      description: List of connectivity configurations for deviceLink objects.
      operationId: networkAccess.connectivity.branch.connectivityConfiguration_ListLink
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.networkaccess.connectivityConfigurationLinkCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - networkAccess.connectivity
      summary: Create new navigation property to links for networkAccess
      operationId: networkAccess.connectivity.branch.connectivityConfiguration_CreateLink
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivityConfigurationLink'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivityConfigurationLink'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/connectivityConfiguration/links/{connectivityConfigurationLink-id}':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get links from networkAccess
      description: List of connectivity configurations for deviceLink objects.
      operationId: networkAccess.connectivity.branch.connectivityConfiguration_GetLink
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: connectivityConfigurationLink-id
          in: path
          description: The unique identifier of connectivityConfigurationLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectivityConfigurationLink
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivityConfigurationLink'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update the navigation property links in networkAccess
      operationId: networkAccess.connectivity.branch.connectivityConfiguration_UpdateLink
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: connectivityConfigurationLink-id
          in: path
          description: The unique identifier of connectivityConfigurationLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectivityConfigurationLink
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivityConfigurationLink'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivityConfigurationLink'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete navigation property links for networkAccess
      operationId: networkAccess.connectivity.branch.connectivityConfiguration_DeleteLink
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: connectivityConfigurationLink-id
          in: path
          description: The unique identifier of connectivityConfigurationLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectivityConfigurationLink
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/connectivityConfiguration/links/$count':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get the number of the resource
      operationId: networkAccess.connectivity.branch.connectivityConfiguration.link_GetCount
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
  '/networkAccess/connectivity/branches/{branchSite-id}/deviceLinks':
    get:
      tags:
        - networkAccess.connectivity
      summary: List deviceLinks (deprecated)
      description: Retrieve a list of device links associated with a specific branch.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-branchsite-list-devicelinks?view=graph-rest-beta
      operationId: networkAccess.connectivity.branch_ListDeviceLink
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.networkaccess.deviceLinkCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - networkAccess.connectivity
      summary: Create deviceLink (deprecated)
      description: Create a branch site with associated device links.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-branchsite-post-devicelinks?view=graph-rest-beta
      operationId: networkAccess.connectivity.branch_CreateDeviceLink
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.deviceLink'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.deviceLink'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/deviceLinks/{deviceLink-id}':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get deviceLinks from networkAccess
      description: Each unique CPE device associated with a branch is specified. Supports $expand.
      operationId: networkAccess.connectivity.branch_GetDeviceLink
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: deviceLink-id
          in: path
          description: The unique identifier of deviceLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceLink
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.deviceLink'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update deviceLink
      description: Update the device link associated with a specific branch or remote network.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-devicelink-update?view=graph-rest-beta
      operationId: networkAccess.connectivity.branch_UpdateDeviceLink
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: deviceLink-id
          in: path
          description: The unique identifier of deviceLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceLink
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.deviceLink'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.deviceLink'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete deviceLink (deprecated)
      description: 'Removes the link between the branch or remote network and the CPE device, effectively removing the connection and associated configuration between them.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-branchsite-delete-devicelinks?view=graph-rest-beta
      operationId: networkAccess.connectivity.branch_DeleteDeviceLink
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: deviceLink-id
          in: path
          description: The unique identifier of deviceLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceLink
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/deviceLinks/$count':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get the number of the resource
      operationId: networkAccess.connectivity.branch.deviceLink_GetCount
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
  '/networkAccess/connectivity/branches/{branchSite-id}/forwardingProfiles':
    get:
      tags:
        - networkAccess.connectivity
      summary: List forwardingProfiles (deprecated)
      description: Retrieve a list of traffic forwarding profiles associated with a branch.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-branchsite-list-forwardingprofiles?view=graph-rest-beta
      operationId: networkAccess.connectivity.branch_ListForwardingProfile
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.networkaccess.forwardingProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - networkAccess.connectivity
      summary: Create new navigation property to forwardingProfiles for networkAccess
      operationId: networkAccess.connectivity.branch_CreateForwardingProfile
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.forwardingProfile'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.forwardingProfile'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/forwardingProfiles/{forwardingProfile-id}':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get forwardingProfiles from networkAccess
      description: Each forwarding profile associated with a branch site is specified. Supports $expand.
      operationId: networkAccess.connectivity.branch_GetForwardingProfile
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.forwardingProfile'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update the navigation property forwardingProfiles in networkAccess
      operationId: networkAccess.connectivity.branch_UpdateForwardingProfile
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.forwardingProfile'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.forwardingProfile'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete navigation property forwardingProfiles for networkAccess
      operationId: networkAccess.connectivity.branch_DeleteForwardingProfile
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/forwardingProfiles/{forwardingProfile-id}/policies':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get policies from networkAccess
      description: Traffic forwarding policies associated with this profile.
      operationId: networkAccess.connectivity.branch.forwardingProfile_ListPolicy
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.networkaccess.policyLinkCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - networkAccess.connectivity
      summary: Create new navigation property to policies for networkAccess
      operationId: networkAccess.connectivity.branch.forwardingProfile_CreatePolicy
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.policyLink'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.policyLink'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/forwardingProfiles/{forwardingProfile-id}/policies/{policyLink-id}':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get policies from networkAccess
      description: Traffic forwarding policies associated with this profile.
      operationId: networkAccess.connectivity.branch.forwardingProfile_GetPolicy
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
        - name: policyLink-id
          in: path
          description: The unique identifier of policyLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: policyLink
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.policyLink'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update the navigation property policies in networkAccess
      operationId: networkAccess.connectivity.branch.forwardingProfile_UpdatePolicy
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
        - name: policyLink-id
          in: path
          description: The unique identifier of policyLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: policyLink
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.policyLink'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.policyLink'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete navigation property policies for networkAccess
      operationId: networkAccess.connectivity.branch.forwardingProfile_DeletePolicy
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
        - name: policyLink-id
          in: path
          description: The unique identifier of policyLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: policyLink
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/forwardingProfiles/{forwardingProfile-id}/policies/{policyLink-id}/policy':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get policy from networkAccess
      description: Policy.
      operationId: networkAccess.connectivity.branch.forwardingProfile.policy_GetPolicy
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
        - name: policyLink-id
          in: path
          description: The unique identifier of policyLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: policyLink
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.policy'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/forwardingProfiles/{forwardingProfile-id}/policies/$count':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get the number of the resource
      operationId: networkAccess.connectivity.branch.forwardingProfile.policy_GetCount
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
  '/networkAccess/connectivity/branches/{branchSite-id}/forwardingProfiles/{forwardingProfile-id}/servicePrincipal':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get servicePrincipal from networkAccess
      operationId: networkAccess.connectivity.branch.forwardingProfile_GetServicePrincipal
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - name: forwardingProfile-id
          in: path
          description: The unique identifier of forwardingProfile
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: forwardingProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/branches/{branchSite-id}/forwardingProfiles/$count':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get the number of the resource
      operationId: networkAccess.connectivity.branch.forwardingProfile_GetCount
      parameters:
        - name: branchSite-id
          in: path
          description: The unique identifier of branchSite
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: branchSite
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
  /networkAccess/connectivity/branches/$count:
    get:
      tags:
        - networkAccess.connectivity
      summary: Get the number of the resource
      operationId: networkAccess.connectivity.branch_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-03-20'
        date: '2023-12-19'
        version: 2022-06/PrivatePreview:NetworkAccess
        description: 'The Branches API is deprecated and will stop returning data on March 20, 2024. Please use the new Remote Network API.'
  /networkAccess/connectivity/remoteNetworks:
    get:
      tags:
        - networkAccess.connectivity
      summary: Get remoteNetworks from networkAccess
      description: 'Represent locations, such as branches, that are connected to Global Secure Access services through an IPsec tunnel.'
      operationId: networkAccess.connectivity_ListRemoteNetwork
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.networkaccess.remoteNetworkCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - networkAccess.connectivity
      summary: Create remoteNetwork
      description: Create a new remote network.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-connectivity-post-remotenetworks?view=graph-rest-beta
      operationId: networkAccess.connectivity_CreateRemoteNetwork
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.remoteNetwork'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.remoteNetwork'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/remoteNetworks/{remoteNetwork-id}':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get remoteNetworks from networkAccess
      description: 'Represent locations, such as branches, that are connected to Global Secure Access services through an IPsec tunnel.'
      operationId: networkAccess.connectivity_GetRemoteNetwork
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.remoteNetwork'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update the navigation property remoteNetworks in networkAccess
      operationId: networkAccess.connectivity_UpdateRemoteNetwork
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.remoteNetwork'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.remoteNetwork'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete navigation property remoteNetworks for networkAccess
      operationId: networkAccess.connectivity_DeleteRemoteNetwork
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/remoteNetworks/{remoteNetwork-id}/connectivityConfiguration':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get connectivityConfiguration from networkAccess
      description: Specifies the connectivity details of all device links associated with a remote network.
      operationId: networkAccess.connectivity.remoteNetwork_GetConnectivityConfiguration
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.remoteNetworkConnectivityConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update the navigation property connectivityConfiguration in networkAccess
      operationId: networkAccess.connectivity.remoteNetwork_UpdateConnectivityConfiguration
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.remoteNetworkConnectivityConfiguration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.remoteNetworkConnectivityConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete navigation property connectivityConfiguration for networkAccess
      operationId: networkAccess.connectivity.remoteNetwork_DeleteConnectivityConfiguration
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/remoteNetworks/{remoteNetwork-id}/connectivityConfiguration/links':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get links from networkAccess
      description: List of connectivity configurations for deviceLink objects.
      operationId: networkAccess.connectivity.remoteNetwork.connectivityConfiguration_ListLink
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.networkaccess.connectivityConfigurationLinkCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - networkAccess.connectivity
      summary: Create new navigation property to links for networkAccess
      operationId: networkAccess.connectivity.remoteNetwork.connectivityConfiguration_CreateLink
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivityConfigurationLink'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivityConfigurationLink'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/remoteNetworks/{remoteNetwork-id}/connectivityConfiguration/links/{connectivityConfigurationLink-id}':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get links from networkAccess
      description: List of connectivity configurations for deviceLink objects.
      operationId: networkAccess.connectivity.remoteNetwork.connectivityConfiguration_GetLink
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - name: connectivityConfigurationLink-id
          in: path
          description: The unique identifier of connectivityConfigurationLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectivityConfigurationLink
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivityConfigurationLink'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update the navigation property links in networkAccess
      operationId: networkAccess.connectivity.remoteNetwork.connectivityConfiguration_UpdateLink
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - name: connectivityConfigurationLink-id
          in: path
          description: The unique identifier of connectivityConfigurationLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectivityConfigurationLink
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivityConfigurationLink'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.connectivityConfigurationLink'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete navigation property links for networkAccess
      operationId: networkAccess.connectivity.remoteNetwork.connectivityConfiguration_DeleteLink
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - name: connectivityConfigurationLink-id
          in: path
          description: The unique identifier of connectivityConfigurationLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectivityConfigurationLink
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/remoteNetworks/{remoteNetwork-id}/connectivityConfiguration/links/$count':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get the number of the resource
      operationId: networkAccess.connectivity.remoteNetwork.connectivityConfiguration.link_GetCount
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/networkAccess/connectivity/remoteNetworks/{remoteNetwork-id}/deviceLinks':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get deviceLink
      description: Retrieves a specific device link associated with a remote network.
      operationId: networkAccess.connectivity.remoteNetwork_ListDeviceLink
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.networkaccess.deviceLinkCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - networkAccess.connectivity
      summary: Create new navigation property to deviceLinks for networkAccess
      operationId: networkAccess.connectivity.remoteNetwork_CreateDeviceLink
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.deviceLink'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.deviceLink'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/remoteNetworks/{remoteNetwork-id}/deviceLinks/{deviceLink-id}':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get deviceLink
      description: Retrieves a specific device link associated with a remote network.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-devicelink-get?view=graph-rest-beta
      operationId: networkAccess.connectivity.remoteNetwork_GetDeviceLink
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - name: deviceLink-id
          in: path
          description: The unique identifier of deviceLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceLink
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.deviceLink'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - networkAccess.connectivity
      summary: Update the navigation property deviceLinks in networkAccess
      operationId: networkAccess.connectivity.remoteNetwork_UpdateDeviceLink
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - name: deviceLink-id
          in: path
          description: The unique identifier of deviceLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceLink
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.networkaccess.deviceLink'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.networkaccess.deviceLink'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - networkAccess.connectivity
      summary: Delete deviceLink
      description: 'Removes the link between the branch or remote network and the CPE device, effectively removing the connection and associated configuration between them.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/networkaccess-devicelink-delete?view=graph-rest-beta
      operationId: networkAccess.connectivity.remoteNetwork_DeleteDeviceLink
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - name: deviceLink-id
          in: path
          description: The unique identifier of deviceLink
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceLink
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/networkAccess/connectivity/remoteNetworks/{remoteNetwork-id}/deviceLinks/$count':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get the number of the resource
      operationId: networkAccess.connectivity.remoteNetwork.deviceLink_GetCount
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/networkAccess/connectivity/remoteNetworks/{remoteNetwork-id}/forwardingProfiles':
    get:
      tags:
        - networkAccess.connectivity
      summary: Get forwardingProfiles from networkAccess
      description: Each forwarding profile associated with a remote network is specified. Supports $expand and $select.
      operationId: networkAccess.connectivity.remoteNetwork_ListForwardingProfile
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.networkaccess.forwardingProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - networkAccess.connectivity
      summary: Create new navigation property to forwardingProfiles for networkAccess
      operationId: networkAccess.connectivity.remoteNetwork_CreateForwardingProfile
      parameters:
        - name: remoteNetwork-id
          in: path
          description: The unique identifier of remoteNetwork
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteNetwork
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
[...]
