openapi: 3.0.1
info:
  title: Notification
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/notifications':
    get:
      tags:
        - users.notification
      summary: Get notifications from users
      operationId: users_ListNotifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - targetHostName
                - targetHostName desc
                - expirationDateTime
                - expirationDateTime desc
                - payload
                - payload desc
                - displayTimeToLive
                - displayTimeToLive desc
                - priority
                - priority desc
                - groupName
                - groupName desc
                - targetPolicy
                - targetPolicy desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - targetHostName
                - expirationDateTime
                - payload
                - displayTimeToLive
                - priority
                - groupName
                - targetPolicy
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of notification
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.notification'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.notification
      summary: Create new navigation property to notifications for users
      operationId: users_CreateNotifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notification'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/notifications/{notification-id}':
    get:
      tags:
        - users.notification
      summary: Get notifications from users
      operationId: users_GetNotifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: notification-id
          in: path
          description: 'key: id of notification'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notification
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - targetHostName
                - expirationDateTime
                - payload
                - displayTimeToLive
                - priority
                - groupName
                - targetPolicy
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.notification
      summary: Update the navigation property notifications in users
      operationId: users_UpdateNotifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: notification-id
          in: path
          description: 'key: id of notification'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notification
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notification'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.notification
      summary: Delete navigation property notifications for users
      operationId: users_DeleteNotifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: notification-id
          in: path
          description: 'key: id of notification'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notification
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.notification:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: notification
          type: object
          properties:
            targetHostName:
              type: string
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            payload:
              $ref: '#/components/schemas/microsoft.graph.payloadTypes'
            displayTimeToLive:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            priority:
              $ref: '#/components/schemas/microsoft.graph.priority'
            groupName:
              type: string
              nullable: true
            targetPolicy:
              $ref: '#/components/schemas/microsoft.graph.targetPolicyEndpoints'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.payloadTypes:
      title: payloadTypes
      type: object
      properties:
        rawContent:
          type: string
          nullable: true
        visualContent:
          $ref: '#/components/schemas/microsoft.graph.visualProperties'
      additionalProperties:
        type: object
    microsoft.graph.priority:
      title: priority
      enum:
        - None
        - High
        - Low
      type: string
    microsoft.graph.targetPolicyEndpoints:
      title: targetPolicyEndpoints
      type: object
      properties:
        platformTypes:
          type: array
          items:
            type: string
            nullable: true
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.visualProperties:
      title: visualProperties
      type: object
      properties:
        title:
          type: string
          nullable: true
        body:
          type: string
          nullable: true
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]