openapi: 3.0.1
info:
  title: People
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/analytics':
    get:
      tags:
        - users.userAnalytics
      summary: Get analytics from users
      operationId: users_GetAnalytics
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - settings
                - activityStatistics
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activityStatistics
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAnalytics'
          links:
            activityStatistics:
              operationId: users.Analytics.ListActivityStatistics
              parameters:
                user-id: $request.path.user-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userAnalytics
      summary: Update the navigation property analytics in users
      operationId: users_UpdateAnalytics
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userAnalytics'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userAnalytics
      summary: Delete navigation property analytics for users
      operationId: users_DeleteAnalytics
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/analytics/activityStatistics':
    get:
      tags:
        - users.userAnalytics
      summary: Get activityStatistics from users
      operationId: users.analytics_ListActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activity
                - activity desc
                - duration
                - duration desc
                - endDate
                - endDate desc
                - startDate
                - startDate desc
                - timeZoneUsed
                - timeZoneUsed desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - duration
                - endDate
                - startDate
                - timeZoneUsed
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of activityStatistics
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.activityStatistics'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userAnalytics
      summary: Create new navigation property to activityStatistics for users
      operationId: users.analytics_CreateActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/analytics/activityStatistics/{activityStatistics-id}':
    get:
      tags:
        - users.userAnalytics
      summary: Get activityStatistics from users
      operationId: users.analytics_GetActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: activityStatistics-id
          in: path
          description: 'key: id of activityStatistics'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityStatistics
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - duration
                - endDate
                - startDate
                - timeZoneUsed
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userAnalytics
      summary: Update the navigation property activityStatistics in users
      operationId: users.analytics_UpdateActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: activityStatistics-id
          in: path
          description: 'key: id of activityStatistics'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityStatistics
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userAnalytics
      summary: Delete navigation property activityStatistics for users
      operationId: users.analytics_DeleteActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: activityStatistics-id
          in: path
          description: 'key: id of activityStatistics'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityStatistics
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people':
    get:
      tags:
        - users.person
      summary: Get people from users
      operationId: users_ListPeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - birthday
                - birthday desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - emailAddresses
                - emailAddresses desc
                - givenName
                - givenName desc
                - isFavorite
                - isFavorite desc
                - mailboxType
                - mailboxType desc
                - officeLocation
                - officeLocation desc
                - personNotes
                - personNotes desc
                - personType
                - personType desc
                - phones
                - phones desc
                - postalAddresses
                - postalAddresses desc
                - profession
                - profession desc
                - sources
                - sources desc
                - surname
                - surname desc
                - title
                - title desc
                - userPrincipalName
                - userPrincipalName desc
                - websites
                - websites desc
                - yomiCompany
                - yomiCompany desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - birthday
                - companyName
                - department
                - displayName
                - emailAddresses
                - givenName
                - isFavorite
                - mailboxType
                - officeLocation
                - personNotes
                - personType
                - phones
                - postalAddresses
                - profession
                - sources
                - surname
                - title
                - userPrincipalName
                - websites
                - yomiCompany
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of person
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.person'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.person
      summary: Create new navigation property to people for users
      operationId: users_CreatePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.person'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.person'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people/{person-id}':
    get:
      tags:
        - users.person
      summary: Get people from users
      operationId: users_GetPeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - birthday
                - companyName
                - department
                - displayName
                - emailAddresses
                - givenName
                - isFavorite
                - mailboxType
                - officeLocation
                - personNotes
                - personType
                - phones
                - postalAddresses
                - profession
                - sources
                - surname
                - title
                - userPrincipalName
                - websites
                - yomiCompany
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.person'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.person
      summary: Update the navigation property people in users
      operationId: users_UpdatePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.person'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.person
      summary: Delete navigation property people for users
      operationId: users_DeletePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile':
    get:
      tags:
        - users.profile
      summary: Get profile from users
      operationId: users_GetProfile
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - account
                - addresses
                - anniversaries
                - awards
                - certifications
                - educationalActivities
                - emails
                - interests
                - languages
                - names
                - notes
                - patents
                - phones
                - positions
                - projects
                - publications
                - skills
                - webAccounts
                - websites
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - account
                - addresses
                - anniversaries
                - awards
                - certifications
                - educationalActivities
                - emails
                - interests
                - languages
                - names
                - notes
                - patents
                - phones
                - positions
                - projects
                - publications
                - skills
                - webAccounts
                - websites
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profile'
          links:
            account:
              operationId: users.Profile.ListAccount
              parameters:
                user-id: $request.path.user-id
            addresses:
              operationId: users.Profile.ListAddresses
              parameters:
                user-id: $request.path.user-id
            anniversaries:
              operationId: users.Profile.ListAnniversaries
              parameters:
                user-id: $request.path.user-id
            awards:
              operationId: users.Profile.ListAwards
              parameters:
                user-id: $request.path.user-id
            certifications:
              operationId: users.Profile.ListCertifications
              parameters:
                user-id: $request.path.user-id
            educationalActivities:
              operationId: users.Profile.ListEducationalActivities
              parameters:
                user-id: $request.path.user-id
            emails:
              operationId: users.Profile.ListEmails
              parameters:
                user-id: $request.path.user-id
            interests:
              operationId: users.Profile.ListInterests
              parameters:
                user-id: $request.path.user-id
            languages:
              operationId: users.Profile.ListLanguages
              parameters:
                user-id: $request.path.user-id
            names:
              operationId: users.Profile.ListNames
              parameters:
                user-id: $request.path.user-id
            notes:
              operationId: users.Profile.ListNotes
              parameters:
                user-id: $request.path.user-id
            patents:
              operationId: users.Profile.ListPatents
              parameters:
                user-id: $request.path.user-id
            phones:
              operationId: users.Profile.ListPhones
              parameters:
                user-id: $request.path.user-id
            positions:
              operationId: users.Profile.ListPositions
              parameters:
                user-id: $request.path.user-id
            projects:
              operationId: users.Profile.ListProjects
              parameters:
                user-id: $request.path.user-id
            publications:
              operationId: users.Profile.ListPublications
              parameters:
                user-id: $request.path.user-id
            skills:
              operationId: users.Profile.ListSkills
              parameters:
                user-id: $request.path.user-id
            webAccounts:
              operationId: users.Profile.ListWebAccounts
              parameters:
                user-id: $request.path.user-id
            websites:
              operationId: users.Profile.ListWebsites
              parameters:
                user-id: $request.path.user-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property profile in users
      operationId: users_UpdateProfile
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete navigation property profile for users
      operationId: users_DeleteProfile
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/account':
    get:
      tags:
        - users.profile
      summary: Get account from users
      operationId: users.profile_ListAccount
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - ageGroup
                - ageGroup desc
                - countryCode
                - countryCode desc
                - preferredLanguageTag
                - preferredLanguageTag desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - ageGroup
                - countryCode
                - preferredLanguageTag
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of userAccountInformation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to account for users
      operationId: users.profile_CreateAccount
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/account/{userAccountInformation-id}':
    get:
      tags:
        - users.profile
      summary: Get account from users
      operationId: users.profile_GetAccount
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userAccountInformation-id
          in: path
          description: 'key: id of userAccountInformation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userAccountInformation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - ageGroup
                - countryCode
                - preferredLanguageTag
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property account in users
      operationId: users.profile_UpdateAccount
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userAccountInformation-id
          in: path
          description: 'key: id of userAccountInformation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userAccountInformation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete navigation property account for users
      operationId: users.profile_DeleteAccount
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userAccountInformation-id
          in: path
          description: 'key: id of userAccountInformation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userAccountInformation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/addresses':
    get:
      tags:
        - users.profile
      summary: Get addresses from users
      operationId: users.profile_ListAddresses
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - detail
                - detail desc
                - displayName
                - displayName desc
                - geoCoordinates
                - geoCoordinates desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - detail
                - displayName
                - geoCoordinates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of itemAddress
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.itemAddress'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to addresses for users
      operationId: users.profile_CreateAddresses
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemAddress'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAddress'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/addresses/{itemAddress-id}':
    get:
      tags:
        - users.profile
      summary: Get addresses from users
      operationId: users.profile_GetAddresses
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemAddress-id
          in: path
          description: 'key: id of itemAddress'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemAddress
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - detail
                - displayName
                - geoCoordinates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAddress'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property addresses in users
      operationId: users.profile_UpdateAddresses
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemAddress-id
          in: path
          description: 'key: id of itemAddress'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemAddress
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemAddress'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete navigation property addresses for users
      operationId: users.profile_DeleteAddresses
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemAddress-id
          in: path
          description: 'key: id of itemAddress'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemAddress
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/anniversaries':
    get:
      tags:
        - users.profile
      summary: Get anniversaries from users
      operationId: users.profile_ListAnniversaries
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - date
                - date desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - date
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of personAnniversary
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.personAnniversary'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to anniversaries for users
      operationId: users.profile_CreateAnniversaries
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAnniversary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAnniversary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/anniversaries/{personAnniversary-id}':
    get:
      tags:
        - users.profile
      summary: Get anniversaries from users
      operationId: users.profile_GetAnniversaries
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAnniversary-id
          in: path
          description: 'key: id of personAnniversary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personAnniversary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - date
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAnniversary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property anniversaries in users
      operationId: users.profile_UpdateAnniversaries
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAnniversary-id
          in: path
          description: 'key: id of personAnniversary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personAnniversary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAnniversary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete navigation property anniversaries for users
      operationId: users.profile_DeleteAnniversaries
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAnniversary-id
          in: path
          description: 'key: id of personAnniversary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personAnniversary
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/awards':
    get:
      tags:
        - users.profile
      summary: Get awards from users
      operationId: users.profile_ListAwards
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - description
                - description desc
                - displayName
                - displayName desc
                - issuedDate
                - issuedDate desc
                - issuingAuthority
                - issuingAuthority desc
                - thumbnailUrl
                - thumbnailUrl desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - description
                - displayName
                - issuedDate
                - issuingAuthority
                - thumbnailUrl
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of personAward
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.personAward'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to awards for users
      operationId: users.profile_CreateAwards
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAward'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAward'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/awards/{personAward-id}':
    get:
      tags:
        - users.profile
      summary: Get awards from users
      operationId: users.profile_GetAwards
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAward-id
          in: path
          description: 'key: id of personAward'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personAward
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - description
                - displayName
                - issuedDate
                - issuingAuthority
                - thumbnailUrl
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAward'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property awards in users
      operationId: users.profile_UpdateAwards
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAward-id
          in: path
          description: 'key: id of personAward'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personAward
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAward'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete navigation property awards for users
      operationId: users.profile_DeleteAwards
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAward-id
          in: path
          description: 'key: id of personAward'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personAward
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/certifications':
    get:
      tags:
        - users.profile
      summary: Get certifications from users
      operationId: users.profile_ListCertifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - certificationId
                - certificationId desc
                - description
                - description desc
                - displayName
                - displayName desc
                - endDate
                - endDate desc
                - issuedDate
                - issuedDate desc
                - issuingAuthority
                - issuingAuthority desc
                - issuingCompany
                - issuingCompany desc
                - startDate
                - startDate desc
                - thumbnailUrl
                - thumbnailUrl desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - certificationId
                - description
                - displayName
                - endDate
                - issuedDate
                - issuingAuthority
                - issuingCompany
                - startDate
                - thumbnailUrl
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of personCertification
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.personCertification'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to certifications for users
      operationId: users.profile_CreateCertifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personCertification'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personCertification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/certifications/{personCertification-id}':
    get:
      tags:
        - users.profile
      summary: Get certifications from users
      operationId: users.profile_GetCertifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personCertification-id
          in: path
          description: 'key: id of personCertification'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personCertification
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - certificationId
                - description
                - displayName
                - endDate
                - issuedDate
                - issuingAuthority
                - issuingCompany
                - startDate
                - thumbnailUrl
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personCertification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property certifications in users
      operationId: users.profile_UpdateCertifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personCertification-id
          in: path
          description: 'key: id of personCertification'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personCertification
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personCertification'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete navigation property certifications for users
      operationId: users.profile_DeleteCertifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personCertification-id
          in: path
          description: 'key: id of personCertification'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personCertification
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/educationalActivities':
    get:
      tags:
        - users.profile
      summary: Get educationalActivities from users
      operationId: users.profile_ListEducationalActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - completionMonthYear
                - completionMonthYear desc
                - endMonthYear
                - endMonthYear desc
                - institution
                - institution desc
                - program
                - program desc
                - startMonthYear
                - startMonthYear desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - completionMonthYear
                - endMonthYear
                - institution
                - program
                - startMonthYear
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of educationalActivity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.educationalActivity'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to educationalActivities for users
      operationId: users.profile_CreateEducationalActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/educationalActivities/{educationalActivity-id}':
    get:
      tags:
        - users.profile
      summary: Get educationalActivities from users
      operationId: users.profile_GetEducationalActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: educationalActivity-id
          in: path
          description: 'key: id of educationalActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationalActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - completionMonthYear
                - endMonthYear
                - institution
                - program
                - startMonthYear
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property educationalActivities in users
      operationId: users.profile_UpdateEducationalActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: educationalActivity-id
          in: path
          description: 'key: id of educationalActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationalActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete navigation property educationalActivities for users
      operationId: users.profile_DeleteEducationalActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: educationalActivity-id
          in: path
          description: 'key: id of educationalActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: educationalActivity
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/emails':
    get:
      tags:
        - users.profile
      summary: Get emails from users
      operationId: users.profile_ListEmails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - address
                - address desc
                - displayName
                - displayName desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - address
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of itemEmail
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.itemEmail'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to emails for users
      operationId: users.profile_CreateEmails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemEmail'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemEmail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/emails/{itemEmail-id}':
    get:
      tags:
        - users.profile
      summary: Get emails from users
      operationId: users.profile_GetEmails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemEmail-id
          in: path
          description: 'key: id of itemEmail'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemEmail
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - address
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemEmail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property emails in users
      operationId: users.profile_UpdateEmails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemEmail-id
          in: path
          description: 'key: id of itemEmail'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemEmail
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemEmail'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete navigation property emails for users
      operationId: users.profile_DeleteEmails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemEmail-id
          in: path
          description: 'key: id of itemEmail'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemEmail
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/interests':
    get:
      tags:
        - users.profile
      summary: Get interests from users
      operationId: users.profile_ListInterests
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - categories
                - categories desc
                - collaborationTags
                - collaborationTags desc
                - description
                - description desc
                - displayName
                - displayName desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - categories
                - collaborationTags
                - description
                - displayName
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of personInterest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.personInterest'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to interests for users
      operationId: users.profile_CreateInterests
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personInterest'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personInterest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/interests/{personInterest-id}':
    get:
      tags:
        - users.profile
      summary: Get interests from users
      operationId: users.profile_GetInterests
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personInterest-id
          in: path
          description: 'key: id of personInterest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personInterest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - categories
                - collaborationTags
                - description
                - displayName
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personInterest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property interests in users
      operationId: users.profile_UpdateInterests
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personInterest-id
          in: path
          description: 'key: id of personInterest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personInterest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personInterest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete navigation property interests for users
      operationId: users.profile_DeleteInterests
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personInterest-id
          in: path
          description: 'key: id of personInterest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: personInterest
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/languages':
    get:
      tags:
        - users.profile
      summary: Get languages from users
      operationId: users.profile_ListLanguages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - displayName
                - displayName desc
                - proficiency
                - proficiency desc
                - reading
                - reading desc
                - spoken
                - spoken desc
                - tag
                - tag desc
                - written
                - written desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - displayName
                - proficiency
                - reading
                - spoken
                - tag
                - written
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of languageProficiency
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.languageProficiency'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create new navigation property to languages for users
      operationId: users.profile_CreateLanguages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.languageProficiency'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.languageProficiency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/languages/{languageProficiency-id}':
    get:
      tags:
        - users.profile
      summary: Get languages from users
      operationId: users.profile_GetLanguages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: languageProficiency-id
          in: path
          description: 'key: id of languageProficiency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: languageProficiency
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - displayName
                - proficiency
                - reading
                - spoken
                - tag
                - written
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.languageProficiency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property languages in users
      operationId: users.profile_UpdateLanguages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: languageProficiency-id
          in: path
          description: 'key: id of languageProficiency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: languageProficiency
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.languageProficiency'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete navigation property languages for users
      operationId: users.profile_DeleteLanguages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: languageProficiency-id
          in: path
          description: 'key: id of languageProficiency'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: languageProficiency
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
[...]
