openapi: 3.0.1
info:
  title: People
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/analytics':
    get:
      tags:
        - users.userAnalytics
      summary: Get analytics from users
      operationId: user_GetAnalytic
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - settings
                - activityStatistics
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activityStatistics
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAnalytics'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userAnalytics
      summary: Update the navigation property analytics in users
      operationId: user_UpdateAnalytic
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userAnalytics'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAnalytics'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userAnalytics
      summary: Delete navigation property analytics for users
      operationId: user_DeleteAnalytic
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/analytics/activityStatistics':
    get:
      tags:
        - users.userAnalytics
      summary: Get activityStatistics from users
      description: The collection of work activities that a user spent time on during and outside of working hours. Read-only. Nullable.
      operationId: user.analytic_ListActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activity
                - activity desc
                - duration
                - duration desc
                - endDate
                - endDate desc
                - startDate
                - startDate desc
                - timeZoneUsed
                - timeZoneUsed desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - duration
                - endDate
                - startDate
                - timeZoneUsed
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.activityStatisticsCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userAnalytics
      summary: Create new navigation property to activityStatistics for users
      operationId: user.analytic_CreateActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/analytics/activityStatistics/{activityStatistics-id}':
    get:
      tags:
        - users.userAnalytics
      summary: Get activityStatistics from users
      description: The collection of work activities that a user spent time on during and outside of working hours. Read-only. Nullable.
      operationId: user.analytic_GetActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: activityStatistics-id
          in: path
          description: The unique identifier of activityStatistics
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityStatistics
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - duration
                - endDate
                - startDate
                - timeZoneUsed
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userAnalytics
      summary: Update the navigation property activityStatistics in users
      operationId: user.analytic_UpdateActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: activityStatistics-id
          in: path
          description: The unique identifier of activityStatistics
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityStatistics
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityStatistics'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userAnalytics
      summary: Delete navigation property activityStatistics for users
      operationId: user.analytic_DeleteActivityStatistics
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: activityStatistics-id
          in: path
          description: The unique identifier of activityStatistics
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityStatistics
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/analytics/activityStatistics/$count':
    get:
      tags:
        - users.userAnalytics
      summary: Get the number of the resource
      operationId: user.analytic.activityStatistics_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/people':
    get:
      tags:
        - users.person
      summary: List people
      description: 'Retrieve a list of person objects ordered by their relevance to the user, which is determined by the user''s communication and collaboration patterns, and business relationships.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-list-people?view=graph-rest-1.0
      operationId: user_ListPerson
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - birthday
                - birthday desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - emailAddresses
                - emailAddresses desc
                - givenName
                - givenName desc
                - isFavorite
                - isFavorite desc
                - mailboxType
                - mailboxType desc
                - officeLocation
                - officeLocation desc
                - personNotes
                - personNotes desc
                - personType
                - personType desc
                - phones
                - phones desc
                - postalAddresses
                - postalAddresses desc
                - profession
                - profession desc
                - sources
                - sources desc
                - surname
                - surname desc
                - title
                - title desc
                - userPrincipalName
                - userPrincipalName desc
                - websites
                - websites desc
                - yomiCompany
                - yomiCompany desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - birthday
                - companyName
                - department
                - displayName
                - emailAddresses
                - givenName
                - isFavorite
                - mailboxType
                - officeLocation
                - personNotes
                - personType
                - phones
                - postalAddresses
                - profession
                - sources
                - surname
                - title
                - userPrincipalName
                - websites
                - yomiCompany
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.personCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people/{person-id}':
    get:
      tags:
        - users.person
      summary: Get people from users
      description: 'Read-only. The most relevant people to the user. The collection is ordered by their relevance to the user, which is determined by the user''s communication, collaboration, and business relationships. A person aggregates information from mail, contacts, and social networks.'
      operationId: user_GetPerson
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: The unique identifier of person
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: person
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - birthday
                - companyName
                - department
                - displayName
                - emailAddresses
                - givenName
                - isFavorite
                - mailboxType
                - officeLocation
                - personNotes
                - personType
                - phones
                - postalAddresses
                - profession
                - sources
                - surname
                - title
                - userPrincipalName
                - websites
                - yomiCompany
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.person'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people/$count':
    get:
      tags:
        - users.person
      summary: Get the number of the resource
      operationId: user.person_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/profile':
    get:
      tags:
        - users.profile
      summary: Get profile
      description: 'Retrieve the properties and relationships of a profile object for a given user. The profile resource exposes various rich properties that are descriptive of the user as relationships, for example, anniversaries and education activities. To get one of these navigation properties, use the corresponding GET method on that property. See the methods exposed by profile.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-get?view=graph-rest-1.0
      operationId: user_GetProfile
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - account
                - addresses
                - anniversaries
                - awards
                - certifications
                - educationalActivities
                - emails
                - interests
                - languages
                - names
                - notes
                - patents
                - phones
                - positions
                - projects
                - publications
                - skills
                - webAccounts
                - websites
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - account
                - addresses
                - anniversaries
                - awards
                - certifications
                - educationalActivities
                - emails
                - interests
                - languages
                - names
                - notes
                - patents
                - phones
                - positions
                - projects
                - publications
                - skills
                - webAccounts
                - websites
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update the navigation property profile in users
      operationId: user_UpdateProfile
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profile'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete profile
      description: Deletes a profile object from a user's account.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-delete?view=graph-rest-1.0
      operationId: user_DeleteProfile
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/account':
    get:
      tags:
        - users.profile
      summary: List accounts
      description: Retrieves properties related to the user's accounts from the profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-list-accounts?view=graph-rest-1.0
      operationId: user.profile_ListAccount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - isSearchable
                - isSearchable desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - ageGroup
                - ageGroup desc
                - countryCode
                - countryCode desc
                - preferredLanguageTag
                - preferredLanguageTag desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - ageGroup
                - countryCode
                - preferredLanguageTag
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userAccountInformationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create account
      description: Create a new userAccountInformation object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-post-accounts?view=graph-rest-1.0
      operationId: user.profile_CreateAccount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/account/{userAccountInformation-id}':
    get:
      tags:
        - users.profile
      summary: Get userAccountInformation
      description: Retrieve the properties and relationships of an userAccountInformation object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/useraccountinformation-get?view=graph-rest-1.0
      operationId: user.profile_GetAccount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userAccountInformation-id
          in: path
          description: The unique identifier of userAccountInformation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userAccountInformation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - ageGroup
                - countryCode
                - preferredLanguageTag
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update useraccountinformation
      description: Update the properties of an userAccountInformation object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/useraccountinformation-update?view=graph-rest-1.0
      operationId: user.profile_UpdateAccount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userAccountInformation-id
          in: path
          description: The unique identifier of userAccountInformation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userAccountInformation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userAccountInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete userAccountInformation
      description: Delete an userAccountInformation object from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/useraccountinformation-delete?view=graph-rest-1.0
      operationId: user.profile_DeleteAccount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userAccountInformation-id
          in: path
          description: The unique identifier of userAccountInformation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userAccountInformation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/account/$count':
    get:
      tags:
        - users.profile
      summary: Get the number of the resource
      operationId: user.profile.account_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/profile/addresses':
    get:
      tags:
        - users.profile
      summary: List addresses
      description: Get the itemAddress resources from the addresses navigation property.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-list-addresses?view=graph-rest-1.0
      operationId: user.profile_ListAddress
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - isSearchable
                - isSearchable desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - detail
                - detail desc
                - displayName
                - displayName desc
                - geoCoordinates
                - geoCoordinates desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - detail
                - displayName
                - geoCoordinates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.itemAddressCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create addresses
      description: Create a new itemAddress object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-post-addresses?view=graph-rest-1.0
      operationId: user.profile_CreateAddress
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemAddress'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAddress'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/addresses/{itemAddress-id}':
    get:
      tags:
        - users.profile
      summary: Get itemAddress
      description: Read the properties and relationships of an itemAddress object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/itemaddress-get?view=graph-rest-1.0
      operationId: user.profile_GetAddress
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemAddress-id
          in: path
          description: The unique identifier of itemAddress
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemAddress
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - detail
                - displayName
                - geoCoordinates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAddress'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update itemAddress
      description: Update the properties of an itemAddress object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/itemaddress-update?view=graph-rest-1.0
      operationId: user.profile_UpdateAddress
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemAddress-id
          in: path
          description: The unique identifier of itemAddress
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemAddress
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemAddress'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemAddress'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete itemAddress
      description: Deletes an itemAddress object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/itemaddress-delete?view=graph-rest-1.0
      operationId: user.profile_DeleteAddress
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemAddress-id
          in: path
          description: The unique identifier of itemAddress
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemAddress
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/addresses/$count':
    get:
      tags:
        - users.profile
      summary: Get the number of the resource
      operationId: user.profile.address_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/profile/anniversaries':
    get:
      tags:
        - users.profile
      summary: List anniversaries
      description: Retrieve a list of personAnniversary objects for the given user from their profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-list-anniversaries?view=graph-rest-1.0
      operationId: user.profile_ListAnniversary
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - isSearchable
                - isSearchable desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - date
                - date desc
                - displayName
                - displayName desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - date
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.personAnnualEventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create personAnniversary
      description: Use this API to create a new personAnniversary object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-post-anniversaries?view=graph-rest-1.0
      operationId: user.profile_CreateAnniversary
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAnnualEvent'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAnnualEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/anniversaries/{personAnnualEvent-id}':
    get:
      tags:
        - users.profile
      summary: Get personAnniversary
      description: Retrieve the properties and relationships of a personAnniversary object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/personanniversary-get?view=graph-rest-1.0
      operationId: user.profile_GetAnniversary
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAnnualEvent-id
          in: path
          description: The unique identifier of personAnnualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: personAnnualEvent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - date
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAnnualEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update personAnniversary
      description: Update the properties of a personAnniversary object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/personanniversary-update?view=graph-rest-1.0
      operationId: user.profile_UpdateAnniversary
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAnnualEvent-id
          in: path
          description: The unique identifier of personAnnualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: personAnnualEvent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAnnualEvent'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAnnualEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete personAnniversary
      description: Delete a personAnniversary object from the user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/personanniversary-delete?view=graph-rest-1.0
      operationId: user.profile_DeleteAnniversary
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAnnualEvent-id
          in: path
          description: The unique identifier of personAnnualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: personAnnualEvent
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/anniversaries/$count':
    get:
      tags:
        - users.profile
      summary: Get the number of the resource
      operationId: user.profile.anniversary_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/profile/awards':
    get:
      tags:
        - users.profile
      summary: List awards
      description: Retrieve a list of personAward objects from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-list-awards?view=graph-rest-1.0
      operationId: user.profile_ListAward
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - isSearchable
                - isSearchable desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - description
                - description desc
                - displayName
                - displayName desc
                - issuedDate
                - issuedDate desc
                - issuingAuthority
                - issuingAuthority desc
                - thumbnailUrl
                - thumbnailUrl desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - description
                - displayName
                - issuedDate
                - issuingAuthority
                - thumbnailUrl
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.personAwardCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create personAward
      description: Create a new personAward object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-post-awards?view=graph-rest-1.0
      operationId: user.profile_CreateAward
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAward'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAward'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/awards/{personAward-id}':
    get:
      tags:
        - users.profile
      summary: Get personAward
      description: Read the properties and relationships of a personAward object from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/personaward-get?view=graph-rest-1.0
      operationId: user.profile_GetAward
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAward-id
          in: path
          description: The unique identifier of personAward
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: personAward
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - description
                - displayName
                - issuedDate
                - issuingAuthority
                - thumbnailUrl
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAward'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update personAward
      description: Update the properties of a personAward object from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/personaward-update?view=graph-rest-1.0
      operationId: user.profile_UpdateAward
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAward-id
          in: path
          description: The unique identifier of personAward
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: personAward
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personAward'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personAward'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete personAward
      description: Deletes a personAward object from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/personaward-delete?view=graph-rest-1.0
      operationId: user.profile_DeleteAward
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personAward-id
          in: path
          description: The unique identifier of personAward
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: personAward
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/awards/$count':
    get:
      tags:
        - users.profile
      summary: Get the number of the resource
      operationId: user.profile.award_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/profile/certifications':
    get:
      tags:
        - users.profile
      summary: List certifications
      description: Retrieve a list of personCertification objects from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-list-certifications?view=graph-rest-1.0
      operationId: user.profile_ListCertification
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - isSearchable
                - isSearchable desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - certificationId
                - certificationId desc
                - description
                - description desc
                - displayName
                - displayName desc
                - endDate
                - endDate desc
                - issuedDate
                - issuedDate desc
                - issuingAuthority
                - issuingAuthority desc
                - issuingCompany
                - issuingCompany desc
                - startDate
                - startDate desc
                - thumbnailUrl
                - thumbnailUrl desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - certificationId
                - description
                - displayName
                - endDate
                - issuedDate
                - issuingAuthority
                - issuingCompany
                - startDate
                - thumbnailUrl
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.personCertificationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create personCertification
      description: Create a new personCertification object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-post-certifications?view=graph-rest-1.0
      operationId: user.profile_CreateCertification
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personCertification'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personCertification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/certifications/{personCertification-id}':
    get:
      tags:
        - users.profile
      summary: Get personCertification
      description: Read the properties and relationships of a personCertification object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/personcertification-get?view=graph-rest-1.0
      operationId: user.profile_GetCertification
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personCertification-id
          in: path
          description: The unique identifier of personCertification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: personCertification
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - certificationId
                - description
                - displayName
                - endDate
                - issuedDate
                - issuingAuthority
                - issuingCompany
                - startDate
                - thumbnailUrl
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personCertification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update personCertification
      description: Update the properties of a personCertification object from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/personcertification-update?view=graph-rest-1.0
      operationId: user.profile_UpdateCertification
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personCertification-id
          in: path
          description: The unique identifier of personCertification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: personCertification
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personCertification'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personCertification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete personCertification
      description: Deletes a personCertification object from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/personcertification-delete?view=graph-rest-1.0
      operationId: user.profile_DeleteCertification
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personCertification-id
          in: path
          description: The unique identifier of personCertification
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: personCertification
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/certifications/$count':
    get:
      tags:
        - users.profile
      summary: Get the number of the resource
      operationId: user.profile.certification_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/profile/educationalActivities':
    get:
      tags:
        - users.profile
      summary: List educationalActivities
      description: Retrieve a list of educationalActivity objects from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-list-educationalactivities?view=graph-rest-1.0
      operationId: user.profile_ListEducationalActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - isSearchable
                - isSearchable desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - completionMonthYear
                - completionMonthYear desc
                - endMonthYear
                - endMonthYear desc
                - institution
                - institution desc
                - program
                - program desc
                - startMonthYear
                - startMonthYear desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - completionMonthYear
                - endMonthYear
                - institution
                - program
                - startMonthYear
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.educationalActivityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create educationalActivity
      description: Create a new educationalActivity in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-post-educationalactivities?view=graph-rest-1.0
      operationId: user.profile_CreateEducationalActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/educationalActivities/{educationalActivity-id}':
    get:
      tags:
        - users.profile
      summary: Get educationalActivity
      description: Retrieve the properties and relationships of an educationalActivity object from a users profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/educationalactivity-get?view=graph-rest-1.0
      operationId: user.profile_GetEducationalActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: educationalActivity-id
          in: path
          description: The unique identifier of educationalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationalActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - completionMonthYear
                - endMonthYear
                - institution
                - program
                - startMonthYear
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update educationalactivity
      description: Update the properties of an educationalActivity object within a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/educationalactivity-update?view=graph-rest-1.0
      operationId: user.profile_UpdateEducationalActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: educationalActivity-id
          in: path
          description: The unique identifier of educationalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationalActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.educationalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete educationalActivity
      description: Delete an educationalActivity object from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/educationalactivity-delete?view=graph-rest-1.0
      operationId: user.profile_DeleteEducationalActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: educationalActivity-id
          in: path
          description: The unique identifier of educationalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: educationalActivity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/educationalActivities/$count':
    get:
      tags:
        - users.profile
      summary: Get the number of the resource
      operationId: user.profile.educationalActivity_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/profile/emails':
    get:
      tags:
        - users.profile
      summary: Get itemEmail
      description: Retrieve the properties and relationships of an itemEmail object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-list-emails?view=graph-rest-1.0
      operationId: user.profile_ListEmail
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - isSearchable
                - isSearchable desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - address
                - address desc
                - displayName
                - displayName desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - address
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.itemEmailCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create itemEmail
      description: Create a new itemEmail object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-post-emails?view=graph-rest-1.0
      operationId: user.profile_CreateEmail
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemEmail'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemEmail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/emails/{itemEmail-id}':
    get:
      tags:
        - users.profile
      summary: Get itemEmail
      description: Retrieve the properties and relationships of an itemEmail object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/itememail-get?view=graph-rest-1.0
      operationId: user.profile_GetEmail
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemEmail-id
          in: path
          description: The unique identifier of itemEmail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemEmail
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - address
                - displayName
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemEmail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.profile
      summary: Update itememail
      description: Update the properties of an itemEmail object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/itememail-update?view=graph-rest-1.0
      operationId: user.profile_UpdateEmail
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemEmail-id
          in: path
          description: The unique identifier of itemEmail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemEmail
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemEmail'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemEmail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.profile
      summary: Delete itemEmail
      description: Delete an itemEmail object from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/itememail-delete?view=graph-rest-1.0
      operationId: user.profile_DeleteEmail
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemEmail-id
          in: path
          description: The unique identifier of itemEmail
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: itemEmail
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/emails/$count':
    get:
      tags:
        - users.profile
      summary: Get the number of the resource
      operationId: user.profile.email_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/profile/interests':
    get:
      tags:
        - users.profile
      summary: List interests
      description: Retrieve a list of personInterest objects from a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-list-interests?view=graph-rest-1.0
      operationId: user.profile_ListInterest
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedAudiences
                - allowedAudiences desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - inference
                - inference desc
                - isSearchable
                - isSearchable desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - source
                - source desc
                - categories
                - categories desc
                - collaborationTags
                - collaborationTags desc
                - description
                - description desc
                - displayName
                - displayName desc
                - thumbnailUrl
                - thumbnailUrl desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
                - lastModifiedDateTime
                - source
                - categories
                - collaborationTags
                - description
                - displayName
                - thumbnailUrl
                - webUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.personInterestCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.profile
      summary: Create personInterest
      description: Create a new personInterest.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/profile-post-interests?view=graph-rest-1.0
      operationId: user.profile_CreateInterest
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.personInterest'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.personInterest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/profile/interests/{personInterest-id}':
    get:
      tags:
        - users.profile
      summary: Get personInterest
      description: Retrieve the properties and relationships of a personInterest object in a user's profile.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/personinterest-get?view=graph-rest-1.0
      operationId: user.profile_GetInterest
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: personInterest-id
          in: path
          description: The unique identifier of personInterest
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: personInterest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedAudiences
                - createdBy
                - createdDateTime
                - inference
                - isSearchable
                - lastModifiedBy
[...]
