openapi: 3.0.1
info:
  title: PersonalContacts
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/contactFolders':
    get:
      tags:
        - users.contactFolder
      summary: Get contactFolders from users
      description: The user's contacts folders. Read-only. Nullable.
      operationId: users_ListContactFolders
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - parentFolderId
                - parentFolderId desc
                - wellKnownName
                - wellKnownName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - wellKnownName
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.contactFolderCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to contactFolders for users
      operationId: users_CreateContactFolders
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get contactFolders from users
      description: The user's contacts folders. Read-only. Nullable.
      operationId: users_GetContactFolders
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - wellKnownName
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property contactFolders in users
      operationId: users_UpdateContactFolders
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property contactFolders for users
      operationId: users_DeleteContactFolders
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders':
    get:
      tags:
        - users.contactFolder
      summary: Get childFolders from users
      description: The collection of child folders in the folder. Navigation property. Read-only. Nullable.
      operationId: users.contactFolders_ListChildFolders
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - parentFolderId
                - parentFolderId desc
                - wellKnownName
                - wellKnownName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - wellKnownName
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.contactFolderCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to childFolders for users
      operationId: users.contactFolders_CreateChildFolders
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}':
    get:
      tags:
        - users.contactFolder
      summary: Get childFolders from users
      description: The collection of child folders in the folder. Navigation property. Read-only. Nullable.
      operationId: users.contactFolders_GetChildFolders
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - wellKnownName
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property childFolders in users
      operationId: users.contactFolders_UpdateChildFolders
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property childFolders for users
      operationId: users.contactFolders_DeleteChildFolders
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      description: The contacts in the folder. Navigation property. Read-only. Nullable.
      operationId: users.contactFolders.childFolders_ListContacts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - assistantName
                - assistantName desc
                - birthday
                - birthday desc
                - children
                - children desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - emailAddresses
                - emailAddresses desc
                - fileAs
                - fileAs desc
                - flag
                - flag desc
                - gender
                - gender desc
                - generation
                - generation desc
                - givenName
                - givenName desc
                - imAddresses
                - imAddresses desc
                - initials
                - initials desc
                - isFavorite
                - isFavorite desc
                - jobTitle
                - jobTitle desc
                - manager
                - manager desc
                - middleName
                - middleName desc
                - nickName
                - nickName desc
                - officeLocation
                - officeLocation desc
                - parentFolderId
                - parentFolderId desc
                - personalNotes
                - personalNotes desc
                - phones
                - phones desc
                - postalAddresses
                - postalAddresses desc
                - profession
                - profession desc
                - spouseName
                - spouseName desc
                - surname
                - surname desc
                - title
                - title desc
                - websites
                - websites desc
                - weddingAnniversary
                - weddingAnniversary desc
                - yomiCompanyName
                - yomiCompanyName desc
                - yomiGivenName
                - yomiGivenName desc
                - yomiSurname
                - yomiSurname desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - assistantName
                - birthday
                - children
                - companyName
                - department
                - displayName
                - emailAddresses
                - fileAs
                - flag
                - gender
                - generation
                - givenName
                - imAddresses
                - initials
                - isFavorite
                - jobTitle
                - manager
                - middleName
                - nickName
                - officeLocation
                - parentFolderId
                - personalNotes
                - phones
                - postalAddresses
                - profession
                - spouseName
                - surname
                - title
                - websites
                - weddingAnniversary
                - yomiCompanyName
                - yomiGivenName
                - yomiSurname
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.contactCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to contacts for users
      operationId: users.contactFolders.childFolders_CreateContacts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      description: The contacts in the folder. Navigation property. Read-only. Nullable.
      operationId: users.contactFolders.childFolders_GetContacts
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - assistantName
                - birthday
                - children
                - companyName
                - department
                - displayName
                - emailAddresses
                - fileAs
                - flag
                - gender
                - generation
                - givenName
                - imAddresses
                - initials
                - isFavorite
                - jobTitle
                - manager
                - middleName
                - nickName
                - officeLocation
                - parentFolderId
                - personalNotes
                - phones
                - postalAddresses
                - profession
                - spouseName
                - surname
                - title
                - websites
                - weddingAnniversary
                - yomiCompanyName
                - yomiGivenName
                - yomiSurname
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property contacts in users
      operationId: users.contactFolders.childFolders_UpdateContacts
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property contacts for users
      operationId: users.contactFolders.childFolders_DeleteContacts
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/extensions':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.childFolders.contacts_ListExtensions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to extensions for users
      operationId: users.contactFolders.childFolders.contacts_CreateExtensions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/extensions/{extension-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.childFolders.contacts_GetExtensions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property extensions in users
      operationId: users.contactFolders.childFolders.contacts_UpdateExtensions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property extensions for users
      operationId: users.contactFolders.childFolders.contacts_DeleteExtensions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.childFolders.contacts_ListMultiValueExtendedProperties
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.multiValueLegacyExtendedPropertyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.contactFolders.childFolders.contacts_CreateMultiValueExtendedProperties
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.childFolders.contacts_GetMultiValueExtendedProperties
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.contactFolders.childFolders.contacts_UpdateMultiValueExtendedProperties
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property multiValueExtendedProperties for users
      operationId: users.contactFolders.childFolders.contacts_DeleteMultiValueExtendedProperties
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/photo':
    get:
      tags:
        - users.contactFolder
      summary: Get photo from users
      description: Optional contact picture. You can get or set a photo for a contact.
      operationId: users.contactFolders.childFolders.contacts_GetPhoto
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - height
                - width
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property photo in users
      operationId: users.contactFolders.childFolders.contacts_UpdatePhoto
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property photo for users
      operationId: users.contactFolders.childFolders.contacts_DeletePhoto
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/photo/$value':
    get:
      tags:
        - users.contactFolder
      summary: Get media content for the navigation property photo from users
      operationId: users.contactFolders.childFolders.contacts_GetPhotoContent
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.contactFolder
      summary: Update media content for the navigation property photo in users
      operationId: users.contactFolders.childFolders.contacts_SetPhotoContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      description: The collection of single-value extended properties defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.childFolders.contacts_ListSingleValueExtendedProperties
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.singleValueLegacyExtendedPropertyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.contactFolders.childFolders.contacts_CreateSingleValueExtendedProperties
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/{contact-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      description: The collection of single-value extended properties defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.childFolders.contacts_GetSingleValueExtendedProperties
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.contactFolders.childFolders.contacts_UpdateSingleValueExtendedProperties
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property singleValueExtendedProperties for users
      operationId: users.contactFolders.childFolders.contacts_DeleteSingleValueExtendedProperties
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/multiValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the contactFolder. Read-only. Nullable.
      operationId: users.contactFolders.childFolders_ListMultiValueExtendedProperties
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.multiValueLegacyExtendedPropertyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.contactFolders.childFolders_CreateMultiValueExtendedProperties
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the contactFolder. Read-only. Nullable.
      operationId: users.contactFolders.childFolders_GetMultiValueExtendedProperties
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.contactFolders.childFolders_UpdateMultiValueExtendedProperties
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property multiValueExtendedProperties for users
      operationId: users.contactFolders.childFolders_DeleteMultiValueExtendedProperties
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/singleValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      description: The collection of single-value extended properties defined for the contactFolder. Read-only. Nullable.
      operationId: users.contactFolders.childFolders_ListSingleValueExtendedProperties
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.singleValueLegacyExtendedPropertyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.contactFolders.childFolders_CreateSingleValueExtendedProperties
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      description: The collection of single-value extended properties defined for the contactFolder. Read-only. Nullable.
      operationId: users.contactFolders.childFolders_GetSingleValueExtendedProperties
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.contactFolders.childFolders_UpdateSingleValueExtendedProperties
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property singleValueExtendedProperties for users
      operationId: users.contactFolders.childFolders_DeleteSingleValueExtendedProperties
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      description: The contacts in the folder. Navigation property. Read-only. Nullable.
      operationId: users.contactFolders_ListContacts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - assistantName
                - assistantName desc
                - birthday
                - birthday desc
                - children
                - children desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - emailAddresses
                - emailAddresses desc
                - fileAs
                - fileAs desc
                - flag
                - flag desc
                - gender
                - gender desc
                - generation
                - generation desc
                - givenName
                - givenName desc
                - imAddresses
                - imAddresses desc
                - initials
                - initials desc
                - isFavorite
                - isFavorite desc
                - jobTitle
                - jobTitle desc
                - manager
                - manager desc
                - middleName
                - middleName desc
                - nickName
                - nickName desc
                - officeLocation
                - officeLocation desc
                - parentFolderId
                - parentFolderId desc
                - personalNotes
                - personalNotes desc
                - phones
                - phones desc
                - postalAddresses
                - postalAddresses desc
                - profession
                - profession desc
                - spouseName
                - spouseName desc
                - surname
                - surname desc
                - title
                - title desc
                - websites
                - websites desc
                - weddingAnniversary
                - weddingAnniversary desc
                - yomiCompanyName
                - yomiCompanyName desc
                - yomiGivenName
                - yomiGivenName desc
                - yomiSurname
                - yomiSurname desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - assistantName
                - birthday
                - children
                - companyName
                - department
                - displayName
                - emailAddresses
                - fileAs
                - flag
                - gender
                - generation
                - givenName
                - imAddresses
                - initials
                - isFavorite
                - jobTitle
                - manager
                - middleName
                - nickName
                - officeLocation
                - parentFolderId
                - personalNotes
                - phones
                - postalAddresses
                - profession
                - spouseName
                - surname
                - title
                - websites
                - weddingAnniversary
                - yomiCompanyName
                - yomiGivenName
                - yomiSurname
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.contactCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to contacts for users
      operationId: users.contactFolders_CreateContacts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      description: The contacts in the folder. Navigation property. Read-only. Nullable.
      operationId: users.contactFolders_GetContacts
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - assistantName
                - birthday
                - children
                - companyName
                - department
                - displayName
                - emailAddresses
                - fileAs
                - flag
                - gender
                - generation
                - givenName
                - imAddresses
                - initials
                - isFavorite
                - jobTitle
                - manager
                - middleName
                - nickName
                - officeLocation
                - parentFolderId
                - personalNotes
                - phones
                - postalAddresses
                - profession
                - spouseName
                - surname
                - title
                - websites
                - weddingAnniversary
                - yomiCompanyName
                - yomiGivenName
                - yomiSurname
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property contacts in users
      operationId: users.contactFolders_UpdateContacts
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property contacts for users
      operationId: users.contactFolders_DeleteContacts
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.contacts_ListExtensions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to extensions for users
      operationId: users.contactFolders.contacts_CreateExtensions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions/{extension-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      description: The collection of open extensions defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.contacts_GetExtensions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property extensions in users
      operationId: users.contactFolders.contacts_UpdateExtensions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property extensions for users
      operationId: users.contactFolders.contacts_DeleteExtensions
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.contacts_ListMultiValueExtendedProperties
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.multiValueLegacyExtendedPropertyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.contactFolders.contacts_CreateMultiValueExtendedProperties
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.contacts_GetMultiValueExtendedProperties
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.contactFolders.contacts_UpdateMultiValueExtendedProperties
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property multiValueExtendedProperties for users
      operationId: users.contactFolders.contacts_DeleteMultiValueExtendedProperties
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo':
    get:
      tags:
        - users.contactFolder
      summary: Get photo from users
      description: Optional contact picture. You can get or set a photo for a contact.
      operationId: users.contactFolders.contacts_GetPhoto
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - height
                - width
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property photo in users
      operationId: users.contactFolders.contacts_UpdatePhoto
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property photo for users
      operationId: users.contactFolders.contacts_DeletePhoto
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo/$value':
    get:
      tags:
        - users.contactFolder
      summary: Get media content for the navigation property photo from users
      operationId: users.contactFolders.contacts_GetPhotoContent
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.contactFolder
      summary: Update media content for the navigation property photo in users
      operationId: users.contactFolders.contacts_SetPhotoContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      description: The collection of single-value extended properties defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.contacts_ListSingleValueExtendedProperties
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.singleValueLegacyExtendedPropertyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.contactFolders.contacts_CreateSingleValueExtendedProperties
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      description: The collection of single-value extended properties defined for the contact. Read-only. Nullable.
      operationId: users.contactFolders.contacts_GetSingleValueExtendedProperties
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.contactFolders.contacts_UpdateSingleValueExtendedProperties
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property singleValueExtendedProperties for users
      operationId: users.contactFolders.contacts_DeleteSingleValueExtendedProperties
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the contactFolder. Read-only. Nullable.
      operationId: users.contactFolders_ListMultiValueExtendedProperties
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.multiValueLegacyExtendedPropertyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.contactFolders_CreateMultiValueExtendedProperties
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the contactFolder. Read-only. Nullable.
      operationId: users.contactFolders_GetMultiValueExtendedProperties
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.contactFolders_UpdateMultiValueExtendedProperties
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property multiValueExtendedProperties for users
      operationId: users.contactFolders_DeleteMultiValueExtendedProperties
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      description: The collection of single-value extended properties defined for the contactFolder. Read-only. Nullable.
      operationId: users.contactFolders_ListSingleValueExtendedProperties
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.singleValueLegacyExtendedPropertyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.contactFolders_CreateSingleValueExtendedProperties
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      description: The collection of single-value extended properties defined for the contactFolder. Read-only. Nullable.
      operationId: users.contactFolders_GetSingleValueExtendedProperties
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.contactFolders_UpdateSingleValueExtendedProperties
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property singleValueExtendedProperties for users
      operationId: users.contactFolders_DeleteSingleValueExtendedProperties
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts':
    get:
      tags:
        - users.contact
      summary: Get contacts from users
      description: The user's contacts. Read-only. Nullable.
      operationId: users_ListContacts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - assistantName
                - assistantName desc
                - birthday
                - birthday desc
                - children
                - children desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - emailAddresses
                - emailAddresses desc
                - fileAs
                - fileAs desc
                - flag
                - flag desc
                - gender
                - gender desc
                - generation
                - generation desc
                - givenName
                - givenName desc
                - imAddresses
                - imAddresses desc
                - initials
                - initials desc
                - isFavorite
                - isFavorite desc
                - jobTitle
                - jobTitle desc
                - manager
                - manager desc
                - middleName
                - middleName desc
                - nickName
                - nickName desc
                - officeLocation
                - officeLocation desc
                - parentFolderId
                - parentFolderId desc
                - personalNotes
                - personalNotes desc
                - phones
                - phones desc
                - postalAddresses
                - postalAddresses desc
                - profession
                - profession desc
                - spouseName
                - spouseName desc
                - surname
                - surname desc
                - title
                - title desc
                - websites
                - websites desc
                - weddingAnniversary
                - weddingAnniversary desc
                - yomiCompanyName
                - yomiCompanyName desc
                - yomiGivenName
                - yomiGivenName desc
                - yomiSurname
                - yomiSurname desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - assistantName
                - birthday
                - children
                - companyName
                - department
                - displayName
                - emailAddresses
                - fileAs
                - flag
                - gender
                - generation
                - givenName
                - imAddresses
                - initials
                - isFavorite
                - jobTitle
                - manager
[...]
