openapi: 3.0.1
info:
  title: Places
  version: v1.0-StagingBeta
servers:
  - url: https://graph.microsoft.com/StagingBeta/
    description: Core
paths:
  /places:
    get:
      tags:
        - places.place
      summary: Get entities from places
      operationId: places.place_ListPlace
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - geoCoordinates
                - geoCoordinates desc
                - phone
                - phone desc
                - address
                - address desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - geoCoordinates
                - phone
                - address
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of place
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.place'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - places.place
      summary: Add new entity to places
      operationId: places.place_CreatePlace
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.place'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.place'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/places/{place-id}':
    get:
      tags:
        - places.place
      summary: Get entity from places by key
      operationId: places.place_GetPlace
      parameters:
        - name: place-id
          in: path
          description: 'key: place-id of place'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: place
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - geoCoordinates
                - phone
                - address
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.place'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - places.place
      summary: Update entity in places
      operationId: places.place_UpdatePlace
      parameters:
        - name: place-id
          in: path
          description: 'key: place-id of place'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: place
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.place'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - places.place
      summary: Delete entity from places
      operationId: places.place_DeletePlace
      parameters:
        - name: place-id
          in: path
          description: 'key: place-id of place'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: place
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.place:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: place
          type: object
          properties:
            displayName:
              type: string
            geoCoordinates:
              $ref: '#/components/schemas/microsoft.graph.outlookGeoCoordinates'
            phone:
              type: string
              nullable: true
            address:
              $ref: '#/components/schemas/microsoft.graph.physicalAddress'
      example:
        id: string (identifier)
        displayName: string
        geoCoordinates:
          '@odata.type': microsoft.graph.outlookGeoCoordinates
        phone: string
        address:
          '@odata.type': microsoft.graph.physicalAddress
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    microsoft.graph.outlookGeoCoordinates:
      title: outlookGeoCoordinates
      type: object
      properties:
        altitude:
          type: number
          format: double
          nullable: true
        latitude:
          type: number
          format: double
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
        accuracy:
          type: number
          format: double
          nullable: true
        altitudeAccuracy:
          type: number
          format: double
          nullable: true
      example:
        altitude: double
        latitude: double
        longitude: double
        accuracy: double
        altitudeAccuracy: double
    microsoft.graph.physicalAddress:
      title: physicalAddress
      type: object
      properties:
        type:
          $ref: '#/components/schemas/microsoft.graph.physicalAddressType'
        postOfficeBox:
          type: string
          nullable: true
        street:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        countryOrRegion:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
      example:
        type:
          '@odata.type': microsoft.graph.physicalAddressType
        postOfficeBox: string
        street: string
        city: string
        state: string
        countryOrRegion: string
        postalCode: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.physicalAddressType:
      title: physicalAddressType
      enum:
        - unknown
        - home
        - business
        - other
      type: string
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]