openapi: 3.0.1
info:
  title: Planner
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/groups/{group-id}/planner':
    get:
      tags:
        - groups.plannerGroup
      summary: Get planner from groups
      description: Selective Planner services available to the group. Read-only. Nullable.
      operationId: group_GetPlanner
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - plans
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - plans
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property planner in groups
      operationId: group_UpdatePlanner
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property planner for groups
      operationId: group_DeletePlanner
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans':
    get:
      tags:
        - groups.plannerGroup
      summary: List plans
      description: Retrieve a list of plannerPlan objects owned by a group object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannergroup-list-plans?view=graph-rest-1.0
      operationId: group.planner_ListPlan
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - archivalInfo
                - archivalInfo desc
                - container
                - container desc
                - contexts
                - contexts desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - creationSource
                - creationSource desc
                - isArchived
                - isArchived desc
                - owner
                - owner desc
                - sharedWithContainers
                - sharedWithContainers desc
                - title
                - title desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - archivalInfo
                - container
                - contexts
                - createdBy
                - createdDateTime
                - creationSource
                - isArchived
                - owner
                - sharedWithContainers
                - title
                - buckets
                - details
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - buckets
                - details
                - tasks
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerPlanCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to plans for groups
      operationId: group.planner_CreatePlan
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plans from groups
      description: Read-only. Nullable. Returns the plannerPlans owned by the group.
      operationId: group.planner_GetPlan
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - archivalInfo
                - container
                - contexts
                - createdBy
                - createdDateTime
                - creationSource
                - isArchived
                - owner
                - sharedWithContainers
                - title
                - buckets
                - details
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - buckets
                - details
                - tasks
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property plans in groups
      operationId: group.planner_UpdatePlan
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlan'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property plans for groups
      operationId: group.planner_DeletePlan
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets':
    get:
      tags:
        - groups.plannerGroup
      summary: List buckets
      description: Retrieve a list of plannerBucket objects contained by a plannerPlan object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerplan-list-buckets?view=graph-rest-1.0
      operationId: group.planner.plan_ListBucket
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - archivalInfo
                - archivalInfo desc
                - creationSource
                - creationSource desc
                - isArchived
                - isArchived desc
                - name
                - name desc
                - orderHint
                - orderHint desc
                - planId
                - planId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - archivalInfo
                - creationSource
                - isArchived
                - name
                - orderHint
                - planId
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerBucketCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to buckets for groups
      operationId: group.planner.plan_CreateBucket
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get buckets from groups
      description: Collection of buckets in the plan. Read-only. Nullable.
      operationId: group.planner.plan_GetBucket
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - archivalInfo
                - creationSource
                - isArchived
                - name
                - orderHint
                - planId
                - tasks
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - tasks
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property buckets in groups
      operationId: group.planner.plan_UpdateBucket
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucket'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property buckets for groups
      operationId: group.planner.plan_DeleteBucket
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks':
    get:
      tags:
        - groups.plannerGroup
      summary: List tasks
      description: Retrieve a list of plannerTask objects associated to a plannerBucket object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerbucket-list-tasks?view=graph-rest-1.0
      operationId: group.planner.plan.bucket_ListTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activeChecklistItemCount
                - activeChecklistItemCount desc
                - appliedCategories
                - appliedCategories desc
                - archivalInfo
                - archivalInfo desc
                - assigneePriority
                - assigneePriority desc
                - assignments
                - assignments desc
                - bucketId
                - bucketId desc
                - checklistItemCount
                - checklistItemCount desc
                - completedBy
                - completedBy desc
                - completedDateTime
                - completedDateTime desc
                - conversationThreadId
                - conversationThreadId desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - creationSource
                - creationSource desc
                - dueDateTime
                - dueDateTime desc
                - hasDescription
                - hasDescription desc
                - isArchived
                - isArchived desc
                - isOnMyDay
                - isOnMyDay desc
                - isOnMyDayLastModifiedDate
                - isOnMyDayLastModifiedDate desc
                - orderHint
                - orderHint desc
                - percentComplete
                - percentComplete desc
                - planId
                - planId desc
                - previewType
                - previewType desc
                - priority
                - priority desc
                - recurrence
                - recurrence desc
                - referenceCount
                - referenceCount desc
                - specifiedCompletionRequirements
                - specifiedCompletionRequirements desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeChecklistItemCount
                - appliedCategories
                - archivalInfo
                - assigneePriority
                - assignments
                - bucketId
                - checklistItemCount
                - completedBy
                - completedDateTime
                - conversationThreadId
                - createdBy
                - createdDateTime
                - creationSource
                - dueDateTime
                - hasDescription
                - isArchived
                - isOnMyDay
                - isOnMyDayLastModifiedDate
                - orderHint
                - percentComplete
                - planId
                - previewType
                - priority
                - recurrence
                - referenceCount
                - specifiedCompletionRequirements
                - startDateTime
                - title
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerTaskCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to tasks for groups
      operationId: group.planner.plan.bucket_CreateTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get tasks from groups
      description: Read-only. Nullable. The collection of tasks in the bucket.
      operationId: group.planner.plan.bucket_GetTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeChecklistItemCount
                - appliedCategories
                - archivalInfo
                - assigneePriority
                - assignments
                - bucketId
                - checklistItemCount
                - completedBy
                - completedDateTime
                - conversationThreadId
                - createdBy
                - createdDateTime
                - creationSource
                - dueDateTime
                - hasDescription
                - isArchived
                - isOnMyDay
                - isOnMyDayLastModifiedDate
                - orderHint
                - percentComplete
                - planId
                - previewType
                - priority
                - recurrence
                - referenceCount
                - specifiedCompletionRequirements
                - startDateTime
                - title
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property tasks in groups
      operationId: group.planner.plan.bucket_UpdateTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property tasks for groups
      operationId: group.planner.plan.bucket_DeleteTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/assignedToTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plannerAssignedToTaskBoardTaskFormat
      description: Retrieve the properties and relationships of plannerAssignedToTaskBoardTaskFormat object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerassignedtotaskboardtaskformat-get?view=graph-rest-1.0
      operationId: group.planner.plan.bucket.task_GetAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHintsByAssignee
                - unassignedOrderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property assignedToTaskBoardFormat in groups
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerassignedtotaskboardtaskformat-update?view=graph-rest-1.0
      operationId: group.planner.plan.bucket.task_UpdateAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property assignedToTaskBoardFormat for groups
      operationId: group.planner.plan.bucket.task_DeleteAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/bucketTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plannerBucketTaskBoardTaskFormat
      description: Retrieve the properties and relationships of plannerBucketTaskBoardTaskFormat object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerbuckettaskboardtaskformat-get?view=graph-rest-1.0
      operationId: group.planner.plan.bucket.task_GetBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property bucketTaskBoardFormat in groups
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerbuckettaskboardtaskformat-update?view=graph-rest-1.0
      operationId: group.planner.plan.bucket.task_UpdateBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property bucketTaskBoardFormat for groups
      operationId: group.planner.plan.bucket.task_DeleteBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/details':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plannerTaskDetails
      description: Retrieve the properties and relationships of a plannerTaskDetails object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannertaskdetails-get?view=graph-rest-1.0
      operationId: group.planner.plan.bucket.task_GetDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - approvalAttachment
                - checklist
                - completionRequirements
                - description
                - forms
                - notes
                - previewType
                - references
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property details in groups
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannertaskdetails-update?view=graph-rest-1.0
      operationId: group.planner.plan.bucket.task_UpdateDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property details for groups
      operationId: group.planner.plan.bucket.task_DeleteDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/{plannerTask-id}/progressTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plannerProgressTaskBoardTaskFormat
      description: Retrieve the properties and relationships of plannerProgressTaskBoardTaskFormat object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerprogresstaskboardtaskformat-get?view=graph-rest-1.0
      operationId: group.planner.plan.bucket.task_GetProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property progressTaskBoardFormat in groups
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerprogresstaskboardtaskformat-update?view=graph-rest-1.0
      operationId: group.planner.plan.bucket.task_UpdateProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property progressTaskBoardFormat for groups
      operationId: group.planner.plan.bucket.task_DeleteProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/{plannerBucket-id}/tasks/$count':
    get:
      tags:
        - groups.plannerGroup
      summary: Get the number of the resource
      operationId: group.planner.plan.bucket.task_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerBucket-id
          in: path
          description: The unique identifier of plannerBucket
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerBucket
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/buckets/$count':
    get:
      tags:
        - groups.plannerGroup
      summary: Get the number of the resource
      operationId: group.planner.plan.bucket_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/details':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plannerPlanDetails
      description: Retrieve the properties and relationships of a plannerPlanDetails object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerplandetails-get?view=graph-rest-1.0
      operationId: group.planner.plan_GetDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categoryDescriptions
                - contextDetails
                - sharedWith
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property details in groups
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerplandetails-update?view=graph-rest-1.0
      operationId: group.planner.plan_UpdateDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerPlanDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property details for groups
      operationId: group.planner.plan_DeleteDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks':
    get:
      tags:
        - groups.plannerGroup
      summary: List tasks
      description: Retrieve a list of plannerTask objects associated with a plannerPlan object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerplan-list-tasks?view=graph-rest-1.0
      operationId: group.planner.plan_ListTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activeChecklistItemCount
                - activeChecklistItemCount desc
                - appliedCategories
                - appliedCategories desc
                - archivalInfo
                - archivalInfo desc
                - assigneePriority
                - assigneePriority desc
                - assignments
                - assignments desc
                - bucketId
                - bucketId desc
                - checklistItemCount
                - checklistItemCount desc
                - completedBy
                - completedBy desc
                - completedDateTime
                - completedDateTime desc
                - conversationThreadId
                - conversationThreadId desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - creationSource
                - creationSource desc
                - dueDateTime
                - dueDateTime desc
                - hasDescription
                - hasDescription desc
                - isArchived
                - isArchived desc
                - isOnMyDay
                - isOnMyDay desc
                - isOnMyDayLastModifiedDate
                - isOnMyDayLastModifiedDate desc
                - orderHint
                - orderHint desc
                - percentComplete
                - percentComplete desc
                - planId
                - planId desc
                - previewType
                - previewType desc
                - priority
                - priority desc
                - recurrence
                - recurrence desc
                - referenceCount
                - referenceCount desc
                - specifiedCompletionRequirements
                - specifiedCompletionRequirements desc
                - startDateTime
                - startDateTime desc
                - title
                - title desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeChecklistItemCount
                - appliedCategories
                - archivalInfo
                - assigneePriority
                - assignments
                - bucketId
                - checklistItemCount
                - completedBy
                - completedDateTime
                - conversationThreadId
                - createdBy
                - createdDateTime
                - creationSource
                - dueDateTime
                - hasDescription
                - isArchived
                - isOnMyDay
                - isOnMyDayLastModifiedDate
                - orderHint
                - percentComplete
                - planId
                - previewType
                - priority
                - recurrence
                - referenceCount
                - specifiedCompletionRequirements
                - startDateTime
                - title
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.plannerTaskCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.plannerGroup
      summary: Create new navigation property to tasks for groups
      operationId: group.planner.plan_CreateTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}':
    get:
      tags:
        - groups.plannerGroup
      summary: Get tasks from groups
      description: Collection of tasks in the plan. Read-only. Nullable.
      operationId: group.planner.plan_GetTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeChecklistItemCount
                - appliedCategories
                - archivalInfo
                - assigneePriority
                - assignments
                - bucketId
                - checklistItemCount
                - completedBy
                - completedDateTime
                - conversationThreadId
                - createdBy
                - createdDateTime
                - creationSource
                - dueDateTime
                - hasDescription
                - isArchived
                - isOnMyDay
                - isOnMyDayLastModifiedDate
                - orderHint
                - percentComplete
                - planId
                - previewType
                - priority
                - recurrence
                - referenceCount
                - specifiedCompletionRequirements
                - startDateTime
                - title
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignedToTaskBoardFormat
                - bucketTaskBoardFormat
                - details
                - progressTaskBoardFormat
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property tasks in groups
      operationId: group.planner.plan_UpdateTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTask'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property tasks for groups
      operationId: group.planner.plan_DeleteTask
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/assignedToTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plannerAssignedToTaskBoardTaskFormat
      description: Retrieve the properties and relationships of plannerAssignedToTaskBoardTaskFormat object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerassignedtotaskboardtaskformat-get?view=graph-rest-1.0
      operationId: group.planner.plan.task_GetAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHintsByAssignee
                - unassignedOrderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property assignedToTaskBoardFormat in groups
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerassignedtotaskboardtaskformat-update?view=graph-rest-1.0
      operationId: group.planner.plan.task_UpdateAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerAssignedToTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property assignedToTaskBoardFormat for groups
      operationId: group.planner.plan.task_DeleteAssignedToTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/bucketTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plannerBucketTaskBoardTaskFormat
      description: Retrieve the properties and relationships of plannerBucketTaskBoardTaskFormat object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerbuckettaskboardtaskformat-get?view=graph-rest-1.0
      operationId: group.planner.plan.task_GetBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property bucketTaskBoardFormat in groups
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerbuckettaskboardtaskformat-update?view=graph-rest-1.0
      operationId: group.planner.plan.task_UpdateBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerBucketTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property bucketTaskBoardFormat for groups
      operationId: group.planner.plan.task_DeleteBucketTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/details':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plannerTaskDetails
      description: Retrieve the properties and relationships of a plannerTaskDetails object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannertaskdetails-get?view=graph-rest-1.0
      operationId: group.planner.plan.task_GetDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - approvalAttachment
                - checklist
                - completionRequirements
                - description
                - forms
                - notes
                - previewType
                - references
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property details in groups
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannertaskdetails-update?view=graph-rest-1.0
      operationId: group.planner.plan.task_UpdateDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerTaskDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property details for groups
      operationId: group.planner.plan.task_DeleteDetail
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/planner/plans/{plannerPlan-id}/tasks/{plannerTask-id}/progressTaskBoardFormat':
    get:
      tags:
        - groups.plannerGroup
      summary: Get plannerProgressTaskBoardTaskFormat
      description: Retrieve the properties and relationships of plannerProgressTaskBoardTaskFormat object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerprogresstaskboardtaskformat-get?view=graph-rest-1.0
      operationId: group.planner.plan.task_GetProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - orderHint
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.plannerGroup
      summary: Update the navigation property progressTaskBoardFormat in groups
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/plannerprogresstaskboardtaskformat-update?view=graph-rest-1.0
      operationId: group.planner.plan.task_UpdateProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
          description: The unique identifier of plannerPlan
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerPlan
        - name: plannerTask-id
          in: path
          description: The unique identifier of plannerTask
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: plannerTask
        - name: If-Match
          in: header
          description: ETag value.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.plannerProgressTaskBoardTaskFormat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.plannerGroup
      summary: Delete navigation property progressTaskBoardFormat for groups
      operationId: group.planner.plan.task_DeleteProgressTaskBoardFormat
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: plannerPlan-id
          in: path
[...]
