openapi: 3.0.1
info:
  title: Reports
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLogs.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - directoryAudits
                - directoryProvisioning
                - provisioning
                - signIns
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directoryAudits
                - directoryProvisioning
                - provisioning
                - signIns
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
          links:
            directoryAudits:
              operationId: auditLogs.ListDirectoryAudits
            directoryProvisioning:
              operationId: auditLogs.ListDirectoryProvisioning
            provisioning:
              operationId: auditLogs.ListProvisioning
            signIns:
              operationId: auditLogs.ListSignIns
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLogs.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: List directoryAudits
      description: 'Get the list of audit logs generated by Azure Active Directory. This includes audit logs generated by various services within Azure AD, including user, app, device and group Management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (SSPR and admin password resets), and self service group management.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryaudit-list?view=graph-rest-1.0
      operationId: auditLogs_ListDirectoryAudits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - activityDisplayName
                - activityDisplayName desc
                - additionalDetails
                - additionalDetails desc
                - category
                - category desc
                - correlationId
                - correlationId desc
                - initiatedBy
                - initiatedBy desc
                - loggedByService
                - loggedByService desc
                - operationType
                - operationType desc
                - result
                - result desc
                - resultReason
                - resultReason desc
                - targetResources
                - targetResources desc
                - userAgent
                - userAgent desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - activityDisplayName
                - additionalDetails
                - category
                - correlationId
                - initiatedBy
                - loggedByService
                - operationType
                - result
                - resultReason
                - targetResources
                - userAgent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryAuditCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLogs_CreateDirectoryAudits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_GetDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - activityDisplayName
                - additionalDetails
                - category
                - correlationId
                - initiatedBy
                - loggedByService
                - operationType
                - result
                - resultReason
                - targetResources
                - userAgent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLogs_UpdateDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.directoryAudit
      summary: Delete navigation property directoryAudits for auditLogs
      operationId: auditLogs_DeleteDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: id of directoryAudit'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryProvisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLogs_ListDirectoryProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - action
                - action desc
                - activityDateTime
                - activityDateTime desc
                - changeId
                - changeId desc
                - cycleId
                - cycleId desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - initiatedBy
                - initiatedBy desc
                - jobId
                - jobId desc
                - modifiedProperties
                - modifiedProperties desc
                - provisioningAction
                - provisioningAction desc
                - provisioningStatusInfo
                - provisioningStatusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - servicePrincipal
                - servicePrincipal desc
                - sourceIdentity
                - sourceIdentity desc
                - sourceSystem
                - sourceSystem desc
                - statusInfo
                - statusInfo desc
                - targetIdentity
                - targetIdentity desc
                - targetSystem
                - targetSystem desc
                - tenantId
                - tenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - statusInfo
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to directoryProvisioning for auditLogs
      operationId: auditLogs_CreateDirectoryProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryProvisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLogs_GetDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - statusInfo
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property directoryProvisioning in auditLogs
      operationId: auditLogs_UpdateDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property directoryProvisioning for auditLogs
      operationId: auditLogs_DeleteDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: List provisioningObjectSummary
      description: 'Get all provisioning events that occurred in your tenant, such as the deletion of a group in a target application or the creation of a user when provisioning user accounts from your HR system. '
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/provisioningobjectsummary-list?view=graph-rest-1.0
      operationId: auditLogs_ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - action
                - action desc
                - activityDateTime
                - activityDateTime desc
                - changeId
                - changeId desc
                - cycleId
                - cycleId desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - initiatedBy
                - initiatedBy desc
                - jobId
                - jobId desc
                - modifiedProperties
                - modifiedProperties desc
                - provisioningAction
                - provisioningAction desc
                - provisioningStatusInfo
                - provisioningStatusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - servicePrincipal
                - servicePrincipal desc
                - sourceIdentity
                - sourceIdentity desc
                - sourceSystem
                - sourceSystem desc
                - statusInfo
                - statusInfo desc
                - targetIdentity
                - targetIdentity desc
                - targetSystem
                - targetSystem desc
                - tenantId
                - tenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - statusInfo
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLogs_CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLogs_GetProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - activityDateTime
                - changeId
                - cycleId
                - durationInMilliseconds
                - initiatedBy
                - jobId
                - modifiedProperties
                - provisioningAction
                - provisioningStatusInfo
                - provisioningSteps
                - servicePrincipal
                - sourceIdentity
                - sourceSystem
                - statusInfo
                - targetIdentity
                - targetSystem
                - tenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLogs_UpdateProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property provisioning for auditLogs
      operationId: auditLogs_DeleteProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: id of provisioningObjectSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: List signIns
      description: 'Get a list of signIn objects. The list contains the user sign-ins for your Azure Active Directory tenant. Sign-ins where a username and password are passed as part of authorization token, and successful federated sign-ins are currently included in the sign-in logs. The maximum and default page size is 1,000 objects and by default, the most recent sign-ins are returned first. Only sign-in events that occurred within the Azure Active Directory (Azure AD) default retention period are available.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/signin-list?view=graph-rest-1.0
      operationId: auditLogs_ListSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - authenticationContextClassReferences
                - authenticationContextClassReferences desc
                - authenticationDetails
                - authenticationDetails desc
                - authenticationMethodsUsed
                - authenticationMethodsUsed desc
                - authenticationProcessingDetails
                - authenticationProcessingDetails desc
                - authenticationProtocol
                - authenticationProtocol desc
                - authenticationRequirement
                - authenticationRequirement desc
                - authenticationRequirementPolicies
                - authenticationRequirementPolicies desc
                - autonomousSystemNumber
                - autonomousSystemNumber desc
                - azureResourceId
                - azureResourceId desc
                - clientAppUsed
                - clientAppUsed desc
                - clientCredentialType
                - clientCredentialType desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - crossTenantAccessType
                - crossTenantAccessType desc
                - deviceDetail
                - deviceDetail desc
                - federatedCredentialId
                - federatedCredentialId desc
                - flaggedForReview
                - flaggedForReview desc
                - homeTenantId
                - homeTenantId desc
                - homeTenantName
                - homeTenantName desc
                - incomingTokenType
                - incomingTokenType desc
                - ipAddress
                - ipAddress desc
                - ipAddressFromResourceProvider
                - ipAddressFromResourceProvider desc
                - isInteractive
                - isInteractive desc
                - isTenantRestricted
                - isTenantRestricted desc
                - location
                - location desc
                - mfaDetail
                - mfaDetail desc
                - networkLocationDetails
                - networkLocationDetails desc
                - originalRequestId
                - originalRequestId desc
                - privateLinkDetails
                - privateLinkDetails desc
                - processingTimeInMilliseconds
                - processingTimeInMilliseconds desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - resourceServicePrincipalId
                - resourceServicePrincipalId desc
                - resourceTenantId
                - resourceTenantId desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - servicePrincipalCredentialKeyId
                - servicePrincipalCredentialKeyId desc
                - servicePrincipalCredentialThumbprint
                - servicePrincipalCredentialThumbprint desc
                - servicePrincipalId
                - servicePrincipalId desc
                - servicePrincipalName
                - servicePrincipalName desc
                - sessionLifetimePolicies
                - sessionLifetimePolicies desc
                - signInEventTypes
                - signInEventTypes desc
                - signInIdentifier
                - signInIdentifier desc
                - signInIdentifierType
                - signInIdentifierType desc
                - status
                - status desc
                - tokenIssuerName
                - tokenIssuerName desc
                - tokenIssuerType
                - tokenIssuerType desc
                - uniqueTokenIdentifier
                - uniqueTokenIdentifier desc
                - userAgent
                - userAgent desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationContextClassReferences
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationProtocol
                - authenticationRequirement
                - authenticationRequirementPolicies
                - autonomousSystemNumber
                - azureResourceId
                - clientAppUsed
                - clientCredentialType
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - crossTenantAccessType
                - deviceDetail
                - federatedCredentialId
                - flaggedForReview
                - homeTenantId
                - homeTenantName
                - incomingTokenType
                - ipAddress
                - ipAddressFromResourceProvider
                - isInteractive
                - isTenantRestricted
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - privateLinkDetails
                - processingTimeInMilliseconds
                - resourceDisplayName
                - resourceId
                - resourceServicePrincipalId
                - resourceTenantId
                - riskDetail
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - servicePrincipalCredentialKeyId
                - servicePrincipalCredentialThumbprint
                - servicePrincipalId
                - servicePrincipalName
                - sessionLifetimePolicies
                - signInEventTypes
                - signInIdentifier
                - signInIdentifierType
                - status
                - tokenIssuerName
                - tokenIssuerType
                - uniqueTokenIdentifier
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
                - userType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.signInCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLogs_CreateSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_GetSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationContextClassReferences
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationProtocol
                - authenticationRequirement
                - authenticationRequirementPolicies
                - autonomousSystemNumber
                - azureResourceId
                - clientAppUsed
                - clientCredentialType
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - crossTenantAccessType
                - deviceDetail
                - federatedCredentialId
                - flaggedForReview
                - homeTenantId
                - homeTenantName
                - incomingTokenType
                - ipAddress
                - ipAddressFromResourceProvider
                - isInteractive
                - isTenantRestricted
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - privateLinkDetails
                - processingTimeInMilliseconds
                - resourceDisplayName
                - resourceId
                - resourceServicePrincipalId
                - resourceTenantId
                - riskDetail
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - servicePrincipalCredentialKeyId
                - servicePrincipalCredentialThumbprint
                - servicePrincipalId
                - servicePrincipalName
                - sessionLifetimePolicies
                - signInEventTypes
                - signInIdentifier
                - signInIdentifierType
                - status
                - tokenIssuerName
                - tokenIssuerType
                - uniqueTokenIdentifier
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
                - userType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLogs_UpdateSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signIn
      summary: Delete navigation property signIns for auditLogs
      operationId: auditLogs_DeleteSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: id of signIn'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns/microsoft.graph.confirmCompromised:
    post:
      tags:
        - auditLogs.Actions
      summary: Invoke action confirmCompromised
      description: 'Allow admins to mark an event in the Azure AD sign in logs as risky. Events marked as risky by an admin are immediately flagged as high risk in Azure AD Identity Protection, overriding previous risk states. Admins can confirm that events flagged as risky by Azure AD Identity Protection are in fact risky. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/signin-confirmcompromised?view=graph-rest-1.0
      operationId: auditLogs.signIns_confirmCompromised
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs/signIns/microsoft.graph.confirmSafe:
    post:
      tags:
        - auditLogs.Actions
      summary: Invoke action confirmSafe
      description: 'Allow admins to mark an event in Azure AD sign in logs as safe. Admins can either mark the events flagged as risky by Azure AD Identity Protection as safe, or they can mark unflagged events as safe. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/signin-confirmsafe?view=graph-rest-1.0
      operationId: auditLogs.signIns_confirmSafe
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get reports from deviceManagement
      description: Reports singleton
      operationId: deviceManagement_GetReports
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - cachedReportConfigurations
                - exportJobs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - cachedReportConfigurations
                - exportJobs
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
          links:
            cachedReportConfigurations:
              operationId: deviceManagement.Reports.ListCachedReportConfigurations
            exportJobs:
              operationId: deviceManagement.Reports.ListExportJobs
            getActiveMalwareReport:
              operationId: deviceManagement.reports.getActiveMalwareReport
            getActiveMalwareSummaryReport:
              operationId: deviceManagement.reports.getActiveMalwareSummaryReport
            getAllCertificatesReport:
              operationId: deviceManagement.reports.getAllCertificatesReport
            getAppsInstallSummaryReport:
              operationId: deviceManagement.reports.getAppsInstallSummaryReport
            getAppStatusOverviewReport:
              operationId: deviceManagement.reports.getAppStatusOverviewReport
            getCachedReport:
              operationId: deviceManagement.reports.getCachedReport
            getCertificatesReport:
              operationId: deviceManagement.reports.getCertificatesReport
            getCompliancePoliciesReportForDevice:
              operationId: deviceManagement.reports.getCompliancePoliciesReportGraphFPreDevice
            getCompliancePolicyDevicesReport:
              operationId: deviceManagement.reports.getCompliancePolicyDevicesReport
            getCompliancePolicyDeviceSummaryReport:
              operationId: deviceManagement.reports.getCompliancePolicyDeviceSummaryReport
            getCompliancePolicyNonComplianceReport:
              operationId: deviceManagement.reports.getCompliancePolicyNonComplianceReport
            getCompliancePolicyNonComplianceSummaryReport:
              operationId: deviceManagement.reports.getCompliancePolicyNonComplianceSummaryReport
            getComplianceSettingDetailsReport:
              operationId: deviceManagement.reports.getComplianceSettingDetailsReport
            getComplianceSettingNonComplianceReport:
              operationId: deviceManagement.reports.getComplianceSettingNonComplianceReport
            getComplianceSettingsReport:
              operationId: deviceManagement.reports.getComplianceSettingsReport
            getConfigManagerDevicePolicyStatusReport:
              operationId: deviceManagement.reports.getConfigManagerDevicePolicyStatusReport
            getConfigurationPoliciesReportForDevice:
              operationId: deviceManagement.reports.getConfigurationPoliciesReportGraphFPreDevice
            getConfigurationPolicyDevicesReport:
              operationId: deviceManagement.reports.getConfigurationPolicyDevicesReport
            getConfigurationPolicyDeviceSummaryReport:
              operationId: deviceManagement.reports.getConfigurationPolicyDeviceSummaryReport
            getConfigurationPolicyNonComplianceReport:
              operationId: deviceManagement.reports.getConfigurationPolicyNonComplianceReport
            getConfigurationPolicyNonComplianceSummaryReport:
              operationId: deviceManagement.reports.getConfigurationPolicyNonComplianceSummaryReport
            getConfigurationPolicySettingsDeviceSummaryReport:
              operationId: deviceManagement.reports.getConfigurationPolicySettingsDeviceSummaryReport
            getConfigurationSettingDetailsReport:
              operationId: deviceManagement.reports.getConfigurationSettingDetailsReport
            getConfigurationSettingNonComplianceReport:
              operationId: deviceManagement.reports.getConfigurationSettingNonComplianceReport
            getConfigurationSettingsReport:
              operationId: deviceManagement.reports.getConfigurationSettingsReport
            getDeviceConfigurationPolicySettingsSummaryReport:
              operationId: deviceManagement.reports.getDeviceConfigurationPolicySettingsSummaryReport
            getDeviceConfigurationPolicyStatusSummary:
              operationId: deviceManagement.reports.getDeviceConfigurationPolicyStatusSummary
            getDeviceInstallStatusReport:
              operationId: deviceManagement.reports.getDeviceInstallStatusReport
            getDeviceManagementIntentPerSettingContributingProfiles:
              operationId: deviceManagement.reports.getDeviceManagementIntentPerSettingContributingProfiles
            getDeviceManagementIntentSettingsReport:
              operationId: deviceManagement.reports.getDeviceManagementIntentSettingsReport
            getDeviceNonComplianceReport:
              operationId: deviceManagement.reports.getDeviceNonComplianceReport
            getEnrollmentConfigurationPoliciesByDevice:
              operationId: deviceManagement.reports.getEnrollmentConfigurationPoliciesGraphBPreDevice
            getFailedMobileAppsReport:
              operationId: deviceManagement.reports.getFailedMobileAppsReport
            getFailedMobileAppsSummaryReport:
              operationId: deviceManagement.reports.getFailedMobileAppsSummaryReport
            getGroupPolicySettingsDeviceSettingsReport:
              operationId: deviceManagement.reports.getGroupPolicySettingsDeviceSettingsReport
            getHistoricalReport:
              operationId: deviceManagement.reports.getHistoricalReport
            getMalwareSummaryReport:
              operationId: deviceManagement.reports.getMalwareSummaryReport
            getNoncompliantDevicesAndSettingsReport:
              operationId: deviceManagement.reports.getNoncompliantDevicesAndSettingsReport
            getPolicyNonComplianceMetadata:
              operationId: deviceManagement.reports.getPolicyNonComplianceMetadata
            getPolicyNonComplianceReport:
              operationId: deviceManagement.reports.getPolicyNonComplianceReport
            getPolicyNonComplianceSummaryReport:
              operationId: deviceManagement.reports.getPolicyNonComplianceSummaryReport
            getQuietTimePolicyUsersReport:
              operationId: deviceManagement.reports.getQuietTimePolicyUsersReport
            getQuietTimePolicyUserSummaryReport:
              operationId: deviceManagement.reports.getQuietTimePolicyUserSummaryReport
            getRelatedAppsStatusReport:
              operationId: deviceManagement.reports.getRelatedAppsStatusReport
            getRemoteAssistanceSessionsReport:
              operationId: deviceManagement.reports.getRemoteAssistanceSessionsReport
            getReportFilters:
              operationId: deviceManagement.reports.getReportFilters
            getSettingNonComplianceReport:
              operationId: deviceManagement.reports.getSettingNonComplianceReport
            getUnhealthyDefenderAgentsReport:
              operationId: deviceManagement.reports.getUnhealthyDefenderAgentsReport
            getUnhealthyFirewallReport:
              operationId: deviceManagement.reports.getUnhealthyFirewallReport
            getUnhealthyFirewallSummaryReport:
              operationId: deviceManagement.reports.getUnhealthyFirewallSummaryReport
            getUserInstallStatusReport:
              operationId: deviceManagement.reports.getUserInstallStatusReport
            getWindowsQualityUpdateAlertsPerPolicyPerDeviceReport:
              operationId: deviceManagement.reports.getWindowsQualityUpdateAlertsPerPolicyPerDeviceReport
            getWindowsQualityUpdateAlertSummaryReport:
              operationId: deviceManagement.reports.getWindowsQualityUpdateAlertSummaryReport
            getWindowsUpdateAlertsPerPolicyPerDeviceReport:
              operationId: deviceManagement.reports.getWindowsUpdateAlertsPerPolicyPerDeviceReport
            getWindowsUpdateAlertSummaryReport:
              operationId: deviceManagement.reports.getWindowsUpdateAlertSummaryReport
            getZebraFotaDeploymentReport:
              operationId: deviceManagement.reports.getZebraFotaDeploymentReport
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property reports in deviceManagement
      operationId: deviceManagement_UpdateReports
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property reports for deviceManagement
      operationId: deviceManagement_DeleteReports
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/cachedReportConfigurations:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get cachedReportConfigurations from deviceManagement
      description: Entity representing the configuration of a cached report
      operationId: deviceManagement.reports_ListCachedReportConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - expirationDateTime
                - expirationDateTime desc
                - filter
                - filter desc
                - lastRefreshDateTime
                - lastRefreshDateTime desc
                - metadata
                - metadata desc
                - orderBy
                - orderBy desc
                - reportName
                - reportName desc
                - select
                - select desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - lastRefreshDateTime
                - metadata
                - orderBy
                - reportName
                - select
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceManagementCachedReportConfigurationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to cachedReportConfigurations for deviceManagement
      operationId: deviceManagement.reports_CreateCachedReportConfigurations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/cachedReportConfigurations/{deviceManagementCachedReportConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get cachedReportConfigurations from deviceManagement
      description: Entity representing the configuration of a cached report
      operationId: deviceManagement.reports_GetCachedReportConfigurations
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: 'key: id of deviceManagementCachedReportConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - lastRefreshDateTime
                - metadata
                - orderBy
                - reportName
                - select
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property cachedReportConfigurations in deviceManagement
      operationId: deviceManagement.reports_UpdateCachedReportConfigurations
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: 'key: id of deviceManagementCachedReportConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property cachedReportConfigurations for deviceManagement
      operationId: deviceManagement.reports_DeleteCachedReportConfigurations
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: 'key: id of deviceManagementCachedReportConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/exportJobs:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report
      operationId: deviceManagement.reports_ListExportJobs
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - expirationDateTime
                - expirationDateTime desc
                - filter
                - filter desc
                - format
                - format desc
                - localizationType
                - localizationType desc
                - reportName
                - reportName desc
                - requestDateTime
                - requestDateTime desc
                - select
                - select desc
                - snapshotId
                - snapshotId desc
                - status
                - status desc
                - url
                - url desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - format
                - localizationType
                - reportName
                - requestDateTime
                - select
                - snapshotId
                - status
                - url
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceManagementExportJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to exportJobs for deviceManagement
      operationId: deviceManagement.reports_CreateExportJobs
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/exportJobs/{deviceManagementExportJob-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report
      operationId: deviceManagement.reports_GetExportJobs
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: 'key: id of deviceManagementExportJob'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - expirationDateTime
                - filter
                - format
                - localizationType
                - reportName
                - requestDateTime
                - select
                - snapshotId
                - status
                - url
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property exportJobs in deviceManagement
      operationId: deviceManagement.reports_UpdateExportJobs
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: 'key: id of deviceManagementExportJob'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property exportJobs for deviceManagement
      operationId: deviceManagement.reports_DeleteExportJobs
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: 'key: id of deviceManagementExportJob'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports:
    get:
      tags:
        - reports.reportRoot
      summary: Get reports
      operationId: reports.reportRoot_GetReportRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationSignInDetailedSummary
                - authenticationMethods
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageByPrinter
                - dailyPrintUsageByUser
                - dailyPrintUsageSummariesByPrinter
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageByPrinter
                - monthlyPrintUsageByUser
                - monthlyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByUser
                - security
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - applicationSignInDetailedSummary
                - authenticationMethods
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
                - dailyPrintUsageByPrinter
                - dailyPrintUsageByUser
                - dailyPrintUsageSummariesByPrinter
                - dailyPrintUsageSummariesByUser
                - monthlyPrintUsageByPrinter
                - monthlyPrintUsageByUser
                - monthlyPrintUsageSummariesByPrinter
                - monthlyPrintUsageSummariesByUser
                - security
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
          links:
            applicationSignInDetailedSummary:
              operationId: reports.ListApplicationSignInDetailedSummary
            authenticationMethods:
              operationId: reports.GetAuthenticationMethods
            credentialUserRegistrationDetails:
              operationId: reports.ListCredentialUserRegistrationDetails
            userCredentialUsageDetails:
              operationId: reports.ListUserCredentialUsageDetails
            dailyPrintUsageByPrinter:
              operationId: reports.ListDailyPrintUsageGraphBPrePrinter
            dailyPrintUsageByUser:
              operationId: reports.ListDailyPrintUsageGraphBPreUser
            dailyPrintUsageSummariesByPrinter:
              operationId: reports.ListDailyPrintUsageSummariesGraphBPrePrinter
            dailyPrintUsageSummariesByUser:
              operationId: reports.ListDailyPrintUsageSummariesGraphBPreUser
            monthlyPrintUsageByPrinter:
              operationId: reports.ListMonthlyPrintUsageGraphBPrePrinter
            monthlyPrintUsageByUser:
              operationId: reports.ListMonthlyPrintUsageGraphBPreUser
            monthlyPrintUsageSummariesByPrinter:
              operationId: reports.ListMonthlyPrintUsageSummariesGraphBPrePrinter
            monthlyPrintUsageSummariesByUser:
              operationId: reports.ListMonthlyPrintUsageSummariesGraphBPreUser
            security:
              operationId: reports.GetSecurity
            deviceConfigurationDeviceActivity:
              operationId: reports.deviceConfigurationDeviceActivity
            deviceConfigurationUserActivity:
              operationId: reports.deviceConfigurationUserActivity
            getAttackSimulationRepeatOffenders:
              operationId: reports.getAttackSimulationRepeatOffenders
            getAttackSimulationSimulationUserCoverage:
              operationId: reports.getAttackSimulationSimulationUserCoverage
            getAttackSimulationTrainingUserCoverage:
              operationId: reports.getAttackSimulationTrainingUserCoverage
            getAzureADApplicationSignInSummary:
              operationId: reports.getAzureADApplicationSignInSummary
            getBrowserDistributionUserCounts:
              operationId: reports.getBrowserDistributionUserCounts
            getBrowserUserCounts:
              operationId: reports.getBrowserUserCounts
            getBrowserUserDetail:
              operationId: reports.getBrowserUserDetail
            getCredentialUsageSummary:
              operationId: reports.getCredentialUsageSummary
            getCredentialUserRegistrationCount:
              operationId: reports.getCredentialUserRegistrationCount
            getEmailActivityCounts:
              operationId: reports.getEmailActivityCounts
            getEmailActivityUserCounts:
              operationId: reports.getEmailActivityUserCounts
            getEmailActivityUserDetail:
              operationId: reports.getEmailActivityUserDetail
            getEmailAppUsageAppsUserCounts:
              operationId: reports.getEmailAppUsageAppsUserCounts
            getEmailAppUsageUserCounts:
              operationId: reports.getEmailAppUsageUserCounts
            getEmailAppUsageUserDetail:
              operationId: reports.getEmailAppUsageUserDetail
            getEmailAppUsageVersionsUserCounts:
              operationId: reports.getEmailAppUsageVersionsUserCounts
            getGroupArchivedPrintJobs:
              operationId: reports.getGroupArchivedPrintJobs
            getM365AppPlatformUserCounts:
              operationId: reports.getM365AppPlatformUserCounts
            getM365AppUserCounts:
              operationId: reports.getM365AppUserCounts
            getM365AppUserDetail:
              operationId: reports.getM365AppUserDetail
            getMailboxUsageDetail:
              operationId: reports.getMailboxUsageDetail
            getMailboxUsageMailboxCounts:
              operationId: reports.getMailboxUsageMailboxCounts
            getMailboxUsageQuotaStatusMailboxCounts:
              operationId: reports.getMailboxUsageQuotaStatusMailboxCounts
            getMailboxUsageStorage:
              operationId: reports.getMailboxUsageStorage
            getOffice365ActivationCounts:
              operationId: reports.getOffice365ActivationCounts
            getOffice365ActivationsUserCounts:
              operationId: reports.getOffice365ActivationsUserCounts
            getOffice365ActivationsUserDetail:
              operationId: reports.getOffice365ActivationsUserDetail
            getOffice365ActiveUserCounts:
              operationId: reports.getOffice365ActiveUserCounts
            getOffice365ActiveUserDetail:
              operationId: reports.getOffice365ActiveUserDetail
            getOffice365GroupsActivityCounts:
              operationId: reports.getOffice365GroupsActivityCounts
            getOffice365GroupsActivityDetail:
              operationId: reports.getOffice365GroupsActivityDetail
            getOffice365GroupsActivityFileCounts:
              operationId: reports.getOffice365GroupsActivityFileCounts
            getOffice365GroupsActivityGroupCounts:
              operationId: reports.getOffice365GroupsActivityGroupCounts
            getOffice365GroupsActivityStorage:
              operationId: reports.getOffice365GroupsActivityStorage
            getOffice365ServicesUserCounts:
              operationId: reports.getOffice365ServicesUserCounts
            getOneDriveActivityFileCounts:
              operationId: reports.getOneDriveActivityFileCounts
            getOneDriveActivityUserCounts:
              operationId: reports.getOneDriveActivityUserCounts
            getOneDriveActivityUserDetail:
              operationId: reports.getOneDriveActivityUserDetail
            getOneDriveUsageAccountCounts:
              operationId: reports.getOneDriveUsageAccountCounts
            getOneDriveUsageAccountDetail:
              operationId: reports.getOneDriveUsageAccountDetail
            getOneDriveUsageFileCounts:
              operationId: reports.getOneDriveUsageFileCounts
            getOneDriveUsageStorage:
              operationId: reports.getOneDriveUsageStorage
            getPrinterArchivedPrintJobs:
              operationId: reports.getPrinterArchivedPrintJobs
            getRelyingPartyDetailedSummary:
              operationId: reports.getRelyingPartyDetailedSummary
            getSharePointActivityFileCounts:
              operationId: reports.getSharePointActivityFileCounts
            getSharePointActivityPages:
              operationId: reports.getSharePointActivityPages
            getSharePointActivityUserCounts:
              operationId: reports.getSharePointActivityUserCounts
            getSharePointActivityUserDetail:
              operationId: reports.getSharePointActivityUserDetail
            getSharePointSiteUsageDetail:
              operationId: reports.getSharePointSiteUsageDetail
            getSharePointSiteUsageFileCounts:
              operationId: reports.getSharePointSiteUsageFileCounts
            getSharePointSiteUsagePages:
              operationId: reports.getSharePointSiteUsagePages
            getSharePointSiteUsageSiteCounts:
              operationId: reports.getSharePointSiteUsageSiteCounts
            getSharePointSiteUsageStorage:
              operationId: reports.getSharePointSiteUsageStorage
            getSkypeForBusinessActivityCounts:
              operationId: reports.getSkypeGraphFPreBusinessActivityCounts
            getSkypeForBusinessActivityUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessActivityUserCounts
            getSkypeForBusinessActivityUserDetail:
              operationId: reports.getSkypeGraphFPreBusinessActivityUserDetail
            getSkypeForBusinessDeviceUsageDistributionUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessDeviceUsageDistributionUserCounts
            getSkypeForBusinessDeviceUsageUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessDeviceUsageUserCounts
            getSkypeForBusinessDeviceUsageUserDetail:
              operationId: reports.getSkypeGraphFPreBusinessDeviceUsageUserDetail
            getSkypeForBusinessOrganizerActivityCounts:
              operationId: reports.getSkypeGraphFPreBusinessOrganizerActivityCounts
            getSkypeForBusinessOrganizerActivityMinuteCounts:
              operationId: reports.getSkypeGraphFPreBusinessOrganizerActivityMinuteCounts
            getSkypeForBusinessOrganizerActivityUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessOrganizerActivityUserCounts
            getSkypeForBusinessParticipantActivityCounts:
              operationId: reports.getSkypeGraphFPreBusinessParticipantActivityCounts
            getSkypeForBusinessParticipantActivityMinuteCounts:
              operationId: reports.getSkypeGraphFPreBusinessParticipantActivityMinuteCounts
            getSkypeForBusinessParticipantActivityUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessParticipantActivityUserCounts
            getSkypeForBusinessPeerToPeerActivityCounts:
              operationId: reports.getSkypeGraphFPreBusinessPeerToPeerActivityCounts
            getSkypeForBusinessPeerToPeerActivityMinuteCounts:
              operationId: reports.getSkypeGraphFPreBusinessPeerToPeerActivityMinuteCounts
            getSkypeForBusinessPeerToPeerActivityUserCounts:
              operationId: reports.getSkypeGraphFPreBusinessPeerToPeerActivityUserCounts
            getTeamsDeviceUsageDistributionTotalUserCounts:
              operationId: reports.getTeamsDeviceUsageDistributionTotalUserCounts
            getTeamsDeviceUsageDistributionUserCounts:
              operationId: reports.getTeamsDeviceUsageDistributionUserCounts
            getTeamsDeviceUsageTotalUserCounts:
              operationId: reports.getTeamsDeviceUsageTotalUserCounts
            getTeamsDeviceUsageUserCounts:
              operationId: reports.getTeamsDeviceUsageUserCounts
            getTeamsDeviceUsageUserDetail:
              operationId: reports.getTeamsDeviceUsageUserDetail
            getTeamsTeamActivityCounts:
              operationId: reports.getTeamsTeamActivityCounts
            getTeamsTeamActivityDetail:
              operationId: reports.getTeamsTeamActivityDetail
            getTeamsTeamActivityDistributionCounts:
              operationId: reports.getTeamsTeamActivityDistributionCounts
            getTeamsUserActivityCounts:
              operationId: reports.getTeamsUserActivityCounts
            getTeamsUserActivityDistributionTotalUserCounts:
              operationId: reports.getTeamsUserActivityDistributionTotalUserCounts
            getTeamsUserActivityDistributionUserCounts:
              operationId: reports.getTeamsUserActivityDistributionUserCounts
            getTeamsUserActivityTotalCounts:
              operationId: reports.getTeamsUserActivityTotalCounts
            getTeamsUserActivityTotalDistributionCounts:
              operationId: reports.getTeamsUserActivityTotalDistributionCounts
            getTeamsUserActivityTotalUserCounts:
              operationId: reports.getTeamsUserActivityTotalUserCounts
            getTeamsUserActivityUserCounts:
              operationId: reports.getTeamsUserActivityUserCounts
            getTeamsUserActivityUserDetail:
              operationId: reports.getTeamsUserActivityUserDetail
            getUserArchivedPrintJobs:
              operationId: reports.getUserArchivedPrintJobs
            getYammerActivityCounts:
              operationId: reports.getYammerActivityCounts
            getYammerActivityUserCounts:
              operationId: reports.getYammerActivityUserCounts
            getYammerActivityUserDetail:
              operationId: reports.getYammerActivityUserDetail
            getYammerDeviceUsageDistributionUserCounts:
              operationId: reports.getYammerDeviceUsageDistributionUserCounts
            getYammerDeviceUsageUserCounts:
              operationId: reports.getYammerDeviceUsageUserCounts
            getYammerDeviceUsageUserDetail:
              operationId: reports.getYammerDeviceUsageUserDetail
            getYammerGroupsActivityCounts:
              operationId: reports.getYammerGroupsActivityCounts
            getYammerGroupsActivityDetail:
              operationId: reports.getYammerGroupsActivityDetail
            getYammerGroupsActivityGroupCounts:
              operationId: reports.getYammerGroupsActivityGroupCounts
            managedDeviceEnrollmentAbandonmentDetails:
              operationId: reports.managedDeviceEnrollmentAbandonmentDetails
            managedDeviceEnrollmentAbandonmentSummary:
              operationId: reports.managedDeviceEnrollmentAbandonmentSummary
            managedDeviceEnrollmentFailureDetails:
              operationId: reports.managedDeviceEnrollmentFailureDetails
            managedDeviceEnrollmentFailureTrends:
              operationId: reports.managedDeviceEnrollmentFailureTrends
            managedDeviceEnrollmentTopFailures:
              operationId: reports.managedDeviceEnrollmentTopFailures
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.reportRoot
      summary: Update reports
      operationId: reports.reportRoot_UpdateReportRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/applicationSignInDetailedSummary:
    get:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: List applicationSignInDetailedSummary
      description: Retrieve the applicationSignInDetailedSummary objects.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/reportroot-list-applicationsignindetailedsummary?view=graph-rest-1.0
      operationId: reports_ListApplicationSignInDetailedSummary
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - aggregatedEventDateTime
                - aggregatedEventDateTime desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - signInCount
                - signInCount desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - aggregatedEventDateTime
                - appDisplayName
                - appId
                - signInCount
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.applicationSignInDetailedSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Create new navigation property to applicationSignInDetailedSummary for reports
      operationId: reports_CreateApplicationSignInDetailedSummary
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/applicationSignInDetailedSummary/{applicationSignInDetailedSummary-id}':
    get:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Get applicationSignInDetailedSummary from reports
      description: Represents a detailed summary of an application sign-in.
      operationId: reports_GetApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: 'key: id of applicationSignInDetailedSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - aggregatedEventDateTime
                - appDisplayName
                - appId
                - signInCount
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Update the navigation property applicationSignInDetailedSummary in reports
      operationId: reports_UpdateApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: 'key: id of applicationSignInDetailedSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Delete navigation property applicationSignInDetailedSummary for reports
      operationId: reports_DeleteApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: 'key: id of applicationSignInDetailedSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get authenticationMethods from reports
      description: Container for navigation properties for Azure AD authentication methods resources.
      operationId: reports_GetAuthenticationMethods
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userRegistrationDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - userRegistrationDetails
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
          links:
            userRegistrationDetails:
              operationId: reports.AuthenticationMethods.ListUserRegistrationDetails
            usersRegisteredByFeature:
              operationId: reports.authenticationMethods.usersRegisteredGraphBPreFeature
            usersRegisteredByMethod:
              operationId: reports.authenticationMethods.usersRegisteredGraphBPreMethod
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.authenticationMethodsRoot
      summary: Update the navigation property authenticationMethods in reports
      operationId: reports_UpdateAuthenticationMethods
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.authenticationMethodsRoot
      summary: Delete navigation property authenticationMethods for reports
      operationId: reports_DeleteAuthenticationMethods
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods/microsoft.graph.usersRegisteredByFeature():
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByFeature
      operationId: reports.authenticationMethods_usersRegisteredGraphBPreFeature
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationFeatureSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/authenticationMethods/microsoft.graph.usersRegisteredByFeature(includedUserTypes=''{includedUserTypes}'',includedUserRoles=''{includedUserRoles}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByFeature
      operationId: reports.authenticationMethods_usersRegisteredGraphBPreFeature
      parameters:
        - name: includedUserTypes
          in: path
          description: 'Usage: includedUserTypes=''{includedUserTypes}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserTypes'
        - name: includedUserRoles
          in: path
          description: 'Usage: includedUserRoles=''{includedUserRoles}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserRoles'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationFeatureSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/authenticationMethods/microsoft.graph.usersRegisteredByMethod():
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByMethod
      operationId: reports.authenticationMethods_usersRegisteredGraphBPreMethod
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationMethodSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/authenticationMethods/microsoft.graph.usersRegisteredByMethod(includedUserTypes=''{includedUserTypes}'',includedUserRoles=''{includedUserRoles}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByMethod
      operationId: reports.authenticationMethods_usersRegisteredGraphBPreMethod
      parameters:
        - name: includedUserTypes
          in: path
          description: 'Usage: includedUserTypes=''{includedUserTypes}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserTypes'
        - name: includedUserRoles
          in: path
          description: 'Usage: includedUserRoles=''{includedUserRoles}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserRoles'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationMethodSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/authenticationMethods/userRegistrationDetails:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: List userRegistrationDetails
      description: Get a list of the authentication methods registered for the user as defined in the userRegistrationDetails object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/authenticationmethodsroot-list-userregistrationdetails?view=graph-rest-1.0
      operationId: reports.authenticationMethods_ListUserRegistrationDetails
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - defaultMfaMethod
                - defaultMfaMethod desc
                - isAdmin
                - isAdmin desc
                - isMfaCapable
                - isMfaCapable desc
                - isMfaRegistered
                - isMfaRegistered desc
                - isPasswordlessCapable
                - isPasswordlessCapable desc
                - isSsprCapable
                - isSsprCapable desc
                - isSsprEnabled
                - isSsprEnabled desc
                - isSsprRegistered
[...]
