openapi: 3.0.4
info:
  title: Reports
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /admin/reportSettings:
    get:
      tags:
        - admin.adminReportSettings
      summary: Get adminReportSettings
      description: Get the tenant-level settings for Microsoft 365 reports.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminreportsettings-get?view=graph-rest-beta
      operationId: admin_GetReportSetting
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminReportSettings
      summary: Update adminReportSettings
      description: Update tenant-level settings for Microsoft 365 reports.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminreportsettings-update?view=graph-rest-beta
      operationId: admin_UpdateReportSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminReportSettings
      summary: Delete navigation property reportSettings for admin
      operationId: admin_DeleteReportSetting
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLog.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLog.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/auditActivityTypes:
    get:
      tags:
        - auditLogs.auditActivityType
      summary: List auditActivityType objects
      description: Gets a list of all of the possible audit log types and which services they come from as defined in the auditActivityType object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-auditactivitytypes?view=graph-rest-beta
      operationId: auditLog_ListAuditActivityType
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.auditActivityTypeCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.auditActivityType
      summary: Create new navigation property to auditActivityTypes for auditLogs
      operationId: auditLog_CreateAuditActivityType
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditActivityType'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditActivityType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/auditActivityTypes/{auditActivityType-id}':
    get:
      tags:
        - auditLogs.auditActivityType
      summary: Get auditActivityTypes from auditLogs
      description: Represents an audit activity type which includes the associated service and category for a specific activity.
      operationId: auditLog_GetAuditActivityType
      parameters:
        - name: auditActivityType-id
          in: path
          description: The unique identifier of auditActivityType
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: auditActivityType
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditActivityType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditActivityType
      summary: Update the navigation property auditActivityTypes in auditLogs
      operationId: auditLog_UpdateAuditActivityType
      parameters:
        - name: auditActivityType-id
          in: path
          description: The unique identifier of auditActivityType
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: auditActivityType
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditActivityType'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditActivityType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.auditActivityType
      summary: Delete navigation property auditActivityTypes for auditLogs
      operationId: auditLog_DeleteAuditActivityType
      parameters:
        - name: auditActivityType-id
          in: path
          description: The unique identifier of auditActivityType
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: auditActivityType
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/auditActivityTypes/$count:
    get:
      tags:
        - auditLogs.auditActivityType
      summary: Get the number of the resource
      operationId: auditLog.auditActivityType_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/customSecurityAttributeAudits:
    get:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: List customSecurityAttributeAudits
      description: Get the list of audit logs generated by activities related to custom security attribute management in Microsoft Entra ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-customsecurityattributeaudits?view=graph-rest-beta
      operationId: auditLog_ListCustomSecurityAttributeAudit
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.customSecurityAttributeAuditCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Create new navigation property to customSecurityAttributeAudits for auditLogs
      operationId: auditLog_CreateCustomSecurityAttributeAudit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/customSecurityAttributeAudits/{customSecurityAttributeAudit-id}':
    get:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Get customSecurityAttributeAudits from auditLogs
      description: Represents a custom security attribute audit log.
      operationId: auditLog_GetCustomSecurityAttributeAudit
      parameters:
        - name: customSecurityAttributeAudit-id
          in: path
          description: The unique identifier of customSecurityAttributeAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customSecurityAttributeAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Update the navigation property customSecurityAttributeAudits in auditLogs
      operationId: auditLog_UpdateCustomSecurityAttributeAudit
      parameters:
        - name: customSecurityAttributeAudit-id
          in: path
          description: The unique identifier of customSecurityAttributeAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customSecurityAttributeAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Delete navigation property customSecurityAttributeAudits for auditLogs
      operationId: auditLog_DeleteCustomSecurityAttributeAudit
      parameters:
        - name: customSecurityAttributeAudit-id
          in: path
          description: The unique identifier of customSecurityAttributeAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customSecurityAttributeAudit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/customSecurityAttributeAudits/$count:
    get:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Get the number of the resource
      operationId: auditLog.customSecurityAttributeAudit_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: List directoryAudits
      description: 'Get the list of audit logs generated by Microsoft Entra ID. This includes audit logs generated by various services within Microsoft Entra ID, including user, app, device and group Management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (SSPR and admin password resets), and self service group management.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryaudit-list?view=graph-rest-beta
      operationId: auditLog_ListDirectoryAudit
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryAuditCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLog_CreateDirectoryAudit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudit
      description: 'Get a specific Microsoft Entra audit log item. This includes an audit log item generated by various services within Microsoft Entra ID like user, application, device and group management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (self-service and admin password resets), self-service group management, and so on.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryaudit-get?view=graph-rest-beta
      operationId: auditLog_GetDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLog_UpdateDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.directoryAudit
      summary: Delete navigation property directoryAudits for auditLogs
      operationId: auditLog_DeleteDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits/$count:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get the number of the resource
      operationId: auditLog.directoryAudit_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/directoryProvisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLog_ListDirectoryProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to directoryProvisioning for auditLogs
      operationId: auditLog_CreateDirectoryProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryProvisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLog_GetDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property directoryProvisioning in auditLogs
      operationId: auditLog_UpdateDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property directoryProvisioning for auditLogs
      operationId: auditLog_DeleteDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryProvisioning/$count:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get the number of the resource
      operationId: auditLog.directoryProvisioning_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/auditLogs/microsoft.graph.getSummarizedMSISignIns(aggregationWindow=''{aggregationWindow}'')':
    get:
      tags:
        - auditLogs.auditLogRoot.Functions
      summary: Invoke function getSummarizedMSISignIns
      description: 'Returns aggregated MSI sign-in event counts grouped by user, application, IP address, and time window, with drill-down capability using individual requestIds via the /signIns endpoint.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-getsummarizedmsisignins?view=graph-rest-beta
      operationId: auditLog_getSummarizedMSISignIn
      parameters:
        - name: aggregationWindow
          in: path
          description: 'Usage: aggregationWindow=''{aggregationWindow}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.aggregationWindow'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of summarizedSignIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.summarizedSignIn'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/auditLogs/microsoft.graph.getSummarizedNonInteractiveSignIns(aggregationWindow=''{aggregationWindow}'')':
    get:
      tags:
        - auditLogs.auditLogRoot.Functions
      summary: Invoke function getSummarizedNonInteractiveSignIns
      description: 'Returns aggregated non-interactive sign-in event counts grouped by user, application, IP address, and time window, with drill-down capability using individual requestIds via the /signIns endpoint. This includes autonomous agent sign-in events.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-getsummarizednoninteractivesignins?view=graph-rest-beta
      operationId: auditLog_getSummarizedNonInteractiveSignIn
      parameters:
        - name: aggregationWindow
          in: path
          description: 'Usage: aggregationWindow=''{aggregationWindow}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.aggregationWindow'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of summarizedSignIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.summarizedSignIn'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/auditLogs/microsoft.graph.getSummarizedServicePrincipalSignIns(aggregationWindow=''{aggregationWindow}'')':
    get:
      tags:
        - auditLogs.auditLogRoot.Functions
      summary: Invoke function getSummarizedServicePrincipalSignIns
      description: 'Returns aggregated service principal sign-in event counts grouped by user, application, IP address, and time window, with drill-down capability using individual requestIds via the /signIns endpoint. This includes autonomous agent sign-in events.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-getsummarizedserviceprincipalsignins?view=graph-rest-beta
      operationId: auditLog_getSummarizedServicePrincipalSignIn
      parameters:
        - name: aggregationWindow
          in: path
          description: 'Usage: aggregationWindow=''{aggregationWindow}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.aggregationWindow'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of summarizedSignIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.summarizedSignIn'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: List provisioningObjectSummary
      description: 'Get all provisioning events that occurred in your tenant, such as the deletion of a group in a target application or the creation of a user when provisioning user accounts from your HR system. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/provisioningobjectsummary-list?view=graph-rest-beta
      operationId: auditLog_ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLog_CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      description: Represents an action performed by the Microsoft Entra provisioning service and its associated properties.
      operationId: auditLog_GetProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLog_UpdateProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property provisioning for auditLogs
      operationId: auditLog_DeleteProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning/$count:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get the number of the resource
      operationId: auditLog.provisioning_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/signInEventsAppSummary:
    get:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: List signInEventsAppActivity objects
      description: Get a list of applications and their number of sign-in events in the past 30 days as defined in the signInEventsAppActivity object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-signineventsappsummary?view=graph-rest-beta
      operationId: auditLog_ListSignInEventsAppSummary
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.signInEventsAppActivityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Create new navigation property to signInEventsAppSummary for auditLogs
      operationId: auditLog_CreateSignInEventsAppSummary
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signInEventsAppActivity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsAppActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signInEventsAppSummary/{signInEventsAppActivity-appId}':
    get:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Get signInEventsAppSummary from auditLogs
      description: Represents the number of sign-in events for a specific application.
      operationId: auditLog_GetSignInEventsAppSummary
      parameters:
        - name: signInEventsAppActivity-appId
          in: path
          description: The unique identifier of signInEventsAppActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signInEventsAppActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsAppActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Update the navigation property signInEventsAppSummary in auditLogs
      operationId: auditLog_UpdateSignInEventsAppSummary
      parameters:
        - name: signInEventsAppActivity-appId
          in: path
          description: The unique identifier of signInEventsAppActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signInEventsAppActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signInEventsAppActivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsAppActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Delete navigation property signInEventsAppSummary for auditLogs
      operationId: auditLog_DeleteSignInEventsAppSummary
      parameters:
        - name: signInEventsAppActivity-appId
          in: path
          description: The unique identifier of signInEventsAppActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signInEventsAppActivity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signInEventsAppSummary/{signInEventsAppActivity-appId}/application':
    get:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Get application from auditLogs
      description: Represents an application registered in Microsoft Entra ID.
      operationId: auditLog.signInEventsAppSummary_GetApplication
      parameters:
        - name: signInEventsAppActivity-appId
          in: path
          description: The unique identifier of signInEventsAppActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signInEventsAppActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.application'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signInEventsAppSummary/{signInEventsAppActivity-appId}/application/logo':
    get:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Get logo for the navigation property application from auditLogs
      description: The main logo for the application. Not nullable.
      operationId: auditLog.signInEventsAppSummary_GetApplicationLogo
      parameters:
        - name: signInEventsAppActivity-appId
          in: path
          description: The unique identifier of signInEventsAppActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signInEventsAppActivity
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Update logo for the navigation property application in auditLogs
      description: The main logo for the application. Not nullable.
      operationId: auditLog.signInEventsAppSummary_SetApplicationLogo
      parameters:
        - name: signInEventsAppActivity-appId
          in: path
          description: The unique identifier of signInEventsAppActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signInEventsAppActivity
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Delete logo for the navigation property application in auditLogs
      description: The main logo for the application. Not nullable.
      operationId: auditLog.signInEventsAppSummary_DeleteApplicationLogo
      parameters:
        - name: signInEventsAppActivity-appId
          in: path
          description: The unique identifier of signInEventsAppActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signInEventsAppActivity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /auditLogs/signInEventsAppSummary/$count:
    get:
      tags:
        - auditLogs.signInEventsAppActivity
      summary: Get the number of the resource
      operationId: auditLog.signInEventsAppSummary_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/signInEventsSummary:
    get:
      tags:
        - auditLogs.signInEventsActivity
      summary: List signInEventsActivity objects
      description: Get a list of the number of signin events for a specific day as defined in the signInEventsActivity object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-signineventssummary?view=graph-rest-beta
      operationId: auditLog_ListSignInEventsSummary
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.signInEventsActivityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signInEventsActivity
      summary: Create new navigation property to signInEventsSummary for auditLogs
      operationId: auditLog_CreateSignInEventsSummary
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signInEventsActivity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signInEventsSummary/{signInEventsActivity-id}':
    get:
      tags:
        - auditLogs.signInEventsActivity
      summary: Get signInEventsSummary from auditLogs
      description: Represents the total number of sign-in events for a specific day.
      operationId: auditLog_GetSignInEventsSummary
      parameters:
        - name: signInEventsActivity-id
          in: path
          description: The unique identifier of signInEventsActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signInEventsActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signInEventsActivity
      summary: Update the navigation property signInEventsSummary in auditLogs
      operationId: auditLog_UpdateSignInEventsSummary
      parameters:
        - name: signInEventsActivity-id
          in: path
          description: The unique identifier of signInEventsActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signInEventsActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signInEventsActivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signInEventsActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signInEventsActivity
      summary: Delete navigation property signInEventsSummary for auditLogs
      operationId: auditLog_DeleteSignInEventsSummary
      parameters:
        - name: signInEventsActivity-id
          in: path
          description: The unique identifier of signInEventsActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signInEventsActivity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signInEventsSummary/$count:
    get:
      tags:
        - auditLogs.signInEventsActivity
      summary: Get the number of the resource
      operationId: auditLog.signInEventsSummary_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: List signIns
      description: 'Get a list of signIn objects. The list contains the user sign-ins for your Microsoft Entra tenant. Sign-ins where a username and password are passed as part of authorization token, and successful federated sign-ins are currently included in the sign-in logs. The maximum and default page size is 1,000 objects and by default, the most recent sign-ins are returned first. Only sign-in events that occurred within the Microsoft Entra ID default retention period are available.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-list?view=graph-rest-beta
      operationId: auditLog_ListSignIn
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.signInCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLog_CreateSignIn
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIn
      description: Retrieve a specific Microsoft Entra user sign-in event for your tenant. Sign-ins that are interactive in nature (where a username/password is passed as part of auth token) and successful federated sign-ins are currently included in the sign-in logs.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-get?view=graph-rest-beta
      operationId: auditLog_GetSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLog_UpdateSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signIn
      summary: Delete navigation property signIns for auditLogs
      operationId: auditLog_DeleteSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns/$count:
    get:
      tags:
        - auditLogs.signIn
      summary: Get the number of the resource
      operationId: auditLog.signIn_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/signIns/microsoft.graph.confirmCompromised:
    post:
      tags:
        - auditLogs.signIn
      summary: Invoke action confirmCompromised
      description: 'Allow admins to mark an event in the Microsoft Entra sign-in logs as risky. Events marked as risky by an admin are immediately flagged as high risk in Microsoft Entra ID Protection, overriding previous risk states. Admins can confirm that events flagged as risky by Microsoft Entra ID Protection are in fact risky. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-confirmcompromised?view=graph-rest-beta
      operationId: auditLog.signIn_confirmCompromised
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs/signIns/microsoft.graph.confirmSafe:
    post:
      tags:
        - auditLogs.signIn
      summary: Invoke action confirmSafe
      description: 'Allow admins to mark an event in Microsoft Entra sign-in logs as safe. Admins can either mark the events flagged as risky by Microsoft Entra ID Protection as safe, or they can mark unflagged events as safe. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-confirmsafe?view=graph-rest-beta
      operationId: auditLog.signIn_confirmSafe
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs/signIns/microsoft.graph.dismiss:
    post:
      tags:
        - auditLogs.signIn
      summary: Invoke action dismiss
      description: 'Mark an event in Microsoft Entra sign-in logs as dismissed. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-dismiss?view=graph-rest-beta
      operationId: auditLog.signIn_dismiss
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs/signUps:
    get:
      tags:
        - auditLogs.selfServiceSignUp
      summary: List signUps
      description: 'Retrieve the Microsoft Entra External ID user selfServiceSignUps events for your tenant.  The maximum and default page size is 1,000 objects and by default, the most recent sign-ups are returned first. Only sign-up events that occurred within the Microsoft Entra ID default retention period are available.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-signups?view=graph-rest-beta
      operationId: auditLog_ListSignUp
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.selfServiceSignUpCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.selfServiceSignUp
      summary: Create new navigation property to signUps for auditLogs
      operationId: auditLog_CreateSignUp
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.selfServiceSignUp'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.selfServiceSignUp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signUps/{selfServiceSignUp-id}':
    get:
      tags:
        - auditLogs.selfServiceSignUp
      summary: Get selfServiceSignUp
      description: 'Retrieve a specific Microsoft Entra External ID user selfServiceSignUp event for your tenant.  '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/selfservicesignup-get?view=graph-rest-beta
      operationId: auditLog_GetSignUp
      parameters:
        - name: selfServiceSignUp-id
          in: path
          description: The unique identifier of selfServiceSignUp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: selfServiceSignUp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.selfServiceSignUp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.selfServiceSignUp
      summary: Update the navigation property signUps in auditLogs
      operationId: auditLog_UpdateSignUp
      parameters:
        - name: selfServiceSignUp-id
          in: path
          description: The unique identifier of selfServiceSignUp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: selfServiceSignUp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.selfServiceSignUp'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.selfServiceSignUp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.selfServiceSignUp
      summary: Delete navigation property signUps for auditLogs
      operationId: auditLog_DeleteSignUp
      parameters:
        - name: selfServiceSignUp-id
          in: path
          description: The unique identifier of selfServiceSignUp
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: selfServiceSignUp
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signUps/$count:
    get:
      tags:
        - auditLogs.selfServiceSignUp
      summary: Get the number of the resource
      operationId: auditLog.signUp_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/reports:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get reports from deviceManagement
      operationId: deviceManagement_GetReport
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property reports in deviceManagement
      operationId: deviceManagement_UpdateReport
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property reports for deviceManagement
      operationId: deviceManagement_DeleteReport
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/cachedReportConfigurations:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get cachedReportConfigurations from deviceManagement
      description: Entity representing the configuration of a cached report.
      operationId: deviceManagement.report_ListCachedReportConfiguration
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementCachedReportConfigurationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to cachedReportConfigurations for deviceManagement
      operationId: deviceManagement.report_CreateCachedReportConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/cachedReportConfigurations/{deviceManagementCachedReportConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get cachedReportConfigurations from deviceManagement
      description: Entity representing the configuration of a cached report.
      operationId: deviceManagement.report_GetCachedReportConfiguration
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: The unique identifier of deviceManagementCachedReportConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property cachedReportConfigurations in deviceManagement
      operationId: deviceManagement.report_UpdateCachedReportConfiguration
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: The unique identifier of deviceManagementCachedReportConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property cachedReportConfigurations for deviceManagement
      operationId: deviceManagement.report_DeleteCachedReportConfiguration
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: The unique identifier of deviceManagementCachedReportConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/cachedReportConfigurations/$count:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get the number of the resource
      operationId: deviceManagement.report.cachedReportConfiguration_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/reports/exportJobs:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report.
      operationId: deviceManagement.report_ListExportJob
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementExportJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to exportJobs for deviceManagement
      operationId: deviceManagement.report_CreateExportJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/exportJobs/{deviceManagementExportJob-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report.
      operationId: deviceManagement.report_GetExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property exportJobs in deviceManagement
      operationId: deviceManagement.report_UpdateExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property exportJobs for deviceManagement
      operationId: deviceManagement.report_DeleteExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/exportJobs/$count:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get the number of the resource
      operationId: deviceManagement.report.exportJob_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/reports/microsoft.graph.getActiveMalwareReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getActiveMalwareReport
      operationId: deviceManagement.report_getActiveMalwareReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getActiveMalwareSummaryReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getActiveMalwareSummaryReport
      operationId: deviceManagement.report_getActiveMalwareSummaryReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getAllCertificatesReport:
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Invoke action getAllCertificatesReport
      operationId: deviceManagement.report_getAllCertificatesReport
      requestBody:
[...]
