openapi: 3.0.1
info:
  title: Reports
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /reports:
    get:
      tags:
        - reports.reportRoot
      summary: Get reports
      operationId: reports.reportRoot_GetReportRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationSignInDetailedSummary
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - applicationSignInDetailedSummary
                - credentialUserRegistrationDetails
                - userCredentialUsageDetails
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.reportRoot
      summary: Update reports
      operationId: reports.reportRoot_UpdateReportRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/applicationSignInDetailedSummary:
    get:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Get applicationSignInDetailedSummary from reports
      operationId: reports_ListApplicationSignInDetailedSummary
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appId
                - appId desc
                - appDisplayName
                - appDisplayName desc
                - status
                - status desc
                - signInCount
                - signInCount desc
                - aggregatedEventDateTime
                - aggregatedEventDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appId
                - appDisplayName
                - status
                - signInCount
                - aggregatedEventDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of applicationSignInDetailedSummary
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Create new navigation property to applicationSignInDetailedSummary for reports
      operationId: reports_CreateApplicationSignInDetailedSummary
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/applicationSignInDetailedSummary/{applicationSignInDetailedSummary-id}':
    get:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Get applicationSignInDetailedSummary from reports
      operationId: reports_GetApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: 'key: applicationSignInDetailedSummary-id of applicationSignInDetailedSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appId
                - appDisplayName
                - status
                - signInCount
                - aggregatedEventDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Update the navigation property applicationSignInDetailedSummary in reports
      operationId: reports_UpdateApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: 'key: applicationSignInDetailedSummary-id of applicationSignInDetailedSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/credentialUserRegistrationDetails:
    get:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Get credentialUserRegistrationDetails from reports
      operationId: reports_ListCredentialUserRegistrationDetails
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userPrincipalName
                - userPrincipalName desc
                - userDisplayName
                - userDisplayName desc
                - authMethods
                - authMethods desc
                - isRegistered
                - isRegistered desc
                - isEnabled
                - isEnabled desc
                - isCapable
                - isCapable desc
                - isMfaRegistered
                - isMfaRegistered desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userPrincipalName
                - userDisplayName
                - authMethods
                - isRegistered
                - isEnabled
                - isCapable
                - isMfaRegistered
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of credentialUserRegistrationDetails
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Create new navigation property to credentialUserRegistrationDetails for reports
      operationId: reports_CreateCredentialUserRegistrationDetails
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/credentialUserRegistrationDetails/{credentialUserRegistrationDetails-id}':
    get:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Get credentialUserRegistrationDetails from reports
      operationId: reports_GetCredentialUserRegistrationDetails
      parameters:
        - name: credentialUserRegistrationDetails-id
          in: path
          description: 'key: credentialUserRegistrationDetails-id of credentialUserRegistrationDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: credentialUserRegistrationDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userPrincipalName
                - userDisplayName
                - authMethods
                - isRegistered
                - isEnabled
                - isCapable
                - isMfaRegistered
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Update the navigation property credentialUserRegistrationDetails in reports
      operationId: reports_UpdateCredentialUserRegistrationDetails
      parameters:
        - name: credentialUserRegistrationDetails-id
          in: path
          description: 'key: credentialUserRegistrationDetails-id of credentialUserRegistrationDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: credentialUserRegistrationDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/microsoft.graph.deviceConfigurationDeviceActivity():
    get:
      tags:
        - reports.Functions
      summary: Invoke function deviceConfigurationDeviceActivity
      operationId: reports_deviceConfigurationDeviceActivity
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.deviceConfigurationUserActivity():
    get:
      tags:
        - reports.Functions
      summary: Invoke function deviceConfigurationUserActivity
      operationId: reports_deviceConfigurationUserActivity
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getAzureADApplicationSignInSummary(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getAzureADApplicationSignInSummary
      operationId: reports_getAzureADApplicationSignInSummary
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.applicationSignInSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getAzureADFeatureUsage(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getAzureADFeatureUsage
      operationId: reports_getAzureADFeatureUsage
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.azureADFeatureUsage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getAzureADLicenseUsage(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getAzureADLicenseUsage
      operationId: reports_getAzureADLicenseUsage
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.azureADLicenseUsage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getAzureADUserFeatureUsage():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getAzureADUserFeatureUsage
      operationId: reports_getAzureADUserFeatureUsage
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.azureADUserFeatureUsage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getCredentialUsageSummary(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getCredentialUsageSummary
      operationId: reports_getCredentialUsageSummary
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.credentialUsageSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getCredentialUserRegistrationCount():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getCredentialUserRegistrationCount
      operationId: reports_getCredentialUserRegistrationCount
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationCount'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityCounts
      operationId: reports_getEmailActivityCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailActivitySummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserCounts
      operationId: reports_getEmailActivityUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailActivitySummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserDetail
      operationId: reports_getEmailActivityUserDetail-fe32
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailActivityUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailActivityUserDetail
      operationId: reports_getEmailActivityUserDetail-ddb2
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageAppsUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageAppsUserCounts
      operationId: reports_getEmailAppUsageAppsUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailAppUsageAppsUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserCounts
      operationId: reports_getEmailAppUsageUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailAppUsageUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserDetail
      operationId: reports_getEmailAppUsageUserDetail-62ec
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailAppUsageUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageUserDetail
      operationId: reports_getEmailAppUsageUserDetail-546b
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailAppUsageUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getEmailAppUsageVersionsUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getEmailAppUsageVersionsUserCounts
      operationId: reports_getEmailAppUsageVersionsUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.emailAppUsageVersionsUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageDetail
      operationId: reports_getMailboxUsageDetail
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.mailboxUsageDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageMailboxCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageMailboxCounts
      operationId: reports_getMailboxUsageMailboxCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.mailboxUsageMailboxCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageQuotaStatusMailboxCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageQuotaStatusMailboxCounts
      operationId: reports_getMailboxUsageQuotaStatusMailboxCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.mailboxUsageQuotaStatusMailboxCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getMailboxUsageStorage(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getMailboxUsageStorage
      operationId: reports_getMailboxUsageStorage
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.mailboxUsageStorage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationCounts():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationCounts
      operationId: reports_getOffice365ActivationCounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365ActivationCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationsUserCounts():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationsUserCounts
      operationId: reports_getOffice365ActivationsUserCounts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365ActivationsUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.getOffice365ActivationsUserDetail():
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActivationsUserDetail
      operationId: reports_getOffice365ActivationsUserDetail
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365ActivationsUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserCounts
      operationId: reports_getOffice365ActiveUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365ActiveUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserDetail
      operationId: reports_getOffice365ActiveUserDetail-d389
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365ActiveUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ActiveUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ActiveUserDetail
      operationId: reports_getOffice365ActiveUserDetail-68ad
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365ActiveUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityCounts
      operationId: reports_getOffice365GroupsActivityCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365GroupsActivityCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityDetail
      operationId: reports_getOffice365GroupsActivityDetail-81cc
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365GroupsActivityDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityDetail
      operationId: reports_getOffice365GroupsActivityDetail-38f6
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365GroupsActivityDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityFileCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityFileCounts
      operationId: reports_getOffice365GroupsActivityFileCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365GroupsActivityFileCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityGroupCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityGroupCounts
      operationId: reports_getOffice365GroupsActivityGroupCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365GroupsActivityGroupCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365GroupsActivityStorage(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365GroupsActivityStorage
      operationId: reports_getOffice365GroupsActivityStorage
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365GroupsActivityStorage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOffice365ServicesUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOffice365ServicesUserCounts
      operationId: reports_getOffice365ServicesUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.office365ServicesUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityFileCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityFileCounts
      operationId: reports_getOneDriveActivityFileCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.siteActivitySummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityUserCounts
      operationId: reports_getOneDriveActivityUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.siteActivitySummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityUserDetail
      operationId: reports_getOneDriveActivityUserDetail-05f1
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.oneDriveActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveActivityUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveActivityUserDetail
      operationId: reports_getOneDriveActivityUserDetail-c424
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.oneDriveActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageAccountCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageAccountCounts
      operationId: reports_getOneDriveUsageAccountCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.oneDriveUsageAccountCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageAccountDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageAccountDetail
      operationId: reports_getOneDriveUsageAccountDetail-e827
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.oneDriveUsageAccountDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageAccountDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageAccountDetail
      operationId: reports_getOneDriveUsageAccountDetail-dd7f
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.oneDriveUsageAccountDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageFileCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageFileCounts
      operationId: reports_getOneDriveUsageFileCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.oneDriveUsageFileCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getOneDriveUsageStorage(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getOneDriveUsageStorage
      operationId: reports_getOneDriveUsageStorage
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.siteUsageStorage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getRelyingPartyDetailedSummary(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getRelyingPartyDetailedSummary
      operationId: reports_getRelyingPartyDetailedSummary
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.relyingPartyDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityFileCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityFileCounts
      operationId: reports_getSharePointActivityFileCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.siteActivitySummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityPages(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityPages
      operationId: reports_getSharePointActivityPages
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.sharePointActivityPages'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityUserCounts
      operationId: reports_getSharePointActivityUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.sharePointActivityUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityUserDetail
      operationId: reports_getSharePointActivityUserDetail-f3be
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.sharePointActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointActivityUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointActivityUserDetail
      operationId: reports_getSharePointActivityUserDetail-b778
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.sharePointActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsageDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsageDetail
      operationId: reports_getSharePointSiteUsageDetail-d27a
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.sharePointSiteUsageDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsageDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsageDetail
      operationId: reports_getSharePointSiteUsageDetail-204b
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.sharePointSiteUsageDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsageFileCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsageFileCounts
      operationId: reports_getSharePointSiteUsageFileCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.sharePointSiteUsageFileCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsagePages(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsagePages
      operationId: reports_getSharePointSiteUsagePages
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.sharePointSiteUsagePages'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsageSiteCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsageSiteCounts
      operationId: reports_getSharePointSiteUsageSiteCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.sharePointSiteUsageSiteCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSharePointSiteUsageStorage(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSharePointSiteUsageStorage
      operationId: reports_getSharePointSiteUsageStorage
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.siteUsageStorage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessActivityCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessActivityCounts
      operationId: reports_getSkypeForBusinessActivityCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessActivityCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessActivityUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessActivityUserCounts
      operationId: reports_getSkypeForBusinessActivityUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessActivityUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessActivityUserDetail
      operationId: reports_getSkypeForBusinessActivityUserDetail-e4c9
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessActivityUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessActivityUserDetail
      operationId: reports_getSkypeForBusinessActivityUserDetail-744e
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessDeviceUsageDistributionUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessDeviceUsageDistributionUserCounts
      operationId: reports_getSkypeForBusinessDeviceUsageDistributionUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessDeviceUsageDistributionUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessDeviceUsageUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessDeviceUsageUserCounts
      operationId: reports_getSkypeForBusinessDeviceUsageUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessDeviceUsageUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessDeviceUsageUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessDeviceUsageUserDetail
      operationId: reports_getSkypeForBusinessDeviceUsageUserDetail-a692
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessDeviceUsageUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessDeviceUsageUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessDeviceUsageUserDetail
      operationId: reports_getSkypeForBusinessDeviceUsageUserDetail-e753
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessDeviceUsageUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessOrganizerActivityCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessOrganizerActivityCounts
      operationId: reports_getSkypeForBusinessOrganizerActivityCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessOrganizerActivityCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessOrganizerActivityMinuteCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessOrganizerActivityMinuteCounts
      operationId: reports_getSkypeForBusinessOrganizerActivityMinuteCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessOrganizerActivityMinuteCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessOrganizerActivityUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessOrganizerActivityUserCounts
      operationId: reports_getSkypeForBusinessOrganizerActivityUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessOrganizerActivityUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessParticipantActivityCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessParticipantActivityCounts
      operationId: reports_getSkypeForBusinessParticipantActivityCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessParticipantActivityCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessParticipantActivityMinuteCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessParticipantActivityMinuteCounts
      operationId: reports_getSkypeForBusinessParticipantActivityMinuteCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessParticipantActivityMinuteCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessParticipantActivityUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessParticipantActivityUserCounts
      operationId: reports_getSkypeForBusinessParticipantActivityUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessParticipantActivityUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessPeerToPeerActivityCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessPeerToPeerActivityCounts
      operationId: reports_getSkypeForBusinessPeerToPeerActivityCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessPeerToPeerActivityCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessPeerToPeerActivityMinuteCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessPeerToPeerActivityMinuteCounts
      operationId: reports_getSkypeForBusinessPeerToPeerActivityMinuteCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessPeerToPeerActivityMinuteCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getSkypeForBusinessPeerToPeerActivityUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getSkypeForBusinessPeerToPeerActivityUserCounts
      operationId: reports_getSkypeForBusinessPeerToPeerActivityUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.skypeForBusinessPeerToPeerActivityUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getTeamsDeviceUsageDistributionUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getTeamsDeviceUsageDistributionUserCounts
      operationId: reports_getTeamsDeviceUsageDistributionUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.teamsDeviceUsageDistributionUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getTeamsDeviceUsageUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getTeamsDeviceUsageUserCounts
      operationId: reports_getTeamsDeviceUsageUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.teamsDeviceUsageUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getTeamsDeviceUsageUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getTeamsDeviceUsageUserDetail
      operationId: reports_getTeamsDeviceUsageUserDetail-7148
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.teamsDeviceUsageUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getTeamsDeviceUsageUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getTeamsDeviceUsageUserDetail
      operationId: reports_getTeamsDeviceUsageUserDetail-7565
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.teamsDeviceUsageUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getTeamsUserActivityCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getTeamsUserActivityCounts
      operationId: reports_getTeamsUserActivityCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.teamsUserActivityCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getTeamsUserActivityUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getTeamsUserActivityUserCounts
      operationId: reports_getTeamsUserActivityUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.teamsUserActivityUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getTeamsUserActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getTeamsUserActivityUserDetail
      operationId: reports_getTeamsUserActivityUserDetail-a3f1
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.teamsUserActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getTeamsUserActivityUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getTeamsUserActivityUserDetail
      operationId: reports_getTeamsUserActivityUserDetail-eb13
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.teamsUserActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getTenantSecureScores(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getTenantSecureScores
      operationId: reports_getTenantSecureScores
      parameters:
        - name: period
          in: path
          required: true
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerActivityCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerActivityCounts
      operationId: reports_getYammerActivityCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerActivitySummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerActivityUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerActivityUserCounts
      operationId: reports_getYammerActivityUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerActivitySummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerActivityUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerActivityUserDetail
      operationId: reports_getYammerActivityUserDetail-ac30
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerActivityUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerActivityUserDetail
      operationId: reports_getYammerActivityUserDetail-15a5
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerActivityUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerDeviceUsageDistributionUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerDeviceUsageDistributionUserCounts
      operationId: reports_getYammerDeviceUsageDistributionUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerDeviceUsageDistributionUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerDeviceUsageUserCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerDeviceUsageUserCounts
      operationId: reports_getYammerDeviceUsageUserCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerDeviceUsageUserCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerDeviceUsageUserDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerDeviceUsageUserDetail
      operationId: reports_getYammerDeviceUsageUserDetail-d0ac
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerDeviceUsageUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerDeviceUsageUserDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerDeviceUsageUserDetail
      operationId: reports_getYammerDeviceUsageUserDetail-cfad
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerDeviceUsageUserDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerGroupsActivityCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerGroupsActivityCounts
      operationId: reports_getYammerGroupsActivityCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerGroupsActivityCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerGroupsActivityDetail(date={date})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerGroupsActivityDetail
      operationId: reports_getYammerGroupsActivityDetail-da9a
      parameters:
        - name: date
          in: path
          required: true
          schema:
            pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
            type: string
            format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerGroupsActivityDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerGroupsActivityDetail(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerGroupsActivityDetail
      operationId: reports_getYammerGroupsActivityDetail-0d7d
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerGroupsActivityDetail'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.getYammerGroupsActivityGroupCounts(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function getYammerGroupsActivityGroupCounts
      operationId: reports_getYammerGroupsActivityGroupCounts
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.yammerGroupsActivityGroupCounts'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.managedDeviceEnrollmentAbandonmentDetails(skip={skip},top={top},filter={filter},skipToken={skipToken})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function managedDeviceEnrollmentAbandonmentDetails
      operationId: reports_managedDeviceEnrollmentAbandonmentDetails
      parameters:
        - name: skip
          in: path
          required: true
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            format: int32
            nullable: true
        - name: top
          in: path
          required: true
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            format: int32
            nullable: true
        - name: filter
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: skipToken
          in: path
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.managedDeviceEnrollmentAbandonmentSummary(skip={skip},top={top},filter={filter},skipToken={skipToken})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function managedDeviceEnrollmentAbandonmentSummary
      operationId: reports_managedDeviceEnrollmentAbandonmentSummary
      parameters:
        - name: skip
          in: path
          required: true
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            format: int32
            nullable: true
        - name: top
          in: path
          required: true
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            format: int32
            nullable: true
        - name: filter
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: skipToken
          in: path
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.managedDeviceEnrollmentFailureDetails():
    get:
      tags:
        - reports.Functions
      summary: Invoke function managedDeviceEnrollmentFailureDetails
      operationId: reports_managedDeviceEnrollmentFailureDetails-027e
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.managedDeviceEnrollmentFailureDetails(skip={skip},top={top},filter={filter},skipToken={skipToken})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function managedDeviceEnrollmentFailureDetails
      operationId: reports_managedDeviceEnrollmentFailureDetails-2b3d
      parameters:
        - name: skip
          in: path
          required: true
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            format: int32
            nullable: true
        - name: top
          in: path
          required: true
          schema:
            maximum: 2147483647
            minimum: -2147483648
            type: integer
            format: int32
            nullable: true
        - name: filter
          in: path
          required: true
          schema:
            type: string
            nullable: true
        - name: skipToken
          in: path
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.managedDeviceEnrollmentFailureTrends():
    get:
      tags:
        - reports.Functions
      summary: Invoke function managedDeviceEnrollmentFailureTrends
      operationId: reports_managedDeviceEnrollmentFailureTrends
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/microsoft.graph.managedDeviceEnrollmentTopFailures():
    get:
      tags:
        - reports.Functions
      summary: Invoke function managedDeviceEnrollmentTopFailures
      operationId: reports_managedDeviceEnrollmentTopFailures-4669
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/microsoft.graph.managedDeviceEnrollmentTopFailures(period={period})':
    get:
      tags:
        - reports.Functions
      summary: Invoke function managedDeviceEnrollmentTopFailures
      operationId: reports_managedDeviceEnrollmentTopFailures-afd1
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.report'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/userCredentialUsageDetails:
    get:
      tags:
        - reports.userCredentialUsageDetails
      summary: Get userCredentialUsageDetails from reports
      operationId: reports_ListUserCredentialUsageDetails
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - feature
                - feature desc
                - userPrincipalName
                - userPrincipalName desc
                - userDisplayName
                - userDisplayName desc
                - isSuccess
                - isSuccess desc
                - authMethod
                - authMethod desc
                - failureReason
                - failureReason desc
                - eventDateTime
                - eventDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - feature
                - userPrincipalName
                - userDisplayName
                - isSuccess
                - authMethod
                - failureReason
                - eventDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of userCredentialUsageDetails
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userCredentialUsageDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.userCredentialUsageDetails
      summary: Create new navigation property to userCredentialUsageDetails for reports
      operationId: reports_CreateUserCredentialUsageDetails
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userCredentialUsageDetails'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userCredentialUsageDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/userCredentialUsageDetails/{userCredentialUsageDetails-id}':
    get:
      tags:
        - reports.userCredentialUsageDetails
      summary: Get userCredentialUsageDetails from reports
      operationId: reports_GetUserCredentialUsageDetails
      parameters:
        - name: userCredentialUsageDetails-id
          in: path
          description: 'key: userCredentialUsageDetails-id of userCredentialUsageDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userCredentialUsageDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - feature
                - userPrincipalName
                - userDisplayName
                - isSuccess
                - authMethod
                - failureReason
                - eventDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userCredentialUsageDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.userCredentialUsageDetails
      summary: Update the navigation property userCredentialUsageDetails in reports
      operationId: reports_UpdateUserCredentialUsageDetails
      parameters:
        - name: userCredentialUsageDetails-id
          in: path
          description: 'key: userCredentialUsageDetails-id of userCredentialUsageDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userCredentialUsageDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userCredentialUsageDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.reportRoot:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: reportRoot
          type: object
          properties:
            applicationSignInDetailedSummary:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
            credentialUserRegistrationDetails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
            userCredentialUsageDetails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.userCredentialUsageDetails'
          description: The resource that represents an instance of History Reports.
      example:
        id: string (identifier)
        applicationSignInDetailedSummary:
          - '@odata.type': microsoft.graph.applicationSignInDetailedSummary
        credentialUserRegistrationDetails:
          - '@odata.type': microsoft.graph.credentialUserRegistrationDetails
        userCredentialUsageDetails:
          - '@odata.type': microsoft.graph.userCredentialUsageDetails
    microsoft.graph.applicationSignInDetailedSummary:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: applicationSignInDetailedSummary
          type: object
          properties:
            appId:
              type: string
            appDisplayName:
              type: string
            status:
              $ref: '#/components/schemas/microsoft.graph.signInStatus'
            signInCount:
              type: integer
              format: int64
              nullable: true
            aggregatedEventDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
[...]
