openapi: 3.0.1
info:
  title: Reports
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /admin/reportSettings:
    get:
      tags:
        - admin.adminReportSettings
      summary: Get adminReportSettings
      description: Get the tenant-level settings for Microsoft 365 reports.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminreportsettings-get?view=graph-rest-1.0
      operationId: admin_GetReportSetting
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminReportSettings
      summary: Update adminReportSettings
      description: Update tenant-level settings for Microsoft 365 reports.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminreportsettings-update?view=graph-rest-1.0
      operationId: admin_UpdateReportSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminReportSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminReportSettings
      summary: Delete navigation property reportSettings for admin
      operationId: admin_DeleteReportSetting
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLog.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLog.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/customSecurityAttributeAudits:
    get:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: List customSecurityAttributeAudits
      description: Get the list of audit logs generated by activities related to custom security attribute management in Microsoft Entra ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/auditlogroot-list-customsecurityattributeaudits?view=graph-rest-1.0
      operationId: auditLog_ListCustomSecurityAttributeAudit
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.customSecurityAttributeAuditCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Create new navigation property to customSecurityAttributeAudits for auditLogs
      operationId: auditLog_CreateCustomSecurityAttributeAudit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/customSecurityAttributeAudits/{customSecurityAttributeAudit-id}':
    get:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Get customSecurityAttributeAudits from auditLogs
      description: Represents a custom security attribute audit log.
      operationId: auditLog_GetCustomSecurityAttributeAudit
      parameters:
        - name: customSecurityAttributeAudit-id
          in: path
          description: The unique identifier of customSecurityAttributeAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customSecurityAttributeAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Update the navigation property customSecurityAttributeAudits in auditLogs
      operationId: auditLog_UpdateCustomSecurityAttributeAudit
      parameters:
        - name: customSecurityAttributeAudit-id
          in: path
          description: The unique identifier of customSecurityAttributeAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customSecurityAttributeAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Delete navigation property customSecurityAttributeAudits for auditLogs
      operationId: auditLog_DeleteCustomSecurityAttributeAudit
      parameters:
        - name: customSecurityAttributeAudit-id
          in: path
          description: The unique identifier of customSecurityAttributeAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: customSecurityAttributeAudit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/customSecurityAttributeAudits/$count:
    get:
      tags:
        - auditLogs.customSecurityAttributeAudit
      summary: Get the number of the resource
      operationId: auditLog.customSecurityAttributeAudit_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: List directoryAudits
      description: 'Get the list of audit logs generated by Microsoft Entra ID. This includes audit logs generated by various services within Microsoft Entra ID, including user, app, device and group Management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (SSPR and admin password resets), and self service group management.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryaudit-list?view=graph-rest-1.0
      operationId: auditLog_ListDirectoryAudit
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryAuditCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLog_CreateDirectoryAudit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudit
      description: 'Get a specific Microsoft Entra audit log item. This includes an audit log item generated by various services within Microsoft Entra ID like user, application, device and group management, privileged identity management (PIM), access reviews, terms of use, identity protection, password management (self-service and admin password resets), self-service group management, and so on.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryaudit-get?view=graph-rest-1.0
      operationId: auditLog_GetDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLog_UpdateDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.directoryAudit
      summary: Delete navigation property directoryAudits for auditLogs
      operationId: auditLog_DeleteDirectoryAudit
      parameters:
        - name: directoryAudit-id
          in: path
          description: The unique identifier of directoryAudit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits/$count:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get the number of the resource
      operationId: auditLog.directoryAudit_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/directoryProvisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLog_ListDirectoryProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to directoryProvisioning for auditLogs
      operationId: auditLog_CreateDirectoryProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryProvisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLog_GetDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property directoryProvisioning in auditLogs
      operationId: auditLog_UpdateDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property directoryProvisioning for auditLogs
      operationId: auditLog_DeleteDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryProvisioning/$count:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get the number of the resource
      operationId: auditLog.directoryProvisioning_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: List provisioningObjectSummary
      description: 'Get all provisioning events that occurred in your tenant, such as the deletion of a group in a target application or the creation of a user when provisioning user accounts from your HR system. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/provisioningobjectsummary-list?view=graph-rest-1.0
      operationId: auditLog_ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.provisioningObjectSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLog_CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      description: Represents an action performed by the Microsoft Entra provisioning service and its associated properties.
      operationId: auditLog_GetProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLog_UpdateProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Delete navigation property provisioning for auditLogs
      operationId: auditLog_DeleteProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: The unique identifier of provisioningObjectSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning/$count:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get the number of the resource
      operationId: auditLog.provisioning_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: List signIns
      description: 'Get a list of signIn objects. The list contains the user sign-ins for your Microsoft Entra tenant. Sign-ins where a username and password are passed as part of authorization token, and successful federated sign-ins are currently included in the sign-in logs. The maximum and default page size is 1,000 objects and by default, the most recent sign-ins are returned first. Only sign-in events that occurred within the Microsoft Entra ID default retention period are available.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-list?view=graph-rest-1.0
      operationId: auditLog_ListSignIn
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.signInCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLog_CreateSignIn
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIn
      description: 'Get a signIn object that contains a specific user sign-in event for your tenant that includes sign-ins where a user is asked to enter a username or password, and session tokens.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-get?view=graph-rest-1.0
      operationId: auditLog_GetSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLog_UpdateSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - auditLogs.signIn
      summary: Delete navigation property signIns for auditLogs
      operationId: auditLog_DeleteSignIn
      parameters:
        - name: signIn-id
          in: path
          description: The unique identifier of signIn
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns/$count:
    get:
      tags:
        - auditLogs.signIn
      summary: Get the number of the resource
      operationId: auditLog.signIn_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /auditLogs/signIns/microsoft.graph.confirmCompromised:
    post:
      tags:
        - auditLogs.Actions
      summary: Invoke action confirmCompromised
      description: 'Allow admins to mark an event in the Microsoft Entra sign-in logs as risky. Events marked as risky by an admin are immediately flagged as high risk in Microsoft Entra ID Protection, overriding previous risk states. Admins can confirm that events flagged as risky by Microsoft Entra ID Protection are in fact risky. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-confirmcompromised?view=graph-rest-1.0
      operationId: auditLog.signIn_confirmCompromised
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /auditLogs/signIns/microsoft.graph.confirmSafe:
    post:
      tags:
        - auditLogs.Actions
      summary: Invoke action confirmSafe
      description: 'Allow admins to mark an event in Microsoft Entra sign-in logs as safe. Admins can either mark the events flagged as risky by Microsoft Entra ID Protection as safe, or they can mark unflagged events as safe. For details about investigating Identity Protection risks, see How to investigate risk.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/signin-confirmsafe?view=graph-rest-1.0
      operationId: auditLog.signIn_confirmSafe
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requestIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get reports from deviceManagement
      description: Reports singleton
      operationId: deviceManagement_GetReport
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property reports in deviceManagement
      operationId: deviceManagement_UpdateReport
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementReports'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property reports for deviceManagement
      operationId: deviceManagement_DeleteReport
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/cachedReportConfigurations:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get cachedReportConfigurations from deviceManagement
      description: Entity representing the configuration of a cached report.
      operationId: deviceManagement.report_ListCachedReportConfiguration
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementCachedReportConfigurationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to cachedReportConfigurations for deviceManagement
      operationId: deviceManagement.report_CreateCachedReportConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/cachedReportConfigurations/{deviceManagementCachedReportConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get cachedReportConfigurations from deviceManagement
      description: Entity representing the configuration of a cached report.
      operationId: deviceManagement.report_GetCachedReportConfiguration
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: The unique identifier of deviceManagementCachedReportConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property cachedReportConfigurations in deviceManagement
      operationId: deviceManagement.report_UpdateCachedReportConfiguration
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: The unique identifier of deviceManagementCachedReportConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property cachedReportConfigurations for deviceManagement
      operationId: deviceManagement.report_DeleteCachedReportConfiguration
      parameters:
        - name: deviceManagementCachedReportConfiguration-id
          in: path
          description: The unique identifier of deviceManagementCachedReportConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementCachedReportConfiguration
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/cachedReportConfigurations/$count:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get the number of the resource
      operationId: deviceManagement.report.cachedReportConfiguration_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/reports/exportJobs:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report.
      operationId: deviceManagement.report_ListExportJob
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementExportJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Create new navigation property to exportJobs for deviceManagement
      operationId: deviceManagement.report_CreateExportJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/reports/exportJobs/{deviceManagementExportJob-id}':
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get exportJobs from deviceManagement
      description: Entity representing a job to export a report.
      operationId: deviceManagement.report_GetExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Update the navigation property exportJobs in deviceManagement
      operationId: deviceManagement.report_UpdateExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExportJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Delete navigation property exportJobs for deviceManagement
      operationId: deviceManagement.report_DeleteExportJob
      parameters:
        - name: deviceManagementExportJob-id
          in: path
          description: The unique identifier of deviceManagementExportJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExportJob
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/reports/exportJobs/$count:
    get:
      tags:
        - deviceManagement.deviceManagementReports
      summary: Get the number of the resource
      operationId: deviceManagement.report.exportJob_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /reports:
    get:
      tags:
        - reports.reportRoot
      summary: Get reports
      operationId: report.reportRoot_GetReportRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.reportRoot
      summary: Update reports
      operationId: report.reportRoot_UpdateReportRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.reportRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.reportRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/appCredentialSignInActivities:
    get:
      tags:
        - reports.appCredentialSignInActivity
      summary: List appCredentialSignInActivities
      description: Get a list of appCredentialSignInActivity objects that contains recent activity of application credentials.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/reportroot-list-appcredentialsigninactivities?view=graph-rest-1.0
      operationId: report_ListAppCredentialSignInActivity
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.appCredentialSignInActivityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.appCredentialSignInActivity
      summary: Create new navigation property to appCredentialSignInActivities for reports
      operationId: report_CreateAppCredentialSignInActivity
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appCredentialSignInActivity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appCredentialSignInActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/appCredentialSignInActivities/{appCredentialSignInActivity-id}':
    get:
      tags:
        - reports.appCredentialSignInActivity
      summary: Get appCredentialSignInActivity
      description: Get an appCredentialSignInActivity object that contains recent activity of an application credential.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/appcredentialsigninactivity-get?view=graph-rest-1.0
      operationId: report_GetAppCredentialSignInActivity
      parameters:
        - name: appCredentialSignInActivity-id
          in: path
          description: The unique identifier of appCredentialSignInActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appCredentialSignInActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appCredentialSignInActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.appCredentialSignInActivity
      summary: Update the navigation property appCredentialSignInActivities in reports
      operationId: report_UpdateAppCredentialSignInActivity
      parameters:
        - name: appCredentialSignInActivity-id
          in: path
          description: The unique identifier of appCredentialSignInActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appCredentialSignInActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appCredentialSignInActivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appCredentialSignInActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.appCredentialSignInActivity
      summary: Delete navigation property appCredentialSignInActivities for reports
      operationId: report_DeleteAppCredentialSignInActivity
      parameters:
        - name: appCredentialSignInActivity-id
          in: path
          description: The unique identifier of appCredentialSignInActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appCredentialSignInActivity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/appCredentialSignInActivities/$count:
    get:
      tags:
        - reports.appCredentialSignInActivity
      summary: Get the number of the resource
      operationId: report.appCredentialSignInActivity_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /reports/applicationSignInDetailedSummary:
    get:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: List applicationSignInDetailedSummary
      description: Retrieve the applicationSignInDetailedSummary objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/reportroot-list-applicationsignindetailedsummary?view=graph-rest-1.0
      operationId: report_ListApplicationSignInDetailedSummary
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.applicationSignInDetailedSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Create new navigation property to applicationSignInDetailedSummary for reports
      operationId: report_CreateApplicationSignInDetailedSummary
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/applicationSignInDetailedSummary/{applicationSignInDetailedSummary-id}':
    get:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Get applicationSignInDetailedSummary
      description: Retrieve the properties and relationships of an applicationSignInDetailedSummary object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/applicationsignindetailedsummary-get?view=graph-rest-1.0
      operationId: report_GetApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: The unique identifier of applicationSignInDetailedSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Update the navigation property applicationSignInDetailedSummary in reports
      operationId: report_UpdateApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: The unique identifier of applicationSignInDetailedSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applicationSignInDetailedSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Delete navigation property applicationSignInDetailedSummary for reports
      operationId: report_DeleteApplicationSignInDetailedSummary
      parameters:
        - name: applicationSignInDetailedSummary-id
          in: path
          description: The unique identifier of applicationSignInDetailedSummary
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: applicationSignInDetailedSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/applicationSignInDetailedSummary/$count:
    get:
      tags:
        - reports.applicationSignInDetailedSummary
      summary: Get the number of the resource
      operationId: report.applicationSignInDetailedSummary_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /reports/authenticationMethods:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get authenticationMethods from reports
      description: Container for navigation properties for Microsoft Entra authentication methods resources.
      operationId: report_GetAuthenticationMethod
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.authenticationMethodsRoot
      summary: Update the navigation property authenticationMethods in reports
      operationId: report_UpdateAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.authenticationMethodsRoot
      summary: Delete navigation property authenticationMethods for reports
      operationId: report_DeleteAuthenticationMethod
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods/microsoft.graph.usersRegisteredByFeature():
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByFeature
      operationId: report.authenticationMethod_usersRegisteredGraphBPreFeature
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationFeatureSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/authenticationMethods/microsoft.graph.usersRegisteredByFeature(includedUserTypes=''{includedUserTypes}'',includedUserRoles=''{includedUserRoles}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByFeature
      operationId: report.authenticationMethod_usersRegisteredGraphBPreFeature
      parameters:
        - name: includedUserTypes
          in: path
          description: 'Usage: includedUserTypes=''{includedUserTypes}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserTypes'
        - name: includedUserRoles
          in: path
          description: 'Usage: includedUserRoles=''{includedUserRoles}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserRoles'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationFeatureSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/authenticationMethods/microsoft.graph.usersRegisteredByMethod():
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByMethod
      operationId: report.authenticationMethod_usersRegisteredGraphBPreMethod
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationMethodSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/reports/authenticationMethods/microsoft.graph.usersRegisteredByMethod(includedUserTypes=''{includedUserTypes}'',includedUserRoles=''{includedUserRoles}'')':
    get:
      tags:
        - reports.Functions
      summary: Invoke function usersRegisteredByMethod
      operationId: report.authenticationMethod_usersRegisteredGraphBPreMethod
      parameters:
        - name: includedUserTypes
          in: path
          description: 'Usage: includedUserTypes=''{includedUserTypes}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserTypes'
        - name: includedUserRoles
          in: path
          description: 'Usage: includedUserRoles=''{includedUserRoles}'''
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/microsoft.graph.includedUserRoles'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationMethodSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /reports/authenticationMethods/userRegistrationDetails:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: List userRegistrationDetails
      description: Get a list of the authentication methods registered for a user as defined in the userRegistrationDetails object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationmethodsroot-list-userregistrationdetails?view=graph-rest-1.0
      operationId: report.authenticationMethod_ListUserRegistrationDetail
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userRegistrationDetailsCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.authenticationMethodsRoot
      summary: Create new navigation property to userRegistrationDetails for reports
      operationId: report.authenticationMethod_CreateUserRegistrationDetail
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/authenticationMethods/userRegistrationDetails/{userRegistrationDetails-id}':
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get userRegistrationDetails
      description: Read the properties and relationships of a userRegistrationDetails object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userregistrationdetails-get?view=graph-rest-1.0
      operationId: report.authenticationMethod_GetUserRegistrationDetail
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: The unique identifier of userRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.authenticationMethodsRoot
      summary: Update the navigation property userRegistrationDetails in reports
      operationId: report.authenticationMethod_UpdateUserRegistrationDetail
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: The unique identifier of userRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.authenticationMethodsRoot
      summary: Delete navigation property userRegistrationDetails for reports
      operationId: report.authenticationMethod_DeleteUserRegistrationDetail
      parameters:
        - name: userRegistrationDetails-id
          in: path
          description: The unique identifier of userRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userRegistrationDetails
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/authenticationMethods/userRegistrationDetails/$count:
    get:
      tags:
        - reports.authenticationMethodsRoot
      summary: Get the number of the resource
      operationId: report.authenticationMethod.userRegistrationDetail_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /reports/credentialUserRegistrationDetails:
    get:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: List credentialUserRegistrationDetails
      description: Get a list of credentialUserRegistrationDetails objects for a given tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/reportroot-list-credentialuserregistrationdetails?view=graph-rest-1.0
      operationId: report_ListCredentialUserRegistrationDetail
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.credentialUserRegistrationDetailsCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-06-30'
        date: '2023-06-21'
        version: 2023-06/credentialUserRegistrationDetails
        description: 'The Reporting credentialUserRegistrationDetails API is deprecated and will stop returning data on June 30, 2024. Please use the new userRegistrationDetails API.'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Create new navigation property to credentialUserRegistrationDetails for reports
      operationId: report_CreateCredentialUserRegistrationDetail
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-06-30'
        date: '2023-06-21'
        version: 2023-06/credentialUserRegistrationDetails
        description: 'The Reporting credentialUserRegistrationDetails API is deprecated and will stop returning data on June 30, 2024. Please use the new userRegistrationDetails API.'
      x-ms-docs-operation-type: operation
  '/reports/credentialUserRegistrationDetails/{credentialUserRegistrationDetails-id}':
    get:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Get credentialUserRegistrationDetails from reports
      description: Details of the usage of self-service password reset and multifactor authentication (MFA) for all registered users.
      operationId: report_GetCredentialUserRegistrationDetail
      parameters:
        - name: credentialUserRegistrationDetails-id
          in: path
          description: The unique identifier of credentialUserRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: credentialUserRegistrationDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-06-30'
        date: '2023-06-21'
        version: 2023-06/credentialUserRegistrationDetails
        description: 'The Reporting credentialUserRegistrationDetails API is deprecated and will stop returning data on June 30, 2024. Please use the new userRegistrationDetails API.'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Update the navigation property credentialUserRegistrationDetails in reports
      operationId: report_UpdateCredentialUserRegistrationDetail
      parameters:
        - name: credentialUserRegistrationDetails-id
          in: path
          description: The unique identifier of credentialUserRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: credentialUserRegistrationDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.credentialUserRegistrationDetails'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-06-30'
        date: '2023-06-21'
        version: 2023-06/credentialUserRegistrationDetails
        description: 'The Reporting credentialUserRegistrationDetails API is deprecated and will stop returning data on June 30, 2024. Please use the new userRegistrationDetails API.'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Delete navigation property credentialUserRegistrationDetails for reports
      operationId: report_DeleteCredentialUserRegistrationDetail
      parameters:
        - name: credentialUserRegistrationDetails-id
          in: path
          description: The unique identifier of credentialUserRegistrationDetails
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: credentialUserRegistrationDetails
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-06-30'
        date: '2023-06-21'
        version: 2023-06/credentialUserRegistrationDetails
        description: 'The Reporting credentialUserRegistrationDetails API is deprecated and will stop returning data on June 30, 2024. Please use the new userRegistrationDetails API.'
      x-ms-docs-operation-type: operation
  /reports/credentialUserRegistrationDetails/$count:
    get:
      tags:
        - reports.credentialUserRegistrationDetails
      summary: Get the number of the resource
      operationId: report.credentialUserRegistrationDetail_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2024-06-30'
        date: '2023-06-21'
        version: 2023-06/credentialUserRegistrationDetails
        description: 'The Reporting credentialUserRegistrationDetails API is deprecated and will stop returning data on June 30, 2024. Please use the new userRegistrationDetails API.'
  /reports/dailyPrintUsage:
    get:
      tags:
        - reports.printUsage
      summary: Get dailyPrintUsage from reports
      operationId: report_ListDailyPrintUsage
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.printUsageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - reports.printUsage
      summary: Create new navigation property to dailyPrintUsage for reports
      operationId: report_CreateDailyPrintUsage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/reports/dailyPrintUsage/{printUsage-id}':
    get:
      tags:
        - reports.printUsage
      summary: Get dailyPrintUsage from reports
      operationId: report_GetDailyPrintUsage
      parameters:
        - name: printUsage-id
          in: path
          description: The unique identifier of printUsage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - reports.printUsage
      summary: Update the navigation property dailyPrintUsage in reports
      operationId: report_UpdateDailyPrintUsage
      parameters:
        - name: printUsage-id
          in: path
          description: The unique identifier of printUsage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.printUsage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.printUsage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - reports.printUsage
      summary: Delete navigation property dailyPrintUsage for reports
      operationId: report_DeleteDailyPrintUsage
      parameters:
        - name: printUsage-id
          in: path
          description: The unique identifier of printUsage
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: printUsage
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /reports/dailyPrintUsage/$count:
    get:
      tags:
        - reports.printUsage
      summary: Get the number of the resource
      operationId: report.dailyPrintUsage_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /reports/dailyPrintUsageByPrinter:
    get:
      tags:
        - reports.printUsageByPrinter
      summary: List dailyPrintUsageByPrinter
      description: 'Retrieve a list of daily print usage summaries, grouped by printer.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/reportroot-list-dailyprintusagebyprinter?view=graph-rest-1.0
      operationId: report_ListDailyPrintUsageGraphBPrePrinter
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
[...]
