openapi: 3.0.1
info:
  title: SchemaExtensions
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /schemaExtensions:
    get:
      tags:
        - schemaExtensions.schemaExtension
      summary: List schemaExtensions
      description: "Get a list of schemaExtension objects in your tenant. The schema extensions can be `InDevelopment`, `Available`, or `Deprecated` and includes schema extensions:\n+ Created by any apps you own in the current tenant.\n+ Owned by other apps that are marked as `Available`.\n+ Created by other developers from other tenants and marked as `Available`. This is different from other APIs that only return tenant-specific data. Extension data created based on schema extension definitions is tenant-specific and can only be accessed by apps explicitly granted permission. "
      operationId: schemaExtensions.schemaExtension_ListSchemaExtension
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - owner
                - owner desc
                - properties
                - properties desc
                - status
                - status desc
                - targetTypes
                - targetTypes desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - owner
                - properties
                - status
                - targetTypes
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.schemaExtensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - schemaExtensions.schemaExtension
      summary: Create schemaExtension
      description: "Create a new schemaExtension definition and its associated schema extension property to extend a supporting resource type. Schema extensions let you add strongly-typed custom data to a resource. The app that creates a schema extension is the owner app. Depending on the \nstate of the extension, the owner app, and only the owner app, may update or delete the extension.  See examples of how to define a schema extension that describes a training course, \nuse the schema extension definition to create a new group with training course data, and \nadd training course data to an existing group."
      operationId: schemaExtensions.schemaExtension_CreateSchemaExtension
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.schemaExtension'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.schemaExtension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/schemaExtensions/{schemaExtension-id}':
    get:
      tags:
        - schemaExtensions.schemaExtension
      summary: Get schemaExtension
      description: Get the properties of the specified schemaExtension definition.
      operationId: schemaExtensions.schemaExtension_GetSchemaExtension
      parameters:
        - name: schemaExtension-id
          in: path
          description: 'key: id of schemaExtension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: schemaExtension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - owner
                - properties
                - status
                - targetTypes
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.schemaExtension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - schemaExtensions.schemaExtension
      summary: Update schemaExtension
      description: 'Update properties in the definition of the specified schemaExtension. Additive updates to the extension can only be made when the extension is in the `InDevelopment` or `Available` status. This means custom properties or target resource types cannot be removed from the definition, but new custom properties can be added and the description of the extension changed. The update applies to all the resources that are included in the **targetTypes** property of the extension. These resources are among the supporting resource types. For delegated flows, the signed-in user can update a schema extension as long as the **owner** property of the extension is set to the **appId** of an application the signed-in user owns. That application can be the one that initially created the extension, or some other application owned by the signed-in user.  This criteria for the **owner** property allows a signed-in user to make updates through other applications they don''t own, such as Microsoft Graph Explorer. When using Graph Explorer to update a **schemaExtension** resource, include the **owner** property in the PATCH request body. For more information, see the Extensions section in Known issues with Microsoft Graph.'
      operationId: schemaExtensions.schemaExtension_UpdateSchemaExtension
      parameters:
        - name: schemaExtension-id
          in: path
          description: 'key: id of schemaExtension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: schemaExtension
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.schemaExtension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - schemaExtensions.schemaExtension
      summary: Delete schemaExtension
      description: 'Delete the definition of a schema extension. Only the app that created the schema extension (owner app) can delete the schema extension definition, and only when the extension is in the `InDevelopment` state. Deleting a schema extension definition does not affect accessing custom data that has been added to resource instances based on that definition.'
      operationId: schemaExtensions.schemaExtension_DeleteSchemaExtension
      parameters:
        - name: schemaExtension-id
          in: path
          description: 'key: id of schemaExtension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: schemaExtension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.schemaExtension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: schemaExtension
          type: object
          properties:
            description:
              type: string
              description: Description for the schema extension. Supports $filter (eq).
              nullable: true
            owner:
              type: string
              description: 'The appId of the application that is the owner of the schema extension. This property can be supplied on creation, to set the owner.  If not supplied, then the calling application''s appId will be set as the owner. In either case, the signed-in user must be the owner of the application. So, for example, if creating a new schema extension definition using Graph Explorer, you must supply the owner property. Once set, this property is read-only and cannot be changed. Supports $filter (eq).'
            properties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extensionSchemaProperty'
              description: The collection of property names and types that make up the schema extension definition.
            status:
              type: string
              description: 'The lifecycle state of the schema extension. Possible states are InDevelopment, Available, and Deprecated. Automatically set to InDevelopment on creation. For more information about the possible state transitions and behaviors, see Schema extensions lifecycle. Supports $filter (eq).'
            targetTypes:
              type: array
              items:
                type: string
              description: 'Set of Microsoft Graph types (that can support extensions) that the schema extension can be applied to. Select from administrativeUnit, contact, device, event, group, message, organization, post, todoTask, todoTaskList, or user.'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.extensionSchemaProperty:
      title: extensionSchemaProperty
      type: object
      properties:
        name:
          type: string
          description: The name of the strongly typed property defined as part of a schema extension.
          nullable: true
        type:
          type: string
          description: 'The type of the property that is defined as part of a schema extension.  Allowed values are Binary, Boolean, DateTime, Integer or String. See the table below for more details.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.schemaExtensionCollectionResponse:
      title: Collection of schemaExtension
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.schemaExtension'
        '@odata.nextLink':
          type: string
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innererror:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    microsoft.graph.schemaExtensionCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.schemaExtensionCollectionResponse'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]