openapi: 3.0.1
info:
  title: Search
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /external:
    get:
      tags:
        - external.external
      summary: Get external
      operationId: external.external_GetExternal
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - connections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - connections
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.external'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.external
      summary: Update external
      operationId: external.external_UpdateExternal
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.external'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/connections:
    get:
      tags:
        - external.externalConnection
      summary: Get connections from external
      operationId: external_ListConnections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - description
                - description desc
                - configuration
                - configuration desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - description
                - configuration
                - schema
                - items
                - operations
                - groups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
                - items
                - operations
                - groups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of externalConnection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.externalConnection'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to connections for external
      operationId: external_CreateConnections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get connections from external
      operationId: external_GetConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - description
                - configuration
                - schema
                - items
                - operations
                - groups
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schema
                - items
                - operations
                - groups
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property connections in external
      operationId: external_UpdateConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property connections for external
      operationId: external_DeleteConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search:
    get:
      tags:
        - search.search
      summary: Get search
      operationId: search.search_GetSearch
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.search
      summary: Update search
      operationId: search.search_UpdateSearch
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search/microsoft.graph.query:
    post:
      tags:
        - search.Actions
      summary: Invoke action query
      operationId: search_query
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.searchRequest'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.searchResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.external:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: external
          type: object
          properties:
            connections:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnection'
          additionalProperties:
            type: object
    microsoft.graph.externalConnection:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalConnection
          type: object
          properties:
            name:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            configuration:
              $ref: '#/components/schemas/microsoft.graph.configuration'
            schema:
              $ref: '#/components/schemas/microsoft.graph.schema'
            items:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalItem'
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.connectionOperation'
            groups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalGroup'
          additionalProperties:
            type: object
    microsoft.graph.search:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: search
          type: object
          additionalProperties:
            type: object
    microsoft.graph.searchRequest:
      title: searchRequest
      type: object
      properties:
        entityTypes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.entityType'
        contentSources:
          type: array
          items:
            type: string
            nullable: true
        query:
          $ref: '#/components/schemas/microsoft.graph.searchQuery'
        from:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
        size:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
        stored_fields:
          type: array
          items:
            type: string
            nullable: true
        enableTopResults:
          type: boolean
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.searchResponse:
      title: searchResponse
      type: object
      properties:
        searchTerms:
          type: array
          items:
            type: string
            nullable: true
        hitsContainers:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchHitsContainer'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.configuration:
      title: configuration
      type: object
      properties:
        authorizedApps:
          type: array
          items:
            type: string
            nullable: true
      additionalProperties:
        type: object
    microsoft.graph.schema:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: schema
          type: object
          properties:
            baseType:
              type: string
            properties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.property'
          additionalProperties:
            type: object
    microsoft.graph.externalItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalItem
          type: object
          properties:
            properties:
              $ref: '#/components/schemas/microsoft.graph.properties'
            content:
              $ref: '#/components/schemas/microsoft.graph.externalItemContent'
            acl:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.acl'
          additionalProperties:
            type: object
    microsoft.graph.connectionOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: connectionOperation
          type: object
          properties:
            status:
              $ref: '#/components/schemas/microsoft.graph.connectionOperationStatus'
            error:
              $ref: '#/components/schemas/microsoft.graph.errorDetail'
          additionalProperties:
            type: object
    microsoft.graph.externalGroup:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalGroup
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalGroupMember'
          additionalProperties:
            type: object
    microsoft.graph.entityType:
      title: entityType
      enum:
        - event
        - message
        - driveItem
        - externalFile
        - externalItem
      type: string
    microsoft.graph.searchQuery:
      title: searchQuery
      type: object
      properties:
        query_string:
          $ref: '#/components/schemas/microsoft.graph.searchQueryString'
      additionalProperties:
        type: object
    microsoft.graph.searchHitsContainer:
      title: searchHitsContainer
      type: object
      properties:
        hits:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchHit'
        total:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        moreResultsAvailable:
          type: boolean
          nullable: true
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.property:
      title: property
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/microsoft.graph.propertyType'
        isSearchable:
          type: boolean
          nullable: true
        isRetrievable:
          type: boolean
          nullable: true
        isQueryable:
          type: boolean
          nullable: true
        isContent:
          type: boolean
          nullable: true
        isRefinable:
          type: boolean
          nullable: true
        aliases:
          type: array
          items:
            type: string
            nullable: true
        labels:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.label'
      additionalProperties:
        type: object
    microsoft.graph.properties:
      title: properties
      type: object
      additionalProperties:
        type: object
    microsoft.graph.externalItemContent:
      title: externalItemContent
      type: object
      properties:
        value:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/microsoft.graph.externalItemContentType'
      additionalProperties:
        type: object
    microsoft.graph.acl:
      title: acl
      type: object
      properties:
        type:
          $ref: '#/components/schemas/microsoft.graph.aclType'
        value:
          type: string
        accessType:
          $ref: '#/components/schemas/microsoft.graph.accessType'
        identitySource:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.connectionOperationStatus:
      title: connectionOperationStatus
      enum:
        - unspecified
        - inprogress
        - completed
        - failed
      type: string
    microsoft.graph.errorDetail:
      title: errorDetail
      type: object
      properties:
        errorCode:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.innerErrorDetail'
      additionalProperties:
        type: object
    microsoft.graph.externalGroupMember:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalGroupMember
          type: object
          properties:
            type:
              $ref: '#/components/schemas/microsoft.graph.externalGroupMemberType'
            identitySource:
              $ref: '#/components/schemas/microsoft.graph.identitySourceType'
          additionalProperties:
            type: object
    microsoft.graph.searchQueryString:
      title: searchQueryString
      type: object
      properties:
        query:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.searchHit:
      title: searchHit
      type: object
      properties:
        _id:
          type: string
          nullable: true
        _score:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        _sortField:
          type: string
          nullable: true
        _summary:
          type: string
          nullable: true
        _source:
          $ref: '#/components/schemas/microsoft.graph.entity'
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    microsoft.graph.propertyType:
      title: propertyType
      enum:
        - String
        - Int64
        - Double
        - DateTime
        - Boolean
        - StringCollection
        - Int64Collection
        - DoubleCollection
        - DateTimeCollection
      type: string
    microsoft.graph.label:
      title: label
      enum:
        - title
        - url
        - createdBy
        - lastModifiedBy
        - authors
        - createdDateTime
        - lastModifiedDateTime
        - fileName
        - fileExtension
      type: string
    microsoft.graph.externalItemContentType:
      title: externalItemContentType
      enum:
        - text
        - html
        - unknownFutureValue
      type: string
    microsoft.graph.aclType:
      title: aclType
      enum:
        - user
        - group
        - everyone
        - everyoneExceptGuests
      type: string
    microsoft.graph.accessType:
      title: accessType
      enum:
        - grant
        - deny
      type: string
    microsoft.graph.innerErrorDetail:
      title: innerErrorDetail
      type: object
      properties:
        source:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.externalGroupMemberType:
      title: externalGroupMemberType
      enum:
        - user
        - group
      type: string
    microsoft.graph.identitySourceType:
      title: identitySourceType
      enum:
        - azureActiveDirectory
        - external
      type: string
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]