openapi: 3.0.1
info:
  title: Search
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /external:
    get:
      tags:
        - external.external
      summary: Get external
      operationId: external_GetExternal
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - industryData
                - authorizationSystems
                - connections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - industryData
                - authorizationSystems
                - connections
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.external'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.external
      summary: Update external
      operationId: external_UpdateExternal
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.external'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.external'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/authorizationSystems:
    get:
      tags:
        - external.authorizationSystem
      summary: Get authorizationSystems from external
      operationId: external_ListAuthorizationSystem
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - authorizationSystemId
                - authorizationSystemId desc
                - authorizationSystemName
                - authorizationSystemName desc
                - authorizationSystemType
                - authorizationSystemType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authorizationSystemId
                - authorizationSystemName
                - authorizationSystemType
                - dataCollectionInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - dataCollectionInfo
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authorizationSystemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.authorizationSystem
      summary: Create new navigation property to authorizationSystems for external
      operationId: external_CreateAuthorizationSystem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authorizationSystem'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authorizationSystem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/authorizationSystems/{authorizationSystem-id}':
    get:
      tags:
        - external.authorizationSystem
      summary: Get authorizationSystems from external
      operationId: external_GetAuthorizationSystem
      parameters:
        - name: authorizationSystem-id
          in: path
          description: The unique identifier of authorizationSystem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authorizationSystem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authorizationSystemId
                - authorizationSystemName
                - authorizationSystemType
                - dataCollectionInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - dataCollectionInfo
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authorizationSystem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.authorizationSystem
      summary: Update the navigation property authorizationSystems in external
      operationId: external_UpdateAuthorizationSystem
      parameters:
        - name: authorizationSystem-id
          in: path
          description: The unique identifier of authorizationSystem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authorizationSystem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authorizationSystem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authorizationSystem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.authorizationSystem
      summary: Delete navigation property authorizationSystems for external
      operationId: external_DeleteAuthorizationSystem
      parameters:
        - name: authorizationSystem-id
          in: path
          description: The unique identifier of authorizationSystem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authorizationSystem
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/authorizationSystems/{authorizationSystem-id}/dataCollectionInfo':
    get:
      tags:
        - external.authorizationSystem
      summary: Get dataCollectionInfo from external
      operationId: external.authorizationSystem_GetDataCollectionInfo
      parameters:
        - name: authorizationSystem-id
          in: path
          description: The unique identifier of authorizationSystem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authorizationSystem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - entitlements
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataCollectionInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.authorizationSystem
      summary: Update the navigation property dataCollectionInfo in external
      operationId: external.authorizationSystem_UpdateDataCollectionInfo
      parameters:
        - name: authorizationSystem-id
          in: path
          description: The unique identifier of authorizationSystem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authorizationSystem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataCollectionInfo'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataCollectionInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.authorizationSystem
      summary: Delete navigation property dataCollectionInfo for external
      operationId: external.authorizationSystem_DeleteDataCollectionInfo
      parameters:
        - name: authorizationSystem-id
          in: path
          description: The unique identifier of authorizationSystem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authorizationSystem
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/authorizationSystems/$count:
    get:
      tags:
        - external.authorizationSystem
      summary: Get the number of the resource
      operationId: external.authorizationSystem_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /external/connections:
    get:
      tags:
        - external.externalConnection
      summary: List connections
      description: Retrieve a list of externalConnections. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-list?view=graph-rest-1.0
      operationId: external_ListConnection
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activitySettings
                - activitySettings desc
                - complianceSettings
                - complianceSettings desc
                - configuration
                - configuration desc
                - connectorId
                - connectorId desc
                - description
                - description desc
                - enabledContentExperiences
                - enabledContentExperiences desc
                - ingestedItemsCount
                - ingestedItemsCount desc
                - name
                - name desc
                - searchSettings
                - searchSettings desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activitySettings
                - complianceSettings
                - configuration
                - connectorId
                - description
                - enabledContentExperiences
                - ingestedItemsCount
                - name
                - searchSettings
                - state
                - groups
                - items
                - operations
                - quota
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - groups
                - items
                - operations
                - quota
                - schema
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalConnectionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create connection
      description: Create a new externalConnection. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-external-post-connections?view=graph-rest-1.0
      operationId: external_CreateConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get connection
      description: Retrieve the properties and relationships of an externalConnection. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-get?view=graph-rest-1.0
      operationId: external_GetConnection
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activitySettings
                - complianceSettings
                - configuration
                - connectorId
                - description
                - enabledContentExperiences
                - ingestedItemsCount
                - name
                - searchSettings
                - state
                - groups
                - items
                - operations
                - quota
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - groups
                - items
                - operations
                - quota
                - schema
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update connection
      description: Update the properties of an externalConnection. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-update?view=graph-rest-1.0
      operationId: external_UpdateConnection
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete externalConnection
      description: Delete an externalConnection. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-delete?view=graph-rest-1.0
      operationId: external_DeleteConnection
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups':
    get:
      tags:
        - external.externalConnection
      summary: Get groups from external
      operationId: external.connection_ListGroup
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create externalGroup
      description: Create a new externalGroup object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-post-groups?view=graph-rest-1.0
      operationId: external.connection_CreateGroup
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get groups from external
      operationId: external.connection_GetGroup
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property groups in external
      operationId: external.connection_UpdateGroup
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete externalGroup
      description: Delete an externalGroup object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalgroup-delete?view=graph-rest-1.0
      operationId: external.connection_DeleteGroup
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}/members':
    get:
      tags:
        - external.externalConnection
      summary: Get members from external
      description: 'A member added to an externalGroup. You can add Microsoft Entra users, Microsoft Entra groups, or other externalGroups as members.'
      operationId: external.connection.group_ListMember
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.identityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create externalGroupMember
      description: Create a new externalGroupMember object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalgroup-post-members?view=graph-rest-1.0
      operationId: external.connection.group_CreateMember
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}/members/{identity-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get members from external
      description: 'A member added to an externalGroup. You can add Microsoft Entra users, Microsoft Entra groups, or other externalGroups as members.'
      operationId: external.connection.group_GetMember
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: identity-id
          in: path
          description: The unique identifier of identity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property members in external
      operationId: external.connection.group_UpdateMember
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: identity-id
          in: path
          description: The unique identifier of identity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete externalGroupMember
      description: Delete an externalGroupMember object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalgroupmember-delete?view=graph-rest-1.0
      operationId: external.connection.group_DeleteMember
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: identity-id
          in: path
          description: The unique identifier of identity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: identity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}/members/$count':
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection.group.member_GetCount
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: The unique identifier of externalGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/external/connections/{externalConnection-id}/groups/$count':
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection.group_GetCount
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/external/connections/{externalConnection-id}/items':
    get:
      tags:
        - external.externalConnection
      summary: Get externalItem
      description: Get the properties and relationships of an externalitem object. This API is provided for diagnostic purposes only. It isn't intended to be used for any other purpose. Repeated requests to this API might result in 429 HTTP errors. This API is available in the following national cloud deployments.
      operationId: external.connection_ListItem
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - acl
                - acl desc
                - content
                - content desc
                - properties
                - properties desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - acl
                - content
                - properties
                - activities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activities
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to items for external
      operationId: external.connection_CreateItem
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get externalItem
      description: Get the properties and relationships of an externalitem object. This API is provided for diagnostic purposes only. It isn't intended to be used for any other purpose. Repeated requests to this API might result in 429 HTTP errors. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalitem-get?view=graph-rest-1.0
      operationId: external.connection_GetItem
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - acl
                - content
                - properties
                - activities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activities
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - external.externalConnection
      summary: Update the navigation property items in external
      operationId: external.connection_SetItem
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete externalItem
      description: Delete an externalitem. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalitem-delete?view=graph-rest-1.0
      operationId: external.connection_DeleteItem
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}/activities':
    get:
      tags:
        - external.externalConnection
      summary: Get activities from external
      description: Returns a list of activities performed on the item. Write-only.
      operationId: external.connection.item_ListActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - startDateTime
                - startDateTime desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - startDateTime
                - type
                - performedBy
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - performedBy
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.externalActivityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to activities for external
      operationId: external.connection.item_CreateActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}/activities/{externalActivity-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get activities from external
      description: Returns a list of activities performed on the item. Write-only.
      operationId: external.connection.item_GetActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: externalActivity-id
          in: path
          description: The unique identifier of externalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - startDateTime
                - type
                - performedBy
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - performedBy
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property activities in external
      operationId: external.connection.item_UpdateActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: externalActivity-id
          in: path
          description: The unique identifier of externalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property activities for external
      operationId: external.connection.item_DeleteActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: externalActivity-id
          in: path
          description: The unique identifier of externalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalActivity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}/activities/{externalActivity-id}/performedBy':
    get:
      tags:
        - external.externalConnection
      summary: Get performedBy from external
      description: Represents an identity used to identify who is responsible for the activity.
      operationId: external.connection.item.activity_GetPerformedGraphBPre
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: externalActivity-id
          in: path
          description: The unique identifier of externalActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.identity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}/activities/$count':
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection.item.activity_GetCount
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/external/connections/{externalConnection-id}/items/{externalItem-id}/microsoft.graph.externalConnectors.addActivities':
    post:
      tags:
        - external.Actions
      summary: Invoke action addActivities
      operationId: external.connection.item_addActivity
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: The unique identifier of externalItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                activities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivity'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of externalActivityResult
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalActivityResult'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/external/connections/{externalConnection-id}/items/$count':
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection.item_GetCount
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/external/connections/{externalConnection-id}/operations':
    get:
      tags:
        - external.externalConnection
      summary: Get operations from external
      operationId: external.connection_ListOperation
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - error
                - error desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - error
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalConnectors.connectionOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to operations for external
      operationId: external.connection_CreateOperation
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/operations/{connectionOperation-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get operations from external
      operationId: external.connection_GetOperation
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: The unique identifier of connectionOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - error
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property operations in external
      operationId: external.connection_UpdateOperation
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: The unique identifier of connectionOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property operations for external
      operationId: external.connection_DeleteOperation
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: The unique identifier of connectionOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/operations/$count':
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection.operation_GetCount
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/external/connections/{externalConnection-id}/quota':
    get:
      tags:
        - external.externalConnection
      summary: Get connectionQuota
      description: Retrieve the properties and relationships of a connectionQuota object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-connectionquota-get?view=graph-rest-1.0
      operationId: external.connection_GetQuota
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - itemsRemaining
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionQuota'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property quota in external
      operationId: external.connection_UpdateQuota
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionQuota'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionQuota'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property quota for external
      operationId: external.connection_DeleteQuota
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/schema':
    get:
      tags:
        - external.externalConnection
      summary: Get schema
      description: Retrieve the properties of a schema for an externalConnection. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-schema-get?view=graph-rest-1.0
      operationId: external.connection_GetSchema
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - baseType
                - properties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Create schema
      description: Create the schema for a Microsoft Search connection. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/externalconnectors-externalconnection-patch-schema?view=graph-rest-1.0
      operationId: external.connection_UpdateSchema
      parameters:
        - name: externalConnection-id
          in: path
          description: The unique identifier of externalConnection
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/connections/$count:
    get:
      tags:
        - external.externalConnection
      summary: Get the number of the resource
      operationId: external.connection_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /external/industryData:
    get:
      tags:
        - external.industryDataRoot
      summary: Get industryData from external
      operationId: external_GetIndustryData
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - dataConnectors
                - inboundFlows
                - operations
                - referenceDefinitions
                - roleGroups
                - runs
                - sourceSystems
                - years
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - dataConnectors
                - inboundFlows
                - operations
                - referenceDefinitions
                - roleGroups
                - runs
                - sourceSystems
                - years
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.industryData.industryDataRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/industryData/dataConnectors:
    get:
      tags:
        - external.industryDataRoot
      summary: List industryDataConnectors
      description: Get the industryDataConnector resources from the dataConnector navigation property. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-industrydataconnector-list?view=graph-rest-1.0
      operationId: external.industryData_ListDataConnector
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - sourceSystem
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sourceSystem
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.industryData.industryDataConnectorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.industryDataRoot
      summary: Create industryDataConnector
      description: Create a new industryDataConnector object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-industrydataconnector-post?view=graph-rest-1.0
      operationId: external.industryData_CreateDataConnector
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.industryData.industryDataConnector'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.industryData.industryDataConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/industryData/dataConnectors/{industryDataConnector-id}':
    get:
      tags:
        - external.industryDataRoot
      summary: Get industryDataConnector
      description: Read the properties and relationships of an industryDataConnector object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-industrydataconnector-get?view=graph-rest-1.0
      operationId: external.industryData_GetDataConnector
      parameters:
        - name: industryDataConnector-id
          in: path
          description: The unique identifier of industryDataConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: industryDataConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - sourceSystem
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sourceSystem
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.industryData.industryDataConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.industryDataRoot
      summary: Update azureDataLakeConnector
      description: Update the properties of an azureDataLakeConnector object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-azuredatalakeconnector-update?view=graph-rest-1.0
      operationId: external.industryData_UpdateDataConnector
      parameters:
        - name: industryDataConnector-id
          in: path
          description: The unique identifier of industryDataConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: industryDataConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.industryData.industryDataConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.industryData.industryDataConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.industryDataRoot
      summary: Delete azureDataLakeConnector
      description: Delete an azureDataLakeConnector object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-azuredatalakeconnector-delete?view=graph-rest-1.0
      operationId: external.industryData_DeleteDataConnector
      parameters:
        - name: industryDataConnector-id
          in: path
          description: The unique identifier of industryDataConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: industryDataConnector
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/industryData/dataConnectors/{industryDataConnector-id}/microsoft.graph.industryData.validate':
    post:
      tags:
        - external.Actions
      summary: Invoke action validate
      description: Perform validations applicable for the specific instance of the data connector. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-industrydataconnector-validate?view=graph-rest-1.0
      operationId: external.industryData.dataConnector_validate
      parameters:
        - name: industryDataConnector-id
          in: path
          description: The unique identifier of industryDataConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: industryDataConnector
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/external/industryData/dataConnectors/{industryDataConnector-id}/sourceSystem':
    get:
      tags:
        - external.industryDataRoot
      summary: Get sourceSystem from external
      description: The sourceSystemDefinition this connector is connected to.
      operationId: external.industryData.dataConnector_GetSourceSystem
      parameters:
        - name: industryDataConnector-id
          in: path
          description: The unique identifier of industryDataConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: industryDataConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - userMatchingSettings
                - vendor
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.industryData.sourceSystemDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/industryData/dataConnectors/$count:
    get:
      tags:
        - external.industryDataRoot
      summary: Get the number of the resource
      operationId: external.industryData.dataConnector_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /external/industryData/inboundFlows:
    get:
      tags:
        - external.industryDataRoot
      summary: List inboundFlows
      description: Get a list of the inboundFlow objects and their properties. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-inboundflow-list?view=graph-rest-1.0
      operationId: external.industryData_ListInboundFlow
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - readinessStatus
                - readinessStatus desc
                - dataDomain
                - dataDomain desc
                - effectiveDateTime
                - effectiveDateTime desc
                - expirationDateTime
                - expirationDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - readinessStatus
                - dataDomain
                - effectiveDateTime
                - expirationDateTime
                - dataConnector
                - year
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - dataConnector
                - year
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.industryData.inboundFlowCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.industryDataRoot
      summary: Create inboundFlow
      description: 'Create a new inboundFlow object. The following prerequisite resources are required when you create an inboundFlow: This API is available in the following national cloud deployments.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-inboundflow-post?view=graph-rest-1.0
      operationId: external.industryData_CreateInboundFlow
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.industryData.inboundFlow'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.industryData.inboundFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/industryData/inboundFlows/{inboundFlow-id}':
    get:
      tags:
        - external.industryDataRoot
      summary: Get inboundFileFlow
      description: Read the properties and relationships of an inboundFileFlow object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-inboundfileflow-get?view=graph-rest-1.0
      operationId: external.industryData_GetInboundFlow
      parameters:
        - name: inboundFlow-id
          in: path
          description: The unique identifier of inboundFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inboundFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - readinessStatus
                - dataDomain
                - effectiveDateTime
                - expirationDateTime
                - dataConnector
                - year
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - dataConnector
                - year
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.industryData.inboundFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.industryDataRoot
      summary: Update inboundFlow
      description: Update the properties of an inboundFlow object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-inboundflow-update?view=graph-rest-1.0
      operationId: external.industryData_UpdateInboundFlow
      parameters:
        - name: inboundFlow-id
          in: path
          description: The unique identifier of inboundFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inboundFlow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.industryData.inboundFlow'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.industryData.inboundFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.industryDataRoot
      summary: Delete inboundFileFlow
      description: Delete an inboundFileFlow object. This API is available in the following national cloud deployments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/industrydata-inboundfileflow-delete?view=graph-rest-1.0
      operationId: external.industryData_DeleteInboundFlow
      parameters:
        - name: inboundFlow-id
          in: path
          description: The unique identifier of inboundFlow
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: inboundFlow
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/industryData/inboundFlows/{inboundFlow-id}/dataConnector':
[...]
