openapi: 3.0.1
info:
  title: Search
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /external:
    get:
      tags:
        - external.external
      summary: Get external
      operationId: external.external_GetExternal
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - connections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - connections
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.external'
          links:
            connections:
              operationId: external.ListConnections
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.external
      summary: Update external
      operationId: external.external_UpdateExternal
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.external'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/connections:
    get:
      tags:
        - external.externalConnection
      summary: Get connections from external
      operationId: external_ListConnections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - configuration
                - configuration desc
                - description
                - description desc
                - name
                - name desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configuration
                - description
                - name
                - state
                - groups
                - items
                - operations
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - groups
                - items
                - operations
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of externalConnection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.externalConnection'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to connections for external
      operationId: external_CreateConnections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get connections from external
      operationId: external_GetConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configuration
                - description
                - name
                - state
                - groups
                - items
                - operations
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - groups
                - items
                - operations
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnection'
          links:
            groups:
              operationId: external.Connections.ListGroups
              parameters:
                externalConnection-id: $request.path.externalConnection-id
            items:
              operationId: external.Connections.ListItems
              parameters:
                externalConnection-id: $request.path.externalConnection-id
            operations:
              operationId: external.Connections.ListOperations
              parameters:
                externalConnection-id: $request.path.externalConnection-id
            schema:
              operationId: external.Connections.GetSchema
              parameters:
                externalConnection-id: $request.path.externalConnection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property connections in external
      operationId: external_UpdateConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property connections for external
      operationId: external_DeleteConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search:
    get:
      tags:
        - search.searchEntity
      summary: Get search
      operationId: search.searchEntity_GetSearchEntity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.searchEntity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.searchEntity
      summary: Update search
      operationId: search.searchEntity_UpdateSearchEntity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.searchEntity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search/microsoft.graph.query:
    post:
      tags:
        - search.Actions
      summary: Invoke action query
      operationId: search_query
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.searchRequest'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.searchResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.external:
      title: external
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.externalConnection'
      additionalProperties:
        type: object
    microsoft.graph.externalConnection:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalConnection
          type: object
          properties:
            configuration:
              $ref: '#/components/schemas/microsoft.graph.configuration'
            description:
              type: string
              description: Description of the connection displayed in the Microsoft 365 admin center. Optional.
              nullable: true
            name:
              type: string
              description: The display name of the connection to be displayed in the Microsoft 365 admin center. Maximum length of 128 characters. Required.
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.connectionState'
            groups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalGroup'
            items:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalItem'
              description: Read-only. Nullable.
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.connectionOperation'
              description: Read-only. Nullable.
            schema:
              $ref: '#/components/schemas/microsoft.graph.schema'
          additionalProperties:
            type: object
    microsoft.graph.searchEntity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: searchEntity
          type: object
          additionalProperties:
            type: object
    microsoft.graph.searchRequest:
      title: searchRequest
      type: object
      properties:
        aggregationFilters:
          type: array
          items:
            type: string
            nullable: true
          description: 'Contains one or more filters to obtain search results aggregated and filtered to a specific value of a field. Optional.Build this filter based on a prior search that aggregates by the same field. From the response of the prior search, identify the searchBucket that filters results to the specific value of the field, use the string in its aggregationFilterToken property, and build an aggregation filter string in the format ''{field}:/''{aggregationFilterToken}/''''. For example, searching and aggregating drive items by file type returns a searchBucket for the file type docx in the response. You can conveniently use the aggregationFilterToken returned for this searchBucket in a subsequent search query and filter matches down to drive items of the docx file type. Example 1 and example 2 show the actual requests and responses.'
        aggregations:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.aggregationOption'
          description: Specifies aggregations (also known as refiners) to be returned alongside search results. Optional.
        contentSources:
          type: array
          items:
            type: string
            nullable: true
          description: 'Contains the connection to be targeted. Respects the following format : /external/connections/connectionid where connectionid is the ConnectionId defined in the Connectors Administration.  Note : contentSource is only applicable when entityType=externalItem. Optional.'
        enableTopResults:
          type: boolean
          description: 'This triggers hybrid sort for messages : the first 3 messages are the most relevant. This property is only applicable to entityType=message. Optional.'
          nullable: true
        entityTypes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.entityType'
          description: 'One or more types of resources expected in the response. Possible values are: list, site, listItem, message, event, drive, driveItem, externalItem. See known limitations for those combinations of two or more entity types that are supported in the same search request. Required.'
        fields:
          type: array
          items:
            type: string
            nullable: true
          description: 'Contains the fields to be returned for each resource object specified in entityTypes, allowing customization of the fields returned by default otherwise, including additional fields such as custom managed properties from SharePoint and OneDrive, or custom fields in externalItem from content ingested by Graph connectors. Optional.'
        from:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Specifies the offset for the search results. Offset 0 returns the very first result. Optional.
          format: int32
        query:
          $ref: '#/components/schemas/microsoft.graph.searchQuery'
        size:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The size of the page to be retrieved. Optional.
          format: int32
        sortProperties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.sortProperty'
          description: Contains the ordered collection of fields and direction to sort results. There can be at most 5 sort properties in the collection. Optional.
        stored_fields:
          type: array
          items:
            type: string
            nullable: true
      additionalProperties:
        type: object
    microsoft.graph.searchResponse:
      title: searchResponse
      type: object
      properties:
        hitsContainers:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchHitsContainer'
          description: A collection of search results.
        searchTerms:
          type: array
          items:
            type: string
            nullable: true
          description: Contains the search terms sent in the initial search query.
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.configuration:
      title: configuration
      type: object
      properties:
        authorizedApps:
          type: array
          items:
            type: string
            nullable: true
          description: A collection of application IDs for registered Azure Active Directory apps that are allowed to manage the externalConnection and to index content in the externalConnection.
      additionalProperties:
        type: object
    microsoft.graph.connectionState:
      title: connectionState
      enum:
        - draft
        - ready
        - obsolete
        - limitExceeded
        - unknownFutureValue
      type: string
    microsoft.graph.externalGroup:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalGroup
          type: object
          properties:
            description:
              type: string
              description: The description of the external group. Optional.
              nullable: true
            displayName:
              type: string
              description: The friendly name of the external group. Optional.
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalGroupMember'
              description: 'A member added to an externalGroup. You can add Azure Active Directory users, Azure Active Directory groups, or other externalGroups as members.'
          additionalProperties:
            type: object
    microsoft.graph.externalItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalItem
          type: object
          properties:
            acl:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.acl'
              description: An array of access control entries. Each entry specifies the access granted to a user or group. Required.
            content:
              $ref: '#/components/schemas/microsoft.graph.externalItemContent'
            properties:
              $ref: '#/components/schemas/microsoft.graph.properties'
          additionalProperties:
            type: object
    microsoft.graph.connectionOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: connectionOperation
          type: object
          properties:
            error:
              $ref: '#/components/schemas/microsoft.graph.errorDetail'
            status:
              $ref: '#/components/schemas/microsoft.graph.connectionOperationStatus'
          additionalProperties:
            type: object
    microsoft.graph.schema:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: schema
          type: object
          properties:
            baseType:
              type: string
              description: Must be set to microsoft.graph.externalItem. Required.
            properties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.property'
              description: 'The properties defined for the items in the connection. The minimum number of properties is one, the maximum is 128.'
          additionalProperties:
            type: object
    microsoft.graph.aggregationOption:
      title: aggregationOption
      type: object
      properties:
        bucketDefinition:
          $ref: '#/components/schemas/microsoft.graph.bucketAggregationDefinition'
        field:
          type: string
          description: Specifies the field in the schema of the specified entity type that aggregation should be computed on. Required.
        size:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of searchBucket resources to be returned. This is not required when the range is provided manually in the search request. Optional.
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.entityType:
      title: entityType
      enum:
        - event
        - message
        - driveItem
        - externalItem
        - site
        - list
        - listItem
        - drive
        - unknownfuturevalue
      type: string
    microsoft.graph.searchQuery:
      title: searchQuery
      type: object
      properties:
        queryString:
          type: string
          description: The search query containing the search terms. Required.
          nullable: true
        query_string:
          $ref: '#/components/schemas/microsoft.graph.searchQueryString'
      additionalProperties:
        type: object
    microsoft.graph.sortProperty:
      title: sortProperty
      type: object
      properties:
        isDescending:
          type: boolean
          description: 'True if the sort order is descending. Default is false, with the sort order as ascending. Optional.'
          nullable: true
        name:
          type: string
          description: The name of the property to sort on. Required.
      additionalProperties:
        type: object
    microsoft.graph.searchHitsContainer:
      title: searchHitsContainer
      type: object
      properties:
        aggregations:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchAggregation'
          description: Contains the collection of aggregations computed based on the provided aggregationOption specified in the request.
        hits:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchHit'
          description: A collection of the search results.
        moreResultsAvailable:
          type: boolean
          description: 'Provides information if more results are available. Based on this information, you can adjust the from and size properties of the searchRequest accordingly.'
          nullable: true
        total:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: 'The total number of results. Note this is not the number of results on the page, but the total number of results satisfying the query.'
          format: int32
          nullable: true
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.externalGroupMember:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalGroupMember
          type: object
          properties:
            identitySource:
              $ref: '#/components/schemas/microsoft.graph.identitySourceType'
            type:
              $ref: '#/components/schemas/microsoft.graph.externalGroupMemberType'
          additionalProperties:
            type: object
    microsoft.graph.acl:
      title: acl
      type: object
      properties:
        accessType:
          $ref: '#/components/schemas/microsoft.graph.accessType'
        identitySource:
          type: string
          description: The source of identity. Possible values are azureActiveDirectory or external.
        type:
          $ref: '#/components/schemas/microsoft.graph.aclType'
        value:
          type: string
          description: 'The unique identifer of the identity. In case of Azure Active Directory identities, value is set to the object identifier of the user, group or tenant for types user, group and everyone (and everyoneExceptGuests) respectively. In case of external groups value is set to the ID of the externalGroup.'
      additionalProperties:
        type: object
    microsoft.graph.externalItemContent:
      title: externalItemContent
      type: object
      properties:
        type:
          $ref: '#/components/schemas/microsoft.graph.externalItemContentType'
        value:
          type: string
          description: The content for the externalItem. Required.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.properties:
      title: properties
      type: object
      additionalProperties:
        type: object
    microsoft.graph.errorDetail:
      title: errorDetail
      type: object
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.innerErrorDetail'
          description: 'A collection of inner errors, if any. Read-only, nullable.'
        errorCode:
          type: string
          description: 'The error code associated with the error, if any. Read-only, nullable.'
          nullable: true
        message:
          type: string
          description: The human-readable error message. Read-only.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.connectionOperationStatus:
      title: connectionOperationStatus
      enum:
        - unspecified
        - inprogress
        - completed
        - failed
      type: string
    microsoft.graph.property:
      title: property
      type: object
      properties:
        aliases:
          type: array
          items:
            type: string
            nullable: true
          description: 'A set of aliases or a friendly names for the property. Maximum 32 characters. Each string must not contain control characters, whitespace, or any of the following: :, ;, ,, (, ), [, ], {, }, %, $, +, !, *, =, &, ?, @, #, /, ~, '', '', <, >, `'
        isContent:
          type: boolean
          nullable: true
        isQueryable:
          type: boolean
          description: Specifies if the property is queryable. Queryable properties can be used in Keyword Query Language (KQL) queries. Optional.
          nullable: true
        isRefinable:
          type: boolean
          description: Specifies if the property is refinable.  Refinable properties can be used to filter search results in the Search API and add a refiner control in the Microsoft Search user experience. Optional.
          nullable: true
        isRetrievable:
          type: boolean
          description: Specifies if the property is retrievable. Retrievable properties are returned in the result set when items are returned by the search API. Retrievable properties are also available to add to the display template used to render search results. Optional.
          nullable: true
        isSearchable:
          type: boolean
          description: Specifies if the property is searchable. Only properties of type String or StringCollection can be searchable. Non-searchable properties are not added to the search index. Optional.
          nullable: true
        labels:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.label'
          description: 'Specifies one or more well-known tags added against a property. Labels help Microsoft Search understand the semantics of the data in the connection. Adding appropriate labels would result in an enhanced search experience (e.g. better relevance). Supported labels: title, url, createdBy, lastModifiedBy, authors, createdDateTime, lastModifiedDateTime, fileName and fileExtension. Optional.'
        name:
          type: string
          description: 'The name of the property. Maximum 32 characters. Must not contain control characters, whitespace, or any of the following: :, ;, ,, (, ), [, ], {, }, %, $, +, !, *, =, &, ?, @, #, /, ~, '', '', <, >, `'
        type:
          $ref: '#/components/schemas/microsoft.graph.propertyType'
      additionalProperties:
        type: object
    microsoft.graph.bucketAggregationDefinition:
      title: bucketAggregationDefinition
      type: object
      properties:
        isDescending:
          type: boolean
          description: 'True to specify the sort order as descending. The default is false, with the sort order as ascending. Optional.'
          nullable: true
        minimumCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The minimum number of items that should be present in the aggregation to be returned in a bucket. Optional.
          format: int32
          nullable: true
        prefixFilter:
          type: string
          description: A filter to define a matching criteria. The key should start with the specified prefix to be returned in the response. Optional.
          nullable: true
        ranges:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.bucketAggregationRange'
          description: Specifies the manual ranges to compute the aggregations. This is only valid for non-string refiners of date or numeric type. Optional.
        sortBy:
          $ref: '#/components/schemas/microsoft.graph.bucketAggregationSortProperty'
      additionalProperties:
        type: object
    microsoft.graph.searchQueryString:
      title: searchQueryString
      type: object
      properties:
        query:
          type: string
          description: Contains the actual search terms of the request.
      additionalProperties:
        type: object
    microsoft.graph.searchAggregation:
      title: searchAggregation
      type: object
      properties:
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchBucket'
          description: Defines the actual buckets of the computed aggregation.
        field:
          type: string
          description: Defines on which field the aggregation was computed on.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.searchHit:
      title: searchHit
      type: object
      properties:
        contentSource:
          type: string
          description: The name of the content source which the externalItem is part of .
          nullable: true
        hitId:
          type: string
          description: The internal identifier for the item.
          nullable: true
        rank:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The rank or the order of the result.
          format: int32
          nullable: true
        summary:
          type: string
          description: 'A summary of the result, if a summary is available.'
          nullable: true
        _id:
          type: string
          nullable: true
        _score:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        _summary:
          type: string
          nullable: true
        resource:
          $ref: '#/components/schemas/microsoft.graph.entity'
        _source:
          $ref: '#/components/schemas/microsoft.graph.entity'
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    microsoft.graph.identitySourceType:
      title: identitySourceType
      enum:
        - azureActiveDirectory
        - external
      type: string
    microsoft.graph.externalGroupMemberType:
      title: externalGroupMemberType
      enum:
        - user
        - group
      type: string
    microsoft.graph.accessType:
      title: accessType
      enum:
        - grant
        - deny
      type: string
    microsoft.graph.aclType:
      title: aclType
      enum:
        - user
        - group
        - everyone
        - everyoneExceptGuests
      type: string
    microsoft.graph.externalItemContentType:
      title: externalItemContentType
      enum:
        - text
        - html
        - unknownFutureValue
      type: string
    microsoft.graph.innerErrorDetail:
      title: innerErrorDetail
      type: object
      properties:
        message:
          type: string
          description: The human-readable error message. Read-only.
          nullable: true
        source:
          type: string
          description: The source of the error. Read-only.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.label:
      title: label
      enum:
        - title
        - url
        - createdBy
        - lastModifiedBy
        - authors
        - createdDateTime
        - lastModifiedDateTime
        - fileName
        - fileExtension
      type: string
    microsoft.graph.propertyType:
      title: propertyType
      enum:
        - String
        - Int64
        - Double
        - DateTime
        - Boolean
        - StringCollection
        - Int64Collection
        - DoubleCollection
        - DateTimeCollection
      type: string
    microsoft.graph.bucketAggregationRange:
      title: bucketAggregationRange
      type: object
      properties:
        from:
          type: string
          description: Defines the lower bound from which to compute the aggregation. This can be a numeric value or a string representation of a date using the YYYY-MM-DDTHH:mm:ss.sssZ format. Required.
        to:
          type: string
          description: Defines the upper bound up to which to compute the aggregation. This can be a numeric value or a string representation of a date using the YYYY-MM-DDTHH:mm:ss.sssZ format. Required.
      additionalProperties:
        type: object
    microsoft.graph.bucketAggregationSortProperty:
      title: bucketAggregationSortProperty
      enum:
        - count
        - keyAsString
        - keyAsNumber
      type: string
    microsoft.graph.searchBucket:
      title: searchBucket
      type: object
      properties:
        aggregationFilterToken:
          type: string
          description: 'A token containing the encoded filter to aggregate search matches by the specific key value. To use the filter, pass the token as part of the aggregationFilter property in a searchRequest object, in the format ''{field}:/''{aggregationFilterToken}/''''. See an example.'
          nullable: true
        count:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The approximate number of search matches that share the same value specified in the key property. Note that this number is not the exact number of matches.
          format: int32
          nullable: true
        key:
          type: string
          description: The discrete value of the field that an aggregation was computed on.
          nullable: true
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]