openapi: 3.0.1
info:
  title: Security
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /security:
    get:
      tags:
        - security.security
      summary: Get security
      operationId: security.security_GetSecurity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - providerStatus
                - subjectRightsRequests
                - cases
                - informationProtection
                - alerts_v2
                - incidents
                - attackSimulation
                - labels
                - triggers
                - triggerTypes
                - threatSubmission
                - alerts
                - cloudAppSecurityProfiles
                - domainSecurityProfiles
                - fileSecurityProfiles
                - hostSecurityProfiles
                - ipSecurityProfiles
                - providerTenantSettings
                - secureScoreControlProfiles
                - secureScores
                - securityActions
                - tiIndicators
                - userSecurityProfiles
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - subjectRightsRequests
                - cases
                - informationProtection
                - alerts_v2
                - incidents
                - attackSimulation
                - labels
                - triggers
                - triggerTypes
                - threatSubmission
                - alerts
                - cloudAppSecurityProfiles
                - domainSecurityProfiles
                - fileSecurityProfiles
                - hostSecurityProfiles
                - ipSecurityProfiles
                - providerTenantSettings
                - secureScoreControlProfiles
                - secureScores
                - securityActions
                - tiIndicators
                - userSecurityProfiles
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security'
          links:
            subjectRightsRequests:
              operationId: security.ListSubjectRightsRequests
            cases:
              operationId: security.GetCases
            informationProtection:
              operationId: security.GetInformationProtection
            alerts_v2:
              operationId: security.ListAlerts_v2
            incidents:
              operationId: security.ListIncidents
            attackSimulation:
              operationId: security.GetAttackSimulation
            labels:
              operationId: security.GetLabels
            triggers:
              operationId: security.GetTriggers
            triggerTypes:
              operationId: security.GetTriggerTypes
            threatSubmission:
              operationId: security.GetThreatSubmission
            alerts:
              operationId: security.ListAlerts
            cloudAppSecurityProfiles:
              operationId: security.ListCloudAppSecurityProfiles
            domainSecurityProfiles:
              operationId: security.ListDomainSecurityProfiles
            fileSecurityProfiles:
              operationId: security.ListFileSecurityProfiles
            hostSecurityProfiles:
              operationId: security.ListHostSecurityProfiles
            ipSecurityProfiles:
              operationId: security.ListIpSecurityProfiles
            providerTenantSettings:
              operationId: security.ListProviderTenantSettings
            secureScoreControlProfiles:
              operationId: security.ListSecureScoreControlProfiles
            secureScores:
              operationId: security.ListSecureScores
            securityActions:
              operationId: security.ListSecurityActions
            tiIndicators:
              operationId: security.ListTiIndicators
            userSecurityProfiles:
              operationId: security.ListUserSecurityProfiles
            runHuntingQuery:
              operationId: security.runHuntingQuery
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.security
      summary: Update security
      operationId: security.security_UpdateSecurity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/alerts:
    get:
      tags:
        - security.alert
      summary: Get alerts from security
      description: Notifications for suspicious or potential security issues in a customer’s tenant.
      operationId: security_ListAlerts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupName
                - activityGroupName desc
                - alertDetections
                - alertDetections desc
                - assignedTo
                - assignedTo desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - category
                - category desc
                - closedDateTime
                - closedDateTime desc
                - cloudAppStates
                - cloudAppStates desc
                - comments
                - comments desc
                - confidence
                - confidence desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - detectionIds
                - detectionIds desc
                - eventDateTime
                - eventDateTime desc
                - feedback
                - feedback desc
                - fileStates
                - fileStates desc
                - historyStates
                - historyStates desc
                - hostStates
                - hostStates desc
                - incidentIds
                - incidentIds desc
                - investigationSecurityStates
                - investigationSecurityStates desc
                - lastEventDateTime
                - lastEventDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - malwareStates
                - malwareStates desc
                - messageSecurityStates
                - messageSecurityStates desc
                - networkConnections
                - networkConnections desc
                - processes
                - processes desc
                - recommendedActions
                - recommendedActions desc
                - registryKeyStates
                - registryKeyStates desc
                - securityResources
                - securityResources desc
                - severity
                - severity desc
                - sourceMaterials
                - sourceMaterials desc
                - status
                - status desc
                - tags
                - tags desc
                - title
                - title desc
                - triggers
                - triggers desc
                - uriClickSecurityStates
                - uriClickSecurityStates desc
                - userStates
                - userStates desc
                - vendorInformation
                - vendorInformation desc
                - vulnerabilityStates
                - vulnerabilityStates desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupName
                - alertDetections
                - assignedTo
                - azureSubscriptionId
                - azureTenantId
                - category
                - closedDateTime
                - cloudAppStates
                - comments
                - confidence
                - createdDateTime
                - description
                - detectionIds
                - eventDateTime
                - feedback
                - fileStates
                - historyStates
                - hostStates
                - incidentIds
                - investigationSecurityStates
                - lastEventDateTime
                - lastModifiedDateTime
                - malwareStates
                - messageSecurityStates
                - networkConnections
                - processes
                - recommendedActions
                - registryKeyStates
                - securityResources
                - severity
                - sourceMaterials
                - status
                - tags
                - title
                - triggers
                - uriClickSecurityStates
                - userStates
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.alertCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.alert
      summary: Create new navigation property to alerts for security
      operationId: security_CreateAlerts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/alerts/{alert-id}':
    get:
      tags:
        - security.alert
      summary: Get alerts from security
      description: Notifications for suspicious or potential security issues in a customer’s tenant.
      operationId: security_GetAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupName
                - alertDetections
                - assignedTo
                - azureSubscriptionId
                - azureTenantId
                - category
                - closedDateTime
                - cloudAppStates
                - comments
                - confidence
                - createdDateTime
                - description
                - detectionIds
                - eventDateTime
                - feedback
                - fileStates
                - historyStates
                - hostStates
                - incidentIds
                - investigationSecurityStates
                - lastEventDateTime
                - lastModifiedDateTime
                - malwareStates
                - messageSecurityStates
                - networkConnections
                - processes
                - recommendedActions
                - registryKeyStates
                - securityResources
                - severity
                - sourceMaterials
                - status
                - tags
                - title
                - triggers
                - uriClickSecurityStates
                - userStates
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.alert
      summary: Update the navigation property alerts in security
      operationId: security_UpdateAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.alert
      summary: Delete navigation property alerts for security
      operationId: security_DeleteAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/alerts/microsoft.graph.updateAlerts:
    post:
      tags:
        - security.Actions
      summary: Invoke action updateAlerts
      operationId: security.alerts_updateAlerts
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.alert'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of alert
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.alert'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /security/alerts_v2:
    get:
      tags:
        - security.alert
      summary: Get alerts_v2 from security
      description: A collection of alerts in Microsoft 365 Defender.
      operationId: security_ListAlerts_v2
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actorDisplayName
                - actorDisplayName desc
                - alertWebUrl
                - alertWebUrl desc
                - assignedTo
                - assignedTo desc
                - category
                - category desc
                - classification
                - classification desc
                - comments
                - comments desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - detectionSource
                - detectionSource desc
                - detectorId
                - detectorId desc
                - determination
                - determination desc
                - evidence
                - evidence desc
                - firstActivityDateTime
                - firstActivityDateTime desc
                - incidentId
                - incidentId desc
                - incidentWebUrl
                - incidentWebUrl desc
                - lastActivityDateTime
                - lastActivityDateTime desc
                - lastUpdateDateTime
                - lastUpdateDateTime desc
                - mitreTechniques
                - mitreTechniques desc
                - providerAlertId
                - providerAlertId desc
                - recommendedActions
                - recommendedActions desc
                - resolvedDateTime
                - resolvedDateTime desc
                - serviceSource
                - serviceSource desc
                - severity
                - severity desc
                - status
                - status desc
                - tenantId
                - tenantId desc
                - threatDisplayName
                - threatDisplayName desc
                - threatFamilyName
                - threatFamilyName desc
                - title
                - title desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actorDisplayName
                - alertWebUrl
                - assignedTo
                - category
                - classification
                - comments
                - createdDateTime
                - description
                - detectionSource
                - detectorId
                - determination
                - evidence
                - firstActivityDateTime
                - incidentId
                - incidentWebUrl
                - lastActivityDateTime
                - lastUpdateDateTime
                - mitreTechniques
                - providerAlertId
                - recommendedActions
                - resolvedDateTime
                - serviceSource
                - severity
                - status
                - tenantId
                - threatDisplayName
                - threatFamilyName
                - title
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.alertCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.alert
      summary: Create new navigation property to alerts_v2 for security
      operationId: security_CreateAlerts_v2
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.alert'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/alerts_v2/{alert-id}':
    get:
      tags:
        - security.alert
      summary: Get alerts_v2 from security
      description: A collection of alerts in Microsoft 365 Defender.
      operationId: security_GetAlerts_v2
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actorDisplayName
                - alertWebUrl
                - assignedTo
                - category
                - classification
                - comments
                - createdDateTime
                - description
                - detectionSource
                - detectorId
                - determination
                - evidence
                - firstActivityDateTime
                - incidentId
                - incidentWebUrl
                - lastActivityDateTime
                - lastUpdateDateTime
                - mitreTechniques
                - providerAlertId
                - recommendedActions
                - resolvedDateTime
                - serviceSource
                - severity
                - status
                - tenantId
                - threatDisplayName
                - threatFamilyName
                - title
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.alert
      summary: Update the navigation property alerts_v2 in security
      operationId: security_UpdateAlerts_v2
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.alert'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.alert
      summary: Delete navigation property alerts_v2 for security
      operationId: security_DeleteAlerts_v2
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get attackSimulation from security
      description: Provides tenants capability to launch a simulated and realistic phishing attack and learn from it.
      operationId: security_GetAttackSimulation
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - simulationAutomations
                - simulations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - simulationAutomations
                - simulations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
          links:
            simulationAutomations:
              operationId: security.AttackSimulation.ListSimulationAutomations
            simulations:
              operationId: security.AttackSimulation.ListSimulations
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property attackSimulation in security
      operationId: security_UpdateAttackSimulation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attackSimulationRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property attackSimulation for security
      operationId: security_DeleteAttackSimulation
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulationAutomations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulationAutomations from security
      description: Represents simulation automations created to run on a tenant.
      operationId: security.attackSimulation_ListSimulationAutomations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - lastRunDateTime
                - lastRunDateTime desc
                - nextRunDateTime
                - nextRunDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - lastRunDateTime
                - nextRunDateTime
                - status
                - runs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - runs
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.simulationAutomationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to simulationAutomations for security
      operationId: security.attackSimulation_CreateSimulationAutomations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulationAutomations from security
      description: Represents simulation automations created to run on a tenant.
      operationId: security.attackSimulation_GetSimulationAutomations
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - lastRunDateTime
                - nextRunDateTime
                - status
                - runs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - runs
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
          links:
            runs:
              operationId: security.attackSimulation.SimulationAutomations.ListRuns
              parameters:
                simulationAutomation-id: $request.path.simulationAutomation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property simulationAutomations in security
      operationId: security.attackSimulation_UpdateSimulationAutomations
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property simulationAutomations for security
      operationId: security.attackSimulation_DeleteSimulationAutomations
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get runs from security
      description: A collection of simulation automation runs.
      operationId: security.attackSimulation.simulationAutomations_ListRuns
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - endDateTime
                - endDateTime desc
                - simulationId
                - simulationId desc
                - startDateTime
                - startDateTime desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endDateTime
                - simulationId
                - startDateTime
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.simulationAutomationRunCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to runs for security
      operationId: security.attackSimulation.simulationAutomations_CreateRuns
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulationAutomations/{simulationAutomation-id}/runs/{simulationAutomationRun-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get runs from security
      description: A collection of simulation automation runs.
      operationId: security.attackSimulation.simulationAutomations_GetRuns
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: simulationAutomationRun-id
          in: path
          description: 'key: id of simulationAutomationRun'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomationRun
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endDateTime
                - simulationId
                - startDateTime
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property runs in security
      operationId: security.attackSimulation.simulationAutomations_UpdateRuns
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: simulationAutomationRun-id
          in: path
          description: 'key: id of simulationAutomationRun'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomationRun
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulationAutomationRun'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property runs for security
      operationId: security.attackSimulation.simulationAutomations_DeleteRuns
      parameters:
        - name: simulationAutomation-id
          in: path
          description: 'key: id of simulationAutomation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomation
        - name: simulationAutomationRun-id
          in: path
          description: 'key: id of simulationAutomationRun'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulationAutomationRun
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/attackSimulation/simulations:
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulations from security
      description: Represents an attack simulation training campaign in a tenant.
      operationId: security.attackSimulation_ListSimulations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - attackTechnique
                - attackTechnique desc
                - attackType
                - attackType desc
                - automationId
                - automationId desc
                - completionDateTime
                - completionDateTime desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isAutomated
                - isAutomated desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - launchDateTime
                - launchDateTime desc
                - payloadDeliveryPlatform
                - payloadDeliveryPlatform desc
                - report
                - report desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attackTechnique
                - attackType
                - automationId
                - completionDateTime
                - createdBy
                - createdDateTime
                - description
                - displayName
                - isAutomated
                - lastModifiedBy
                - lastModifiedDateTime
                - launchDateTime
                - payloadDeliveryPlatform
                - report
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.simulationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.attackSimulationRoot
      summary: Create new navigation property to simulations for security
      operationId: security.attackSimulation_CreateSimulations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/attackSimulation/simulations/{simulation-id}':
    get:
      tags:
        - security.attackSimulationRoot
      summary: Get simulations from security
      description: Represents an attack simulation training campaign in a tenant.
      operationId: security.attackSimulation_GetSimulations
      parameters:
        - name: simulation-id
          in: path
          description: 'key: id of simulation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attackTechnique
                - attackType
                - automationId
                - completionDateTime
                - createdBy
                - createdDateTime
                - description
                - displayName
                - isAutomated
                - lastModifiedBy
                - lastModifiedDateTime
                - launchDateTime
                - payloadDeliveryPlatform
                - report
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.simulation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.attackSimulationRoot
      summary: Update the navigation property simulations in security
      operationId: security.attackSimulation_UpdateSimulations
      parameters:
        - name: simulation-id
          in: path
          description: 'key: id of simulation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.simulation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.attackSimulationRoot
      summary: Delete navigation property simulations for security
      operationId: security.attackSimulation_DeleteSimulations
      parameters:
        - name: simulation-id
          in: path
          description: 'key: id of simulation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: simulation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/cases:
    get:
      tags:
        - security.casesRoot
      summary: Get cases from security
      operationId: security_GetCases
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - ediscoveryCases
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - ediscoveryCases
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.casesRoot'
          links:
            ediscoveryCases:
              operationId: security.Cases.ListEdiscoveryCases
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.casesRoot
      summary: Update the navigation property cases in security
      operationId: security_UpdateCases
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.casesRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.casesRoot
      summary: Delete navigation property cases for security
      operationId: security_DeleteCases
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/cases/ediscoveryCases:
    get:
      tags:
        - security.casesRoot
      summary: Get ediscoveryCases from security
      operationId: security.cases_ListEdiscoveryCases
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - status
                - status desc
                - closedBy
                - closedBy desc
                - closedDateTime
                - closedDateTime desc
                - externalId
                - externalId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - status
                - closedBy
                - closedDateTime
                - externalId
                - custodians
                - legalHolds
                - noncustodialDataSources
                - operations
                - reviewSets
                - searches
                - settings
                - tags
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - custodians
                - legalHolds
                - noncustodialDataSources
                - operations
                - reviewSets
                - searches
                - settings
                - tags
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.ediscoveryCaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.casesRoot
      summary: Create new navigation property to ediscoveryCases for security
      operationId: security.cases_CreateEdiscoveryCases
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCase'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}':
    get:
      tags:
        - security.casesRoot
      summary: Get ediscoveryCases from security
      operationId: security.cases_GetEdiscoveryCases
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - status
                - closedBy
                - closedDateTime
                - externalId
                - custodians
                - legalHolds
                - noncustodialDataSources
                - operations
                - reviewSets
                - searches
                - settings
                - tags
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - custodians
                - legalHolds
                - noncustodialDataSources
                - operations
                - reviewSets
                - searches
                - settings
                - tags
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCase'
          links:
            custodians:
              operationId: security.cases.EdiscoveryCases.ListCustodians
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            legalHolds:
              operationId: security.cases.EdiscoveryCases.ListLegalHolds
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            noncustodialDataSources:
              operationId: security.cases.EdiscoveryCases.ListNoncustodialDataSources
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            operations:
              operationId: security.cases.EdiscoveryCases.ListOperations
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            reviewSets:
              operationId: security.cases.EdiscoveryCases.ListReviewSets
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            searches:
              operationId: security.cases.EdiscoveryCases.ListSearches
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            settings:
              operationId: security.cases.EdiscoveryCases.GetSettings
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            tags:
              operationId: security.cases.EdiscoveryCases.ListTags
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
            close:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.close
            reopen:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.reopen
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.casesRoot
      summary: Update the navigation property ediscoveryCases in security
      operationId: security.cases_UpdateEdiscoveryCases
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCase'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.casesRoot
      summary: Delete navigation property ediscoveryCases for security
      operationId: security.cases_DeleteEdiscoveryCases
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians':
    get:
      tags:
        - security.casesRoot
      summary: Get custodians from security
      description: Returns a list of case ediscoveryCustodian objects for this case.
      operationId: security.cases.ediscoveryCases_ListCustodians
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - releasedDateTime
                - releasedDateTime desc
                - status
                - status desc
                - acknowledgedDateTime
                - acknowledgedDateTime desc
                - email
                - email desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - holdStatus
                - lastModifiedDateTime
                - releasedDateTime
                - status
                - acknowledgedDateTime
                - email
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.ediscoveryCustodianCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.casesRoot
      summary: Create new navigation property to custodians for security
      operationId: security.cases.ediscoveryCases_CreateCustodians
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCustodian'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCustodian'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}':
    get:
      tags:
        - security.casesRoot
      summary: Get custodians from security
      description: Returns a list of case ediscoveryCustodian objects for this case.
      operationId: security.cases.ediscoveryCases_GetCustodians
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - holdStatus
                - lastModifiedDateTime
                - releasedDateTime
                - status
                - acknowledgedDateTime
                - email
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - lastIndexOperation
                - siteSources
                - unifiedGroupSources
                - userSources
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCustodian'
          links:
            lastIndexOperation:
              operationId: security.cases.ediscoveryCases.Custodians.GetLastIndexOperation
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
            siteSources:
              operationId: security.cases.ediscoveryCases.Custodians.ListSiteSources
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
            unifiedGroupSources:
              operationId: security.cases.ediscoveryCases.Custodians.ListUnifiedGroupSources
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
            userSources:
              operationId: security.cases.ediscoveryCases.Custodians.ListUserSources
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
            activate:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.custodians.ediscoveryCustodian.activate
            applyHold:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.custodians.ediscoveryCustodian.applyHold
            release:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.custodians.ediscoveryCustodian.release
            removeHold:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.custodians.ediscoveryCustodian.removeHold
            updateIndex:
              operationId: security.cases.ediscoveryCases.ediscoveryCase.custodians.ediscoveryCustodian.updateIndex
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.casesRoot
      summary: Update the navigation property custodians in security
      operationId: security.cases.ediscoveryCases_UpdateCustodians
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.ediscoveryCustodian'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.casesRoot
      summary: Delete navigation property custodians for security
      operationId: security.cases.ediscoveryCases_DeleteCustodians
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/lastIndexOperation':
    get:
      tags:
        - security.casesRoot
      summary: Get lastIndexOperation from security
      description: Operation entity that represents the latest indexing for the custodian.
      operationId: security.cases.ediscoveryCases.custodians_GetLastIndexOperation
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - action
                - completedDateTime
                - createdBy
                - createdDateTime
                - percentProgress
                - resultInfo
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.ediscoveryIndexOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/microsoft.graph.security.activate':
    post:
      tags:
        - security.Actions
      summary: Invoke action activate
      operationId: security.cases.ediscoveryCases.custodians_activate
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/microsoft.graph.security.applyHold':
    post:
      tags:
        - security.Actions
      summary: Invoke action applyHold
      operationId: security.cases.ediscoveryCases.custodians_applyHold
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/microsoft.graph.security.release':
    post:
      tags:
        - security.Actions
      summary: Invoke action release
      operationId: security.cases.ediscoveryCases.custodians_release
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/microsoft.graph.security.removeHold':
    post:
      tags:
        - security.Actions
      summary: Invoke action removeHold
      operationId: security.cases.ediscoveryCases.custodians_removeHold
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/microsoft.graph.security.updateIndex':
    post:
      tags:
        - security.Actions
      summary: Invoke action updateIndex
      operationId: security.cases.ediscoveryCases.custodians_updateIndex
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/siteSources':
    get:
      tags:
        - security.casesRoot
      summary: Get siteSources from security
      description: Data source entity for SharePoint sites associated with the custodian.
      operationId: security.cases.ediscoveryCases.custodians_ListSiteSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - site
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - site
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.security.siteSourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.casesRoot
      summary: Create new navigation property to siteSources for security
      operationId: security.cases.ediscoveryCases.custodians_CreateSiteSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.siteSource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.siteSource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/siteSources/{siteSource-id}':
    get:
      tags:
        - security.casesRoot
      summary: Get siteSources from security
      description: Data source entity for SharePoint sites associated with the custodian.
      operationId: security.cases.ediscoveryCases.custodians_GetSiteSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - site
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - site
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security.siteSource'
          links:
            site:
              operationId: security.cases.ediscoveryCases.custodians.SiteSources.GetSite
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.casesRoot
      summary: Update the navigation property siteSources in security
      operationId: security.cases.ediscoveryCases.custodians_UpdateSiteSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security.siteSource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.casesRoot
      summary: Delete navigation property siteSources for security
      operationId: security.cases.ediscoveryCases.custodians_DeleteSiteSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/siteSources/{siteSource-id}/site':
    get:
      tags:
        - security.casesRoot
      summary: Get site from security
      description: The SharePoint site associated with the siteSource.
      operationId: security.cases.ediscoveryCases.custodians.siteSources_GetSite
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - name: siteSource-id
          in: path
          description: 'key: id of siteSource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: siteSource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - deleted
                - displayName
                - root
                - settings
                - sharepointIds
                - siteCollection
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - operations
                - pages
                - permissions
                - sites
                - termStore
                - onenote
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - analytics
                - columns
                - contentTypes
                - drive
                - drives
                - externalColumns
                - items
                - lists
                - operations
                - pages
                - permissions
                - sites
                - termStore
                - onenote
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.site'
          links:
            createdByUser:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetCreatedGraphBPreUser
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            lastModifiedByUser:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetLastModifiedGraphBPreUser
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            analytics:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetAnalytics
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            columns:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListColumns
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            contentTypes:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListContentTypes
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            drive:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetDrive
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            drives:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListDrives
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            externalColumns:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListExternalColumns
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            items:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListItems
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            lists:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListLists
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            operations:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListOperations
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            pages:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListPages
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            permissions:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListPermissions
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            sites:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.ListSites
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            termStore:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetTermStore
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
            onenote:
              operationId: security.cases.ediscoveryCases.custodians.siteSources.Site.GetOnenote
              parameters:
                ediscoveryCase-id: $request.path.ediscoveryCase-id
                ediscoveryCustodian-id: $request.path.ediscoveryCustodian-id
                siteSource-id: $request.path.siteSource-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/cases/ediscoveryCases/{ediscoveryCase-id}/custodians/{ediscoveryCustodian-id}/unifiedGroupSources':
    get:
      tags:
        - security.casesRoot
      summary: Get unifiedGroupSources from security
      description: Data source entity for groups associated with the custodian.
      operationId: security.cases.ediscoveryCases.custodians_ListUnifiedGroupSources
      parameters:
        - name: ediscoveryCase-id
          in: path
          description: 'key: id of ediscoveryCase'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCase
        - name: ediscoveryCustodian-id
          in: path
          description: 'key: id of ediscoveryCustodian'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: ediscoveryCustodian
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - holdStatus
                - holdStatus desc
                - includedSources
                - includedSources desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - displayName
                - holdStatus
                - includedSources
                - group
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - group
              type: string
      responses:
        '200':
[...]
