openapi: 3.0.1
info:
  title: Subscriptions
  version: v1.0-StagingBeta
servers:
  - url: https://graph.microsoft.com/StagingBeta/
    description: Core
paths:
  /subscriptions:
    get:
      tags:
        - subscriptions.subscription
      summary: Get entities from subscriptions
      operationId: subscriptions.subscription_ListSubscription
      parameters:
        - $ref: '#/components/parameters/search'
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resource
                - changeType
                - clientState
                - notificationUrl
                - expirationDateTime
                - applicationId
                - creatorId
                - includeProperties
                - includeResourceData
                - lifecycleNotificationUrl
                - encryptionCertificate
                - encryptionCertificateId
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of subscription
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.subscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - subscriptions.subscription
      summary: Add new entity to subscriptions
      operationId: subscriptions.subscription_CreateSubscription
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.subscription'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/subscriptions/{subscription-id}':
    get:
      tags:
        - subscriptions.subscription
      summary: Get entity from subscriptions by key
      operationId: subscriptions.subscription_GetSubscription
      parameters:
        - name: subscription-id
          in: path
          description: 'key: subscription-id of subscription'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: subscription
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resource
                - changeType
                - clientState
                - notificationUrl
                - expirationDateTime
                - applicationId
                - creatorId
                - includeProperties
                - includeResourceData
                - lifecycleNotificationUrl
                - encryptionCertificate
                - encryptionCertificateId
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - subscriptions.subscription
      summary: Update entity in subscriptions
      operationId: subscriptions.subscription_UpdateSubscription
      parameters:
        - name: subscription-id
          in: path
          description: 'key: subscription-id of subscription'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: subscription
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.subscription'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - subscriptions.subscription
      summary: Delete entity from subscriptions
      operationId: subscriptions.subscription_DeleteSubscription
      parameters:
        - name: subscription-id
          in: path
          description: 'key: subscription-id of subscription'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: subscription
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.subscription:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: subscription
          type: object
          properties:
            resource:
              type: string
            changeType:
              type: string
            clientState:
              type: string
              nullable: true
            notificationUrl:
              type: string
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            applicationId:
              type: string
              nullable: true
            creatorId:
              type: string
              nullable: true
            includeProperties:
              type: boolean
              nullable: true
            includeResourceData:
              type: boolean
              nullable: true
            lifecycleNotificationUrl:
              type: string
              nullable: true
            encryptionCertificate:
              type: string
              nullable: true
            encryptionCertificateId:
              type: string
              nullable: true
      example:
        id: string (identifier)
        resource: string
        changeType: string
        clientState: string
        notificationUrl: string
        expirationDateTime: string (timestamp)
        applicationId: string
        creatorId: string
        includeProperties: true
        includeResourceData: true
        lifecycleNotificationUrl: string
        encryptionCertificate: string
        encryptionCertificateId: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]