openapi: 3.0.1
info:
  title: Teams
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /appCatalogs/teamsApps:
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get teamsApps from appCatalogs
      operationId: appCatalogs_ListTeamsApps
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - distributionMethod
                - distributionMethod desc
                - externalId
                - externalId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - distributionMethod
                - externalId
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsApp
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsApp'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - appCatalogs.teamsApp
      summary: Create new navigation property to teamsApps for appCatalogs
      operationId: appCatalogs_CreateTeamsApps
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get teamsApps from appCatalogs
      operationId: appCatalogs_GetTeamsApps
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - distributionMethod
                - externalId
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
          links:
            appDefinitions:
              operationId: appCatalogs.TeamsApps.ListAppDefinitions
              parameters:
                teamsApp-id: $request.path.teamsApp-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - appCatalogs.teamsApp
      summary: Update the navigation property teamsApps in appCatalogs
      operationId: appCatalogs_UpdateTeamsApps
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsApp'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - appCatalogs.teamsApp
      summary: Delete navigation property teamsApps for appCatalogs
      operationId: appCatalogs_DeleteTeamsApps
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get appDefinitions from appCatalogs
      description: The details for each version of the app.
      operationId: appCatalogs.teamsApps_ListAppDefinitions
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedInstallationScopes
                - allowedInstallationScopes desc
                - azureADAppId
                - azureADAppId desc
                - createdBy
                - createdBy desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - publishingState
                - publishingState desc
                - shortdescription
                - shortdescription desc
                - teamsAppId
                - teamsAppId desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedInstallationScopes
                - azureADAppId
                - createdBy
                - description
                - displayName
                - lastModifiedDateTime
                - publishingState
                - shortdescription
                - teamsAppId
                - version
                - bot
                - colorIcon
                - outlineIcon
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - bot
                - colorIcon
                - outlineIcon
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsAppDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - appCatalogs.teamsApp
      summary: Create new navigation property to appDefinitions for appCatalogs
      description: The details for each version of the app.
      operationId: appCatalogs.teamsApps_CreateAppDefinitions
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions/{teamsAppDefinition-id}':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get appDefinitions from appCatalogs
      description: The details for each version of the app.
      operationId: appCatalogs.teamsApps_GetAppDefinitions
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedInstallationScopes
                - azureADAppId
                - createdBy
                - description
                - displayName
                - lastModifiedDateTime
                - publishingState
                - shortdescription
                - teamsAppId
                - version
                - bot
                - colorIcon
                - outlineIcon
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - bot
                - colorIcon
                - outlineIcon
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
          links:
            bot:
              operationId: appCatalogs.teamsApps.AppDefinitions.GetBot
              parameters:
                teamsApp-id: $request.path.teamsApp-id
                teamsAppDefinition-id: $request.path.teamsAppDefinition-id
            colorIcon:
              operationId: appCatalogs.teamsApps.AppDefinitions.GetColorIcon
              parameters:
                teamsApp-id: $request.path.teamsApp-id
                teamsAppDefinition-id: $request.path.teamsAppDefinition-id
            outlineIcon:
              operationId: appCatalogs.teamsApps.AppDefinitions.GetOutlineIcon
              parameters:
                teamsApp-id: $request.path.teamsApp-id
                teamsAppDefinition-id: $request.path.teamsAppDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - appCatalogs.teamsApp
      summary: Update the navigation property appDefinitions in appCatalogs
      description: The details for each version of the app.
      operationId: appCatalogs.teamsApps_UpdateAppDefinitions
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - appCatalogs.teamsApp
      summary: Delete navigation property appDefinitions for appCatalogs
      description: The details for each version of the app.
      operationId: appCatalogs.teamsApps_DeleteAppDefinitions
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions/{teamsAppDefinition-id}/bot':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get bot from appCatalogs
      description: The details of the bot specified in the Teams app manifest.
      operationId: appCatalogs.teamsApps.appDefinitions_GetBot
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamworkBot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - appCatalogs.teamsApp
      summary: Update the navigation property bot in appCatalogs
      description: The details of the bot specified in the Teams app manifest.
      operationId: appCatalogs.teamsApps.appDefinitions_UpdateBot
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamworkBot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - appCatalogs.teamsApp
      summary: Delete navigation property bot for appCatalogs
      description: The details of the bot specified in the Teams app manifest.
      operationId: appCatalogs.teamsApps.appDefinitions_DeleteBot
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions/{teamsAppDefinition-id}/colorIcon':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get colorIcon from appCatalogs
      description: The color version of the Teams app's icon.
      operationId: appCatalogs.teamsApps.appDefinitions_GetColorIcon
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - webUrl
                - hostedContent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContent
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppIcon'
          links:
            hostedContent:
              operationId: appCatalogs.teamsApps.appDefinitions.ColorIcon.GetHostedContent
              parameters:
                teamsApp-id: $request.path.teamsApp-id
                teamsAppDefinition-id: $request.path.teamsAppDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - appCatalogs.teamsApp
      summary: Update the navigation property colorIcon in appCatalogs
      description: The color version of the Teams app's icon.
      operationId: appCatalogs.teamsApps.appDefinitions_UpdateColorIcon
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppIcon'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - appCatalogs.teamsApp
      summary: Delete navigation property colorIcon for appCatalogs
      description: The color version of the Teams app's icon.
      operationId: appCatalogs.teamsApps.appDefinitions_DeleteColorIcon
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions/{teamsAppDefinition-id}/colorIcon/hostedContent':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get hostedContent from appCatalogs
      description: The contents of the app icon if the icon is hosted within the Teams infrastructure.
      operationId: appCatalogs.teamsApps.appDefinitions.colorIcon_GetHostedContent
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentBytes
                - contentType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamworkHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - appCatalogs.teamsApp
      summary: Update the navigation property hostedContent in appCatalogs
      description: The contents of the app icon if the icon is hosted within the Teams infrastructure.
      operationId: appCatalogs.teamsApps.appDefinitions.colorIcon_UpdateHostedContent
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamworkHostedContent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - appCatalogs.teamsApp
      summary: Delete navigation property hostedContent for appCatalogs
      description: The contents of the app icon if the icon is hosted within the Teams infrastructure.
      operationId: appCatalogs.teamsApps.appDefinitions.colorIcon_DeleteHostedContent
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions/{teamsAppDefinition-id}/colorIcon/hostedContent/$value':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get media content for the navigation property hostedContent from appCatalogs
      operationId: appCatalogs.teamsApps.appDefinitions.colorIcon_GetHostedContentContent
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - appCatalogs.teamsApp
      summary: Update media content for the navigation property hostedContent in appCatalogs
      operationId: appCatalogs.teamsApps.appDefinitions.colorIcon_SetHostedContentContent
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions/{teamsAppDefinition-id}/outlineIcon':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get outlineIcon from appCatalogs
      description: The outline version of the Teams app's icon.
      operationId: appCatalogs.teamsApps.appDefinitions_GetOutlineIcon
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - webUrl
                - hostedContent
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContent
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppIcon'
          links:
            hostedContent:
              operationId: appCatalogs.teamsApps.appDefinitions.OutlineIcon.GetHostedContent
              parameters:
                teamsApp-id: $request.path.teamsApp-id
                teamsAppDefinition-id: $request.path.teamsAppDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - appCatalogs.teamsApp
      summary: Update the navigation property outlineIcon in appCatalogs
      description: The outline version of the Teams app's icon.
      operationId: appCatalogs.teamsApps.appDefinitions_UpdateOutlineIcon
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppIcon'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - appCatalogs.teamsApp
      summary: Delete navigation property outlineIcon for appCatalogs
      description: The outline version of the Teams app's icon.
      operationId: appCatalogs.teamsApps.appDefinitions_DeleteOutlineIcon
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions/{teamsAppDefinition-id}/outlineIcon/hostedContent':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get hostedContent from appCatalogs
      description: The contents of the app icon if the icon is hosted within the Teams infrastructure.
      operationId: appCatalogs.teamsApps.appDefinitions.outlineIcon_GetHostedContent
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentBytes
                - contentType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamworkHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - appCatalogs.teamsApp
      summary: Update the navigation property hostedContent in appCatalogs
      description: The contents of the app icon if the icon is hosted within the Teams infrastructure.
      operationId: appCatalogs.teamsApps.appDefinitions.outlineIcon_UpdateHostedContent
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamworkHostedContent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - appCatalogs.teamsApp
      summary: Delete navigation property hostedContent for appCatalogs
      description: The contents of the app icon if the icon is hosted within the Teams infrastructure.
      operationId: appCatalogs.teamsApps.appDefinitions.outlineIcon_DeleteHostedContent
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions/{teamsAppDefinition-id}/outlineIcon/hostedContent/$value':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get media content for the navigation property hostedContent from appCatalogs
      operationId: appCatalogs.teamsApps.appDefinitions.outlineIcon_GetHostedContentContent
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - appCatalogs.teamsApp
      summary: Update media content for the navigation property hostedContent in appCatalogs
      operationId: appCatalogs.teamsApps.appDefinitions.outlineIcon_SetHostedContentContent
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /chats:
    get:
      tags:
        - chats.chat
      summary: Get entities from chats
      operationId: chats.chat_ListChat
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - chatType
                - chatType desc
                - createdDateTime
                - createdDateTime desc
                - lastUpdatedDateTime
                - lastUpdatedDateTime desc
                - onlineMeetingInfo
                - onlineMeetingInfo desc
                - tenantId
                - tenantId desc
                - topic
                - topic desc
                - viewpoint
                - viewpoint desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - chatType
                - createdDateTime
                - lastUpdatedDateTime
                - onlineMeetingInfo
                - tenantId
                - topic
                - viewpoint
                - webUrl
                - installedApps
                - lastMessagePreview
                - members
                - messages
                - operations
                - permissionGrants
                - tabs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - installedApps
                - lastMessagePreview
                - members
                - messages
                - operations
                - permissionGrants
                - tabs
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of chat
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chat'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chat
      summary: Add new entity to chats
      operationId: chats.chat_CreateChat
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chat'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}':
    get:
      tags:
        - chats.chat
      summary: Get entity from chats by key
      operationId: chats.chat_GetChat
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - chatType
                - createdDateTime
                - lastUpdatedDateTime
                - onlineMeetingInfo
                - tenantId
                - topic
                - viewpoint
                - webUrl
                - installedApps
                - lastMessagePreview
                - members
                - messages
                - operations
                - permissionGrants
                - tabs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - installedApps
                - lastMessagePreview
                - members
                - messages
                - operations
                - permissionGrants
                - tabs
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chat'
          links:
            installedApps:
              operationId: chats.ListInstalledApps
              parameters:
                chat-id: $request.path.chat-id
            lastMessagePreview:
              operationId: chats.GetLastMessagePreview
              parameters:
                chat-id: $request.path.chat-id
            members:
              operationId: chats.ListMembers
              parameters:
                chat-id: $request.path.chat-id
            messages:
              operationId: chats.ListMessages
              parameters:
                chat-id: $request.path.chat-id
            operations:
              operationId: chats.ListOperations
              parameters:
                chat-id: $request.path.chat-id
            permissionGrants:
              operationId: chats.ListPermissionGrants
              parameters:
                chat-id: $request.path.chat-id
            tabs:
              operationId: chats.ListTabs
              parameters:
                chat-id: $request.path.chat-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chat
      summary: Update entity in chats
      operationId: chats.chat_UpdateChat
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chat
      summary: Delete entity from chats
      operationId: chats.chat_DeleteChat
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get installedApps from chats
      description: A collection of all the apps in the chat. Nullable.
      operationId: chats_ListInstalledApps
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsApp
                - teamsAppDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
                - teamsAppDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsAppInstallation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.teamsAppInstallation
      summary: Create new navigation property to installedApps for chats
      description: A collection of all the apps in the chat. Nullable.
      operationId: chats_CreateInstalledApps
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get installedApps from chats
      description: A collection of all the apps in the chat. Nullable.
      operationId: chats_GetInstalledApps
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsApp
                - teamsAppDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
                - teamsAppDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
          links:
            teamsApp:
              operationId: chats.InstalledApps.GetTeamsApp
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
            teamsAppDefinition:
              operationId: chats.InstalledApps.GetTeamsAppDefinition
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.teamsAppInstallation
      summary: Update the navigation property installedApps in chats
      description: A collection of all the apps in the chat. Nullable.
      operationId: chats_UpdateInstalledApps
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.teamsAppInstallation
      summary: Delete navigation property installedApps for chats
      description: A collection of all the apps in the chat. Nullable.
      operationId: chats_DeleteInstalledApps
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}/microsoft.graph.upgrade':
    post:
      tags:
        - chats.Actions
      summary: Invoke action upgrade
      operationId: chats.installedApps_upgrade
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}/teamsApp':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get teamsApp from chats
      description: The app that is installed.
      operationId: chats.installedApps_GetTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - distributionMethod
                - externalId
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
          links:
            appDefinitions:
              operationId: chats.installedApps.TeamsApp.ListAppDefinitions
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}/teamsApp/$ref':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get ref of teamsApp from chats
      description: The app that is installed.
      operationId: chats.installedApps_GetGraphRefTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            appDefinitions:
              operationId: chats.installedApps.TeamsApp.ListAppDefinitions
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - chats.teamsAppInstallation
      summary: Update the ref of navigation property teamsApp in chats
      description: The app that is installed.
      operationId: chats.installedApps_SetGraphRefTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.teamsAppInstallation
      summary: Delete ref of navigation property teamsApp for chats
      description: The app that is installed.
      operationId: chats.installedApps_DeleteGraphRefTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}/teamsAppDefinition':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get teamsAppDefinition from chats
      description: The details of this version of the app.
      operationId: chats.installedApps_GetTeamsAppDefinition
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedInstallationScopes
                - azureADAppId
                - createdBy
                - description
                - displayName
                - lastModifiedDateTime
                - publishingState
                - shortdescription
                - teamsAppId
                - version
                - bot
                - colorIcon
                - outlineIcon
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - bot
                - colorIcon
                - outlineIcon
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
          links:
            bot:
              operationId: chats.installedApps.TeamsAppDefinition.GetBot
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
            colorIcon:
              operationId: chats.installedApps.TeamsAppDefinition.GetColorIcon
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
            outlineIcon:
              operationId: chats.installedApps.TeamsAppDefinition.GetOutlineIcon
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}/teamsAppDefinition/$ref':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get ref of teamsAppDefinition from chats
      description: The details of this version of the app.
      operationId: chats.installedApps_GetGraphRefTeamsAppDefinition
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            bot:
              operationId: chats.installedApps.TeamsAppDefinition.GetBot
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
            colorIcon:
              operationId: chats.installedApps.TeamsAppDefinition.GetColorIcon
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
            outlineIcon:
              operationId: chats.installedApps.TeamsAppDefinition.GetOutlineIcon
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - chats.teamsAppInstallation
      summary: Update the ref of navigation property teamsAppDefinition in chats
      description: The details of this version of the app.
      operationId: chats.installedApps_SetGraphRefTeamsAppDefinition
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.teamsAppInstallation
      summary: Delete ref of navigation property teamsAppDefinition for chats
      description: The details of this version of the app.
      operationId: chats.installedApps_DeleteGraphRefTeamsAppDefinition
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/lastMessagePreview':
    get:
      tags:
        - chats.chatMessageInfo
      summary: Get lastMessagePreview from chats
      description: 'Preview of the last message sent in the chat. Null if no messages have been sent in the chat. Currently, only the list chats operation supports this property.'
      operationId: chats_GetLastMessagePreview
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - body
                - createdDateTime
                - eventDetail
                - from
                - isDeleted
                - messageType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chatMessageInfo
      summary: Update the navigation property lastMessagePreview in chats
      description: 'Preview of the last message sent in the chat. Null if no messages have been sent in the chat. Currently, only the list chats operation supports this property.'
      operationId: chats_UpdateLastMessagePreview
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageInfo'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chatMessageInfo
      summary: Delete navigation property lastMessagePreview for chats
      description: 'Preview of the last message sent in the chat. Null if no messages have been sent in the chat. Currently, only the list chats operation supports this property.'
      operationId: chats_DeleteLastMessagePreview
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/members':
    get:
      tags:
        - chats.conversationMember
      summary: Get members from chats
      description: A collection of all the members in the chat. Nullable.
      operationId: chats_ListMembers
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - roles
                - roles desc
                - visibleHistoryStartDateTime
                - visibleHistoryStartDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - roles
                - visibleHistoryStartDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of conversationMember
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.conversationMember'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.conversationMember
      summary: Create new navigation property to members for chats
      description: A collection of all the members in the chat. Nullable.
      operationId: chats_CreateMembers
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversationMember'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/members/{conversationMember-id}':
    get:
      tags:
        - chats.conversationMember
      summary: Get members from chats
      description: A collection of all the members in the chat. Nullable.
      operationId: chats_GetMembers
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: conversationMember-id
          in: path
          description: 'key: id of conversationMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationMember
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - roles
                - visibleHistoryStartDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.conversationMember
      summary: Update the navigation property members in chats
      description: A collection of all the members in the chat. Nullable.
      operationId: chats_UpdateMembers
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: conversationMember-id
          in: path
          description: 'key: id of conversationMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationMember
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversationMember'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.conversationMember
      summary: Delete navigation property members for chats
      description: A collection of all the members in the chat. Nullable.
      operationId: chats_DeleteMembers
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: conversationMember-id
          in: path
          description: 'key: id of conversationMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationMember
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/members/microsoft.graph.add':
    post:
      tags:
        - chats.Actions
      summary: Invoke action add
      operationId: chats.members_add
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                values:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.conversationMember'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.actionResultPart'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/chats/{chat-id}/messages':
    get:
      tags:
        - chats.chatMessage
      summary: Get messages from chats
      description: A collection of all the messages in the chat. Nullable.
      operationId: chats_ListMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - attachments
                - attachments desc
                - body
                - body desc
                - channelIdentity
                - channelIdentity desc
                - chatId
                - chatId desc
                - createdDateTime
                - createdDateTime desc
                - deletedDateTime
                - deletedDateTime desc
                - etag
                - etag desc
                - eventDetail
                - eventDetail desc
                - from
                - from desc
                - importance
                - importance desc
                - lastEditedDateTime
                - lastEditedDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - locale
                - locale desc
                - mentions
                - mentions desc
                - messageType
                - messageType desc
                - onBehalfOf
                - onBehalfOf desc
                - policyViolation
                - policyViolation desc
                - reactions
                - reactions desc
                - replyToId
                - replyToId desc
                - subject
                - subject desc
                - summary
                - summary desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attachments
                - body
                - channelIdentity
                - chatId
                - createdDateTime
                - deletedDateTime
                - etag
                - eventDetail
                - from
                - importance
                - lastEditedDateTime
                - lastModifiedDateTime
                - locale
                - mentions
                - messageType
                - onBehalfOf
                - policyViolation
                - reactions
                - replyToId
                - subject
                - summary
                - webUrl
                - hostedContents
                - replies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContents
                - replies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of chatMessage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessage'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Create new navigation property to messages for chats
      description: A collection of all the messages in the chat. Nullable.
      operationId: chats_CreateMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}':
    get:
      tags:
        - chats.chatMessage
      summary: Get messages from chats
      description: A collection of all the messages in the chat. Nullable.
      operationId: chats_GetMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attachments
                - body
                - channelIdentity
                - chatId
                - createdDateTime
                - deletedDateTime
                - etag
                - eventDetail
                - from
                - importance
                - lastEditedDateTime
                - lastModifiedDateTime
                - locale
                - mentions
                - messageType
                - onBehalfOf
                - policyViolation
                - reactions
                - replyToId
                - subject
                - summary
                - webUrl
                - hostedContents
                - replies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContents
                - replies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
          links:
            hostedContents:
              operationId: chats.Messages.ListHostedContents
              parameters:
                chat-id: $request.path.chat-id
                chatMessage-id: $request.path.chatMessage-id
            replies:
              operationId: chats.Messages.ListReplies
              parameters:
                chat-id: $request.path.chat-id
                chatMessage-id: $request.path.chatMessage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chatMessage
      summary: Update the navigation property messages in chats
      description: A collection of all the messages in the chat. Nullable.
      operationId: chats_UpdateMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chatMessage
      summary: Delete navigation property messages for chats
      description: A collection of all the messages in the chat. Nullable.
      operationId: chats_DeleteMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/hostedContents':
    get:
      tags:
        - chats.chatMessage
      summary: Get hostedContents from chats
      description: 'Content in a message hosted by Microsoft Teams - for example, images or code snippets.'
      operationId: chats.messages_ListHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentBytes
                - contentBytes desc
                - contentType
                - contentType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentBytes
                - contentType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of chatMessageHostedContent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Create new navigation property to hostedContents for chats
      description: 'Content in a message hosted by Microsoft Teams - for example, images or code snippets.'
      operationId: chats.messages_CreateHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}':
    get:
      tags:
        - chats.chatMessage
      summary: Get hostedContents from chats
      description: 'Content in a message hosted by Microsoft Teams - for example, images or code snippets.'
      operationId: chats.messages_GetHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentBytes
                - contentType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chatMessage
      summary: Update the navigation property hostedContents in chats
      description: 'Content in a message hosted by Microsoft Teams - for example, images or code snippets.'
      operationId: chats.messages_UpdateHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        required: true
[...]
