openapi: 3.0.1
info:
  title: Teams.Teamwork
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/teamwork':
    get:
      tags:
        - users.userTeamwork
      summary: Get teamwork from users
      operationId: users_GetTeamwork
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - installedApps
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - installedApps
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userTeamwork'
          links:
            installedApps:
              operationId: user.teamwork.GetInstalledApps
              parameters:
                user-id: $request.path.user-id
                teamsAppInstallation-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.userTeamwork
      summary: Update the navigation property teamwork in users
      operationId: users_UpdateTeamwork
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userTeamwork'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/teamwork/installedApps':
    get:
      tags:
        - users.userTeamwork
      summary: Get installedApps from users
      operationId: users.teamwork_ListInstalledApps
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsApp
                - teamsAppDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
                - teamsAppDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsAppInstallation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userTeamwork
      summary: Create new navigation property to installedApps for users
      operationId: users.teamwork_CreateInstalledApps
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/teamwork/installedApps/{teamsAppInstallation-id}':
    get:
      tags:
        - users.userTeamwork
      summary: Get installedApps from users
      operationId: users.teamwork_GetInstalledApps
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: teamsAppInstallation-id
          in: path
          description: 'key: teamsAppInstallation-id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsApp
                - teamsAppDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
                - teamsAppDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
          links:
            teamsApp:
              operationId: userTeamwork.installedApps.GetTeamsApp
              parameters:
                user-id: $request.path.user-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
                teamsApp-id: $response.body#/id
            teamsAppDefinition:
              operationId: userTeamwork.installedApps.GetTeamsAppDefinition
              parameters:
                user-id: $request.path.user-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
                teamsAppDefinition-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - users.userTeamwork
      summary: Update the navigation property installedApps in users
      operationId: users.teamwork_UpdateInstalledApps
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: teamsAppInstallation-id
          in: path
          description: 'key: teamsAppInstallation-id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/teamwork/installedApps/{teamsAppInstallation-id}/teamsApp':
    get:
      tags:
        - users.userTeamwork
      summary: Get teamsApp from users
      operationId: users.teamwork.installedApps_GetTeamsApp
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: teamsAppInstallation-id
          in: path
          description: 'key: teamsAppInstallation-id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - externalId
                - name
                - displayName
                - distributionMethod
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
          links:
            appDefinitions:
              operationId: teamsAppInstallation.teamsApp.GetAppDefinitions
              parameters:
                user-id: $request.path.user-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
                teamsAppDefinition-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/teamwork/installedApps/{teamsAppInstallation-id}/teamsAppDefinition':
    get:
      tags:
        - users.userTeamwork
      summary: Get teamsAppDefinition from users
      operationId: users.teamwork.installedApps_GetTeamsAppDefinition
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: teamsAppInstallation-id
          in: path
          description: 'key: teamsAppInstallation-id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsAppId
                - displayName
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
        default:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.userTeamwork:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userTeamwork
          type: object
          properties:
            installedApps:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
      example:
        id: string (identifier)
        installedApps:
          - '@odata.type': microsoft.graph.teamsAppInstallation
    microsoft.graph.teamsAppInstallation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: teamsAppInstallation
          type: object
          properties:
            teamsApp:
              $ref: '#/components/schemas/microsoft.graph.teamsApp'
            teamsAppDefinition:
              $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
      example:
        id: string (identifier)
        teamsApp:
          '@odata.type': microsoft.graph.teamsApp
        teamsAppDefinition:
          '@odata.type': microsoft.graph.teamsAppDefinition
    microsoft.graph.teamsApp:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: teamsApp
          type: object
          properties:
            externalId:
              type: string
              description: The ID of the catalog provided by the app developer in the Microsoft Teams zip app package.
              nullable: true
            name:
              type: string
              nullable: true
            displayName:
              type: string
              description: The name of the catalog app provided by the app developer in the Microsoft Teams zip app package.
              nullable: true
            distributionMethod:
              $ref: '#/components/schemas/microsoft.graph.teamsAppDistributionMethod'
            appDefinitions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
              description: The details for each version of the app.
      example:
        id: string (identifier)
        externalId: string
        name: string
        displayName: string
        distributionMethod:
          '@odata.type': microsoft.graph.teamsAppDistributionMethod
        appDefinitions:
          - '@odata.type': microsoft.graph.teamsAppDefinition
    microsoft.graph.teamsAppDefinition:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: teamsAppDefinition
          type: object
          properties:
            teamsAppId:
              type: string
              description: The id from the Teams App manifest.
              nullable: true
            displayName:
              type: string
              description: The name of the app provided by the app developer.
              nullable: true
            version:
              type: string
              description: The version number of the application.
              nullable: true
      example:
        id: string (identifier)
        teamsAppId: string
        displayName: string
        version: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    microsoft.graph.teamsAppDistributionMethod:
      title: teamsAppDistributionMethod
      enum:
        - store
        - organization
        - sideloaded
        - unknownFutureValue
      type: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]