openapi: 3.0.1
info:
  title: Teams.Channel
  version: v1.0-Beta
servers:
  - url: https://graph.microsoft.com/Beta/
    description: Core
paths:
  '/groups/{group-id}/channels':
    get:
      tags:
        - groups.channel
      summary: Get channels from groups
      operationId: groups_ListChannels
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - description
                - description desc
                - isFavoriteByDefault
                - isFavoriteByDefault desc
                - email
                - email desc
                - webUrl
                - webUrl desc
                - membershipType
                - membershipType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - isFavoriteByDefault
                - email
                - webUrl
                - membershipType
                - messages
                - chatThreads
                - tabs
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - messages
                - chatThreads
                - tabs
                - members
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of channel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.channel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.channel
      summary: Create new navigation property to channels for groups
      operationId: groups_CreateChannels
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.channel'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.channel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}':
    get:
      tags:
        - groups.channel
      summary: Get channels from groups
      operationId: groups_GetChannels
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - description
                - isFavoriteByDefault
                - email
                - webUrl
                - membershipType
                - messages
                - chatThreads
                - tabs
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - messages
                - chatThreads
                - tabs
                - members
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.channel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.channel
      summary: Update the navigation property channels in groups
      operationId: groups_UpdateChannels
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.channel'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/chatThreads':
    get:
      tags:
        - groups.channel
      summary: Get chatThreads from groups
      operationId: groups.channels_ListChatThreads
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - rootMessage
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - rootMessage
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of chatThread
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatThread'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.channel
      summary: Create new navigation property to chatThreads for groups
      operationId: groups.channels_CreateChatThreads
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatThread'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatThread'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/chatThreads/{chatThread-id}':
    get:
      tags:
        - groups.channel
      summary: Get chatThreads from groups
      operationId: groups.channels_GetChatThreads
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatThread-id
          in: path
          description: 'key: chatThread-id of chatThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatThread
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - rootMessage
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - rootMessage
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatThread'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.channel
      summary: Update the navigation property chatThreads in groups
      operationId: groups.channels_UpdateChatThreads
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatThread-id
          in: path
          description: 'key: chatThread-id of chatThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatThread
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatThread'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/chatThreads/{chatThread-id}/rootMessage':
    get:
      tags:
        - groups.channel
      summary: Get rootMessage from groups
      operationId: groups.channels.chatThreads_GetRootMessage
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatThread-id
          in: path
          description: 'key: chatThread-id of chatThread'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatThread
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - replyToId
                - from
                - etag
                - messageType
                - createdDateTime
                - lastModifiedDateTime
                - deletedDateTime
                - subject
                - body
                - summary
                - attachments
                - mentions
                - importance
                - policyViolation
                - reactions
                - locale
                - webUrl
                - replies
                - hostedContents
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - replies
                - hostedContents
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/members':
    get:
      tags:
        - groups.channel
      summary: Get members from groups
      operationId: groups.channels_ListMembers
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - roles
                - roles desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roles
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of conversationMember
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.conversationMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.channel
      summary: Create new navigation property to members for groups
      operationId: groups.channels_CreateMembers
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversationMember'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/members/{conversationMember-id}':
    get:
      tags:
        - groups.channel
      summary: Get members from groups
      operationId: groups.channels_GetMembers
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: conversationMember-id
          in: path
          description: 'key: conversationMember-id of conversationMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationMember
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - roles
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.channel
      summary: Update the navigation property members in groups
      operationId: groups.channels_UpdateMembers
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: conversationMember-id
          in: path
          description: 'key: conversationMember-id of conversationMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationMember
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversationMember'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/messages':
    get:
      tags:
        - groups.channel
      summary: Get messages from groups
      operationId: groups.channels_ListMessages
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - replyToId
                - replyToId desc
                - from
                - from desc
                - etag
                - etag desc
                - messageType
                - messageType desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - deletedDateTime
                - deletedDateTime desc
                - subject
                - subject desc
                - body
                - body desc
                - summary
                - summary desc
                - attachments
                - attachments desc
                - mentions
                - mentions desc
                - importance
                - importance desc
                - policyViolation
                - policyViolation desc
                - reactions
                - reactions desc
                - locale
                - locale desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - replyToId
                - from
                - etag
                - messageType
                - createdDateTime
                - lastModifiedDateTime
                - deletedDateTime
                - subject
                - body
                - summary
                - attachments
                - mentions
                - importance
                - policyViolation
                - reactions
                - locale
                - webUrl
                - replies
                - hostedContents
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - replies
                - hostedContents
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of chatMessage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.channel
      summary: Create new navigation property to messages for groups
      operationId: groups.channels_CreateMessages
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/messages/{chatMessage-id}':
    get:
      tags:
        - groups.channel
      summary: Get messages from groups
      operationId: groups.channels_GetMessages
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatMessage-id
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - replyToId
                - from
                - etag
                - messageType
                - createdDateTime
                - lastModifiedDateTime
                - deletedDateTime
                - subject
                - body
                - summary
                - attachments
                - mentions
                - importance
                - policyViolation
                - reactions
                - locale
                - webUrl
                - replies
                - hostedContents
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - replies
                - hostedContents
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.channel
      summary: Update the navigation property messages in groups
      operationId: groups.channels_UpdateMessages
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatMessage-id
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/messages/{chatMessage-id}/hostedContents':
    get:
      tags:
        - groups.channel
      summary: Get hostedContents from groups
      operationId: groups.channels.messages_ListHostedContents
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatMessage-id
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of chatMessageHostedContent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.channel
      summary: Create new navigation property to hostedContents for groups
      operationId: groups.channels.messages_CreateHostedContents
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatMessage-id
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}':
    get:
      tags:
        - groups.channel
      summary: Get hostedContents from groups
      operationId: groups.channels.messages_GetHostedContents
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatMessage-id
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: chatMessageHostedContent-id of chatMessageHostedContent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.channel
      summary: Update the navigation property hostedContents in groups
      operationId: groups.channels.messages_UpdateHostedContents
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatMessage-id
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: chatMessageHostedContent-id of chatMessageHostedContent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/messages/{chatMessage-id}/replies':
    get:
      tags:
        - groups.channel
      summary: Get replies from groups
      operationId: groups.channels.messages_ListReplies
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatMessage-id
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - replyToId
                - replyToId desc
                - from
                - from desc
                - etag
                - etag desc
                - messageType
                - messageType desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - deletedDateTime
                - deletedDateTime desc
                - subject
                - subject desc
                - body
                - body desc
                - summary
                - summary desc
                - attachments
                - attachments desc
                - mentions
                - mentions desc
                - importance
                - importance desc
                - policyViolation
                - policyViolation desc
                - reactions
                - reactions desc
                - locale
                - locale desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - replyToId
                - from
                - etag
                - messageType
                - createdDateTime
                - lastModifiedDateTime
                - deletedDateTime
                - subject
                - body
                - summary
                - attachments
                - mentions
                - importance
                - policyViolation
                - reactions
                - locale
                - webUrl
                - replies
                - hostedContents
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - replies
                - hostedContents
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of chatMessage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.channel
      summary: Create new navigation property to replies for groups
      operationId: groups.channels.messages_CreateReplies
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatMessage-id
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}':
    get:
      tags:
        - groups.channel
      summary: Get replies from groups
      operationId: groups.channels.messages_GetReplies
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatMessage-id
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - replyToId
                - from
                - etag
                - messageType
                - createdDateTime
                - lastModifiedDateTime
                - deletedDateTime
                - subject
                - body
                - summary
                - attachments
                - mentions
                - importance
                - policyViolation
                - reactions
                - locale
                - webUrl
                - replies
                - hostedContents
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - replies
                - hostedContents
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.channel
      summary: Update the navigation property replies in groups
      operationId: groups.channels.messages_UpdateReplies
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: chatMessage-id
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: chatMessage-id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/tabs':
    get:
      tags:
        - groups.channel
      summary: Get tabs from groups
      operationId: groups.channels_ListTabs
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - displayName
                - displayName desc
                - teamsAppId
                - teamsAppId desc
                - sortOrderIndex
                - sortOrderIndex desc
                - messageId
                - messageId desc
                - webUrl
                - webUrl desc
                - configuration
                - configuration desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - displayName
                - teamsAppId
                - sortOrderIndex
                - messageId
                - webUrl
                - configuration
                - teamsApp
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsTab
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsTab'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.channel
      summary: Create new navigation property to tabs for groups
      operationId: groups.channels_CreateTabs
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsTab'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsTab'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/tabs/{teamsTab-id}':
    get:
      tags:
        - groups.channel
      summary: Get tabs from groups
      operationId: groups.channels_GetTabs
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: teamsTab-id
          in: path
          description: 'key: teamsTab-id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - displayName
                - teamsAppId
                - sortOrderIndex
                - messageId
                - webUrl
                - configuration
                - teamsApp
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsTab'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.channel
      summary: Update the navigation property tabs in groups
      operationId: groups.channels_UpdateTabs
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: teamsTab-id
          in: path
          description: 'key: teamsTab-id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsTab'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/channels/{channel-id}/tabs/{teamsTab-id}/teamsApp':
    get:
      tags:
        - groups.channel
      summary: Get teamsApp from groups
      operationId: groups.channels.tabs_GetTeamsApp
      parameters:
        - name: group-id
          in: path
          description: 'key: group-id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: channel-id
          in: path
          description: 'key: channel-id of channel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: channel
        - name: teamsTab-id
          in: path
          description: 'key: teamsTab-id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - externalId
                - name
                - displayName
                - distributionMethod
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.channel:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: channel
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            isFavoriteByDefault:
              type: boolean
              nullable: true
            email:
              type: string
              nullable: true
            webUrl:
              type: string
              nullable: true
            membershipType:
              $ref: '#/components/schemas/microsoft.graph.channelMembershipType'
            messages:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
            chatThreads:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatThread'
            tabs:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.teamsTab'
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.conversationMember'
      example:
        id: string (identifier)
        displayName: string
        description: string
        isFavoriteByDefault: true
        email: string
        webUrl: string
        membershipType:
          '@odata.type': microsoft.graph.channelMembershipType
        messages:
          - '@odata.type': microsoft.graph.chatMessage
        chatThreads:
          - '@odata.type': microsoft.graph.chatThread
        tabs:
          - '@odata.type': microsoft.graph.teamsTab
        members:
          - '@odata.type': microsoft.graph.conversationMember
    microsoft.graph.chatThread:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: chatThread
          type: object
          properties:
            rootMessage:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
      example:
        id: string (identifier)
        rootMessage:
          '@odata.type': microsoft.graph.chatMessage
    microsoft.graph.chatMessage:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: chatMessage
          type: object
          properties:
            replyToId:
              type: string
              nullable: true
            from:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            etag:
              type: string
              nullable: true
            messageType:
              $ref: '#/components/schemas/microsoft.graph.chatMessageType'
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            subject:
              type: string
              nullable: true
            body:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            summary:
              type: string
              nullable: true
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessageAttachment'
            mentions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessageMention'
            importance:
              $ref: '#/components/schemas/microsoft.graph.chatMessageImportance'
            policyViolation:
              $ref: '#/components/schemas/microsoft.graph.chatMessagePolicyViolation'
            reactions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessageReaction'
            locale:
              type: string
            webUrl:
              type: string
              nullable: true
            replies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
            hostedContents:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
      example:
        id: string (identifier)
        replyToId: string
        from:
          '@odata.type': microsoft.graph.identitySet
        etag: string
        messageType:
          '@odata.type': microsoft.graph.chatMessageType
        createdDateTime: string (timestamp)
        lastModifiedDateTime: string (timestamp)
        deletedDateTime: string (timestamp)
        subject: string
        body:
          '@odata.type': microsoft.graph.itemBody
        summary: string
        attachments:
          - '@odata.type': microsoft.graph.chatMessageAttachment
        mentions:
          - '@odata.type': microsoft.graph.chatMessageMention
        importance:
          '@odata.type': microsoft.graph.chatMessageImportance
        policyViolation:
          '@odata.type': microsoft.graph.chatMessagePolicyViolation
        reactions:
          - '@odata.type': microsoft.graph.chatMessageReaction
        locale: string
        webUrl: string
        replies:
          - '@odata.type': microsoft.graph.chatMessage
        hostedContents:
          - '@odata.type': microsoft.graph.chatMessageHostedContent
    microsoft.graph.conversationMember:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: conversationMember
          type: object
          properties:
            roles:
              type: array
              items:
                type: string
                nullable: true
            displayName:
              type: string
              nullable: true
      example:
        id: string (identifier)
        roles:
          - string
        displayName: string
    microsoft.graph.chatMessageHostedContent:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: chatMessageHostedContent
          type: object
      example:
        id: string (identifier)
    microsoft.graph.teamsTab:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: teamsTab
          type: object
          properties:
            name:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            teamsAppId:
              type: string
              nullable: true
            sortOrderIndex:
              type: string
              nullable: true
            messageId:
              type: string
              nullable: true
            webUrl:
              type: string
              nullable: true
            configuration:
              $ref: '#/components/schemas/microsoft.graph.teamsTabConfiguration'
            teamsApp:
              $ref: '#/components/schemas/microsoft.graph.teamsApp'
      example:
        id: string (identifier)
        name: string
        displayName: string
        teamsAppId: string
        sortOrderIndex: string
        messageId: string
        webUrl: string
        configuration:
          '@odata.type': microsoft.graph.teamsTabConfiguration
        teamsApp:
          '@odata.type': microsoft.graph.teamsApp
    microsoft.graph.teamsApp:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: teamsApp
          type: object
          properties:
            externalId:
              type: string
              nullable: true
            name:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            distributionMethod:
              $ref: '#/components/schemas/microsoft.graph.teamsAppDistributionMethod'
            appDefinitions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
      example:
        id: string (identifier)
        externalId: string
        name: string
        displayName: string
        distributionMethod:
          '@odata.type': microsoft.graph.teamsAppDistributionMethod
        appDefinitions:
          - '@odata.type': microsoft.graph.teamsAppDefinition
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    microsoft.graph.channelMembershipType:
      title: channelMembershipType
      enum:
        - standard
        - private
        - unknownFutureValue
      type: string
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      example:
        application:
          '@odata.type': microsoft.graph.identity
        device:
          '@odata.type': microsoft.graph.identity
        user:
          '@odata.type': microsoft.graph.identity
    microsoft.graph.chatMessageType:
      title: chatMessageType
      enum:
        - message
        - chatEvent
        - typing
      type: string
    microsoft.graph.itemBody:
      title: itemBody
      type: object
      properties:
        contentType:
          $ref: '#/components/schemas/microsoft.graph.bodyType'
        content:
          type: string
          nullable: true
      example:
        contentType:
          '@odata.type': microsoft.graph.bodyType
        content: string
    microsoft.graph.chatMessageAttachment:
      title: chatMessageAttachment
      type: object
      properties:
        id:
          type: string
          nullable: true
        contentType:
          type: string
          nullable: true
        contentUrl:
          type: string
          nullable: true
        content:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        thumbnailUrl:
          type: string
          nullable: true
      example:
        id: string
        contentType: string
        contentUrl: string
        content: string
        name: string
        thumbnailUrl: string
    microsoft.graph.chatMessageMention:
      title: chatMessageMention
      type: object
      properties:
        id:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        mentionText:
          type: string
          nullable: true
        mentioned:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
      example:
        id: integer
        mentionText: string
        mentioned:
          '@odata.type': microsoft.graph.identitySet
    microsoft.graph.chatMessageImportance:
      title: chatMessageImportance
      enum:
        - normal
        - high
        - urgent
      type: string
    microsoft.graph.chatMessagePolicyViolation:
      title: chatMessagePolicyViolation
      type: object
      properties:
        dlpAction:
          $ref: '#/components/schemas/microsoft.graph.chatMessagePolicyViolationDlpActionTypes'
        justificationText:
          type: string
          nullable: true
        policyTip:
          $ref: '#/components/schemas/microsoft.graph.chatMessagePolicyViolationPolicyTip'
        userAction:
          $ref: '#/components/schemas/microsoft.graph.chatMessagePolicyViolationUserActionTypes'
        verdictDetails:
          $ref: '#/components/schemas/microsoft.graph.chatMessagePolicyViolationVerdictDetailsTypes'
      example:
        dlpAction:
          '@odata.type': microsoft.graph.chatMessagePolicyViolationDlpActionTypes
        justificationText: string
        policyTip:
          '@odata.type': microsoft.graph.chatMessagePolicyViolationPolicyTip
        userAction:
          '@odata.type': microsoft.graph.chatMessagePolicyViolationUserActionTypes
        verdictDetails:
          '@odata.type': microsoft.graph.chatMessagePolicyViolationVerdictDetailsTypes
    microsoft.graph.chatMessageReaction:
      title: chatMessageReaction
      type: object
      properties:
        reactionType:
          type: string
        createdDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
      example:
        reactionType: string
        createdDateTime: string (timestamp)
        user:
          '@odata.type': microsoft.graph.identitySet
    microsoft.graph.teamsTabConfiguration:
      title: teamsTabConfiguration
      type: object
      properties:
        entityId:
          type: string
          nullable: true
        contentUrl:
          type: string
          nullable: true
        removeUrl:
          type: string
          nullable: true
        websiteUrl:
          type: string
          nullable: true
      example:
        entityId: string
        contentUrl: string
        removeUrl: string
        websiteUrl: string
    microsoft.graph.teamsAppDistributionMethod:
      title: teamsAppDistributionMethod
      enum:
        - store
        - organization
        - sideloaded
        - unknownFutureValue
      type: string
    microsoft.graph.teamsAppDefinition:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: teamsAppDefinition
          type: object
          properties:
            teamsAppId:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            version:
              type: string
              nullable: true
      example:
        id: string (identifier)
        teamsAppId: string
        displayName: string
        version: string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        id:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
      example:
        id: string
        displayName: string
    microsoft.graph.bodyType:
      title: bodyType
      enum:
        - text
        - html
      type: string
    microsoft.graph.chatMessagePolicyViolationDlpActionTypes:
      title: chatMessagePolicyViolationDlpActionTypes
      enum:
        - none
        - notifySender
        - blockAccess
        - blockAccessExternal
      type: string
    microsoft.graph.chatMessagePolicyViolationPolicyTip:
      title: chatMessagePolicyViolationPolicyTip
      type: object
      properties:
        generalText:
          type: string
          nullable: true
        complianceUrl:
          type: string
          nullable: true
        matchedConditionDescriptions:
          type: array
          items:
            type: string
            nullable: true
      example:
        generalText: string
        complianceUrl: string
        matchedConditionDescriptions:
          - string
    microsoft.graph.chatMessagePolicyViolationUserActionTypes:
      title: chatMessagePolicyViolationUserActionTypes
      enum:
        - none
        - override
        - reportFalsePositive
      type: string
    microsoft.graph.chatMessagePolicyViolationVerdictDetailsTypes:
      title: chatMessagePolicyViolationVerdictDetailsTypes
      enum:
        - none
        - allowFalsePositiveOverride
        - allowOverrideWithoutJustification
        - allowOverrideWithJustification
      type: string
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]