openapi: 3.0.1
info:
  title: Teams.Teamwork
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/teamwork':
    get:
      tags:
        - users.userTeamwork
      summary: Get teamwork from users
      operationId: users_GetTeamwork
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - installedApps
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - installedApps
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userTeamwork'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userTeamwork
      summary: Update the navigation property teamwork in users
      operationId: users_UpdateTeamwork
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userTeamwork'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userTeamwork
      summary: Delete navigation property teamwork for users
      operationId: users_DeleteTeamwork
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/teamwork/installedApps':
    get:
      tags:
        - users.userTeamwork
      summary: Get installedApps from users
      operationId: users.teamwork_ListInstalledApps
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsApp
                - teamsAppDefinition
                - chat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
                - teamsAppDefinition
                - chat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of userScopeTeamsAppInstallation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userScopeTeamsAppInstallation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userTeamwork
      summary: Create new navigation property to installedApps for users
      operationId: users.teamwork_CreateInstalledApps
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userScopeTeamsAppInstallation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userScopeTeamsAppInstallation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/teamwork/installedApps/{userScopeTeamsAppInstallation-id}':
    get:
      tags:
        - users.userTeamwork
      summary: Get installedApps from users
      operationId: users.teamwork_GetInstalledApps
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userScopeTeamsAppInstallation-id
          in: path
          description: 'key: id of userScopeTeamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userScopeTeamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsApp
                - teamsAppDefinition
                - chat
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
                - teamsAppDefinition
                - chat
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userScopeTeamsAppInstallation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userTeamwork
      summary: Update the navigation property installedApps in users
      operationId: users.teamwork_UpdateInstalledApps
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userScopeTeamsAppInstallation-id
          in: path
          description: 'key: id of userScopeTeamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userScopeTeamsAppInstallation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userScopeTeamsAppInstallation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userTeamwork
      summary: Delete navigation property installedApps for users
      operationId: users.teamwork_DeleteInstalledApps
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userScopeTeamsAppInstallation-id
          in: path
          description: 'key: id of userScopeTeamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userScopeTeamsAppInstallation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/teamwork/installedApps/{userScopeTeamsAppInstallation-id}/chat':
    get:
      tags:
        - users.userTeamwork
      summary: Get chat from users
      operationId: users.teamwork.installedApps_GetChat
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userScopeTeamsAppInstallation-id
          in: path
          description: 'key: id of userScopeTeamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userScopeTeamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - topic
                - createdDateTime
                - lastUpdatedDateTime
                - members
                - messages
                - installedApps
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
                - messages
                - installedApps
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/teamwork/installedApps/{userScopeTeamsAppInstallation-id}/chat/$ref':
    get:
      tags:
        - users.userTeamwork
      summary: Get ref of chat from users
      operationId: users.teamwork.installedApps_GetRefChat
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userScopeTeamsAppInstallation-id
          in: path
          description: 'key: id of userScopeTeamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userScopeTeamsAppInstallation
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.userTeamwork
      summary: Update the ref of navigation property chat in users
      operationId: users.teamwork.installedApps_UpdateRefChat
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userScopeTeamsAppInstallation-id
          in: path
          description: 'key: id of userScopeTeamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userScopeTeamsAppInstallation
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userTeamwork
      summary: Delete ref of navigation property chat for users
      operationId: users.teamwork.installedApps_DeleteRefChat
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userScopeTeamsAppInstallation-id
          in: path
          description: 'key: id of userScopeTeamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userScopeTeamsAppInstallation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.userTeamwork:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userTeamwork
          type: object
          properties:
            installedApps:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.userScopeTeamsAppInstallation'
              description: The apps installed in the personal scope of this user.
          additionalProperties:
            type: object
    microsoft.graph.userScopeTeamsAppInstallation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        - title: userScopeTeamsAppInstallation
          type: object
          properties:
            chat:
              $ref: '#/components/schemas/microsoft.graph.chat'
          additionalProperties:
            type: object
    microsoft.graph.chat:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: chat
          type: object
          properties:
            topic:
              type: string
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastUpdatedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.conversationMember'
            messages:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
            installedApps:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.teamsAppInstallation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: teamsAppInstallation
          type: object
          properties:
            teamsApp:
              $ref: '#/components/schemas/microsoft.graph.teamsApp'
            teamsAppDefinition:
              $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
          additionalProperties:
            type: object
    microsoft.graph.conversationMember:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: conversationMember
          type: object
          properties:
            roles:
              type: array
              items:
                type: string
                nullable: true
            displayName:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.chatMessage:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: chatMessage
          type: object
          properties:
            replyToId:
              type: string
              description: Read-only. Id of the parent chat message or root chat message of the thread. (Only applies to chat messages in channels not chats)
              nullable: true
            from:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            etag:
              type: string
              description: Read-only. Version number of the chat message.
              nullable: true
            messageType:
              $ref: '#/components/schemas/microsoft.graph.chatMessageType'
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Read only. Timestamp of when the chat message was created.
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Read only. Timestamp of when the chat message is created or edited, including when a reply is made (if it''s a root chat message in a channel) or a reaction is added or removed.'
              format: date-time
              nullable: true
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Read only. Timestamp at which the chat message was deleted, or null if not deleted.'
              format: date-time
              nullable: true
            subject:
              type: string
              description: 'The subject of the chat message, in plaintext.'
              nullable: true
            body:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            summary:
              type: string
              description: 'Summary text of the chat message that could be used for push notifications and summary views or fall back views. Only applies to channel chat messages, not chat messages in a chat.'
              nullable: true
            chatId:
              type: string
              nullable: true
            channelIdentity:
              $ref: '#/components/schemas/microsoft.graph.channelIdentity'
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessageAttachment'
              description: Attached files. Attachments are currently read-only – sending attachments is not supported.
            mentions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessageMention'
              description: 'List of entities mentioned in the chat message. Currently supports user, bot, team, channel.'
            importance:
              $ref: '#/components/schemas/microsoft.graph.chatMessageImportance'
            policyViolation:
              $ref: '#/components/schemas/microsoft.graph.chatMessagePolicyViolation'
            reactions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessageReaction'
            locale:
              type: string
              description: Locale of the chat message set by the client.
            webUrl:
              type: string
              nullable: true
            replies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
            hostedContents:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
          additionalProperties:
            type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.teamsApp:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: teamsApp
          type: object
          properties:
            externalId:
              type: string
              description: The ID of the catalog provided by the app developer in the Microsoft Teams zip app package.
              nullable: true
            displayName:
              type: string
              description: The name of the catalog app provided by the app developer in the Microsoft Teams zip app package.
              nullable: true
            distributionMethod:
              $ref: '#/components/schemas/microsoft.graph.teamsAppDistributionMethod'
            appDefinitions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
              description: The details for each version of the app.
          additionalProperties:
            type: object
    microsoft.graph.teamsAppDefinition:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: teamsAppDefinition
          type: object
          properties:
            teamsAppId:
              type: string
              description: The id from the Teams App manifest.
              nullable: true
            azureADAppId:
              type: string
              nullable: true
            displayName:
              type: string
              description: The name of the app provided by the app developer.
              nullable: true
            version:
              type: string
              description: The version number of the application.
              nullable: true
            publishingState:
              $ref: '#/components/schemas/microsoft.graph.teamsAppPublishingState'
            shortdescription:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
          additionalProperties:
            type: object
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      additionalProperties:
        type: object
    microsoft.graph.chatMessageType:
      title: chatMessageType
      enum:
        - message
        - chatEvent
        - typing
      type: string
    microsoft.graph.itemBody:
      title: itemBody
      type: object
      properties:
        contentType:
          $ref: '#/components/schemas/microsoft.graph.bodyType'
        content:
          type: string
          description: The content of the item.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.channelIdentity:
      title: channelIdentity
      type: object
      properties:
        teamId:
          type: string
          nullable: true
        channelId:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.chatMessageAttachment:
      title: chatMessageAttachment
      type: object
      properties:
        id:
          type: string
          description: Read-only. Unique id of the attachment.
          nullable: true
        contentType:
          type: string
          description: 'The media type of the content attachment. It can have the following values: reference: Attachment is a link to another file. Populate the contentURL with the link to the object.file: Raw file attachment. Populate the contenturl field with the base64 encoding of the file in data: format.image/: Image type with the type of the image specified ex: image/png, image/jpeg, image/gif. Populate the contentUrl field with the base64 encoding of the file in data: format.video/: Video type with the format specified. Ex: video/mp4. Populate the contentUrl field with the base64 encoding of the file in data: format.audio/: Audio type with the format specified. Ex: audio/wmw. Populate the contentUrl field with the base64 encoding of the file in data: format.application/card type: Rich card attachment type with the card type specifying the exact card format to use. Set content with the json format of the card. Supported values for card type include:application/vnd.microsoft.card.adaptive: A rich card that can contain any combination of text, speech, images,,buttons, and input fields. Set the content property to,an AdaptiveCard object.application/vnd.microsoft.card.animation: A rich card that plays animation. Set the content property,to an AnimationCardobject.application/vnd.microsoft.card.audio: A rich card that plays audio files. Set the content property,to an AudioCard object.application/vnd.microsoft.card.video: A rich card that plays videos. Set the content property,to a VideoCard object.application/vnd.microsoft.card.hero: A Hero card. Set the content property to a HeroCard object.application/vnd.microsoft.card.thumbnail: A Thumbnail card. Set the content property to a ThumbnailCard object.application/vnd.microsoft.com.card.receipt: A Receipt card. Set the content property to a ReceiptCard object.application/vnd.microsoft.com.card.signin: A user Sign In card. Set the content property to a SignInCard object.'
          nullable: true
        contentUrl:
          type: string
          description: 'URL for the content of the attachment. Supported protocols: http, https, file and data.'
          nullable: true
        content:
          type: string
          description: 'The content of the attachment. If the attachment is a rich card, set the property to the rich card object. This property and contentUrl are mutually exclusive.'
          nullable: true
        name:
          type: string
          description: Name of the attachment.
          nullable: true
        thumbnailUrl:
          type: string
          description: 'URL to a thumbnail image that the channel can use if it supports using an alternative, smaller form of content or contentUrl. For example, if you set contentType to application/word and set contentUrl to the location of the Word document, you might include a thumbnail image that represents the document. The channel could display the thumbnail image instead of the document. When the user clicks the image, the channel would open the document.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.chatMessageMention:
      title: chatMessageMention
      type: object
      properties:
        id:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: 'Index of an entity being mentioned in the specified chatMessage. Matches the {index} value in the corresponding <at id=''{index}''> tag in the message body.'
          format: int32
          nullable: true
        mentionText:
          type: string
          description: 'String used to represent the mention. For example, a user''s display name, a team name.'
          nullable: true
        mentioned:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
      additionalProperties:
        type: object
    microsoft.graph.chatMessageImportance:
      title: chatMessageImportance
      enum:
        - normal
        - high
        - urgent
      type: string
    microsoft.graph.chatMessagePolicyViolation:
      title: chatMessagePolicyViolation
      type: object
      properties:
        dlpAction:
          $ref: '#/components/schemas/microsoft.graph.chatMessagePolicyViolationDlpActionTypes'
        justificationText:
          type: string
          nullable: true
        policyTip:
          $ref: '#/components/schemas/microsoft.graph.chatMessagePolicyViolationPolicyTip'
        userAction:
          $ref: '#/components/schemas/microsoft.graph.chatMessagePolicyViolationUserActionTypes'
        verdictDetails:
          $ref: '#/components/schemas/microsoft.graph.chatMessagePolicyViolationVerdictDetailsTypes'
      additionalProperties:
        type: object
    microsoft.graph.chatMessageReaction:
      title: chatMessageReaction
      type: object
      properties:
        reactionType:
          type: string
        createdDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
      additionalProperties:
        type: object
    microsoft.graph.chatMessageHostedContent:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: chatMessageHostedContent
          type: object
          additionalProperties:
            type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    microsoft.graph.teamsAppDistributionMethod:
      title: teamsAppDistributionMethod
      enum:
        - store
        - organization
        - sideloaded
        - unknownFutureValue
      type: string
    microsoft.graph.teamsAppPublishingState:
      title: teamsAppPublishingState
      enum:
        - submitted
        - rejected
        - published
        - unknownFutureValue
      type: string
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the identity.
          nullable: true
        displayName:
          type: string
          description: 'The identity''s display name. Note that this may not always be available or up to date. For example, if a user changes their display name, the API may show the new value in a future response, but the items associated with the user won''t show up as having changed when using delta.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.bodyType:
      title: bodyType
      enum:
        - text
        - html
      type: string
    microsoft.graph.chatMessagePolicyViolationDlpActionTypes:
      title: chatMessagePolicyViolationDlpActionTypes
      enum:
        - none
        - notifySender
        - blockAccess
        - blockAccessExternal
      type: string
    microsoft.graph.chatMessagePolicyViolationPolicyTip:
      title: chatMessagePolicyViolationPolicyTip
      type: object
      properties:
        generalText:
          type: string
          nullable: true
        complianceUrl:
          type: string
          nullable: true
        matchedConditionDescriptions:
          type: array
          items:
            type: string
            nullable: true
      additionalProperties:
        type: object
    microsoft.graph.chatMessagePolicyViolationUserActionTypes:
      title: chatMessagePolicyViolationUserActionTypes
      enum:
        - none
        - override
        - reportFalsePositive
      type: string
    microsoft.graph.chatMessagePolicyViolationVerdictDetailsTypes:
      title: chatMessagePolicyViolationVerdictDetailsTypes
      enum:
        - none
        - allowFalsePositiveOverride
        - allowOverrideWithoutJustification
        - allowOverrideWithJustification
      type: string
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]