openapi: 3.0.1
info:
  title: Teams
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /appCatalogs/teamsApps:
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get teamsApps from appCatalogs
      operationId: appCatalogs_ListTeamsApps
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - distributionMethod
                - distributionMethod desc
                - externalId
                - externalId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - distributionMethod
                - externalId
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsApp
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsApp'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - appCatalogs.teamsApp
      summary: Create new navigation property to teamsApps for appCatalogs
      operationId: appCatalogs_CreateTeamsApps
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get teamsApps from appCatalogs
      operationId: appCatalogs_GetTeamsApps
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - distributionMethod
                - externalId
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
          links:
            appDefinitions:
              operationId: appCatalogs.TeamsApps.ListAppDefinitions
              parameters:
                teamsApp-id: $request.path.teamsApp-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - appCatalogs.teamsApp
      summary: Update the navigation property teamsApps in appCatalogs
      operationId: appCatalogs_UpdateTeamsApps
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsApp'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - appCatalogs.teamsApp
      summary: Delete navigation property teamsApps for appCatalogs
      operationId: appCatalogs_DeleteTeamsApps
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get appDefinitions from appCatalogs
      operationId: appCatalogs.teamsApps_ListAppDefinitions
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - azureADAppId
                - azureADAppId desc
                - createdBy
                - createdBy desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - publishingState
                - publishingState desc
                - shortdescription
                - shortdescription desc
                - teamsAppId
                - teamsAppId desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureADAppId
                - createdBy
                - description
                - displayName
                - lastModifiedDateTime
                - publishingState
                - shortdescription
                - teamsAppId
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsAppDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - appCatalogs.teamsApp
      summary: Create new navigation property to appDefinitions for appCatalogs
      operationId: appCatalogs.teamsApps_CreateAppDefinitions
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/appCatalogs/teamsApps/{teamsApp-id}/appDefinitions/{teamsAppDefinition-id}':
    get:
      tags:
        - appCatalogs.teamsApp
      summary: Get appDefinitions from appCatalogs
      operationId: appCatalogs.teamsApps_GetAppDefinitions
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureADAppId
                - createdBy
                - description
                - displayName
                - lastModifiedDateTime
                - publishingState
                - shortdescription
                - teamsAppId
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - appCatalogs.teamsApp
      summary: Update the navigation property appDefinitions in appCatalogs
      operationId: appCatalogs.teamsApps_UpdateAppDefinitions
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - appCatalogs.teamsApp
      summary: Delete navigation property appDefinitions for appCatalogs
      operationId: appCatalogs.teamsApps_DeleteAppDefinitions
      parameters:
        - name: teamsApp-id
          in: path
          description: 'key: id of teamsApp'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsApp
        - name: teamsAppDefinition-id
          in: path
          description: 'key: id of teamsAppDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /chats:
    get:
      tags:
        - chats.chat
      summary: Get entities from chats
      operationId: chats.chat_ListChat
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - chatType
                - chatType desc
                - createdDateTime
                - createdDateTime desc
                - lastUpdatedDateTime
                - lastUpdatedDateTime desc
                - topic
                - topic desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - chatType
                - createdDateTime
                - lastUpdatedDateTime
                - topic
                - installedApps
                - members
                - messages
                - tabs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - installedApps
                - members
                - messages
                - tabs
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of chat
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chat'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chat
      summary: Add new entity to chats
      operationId: chats.chat_CreateChat
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chat'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}':
    get:
      tags:
        - chats.chat
      summary: Get entity from chats by key
      operationId: chats.chat_GetChat
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - chatType
                - createdDateTime
                - lastUpdatedDateTime
                - topic
                - installedApps
                - members
                - messages
                - tabs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - installedApps
                - members
                - messages
                - tabs
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chat'
          links:
            installedApps:
              operationId: chats.ListInstalledApps
              parameters:
                chat-id: $request.path.chat-id
            members:
              operationId: chats.ListMembers
              parameters:
                chat-id: $request.path.chat-id
            messages:
              operationId: chats.ListMessages
              parameters:
                chat-id: $request.path.chat-id
            tabs:
              operationId: chats.ListTabs
              parameters:
                chat-id: $request.path.chat-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chat
      summary: Update entity in chats
      operationId: chats.chat_UpdateChat
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chat
      summary: Delete entity from chats
      operationId: chats.chat_DeleteChat
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get installedApps from chats
      operationId: chats_ListInstalledApps
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsApp
                - teamsAppDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
                - teamsAppDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsAppInstallation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.teamsAppInstallation
      summary: Create new navigation property to installedApps for chats
      operationId: chats_CreateInstalledApps
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get installedApps from chats
      operationId: chats_GetInstalledApps
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - teamsApp
                - teamsAppDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
                - teamsAppDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
          links:
            teamsApp:
              operationId: chats.InstalledApps.GetTeamsApp
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
            teamsAppDefinition:
              operationId: chats.InstalledApps.GetTeamsAppDefinition
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.teamsAppInstallation
      summary: Update the navigation property installedApps in chats
      operationId: chats_UpdateInstalledApps
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsAppInstallation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.teamsAppInstallation
      summary: Delete navigation property installedApps for chats
      operationId: chats_DeleteInstalledApps
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}/microsoft.graph.upgrade':
    post:
      tags:
        - chats.Actions
      summary: Invoke action upgrade
      operationId: chats.installedApps_upgrade
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}/teamsApp':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get teamsApp from chats
      operationId: chats.installedApps_GetTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - distributionMethod
                - externalId
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
          links:
            appDefinitions:
              operationId: chats.installedApps.TeamsApp.ListAppDefinitions
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}/teamsApp/$ref':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get ref of teamsApp from chats
      operationId: chats.installedApps_GetRefTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            appDefinitions:
              operationId: chats.installedApps.TeamsApp.ListAppDefinitions
              parameters:
                chat-id: $request.path.chat-id
                teamsAppInstallation-id: $request.path.teamsAppInstallation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - chats.teamsAppInstallation
      summary: Update the ref of navigation property teamsApp in chats
      operationId: chats.installedApps_SetRefTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.teamsAppInstallation
      summary: Delete ref of navigation property teamsApp for chats
      operationId: chats.installedApps_DeleteRefTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}/teamsAppDefinition':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get teamsAppDefinition from chats
      operationId: chats.installedApps_GetTeamsAppDefinition
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - azureADAppId
                - createdBy
                - description
                - displayName
                - lastModifiedDateTime
                - publishingState
                - shortdescription
                - teamsAppId
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsAppDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/installedApps/{teamsAppInstallation-id}/teamsAppDefinition/$ref':
    get:
      tags:
        - chats.teamsAppInstallation
      summary: Get ref of teamsAppDefinition from chats
      operationId: chats.installedApps_GetRefTeamsAppDefinition
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - chats.teamsAppInstallation
      summary: Update the ref of navigation property teamsAppDefinition in chats
      operationId: chats.installedApps_SetRefTeamsAppDefinition
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.teamsAppInstallation
      summary: Delete ref of navigation property teamsAppDefinition for chats
      operationId: chats.installedApps_DeleteRefTeamsAppDefinition
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsAppInstallation-id
          in: path
          description: 'key: id of teamsAppInstallation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsAppInstallation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/members':
    get:
      tags:
        - chats.conversationMember
      summary: Get members from chats
      operationId: chats_ListMembers
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - roles
                - roles desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - roles
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of conversationMember
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.conversationMember'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.conversationMember
      summary: Create new navigation property to members for chats
      operationId: chats_CreateMembers
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversationMember'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/members/{conversationMember-id}':
    get:
      tags:
        - chats.conversationMember
      summary: Get members from chats
      operationId: chats_GetMembers
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: conversationMember-id
          in: path
          description: 'key: id of conversationMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationMember
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - roles
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.conversationMember
      summary: Update the navigation property members in chats
      operationId: chats_UpdateMembers
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: conversationMember-id
          in: path
          description: 'key: id of conversationMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationMember
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversationMember'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.conversationMember
      summary: Delete navigation property members for chats
      operationId: chats_DeleteMembers
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: conversationMember-id
          in: path
          description: 'key: id of conversationMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conversationMember
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/members/microsoft.graph.add':
    post:
      tags:
        - chats.Actions
      summary: Invoke action add
      operationId: chats.members_add
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                values:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.conversationMember'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.actionResultPart'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/chats/{chat-id}/messages':
    get:
      tags:
        - chats.chatMessage
      summary: Get messages from chats
      operationId: chats_ListMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - attachments
                - attachments desc
                - body
                - body desc
                - channelIdentity
                - channelIdentity desc
                - chatId
                - chatId desc
                - createdDateTime
                - createdDateTime desc
                - deletedDateTime
                - deletedDateTime desc
                - etag
                - etag desc
                - from
                - from desc
                - importance
                - importance desc
                - lastEditedDateTime
                - lastEditedDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - locale
                - locale desc
                - mentions
                - mentions desc
                - messageType
                - messageType desc
                - policyViolation
                - policyViolation desc
                - reactions
                - reactions desc
                - replyToId
                - replyToId desc
                - subject
                - subject desc
                - summary
                - summary desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attachments
                - body
                - channelIdentity
                - chatId
                - createdDateTime
                - deletedDateTime
                - etag
                - from
                - importance
                - lastEditedDateTime
                - lastModifiedDateTime
                - locale
                - mentions
                - messageType
                - policyViolation
                - reactions
                - replyToId
                - subject
                - summary
                - webUrl
                - hostedContents
                - replies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContents
                - replies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of chatMessage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessage'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Create new navigation property to messages for chats
      operationId: chats_CreateMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}':
    get:
      tags:
        - chats.chatMessage
      summary: Get messages from chats
      operationId: chats_GetMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attachments
                - body
                - channelIdentity
                - chatId
                - createdDateTime
                - deletedDateTime
                - etag
                - from
                - importance
                - lastEditedDateTime
                - lastModifiedDateTime
                - locale
                - mentions
                - messageType
                - policyViolation
                - reactions
                - replyToId
                - subject
                - summary
                - webUrl
                - hostedContents
                - replies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContents
                - replies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
          links:
            hostedContents:
              operationId: chats.Messages.ListHostedContents
              parameters:
                chat-id: $request.path.chat-id
                chatMessage-id: $request.path.chatMessage-id
            replies:
              operationId: chats.Messages.ListReplies
              parameters:
                chat-id: $request.path.chat-id
                chatMessage-id: $request.path.chatMessage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chatMessage
      summary: Update the navigation property messages in chats
      operationId: chats_UpdateMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chatMessage
      summary: Delete navigation property messages for chats
      operationId: chats_DeleteMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/hostedContents':
    get:
      tags:
        - chats.chatMessage
      summary: Get hostedContents from chats
      operationId: chats.messages_ListHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentBytes
                - contentBytes desc
                - contentType
                - contentType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentBytes
                - contentType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of chatMessageHostedContent
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Create new navigation property to hostedContents for chats
      operationId: chats.messages_CreateHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}':
    get:
      tags:
        - chats.chatMessage
      summary: Get hostedContents from chats
      operationId: chats.messages_GetHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentBytes
                - contentType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chatMessage
      summary: Update the navigation property hostedContents in chats
      operationId: chats.messages_UpdateHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chatMessage
      summary: Delete navigation property hostedContents for chats
      operationId: chats.messages_DeleteHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}/$value':
    get:
      tags:
        - chats.chatMessage
      summary: Get media content for the navigation property hostedContents from chats
      operationId: chats.messages_GetHostedContentsContent
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - chats.chatMessage
      summary: Update media content for the navigation property hostedContents in chats
      operationId: chats.messages_SetHostedContentsContent
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/replies':
    get:
      tags:
        - chats.chatMessage
      summary: Get replies from chats
      operationId: chats.messages_ListReplies
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - attachments
                - attachments desc
                - body
                - body desc
                - channelIdentity
                - channelIdentity desc
                - chatId
                - chatId desc
                - createdDateTime
                - createdDateTime desc
                - deletedDateTime
                - deletedDateTime desc
                - etag
                - etag desc
                - from
                - from desc
                - importance
                - importance desc
                - lastEditedDateTime
                - lastEditedDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - locale
                - locale desc
                - mentions
                - mentions desc
                - messageType
                - messageType desc
                - policyViolation
                - policyViolation desc
                - reactions
                - reactions desc
                - replyToId
                - replyToId desc
                - subject
                - subject desc
                - summary
                - summary desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attachments
                - body
                - channelIdentity
                - chatId
                - createdDateTime
                - deletedDateTime
                - etag
                - from
                - importance
                - lastEditedDateTime
                - lastModifiedDateTime
                - locale
                - mentions
                - messageType
                - policyViolation
                - reactions
                - replyToId
                - subject
                - summary
                - webUrl
                - hostedContents
                - replies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContents
                - replies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of chatMessage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessage'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Create new navigation property to replies for chats
      operationId: chats.messages_CreateReplies
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}':
    get:
      tags:
        - chats.chatMessage
      summary: Get replies from chats
      operationId: chats.messages_GetReplies
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attachments
                - body
                - channelIdentity
                - chatId
                - createdDateTime
                - deletedDateTime
                - etag
                - from
                - importance
                - lastEditedDateTime
                - lastModifiedDateTime
                - locale
                - mentions
                - messageType
                - policyViolation
                - reactions
                - replyToId
                - subject
                - summary
                - webUrl
                - hostedContents
                - replies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContents
                - replies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
          links:
            hostedContents:
              operationId: chats.messages.Replies.ListHostedContents
              parameters:
                chat-id: $request.path.chat-id
                chatMessage-id: $request.path.chatMessage-id
                chatMessage-id1: $request.path.chatMessage-id1
            replies:
              operationId: chats.messages.Replies.ListReplies
              parameters:
                chat-id: $request.path.chat-id
                chatMessage-id: $request.path.chatMessage-id
                chatMessage-id1: $request.path.chatMessage-id1
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chatMessage
      summary: Update the navigation property replies in chats
      operationId: chats.messages_UpdateReplies
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chatMessage
      summary: Delete navigation property replies for chats
      operationId: chats.messages_DeleteReplies
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/replies/microsoft.graph.delta()':
    get:
      tags:
        - chats.Functions
      summary: Invoke function delta
      operationId: chats.messages.replies_delta
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/chats/{chat-id}/messages/microsoft.graph.delta()':
    get:
      tags:
        - chats.Functions
      summary: Invoke function delta
      operationId: chats.messages_delta
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/chats/{chat-id}/microsoft.graph.sendActivityNotification':
    post:
      tags:
        - chats.Actions
      summary: Invoke action sendActivityNotification
      operationId: chats_sendActivityNotification
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  $ref: '#/components/schemas/microsoft.graph.teamworkActivityTopic'
                activityType:
                  type: string
                  nullable: true
                chainId:
                  type: integer
                  format: int64
                  nullable: true
                previewText:
                  $ref: '#/components/schemas/microsoft.graph.itemBody'
                templateParameters:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.keyValuePair'
                recipient:
                  $ref: '#/components/schemas/microsoft.graph.teamworkNotificationRecipient'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/chats/{chat-id}/tabs':
    get:
      tags:
        - chats.teamsTab
      summary: Get tabs from chats
      operationId: chats_ListTabs
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - configuration
                - configuration desc
                - displayName
                - displayName desc
                - messageId
                - messageId desc
                - sortOrderIndex
                - sortOrderIndex desc
                - teamsAppId
                - teamsAppId desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configuration
                - displayName
                - messageId
                - sortOrderIndex
                - teamsAppId
                - webUrl
                - teamsApp
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of teamsTab
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.teamsTab'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.teamsTab
      summary: Create new navigation property to tabs for chats
      operationId: chats_CreateTabs
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsTab'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsTab'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/tabs/{teamsTab-id}':
    get:
      tags:
        - chats.teamsTab
      summary: Get tabs from chats
      operationId: chats_GetTabs
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsTab-id
          in: path
          description: 'key: id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configuration
                - displayName
                - messageId
                - sortOrderIndex
                - teamsAppId
                - webUrl
                - teamsApp
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - teamsApp
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsTab'
          links:
            teamsApp:
              operationId: chats.Tabs.GetTeamsApp
              parameters:
                chat-id: $request.path.chat-id
                teamsTab-id: $request.path.teamsTab-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.teamsTab
      summary: Update the navigation property tabs in chats
      operationId: chats_UpdateTabs
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsTab-id
          in: path
          description: 'key: id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.teamsTab'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.teamsTab
      summary: Delete navigation property tabs for chats
      operationId: chats_DeleteTabs
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsTab-id
          in: path
          description: 'key: id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/tabs/{teamsTab-id}/teamsApp':
    get:
      tags:
        - chats.teamsTab
      summary: Get teamsApp from chats
      operationId: chats.tabs_GetTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsTab-id
          in: path
          description: 'key: id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - distributionMethod
                - externalId
                - appDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.teamsApp'
          links:
            appDefinitions:
              operationId: chats.tabs.TeamsApp.ListAppDefinitions
              parameters:
                chat-id: $request.path.chat-id
                teamsTab-id: $request.path.teamsTab-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/tabs/{teamsTab-id}/teamsApp/$ref':
    get:
      tags:
        - chats.teamsTab
      summary: Get ref of teamsApp from chats
      operationId: chats.tabs_GetRefTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsTab-id
          in: path
          description: 'key: id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            appDefinitions:
              operationId: chats.tabs.TeamsApp.ListAppDefinitions
              parameters:
                chat-id: $request.path.chat-id
                teamsTab-id: $request.path.teamsTab-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - chats.teamsTab
      summary: Update the ref of navigation property teamsApp in chats
      operationId: chats.tabs_SetRefTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsTab-id
          in: path
          description: 'key: id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.teamsTab
      summary: Delete ref of navigation property teamsApp for chats
      operationId: chats.tabs_DeleteRefTeamsApp
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: teamsTab-id
          in: path
          description: 'key: id of teamsTab'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: teamsTab
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /chats/microsoft.graph.allMessages():
    get:
      tags:
        - chats.Functions
      summary: Invoke function allMessages
      operationId: chats_allMessages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /chats/microsoft.graph.getAllMessages():
    get:
      tags:
        - chats.Functions
      summary: Invoke function getAllMessages
      operationId: chats_getAllMessages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/groups/{group-id}/team':
    get:
      tags:
        - groups.team
      summary: Get team from groups
      operationId: groups_GetTeam
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - classification
                - createdDateTime
                - description
                - discoverySettings
                - displayName
                - funSettings
                - guestSettings
                - internalId
                - isArchived
                - isMembershipLimitedToOwners
                - memberSettings
                - messagingSettings
                - specialization
                - visibility
                - webUrl
                - schedule
                - channels
                - group
                - installedApps
                - members
                - operations
                - owners
                - photo
                - primaryChannel
                - template
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - schedule
                - channels
                - group
                - installedApps
                - members
                - operations
                - owners
                - photo
                - primaryChannel
                - template
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.team'
          links:
            schedule:
              operationId: groups.Team.GetSchedule
              parameters:
                group-id: $request.path.group-id
            channels:
              operationId: groups.Team.ListChannels
              parameters:
                group-id: $request.path.group-id
            group:
              operationId: groups.Team.GetGroup
              parameters:
                group-id: $request.path.group-id
            installedApps:
              operationId: groups.Team.ListInstalledApps
              parameters:
                group-id: $request.path.group-id
            members:
              operationId: groups.Team.ListMembers
              parameters:
                group-id: $request.path.group-id
            operations:
              operationId: groups.Team.ListOperations
              parameters:
                group-id: $request.path.group-id
            owners:
              operationId: groups.Team.ListOwners
              parameters:
                group-id: $request.path.group-id
            photo:
              operationId: groups.Team.GetPhoto
              parameters:
                group-id: $request.path.group-id
            primaryChannel:
              operationId: groups.Team.GetPrimaryChannel
              parameters:
                group-id: $request.path.group-id
            template:
              operationId: groups.Team.GetTemplate
              parameters:
                group-id: $request.path.group-id
        default:
[...]
