openapi: 3.0.1
info:
  title: Users.Calendar
  version: v1.0-Beta
servers:
  - url: https://graph.microsoft.com/Beta/
    description: Core
paths:
  '/users/{user-id}/calendar':
    get:
      tags:
        - users.calendar
      summary: Get calendar from users
      operationId: users_GetCalendar
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - color
                - hexColor
                - isDefaultCalendar
                - changeKey
                - canShare
                - canViewPrivateItems
                - isShared
                - isSharedWithMe
                - canEdit
                - owner
                - allowedOnlineMeetingProviders
                - defaultOnlineMeetingProvider
                - isTallyingResponses
                - isRemovable
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendarPermissions
                - events
                - calendarView
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property calendar in users
      operationId: users_UpdateCalendar
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendar'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarPermissions':
    get:
      tags:
        - users.calendar
      summary: Get calendarPermissions from users
      operationId: users.calendar_ListCalendarPermissions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - emailAddress
                - emailAddress desc
                - isRemovable
                - isRemovable desc
                - isInsideOrganization
                - isInsideOrganization desc
                - role
                - role desc
                - allowedRoles
                - allowedRoles desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - emailAddress
                - isRemovable
                - isInsideOrganization
                - role
                - allowedRoles
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of calendarPermission
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to calendarPermissions for users
      operationId: users.calendar_CreateCalendarPermissions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarPermissions/{calendarPermission-id}':
    get:
      tags:
        - users.calendar
      summary: Get calendarPermissions from users
      operationId: users.calendar_GetCalendarPermissions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarPermission-id
          in: path
          description: 'key: calendarPermission-id of calendarPermission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - emailAddress
                - isRemovable
                - isInsideOrganization
                - role
                - allowedRoles
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property calendarPermissions in users
      operationId: users.calendar_UpdateCalendarPermissions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarPermission-id
          in: path
          description: 'key: calendarPermission-id of calendarPermission'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView':
    get:
      tags:
        - users.calendar
      summary: Get calendarView from users
      operationId: users.calendar_ListCalendarView
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - responseStatus
                - responseStatus desc
                - uid
                - uid desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - isReminderOn
                - isReminderOn desc
                - hasAttachments
                - hasAttachments desc
                - subject
                - subject desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - importance
                - importance desc
                - sensitivity
                - sensitivity desc
                - start
                - start desc
                - originalStart
                - originalStart desc
                - end
                - end desc
                - location
                - location desc
                - locations
                - locations desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isOrganizer
                - isOrganizer desc
                - recurrence
                - recurrence desc
                - responseRequested
                - responseRequested desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - type
                - type desc
                - attendees
                - attendees desc
                - organizer
                - organizer desc
                - webLink
                - webLink desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeeting
                - onlineMeeting desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to calendarView for users
      operationId: users.calendar_CreateCalendarView
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}':
    get:
      tags:
        - users.calendar
      summary: Get calendarView from users
      operationId: users.calendar_GetCalendarView
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property calendarView in users
      operationId: users.calendar_UpdateCalendarView
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/attachments':
    get:
      tags:
        - users.calendar
      summary: Get attachments from users
      operationId: users.calendar.calendarView_ListAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - contentType
                - contentType desc
                - size
                - size desc
                - isInline
                - isInline desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of attachment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to attachments for users
      operationId: users.calendar.calendarView_CreateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/attachments/{attachment-id}':
    get:
      tags:
        - users.calendar
      summary: Get attachments from users
      operationId: users.calendar.calendarView_GetAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: 'key: attachment-id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property attachments in users
      operationId: users.calendar.calendarView_UpdateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: 'key: attachment-id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/calendar':
    get:
      tags:
        - users.calendar
      summary: Get calendar from users
      operationId: users.calendar.calendarView_GetCalendar
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - color
                - hexColor
                - isDefaultCalendar
                - changeKey
                - canShare
                - canViewPrivateItems
                - isShared
                - isSharedWithMe
                - canEdit
                - owner
                - allowedOnlineMeetingProviders
                - defaultOnlineMeetingProvider
                - isTallyingResponses
                - isRemovable
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendarPermissions
                - events
                - calendarView
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property calendar in users
      operationId: users.calendar.calendarView_UpdateCalendar
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendar'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/extensions':
    get:
      tags:
        - users.calendar
      summary: Get extensions from users
      operationId: users.calendar.calendarView_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to extensions for users
      operationId: users.calendar.calendarView_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/extensions/{extension-id}':
    get:
      tags:
        - users.calendar
      summary: Get extensions from users
      operationId: users.calendar.calendarView_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property extensions in users
      operationId: users.calendar.calendarView_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/instances':
    get:
      tags:
        - users.calendar
      summary: Get instances from users
      operationId: users.calendar.calendarView_ListInstances
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - responseStatus
                - responseStatus desc
                - uid
                - uid desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - isReminderOn
                - isReminderOn desc
                - hasAttachments
                - hasAttachments desc
                - subject
                - subject desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - importance
                - importance desc
                - sensitivity
                - sensitivity desc
                - start
                - start desc
                - originalStart
                - originalStart desc
                - end
                - end desc
                - location
                - location desc
                - locations
                - locations desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isOrganizer
                - isOrganizer desc
                - recurrence
                - recurrence desc
                - responseRequested
                - responseRequested desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - type
                - type desc
                - attendees
                - attendees desc
                - organizer
                - organizer desc
                - webLink
                - webLink desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeeting
                - onlineMeeting desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to instances for users
      operationId: users.calendar.calendarView_CreateInstances
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/{event-id1}':
    get:
      tags:
        - users.calendar
      summary: Get instances from users
      operationId: users.calendar.calendarView_GetInstances
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property instances in users
      operationId: users.calendar.calendarView_UpdateInstances
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.calendar
      summary: Get multiValueExtendedProperties from users
      operationId: users.calendar.calendarView_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.calendar.calendarView_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.calendar
      summary: Get multiValueExtendedProperties from users
      operationId: users.calendar.calendarView_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.calendar.calendarView_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.calendar
      summary: Get singleValueExtendedProperties from users
      operationId: users.calendar.calendarView_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.calendar.calendarView_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/calendarView/{event-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.calendar
      summary: Get singleValueExtendedProperties from users
      operationId: users.calendar.calendarView_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.calendar.calendarView_UpdateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events':
    get:
      tags:
        - users.calendar
      summary: Get events from users
      operationId: users.calendar_ListEvents
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - responseStatus
                - responseStatus desc
                - uid
                - uid desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - isReminderOn
                - isReminderOn desc
                - hasAttachments
                - hasAttachments desc
                - subject
                - subject desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - importance
                - importance desc
                - sensitivity
                - sensitivity desc
                - start
                - start desc
                - originalStart
                - originalStart desc
                - end
                - end desc
                - location
                - location desc
                - locations
                - locations desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isOrganizer
                - isOrganizer desc
                - recurrence
                - recurrence desc
                - responseRequested
                - responseRequested desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - type
                - type desc
                - attendees
                - attendees desc
                - organizer
                - organizer desc
                - webLink
                - webLink desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeeting
                - onlineMeeting desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to events for users
      operationId: users.calendar_CreateEvents
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events/{event-id}':
    get:
      tags:
        - users.calendar
      summary: Get events from users
      operationId: users.calendar_GetEvents
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property events in users
      operationId: users.calendar_UpdateEvents
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events/{event-id}/attachments':
    get:
      tags:
        - users.calendar
      summary: Get attachments from users
      operationId: users.calendar.events_ListAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - contentType
                - contentType desc
                - size
                - size desc
                - isInline
                - isInline desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of attachment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to attachments for users
      operationId: users.calendar.events_CreateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events/{event-id}/attachments/{attachment-id}':
    get:
      tags:
        - users.calendar
      summary: Get attachments from users
      operationId: users.calendar.events_GetAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: 'key: attachment-id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property attachments in users
      operationId: users.calendar.events_UpdateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: 'key: attachment-id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events/{event-id}/calendar':
    get:
      tags:
        - users.calendar
      summary: Get calendar from users
      operationId: users.calendar.events_GetCalendar
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - color
                - hexColor
                - isDefaultCalendar
                - changeKey
                - canShare
                - canViewPrivateItems
                - isShared
                - isSharedWithMe
                - canEdit
                - owner
                - allowedOnlineMeetingProviders
                - defaultOnlineMeetingProvider
                - isTallyingResponses
                - isRemovable
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendarPermissions
                - events
                - calendarView
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property calendar in users
      operationId: users.calendar.events_UpdateCalendar
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendar'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events/{event-id}/extensions':
    get:
      tags:
        - users.calendar
      summary: Get extensions from users
      operationId: users.calendar.events_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to extensions for users
      operationId: users.calendar.events_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events/{event-id}/extensions/{extension-id}':
    get:
      tags:
        - users.calendar
      summary: Get extensions from users
      operationId: users.calendar.events_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property extensions in users
      operationId: users.calendar.events_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: 'key: extension-id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events/{event-id}/instances':
    get:
      tags:
        - users.calendar
      summary: Get instances from users
      operationId: users.calendar.events_ListInstances
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - responseStatus
                - responseStatus desc
                - uid
                - uid desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - isReminderOn
                - isReminderOn desc
                - hasAttachments
                - hasAttachments desc
                - subject
                - subject desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - importance
                - importance desc
                - sensitivity
                - sensitivity desc
                - start
                - start desc
                - originalStart
                - originalStart desc
                - end
                - end desc
                - location
                - location desc
                - locations
                - locations desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isOrganizer
                - isOrganizer desc
                - recurrence
                - recurrence desc
                - responseRequested
                - responseRequested desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - type
                - type desc
                - attendees
                - attendees desc
                - organizer
                - organizer desc
                - webLink
                - webLink desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeeting
                - onlineMeeting desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to instances for users
      operationId: users.calendar.events_CreateInstances
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events/{event-id}/instances/{event-id1}':
    get:
      tags:
        - users.calendar
      summary: Get instances from users
      operationId: users.calendar.events_GetInstances
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - originalStartTimeZone
                - originalEndTimeZone
                - responseStatus
                - uid
                - reminderMinutesBeforeStart
                - isReminderOn
                - hasAttachments
                - subject
                - body
                - bodyPreview
                - importance
                - sensitivity
                - start
                - originalStart
                - end
                - location
                - locations
                - isAllDay
                - isCancelled
                - isOrganizer
                - recurrence
                - responseRequested
                - seriesMasterId
                - showAs
                - type
                - attendees
                - organizer
                - webLink
                - onlineMeetingUrl
                - isOnlineMeeting
                - onlineMeetingProvider
                - onlineMeeting
                - allowNewTimeProposals
                - attachments
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - calendar
                - instances
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.calendar
      summary: Update the navigation property instances in users
      operationId: users.calendar.events_UpdateInstances
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events/{event-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.calendar
      summary: Get multiValueExtendedProperties from users
      operationId: users.calendar.events_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.calendar
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.calendar.events_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/calendar/events/{event-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.calendar
      summary: Get multiValueExtendedProperties from users
      operationId: users.calendar.events_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: event-id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
[...]
