openapi: 3.0.1
info:
  title: Users
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /users:
    get:
      tags:
        - users.user
      summary: List users
      description: 'Retrieve a list of user objects. This operation returns by default only a subset of the more commonly used properties for each user. These _default_ properties are noted in the Properties section. To get properties that are _not_ returned by default, do a GET operation for the user and specify the properties in a `$select` OData query option.'
      operationId: users.user_ListUser
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/search'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - signInActivity
                - signInActivity desc
                - accountEnabled
                - accountEnabled desc
                - ageGroup
                - ageGroup desc
                - assignedLicenses
                - assignedLicenses desc
                - assignedPlans
                - assignedPlans desc
                - authorizationInfo
                - authorizationInfo desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - companyName
                - companyName desc
                - consentProvidedForMinor
                - consentProvidedForMinor desc
                - country
                - country desc
                - createdDateTime
                - createdDateTime desc
                - creationType
                - creationType desc
                - customSecurityAttributes
                - customSecurityAttributes desc
                - department
                - department desc
                - deviceKeys
                - deviceKeys desc
                - displayName
                - displayName desc
                - employeeHireDate
                - employeeHireDate desc
                - employeeId
                - employeeId desc
                - employeeLeaveDateTime
                - employeeLeaveDateTime desc
                - employeeOrgData
                - employeeOrgData desc
                - employeeType
                - employeeType desc
                - externalUserState
                - externalUserState desc
                - externalUserStateChangeDateTime
                - externalUserStateChangeDateTime desc
                - faxNumber
                - faxNumber desc
                - givenName
                - givenName desc
                - identities
                - identities desc
                - imAddresses
                - imAddresses desc
                - infoCatalogs
                - infoCatalogs desc
                - isManagementRestricted
                - isManagementRestricted desc
                - isResourceAccount
                - isResourceAccount desc
                - jobTitle
                - jobTitle desc
                - lastPasswordChangeDateTime
                - lastPasswordChangeDateTime desc
                - legalAgeGroupClassification
                - legalAgeGroupClassification desc
                - licenseAssignmentStates
                - licenseAssignmentStates desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - mobilePhone
                - mobilePhone desc
                - officeLocation
                - officeLocation desc
                - onPremisesDistinguishedName
                - onPremisesDistinguishedName desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesExtensionAttributes
                - onPremisesExtensionAttributes desc
                - onPremisesImmutableId
                - onPremisesImmutableId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - onPremisesUserPrincipalName
                - onPremisesUserPrincipalName desc
                - otherMails
                - otherMails desc
                - passwordPolicies
                - passwordPolicies desc
                - passwordProfile
                - passwordProfile desc
                - postalCode
                - postalCode desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - provisionedPlans
                - provisionedPlans desc
                - proxyAddresses
                - proxyAddresses desc
                - refreshTokensValidFromDateTime
                - refreshTokensValidFromDateTime desc
                - securityIdentifier
                - securityIdentifier desc
                - showInAddressList
                - showInAddressList desc
                - signInSessionsValidFromDateTime
                - signInSessionsValidFromDateTime desc
                - state
                - state desc
                - streetAddress
                - streetAddress desc
                - surname
                - surname desc
                - usageLocation
                - usageLocation desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
                - mailboxSettings
                - mailboxSettings desc
                - deviceEnrollmentLimit
                - deviceEnrollmentLimit desc
                - print
                - print desc
                - aboutMe
                - aboutMe desc
                - birthday
                - birthday desc
                - hireDate
                - hireDate desc
                - interests
                - interests desc
                - mySite
                - mySite desc
                - pastProjects
                - pastProjects desc
                - preferredName
                - preferredName desc
                - responsibilities
                - responsibilities desc
                - schools
                - schools desc
                - skills
                - skills desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - signInActivity
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - authorizationInfo
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - customSecurityAttributes
                - department
                - deviceKeys
                - displayName
                - employeeHireDate
                - employeeId
                - employeeLeaveDateTime
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - infoCatalogs
                - isManagementRestricted
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - postalCode
                - preferredDataLocation
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - refreshTokensValidFromDateTime
                - securityIdentifier
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - print
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - analytics
                - cloudPCs
                - usageRights
                - informationProtection
                - appRoleAssignedResources
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - transitiveReports
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - joinedGroups
                - mailFolders
                - messages
                - outlook
                - people
                - drive
                - drives
                - followedSites
                - extensions
                - appConsentRequestsForApproval
                - approvals
                - pendingAccessReviewInstances
                - agreementAcceptances
                - security
                - deviceEnrollmentConfigurations
                - managedDevices
                - managedAppRegistrations
                - windowsInformationProtectionDeviceRegistrations
                - deviceManagementTroubleshootingEvents
                - mobileAppIntentAndStates
                - mobileAppTroubleshootingEvents
                - notifications
                - planner
                - insights
                - settings
                - onenote
                - photo
                - photos
                - profile
                - activities
                - devices
                - onlineMeetings
                - presence
                - authentication
                - tasks
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.userCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.user
      summary: Create user
      description: "Create a new user.\nThe request body contains the user to create. At a minimum, you must specify the required properties for the user. You can optionally specify any other writable properties. This operation returns by default only a subset of the properties for each user. These default properties are noted in the Properties section. To get properties that are not returned by default, do a GET operation and specify the properties in a `$select` OData query option."
      operationId: users.user_CreateUser
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.user'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}':
    get:
      tags:
        - users.user
      summary: Get a user
      description: 'Retrieve the properties and relationships of user object. This operation returns by default only a subset of the more commonly used properties for each user. These _default_ properties are noted in the Properties section. To get properties that are _not_ returned by default, do a GET operation for the user and specify the properties in a `$select` OData query option. Because the **user** resource supports extensions, you can also use the `GET` operation to get custom properties and extension data in a **user** instance.'
      operationId: users.user_GetUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - signInActivity
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - authorizationInfo
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - customSecurityAttributes
                - department
                - deviceKeys
                - displayName
                - employeeHireDate
                - employeeId
                - employeeLeaveDateTime
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - infoCatalogs
                - isManagementRestricted
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - postalCode
                - preferredDataLocation
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - refreshTokensValidFromDateTime
                - securityIdentifier
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - print
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - analytics
                - cloudPCs
                - usageRights
                - informationProtection
                - appRoleAssignedResources
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - transitiveReports
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - joinedGroups
                - mailFolders
                - messages
                - outlook
                - people
                - drive
                - drives
                - followedSites
                - extensions
                - appConsentRequestsForApproval
                - approvals
                - pendingAccessReviewInstances
                - agreementAcceptances
                - security
                - deviceEnrollmentConfigurations
                - managedDevices
                - managedAppRegistrations
                - windowsInformationProtectionDeviceRegistrations
                - deviceManagementTroubleshootingEvents
                - mobileAppIntentAndStates
                - mobileAppTroubleshootingEvents
                - notifications
                - planner
                - insights
                - settings
                - onenote
                - photo
                - photos
                - profile
                - activities
                - devices
                - onlineMeetings
                - presence
                - authentication
                - tasks
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
      responses:
        '200':
          description: Retrieved entity
          links:
            analytics:
              operationId: users.GetAnalytics
              parameters:
                user-id: $request.path.user-id
            cloudPCs:
              operationId: users.ListCloudPCs
              parameters:
                user-id: $request.path.user-id
            usageRights:
              operationId: users.ListUsageRights
              parameters:
                user-id: $request.path.user-id
            informationProtection:
              operationId: users.GetInformationProtection
              parameters:
                user-id: $request.path.user-id
            appRoleAssignedResources:
              operationId: users.ListAppRoleAssignedResources
              parameters:
                user-id: $request.path.user-id
            appRoleAssignments:
              operationId: users.ListAppRoleAssignments
              parameters:
                user-id: $request.path.user-id
            createdObjects:
              operationId: users.ListCreatedObjects
              parameters:
                user-id: $request.path.user-id
            directReports:
              operationId: users.ListDirectReports
              parameters:
                user-id: $request.path.user-id
            licenseDetails:
              operationId: users.ListLicenseDetails
              parameters:
                user-id: $request.path.user-id
            manager:
              operationId: users.GetManager
              parameters:
                user-id: $request.path.user-id
            memberOf:
              operationId: users.ListMemberGraphOPre
              parameters:
                user-id: $request.path.user-id
            oauth2PermissionGrants:
              operationId: users.ListOauth2PermissionGrants
              parameters:
                user-id: $request.path.user-id
            ownedDevices:
              operationId: users.ListOwnedDevices
              parameters:
                user-id: $request.path.user-id
            ownedObjects:
              operationId: users.ListOwnedObjects
              parameters:
                user-id: $request.path.user-id
            registeredDevices:
              operationId: users.ListRegisteredDevices
              parameters:
                user-id: $request.path.user-id
            scopedRoleMemberOf:
              operationId: users.ListScopedRoleMemberGraphOPre
              parameters:
                user-id: $request.path.user-id
            transitiveMemberOf:
              operationId: users.ListTransitiveMemberGraphOPre
              parameters:
                user-id: $request.path.user-id
            transitiveReports:
              operationId: users.ListTransitiveReports
              parameters:
                user-id: $request.path.user-id
            calendar:
              operationId: users.GetCalendar
              parameters:
                user-id: $request.path.user-id
            calendarGroups:
              operationId: users.ListCalendarGroups
              parameters:
                user-id: $request.path.user-id
            calendars:
              operationId: users.ListCalendars
              parameters:
                user-id: $request.path.user-id
            calendarView:
              operationId: users.ListCalendarView
              parameters:
                user-id: $request.path.user-id
            contactFolders:
              operationId: users.ListContactFolders
              parameters:
                user-id: $request.path.user-id
            contacts:
              operationId: users.ListContacts
              parameters:
                user-id: $request.path.user-id
            events:
              operationId: users.ListEvents
              parameters:
                user-id: $request.path.user-id
            inferenceClassification:
              operationId: users.GetInferenceClassification
              parameters:
                user-id: $request.path.user-id
            joinedGroups:
              operationId: users.ListJoinedGroups
              parameters:
                user-id: $request.path.user-id
            mailFolders:
              operationId: users.ListMailFolders
              parameters:
                user-id: $request.path.user-id
            messages:
              operationId: users.ListMessages
              parameters:
                user-id: $request.path.user-id
            outlook:
              operationId: users.GetOutlook
              parameters:
                user-id: $request.path.user-id
            people:
              operationId: users.ListPeople
              parameters:
                user-id: $request.path.user-id
            drive:
              operationId: users.GetDrive
              parameters:
                user-id: $request.path.user-id
            drives:
              operationId: users.ListDrives
              parameters:
                user-id: $request.path.user-id
            followedSites:
              operationId: users.ListFollowedSites
              parameters:
                user-id: $request.path.user-id
            extensions:
              operationId: users.ListExtensions
              parameters:
                user-id: $request.path.user-id
            appConsentRequestsForApproval:
              operationId: users.ListAppConsentRequestsGraphFPreApproval
              parameters:
                user-id: $request.path.user-id
            approvals:
              operationId: users.ListApprovals
              parameters:
                user-id: $request.path.user-id
            pendingAccessReviewInstances:
              operationId: users.ListPendingAccessReviewInstances
              parameters:
                user-id: $request.path.user-id
            agreementAcceptances:
              operationId: users.ListAgreementAcceptances
              parameters:
                user-id: $request.path.user-id
            security:
              operationId: users.GetSecurity
              parameters:
                user-id: $request.path.user-id
            deviceEnrollmentConfigurations:
              operationId: users.ListDeviceEnrollmentConfigurations
              parameters:
                user-id: $request.path.user-id
            managedDevices:
              operationId: users.ListManagedDevices
              parameters:
                user-id: $request.path.user-id
            managedAppRegistrations:
              operationId: users.ListManagedAppRegistrations
              parameters:
                user-id: $request.path.user-id
            windowsInformationProtectionDeviceRegistrations:
              operationId: users.ListWindowsInformationProtectionDeviceRegistrations
              parameters:
                user-id: $request.path.user-id
            deviceManagementTroubleshootingEvents:
              operationId: users.ListDeviceManagementTroubleshootingEvents
              parameters:
                user-id: $request.path.user-id
            mobileAppIntentAndStates:
              operationId: users.ListMobileAppIntentAndStates
              parameters:
                user-id: $request.path.user-id
            mobileAppTroubleshootingEvents:
              operationId: users.ListMobileAppTroubleshootingEvents
              parameters:
                user-id: $request.path.user-id
            notifications:
              operationId: users.ListNotifications
              parameters:
                user-id: $request.path.user-id
            planner:
              operationId: users.GetPlanner
              parameters:
                user-id: $request.path.user-id
            insights:
              operationId: users.GetInsights
              parameters:
                user-id: $request.path.user-id
            settings:
              operationId: users.GetSettings
              parameters:
                user-id: $request.path.user-id
            onenote:
              operationId: users.GetOnenote
              parameters:
                user-id: $request.path.user-id
            photo:
              operationId: users.GetPhoto
              parameters:
                user-id: $request.path.user-id
            photos:
              operationId: users.ListPhotos
              parameters:
                user-id: $request.path.user-id
            profile:
              operationId: users.GetProfile
              parameters:
                user-id: $request.path.user-id
            activities:
              operationId: users.ListActivities
              parameters:
                user-id: $request.path.user-id
            devices:
              operationId: users.ListDevices
              parameters:
                user-id: $request.path.user-id
            onlineMeetings:
              operationId: users.ListOnlineMeetings
              parameters:
                user-id: $request.path.user-id
            presence:
              operationId: users.GetPresence
              parameters:
                user-id: $request.path.user-id
            authentication:
              operationId: users.GetAuthentication
              parameters:
                user-id: $request.path.user-id
            tasks:
              operationId: users.GetTasks
              parameters:
                user-id: $request.path.user-id
            chats:
              operationId: users.ListChats
              parameters:
                user-id: $request.path.user-id
            joinedTeams:
              operationId: users.ListJoinedTeams
              parameters:
                user-id: $request.path.user-id
            teamwork:
              operationId: users.GetTeamwork
              parameters:
                user-id: $request.path.user-id
            todo:
              operationId: users.GetTodo
              parameters:
                user-id: $request.path.user-id
            activateServicePlan:
              operationId: users.user.activateServicePlan
            assignLicense:
              operationId: users.user.assignLicense
            changePassword:
              operationId: users.user.changePassword
            checkMemberGroups:
              operationId: users.user.checkMemberGroups
            checkMemberObjects:
              operationId: users.user.checkMemberObjects
            exportDeviceAndAppManagementData:
              operationId: users.user.exportDeviceAndAppManagementData
            exportPersonalData:
              operationId: users.user.exportPersonalData
            findMeetingTimes:
              operationId: users.user.findMeetingTimes
            findRoomLists:
              operationId: users.user.findRoomLists
            findRooms:
              operationId: users.user.findRooms
            getEffectiveDeviceEnrollmentConfigurations:
              operationId: users.user.getEffectiveDeviceEnrollmentConfigurations
            getLoggedOnManagedDevices:
              operationId: users.user.getLoggedOnManagedDevices
            getMailTips:
              operationId: users.user.getMailTips
            getManagedAppDiagnosticStatuses:
              operationId: users.user.getManagedAppDiagnosticStatuses
            getManagedAppPolicies:
              operationId: users.user.getManagedAppPolicies
            getManagedDevicesWithAppFailures:
              operationId: users.user.getManagedDevicesGraphWPreAppFailures
            getManagedDevicesWithFailedOrPendingApps:
              operationId: users.user.getManagedDevicesGraphWPreFailedOrPendingApps
            getMemberGroups:
              operationId: users.user.getMemberGroups
            getMemberObjects:
              operationId: users.user.getMemberObjects
            invalidateAllRefreshTokens:
              operationId: users.user.invalidateAllRefreshTokens
            isManagedAppUserBlocked:
              operationId: users.user.isManagedAppUserBlocked
            reminderView:
              operationId: users.user.reminderView
            removeAllDevicesFromManagement:
              operationId: users.user.removeAllDevicesFromManagement
            reprocessLicenseAssignment:
              operationId: users.user.reprocessLicenseAssignment
            restore:
              operationId: users.user.restore
            revokeSignInSessions:
              operationId: users.user.revokeSignInSessions
            sendMail:
              operationId: users.user.sendMail
            translateExchangeIds:
              operationId: users.user.translateExchangeIds
            unblockManagedApps:
              operationId: users.user.unblockManagedApps
            wipeAndBlockManagedApps:
              operationId: users.user.wipeAndBlockManagedApps
            wipeManagedAppRegistrationByDeviceTag:
              operationId: users.user.wipeManagedAppRegistrationGraphBPreDeviceTag
            wipeManagedAppRegistrationsByAzureAdDeviceId:
              operationId: users.user.wipeManagedAppRegistrationsGraphBPreAzureAdDeviceId
            wipeManagedAppRegistrationsByDeviceTag:
              operationId: users.user.wipeManagedAppRegistrationsGraphBPreDeviceTag
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.user
      summary: Update user
      description: Update the properties of a user object. Not all properties can be updated by Member or Guest users with their default permissions without Administrator roles. Compare member and guest default permissions to see properties they can manage.
      operationId: users.user_UpdateUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New property values
        content: { }
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.user
      summary: Delete a user
      description: 'Delete user.   When deleted, user resources are moved to a temporary container and can be restored within 30 days.  After that time, they are permanently deleted.  To learn more, see deletedItems.'
      operationId: users.user_DeleteUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/createdObjects':
    get:
      tags:
        - users.directoryObject
      summary: Get createdObjects from users
      description: Directory objects that were created by the user. Read-only. Nullable.
      operationId: users_ListCreatedObjects
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/createdObjects/{directoryObject-id}':
    get:
      tags:
        - users.directoryObject
      summary: Get createdObjects from users
      description: Directory objects that were created by the user. Read-only. Nullable.
      operationId: users_GetCreatedObjects
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/directReports':
    get:
      tags:
        - users.directoryObject
      summary: Get directReports from users
      description: The users and contacts that report to the user. (The users and contacts that have their manager property set to this user.) Read-only. Nullable. Supports $expand.
      operationId: users_ListDirectReports
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/directReports/{directoryObject-id}':
    get:
      tags:
        - users.directoryObject
      summary: Get directReports from users
      description: The users and contacts that report to the user. (The users and contacts that have their manager property set to this user.) Read-only. Nullable. Supports $expand.
      operationId: users_GetDirectReports
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/extensions':
    get:
      tags:
        - users.extension
      summary: Get extensions from users
      description: The collection of open extensions defined for the user. Supports $expand. Nullable.
      operationId: users_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.extension
      summary: Create new navigation property to extensions for users
      operationId: users_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/extensions/{extension-id}':
    get:
      tags:
        - users.extension
      summary: Get extensions from users
      description: The collection of open extensions defined for the user. Supports $expand. Nullable.
      operationId: users_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.extension
      summary: Update the navigation property extensions in users
      operationId: users_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.extension
      summary: Delete navigation property extensions for users
      operationId: users_DeleteExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/licenseDetails':
    get:
      tags:
        - users.licenseDetails
      summary: Get licenseDetails from users
      operationId: users_ListLicenseDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - servicePlans
                - servicePlans desc
                - skuId
                - skuId desc
                - skuPartNumber
                - skuPartNumber desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - servicePlans
                - skuId
                - skuPartNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.licenseDetailsCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.licenseDetails
      summary: Create new navigation property to licenseDetails for users
      operationId: users_CreateLicenseDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/licenseDetails/{licenseDetails-id}':
    get:
      tags:
        - users.licenseDetails
      summary: Get licenseDetails from users
      operationId: users_GetLicenseDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: licenseDetails-id
          in: path
          description: 'key: id of licenseDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: licenseDetails
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - servicePlans
                - skuId
                - skuPartNumber
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.licenseDetails
      summary: Update the navigation property licenseDetails in users
      operationId: users_UpdateLicenseDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: licenseDetails-id
          in: path
          description: 'key: id of licenseDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: licenseDetails
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.licenseDetails'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.licenseDetails
      summary: Delete navigation property licenseDetails for users
      operationId: users_DeleteLicenseDetails
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: licenseDetails-id
          in: path
          description: 'key: id of licenseDetails'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: licenseDetails
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/manager':
    get:
      tags:
        - users.directoryObject
      summary: Get manager from users
      description: 'The user or contact that is this user''s manager. Read-only. (HTTP Methods: GET, PUT, DELETE.). Supports $expand.'
      operationId: users_GetManager
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/manager/$ref':
    get:
      tags:
        - users.directoryObject
      summary: Get ref of manager from users
      description: 'The user or contact that is this user''s manager. Read-only. (HTTP Methods: GET, PUT, DELETE.). Supports $expand.'
      operationId: users_GetManagerGraphBPreRef
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.directoryObject
      summary: Update the ref of navigation property manager in users
      operationId: users_SetManagerGraphBPreRef
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        $ref: '#/components/requestBodies/refPutBody'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.directoryObject
      summary: Delete ref of navigation property manager for users
      operationId: users_DeleteManagerGraphBPreRef
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/memberOf':
    get:
      tags:
        - users.directoryObject
      summary: Get memberOf from users
      description: 'The groups, directory roles and administrative units that the user is a member of. Read-only. Nullable. Supports $expand.'
      operationId: users_ListMemberGraphOPre
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/memberOf/{directoryObject-id}':
    get:
      tags:
        - users.directoryObject
      summary: Get memberOf from users
      description: 'The groups, directory roles and administrative units that the user is a member of. Read-only. Nullable. Supports $expand.'
      operationId: users_GetMemberGraphOPre
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/notifications':
    get:
      tags:
        - users.notification
      summary: Get notifications from users
      operationId: users_ListNotifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayTimeToLive
                - displayTimeToLive desc
                - expirationDateTime
                - expirationDateTime desc
                - groupName
                - groupName desc
                - payload
                - payload desc
                - priority
                - priority desc
                - targetHostName
                - targetHostName desc
                - targetPolicy
                - targetPolicy desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayTimeToLive
                - expirationDateTime
                - groupName
                - payload
                - priority
                - targetHostName
                - targetPolicy
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.notificationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.notification
      summary: Create new navigation property to notifications for users
      operationId: users_CreateNotifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notification'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/notifications/{notification-id}':
    get:
      tags:
        - users.notification
      summary: Get notifications from users
      operationId: users_GetNotifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: notification-id
          in: path
          description: 'key: id of notification'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notification
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayTimeToLive
                - expirationDateTime
                - groupName
                - payload
                - priority
                - targetHostName
                - targetPolicy
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notification'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.notification
      summary: Update the navigation property notifications in users
      operationId: users_UpdateNotifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: notification-id
          in: path
          description: 'key: id of notification'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notification
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notification'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.notification
      summary: Delete navigation property notifications for users
      operationId: users_DeleteNotifications
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: notification-id
          in: path
          description: 'key: id of notification'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notification
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/oauth2PermissionGrants':
    get:
      tags:
        - users.oAuth2PermissionGrant
      summary: Get oauth2PermissionGrants from users
      operationId: users_ListOauth2PermissionGrants
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientId
                - clientId desc
                - consentType
                - consentType desc
                - expiryTime
                - expiryTime desc
                - principalId
                - principalId desc
                - resourceId
                - resourceId desc
                - scope
                - scope desc
                - startTime
                - startTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - expiryTime
                - principalId
                - resourceId
                - scope
                - startTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.oAuth2PermissionGrantCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/oauth2PermissionGrants/{oAuth2PermissionGrant-id}':
    get:
      tags:
        - users.oAuth2PermissionGrant
      summary: Get oauth2PermissionGrants from users
      operationId: users_GetOauth2PermissionGrants
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: oAuth2PermissionGrant-id
          in: path
          description: 'key: id of oAuth2PermissionGrant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: oAuth2PermissionGrant
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - expiryTime
                - principalId
                - resourceId
                - scope
                - startTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook':
    get:
      tags:
        - users.outlookUser
      summary: Get outlook from users
      description: Selective Outlook services available to the user. Read-only. Nullable.
      operationId: users_GetOutlook
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - masterCategories
                - taskFolders
                - taskGroups
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookUser'
          links:
            masterCategories:
              operationId: users.Outlook.ListMasterCategories
              parameters:
                user-id: $request.path.user-id
            taskFolders:
              operationId: users.Outlook.ListTaskFolders
              parameters:
                user-id: $request.path.user-id
            taskGroups:
              operationId: users.Outlook.ListTaskGroups
              parameters:
                user-id: $request.path.user-id
            tasks:
              operationId: users.Outlook.ListTasks
              parameters:
                user-id: $request.path.user-id
            supportedLanguages:
              operationId: users.user.outlook.supportedLanguages
            supportedTimeZones:
              operationId: users.user.outlook.supportedTimeZones
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property outlook in users
      operationId: users_UpdateOutlook
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookUser'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.outlookUser
      summary: Delete navigation property outlook for users
      operationId: users_DeleteOutlook
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/masterCategories':
    get:
      tags:
        - users.outlookUser
      summary: Get masterCategories from users
      description: A list of categories defined for the user.
      operationId: users.outlook_ListMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - color
                - color desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - color
                - displayName
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.outlookCategoryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to masterCategories for users
      operationId: users.outlook_CreateMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/masterCategories/{outlookCategory-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get masterCategories from users
      description: A list of categories defined for the user.
      operationId: users.outlook_GetMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookCategory-id
          in: path
          description: 'key: id of outlookCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookCategory
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - color
                - displayName
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property masterCategories in users
      operationId: users.outlook_UpdateMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookCategory-id
          in: path
          description: 'key: id of outlookCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.outlookUser
      summary: Delete navigation property masterCategories for users
      operationId: users.outlook_DeleteMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookCategory-id
          in: path
          description: 'key: id of outlookCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookCategory
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders':
    get:
      tags:
        - users.outlookUser
      summary: Get taskFolders from users
      operationId: users.outlook_ListTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - changeKey
                - changeKey desc
                - isDefaultFolder
                - isDefaultFolder desc
                - name
                - name desc
                - parentGroupKey
                - parentGroupKey desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - changeKey
                - isDefaultFolder
                - name
                - parentGroupKey
                - multiValueExtendedProperties
                - singleValueExtendedProperties
                - tasks
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.outlookTaskFolderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to taskFolders for users
      operationId: users.outlook_CreateTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get taskFolders from users
      operationId: users.outlook_GetTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - changeKey
                - isDefaultFolder
                - name
                - parentGroupKey
                - multiValueExtendedProperties
                - singleValueExtendedProperties
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
          links:
            multiValueExtendedProperties:
              operationId: users.outlook.TaskFolders.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                outlookTaskFolder-id: $request.path.outlookTaskFolder-id
            singleValueExtendedProperties:
              operationId: users.outlook.TaskFolders.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                outlookTaskFolder-id: $request.path.outlookTaskFolder-id
            tasks:
              operationId: users.outlook.TaskFolders.ListTasks
              parameters:
                user-id: $request.path.user-id
                outlookTaskFolder-id: $request.path.outlookTaskFolder-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property taskFolders in users
      operationId: users.outlook_UpdateTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.outlookUser
      summary: Delete navigation property taskFolders for users
      operationId: users.outlook_DeleteTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.outlookUser
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the task folder. Read-only. Nullable.
      operationId: users.outlook.taskFolders_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.multiValueLegacyExtendedPropertyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.outlook.taskFolders_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get multiValueExtendedProperties from users
      description: The collection of multi-value extended properties defined for the task folder. Read-only. Nullable.
      operationId: users.outlook.taskFolders_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.outlook.taskFolders_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.outlookUser
      summary: Delete navigation property multiValueExtendedProperties for users
      operationId: users.outlook.taskFolders_DeleteMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.outlookUser
      summary: Get singleValueExtendedProperties from users
[...]
