openapi: 3.0.1
info:
  title: Users.Drive
  version: v1.0-Beta
servers:
  - url: https://graph.microsoft.com/Beta/
    description: Core
paths:
  '/users/{user-id}/drive':
    get:
      tags:
        - users.drive
      summary: Get drive from users
      operationId: users_GetDrive
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - driveType
                - owner
                - quota
                - sharePointIds
                - system
                - createdByUser
                - lastModifiedByUser
                - activities
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - activities
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.drive
      summary: Update the navigation property drive in users
      operationId: users_UpdateDrive
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.drive'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/drives':
    get:
      tags:
        - users.drive
      summary: Get drives from users
      operationId: users_ListDrives
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - eTag
                - eTag desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - parentReference
                - parentReference desc
                - webUrl
                - webUrl desc
                - driveType
                - driveType desc
                - owner
                - owner desc
                - quota
                - quota desc
                - sharePointIds
                - sharePointIds desc
                - system
                - system desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - driveType
                - owner
                - quota
                - sharePointIds
                - system
                - createdByUser
                - lastModifiedByUser
                - activities
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - activities
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of drive
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.drive'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.drive
      summary: Create new navigation property to drives for users
      operationId: users_CreateDrives
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.drive'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/drives/{drive-id}':
    get:
      tags:
        - users.drive
      summary: Get drives from users
      operationId: users_GetDrives
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: drive-id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdBy
                - createdDateTime
                - description
                - eTag
                - lastModifiedBy
                - lastModifiedDateTime
                - name
                - parentReference
                - webUrl
                - driveType
                - owner
                - quota
                - sharePointIds
                - system
                - createdByUser
                - lastModifiedByUser
                - activities
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - createdByUser
                - lastModifiedByUser
                - activities
                - bundles
                - following
                - items
                - list
                - root
                - special
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.drive'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.drive
      summary: Update the navigation property drives in users
      operationId: users_UpdateDrives
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: drive-id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.drive'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.drive:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.baseItem'
        - title: drive
          type: object
          properties:
            driveType:
              type: string
              nullable: true
            owner:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            quota:
              $ref: '#/components/schemas/microsoft.graph.quota'
            sharePointIds:
              $ref: '#/components/schemas/microsoft.graph.sharepointIds'
            # system:
            #   $ref: '#/components/schemas/microsoft.graph.systemFacet'
            activities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.itemActivityOLD'
            bundles:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
            following:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
            items:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
            list:
              $ref: '#/components/schemas/microsoft.graph.list'
            root:
              $ref: '#/components/schemas/microsoft.graph.driveItem'
            special:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
      example:
        id: string (identifier)
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        createdDateTime: string (timestamp)
        description: string
        eTag: string
        lastModifiedBy:
          '@odata.type': microsoft.graph.identitySet
        lastModifiedDateTime: string (timestamp)
        name: string
        parentReference:
          '@odata.type': microsoft.graph.itemReference
        webUrl: string
        createdByUser:
          '@odata.type': microsoft.graph.user
        lastModifiedByUser:
          '@odata.type': microsoft.graph.user
        driveType: string
        owner:
          '@odata.type': microsoft.graph.identitySet
        quota:
          '@odata.type': microsoft.graph.quota
        sharePointIds:
          '@odata.type': microsoft.graph.sharepointIds
        system:
          '@odata.type': microsoft.graph.systemFacet
        activities:
          - '@odata.type': microsoft.graph.itemActivityOLD
        bundles:
          - '@odata.type': microsoft.graph.driveItem
        following:
          - '@odata.type': microsoft.graph.driveItem
        items:
          - '@odata.type': microsoft.graph.driveItem
        list:
          '@odata.type': microsoft.graph.list
        root:
          '@odata.type': microsoft.graph.driveItem
        special:
          - '@odata.type': microsoft.graph.driveItem
    microsoft.graph.baseItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: baseItem
          type: object
          properties:
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            description:
              type: string
              nullable: true
            eTag:
              type: string
              nullable: true
            lastModifiedBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            name:
              type: string
              nullable: true
            parentReference:
              $ref: '#/components/schemas/microsoft.graph.itemReference'
            webUrl:
              type: string
              nullable: true
            # createdByUser:
            #   $ref: '#/components/schemas/microsoft.graph.user'
            # lastModifiedByUser:
            #   $ref: '#/components/schemas/microsoft.graph.user'
      example:
        id: string (identifier)
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        createdDateTime: string (timestamp)
        description: string
        eTag: string
        lastModifiedBy:
          '@odata.type': microsoft.graph.identitySet
        lastModifiedDateTime: string (timestamp)
        name: string
        parentReference:
          '@odata.type': microsoft.graph.itemReference
        webUrl: string
        createdByUser:
          '@odata.type': microsoft.graph.user
        lastModifiedByUser:
          '@odata.type': microsoft.graph.user
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      example:
        application:
          '@odata.type': microsoft.graph.identity
        device:
          '@odata.type': microsoft.graph.identity
        user:
          '@odata.type': microsoft.graph.identity
    microsoft.graph.quota:
      title: quota
      type: object
      properties:
        deleted:
          type: integer
          format: int64
          nullable: true
        remaining:
          type: integer
          format: int64
          nullable: true
        state:
          type: string
          nullable: true
        total:
          type: integer
          format: int64
          nullable: true
        used:
          type: integer
          format: int64
          nullable: true
        storagePlanInformation:
          $ref: '#/components/schemas/microsoft.graph.storagePlanInformation'
      example:
        deleted: integer
        remaining: integer
        state: string
        total: integer
        used: integer
        storagePlanInformation:
          '@odata.type': microsoft.graph.storagePlanInformation
    microsoft.graph.sharepointIds:
      title: sharepointIds
      type: object
      properties:
        listId:
          type: string
          nullable: true
        listItemId:
          type: string
          nullable: true
        listItemUniqueId:
          type: string
          nullable: true
        siteId:
          type: string
          nullable: true
        siteUrl:
          type: string
          nullable: true
        tenantId:
          type: string
          nullable: true
        webId:
          type: string
          nullable: true
      example:
        listId: string
        listItemId: string
        listItemUniqueId: string
        siteId: string
        siteUrl: string
        tenantId: string
        webId: string
    microsoft.graph.systemFacet:
      title: systemFacet
      type: object
    microsoft.graph.itemActivityOLD:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: itemActivityOLD
          type: object
          properties:
            action:
              $ref: '#/components/schemas/microsoft.graph.itemActionSet'
            actor:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            times:
              $ref: '#/components/schemas/microsoft.graph.itemActivityTimeSet'
            driveItem:
              $ref: '#/components/schemas/microsoft.graph.driveItem'
            listItem:
              $ref: '#/components/schemas/microsoft.graph.listItem'
      example:
        id: string (identifier)
        action:
          '@odata.type': microsoft.graph.itemActionSet
        actor:
          '@odata.type': microsoft.graph.identitySet
        times:
          '@odata.type': microsoft.graph.itemActivityTimeSet
        driveItem:
          '@odata.type': microsoft.graph.driveItem
        listItem:
          '@odata.type': microsoft.graph.listItem
    microsoft.graph.driveItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.baseItem'
        - title: driveItem
          type: object
          properties:
            audio:
              $ref: '#/components/schemas/microsoft.graph.audio'
            bundle:
              $ref: '#/components/schemas/microsoft.graph.bundle'
            content:
              type: string
              format: base64url
              nullable: true
            cTag:
              type: string
              nullable: true
            deleted:
              $ref: '#/components/schemas/microsoft.graph.deleted'
            file:
              $ref: '#/components/schemas/microsoft.graph.file'
            fileSystemInfo:
              $ref: '#/components/schemas/microsoft.graph.fileSystemInfo'
            folder:
              $ref: '#/components/schemas/microsoft.graph.folder'
            image:
              $ref: '#/components/schemas/microsoft.graph.image'
            location:
              $ref: '#/components/schemas/microsoft.graph.geoCoordinates'
            package:
              $ref: '#/components/schemas/microsoft.graph.package'
            pendingOperations:
              $ref: '#/components/schemas/microsoft.graph.pendingOperations'
            photo:
              $ref: '#/components/schemas/microsoft.graph.photo'
            publication:
              $ref: '#/components/schemas/microsoft.graph.publicationFacet'
            remoteItem:
              $ref: '#/components/schemas/microsoft.graph.remoteItem'
            root:
              $ref: '#/components/schemas/microsoft.graph.root'
            searchResult:
              $ref: '#/components/schemas/microsoft.graph.searchResult'
            shared:
              $ref: '#/components/schemas/microsoft.graph.shared'
            sharepointIds:
              $ref: '#/components/schemas/microsoft.graph.sharepointIds'
            size:
              type: integer
              format: int64
              nullable: true
            specialFolder:
              $ref: '#/components/schemas/microsoft.graph.specialFolder'
            video:
              $ref: '#/components/schemas/microsoft.graph.video'
            webDavUrl:
              type: string
              nullable: true
            workbook:
              $ref: '#/components/schemas/microsoft.graph.workbook'
            activities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.itemActivityOLD'
            analytics:
              $ref: '#/components/schemas/microsoft.graph.itemAnalytics'
            children:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
            listItem:
              $ref: '#/components/schemas/microsoft.graph.listItem'
            permissions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.permission'
            subscriptions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.subscription'
            thumbnails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.thumbnailSet'
            versions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.driveItemVersion'
      example:
        id: string (identifier)
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        createdDateTime: string (timestamp)
        description: string
        eTag: string
        lastModifiedBy:
          '@odata.type': microsoft.graph.identitySet
        lastModifiedDateTime: string (timestamp)
        name: string
        parentReference:
          '@odata.type': microsoft.graph.itemReference
        webUrl: string
        createdByUser:
          '@odata.type': microsoft.graph.user
        lastModifiedByUser:
          '@odata.type': microsoft.graph.user
        audio:
          '@odata.type': microsoft.graph.audio
        bundle:
          '@odata.type': microsoft.graph.bundle
        content: string
        cTag: string
        deleted:
          '@odata.type': microsoft.graph.deleted
        file:
          '@odata.type': microsoft.graph.file
        fileSystemInfo:
          '@odata.type': microsoft.graph.fileSystemInfo
        folder:
          '@odata.type': microsoft.graph.folder
        image:
          '@odata.type': microsoft.graph.image
        location:
          '@odata.type': microsoft.graph.geoCoordinates
        package:
          '@odata.type': microsoft.graph.package
        pendingOperations:
          '@odata.type': microsoft.graph.pendingOperations
        photo:
          '@odata.type': microsoft.graph.photo
        publication:
          '@odata.type': microsoft.graph.publicationFacet
        remoteItem:
          '@odata.type': microsoft.graph.remoteItem
        root:
          '@odata.type': microsoft.graph.root
        searchResult:
          '@odata.type': microsoft.graph.searchResult
        shared:
          '@odata.type': microsoft.graph.shared
        sharepointIds:
          '@odata.type': microsoft.graph.sharepointIds
        size: integer
        specialFolder:
          '@odata.type': microsoft.graph.specialFolder
        video:
          '@odata.type': microsoft.graph.video
        webDavUrl: string
        workbook:
          '@odata.type': microsoft.graph.workbook
        activities:
          - '@odata.type': microsoft.graph.itemActivityOLD
        analytics:
          '@odata.type': microsoft.graph.itemAnalytics
        children:
          - '@odata.type': microsoft.graph.driveItem
        listItem:
          '@odata.type': microsoft.graph.listItem
        permissions:
          - '@odata.type': microsoft.graph.permission
        subscriptions:
          - '@odata.type': microsoft.graph.subscription
        thumbnails:
          - '@odata.type': microsoft.graph.thumbnailSet
        versions:
          - '@odata.type': microsoft.graph.driveItemVersion
    microsoft.graph.list:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.baseItem'
        - title: list
          type: object
          properties:
            displayName:
              type: string
              nullable: true
            list:
              $ref: '#/components/schemas/microsoft.graph.listInfo'
            sharepointIds:
              $ref: '#/components/schemas/microsoft.graph.sharepointIds'
            # system:
            #   $ref: '#/components/schemas/microsoft.graph.systemFacet'
            activities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.itemActivityOLD'
            columns:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.columnDefinition'
            contentTypes:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.contentType'
            drive:
              $ref: '#/components/schemas/microsoft.graph.drive'
            items:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.listItem'
            subscriptions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.subscription'
      example:
        id: string (identifier)
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        createdDateTime: string (timestamp)
        description: string
        eTag: string
        lastModifiedBy:
          '@odata.type': microsoft.graph.identitySet
        lastModifiedDateTime: string (timestamp)
        name: string
        parentReference:
          '@odata.type': microsoft.graph.itemReference
        webUrl: string
        createdByUser:
          '@odata.type': microsoft.graph.user
        lastModifiedByUser:
          '@odata.type': microsoft.graph.user
        displayName: string
        list:
          '@odata.type': microsoft.graph.listInfo
        sharepointIds:
          '@odata.type': microsoft.graph.sharepointIds
        system:
          '@odata.type': microsoft.graph.systemFacet
        activities:
          - '@odata.type': microsoft.graph.itemActivityOLD
        columns:
          - '@odata.type': microsoft.graph.columnDefinition
        contentTypes:
          - '@odata.type': microsoft.graph.contentType
        drive:
          '@odata.type': microsoft.graph.drive
        items:
          - '@odata.type': microsoft.graph.listItem
        subscriptions:
          - '@odata.type': microsoft.graph.subscription
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: string (identifier)
    microsoft.graph.itemReference:
      title: itemReference
      type: object
      properties:
        driveId:
          type: string
          nullable: true
        driveType:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        path:
          type: string
          nullable: true
        shareId:
          type: string
          nullable: true
        sharepointIds:
          $ref: '#/components/schemas/microsoft.graph.sharepointIds'
        siteId:
          type: string
          nullable: true
      example:
        driveId: string
        driveType: string
        id: string
        name: string
        path: string
        shareId: string
        sharepointIds:
          '@odata.type': microsoft.graph.sharepointIds
        siteId: string
    microsoft.graph.user:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: user
          type: object
          properties:
            signInActivity:
              $ref: '#/components/schemas/microsoft.graph.signInActivity'
            accountEnabled:
              type: boolean
              nullable: true
            ageGroup:
              type: string
              nullable: true
            assignedLicenses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.assignedLicense'
            assignedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.assignedPlan'
            businessPhones:
              type: array
              items:
                type: string
            city:
              type: string
              nullable: true
            companyName:
              type: string
              nullable: true
            consentProvidedForMinor:
              type: string
              nullable: true
            country:
              type: string
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            department:
              type: string
              nullable: true
            deviceKeys:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceKey'
            displayName:
              type: string
              nullable: true
            employeeId:
              type: string
              nullable: true
            faxNumber:
              type: string
              nullable: true
            givenName:
              type: string
              nullable: true
            identities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.objectIdentity'
            imAddresses:
              type: array
              items:
                type: string
                nullable: true
            isResourceAccount:
              type: boolean
              nullable: true
            jobTitle:
              type: string
              nullable: true
            lastPasswordChangeDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            legalAgeGroupClassification:
              type: string
              nullable: true
            licenseAssignmentStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.licenseAssignmentState'
            mail:
              type: string
              nullable: true
            mailNickname:
              type: string
              nullable: true
            mobilePhone:
              type: string
              nullable: true
            onPremisesDistinguishedName:
              type: string
              nullable: true
            onPremisesExtensionAttributes:
              $ref: '#/components/schemas/microsoft.graph.onPremisesExtensionAttributes'
            onPremisesImmutableId:
              type: string
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            onPremisesProvisioningErrors:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesProvisioningError'
            onPremisesSecurityIdentifier:
              type: string
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              nullable: true
            onPremisesDomainName:
              type: string
              nullable: true
            onPremisesSamAccountName:
              type: string
              nullable: true
            onPremisesUserPrincipalName:
              type: string
              nullable: true
            otherMails:
              type: array
              items:
                type: string
            passwordPolicies:
              type: string
              nullable: true
            passwordProfile:
              $ref: '#/components/schemas/microsoft.graph.passwordProfile'
            officeLocation:
              type: string
              nullable: true
            postalCode:
              type: string
              nullable: true
            preferredDataLocation:
              type: string
              nullable: true
            preferredLanguage:
              type: string
              nullable: true
            provisionedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.provisionedPlan'
            proxyAddresses:
              type: array
              items:
                type: string
            refreshTokensValidFromDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            showInAddressList:
              type: boolean
              nullable: true
            signInSessionsValidFromDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            state:
              type: string
              nullable: true
            streetAddress:
              type: string
              nullable: true
            surname:
              type: string
              nullable: true
            usageLocation:
              type: string
              nullable: true
            userPrincipalName:
              type: string
              nullable: true
            externalUserState:
              type: string
              nullable: true
            externalUserStateChangeDateTime:
              type: string
              nullable: true
            userType:
              type: string
              nullable: true
            mailboxSettings:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
            identityUserRisk:
              $ref: '#/components/schemas/microsoft.graph.identityUserRisk'
            deviceEnrollmentLimit:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The limit on the maximum number of devices that the user is permitted to enroll. Allowed values are 5 or 1000.
              format: int32
            aboutMe:
              type: string
              nullable: true
            birthday:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            hireDate:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            interests:
              type: array
              items:
                type: string
                nullable: true
            mySite:
              type: string
              nullable: true
            pastProjects:
              type: array
              items:
                type: string
                nullable: true
            preferredName:
              type: string
              nullable: true
            responsibilities:
              type: array
              items:
                type: string
                nullable: true
            schools:
              type: array
              items:
                type: string
                nullable: true
            skills:
              type: array
              items:
                type: string
                nullable: true
            analytics:
              $ref: '#/components/schemas/microsoft.graph.userAnalytics'
            informationProtection:
              $ref: '#/components/schemas/microsoft.graph.informationProtection'
            appRoleAssignments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
            createdObjects:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            directReports:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            licenseDetails:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.licenseDetails'
            manager:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            memberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            ownedDevices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            ownedObjects:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            registeredDevices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            scopedRoleMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
            transitiveMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            outlook:
              $ref: '#/components/schemas/microsoft.graph.outlookUser'
            messages:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.message'
            joinedGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.group'
            mailFolders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mailFolder'
            calendar:
              $ref: '#/components/schemas/microsoft.graph.calendar'
            calendars:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.calendar'
            calendarGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.calendarGroup'
            calendarView:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
            events:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.event'
            people:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.person'
            contacts:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.contact'
            contactFolders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
            inferenceClassification:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassification'
            photo:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
            photos:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
            drive:
              $ref: '#/components/schemas/microsoft.graph.drive'
            drives:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.drive'
            followedSites:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.site'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
            agreementAcceptances:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.agreementAcceptance'
            deviceEnrollmentConfigurations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
            managedDevices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedDevice'
            managedAppRegistrations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.managedAppRegistration'
            windowsInformationProtectionDeviceRegistrations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.windowsInformationProtectionDeviceRegistration'
            deviceManagementTroubleshootingEvents:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementTroubleshootingEvent'
            mobileAppIntentAndStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mobileAppIntentAndState'
            mobileAppTroubleshootingEvents:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.mobileAppTroubleshootingEvent'
            notifications:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.notification'
            planner:
              $ref: '#/components/schemas/microsoft.graph.plannerUser'
            insights:
              $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
            settings:
              $ref: '#/components/schemas/microsoft.graph.userSettings'
            onenote:
              $ref: '#/components/schemas/microsoft.graph.onenote'
            activities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
            devices:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.device'
            onlineMeetings:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
            presence:
              $ref: '#/components/schemas/microsoft.graph.presence'
            joinedTeams:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.team'
            teamwork:
              $ref: '#/components/schemas/microsoft.graph.userTeamwork'
            chats:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.chat'
          description: Represents an Azure Active Directory user object.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
        signInActivity:
          '@odata.type': microsoft.graph.signInActivity
        accountEnabled: true
        ageGroup: string
        assignedLicenses:
          - '@odata.type': microsoft.graph.assignedLicense
        assignedPlans:
          - '@odata.type': microsoft.graph.assignedPlan
        businessPhones:
          - string
        city: string
        companyName: string
        consentProvidedForMinor: string
        country: string
        createdDateTime: string (timestamp)
        department: string
        deviceKeys:
          - '@odata.type': microsoft.graph.deviceKey
        displayName: string
        employeeId: string
        faxNumber: string
        givenName: string
        identities:
          - '@odata.type': microsoft.graph.objectIdentity
        imAddresses:
          - string
        isResourceAccount: true
        jobTitle: string
        lastPasswordChangeDateTime: string (timestamp)
        legalAgeGroupClassification: string
        licenseAssignmentStates:
          - '@odata.type': microsoft.graph.licenseAssignmentState
        mail: string
        mailNickname: string
        mobilePhone: string
        onPremisesDistinguishedName: string
        onPremisesExtensionAttributes:
          '@odata.type': microsoft.graph.onPremisesExtensionAttributes
        onPremisesImmutableId: string
        onPremisesLastSyncDateTime: string (timestamp)
        onPremisesProvisioningErrors:
          - '@odata.type': microsoft.graph.onPremisesProvisioningError
        onPremisesSecurityIdentifier: string
        onPremisesSyncEnabled: true
        onPremisesDomainName: string
        onPremisesSamAccountName: string
        onPremisesUserPrincipalName: string
        otherMails:
          - string
        passwordPolicies: string
        passwordProfile:
          '@odata.type': microsoft.graph.passwordProfile
        officeLocation: string
        postalCode: string
        preferredDataLocation: string
        preferredLanguage: string
        provisionedPlans:
          - '@odata.type': microsoft.graph.provisionedPlan
        proxyAddresses:
          - string
        refreshTokensValidFromDateTime: string (timestamp)
        showInAddressList: true
        signInSessionsValidFromDateTime: string (timestamp)
        state: string
        streetAddress: string
        surname: string
        usageLocation: string
        userPrincipalName: string
        externalUserState: string
        externalUserStateChangeDateTime: string
        userType: string
        mailboxSettings:
          '@odata.type': microsoft.graph.mailboxSettings
        identityUserRisk:
          '@odata.type': microsoft.graph.identityUserRisk
        deviceEnrollmentLimit: integer
        aboutMe: string
        birthday: string (timestamp)
        hireDate: string (timestamp)
        interests:
          - string
        mySite: string
        pastProjects:
          - string
        preferredName: string
        responsibilities:
          - string
        schools:
          - string
        skills:
          - string
        analytics:
          '@odata.type': microsoft.graph.userAnalytics
        informationProtection:
          '@odata.type': microsoft.graph.informationProtection
        appRoleAssignments:
          - '@odata.type': microsoft.graph.appRoleAssignment
        createdObjects:
          - '@odata.type': microsoft.graph.directoryObject
        directReports:
          - '@odata.type': microsoft.graph.directoryObject
        licenseDetails:
          - '@odata.type': microsoft.graph.licenseDetails
        manager:
          '@odata.type': microsoft.graph.directoryObject
        memberOf:
          - '@odata.type': microsoft.graph.directoryObject
        ownedDevices:
          - '@odata.type': microsoft.graph.directoryObject
        ownedObjects:
          - '@odata.type': microsoft.graph.directoryObject
        registeredDevices:
          - '@odata.type': microsoft.graph.directoryObject
        scopedRoleMemberOf:
          - '@odata.type': microsoft.graph.scopedRoleMembership
        transitiveMemberOf:
          - '@odata.type': microsoft.graph.directoryObject
        outlook:
          '@odata.type': microsoft.graph.outlookUser
        messages:
          - '@odata.type': microsoft.graph.message
        joinedGroups:
          - '@odata.type': microsoft.graph.group
        mailFolders:
          - '@odata.type': microsoft.graph.mailFolder
        calendar:
          '@odata.type': microsoft.graph.calendar
        calendars:
          - '@odata.type': microsoft.graph.calendar
        calendarGroups:
          - '@odata.type': microsoft.graph.calendarGroup
        calendarView:
          - '@odata.type': microsoft.graph.event
        events:
          - '@odata.type': microsoft.graph.event
        people:
          - '@odata.type': microsoft.graph.person
        contacts:
          - '@odata.type': microsoft.graph.contact
        contactFolders:
          - '@odata.type': microsoft.graph.contactFolder
        inferenceClassification:
          '@odata.type': microsoft.graph.inferenceClassification
        photo:
          '@odata.type': microsoft.graph.profilePhoto
        photos:
          - '@odata.type': microsoft.graph.profilePhoto
        drive:
          '@odata.type': microsoft.graph.drive
        drives:
          - '@odata.type': microsoft.graph.drive
        followedSites:
          - '@odata.type': microsoft.graph.site
        extensions:
          - '@odata.type': microsoft.graph.extension
        agreementAcceptances:
          - '@odata.type': microsoft.graph.agreementAcceptance
        deviceEnrollmentConfigurations:
          - '@odata.type': microsoft.graph.deviceEnrollmentConfiguration
        managedDevices:
          - '@odata.type': microsoft.graph.managedDevice
        managedAppRegistrations:
          - '@odata.type': microsoft.graph.managedAppRegistration
        windowsInformationProtectionDeviceRegistrations:
          - '@odata.type': microsoft.graph.windowsInformationProtectionDeviceRegistration
        deviceManagementTroubleshootingEvents:
          - '@odata.type': microsoft.graph.deviceManagementTroubleshootingEvent
        mobileAppIntentAndStates:
          - '@odata.type': microsoft.graph.mobileAppIntentAndState
        mobileAppTroubleshootingEvents:
          - '@odata.type': microsoft.graph.mobileAppTroubleshootingEvent
        notifications:
          - '@odata.type': microsoft.graph.notification
        planner:
          '@odata.type': microsoft.graph.plannerUser
        insights:
          '@odata.type': microsoft.graph.officeGraphInsights
        settings:
          '@odata.type': microsoft.graph.userSettings
        onenote:
          '@odata.type': microsoft.graph.onenote
        activities:
          - '@odata.type': microsoft.graph.userActivity
        devices:
          - '@odata.type': microsoft.graph.device
        onlineMeetings:
          - '@odata.type': microsoft.graph.onlineMeeting
        presence:
          '@odata.type': microsoft.graph.presence
        joinedTeams:
          - '@odata.type': microsoft.graph.team
        teamwork:
          '@odata.type': microsoft.graph.userTeamwork
        chats:
          - '@odata.type': microsoft.graph.chat
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        id:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
      example:
        id: string
        displayName: string
    microsoft.graph.storagePlanInformation:
      title: storagePlanInformation
      type: object
      properties:
        upgradeAvailable:
          type: boolean
          nullable: true
      example:
        upgradeAvailable: true
    microsoft.graph.itemActionSet:
      title: itemActionSet
      type: object
      properties:
        comment:
          $ref: '#/components/schemas/microsoft.graph.commentAction'
        create:
          $ref: '#/components/schemas/microsoft.graph.createAction'
        delete:
          $ref: '#/components/schemas/microsoft.graph.deleteAction'
        edit:
          $ref: '#/components/schemas/microsoft.graph.editAction'
        mention:
          $ref: '#/components/schemas/microsoft.graph.mentionAction'
        move:
          $ref: '#/components/schemas/microsoft.graph.moveAction'
        rename:
          $ref: '#/components/schemas/microsoft.graph.renameAction'
        restore:
          $ref: '#/components/schemas/microsoft.graph.restoreAction'
        share:
          $ref: '#/components/schemas/microsoft.graph.shareAction'
        version:
          $ref: '#/components/schemas/microsoft.graph.versionAction'
      example:
        comment:
          '@odata.type': microsoft.graph.commentAction
        create:
          '@odata.type': microsoft.graph.createAction
        delete:
          '@odata.type': microsoft.graph.deleteAction
        edit:
          '@odata.type': microsoft.graph.editAction
        mention:
          '@odata.type': microsoft.graph.mentionAction
        move:
          '@odata.type': microsoft.graph.moveAction
        rename:
          '@odata.type': microsoft.graph.renameAction
        restore:
          '@odata.type': microsoft.graph.restoreAction
        share:
          '@odata.type': microsoft.graph.shareAction
        version:
          '@odata.type': microsoft.graph.versionAction
    microsoft.graph.itemActivityTimeSet:
      title: itemActivityTimeSet
      type: object
      properties:
        lastRecordedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        observedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        recordedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
      example:
        lastRecordedDateTime: string (timestamp)
        observedDateTime: string (timestamp)
        recordedDateTime: string (timestamp)
    microsoft.graph.listItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.baseItem'
        - title: listItem
          type: object
          properties:
            contentType:
              $ref: '#/components/schemas/microsoft.graph.contentTypeInfo'
            sharepointIds:
              $ref: '#/components/schemas/microsoft.graph.sharepointIds'
            activities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.itemActivityOLD'
            analytics:
              $ref: '#/components/schemas/microsoft.graph.itemAnalytics'
            driveItem:
              $ref: '#/components/schemas/microsoft.graph.driveItem'
            fields:
              $ref: '#/components/schemas/microsoft.graph.fieldValueSet'
            versions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.listItemVersion'
      example:
        id: string (identifier)
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        createdDateTime: string (timestamp)
        description: string
        eTag: string
        lastModifiedBy:
          '@odata.type': microsoft.graph.identitySet
        lastModifiedDateTime: string (timestamp)
        name: string
        parentReference:
          '@odata.type': microsoft.graph.itemReference
        webUrl: string
        createdByUser:
          '@odata.type': microsoft.graph.user
        lastModifiedByUser:
          '@odata.type': microsoft.graph.user
        contentType:
          '@odata.type': microsoft.graph.contentTypeInfo
        sharepointIds:
          '@odata.type': microsoft.graph.sharepointIds
        activities:
          - '@odata.type': microsoft.graph.itemActivityOLD
        analytics:
          '@odata.type': microsoft.graph.itemAnalytics
        driveItem:
          '@odata.type': microsoft.graph.driveItem
        fields:
          '@odata.type': microsoft.graph.fieldValueSet
        versions:
          - '@odata.type': microsoft.graph.listItemVersion
    microsoft.graph.audio:
      title: audio
      type: object
      properties:
        album:
          type: string
          nullable: true
        albumArtist:
          type: string
          nullable: true
        artist:
          type: string
          nullable: true
        bitrate:
          type: integer
          format: int64
          nullable: true
        composers:
          type: string
          nullable: true
        copyright:
          type: string
          nullable: true
        disc:
          maximum: 32767
          minimum: -32768
          type: integer
          format: int16
          nullable: true
        discCount:
          maximum: 32767
          minimum: -32768
          type: integer
          format: int16
          nullable: true
        duration:
          type: integer
          format: int64
          nullable: true
        genre:
          type: string
          nullable: true
        hasDrm:
          type: boolean
          nullable: true
        isVariableBitrate:
          type: boolean
          nullable: true
        title:
          type: string
          nullable: true
        track:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        trackCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        year:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
      example:
        album: string
        albumArtist: string
        artist: string
        bitrate: integer
        composers: string
        copyright: string
        disc: integer
        discCount: integer
        duration: integer
        genre: string
        hasDrm: true
        isVariableBitrate: true
        title: string
        track: integer
        trackCount: integer
        year: integer
    microsoft.graph.bundle:
      title: bundle
      type: object
      properties:
        childCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        album:
          $ref: '#/components/schemas/microsoft.graph.album'
      example:
        childCount: integer
        album:
          '@odata.type': microsoft.graph.album
    microsoft.graph.deleted:
      title: deleted
      type: object
      properties:
        state:
          type: string
          nullable: true
      example:
        state: string
    microsoft.graph.file:
      title: file
      type: object
      properties:
        hashes:
          $ref: '#/components/schemas/microsoft.graph.hashes'
        mimeType:
          type: string
          nullable: true
        processingMetadata:
          type: boolean
          nullable: true
      example:
        hashes:
          '@odata.type': microsoft.graph.hashes
        mimeType: string
        processingMetadata: true
    microsoft.graph.fileSystemInfo:
      title: fileSystemInfo
      type: object
      properties:
        createdDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        lastAccessedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        lastModifiedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
      example:
        createdDateTime: string (timestamp)
        lastAccessedDateTime: string (timestamp)
        lastModifiedDateTime: string (timestamp)
    microsoft.graph.folder:
      title: folder
      type: object
      properties:
        childCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        view:
          $ref: '#/components/schemas/microsoft.graph.folderView'
      example:
        childCount: integer
        view:
          '@odata.type': microsoft.graph.folderView
    microsoft.graph.image:
      title: image
      type: object
      properties:
        height:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        width:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
      example:
        height: integer
        width: integer
    microsoft.graph.geoCoordinates:
      title: geoCoordinates
      type: object
      properties:
        altitude:
          type: number
          format: double
          nullable: true
        latitude:
          type: number
          format: double
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
      example:
        altitude: double
        latitude: double
        longitude: double
    microsoft.graph.package:
      title: package
      type: object
      properties:
        type:
          type: string
          nullable: true
      example:
        type: string
    microsoft.graph.pendingOperations:
      title: pendingOperations
      type: object
      properties:
        pendingContentUpdate:
          $ref: '#/components/schemas/microsoft.graph.pendingContentUpdate'
      example:
        pendingContentUpdate:
          '@odata.type': microsoft.graph.pendingContentUpdate
    microsoft.graph.photo:
      title: photo
      type: object
      properties:
        cameraMake:
          type: string
          nullable: true
        cameraModel:
          type: string
          nullable: true
        exposureDenominator:
          type: number
          format: double
          nullable: true
        exposureNumerator:
          type: number
          format: double
          nullable: true
        fNumber:
          type: number
          format: double
          nullable: true
        focalLength:
          type: number
          format: double
          nullable: true
        iso:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        orientation:
          maximum: 32767
          minimum: -32768
          type: integer
          format: int16
          nullable: true
        takenDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
      example:
        cameraMake: string
        cameraModel: string
        exposureDenominator: double
        exposureNumerator: double
        fNumber: double
        focalLength: double
        iso: integer
        orientation: integer
        takenDateTime: string (timestamp)
    microsoft.graph.publicationFacet:
      title: publicationFacet
      type: object
      properties:
        level:
          type: string
          nullable: true
        versionId:
          type: string
          nullable: true
      example:
        level: string
        versionId: string
    microsoft.graph.remoteItem:
      title: remoteItem
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
        createdDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        file:
          $ref: '#/components/schemas/microsoft.graph.file'
        fileSystemInfo:
          $ref: '#/components/schemas/microsoft.graph.fileSystemInfo'
        folder:
          $ref: '#/components/schemas/microsoft.graph.folder'
        id:
          type: string
          nullable: true
        lastModifiedBy:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
        lastModifiedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        name:
          type: string
          nullable: true
        package:
          $ref: '#/components/schemas/microsoft.graph.package'
        parentReference:
          $ref: '#/components/schemas/microsoft.graph.itemReference'
        shared:
          $ref: '#/components/schemas/microsoft.graph.shared'
        sharepointIds:
          $ref: '#/components/schemas/microsoft.graph.sharepointIds'
        size:
          type: integer
          format: int64
          nullable: true
        specialFolder:
          $ref: '#/components/schemas/microsoft.graph.specialFolder'
        webDavUrl:
          type: string
          nullable: true
        webUrl:
          type: string
          nullable: true
      example:
        createdBy:
          '@odata.type': microsoft.graph.identitySet
        createdDateTime: string (timestamp)
        file:
          '@odata.type': microsoft.graph.file
        fileSystemInfo:
          '@odata.type': microsoft.graph.fileSystemInfo
        folder:
          '@odata.type': microsoft.graph.folder
        id: string
        lastModifiedBy:
          '@odata.type': microsoft.graph.identitySet
        lastModifiedDateTime: string (timestamp)
        name: string
        package:
          '@odata.type': microsoft.graph.package
        parentReference:
          '@odata.type': microsoft.graph.itemReference
        shared:
          '@odata.type': microsoft.graph.shared
        sharepointIds:
          '@odata.type': microsoft.graph.sharepointIds
        size: integer
        specialFolder:
          '@odata.type': microsoft.graph.specialFolder
        webDavUrl: string
        webUrl: string
    microsoft.graph.root:
      title: root
      type: object
    microsoft.graph.searchResult:
      title: searchResult
      type: object
      properties:
        onClickTelemetryUrl:
          type: string
          nullable: true
      example:
        onClickTelemetryUrl: string
    microsoft.graph.shared:
      title: shared
      type: object
      properties:
        owner:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
        scope:
          type: string
          nullable: true
        sharedBy:
          $ref: '#/components/schemas/microsoft.graph.identitySet'
        sharedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
      example:
        owner:
          '@odata.type': microsoft.graph.identitySet
        scope: string
        sharedBy:
          '@odata.type': microsoft.graph.identitySet
        sharedDateTime: string (timestamp)
    microsoft.graph.specialFolder:
      title: specialFolder
      type: object
      properties:
        name:
          type: string
          nullable: true
      example:
        name: string
    microsoft.graph.video:
      title: video
      type: object
      properties:
        audioBitsPerSample:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        audioChannels:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        audioFormat:
          type: string
          nullable: true
        audioSamplesPerSecond:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        bitrate:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        duration:
          type: integer
          format: int64
          nullable: true
        fourCC:
          type: string
          nullable: true
        frameRate:
          type: number
          format: double
          nullable: true
        height:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        width:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
      example:
        audioBitsPerSample: integer
        audioChannels: integer
        audioFormat: string
        audioSamplesPerSecond: integer
        bitrate: integer
        duration: integer
        fourCC: string
        frameRate: double
        height: integer
        width: integer
    microsoft.graph.workbook:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: workbook
          type: object
          properties:
            application:
              $ref: '#/components/schemas/microsoft.graph.workbookApplication'
            names:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.workbookNamedItem'
            tables:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.workbookTable'
            worksheets:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.workbookWorksheet'
            comments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.workbookComment'
            functions:
              $ref: '#/components/schemas/microsoft.graph.workbookFunctions'
      example:
        id: string (identifier)
        application:
          '@odata.type': microsoft.graph.workbookApplication
        names:
          - '@odata.type': microsoft.graph.workbookNamedItem
        tables:
          - '@odata.type': microsoft.graph.workbookTable
        worksheets:
          - '@odata.type': microsoft.graph.workbookWorksheet
        comments:
          - '@odata.type': microsoft.graph.workbookComment
        functions:
          '@odata.type': microsoft.graph.workbookFunctions
    microsoft.graph.itemAnalytics:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: itemAnalytics
          type: object
          properties:
            itemActivityStats:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
            allTime:
              $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
            lastSevenDays:
              $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
      example:
        id: string (identifier)
        itemActivityStats:
          - '@odata.type': microsoft.graph.itemActivityStat
        allTime:
          '@odata.type': microsoft.graph.itemActivityStat
        lastSevenDays:
          '@odata.type': microsoft.graph.itemActivityStat
    microsoft.graph.permission:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: permission
          type: object
          properties:
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            grantedTo:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            grantedToIdentities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.identitySet'
            hasPassword:
              type: boolean
              nullable: true
            inheritedFrom:
              $ref: '#/components/schemas/microsoft.graph.itemReference'
            invitation:
              $ref: '#/components/schemas/microsoft.graph.sharingInvitation'
            link:
              $ref: '#/components/schemas/microsoft.graph.sharingLink'
            roles:
              type: array
              items:
                type: string
                nullable: true
            shareId:
              type: string
              nullable: true
      example:
        id: string (identifier)
        expirationDateTime: string (timestamp)
        grantedTo:
          '@odata.type': microsoft.graph.identitySet
        grantedToIdentities:
          - '@odata.type': microsoft.graph.identitySet
        hasPassword: true
        inheritedFrom:
          '@odata.type': microsoft.graph.itemReference
        invitation:
          '@odata.type': microsoft.graph.sharingInvitation
        link:
          '@odata.type': microsoft.graph.sharingLink
        roles:
          - string
        shareId: string
    microsoft.graph.subscription:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: subscription
          type: object
          properties:
            resource:
              type: string
            changeType:
              type: string
            clientState:
              type: string
              nullable: true
            notificationUrl:
              type: string
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            applicationId:
              type: string
              nullable: true
            creatorId:
              type: string
              nullable: true
            includeProperties:
              type: boolean
              nullable: true
            includeResourceData:
              type: boolean
              nullable: true
            lifecycleNotificationUrl:
              type: string
              nullable: true
            encryptionCertificate:
              type: string
              nullable: true
            encryptionCertificateId:
              type: string
              nullable: true
      example:
        id: string (identifier)
        resource: string
        changeType: string
        clientState: string
        notificationUrl: string
        expirationDateTime: string (timestamp)
        applicationId: string
        creatorId: string
        includeProperties: true
        includeResourceData: true
        lifecycleNotificationUrl: string
        encryptionCertificate: string
        encryptionCertificateId: string
    microsoft.graph.thumbnailSet:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: thumbnailSet
          type: object
          properties:
            large:
              $ref: '#/components/schemas/microsoft.graph.thumbnail'
            medium:
              $ref: '#/components/schemas/microsoft.graph.thumbnail'
            small:
              $ref: '#/components/schemas/microsoft.graph.thumbnail'
            source:
              $ref: '#/components/schemas/microsoft.graph.thumbnail'
      example:
        id: string (identifier)
        large:
          '@odata.type': microsoft.graph.thumbnail
        medium:
          '@odata.type': microsoft.graph.thumbnail
        small:
          '@odata.type': microsoft.graph.thumbnail
        source:
          '@odata.type': microsoft.graph.thumbnail
    microsoft.graph.driveItemVersion:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.baseItemVersion'
        - title: driveItemVersion
          type: object
          properties:
            content:
              type: string
              format: base64url
              nullable: true
            size:
              type: integer
              format: int64
              nullable: true
      example:
        id: string (identifier)
        lastModifiedBy:
          '@odata.type': microsoft.graph.identitySet
        lastModifiedDateTime: string (timestamp)
        publication:
          '@odata.type': microsoft.graph.publicationFacet
        content: string
        size: integer
    microsoft.graph.listInfo:
      title: listInfo
      type: object
      properties:
        contentTypesEnabled:
          type: boolean
          nullable: true
        hidden:
          type: boolean
          nullable: true
        template:
          type: string
          nullable: true
      example:
        contentTypesEnabled: true
        hidden: true
        template: string
    microsoft.graph.columnDefinition:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: columnDefinition
          type: object
          properties:
            boolean:
              $ref: '#/components/schemas/microsoft.graph.booleanColumn'
            calculated:
              $ref: '#/components/schemas/microsoft.graph.calculatedColumn'
            choice:
              $ref: '#/components/schemas/microsoft.graph.choiceColumn'
            columnGroup:
              type: string
              nullable: true
            currency:
              $ref: '#/components/schemas/microsoft.graph.currencyColumn'
            dateTime:
              $ref: '#/components/schemas/microsoft.graph.dateTimeColumn'
            defaultValue:
              $ref: '#/components/schemas/microsoft.graph.defaultColumnValue'
            description:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            enforceUniqueValues:
              type: boolean
              nullable: true
            geolocation:
              $ref: '#/components/schemas/microsoft.graph.geolocationColumn'
            hidden:
              type: boolean
              nullable: true
            indexed:
              type: boolean
              nullable: true
            lookup:
              $ref: '#/components/schemas/microsoft.graph.lookupColumn'
            name:
              type: string
              nullable: true
            number:
              $ref: '#/components/schemas/microsoft.graph.numberColumn'
            personOrGroup:
              $ref: '#/components/schemas/microsoft.graph.personOrGroupColumn'
            readOnly:
              type: boolean
              nullable: true
            required:
              type: boolean
              nullable: true
            text:
              $ref: '#/components/schemas/microsoft.graph.textColumn'
      example:
        id: string (identifier)
        boolean:
          '@odata.type': microsoft.graph.booleanColumn
        calculated:
          '@odata.type': microsoft.graph.calculatedColumn
        choice:
          '@odata.type': microsoft.graph.choiceColumn
        columnGroup: string
        currency:
          '@odata.type': microsoft.graph.currencyColumn
        dateTime:
          '@odata.type': microsoft.graph.dateTimeColumn
        defaultValue:
          '@odata.type': microsoft.graph.defaultColumnValue
        description: string
        displayName: string
        enforceUniqueValues: true
        geolocation:
          '@odata.type': microsoft.graph.geolocationColumn
        hidden: true
        indexed: true
        lookup:
          '@odata.type': microsoft.graph.lookupColumn
        name: string
        number:
          '@odata.type': microsoft.graph.numberColumn
        personOrGroup:
          '@odata.type': microsoft.graph.personOrGroupColumn
        readOnly: true
        required: true
        text:
          '@odata.type': microsoft.graph.textColumn
    microsoft.graph.contentType:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: contentType
          type: object
          properties:
            description:
              type: string
              nullable: true
            group:
              type: string
              nullable: true
            hidden:
              type: boolean
              nullable: true
            inheritedFrom:
              $ref: '#/components/schemas/microsoft.graph.itemReference'
            name:
              type: string
              nullable: true
            order:
              $ref: '#/components/schemas/microsoft.graph.contentTypeOrder'
            parentId:
              type: string
              nullable: true
            readOnly:
              type: boolean
              nullable: true
            sealed:
              type: boolean
              nullable: true
            columnLinks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.columnLink'
      example:
        id: string (identifier)
        description: string
        group: string
        hidden: true
        inheritedFrom:
          '@odata.type': microsoft.graph.itemReference
        name: string
        order:
          '@odata.type': microsoft.graph.contentTypeOrder
        parentId: string
        readOnly: true
        sealed: true
        columnLinks:
          - '@odata.type': microsoft.graph.columnLink
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      example:
        id: string (identifier)
        deletedDateTime: string (timestamp)
    microsoft.graph.signInActivity:
      title: signInActivity
      type: object
      properties:
        lastSignInDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        lastSignInRequestId:
          type: string
          nullable: true
      example:
        lastSignInDateTime: string (timestamp)
        lastSignInRequestId: string
    microsoft.graph.assignedLicense:
      title: assignedLicense
      type: object
      properties:
        disabledPlans:
          type: array
          items:
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
            format: uuid
        skuId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          format: uuid
          nullable: true
      example:
        disabledPlans:
          - string
        skuId: string
    microsoft.graph.assignedPlan:
      title: assignedPlan
      type: object
      properties:
        assignedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        capabilityStatus:
          type: string
          nullable: true
        service:
          type: string
          nullable: true
        servicePlanId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          format: uuid
          nullable: true
      example:
        assignedDateTime: string (timestamp)
        capabilityStatus: string
        service: string
        servicePlanId: string
    microsoft.graph.deviceKey:
      title: deviceKey
      type: object
      properties:
        keyType:
          type: string
          nullable: true
        keyMaterial:
          type: string
          format: base64url
          nullable: true
        deviceId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          format: uuid
          nullable: true
      example:
        keyType: string
        keyMaterial: string
        deviceId: string
    microsoft.graph.objectIdentity:
      title: objectIdentity
      type: object
      properties:
        signInType:
          type: string
          nullable: true
        issuer:
          type: string
          nullable: true
        issuerAssignedId:
          type: string
          nullable: true
      example:
        signInType: string
        issuer: string
        issuerAssignedId: string
    microsoft.graph.licenseAssignmentState:
      title: licenseAssignmentState
      type: object
      properties:
        skuId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          format: uuid
          nullable: true
        disabledPlans:
          type: array
          items:
            pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
            format: uuid
            nullable: true
        assignedByGroup:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        error:
          type: string
          nullable: true
      example:
        skuId: string
        disabledPlans:
          - string
        assignedByGroup: string
        state: string
        error: string
    microsoft.graph.onPremisesExtensionAttributes:
      title: onPremisesExtensionAttributes
      type: object
      properties:
        extensionAttribute1:
          type: string
          nullable: true
        extensionAttribute2:
          type: string
          nullable: true
        extensionAttribute3:
          type: string
          nullable: true
        extensionAttribute4:
          type: string
          nullable: true
        extensionAttribute5:
          type: string
          nullable: true
        extensionAttribute6:
          type: string
          nullable: true
        extensionAttribute7:
          type: string
          nullable: true
        extensionAttribute8:
          type: string
          nullable: true
        extensionAttribute9:
          type: string
          nullable: true
        extensionAttribute10:
          type: string
          nullable: true
        extensionAttribute11:
          type: string
          nullable: true
        extensionAttribute12:
          type: string
          nullable: true
        extensionAttribute13:
          type: string
          nullable: true
        extensionAttribute14:
          type: string
          nullable: true
        extensionAttribute15:
          type: string
          nullable: true
      example:
        extensionAttribute1: string
        extensionAttribute2: string
        extensionAttribute3: string
        extensionAttribute4: string
        extensionAttribute5: string
        extensionAttribute6: string
        extensionAttribute7: string
        extensionAttribute8: string
        extensionAttribute9: string
        extensionAttribute10: string
        extensionAttribute11: string
        extensionAttribute12: string
        extensionAttribute13: string
        extensionAttribute14: string
        extensionAttribute15: string
    microsoft.graph.onPremisesProvisioningError:
      title: onPremisesProvisioningError
      type: object
      properties:
        value:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        propertyCausingError:
          type: string
          nullable: true
        occurredDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
      example:
        value: string
        category: string
        propertyCausingError: string
        occurredDateTime: string (timestamp)
    microsoft.graph.passwordProfile:
      title: passwordProfile
      type: object
      properties:
        password:
          type: string
          nullable: true
        forceChangePasswordNextSignIn:
          type: boolean
          nullable: true
        forceChangePasswordNextSignInWithMfa:
          type: boolean
          nullable: true
      example:
        password: string
        forceChangePasswordNextSignIn: true
        forceChangePasswordNextSignInWithMfa: true
    microsoft.graph.provisionedPlan:
      title: provisionedPlan
      type: object
      properties:
        capabilityStatus:
          type: string
          nullable: true
        provisioningStatus:
          type: string
          nullable: true
        service:
          type: string
          nullable: true
      example:
        capabilityStatus: string
        provisioningStatus: string
        service: string
    microsoft.graph.mailboxSettings:
      title: mailboxSettings
      type: object
      properties:
        automaticRepliesSetting:
          $ref: '#/components/schemas/microsoft.graph.automaticRepliesSetting'
        archiveFolder:
          type: string
          nullable: true
        timeZone:
          type: string
          nullable: true
        language:
          $ref: '#/components/schemas/microsoft.graph.localeInfo'
        workingHours:
          $ref: '#/components/schemas/microsoft.graph.workingHours'
        dateFormat:
          type: string
          nullable: true
        timeFormat:
          type: string
          nullable: true
      example:
        automaticRepliesSetting:
          '@odata.type': microsoft.graph.automaticRepliesSetting
        archiveFolder: string
        timeZone: string
        language:
          '@odata.type': microsoft.graph.localeInfo
        workingHours:
          '@odata.type': microsoft.graph.workingHours
        dateFormat: string
        timeFormat: string
    microsoft.graph.identityUserRisk:
      title: identityUserRisk
      type: object
      properties:
        level:
          $ref: '#/components/schemas/microsoft.graph.userRiskLevel'
        lastChangedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
      example:
        level:
          '@odata.type': microsoft.graph.userRiskLevel
        lastChangedDateTime: string (timestamp)
    microsoft.graph.userAnalytics:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userAnalytics
          type: object
          properties:
            settings:
              $ref: '#/components/schemas/microsoft.graph.settings'
            activityStatistics:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityStatistics'
      example:
        id: string (identifier)
        settings:
          '@odata.type': microsoft.graph.settings
        activityStatistics:
          - '@odata.type': microsoft.graph.activityStatistics
    microsoft.graph.informationProtection:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: informationProtection
          type: object
          properties:
            policy:
              $ref: '#/components/schemas/microsoft.graph.informationProtectionPolicy'
            sensitivityLabels:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
            sensitivityPolicySettings:
              $ref: '#/components/schemas/microsoft.graph.sensitivityPolicySettings'
      example:
        id: string (identifier)
        policy:
          '@odata.type': microsoft.graph.informationProtectionPolicy
        sensitivityLabels:
          - '@odata.type': microsoft.graph.sensitivityLabel
        sensitivityPolicySettings:
          '@odata.type': microsoft.graph.sensitivityPolicySettings
    microsoft.graph.appRoleAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: appRoleAssignment
          type: object
          properties:
            appRoleId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
            creationTimestamp:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            principalDisplayName:
              type: string
              nullable: true
            principalId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
              nullable: true
            principalType:
              type: string
              nullable: true
            resourceDisplayName:
              type: string
              nullable: true
            resourceId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
              nullable: true
      example:
        id: string (identifier)
        appRoleId: string
        creationTimestamp: string (timestamp)
        principalDisplayName: string
        principalId: string
        principalType: string
        resourceDisplayName: string
        resourceId: string
    microsoft.graph.licenseDetails:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: licenseDetails
          type: object
          properties:
            servicePlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.servicePlanInfo'
            skuId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              format: uuid
              nullable: true
            skuPartNumber:
              type: string
              nullable: true
      example:
        id: string (identifier)
        servicePlans:
          - '@odata.type': microsoft.graph.servicePlanInfo
        skuId: string
        skuPartNumber: string
    microsoft.graph.scopedRoleMembership:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: scopedRoleMembership
          type: object
          properties:
            roleId:
              type: string
            administrativeUnitId:
              type: string
            roleMemberInfo:
              $ref: '#/components/schemas/microsoft.graph.identity'
      example:
        id: string (identifier)
        roleId: string
        administrativeUnitId: string
        roleMemberInfo:
          '@odata.type': microsoft.graph.identity
    microsoft.graph.outlookUser:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: outlookUser
          type: object
          properties:
            masterCategories:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
            taskGroups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskGroup'
            taskFolders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.outlookTask'
      example:
        id: string (identifier)
        masterCategories:
          - '@odata.type': microsoft.graph.outlookCategory
        taskGroups:
          - '@odata.type': microsoft.graph.outlookTaskGroup
        taskFolders:
          - '@odata.type': microsoft.graph.outlookTaskFolder
        tasks:
          - '@odata.type': microsoft.graph.outlookTask
    microsoft.graph.message:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.outlookItem'
        - title: message
          type: object
          properties:
            receivedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            sentDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            hasAttachments:
[...]
