openapi: 3.0.1
info:
  title: Users.OutlookUser
  version: v1.0-StagingBeta
servers:
  - url: https://graph.microsoft.com/StagingBeta/
    description: Core
paths:
  '/users/{user-id}/outlook':
    get:
      tags:
        - users.outlookUser
      summary: Get outlook from users
      operationId: users_GetOutlook
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - masterCategories
                - taskGroups
                - taskFolders
                - tasks
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property outlook in users
      operationId: users_UpdateOutlook
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookUser'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/masterCategories':
    get:
      tags:
        - users.outlookUser
      summary: Get masterCategories from users
      operationId: users.outlook_ListMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - color
                - color desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - color
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of outlookCategory
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to masterCategories for users
      operationId: users.outlook_CreateMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/masterCategories/{outlookCategory-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get masterCategories from users
      operationId: users.outlook_GetMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookCategory-id
          in: path
          description: 'key: outlookCategory-id of outlookCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookCategory
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - color
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property masterCategories in users
      operationId: users.outlook_UpdateMasterCategories
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookCategory-id
          in: path
          description: 'key: outlookCategory-id of outlookCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders':
    get:
      tags:
        - users.outlookUser
      summary: Get taskFolders from users
      operationId: users.outlook_ListTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - changeKey
                - changeKey desc
                - name
                - name desc
                - isDefaultFolder
                - isDefaultFolder desc
                - parentGroupKey
                - parentGroupKey desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - changeKey
                - name
                - isDefaultFolder
                - parentGroupKey
                - tasks
                - singleValueExtendedProperties
                - multiValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of outlookTaskFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to taskFolders for users
      operationId: users.outlook_CreateTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get taskFolders from users
      operationId: users.outlook_GetTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - changeKey
                - name
                - isDefaultFolder
                - parentGroupKey
                - tasks
                - singleValueExtendedProperties
                - multiValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property taskFolders in users
      operationId: users.outlook_UpdateTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.outlookUser
      summary: Get multiValueExtendedProperties from users
      operationId: users.outlook.taskFolders_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.outlook.taskFolders_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get multiValueExtendedProperties from users
      operationId: users.outlook.taskFolders_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.outlook.taskFolders_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.outlookUser
      summary: Get singleValueExtendedProperties from users
      operationId: users.outlook.taskFolders_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.outlook.taskFolders_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get singleValueExtendedProperties from users
      operationId: users.outlook.taskFolders_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.outlook.taskFolders_UpdateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/tasks':
    get:
      tags:
        - users.outlookUser
      summary: Get tasks from users
      operationId: users.outlook.taskFolders_ListTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - assignedTo
                - assignedTo desc
                - body
                - body desc
                - completedDateTime
                - completedDateTime desc
                - dueDateTime
                - dueDateTime desc
                - hasAttachments
                - hasAttachments desc
                - importance
                - importance desc
                - isReminderOn
                - isReminderOn desc
                - owner
                - owner desc
                - parentFolderId
                - parentFolderId desc
                - recurrence
                - recurrence desc
                - reminderDateTime
                - reminderDateTime desc
                - sensitivity
                - sensitivity desc
                - startDateTime
                - startDateTime desc
                - status
                - status desc
                - subject
                - subject desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - assignedTo
                - body
                - completedDateTime
                - dueDateTime
                - hasAttachments
                - importance
                - isReminderOn
                - owner
                - parentFolderId
                - recurrence
                - reminderDateTime
                - sensitivity
                - startDateTime
                - status
                - subject
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of outlookTask
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.outlookTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to tasks for users
      operationId: users.outlook.taskFolders_CreateTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTask'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get tasks from users
      operationId: users.outlook.taskFolders_GetTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - assignedTo
                - body
                - completedDateTime
                - dueDateTime
                - hasAttachments
                - importance
                - isReminderOn
                - owner
                - parentFolderId
                - recurrence
                - reminderDateTime
                - sensitivity
                - startDateTime
                - status
                - subject
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property tasks in users
      operationId: users.outlook.taskFolders_UpdateTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTask'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}/attachments':
    get:
      tags:
        - users.outlookUser
      summary: Get attachments from users
      operationId: users.outlook.taskFolders.tasks_ListAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - contentType
                - contentType desc
                - size
                - size desc
                - isInline
                - isInline desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of attachment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to attachments for users
      operationId: users.outlook.taskFolders.tasks_CreateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}/attachments/{attachment-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get attachments from users
      operationId: users.outlook.taskFolders.tasks_GetAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - name: attachment-id
          in: path
          description: 'key: attachment-id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property attachments in users
      operationId: users.outlook.taskFolders.tasks_UpdateAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - name: attachment-id
          in: path
          description: 'key: attachment-id of attachment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.outlookUser
      summary: Get multiValueExtendedProperties from users
      operationId: users.outlook.taskFolders.tasks_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.outlook.taskFolders.tasks_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get multiValueExtendedProperties from users
      operationId: users.outlook.taskFolders.tasks_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.outlook.taskFolders.tasks_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.outlookUser
      summary: Get singleValueExtendedProperties from users
      operationId: users.outlook.taskFolders.tasks_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.outlook.taskFolders.tasks_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get singleValueExtendedProperties from users
      operationId: users.outlook.taskFolders.tasks_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.outlook.taskFolders.tasks_UpdateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups':
    get:
      tags:
        - users.outlookUser
      summary: Get taskGroups from users
      operationId: users.outlook_ListTaskGroups
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - changeKey
                - changeKey desc
                - isDefaultGroup
                - isDefaultGroup desc
                - name
                - name desc
                - groupKey
                - groupKey desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - changeKey
                - isDefaultGroup
                - name
                - groupKey
                - taskFolders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of outlookTaskGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.outlookTaskGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to taskGroups for users
      operationId: users.outlook_CreateTaskGroups
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTaskGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get taskGroups from users
      operationId: users.outlook_GetTaskGroups
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - changeKey
                - isDefaultGroup
                - name
                - groupKey
                - taskFolders
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property taskGroups in users
      operationId: users.outlook_UpdateTaskGroups
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTaskGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders':
    get:
      tags:
        - users.outlookUser
      summary: Get taskFolders from users
      operationId: users.outlook.taskGroups_ListTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - changeKey
                - changeKey desc
                - name
                - name desc
                - isDefaultFolder
                - isDefaultFolder desc
                - parentGroupKey
                - parentGroupKey desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - changeKey
                - name
                - isDefaultFolder
                - parentGroupKey
                - tasks
                - singleValueExtendedProperties
                - multiValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of outlookTaskFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to taskFolders for users
      operationId: users.outlook.taskGroups_CreateTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get taskFolders from users
      operationId: users.outlook.taskGroups_GetTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - changeKey
                - name
                - isDefaultFolder
                - parentGroupKey
                - tasks
                - singleValueExtendedProperties
                - multiValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property taskFolders in users
      operationId: users.outlook.taskGroups_UpdateTaskFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTaskFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.outlookUser
      summary: Get multiValueExtendedProperties from users
      operationId: users.outlook.taskGroups.taskFolders_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.outlook.taskGroups.taskFolders_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get multiValueExtendedProperties from users
      operationId: users.outlook.taskGroups.taskFolders_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.outlook.taskGroups.taskFolders_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: multiValueLegacyExtendedProperty-id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.outlookUser
      summary: Get singleValueExtendedProperties from users
      operationId: users.outlook.taskGroups.taskFolders_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.outlook.taskGroups.taskFolders_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get singleValueExtendedProperties from users
      operationId: users.outlook.taskGroups.taskFolders_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.outlook.taskGroups.taskFolders_UpdateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: singleValueLegacyExtendedProperty-id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/tasks':
    get:
      tags:
        - users.outlookUser
      summary: Get tasks from users
      operationId: users.outlook.taskGroups.taskFolders_ListTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - assignedTo
                - assignedTo desc
                - body
                - body desc
                - completedDateTime
                - completedDateTime desc
                - dueDateTime
                - dueDateTime desc
                - hasAttachments
                - hasAttachments desc
                - importance
                - importance desc
                - isReminderOn
                - isReminderOn desc
                - owner
                - owner desc
                - parentFolderId
                - parentFolderId desc
                - recurrence
                - recurrence desc
                - reminderDateTime
                - reminderDateTime desc
                - sensitivity
                - sensitivity desc
                - startDateTime
                - startDateTime desc
                - status
                - status desc
                - subject
                - subject desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - assignedTo
                - body
                - completedDateTime
                - dueDateTime
                - hasAttachments
                - importance
                - isReminderOn
                - owner
                - parentFolderId
                - recurrence
                - reminderDateTime
                - sensitivity
                - startDateTime
                - status
                - subject
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of outlookTask
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.outlookTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.outlookUser
      summary: Create new navigation property to tasks for users
      operationId: users.outlook.taskGroups.taskFolders_CreateTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTask'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}':
    get:
      tags:
        - users.outlookUser
      summary: Get tasks from users
      operationId: users.outlook.taskGroups.taskFolders_GetTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - assignedTo
                - body
                - completedDateTime
                - dueDateTime
                - hasAttachments
                - importance
                - isReminderOn
                - owner
                - parentFolderId
                - recurrence
                - reminderDateTime
                - sensitivity
                - startDateTime
                - status
                - subject
                - singleValueExtendedProperties
                - multiValueExtendedProperties
                - attachments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.outlookUser
      summary: Update the navigation property tasks in users
      operationId: users.outlook.taskGroups.taskFolders_UpdateTasks
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookTask'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}/attachments':
    get:
      tags:
        - users.outlookUser
      summary: Get attachments from users
      operationId: users.outlook.taskGroups.taskFolders.tasks_ListAttachments
      parameters:
        - name: user-id
          in: path
          description: 'key: user-id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: outlookTaskGroup-id
          in: path
          description: 'key: outlookTaskGroup-id of outlookTaskGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskGroup
        - name: outlookTaskFolder-id
          in: path
          description: 'key: outlookTaskFolder-id of outlookTaskFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTaskFolder
        - name: outlookTask-id
          in: path
          description: 'key: outlookTask-id of outlookTask'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: outlookTask
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
[...]
