openapi: 3.0.1
info:
  title: Users.InformationProtection
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/informationProtection':
    get:
      tags:
        - users.informationProtection
      summary: Get informationProtection from users
      operationId: users_GetInformationProtection
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - policy
                - sensitivityLabels
                - sensitivityPolicySettings
                - dataLossPreventionPolicies
                - threatAssessmentRequests
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - policy
                - sensitivityLabels
                - sensitivityPolicySettings
                - dataLossPreventionPolicies
                - threatAssessmentRequests
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.informationProtection
      summary: Update the navigation property informationProtection in users
      operationId: users_UpdateInformationProtection
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.informationProtection
      summary: Delete navigation property informationProtection for users
      operationId: users_DeleteInformationProtection
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.informationProtection:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: informationProtection
          type: object
          properties:
            policy:
              $ref: '#/components/schemas/microsoft.graph.informationProtectionPolicy'
            sensitivityLabels:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
            sensitivityPolicySettings:
              $ref: '#/components/schemas/microsoft.graph.sensitivityPolicySettings'
            dataLossPreventionPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
            threatAssessmentRequests:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.threatAssessmentRequest'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.informationProtectionPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: informationProtectionPolicy
          type: object
          properties:
            labels:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.informationProtectionLabel'
          additionalProperties:
            type: object
    microsoft.graph.sensitivityLabel:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: sensitivityLabel
          type: object
          properties:
            name:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            toolTip:
              type: string
              nullable: true
            isEndpointProtectionEnabled:
              type: boolean
              nullable: true
            isDefault:
              type: boolean
              nullable: true
            applicationMode:
              $ref: '#/components/schemas/microsoft.graph.applicationMode'
            labelActions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.labelActionBase'
            assignedPolicies:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.labelPolicy'
            priority:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            autoLabeling:
              $ref: '#/components/schemas/microsoft.graph.autoLabeling'
            applicableTo:
              $ref: '#/components/schemas/microsoft.graph.sensitivityLabelTarget'
            sublabels:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
          additionalProperties:
            type: object
    microsoft.graph.sensitivityPolicySettings:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: sensitivityPolicySettings
          type: object
          properties:
            isMandatory:
              type: boolean
              nullable: true
            helpWebUrl:
              type: string
              nullable: true
            downgradeSensitivityRequiresJustification:
              type: boolean
              nullable: true
            applicableTo:
              $ref: '#/components/schemas/microsoft.graph.sensitivityLabelTarget'
          additionalProperties:
            type: object
    microsoft.graph.dataLossPreventionPolicy:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: dataLossPreventionPolicy
          type: object
          properties:
            name:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.threatAssessmentRequest:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: threatAssessmentRequest
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''.'
              format: date-time
              nullable: true
            contentType:
              $ref: '#/components/schemas/microsoft.graph.threatAssessmentContentType'
            expectedAssessment:
              $ref: '#/components/schemas/microsoft.graph.threatExpectedAssessment'
            category:
              $ref: '#/components/schemas/microsoft.graph.threatCategory'
            status:
              $ref: '#/components/schemas/microsoft.graph.threatAssessmentStatus'
            requestSource:
              $ref: '#/components/schemas/microsoft.graph.threatAssessmentRequestSource'
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            results:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.threatAssessmentResult'
              description: 'A collection of threat assessment results. Read-only. By default, a GET /threatAssessmentRequests/{id} does not return this property unless you apply $expand on it.'
          additionalProperties:
            type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.informationProtectionLabel:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: informationProtectionLabel
          type: object
          properties:
            name:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            color:
              type: string
              nullable: true
            sensitivity:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
            tooltip:
              type: string
              nullable: true
            isActive:
              type: boolean
          additionalProperties:
            type: object
    microsoft.graph.applicationMode:
      title: applicationMode
      enum:
        - manual
        - automatic
        - recommended
      type: string
    microsoft.graph.labelActionBase:
      title: labelActionBase
      type: object
      properties:
        name:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.labelPolicy:
      title: labelPolicy
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.autoLabeling:
      title: autoLabeling
      type: object
      properties:
        sensitiveTypeIds:
          type: array
          items:
            type: string
            nullable: true
        message:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.sensitivityLabelTarget:
      title: sensitivityLabelTarget
      enum:
        - email
        - site
        - unifiedGroup
        - unknownFutureValue
      type: string
    microsoft.graph.threatAssessmentContentType:
      title: threatAssessmentContentType
      enum:
        - mail
        - url
        - file
      type: string
    microsoft.graph.threatExpectedAssessment:
      title: threatExpectedAssessment
      enum:
        - block
        - unblock
      type: string
    microsoft.graph.threatCategory:
      title: threatCategory
      enum:
        - undefined
        - spam
        - phishing
        - malware
        - unknownFutureValue
      type: string
    microsoft.graph.threatAssessmentStatus:
      title: threatAssessmentStatus
      enum:
        - pending
        - completed
      type: string
    microsoft.graph.threatAssessmentRequestSource:
      title: threatAssessmentRequestSource
      enum:
        - undefined
        - user
        - administrator
      type: string
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      additionalProperties:
        type: object
    microsoft.graph.threatAssessmentResult:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: threatAssessmentResult
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''.'
              format: date-time
              nullable: true
            resultType:
              $ref: '#/components/schemas/microsoft.graph.threatAssessmentResultType'
            message:
              type: string
              description: The result message for each threat assessment.
              nullable: true
          additionalProperties:
            type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the identity.
          nullable: true
        displayName:
          type: string
          description: 'The identity''s display name. Note that this may not always be available or up to date. For example, if a user changes their display name, the API may show the new value in a future response, but the items associated with the user won''t show up as having changed when using delta.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.threatAssessmentResultType:
      title: threatAssessmentResultType
      enum:
        - checkPolicy
        - rescan
        - unknownFutureValue
      type: string
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]