openapi: 3.0.1
info:
  title: Users.Functions
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/activities/microsoft.graph.recent()':
    get:
      tags:
        - users.Functions
      summary: Invoke function recent
      operationId: users.activities_recent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of userActivity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userActivity'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/appConsentRequestsForApproval/{appConsentRequest-id}/userConsentRequests/microsoft.graph.filterByCurrentUser(on=''{on}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function filterByCurrentUser
      operationId: users.appConsentRequestsGraphFPreApproval.userConsentRequests_filterGraphBPreCurrentUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: appConsentRequest-id
          in: path
          description: 'key: id of appConsentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appConsentRequest
        - name: on
          in: path
          description: 'Usage: on=''{on}'''
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.consentRequestFilterByCurrentUserOptions'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of userConsentRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/appConsentRequestsForApproval/microsoft.graph.filterByCurrentUser(on=''{on}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function filterByCurrentUser
      operationId: users.appConsentRequestsGraphFPreApproval_filterGraphBPreCurrentUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: on
          in: path
          description: 'Usage: on=''{on}'''
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.consentRequestFilterByCurrentUserOptions'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of appConsentRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/approvals/microsoft.graph.filterByCurrentUser(on=''{on}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function filterByCurrentUser
      operationId: users.approvals_filterGraphBPreCurrentUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: on
          in: path
          description: 'Usage: on=''{on}'''
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.approvalFilterByCurrentUserOptions'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of approval
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.approval'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.calendarView.exceptionOccurrences.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/calendarView/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.calendarView.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/{event-id1}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.calendarView.instances.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.calendarView.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/calendarView/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.calendarView_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/events/{event-id}/exceptionOccurrences/{event-id1}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.events.exceptionOccurrences.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/events/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.events.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/events/{event-id}/instances/{event-id1}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.events.instances.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/events/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.events.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/events/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.events_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendar_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: User
          in: path
          description: 'Usage: User=''{User}'''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of calendar
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.calendarView.exceptionOccurrences.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.calendarView.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/{event-id1}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.calendarView.instances.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.calendarView.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.calendarView_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/exceptionOccurrences/{event-id1}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.events.exceptionOccurrences.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.events.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/{event-id1}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.events.instances.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.events.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.events_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendarGroups.calendars_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: User
          in: path
          description: 'Usage: User=''{User}'''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of calendar
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.calendarView.exceptionOccurrences.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/calendarView/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.calendarView.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/{event-id1}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.calendarView.instances.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.calendarView.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/calendarView/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.calendarView_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/events/{event-id}/exceptionOccurrences/{event-id1}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.events.exceptionOccurrences.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/events/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.events.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/events/{event-id}/instances/{event-id1}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.events.instances.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/events/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.events.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/events/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.events_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendars_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: User
          in: path
          description: 'Usage: User=''{User}'''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of calendar
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/{event-id}/exceptionOccurrences/{event-id1}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarView.exceptionOccurrences.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarView.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/{event-id}/instances/{event-id1}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarView.instances.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarView.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarView_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of event
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.event'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/chats/{chat-id}/messages/{chatMessage-id}/replies/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.chats.messages.replies_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of chatMessage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessage'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/chats/{chat-id}/messages/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.chats.messages_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of chatMessage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessage'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/chats/microsoft.graph.allMessages()':
    get:
      tags:
        - users.Functions
      summary: Invoke function allMessages
      operationId: users.chats_allMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of chat
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessage'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/chats/microsoft.graph.getAllMessages()':
    get:
      tags:
        - users.Functions
      summary: Invoke function getAllMessages
      operationId: users.chats_getAllMessages
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of chat
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.chatMessage'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/cloudPCs/{cloudPC-id}/microsoft.graph.getCloudPcConnectivityHistory()':
    get:
      tags:
        - users.Functions
      summary: Invoke function getCloudPcConnectivityHistory
      operationId: users.cloudPCs_getCloudPcConnectivityHistory
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: cloudPC-id
          in: path
          description: 'key: id of cloudPC'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cloudPC
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of cloudPC
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.cloudPcConnectivityEvent'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/cloudPCs/{cloudPC-id}/microsoft.graph.getCloudPcLaunchInfo()':
    get:
      tags:
        - users.Functions
      summary: Invoke function getCloudPcLaunchInfo
      operationId: users.cloudPCs_getCloudPcLaunchInfo
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: cloudPC-id
          in: path
          description: 'key: id of cloudPC'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: cloudPC
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudPcLaunchInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}/contacts/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.contactFolders.childFolders.contacts_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contact'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.contactFolders.childFolders_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contactFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contactFolder'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.contactFolders.contacts_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contact'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/contactFolders/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.contactFolders_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contactFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contactFolder'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/contacts/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.contacts_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contact'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/devices/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.devices_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of device
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.device'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/items/{driveItem-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drives.items.listItem_getActivitiesGraphBPreInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime=''{startDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime=''{endDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval=''{interval}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of listItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/items/{driveItem-id}/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drives.items_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of driveItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.driveItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/items/{driveItem-id}/microsoft.graph.delta(token=''{token}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drives.items_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: token
          in: path
          description: 'Usage: token=''{token}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of driveItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.driveItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/items/{driveItem-id}/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drives.items_getActivitiesGraphBPreInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime=''{startDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime=''{endDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval=''{interval}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of driveItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/items/{driveItem-id}/microsoft.graph.search(q=''{q}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function search
      operationId: users.drives.items_search
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: q
          in: path
          description: 'Usage: q=''{q}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of driveItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.driveItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/list/contentTypes/{contentType-id}/microsoft.graph.isPublished()':
    get:
      tags:
        - users.Functions
      summary: Invoke function isPublished
      operationId: users.drives.list.contentTypes_isPublished
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: contentType-id
          in: path
          description: 'key: id of contentType'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contentType
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/list/contentTypes/microsoft.graph.getCompatibleHubContentTypes()':
    get:
      tags:
        - users.Functions
      summary: Invoke function getCompatibleHubContentTypes
      operationId: users.drives.list.contentTypes_getCompatibleHubContentTypes
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of contentType
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contentType'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/list/items/{listItem-id}/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drives.list.items_getActivitiesGraphBPreInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: listItem-id
          in: path
          description: 'key: id of listItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: listItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime=''{startDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime=''{endDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval=''{interval}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of listItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/list/items/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drives.list.items_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of listItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.listItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/list/items/microsoft.graph.delta(token=''{token}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drives.list.items_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: token
          in: path
          description: 'Usage: token=''{token}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of listItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.listItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/microsoft.graph.recent()':
    get:
      tags:
        - users.Functions
      summary: Invoke function recent
      operationId: users.drives_recent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of drive
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.driveItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/microsoft.graph.search(q=''{q}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function search
      operationId: users.drives_search
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: q
          in: path
          description: 'Usage: q=''{q}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of drive
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.driveItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/microsoft.graph.sharedWithMe()':
    get:
      tags:
        - users.Functions
      summary: Invoke function sharedWithMe
      operationId: users.drives_sharedGraphWPreMe
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of drive
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.driveItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/root/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drives.root.listItem_getActivitiesGraphBPreInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime=''{startDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime=''{endDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval=''{interval}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of listItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/root/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drives.root_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of driveItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.driveItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/root/microsoft.graph.delta(token=''{token}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drives.root_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: token
          in: path
          description: 'Usage: token=''{token}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of driveItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.driveItem'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/root/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drives.root_getActivitiesGraphBPreInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: drive-id
          in: path
          description: 'key: id of drive'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: drive
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime=''{startDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime=''{endDateTime}'''
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval=''{interval}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of driveItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drives/{drive-id}/root/microsoft.graph.search(q=''{q}'')':
    get:
      tags:
        - users.Functions
[...]
