openapi: 3.0.1
info:
  title: WindowsUpdates
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/microsoft.graph.publish':
    post:
      tags:
        - admin.Actions
      summary: Invoke action publish
      description: Publish the specified browserSiteList for devices to download.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-publish?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteList_publish
      parameters:
        - name: browserSiteList-id
          in: path
          description: The unique identifier of browserSiteList
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: browserSiteList
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                revision:
                  type: string
                sites:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.browserSite'
                sharedCookies:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/serviceAnnouncement/healthOverviews/{serviceHealth-id}/issues/{serviceHealthIssue-id}/microsoft.graph.incidentReport()':
    get:
      tags:
        - admin.Functions
      summary: Invoke function incidentReport
      operationId: admin.serviceAnnouncement.healthOverview.issue_incidentReport
      parameters:
        - name: serviceHealth-id
          in: path
          description: The unique identifier of serviceHealth
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealth
        - name: serviceHealthIssue-id
          in: path
          description: The unique identifier of serviceHealthIssue
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/admin/serviceAnnouncement/issues/{serviceHealthIssue-id}/microsoft.graph.incidentReport()':
    get:
      tags:
        - admin.Functions
      summary: Invoke function incidentReport
      operationId: admin.serviceAnnouncement.issue_incidentReport
      parameters:
        - name: serviceHealthIssue-id
          in: path
          description: The unique identifier of serviceHealthIssue
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: serviceHealthIssue
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /admin/serviceAnnouncement/messages/microsoft.graph.archive:
    post:
      tags:
        - admin.Actions
      summary: Invoke action archive
      description: Archive a list of serviceUpdateMessages for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-archive?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_archive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.favorite:
    post:
      tags:
        - admin.Actions
      summary: Invoke action favorite
      description: Change the status of a list of serviceUpdateMessages to favorite for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-favorite?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_favorite
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.markRead:
    post:
      tags:
        - admin.Actions
      summary: Invoke action markRead
      description: Mark a list of serviceUpdateMessages as read for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-markread?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_markRead
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.markUnread:
    post:
      tags:
        - admin.Actions
      summary: Invoke action markUnread
      description: Mark a list of serviceUpdateMessages as unread for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-markunread?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_markUnread
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.unarchive:
    post:
      tags:
        - admin.Actions
      summary: Invoke action unarchive
      description: Unarchive a list of serviceUpdateMessages for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-unarchive?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_unarchive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/serviceAnnouncement/messages/microsoft.graph.unfavorite:
    post:
      tags:
        - admin.Actions
      summary: Invoke action unfavorite
      description: Remove the favorite status of serviceUpdateMessages for the signed in user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceupdatemessage-unfavorite?view=graph-rest-1.0
      operationId: admin.serviceAnnouncement.message_unfavorite
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                messageIds:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/windows:
    get:
      tags:
        - admin.adminWindows
      summary: Get windows from admin
      description: A container for all Windows administrator functionalities. Read-only.
      operationId: admin_GetWindow
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - updates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - updates
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminWindows'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminWindows
      summary: Update the navigation property windows in admin
      operationId: admin_UpdateWindow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adminWindows'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminWindows'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminWindows
      summary: Delete navigation property windows for admin
      operationId: admin_DeleteWindow
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/windows/updates:
    get:
      tags:
        - admin.adminWindows
      summary: Get updates from admin
      description: Entity that acts as a container for all Windows Update for Business deployment service functionalities. Read-only.
      operationId: admin.window_GetUpdate
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - catalog
                - deploymentAudiences
                - deployments
                - resourceConnections
                - updatableAssets
                - updatePolicies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - catalog
                - deploymentAudiences
                - deployments
                - resourceConnections
                - updatableAssets
                - updatePolicies
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminWindowsUpdates'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminWindows
      summary: Update the navigation property updates in admin
      operationId: admin.window_UpdateUpdate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adminWindowsUpdates'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adminWindowsUpdates'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminWindows
      summary: Delete navigation property updates for admin
      operationId: admin.window_DeleteUpdate
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/windows/updates/catalog:
    get:
      tags:
        - admin.adminWindows
      summary: Get catalog from admin
      description: Catalog of content that can be approved for deployment by the deployment service. Read-only.
      operationId: admin.window.update_GetCatalog
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - entries
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - entries
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.catalog'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminWindows
      summary: Update the navigation property catalog in admin
      operationId: admin.window.update_UpdateCatalog
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.catalog'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.catalog'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminWindows
      summary: Delete navigation property catalog for admin
      operationId: admin.window.update_DeleteCatalog
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/windows/updates/catalog/entries:
    get:
      tags:
        - admin.adminWindows
      summary: List entries
      description: 'Get a list of catalogEntry resources from the catalog. Currently, this operation returns entries of the featureUpdateCatalogEntry or qualityUpdateCatalog types, inherited from catalogEntry. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-catalog-list-entries?view=graph-rest-1.0
      operationId: admin.window.update.catalog_ListEntry
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deployableUntilDateTime
                - deployableUntilDateTime desc
                - displayName
                - displayName desc
                - releaseDateTime
                - releaseDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deployableUntilDateTime
                - displayName
                - releaseDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsUpdates.catalogEntryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.adminWindows
      summary: Create new navigation property to entries for admin
      operationId: admin.window.update.catalog_CreateEntry
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.catalogEntry'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.catalogEntry'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/catalog/entries/{catalogEntry-id}':
    get:
      tags:
        - admin.adminWindows
      summary: Get entries from admin
      description: Lists the content that you can approve for deployment. Read-only.
      operationId: admin.window.update.catalog_GetEntry
      parameters:
        - name: catalogEntry-id
          in: path
          description: The unique identifier of catalogEntry
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: catalogEntry
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deployableUntilDateTime
                - displayName
                - releaseDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.catalogEntry'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminWindows
      summary: Update the navigation property entries in admin
      operationId: admin.window.update.catalog_UpdateEntry
      parameters:
        - name: catalogEntry-id
          in: path
          description: The unique identifier of catalogEntry
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: catalogEntry
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.catalogEntry'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.catalogEntry'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminWindows
      summary: Delete navigation property entries for admin
      operationId: admin.window.update.catalog_DeleteEntry
      parameters:
        - name: catalogEntry-id
          in: path
          description: The unique identifier of catalogEntry
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: catalogEntry
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/windows/updates/catalog/entries/$count:
    get:
      tags:
        - admin.adminWindows
      summary: Get the number of the resource
      operationId: admin.window.update.catalog.entry_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/windows/updates/deploymentAudiences:
    get:
      tags:
        - admin.adminWindows
      summary: List deploymentAudiences
      description: Get a list of deploymentAudience objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminwindowsupdates-list-deploymentaudiences?view=graph-rest-1.0
      operationId: admin.window.update_ListDeploymentAudience
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - applicableContent
                - applicableContent desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicableContent
                - exclusions
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - exclusions
                - members
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsUpdates.deploymentAudienceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.adminWindows
      summary: Create deploymentAudience
      description: Create a new deploymentAudience object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminwindowsupdates-post-deploymentaudiences?view=graph-rest-1.0
      operationId: admin.window.update_CreateDeploymentAudience
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deploymentAudience'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deploymentAudience'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}':
    get:
      tags:
        - admin.adminWindows
      summary: Get deploymentAudience
      description: Read the properties and relationships of a deploymentAudience object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deploymentaudience-get?view=graph-rest-1.0
      operationId: admin.window.update_GetDeploymentAudience
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicableContent
                - exclusions
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - exclusions
                - members
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deploymentAudience'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminWindows
      summary: Update the navigation property deploymentAudiences in admin
      operationId: admin.window.update_UpdateDeploymentAudience
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deploymentAudience'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deploymentAudience'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminWindows
      summary: Delete deploymentAudience
      description: Delete a deploymentAudience object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deploymentaudience-delete?view=graph-rest-1.0
      operationId: admin.window.update_DeleteDeploymentAudience
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions':
    get:
      tags:
        - admin.adminWindows
      summary: List deployment audience exclusions
      description: List the updatableAsset resources that are excluded from a deploymentAudience.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deploymentaudience-list-exclusions?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience_ListExclusion
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsUpdates.updatableAssetCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.adminWindows
      summary: Create new navigation property to exclusions for admin
      operationId: admin.window.update.deploymentAudience_CreateExclusion
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/{updatableAsset-id}':
    get:
      tags:
        - admin.adminWindows
      summary: Get exclusions from admin
      description: Specifies the assets to exclude from the audience.
      operationId: admin.window.update.deploymentAudience_GetExclusion
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminWindows
      summary: Update the navigation property exclusions in admin
      operationId: admin.window.update.deploymentAudience_UpdateExclusion
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminWindows
      summary: Delete navigation property exclusions for admin
      operationId: admin.window.update.deploymentAudience_DeleteExclusion
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembers
      description: 'Add members to an updatableAssetGroup. You can add azureADDevice resources as members, but may not add updatableAssetGroup resources as members. Adding a Microsoft Entra device as a member of an updatable asset group automatically creates an azureADDevice object, if it does not already exist. You can also use the method addMembersById to add members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-addmembers?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.exclusion_addMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembersById
      description: Add members of the same type to an updatableAssetGroup. You can also use the method addMembers to add members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-addmembersbyid?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.exclusion_addMembersGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembers
      description: Remove members from an updatableAssetGroup. You can also use the method removeMembersById to remove members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-removemembers?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.exclusion_removeMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembersById
      description: Remove members of the same type from an updatableAssetGroup. You can also use the method removeMembers to remove members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-removemembersbyid?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.exclusion_removeMembersGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/$count':
    get:
      tags:
        - admin.adminWindows
      summary: Get the number of the resource
      operationId: admin.window.update.deploymentAudience.exclusion_GetCount
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/microsoft.graph.windowsUpdates.enrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssets
      operationId: admin.window.update.deploymentAudience.exclusion_enrollAsset
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/microsoft.graph.windowsUpdates.enrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssetsById
      operationId: admin.window.update.deploymentAudience.exclusion_enrollAssetsGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/microsoft.graph.windowsUpdates.unenrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssets
      operationId: admin.window.update.deploymentAudience.exclusion_unenrollAsset
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/exclusions/microsoft.graph.windowsUpdates.unenrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssetsById
      operationId: admin.window.update.deploymentAudience.exclusion_unenrollAssetsGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members':
    get:
      tags:
        - admin.adminWindows
      summary: List deployment audience members
      description: List the updatableAsset resources that are members of a deploymentAudience.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deploymentaudience-list-members?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience_ListMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsUpdates.updatableAssetCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.adminWindows
      summary: Create new navigation property to members for admin
      operationId: admin.window.update.deploymentAudience_CreateMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/{updatableAsset-id}':
    get:
      tags:
        - admin.adminWindows
      summary: Get members from admin
      description: Specifies the assets to include in the audience.
      operationId: admin.window.update.deploymentAudience_GetMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminWindows
      summary: Update the navigation property members in admin
      operationId: admin.window.update.deploymentAudience_UpdateMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminWindows
      summary: Delete navigation property members for admin
      operationId: admin.window.update.deploymentAudience_DeleteMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembers
      description: 'Add members to an updatableAssetGroup. You can add azureADDevice resources as members, but may not add updatableAssetGroup resources as members. Adding a Microsoft Entra device as a member of an updatable asset group automatically creates an azureADDevice object, if it does not already exist. You can also use the method addMembersById to add members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-addmembers?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.member_addMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.addMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action addMembersById
      description: Add members of the same type to an updatableAssetGroup. You can also use the method addMembers to add members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-addmembersbyid?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.member_addMembersGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembers':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembers
      description: Remove members from an updatableAssetGroup. You can also use the method removeMembersById to remove members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-removemembers?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.member_removeMember
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/{updatableAsset-id}/microsoft.graph.windowsUpdates.removeMembersById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action removeMembersById
      description: Remove members of the same type from an updatableAssetGroup. You can also use the method removeMembers to remove members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-updatableassetgroup-removemembersbyid?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience.member_removeMembersGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
                memberEntityType:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/$count':
    get:
      tags:
        - admin.adminWindows
      summary: Get the number of the resource
      operationId: admin.window.update.deploymentAudience.member_GetCount
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/microsoft.graph.windowsUpdates.enrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssets
      operationId: admin.window.update.deploymentAudience.member_enrollAsset
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/microsoft.graph.windowsUpdates.enrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action enrollAssetsById
      operationId: admin.window.update.deploymentAudience.member_enrollAssetsGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/microsoft.graph.windowsUpdates.unenrollAssets':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssets
      operationId: admin.window.update.deploymentAudience.member_unenrollAsset
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                assets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/members/microsoft.graph.windowsUpdates.unenrollAssetsById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action unenrollAssetsById
      operationId: admin.window.update.deploymentAudience.member_unenrollAssetsGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateCategory:
                  $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updateCategory'
                memberEntityType:
                  type: string
                  nullable: true
                ids:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/microsoft.graph.windowsUpdates.updateAudience':
    post:
      tags:
        - admin.Actions
      summary: Invoke action updateAudience
      description: 'Update the members and exclusions collections of a deploymentAudience. Adding an azureADDevice to the members or exclusions collections of a deployment audience automatically creates a Microsoft Entra device object, if it does not already exist. If the same updatableAsset gets included in the exclusions and members collections of a deploymentAudience, deployment will not apply to that asset. If all updatableAsset objects are the same type, you can also use the method updateAudienceById to update the deploymentAudience.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deploymentaudience-updateaudience?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience_updateAudience
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                addMembers:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
                removeMembers:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
                addExclusions:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
                removeExclusions:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/windows/updates/deploymentAudiences/{deploymentAudience-id}/microsoft.graph.windowsUpdates.updateAudienceById':
    post:
      tags:
        - admin.Actions
      summary: Invoke action updateAudienceById
      description: 'Update the members and exclusions collections of a deploymentAudience with updatableAsset resources of the same type. Adding an azureADDevice to the members or exclusions collections of a deployment audience automatically creates a Microsoft Entra device object if it does not already exist. If the same updatableAsset gets included in the exclusions and members collections of a deploymentAudience, deployment will not apply to that asset. You can also use the method updateAudience to update the deploymentAudience.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deploymentaudience-updateaudiencebyid?view=graph-rest-1.0
      operationId: admin.window.update.deploymentAudience_updateAudienceGraphBPreId
      parameters:
        - name: deploymentAudience-id
          in: path
          description: The unique identifier of deploymentAudience
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deploymentAudience
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                memberEntityType:
                  type: string
                  nullable: true
                addMembers:
                  type: array
                  items:
                    type: string
                    nullable: true
                removeMembers:
                  type: array
                  items:
                    type: string
                    nullable: true
                addExclusions:
                  type: array
                  items:
                    type: string
                    nullable: true
                removeExclusions:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /admin/windows/updates/deploymentAudiences/$count:
    get:
      tags:
        - admin.adminWindows
      summary: Get the number of the resource
      operationId: admin.window.update.deploymentAudience_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /admin/windows/updates/deployments:
    get:
      tags:
        - admin.adminWindows
      summary: List deployments
      description: Get a list of deployment objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminwindowsupdates-list-deployments?view=graph-rest-1.0
      operationId: admin.window.update_ListDeployment
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - content
                - content desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - settings
                - settings desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - createdDateTime
                - lastModifiedDateTime
                - settings
                - state
                - audience
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - audience
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsUpdates.deploymentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.adminWindows
      summary: Create deployment
      description: Create a new deployment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/adminwindowsupdates-post-deployments?view=graph-rest-1.0
      operationId: admin.window.update_CreateDeployment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deployment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deployment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/deployments/{deployment-id}':
    get:
      tags:
        - admin.adminWindows
      summary: Get deployment
      description: Read the properties and relationships of a deployment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deployment-get?view=graph-rest-1.0
      operationId: admin.window.update_GetDeployment
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - content
                - createdDateTime
                - lastModifiedDateTime
                - settings
                - state
                - audience
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - audience
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deployment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminWindows
      summary: Update deployment
      description: Update the properties of a deployment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deployment-update?view=graph-rest-1.0
      operationId: admin.window.update_UpdateDeployment
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deployment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deployment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminWindows
      summary: Delete deployment
      description: Delete a deployment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deployment-delete?view=graph-rest-1.0
      operationId: admin.window.update_DeleteDeployment
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/deployments/{deployment-id}/audience':
    get:
      tags:
        - admin.adminWindows
      summary: Get audience from admin
      description: Specifies the audience to which content is deployed.
      operationId: admin.window.update.deployment_GetAudience
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicableContent
                - exclusions
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - exclusions
                - members
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deploymentAudience'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminWindows
      summary: Update the navigation property audience in admin
      operationId: admin.window.update.deployment_UpdateAudience
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deploymentAudience'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.deploymentAudience'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminWindows
      summary: Delete navigation property audience for admin
      operationId: admin.window.update.deployment_DeleteAudience
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions':
    get:
      tags:
        - admin.adminWindows
      summary: List deployment audience exclusions
      description: List the updatableAsset resources that are excluded from a deploymentAudience.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowsupdates-deploymentaudience-list-exclusions?view=graph-rest-1.0
      operationId: admin.window.update.deployment.audience_ListExclusion
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsUpdates.updatableAssetCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.adminWindows
      summary: Create new navigation property to exclusions for admin
      operationId: admin.window.update.deployment.audience_CreateExclusion
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/windows/updates/deployments/{deployment-id}/audience/exclusions/{updatableAsset-id}':
    get:
      tags:
        - admin.adminWindows
      summary: Get exclusions from admin
      description: Specifies the assets to exclude from the audience.
      operationId: admin.window.update.deployment.audience_GetExclusion
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.adminWindows
      summary: Update the navigation property exclusions in admin
      operationId: admin.window.update.deployment.audience_UpdateExclusion
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: updatableAsset
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsUpdates.updatableAsset'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.adminWindows
      summary: Delete navigation property exclusions for admin
      operationId: admin.window.update.deployment.audience_DeleteExclusion
      parameters:
        - name: deployment-id
          in: path
          description: The unique identifier of deployment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deployment
        - name: updatableAsset-id
          in: path
          description: The unique identifier of updatableAsset
          required: true
[...]
