# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.


parameters:
  - name: Test
    type: boolean
    default: true
  - name: ModuleName
    type: string
    default: ""    
  - name: ModuleVersion
    type: string
    default: ""

steps:
  - task: PowerShell@2
    displayName: Generate Workload Modules
    inputs:
      targetType: inline
      pwsh: true
      script: |
        . $(System.DefaultWorkingDirectory)/tools/GenerateModules.ps1 -Build -ExcludeExampleTemplates -ExcludeNotesSection -ModuleToGenerate ${{ parameters.ModuleName }} -ApiVersion ${{ parameters.ModuleVersion }}
  - template: ../common-templates/guardian-analyzer.yml

  - task: PowerShell@2
    displayName: Test Workload Modules
    enabled: false
    inputs:
      targetType: inline
      pwsh: true
      script: |
        . $(System.DefaultWorkingDirectory)/tools/GenerateModules.ps1 -SkipGeneration -Test -ModuleToGenerate ${{ parameters.ModuleName }} -ApiVersion ${{ parameters.ModuleVersion }}

  - task: PowerShell@2
    displayName: Find Duplicate Commands
    inputs:
      targetType: inline
      pwsh: true
      script: |
        . $(System.DefaultWorkingDirectory)/tools/PostGeneration/FindDuplicateCommand.ps1 -SourcePath "$(System.DefaultWorkingDirectory)/src/"
  