openapi: 3.0.4
info:
  title: DeviceManagement
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /admin/edge:
    get:
      tags:
        - admin.edge
      summary: Get edge from admin
      description: A container for Microsoft Edge resources. Read-only.
      operationId: admin.GetEdge
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.edge'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.edge
      summary: Update the navigation property edge in admin
      operationId: admin.UpdateEdge
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.edge'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.edge'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.edge
      summary: Delete navigation property edge for admin
      operationId: admin.DeleteEdge
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/edge/internetExplorerMode:
    get:
      tags:
        - admin.edge
      summary: Get internetExplorerMode from admin
      description: A container for Internet Explorer mode resources.
      operationId: admin.edge.GetInternetExplorerMode
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.internetExplorerMode'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.edge
      summary: Update the navigation property internetExplorerMode in admin
      operationId: admin.edge.UpdateInternetExplorerMode
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.internetExplorerMode'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.internetExplorerMode'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.edge
      summary: Delete navigation property internetExplorerMode for admin
      operationId: admin.edge.DeleteInternetExplorerMode
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /admin/edge/internetExplorerMode/siteLists:
    get:
      tags:
        - admin.edge
      summary: List browserSiteLists
      description: Get a list of the browserSiteList objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/internetexplorermode-list-sitelists?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.ListSiteLists
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.browserSiteListCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.edge
      summary: Create browserSiteList
      description: Create a new browserSiteList object to support Internet Explorer mode.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/internetexplorermode-post-sitelists?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.CreateSiteLists
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}':
    get:
      tags:
        - admin.edge
      summary: Get browserSiteList
      description: Get a browserSiteList that contains browserSite and browserSharedCookie resources.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-get?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.GetSiteLists
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.edge
      summary: Update browserSiteList
      description: Update the properties of a browserSiteList object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-update?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.UpdateSiteLists
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSiteList'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.edge
      summary: Delete browserSiteList
      description: Delete a browserSiteList object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/internetexplorermode-delete-sitelists?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.DeleteSiteLists
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/publish':
    post:
      tags:
        - admin.edge
      summary: Invoke action publish
      description: Publish the specified browserSiteList for devices to download.
      operationId: admin.edge.internetExplorerMode.siteLists.browserSiteList.publish
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                revision:
                  type: string
                sites:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.browserSite'
                sharedCookies:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.browserSiteList'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sharedCookies':
    get:
      tags:
        - admin.edge
      summary: List browserSharedCookies
      description: Get a list of the browserSharedCookie objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-list-sharedcookies?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteLists.ListSharedCookies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.browserSharedCookieCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.edge
      summary: Create browserSharedCookie
      description: Create a new browserSharedCookie object in a browserSiteList.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-post-sharedcookies?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteLists.CreateSharedCookies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sharedCookies/{browserSharedCookie-id}':
    get:
      tags:
        - admin.edge
      summary: Get browserSharedCookie
      description: 'Get a session cookie that can be shared between a Microsoft Edge process and an Internet Explorer process, while using Internet Explorer mode.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersharedcookie-get?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteLists.GetSharedCookies
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.edge
      summary: Update browserSharedCookie
      description: Update the properties of a browserSharedCookie object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersharedcookie-update?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteLists.UpdateSharedCookies
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSharedCookie'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.edge
      summary: Delete browserSharedCookie
      description: Delete a browserSharedCookie from a browserSiteList.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-delete-sharedcookies?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteLists.DeleteSharedCookies
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sharedCookies/$count':
    get:
      tags:
        - admin.edge
      summary: Get the number of the resource
      operationId: admin.edge.internetExplorerMode.siteLists.sharedCookies.GetCount-0de2
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sites':
    get:
      tags:
        - admin.edge
      summary: List browserSites
      description: Get a list of the browserSite objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-list-sites?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteLists.ListSites
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.browserSiteCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - admin.edge
      summary: Create browserSite
      description: Create a new browserSite object in a browserSiteList.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-post-sites?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteLists.CreateSites
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSite'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSite'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sites/{browserSite-id}':
    get:
      tags:
        - admin.edge
      summary: Get browserSite
      description: Get a browserSite that resides on a browserSiteList.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersite-get?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteLists.GetSites
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSite'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - admin.edge
      summary: Update browserSite
      description: Update the properties of a browserSite object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersite-update?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteLists.UpdateSites
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.browserSite'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.browserSite'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - admin.edge
      summary: Delete browserSite
      description: Delete a browserSite from a browserSiteList.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/browsersitelist-delete-sites?view=graph-rest-1.0
      operationId: admin.edge.internetExplorerMode.siteLists.DeleteSites
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/admin/edge/internetExplorerMode/siteLists/{browserSiteList-id}/sites/$count':
    get:
      tags:
        - admin.edge
      summary: Get the number of the resource
      operationId: admin.edge.internetExplorerMode.siteLists.sites.GetCount-da97
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /admin/edge/internetExplorerMode/siteLists/$count:
    get:
      tags:
        - admin.edge
      summary: Get the number of the resource
      operationId: admin.edge.internetExplorerMode.siteLists.GetCount-d3d6
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceManagement:
    get:
      tags:
        - deviceManagement.deviceManagement
      summary: Get deviceManagement
      operationId: deviceManagement.deviceManagement.GetDeviceManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagement'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagement
      summary: Update deviceManagement
      operationId: deviceManagement.deviceManagement.UpdateDeviceManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagement'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagement'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/detectedApps:
    get:
      tags:
        - deviceManagement.detectedApp
      summary: Get detectedApps from deviceManagement
      description: The list of detected apps associated with a device.
      operationId: deviceManagement.ListDetectedApps
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.detectedAppCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.detectedApp
      summary: Create new navigation property to detectedApps for deviceManagement
      operationId: deviceManagement.CreateDetectedApps
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.detectedApp'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.detectedApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/detectedApps/{detectedApp-id}':
    get:
      tags:
        - deviceManagement.detectedApp
      summary: Get detectedApps from deviceManagement
      description: The list of detected apps associated with a device.
      operationId: deviceManagement.GetDetectedApps
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.detectedApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.detectedApp
      summary: Update the navigation property detectedApps in deviceManagement
      operationId: deviceManagement.UpdateDetectedApps
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.detectedApp'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.detectedApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.detectedApp
      summary: Delete navigation property detectedApps for deviceManagement
      operationId: deviceManagement.DeleteDetectedApps
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/detectedApps/{detectedApp-id}/managedDevices':
    get:
      tags:
        - deviceManagement.detectedApp
      summary: Get managedDevices from deviceManagement
      description: The devices that have the discovered application installed
      operationId: deviceManagement.detectedApps.ListManagedDevices
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.managedDeviceCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/deviceManagement/detectedApps/{detectedApp-id}/managedDevices/{managedDevice-id}':
    get:
      tags:
        - deviceManagement.detectedApp
      summary: Get managedDevices from deviceManagement
      description: The devices that have the discovered application installed
      operationId: deviceManagement.detectedApps.GetManagedDevices
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedDevice'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/detectedApps/{detectedApp-id}/managedDevices/$count':
    get:
      tags:
        - deviceManagement.detectedApp
      summary: Get the number of the resource
      operationId: deviceManagement.detectedApps.managedDevices.GetCount-d78c
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceManagement/detectedApps/$count:
    get:
      tags:
        - deviceManagement.detectedApp
      summary: Get the number of the resource
      operationId: deviceManagement.detectedApps.GetCount-0228
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceManagement/deviceCategories:
    get:
      tags:
        - deviceManagement.deviceCategory
      summary: Get deviceCategories from deviceManagement
      description: The list of device categories with the tenant.
      operationId: deviceManagement.ListDeviceCategories
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceCategoryCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCategory
      summary: Create new navigation property to deviceCategories for deviceManagement
      operationId: deviceManagement.CreateDeviceCategories
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCategory'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCategory'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCategories/{deviceCategory-id}':
    get:
      tags:
        - deviceManagement.deviceCategory
      summary: Get deviceCategories from deviceManagement
      description: The list of device categories with the tenant.
      operationId: deviceManagement.GetDeviceCategories
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCategory'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCategory
      summary: Update the navigation property deviceCategories in deviceManagement
      operationId: deviceManagement.UpdateDeviceCategories
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCategory'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCategory'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCategory
      summary: Delete navigation property deviceCategories for deviceManagement
      operationId: deviceManagement.DeleteDeviceCategories
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceCategories/$count:
    get:
      tags:
        - deviceManagement.deviceCategory
      summary: Get the number of the resource
      operationId: deviceManagement.deviceCategories.GetCount-ed54
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceManagement/deviceCompliancePolicies:
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceCompliancePolicies from deviceManagement
      description: The device compliance policies.
      operationId: deviceManagement.ListDeviceCompliancePolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceCompliancePolicyCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to deviceCompliancePolicies for deviceManagement
      operationId: deviceManagement.CreateDeviceCompliancePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceCompliancePolicies from deviceManagement
      description: The device compliance policies.
      operationId: deviceManagement.GetDeviceCompliancePolicies
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property deviceCompliancePolicies in deviceManagement
      operationId: deviceManagement.UpdateDeviceCompliancePolicies
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property deviceCompliancePolicies for deviceManagement
      operationId: deviceManagement.DeleteDeviceCompliancePolicies
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/assignments':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get assignments from deviceManagement
      description: The collection of assignments for this compliance policy.
      operationId: deviceManagement.deviceCompliancePolicies.ListAssignments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceCompliancePolicyAssignmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to assignments for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.CreateAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/assignments/{deviceCompliancePolicyAssignment-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get assignments from deviceManagement
      description: The collection of assignments for this compliance policy.
      operationId: deviceManagement.deviceCompliancePolicies.GetAssignments
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property assignments in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.UpdateAssignments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property assignments for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.DeleteAssignments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/assignments/$count':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get the number of the resource
      operationId: deviceManagement.deviceCompliancePolicies.assignments.GetCount-332a
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceSettingStateSummaries':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceSettingStateSummaries from deviceManagement
      description: Compliance Setting State Device Summary
      operationId: deviceManagement.deviceCompliancePolicies.ListDeviceSettingStateSummaries
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.settingStateDeviceSummaryCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to deviceSettingStateSummaries for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.CreateDeviceSettingStateSummaries
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.settingStateDeviceSummary'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.settingStateDeviceSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceSettingStateSummaries/{settingStateDeviceSummary-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceSettingStateSummaries from deviceManagement
      description: Compliance Setting State Device Summary
      operationId: deviceManagement.deviceCompliancePolicies.GetDeviceSettingStateSummaries
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.settingStateDeviceSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property deviceSettingStateSummaries in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.UpdateDeviceSettingStateSummaries
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.settingStateDeviceSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.settingStateDeviceSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property deviceSettingStateSummaries for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.DeleteDeviceSettingStateSummaries
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceSettingStateSummaries/$count':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get the number of the resource
      operationId: deviceManagement.deviceCompliancePolicies.deviceSettingStateSummaries.GetCount-6b27
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceStatuses':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceStatuses from deviceManagement
      description: List of DeviceComplianceDeviceStatus.
      operationId: deviceManagement.deviceCompliancePolicies.ListDeviceStatuses
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceComplianceDeviceStatusCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to deviceStatuses for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.CreateDeviceStatuses
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceStatuses/{deviceComplianceDeviceStatus-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceStatuses from deviceManagement
      description: List of DeviceComplianceDeviceStatus.
      operationId: deviceManagement.deviceCompliancePolicies.GetDeviceStatuses
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property deviceStatuses in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.UpdateDeviceStatuses
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property deviceStatuses for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.DeleteDeviceStatuses
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceStatuses/$count':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get the number of the resource
      operationId: deviceManagement.deviceCompliancePolicies.deviceStatuses.GetCount-f70b
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceStatusOverview':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceStatusOverview from deviceManagement
      description: Device compliance devices status overview
      operationId: deviceManagement.deviceCompliancePolicies.GetDeviceStatusOverview
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceOverview'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property deviceStatusOverview in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.UpdateDeviceStatusOverview
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceOverview'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceOverview'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property deviceStatusOverview for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.DeleteDeviceStatusOverview
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/assign':
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Invoke action assign
      operationId: deviceManagement.deviceCompliancePolicies.deviceCompliancePolicy.assign
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceCompliancePolicyAssignment
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduleActionsForRules':
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Invoke action scheduleActionsForRules
      operationId: deviceManagement.deviceCompliancePolicies.deviceCompliancePolicy.scheduleActionsForRules
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceComplianceScheduledActionForRules:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduledActionsForRule':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get scheduledActionsForRule from deviceManagement
      description: The list of scheduled action per rule for this compliance policy. This is a required property when creating any individual per-platform compliance policies.
      operationId: deviceManagement.deviceCompliancePolicies.ListScheduledActionsForRule
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceComplianceScheduledActionForRuleCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to scheduledActionsForRule for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.CreateScheduledActionsForRule
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduledActionsForRule/{deviceComplianceScheduledActionForRule-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get scheduledActionsForRule from deviceManagement
      description: The list of scheduled action per rule for this compliance policy. This is a required property when creating any individual per-platform compliance policies.
      operationId: deviceManagement.deviceCompliancePolicies.GetScheduledActionsForRule
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property scheduledActionsForRule in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.UpdateScheduledActionsForRule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property scheduledActionsForRule for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.DeleteScheduledActionsForRule
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduledActionsForRule/{deviceComplianceScheduledActionForRule-id}/scheduledActionConfigurations':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get scheduledActionConfigurations from deviceManagement
      description: The list of scheduled action configurations for this compliance policy. Compliance policy must have one and only one block scheduled action.
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsForRule.ListScheduledActionConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceComplianceActionItemCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to scheduledActionConfigurations for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsForRule.CreateScheduledActionConfigurations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduledActionsForRule/{deviceComplianceScheduledActionForRule-id}/scheduledActionConfigurations/{deviceComplianceActionItem-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get scheduledActionConfigurations from deviceManagement
      description: The list of scheduled action configurations for this compliance policy. Compliance policy must have one and only one block scheduled action.
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsForRule.GetScheduledActionConfigurations
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property scheduledActionConfigurations in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsForRule.UpdateScheduledActionConfigurations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property scheduledActionConfigurations for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsForRule.DeleteScheduledActionConfigurations
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduledActionsForRule/{deviceComplianceScheduledActionForRule-id}/scheduledActionConfigurations/$count':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get the number of the resource
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsForRule.scheduledActionConfigurations.GetCount-b4b5
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduledActionsForRule/$count':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get the number of the resource
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsForRule.GetCount-afd5
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/userStatuses':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get userStatuses from deviceManagement
      description: List of DeviceComplianceUserStatus.
      operationId: deviceManagement.deviceCompliancePolicies.ListUserStatuses
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceComplianceUserStatusCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to userStatuses for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.CreateUserStatuses
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/userStatuses/{deviceComplianceUserStatus-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get userStatuses from deviceManagement
      description: List of DeviceComplianceUserStatus.
      operationId: deviceManagement.deviceCompliancePolicies.GetUserStatuses
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property userStatuses in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.UpdateUserStatuses
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property userStatuses for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.DeleteUserStatuses
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/userStatuses/$count':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get the number of the resource
      operationId: deviceManagement.deviceCompliancePolicies.userStatuses.GetCount-fa4a
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/userStatusOverview':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get userStatusOverview from deviceManagement
      description: Device compliance users status overview
      operationId: deviceManagement.deviceCompliancePolicies.GetUserStatusOverview
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserOverview'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property userStatusOverview in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.UpdateUserStatusOverview
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserOverview'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserOverview'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property userStatusOverview for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.DeleteUserStatusOverview
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceCompliancePolicies/$count:
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get the number of the resource
      operationId: deviceManagement.deviceCompliancePolicies.GetCount-6c5d
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceManagement/deviceCompliancePolicyDeviceStateSummary:
    get:
      tags:
        - deviceManagement.deviceCompliancePolicyDeviceStateSummary
      summary: Get deviceCompliancePolicyDeviceStateSummary from deviceManagement
      description: The device compliance state summary for this account.
      operationId: deviceManagement.GetDeviceCompliancePolicyDeviceStateSummary
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyDeviceStateSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicyDeviceStateSummary
      summary: Update the navigation property deviceCompliancePolicyDeviceStateSummary in deviceManagement
      operationId: deviceManagement.UpdateDeviceCompliancePolicyDeviceStateSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyDeviceStateSummary'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyDeviceStateSummary'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicyDeviceStateSummary
      summary: Delete navigation property deviceCompliancePolicyDeviceStateSummary for deviceManagement
      operationId: deviceManagement.DeleteDeviceCompliancePolicyDeviceStateSummary
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceCompliancePolicySettingStateSummaries:
    get:
      tags:
        - deviceManagement.deviceCompliancePolicySettingStateSummary
      summary: Get deviceCompliancePolicySettingStateSummaries from deviceManagement
      description: The summary states of compliance policy settings for this account.
      operationId: deviceManagement.ListDeviceCompliancePolicySettingStateSummaries
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceCompliancePolicySettingStateSummaryCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
[...]
