openapi: 3.0.4
info:
  title: DeviceManagement.Enrollment
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceManagement/conditionalAccessSettings:
    get:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Get conditionalAccessSettings from deviceManagement
      description: The Exchange on premises conditional access settings. On premises conditional access will require devices to be both enrolled and compliant for mail access
      operationId: deviceManagement.GetConditionalAccessSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Update the navigation property conditionalAccessSettings in deviceManagement
      operationId: deviceManagement.UpdateConditionalAccessSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Delete navigation property conditionalAccessSettings for deviceManagement
      operationId: deviceManagement.DeleteConditionalAccessSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceEnrollmentConfigurations:
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement.ListDeviceEnrollmentConfigurations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceEnrollmentConfigurationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create new navigation property to deviceEnrollmentConfigurations for deviceManagement
      operationId: deviceManagement.CreateDeviceEnrollmentConfigurations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentConfigurations from deviceManagement
      description: The list of device enrollment configurations
      operationId: deviceManagement.GetDeviceEnrollmentConfigurations
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Update the navigation property deviceEnrollmentConfigurations in deviceManagement
      operationId: deviceManagement.UpdateDeviceEnrollmentConfigurations
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Delete navigation property deviceEnrollmentConfigurations for deviceManagement
      operationId: deviceManagement.DeleteDeviceEnrollmentConfigurations
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get assignments from deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations.ListAssignments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.enrollmentConfigurationAssignmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create new navigation property to assignments for deviceManagement
      operationId: deviceManagement.deviceEnrollmentConfigurations.CreateAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments/{enrollmentConfigurationAssignment-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get assignments from deviceManagement
      description: The list of group assignments for the device configuration profile
      operationId: deviceManagement.deviceEnrollmentConfigurations.GetAssignments
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Update the navigation property assignments in deviceManagement
      operationId: deviceManagement.deviceEnrollmentConfigurations.UpdateAssignments
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Delete navigation property assignments for deviceManagement
      operationId: deviceManagement.deviceEnrollmentConfigurations.DeleteAssignments
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments/$count':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get the number of the resource
      operationId: deviceManagement.deviceEnrollmentConfigurations.assignments.GetCount-f0d7
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assign':
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Invoke action assign
      operationId: deviceManagement.deviceEnrollmentConfigurations.deviceEnrollmentConfiguration.assign
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enrollmentConfigurationAssignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/setPriority':
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Invoke action setPriority
      operationId: deviceManagement.deviceEnrollmentConfigurations.deviceEnrollmentConfiguration.setPriority
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                priority:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceEnrollmentConfigurations/$count:
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get the number of the resource
      operationId: deviceManagement.deviceEnrollmentConfigurations.GetCount-69e5
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceManagement/importedWindowsAutopilotDeviceIdentities:
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Get importedWindowsAutopilotDeviceIdentities from deviceManagement
      description: Collection of imported Windows autopilot devices.
      operationId: deviceManagement.ListImportedWindowsAutopilotDeviceIdentities
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.importedWindowsAutopilotDeviceIdentityCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Create new navigation property to importedWindowsAutopilotDeviceIdentities for deviceManagement
      operationId: deviceManagement.CreateImportedWindowsAutopilotDeviceIdentities
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/importedWindowsAutopilotDeviceIdentities/{importedWindowsAutopilotDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Get importedWindowsAutopilotDeviceIdentities from deviceManagement
      description: Collection of imported Windows autopilot devices.
      operationId: deviceManagement.GetImportedWindowsAutopilotDeviceIdentities
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Update the navigation property importedWindowsAutopilotDeviceIdentities in deviceManagement
      operationId: deviceManagement.UpdateImportedWindowsAutopilotDeviceIdentities
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Delete navigation property importedWindowsAutopilotDeviceIdentities for deviceManagement
      operationId: deviceManagement.DeleteImportedWindowsAutopilotDeviceIdentities
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/importedWindowsAutopilotDeviceIdentities/$count:
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Get the number of the resource
      operationId: deviceManagement.importedWindowsAutopilotDeviceIdentities.GetCount-36aa
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /deviceManagement/importedWindowsAutopilotDeviceIdentities/import:
    post:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Invoke action import
      operationId: deviceManagement.importedWindowsAutopilotDeviceIdentities.import
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                importedWindowsAutopilotDeviceIdentities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of importedWindowsAutopilotDeviceIdentity
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/windowsAutopilotDeviceIdentities:
    get:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Get windowsAutopilotDeviceIdentities from deviceManagement
      description: The Windows autopilot device identities contained collection.
      operationId: deviceManagement.ListWindowsAutopilotDeviceIdentities
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsAutopilotDeviceIdentityCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Create new navigation property to windowsAutopilotDeviceIdentities for deviceManagement
      operationId: deviceManagement.CreateWindowsAutopilotDeviceIdentities
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Get windowsAutopilotDeviceIdentities from deviceManagement
      description: The Windows autopilot device identities contained collection.
      operationId: deviceManagement.GetWindowsAutopilotDeviceIdentities
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Update the navigation property windowsAutopilotDeviceIdentities in deviceManagement
      operationId: deviceManagement.UpdateWindowsAutopilotDeviceIdentities
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Delete navigation property windowsAutopilotDeviceIdentities for deviceManagement
      operationId: deviceManagement.DeleteWindowsAutopilotDeviceIdentities
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}/assignUserToDevice':
    post:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Invoke action assignUserToDevice
      description: Assigns user to Autopilot devices.
      operationId: deviceManagement.windowsAutopilotDeviceIdentities.windowsAutopilotDeviceIdentity.assignUserToDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userPrincipalName:
                  type: string
                  nullable: true
                addressableUserName:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}/unassignUserFromDevice':
    post:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Invoke action unassignUserFromDevice
      description: Unassigns the user from an Autopilot device.
      operationId: deviceManagement.windowsAutopilotDeviceIdentities.windowsAutopilotDeviceIdentity.unassignUserFromDevice
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}/updateDeviceProperties':
    post:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Invoke action updateDeviceProperties
      description: Updates properties on Autopilot devices.
      operationId: deviceManagement.windowsAutopilotDeviceIdentities.windowsAutopilotDeviceIdentity.updateDeviceProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userPrincipalName:
                  type: string
                  nullable: true
                addressableUserName:
                  type: string
                  nullable: true
                groupTag:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/windowsAutopilotDeviceIdentities/$count:
    get:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Get the number of the resource
      operationId: deviceManagement.windowsAutopilotDeviceIdentities.GetCount-0841
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /roleManagement:
    get:
      tags:
        - roleManagement.roleManagement
      summary: Get roleManagement
      operationId: roleManagement.roleManagement.GetRoleManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleManagement'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.roleManagement
      summary: Update roleManagement
      operationId: roleManagement.roleManagement.UpdateRoleManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleManagement'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleManagement'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.onPremisesConditionalAccessSettings:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: onPremisesConditionalAccessSettings
          required:
            - '@odata.type'
          type: object
          properties:
            enabled:
              type: boolean
              description: Indicates if on premises conditional access is enabled for this organization
            excludedGroups:
              type: array
              items:
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                type: string
                format: uuid
              description: User groups that will be exempt by on premises conditional access. All users in these groups will be exempt from the conditional access policy.
            includedGroups:
              type: array
              items:
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                type: string
                format: uuid
              description: User groups that will be targeted by on premises conditional access. All users in these groups will be required to have mobile device managed and compliant for mail access.
            overrideDefaultRule:
              type: boolean
              description: Override the default access rule when allowing a device to ensure access is granted.
            '@odata.type':
              type: string
          description: Singleton entity which represents the Exchange OnPremises Conditional Access Settings for a tenant.
      x-ms-discriminator-value: '#microsoft.graph.onPremisesConditionalAccessSettings'
    microsoft.graph.deviceEnrollmentConfiguration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: deviceEnrollmentConfiguration
          required:
            - '@odata.type'
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Created date time in UTC of the device enrollment configuration
              format: date-time
            description:
              type: string
              description: The description of the device enrollment configuration
              nullable: true
            displayName:
              type: string
              description: The display name of the device enrollment configuration
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Last modified date time in UTC of the device enrollment configuration
              format: date-time
            priority:
              maximum: 2147483647
              minimum: -2147483648
              type: number
              description: Priority is used when a user exists in multiple groups that are assigned enrollment configuration. Users are subject only to the configuration with the lowest priority value.
              format: int32
            version:
              maximum: 2147483647
              minimum: -2147483648
              type: number
              description: The version of the device enrollment configuration
              format: int32
            assignments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
              description: The list of group assignments for the device configuration profile
              x-ms-navigationProperty: true
            '@odata.type':
              type: string
          description: The Base Class of Device Enrollment Configuration
          discriminator:
            propertyName: '@odata.type'
            mapping:
              '#microsoft.graph.deviceEnrollmentLimitConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentLimitConfiguration'
              '#microsoft.graph.deviceEnrollmentPlatformRestrictionsConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentPlatformRestrictionsConfiguration'
              '#microsoft.graph.deviceEnrollmentWindowsHelloForBusinessConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentWindowsHelloForBusinessConfiguration'
              '#microsoft.graph.windows10EnrollmentCompletionPageConfiguration': '#/components/schemas/microsoft.graph.windows10EnrollmentCompletionPageConfiguration'
    microsoft.graph.enrollmentConfigurationAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: enrollmentConfigurationAssignment
          required:
            - '@odata.type'
          type: object
          properties:
            target:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentTarget'
                - type: object
                  nullable: true
              description: Represents an assignment to managed devices in the tenant
            '@odata.type':
              type: string
          description: Enrollment Configuration Assignment
      x-ms-discriminator-value: '#microsoft.graph.enrollmentConfigurationAssignment'
    microsoft.graph.importedWindowsAutopilotDeviceIdentity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: importedWindowsAutopilotDeviceIdentity
          required:
            - '@odata.type'
          type: object
          properties:
            assignedUserPrincipalName:
              type: string
              description: UPN of the user the device will be assigned
              nullable: true
            groupTag:
              type: string
              description: Group Tag of the Windows autopilot device.
              nullable: true
            hardwareIdentifier:
              type: string
              description: Hardware Blob of the Windows autopilot device.
              format: base64url
              nullable: true
            importId:
              type: string
              description: The Import Id of the Windows autopilot device.
              nullable: true
            productKey:
              type: string
              description: Product Key of the Windows autopilot device.
              nullable: true
            serialNumber:
              type: string
              description: Serial number of the Windows autopilot device.
              nullable: true
            state:
              anyOf:
                - $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentityState'
                - type: object
                  nullable: true
              description: Current state of the imported device.
            '@odata.type':
              type: string
          description: Imported windows autopilot devices.
      x-ms-discriminator-value: '#microsoft.graph.importedWindowsAutopilotDeviceIdentity'
    BaseCollectionPaginationCountResponse:
      title: Base collection pagination and count responses
      type: object
      properties:
        '@odata.count':
          type: integer
          format: int64
          nullable: true
        '@odata.nextLink':
          type: string
          nullable: true
    microsoft.graph.windowsAutopilotDeviceIdentity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: windowsAutopilotDeviceIdentity
          required:
            - '@odata.type'
          type: object
          properties:
            addressableUserName:
              type: string
              description: Addressable user name.
              nullable: true
            azureActiveDirectoryDeviceId:
              type: string
              description: AAD Device ID - to be deprecated
              nullable: true
            displayName:
              type: string
              description: Display Name
              nullable: true
            enrollmentState:
              $ref: '#/components/schemas/microsoft.graph.enrollmentState'
            groupTag:
              type: string
              description: Group Tag of the Windows autopilot device.
              nullable: true
            lastContactedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Intune Last Contacted Date Time of the Windows autopilot device.
              format: date-time
            managedDeviceId:
              type: string
              description: Managed Device ID
              nullable: true
            manufacturer:
              type: string
              description: Oem manufacturer of the Windows autopilot device.
              nullable: true
            model:
              type: string
              description: Model name of the Windows autopilot device.
              nullable: true
            productKey:
              type: string
              description: Product Key of the Windows autopilot device.
              nullable: true
            purchaseOrderIdentifier:
              type: string
              description: Purchase Order Identifier of the Windows autopilot device.
              nullable: true
            resourceName:
              type: string
              description: Resource Name.
              nullable: true
            serialNumber:
              type: string
              description: Serial number of the Windows autopilot device.
              nullable: true
            skuNumber:
              type: string
              description: SKU Number
              nullable: true
            systemFamily:
              type: string
              description: System Family
              nullable: true
            userPrincipalName:
              type: string
              description: User Principal Name.
              nullable: true
            '@odata.type':
              type: string
          description: The windowsAutopilotDeviceIdentity resource represents a Windows Autopilot Device.
      x-ms-discriminator-value: '#microsoft.graph.windowsAutopilotDeviceIdentity'
    microsoft.graph.roleManagement:
      title: roleManagement
      required:
        - '@odata.type'
      type: object
      properties:
        directory:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.rbacApplication'
            - type: object
              nullable: true
          x-ms-navigationProperty: true
        entitlementManagement:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.rbacApplication'
            - type: object
              nullable: true
          description: Container for roles and assignments for entitlement management resources.
          x-ms-navigationProperty: true
        '@odata.type':
          type: string
    microsoft.graph.entity:
      title: entity
      required:
        - '@odata.type'
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
        '@odata.type':
          type: string
      discriminator:
        propertyName: '@odata.type'
        mapping:
          '#microsoft.graph.accessPackage': '#/components/schemas/microsoft.graph.accessPackage'
          '#microsoft.graph.accessPackageAssignment': '#/components/schemas/microsoft.graph.accessPackageAssignment'
          '#microsoft.graph.accessPackageAssignmentPolicy': '#/components/schemas/microsoft.graph.accessPackageAssignmentPolicy'
          '#microsoft.graph.accessPackageAssignmentRequest': '#/components/schemas/microsoft.graph.accessPackageAssignmentRequest'
          '#microsoft.graph.accessPackageCatalog': '#/components/schemas/microsoft.graph.accessPackageCatalog'
          '#microsoft.graph.accessPackageQuestion': '#/components/schemas/microsoft.graph.accessPackageQuestion'
          '#microsoft.graph.accessPackageMultipleChoiceQuestion': '#/components/schemas/microsoft.graph.accessPackageMultipleChoiceQuestion'
          '#microsoft.graph.accessPackageTextInputQuestion': '#/components/schemas/microsoft.graph.accessPackageTextInputQuestion'
          '#microsoft.graph.accessPackageResource': '#/components/schemas/microsoft.graph.accessPackageResource'
          '#microsoft.graph.customDataProvidedResource': '#/components/schemas/microsoft.graph.customDataProvidedResource'
          '#microsoft.graph.accessPackageResourceEnvironment': '#/components/schemas/microsoft.graph.accessPackageResourceEnvironment'
          '#microsoft.graph.accessPackageResourceRequest': '#/components/schemas/microsoft.graph.accessPackageResourceRequest'
          '#microsoft.graph.accessPackageResourceRole': '#/components/schemas/microsoft.graph.accessPackageResourceRole'
          '#microsoft.graph.accessPackageResourceRoleScope': '#/components/schemas/microsoft.graph.accessPackageResourceRoleScope'
          '#microsoft.graph.accessPackageResourceScope': '#/components/schemas/microsoft.graph.accessPackageResourceScope'
          '#microsoft.graph.accessPackageSubject': '#/components/schemas/microsoft.graph.accessPackageSubject'
          '#microsoft.graph.accessPackageSuggestion': '#/components/schemas/microsoft.graph.accessPackageSuggestion'
          '#microsoft.graph.accessReviewHistoryDefinition': '#/components/schemas/microsoft.graph.accessReviewHistoryDefinition'
          '#microsoft.graph.accessReviewHistoryInstance': '#/components/schemas/microsoft.graph.accessReviewHistoryInstance'
          '#microsoft.graph.accessReviewInstance': '#/components/schemas/microsoft.graph.accessReviewInstance'
          '#microsoft.graph.accessReviewInstanceDecisionItem': '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
          '#microsoft.graph.accessReviewReviewer': '#/components/schemas/microsoft.graph.accessReviewReviewer'
          '#microsoft.graph.accessReviewScheduleDefinition': '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
          '#microsoft.graph.accessReviewSet': '#/components/schemas/microsoft.graph.accessReviewSet'
          '#microsoft.graph.accessReviewStage': '#/components/schemas/microsoft.graph.accessReviewStage'
          '#microsoft.graph.activitiesContainer': '#/components/schemas/microsoft.graph.activitiesContainer'
          '#microsoft.graph.activityHistoryItem': '#/components/schemas/microsoft.graph.activityHistoryItem'
          '#microsoft.graph.adhocCall': '#/components/schemas/microsoft.graph.adhocCall'
          '#microsoft.graph.adminConsentRequestPolicy': '#/components/schemas/microsoft.graph.adminConsentRequestPolicy'
          '#microsoft.graph.adminMicrosoft365Apps': '#/components/schemas/microsoft.graph.adminMicrosoft365Apps'
          '#microsoft.graph.adminReportSettings': '#/components/schemas/microsoft.graph.adminReportSettings'
          '#microsoft.graph.agreement': '#/components/schemas/microsoft.graph.agreement'
          '#microsoft.graph.agreementAcceptance': '#/components/schemas/microsoft.graph.agreementAcceptance'
          '#microsoft.graph.agreementFileProperties': '#/components/schemas/microsoft.graph.agreementFileProperties'
          '#microsoft.graph.agreementFile': '#/components/schemas/microsoft.graph.agreementFile'
          '#microsoft.graph.agreementFileLocalization': '#/components/schemas/microsoft.graph.agreementFileLocalization'
          '#microsoft.graph.agreementFileVersion': '#/components/schemas/microsoft.graph.agreementFileVersion'
          '#microsoft.graph.aiInteraction': '#/components/schemas/microsoft.graph.aiInteraction'
          '#microsoft.graph.aiInteractionHistory': '#/components/schemas/microsoft.graph.aiInteractionHistory'
          '#microsoft.graph.aiOnlineMeeting': '#/components/schemas/microsoft.graph.aiOnlineMeeting'
          '#microsoft.graph.aiUser': '#/components/schemas/microsoft.graph.aiUser'
          '#microsoft.graph.alert': '#/components/schemas/microsoft.graph.alert'
          '#microsoft.graph.allowedValue': '#/components/schemas/microsoft.graph.allowedValue'
          '#microsoft.graph.appCatalogs': '#/components/schemas/microsoft.graph.appCatalogs'
          '#microsoft.graph.appConsentApprovalRoute': '#/components/schemas/microsoft.graph.appConsentApprovalRoute'
          '#microsoft.graph.appConsentRequest': '#/components/schemas/microsoft.graph.appConsentRequest'
          '#microsoft.graph.applePushNotificationCertificate': '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
          '#microsoft.graph.applicationTemplate': '#/components/schemas/microsoft.graph.applicationTemplate'
          '#microsoft.graph.appLogCollectionRequest': '#/components/schemas/microsoft.graph.appLogCollectionRequest'
          '#microsoft.graph.approval': '#/components/schemas/microsoft.graph.approval'
          '#microsoft.graph.approvalStage': '#/components/schemas/microsoft.graph.approvalStage'
          '#microsoft.graph.approvedClientApp': '#/components/schemas/microsoft.graph.approvedClientApp'
          '#microsoft.graph.appScope': '#/components/schemas/microsoft.graph.appScope'
          '#microsoft.graph.attachment': '#/components/schemas/microsoft.graph.attachment'
          '#microsoft.graph.fileAttachment': '#/components/schemas/microsoft.graph.fileAttachment'
          '#microsoft.graph.itemAttachment': '#/components/schemas/microsoft.graph.itemAttachment'
          '#microsoft.graph.referenceAttachment': '#/components/schemas/microsoft.graph.referenceAttachment'
          '#microsoft.graph.attachmentBase': '#/components/schemas/microsoft.graph.attachmentBase'
          '#microsoft.graph.taskFileAttachment': '#/components/schemas/microsoft.graph.taskFileAttachment'
          '#microsoft.graph.attachmentSession': '#/components/schemas/microsoft.graph.attachmentSession'
          '#microsoft.graph.attackSimulationRoot': '#/components/schemas/microsoft.graph.attackSimulationRoot'
          '#microsoft.graph.attendanceRecord': '#/components/schemas/microsoft.graph.attendanceRecord'
          '#microsoft.graph.attributeMappingFunctionSchema': '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
          '#microsoft.graph.attributeSet': '#/components/schemas/microsoft.graph.attributeSet'
          '#microsoft.graph.audioRoutingGroup': '#/components/schemas/microsoft.graph.audioRoutingGroup'
          '#microsoft.graph.auditEvent': '#/components/schemas/microsoft.graph.auditEvent'
          '#microsoft.graph.auditLogRoot': '#/components/schemas/microsoft.graph.auditLogRoot'
          '#microsoft.graph.authentication': '#/components/schemas/microsoft.graph.authentication'
          '#microsoft.graph.authenticationCombinationConfiguration': '#/components/schemas/microsoft.graph.authenticationCombinationConfiguration'
          '#microsoft.graph.fido2CombinationConfiguration': '#/components/schemas/microsoft.graph.fido2CombinationConfiguration'
          '#microsoft.graph.x509CertificateCombinationConfiguration': '#/components/schemas/microsoft.graph.x509CertificateCombinationConfiguration'
          '#microsoft.graph.authenticationContextClassReference': '#/components/schemas/microsoft.graph.authenticationContextClassReference'
          '#microsoft.graph.authenticationEventListener': '#/components/schemas/microsoft.graph.authenticationEventListener'
          '#microsoft.graph.onAttributeCollectionListener': '#/components/schemas/microsoft.graph.onAttributeCollectionListener'
          '#microsoft.graph.onAttributeCollectionStartListener': '#/components/schemas/microsoft.graph.onAttributeCollectionStartListener'
          '#microsoft.graph.onAttributeCollectionSubmitListener': '#/components/schemas/microsoft.graph.onAttributeCollectionSubmitListener'
          '#microsoft.graph.onAuthenticationMethodLoadStartListener': '#/components/schemas/microsoft.graph.onAuthenticationMethodLoadStartListener'
          '#microsoft.graph.onEmailOtpSendListener': '#/components/schemas/microsoft.graph.onEmailOtpSendListener'
          '#microsoft.graph.onFraudProtectionLoadStartListener': '#/components/schemas/microsoft.graph.onFraudProtectionLoadStartListener'
          '#microsoft.graph.onInteractiveAuthFlowStartListener': '#/components/schemas/microsoft.graph.onInteractiveAuthFlowStartListener'
          '#microsoft.graph.onPasswordSubmitListener': '#/components/schemas/microsoft.graph.onPasswordSubmitListener'
          '#microsoft.graph.onTokenIssuanceStartListener': '#/components/schemas/microsoft.graph.onTokenIssuanceStartListener'
          '#microsoft.graph.onUserCreateStartListener': '#/components/schemas/microsoft.graph.onUserCreateStartListener'
          '#microsoft.graph.onVerifiedIdClaimValidationListener': '#/components/schemas/microsoft.graph.onVerifiedIdClaimValidationListener'
          '#microsoft.graph.authenticationEventsFlow': '#/components/schemas/microsoft.graph.authenticationEventsFlow'
          '#microsoft.graph.externalUsersSelfServiceSignUpEventsFlow': '#/components/schemas/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow'
          '#microsoft.graph.authenticationFlowsPolicy': '#/components/schemas/microsoft.graph.authenticationFlowsPolicy'
          '#microsoft.graph.authenticationMethod': '#/components/schemas/microsoft.graph.authenticationMethod'
          '#microsoft.graph.emailAuthenticationMethod': '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
          '#microsoft.graph.externalAuthenticationMethod': '#/components/schemas/microsoft.graph.externalAuthenticationMethod'
          '#microsoft.graph.fido2AuthenticationMethod': '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
          '#microsoft.graph.microsoftAuthenticatorAuthenticationMethod': '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethod'
          '#microsoft.graph.passwordAuthenticationMethod': '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
          '#microsoft.graph.phoneAuthenticationMethod': '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
          '#microsoft.graph.platformCredentialAuthenticationMethod': '#/components/schemas/microsoft.graph.platformCredentialAuthenticationMethod'
          '#microsoft.graph.qrCodePinAuthenticationMethod': '#/components/schemas/microsoft.graph.qrCodePinAuthenticationMethod'
          '#microsoft.graph.softwareOathAuthenticationMethod': '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethod'
          '#microsoft.graph.temporaryAccessPassAuthenticationMethod': '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
          '#microsoft.graph.windowsHelloForBusinessAuthenticationMethod': '#/components/schemas/microsoft.graph.windowsHelloForBusinessAuthenticationMethod'
          '#microsoft.graph.authenticationMethodConfiguration': '#/components/schemas/microsoft.graph.authenticationMethodConfiguration'
          '#microsoft.graph.emailAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.emailAuthenticationMethodConfiguration'
          '#microsoft.graph.externalAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.externalAuthenticationMethodConfiguration'
          '#microsoft.graph.fido2AuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.fido2AuthenticationMethodConfiguration'
          '#microsoft.graph.microsoftAuthenticatorAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethodConfiguration'
          '#microsoft.graph.qrCodePinAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.qrCodePinAuthenticationMethodConfiguration'
          '#microsoft.graph.smsAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.smsAuthenticationMethodConfiguration'
          '#microsoft.graph.softwareOathAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethodConfiguration'
          '#microsoft.graph.temporaryAccessPassAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethodConfiguration'
          '#microsoft.graph.verifiableCredentialsAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.verifiableCredentialsAuthenticationMethodConfiguration'
          '#microsoft.graph.voiceAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.voiceAuthenticationMethodConfiguration'
          '#microsoft.graph.x509CertificateAuthenticationMethodConfiguration': '#/components/schemas/microsoft.graph.x509CertificateAuthenticationMethodConfiguration'
          '#microsoft.graph.authenticationMethodModeDetail': '#/components/schemas/microsoft.graph.authenticationMethodModeDetail'
          '#microsoft.graph.authenticationMethodsPolicy': '#/components/schemas/microsoft.graph.authenticationMethodsPolicy'
          '#microsoft.graph.authenticationMethodsRoot': '#/components/schemas/microsoft.graph.authenticationMethodsRoot'
          '#microsoft.graph.authenticationMethodTarget': '#/components/schemas/microsoft.graph.authenticationMethodTarget'
          '#microsoft.graph.microsoftAuthenticatorAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethodTarget'
          '#microsoft.graph.passkeyAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.passkeyAuthenticationMethodTarget'
          '#microsoft.graph.smsAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.smsAuthenticationMethodTarget'
          '#microsoft.graph.verifiableCredentialAuthenticationMethodTarget': '#/components/schemas/microsoft.graph.verifiableCredentialAuthenticationMethodTarget'
          '#microsoft.graph.authenticationStrengthPolicy': '#/components/schemas/microsoft.graph.authenticationStrengthPolicy'
          '#microsoft.graph.authenticationStrengthRoot': '#/components/schemas/microsoft.graph.authenticationStrengthRoot'
          '#microsoft.graph.authoredNote': '#/components/schemas/microsoft.graph.authoredNote'
          '#microsoft.graph.availableAccessPackage': '#/components/schemas/microsoft.graph.availableAccessPackage'
          '#microsoft.graph.backupRestoreRoot': '#/components/schemas/microsoft.graph.backupRestoreRoot'
          '#microsoft.graph.baseItem': '#/components/schemas/microsoft.graph.baseItem'
          '#microsoft.graph.baseSitePage': '#/components/schemas/microsoft.graph.baseSitePage'
          '#microsoft.graph.sitePage': '#/components/schemas/microsoft.graph.sitePage'
          '#microsoft.graph.drive': '#/components/schemas/microsoft.graph.drive'
          '#microsoft.graph.driveItem': '#/components/schemas/microsoft.graph.driveItem'
          '#microsoft.graph.list': '#/components/schemas/microsoft.graph.list'
          '#microsoft.graph.listItem': '#/components/schemas/microsoft.graph.listItem'
          '#microsoft.graph.recycleBin': '#/components/schemas/microsoft.graph.recycleBin'
          '#microsoft.graph.recycleBinItem': '#/components/schemas/microsoft.graph.recycleBinItem'
          '#microsoft.graph.sharedDriveItem': '#/components/schemas/microsoft.graph.sharedDriveItem'
          '#microsoft.graph.site': '#/components/schemas/microsoft.graph.site'
          '#microsoft.graph.baseItemVersion': '#/components/schemas/microsoft.graph.baseItemVersion'
          '#microsoft.graph.driveItemVersion': '#/components/schemas/microsoft.graph.driveItemVersion'
          '#microsoft.graph.listItemVersion': '#/components/schemas/microsoft.graph.listItemVersion'
          '#microsoft.graph.documentSetVersion': '#/components/schemas/microsoft.graph.documentSetVersion'
          '#microsoft.graph.baseMapFeature': '#/components/schemas/microsoft.graph.baseMapFeature'
          '#microsoft.graph.buildingMap': '#/components/schemas/microsoft.graph.buildingMap'
          '#microsoft.graph.fixtureMap': '#/components/schemas/microsoft.graph.fixtureMap'
          '#microsoft.graph.footprintMap': '#/components/schemas/microsoft.graph.footprintMap'
          '#microsoft.graph.levelMap': '#/components/schemas/microsoft.graph.levelMap'
          '#microsoft.graph.sectionMap': '#/components/schemas/microsoft.graph.sectionMap'
          '#microsoft.graph.unitMap': '#/components/schemas/microsoft.graph.unitMap'
          '#microsoft.graph.bitlocker': '#/components/schemas/microsoft.graph.bitlocker'
          '#microsoft.graph.bitlockerRecoveryKey': '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
          '#microsoft.graph.bookingAppointment': '#/components/schemas/microsoft.graph.bookingAppointment'
          '#microsoft.graph.bookingBusiness': '#/components/schemas/microsoft.graph.bookingBusiness'
          '#microsoft.graph.bookingCurrency': '#/components/schemas/microsoft.graph.bookingCurrency'
          '#microsoft.graph.bookingCustomerBase': '#/components/schemas/microsoft.graph.bookingCustomerBase'
          '#microsoft.graph.bookingCustomer': '#/components/schemas/microsoft.graph.bookingCustomer'
          '#microsoft.graph.bookingCustomQuestion': '#/components/schemas/microsoft.graph.bookingCustomQuestion'
          '#microsoft.graph.bookingService': '#/components/schemas/microsoft.graph.bookingService'
          '#microsoft.graph.bookingStaffMemberBase': '#/components/schemas/microsoft.graph.bookingStaffMemberBase'
          '#microsoft.graph.bookingStaffMember': '#/components/schemas/microsoft.graph.bookingStaffMember'
          '#microsoft.graph.browserSharedCookie': '#/components/schemas/microsoft.graph.browserSharedCookie'
          '#microsoft.graph.browserSite': '#/components/schemas/microsoft.graph.browserSite'
          '#microsoft.graph.browserSiteList': '#/components/schemas/microsoft.graph.browserSiteList'
          '#microsoft.graph.browseSessionBase': '#/components/schemas/microsoft.graph.browseSessionBase'
          '#microsoft.graph.oneDriveForBusinessBrowseSession': '#/components/schemas/microsoft.graph.oneDriveForBusinessBrowseSession'
          '#microsoft.graph.sharePointBrowseSession': '#/components/schemas/microsoft.graph.sharePointBrowseSession'
          '#microsoft.graph.bulkUpload': '#/components/schemas/microsoft.graph.bulkUpload'
          '#microsoft.graph.calendar': '#/components/schemas/microsoft.graph.calendar'
          '#microsoft.graph.calendarGroup': '#/components/schemas/microsoft.graph.calendarGroup'
          '#microsoft.graph.calendarPermission': '#/components/schemas/microsoft.graph.calendarPermission'
          '#microsoft.graph.call': '#/components/schemas/microsoft.graph.call'
          '#microsoft.graph.callAiInsight': '#/components/schemas/microsoft.graph.callAiInsight'
          '#microsoft.graph.callEvent': '#/components/schemas/microsoft.graph.callEvent'
          '#microsoft.graph.emergencyCallEvent': '#/components/schemas/microsoft.graph.emergencyCallEvent'
          '#microsoft.graph.callRecording': '#/components/schemas/microsoft.graph.callRecording'
          '#microsoft.graph.callTranscript': '#/components/schemas/microsoft.graph.callTranscript'
          '#microsoft.graph.canvasLayout': '#/components/schemas/microsoft.graph.canvasLayout'
          '#microsoft.graph.caPoliciesDeletableRoot': '#/components/schemas/microsoft.graph.caPoliciesDeletableRoot'
          '#microsoft.graph.certificateBasedAuthConfiguration': '#/components/schemas/microsoft.graph.certificateBasedAuthConfiguration'
          '#microsoft.graph.changeTrackedEntity': '#/components/schemas/microsoft.graph.changeTrackedEntity'
          '#microsoft.graph.dayNote': '#/components/schemas/microsoft.graph.dayNote'
          '#microsoft.graph.openShift': '#/components/schemas/microsoft.graph.openShift'
          '#microsoft.graph.scheduleChangeRequest': '#/components/schemas/microsoft.graph.scheduleChangeRequest'
          '#microsoft.graph.offerShiftRequest': '#/components/schemas/microsoft.graph.offerShiftRequest'
          '#microsoft.graph.swapShiftsChangeRequest': '#/components/schemas/microsoft.graph.swapShiftsChangeRequest'
          '#microsoft.graph.openShiftChangeRequest': '#/components/schemas/microsoft.graph.openShiftChangeRequest'
          '#microsoft.graph.timeOffRequest': '#/components/schemas/microsoft.graph.timeOffRequest'
          '#microsoft.graph.schedulingGroup': '#/components/schemas/microsoft.graph.schedulingGroup'
          '#microsoft.graph.shift': '#/components/schemas/microsoft.graph.shift'
          '#microsoft.graph.shiftPreferences': '#/components/schemas/microsoft.graph.shiftPreferences'
          '#microsoft.graph.timeCard': '#/components/schemas/microsoft.graph.timeCard'
          '#microsoft.graph.timeOff': '#/components/schemas/microsoft.graph.timeOff'
          '#microsoft.graph.timeOffReason': '#/components/schemas/microsoft.graph.timeOffReason'
          '#microsoft.graph.workforceIntegration': '#/components/schemas/microsoft.graph.workforceIntegration'
          '#microsoft.graph.channel': '#/components/schemas/microsoft.graph.channel'
          '#microsoft.graph.chat': '#/components/schemas/microsoft.graph.chat'
          '#microsoft.graph.chatMessage': '#/components/schemas/microsoft.graph.chatMessage'
          '#microsoft.graph.targetedChatMessage': '#/components/schemas/microsoft.graph.targetedChatMessage'
          '#microsoft.graph.chatMessageInfo': '#/components/schemas/microsoft.graph.chatMessageInfo'
          '#microsoft.graph.checklistItem': '#/components/schemas/microsoft.graph.checklistItem'
          '#microsoft.graph.cloudClipboardItem': '#/components/schemas/microsoft.graph.cloudClipboardItem'
          '#microsoft.graph.cloudClipboardRoot': '#/components/schemas/microsoft.graph.cloudClipboardRoot'
          '#microsoft.graph.cloudPC': '#/components/schemas/microsoft.graph.cloudPC'
          '#microsoft.graph.cloudPcAuditEvent': '#/components/schemas/microsoft.graph.cloudPcAuditEvent'
          '#microsoft.graph.cloudPcDeviceImage': '#/components/schemas/microsoft.graph.cloudPcDeviceImage'
          '#microsoft.graph.cloudPcGalleryImage': '#/components/schemas/microsoft.graph.cloudPcGalleryImage'
          '#microsoft.graph.cloudPcOnPremisesConnection': '#/components/schemas/microsoft.graph.cloudPcOnPremisesConnection'
          '#microsoft.graph.cloudPcProvisioningPolicy': '#/components/schemas/microsoft.graph.cloudPcProvisioningPolicy'
          '#microsoft.graph.cloudPcProvisioningPolicyAssignment': '#/components/schemas/microsoft.graph.cloudPcProvisioningPolicyAssignment'
          '#microsoft.graph.cloudPcReport': '#/components/schemas/microsoft.graph.cloudPcReport'
          '#microsoft.graph.cloudPcServicePlan': '#/components/schemas/microsoft.graph.cloudPcServicePlan'
          '#microsoft.graph.cloudPcUserSetting': '#/components/schemas/microsoft.graph.cloudPcUserSetting'
          '#microsoft.graph.cloudPcUserSettingAssignment': '#/components/schemas/microsoft.graph.cloudPcUserSettingAssignment'
          '#microsoft.graph.columnDefinition': '#/components/schemas/microsoft.graph.columnDefinition'
          '#microsoft.graph.columnLink': '#/components/schemas/microsoft.graph.columnLink'
          '#microsoft.graph.commsOperation': '#/components/schemas/microsoft.graph.commsOperation'
          '#microsoft.graph.addLargeGalleryViewOperation': '#/components/schemas/microsoft.graph.addLargeGalleryViewOperation'
          '#microsoft.graph.cancelMediaProcessingOperation': '#/components/schemas/microsoft.graph.cancelMediaProcessingOperation'
          '#microsoft.graph.inviteParticipantsOperation': '#/components/schemas/microsoft.graph.inviteParticipantsOperation'
          '#microsoft.graph.muteParticipantOperation': '#/components/schemas/microsoft.graph.muteParticipantOperation'
          '#microsoft.graph.playPromptOperation': '#/components/schemas/microsoft.graph.playPromptOperation'
          '#microsoft.graph.recordOperation': '#/components/schemas/microsoft.graph.recordOperation'
          '#microsoft.graph.sendDtmfTonesOperation': '#/components/schemas/microsoft.graph.sendDtmfTonesOperation'
          '#microsoft.graph.startHoldMusicOperation': '#/components/schemas/microsoft.graph.startHoldMusicOperation'
          '#microsoft.graph.stopHoldMusicOperation': '#/components/schemas/microsoft.graph.stopHoldMusicOperation'
          '#microsoft.graph.subscribeToToneOperation': '#/components/schemas/microsoft.graph.subscribeToToneOperation'
          '#microsoft.graph.unmuteParticipantOperation': '#/components/schemas/microsoft.graph.unmuteParticipantOperation'
          '#microsoft.graph.updateRecordingStatusOperation': '#/components/schemas/microsoft.graph.updateRecordingStatusOperation'
          '#microsoft.graph.community': '#/components/schemas/microsoft.graph.community'
          '#microsoft.graph.companySubscription': '#/components/schemas/microsoft.graph.companySubscription'
          '#microsoft.graph.complianceManagementPartner': '#/components/schemas/microsoft.graph.complianceManagementPartner'
          '#microsoft.graph.conditionalAccessRoot': '#/components/schemas/microsoft.graph.conditionalAccessRoot'
          '#microsoft.graph.conditionalAccessTemplate': '#/components/schemas/microsoft.graph.conditionalAccessTemplate'
          '#microsoft.graph.configurationBaseline': '#/components/schemas/microsoft.graph.configurationBaseline'
          '#microsoft.graph.configurationDrift': '#/components/schemas/microsoft.graph.configurationDrift'
          '#microsoft.graph.configurationManagement': '#/components/schemas/microsoft.graph.configurationManagement'
          '#microsoft.graph.configurationMonitor': '#/components/schemas/microsoft.graph.configurationMonitor'
          '#microsoft.graph.configurationMonitoringResult': '#/components/schemas/microsoft.graph.configurationMonitoringResult'
          '#microsoft.graph.configurationSnapshotJob': '#/components/schemas/microsoft.graph.configurationSnapshotJob'
          '#microsoft.graph.connectedOrganization': '#/components/schemas/microsoft.graph.connectedOrganization'
          '#microsoft.graph.contactFolder': '#/components/schemas/microsoft.graph.contactFolder'
          '#microsoft.graph.contentActivity': '#/components/schemas/microsoft.graph.contentActivity'
          '#microsoft.graph.contentSharingSession': '#/components/schemas/microsoft.graph.contentSharingSession'
          '#microsoft.graph.contentType': '#/components/schemas/microsoft.graph.contentType'
          '#microsoft.graph.controlConfiguration': '#/components/schemas/microsoft.graph.controlConfiguration'
          '#microsoft.graph.endUserSettings': '#/components/schemas/microsoft.graph.endUserSettings'
          '#microsoft.graph.conversation': '#/components/schemas/microsoft.graph.conversation'
          '#microsoft.graph.conversationMember': '#/components/schemas/microsoft.graph.conversationMember'
          '#microsoft.graph.aadUserConversationMember': '#/components/schemas/microsoft.graph.aadUserConversationMember'
          '#microsoft.graph.anonymousGuestConversationMember': '#/components/schemas/microsoft.graph.anonymousGuestConversationMember'
          '#microsoft.graph.azureCommunicationServicesUserConversationMember': '#/components/schemas/microsoft.graph.azureCommunicationServicesUserConversationMember'
          '#microsoft.graph.microsoftAccountUserConversationMember': '#/components/schemas/microsoft.graph.microsoftAccountUserConversationMember'
          '#microsoft.graph.phoneUserConversationMember': '#/components/schemas/microsoft.graph.phoneUserConversationMember'
          '#microsoft.graph.skypeForBusinessUserConversationMember': '#/components/schemas/microsoft.graph.skypeForBusinessUserConversationMember'
          '#microsoft.graph.skypeUserConversationMember': '#/components/schemas/microsoft.graph.skypeUserConversationMember'
          '#microsoft.graph.conversationThread': '#/components/schemas/microsoft.graph.conversationThread'
          '#microsoft.graph.copilotAdmin': '#/components/schemas/microsoft.graph.copilotAdmin'
          '#microsoft.graph.copilotAdminCatalog': '#/components/schemas/microsoft.graph.copilotAdminCatalog'
          '#microsoft.graph.copilotAdminLimitedMode': '#/components/schemas/microsoft.graph.copilotAdminLimitedMode'
          '#microsoft.graph.copilotAdminSetting': '#/components/schemas/microsoft.graph.copilotAdminSetting'
          '#microsoft.graph.copilotPackage': '#/components/schemas/microsoft.graph.copilotPackage'
          '#microsoft.graph.copilotPackageDetail': '#/components/schemas/microsoft.graph.copilotPackageDetail'
          '#microsoft.graph.copilotReportRoot': '#/components/schemas/microsoft.graph.copilotReportRoot'
          '#microsoft.graph.crossTenantAccessPolicyConfigurationDefault': '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
          '#microsoft.graph.customCalloutExtension': '#/components/schemas/microsoft.graph.customCalloutExtension'
          '#microsoft.graph.accessPackageAssignmentRequestWorkflowExtension': '#/components/schemas/microsoft.graph.accessPackageAssignmentRequestWorkflowExtension'
          '#microsoft.graph.accessPackageAssignmentWorkflowExtension': '#/components/schemas/microsoft.graph.accessPackageAssignmentWorkflowExtension'
          '#microsoft.graph.customAuthenticationExtension': '#/components/schemas/microsoft.graph.customAuthenticationExtension'
          '#microsoft.graph.onAttributeCollectionStartCustomExtension': '#/components/schemas/microsoft.graph.onAttributeCollectionStartCustomExtension'
          '#microsoft.graph.onAttributeCollectionSubmitCustomExtension': '#/components/schemas/microsoft.graph.onAttributeCollectionSubmitCustomExtension'
          '#microsoft.graph.onOtpSendCustomExtension': '#/components/schemas/microsoft.graph.onOtpSendCustomExtension'
          '#microsoft.graph.onPasswordSubmitCustomExtension': '#/components/schemas/microsoft.graph.onPasswordSubmitCustomExtension'
          '#microsoft.graph.onTokenIssuanceStartCustomExtension': '#/components/schemas/microsoft.graph.onTokenIssuanceStartCustomExtension'
          '#microsoft.graph.onVerifiedIdClaimValidationCustomExtension': '#/components/schemas/microsoft.graph.onVerifiedIdClaimValidationCustomExtension'
          '#microsoft.graph.identityGovernance.customTaskExtension': '#/components/schemas/microsoft.graph.identityGovernance.customTaskExtension'
          '#microsoft.graph.customDataProvidedResourceFile': '#/components/schemas/microsoft.graph.customDataProvidedResourceFile'
          '#microsoft.graph.customDataProvidedResourceUploadSession': '#/components/schemas/microsoft.graph.customDataProvidedResourceUploadSession'
          '#microsoft.graph.customDataProvidedResourceAccessReviewUploadSession': '#/components/schemas/microsoft.graph.customDataProvidedResourceAccessReviewUploadSession'
          '#microsoft.graph.customExtensionStageSetting': '#/components/schemas/microsoft.graph.customExtensionStageSetting'
          '#microsoft.graph.customSecurityAttributeDefinition': '#/components/schemas/microsoft.graph.customSecurityAttributeDefinition'
          '#microsoft.graph.dataPolicyOperation': '#/components/schemas/microsoft.graph.dataPolicyOperation'
          '#microsoft.graph.dataSecurityAndGovernance': '#/components/schemas/microsoft.graph.dataSecurityAndGovernance'
          '#microsoft.graph.tenantDataSecurityAndGovernance': '#/components/schemas/microsoft.graph.tenantDataSecurityAndGovernance'
          '#microsoft.graph.userDataSecurityAndGovernance': '#/components/schemas/microsoft.graph.userDataSecurityAndGovernance'
          '#microsoft.graph.delegatedAdminAccessAssignment': '#/components/schemas/microsoft.graph.delegatedAdminAccessAssignment'
          '#microsoft.graph.delegatedAdminCustomer': '#/components/schemas/microsoft.graph.delegatedAdminCustomer'
          '#microsoft.graph.delegatedAdminRelationship': '#/components/schemas/microsoft.graph.delegatedAdminRelationship'
          '#microsoft.graph.resellerDelegatedAdminRelationship': '#/components/schemas/microsoft.graph.resellerDelegatedAdminRelationship'
          '#microsoft.graph.delegatedAdminRelationshipOperation': '#/components/schemas/microsoft.graph.delegatedAdminRelationshipOperation'
          '#microsoft.graph.delegatedAdminRelationshipRequest': '#/components/schemas/microsoft.graph.delegatedAdminRelationshipRequest'
          '#microsoft.graph.delegatedAdminServiceManagementDetail': '#/components/schemas/microsoft.graph.delegatedAdminServiceManagementDetail'
          '#microsoft.graph.delegatedPermissionClassification': '#/components/schemas/microsoft.graph.delegatedPermissionClassification'
          '#microsoft.graph.deletedChat': '#/components/schemas/microsoft.graph.deletedChat'
          '#microsoft.graph.deletedItemContainer': '#/components/schemas/microsoft.graph.deletedItemContainer'
          '#microsoft.graph.deletedTeam': '#/components/schemas/microsoft.graph.deletedTeam'
          '#microsoft.graph.deltaParticipants': '#/components/schemas/microsoft.graph.deltaParticipants'
          '#microsoft.graph.detectedApp': '#/components/schemas/microsoft.graph.detectedApp'
          '#microsoft.graph.deviceCategory': '#/components/schemas/microsoft.graph.deviceCategory'
          '#microsoft.graph.deviceComplianceActionItem': '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
          '#microsoft.graph.deviceComplianceDeviceOverview': '#/components/schemas/microsoft.graph.deviceComplianceDeviceOverview'
          '#microsoft.graph.deviceComplianceDeviceStatus': '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
          '#microsoft.graph.deviceCompliancePolicy': '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
          '#microsoft.graph.androidCompliancePolicy': '#/components/schemas/microsoft.graph.androidCompliancePolicy'
          '#microsoft.graph.androidWorkProfileCompliancePolicy': '#/components/schemas/microsoft.graph.androidWorkProfileCompliancePolicy'
          '#microsoft.graph.iosCompliancePolicy': '#/components/schemas/microsoft.graph.iosCompliancePolicy'
          '#microsoft.graph.macOSCompliancePolicy': '#/components/schemas/microsoft.graph.macOSCompliancePolicy'
          '#microsoft.graph.windows10CompliancePolicy': '#/components/schemas/microsoft.graph.windows10CompliancePolicy'
          '#microsoft.graph.windows10MobileCompliancePolicy': '#/components/schemas/microsoft.graph.windows10MobileCompliancePolicy'
          '#microsoft.graph.windows81CompliancePolicy': '#/components/schemas/microsoft.graph.windows81CompliancePolicy'
          '#microsoft.graph.windowsPhone81CompliancePolicy': '#/components/schemas/microsoft.graph.windowsPhone81CompliancePolicy'
          '#microsoft.graph.deviceCompliancePolicyAssignment': '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
          '#microsoft.graph.deviceCompliancePolicyDeviceStateSummary': '#/components/schemas/microsoft.graph.deviceCompliancePolicyDeviceStateSummary'
          '#microsoft.graph.deviceCompliancePolicySettingStateSummary': '#/components/schemas/microsoft.graph.deviceCompliancePolicySettingStateSummary'
          '#microsoft.graph.deviceCompliancePolicyState': '#/components/schemas/microsoft.graph.deviceCompliancePolicyState'
          '#microsoft.graph.deviceComplianceScheduledActionForRule': '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
          '#microsoft.graph.deviceComplianceSettingState': '#/components/schemas/microsoft.graph.deviceComplianceSettingState'
          '#microsoft.graph.deviceComplianceUserOverview': '#/components/schemas/microsoft.graph.deviceComplianceUserOverview'
          '#microsoft.graph.deviceComplianceUserStatus': '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
          '#microsoft.graph.deviceConfiguration': '#/components/schemas/microsoft.graph.deviceConfiguration'
          '#microsoft.graph.androidCustomConfiguration': '#/components/schemas/microsoft.graph.androidCustomConfiguration'
          '#microsoft.graph.androidGeneralDeviceConfiguration': '#/components/schemas/microsoft.graph.androidGeneralDeviceConfiguration'
          '#microsoft.graph.androidWorkProfileCustomConfiguration': '#/components/schemas/microsoft.graph.androidWorkProfileCustomConfiguration'
          '#microsoft.graph.androidWorkProfileGeneralDeviceConfiguration': '#/components/schemas/microsoft.graph.androidWorkProfileGeneralDeviceConfiguration'
          '#microsoft.graph.appleDeviceFeaturesConfigurationBase': '#/components/schemas/microsoft.graph.appleDeviceFeaturesConfigurationBase'
          '#microsoft.graph.iosDeviceFeaturesConfiguration': '#/components/schemas/microsoft.graph.iosDeviceFeaturesConfiguration'
          '#microsoft.graph.macOSDeviceFeaturesConfiguration': '#/components/schemas/microsoft.graph.macOSDeviceFeaturesConfiguration'
          '#microsoft.graph.editionUpgradeConfiguration': '#/components/schemas/microsoft.graph.editionUpgradeConfiguration'
          '#microsoft.graph.iosCertificateProfile': '#/components/schemas/microsoft.graph.iosCertificateProfile'
          '#microsoft.graph.iosCustomConfiguration': '#/components/schemas/microsoft.graph.iosCustomConfiguration'
          '#microsoft.graph.iosGeneralDeviceConfiguration': '#/components/schemas/microsoft.graph.iosGeneralDeviceConfiguration'
          '#microsoft.graph.iosUpdateConfiguration': '#/components/schemas/microsoft.graph.iosUpdateConfiguration'
          '#microsoft.graph.macOSCustomConfiguration': '#/components/schemas/microsoft.graph.macOSCustomConfiguration'
          '#microsoft.graph.macOSGeneralDeviceConfiguration': '#/components/schemas/microsoft.graph.macOSGeneralDeviceConfiguration'
          '#microsoft.graph.sharedPCConfiguration': '#/components/schemas/microsoft.graph.sharedPCConfiguration'
          '#microsoft.graph.windows10CustomConfiguration': '#/components/schemas/microsoft.graph.windows10CustomConfiguration'
          '#microsoft.graph.windows10EndpointProtectionConfiguration': '#/components/schemas/microsoft.graph.windows10EndpointProtectionConfiguration'
          '#microsoft.graph.windows10EnterpriseModernAppManagementConfiguration': '#/components/schemas/microsoft.graph.windows10EnterpriseModernAppManagementConfiguration'
          '#microsoft.graph.windows10GeneralConfiguration': '#/components/schemas/microsoft.graph.windows10GeneralConfiguration'
          '#microsoft.graph.windows10SecureAssessmentConfiguration': '#/components/schemas/microsoft.graph.windows10SecureAssessmentConfiguration'
          '#microsoft.graph.windows10TeamGeneralConfiguration': '#/components/schemas/microsoft.graph.windows10TeamGeneralConfiguration'
          '#microsoft.graph.windows81GeneralConfiguration': '#/components/schemas/microsoft.graph.windows81GeneralConfiguration'
          '#microsoft.graph.windowsDefenderAdvancedThreatProtectionConfiguration': '#/components/schemas/microsoft.graph.windowsDefenderAdvancedThreatProtectionConfiguration'
          '#microsoft.graph.windowsPhone81CustomConfiguration': '#/components/schemas/microsoft.graph.windowsPhone81CustomConfiguration'
          '#microsoft.graph.windowsPhone81GeneralConfiguration': '#/components/schemas/microsoft.graph.windowsPhone81GeneralConfiguration'
          '#microsoft.graph.windowsUpdateForBusinessConfiguration': '#/components/schemas/microsoft.graph.windowsUpdateForBusinessConfiguration'
          '#microsoft.graph.deviceConfigurationAssignment': '#/components/schemas/microsoft.graph.deviceConfigurationAssignment'
          '#microsoft.graph.deviceConfigurationDeviceOverview': '#/components/schemas/microsoft.graph.deviceConfigurationDeviceOverview'
          '#microsoft.graph.deviceConfigurationDeviceStateSummary': '#/components/schemas/microsoft.graph.deviceConfigurationDeviceStateSummary'
          '#microsoft.graph.deviceConfigurationDeviceStatus': '#/components/schemas/microsoft.graph.deviceConfigurationDeviceStatus'
          '#microsoft.graph.deviceConfigurationState': '#/components/schemas/microsoft.graph.deviceConfigurationState'
          '#microsoft.graph.deviceConfigurationUserOverview': '#/components/schemas/microsoft.graph.deviceConfigurationUserOverview'
          '#microsoft.graph.deviceConfigurationUserStatus': '#/components/schemas/microsoft.graph.deviceConfigurationUserStatus'
          '#microsoft.graph.deviceEnrollmentConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
          '#microsoft.graph.deviceEnrollmentLimitConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentLimitConfiguration'
          '#microsoft.graph.deviceEnrollmentPlatformRestrictionsConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentPlatformRestrictionsConfiguration'
          '#microsoft.graph.deviceEnrollmentWindowsHelloForBusinessConfiguration': '#/components/schemas/microsoft.graph.deviceEnrollmentWindowsHelloForBusinessConfiguration'
          '#microsoft.graph.windows10EnrollmentCompletionPageConfiguration': '#/components/schemas/microsoft.graph.windows10EnrollmentCompletionPageConfiguration'
          '#microsoft.graph.deviceInstallState': '#/components/schemas/microsoft.graph.deviceInstallState'
          '#microsoft.graph.deviceLocalCredentialInfo': '#/components/schemas/microsoft.graph.deviceLocalCredentialInfo'
          '#microsoft.graph.deviceLogCollectionResponse': '#/components/schemas/microsoft.graph.deviceLogCollectionResponse'
          '#microsoft.graph.deviceManagement': '#/components/schemas/microsoft.graph.deviceManagement'
          '#microsoft.graph.deviceManagementCachedReportConfiguration': '#/components/schemas/microsoft.graph.deviceManagementCachedReportConfiguration'
          '#microsoft.graph.deviceManagementExchangeConnector': '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
          '#microsoft.graph.deviceManagementExportJob': '#/components/schemas/microsoft.graph.deviceManagementExportJob'
          '#microsoft.graph.deviceManagementPartner': '#/components/schemas/microsoft.graph.deviceManagementPartner'
          '#microsoft.graph.deviceManagementReports': '#/components/schemas/microsoft.graph.deviceManagementReports'
          '#microsoft.graph.deviceManagementTroubleshootingEvent': '#/components/schemas/microsoft.graph.deviceManagementTroubleshootingEvent'
          '#microsoft.graph.enrollmentTroubleshootingEvent': '#/components/schemas/microsoft.graph.enrollmentTroubleshootingEvent'
          '#microsoft.graph.deviceRegistrationPolicy': '#/components/schemas/microsoft.graph.deviceRegistrationPolicy'
          '#microsoft.graph.directory': '#/components/schemas/microsoft.graph.directory'
          '#microsoft.graph.directoryAudit': '#/components/schemas/microsoft.graph.directoryAudit'
          '#microsoft.graph.directoryDefinition': '#/components/schemas/microsoft.graph.directoryDefinition'
          '#microsoft.graph.directoryObject': '#/components/schemas/microsoft.graph.directoryObject'
          '#microsoft.graph.administrativeUnit': '#/components/schemas/microsoft.graph.administrativeUnit'
          '#microsoft.graph.application': '#/components/schemas/microsoft.graph.application'
          '#microsoft.graph.agentIdentityBlueprint': '#/components/schemas/microsoft.graph.agentIdentityBlueprint'
          '#microsoft.graph.appRoleAssignment': '#/components/schemas/microsoft.graph.appRoleAssignment'
          '#microsoft.graph.certificateAuthorityDetail': '#/components/schemas/microsoft.graph.certificateAuthorityDetail'
          '#microsoft.graph.certificateBasedAuthPki': '#/components/schemas/microsoft.graph.certificateBasedAuthPki'
          '#microsoft.graph.contract': '#/components/schemas/microsoft.graph.contract'
          '#microsoft.graph.device': '#/components/schemas/microsoft.graph.device'
          '#microsoft.graph.directoryObjectPartnerReference': '#/components/schemas/microsoft.graph.directoryObjectPartnerReference'
          '#microsoft.graph.directoryRole': '#/components/schemas/microsoft.graph.directoryRole'
          '#microsoft.graph.directoryRoleTemplate': '#/components/schemas/microsoft.graph.directoryRoleTemplate'
          '#microsoft.graph.endpoint': '#/components/schemas/microsoft.graph.endpoint'
          '#microsoft.graph.extensionProperty': '#/components/schemas/microsoft.graph.extensionProperty'
          '#microsoft.graph.federatedTokenValidationPolicy': '#/components/schemas/microsoft.graph.federatedTokenValidationPolicy'
          '#microsoft.graph.group': '#/components/schemas/microsoft.graph.group'
          '#microsoft.graph.groupSettingTemplate': '#/components/schemas/microsoft.graph.groupSettingTemplate'
          '#microsoft.graph.mailbox': '#/components/schemas/microsoft.graph.mailbox'
          '#microsoft.graph.multiTenantOrganizationMember': '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
          '#microsoft.graph.organization': '#/components/schemas/microsoft.graph.organization'
          '#microsoft.graph.orgContact': '#/components/schemas/microsoft.graph.orgContact'
          '#microsoft.graph.policyBase': '#/components/schemas/microsoft.graph.policyBase'
          '#microsoft.graph.appManagementPolicy': '#/components/schemas/microsoft.graph.appManagementPolicy'
          '#microsoft.graph.authorizationPolicy': '#/components/schemas/microsoft.graph.authorizationPolicy'
          '#microsoft.graph.crossTenantAccessPolicy': '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
          '#microsoft.graph.identitySecurityDefaultsEnforcementPolicy': '#/components/schemas/microsoft.graph.identitySecurityDefaultsEnforcementPolicy'
          '#microsoft.graph.permissionGrantPolicy': '#/components/schemas/microsoft.graph.permissionGrantPolicy'
          '#microsoft.graph.stsPolicy': '#/components/schemas/microsoft.graph.stsPolicy'
          '#microsoft.graph.activityBasedTimeoutPolicy': '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
          '#microsoft.graph.claimsMappingPolicy': '#/components/schemas/microsoft.graph.claimsMappingPolicy'
          '#microsoft.graph.homeRealmDiscoveryPolicy': '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
          '#microsoft.graph.tokenIssuancePolicy': '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
          '#microsoft.graph.tokenLifetimePolicy': '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
          '#microsoft.graph.tenantAppManagementPolicy': '#/components/schemas/microsoft.graph.tenantAppManagementPolicy'
          '#microsoft.graph.remoteTenantGroup': '#/components/schemas/microsoft.graph.remoteTenantGroup'
          '#microsoft.graph.resourceSpecificPermissionGrant': '#/components/schemas/microsoft.graph.resourceSpecificPermissionGrant'
          '#microsoft.graph.servicePrincipal': '#/components/schemas/microsoft.graph.servicePrincipal'
          '#microsoft.graph.agentIdentity': '#/components/schemas/microsoft.graph.agentIdentity'
          '#microsoft.graph.agentIdentityBlueprintPrincipal': '#/components/schemas/microsoft.graph.agentIdentityBlueprintPrincipal'
          '#microsoft.graph.user': '#/components/schemas/microsoft.graph.user'
          '#microsoft.graph.agentUser': '#/components/schemas/microsoft.graph.agentUser'
          '#microsoft.graph.domain': '#/components/schemas/microsoft.graph.domain'
          '#microsoft.graph.domainDnsRecord': '#/components/schemas/microsoft.graph.domainDnsRecord'
          '#microsoft.graph.domainDnsCnameRecord': '#/components/schemas/microsoft.graph.domainDnsCnameRecord'
          '#microsoft.graph.domainDnsMxRecord': '#/components/schemas/microsoft.graph.domainDnsMxRecord'
          '#microsoft.graph.domainDnsSrvRecord': '#/components/schemas/microsoft.graph.domainDnsSrvRecord'
          '#microsoft.graph.domainDnsTxtRecord': '#/components/schemas/microsoft.graph.domainDnsTxtRecord'
          '#microsoft.graph.domainDnsUnavailableRecord': '#/components/schemas/microsoft.graph.domainDnsUnavailableRecord'
          '#microsoft.graph.eBookInstallSummary': '#/components/schemas/microsoft.graph.eBookInstallSummary'
          '#microsoft.graph.edge': '#/components/schemas/microsoft.graph.edge'
          '#microsoft.graph.educationAssignment': '#/components/schemas/microsoft.graph.educationAssignment'
          '#microsoft.graph.educationAssignmentDefaults': '#/components/schemas/microsoft.graph.educationAssignmentDefaults'
          '#microsoft.graph.educationAssignmentResource': '#/components/schemas/microsoft.graph.educationAssignmentResource'
          '#microsoft.graph.educationAssignmentSettings': '#/components/schemas/microsoft.graph.educationAssignmentSettings'
          '#microsoft.graph.educationCategory': '#/components/schemas/microsoft.graph.educationCategory'
          '#microsoft.graph.educationClass': '#/components/schemas/microsoft.graph.educationClass'
          '#microsoft.graph.educationGradingCategory': '#/components/schemas/microsoft.graph.educationGradingCategory'
          '#microsoft.graph.educationGradingScheme': '#/components/schemas/microsoft.graph.educationGradingScheme'
          '#microsoft.graph.educationModule': '#/components/schemas/microsoft.graph.educationModule'
          '#microsoft.graph.educationModuleResource': '#/components/schemas/microsoft.graph.educationModuleResource'
          '#microsoft.graph.educationOrganization': '#/components/schemas/microsoft.graph.educationOrganization'
          '#microsoft.graph.educationSchool': '#/components/schemas/microsoft.graph.educationSchool'
          '#microsoft.graph.educationOutcome': '#/components/schemas/microsoft.graph.educationOutcome'
          '#microsoft.graph.educationFeedbackOutcome': '#/components/schemas/microsoft.graph.educationFeedbackOutcome'
          '#microsoft.graph.educationFeedbackResourceOutcome': '#/components/schemas/microsoft.graph.educationFeedbackResourceOutcome'
          '#microsoft.graph.educationPointsOutcome': '#/components/schemas/microsoft.graph.educationPointsOutcome'
          '#microsoft.graph.educationRubricOutcome': '#/components/schemas/microsoft.graph.educationRubricOutcome'
          '#microsoft.graph.educationRubric': '#/components/schemas/microsoft.graph.educationRubric'
          '#microsoft.graph.educationSubmission': '#/components/schemas/microsoft.graph.educationSubmission'
          '#microsoft.graph.educationSubmissionResource': '#/components/schemas/microsoft.graph.educationSubmissionResource'
          '#microsoft.graph.educationUser': '#/components/schemas/microsoft.graph.educationUser'
          '#microsoft.graph.emailNotificationsSetting': '#/components/schemas/microsoft.graph.emailNotificationsSetting'
          '#microsoft.graph.employeeExperienceUser': '#/components/schemas/microsoft.graph.employeeExperienceUser'
          '#microsoft.graph.endUserNotification': '#/components/schemas/microsoft.graph.endUserNotification'
          '#microsoft.graph.endUserNotificationDetail': '#/components/schemas/microsoft.graph.endUserNotificationDetail'
          '#microsoft.graph.engagementConversation': '#/components/schemas/microsoft.graph.engagementConversation'
[...]
