openapi: 3.0.4
info:
  title: DeviceManagement.Functions
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/deviceManagement/getEffectivePermissions(scope=''{scope}'')':
    get:
      tags:
        - deviceManagement.deviceManagement.Functions
      summary: Invoke function getEffectivePermissions
      description: Retrieves the effective permissions of the currently authenticated user
      operationId: deviceManagement.getEffectivePermissions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/microsoft.graph.rolePermission'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/userExperienceAnalyticsSummarizeWorkFromAnywhereDevices():
    get:
      tags:
        - deviceManagement.deviceManagement.Functions
      summary: Invoke function userExperienceAnalyticsSummarizeWorkFromAnywhereDevices
      operationId: deviceManagement.userExperienceAnalyticsSummarizeWorkFromAnywhereDevices
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsWorkFromAnywhereDevicesSummary'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/verifyWindowsEnrollmentAutoDiscovery(domainName=''{domainName}'')':
    get:
      tags:
        - deviceManagement.deviceManagement.Functions
      summary: Invoke function verifyWindowsEnrollmentAutoDiscovery
      operationId: deviceManagement.verifyWindowsEnrollmentAutoDiscovery
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
components:
  schemas:
    BaseCollectionPaginationCountResponse:
      title: Base collection pagination and count responses
      type: object
      properties:
        '@odata.count':
          type: integer
          format: int64
          nullable: true
        '@odata.nextLink':
          type: string
          nullable: true
    microsoft.graph.rolePermission:
      title: rolePermission
      required:
        - '@odata.type'
      type: object
      properties:
        resourceActions:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.resourceAction'
          description: Resource Actions each containing a set of allowed and not allowed permissions.
        '@odata.type':
          type: string
      description: Contains the set of ResourceActions determining the allowed and not allowed permissions for each role.
    microsoft.graph.userExperienceAnalyticsWorkFromAnywhereDevicesSummary:
      title: userExperienceAnalyticsWorkFromAnywhereDevicesSummary
      required:
        - '@odata.type'
      type: object
      properties:
        autopilotDevicesSummary:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsAutopilotDevicesSummary'
            - type: object
              nullable: true
          description: The user experience analytics work from anywhere Autopilot devices summary. Read-only.
        cloudIdentityDevicesSummary:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsCloudIdentityDevicesSummary'
            - type: object
              nullable: true
          description: The user experience analytics work from anywhere Cloud Identity devices summary. Read-only.
        cloudManagementDevicesSummary:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsCloudManagementDevicesSummary'
            - type: object
              nullable: true
          description: The user experience analytics work from anywhere Cloud management devices summary. Read-only.
        coManagedDevices:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: Total number of co-managed devices. Read-only. Valid values -2147483648 to 2147483647
          format: int32
        devicesNotAutopilotRegistered:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of intune devices that are not autopilot registerd. Read-only. Valid values -2147483648 to 2147483647
          format: int32
        devicesWithoutAutopilotProfileAssigned:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of intune devices not autopilot profile assigned. Read-only. Valid values -2147483648 to 2147483647
          format: int32
        devicesWithoutCloudIdentity:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of devices that are not cloud identity. Read-only. Valid values -2147483648 to 2147483647
          format: int32
        intuneDevices:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of intune devices that are not autopilot registerd. Read-only. Valid values -2147483648 to 2147483647
          format: int32
        tenantAttachDevices:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: Total count of tenant attach devices. Read-only. Valid values -2147483648 to 2147483647
          format: int32
        totalDevices:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The total count of devices. Read-only. Valid values -2147483648 to 2147483647
          format: int32
        unsupportedOSversionDevices:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of Windows 10 devices that have unsupported OS versions. Read-only. Valid values -2147483648 to 2147483647
          format: int32
        windows10Devices:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of windows 10 devices. Read-only. Valid values -2147483648 to 2147483647
          format: int32
        windows10DevicesSummary:
          anyOf:
            - $ref: '#/components/schemas/microsoft.graph.userExperienceAnalyticsWindows10DevicesSummary'
            - type: object
              nullable: true
          description: The user experience analytics work from anywhere Windows 10 devices summary. Read-only.
        windows10DevicesWithoutTenantAttach:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of windows 10 devices that are Intune and co-managed. Read-only. Valid values -2147483648 to 2147483647
          format: int32
        '@odata.type':
          type: string
      description: The user experience analytics Work From Anywhere metrics devices summary.
    microsoft.graph.resourceAction:
      title: resourceAction
      required:
        - '@odata.type'
      type: object
      properties:
        allowedResourceActions:
          type: array
          items:
            type: string
            nullable: true
          description: Allowed Actions
        notAllowedResourceActions:
          type: array
          items:
            type: string
            nullable: true
          description: Not Allowed Actions.
        '@odata.type':
          type: string
      description: Set of allowed and not allowed actions for a resource.
    microsoft.graph.userExperienceAnalyticsAutopilotDevicesSummary:
      title: userExperienceAnalyticsAutopilotDevicesSummary
      required:
        - '@odata.type'
      type: object
      properties:
        devicesNotAutopilotRegistered:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of intune devices that are not autopilot registerd. Read-only.
          format: int32
        devicesWithoutAutopilotProfileAssigned:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of intune devices not autopilot profile assigned. Read-only.
          format: int32
        totalWindows10DevicesWithoutTenantAttached:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of windows 10 devices that are Intune and co-managed. Read-only.
          format: int32
        '@odata.type':
          type: string
      description: The user experience analytics summary of Devices not windows autopilot ready.
    microsoft.graph.userExperienceAnalyticsCloudIdentityDevicesSummary:
      title: userExperienceAnalyticsCloudIdentityDevicesSummary
      required:
        - '@odata.type'
      type: object
      properties:
        deviceWithoutCloudIdentityCount:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of devices that are not cloud identity. Read-only.
          format: int32
        '@odata.type':
          type: string
      description: The user experience analytics work from anywhere cloud identity devices summary.
    microsoft.graph.userExperienceAnalyticsCloudManagementDevicesSummary:
      title: userExperienceAnalyticsCloudManagementDevicesSummary
      required:
        - '@odata.type'
      type: object
      properties:
        coManagedDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: Total number of  co-managed devices. Read-only.
          format: int32
        intuneDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of intune devices that are not autopilot registerd. Read-only.
          format: int32
        tenantAttachDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: Total count of tenant attach devices. Read-only.
          format: int32
        '@odata.type':
          type: string
      description: The user experience work from anywhere Cloud management devices summary.
    microsoft.graph.userExperienceAnalyticsWindows10DevicesSummary:
      title: userExperienceAnalyticsWindows10DevicesSummary
      required:
        - '@odata.type'
      type: object
      properties:
        unsupportedOSversionDeviceCount:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The count of Windows 10 devices that have unsupported OS versions. Read-only.
          format: int32
        '@odata.type':
          type: string
      description: The user experience analytics work from anywhere Windows 10 devices summary.
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
    microsoft.graph.ODataErrors.InnerError:
      title: InnerError
      required:
        - '@odata.type'
      type: object
      properties:
        request-id:
          type: string
          description: Request Id as tracked internally by the service
          nullable: true
        client-request-id:
          type: string
          description: Client request Id as sent by the client application.
          nullable: true
        date:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: Date when the error occured.
          format: date-time
          nullable: true
        '@odata.type':
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]