openapi: 3.0.4
info:
  title: Identity.SignIns
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /dataPolicyOperations:
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get dataPolicyOperation
      description: Retrieve the properties of a dataPolicyOperation object.
      operationId: dataPolicyOperations.dataPolicyOperation.ListDataPolicyOperation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.dataPolicyOperationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Add new entity to dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation.CreateDataPolicyOperation
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/dataPolicyOperations/{dataPolicyOperation-id}':
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get dataPolicyOperation
      description: Retrieve the properties of a dataPolicyOperation object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/datapolicyoperation-get?view=graph-rest-1.0
      operationId: dataPolicyOperations.dataPolicyOperation.GetDataPolicyOperation
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Update entity in dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation.UpdateDataPolicyOperation
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Delete entity from dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation.DeleteDataPolicyOperation
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /dataPolicyOperations/$count:
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get the number of the resource
      operationId: dataPolicyOperations.GetCount-b129
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /identity:
    get:
      tags:
        - identity.identityContainer
      summary: Get identity
      operationId: identity.identityContainer.GetIdentityContainer
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityContainer'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.identityContainer
      summary: Update identity
      operationId: identity.identityContainer.UpdateIdentityContainer
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityContainer'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityContainer'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/apiConnectors:
    get:
      tags:
        - identity.identityApiConnector
      summary: List identityApiConnectors
      description: Read the properties of an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-list?view=graph-rest-1.0
      operationId: identity.ListApiConnectors
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityApiConnectorCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.identityApiConnector
      summary: Create identityApiConnector
      description: Create a new identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-create?view=graph-rest-1.0
      operationId: identity.CreateApiConnectors
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/apiConnectors/{identityApiConnector-id}':
    get:
      tags:
        - identity.identityApiConnector
      summary: Get identityApiConnector
      description: Read the properties of an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-get?view=graph-rest-1.0
      operationId: identity.GetApiConnectors
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.identityApiConnector
      summary: Update identityApiConnector
      description: Update the properties of an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-update?view=graph-rest-1.0
      operationId: identity.UpdateApiConnectors
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.identityApiConnector
      summary: Delete identityApiConnector
      description: Delete an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-delete?view=graph-rest-1.0
      operationId: identity.DeleteApiConnectors
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/apiConnectors/{identityApiConnector-id}/uploadClientCertificate':
    post:
      tags:
        - identity.identityApiConnector
      summary: Invoke action uploadClientCertificate
      description: Upload a PKCS 12 format key (.pfx) to an API connector's authentication configuration. The input is a base-64 encoded value of the PKCS 12 certificate contents. This method returns an apiConnector.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-uploadclientcertificate?view=graph-rest-1.0
      operationId: identity.apiConnectors.identityApiConnector.uploadClientCertificate
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                pkcs12Value:
                  type: string
                  nullable: true
                password:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identity/apiConnectors/$count:
    get:
      tags:
        - identity.identityApiConnector
      summary: Get the number of the resource
      operationId: identity.apiConnectors.GetCount-7133
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /identity/authenticationEventListeners:
    get:
      tags:
        - identity.authenticationEventListener
      summary: List authenticationEventListeners
      description: 'Get a list of the authenticationEventListener objects and their properties. The following derived types are supported:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-list-authenticationeventlisteners?view=graph-rest-1.0
      operationId: identity.ListAuthenticationEventListeners
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authenticationEventListenerCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventListener
      summary: Create authenticationEventListener
      description: Create a new authenticationEventListener object. You can create one of the following subtypes that are derived from authenticationEventListener.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-post-authenticationeventlisteners?view=graph-rest-1.0
      operationId: identity.CreateAuthenticationEventListeners
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventListeners/{authenticationEventListener-id}':
    get:
      tags:
        - identity.authenticationEventListener
      summary: Get authenticationEventListener
      description: Read the properties and relationships of an authenticationEventListener object. The @odata.type property in the response object indicates the type of the authenticationEventListener object. The following derived types are currently supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventlistener-get?view=graph-rest-1.0
      operationId: identity.GetAuthenticationEventListeners
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.authenticationEventListener
      summary: Update authenticationEventListener
      description: Update the properties of an authenticationEventListener object. You must specify the @odata.type property and the value of the authenticationEventListener object type to update. The following derived types are currently supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventlistener-update?view=graph-rest-1.0
      operationId: identity.UpdateAuthenticationEventListeners
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventListener
      summary: Delete authenticationEventListener
      description: Delete an authenticationEventListener object. The following derived types are currently supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventlistener-delete?view=graph-rest-1.0
      operationId: identity.DeleteAuthenticationEventListeners
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/authenticationEventListeners/$count:
    get:
      tags:
        - identity.authenticationEventListener
      summary: Get the number of the resource
      operationId: identity.authenticationEventListeners.GetCount-3038
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /identity/authenticationEventsFlows:
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List authenticationEventsFlows
      description: "Get a collection of authentication events policies that are derived from authenticationEventsFlow. The following derived subtypes are supported: \r\n- externalUsersSelfServiceSignupEventsFlow"
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-list-authenticationeventsflows?view=graph-rest-1.0
      operationId: identity.ListAuthenticationEventsFlows
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authenticationEventsFlowCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventsFlow
      summary: Create authenticationEventsFlow
      description: "Create a new authenticationEventsFlow object that is of the type specified in the request body. The following derived subtypes are supported:\r\n- externalUsersSelfServiceSignupEventsFlow object type."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-post-authenticationeventsflows?view=graph-rest-1.0
      operationId: identity.CreateAuthenticationEventsFlows
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationEventsFlow'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventsFlow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get authenticationEventsFlow
      description: "Retrieve the properties and relationships of a specific authenticationEventsFlow object by ID. The @odata.type property in the response object indicates the type of the object, which can be one of the following derived subtypes:\r\n- externalUsersSelfServiceSignupEventsFlow"
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventsflow-get?view=graph-rest-1.0
      operationId: identity.GetAuthenticationEventsFlows
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventsFlow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.authenticationEventsFlow
      summary: Update authenticationEventsFlow
      description: "Update the properties of an authenticationEventsFlow object by ID. You must specify the @odata.type property and the value of the authenticationEventsFlow object type to update. The following derived subtypes are supported:\r\n- externalUsersSelfServiceSignupEventsFlow"
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventsflow-update?view=graph-rest-1.0
      operationId: identity.UpdateAuthenticationEventsFlows
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationEventsFlow'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventsFlow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete authenticationEventsFlow
      description: "Delete a specific authenticationEventsFlow resource by ID. This operation also removes or unlinks all applications from the flow, which disables the customized authentication experience defined for the application.  The following derived subtypes are supported:\r\n- externalUsersSelfServiceSignupEventsFlow"
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventsflow-delete?view=graph-rest-1.0
      operationId: identity.DeleteAuthenticationEventsFlows
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get conditions property value
      description: The conditions representing the context of the authentication request that's used to decide whether the events policy is invoked.  Supports $filter (eq). See support for filtering on user flows for syntax information.
      operationId: identity.authenticationEventsFlows.GetConditions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditions'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List includeApplications (for a user flow)
      description: 'List the applications linked to an external identities self-service sign up user flow that''s represented by an externalUsersSelfServiceSignupEventsFlow object. These are the applications for which the authentication experience that''s defined by the user flow is enabled. To find the user flow that''s linked to an application, see Example 4: List user flow associated with specific application ID.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationconditionsapplications-list-includeapplications?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlows.ListIncludeApplications
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authenticationConditionApplicationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventsFlow
      summary: Add includeApplication (to a user flow)
      description: 'Add or link an application to a user flow, or authenticationEventsFlow. This enables the authentication experience defined by the user flow to be enabled for the application. An application can only be linked to one user flow. The app must have an associated service principal in the tenant.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationconditionsapplications-post-includeapplications?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlows.CreateIncludeApplications
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications/{authenticationConditionApplication-appId}':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get includeApplications from identity
      operationId: identity.authenticationEventsFlows.GetIncludeApplications
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.authenticationEventsFlow
      summary: Update the navigation property includeApplications in identity
      operationId: identity.authenticationEventsFlows.UpdateIncludeApplications
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete authenticationConditionApplication (from a user flow)
      description: Remove or unlink an application from an authenticationEventsFlow object. This disables the customized authentication experience defined for the application.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationconditionapplication-delete?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlows.DeleteIncludeApplications
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/conditions/applications/includeApplications/$count':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.authenticationEventsFlows.includeApplications.GetCount-656e
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the item of type microsoft.graph.authenticationEventsFlow as microsoft.graph.externalUsersSelfServiceSignUpEventsFlow
      operationId: identity.GetAuthenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get conditions property value
      description: The conditions representing the context of the authentication request that's used to decide whether the events policy is invoked.  Supports $filter (eq). See support for filtering on user flows for syntax information.
      operationId: identity.authenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow.GetConditions
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditions'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get includeApplications from identity
      operationId: identity.authenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow.ListIncludeApplications
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authenticationConditionApplicationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventsFlow
      summary: Create new navigation property to includeApplications for identity
      operationId: identity.authenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow.CreateIncludeApplications
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications/{authenticationConditionApplication-appId}':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get includeApplications from identity
      operationId: identity.authenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow.GetIncludeApplications
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.authenticationEventsFlow
      summary: Update the navigation property includeApplications in identity
      operationId: identity.authenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow.UpdateIncludeApplications
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete navigation property includeApplications for identity
      operationId: identity.authenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow.DeleteIncludeApplications
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/conditions/applications/includeApplications/$count':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.authenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow.includeApplications.GetCount-c0bf
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get onAttributeCollection property value
      description: The configuration for what to invoke when attributes are ready to be collected from the user.
      operationId: identity.authenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow.GetOnAttributeCollection
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onAttributeCollectionHandler'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/graph.onAttributeCollectionExternalUsersSelfServiceSignUp':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the item of type microsoft.graph.onAttributeCollectionHandler as microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp
      operationId: identity.authenticationEventsFlows.GetOnAttributeCollection.AsOnAttributeCollectionExternalUsersSelfServiceSignUp
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/graph.onAttributeCollectionExternalUsersSelfServiceSignUp/attributes':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List attributes (of a user flow)
      description: Get an identityUserFlowAttribute collection associated with an external identities self-service user flow represented by an externalUsersSelfServiceSignupEventsFlow object. These attributes are collected from the user during the authentication experience defined by the user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onattributecollectionexternalusersselfservicesignup-list-attributes?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlows.AsOnAttributeCollectionExternalUsersSelfServiceSignUp.ListAttributes
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityUserFlowAttributeCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/graph.onAttributeCollectionExternalUsersSelfServiceSignUp/attributes/{identityUserFlowAttribute-id}/$ref':
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete ref of navigation property attributes for identity
      operationId: identity.authenticationEventsFlows.AsOnAttributeCollectionExternalUsersSelfServiceSignUp.attributes.DeleteRefIdentityUserFlowAttribute
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/graph.onAttributeCollectionExternalUsersSelfServiceSignUp/attributes/$count':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.authenticationEventsFlows.AsOnAttributeCollectionExternalUsersSelfServiceSignUp.attributes.GetCount-8938
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/graph.onAttributeCollectionExternalUsersSelfServiceSignUp/attributes/$ref':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List attributes (of a user flow)
      description: Get an identityUserFlowAttribute collection associated with an external identities self-service user flow represented by an externalUsersSelfServiceSignupEventsFlow object. These attributes are collected from the user during the authentication experience defined by the user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onattributecollectionexternalusersselfservicesignup-list-attributes?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlows.AsOnAttributeCollectionExternalUsersSelfServiceSignUp.ListRefAttributes
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/StringCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventsFlow
      summary: Add attribute (to user flow)
      description: 'Add an attribute to an external identities self-service sign up user flow that''s represented by an externalUsersSelfServiceSignupEventsFlow object. You can add both custom and built-in attributes to a user flow. The attribute is added to both the attributeCollection> attributes and attributeCollection> attributeCollectionPage > views collections on the user flow. In the views collection, the attribute is assigned the default settings. You can PATCH the user flow to customize the settings of the attribute on the views object, for example, marking it as required or updating the allowed input types.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onattributecollectionexternalusersselfservicesignup-post-attributes?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlows.AsOnAttributeCollectionExternalUsersSelfServiceSignUp.CreateRefAttributes
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete ref of navigation property attributes for identity
      operationId: identity.authenticationEventsFlows.AsOnAttributeCollectionExternalUsersSelfServiceSignUp.DeleteRefAttributes
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
        - name: '@id'
          in: query
          description: The delete Uri
          required: true
          style: form
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get onAuthenticationMethodLoadStart property value
      description: Required. The configuration for what to invoke when authentication methods are ready to be presented to the user. Must have at least one identity provider linked.  Supports $filter (eq). See support for filtering on user flows for syntax information.
      operationId: identity.authenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow.GetOnAuthenticationMethodLoadStart
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onAuthenticationMethodLoadStartHandler'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the item of type microsoft.graph.onAuthenticationMethodLoadStartHandler as microsoft.graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp
      operationId: identity.authenticationEventsFlows.GetOnAuthenticationMethodLoadStart.AsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp/identityProviders':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List identityProviders (in a user flow)
      description: Get the identity providers that are defined for an external identities self-service sign up user flow that's represented by an externalUsersSelfServiceSignupEventsFlow object type.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onauthenticationmethodloadstartexternalusersselfservicesignup-list-identityproviders?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlows.AsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp.ListIdentityProviders
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityProviderBaseCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp/identityProviders/{identityProviderBase-id}/$ref':
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete ref of navigation property identityProviders for identity
      operationId: identity.authenticationEventsFlows.AsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp.identityProviders.DeleteRefIdentityProviderBase
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp/identityProviders/$count':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.authenticationEventsFlows.AsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp.identityProviders.GetCount-4765
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/authenticationEventsFlows/{authenticationEventsFlow-id}/graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp/identityProviders/$ref':
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: List identityProviders (in a user flow)
      description: Get the identity providers that are defined for an external identities self-service sign up user flow that's represented by an externalUsersSelfServiceSignupEventsFlow object type.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onauthenticationmethodloadstartexternalusersselfservicesignup-list-identityproviders?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlows.AsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp.ListRefIdentityProviders
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/StringCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.authenticationEventsFlow
      summary: Add identityProvider (to a user flow)
      description: Add an identity provider to an external identities self-service user flow represented by an externalUsersSelfServiceSignupEventsFlow object type. The identity provider must first be configured in the tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onauthenticationmethodloadstartexternalusersselfservicesignup-post-identityproviders?view=graph-rest-1.0
      operationId: identity.authenticationEventsFlows.AsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp.CreateRefIdentityProviders
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.authenticationEventsFlow
      summary: Delete ref of navigation property identityProviders for identity
      operationId: identity.authenticationEventsFlows.AsOnAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp.DeleteRefIdentityProviders
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
        - name: '@id'
          in: query
          description: The delete Uri
          required: true
          style: form
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/authenticationEventsFlows/$count:
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.authenticationEventsFlows.GetCount-e384
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /identity/authenticationEventsFlows/graph.externalUsersSelfServiceSignUpEventsFlow:
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the items of type microsoft.graph.externalUsersSelfServiceSignUpEventsFlow in the microsoft.graph.authenticationEventsFlow collection
      operationId: identity.ListAuthenticationEventsFlows.AsExternalUsersSelfServiceSignUpEventsFlow
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalUsersSelfServiceSignUpEventsFlowCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /identity/authenticationEventsFlows/graph.externalUsersSelfServiceSignUpEventsFlow/$count:
    get:
      tags:
        - identity.authenticationEventsFlow
      summary: Get the number of the resource
      operationId: identity.AuthenticationEventsFlows.GetCount.AsExternalUsersSelfServiceSignUpEventsFlow-9d4c
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /identity/b2xUserFlows:
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: List b2xIdentityUserFlows
      description: Retrieve a list of b2xIdentityUserFlow objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-list-b2xuserflows?view=graph-rest-1.0
      operationId: identity.ListB2xUserFlows
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.b2xIdentityUserFlowCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Create b2xIdentityUserFlow
      description: Create a new b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-post-b2xuserflows?view=graph-rest-1.0
      operationId: identity.CreateB2xUserFlows
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get b2xIdentityUserFlow
      description: Retrieve the properties and relationships of a b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-get?view=graph-rest-1.0
      operationId: identity.GetB2xUserFlows
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the navigation property b2xUserFlows in identity
      operationId: identity.UpdateB2xUserFlows
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete b2xIdentityUserFlow
      description: Delete a b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-delete?view=graph-rest-1.0
      operationId: identity.DeleteB2xUserFlows
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get userFlowApiConnectorConfiguration
      description: Get the apiConnectorConfiguration property in a b2xIdentityUserFlow to detail the API connectors enabled for the user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-get-apiconnectorconfiguration?view=graph-rest-1.0
      operationId: identity.b2xUserFlows.GetApiConnectorConfiguration
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowApiConnectorConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postAttributeCollection':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get postAttributeCollection from identity
      operationId: identity.b2xUserFlows.GetPostAttributeCollection
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the navigation property postAttributeCollection in identity
      operationId: identity.b2xUserFlows.UpdatePostAttributeCollection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete navigation property postAttributeCollection for identity
      operationId: identity.b2xUserFlows.DeletePostAttributeCollection
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postAttributeCollection/$ref':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get ref of postAttributeCollection from identity
      operationId: identity.b2xUserFlows.GetRefPostAttributeCollection
      responses:
        2XX:
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the ref of navigation property postAttributeCollection in identity
      operationId: identity.b2xUserFlows.UpdateRefPostAttributeCollection
      requestBody:
        $ref: '#/components/requestBodies/refPutBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete ref of navigation property postAttributeCollection for identity
      operationId: identity.b2xUserFlows.DeleteRefPostAttributeCollection
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postAttributeCollection/uploadClientCertificate':
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Invoke action uploadClientCertificate
      description: Upload a PKCS 12 format key (.pfx) to an API connector's authentication configuration. The input is a base-64 encoded value of the PKCS 12 certificate contents. This method returns an apiConnector.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-uploadclientcertificate?view=graph-rest-1.0
      operationId: identity.b2xUserFlows.b2xIdentityUserFlow.apiConnectorConfiguration.postAttributeCollection.uploadClientCertificate
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                pkcs12Value:
                  type: string
                  nullable: true
                password:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postFederationSignup':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get postFederationSignup from identity
      operationId: identity.b2xUserFlows.GetPostFederationSignup
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the navigation property postFederationSignup in identity
      operationId: identity.b2xUserFlows.UpdatePostFederationSignup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete navigation property postFederationSignup for identity
      operationId: identity.b2xUserFlows.DeletePostFederationSignup
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postFederationSignup/$ref':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get ref of postFederationSignup from identity
      operationId: identity.b2xUserFlows.GetRefPostFederationSignup
      responses:
        2XX:
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Update the ref of navigation property postFederationSignup in identity
      operationId: identity.b2xUserFlows.UpdateRefPostFederationSignup
      requestBody:
        $ref: '#/components/requestBodies/refPutBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Delete ref of navigation property postFederationSignup for identity
      operationId: identity.b2xUserFlows.DeleteRefPostFederationSignup
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postFederationSignup/uploadClientCertificate':
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Invoke action uploadClientCertificate
      description: Upload a PKCS 12 format key (.pfx) to an API connector's authentication configuration. The input is a base-64 encoded value of the PKCS 12 certificate contents. This method returns an apiConnector.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-uploadclientcertificate?view=graph-rest-1.0
      operationId: identity.b2xUserFlows.b2xIdentityUserFlow.apiConnectorConfiguration.postFederationSignup.uploadClientCertificate
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                pkcs12Value:
                  type: string
                  nullable: true
                password:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
                  - type: object
                    nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/identityProviders':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: List identityProviders
      description: Get the identity providers in a b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-list-identityproviders?view=graph-rest-1.0
      operationId: identity.b2xUserFlows.ListIdentityProviders
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityProviderCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15'
        date: '2021-08-24'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/identityProviders/{identityProvider-id}':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get identityProviders from identity
      description: The identity providers included in the user flow.
      operationId: identity.b2xUserFlows.GetIdentityProviders
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProvider'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15'
        date: '2021-08-24'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/identityProviders/$count':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get the number of the resource
      operationId: identity.b2xUserFlows.identityProviders.GetCount-97b6
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15'
        date: '2021-08-24'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: List languages
      description: Retrieve a list of languages supported for customization in a B2X user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-list-languages?view=graph-rest-1.0
      operationId: identity.b2xUserFlows.ListLanguages
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userFlowLanguageConfigurationCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Create new navigation property to languages for identity
      operationId: identity.b2xUserFlows.CreateLanguages
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}':
    get:
      tags:
        - identity.b2xIdentityUserFlow
      summary: Get userFlowLanguageConfiguration
      description: 'Read the properties and relationships of a userFlowLanguageConfiguration object. These objects represent a language available in a user flow. Note: Language customization is enabled by default in Microsoft Entra user flows.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userflowlanguageconfiguration-get?view=graph-rest-1.0
      operationId: identity.b2xUserFlows.GetLanguages
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
[...]
