openapi: 3.0.1
info:
  title: me.messages.attachment
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/me/messages/{message-id}/attachments':
    get:
      tags:
        - me.messages.attachment
      summary: Get attachments from me
      operationId: me.messages_ListAttachments
      parameters:
        - name: message-id
          in: path
          description: 'key: message-id'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - name
                - name desc
                - contentType
                - contentType desc
                - size
                - size desc
                - isInline
                - isInline desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of attachments
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - me.messages.attachment
      summary: Create new navigation property to attachments for me
      operationId: me.messages_CreateAttachments
      parameters:
        - name: message-id
          in: path
          description: 'key: message-id'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/me/messages/{message-id}/attachments/{attachment-id}':
    get:
      tags:
        - me.messages.attachment
      summary: Get attachments from me
      operationId: me.messages_GetAttachments
      parameters:
        - name: message-id
          in: path
          description: 'key: message-id'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: 'key: attachment-id'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - name
                - contentType
                - size
                - isInline
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - me.messages.attachment
      summary: Update the navigation property attachments in me
      operationId: me.messages_UpdateAttachments
      parameters:
        - name: message-id
          in: path
          description: 'key: message-id'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: attachment-id
          in: path
          description: 'key: attachment-id'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: attachment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.attachment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: attachment
          type: object
          properties:
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            name:
              type: string
              nullable: true
            contentType:
              type: string
              nullable: true
            size:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
            isInline:
              type: boolean
      example:
        id: String (identifier)
        lastModifiedDateTime: DateTimeOffset (timestamp)
        name: String
        contentType: String
        size: Int32
        isInline: true
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: String (identifier)
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]