openapi: 3.0.1
info:
  title: me.message
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /me/messages:
    get:
      tags:
        - me.message
      summary: Get messages from me
      operationId: me_ListMessages
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - changeKey
                - changeKey desc
                - categories
                - categories desc
                - receivedDateTime
                - receivedDateTime desc
                - sentDateTime
                - sentDateTime desc
                - hasAttachments
                - hasAttachments desc
                - internetMessageId
                - internetMessageId desc
                - internetMessageHeaders
                - internetMessageHeaders desc
                - subject
                - subject desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - importance
                - importance desc
                - parentFolderId
                - parentFolderId desc
                - sender
                - sender desc
                - from
                - from desc
                - toRecipients
                - toRecipients desc
                - ccRecipients
                - ccRecipients desc
                - bccRecipients
                - bccRecipients desc
                - replyTo
                - replyTo desc
                - conversationId
                - conversationId desc
                - uniqueBody
                - uniqueBody desc
                - isDeliveryReceiptRequested
                - isDeliveryReceiptRequested desc
                - isReadReceiptRequested
                - isReadReceiptRequested desc
                - isRead
                - isRead desc
                - isDraft
                - isDraft desc
                - webLink
                - webLink desc
                - inferenceClassification
                - inferenceClassification desc
                - flag
                - flag desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - receivedDateTime
                - sentDateTime
                - hasAttachments
                - internetMessageId
                - internetMessageHeaders
                - subject
                - body
                - bodyPreview
                - importance
                - parentFolderId
                - sender
                - from
                - toRecipients
                - ccRecipients
                - bccRecipients
                - replyTo
                - conversationId
                - uniqueBody
                - isDeliveryReceiptRequested
                - isReadReceiptRequested
                - isRead
                - isDraft
                - webLink
                - inferenceClassification
                - flag
                - attachments
                - extensions
                - singleValueExtendedProperties
                - multiValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - extensions
                - singleValueExtendedProperties
                - multiValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of message
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - me.message
      summary: Create new navigation property to messages for me
      operationId: me_CreateMessages
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/me/messages/{message-id}':
    get:
      tags:
        - me.message
      summary: Get messages from me
      operationId: me_GetMessages
      parameters:
        - name: message-id
          in: path
          description: 'key: message-id'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
        - name: $select
          in: query
          description: Select properties to be returned
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - lastModifiedDateTime
                - changeKey
                - categories
                - receivedDateTime
                - sentDateTime
                - hasAttachments
                - internetMessageId
                - internetMessageHeaders
                - subject
                - body
                - bodyPreview
                - importance
                - parentFolderId
                - sender
                - from
                - toRecipients
                - ccRecipients
                - bccRecipients
                - replyTo
                - conversationId
                - uniqueBody
                - isDeliveryReceiptRequested
                - isReadReceiptRequested
                - isRead
                - isDraft
                - webLink
                - inferenceClassification
                - flag
                - attachments
                - extensions
                - singleValueExtendedProperties
                - multiValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: simple
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attachments
                - extensions
                - singleValueExtendedProperties
                - multiValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - me.message
      summary: Update the navigation property messages in me
      operationId: me_UpdateMessages
      parameters:
        - name: message-id
          in: path
          description: 'key: message-id'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: message
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.message:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.outlookItem'
        - title: message
          type: object
          properties:
            receivedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The date and time the message was received.
              format: date-time
              nullable: true
            sentDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The date and time the message was sent.
              format: date-time
              nullable: true
            hasAttachments:
              type: boolean
              description: 'Indicates whether the message has attachments. This property doesn''t include inline attachments, so if a message contains only inline attachments, this property is false. To verify the existence of inline attachments, parse the body property to look for a src attribute, such as <IMG src=''cid:image001.jpg@01D26CD8.6C05F070''>.'
              nullable: true
            internetMessageId:
              type: string
              description: The message ID in the format specified by RFC2822.
              nullable: true
            internetMessageHeaders:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.internetMessageHeader'
              description: A collection of message headers defined by RFC5322. The set includes message headers indicating the network path taken by a message from the sender to the recipient. It can also contain custom message headers that hold app data for the message.  Returned only on applying a $select query option. Read-only.
            subject:
              type: string
              description: The subject of the message.
              nullable: true
            body:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            bodyPreview:
              type: string
              description: The first 255 characters of the message body. It is in text format.
              nullable: true
            importance:
              $ref: '#/components/schemas/microsoft.graph.importance'
            parentFolderId:
              type: string
              description: The unique identifier for the message's parent mailFolder.
              nullable: true
            sender:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            from:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            toRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The To: recipients for the message.'
            ccRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The Cc: recipients for the message.'
            bccRecipients:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: 'The Bcc: recipients for the message.'
            replyTo:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.recipient'
              description: The email addresses to use when replying.
            conversationId:
              type: string
              description: The ID of the conversation the email belongs to.
              nullable: true
            uniqueBody:
              $ref: '#/components/schemas/microsoft.graph.itemBody'
            isDeliveryReceiptRequested:
              type: boolean
              description: Indicates whether a read receipt is requested for the message.
              nullable: true
            isReadReceiptRequested:
              type: boolean
              description: Indicates whether a read receipt is requested for the message.
              nullable: true
            isRead:
              type: boolean
              description: Indicates whether the message has been read.
              nullable: true
            isDraft:
              type: boolean
              description: Indicates whether the message is a draft. A message is a draft if it hasn't been sent yet.
              nullable: true
            webLink:
              type: string
              description: 'The URL to open the message in Outlook Web App.You can append an ispopout argument to the end of the URL to change how the message is displayed. If ispopout is not present or if it is set to 1, then the message is shown in a popout window. If ispopout is set to 0, then the browser will show the message in the Outlook Web App review pane.The message will open in the browser if you are logged in to your mailbox via Outlook Web App. You will be prompted to login if you are not already logged in with the browser.This URL can be accessed from within an iFrame.'
              nullable: true
            inferenceClassification:
              $ref: '#/components/schemas/microsoft.graph.inferenceClassificationType'
            flag:
              $ref: '#/components/schemas/microsoft.graph.followupFlag'
            attachments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.attachment'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
            singleValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
            multiValueExtendedProperties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
      example:
        id: string (identifier)
        createdDateTime: string (timestamp)
        lastModifiedDateTime: string (timestamp)
        changeKey: string
        categories:
          - string
        receivedDateTime: string (timestamp)
        sentDateTime: string (timestamp)
        hasAttachments: true
        internetMessageId: string
        internetMessageHeaders:
          - '@odata.type': microsoft.graph.internetMessageHeader
        subject: string
        body:
          '@odata.type': microsoft.graph.itemBody
        bodyPreview: string
        importance:
          '@odata.type': microsoft.graph.importance
        parentFolderId: string
        sender:
          '@odata.type': microsoft.graph.recipient
        from:
          '@odata.type': microsoft.graph.recipient
        toRecipients:
          - '@odata.type': microsoft.graph.recipient
        ccRecipients:
          - '@odata.type': microsoft.graph.recipient
        bccRecipients:
          - '@odata.type': microsoft.graph.recipient
        replyTo:
          - '@odata.type': microsoft.graph.recipient
        conversationId: string
        uniqueBody:
          '@odata.type': microsoft.graph.itemBody
        isDeliveryReceiptRequested: true
        isReadReceiptRequested: true
        isRead: true
        isDraft: true
        webLink: string
        inferenceClassification:
          '@odata.type': microsoft.graph.inferenceClassificationType
        flag:
          '@odata.type': microsoft.graph.followupFlag
        attachments:
          - '@odata.type': microsoft.graph.attachment
        extensions:
          - '@odata.type': microsoft.graph.extension
        singleValueExtendedProperties:
          - '@odata.type': microsoft.graph.singleValueLegacyExtendedProperty
        multiValueExtendedProperties:
          - '@odata.type': microsoft.graph.multiValueLegacyExtendedProperty
    microsoft.graph.outlookItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: outlookItem
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            changeKey:
              type: string
              description: 'Identifies the version of the item. Every time the item is changed, changeKey changes as well. This allows Exchange to apply changes to the correct version of the object. Read-only.'
              nullable: true
            categories:
              type: array
              items:
                type: string
                nullable: true
              description: The categories associated with the item
      example:
        id: string (identifier)
        createdDateTime: string (timestamp)
        lastModifiedDateTime: string (timestamp)
        changeKey: string
        categories:
          - string
    microsoft.graph.internetMessageHeader:
      title: internetMessageHeader
      type: object
      properties:
        name:
          type: string
          description: Represents the key in a key-value pair.
          nullable: true
        value:
          type: string
          description: The value in a key-value pair.
          nullable: true
      example:
        name: string
        value: string
    microsoft.graph.itemBody:
      title: itemBody
      type: object
      properties:
        contentType:
          $ref: '#/components/schemas/microsoft.graph.bodyType'
        content:
          type: string
          description: The content of the item.
          nullable: true
      example:
        contentType:
          '@odata.type': microsoft.graph.bodyType
        content: string
    microsoft.graph.importance:
      title: importance
      enum:
        - low
        - normal
        - high
      type: string
    microsoft.graph.recipient:
      title: recipient
      type: object
      properties:
        emailAddress:
          $ref: '#/components/schemas/microsoft.graph.emailAddress'
      example:
        emailAddress:
          '@odata.type': microsoft.graph.emailAddress
    microsoft.graph.inferenceClassificationType:
      title: inferenceClassificationType
      enum:
        - focused
        - other
      type: string
    microsoft.graph.followupFlag:
      title: followupFlag
      type: object
      properties:
        completedDateTime:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        dueDateTime:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        startDateTime:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        flagStatus:
          $ref: '#/components/schemas/microsoft.graph.followupFlagStatus'
      example:
        completedDateTime:
          '@odata.type': microsoft.graph.dateTimeTimeZone
        dueDateTime:
          '@odata.type': microsoft.graph.dateTimeTimeZone
        startDateTime:
          '@odata.type': microsoft.graph.dateTimeTimeZone
        flagStatus:
          '@odata.type': microsoft.graph.followupFlagStatus
    microsoft.graph.attachment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: attachment
          type: object
          properties:
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'''
              format: date-time
              nullable: true
            name:
              type: string
              description: The attachment's file name.
              nullable: true
            contentType:
              type: string
              description: The MIME type.
              nullable: true
            size:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The length of the attachment in bytes.
              format: int32
            isInline:
              type: boolean
              description: 'true if the attachment is an inline attachment; otherwise, false.'
      example:
        id: string (identifier)
        lastModifiedDateTime: string (timestamp)
        name: string
        contentType: string
        size: integer
        isInline: true
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
      example:
        id: string (identifier)
    microsoft.graph.singleValueLegacyExtendedProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: singleValueLegacyExtendedProperty
          type: object
          properties:
            value:
              type: string
              description: A property value.
              nullable: true
      example:
        id: string (identifier)
        value: string
    microsoft.graph.multiValueLegacyExtendedProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: multiValueLegacyExtendedProperty
          type: object
          properties:
            value:
              type: array
              items:
                type: string
                nullable: true
              description: A collection of property values.
      example:
        id: string (identifier)
        value:
          - string
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      example:
        id: string (identifier)
    microsoft.graph.bodyType:
      title: bodyType
      enum:
        - text
        - html
      type: string
    microsoft.graph.emailAddress:
      title: emailAddress
      type: object
      properties:
        name:
          type: string
          description: The display name of the person or entity.
          nullable: true
        address:
          type: string
          description: The email address of the person or entity.
          nullable: true
      example:
        name: string
        address: string
    microsoft.graph.dateTimeTimeZone:
      title: dateTimeTimeZone
      type: object
      properties:
        dateTime:
          type: string
          description: 'A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).'
        timeZone:
          type: string
          description: One of the following time zone names.
          nullable: true
      example:
        dateTime: string
        timeZone: string
    microsoft.graph.followupFlagStatus:
      title: followupFlagStatus
      enum:
        - notFlagged
        - complete
        - flagged
      type: string
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]