openapi: 3.0.1
info:
  title: me.userActivity
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /me/activities:
    get:
      tags:
        - me.userActivity
      summary: Get activities from me
      operationId: me_ListActivities
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - visualElements
                - visualElements desc
                - activitySourceHost
                - activitySourceHost desc
                - activationUrl
                - activationUrl desc
                - appActivityId
                - appActivityId desc
                - appDisplayName
                - appDisplayName desc
                - contentUrl
                - contentUrl desc
                - createdDateTime
                - createdDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - fallbackUrl
                - fallbackUrl desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - userTimezone
                - userTimezone desc
                - contentInfo
                - contentInfo desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - visualElements
                - activitySourceHost
                - activationUrl
                - appActivityId
                - appDisplayName
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - userTimezone
                - contentInfo
                - status
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    post:
      tags:
        - me.userActivity
      summary: Create new navigation property to activities for me
      operationId: me_CreateActivities
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/me/activities/{userActivity-id}':
    get:
      tags:
        - me.userActivity
      summary: Get activities from me
      operationId: me_GetActivities
      parameters:
        - name: userActivity-id
          in: path
          description: 'key: userActivity-id'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: $select
          in: query
          description: Select properties to be returned
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - visualElements
                - activitySourceHost
                - activationUrl
                - appActivityId
                - appDisplayName
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - userTimezone
                - contentInfo
                - status
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - me.userActivity
      summary: Update the navigation property activities in me
      operationId: me_UpdateActivities
      parameters:
        - name: userActivity-id
          in: path
          description: 'key: userActivity-id'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.userActivity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userActivity
          type: object
          properties:
            visualElements:
              $ref: '#/components/schemas/microsoft.graph.visualInfo'
            activitySourceHost:
              type: string
            activationUrl:
              type: string
            appActivityId:
              type: string
            appDisplayName:
              type: string
              nullable: true
            contentUrl:
              type: string
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            fallbackUrl:
              type: string
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            userTimezone:
              type: string
              nullable: true
            contentInfo:
              $ref: '#/components/schemas/microsoft.graph.Json'
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            historyItems:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
      example:
        id: String (identifier)
        visualElements:
          '@odata.type': microsoft.graph.visualInfo
        activitySourceHost: String
        activationUrl: String
        appActivityId: String
        appDisplayName: String
        contentUrl: String
        createdDateTime: DateTimeOffset (timestamp)
        expirationDateTime: DateTimeOffset (timestamp)
        fallbackUrl: String
        lastModifiedDateTime: DateTimeOffset (timestamp)
        userTimezone: String
        contentInfo:
          '@odata.type': microsoft.graph.Json
        status:
          '@odata.type': microsoft.graph.status
        historyItems:
          - '@odata.type': microsoft.graph.activityHistoryItem
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      example:
        id: String (identifier)
    microsoft.graph.visualInfo:
      title: visualInfo
      type: object
      properties:
        attribution:
          $ref: '#/components/schemas/microsoft.graph.imageInfo'
        backgroundColor:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        displayText:
          type: string
        content:
          $ref: '#/components/schemas/microsoft.graph.Json'
      example:
        attribution:
          '@odata.type': microsoft.graph.imageInfo
        backgroundColor: String
        description: String
        displayText: String
        content:
          '@odata.type': microsoft.graph.Json
    microsoft.graph.Json:
      title: Json
      type: object
    microsoft.graph.status:
      title: status
      enum:
        - active
        - updated
        - deleted
        - ignored
        - unknownFutureValue
      type: string
    microsoft.graph.activityHistoryItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: activityHistoryItem
          type: object
          properties:
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            activeDurationSeconds:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastActiveDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            startedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            userTimezone:
              type: string
              nullable: true
            activity:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
      example:
        id: String (identifier)
        status:
          '@odata.type': microsoft.graph.status
        activeDurationSeconds: Int32
        createdDateTime: DateTimeOffset (timestamp)
        lastActiveDateTime: DateTimeOffset (timestamp)
        lastModifiedDateTime: DateTimeOffset (timestamp)
        expirationDateTime: DateTimeOffset (timestamp)
        startedDateTime: DateTimeOffset (timestamp)
        userTimezone: String
        activity:
          '@odata.type': microsoft.graph.userActivity
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
    microsoft.graph.imageInfo:
      title: imageInfo
      type: object
      properties:
        iconUrl:
          type: string
          nullable: true
        alternativeText:
          type: string
          nullable: true
        alternateText:
          type: string
          nullable: true
        addImageQuery:
          type: boolean
          nullable: true
      example:
        iconUrl: String
        alternativeText: String
        alternateText: String
        addImageQuery: true
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          description: The structure of this object is service-specific
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]