# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

parameters:
  - name: Branch
    type: string
  - name: BaseBranch
    type: string
  - name: BuildAgent
    displayName: Build Agent
  - name: SkipOpenAPIDocsDownload
    type: boolean
    default: false

steps:
  - template: ./checkout.yml
    parameters:
      TargetBranch: ${{ parameters.BaseBranch }}

  - template: ./install-tools.yml

  - task: PowerShell@2
    name: "ComputeBranch"
    displayName: "Compute weekly branch name"
    inputs:
      targetType: inline
      script: |
        if ('${{ parameters.SkipOpenAPIDocsDownload }}' -eq 'True') {
          $branch = ""
          Write-Host "Skipping branch creation - using current branch"
        } else {
          $branch = "{0}/{1}" -f "$(Branch)", (Get-Date -Format yyyyMMddHHmm)
          Write-Host "Computed weekly branch: $branch"
        }
        Write-Host "##vso[task.setvariable variable=WeeklyBranch;isOutput=true]$branch"

  - task: Bash@3
    displayName: "Create weekly branch"
    condition: eq('${{ parameters.SkipOpenAPIDocsDownload }}', false)
    inputs:
      targetType: inline
      script: |
        git status
        git branch $(ComputeBranch.WeeklyBranch)
        git checkout $(ComputeBranch.WeeklyBranch)
        git status

  - task: PowerShell@2
    displayName: Download v1.0 OpenApi docs
    condition: and(succeeded(), eq('${{ parameters.SkipOpenAPIDocsDownload }}', false))
    continueOnError: false
    inputs:
      filePath: "$(System.DefaultWorkingDirectory)/tools/UpdateOpenApi.ps1"
      pwsh: true

  - task: PowerShell@2
    displayName: Download beta OpenApi docs
    condition: and(succeeded(), eq('${{ parameters.SkipOpenAPIDocsDownload }}', false))
    continueOnError: false
    inputs:
      filePath: "$(System.DefaultWorkingDirectory)/tools/UpdateOpenApi.ps1"
      arguments: -BetaGraphVersion
      pwsh: true

  - task: PowerShell@2
    name: OpenAPIDocDiff
    displayName: Get OpenAPI docs diff
    inputs:
      pwsh: true
      targetType: "inline"
      script: |
        Write-Host "SkipOpenAPIDocsDownload: ${{ parameters.SkipOpenAPIDocsDownload }}"
        if ('${{ parameters.SkipOpenAPIDocsDownload }}' -eq 'True') {
          $ModuleNames = "Skipped"
          Write-Warning "Skipped OpenAPI Docs Download."
        } else  {
          $diff = git diff --name-only
          $ModulesWithChanges = @{}
          $diff | %{
            if ($_ -match 'openApiDocs\/(v1.0|beta)\/(.*)\.yml') {
              $version = if ($matches[1] -eq 'v1.0') { 'v1.0' } else { 'beta' }
              $moduleName = "$($matches[2])_$version"
              if (!$ModulesWithChanges.ContainsKey($moduleName)) {
                $ModulesWithChanges.Add($moduleName, $matches[1])
              }
            }
          }
          $ModuleNames = $ModulesWithChanges.Keys
          Write-Host "Modules with changes: $ModuleNames"
        }
        Write-Host "##vso[task.setvariable variable=ModulesWithChanges;isOutput=true]$ModuleNames"

  - task: PowerShell@2
    name: BuildOpenApiMetadataDetectionTool
    displayName: Build tool for detecting metadata changes
    inputs:
      pwsh: true
      targetType: inline
      script: dotnet build --configuration Release
      workingDirectory: "$(System.DefaultWorkingDirectory)/tools/OpenApiInfoGenerator/OpenApiInfoGenerator"

  - task: PowerShell@2
    name: GenerateOpenApiErrorAndInfoFiles
    displayName: Generate OpenApi error and info file for detecting unnecessary changes that would lead to a breaking change
    inputs:
      pwsh: true
      targetType: inline
      script: dotnet run
      workingDirectory: "$(System.DefaultWorkingDirectory)/tools/OpenApiInfoGenerator/OpenApiInfoGenerator"

  - task: Bash@3
    displayName: Commit downloaded files
    condition: and(succeeded(), ne(variables['OpenAPIDocDiff.ModulesWithChanges'], ''), eq('${{ parameters.SkipOpenAPIDocsDownload }}', false))
    env:
      GITHUB_TOKEN: $(GITHUB_TOKEN)
    inputs:
      targetType: inline
      script: |
        git status
        git add .
        git commit -m 'Weekly OpenApiDocs Download.'
        git status
        git push --set-upstream "https://$(GITHUB_TOKEN)@github.com/microsoftgraph/msgraph-sdk-powershell.git" $(ComputeBranch.WeeklyBranch)
        git status

# References
# [0] https://help.github.com/en/actions/configuring-and-managing-workflows/using-environment-variables
# [1] https://hub.github.com/hub-pull-request.1.html
# https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token