# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

steps:
    - task: UseDotNet@2
      displayName: Use .NET SDK
      inputs:
        debugMode: false
        version: 6.x

    - task: NuGetToolInstaller@1
      displayName: Install Nuget

    - task: NuGetAuthenticate@0

    - task: PowerShell@2
      displayName: Version Check
      inputs:
        targetType: inline
        pwsh: true
        script: |
          Write-Output $PSVersionTable

    - task: NodeTool@0
      displayName: Install NodeJs
      inputs:
        versionSpec: 16.x

    - task: Npm@1
      displayName: Install AutoRest
      inputs:
        command: custom
        customCommand: install -g autorest@latest

    - task: PowerShell@2
      displayName: Register PS Repository
      enabled: true
      inputs:
        targetType: inline
        pwsh: true
        errorActionPreference: stop
        script: |
          Get-PSRepository
          $patToken = '$(NUGETFEEDKEY)' | ConvertTo-SecureString -AsPlainText -Force
          $nugetFeed = '$(NUGETFEED)'
          $nugetFeedName = '$(NUGETFEEDNAME)'
          $user = '$(NUGETBUILDUSER)'
          $credsAzureDevopsServices = New-Object System.Management.Automation.PSCredential($user, $patToken)
          Unregister-PSRepository -Name $nugetFeedName -ErrorAction Continue
          Register-PSRepository -Name $nugetFeedName -SourceLocation $nugetFeed -PublishLocation $nugetFeed -InstallationPolicy Trusted -Credential $credsAzureDevopsServices -PackageManagementProvider 'Nuget'
          Get-PSRepository
          Find-Module -Name Microsoft.Graph.Authentication -AllowPrerelease -Repository $nugetFeedName
