openapi: 3.0.4
info:
  title: BackupRestore
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /solutions/backupRestore:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get backupRestoreRoot
      description: Get the serviceStatus of the Microsoft 365 Backup Storage service in a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/backuprestoreroot-get?view=graph-rest-1.0
      operationId: solution_GetBackupRestore
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.backupRestoreRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property backupRestore in solutions
      operationId: solution_UpdateBackupRestore
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.backupRestoreRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.backupRestoreRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property backupRestore for solutions
      operationId: solution_DeleteBackupRestore
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/driveInclusionRules:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveInclusionRules from solutions
      description: The list of drive inclusion rules applied to the tenant.
      operationId: solution.backupRestore_ListDriveInclusionRule
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveProtectionRuleCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to driveInclusionRules for solutions
      operationId: solution.backupRestore_CreateDriveInclusionRule
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionRule'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/driveInclusionRules/{driveProtectionRule-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveInclusionRules from solutions
      description: The list of drive inclusion rules applied to the tenant.
      operationId: solution.backupRestore_GetDriveInclusionRule
      parameters:
        - name: driveProtectionRule-id
          in: path
          description: The unique identifier of driveProtectionRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveProtectionRule
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property driveInclusionRules in solutions
      operationId: solution.backupRestore_UpdateDriveInclusionRule
      parameters:
        - name: driveProtectionRule-id
          in: path
          description: The unique identifier of driveProtectionRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveProtectionRule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionRule'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property driveInclusionRules for solutions
      operationId: solution.backupRestore_DeleteDriveInclusionRule
      parameters:
        - name: driveProtectionRule-id
          in: path
          description: The unique identifier of driveProtectionRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveProtectionRule
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/driveInclusionRules/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.driveInclusionRule_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/driveProtectionUnits:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveProtectionUnits from solutions
      description: The list of drive protection units in the tenant.
      operationId: solution.backupRestore_ListDriveProtectionUnit
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveProtectionUnitCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to driveProtectionUnits for solutions
      operationId: solution.backupRestore_CreateDriveProtectionUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionUnit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/driveProtectionUnits/{driveProtectionUnit-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveProtectionUnits from solutions
      description: The list of drive protection units in the tenant.
      operationId: solution.backupRestore_GetDriveProtectionUnit
      parameters:
        - name: driveProtectionUnit-id
          in: path
          description: The unique identifier of driveProtectionUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveProtectionUnit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property driveProtectionUnits in solutions
      operationId: solution.backupRestore_UpdateDriveProtectionUnit
      parameters:
        - name: driveProtectionUnit-id
          in: path
          description: The unique identifier of driveProtectionUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveProtectionUnit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionUnit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property driveProtectionUnits for solutions
      operationId: solution.backupRestore_DeleteDriveProtectionUnit
      parameters:
        - name: driveProtectionUnit-id
          in: path
          description: The unique identifier of driveProtectionUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveProtectionUnit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/driveProtectionUnits/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.driveProtectionUnit_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/driveProtectionUnitsBulkAdditionJobs:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveProtectionUnitsBulkAdditionJobs from solutions
      operationId: solution.backupRestore_ListDriveProtectionUnitsBulkAdditionJob
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveProtectionUnitsBulkAdditionJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to driveProtectionUnitsBulkAdditionJobs for solutions
      operationId: solution.backupRestore_CreateDriveProtectionUnitsBulkAdditionJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionUnitsBulkAdditionJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnitsBulkAdditionJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/driveProtectionUnitsBulkAdditionJobs/{driveProtectionUnitsBulkAdditionJob-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get driveProtectionUnitsBulkAdditionJobs from solutions
      operationId: solution.backupRestore_GetDriveProtectionUnitsBulkAdditionJob
      parameters:
        - name: driveProtectionUnitsBulkAdditionJob-id
          in: path
          description: The unique identifier of driveProtectionUnitsBulkAdditionJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveProtectionUnitsBulkAdditionJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnitsBulkAdditionJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property driveProtectionUnitsBulkAdditionJobs in solutions
      operationId: solution.backupRestore_UpdateDriveProtectionUnitsBulkAdditionJob
      parameters:
        - name: driveProtectionUnitsBulkAdditionJob-id
          in: path
          description: The unique identifier of driveProtectionUnitsBulkAdditionJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveProtectionUnitsBulkAdditionJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.driveProtectionUnitsBulkAdditionJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveProtectionUnitsBulkAdditionJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property driveProtectionUnitsBulkAdditionJobs for solutions
      operationId: solution.backupRestore_DeleteDriveProtectionUnitsBulkAdditionJob
      parameters:
        - name: driveProtectionUnitsBulkAdditionJob-id
          in: path
          description: The unique identifier of driveProtectionUnitsBulkAdditionJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: driveProtectionUnitsBulkAdditionJob
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/driveProtectionUnitsBulkAdditionJobs/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.driveProtectionUnitsBulkAdditionJob_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/exchangeProtectionPolicies:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get exchangeProtectionPolicies from solutions
      description: The list of Exchange protection policies in the tenant.
      operationId: solution.backupRestore_ListExchangeProtectionPolicy
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.exchangeProtectionPolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create exchangeProtectionPolicy
      description: Create a protection policy for the Exchange service in a Microsoft 365 tenant. The policy is set to inactive when it is created. Users can also provide a list of protection units under the policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/backuprestoreroot-post-exchangeprotectionpolicies?view=graph-rest-1.0
      operationId: solution.backupRestore_CreateExchangeProtectionPolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.exchangeProtectionPolicy'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeProtectionPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get exchangeProtectionPolicies from solutions
      description: The list of Exchange protection policies in the tenant.
      operationId: solution.backupRestore_GetExchangeProtectionPolicy
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeProtectionPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update exchangeProtectionPolicy
      description: Update an Exchange protection policy. This method adds a mailboxprotectionunit to or removes it from the protection policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangeprotectionpolicy-update?view=graph-rest-1.0
      operationId: solution.backupRestore_UpdateExchangeProtectionPolicy
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.exchangeProtectionPolicy'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeProtectionPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property exchangeProtectionPolicies for solutions
      operationId: solution.backupRestore_DeleteExchangeProtectionPolicy
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxInclusionRules':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List mailboxInclusionRules
      description: 'Get a list of mailboxProtectionRule objects associated with an exchangeProtectionPolicy. An inclusion rule indicates that a protection policy should contain protection units that match the specified rule criteria. The initial status of a protection rule upon creation is active. After the rule is applied, the state is either completed or completedWithErrors.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangeprotectionpolicy-list-mailboxinclusionrules?view=graph-rest-1.0
      operationId: solution.backupRestore.exchangeProtectionPolicy_ListMailboxInclusionRule
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxProtectionRuleCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxInclusionRules/{mailboxProtectionRule-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get protectionRuleBase
      description: 'Get a protection rule that''s associated with a protection policy. You can use this operation to get mailbox, drive, and site protection rules. An inclusion rule indicates that a protection policy should contain protection units that match the specified rule criteria. The initial status of a protection rule upon creation is active. After the rule is applied, the state is either completed or completedWithErrors.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/protectionrulebase-get?view=graph-rest-1.0
      operationId: solution.backupRestore.exchangeProtectionPolicy_GetMailboxInclusionRule
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - name: mailboxProtectionRule-id
          in: path
          description: The unique identifier of mailboxProtectionRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxProtectionRule
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxInclusionRules/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.exchangeProtectionPolicy.mailboxInclusionRule_GetCount
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnits':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxProtectionUnits from solutions
      description: The protection units (mailboxes) that are  protected under the Exchange protection policy.
      operationId: solution.backupRestore.exchangeProtectionPolicy_ListMailboxProtectionUnit
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxProtectionUnitCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnits/{mailboxProtectionUnit-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxProtectionUnits from solutions
      description: The protection units (mailboxes) that are  protected under the Exchange protection policy.
      operationId: solution.backupRestore.exchangeProtectionPolicy_GetMailboxProtectionUnit
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - name: mailboxProtectionUnit-id
          in: path
          description: The unique identifier of mailboxProtectionUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxProtectionUnit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnits/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.exchangeProtectionPolicy.mailboxProtectionUnit_GetCount
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnitsBulkAdditionJobs':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List mailboxProtectionUnitsBulkAdditionJobs
      description: Get a list of mailboxProtectionUnitsBulkAdditionJobs objects associated with an exchangeProtectionPolicy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangeprotectionpolicy-list-mailboxprotectionunitsbulkadditionjobs?view=graph-rest-1.0
      operationId: solution.backupRestore.exchangeProtectionPolicy_ListMailboxProtectionUnitsBulkAdditionJob
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxProtectionUnitsBulkAdditionJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnitsBulkAdditionJobs/{mailboxProtectionUnitsBulkAdditionJob-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxProtectionUnitsBulkAdditionJob
      description: Get a mailboxProtectionUnitsBulkAdditionJob object by the ID associated with an exchangeProtectionPolicy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailboxprotectionunitsbulkadditionjobs-get?view=graph-rest-1.0
      operationId: solution.backupRestore.exchangeProtectionPolicy_GetMailboxProtectionUnitsBulkAdditionJob
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - name: mailboxProtectionUnitsBulkAdditionJob-id
          in: path
          description: The unique identifier of mailboxProtectionUnitsBulkAdditionJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxProtectionUnitsBulkAdditionJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnitsBulkAdditionJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeProtectionPolicies/{exchangeProtectionPolicy-id}/mailboxProtectionUnitsBulkAdditionJobs/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.exchangeProtectionPolicy.mailboxProtectionUnitsBulkAdditionJob_GetCount
      parameters:
        - name: exchangeProtectionPolicy-id
          in: path
          description: The unique identifier of exchangeProtectionPolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeProtectionPolicy
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/exchangeProtectionPolicies/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.exchangeProtectionPolicy_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/exchangeRestoreSessions:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get exchangeRestoreSessions from solutions
      description: The list of Exchange restore sessions available in the tenant.
      operationId: solution.backupRestore_ListExchangeRestoreSession
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.exchangeRestoreSessionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create exchangeRestoreSession
      description: Create a new exchangeRestoreSession object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/backuprestoreroot-post-exchangerestoresessions?view=graph-rest-1.0
      operationId: solution.backupRestore_CreateExchangeRestoreSession
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.exchangeRestoreSession'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeRestoreSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get exchangeRestoreSessions from solutions
      description: The list of Exchange restore sessions available in the tenant.
      operationId: solution.backupRestore_GetExchangeRestoreSession
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeRestoreSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update exchangeRestoreSession
      description: Update the properties of an exchangeRestoreSession.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangerestoresession-update?view=graph-rest-1.0
      operationId: solution.backupRestore_UpdateExchangeRestoreSession
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.exchangeRestoreSession'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeRestoreSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property exchangeRestoreSessions for solutions
      operationId: solution.backupRestore_DeleteExchangeRestoreSession
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/granularMailboxRestoreArtifacts':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get granularMailboxRestoreArtifacts from solutions
      operationId: solution.backupRestore.exchangeRestoreSession_ListGranularMailboxRestoreArtifact
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.granularMailboxRestoreArtifactCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to granularMailboxRestoreArtifacts for solutions
      operationId: solution.backupRestore.exchangeRestoreSession_CreateGranularMailboxRestoreArtifact
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.granularMailboxRestoreArtifact'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.granularMailboxRestoreArtifact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/granularMailboxRestoreArtifacts/{granularMailboxRestoreArtifact-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get granularMailboxRestoreArtifacts from solutions
      operationId: solution.backupRestore.exchangeRestoreSession_GetGranularMailboxRestoreArtifact
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: granularMailboxRestoreArtifact-id
          in: path
          description: The unique identifier of granularMailboxRestoreArtifact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: granularMailboxRestoreArtifact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.granularMailboxRestoreArtifact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property granularMailboxRestoreArtifacts in solutions
      operationId: solution.backupRestore.exchangeRestoreSession_UpdateGranularMailboxRestoreArtifact
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: granularMailboxRestoreArtifact-id
          in: path
          description: The unique identifier of granularMailboxRestoreArtifact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: granularMailboxRestoreArtifact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.granularMailboxRestoreArtifact'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.granularMailboxRestoreArtifact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property granularMailboxRestoreArtifacts for solutions
      operationId: solution.backupRestore.exchangeRestoreSession_DeleteGranularMailboxRestoreArtifact
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: granularMailboxRestoreArtifact-id
          in: path
          description: The unique identifier of granularMailboxRestoreArtifact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: granularMailboxRestoreArtifact
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/granularMailboxRestoreArtifacts/{granularMailboxRestoreArtifact-id}/restorePoint':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get restorePoint from solutions
      description: Represents the date and time when an artifact is protected by a protectionPolicy and can be restored.
      operationId: solution.backupRestore.exchangeRestoreSession.granularMailboxRestoreArtifact_GetRestorePoint
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: granularMailboxRestoreArtifact-id
          in: path
          description: The unique identifier of granularMailboxRestoreArtifact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: granularMailboxRestoreArtifact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restorePoint'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/granularMailboxRestoreArtifacts/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.exchangeRestoreSession.granularMailboxRestoreArtifact_GetCount
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifacts':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List mailboxRestoreArtifacts
      description: Get a list of the mailboxRestoreArtifact objects that are associated with an exchangeRestoreSession in a tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangerestoresession-list-mailboxrestoreartifacts?view=graph-rest-1.0
      operationId: solution.backupRestore.exchangeRestoreSession_ListMailboxRestoreArtifact
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxRestoreArtifactCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to mailboxRestoreArtifacts for solutions
      operationId: solution.backupRestore.exchangeRestoreSession_CreateMailboxRestoreArtifact
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifact'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifacts/{mailboxRestoreArtifact-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxRestoreArtifacts from solutions
      description: A collection of restore points and destination details that can be used to restore Exchange mailboxes.
      operationId: solution.backupRestore.exchangeRestoreSession_GetMailboxRestoreArtifact
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: mailboxRestoreArtifact-id
          in: path
          description: The unique identifier of mailboxRestoreArtifact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxRestoreArtifact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property mailboxRestoreArtifacts in solutions
      operationId: solution.backupRestore.exchangeRestoreSession_UpdateMailboxRestoreArtifact
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: mailboxRestoreArtifact-id
          in: path
          description: The unique identifier of mailboxRestoreArtifact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxRestoreArtifact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifact'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property mailboxRestoreArtifacts for solutions
      operationId: solution.backupRestore.exchangeRestoreSession_DeleteMailboxRestoreArtifact
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: mailboxRestoreArtifact-id
          in: path
          description: The unique identifier of mailboxRestoreArtifact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxRestoreArtifact
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifacts/{mailboxRestoreArtifact-id}/restorePoint':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get restorePoint from solutions
      description: Represents the date and time when an artifact is protected by a protectionPolicy and can be restored.
      operationId: solution.backupRestore.exchangeRestoreSession.mailboxRestoreArtifact_GetRestorePoint
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: mailboxRestoreArtifact-id
          in: path
          description: The unique identifier of mailboxRestoreArtifact
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxRestoreArtifact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restorePoint'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifacts/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.exchangeRestoreSession.mailboxRestoreArtifact_GetCount
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifactsBulkAdditionRequests':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: List mailboxRestoreArtifactsBulkAdditionRequests
      description: Get a list of the maiboxRestoreArtifactsBulkAdditionRequest objects associated with an exchangeRestoreSession. The mailboxes property is deliberately omitted from the response body in order to limit the response size.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangerestoresession-list-mailboxrestoreartifactsbulkadditionrequests?view=graph-rest-1.0
      operationId: solution.backupRestore.exchangeRestoreSession_ListMailboxRestoreArtifactsBulkAdditionRequest
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxRestoreArtifactsBulkAdditionRequestCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create mailboxRestoreArtifactsBulkAdditionRequest
      description: 'Create a new mailboxRestoreArtifactsBulkAdditionRequest object associated with an exchangeRestoreSession. The following steps describe how to create and manage an exchangeRestoreSession with bulk artifact additions:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/exchangerestoresession-post-mailboxrestoreartifactsbulkadditionrequests?view=graph-rest-1.0
      operationId: solution.backupRestore.exchangeRestoreSession_CreateMailboxRestoreArtifactsBulkAdditionRequest
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifactsBulkAdditionRequest'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifactsBulkAdditionRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifactsBulkAdditionRequests/{mailboxRestoreArtifactsBulkAdditionRequest-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxRestoreArtifactsBulkAdditionRequest
      description: 'Get a mailboxRestoreArtifactsBulkAdditionRequest object by its id, associated with an exchangeRestoreSession.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailboxrestoreartifactsbulkadditionrequest-get?view=graph-rest-1.0
      operationId: solution.backupRestore.exchangeRestoreSession_GetMailboxRestoreArtifactsBulkAdditionRequest
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: mailboxRestoreArtifactsBulkAdditionRequest-id
          in: path
          description: The unique identifier of mailboxRestoreArtifactsBulkAdditionRequest
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxRestoreArtifactsBulkAdditionRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifactsBulkAdditionRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property mailboxRestoreArtifactsBulkAdditionRequests in solutions
      operationId: solution.backupRestore.exchangeRestoreSession_UpdateMailboxRestoreArtifactsBulkAdditionRequest
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: mailboxRestoreArtifactsBulkAdditionRequest-id
          in: path
          description: The unique identifier of mailboxRestoreArtifactsBulkAdditionRequest
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxRestoreArtifactsBulkAdditionRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifactsBulkAdditionRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxRestoreArtifactsBulkAdditionRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete mailboxRestoreArtifactsBulkAdditionRequest
      description: Delete a mailboxRestoreArtifactsBulkAdditionRequest object associated with an exchangeRestoreSession.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/mailboxrestoreartifactsbulkadditionrequest-delete?view=graph-rest-1.0
      operationId: solution.backupRestore.exchangeRestoreSession_DeleteMailboxRestoreArtifactsBulkAdditionRequest
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - name: mailboxRestoreArtifactsBulkAdditionRequest-id
          in: path
          description: The unique identifier of mailboxRestoreArtifactsBulkAdditionRequest
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxRestoreArtifactsBulkAdditionRequest
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/exchangeRestoreSessions/{exchangeRestoreSession-id}/mailboxRestoreArtifactsBulkAdditionRequests/$count':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.exchangeRestoreSession.mailboxRestoreArtifactsBulkAdditionRequest_GetCount
      parameters:
        - name: exchangeRestoreSession-id
          in: path
          description: The unique identifier of exchangeRestoreSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: exchangeRestoreSession
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/exchangeRestoreSessions/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.exchangeRestoreSession_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/mailboxInclusionRules:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxInclusionRules from solutions
      description: The list of mailbox inclusion rules applied to the tenant.
      operationId: solution.backupRestore_ListMailboxInclusionRule
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxProtectionRuleCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to mailboxInclusionRules for solutions
      operationId: solution.backupRestore_CreateMailboxInclusionRule
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxProtectionRule'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/mailboxInclusionRules/{mailboxProtectionRule-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxInclusionRules from solutions
      description: The list of mailbox inclusion rules applied to the tenant.
      operationId: solution.backupRestore_GetMailboxInclusionRule
      parameters:
        - name: mailboxProtectionRule-id
          in: path
          description: The unique identifier of mailboxProtectionRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxProtectionRule
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property mailboxInclusionRules in solutions
      operationId: solution.backupRestore_UpdateMailboxInclusionRule
      parameters:
        - name: mailboxProtectionRule-id
          in: path
          description: The unique identifier of mailboxProtectionRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxProtectionRule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxProtectionRule'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property mailboxInclusionRules for solutions
      operationId: solution.backupRestore_DeleteMailboxInclusionRule
      parameters:
        - name: mailboxProtectionRule-id
          in: path
          description: The unique identifier of mailboxProtectionRule
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxProtectionRule
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/mailboxInclusionRules/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.mailboxInclusionRule_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/mailboxProtectionUnits:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxProtectionUnits from solutions
      description: The list of mailbox protection units in the tenant.
      operationId: solution.backupRestore_ListMailboxProtectionUnit
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxProtectionUnitCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to mailboxProtectionUnits for solutions
      operationId: solution.backupRestore_CreateMailboxProtectionUnit
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnit'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/mailboxProtectionUnits/{mailboxProtectionUnit-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxProtectionUnits from solutions
      description: The list of mailbox protection units in the tenant.
      operationId: solution.backupRestore_GetMailboxProtectionUnit
      parameters:
        - name: mailboxProtectionUnit-id
          in: path
          description: The unique identifier of mailboxProtectionUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxProtectionUnit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property mailboxProtectionUnits in solutions
      operationId: solution.backupRestore_UpdateMailboxProtectionUnit
      parameters:
        - name: mailboxProtectionUnit-id
          in: path
          description: The unique identifier of mailboxProtectionUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxProtectionUnit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnit'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.backupRestoreRoot
      summary: Delete navigation property mailboxProtectionUnits for solutions
      operationId: solution.backupRestore_DeleteMailboxProtectionUnit
      parameters:
        - name: mailboxProtectionUnit-id
          in: path
          description: The unique identifier of mailboxProtectionUnit
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxProtectionUnit
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/backupRestore/mailboxProtectionUnits/$count:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get the number of the resource
      operationId: solution.backupRestore.mailboxProtectionUnit_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/backupRestore/mailboxProtectionUnitsBulkAdditionJobs:
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxProtectionUnitsBulkAdditionJobs from solutions
      operationId: solution.backupRestore_ListMailboxProtectionUnitsBulkAdditionJob
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailboxProtectionUnitsBulkAdditionJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.backupRestoreRoot
      summary: Create new navigation property to mailboxProtectionUnitsBulkAdditionJobs for solutions
      operationId: solution.backupRestore_CreateMailboxProtectionUnitsBulkAdditionJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnitsBulkAdditionJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnitsBulkAdditionJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/backupRestore/mailboxProtectionUnitsBulkAdditionJobs/{mailboxProtectionUnitsBulkAdditionJob-id}':
    get:
      tags:
        - solutions.backupRestoreRoot
      summary: Get mailboxProtectionUnitsBulkAdditionJobs from solutions
      operationId: solution.backupRestore_GetMailboxProtectionUnitsBulkAdditionJob
      parameters:
        - name: mailboxProtectionUnitsBulkAdditionJob-id
          in: path
          description: The unique identifier of mailboxProtectionUnitsBulkAdditionJob
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mailboxProtectionUnitsBulkAdditionJob
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxProtectionUnitsBulkAdditionJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.backupRestoreRoot
      summary: Update the navigation property mailboxProtectionUnitsBulkAdditionJobs in solutions
      operationId: solution.backupRestore_UpdateMailboxProtectionUnitsBulkAdditionJob
      parameters:
        - name: mailboxProtectionUnitsBulkAdditionJob-id
          in: path
[...]
