openapi: 3.0.1
info:
  title: Bookings
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /solutions:
    get:
      tags:
        - solutions.solutionsRoot
      summary: Get solutions
      operationId: solution.solutionsRoot_GetSolutionsRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.solutionsRoot
      summary: Update solutions
      operationId: solution.solutionsRoot_UpdateSolutionsRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.solutionsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/bookingBusinesses:
    get:
      tags:
        - solutions.bookingBusiness
      summary: List bookingBusinesses
      description: 'Get a collection of bookingBusiness objects that has been created for the tenant. This operation returns only the id and displayName of each Microsoft Bookings business in the collection. For performance considerations, it does not return other properties. You can get the other properties of a Bookings business by specifying its id in a GET operation.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list?view=graph-rest-1.0
      operationId: solution_ListBookingBusiness
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingBusinessCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create bookingBusiness
      description: 'Create a new Microsoft Bookings business in a tenant. This is the first step in setting up a Bookings business where you must specify the business display name. You can include other information such as business address, web site address, and scheduling policy, or set that information later by updating the bookingBusiness.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-bookingbusinesses?view=graph-rest-1.0
      operationId: solution_CreateBookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingBusiness
      description: Get the properties and relationships of a bookingBusiness object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-get?view=graph-rest-1.0
      operationId: solution_GetBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update bookingbusiness
      description: Update the properties of a bookingBusiness object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-update?view=graph-rest-1.0
      operationId: solution_UpdateBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingBusiness'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete bookingBusiness
      description: Delete a bookingBusiness object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-delete?view=graph-rest-1.0
      operationId: solution_DeleteBookingBusiness
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments':
    get:
      tags:
        - solutions.bookingBusiness
      summary: List appointments
      description: Get a list of bookingAppointment objects for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-appointments?view=graph-rest-1.0
      operationId: solution.bookingBusiness_ListAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create bookingAppointment
      description: Create a new bookingAppointment for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-appointments?view=graph-rest-1.0
      operationId: solution.bookingBusiness_CreateAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingAppointment
      description: Get the properties and relationships of a bookingAppointment object in the specified bookingBusiness. The startDateTime and endDateTime properties are always returned in UTC.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-get?view=graph-rest-1.0
      operationId: solution.bookingBusiness_GetAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update bookingAppointment
      description: Update the properties of a bookingAppointment object in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-update?view=graph-rest-1.0
      operationId: solution.bookingBusiness_UpdateAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete bookingAppointment
      description: Delete a bookingAppointment in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-delete?view=graph-rest-1.0
      operationId: solution.bookingBusiness_DeleteAppointment
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments/{bookingAppointment-id}/microsoft.graph.cancel':
    post:
      tags:
        - solutions.Actions
      summary: Invoke action cancel
      description: Cancel the specified bookingAppointment in the specified bookingBusiness and send a message to the involved customer and staff members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-1.0
      operationId: solution.bookingBusiness.appointment_cancel
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/solutions/bookingBusinesses/{bookingBusiness-id}/appointments/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solution.bookingBusiness.appointment_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get calendarView from solutions
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-calendarview?view=graph-rest-1.0
      operationId: solution.bookingBusiness_ListCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingAppointmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create new navigation property to calendarView for solutions
      operationId: solution.bookingBusiness_CreateCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get calendarView from solutions
      description: The set of appointments of this business in a specified date range. Read-only. Nullable.
      operationId: solution.bookingBusiness_GetCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: start
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: end
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update the navigation property calendarView in solutions
      operationId: solution.bookingBusiness_UpdateCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingAppointment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete navigation property calendarView for solutions
      operationId: solution.bookingBusiness_DeleteCalendarView
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView/{bookingAppointment-id}/microsoft.graph.cancel':
    post:
      tags:
        - solutions.Actions
      summary: Invoke action cancel
      description: Cancel the specified bookingAppointment in the specified bookingBusiness and send a message to the involved customer and staff members.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingappointment-cancel?view=graph-rest-1.0
      operationId: solution.bookingBusiness.calendarView_cancel
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingAppointment-id
          in: path
          description: The unique identifier of bookingAppointment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingAppointment
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                cancellationMessage:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/solutions/bookingBusinesses/{bookingBusiness-id}/calendarView/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solution.bookingBusiness.calendarView_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customers':
    get:
      tags:
        - solutions.bookingBusiness
      summary: List customers
      description: Get a list of bookingCustomer objects of a business.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-customers?view=graph-rest-1.0
      operationId: solution.bookingBusiness_ListCustomer
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCustomerBaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create bookingCustomer
      description: Create a new bookingCustomer object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-customers?view=graph-rest-1.0
      operationId: solution.bookingBusiness_CreateCustomer
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomerBase'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomerBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customers/{bookingCustomerBase-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingCustomer
      description: Get the properties and relationships of a bookingCustomer object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomer-get?view=graph-rest-1.0
      operationId: solution.bookingBusiness_GetCustomer
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomerBase-id
          in: path
          description: The unique identifier of bookingCustomerBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomerBase
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomerBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update bookingCustomer
      description: Update the properties of a bookingCustomer object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomer-update?view=graph-rest-1.0
      operationId: solution.bookingBusiness_UpdateCustomer
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomerBase-id
          in: path
          description: The unique identifier of bookingCustomerBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomerBase
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomerBase'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomerBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete bookingCustomer
      description: Delete the specified bookingCustomer object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomer-delete?view=graph-rest-1.0
      operationId: solution.bookingBusiness_DeleteCustomer
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomerBase-id
          in: path
          description: The unique identifier of bookingCustomerBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomerBase
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customers/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solution.bookingBusiness.customer_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customQuestions':
    get:
      tags:
        - solutions.bookingBusiness
      summary: List customQuestions
      description: Get the bookingCustomQuestion resources associated with a bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-customquestions?view=graph-rest-1.0
      operationId: solution.bookingBusiness_ListCustomQuestion
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCustomQuestionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create bookingCustomQuestion
      description: Create a new bookingCustomQuestion object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-customquestions?view=graph-rest-1.0
      operationId: solution.bookingBusiness_CreateCustomQuestion
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customQuestions/{bookingCustomQuestion-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingCustomQuestion
      description: Read the properties and relationships of a bookingCustomQuestion object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomquestion-get?view=graph-rest-1.0
      operationId: solution.bookingBusiness_GetCustomQuestion
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomQuestion-id
          in: path
          description: The unique identifier of bookingCustomQuestion
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomQuestion
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update bookingCustomQuestion
      description: Update the properties of a bookingCustomQuestion object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomquestion-update?view=graph-rest-1.0
      operationId: solution.bookingBusiness_UpdateCustomQuestion
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomQuestion-id
          in: path
          description: The unique identifier of bookingCustomQuestion
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomQuestion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCustomQuestion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete bookingCustomQuestion
      description: Delete a bookingCustomQuestion object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcustomquestion-delete?view=graph-rest-1.0
      operationId: solution.bookingBusiness_DeleteCustomQuestion
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingCustomQuestion-id
          in: path
          description: The unique identifier of bookingCustomQuestion
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCustomQuestion
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/customQuestions/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solution.bookingBusiness.customQuestion_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.getStaffAvailability':
    post:
      tags:
        - solutions.Actions
      summary: Invoke action getStaffAvailability
      description: Get the availability information of staff members of a Microsoft Bookings calendar.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-getstaffavailability?view=graph-rest-1.0
      operationId: solution.bookingBusiness_getStaffAvailability
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                staffIds:
                  type: array
                  items:
                    type: string
                startDateTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                endDateTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.staffAvailabilityItem'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/solutions/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.publish':
    post:
      tags:
        - solutions.Actions
      summary: Invoke action publish
      description: 'Make the scheduling page of a business available to external customers. Set the isPublished property to true, and the publicUrl property to the URL of the scheduling page.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-publish?view=graph-rest-1.0
      operationId: solution.bookingBusiness_publish
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/solutions/bookingBusinesses/{bookingBusiness-id}/microsoft.graph.unpublish':
    post:
      tags:
        - solutions.Actions
      summary: Invoke action unpublish
      description: 'Make the scheduling page of this business not available to external customers. Set the isPublished property to false, and the publicUrl property to null.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-unpublish?view=graph-rest-1.0
      operationId: solution.bookingBusiness_unpublish
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/solutions/bookingBusinesses/{bookingBusiness-id}/services':
    get:
      tags:
        - solutions.bookingBusiness
      summary: List services
      description: Get a list of bookingService objects in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-services?view=graph-rest-1.0
      operationId: solution.bookingBusiness_ListService
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingServiceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create bookingService
      description: Create a new bookingService for the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-services?view=graph-rest-1.0
      operationId: solution.bookingBusiness_CreateService
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/services/{bookingService-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingService
      description: Get the properties and relationships of a bookingService object in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingservice-get?view=graph-rest-1.0
      operationId: solution.bookingBusiness_GetService
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: The unique identifier of bookingService
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingService
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update bookingservice
      description: "Update the properties of a bookingService object in the specified bookingBusiness. The following are some examples you can customize for a service:\n- Price\n- Typical length of an appointment\n- Reminders\n- Any time buffer to set up before or finish up after the service\n- Scheduling policy parameters, such as minimum notice to book or cancel, and whether customers can select specific staff members for an appointment."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingservice-update?view=graph-rest-1.0
      operationId: solution.bookingBusiness_UpdateService
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: The unique identifier of bookingService
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingService
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingService'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingService'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete bookingService
      description: Delete a bookingService object in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingservice-delete?view=graph-rest-1.0
      operationId: solution.bookingBusiness_DeleteService
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingService-id
          in: path
          description: The unique identifier of bookingService
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingService
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/services/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solution.bookingBusiness.service_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/solutions/bookingBusinesses/{bookingBusiness-id}/staffMembers':
    get:
      tags:
        - solutions.bookingBusiness
      summary: List staffMembers
      description: Get a list of bookingStaffMember objects in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-list-staffmembers?view=graph-rest-1.0
      operationId: solution.bookingBusiness_ListStaffMember
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingStaffMemberBaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingBusiness
      summary: Create bookingStaffMember
      description: Create a new bookingStaffMember in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingbusiness-post-staffmembers?view=graph-rest-1.0
      operationId: solution.bookingBusiness_CreateStaffMember
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMemberBase'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMemberBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/staffMembers/{bookingStaffMemberBase-id}':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get bookingStaffMember
      description: Get the properties and relationships of a bookingStaffMember in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingstaffmember-get?view=graph-rest-1.0
      operationId: solution.bookingBusiness_GetStaffMember
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMemberBase-id
          in: path
          description: The unique identifier of bookingStaffMemberBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMemberBase
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMemberBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingBusiness
      summary: Update bookingstaffmember
      description: Update the properties of a bookingStaffMember in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingstaffmember-update?view=graph-rest-1.0
      operationId: solution.bookingBusiness_UpdateStaffMember
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMemberBase-id
          in: path
          description: The unique identifier of bookingStaffMemberBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMemberBase
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingStaffMemberBase'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingStaffMemberBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingBusiness
      summary: Delete bookingStaffMember
      description: Delete a bookingStaffMember in the specified bookingBusiness.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingstaffmember-delete?view=graph-rest-1.0
      operationId: solution.bookingBusiness_DeleteStaffMember
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - name: bookingStaffMemberBase-id
          in: path
          description: The unique identifier of bookingStaffMemberBase
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingStaffMemberBase
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingBusinesses/{bookingBusiness-id}/staffMembers/$count':
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solution.bookingBusiness.staffMember_GetCount
      parameters:
        - name: bookingBusiness-id
          in: path
          description: The unique identifier of bookingBusiness
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingBusiness
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/bookingBusinesses/$count:
    get:
      tags:
        - solutions.bookingBusiness
      summary: Get the number of the resource
      operationId: solution.bookingBusiness_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/bookingCurrencies:
    get:
      tags:
        - solutions.bookingCurrency
      summary: List bookingCurrencies
      description: Get a list of bookingCurrency objects available to a Microsoft Bookings business.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcurrency-list?view=graph-rest-1.0
      operationId: solution_ListBookingCurrency
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bookingCurrencyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.bookingCurrency
      summary: Create new navigation property to bookingCurrencies for solutions
      operationId: solution_CreateBookingCurrency
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/bookingCurrencies/{bookingCurrency-id}':
    get:
      tags:
        - solutions.bookingCurrency
      summary: Get bookingCurrency
      description: 'Get the properties of a bookingCurrency object that is available to a Microsoft Bookings business. Use the id property, which is the currency code, to specify the currency.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bookingcurrency-get?view=graph-rest-1.0
      operationId: solution_GetBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: The unique identifier of bookingCurrency
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.bookingCurrency
      summary: Update the navigation property bookingCurrencies in solutions
      operationId: solution_UpdateBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: The unique identifier of bookingCurrency
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bookingCurrency'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.bookingCurrency
      summary: Delete navigation property bookingCurrencies for solutions
      operationId: solution_DeleteBookingCurrency
      parameters:
        - name: bookingCurrency-id
          in: path
          description: The unique identifier of bookingCurrency
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: bookingCurrency
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/bookingCurrencies/$count:
    get:
      tags:
        - solutions.bookingCurrency
      summary: Get the number of the resource
      operationId: solution.bookingCurrency_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /solutions/virtualEvents:
    get:
      tags:
        - solutions.virtualEventsRoot
      summary: Get virtualEvents from solutions
      operationId: solution_GetVirtualEvent
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.virtualEventsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.virtualEventsRoot
      summary: Update the navigation property virtualEvents in solutions
      operationId: solution_UpdateVirtualEvent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.virtualEventsRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.virtualEventsRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.virtualEventsRoot
      summary: Delete navigation property virtualEvents for solutions
      operationId: solution_DeleteVirtualEvent
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /solutions/virtualEvents/events:
    get:
      tags:
        - solutions.virtualEventsRoot
      summary: Get events from solutions
      operationId: solution.virtualEvent_ListEvent
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.virtualEventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.virtualEventsRoot
      summary: Create new navigation property to events for solutions
      operationId: solution.virtualEvent_CreateEvent
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.virtualEvent'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.virtualEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/virtualEvents/events/{virtualEvent-id}':
    get:
      tags:
        - solutions.virtualEventsRoot
      summary: Get events from solutions
      operationId: solution.virtualEvent_GetEvent
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.virtualEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.virtualEventsRoot
      summary: Update the navigation property events in solutions
      operationId: solution.virtualEvent_UpdateEvent
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.virtualEvent'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.virtualEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.virtualEventsRoot
      summary: Delete navigation property events for solutions
      operationId: solution.virtualEvent_DeleteEvent
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/virtualEvents/events/{virtualEvent-id}/sessions':
    get:
      tags:
        - solutions.virtualEventsRoot
      summary: Get sessions from solutions
      description: Sessions for the virtual event.
      operationId: solution.virtualEvent.event_ListSession
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.virtualEventSessionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.virtualEventsRoot
      summary: Create new navigation property to sessions for solutions
      operationId: solution.virtualEvent.event_CreateSession
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.virtualEventSession'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.virtualEventSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/virtualEvents/events/{virtualEvent-id}/sessions/{virtualEventSession-id}':
    get:
      tags:
        - solutions.virtualEventsRoot
      summary: Get sessions from solutions
      description: Sessions for the virtual event.
      operationId: solution.virtualEvent.event_GetSession
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - name: virtualEventSession-id
          in: path
          description: The unique identifier of virtualEventSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEventSession
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.virtualEventSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.virtualEventsRoot
      summary: Update the navigation property sessions in solutions
      operationId: solution.virtualEvent.event_UpdateSession
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - name: virtualEventSession-id
          in: path
          description: The unique identifier of virtualEventSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEventSession
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.virtualEventSession'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.virtualEventSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.virtualEventsRoot
      summary: Delete navigation property sessions for solutions
      operationId: solution.virtualEvent.event_DeleteSession
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - name: virtualEventSession-id
          in: path
          description: The unique identifier of virtualEventSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEventSession
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/virtualEvents/events/{virtualEvent-id}/sessions/{virtualEventSession-id}/attendanceReports':
    get:
      tags:
        - solutions.virtualEventsRoot
      summary: Get attendanceReports from solutions
      description: The attendance reports of an online meeting. Read-only.
      operationId: solution.virtualEvent.event.session_ListAttendanceReport
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - name: virtualEventSession-id
          in: path
          description: The unique identifier of virtualEventSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEventSession
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.meetingAttendanceReportCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - solutions.virtualEventsRoot
      summary: Create new navigation property to attendanceReports for solutions
      operationId: solution.virtualEvent.event.session_CreateAttendanceReport
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - name: virtualEventSession-id
          in: path
          description: The unique identifier of virtualEventSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEventSession
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.meetingAttendanceReport'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.meetingAttendanceReport'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/virtualEvents/events/{virtualEvent-id}/sessions/{virtualEventSession-id}/attendanceReports/{meetingAttendanceReport-id}':
    get:
      tags:
        - solutions.virtualEventsRoot
      summary: Get attendanceReports from solutions
      description: The attendance reports of an online meeting. Read-only.
      operationId: solution.virtualEvent.event.session_GetAttendanceReport
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - name: virtualEventSession-id
          in: path
          description: The unique identifier of virtualEventSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEventSession
        - name: meetingAttendanceReport-id
          in: path
          description: The unique identifier of meetingAttendanceReport
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: meetingAttendanceReport
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.meetingAttendanceReport'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - solutions.virtualEventsRoot
      summary: Update the navigation property attendanceReports in solutions
      operationId: solution.virtualEvent.event.session_UpdateAttendanceReport
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - name: virtualEventSession-id
          in: path
          description: The unique identifier of virtualEventSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEventSession
        - name: meetingAttendanceReport-id
          in: path
          description: The unique identifier of meetingAttendanceReport
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: meetingAttendanceReport
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.meetingAttendanceReport'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.meetingAttendanceReport'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - solutions.virtualEventsRoot
      summary: Delete navigation property attendanceReports for solutions
      operationId: solution.virtualEvent.event.session_DeleteAttendanceReport
      parameters:
        - name: virtualEvent-id
          in: path
          description: The unique identifier of virtualEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEvent
        - name: virtualEventSession-id
          in: path
          description: The unique identifier of virtualEventSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: virtualEventSession
        - name: meetingAttendanceReport-id
          in: path
          description: The unique identifier of meetingAttendanceReport
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: meetingAttendanceReport
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/solutions/virtualEvents/events/{virtualEvent-id}/sessions/{virtualEventSession-id}/attendanceReports/{meetingAttendanceReport-id}/attendanceRecords':
    get:
      tags:
        - solutions.virtualEventsRoot
      summary: List attendanceRecords
[...]
