openapi: 3.0.1
info:
  title: Calendar
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/groups/{group-id}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The group's calendar. Read-only.
      operationId: group_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarPermissions':
    get:
      tags:
        - groups.calendar
      summary: Get calendarPermissions from groups
      description: The permissions of the users with whom the calendar is shared.
      operationId: group.calendar_ListCalendarPermission
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.calendarPermissionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to calendarPermissions for groups
      operationId: group.calendar_CreateCalendarPermission
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarPermissions/{calendarPermission-id}':
    get:
      tags:
        - groups.calendar
      summary: Get calendarPermissions from groups
      description: The permissions of the users with whom the calendar is shared.
      operationId: group.calendar_GetCalendarPermission
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: calendarPermission-id
          in: path
          description: The unique identifier of calendarPermission
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property calendarPermissions in groups
      operationId: group.calendar_UpdateCalendarPermission
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: calendarPermission-id
          in: path
          description: The unique identifier of calendarPermission
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property calendarPermissions for groups
      operationId: group.calendar_DeleteCalendarPermission
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: calendarPermission-id
          in: path
          description: The unique identifier of calendarPermission
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarPermissions/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: group.calendar.calendarPermission_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/calendarView':
    get:
      tags:
        - groups.calendar
      summary: Get calendarView from groups
      description: The calendar view for the calendar. Navigation property. Read-only.
      operationId: group.calendar_ListCalendarView
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}':
    get:
      tags:
        - groups.calendar
      summary: Get calendarView from groups
      description: The calendar view for the calendar. Navigation property. Read-only.
      operationId: group.calendar_GetCalendarView
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/attachments':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.calendarView_ListAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to attachments for groups
      operationId: group.calendar.calendarView_CreateAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/attachments/{attachment-id}':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.calendarView_GetAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property attachments for groups
      operationId: group.calendar.calendarView_DeleteAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/attachments/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: group.calendar.calendarView.attachment_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/calendarView/{event-id}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The calendar that contains the event. Navigation property. Read-only.
      operationId: group.calendar.calendarView_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/extensions':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.calendarView_ListExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to extensions for groups
      operationId: group.calendar.calendarView_CreateExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/extensions/{extension-id}':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.calendarView_GetExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property extensions in groups
      operationId: group.calendar.calendarView_UpdateExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property extensions for groups
      operationId: group.calendar.calendarView_DeleteExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/extensions/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: group.calendar.calendarView.extension_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances':
    get:
      tags:
        - groups.calendar
      summary: Get instances from groups
      description: 'The occurrences of a recurring series, if the event is a series master. This property includes occurrences that are part of the recurrence pattern, and exceptions that have been modified, but does not include occurrences that have been cancelled from the series. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.calendarView_ListInstance
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}':
    get:
      tags:
        - groups.calendar
      summary: Get instances from groups
      description: 'The occurrences of a recurring series, if the event is a series master. This property includes occurrences that are part of the recurrence pattern, and exceptions that have been modified, but does not include occurrences that have been cancelled from the series. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.calendarView_GetInstance
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/attachments':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.calendarView.instance_ListAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to attachments for groups
      operationId: group.calendar.calendarView.instance_CreateAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/attachments/{attachment-id}':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.calendarView.instance_GetAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property attachments for groups
      operationId: group.calendar.calendarView.instance_DeleteAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/attachments/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: group.calendar.calendarView.instance.attachment_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The calendar that contains the event. Navigation property. Read-only.
      operationId: group.calendar.calendarView.instance_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/extensions':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.calendarView.instance_ListExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to extensions for groups
      operationId: group.calendar.calendarView.instance_CreateExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/extensions/{extension-id}':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.calendarView.instance_GetExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property extensions in groups
      operationId: group.calendar.calendarView.instance_UpdateExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property extensions for groups
      operationId: group.calendar.calendarView.instance_DeleteExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/extensions/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: group.calendar.calendarView.instance.extension_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: group.calendar.calendarView.instance_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/calendarView/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: group.calendar.calendarView_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/events':
    get:
      tags:
        - groups.calendar
      summary: Get events from groups
      description: The events in the calendar. Navigation property. Read-only.
      operationId: group.calendar_ListEvent
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to events for groups
      operationId: group.calendar_CreateEvent
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}':
    get:
      tags:
        - groups.calendar
      summary: Get events from groups
      description: The events in the calendar. Navigation property. Read-only.
      operationId: group.calendar_GetEvent
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property events in groups
      operationId: group.calendar_UpdateEvent
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property events for groups
      operationId: group.calendar_DeleteEvent
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/attachments':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.event_ListAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to attachments for groups
      operationId: group.calendar.event_CreateAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/attachments/{attachment-id}':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.event_GetAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property attachments for groups
      operationId: group.calendar.event_DeleteAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/attachments/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: group.calendar.event.attachment_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/events/{event-id}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The calendar that contains the event. Navigation property. Read-only.
      operationId: group.calendar.event_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/extensions':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.event_ListExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to extensions for groups
      operationId: group.calendar.event_CreateExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/extensions/{extension-id}':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.event_GetExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.calendar
      summary: Update the navigation property extensions in groups
      operationId: group.calendar.event_UpdateExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property extensions for groups
      operationId: group.calendar.event_DeleteExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: extension-id
          in: path
          description: The unique identifier of extension
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/extensions/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: group.calendar.event.extension_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/events/{event-id}/instances':
    get:
      tags:
        - groups.calendar
      summary: Get instances from groups
      description: 'The occurrences of a recurring series, if the event is a series master. This property includes occurrences that are part of the recurrence pattern, and exceptions that have been modified, but does not include occurrences that have been cancelled from the series. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.event_ListInstance
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}':
    get:
      tags:
        - groups.calendar
      summary: Get instances from groups
      description: 'The occurrences of a recurring series, if the event is a series master. This property includes occurrences that are part of the recurrence pattern, and exceptions that have been modified, but does not include occurrences that have been cancelled from the series. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.event_GetInstance
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/attachments':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.event.instance_ListAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to attachments for groups
      operationId: group.calendar.event.instance_CreateAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/attachments/{attachment-id}':
    get:
      tags:
        - groups.calendar
      summary: Get attachments from groups
      description: 'The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.'
      operationId: group.calendar.event.instance_GetAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.calendar
      summary: Delete navigation property attachments for groups
      operationId: group.calendar.event.instance_DeleteAttachment
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: attachment-id
          in: path
          description: The unique identifier of attachment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: attachment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/attachments/$count':
    get:
      tags:
        - groups.calendar
      summary: Get the number of the resource
      operationId: group.calendar.event.instance.attachment_GetCount
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/calendar':
    get:
      tags:
        - groups.calendar
      summary: Get calendar from groups
      description: The calendar that contains the event. Navigation property. Read-only.
      operationId: group.calendar.event.instance_GetCalendar
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/extensions':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.event.instance_ListExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.calendar
      summary: Create new navigation property to extensions for groups
      operationId: group.calendar.event.instance_CreateExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: The unique identifier of event
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/extensions/{extension-id}':
    get:
      tags:
        - groups.calendar
      summary: Get extensions from groups
      description: The collection of open extensions defined for the event. Nullable.
      operationId: group.calendar.event.instance_GetExtension
      parameters:
        - name: group-id
          in: path
          description: The unique identifier of group
          required: true
          style: simple
[...]
