openapi: 3.0.4
info:
  title: CloudCommunications
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /communications:
    get:
      tags:
        - communications.cloudCommunications
      summary: Get communications
      operationId: communication.cloudCommunication_GetCloudCommunication
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.cloudCommunications
      summary: Update communications
      operationId: communication.cloudCommunication_UpdateCloudCommunication
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/adhocCalls:
    get:
      tags:
        - communications.adhocCall
      summary: Get adhocCalls from communications
      operationId: communication_ListAdhocCall
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.adhocCallCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.adhocCall
      summary: Create new navigation property to adhocCalls for communications
      operationId: communication_CreateAdhocCall
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adhocCall'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adhocCall'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}':
    get:
      tags:
        - communications.adhocCall
      summary: Get adhocCalls from communications
      operationId: communication_GetAdhocCall
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adhocCall'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.adhocCall
      summary: Update the navigation property adhocCalls in communications
      operationId: communication_UpdateAdhocCall
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.adhocCall'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.adhocCall'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.adhocCall
      summary: Delete navigation property adhocCalls for communications
      operationId: communication_DeleteAdhocCall
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}/recordings':
    get:
      tags:
        - communications.adhocCall
      summary: Get recordings from communications
      description: The recordings of a call. Read-only.
      operationId: communication.adhocCall_ListRecording
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecordingCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.adhocCall
      summary: Create new navigation property to recordings for communications
      operationId: communication.adhocCall_CreateRecording
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecording'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecording'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}/recordings/{callRecording-id}':
    get:
      tags:
        - communications.adhocCall
      summary: Get recordings from communications
      description: The recordings of a call. Read-only.
      operationId: communication.adhocCall_GetRecording
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callRecording-id
          in: path
          description: The unique identifier of callRecording
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecording
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecording'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.adhocCall
      summary: Update the navigation property recordings in communications
      operationId: communication.adhocCall_UpdateRecording
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callRecording-id
          in: path
          description: The unique identifier of callRecording
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecording
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecording'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecording'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.adhocCall
      summary: Delete navigation property recordings for communications
      operationId: communication.adhocCall_DeleteRecording
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callRecording-id
          in: path
          description: The unique identifier of callRecording
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecording
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}/recordings/{callRecording-id}/content':
    get:
      tags:
        - communications.adhocCall
      summary: Get content for the navigation property recordings from communications
      description: The content of the recording. Read-only.
      operationId: communication.adhocCall_GetRecordingsContent
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callRecording-id
          in: path
          description: The unique identifier of callRecording
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecording
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
        - communications.adhocCall
      summary: Update content for the navigation property recordings in communications
      description: The content of the recording. Read-only.
      operationId: communication.adhocCall_SetRecordingsContent
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callRecording-id
          in: path
          description: The unique identifier of callRecording
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecording
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecording'
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - communications.adhocCall
      summary: Delete content for the navigation property recordings in communications
      description: The content of the recording. Read-only.
      operationId: communication.adhocCall_DeleteRecordingsContent
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callRecording-id
          in: path
          description: The unique identifier of callRecording
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecording
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/{adhocCall-id}/recordings/$count':
    get:
      tags:
        - communications.adhocCall
      summary: Get the number of the resource
      operationId: communication.adhocCall.recording_GetCount
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/{adhocCall-id}/recordings/microsoft.graph.delta()':
    get:
      tags:
        - communications.adhocCall
      summary: Invoke function delta
      operationId: communication.adhocCall.recording_delta
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of callRecording
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.callRecording'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/communications/adhocCalls/{adhocCall-id}/transcripts':
    get:
      tags:
        - communications.adhocCall
      summary: Get transcripts from communications
      description: The transcripts of a call. Read-only.
      operationId: communication.adhocCall_ListTranscript
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callTranscriptCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.adhocCall
      summary: Create new navigation property to transcripts for communications
      operationId: communication.adhocCall_CreateTranscript
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callTranscript'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callTranscript'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}/transcripts/{callTranscript-id}':
    get:
      tags:
        - communications.adhocCall
      summary: Get transcripts from communications
      description: The transcripts of a call. Read-only.
      operationId: communication.adhocCall_GetTranscript
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callTranscript-id
          in: path
          description: The unique identifier of callTranscript
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callTranscript
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callTranscript'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.adhocCall
      summary: Update the navigation property transcripts in communications
      operationId: communication.adhocCall_UpdateTranscript
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callTranscript-id
          in: path
          description: The unique identifier of callTranscript
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callTranscript
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callTranscript'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callTranscript'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.adhocCall
      summary: Delete navigation property transcripts for communications
      operationId: communication.adhocCall_DeleteTranscript
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callTranscript-id
          in: path
          description: The unique identifier of callTranscript
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callTranscript
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/adhocCalls/{adhocCall-id}/transcripts/{callTranscript-id}/content':
    get:
      tags:
        - communications.adhocCall
      summary: Get content for the navigation property transcripts from communications
      description: The content of the transcript. Read-only.
      operationId: communication.adhocCall_GetTranscriptsContent
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callTranscript-id
          in: path
          description: The unique identifier of callTranscript
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callTranscript
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
        - communications.adhocCall
      summary: Update content for the navigation property transcripts in communications
      description: The content of the transcript. Read-only.
      operationId: communication.adhocCall_SetTranscriptsContent
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callTranscript-id
          in: path
          description: The unique identifier of callTranscript
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callTranscript
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callTranscript'
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - communications.adhocCall
      summary: Delete content for the navigation property transcripts in communications
      description: The content of the transcript. Read-only.
      operationId: communication.adhocCall_DeleteTranscriptsContent
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callTranscript-id
          in: path
          description: The unique identifier of callTranscript
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callTranscript
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/{adhocCall-id}/transcripts/{callTranscript-id}/metadataContent':
    get:
      tags:
        - communications.adhocCall
      summary: Get metadataContent for the navigation property transcripts from communications
      description: The time-aligned metadata of the utterances in the transcript. Read-only.
      operationId: communication.adhocCall_GetTranscriptsMetadataContent
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callTranscript-id
          in: path
          description: The unique identifier of callTranscript
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callTranscript
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
        - communications.adhocCall
      summary: Update metadataContent for the navigation property transcripts in communications
      description: The time-aligned metadata of the utterances in the transcript. Read-only.
      operationId: communication.adhocCall_SetTranscriptsMetadataContent
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callTranscript-id
          in: path
          description: The unique identifier of callTranscript
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callTranscript
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - communications.adhocCall
      summary: Delete metadataContent for the navigation property transcripts in communications
      description: The time-aligned metadata of the utterances in the transcript. Read-only.
      operationId: communication.adhocCall_DeleteTranscriptsMetadataContent
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - name: callTranscript-id
          in: path
          description: The unique identifier of callTranscript
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callTranscript
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/{adhocCall-id}/transcripts/$count':
    get:
      tags:
        - communications.adhocCall
      summary: Get the number of the resource
      operationId: communication.adhocCall.transcript_GetCount
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/adhocCalls/{adhocCall-id}/transcripts/microsoft.graph.delta()':
    get:
      tags:
        - communications.adhocCall
      summary: Invoke function delta
      operationId: communication.adhocCall.transcript_delta
      parameters:
        - name: adhocCall-id
          in: path
          description: The unique identifier of adhocCall
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: adhocCall
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of callTranscript
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.callTranscript'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                  '@odata.deltaLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /communications/adhocCalls/$count:
    get:
      tags:
        - communications.adhocCall
      summary: Get the number of the resource
      operationId: communication.adhocCall_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /communications/callRecords:
    get:
      tags:
        - communications.callRecord
      summary: List callRecords
      description: Get the list of callRecord objects and their properties. The results can be optionally filtered using the $filter query parameter on the startDateTime and participant id properties. Note that the listed call records don't include expandable relationships such as sessions and participants_v2. You can expand these relationships using Get callRecord for a specific record.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/callrecords-cloudcommunications-list-callrecords?view=graph-rest-1.0
      operationId: communication_ListCallRecord
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.callRecordCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to callRecords for communications
      operationId: communication_CreateCallRecord
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get callRecord
      description: "Retrieve the properties and relationships of a callRecord object. You can get the id of a callRecord in two ways:\r\n* Subscribe to change notifications to the /communications/callRecords endpoint.\r\n* Use the callChainId property of a call. The call record is available only after the associated call is completed."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/callrecords-callrecord-get?view=graph-rest-1.0
      operationId: communication_GetCallRecord
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property callRecords in communications
      operationId: communication_UpdateCallRecord
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property callRecords for communications
      operationId: communication_DeleteCallRecord
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/organizer_v2':
    get:
      tags:
        - communications.callRecord
      summary: Get organizer_v2 from communications
      description: Identity of the organizer of the call. This relationship is expanded by default in callRecord methods.
      operationId: communication.callRecord_GetOrganizer_v2
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.organizer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property organizer_v2 in communications
      operationId: communication.callRecord_UpdateOrganizer_v2
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.organizer'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.organizer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property organizer_v2 for communications
      operationId: communication.callRecord_DeleteOrganizer_v2
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/participants_v2':
    get:
      tags:
        - communications.callRecord
      summary: List participants_v2
      description: Get the list of participant objects associated with a callRecord.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/callrecords-callrecord-list-participants_v2?view=graph-rest-1.0
      operationId: communication.callRecord_ListParticipants_v2
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.participantCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to participants_v2 for communications
      operationId: communication.callRecord_CreateParticipants_v2
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.participant'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/participants_v2/{participant-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get participants_v2 from communications
      description: List of distinct participants in the call.
      operationId: communication.callRecord_GetParticipants_v2
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property participants_v2 in communications
      operationId: communication.callRecord_UpdateParticipants_v2
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.participant'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property participants_v2 for communications
      operationId: communication.callRecord_DeleteParticipants_v2
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/participants_v2/$count':
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communication.callRecord.participants_v2_GetCount
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/callRecords/{callRecord-id}/sessions':
    get:
      tags:
        - communications.callRecord
      summary: List sessions
      description: 'Retrieve the list of sessions associated with a callRecord object. If the sessions list is truncated, a sessions@odata.nextLink value will be provided to retrieve the next page of sessions. The maximum page size for sessions is 60 entries.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/callrecords-callrecord-list-sessions?view=graph-rest-1.0
      operationId: communication.callRecord_ListSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.sessionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to sessions for communications
      operationId: communication.callRecord_CreateSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get sessions from communications
      description: 'List of sessions involved in the call. Peer-to-peer calls typically only have one session, whereas group calls typically have at least one session per participant. Read-only. Nullable.'
      operationId: communication.callRecord_GetSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property sessions in communications
      operationId: communication.callRecord_UpdateSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property sessions for communications
      operationId: communication.callRecord_DeleteSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      description: The list of segments involved in the session. Read-only. Nullable.
      operationId: communication.callRecord.session_ListSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.segmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to segments for communications
      operationId: communication.callRecord.session_CreateSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments/{segment-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      description: The list of segments involved in the session. Read-only. Nullable.
      operationId: communication.callRecord.session_GetSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: The unique identifier of segment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: segment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property segments in communications
      operationId: communication.callRecord.session_UpdateSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: The unique identifier of segment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: segment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property segments for communications
      operationId: communication.callRecord.session_DeleteSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: The unique identifier of segment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: segment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments/$count':
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communication.callRecord.session.segment_GetCount
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/callRecords/{callRecord-id}/sessions/$count':
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communication.callRecord.session_GetCount
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /communications/callRecords/$count:
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communication.callRecord_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /communications/calls:
    get:
      tags:
        - communications.call
      summary: Get call
      description: Retrieve the properties and relationships of a call object.
      operationId: communication_ListCall
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create call
      description: 'Create call enables your bot to create a new outgoing peer-to-peer or group call, or join an existing meeting. You need to register the calling bot and go through the list of permissions needed. This API supports the following PSTN scenarios:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-post-calls?view=graph-rest-1.0
      operationId: communication_CreateCall
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}':
    get:
      tags:
        - communications.call
      summary: Get call
      description: Retrieve the properties and relationships of a call object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-get?view=graph-rest-1.0
      operationId: communication_GetCall
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property calls in communications
      operationId: communication_UpdateCall
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete call
      description: 'Delete or hang up an active call. For group calls, this will only delete your call leg and the underlying group call will still continue.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-delete?view=graph-rest-1.0
      operationId: communication_DeleteCall
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups':
    get:
      tags:
        - communications.call
      summary: List audioRoutingGroups
      description: Retrieve a list of audioRoutingGroup objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-list-audioroutinggroups?view=graph-rest-1.0
      operationId: communication.call_ListAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.audioRoutingGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create audioRoutingGroup
      description: Create a new audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-post-audioroutinggroups?view=graph-rest-1.0
      operationId: communication.call_CreateAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups/{audioRoutingGroup-id}':
    get:
      tags:
        - communications.call
      summary: Get audioRoutingGroup
      description: Retrieve the properties and relationships of an audioRoutingGroup object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-get?view=graph-rest-1.0
      operationId: communication.call_GetAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: The unique identifier of audioRoutingGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update audioRoutingGroup
      description: Modify sources and receivers of an audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-update?view=graph-rest-1.0
      operationId: communication.call_UpdateAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: The unique identifier of audioRoutingGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete audioRoutingGroup
      description: Delete the specified audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-delete?view=graph-rest-1.0
      operationId: communication.call_DeleteAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: The unique identifier of audioRoutingGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call.audioRoutingGroup_GetCount
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/contentSharingSessions':
    get:
      tags:
        - communications.call
      summary: List contentSharingSessions
      description: Retrieve a list of contentSharingSession objects in a call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-list-contentsharingsessions?view=graph-rest-1.0
      operationId: communication.call_ListContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contentSharingSessionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to contentSharingSessions for communications
      operationId: communication.call_CreateContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/contentSharingSessions/{contentSharingSession-id}':
    get:
      tags:
        - communications.call
      summary: Get contentSharingSession
      description: Retrieve the properties of a contentSharingSession object in a call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contentsharingsession-get?view=graph-rest-1.0
      operationId: communication.call_GetContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: contentSharingSession-id
          in: path
          description: The unique identifier of contentSharingSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contentSharingSession
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property contentSharingSessions in communications
      operationId: communication.call_UpdateContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: contentSharingSession-id
          in: path
          description: The unique identifier of contentSharingSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contentSharingSession
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property contentSharingSessions for communications
      operationId: communication.call_DeleteContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: contentSharingSession-id
          in: path
          description: The unique identifier of contentSharingSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contentSharingSession
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/contentSharingSessions/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call.contentSharingSession_GetCount
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/microsoft.graph.addLargeGalleryView':
    post:
      tags:
        - communications.call
      summary: Invoke action addLargeGalleryView
      description: 'Add the large gallery view to a call.  For details about how to identify a large gallery view participant in a roster so that you can retrieve the relevant data to subscribe to the video feed, see Identify large gallery view participants in a roster.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-addlargegalleryview?view=graph-rest-1.0
      operationId: communication.call_addLargeGalleryView
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.addLargeGalleryViewOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.answer':
    post:
      tags:
        - communications.call
      summary: Invoke action answer
      description: 'Enable a bot to answer an incoming call. The incoming call request can be an invitation from a participant in a group call or a peer-to-peer call. If an invitation to a group call is received, the notification contains the chatInfo and meetingInfo parameters. The bot is expected to answer, reject, or redirect the call before the call times out. The current timeout value is 15 seconds for regular scenarios and 5 seconds for policy-based recording scenarios. This API supports the following PSTN scenarios:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-answer?view=graph-rest-1.0
      operationId: communication.call_answer
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                callbackUri:
                  type: string
                mediaConfig:
                  $ref: '#/components/schemas/microsoft.graph.mediaConfig'
                acceptedModalities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.modality'
                participantCapacity:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
                  nullable: true
                callOptions:
                  $ref: '#/components/schemas/microsoft.graph.incomingCallOptions'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.cancelMediaProcessing':
    post:
      tags:
        - communications.call
      summary: Invoke action cancelMediaProcessing
      description: 'Cancels processing for any in-progress media operations. Media operations refer to the IVR operations playPrompt and recordResponse, which are by default queued to process in order. The cancelMediaProcessing method cancels any operation that is in-process as well as operations that are queued. For example, this method can be used to clean up the IVR operation queue for a new media operation. However, it will not cancel a subscribeToTone operation because it operates independent of any operation queue.'
      externalDocs:
        description: Find more info here
[...]
