openapi: 3.0.1
info:
  title: CloudCommunications
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /communications:
    get:
      tags:
        - communications.cloudCommunications
      summary: Get communications
      operationId: communications.cloudCommunications_GetCloudCommunications
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - calls
                - callRecords
                - onlineMeetings
                - presences
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - calls
                - callRecords
                - onlineMeetings
                - presences
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
          links:
            calls:
              operationId: communications.ListCalls
            callRecords:
              operationId: communications.ListCallRecords
            onlineMeetings:
              operationId: communications.ListOnlineMeetings
            presences:
              operationId: communications.ListPresences
            getPresencesByUserId:
              operationId: communications.getPresencesGraphBPreUserId
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.cloudCommunications
      summary: Update communications
      operationId: communications.cloudCommunications_UpdateCloudCommunications
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/callRecords:
    get:
      tags:
        - communications.callRecord
      summary: Get callRecords from communications
      operationId: communications_ListCallRecords
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - endDateTime
                - endDateTime desc
                - joinWebUrl
                - joinWebUrl desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - modalities
                - modalities desc
                - organizer
                - organizer desc
                - participants
                - participants desc
                - startDateTime
                - startDateTime desc
                - type
                - type desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endDateTime
                - joinWebUrl
                - lastModifiedDateTime
                - modalities
                - organizer
                - participants
                - startDateTime
                - type
                - version
                - sessions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sessions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.callRecords.callRecordCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to callRecords for communications
      operationId: communications_CreateCallRecords
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get callRecords from communications
      operationId: communications_GetCallRecords
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endDateTime
                - joinWebUrl
                - lastModifiedDateTime
                - modalities
                - organizer
                - participants
                - startDateTime
                - type
                - version
                - sessions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sessions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
          links:
            sessions:
              operationId: communications.CallRecords.ListSessions
              parameters:
                callRecord-id: $request.path.callRecord-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property callRecords in communications
      operationId: communications_UpdateCallRecords
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property callRecords for communications
      operationId: communications_DeleteCallRecords
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions':
    get:
      tags:
        - communications.callRecord
      summary: Get sessions from communications
      description: 'List of sessions involved in the call. Peer-to-peer calls typically only have one session, whereas group calls typically have at least one session per participant. Read-only. Nullable.'
      operationId: communications.callRecords_ListSessions
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - callee
                - callee desc
                - caller
                - caller desc
                - endDateTime
                - endDateTime desc
                - failureInfo
                - failureInfo desc
                - modalities
                - modalities desc
                - startDateTime
                - startDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callee
                - caller
                - endDateTime
                - failureInfo
                - modalities
                - startDateTime
                - segments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - segments
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.callRecords.sessionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to sessions for communications
      operationId: communications.callRecords_CreateSessions
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get sessions from communications
      description: 'List of sessions involved in the call. Peer-to-peer calls typically only have one session, whereas group calls typically have at least one session per participant. Read-only. Nullable.'
      operationId: communications.callRecords_GetSessions
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callee
                - caller
                - endDateTime
                - failureInfo
                - modalities
                - startDateTime
                - segments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - segments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
          links:
            segments:
              operationId: communications.callRecords.Sessions.ListSegments
              parameters:
                callRecord-id: $request.path.callRecord-id
                session-id: $request.path.session-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property sessions in communications
      operationId: communications.callRecords_UpdateSessions
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property sessions for communications
      operationId: communications.callRecords_DeleteSessions
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      description: The list of segments involved in the session. Read-only. Nullable.
      operationId: communications.callRecords.sessions_ListSegments
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - callee
                - callee desc
                - caller
                - caller desc
                - endDateTime
                - endDateTime desc
                - failureInfo
                - failureInfo desc
                - media
                - media desc
                - startDateTime
                - startDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callee
                - caller
                - endDateTime
                - failureInfo
                - media
                - startDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.callRecords.segmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to segments for communications
      operationId: communications.callRecords.sessions_CreateSegments
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments/{segment-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      description: The list of segments involved in the session. Read-only. Nullable.
      operationId: communications.callRecords.sessions_GetSegments
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: 'key: id of segment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: segment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callee
                - caller
                - endDateTime
                - failureInfo
                - media
                - startDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property segments in communications
      operationId: communications.callRecords.sessions_UpdateSegments
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: 'key: id of segment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: segment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property segments for communications
      operationId: communications.callRecords.sessions_DeleteSegments
      parameters:
        - name: callRecord-id
          in: path
          description: 'key: id of callRecord'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: 'key: id of session'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: 'key: id of segment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: segment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/calls:
    get:
      tags:
        - communications.call
      summary: Get calls from communications
      operationId: communications_ListCalls
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - callbackUri
                - callbackUri desc
                - callChainId
                - callChainId desc
                - callOptions
                - callOptions desc
                - callRoutes
                - callRoutes desc
                - chatInfo
                - chatInfo desc
                - direction
                - direction desc
                - incomingContext
                - incomingContext desc
                - mediaConfig
                - mediaConfig desc
                - mediaState
                - mediaState desc
                - meetingInfo
                - meetingInfo desc
                - myParticipantId
                - myParticipantId desc
                - requestedModalities
                - requestedModalities desc
                - resultInfo
                - resultInfo desc
                - source
                - source desc
                - state
                - state desc
                - subject
                - subject desc
                - targets
                - targets desc
                - tenantId
                - tenantId desc
                - toneInfo
                - toneInfo desc
                - transcription
                - transcription desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callbackUri
                - callChainId
                - callOptions
                - callRoutes
                - chatInfo
                - direction
                - incomingContext
                - mediaConfig
                - mediaState
                - meetingInfo
                - myParticipantId
                - requestedModalities
                - resultInfo
                - source
                - state
                - subject
                - targets
                - tenantId
                - toneInfo
                - transcription
                - audioRoutingGroups
                - operations
                - participants
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - audioRoutingGroups
                - operations
                - participants
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.callCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to calls for communications
      operationId: communications_CreateCalls
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}':
    get:
      tags:
        - communications.call
      summary: Get calls from communications
      operationId: communications_GetCalls
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callbackUri
                - callChainId
                - callOptions
                - callRoutes
                - chatInfo
                - direction
                - incomingContext
                - mediaConfig
                - mediaState
                - meetingInfo
                - myParticipantId
                - requestedModalities
                - resultInfo
                - source
                - state
                - subject
                - targets
                - tenantId
                - toneInfo
                - transcription
                - audioRoutingGroups
                - operations
                - participants
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - audioRoutingGroups
                - operations
                - participants
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
          links:
            audioRoutingGroups:
              operationId: communications.Calls.ListAudioRoutingGroups
              parameters:
                call-id: $request.path.call-id
            operations:
              operationId: communications.Calls.ListOperations
              parameters:
                call-id: $request.path.call-id
            participants:
              operationId: communications.Calls.ListParticipants
              parameters:
                call-id: $request.path.call-id
            answer:
              operationId: communications.calls.call.answer
            cancelMediaProcessing:
              operationId: communications.calls.call.cancelMediaProcessing
            changeScreenSharingRole:
              operationId: communications.calls.call.changeScreenSharingRole
            keepAlive:
              operationId: communications.calls.call.keepAlive
            mute:
              operationId: communications.calls.call.mute
            playPrompt:
              operationId: communications.calls.call.playPrompt
            recordResponse:
              operationId: communications.calls.call.recordResponse
            redirect:
              operationId: communications.calls.call.redirect
            reject:
              operationId: communications.calls.call.reject
            subscribeToTone:
              operationId: communications.calls.call.subscribeToTone
            transfer:
              operationId: communications.calls.call.transfer
            unmute:
              operationId: communications.calls.call.unmute
            updateRecordingStatus:
              operationId: communications.calls.call.updateRecordingStatus
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property calls in communications
      operationId: communications_UpdateCalls
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property calls for communications
      operationId: communications_DeleteCalls
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups':
    get:
      tags:
        - communications.call
      summary: Get audioRoutingGroups from communications
      operationId: communications.calls_ListAudioRoutingGroups
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - receivers
                - receivers desc
                - routingMode
                - routingMode desc
                - sources
                - sources desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - receivers
                - routingMode
                - sources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.audioRoutingGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to audioRoutingGroups for communications
      operationId: communications.calls_CreateAudioRoutingGroups
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups/{audioRoutingGroup-id}':
    get:
      tags:
        - communications.call
      summary: Get audioRoutingGroups from communications
      operationId: communications.calls_GetAudioRoutingGroups
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: 'key: id of audioRoutingGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - receivers
                - routingMode
                - sources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property audioRoutingGroups in communications
      operationId: communications.calls_UpdateAudioRoutingGroups
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: 'key: id of audioRoutingGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property audioRoutingGroups for communications
      operationId: communications.calls_DeleteAudioRoutingGroups
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: 'key: id of audioRoutingGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/microsoft.graph.answer':
    post:
      tags:
        - communications.Actions
      summary: Invoke action answer
      operationId: communications.calls_answer
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                callbackUri:
                  type: string
                mediaConfig:
                  $ref: '#/components/schemas/microsoft.graph.mediaConfig'
                acceptedModalities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.modality'
                participantCapacity:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                callOptions:
                  $ref: '#/components/schemas/microsoft.graph.incomingCallOptions'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.cancelMediaProcessing':
    post:
      tags:
        - communications.Actions
      summary: Invoke action cancelMediaProcessing
      operationId: communications.calls_cancelMediaProcessing
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cancelMediaProcessingOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.changeScreenSharingRole':
    post:
      tags:
        - communications.Actions
      summary: Invoke action changeScreenSharingRole
      operationId: communications.calls_changeScreenSharingRole
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: '#/components/schemas/microsoft.graph.screenSharingRole'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.keepAlive':
    post:
      tags:
        - communications.Actions
      summary: Invoke action keepAlive
      operationId: communications.calls_keepAlive
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.mute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action mute
      operationId: communications.calls_mute
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.playPrompt':
    post:
      tags:
        - communications.Actions
      summary: Invoke action playPrompt
      operationId: communications.calls_playPrompt
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.playPromptOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.recordResponse':
    post:
      tags:
        - communications.Actions
      summary: Invoke action recordResponse
      operationId: communications.calls_recordResponse
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                bargeInAllowed:
                  type: boolean
                  default: false
                  nullable: true
                initialSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maxSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maxRecordDurationInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                playBeep:
                  type: boolean
                  default: false
                  nullable: true
                stopTones:
                  type: array
                  items:
                    type: string
                    nullable: true
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.recordOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.redirect':
    post:
      tags:
        - communications.Actions
      summary: Invoke action redirect
      operationId: communications.calls_redirect
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                targets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                timeout:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                callbackUri:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.reject':
    post:
      tags:
        - communications.Actions
      summary: Invoke action reject
      operationId: communications.calls_reject
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  $ref: '#/components/schemas/microsoft.graph.rejectReason'
                callbackUri:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.subscribeToTone':
    post:
      tags:
        - communications.Actions
      summary: Invoke action subscribeToTone
      operationId: communications.calls_subscribeToTone
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscribeToToneOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.transfer':
    post:
      tags:
        - communications.Actions
      summary: Invoke action transfer
      operationId: communications.calls_transfer
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                transferTarget:
                  $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                transferee:
                  $ref: '#/components/schemas/microsoft.graph.participantInfo'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.unmute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action unmute
      operationId: communications.calls_unmute
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unmuteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.updateRecordingStatus':
    post:
      tags:
        - communications.Actions
      summary: Invoke action updateRecordingStatus
      operationId: communications.calls_updateRecordingStatus
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/microsoft.graph.recordingStatus'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.updateRecordingStatusOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/operations':
    get:
      tags:
        - communications.call
      summary: Get operations from communications
      operationId: communications.calls_ListOperations
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientContext
                - clientContext desc
                - resultInfo
                - resultInfo desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientContext
                - resultInfo
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.commsOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to operations for communications
      operationId: communications.calls_CreateOperations
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/operations/{commsOperation-id}':
    get:
      tags:
        - communications.call
      summary: Get operations from communications
      operationId: communications.calls_GetOperations
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: 'key: id of commsOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientContext
                - resultInfo
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property operations in communications
      operationId: communications.calls_UpdateOperations
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: 'key: id of commsOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property operations for communications
      operationId: communications.calls_DeleteOperations
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: 'key: id of commsOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/participants':
    get:
      tags:
        - communications.call
      summary: Get participants from communications
      operationId: communications.calls_ListParticipants
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - info
                - info desc
                - isInLobby
                - isInLobby desc
                - isMuted
                - isMuted desc
                - mediaStreams
                - mediaStreams desc
                - metadata
                - metadata desc
                - recordingInfo
                - recordingInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - info
                - isInLobby
                - isMuted
                - mediaStreams
                - metadata
                - recordingInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.participantCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to participants for communications
      operationId: communications.calls_CreateParticipants
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.participant'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/participants/{participant-id}':
    get:
      tags:
        - communications.call
      summary: Get participants from communications
      operationId: communications.calls_GetParticipants
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: 'key: id of participant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: participant
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - info
                - isInLobby
                - isMuted
                - mediaStreams
                - metadata
                - recordingInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
          links:
            mute:
              operationId: communications.calls.call.participants.participant.mute
            startHoldMusic:
              operationId: communications.calls.call.participants.participant.startHoldMusic
            stopHoldMusic:
              operationId: communications.calls.call.participants.participant.stopHoldMusic
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property participants in communications
      operationId: communications.calls_UpdateParticipants
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: 'key: id of participant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.participant'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property participants for communications
      operationId: communications.calls_DeleteParticipants
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: 'key: id of participant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: participant
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.mute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action mute
      operationId: communications.calls.participants_mute
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: 'key: id of participant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.startHoldMusic':
    post:
      tags:
        - communications.Actions
      summary: Invoke action startHoldMusic
      operationId: communications.calls.participants_startHoldMusic
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: 'key: id of participant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                customPrompt:
                  $ref: '#/components/schemas/microsoft.graph.prompt'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.startHoldMusicOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.stopHoldMusic':
    post:
      tags:
        - communications.Actions
      summary: Invoke action stopHoldMusic
      operationId: communications.calls.participants_stopHoldMusic
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: 'key: id of participant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.stopHoldMusicOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/microsoft.graph.invite':
    post:
      tags:
        - communications.Actions
      summary: Invoke action invite
      operationId: communications.calls.participants_invite
      parameters:
        - name: call-id
          in: path
          description: 'key: id of call'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                participants:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inviteParticipantsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/microsoft.graph.logTeleconferenceDeviceQuality:
    post:
      tags:
        - communications.Actions
      summary: Invoke action logTeleconferenceDeviceQuality
      operationId: communications.calls_logTeleconferenceDeviceQuality
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                quality:
                  $ref: '#/components/schemas/microsoft.graph.teleconferenceDeviceQuality'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/microsoft.graph.getPresencesByUserId:
    post:
      tags:
        - communications.Actions
      summary: Invoke action getPresencesByUserId
      operationId: communications_getPresencesGraphBPreUserId
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of cloudCommunications
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.presence'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/onlineMeetings:
    get:
      tags:
        - communications.onlineMeeting
      summary: Get onlineMeetings from communications
      operationId: communications_ListOnlineMeetings
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowAttendeeToEnableCamera
                - allowAttendeeToEnableCamera desc
                - allowAttendeeToEnableMic
                - allowAttendeeToEnableMic desc
                - allowedPresenters
                - allowedPresenters desc
                - allowMeetingChat
                - allowMeetingChat desc
                - allowTeamworkReactions
                - allowTeamworkReactions desc
                - attendeeReport
                - attendeeReport desc
                - audioConferencing
                - audioConferencing desc
                - broadcastSettings
                - broadcastSettings desc
                - chatInfo
                - chatInfo desc
                - creationDateTime
                - creationDateTime desc
                - endDateTime
                - endDateTime desc
                - externalId
                - externalId desc
                - isBroadcast
                - isBroadcast desc
                - isEntryExitAnnounced
                - isEntryExitAnnounced desc
                - joinInformation
                - joinInformation desc
                - joinWebUrl
                - joinWebUrl desc
                - lobbyBypassSettings
                - lobbyBypassSettings desc
                - participants
                - participants desc
                - recordAutomatically
                - recordAutomatically desc
                - startDateTime
                - startDateTime desc
                - subject
                - subject desc
                - videoTeleconferenceId
                - videoTeleconferenceId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowAttendeeToEnableCamera
                - allowAttendeeToEnableMic
                - allowedPresenters
                - allowMeetingChat
                - allowTeamworkReactions
                - attendeeReport
                - audioConferencing
                - broadcastSettings
                - chatInfo
                - creationDateTime
                - endDateTime
                - externalId
                - isBroadcast
                - isEntryExitAnnounced
                - joinInformation
                - joinWebUrl
                - lobbyBypassSettings
                - participants
                - recordAutomatically
                - startDateTime
                - subject
                - videoTeleconferenceId
                - attendanceReports
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attendanceReports
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.onlineMeetingCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.onlineMeeting
      summary: Create new navigation property to onlineMeetings for communications
      operationId: communications_CreateOnlineMeetings
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/onlineMeetings/{onlineMeeting-id}':
    get:
      tags:
        - communications.onlineMeeting
      summary: Get onlineMeetings from communications
      operationId: communications_GetOnlineMeetings
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowAttendeeToEnableCamera
                - allowAttendeeToEnableMic
                - allowedPresenters
                - allowMeetingChat
                - allowTeamworkReactions
                - attendeeReport
                - audioConferencing
                - broadcastSettings
                - chatInfo
                - creationDateTime
                - endDateTime
                - externalId
                - isBroadcast
                - isEntryExitAnnounced
                - joinInformation
                - joinWebUrl
                - lobbyBypassSettings
                - participants
                - recordAutomatically
                - startDateTime
                - subject
                - videoTeleconferenceId
                - attendanceReports
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attendanceReports
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
          links:
            attendanceReports:
              operationId: communications.OnlineMeetings.ListAttendanceReports
              parameters:
                onlineMeeting-id: $request.path.onlineMeeting-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.onlineMeeting
      summary: Update the navigation property onlineMeetings in communications
      operationId: communications_UpdateOnlineMeetings
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.onlineMeeting
      summary: Delete navigation property onlineMeetings for communications
      operationId: communications_DeleteOnlineMeetings
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/onlineMeetings/{onlineMeeting-id}/attendanceReports':
    get:
      tags:
        - communications.onlineMeeting
      summary: Get attendanceReports from communications
      description: The attendance reports of an online meeting. Read-only.
      operationId: communications.onlineMeetings_ListAttendanceReports
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - meetingEndDateTime
                - meetingEndDateTime desc
                - meetingStartDateTime
                - meetingStartDateTime desc
                - totalParticipantCount
                - totalParticipantCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - meetingEndDateTime
                - meetingStartDateTime
                - totalParticipantCount
                - attendanceRecords
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attendanceRecords
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.meetingAttendanceReportCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.onlineMeeting
      summary: Create new navigation property to attendanceReports for communications
      operationId: communications.onlineMeetings_CreateAttendanceReports
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.meetingAttendanceReport'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.meetingAttendanceReport'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/onlineMeetings/{onlineMeeting-id}/attendanceReports/{meetingAttendanceReport-id}':
    get:
      tags:
        - communications.onlineMeeting
      summary: Get attendanceReports from communications
      description: The attendance reports of an online meeting. Read-only.
      operationId: communications.onlineMeetings_GetAttendanceReports
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
        - name: meetingAttendanceReport-id
          in: path
          description: 'key: id of meetingAttendanceReport'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: meetingAttendanceReport
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - meetingEndDateTime
                - meetingStartDateTime
                - totalParticipantCount
                - attendanceRecords
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attendanceRecords
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.meetingAttendanceReport'
          links:
            attendanceRecords:
              operationId: communications.onlineMeetings.AttendanceReports.ListAttendanceRecords
              parameters:
                onlineMeeting-id: $request.path.onlineMeeting-id
                meetingAttendanceReport-id: $request.path.meetingAttendanceReport-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.onlineMeeting
      summary: Update the navigation property attendanceReports in communications
      operationId: communications.onlineMeetings_UpdateAttendanceReports
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
        - name: meetingAttendanceReport-id
          in: path
          description: 'key: id of meetingAttendanceReport'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: meetingAttendanceReport
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.meetingAttendanceReport'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.onlineMeeting
      summary: Delete navigation property attendanceReports for communications
      operationId: communications.onlineMeetings_DeleteAttendanceReports
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
        - name: meetingAttendanceReport-id
          in: path
          description: 'key: id of meetingAttendanceReport'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: meetingAttendanceReport
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/onlineMeetings/{onlineMeeting-id}/attendanceReports/{meetingAttendanceReport-id}/attendanceRecords':
    get:
      tags:
        - communications.onlineMeeting
      summary: Get attendanceRecords from communications
      description: List of attendance records of an attendance report. Read-only.
      operationId: communications.onlineMeetings.attendanceReports_ListAttendanceRecords
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
        - name: meetingAttendanceReport-id
          in: path
          description: 'key: id of meetingAttendanceReport'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: meetingAttendanceReport
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - attendanceIntervals
                - attendanceIntervals desc
                - emailAddress
                - emailAddress desc
                - identity
                - identity desc
                - role
                - role desc
                - totalAttendanceInSeconds
                - totalAttendanceInSeconds desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attendanceIntervals
                - emailAddress
                - identity
                - role
                - totalAttendanceInSeconds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.attendanceRecordCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.onlineMeeting
      summary: Create new navigation property to attendanceRecords for communications
      operationId: communications.onlineMeetings.attendanceReports_CreateAttendanceRecords
      parameters:
        - name: onlineMeeting-id
          in: path
          description: 'key: id of onlineMeeting'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
        - name: meetingAttendanceReport-id
          in: path
          description: 'key: id of meetingAttendanceReport'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: meetingAttendanceReport
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attendanceRecord'
        required: true
[...]
