openapi: 3.0.1
info:
  title: CloudCommunications
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /communications:
    get:
      tags:
        - communications.cloudCommunications
      summary: Get communications
      operationId: communication.cloudCommunication_GetCloudCommunication
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - callRecords
                - calls
                - onlineMeetings
                - presences
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - callRecords
                - calls
                - onlineMeetings
                - presences
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.cloudCommunications
      summary: Update communications
      operationId: communication.cloudCommunication_UpdateCloudCommunication
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/callRecords:
    get:
      tags:
        - communications.callRecord
      summary: Get callRecords from communications
      operationId: communication_ListCallRecord
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - endDateTime
                - endDateTime desc
                - joinWebUrl
                - joinWebUrl desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - modalities
                - modalities desc
                - organizer
                - organizer desc
                - participants
                - participants desc
                - startDateTime
                - startDateTime desc
                - type
                - type desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endDateTime
                - joinWebUrl
                - lastModifiedDateTime
                - modalities
                - organizer
                - participants
                - startDateTime
                - type
                - version
                - sessions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sessions
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.callRecordCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to callRecords for communications
      operationId: communication_CreateCallRecord
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get callRecords from communications
      operationId: communication_GetCallRecord
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - endDateTime
                - joinWebUrl
                - lastModifiedDateTime
                - modalities
                - organizer
                - participants
                - startDateTime
                - type
                - version
                - sessions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sessions
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property callRecords in communications
      operationId: communication_UpdateCallRecord
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property callRecords for communications
      operationId: communication_DeleteCallRecord
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions':
    get:
      tags:
        - communications.callRecord
      summary: Get sessions from communications
      description: 'List of sessions involved in the call. Peer-to-peer calls typically only have one session, whereas group calls typically have at least one session per participant. Read-only. Nullable.'
      operationId: communication.callRecord_ListSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - callee
                - callee desc
                - caller
                - caller desc
                - endDateTime
                - endDateTime desc
                - failureInfo
                - failureInfo desc
                - modalities
                - modalities desc
                - startDateTime
                - startDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callee
                - caller
                - endDateTime
                - failureInfo
                - modalities
                - startDateTime
                - segments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - segments
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.sessionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to sessions for communications
      operationId: communication.callRecord_CreateSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get sessions from communications
      description: 'List of sessions involved in the call. Peer-to-peer calls typically only have one session, whereas group calls typically have at least one session per participant. Read-only. Nullable.'
      operationId: communication.callRecord_GetSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callee
                - caller
                - endDateTime
                - failureInfo
                - modalities
                - startDateTime
                - segments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - segments
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property sessions in communications
      operationId: communication.callRecord_UpdateSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property sessions for communications
      operationId: communication.callRecord_DeleteSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      description: The list of segments involved in the session. Read-only. Nullable.
      operationId: communication.callRecord.session_ListSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - callee
                - callee desc
                - caller
                - caller desc
                - endDateTime
                - endDateTime desc
                - failureInfo
                - failureInfo desc
                - media
                - media desc
                - startDateTime
                - startDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callee
                - caller
                - endDateTime
                - failureInfo
                - media
                - startDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.segmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to segments for communications
      operationId: communication.callRecord.session_CreateSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments/{segment-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      description: The list of segments involved in the session. Read-only. Nullable.
      operationId: communication.callRecord.session_GetSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: The unique identifier of segment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: segment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callee
                - caller
                - endDateTime
                - failureInfo
                - media
                - startDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property segments in communications
      operationId: communication.callRecord.session_UpdateSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: The unique identifier of segment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: segment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property segments for communications
      operationId: communication.callRecord.session_DeleteSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: The unique identifier of segment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: segment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments/$count':
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communication.callRecord.session.segment_GetCount
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/callRecords/{callRecord-id}/sessions/$count':
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communication.callRecord.session_GetCount
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /communications/callRecords/$count:
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communication.callRecord_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /communications/calls:
    get:
      tags:
        - communications.call
      summary: Get calls from communications
      operationId: communication_ListCall
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - callbackUri
                - callbackUri desc
                - callChainId
                - callChainId desc
                - callOptions
                - callOptions desc
                - callRoutes
                - callRoutes desc
                - chatInfo
                - chatInfo desc
                - direction
                - direction desc
                - incomingContext
                - incomingContext desc
                - mediaConfig
                - mediaConfig desc
                - mediaState
                - mediaState desc
                - meetingInfo
                - meetingInfo desc
                - myParticipantId
                - myParticipantId desc
                - requestedModalities
                - requestedModalities desc
                - resultInfo
                - resultInfo desc
                - source
                - source desc
                - state
                - state desc
                - subject
                - subject desc
                - targets
                - targets desc
                - tenantId
                - tenantId desc
                - toneInfo
                - toneInfo desc
                - transcription
                - transcription desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callbackUri
                - callChainId
                - callOptions
                - callRoutes
                - chatInfo
                - direction
                - incomingContext
                - mediaConfig
                - mediaState
                - meetingInfo
                - myParticipantId
                - requestedModalities
                - resultInfo
                - source
                - state
                - subject
                - targets
                - tenantId
                - toneInfo
                - transcription
                - audioRoutingGroups
                - contentSharingSessions
                - operations
                - participants
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - audioRoutingGroups
                - contentSharingSessions
                - operations
                - participants
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to calls for communications
      operationId: communication_CreateCall
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}':
    get:
      tags:
        - communications.call
      summary: Get calls from communications
      operationId: communication_GetCall
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - callbackUri
                - callChainId
                - callOptions
                - callRoutes
                - chatInfo
                - direction
                - incomingContext
                - mediaConfig
                - mediaState
                - meetingInfo
                - myParticipantId
                - requestedModalities
                - resultInfo
                - source
                - state
                - subject
                - targets
                - tenantId
                - toneInfo
                - transcription
                - audioRoutingGroups
                - contentSharingSessions
                - operations
                - participants
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - audioRoutingGroups
                - contentSharingSessions
                - operations
                - participants
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property calls in communications
      operationId: communication_UpdateCall
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property calls for communications
      operationId: communication_DeleteCall
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups':
    get:
      tags:
        - communications.call
      summary: Get audioRoutingGroups from communications
      operationId: communication.call_ListAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - receivers
                - receivers desc
                - routingMode
                - routingMode desc
                - sources
                - sources desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - receivers
                - routingMode
                - sources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.audioRoutingGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to audioRoutingGroups for communications
      operationId: communication.call_CreateAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups/{audioRoutingGroup-id}':
    get:
      tags:
        - communications.call
      summary: Get audioRoutingGroups from communications
      operationId: communication.call_GetAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: The unique identifier of audioRoutingGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - receivers
                - routingMode
                - sources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property audioRoutingGroups in communications
      operationId: communication.call_UpdateAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: The unique identifier of audioRoutingGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property audioRoutingGroups for communications
      operationId: communication.call_DeleteAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: The unique identifier of audioRoutingGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call.audioRoutingGroup_GetCount
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/contentSharingSessions':
    get:
      tags:
        - communications.call
      summary: Get contentSharingSessions from communications
      operationId: communication.call_ListContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contentSharingSessionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to contentSharingSessions for communications
      operationId: communication.call_CreateContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/contentSharingSessions/{contentSharingSession-id}':
    get:
      tags:
        - communications.call
      summary: Get contentSharingSessions from communications
      operationId: communication.call_GetContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: contentSharingSession-id
          in: path
          description: The unique identifier of contentSharingSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contentSharingSession
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property contentSharingSessions in communications
      operationId: communication.call_UpdateContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: contentSharingSession-id
          in: path
          description: The unique identifier of contentSharingSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contentSharingSession
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property contentSharingSessions for communications
      operationId: communication.call_DeleteContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: contentSharingSession-id
          in: path
          description: The unique identifier of contentSharingSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contentSharingSession
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/contentSharingSessions/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call.contentSharingSession_GetCount
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/microsoft.graph.addLargeGalleryView':
    post:
      tags:
        - communications.Actions
      summary: Invoke action addLargeGalleryView
      operationId: communication.call_addLargeGalleryView
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.addLargeGalleryViewOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.answer':
    post:
      tags:
        - communications.Actions
      summary: Invoke action answer
      operationId: communication.call_answer
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                callbackUri:
                  type: string
                mediaConfig:
                  $ref: '#/components/schemas/microsoft.graph.mediaConfig'
                acceptedModalities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.modality'
                participantCapacity:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                callOptions:
                  $ref: '#/components/schemas/microsoft.graph.incomingCallOptions'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.cancelMediaProcessing':
    post:
      tags:
        - communications.Actions
      summary: Invoke action cancelMediaProcessing
      operationId: communication.call_cancelMediaProcessing
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cancelMediaProcessingOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.changeScreenSharingRole':
    post:
      tags:
        - communications.Actions
      summary: Invoke action changeScreenSharingRole
      operationId: communication.call_changeScreenSharingRole
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: '#/components/schemas/microsoft.graph.screenSharingRole'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.keepAlive':
    post:
      tags:
        - communications.Actions
      summary: Invoke action keepAlive
      operationId: communication.call_keepAlive
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.mute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action mute
      operationId: communication.call_mute
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.playPrompt':
    post:
      tags:
        - communications.Actions
      summary: Invoke action playPrompt
      operationId: communication.call_playPrompt
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.playPromptOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.recordResponse':
    post:
      tags:
        - communications.Actions
      summary: Invoke action recordResponse
      operationId: communication.call_recordResponse
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                bargeInAllowed:
                  type: boolean
                  default: false
                  nullable: true
                initialSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maxSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maxRecordDurationInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                playBeep:
                  type: boolean
                  default: false
                  nullable: true
                stopTones:
                  type: array
                  items:
                    type: string
                    nullable: true
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.recordOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.redirect':
    post:
      tags:
        - communications.Actions
      summary: Invoke action redirect
      operationId: communication.call_redirect
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                targets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                timeout:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                callbackUri:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.reject':
    post:
      tags:
        - communications.Actions
      summary: Invoke action reject
      operationId: communication.call_reject
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  $ref: '#/components/schemas/microsoft.graph.rejectReason'
                callbackUri:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.subscribeToTone':
    post:
      tags:
        - communications.Actions
      summary: Invoke action subscribeToTone
      operationId: communication.call_subscribeToTone
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscribeToToneOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.transfer':
    post:
      tags:
        - communications.Actions
      summary: Invoke action transfer
      operationId: communication.call_transfer
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                transferTarget:
                  $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                transferee:
                  $ref: '#/components/schemas/microsoft.graph.participantInfo'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.unmute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action unmute
      operationId: communication.call_unmute
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unmuteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.updateRecordingStatus':
    post:
      tags:
        - communications.Actions
      summary: Invoke action updateRecordingStatus
      operationId: communication.call_updateRecordingStatus
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/microsoft.graph.recordingStatus'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.updateRecordingStatusOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/operations':
    get:
      tags:
        - communications.call
      summary: Get operations from communications
      operationId: communication.call_ListOperation
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientContext
                - clientContext desc
                - resultInfo
                - resultInfo desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientContext
                - resultInfo
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.commsOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to operations for communications
      operationId: communication.call_CreateOperation
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/operations/{commsOperation-id}':
    get:
      tags:
        - communications.call
      summary: Get operations from communications
      operationId: communication.call_GetOperation
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: The unique identifier of commsOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientContext
                - resultInfo
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property operations in communications
      operationId: communication.call_UpdateOperation
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: The unique identifier of commsOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property operations for communications
      operationId: communication.call_DeleteOperation
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: The unique identifier of commsOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/operations/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call.operation_GetCount
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/participants':
    get:
      tags:
        - communications.call
      summary: Get participants from communications
      operationId: communication.call_ListParticipant
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - info
                - info desc
                - isInLobby
                - isInLobby desc
                - isMuted
                - isMuted desc
                - mediaStreams
                - mediaStreams desc
                - metadata
                - metadata desc
                - recordingInfo
                - recordingInfo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - info
                - isInLobby
                - isMuted
                - mediaStreams
                - metadata
                - recordingInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.participantCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to participants for communications
      operationId: communication.call_CreateParticipant
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.participant'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/participants/{participant-id}':
    get:
      tags:
        - communications.call
      summary: Get participants from communications
      operationId: communication.call_GetParticipant
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - info
                - isInLobby
                - isMuted
                - mediaStreams
                - metadata
                - recordingInfo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property participants in communications
      operationId: communication.call_UpdateParticipant
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.participant'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property participants for communications
      operationId: communication.call_DeleteParticipant
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.mute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action mute
      operationId: communication.call.participant_mute
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.startHoldMusic':
    post:
      tags:
        - communications.Actions
      summary: Invoke action startHoldMusic
      operationId: communication.call.participant_startHoldMusic
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                customPrompt:
                  $ref: '#/components/schemas/microsoft.graph.prompt'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.startHoldMusicOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.stopHoldMusic':
    post:
      tags:
        - communications.Actions
      summary: Invoke action stopHoldMusic
      operationId: communication.call.participant_stopHoldMusic
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.stopHoldMusicOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call.participant_GetCount
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/participants/microsoft.graph.invite':
    post:
      tags:
        - communications.Actions
      summary: Invoke action invite
      operationId: communication.call.participant_invite
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                participants:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inviteParticipantsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/$count:
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /communications/calls/microsoft.graph.logTeleconferenceDeviceQuality:
    post:
      tags:
        - communications.Actions
      summary: Invoke action logTeleconferenceDeviceQuality
      operationId: communication.call_logTeleconferenceDeviceQuality
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                quality:
                  $ref: '#/components/schemas/microsoft.graph.teleconferenceDeviceQuality'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/microsoft.graph.getPresencesByUserId:
    post:
      tags:
        - communications.Actions
      summary: Invoke action getPresencesByUserId
      operationId: communication_getPresencesGraphBPreUserId
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of presence
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.presence'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /communications/onlineMeetings:
    get:
      tags:
        - communications.onlineMeeting
      summary: Get onlineMeetings from communications
      operationId: communication_ListOnlineMeeting
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowAttendeeToEnableCamera
                - allowAttendeeToEnableCamera desc
                - allowAttendeeToEnableMic
                - allowAttendeeToEnableMic desc
                - allowedPresenters
                - allowedPresenters desc
                - allowMeetingChat
                - allowMeetingChat desc
                - allowTeamworkReactions
                - allowTeamworkReactions desc
                - attendeeReport
                - attendeeReport desc
                - audioConferencing
                - audioConferencing desc
                - broadcastSettings
                - broadcastSettings desc
                - chatInfo
                - chatInfo desc
                - creationDateTime
                - creationDateTime desc
                - endDateTime
                - endDateTime desc
                - externalId
                - externalId desc
                - isBroadcast
                - isBroadcast desc
                - isEntryExitAnnounced
                - isEntryExitAnnounced desc
                - joinInformation
                - joinInformation desc
                - joinMeetingIdSettings
                - joinMeetingIdSettings desc
                - joinWebUrl
                - joinWebUrl desc
                - lobbyBypassSettings
                - lobbyBypassSettings desc
                - participants
                - participants desc
                - recordAutomatically
                - recordAutomatically desc
                - startDateTime
                - startDateTime desc
                - subject
                - subject desc
                - videoTeleconferenceId
                - videoTeleconferenceId desc
                - watermarkProtection
                - watermarkProtection desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowAttendeeToEnableCamera
                - allowAttendeeToEnableMic
                - allowedPresenters
                - allowMeetingChat
                - allowTeamworkReactions
                - attendeeReport
                - audioConferencing
                - broadcastSettings
                - chatInfo
                - creationDateTime
                - endDateTime
                - externalId
                - isBroadcast
                - isEntryExitAnnounced
                - joinInformation
                - joinMeetingIdSettings
                - joinWebUrl
                - lobbyBypassSettings
                - participants
                - recordAutomatically
                - startDateTime
                - subject
                - videoTeleconferenceId
                - watermarkProtection
                - attendanceReports
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - attendanceReports
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.onlineMeetingCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.onlineMeeting
      summary: Create new navigation property to onlineMeetings for communications
      operationId: communication_CreateOnlineMeeting
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/onlineMeetings/{onlineMeeting-id}':
    get:
      tags:
        - communications.onlineMeeting
      summary: Get onlineMeetings from communications
      operationId: communication_GetOnlineMeeting
      parameters:
        - name: onlineMeeting-id
          in: path
          description: The unique identifier of onlineMeeting
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: onlineMeeting
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
[...]
