openapi: 3.0.1
info:
  title: CloudCommunications
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /communications:
    get:
      tags:
        - communications.cloudCommunications
      summary: Get communications
      operationId: communication.cloudCommunication_GetCloudCommunication
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.cloudCommunications
      summary: Update communications
      operationId: communication.cloudCommunication_UpdateCloudCommunication
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cloudCommunications'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /communications/callRecords:
    get:
      tags:
        - communications.callRecord
      summary: Get callRecord
      description: 'Retrieve the properties and relationships of a callRecord object. There are two ways to get the id of a callRecord: You can use the $expand query parameter to optionally include session and segment details, as shown in the Get full details example. When you expand session details, the maximum page size is 60 sessions.'
      operationId: communication_ListCallRecord
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.callRecordCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to callRecords for communications
      operationId: communication_CreateCallRecord
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get callRecord
      description: 'Retrieve the properties and relationships of a callRecord object. There are two ways to get the id of a callRecord: You can use the $expand query parameter to optionally include session and segment details, as shown in the Get full details example. When you expand session details, the maximum page size is 60 sessions.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/callrecords-callrecord-get?view=graph-rest-1.0
      operationId: communication_GetCallRecord
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property callRecords in communications
      operationId: communication_UpdateCallRecord
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.callRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property callRecords for communications
      operationId: communication_DeleteCallRecord
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions':
    get:
      tags:
        - communications.callRecord
      summary: List sessions
      description: 'Retrieve the list of sessions associated with a callRecord object. If the sessions list is truncated, a sessions@odata.nextLink value will be provided to retrieve the next page of sessions. The maximum page size for sessions is 60 entries.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/callrecords-callrecord-list-sessions?view=graph-rest-1.0
      operationId: communication.callRecord_ListSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.sessionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to sessions for communications
      operationId: communication.callRecord_CreateSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get sessions from communications
      description: 'List of sessions involved in the call. Peer-to-peer calls typically only have one session, whereas group calls typically have at least one session per participant. Read-only. Nullable.'
      operationId: communication.callRecord_GetSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property sessions in communications
      operationId: communication.callRecord_UpdateSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.session'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property sessions for communications
      operationId: communication.callRecord_DeleteSession
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      description: The list of segments involved in the session. Read-only. Nullable.
      operationId: communication.callRecord.session_ListSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callRecords.segmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.callRecord
      summary: Create new navigation property to segments for communications
      operationId: communication.callRecord.session_CreateSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments/{segment-id}':
    get:
      tags:
        - communications.callRecord
      summary: Get segments from communications
      description: The list of segments involved in the session. Read-only. Nullable.
      operationId: communication.callRecord.session_GetSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: The unique identifier of segment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: segment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.callRecord
      summary: Update the navigation property segments in communications
      operationId: communication.callRecord.session_UpdateSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: The unique identifier of segment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: segment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecords.segment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.callRecord
      summary: Delete navigation property segments for communications
      operationId: communication.callRecord.session_DeleteSegment
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - name: segment-id
          in: path
          description: The unique identifier of segment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: segment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/callRecords/{callRecord-id}/sessions/{session-id}/segments/$count':
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communication.callRecord.session.segment_GetCount
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - name: session-id
          in: path
          description: The unique identifier of session
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: session
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/callRecords/{callRecord-id}/sessions/$count':
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communication.callRecord.session_GetCount
      parameters:
        - name: callRecord-id
          in: path
          description: The unique identifier of callRecord
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: callRecord
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /communications/callRecords/$count:
    get:
      tags:
        - communications.callRecord
      summary: Get the number of the resource
      operationId: communication.callRecord_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /communications/calls:
    get:
      tags:
        - communications.call
      summary: Get call
      description: Retrieve the properties and relationships of a call object.
      operationId: communication_ListCall
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.callCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create call
      description: 'Create call enables your bot to create a new outgoing peer-to-peer or group call, or join an existing meeting. You will need to register the calling bot and go through the list of permissions needed as mentioned below.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-post-calls?view=graph-rest-1.0
      operationId: communication_CreateCall
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}':
    get:
      tags:
        - communications.call
      summary: Get call
      description: Retrieve the properties and relationships of a call object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-get?view=graph-rest-1.0
      operationId: communication_GetCall
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property calls in communications
      operationId: communication_UpdateCall
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.call'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.call'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete call
      description: 'Delete or hang up an active call. For group calls, this will only delete your call leg and the underlying group call will still continue.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-delete?view=graph-rest-1.0
      operationId: communication_DeleteCall
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups':
    get:
      tags:
        - communications.call
      summary: List audioRoutingGroups
      description: Retrieve a list of audioRoutingGroup objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-list-audioroutinggroups?view=graph-rest-1.0
      operationId: communication.call_ListAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.audioRoutingGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create audioRoutingGroup
      description: Create a new audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-post-audioroutinggroups?view=graph-rest-1.0
      operationId: communication.call_CreateAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups/{audioRoutingGroup-id}':
    get:
      tags:
        - communications.call
      summary: Get audioRoutingGroup
      description: Retrieve the properties and relationships of an audioRoutingGroup object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-get?view=graph-rest-1.0
      operationId: communication.call_GetAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: The unique identifier of audioRoutingGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update audioRoutingGroup
      description: Modify sources and receivers of an audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-update?view=graph-rest-1.0
      operationId: communication.call_UpdateAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: The unique identifier of audioRoutingGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.audioRoutingGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete audioRoutingGroup
      description: Delete the specified audioRoutingGroup.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/audioroutinggroup-delete?view=graph-rest-1.0
      operationId: communication.call_DeleteAudioRoutingGroup
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: audioRoutingGroup-id
          in: path
          description: The unique identifier of audioRoutingGroup
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: audioRoutingGroup
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/audioRoutingGroups/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call.audioRoutingGroup_GetCount
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/contentSharingSessions':
    get:
      tags:
        - communications.call
      summary: List contentSharingSessions
      description: Retrieve a list of contentSharingSession objects in a call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-list-contentsharingsessions?view=graph-rest-1.0
      operationId: communication.call_ListContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contentSharingSessionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to contentSharingSessions for communications
      operationId: communication.call_CreateContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/contentSharingSessions/{contentSharingSession-id}':
    get:
      tags:
        - communications.call
      summary: Get contentSharingSession
      description: Retrieve the properties of a contentSharingSession object in a call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contentsharingsession-get?view=graph-rest-1.0
      operationId: communication.call_GetContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: contentSharingSession-id
          in: path
          description: The unique identifier of contentSharingSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contentSharingSession
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property contentSharingSessions in communications
      operationId: communication.call_UpdateContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: contentSharingSession-id
          in: path
          description: The unique identifier of contentSharingSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contentSharingSession
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contentSharingSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property contentSharingSessions for communications
      operationId: communication.call_DeleteContentSharingSession
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: contentSharingSession-id
          in: path
          description: The unique identifier of contentSharingSession
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: contentSharingSession
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/contentSharingSessions/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call.contentSharingSession_GetCount
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/microsoft.graph.addLargeGalleryView':
    post:
      tags:
        - communications.Actions
      summary: Invoke action addLargeGalleryView
      description: 'Add the large gallery view to a call.  For details about how to identify a large gallery view participant in a roster so that you can retrieve the relevant data to subscribe to the video feed, see Identify large gallery view participants in a roster.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-addlargegalleryview?view=graph-rest-1.0
      operationId: communication.call_addLargeGalleryView
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.addLargeGalleryViewOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.answer':
    post:
      tags:
        - communications.Actions
      summary: Invoke action answer
      description: 'Enable a bot to answer an incoming call. The incoming call request can be an invite from a participant in a group call or a peer-to-peer call. If an invite to a group call is received, the notification will contain the chatInfo and meetingInfo parameters. The bot is expected to answer, reject, or redirect the call before the call times out. The current timeout value is 15 seconds for regular scenarios, and 5 seconds for policy-based recording scenarios.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-answer?view=graph-rest-1.0
      operationId: communication.call_answer
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                callbackUri:
                  type: string
                mediaConfig:
                  $ref: '#/components/schemas/microsoft.graph.mediaConfig'
                acceptedModalities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.modality'
                participantCapacity:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                callOptions:
                  $ref: '#/components/schemas/microsoft.graph.incomingCallOptions'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.cancelMediaProcessing':
    post:
      tags:
        - communications.Actions
      summary: Invoke action cancelMediaProcessing
      description: 'Cancels processing for any in-progress media operations. Media operations refer to the IVR operations playPrompt and recordResponse, which are by default queued to process in order. The cancelMediaProcessing method cancels any operation that is in-process as well as operations that are queued. For example, this method can be used to clean up the IVR operation queue for a new media operation. However, it will not cancel a subscribeToTone operation because it operates independent of any operation queue.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-cancelmediaprocessing?view=graph-rest-1.0
      operationId: communication.call_cancelMediaProcessing
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.cancelMediaProcessingOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.changeScreenSharingRole':
    post:
      tags:
        - communications.Actions
      summary: Invoke action changeScreenSharingRole
      description: Allow applications to share screen content with the participants of a group call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-changescreensharingrole?view=graph-rest-1.0
      operationId: communication.call_changeScreenSharingRole
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: '#/components/schemas/microsoft.graph.screenSharingRole'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.keepAlive':
    post:
      tags:
        - communications.Actions
      summary: Invoke action keepAlive
      description: 'Make a request to this API every 15 to 45 minutes to ensure that an ongoing call remains active. A call that does not receive this request within 45 minutes is considered inactive and will subsequently end. At least one successful request must be made within 45 minutes of the previous request, or the start of the call. We recommend that you send a request in shorter time intervals (every 15 minutes). Make sure that these requests are successful to prevent the call from timing out and ending. Attempting to send a request to a call that has already ended will result in a 404 Not-Found error. The resources related to the call should be cleaned up on the application side.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-keepalive?view=graph-rest-1.0
      operationId: communication.call_keepAlive
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.mute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action mute
      description: 'Allows the application to mute itself. This is a server mute, meaning that the server will drop all audio packets for this participant, even if the participant continues to stream audio. For more details about how to handle mute operations, see muteParticipantOperation'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-mute?view=graph-rest-1.0
      operationId: communication.call_mute
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.playPrompt':
    post:
      tags:
        - communications.Actions
      summary: Invoke action playPrompt
      description: 'Play a prompt in the call. For more information about how to handle operations, see commsOperation'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-playprompt?view=graph-rest-1.0
      operationId: communication.call_playPrompt
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.playPromptOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.recordResponse':
    post:
      tags:
        - communications.Actions
      summary: Invoke action recordResponse
      description: "Records a short audio response from the caller.\nA bot can utilize this to capture a voice response from a caller after they are prompted for a response. For further information on how to handle operations, please review commsOperation This action is not intended to record the entire call. The maximum length of recording is 2 minutes. The recording is not saved permanently by the Cloud Communications Platform and is discarded shortly after the call ends. The bot must download the recording promptly after the recording operation finishes by using the recordingLocation value that's given in the completed notification."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-record?view=graph-rest-1.0
      operationId: communication.call_recordResponse
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                prompts:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.prompt'
                bargeInAllowed:
                  type: boolean
                  default: false
                  nullable: true
                initialSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maxSilenceTimeoutInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                maxRecordDurationInSeconds:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                playBeep:
                  type: boolean
                  default: false
                  nullable: true
                stopTones:
                  type: array
                  items:
                    type: string
                    nullable: true
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.recordOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.redirect':
    post:
      tags:
        - communications.Actions
      summary: Invoke action redirect
      description: Redirect an incoming call that hasn't been answered or rejected yet. The terms 'redirecting' and 'forwarding' a call are used interchangeably. The bot is expected to redirect the call before the call times out. The current timeout value is 15 seconds.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-redirect?view=graph-rest-1.0
      operationId: communication.call_redirect
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                targets:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                timeout:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                callbackUri:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.reject':
    post:
      tags:
        - communications.Actions
      summary: Invoke action reject
      description: 'Enable a bot to reject an incoming call. The incoming call request can be an invite from a participant in a group call or a peer-to-peer call. If an invite to a group call is received, the notification will contain the chatInfo and meetingInfo parameters. The bot is expected to answer or reject the call before the call times out. The current timeout value is 15 seconds. This API does not end existing calls that have already been answered. Use delete call to end a call.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-reject?view=graph-rest-1.0
      operationId: communication.call_reject
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  $ref: '#/components/schemas/microsoft.graph.rejectReason'
                callbackUri:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.sendDtmfTones':
    post:
      tags:
        - communications.Actions
      summary: Invoke action sendDtmfTones
      operationId: communication.call_sendDtmfTone
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                tones:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.tone'
                delayBetweenTonesMs:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sendDtmfTonesOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.subscribeToTone':
    post:
      tags:
        - communications.Actions
      summary: Invoke action subscribeToTone
      description: Subscribe to DTMF (dual-tone multi-frequency signaling) which allows you to be notified when the user presses keys on a 'dialpad'.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-subscribetotone?view=graph-rest-1.0
      operationId: communication.call_subscribeToTone
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscribeToToneOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.transfer':
    post:
      tags:
        - communications.Actions
      summary: Invoke action transfer
      description: 'Transfer an active peer-to-peer call or group call. A consultative transfer means that the transferor can inform the person they want to transfer the call to (the transferee), before the transfer is made. This is opposed to transfering the call directly.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-transfer?view=graph-rest-1.0
      operationId: communication.call_transfer
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                transferTarget:
                  $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                transferee:
                  $ref: '#/components/schemas/microsoft.graph.participantInfo'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.unmute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action unmute
      description: 'Allow the application to unmute itself. This is a server unmute, meaning that the server will start sending audio packets for this participant to other participants again. For more information about how to handle unmute operations, see unmuteParticipantOperation.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-unmute?view=graph-rest-1.0
      operationId: communication.call_unmute
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unmuteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/microsoft.graph.updateRecordingStatus':
    post:
      tags:
        - communications.Actions
      summary: Invoke action updateRecordingStatus
      description: Update the application's recording status associated with a call. This requires the use of the Teams policy-based recording solution.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-updaterecordingstatus?view=graph-rest-1.0
      operationId: communication.call_updateRecordingStatus
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/microsoft.graph.recordingStatus'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.updateRecordingStatusOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/operations':
    get:
      tags:
        - communications.call
      summary: Get addLargeGalleryViewOperation
      description: Get the status of an operation that adds the large gallery view to a call.
      operationId: communication.call_ListOperation
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.commsOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to operations for communications
      operationId: communication.call_CreateOperation
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/operations/{commsOperation-id}':
    get:
      tags:
        - communications.call
      summary: Get addLargeGalleryViewOperation
      description: Get the status of an operation that adds the large gallery view to a call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/addlargegalleryviewoperation-get?view=graph-rest-1.0
      operationId: communication.call_GetOperation
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: The unique identifier of commsOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property operations in communications
      operationId: communication.call_UpdateOperation
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: The unique identifier of commsOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.commsOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.commsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete navigation property operations for communications
      operationId: communication.call_DeleteOperation
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: commsOperation-id
          in: path
          description: The unique identifier of commsOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: commsOperation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/operations/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call.operation_GetCount
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/participants':
    get:
      tags:
        - communications.call
      summary: List participants
      description: Retrieve a list of participant objects in the call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-list-participants?view=graph-rest-1.0
      operationId: communication.call_ListParticipant
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.participantCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - communications.call
      summary: Create new navigation property to participants for communications
      operationId: communication.call_CreateParticipant
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.participant'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/participants/{participant-id}':
    get:
      tags:
        - communications.call
      summary: Get participant
      description: Retrieve the properties and relationships of a participant object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-get?view=graph-rest-1.0
      operationId: communication.call_GetParticipant
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - communications.call
      summary: Update the navigation property participants in communications
      operationId: communication.call_UpdateParticipant
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.participant'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.participant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - communications.call
      summary: Delete participant
      description: 'Delete a specific participant in a call. In some situations, it is appropriate for an application to remove a participant from an active call. This action can be done before or after the participant answers the call. When an active caller is removed, they are immediately dropped from the call with no pre- or post-removal notification. When an invited participant is removed, any outstanding add participant request is canceled. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-delete?view=graph-rest-1.0
      operationId: communication.call_DeleteParticipant
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.mute':
    post:
      tags:
        - communications.Actions
      summary: Invoke action mute
      description: 'Mute a specific participant in the call. This is a server mute, meaning that the server will drop all audio packets for this participant, even if the participant continues to stream audio. For more information about how to handle mute operations, see muteParticipantOperation.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-mute?view=graph-rest-1.0
      operationId: communication.call.participant_mute
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.muteParticipantOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.startHoldMusic':
    post:
      tags:
        - communications.Actions
      summary: Invoke action startHoldMusic
      description: Put a participant on hold and play music in the background.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-startholdmusic?view=graph-rest-1.0
      operationId: communication.call.participant_startHoldMusic
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                customPrompt:
                  $ref: '#/components/schemas/microsoft.graph.prompt'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.startHoldMusicOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.stopHoldMusic':
    post:
      tags:
        - communications.Actions
      summary: Invoke action stopHoldMusic
      description: Reincorporate a participant previously put on hold to the call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-stopholdmusic?view=graph-rest-1.0
      operationId: communication.call.participant_stopHoldMusic
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - name: participant-id
          in: path
          description: The unique identifier of participant
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: participant
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.stopHoldMusicOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/communications/calls/{call-id}/participants/$count':
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call.participant_GetCount
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/communications/calls/{call-id}/participants/microsoft.graph.invite':
    post:
      tags:
        - communications.Actions
      summary: Invoke action invite
      description: 'Delete a specific participant in a call. In some situations, it is appropriate for an application to remove a participant from an active call. This action can be done before or after the participant answers the call. When an active caller is removed, they are immediately dropped from the call with no pre- or post-removal notification. When an invited participant is removed, any outstanding add participant request is canceled. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/participant-delete?view=graph-rest-1.0
      operationId: communication.call.participant_invite
      parameters:
        - name: call-id
          in: path
          description: The unique identifier of call
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: call
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                participants:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.invitationParticipantInfo'
                clientContext:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.inviteParticipantsOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/calls/$count:
    get:
      tags:
        - communications.call
      summary: Get the number of the resource
      operationId: communication.call_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /communications/calls/microsoft.graph.logTeleconferenceDeviceQuality:
    post:
      tags:
        - communications.Actions
      summary: Invoke action logTeleconferenceDeviceQuality
      description: 'Log video teleconferencing device quality data. The Cloud Video Interop (CVI) bot represents video teleconferencing (VTC) devices and acts as a back-to-back agent for a VTC device in a conference call. Because a CVI bot is in the middle of the VTC and Microsoft Teams infrastructure as a VTC proxy, it has two media legs. One media leg is between the CVI bot and Teams infrastructure, such as Teams conference server or a Teams client. The other media leg is between the CVI bot and the VTC device.  The third-party partners own the VTC media leg and the Teams infrastructure cannot access the quality data of the third-party call leg.  This method is only for the CVI partners to provide their media quality data.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/call-logteleconferencedevicequality?view=graph-rest-1.0
      operationId: communication.call_logTeleconferenceDeviceQuality
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                quality:
                  $ref: '#/components/schemas/microsoft.graph.teleconferenceDeviceQuality'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /communications/microsoft.graph.getPresencesByUserId:
    post:
      tags:
        - communications.Actions
      summary: Invoke action getPresencesByUserId
      description: Get the presence information for multiple users.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/cloudcommunications-getpresencesbyuserid?view=graph-rest-1.0
      operationId: communication_getPresencesGraphBPreUserId
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of presence
                type: object
                properties:
                  value:
                    type: array
                    items:
[...]
