openapi: 3.0.4
info:
  title: CrossDeviceExperiences
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/activities':
    get:
      tags:
        - users.userActivity
      summary: Get activities from users
      description: The user's activities across devices. Read-only. Nullable.
      operationId: user_ListActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userActivityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userActivity
      summary: Create new navigation property to activities for users
      operationId: user_CreateActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}':
    get:
      tags:
        - users.userActivity
      summary: Get activities from users
      description: The user's activities across devices. Read-only. Nullable.
      operationId: user_GetActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: The unique identifier of userActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userActivity
      summary: Update the navigation property activities in users
      operationId: user_UpdateActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: The unique identifier of userActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userActivity
      summary: Delete navigation property activities for users
      operationId: user_DeleteActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: The unique identifier of userActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems':
    get:
      tags:
        - users.userActivity
      summary: Get historyItems from users
      description: Optional. NavigationProperty/Containment; navigation property to the activity's historyItems.
      operationId: user.activity_ListHistoryItem
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: The unique identifier of userActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.activityHistoryItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userActivity
      summary: Create new navigation property to historyItems for users
      operationId: user.activity_CreateHistoryItem
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: The unique identifier of userActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}':
    get:
      tags:
        - users.userActivity
      summary: Get historyItems from users
      description: Optional. NavigationProperty/Containment; navigation property to the activity's historyItems.
      operationId: user.activity_GetHistoryItem
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: The unique identifier of userActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: The unique identifier of activityHistoryItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userActivity
      summary: Update the navigation property historyItems in users
      operationId: user.activity_UpdateHistoryItem
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: The unique identifier of userActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: The unique identifier of activityHistoryItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userActivity
      summary: Delete navigation property historyItems for users
      operationId: user.activity_DeleteHistoryItem
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: The unique identifier of userActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: The unique identifier of activityHistoryItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}/activity':
    get:
      tags:
        - users.userActivity
      summary: Get activity from users
      description: Optional. NavigationProperty/Containment; navigation property to the associated activity.
      operationId: user.activity.historyItem_GetActivity
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: The unique identifier of userActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: The unique identifier of activityHistoryItem
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/$count':
    get:
      tags:
        - users.userActivity
      summary: Get the number of the resource
      operationId: user.activity.historyItem_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: The unique identifier of userActivity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/activities/$count':
    get:
      tags:
        - users.userActivity
      summary: Get the number of the resource
      operationId: user.activity_GetCount
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/users/{user-id}/activities/microsoft.graph.recent()':
    get:
      tags:
        - users.userActivity
      summary: Invoke function recent
      description: 'Get recent activities for a given user. This OData function has some default behaviors included to make it operate like a ''most recently used'' API. The service queries for the most recent activityHistoryItems, and then pull those related activities. Activities are sorted according to the most recent lastModified on the activityHistoryItem. This means that activities without activityHistoryItems won''t be included in the response. The UserActivity.ReadWrite.CreatedByApp permission will also apply extra filtering to the response, so that only activities created by your application are returned. This server-side filtering might result in empty pages if the user is active and other applications have created more recent activities. To get your application''s activities, use the nextLink property to paginate.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/projectrome-get-recent-activities?view=graph-rest-1.0
      operationId: user.activity_recent
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of userActivity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userActivity'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
components:
  schemas:
    microsoft.graph.userActivity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userActivity
          type: object
          properties:
            activationUrl:
              type: string
              description: Required. URL used to launch the activity in the best native experience represented by the appId. Might launch a web-based app if no native app exists.
            activitySourceHost:
              type: string
              description: 'Required. URL for the domain representing the cross-platform identity mapping for the app. Mapping is stored either as a JSON file hosted on the domain or configurable via Windows Dev Center. The JSON file is named cross-platform-app-identifiers and is hosted at root of your HTTPS domain, either at the top level domain or include a sub domain. For example: https://contoso.com or https://myapp.contoso.com but NOT https://myapp.contoso.com/somepath. You must have a unique file and domain (or sub domain) per cross-platform app identity. For example, a separate file and domain is needed for Word vs. PowerPoint.'
            appActivityId:
              type: string
              description: Required. The unique activity ID in the context of the app - supplied by caller and immutable thereafter.
            appDisplayName:
              type: string
              description: Optional. Short text description of the app used to generate the activity for use in cases when the app is not installed on the user’s local device.
              nullable: true
            contentInfo:
              $ref: '#/components/schemas/microsoft.graph.Json'
            contentUrl:
              type: string
              description: 'Optional. Used in the event the content can be rendered outside of a native or web-based app experience (for example, a pointer to an item in an RSS feed).'
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was created on the server.
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object expired on the server.
              format: date-time
              nullable: true
            fallbackUrl:
              type: string
              description: 'Optional. URL used to launch the activity in a web-based app, if available.'
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was modified on the server.
              format: date-time
              nullable: true
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            userTimezone:
              type: string
              description: Optional. The timezone in which the user's device used to generate the activity was located at activity creation time; values supplied as Olson IDs in order to support cross-platform representation.
              nullable: true
            visualElements:
              $ref: '#/components/schemas/microsoft.graph.visualInfo'
            historyItems:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
              description: Optional. NavigationProperty/Containment; navigation property to the activity's historyItems.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.activityHistoryItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: activityHistoryItem
          type: object
          properties:
            activeDurationSeconds:
              maximum: 2147483647
              minimum: -2147483648
              type: number
              description: 'Optional. The duration of active user engagement. if not supplied, this is calculated from the startedDateTime and lastActiveDateTime.'
              format: int32
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was created on the server.
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Optional. UTC DateTime when the activityHistoryItem will undergo hard-delete. Can be set by the client.
              format: date-time
              nullable: true
            lastActiveDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Optional. UTC DateTime when the activityHistoryItem (activity session) was last understood as active or finished - if null, activityHistoryItem status should be Ongoing.'
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Set by the server. DateTime in UTC when the object was modified on the server.
              format: date-time
              nullable: true
            startedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Required. UTC DateTime when the activityHistoryItem (activity session) was started. Required for timeline history.
              format: date-time
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            userTimezone:
              type: string
              description: Optional. The timezone in which the user's device used to generate the activity was located at activity creation time. Values supplied as Olson IDs in order to support cross-platform representation.
              nullable: true
            activity:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.Json:
      title: Json
      type: object
      additionalProperties:
        type: object
    microsoft.graph.status:
      title: status
      enum:
        - active
        - updated
        - deleted
        - ignored
        - unknownFutureValue
      type: string
    microsoft.graph.visualInfo:
      title: visualInfo
      type: object
      properties:
        attribution:
          $ref: '#/components/schemas/microsoft.graph.imageInfo'
        backgroundColor:
          type: string
          description: Optional. Background color used to render the activity in the UI - brand color for the application source of the activity. Must be a valid hex color
          nullable: true
        content:
          $ref: '#/components/schemas/microsoft.graph.Json'
        description:
          type: string
          description: 'Optional. Longer text description of the user''s unique activity (example: document name, first sentence, and/or metadata)'
          nullable: true
        displayText:
          type: string
          description: 'Required. Short text description of the user''s unique activity (for example, document name in cases where an activity refers to document creation)'
      additionalProperties:
        type: object
    microsoft.graph.userActivityCollectionResponse:
      title: Collection of userActivity
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.userActivity'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.activityHistoryItemCollectionResponse:
      title: Collection of activityHistoryItem
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.imageInfo:
      title: imageInfo
      type: object
      properties:
        addImageQuery:
          type: boolean
          description: Optional; parameter used to indicate the server is able to render image dynamically in response to parameterization. For example – a high contrast image
          nullable: true
        alternateText:
          type: string
          description: Optional; alt-text accessible content for the image
          nullable: true
        alternativeText:
          type: string
          nullable: true
        iconUrl:
          type: string
          description: Optional; URI that points to an icon which represents the application used to generate the activity
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    microsoft.graph.userActivityCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.userActivityCollectionResponse'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.activityHistoryItemCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.activityHistoryItemCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]
