openapi: 3.0.4
info:
  title: DeviceManagement.Enrollment
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceManagement/conditionalAccessSettings:
    get:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Get onPremisesConditionalAccessSettings
      description: Read properties and relationships of the onPremisesConditionalAccessSettings object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-onpremisesconditionalaccesssettings-get?view=graph-rest-1.0
      operationId: deviceManagement_GetConditionalAccessSetting
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Update onPremisesConditionalAccessSettings
      description: Update the properties of a onPremisesConditionalAccessSettings object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-onpremisesconditionalaccesssettings-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateConditionalAccessSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesConditionalAccessSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.onPremisesConditionalAccessSettings
      summary: Delete navigation property conditionalAccessSettings for deviceManagement
      operationId: deviceManagement_DeleteConditionalAccessSetting
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceEnrollmentConfigurations:
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: List deviceEnrollmentPlatformRestrictionsConfigurations
      description: List properties and relationships of the deviceEnrollmentPlatformRestrictionsConfiguration objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-deviceenrollmentplatformrestrictionsconfiguration-list?view=graph-rest-1.0
      operationId: deviceManagement_ListDeviceEnrollmentConfiguration
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceEnrollmentConfigurationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create deviceEnrollmentWindowsHelloForBusinessConfiguration
      description: Create a new deviceEnrollmentWindowsHelloForBusinessConfiguration object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-deviceenrollmentwindowshelloforbusinessconfiguration-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateDeviceEnrollmentConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get deviceEnrollmentPlatformRestrictionsConfiguration
      description: Read properties and relationships of the deviceEnrollmentPlatformRestrictionsConfiguration object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-deviceenrollmentplatformrestrictionsconfiguration-get?view=graph-rest-1.0
      operationId: deviceManagement_GetDeviceEnrollmentConfiguration
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Update deviceEnrollmentPlatformRestrictionsConfiguration
      description: Update the properties of a deviceEnrollmentPlatformRestrictionsConfiguration object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-deviceenrollmentplatformrestrictionsconfiguration-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateDeviceEnrollmentConfiguration
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Delete deviceEnrollmentLimitConfiguration
      description: Deletes a deviceEnrollmentLimitConfiguration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-deviceenrollmentlimitconfiguration-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteDeviceEnrollmentConfiguration
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: List enrollmentConfigurationAssignments
      description: List properties and relationships of the enrollmentConfigurationAssignment objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-enrollmentconfigurationassignment-list?view=graph-rest-1.0
      operationId: deviceManagement.deviceEnrollmentConfiguration_ListAssignment
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.enrollmentConfigurationAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Create enrollmentConfigurationAssignment
      description: Create a new enrollmentConfigurationAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-enrollmentconfigurationassignment-create?view=graph-rest-1.0
      operationId: deviceManagement.deviceEnrollmentConfiguration_CreateAssignment
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments/{enrollmentConfigurationAssignment-id}':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get enrollmentConfigurationAssignment
      description: Read properties and relationships of the enrollmentConfigurationAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-enrollmentconfigurationassignment-get?view=graph-rest-1.0
      operationId: deviceManagement.deviceEnrollmentConfiguration_GetAssignment
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: enrollmentConfigurationAssignment-id
          in: path
          description: The unique identifier of enrollmentConfigurationAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: enrollmentConfigurationAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Update enrollmentConfigurationAssignment
      description: Update the properties of a enrollmentConfigurationAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-enrollmentconfigurationassignment-update?view=graph-rest-1.0
      operationId: deviceManagement.deviceEnrollmentConfiguration_UpdateAssignment
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: enrollmentConfigurationAssignment-id
          in: path
          description: The unique identifier of enrollmentConfigurationAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: enrollmentConfigurationAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Delete enrollmentConfigurationAssignment
      description: Deletes a enrollmentConfigurationAssignment.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-enrollmentconfigurationassignment-delete?view=graph-rest-1.0
      operationId: deviceManagement.deviceEnrollmentConfiguration_DeleteAssignment
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - name: enrollmentConfigurationAssignment-id
          in: path
          description: The unique identifier of enrollmentConfigurationAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: enrollmentConfigurationAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/assignments/$count':
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get the number of the resource
      operationId: deviceManagement.deviceEnrollmentConfiguration.assignment_GetCount
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Invoke action assign
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-deviceenrollmentconfiguration-assign?view=graph-rest-1.0
      operationId: deviceManagement.deviceEnrollmentConfiguration_assign
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enrollmentConfigurationAssignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/microsoft.graph.setPriority':
    post:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Invoke action setPriority
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-deviceenrollmentconfiguration-setpriority?view=graph-rest-1.0
      operationId: deviceManagement.deviceEnrollmentConfiguration_setPriority
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                priority:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: number
                  format: int32
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/deviceEnrollmentConfigurations/$count:
    get:
      tags:
        - deviceManagement.deviceEnrollmentConfiguration
      summary: Get the number of the resource
      operationId: deviceManagement.deviceEnrollmentConfiguration_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/importedWindowsAutopilotDeviceIdentities:
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: List importedWindowsAutopilotDeviceIdentities
      description: List properties and relationships of the importedWindowsAutopilotDeviceIdentity objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-importedwindowsautopilotdeviceidentity-list?view=graph-rest-1.0
      operationId: deviceManagement_ListImportedWindowsAutopilotDeviceIdentity
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.importedWindowsAutopilotDeviceIdentityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Create importedWindowsAutopilotDeviceIdentity
      description: Create a new importedWindowsAutopilotDeviceIdentity object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-importedwindowsautopilotdeviceidentity-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateImportedWindowsAutopilotDeviceIdentity
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/importedWindowsAutopilotDeviceIdentities/{importedWindowsAutopilotDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Get importedWindowsAutopilotDeviceIdentity
      description: Read properties and relationships of the importedWindowsAutopilotDeviceIdentity object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-importedwindowsautopilotdeviceidentity-get?view=graph-rest-1.0
      operationId: deviceManagement_GetImportedWindowsAutopilotDeviceIdentity
      parameters:
        - name: importedWindowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of importedWindowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: importedWindowsAutopilotDeviceIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Update the navigation property importedWindowsAutopilotDeviceIdentities in deviceManagement
      operationId: deviceManagement_UpdateImportedWindowsAutopilotDeviceIdentity
      parameters:
        - name: importedWindowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of importedWindowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: importedWindowsAutopilotDeviceIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Delete importedWindowsAutopilotDeviceIdentity
      description: Deletes a importedWindowsAutopilotDeviceIdentity.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-importedwindowsautopilotdeviceidentity-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteImportedWindowsAutopilotDeviceIdentity
      parameters:
        - name: importedWindowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of importedWindowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: importedWindowsAutopilotDeviceIdentity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/importedWindowsAutopilotDeviceIdentities/$count:
    get:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Get the number of the resource
      operationId: deviceManagement.importedWindowsAutopilotDeviceIdentity_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/importedWindowsAutopilotDeviceIdentities/microsoft.graph.import:
    post:
      tags:
        - deviceManagement.importedWindowsAutopilotDeviceIdentity
      summary: Invoke action import
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-importedwindowsautopilotdeviceidentity-import?view=graph-rest-1.0
      operationId: deviceManagement.importedWindowsAutopilotDeviceIdentity_import
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                importedWindowsAutopilotDeviceIdentities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of importedWindowsAutopilotDeviceIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /deviceManagement/windowsAutopilotDeviceIdentities:
    get:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: List windowsAutopilotDeviceIdentities
      description: List properties and relationships of the windowsAutopilotDeviceIdentity objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-windowsautopilotdeviceidentity-list?view=graph-rest-1.0
      operationId: deviceManagement_ListWindowsAutopilotDeviceIdentity
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsAutopilotDeviceIdentityCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Create windowsAutopilotDeviceIdentity
      description: Create a new windowsAutopilotDeviceIdentity object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-windowsautopilotdeviceidentity-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateWindowsAutopilotDeviceIdentity
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}':
    get:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Get windowsAutopilotDeviceIdentity
      description: Read properties and relationships of the windowsAutopilotDeviceIdentity object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-windowsautopilotdeviceidentity-get?view=graph-rest-1.0
      operationId: deviceManagement_GetWindowsAutopilotDeviceIdentity
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of windowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Update the navigation property windowsAutopilotDeviceIdentities in deviceManagement
      operationId: deviceManagement_UpdateWindowsAutopilotDeviceIdentity
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of windowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Delete windowsAutopilotDeviceIdentity
      description: Deletes a windowsAutopilotDeviceIdentity.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-windowsautopilotdeviceidentity-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteWindowsAutopilotDeviceIdentity
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of windowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}/microsoft.graph.assignUserToDevice':
    post:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Invoke action assignUserToDevice
      description: Assigns user to Autopilot devices.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-windowsautopilotdeviceidentity-assignusertodevice?view=graph-rest-1.0
      operationId: deviceManagement.windowsAutopilotDeviceIdentity_assignUserToDevice
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of windowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userPrincipalName:
                  type: string
                  nullable: true
                addressableUserName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}/microsoft.graph.unassignUserFromDevice':
    post:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Invoke action unassignUserFromDevice
      description: Unassigns the user from an Autopilot device.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-windowsautopilotdeviceidentity-unassignuserfromdevice?view=graph-rest-1.0
      operationId: deviceManagement.windowsAutopilotDeviceIdentity_unassignUserFromDevice
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of windowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}/microsoft.graph.updateDeviceProperties':
    post:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Invoke action updateDeviceProperties
      description: Updates properties on Autopilot devices.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-windowsautopilotdeviceidentity-updatedeviceproperties?view=graph-rest-1.0
      operationId: deviceManagement.windowsAutopilotDeviceIdentity_updateDeviceProperty
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of windowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userPrincipalName:
                  type: string
                  nullable: true
                addressableUserName:
                  type: string
                  nullable: true
                groupTag:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/windowsAutopilotDeviceIdentities/$count:
    get:
      tags:
        - deviceManagement.windowsAutopilotDeviceIdentity
      summary: Get the number of the resource
      operationId: deviceManagement.windowsAutopilotDeviceIdentity_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /roleManagement:
    get:
      tags:
        - roleManagement.roleManagement
      summary: Get roleManagement
      operationId: roleManagement_GetRoleManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - roleManagement.roleManagement
      summary: Update roleManagement
      operationId: roleManagement_UpdateRoleManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleManagement'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleManagement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.onPremisesConditionalAccessSettings:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: onPremisesConditionalAccessSettings
          type: object
          properties:
            enabled:
              type: boolean
              description: Indicates if on premises conditional access is enabled for this organization
            excludedGroups:
              type: array
              items:
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                type: string
                format: uuid
              description: User groups that will be exempt by on premises conditional access. All users in these groups will be exempt from the conditional access policy.
            includedGroups:
              type: array
              items:
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                type: string
                format: uuid
              description: User groups that will be targeted by on premises conditional access. All users in these groups will be required to have mobile device managed and compliant for mail access.
            overrideDefaultRule:
              type: boolean
              description: Override the default access rule when allowing a device to ensure access is granted.
          additionalProperties:
            type: object
          description: Singleton entity which represents the Exchange OnPremises Conditional Access Settings for a tenant.
    microsoft.graph.deviceEnrollmentConfiguration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: deviceEnrollmentConfiguration
          type: object
          properties:
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Created date time in UTC of the device enrollment configuration
              format: date-time
            description:
              type: string
              description: The description of the device enrollment configuration
              nullable: true
            displayName:
              type: string
              description: The display name of the device enrollment configuration
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Last modified date time in UTC of the device enrollment configuration
              format: date-time
            priority:
              maximum: 2147483647
              minimum: -2147483648
              type: number
              description: Priority is used when a user exists in multiple groups that are assigned enrollment configuration. Users are subject only to the configuration with the lowest priority value.
              format: int32
            version:
              maximum: 2147483647
              minimum: -2147483648
              type: number
              description: The version of the device enrollment configuration
              format: int32
            assignments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
              description: The list of group assignments for the device configuration profile
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
          description: The Base Class of Device Enrollment Configuration
    microsoft.graph.enrollmentConfigurationAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: enrollmentConfigurationAssignment
          type: object
          properties:
            target:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentTarget'
          additionalProperties:
            type: object
          description: Enrollment Configuration Assignment
    microsoft.graph.importedWindowsAutopilotDeviceIdentity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: importedWindowsAutopilotDeviceIdentity
          type: object
          properties:
            assignedUserPrincipalName:
              type: string
              description: UPN of the user the device will be assigned
              nullable: true
            groupTag:
              type: string
              description: Group Tag of the Windows autopilot device.
              nullable: true
            hardwareIdentifier:
              type: string
              description: Hardware Blob of the Windows autopilot device.
              format: base64url
              nullable: true
            importId:
              type: string
              description: The Import Id of the Windows autopilot device.
              nullable: true
            productKey:
              type: string
              description: Product Key of the Windows autopilot device.
              nullable: true
            serialNumber:
              type: string
              description: Serial number of the Windows autopilot device.
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentityState'
          additionalProperties:
            type: object
          description: Imported windows autopilot devices.
    microsoft.graph.windowsAutopilotDeviceIdentity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: windowsAutopilotDeviceIdentity
          type: object
          properties:
            addressableUserName:
              type: string
              description: Addressable user name.
              nullable: true
            azureActiveDirectoryDeviceId:
              type: string
              description: AAD Device ID - to be deprecated
              nullable: true
            displayName:
              type: string
              description: Display Name
              nullable: true
            enrollmentState:
              $ref: '#/components/schemas/microsoft.graph.enrollmentState'
            groupTag:
              type: string
              description: Group Tag of the Windows autopilot device.
              nullable: true
            lastContactedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Intune Last Contacted Date Time of the Windows autopilot device.
              format: date-time
            managedDeviceId:
              type: string
              description: Managed Device ID
              nullable: true
            manufacturer:
              type: string
              description: Oem manufacturer of the Windows autopilot device.
              nullable: true
            model:
              type: string
              description: Model name of the Windows autopilot device.
              nullable: true
            productKey:
              type: string
              description: Product Key of the Windows autopilot device.
              nullable: true
            purchaseOrderIdentifier:
              type: string
              description: Purchase Order Identifier of the Windows autopilot device.
              nullable: true
            resourceName:
              type: string
              description: Resource Name.
              nullable: true
            serialNumber:
              type: string
              description: Serial number of the Windows autopilot device.
              nullable: true
            skuNumber:
              type: string
              description: SKU Number
              nullable: true
            systemFamily:
              type: string
              description: System Family
              nullable: true
            userPrincipalName:
              type: string
              description: User Principal Name.
              nullable: true
          additionalProperties:
            type: object
          description: The windowsAutopilotDeviceIdentity resource represents a Windows Autopilot Device.
    microsoft.graph.roleManagement:
      title: roleManagement
      type: object
      properties:
        directory:
          $ref: '#/components/schemas/microsoft.graph.rbacApplication'
        entitlementManagement:
          $ref: '#/components/schemas/microsoft.graph.rbacApplication'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.deviceAndAppManagementAssignmentTarget:
      title: deviceAndAppManagementAssignmentTarget
      type: object
      additionalProperties:
        type: object
      description: Base type for assignment targets.
    microsoft.graph.importedWindowsAutopilotDeviceIdentityState:
      title: importedWindowsAutopilotDeviceIdentityState
      type: object
      properties:
        deviceErrorCode:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: Device error code reported by Device Directory Service(DDS).
          format: int32
        deviceErrorName:
          type: string
          description: Device error name reported by Device Directory Service(DDS).
          nullable: true
        deviceImportStatus:
          $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentityImportStatus'
        deviceRegistrationId:
          type: string
          description: Device Registration ID for successfully added device reported by Device Directory Service(DDS).
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.enrollmentState:
      title: enrollmentState
      enum:
        - unknown
        - enrolled
        - pendingReset
        - failed
        - notContacted
      type: string
      x-ms-enum:
        name: enrollmentState
        modelAsString: false
        values:
          - value: unknown
            description: Device enrollment state is unknown
            name: unknown
          - value: enrolled
            description: Device is Enrolled.
            name: enrolled
          - value: pendingReset
            description: Enrolled but it's enrolled via enrollment profile and the enrolled profile is different from the assigned profile.
            name: pendingReset
          - value: failed
            description: Not enrolled and there is enrollment failure record.
            name: failed
          - value: notContacted
            description: Device is imported but not enrolled.
            name: notContacted
    microsoft.graph.rbacApplication:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: rbacApplication
          type: object
          properties:
            resourceNamespaces:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceNamespace'
              x-ms-navigationProperty: true
            roleAssignments:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
              description: Resource to grant access to users or groups.
              x-ms-navigationProperty: true
            roleAssignmentScheduleInstances:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
              description: Instances for active role assignments.
              x-ms-navigationProperty: true
            roleAssignmentScheduleRequests:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
              description: Requests for active role assignments to principals through PIM.
              x-ms-navigationProperty: true
            roleAssignmentSchedules:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentSchedule'
              description: Schedules for active role assignment operations.
              x-ms-navigationProperty: true
            roleDefinitions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
              description: Resource representing the roles allowed by RBAC providers and the permissions assigned to the roles.
              x-ms-navigationProperty: true
            roleEligibilityScheduleInstances:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilityScheduleInstance'
              description: Instances for role eligibility requests.
              x-ms-navigationProperty: true
            roleEligibilityScheduleRequests:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilityScheduleRequest'
              description: Requests for role eligibilities for principals through PIM.
              x-ms-navigationProperty: true
            roleEligibilitySchedules:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilitySchedule'
              description: Schedules for role eligibility operations.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.deviceEnrollmentConfigurationCollectionResponse:
      title: Collection of deviceEnrollmentConfiguration
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.deviceEnrollmentConfiguration'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.enrollmentConfigurationAssignmentCollectionResponse:
      title: Collection of enrollmentConfigurationAssignment
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.importedWindowsAutopilotDeviceIdentityCollectionResponse:
      title: Collection of importedWindowsAutopilotDeviceIdentity
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.windowsAutopilotDeviceIdentityCollectionResponse:
      title: Collection of windowsAutopilotDeviceIdentity
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.windowsAutopilotDeviceIdentity'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.importedWindowsAutopilotDeviceIdentityImportStatus:
      title: importedWindowsAutopilotDeviceIdentityImportStatus
      enum:
        - unknown
        - pending
        - partial
        - complete
        - error
      type: string
      x-ms-enum:
        name: importedWindowsAutopilotDeviceIdentityImportStatus
        modelAsString: false
        values:
          - value: unknown
            description: Unknown status.
            name: unknown
          - value: pending
            description: Pending status.
            name: pending
          - value: partial
            description: Partial status.
            name: partial
          - value: complete
            description: Complete status.
            name: complete
          - value: error
            description: Error status.
            name: error
    microsoft.graph.unifiedRbacResourceNamespace:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: unifiedRbacResourceNamespace
          type: object
          properties:
            name:
              type: string
            resourceActions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceAction'
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: unifiedRoleAssignment
          type: object
          properties:
            appScopeId:
              type: string
              description: 'Identifier of the app specific scope when the assignment scope is app specific. The scope of an assignment determines the set of resources for which the principal has been granted access. App scopes are scopes that are defined and understood by a resource application only. For the entitlement management provider, use this property to specify a catalog. For example, /AccessPackageCatalog/beedadfe-01d5-4025-910b-84abb9369997. Supports $filter (eq, in). For example, /roleManagement/entitlementManagement/roleAssignments?$filter=appScopeId eq ''/AccessPackageCatalog/{catalog id}''.'
              nullable: true
            condition:
              type: string
              nullable: true
            directoryScopeId:
              type: string
              description: 'Identifier of the directory object representing the scope of the assignment. The scope of an assignment determines the set of resources for which the principal has been granted access. Directory scopes are shared scopes stored in the directory that are understood by multiple applications, unlike app scopes that are defined and understood by a resource application only. Supports $filter (eq, in).'
              nullable: true
            principalId:
              type: string
              description: 'Identifier of the principal to which the assignment is granted. Supported principals are users, role-assignable groups, and service principals. Supports $filter (eq, in).'
              nullable: true
            roleDefinitionId:
              type: string
              description: 'Identifier of the unifiedRoleDefinition the assignment is for. Read-only. Supports $filter (eq, in).'
              nullable: true
            appScope:
              $ref: '#/components/schemas/microsoft.graph.appScope'
            directoryScope:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            principal:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            roleDefinition:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleAssignmentScheduleInstance:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.unifiedRoleScheduleInstanceBase'
        - title: unifiedRoleAssignmentScheduleInstance
          type: object
          properties:
            assignmentType:
              type: string
              description: 'The type of the assignment that can either be Assigned or Activated. Supports $filter (eq, ne).'
              nullable: true
            endDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The end date of the schedule instance.
              format: date-time
              nullable: true
            memberType:
              type: string
              description: 'How the assignment is inherited. It can either be Inherited, Direct, or Group. It can further imply whether the unifiedRoleAssignmentSchedule can be managed by the caller. Supports $filter (eq, ne).'
              nullable: true
            roleAssignmentOriginId:
              type: string
              description: 'The identifier of the role assignment in Microsoft Entra. Supports $filter (eq, ne).'
              nullable: true
            roleAssignmentScheduleId:
              type: string
              description: 'The identifier of the unifiedRoleAssignmentSchedule object from which this instance was created. Supports $filter (eq, ne).'
              nullable: true
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: When this instance starts.
              format: date-time
              nullable: true
            activatedUsing:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilityScheduleInstance'
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleAssignmentScheduleRequest:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.request'
        - title: unifiedRoleAssignmentScheduleRequest
          type: object
          properties:
            action:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleScheduleRequestActions'
            appScopeId:
              type: string
              description: 'Identifier of the app-specific scope when the assignment is scoped to an app. The scope of an assignment determines the set of resources for which the principal has been granted access. App scopes are scopes that are defined and understood by this application only. Use / for tenant-wide app scopes. Use directoryScopeId to limit the scope to particular directory objects, for example, administrative units. Supports $filter (eq, ne, and on null values).'
              nullable: true
            directoryScopeId:
              type: string
              description: 'Identifier of the directory object representing the scope of the assignment. The scope of an assignment determines the set of resources for which the principal has been granted access. Directory scopes are shared scopes stored in the directory that are understood by multiple applications. Use / for tenant-wide scope. Use appScopeId to limit the scope to an application only. Supports $filter (eq, ne, and on null values).'
              nullable: true
            isValidationOnly:
              type: boolean
              description: Determines whether the call is a validation or an actual call. Only set this property if you want to check whether an activation is subject to additional rules like MFA before actually submitting the request.
              nullable: true
            justification:
              type: string
              description: A message provided by users and administrators when create they create the unifiedRoleAssignmentScheduleRequest object.
              nullable: true
            principalId:
              type: string
              description: 'Identifier of the principal that has been granted the assignment. Can be a user, role-assignable group, or a service principal. Supports $filter (eq, ne).'
              nullable: true
            roleDefinitionId:
              type: string
              description: 'Identifier of the unifiedRoleDefinition object that is being assigned to the principal. Supports $filter (eq, ne).'
              nullable: true
            scheduleInfo:
              $ref: '#/components/schemas/microsoft.graph.requestSchedule'
            targetScheduleId:
              type: string
              description: 'Identifier of the schedule object that''s linked to the assignment request. Supports $filter (eq, ne).'
              nullable: true
            ticketInfo:
              $ref: '#/components/schemas/microsoft.graph.ticketInfo'
            activatedUsing:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilitySchedule'
            appScope:
              $ref: '#/components/schemas/microsoft.graph.appScope'
            directoryScope:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            principal:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            roleDefinition:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
            targetSchedule:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentSchedule'
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleAssignmentSchedule:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.unifiedRoleScheduleBase'
        - title: unifiedRoleAssignmentSchedule
          type: object
          properties:
            assignmentType:
              type: string
              description: 'The type of the assignment that can either be Assigned or Activated. Supports $filter (eq, ne).'
              nullable: true
            memberType:
              type: string
              description: 'How the assignment is inherited. It can either be Inherited, Direct, or Group. It can further imply whether the unifiedRoleAssignmentSchedule can be managed by the caller. Supports $filter (eq, ne).'
              nullable: true
            scheduleInfo:
              $ref: '#/components/schemas/microsoft.graph.requestSchedule'
            activatedUsing:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilitySchedule'
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleDefinition:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: unifiedRoleDefinition
          type: object
          properties:
            description:
              type: string
              description: The description for the unifiedRoleDefinition. Read-only when isBuiltIn is true.
              nullable: true
            displayName:
              type: string
              description: 'The display name for the unifiedRoleDefinition. Read-only when isBuiltIn is true. Required.  Supports $filter (eq, in).'
              nullable: true
            isBuiltIn:
              type: boolean
              description: 'Flag indicating whether the role definition is part of the default set included in Microsoft Entra or a custom definition. Read-only. Supports $filter (eq, in).'
              nullable: true
            isEnabled:
              type: boolean
              description: Flag indicating whether the role is enabled for assignment. If false the role is not available for assignment. Read-only when isBuiltIn is true.
              nullable: true
            resourceScopes:
              type: array
              items:
                type: string
              description: List of the scopes or permissions the role definition applies to. Currently only / is supported. Read-only when isBuiltIn is true. DO NOT USE. This will be deprecated soon. Attach scope to role assignment.
            rolePermissions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRolePermission'
              description: List of permissions included in the role. Read-only when isBuiltIn is true. Required.
            templateId:
              type: string
              description: Custom template identifier that can be set when isBuiltIn is false but is read-only when isBuiltIn is true. This identifier is typically used if one needs an identifier to be the same across different directories.
              nullable: true
            version:
              type: string
              description: Indicates version of the role definition. Read-only when isBuiltIn is true.
              nullable: true
            inheritsPermissionsFrom:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
              description: Read-only collection of role definitions that the given role definition inherits from. Only Microsoft Entra built-in roles (isBuiltIn is true) support this attribute. Supports $expand.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleEligibilityScheduleInstance:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.unifiedRoleScheduleInstanceBase'
        - title: unifiedRoleEligibilityScheduleInstance
          type: object
          properties:
            endDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The end date of the schedule instance.
              format: date-time
              nullable: true
            memberType:
              type: string
              description: 'How the role eligibility is inherited. It can either be Inherited, Direct, or Group. It can further imply whether the unifiedRoleEligibilitySchedule can be managed by the caller. Supports $filter (eq, ne).'
              nullable: true
            roleEligibilityScheduleId:
              type: string
              description: 'The identifier of the unifiedRoleEligibilitySchedule object from which this instance was created. Supports $filter (eq, ne).'
              nullable: true
            startDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: When this instance starts.
              format: date-time
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleEligibilityScheduleRequest:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.request'
        - title: unifiedRoleEligibilityScheduleRequest
          type: object
          properties:
            action:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleScheduleRequestActions'
            appScopeId:
              type: string
              description: 'Identifier of the app-specific scope when the role eligibility is scoped to an app. The scope of a role eligibility determines the set of resources for which the principal is eligible to access. App scopes are scopes that are defined and understood by this application only. Use / for tenant-wide app scopes. Use directoryScopeId to limit the scope to particular directory objects, for example, administrative units. Supports $filter (eq, ne, and on null values).'
              nullable: true
            directoryScopeId:
              type: string
              description: 'Identifier of the directory object representing the scope of the role eligibility. The scope of a role eligibility determines the set of resources for which the principal has been granted access. Directory scopes are shared scopes stored in the directory that are understood by multiple applications. Use / for tenant-wide scope. Use appScopeId to limit the scope to an application only. Supports $filter (eq, ne, and on null values).'
              nullable: true
            isValidationOnly:
              type: boolean
              description: Determines whether the call is a validation or an actual call. Only set this property if you want to check whether an activation is subject to additional rules like MFA before actually submitting the request.
              nullable: true
            justification:
              type: string
              description: A message provided by users and administrators when create they create the unifiedRoleEligibilityScheduleRequest object.
              nullable: true
            principalId:
              type: string
              description: 'Identifier of the principal that has been granted the role eligibility. Can be a user or a role-assignable group. You can grant only active assignments service principals.Supports $filter (eq, ne).'
              nullable: true
            roleDefinitionId:
              type: string
              description: 'Identifier of the unifiedRoleDefinition object that is being assigned to the principal. Supports $filter (eq, ne).'
              nullable: true
            scheduleInfo:
              $ref: '#/components/schemas/microsoft.graph.requestSchedule'
            targetScheduleId:
              type: string
              description: 'Identifier of the schedule object that''s linked to the eligibility request. Supports $filter (eq, ne).'
              nullable: true
            ticketInfo:
              $ref: '#/components/schemas/microsoft.graph.ticketInfo'
            appScope:
              $ref: '#/components/schemas/microsoft.graph.appScope'
            directoryScope:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            principal:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            roleDefinition:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
            targetSchedule:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilitySchedule'
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleEligibilitySchedule:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.unifiedRoleScheduleBase'
        - title: unifiedRoleEligibilitySchedule
          type: object
          properties:
            memberType:
              type: string
              description: 'How the role eligibility is inherited. It can either be Inherited, Direct, or Group. It can further imply whether the unifiedRoleEligibilitySchedule can be managed by the caller. Supports $filter (eq, ne).'
              nullable: true
            scheduleInfo:
              $ref: '#/components/schemas/microsoft.graph.requestSchedule'
          additionalProperties:
            type: object
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.unifiedRbacResourceAction:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: unifiedRbacResourceAction
          type: object
          properties:
            actionVerb:
              type: string
              nullable: true
            authenticationContextId:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            isAuthenticationContextSettable:
              type: boolean
              nullable: true
            name:
              type: string
            resourceScopeId:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.appScope:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: appScope
          type: object
          properties:
            displayName:
              type: string
              description: Provides the display name of the app-specific resource represented by the app scope. Read-only.
              nullable: true
            type:
              type: string
              description: Describes the type of app-specific resource represented by the app scope. Read-only.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
              format: date-time
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleScheduleInstanceBase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: unifiedRoleScheduleInstanceBase
          type: object
          properties:
            appScopeId:
              type: string
              description: 'Identifier of the app-specific scope when the assignment or role eligibility is scoped to an app. The scope of an assignment or role eligibility determines the set of resources for which the principal has been granted access. App scopes are scopes that are defined and understood by this application only. Use / for tenant-wide app scopes. Use directoryScopeId to limit the scope to particular directory objects, for example, administrative units.'
              nullable: true
            directoryScopeId:
              type: string
              description: Identifier of the directory object representing the scope of the assignment or role eligibility. The scope of an assignment or role eligibility determines the set of resources for which the principal has been granted access. Directory scopes are shared scopes stored in the directory that are understood by multiple applications. Use / for tenant-wide scope. Use appScopeId to limit the scope to an application only.
              nullable: true
            principalId:
              type: string
              description: Identifier of the principal that has been granted the role assignment or that's eligible for a role.
              nullable: true
            roleDefinitionId:
              type: string
              description: Identifier of the unifiedRoleDefinition object that is being assigned to the principal or that the principal is eligible for.
              nullable: true
            appScope:
              $ref: '#/components/schemas/microsoft.graph.appScope'
            directoryScope:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            principal:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            roleDefinition:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
          additionalProperties:
            type: object
    microsoft.graph.request:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: request
          type: object
          properties:
            approvalId:
              type: string
              description: The identifier of the approval of the request.
              nullable: true
            completedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The request completion date time.
              format: date-time
              nullable: true
            createdBy:
              $ref: '#/components/schemas/microsoft.graph.identitySet'
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: The request creation date time.
              format: date-time
              nullable: true
            customData:
              type: string
              description: Free text field to define any custom data for the request. Not used.
              nullable: true
            status:
              type: string
              description: 'The status of the request. Not nullable. The possible values are: Canceled, Denied, Failed, Granted, PendingAdminDecision, PendingApproval, PendingProvisioning, PendingScheduleCreation, Provisioned, Revoked, and ScheduleCreated. Not nullable.'
          additionalProperties:
            type: object
    microsoft.graph.unifiedRoleScheduleRequestActions:
      title: unifiedRoleScheduleRequestActions
      enum:
        - adminAssign
        - adminUpdate
        - adminRemove
        - selfActivate
        - selfDeactivate
        - adminExtend
        - adminRenew
        - selfExtend
        - selfRenew
        - unknownFutureValue
      type: string
    microsoft.graph.requestSchedule:
      title: requestSchedule
      type: object
      properties:
        expiration:
          $ref: '#/components/schemas/microsoft.graph.expirationPattern'
        recurrence:
          $ref: '#/components/schemas/microsoft.graph.patternedRecurrence'
        startDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: When the  eligible or active assignment becomes active.
          format: date-time
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ticketInfo:
      title: ticketInfo
      type: object
      properties:
        ticketNumber:
          type: string
          description: The ticket number.
          nullable: true
        ticketSystem:
          type: string
          description: The description of the ticket system.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.unifiedRoleScheduleBase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: unifiedRoleScheduleBase
          type: object
          properties:
            appScopeId:
              type: string
              description: 'Identifier of the app-specific scope when the assignment or eligibility is scoped to an app. The scope of an assignment or eligibility determines the set of resources for which the principal has been granted access. App scopes are scopes that are defined and understood by this application only. Use / for tenant-wide app scopes. Use directoryScopeId to limit the scope to particular directory objects, for example, administrative units.'
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: When the schedule was created.
              format: date-time
              nullable: true
            createdUsing:
              type: string
              description: Identifier of the object through which this schedule was created.
              nullable: true
            directoryScopeId:
              type: string
              description: Identifier of the directory object representing the scope of the assignment or eligibility. The scope of an assignment or eligibility determines the set of resources for which the principal has been granted access. Directory scopes are shared scopes stored in the directory that are understood by multiple applications. Use / for tenant-wide scope. Use appScopeId to limit the scope to an application only.
              nullable: true
            modifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: When the schedule was last modified.
              format: date-time
              nullable: true
            principalId:
              type: string
              description: Identifier of the principal that has been granted the role assignment or eligibility.
              nullable: true
            roleDefinitionId:
              type: string
              description: Identifier of the unifiedRoleDefinition object that is being assigned to the principal or that a principal is eligible for.
              nullable: true
            status:
              type: string
              description: The status of the role assignment or eligibility request.
              nullable: true
            appScope:
              $ref: '#/components/schemas/microsoft.graph.appScope'
            directoryScope:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            principal:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            roleDefinition:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
          additionalProperties:
            type: object
    microsoft.graph.unifiedRolePermission:
      title: unifiedRolePermission
      type: object
      properties:
        allowedResourceActions:
          type: array
          items:
            type: string
          description: Set of tasks that can be performed on a resource. Required.
        condition:
          type: string
          description: Optional constraints that must be met for the permission to be effective. Not supported for custom roles.
          nullable: true
        excludedResourceActions:
          type: array
          items:
            type: string
            nullable: true
          description: Set of tasks that may not be performed on a resource. Not yet supported.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      additionalProperties:
        type: object
    microsoft.graph.expirationPattern:
      title: expirationPattern
      type: object
      properties:
        duration:
          pattern: '^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$'
          type: string
          description: 'The requestor''s desired duration of access represented in ISO 8601 format for durations. For example, PT3H refers to three hours.  If specified in a request, endDateTime should not be present and the type property should be set to afterDuration.'
          format: duration
          nullable: true
        endDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'Timestamp of date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
          format: date-time
          nullable: true
        type:
          $ref: '#/components/schemas/microsoft.graph.expirationPatternType'
      additionalProperties:
        type: object
    microsoft.graph.patternedRecurrence:
      title: patternedRecurrence
      type: object
      properties:
        pattern:
          $ref: '#/components/schemas/microsoft.graph.recurrencePattern'
        range:
          $ref: '#/components/schemas/microsoft.graph.recurrenceRange'
      additionalProperties:
        type: object
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        displayName:
          type: string
          description: 'The display name of the identity.For drive items, the display name might not always be available or up to date. For example, if a user changes their display name the API might show the new value in a future response, but the items associated with the user don''t show up as changed when using delta.'
          nullable: true
        id:
          type: string
          description: 'Unique identifier for the identity or actor. For example, in the access reviews decisions API, this property might record the id of the principal, that is, the group, user, or application that''s subject to review.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.expirationPatternType:
      title: expirationPatternType
      enum:
        - notSpecified
        - noExpiration
        - afterDateTime
        - afterDuration
      type: string
    microsoft.graph.recurrencePattern:
      title: recurrencePattern
      type: object
      properties:
        dayOfMonth:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The day of the month on which the event occurs. Required if type is absoluteMonthly or absoluteYearly.
          format: int32
        daysOfWeek:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
          description: 'A collection of the days of the week on which the event occurs. The possible values are: sunday, monday, tuesday, wednesday, thursday, friday, saturday. If type is relativeMonthly or relativeYearly, and daysOfWeek specifies more than one day, the event falls on the first day that satisfies the pattern.  Required if type is weekly, relativeMonthly, or relativeYearly.'
        firstDayOfWeek:
          $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
        index:
          $ref: '#/components/schemas/microsoft.graph.weekIndex'
        interval:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: 'The number of units between occurrences, where units can be in days, weeks, months, or years, depending on the type. Required.'
          format: int32
        month:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The month in which the event occurs.  This is a number from 1 to 12.
          format: int32
        type:
          $ref: '#/components/schemas/microsoft.graph.recurrencePatternType'
      additionalProperties:
        type: object
    microsoft.graph.recurrenceRange:
      title: recurrenceRange
      type: object
      properties:
        endDate:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$'
          type: string
          description: 'The date to stop applying the recurrence pattern. Depending on the recurrence pattern of the event, the last occurrence of the meeting may not be this date. Required if type is endDate.'
[...]
