openapi: 3.0.1
info:
  title: DeviceManagement
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceManagement:
    get:
      tags:
        - deviceManagement.deviceManagement
      summary: Get deviceManagement
      operationId: deviceManagement.deviceManagement_GetDeviceManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - intuneAccountId
                - settings
                - intuneBrand
                - subscriptionState
                - termsAndConditions
                - deviceCompliancePolicies
                - deviceCompliancePolicyDeviceStateSummary
                - deviceCompliancePolicySettingStateSummaries
                - deviceConfigurationDeviceStateSummaries
                - deviceConfigurations
                - iosUpdateStatuses
                - softwareUpdateStatusSummary
                - complianceManagementPartners
                - conditionalAccessSettings
                - deviceCategories
                - deviceEnrollmentConfigurations
                - deviceManagementPartners
                - exchangeConnectors
                - mobileThreatDefenseConnectors
                - applePushNotificationCertificate
                - detectedApps
                - managedDeviceOverview
                - managedDevices
                - importedWindowsAutopilotDeviceIdentities
                - windowsAutopilotDeviceIdentities
                - notificationMessageTemplates
                - resourceOperations
                - roleAssignments
                - roleDefinitions
                - remoteAssistancePartners
                - reports
                - telecomExpenseManagementPartners
                - troubleshootingEvents
                - windowsInformationProtectionAppLearningSummaries
                - windowsInformationProtectionNetworkLearningSummaries
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - termsAndConditions
                - deviceCompliancePolicies
                - deviceCompliancePolicyDeviceStateSummary
                - deviceCompliancePolicySettingStateSummaries
                - deviceConfigurationDeviceStateSummaries
                - deviceConfigurations
                - iosUpdateStatuses
                - softwareUpdateStatusSummary
                - complianceManagementPartners
                - conditionalAccessSettings
                - deviceCategories
                - deviceEnrollmentConfigurations
                - deviceManagementPartners
                - exchangeConnectors
                - mobileThreatDefenseConnectors
                - applePushNotificationCertificate
                - detectedApps
                - managedDeviceOverview
                - managedDevices
                - importedWindowsAutopilotDeviceIdentities
                - windowsAutopilotDeviceIdentities
                - notificationMessageTemplates
                - resourceOperations
                - roleAssignments
                - roleDefinitions
                - remoteAssistancePartners
                - reports
                - telecomExpenseManagementPartners
                - troubleshootingEvents
                - windowsInformationProtectionAppLearningSummaries
                - windowsInformationProtectionNetworkLearningSummaries
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagement'
          links:
            termsAndConditions:
              operationId: deviceManagement.ListTermsAndConditions
            deviceCompliancePolicies:
              operationId: deviceManagement.ListDeviceCompliancePolicies
            deviceCompliancePolicyDeviceStateSummary:
              operationId: deviceManagement.GetDeviceCompliancePolicyDeviceStateSummary
            deviceCompliancePolicySettingStateSummaries:
              operationId: deviceManagement.ListDeviceCompliancePolicySettingStateSummaries
            deviceConfigurationDeviceStateSummaries:
              operationId: deviceManagement.GetDeviceConfigurationDeviceStateSummaries
            deviceConfigurations:
              operationId: deviceManagement.ListDeviceConfigurations
            iosUpdateStatuses:
              operationId: deviceManagement.ListIosUpdateStatuses
            softwareUpdateStatusSummary:
              operationId: deviceManagement.GetSoftwareUpdateStatusSummary
            complianceManagementPartners:
              operationId: deviceManagement.ListComplianceManagementPartners
            conditionalAccessSettings:
              operationId: deviceManagement.GetConditionalAccessSettings
            deviceCategories:
              operationId: deviceManagement.ListDeviceCategories
            deviceEnrollmentConfigurations:
              operationId: deviceManagement.ListDeviceEnrollmentConfigurations
            deviceManagementPartners:
              operationId: deviceManagement.ListDeviceManagementPartners
            exchangeConnectors:
              operationId: deviceManagement.ListExchangeConnectors
            mobileThreatDefenseConnectors:
              operationId: deviceManagement.ListMobileThreatDefenseConnectors
            applePushNotificationCertificate:
              operationId: deviceManagement.GetApplePushNotificationCertificate
            detectedApps:
              operationId: deviceManagement.ListDetectedApps
            managedDeviceOverview:
              operationId: deviceManagement.GetManagedDeviceOverview
            managedDevices:
              operationId: deviceManagement.ListManagedDevices
            importedWindowsAutopilotDeviceIdentities:
              operationId: deviceManagement.ListImportedWindowsAutopilotDeviceIdentities
            windowsAutopilotDeviceIdentities:
              operationId: deviceManagement.ListWindowsAutopilotDeviceIdentities
            notificationMessageTemplates:
              operationId: deviceManagement.ListNotificationMessageTemplates
            resourceOperations:
              operationId: deviceManagement.ListResourceOperations
            roleAssignments:
              operationId: deviceManagement.ListRoleAssignments
            roleDefinitions:
              operationId: deviceManagement.ListRoleDefinitions
            remoteAssistancePartners:
              operationId: deviceManagement.ListRemoteAssistancePartners
            reports:
              operationId: deviceManagement.GetReports
            telecomExpenseManagementPartners:
              operationId: deviceManagement.ListTelecomExpenseManagementPartners
            troubleshootingEvents:
              operationId: deviceManagement.ListTroubleshootingEvents
            windowsInformationProtectionAppLearningSummaries:
              operationId: deviceManagement.ListWindowsInformationProtectionAppLearningSummaries
            windowsInformationProtectionNetworkLearningSummaries:
              operationId: deviceManagement.ListWindowsInformationProtectionNetworkLearningSummaries
            getEffectivePermissions:
              operationId: deviceManagement.getEffectivePermissions
            verifyWindowsEnrollmentAutoDiscovery:
              operationId: deviceManagement.verifyWindowsEnrollmentAutoDiscovery
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagement
      summary: Update deviceManagement
      operationId: deviceManagement.deviceManagement_UpdateDeviceManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/detectedApps:
    get:
      tags:
        - deviceManagement.detectedApp
      summary: Get detectedApps from deviceManagement
      description: The list of detected apps associated with a device.
      operationId: deviceManagement_ListDetectedApps
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deviceCount
                - deviceCount desc
                - displayName
                - displayName desc
                - platform
                - platform desc
                - publisher
                - publisher desc
                - sizeInByte
                - sizeInByte desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deviceCount
                - displayName
                - platform
                - publisher
                - sizeInByte
                - version
                - managedDevices
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - managedDevices
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.detectedAppCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.detectedApp
      summary: Create new navigation property to detectedApps for deviceManagement
      operationId: deviceManagement_CreateDetectedApps
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.detectedApp'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.detectedApp'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/detectedApps/{detectedApp-id}':
    get:
      tags:
        - deviceManagement.detectedApp
      summary: Get detectedApps from deviceManagement
      description: The list of detected apps associated with a device.
      operationId: deviceManagement_GetDetectedApps
      parameters:
        - name: detectedApp-id
          in: path
          description: 'key: id of detectedApp'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: detectedApp
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deviceCount
                - displayName
                - platform
                - publisher
                - sizeInByte
                - version
                - managedDevices
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - managedDevices
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.detectedApp'
          links:
            managedDevices:
              operationId: deviceManagement.DetectedApps.ListManagedDevices
              parameters:
                detectedApp-id: $request.path.detectedApp-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.detectedApp
      summary: Update the navigation property detectedApps in deviceManagement
      operationId: deviceManagement_UpdateDetectedApps
      parameters:
        - name: detectedApp-id
          in: path
          description: 'key: id of detectedApp'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: detectedApp
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.detectedApp'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.detectedApp
      summary: Delete navigation property detectedApps for deviceManagement
      operationId: deviceManagement_DeleteDetectedApps
      parameters:
        - name: detectedApp-id
          in: path
          description: 'key: id of detectedApp'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: detectedApp
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/detectedApps/{detectedApp-id}/managedDevices':
    get:
      tags:
        - deviceManagement.detectedApp
      summary: Get managedDevices from deviceManagement
      description: The devices that have the discovered application installed
      operationId: deviceManagement.detectedApps_ListManagedDevices
      parameters:
        - name: detectedApp-id
          in: path
          description: 'key: id of detectedApp'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: detectedApp
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activationLockBypassCode
                - activationLockBypassCode desc
                - androidSecurityPatchLevel
                - androidSecurityPatchLevel desc
                - azureADDeviceId
                - azureADDeviceId desc
                - azureADRegistered
                - azureADRegistered desc
                - complianceGracePeriodExpirationDateTime
                - complianceGracePeriodExpirationDateTime desc
                - complianceState
                - complianceState desc
                - configurationManagerClientEnabledFeatures
                - configurationManagerClientEnabledFeatures desc
                - deviceActionResults
                - deviceActionResults desc
                - deviceCategoryDisplayName
                - deviceCategoryDisplayName desc
                - deviceEnrollmentType
                - deviceEnrollmentType desc
                - deviceHealthAttestationState
                - deviceHealthAttestationState desc
                - deviceName
                - deviceName desc
                - deviceRegistrationState
                - deviceRegistrationState desc
                - easActivated
                - easActivated desc
                - easActivationDateTime
                - easActivationDateTime desc
                - easDeviceId
                - easDeviceId desc
                - emailAddress
                - emailAddress desc
                - enrolledDateTime
                - enrolledDateTime desc
                - ethernetMacAddress
                - ethernetMacAddress desc
                - exchangeAccessState
                - exchangeAccessState desc
                - exchangeAccessStateReason
                - exchangeAccessStateReason desc
                - exchangeLastSuccessfulSyncDateTime
                - exchangeLastSuccessfulSyncDateTime desc
                - freeStorageSpaceInBytes
                - freeStorageSpaceInBytes desc
                - iccid
                - iccid desc
                - imei
                - imei desc
                - isEncrypted
                - isEncrypted desc
                - isSupervised
                - isSupervised desc
                - jailBroken
                - jailBroken desc
                - lastSyncDateTime
                - lastSyncDateTime desc
                - managedDeviceName
                - managedDeviceName desc
                - managedDeviceOwnerType
                - managedDeviceOwnerType desc
                - managementAgent
                - managementAgent desc
                - manufacturer
                - manufacturer desc
                - meid
                - meid desc
                - model
                - model desc
                - notes
                - notes desc
                - operatingSystem
                - operatingSystem desc
                - osVersion
                - osVersion desc
                - partnerReportedThreatState
                - partnerReportedThreatState desc
                - phoneNumber
                - phoneNumber desc
                - physicalMemoryInBytes
                - physicalMemoryInBytes desc
                - remoteAssistanceSessionErrorDetails
                - remoteAssistanceSessionErrorDetails desc
                - remoteAssistanceSessionUrl
                - remoteAssistanceSessionUrl desc
                - serialNumber
                - serialNumber desc
                - subscriberCarrier
                - subscriberCarrier desc
                - totalStorageSpaceInBytes
                - totalStorageSpaceInBytes desc
                - udid
                - udid desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
                - wiFiMacAddress
                - wiFiMacAddress desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationLockBypassCode
                - androidSecurityPatchLevel
                - azureADDeviceId
                - azureADRegistered
                - complianceGracePeriodExpirationDateTime
                - complianceState
                - configurationManagerClientEnabledFeatures
                - deviceActionResults
                - deviceCategoryDisplayName
                - deviceEnrollmentType
                - deviceHealthAttestationState
                - deviceName
                - deviceRegistrationState
                - easActivated
                - easActivationDateTime
                - easDeviceId
                - emailAddress
                - enrolledDateTime
                - ethernetMacAddress
                - exchangeAccessState
                - exchangeAccessStateReason
                - exchangeLastSuccessfulSyncDateTime
                - freeStorageSpaceInBytes
                - iccid
                - imei
                - isEncrypted
                - isSupervised
                - jailBroken
                - lastSyncDateTime
                - managedDeviceName
                - managedDeviceOwnerType
                - managementAgent
                - manufacturer
                - meid
                - model
                - notes
                - operatingSystem
                - osVersion
                - partnerReportedThreatState
                - phoneNumber
                - physicalMemoryInBytes
                - remoteAssistanceSessionErrorDetails
                - remoteAssistanceSessionUrl
                - serialNumber
                - subscriberCarrier
                - totalStorageSpaceInBytes
                - udid
                - userDisplayName
                - userId
                - userPrincipalName
                - wiFiMacAddress
                - deviceCompliancePolicyStates
                - deviceConfigurationStates
                - deviceCategory
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - deviceCompliancePolicyStates
                - deviceConfigurationStates
                - deviceCategory
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.managedDeviceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/deviceManagement/detectedApps/{detectedApp-id}/managedDevices/{managedDevice-id}':
    get:
      tags:
        - deviceManagement.detectedApp
      summary: Get managedDevices from deviceManagement
      description: The devices that have the discovered application installed
      operationId: deviceManagement.detectedApps_GetManagedDevices
      parameters:
        - name: detectedApp-id
          in: path
          description: 'key: id of detectedApp'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: detectedApp
        - name: managedDevice-id
          in: path
          description: 'key: id of managedDevice'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationLockBypassCode
                - androidSecurityPatchLevel
                - azureADDeviceId
                - azureADRegistered
                - complianceGracePeriodExpirationDateTime
                - complianceState
                - configurationManagerClientEnabledFeatures
                - deviceActionResults
                - deviceCategoryDisplayName
                - deviceEnrollmentType
                - deviceHealthAttestationState
                - deviceName
                - deviceRegistrationState
                - easActivated
                - easActivationDateTime
                - easDeviceId
                - emailAddress
                - enrolledDateTime
                - ethernetMacAddress
                - exchangeAccessState
                - exchangeAccessStateReason
                - exchangeLastSuccessfulSyncDateTime
                - freeStorageSpaceInBytes
                - iccid
                - imei
                - isEncrypted
                - isSupervised
                - jailBroken
                - lastSyncDateTime
                - managedDeviceName
                - managedDeviceOwnerType
                - managementAgent
                - manufacturer
                - meid
                - model
                - notes
                - operatingSystem
                - osVersion
                - partnerReportedThreatState
                - phoneNumber
                - physicalMemoryInBytes
                - remoteAssistanceSessionErrorDetails
                - remoteAssistanceSessionUrl
                - serialNumber
                - subscriberCarrier
                - totalStorageSpaceInBytes
                - udid
                - userDisplayName
                - userId
                - userPrincipalName
                - wiFiMacAddress
                - deviceCompliancePolicyStates
                - deviceConfigurationStates
                - deviceCategory
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - deviceCompliancePolicyStates
                - deviceConfigurationStates
                - deviceCategory
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.managedDevice'
          links:
            deviceCompliancePolicyStates:
              operationId: deviceManagement.detectedApps.ManagedDevices.ListDeviceCompliancePolicyStates
              parameters:
                detectedApp-id: $request.path.detectedApp-id
                managedDevice-id: $request.path.managedDevice-id
            deviceConfigurationStates:
              operationId: deviceManagement.detectedApps.ManagedDevices.ListDeviceConfigurationStates
              parameters:
                detectedApp-id: $request.path.detectedApp-id
                managedDevice-id: $request.path.managedDevice-id
            deviceCategory:
              operationId: deviceManagement.detectedApps.ManagedDevices.GetDeviceCategory
              parameters:
                detectedApp-id: $request.path.detectedApp-id
                managedDevice-id: $request.path.managedDevice-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceCategories:
    get:
      tags:
        - deviceManagement.deviceCategory
      summary: Get deviceCategories from deviceManagement
      description: The list of device categories with the tenant.
      operationId: deviceManagement_ListDeviceCategories
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceCategoryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCategory
      summary: Create new navigation property to deviceCategories for deviceManagement
      operationId: deviceManagement_CreateDeviceCategories
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCategories/{deviceCategory-id}':
    get:
      tags:
        - deviceManagement.deviceCategory
      summary: Get deviceCategories from deviceManagement
      description: The list of device categories with the tenant.
      operationId: deviceManagement_GetDeviceCategories
      parameters:
        - name: deviceCategory-id
          in: path
          description: 'key: id of deviceCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCategory
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCategory
      summary: Update the navigation property deviceCategories in deviceManagement
      operationId: deviceManagement_UpdateDeviceCategories
      parameters:
        - name: deviceCategory-id
          in: path
          description: 'key: id of deviceCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCategory'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCategory
      summary: Delete navigation property deviceCategories for deviceManagement
      operationId: deviceManagement_DeleteDeviceCategories
      parameters:
        - name: deviceCategory-id
          in: path
          description: 'key: id of deviceCategory'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCategory
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceCompliancePolicies:
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceCompliancePolicies from deviceManagement
      description: The device compliance policies.
      operationId: deviceManagement_ListDeviceCompliancePolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
                - assignments
                - deviceSettingStateSummaries
                - deviceStatuses
                - deviceStatusOverview
                - scheduledActionsForRule
                - userStatuses
                - userStatusOverview
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - deviceSettingStateSummaries
                - deviceStatuses
                - deviceStatusOverview
                - scheduledActionsForRule
                - userStatuses
                - userStatusOverview
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceCompliancePolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to deviceCompliancePolicies for deviceManagement
      operationId: deviceManagement_CreateDeviceCompliancePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceCompliancePolicies from deviceManagement
      description: The device compliance policies.
      operationId: deviceManagement_GetDeviceCompliancePolicies
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - version
                - assignments
                - deviceSettingStateSummaries
                - deviceStatuses
                - deviceStatusOverview
                - scheduledActionsForRule
                - userStatuses
                - userStatusOverview
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - assignments
                - deviceSettingStateSummaries
                - deviceStatuses
                - deviceStatusOverview
                - scheduledActionsForRule
                - userStatuses
                - userStatusOverview
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
          links:
            assignments:
              operationId: deviceManagement.DeviceCompliancePolicies.ListAssignments
              parameters:
                deviceCompliancePolicy-id: $request.path.deviceCompliancePolicy-id
            deviceSettingStateSummaries:
              operationId: deviceManagement.DeviceCompliancePolicies.ListDeviceSettingStateSummaries
              parameters:
                deviceCompliancePolicy-id: $request.path.deviceCompliancePolicy-id
            deviceStatuses:
              operationId: deviceManagement.DeviceCompliancePolicies.ListDeviceStatuses
              parameters:
                deviceCompliancePolicy-id: $request.path.deviceCompliancePolicy-id
            deviceStatusOverview:
              operationId: deviceManagement.DeviceCompliancePolicies.GetDeviceStatusOverview
              parameters:
                deviceCompliancePolicy-id: $request.path.deviceCompliancePolicy-id
            scheduledActionsForRule:
              operationId: deviceManagement.DeviceCompliancePolicies.ListScheduledActionsGraphFPreRule
              parameters:
                deviceCompliancePolicy-id: $request.path.deviceCompliancePolicy-id
            userStatuses:
              operationId: deviceManagement.DeviceCompliancePolicies.ListUserStatuses
              parameters:
                deviceCompliancePolicy-id: $request.path.deviceCompliancePolicy-id
            userStatusOverview:
              operationId: deviceManagement.DeviceCompliancePolicies.GetUserStatusOverview
              parameters:
                deviceCompliancePolicy-id: $request.path.deviceCompliancePolicy-id
            assign:
              operationId: deviceManagement.deviceCompliancePolicies.deviceCompliancePolicy.assign
            scheduleActionsForRules:
              operationId: deviceManagement.deviceCompliancePolicies.deviceCompliancePolicy.scheduleActionsGraphFPreRules
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property deviceCompliancePolicies in deviceManagement
      operationId: deviceManagement_UpdateDeviceCompliancePolicies
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property deviceCompliancePolicies for deviceManagement
      operationId: deviceManagement_DeleteDeviceCompliancePolicies
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/assignments':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get assignments from deviceManagement
      description: The collection of assignments for this compliance policy.
      operationId: deviceManagement.deviceCompliancePolicies_ListAssignments
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - target
                - target desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceCompliancePolicyAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to assignments for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_CreateAssignments
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/assignments/{deviceCompliancePolicyAssignment-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get assignments from deviceManagement
      description: The collection of assignments for this compliance policy.
      operationId: deviceManagement.deviceCompliancePolicies_GetAssignments
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceCompliancePolicyAssignment-id
          in: path
          description: 'key: id of deviceCompliancePolicyAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicyAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - target
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property assignments in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_UpdateAssignments
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceCompliancePolicyAssignment-id
          in: path
          description: 'key: id of deviceCompliancePolicyAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicyAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property assignments for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_DeleteAssignments
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceCompliancePolicyAssignment-id
          in: path
          description: 'key: id of deviceCompliancePolicyAssignment'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicyAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceSettingStateSummaries':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceSettingStateSummaries from deviceManagement
      description: Compliance Setting State Device Summary
      operationId: deviceManagement.deviceCompliancePolicies_ListDeviceSettingStateSummaries
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - compliantDeviceCount
                - compliantDeviceCount desc
                - conflictDeviceCount
                - conflictDeviceCount desc
                - errorDeviceCount
                - errorDeviceCount desc
                - instancePath
                - instancePath desc
                - nonCompliantDeviceCount
                - nonCompliantDeviceCount desc
                - notApplicableDeviceCount
                - notApplicableDeviceCount desc
                - remediatedDeviceCount
                - remediatedDeviceCount desc
                - settingName
                - settingName desc
                - unknownDeviceCount
                - unknownDeviceCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - compliantDeviceCount
                - conflictDeviceCount
                - errorDeviceCount
                - instancePath
                - nonCompliantDeviceCount
                - notApplicableDeviceCount
                - remediatedDeviceCount
                - settingName
                - unknownDeviceCount
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.settingStateDeviceSummaryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to deviceSettingStateSummaries for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_CreateDeviceSettingStateSummaries
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.settingStateDeviceSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.settingStateDeviceSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceSettingStateSummaries/{settingStateDeviceSummary-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceSettingStateSummaries from deviceManagement
      description: Compliance Setting State Device Summary
      operationId: deviceManagement.deviceCompliancePolicies_GetDeviceSettingStateSummaries
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: settingStateDeviceSummary-id
          in: path
          description: 'key: id of settingStateDeviceSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: settingStateDeviceSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - compliantDeviceCount
                - conflictDeviceCount
                - errorDeviceCount
                - instancePath
                - nonCompliantDeviceCount
                - notApplicableDeviceCount
                - remediatedDeviceCount
                - settingName
                - unknownDeviceCount
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.settingStateDeviceSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property deviceSettingStateSummaries in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_UpdateDeviceSettingStateSummaries
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: settingStateDeviceSummary-id
          in: path
          description: 'key: id of settingStateDeviceSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: settingStateDeviceSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.settingStateDeviceSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property deviceSettingStateSummaries for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_DeleteDeviceSettingStateSummaries
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: settingStateDeviceSummary-id
          in: path
          description: 'key: id of settingStateDeviceSummary'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: settingStateDeviceSummary
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceStatuses':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceStatuses from deviceManagement
      description: List of DeviceComplianceDeviceStatus.
      operationId: deviceManagement.deviceCompliancePolicies_ListDeviceStatuses
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - complianceGracePeriodExpirationDateTime
                - complianceGracePeriodExpirationDateTime desc
                - deviceDisplayName
                - deviceDisplayName desc
                - deviceModel
                - deviceModel desc
                - lastReportedDateTime
                - lastReportedDateTime desc
                - status
                - status desc
                - userName
                - userName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceDisplayName
                - deviceModel
                - lastReportedDateTime
                - status
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceComplianceDeviceStatusCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to deviceStatuses for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_CreateDeviceStatuses
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceStatuses/{deviceComplianceDeviceStatus-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceStatuses from deviceManagement
      description: List of DeviceComplianceDeviceStatus.
      operationId: deviceManagement.deviceCompliancePolicies_GetDeviceStatuses
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceDeviceStatus-id
          in: path
          description: 'key: id of deviceComplianceDeviceStatus'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceDeviceStatus
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceDisplayName
                - deviceModel
                - lastReportedDateTime
                - status
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property deviceStatuses in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_UpdateDeviceStatuses
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceDeviceStatus-id
          in: path
          description: 'key: id of deviceComplianceDeviceStatus'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceDeviceStatus
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceStatus'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property deviceStatuses for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_DeleteDeviceStatuses
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceDeviceStatus-id
          in: path
          description: 'key: id of deviceComplianceDeviceStatus'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceDeviceStatus
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/deviceStatusOverview':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get deviceStatusOverview from deviceManagement
      description: Device compliance devices status overview
      operationId: deviceManagement.deviceCompliancePolicies_GetDeviceStatusOverview
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configurationVersion
                - errorCount
                - failedCount
                - lastUpdateDateTime
                - notApplicableCount
                - pendingCount
                - successCount
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceOverview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property deviceStatusOverview in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_UpdateDeviceStatusOverview
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceDeviceOverview'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property deviceStatusOverview for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_DeleteDeviceStatusOverview
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduledActionsForRule':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get scheduledActionsForRule from deviceManagement
      description: The list of scheduled action per rule for this compliance policy. This is a required property when creating any individual per-platform compliance policies.
      operationId: deviceManagement.deviceCompliancePolicies_ListScheduledActionsGraphFPreRule
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - ruleName
                - ruleName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - ruleName
                - scheduledActionConfigurations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - scheduledActionConfigurations
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceComplianceScheduledActionForRuleCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to scheduledActionsForRule for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_CreateScheduledActionsGraphFPreRule
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduledActionsForRule/{deviceComplianceScheduledActionForRule-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get scheduledActionsForRule from deviceManagement
      description: The list of scheduled action per rule for this compliance policy. This is a required property when creating any individual per-platform compliance policies.
      operationId: deviceManagement.deviceCompliancePolicies_GetScheduledActionsGraphFPreRule
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceScheduledActionForRule-id
          in: path
          description: 'key: id of deviceComplianceScheduledActionForRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScheduledActionForRule
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - ruleName
                - scheduledActionConfigurations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - scheduledActionConfigurations
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
          links:
            scheduledActionConfigurations:
              operationId: deviceManagement.deviceCompliancePolicies.ScheduledActionsGraphFPreRule.ListScheduledActionConfigurations
              parameters:
                deviceCompliancePolicy-id: $request.path.deviceCompliancePolicy-id
                deviceComplianceScheduledActionForRule-id: $request.path.deviceComplianceScheduledActionForRule-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property scheduledActionsForRule in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_UpdateScheduledActionsGraphFPreRule
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceScheduledActionForRule-id
          in: path
          description: 'key: id of deviceComplianceScheduledActionForRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScheduledActionForRule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property scheduledActionsForRule for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_DeleteScheduledActionsGraphFPreRule
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceScheduledActionForRule-id
          in: path
          description: 'key: id of deviceComplianceScheduledActionForRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScheduledActionForRule
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduledActionsForRule/{deviceComplianceScheduledActionForRule-id}/scheduledActionConfigurations':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get scheduledActionConfigurations from deviceManagement
      description: The list of scheduled action configurations for this compliance policy. Compliance policy must have one and only one block scheduled action.
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsGraphFPreRule_ListScheduledActionConfigurations
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceScheduledActionForRule-id
          in: path
          description: 'key: id of deviceComplianceScheduledActionForRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScheduledActionForRule
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actionType
                - actionType desc
                - gracePeriodHours
                - gracePeriodHours desc
                - notificationMessageCCList
                - notificationMessageCCList desc
                - notificationTemplateId
                - notificationTemplateId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionType
                - gracePeriodHours
                - notificationMessageCCList
                - notificationTemplateId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceComplianceActionItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to scheduledActionConfigurations for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsGraphFPreRule_CreateScheduledActionConfigurations
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceScheduledActionForRule-id
          in: path
          description: 'key: id of deviceComplianceScheduledActionForRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScheduledActionForRule
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/scheduledActionsForRule/{deviceComplianceScheduledActionForRule-id}/scheduledActionConfigurations/{deviceComplianceActionItem-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get scheduledActionConfigurations from deviceManagement
      description: The list of scheduled action configurations for this compliance policy. Compliance policy must have one and only one block scheduled action.
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsGraphFPreRule_GetScheduledActionConfigurations
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceScheduledActionForRule-id
          in: path
          description: 'key: id of deviceComplianceScheduledActionForRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScheduledActionForRule
        - name: deviceComplianceActionItem-id
          in: path
          description: 'key: id of deviceComplianceActionItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceActionItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionType
                - gracePeriodHours
                - notificationMessageCCList
                - notificationTemplateId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property scheduledActionConfigurations in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsGraphFPreRule_UpdateScheduledActionConfigurations
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceScheduledActionForRule-id
          in: path
          description: 'key: id of deviceComplianceScheduledActionForRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScheduledActionForRule
        - name: deviceComplianceActionItem-id
          in: path
          description: 'key: id of deviceComplianceActionItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceActionItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property scheduledActionConfigurations for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies.scheduledActionsGraphFPreRule_DeleteScheduledActionConfigurations
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceScheduledActionForRule-id
          in: path
          description: 'key: id of deviceComplianceScheduledActionForRule'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceScheduledActionForRule
        - name: deviceComplianceActionItem-id
          in: path
          description: 'key: id of deviceComplianceActionItem'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceActionItem
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/userStatuses':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get userStatuses from deviceManagement
      description: List of DeviceComplianceUserStatus.
      operationId: deviceManagement.deviceCompliancePolicies_ListUserStatuses
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - devicesCount
                - devicesCount desc
                - lastReportedDateTime
                - lastReportedDateTime desc
                - status
                - status desc
                - userDisplayName
                - userDisplayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - devicesCount
                - lastReportedDateTime
                - status
                - userDisplayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.deviceComplianceUserStatusCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Create new navigation property to userStatuses for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_CreateUserStatuses
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/userStatuses/{deviceComplianceUserStatus-id}':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get userStatuses from deviceManagement
      description: List of DeviceComplianceUserStatus.
      operationId: deviceManagement.deviceCompliancePolicies_GetUserStatuses
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceUserStatus-id
          in: path
          description: 'key: id of deviceComplianceUserStatus'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceUserStatus
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - devicesCount
                - lastReportedDateTime
                - status
                - userDisplayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Update the navigation property userStatuses in deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_UpdateUserStatuses
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceUserStatus-id
          in: path
          description: 'key: id of deviceComplianceUserStatus'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceUserStatus
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceUserStatus'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Delete navigation property userStatuses for deviceManagement
      operationId: deviceManagement.deviceCompliancePolicies_DeleteUserStatuses
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: 'key: id of deviceCompliancePolicy'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
        - name: deviceComplianceUserStatus-id
          in: path
          description: 'key: id of deviceComplianceUserStatus'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceComplianceUserStatus
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/userStatusOverview':
    get:
      tags:
        - deviceManagement.deviceCompliancePolicy
      summary: Get userStatusOverview from deviceManagement
      description: Device compliance users status overview
[...]
