openapi: 3.0.1
info:
  title: DeviceManagement.Functions
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceManagement/applePushNotificationCertificate/microsoft.graph.downloadApplePushNotificationCertificateSigningRequest():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function downloadApplePushNotificationCertificateSigningRequest
      description: Download Apple push notification certificate signing request
      operationId: deviceManagement.applePushNotificationCertificate_downloadApplePushNotificationCertificateSigningRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/deviceConfigurations/{deviceConfiguration-id}/microsoft.graph.getOmaSettingPlainTextValue(secretReferenceValueId=''{secretReferenceValueId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getOmaSettingPlainTextValue
      operationId: deviceManagement.deviceConfigurations_getOmaSettingPlainTextValue
      parameters:
        - name: deviceConfiguration-id
          in: path
          description: 'key: id of deviceConfiguration'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceConfiguration
        - name: secretReferenceValueId
          in: path
          description: 'Usage: secretReferenceValueId=''{secretReferenceValueId}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.getEffectivePermissions(scope=''{scope}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getEffectivePermissions
      description: Retrieves the effective permissions of the currently authenticated user
      operationId: deviceManagement_getEffectivePermissions
      parameters:
        - name: scope
          in: path
          description: 'Usage: scope=''{scope}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.rolePermission'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/microsoft.graph.verifyWindowsEnrollmentAutoDiscovery(domainName=''{domainName}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function verifyWindowsEnrollmentAutoDiscovery
      operationId: deviceManagement_verifyWindowsEnrollmentAutoDiscovery
      parameters:
        - name: domainName
          in: path
          description: 'Usage: domainName=''{domainName}'''
          required: true
          style: simple
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
components:
  schemas:
    microsoft.graph.rolePermission:
      title: rolePermission
      type: object
      properties:
        resourceActions:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.resourceAction'
          description: Resource Actions each containing a set of allowed and not allowed permissions.
      additionalProperties:
        type: object
      description: Contains the set of ResourceActions determining the allowed and not allowed permissions for each role.
    microsoft.graph.resourceAction:
      title: resourceAction
      type: object
      properties:
        allowedResourceActions:
          type: array
          items:
            type: string
            nullable: true
          description: Allowed Actions
        notAllowedResourceActions:
          type: array
          items:
            type: string
            nullable: true
          description: Not Allowed Actions.
      additionalProperties:
        type: object
      description: Set of allowed and not allowed actions for a resource.
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innererror:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]