openapi: 3.0.1
info:
  title: DeviceManagement.Actions
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-devicecompliancepolicy-assign?view=graph-rest-1.0
      operationId: deviceManagement.deviceCompliancePolicy_assign
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: The unique identifier of deviceCompliancePolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceCompliancePolicyAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceCompliancePolicyAssignment'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/deviceCompliancePolicies/{deviceCompliancePolicy-id}/microsoft.graph.scheduleActionsForRules':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action scheduleActionsForRules
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-devicecompliancepolicy-scheduleactionsforrules?view=graph-rest-1.0
      operationId: deviceManagement.deviceCompliancePolicy_scheduleActionsGraphFPreRule
      parameters:
        - name: deviceCompliancePolicy-id
          in: path
          description: The unique identifier of deviceCompliancePolicy
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceCompliancePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                deviceComplianceScheduledActionForRules:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceComplianceScheduledActionForRule'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceConfigurations/{deviceConfiguration-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-deviceconfiguration-assign?view=graph-rest-1.0
      operationId: deviceManagement.deviceConfiguration_assign
      parameters:
        - name: deviceConfiguration-id
          in: path
          description: The unique identifier of deviceConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceConfiguration
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                assignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.deviceConfigurationAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceConfigurationAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceConfigurationAssignment'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/microsoft.graph.assign':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assign
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-deviceenrollmentconfiguration-assign?view=graph-rest-1.0
      operationId: deviceManagement.deviceEnrollmentConfiguration_assign
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                enrollmentConfigurationAssignments:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.enrollmentConfigurationAssignment'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceEnrollmentConfigurations/{deviceEnrollmentConfiguration-id}/microsoft.graph.setPriority':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action setPriority
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-deviceenrollmentconfiguration-setpriority?view=graph-rest-1.0
      operationId: deviceManagement.deviceEnrollmentConfiguration_setPriority
      parameters:
        - name: deviceEnrollmentConfiguration-id
          in: path
          description: The unique identifier of deviceEnrollmentConfiguration
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceEnrollmentConfiguration
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                priority:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/deviceManagementPartners/{deviceManagementPartner-id}/microsoft.graph.terminate':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action terminate
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementpartner-terminate?view=graph-rest-1.0
      operationId: deviceManagement.deviceManagementPartner_terminate
      parameters:
        - name: deviceManagementPartner-id
          in: path
          description: The unique identifier of deviceManagementPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementPartner
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/exchangeConnectors/{deviceManagementExchangeConnector-id}/microsoft.graph.sync':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action sync
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementexchangeconnector-sync?view=graph-rest-1.0
      operationId: deviceManagement.exchangeConnector_sync
      parameters:
        - name: deviceManagementExchangeConnector-id
          in: path
          description: The unique identifier of deviceManagementExchangeConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeConnector
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                syncType:
                  $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnectorSyncType'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/importedWindowsAutopilotDeviceIdentities/microsoft.graph.import:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action import
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-importedwindowsautopilotdeviceidentity-import?view=graph-rest-1.0
      operationId: deviceManagement.importedWindowsAutopilotDeviceIdentity_import
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                importedWindowsAutopilotDeviceIdentities:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of importedWindowsAutopilotDeviceIdentity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentity'
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/deviceManagement/managedDevices/{managedDevice-id}/logCollectionRequests/{deviceLogCollectionResponse-id}/microsoft.graph.createDownloadUrl':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createDownloadUrl
      operationId: deviceManagement.managedDevice.logCollectionRequest_createDownloadUrl
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
        - name: deviceLogCollectionResponse-id
          in: path
          description: The unique identifier of deviceLogCollectionResponse
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceLogCollectionResponse
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.bypassActivationLock':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action bypassActivationLock
      description: Bypass activation lock
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-bypassactivationlock?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_bypassActivationLock
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.cleanWindowsDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action cleanWindowsDevice
      description: Clean Windows device
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-cleanwindowsdevice?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_cleanWindowsDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keepUserData:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.deleteUserFromSharedAppleDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action deleteUserFromSharedAppleDevice
      description: Delete user from shared Apple device
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-deleteuserfromsharedappledevice?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_deleteUserFromSharedAppleDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userPrincipalName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.disableLostMode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action disableLostMode
      description: Disable lost mode
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-disablelostmode?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_disableLostMode
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.locateDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action locateDevice
      description: Locate a device
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-locatedevice?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_locateDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.logoutSharedAppleDeviceActiveUser':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action logoutSharedAppleDeviceActiveUser
      description: Logout shared Apple device active user
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-logoutsharedappledeviceactiveuser?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_logoutSharedAppleDeviceActiveUser
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.rebootNow':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action rebootNow
      description: Reboot device
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-rebootnow?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_rebootNow
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.recoverPasscode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action recoverPasscode
      description: Recover passcode
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-recoverpasscode?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_recoverPasscode
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.remoteLock':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action remoteLock
      description: Remote lock
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-remotelock?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_remoteLock
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.requestRemoteAssistance':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action requestRemoteAssistance
      description: Request remote assistance
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-requestremoteassistance?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_requestRemoteAssistance
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.resetPasscode':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action resetPasscode
      description: Reset passcode
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-resetpasscode?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_resetPasscode
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.retire':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action retire
      description: Retire a device
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-retire?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_retire
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.shutDown':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action shutDown
      description: Shut down device
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-shutdown?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_shutDown
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.syncDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action syncDevice
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-syncdevice?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_syncDevice
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.updateWindowsDeviceAccount':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action updateWindowsDeviceAccount
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-updatewindowsdeviceaccount?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_updateWindowsDeviceAccount
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateWindowsDeviceAccountActionParameter:
                  $ref: '#/components/schemas/microsoft.graph.updateWindowsDeviceAccountActionParameter'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.windowsDefenderScan':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action windowsDefenderScan
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-windowsdefenderscan?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_windowsDefenderScan
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                quickScan:
                  type: boolean
                  default: false
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.windowsDefenderUpdateSignatures':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action windowsDefenderUpdateSignatures
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-windowsdefenderupdatesignatures?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_windowsDefenderUpdateSignature
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/managedDevices/{managedDevice-id}/microsoft.graph.wipe':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action wipe
      description: Wipe a device
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-manageddevice-wipe?view=graph-rest-1.0
      operationId: deviceManagement.managedDevice_wipe
      parameters:
        - name: managedDevice-id
          in: path
          description: The unique identifier of managedDevice
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: managedDevice
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                keepEnrollmentData:
                  type: boolean
                  default: false
                  nullable: true
                keepUserData:
                  type: boolean
                  default: false
                  nullable: true
                macOsUnlockCode:
                  type: string
                  nullable: true
                persistEsimDataPlan:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/mobileAppTroubleshootingEvents/{mobileAppTroubleshootingEvent-id}/appLogCollectionRequests/{appLogCollectionRequest-id}/microsoft.graph.createDownloadUrl':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action createDownloadUrl
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-applogcollectionrequest-createdownloadurl?view=graph-rest-1.0
      operationId: deviceManagement.mobileAppTroubleshootingEvent.appLogCollectionRequest_createDownloadUrl
      parameters:
        - name: mobileAppTroubleshootingEvent-id
          in: path
          description: The unique identifier of mobileAppTroubleshootingEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mobileAppTroubleshootingEvent
        - name: appLogCollectionRequest-id
          in: path
          description: The unique identifier of appLogCollectionRequest
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: appLogCollectionRequest
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appLogCollectionDownloadDetails'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/notificationMessageTemplates/{notificationMessageTemplate-id}/microsoft.graph.sendTestMessage':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action sendTestMessage
      description: Sends test message using the specified notificationMessageTemplate in the default locale
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-notification-notificationmessagetemplate-sendtestmessage?view=graph-rest-1.0
      operationId: deviceManagement.notificationMessageTemplate_sendTestMessage
      parameters:
        - name: notificationMessageTemplate-id
          in: path
          description: The unique identifier of notificationMessageTemplate
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: notificationMessageTemplate
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/remoteAssistancePartners/{remoteAssistancePartner-id}/microsoft.graph.beginOnboarding':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action beginOnboarding
      description: A request to start onboarding.  Must be coupled with the appropriate TeamViewer account information
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-remoteassistance-remoteassistancepartner-beginonboarding?view=graph-rest-1.0
      operationId: deviceManagement.remoteAssistancePartner_beginOnboarding
      parameters:
        - name: remoteAssistancePartner-id
          in: path
          description: The unique identifier of remoteAssistancePartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteAssistancePartner
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/remoteAssistancePartners/{remoteAssistancePartner-id}/microsoft.graph.disconnect':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action disconnect
      description: A request to remove the active TeamViewer connector
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-remoteassistance-remoteassistancepartner-disconnect?view=graph-rest-1.0
      operationId: deviceManagement.remoteAssistancePartner_disconnect
      parameters:
        - name: remoteAssistancePartner-id
          in: path
          description: The unique identifier of remoteAssistancePartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteAssistancePartner
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getCachedReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getCachedReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getcachedreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getCachedReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getCompliancePolicyNonComplianceReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getCompliancePolicyNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getcompliancepolicynoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getCompliancePolicyNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getCompliancePolicyNonComplianceSummaryReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getCompliancePolicyNonComplianceSummaryReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getcompliancepolicynoncompliancesummaryreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getCompliancePolicyNonComplianceSummaryReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getComplianceSettingNonComplianceReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getComplianceSettingNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getcompliancesettingnoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getComplianceSettingNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getConfigurationPolicyNonComplianceReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getConfigurationPolicyNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getconfigurationpolicynoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getConfigurationPolicyNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getConfigurationPolicyNonComplianceSummaryReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getConfigurationPolicyNonComplianceSummaryReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getconfigurationpolicynoncompliancesummaryreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getConfigurationPolicyNonComplianceSummaryReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getConfigurationSettingNonComplianceReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getConfigurationSettingNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getconfigurationsettingnoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getConfigurationSettingNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getDeviceManagementIntentPerSettingContributingProfiles:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getDeviceManagementIntentPerSettingContributingProfiles
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getdevicemanagementintentpersettingcontributingprofiles?view=graph-rest-1.0
      operationId: deviceManagement.report_getDeviceManagementIntentPerSettingContributingProfile
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getDeviceManagementIntentSettingsReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getDeviceManagementIntentSettingsReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getdevicemanagementintentsettingsreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getDeviceManagementIntentSettingsReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getDeviceNonComplianceReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getDeviceNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getdevicenoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getDeviceNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getDevicesWithoutCompliancePolicyReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getDevicesWithoutCompliancePolicyReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getdeviceswithoutcompliancepolicyreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getDevicesWithoutCompliancePolicyReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getHistoricalReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getHistoricalReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-gethistoricalreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getHistoricalReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getNoncompliantDevicesAndSettingsReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getNoncompliantDevicesAndSettingsReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getnoncompliantdevicesandsettingsreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getNoncompliantDevicesAndSettingsReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getPolicyNonComplianceMetadata:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getPolicyNonComplianceMetadata
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getpolicynoncompliancemetadata?view=graph-rest-1.0
      operationId: deviceManagement.report_getPolicyNonComplianceMetadata
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getPolicyNonComplianceReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getPolicyNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getpolicynoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getPolicyNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getPolicyNonComplianceSummaryReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getPolicyNonComplianceSummaryReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getpolicynoncompliancesummaryreport?view=graph-rest-1.0
      operationId: deviceManagement.report_getPolicyNonComplianceSummaryReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getReportFilters:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getReportFilters
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getreportfilters?view=graph-rest-1.0
      operationId: deviceManagement.report_getReportFilter
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /deviceManagement/reports/microsoft.graph.getSettingNonComplianceReport:
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action getSettingNonComplianceReport
      description: Not yet documented
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-reporting-devicemanagementreports-getsettingnoncompliancereport?view=graph-rest-1.0
      operationId: deviceManagement.report_getSettingNonComplianceReport
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                select:
                  type: array
                  items:
                    type: string
                    nullable: true
                search:
                  type: string
                  nullable: true
                groupBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                orderBy:
                  type: array
                  items:
                    type: string
                    nullable: true
                skip:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                top:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
                sessionId:
                  type: string
                  nullable: true
                filter:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    format: base64url
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}/microsoft.graph.assignUserToDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action assignUserToDevice
      description: Assigns user to Autopilot devices.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-windowsautopilotdeviceidentity-assignusertodevice?view=graph-rest-1.0
      operationId: deviceManagement.windowsAutopilotDeviceIdentity_assignUserToDevice
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of windowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userPrincipalName:
                  type: string
                  nullable: true
                addressableUserName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}/microsoft.graph.unassignUserFromDevice':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action unassignUserFromDevice
      description: Unassigns the user from an Autopilot device.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-windowsautopilotdeviceidentity-unassignuserfromdevice?view=graph-rest-1.0
      operationId: deviceManagement.windowsAutopilotDeviceIdentity_unassignUserFromDevice
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of windowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/deviceManagement/windowsAutopilotDeviceIdentities/{windowsAutopilotDeviceIdentity-id}/microsoft.graph.updateDeviceProperties':
    post:
      tags:
        - deviceManagement.Actions
      summary: Invoke action updateDeviceProperties
      description: Updates properties on Autopilot devices.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-enrollment-windowsautopilotdeviceidentity-updatedeviceproperties?view=graph-rest-1.0
      operationId: deviceManagement.windowsAutopilotDeviceIdentity_updateDeviceProperty
      parameters:
        - name: windowsAutopilotDeviceIdentity-id
          in: path
          description: The unique identifier of windowsAutopilotDeviceIdentity
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsAutopilotDeviceIdentity
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                userPrincipalName:
                  type: string
                  nullable: true
                addressableUserName:
                  type: string
                  nullable: true
                groupTag:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    microsoft.graph.deviceCompliancePolicyAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: deviceCompliancePolicyAssignment
          type: object
          properties:
            target:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentTarget'
          additionalProperties:
            type: object
          description: Device compliance policy assignment.
    microsoft.graph.deviceComplianceScheduledActionForRule:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: deviceComplianceScheduledActionForRule
          type: object
          properties:
            ruleName:
              type: string
              description: 'Name of the rule which this scheduled action applies to. Currently scheduled actions are created per policy instead of per rule, thus RuleName is always set to default value PasswordRequired.'
              nullable: true
            scheduledActionConfigurations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionItem'
              description: The list of scheduled action configurations for this compliance policy. Compliance policy must have one and only one block scheduled action.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
          description: Scheduled Action for Rule
    microsoft.graph.deviceConfigurationAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: deviceConfigurationAssignment
          type: object
          properties:
            target:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentTarget'
          additionalProperties:
            type: object
          description: The device configuration assignment entity assigns an AAD group to a specific device configuration.
    microsoft.graph.enrollmentConfigurationAssignment:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: enrollmentConfigurationAssignment
          type: object
          properties:
            target:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentTarget'
          additionalProperties:
            type: object
          description: Enrollment Configuration Assignment
    microsoft.graph.deviceManagementExchangeConnectorSyncType:
      title: deviceManagementExchangeConnectorSyncType
      enum:
        - fullSync
        - deltaSync
      type: string
      description: The type of Exchange Connector sync requested.
      x-ms-enum:
        name: deviceManagementExchangeConnectorSyncType
        modelAsString: false
        values:
          - value: fullSync
            description: Discover all the device in Exchange.
            name: fullSync
          - value: deltaSync
            description: Discover only the device in Exchange which have updated during the delta sync window.
            name: deltaSync
    microsoft.graph.importedWindowsAutopilotDeviceIdentity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: importedWindowsAutopilotDeviceIdentity
          type: object
          properties:
            assignedUserPrincipalName:
              type: string
              description: UPN of the user the device will be assigned
              nullable: true
            groupTag:
              type: string
              description: Group Tag of the Windows autopilot device.
              nullable: true
            hardwareIdentifier:
              type: string
              description: Hardware Blob of the Windows autopilot device.
              format: base64url
              nullable: true
            importId:
              type: string
              description: The Import Id of the Windows autopilot device.
              nullable: true
            productKey:
              type: string
              description: Product Key of the Windows autopilot device.
              nullable: true
            serialNumber:
              type: string
              description: Serial number of the Windows autopilot device.
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentityState'
          additionalProperties:
            type: object
          description: Imported windows autopilot devices.
    microsoft.graph.updateWindowsDeviceAccountActionParameter:
      title: updateWindowsDeviceAccountActionParameter
      type: object
      properties:
        calendarSyncEnabled:
          type: boolean
          description: Not yet documented
          nullable: true
        deviceAccount:
          $ref: '#/components/schemas/microsoft.graph.windowsDeviceAccount'
        deviceAccountEmail:
          type: string
          description: Not yet documented
          nullable: true
        exchangeServer:
          type: string
          description: Not yet documented
          nullable: true
        passwordRotationEnabled:
          type: boolean
          description: Not yet documented
          nullable: true
        sessionInitiationProtocalAddress:
          type: string
          description: Not yet documented
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.appLogCollectionDownloadDetails:
      title: appLogCollectionDownloadDetails
      type: object
      properties:
        appLogDecryptionAlgorithm:
          $ref: '#/components/schemas/microsoft.graph.appLogDecryptionAlgorithm'
        decryptionKey:
          type: string
          description: Decryption key that used to decrypt the log.
          nullable: true
        downloadUrl:
          type: string
          description: Download SAS (Shared Access Signature) Url for completed app log request.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique idenfier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.deviceAndAppManagementAssignmentTarget:
      title: deviceAndAppManagementAssignmentTarget
      type: object
      additionalProperties:
        type: object
      description: Base type for assignment targets.
    microsoft.graph.deviceComplianceActionItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: deviceComplianceActionItem
          type: object
          properties:
            actionType:
              $ref: '#/components/schemas/microsoft.graph.deviceComplianceActionType'
            gracePeriodHours:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: Number of hours to wait till the action will be enforced. Valid values 0 to 8760
              format: int32
            notificationMessageCCList:
              type: array
              items:
                type: string
                nullable: true
              description: A list of group IDs to speicify who to CC this notification message to.
            notificationTemplateId:
              type: string
              description: What notification Message template to use
              nullable: true
          additionalProperties:
            type: object
          description: Scheduled Action Configuration
    microsoft.graph.importedWindowsAutopilotDeviceIdentityState:
      title: importedWindowsAutopilotDeviceIdentityState
      type: object
      properties:
        deviceErrorCode:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: Device error code reported by Device Directory Service(DDS).
          format: int32
        deviceErrorName:
          type: string
          description: Device error name reported by Device Directory Service(DDS).
          nullable: true
        deviceImportStatus:
          $ref: '#/components/schemas/microsoft.graph.importedWindowsAutopilotDeviceIdentityImportStatus'
        deviceRegistrationId:
          type: string
          description: Device Registration ID for successfully added device reported by Device Directory Service(DDS).
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.windowsDeviceAccount:
      title: windowsDeviceAccount
      type: object
      properties:
        password:
          type: string
          description: Not yet documented
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.appLogDecryptionAlgorithm:
      title: appLogDecryptionAlgorithm
      enum:
        - aes256
        - unknownFutureValue
      type: string
      x-ms-enum:
        name: appLogDecryptionAlgorithm
        modelAsString: false
        values:
          - value: aes256
            description: decrypting using Aes256.
            name: aes256
          - value: unknownFutureValue
            description: Evolvable enumeration sentinel value. Do not use.
            name: unknownFutureValue
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.deviceComplianceActionType:
      title: deviceComplianceActionType
      enum:
        - noAction
        - notification
        - block
        - retire
        - wipe
        - removeResourceAccessProfiles
        - pushNotification
      type: string
      description: Scheduled Action Type Enum
      x-ms-enum:
        name: deviceComplianceActionType
        modelAsString: false
        values:
          - value: noAction
            description: No Action
            name: noAction
          - value: notification
            description: Send Notification
            name: notification
          - value: block
            description: Block the device in AAD
            name: block
          - value: retire
            description: Retire the device
            name: retire
          - value: wipe
            description: Wipe the device
            name: wipe
          - value: removeResourceAccessProfiles
            description: Remove Resource Access Profiles from the device
            name: removeResourceAccessProfiles
          - value: pushNotification
            description: Send push notification to device
            name: pushNotification
    microsoft.graph.importedWindowsAutopilotDeviceIdentityImportStatus:
      title: importedWindowsAutopilotDeviceIdentityImportStatus
      enum:
        - unknown
        - pending
        - partial
        - complete
        - error
      type: string
      x-ms-enum:
        name: importedWindowsAutopilotDeviceIdentityImportStatus
        modelAsString: false
        values:
          - value: unknown
            description: Unknown status.
            name: unknown
          - value: pending
            description: Pending status.
            name: pending
          - value: partial
            description: Partial status.
            name: partial
          - value: complete
            description: Complete status.
            name: complete
          - value: error
            description: Error status.
            name: error
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]
