openapi: 3.0.1
info:
  title: DeviceManagement.Administration
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceManagement/applePushNotificationCertificate:
    get:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Get applePushNotificationCertificate
      description: Read properties and relationships of the applePushNotificationCertificate object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-applepushnotificationcertificate-get?view=graph-rest-1.0
      operationId: deviceManagement_GetApplePushNotificationCertificate
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appleIdentifier
                - certificate
                - certificateSerialNumber
                - certificateUploadFailureReason
                - certificateUploadStatus
                - expirationDateTime
                - lastModifiedDateTime
                - topicIdentifier
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Update applePushNotificationCertificate
      description: Update the properties of a applePushNotificationCertificate object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-devices-applepushnotificationcertificate-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateApplePushNotificationCertificate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Delete navigation property applePushNotificationCertificate for deviceManagement
      operationId: deviceManagement_DeleteApplePushNotificationCertificate
      parameters:
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/auditEvents:
    get:
      tags:
        - deviceManagement.auditEvent
      summary: List auditEvents
      description: List properties and relationships of the auditEvent objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-auditing-auditevent-list?view=graph-rest-1.0
      operationId: deviceManagement_ListAuditEvent
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activity
                - activity desc
                - activityDateTime
                - activityDateTime desc
                - activityOperationType
                - activityOperationType desc
                - activityResult
                - activityResult desc
                - activityType
                - activityType desc
                - actor
                - actor desc
                - category
                - category desc
                - componentName
                - componentName desc
                - correlationId
                - correlationId desc
                - displayName
                - displayName desc
                - resources
                - resources desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - activityDateTime
                - activityOperationType
                - activityResult
                - activityType
                - actor
                - category
                - componentName
                - correlationId
                - displayName
                - resources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.auditEventCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.auditEvent
      summary: Create auditEvent
      description: Create a new auditEvent object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-auditing-auditevent-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateAuditEvent
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditEvent'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/auditEvents/{auditEvent-id}':
    get:
      tags:
        - deviceManagement.auditEvent
      summary: Get auditEvent
      description: Read properties and relationships of the auditEvent object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-auditing-auditevent-get?view=graph-rest-1.0
      operationId: deviceManagement_GetAuditEvent
      parameters:
        - name: auditEvent-id
          in: path
          description: The unique identifier of auditEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: auditEvent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activity
                - activityDateTime
                - activityOperationType
                - activityResult
                - activityType
                - actor
                - category
                - componentName
                - correlationId
                - displayName
                - resources
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.auditEvent
      summary: Update auditEvent
      description: Update the properties of a auditEvent object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-auditing-auditevent-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateAuditEvent
      parameters:
        - name: auditEvent-id
          in: path
          description: The unique identifier of auditEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: auditEvent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditEvent'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditEvent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.auditEvent
      summary: Delete auditEvent
      description: Deletes a auditEvent.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-auditing-auditevent-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteAuditEvent
      parameters:
        - name: auditEvent-id
          in: path
          description: The unique identifier of auditEvent
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: auditEvent
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/auditEvents/$count:
    get:
      tags:
        - deviceManagement.auditEvent
      summary: Get the number of the resource
      operationId: deviceManagement.auditEvent_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/complianceManagementPartners:
    get:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: List complianceManagementPartners
      description: List properties and relationships of the complianceManagementPartner objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-compliancemanagementpartner-list?view=graph-rest-1.0
      operationId: deviceManagement_ListComplianceManagementPartner
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - androidEnrollmentAssignments
                - androidEnrollmentAssignments desc
                - androidOnboarded
                - androidOnboarded desc
                - displayName
                - displayName desc
                - iosEnrollmentAssignments
                - iosEnrollmentAssignments desc
                - iosOnboarded
                - iosOnboarded desc
                - lastHeartbeatDateTime
                - lastHeartbeatDateTime desc
                - macOsEnrollmentAssignments
                - macOsEnrollmentAssignments desc
                - macOsOnboarded
                - macOsOnboarded desc
                - partnerState
                - partnerState desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidEnrollmentAssignments
                - androidOnboarded
                - displayName
                - iosEnrollmentAssignments
                - iosOnboarded
                - lastHeartbeatDateTime
                - macOsEnrollmentAssignments
                - macOsOnboarded
                - partnerState
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.complianceManagementPartnerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Create complianceManagementPartner
      description: Create a new complianceManagementPartner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-compliancemanagementpartner-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateComplianceManagementPartner
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/complianceManagementPartners/{complianceManagementPartner-id}':
    get:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Get complianceManagementPartner
      description: Read properties and relationships of the complianceManagementPartner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-compliancemanagementpartner-get?view=graph-rest-1.0
      operationId: deviceManagement_GetComplianceManagementPartner
      parameters:
        - name: complianceManagementPartner-id
          in: path
          description: The unique identifier of complianceManagementPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: complianceManagementPartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidEnrollmentAssignments
                - androidOnboarded
                - displayName
                - iosEnrollmentAssignments
                - iosOnboarded
                - lastHeartbeatDateTime
                - macOsEnrollmentAssignments
                - macOsOnboarded
                - partnerState
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Update complianceManagementPartner
      description: Update the properties of a complianceManagementPartner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-compliancemanagementpartner-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateComplianceManagementPartner
      parameters:
        - name: complianceManagementPartner-id
          in: path
          description: The unique identifier of complianceManagementPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: complianceManagementPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Delete complianceManagementPartner
      description: Deletes a complianceManagementPartner.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-compliancemanagementpartner-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteComplianceManagementPartner
      parameters:
        - name: complianceManagementPartner-id
          in: path
          description: The unique identifier of complianceManagementPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: complianceManagementPartner
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/complianceManagementPartners/$count:
    get:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Get the number of the resource
      operationId: deviceManagement.complianceManagementPartner_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/deviceManagementPartners:
    get:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: List deviceManagementPartners
      description: List properties and relationships of the deviceManagementPartner objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementpartner-list?view=graph-rest-1.0
      operationId: deviceManagement_ListDeviceManagementPartner
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - groupsRequiringPartnerEnrollment
                - groupsRequiringPartnerEnrollment desc
                - isConfigured
                - isConfigured desc
                - lastHeartbeatDateTime
                - lastHeartbeatDateTime desc
                - partnerAppType
                - partnerAppType desc
                - partnerState
                - partnerState desc
                - singleTenantAppId
                - singleTenantAppId desc
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime desc
                - whenPartnerDevicesWillBeRemovedDateTime
                - whenPartnerDevicesWillBeRemovedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - groupsRequiringPartnerEnrollment
                - isConfigured
                - lastHeartbeatDateTime
                - partnerAppType
                - partnerState
                - singleTenantAppId
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime
                - whenPartnerDevicesWillBeRemovedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementPartnerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Create deviceManagementPartner
      description: Create a new deviceManagementPartner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementpartner-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateDeviceManagementPartner
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceManagementPartners/{deviceManagementPartner-id}':
    get:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Get deviceManagementPartner
      description: Read properties and relationships of the deviceManagementPartner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementpartner-get?view=graph-rest-1.0
      operationId: deviceManagement_GetDeviceManagementPartner
      parameters:
        - name: deviceManagementPartner-id
          in: path
          description: The unique identifier of deviceManagementPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementPartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - groupsRequiringPartnerEnrollment
                - isConfigured
                - lastHeartbeatDateTime
                - partnerAppType
                - partnerState
                - singleTenantAppId
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime
                - whenPartnerDevicesWillBeRemovedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Update deviceManagementPartner
      description: Update the properties of a deviceManagementPartner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementpartner-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateDeviceManagementPartner
      parameters:
        - name: deviceManagementPartner-id
          in: path
          description: The unique identifier of deviceManagementPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Delete deviceManagementPartner
      description: Deletes a deviceManagementPartner.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementpartner-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteDeviceManagementPartner
      parameters:
        - name: deviceManagementPartner-id
          in: path
          description: The unique identifier of deviceManagementPartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementPartner
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceManagementPartners/$count:
    get:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Get the number of the resource
      operationId: deviceManagement.deviceManagementPartner_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/exchangeConnectors:
    get:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: List deviceManagementExchangeConnectors
      description: List properties and relationships of the deviceManagementExchangeConnector objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementexchangeconnector-list?view=graph-rest-1.0
      operationId: deviceManagement_ListExchangeConnector
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - connectorServerName
                - connectorServerName desc
                - exchangeAlias
                - exchangeAlias desc
                - exchangeConnectorType
                - exchangeConnectorType desc
                - exchangeOrganization
                - exchangeOrganization desc
                - lastSyncDateTime
                - lastSyncDateTime desc
                - primarySmtpAddress
                - primarySmtpAddress desc
                - serverName
                - serverName desc
                - status
                - status desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - connectorServerName
                - exchangeAlias
                - exchangeConnectorType
                - exchangeOrganization
                - lastSyncDateTime
                - primarySmtpAddress
                - serverName
                - status
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceManagementExchangeConnectorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Create deviceManagementExchangeConnector
      description: Create a new deviceManagementExchangeConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementexchangeconnector-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateExchangeConnector
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/exchangeConnectors/{deviceManagementExchangeConnector-id}':
    get:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Get deviceManagementExchangeConnector
      description: Read properties and relationships of the deviceManagementExchangeConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementexchangeconnector-get?view=graph-rest-1.0
      operationId: deviceManagement_GetExchangeConnector
      parameters:
        - name: deviceManagementExchangeConnector-id
          in: path
          description: The unique identifier of deviceManagementExchangeConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - connectorServerName
                - exchangeAlias
                - exchangeConnectorType
                - exchangeOrganization
                - lastSyncDateTime
                - primarySmtpAddress
                - serverName
                - status
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Update deviceManagementExchangeConnector
      description: Update the properties of a deviceManagementExchangeConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementexchangeconnector-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateExchangeConnector
      parameters:
        - name: deviceManagementExchangeConnector-id
          in: path
          description: The unique identifier of deviceManagementExchangeConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Delete deviceManagementExchangeConnector
      description: Deletes a deviceManagementExchangeConnector.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-devicemanagementexchangeconnector-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteExchangeConnector
      parameters:
        - name: deviceManagementExchangeConnector-id
          in: path
          description: The unique identifier of deviceManagementExchangeConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeConnector
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/exchangeConnectors/$count:
    get:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Get the number of the resource
      operationId: deviceManagement.exchangeConnector_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/iosUpdateStatuses:
    get:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: List iosUpdateDeviceStatuses
      description: List properties and relationships of the iosUpdateDeviceStatus objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-iosupdatedevicestatus-list?view=graph-rest-1.0
      operationId: deviceManagement_ListIosUpdateStatus
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - complianceGracePeriodExpirationDateTime
                - complianceGracePeriodExpirationDateTime desc
                - deviceDisplayName
                - deviceDisplayName desc
                - deviceId
                - deviceId desc
                - deviceModel
                - deviceModel desc
                - installStatus
                - installStatus desc
                - lastReportedDateTime
                - lastReportedDateTime desc
                - osVersion
                - osVersion desc
                - status
                - status desc
                - userId
                - userId desc
                - userName
                - userName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceDisplayName
                - deviceId
                - deviceModel
                - installStatus
                - lastReportedDateTime
                - osVersion
                - status
                - userId
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.iosUpdateDeviceStatusCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: Create iosUpdateDeviceStatus
      description: Create a new iosUpdateDeviceStatus object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-iosupdatedevicestatus-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateIosUpdateStatus
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/iosUpdateStatuses/{iosUpdateDeviceStatus-id}':
    get:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: Get iosUpdateDeviceStatus
      description: Read properties and relationships of the iosUpdateDeviceStatus object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-iosupdatedevicestatus-get?view=graph-rest-1.0
      operationId: deviceManagement_GetIosUpdateStatus
      parameters:
        - name: iosUpdateDeviceStatus-id
          in: path
          description: The unique identifier of iosUpdateDeviceStatus
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosUpdateDeviceStatus
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceDisplayName
                - deviceId
                - deviceModel
                - installStatus
                - lastReportedDateTime
                - osVersion
                - status
                - userId
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: Update iosUpdateDeviceStatus
      description: Update the properties of a iosUpdateDeviceStatus object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-iosupdatedevicestatus-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateIosUpdateStatus
      parameters:
        - name: iosUpdateDeviceStatus-id
          in: path
          description: The unique identifier of iosUpdateDeviceStatus
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosUpdateDeviceStatus
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: Delete iosUpdateDeviceStatus
      description: Deletes a iosUpdateDeviceStatus.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-deviceconfig-iosupdatedevicestatus-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteIosUpdateStatus
      parameters:
        - name: iosUpdateDeviceStatus-id
          in: path
          description: The unique identifier of iosUpdateDeviceStatus
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: iosUpdateDeviceStatus
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/iosUpdateStatuses/$count:
    get:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: Get the number of the resource
      operationId: deviceManagement.iosUpdateStatus_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/mobileThreatDefenseConnectors:
    get:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: List mobileThreatDefenseConnectors
      description: List properties and relationships of the mobileThreatDefenseConnector objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-mobilethreatdefenseconnector-list?view=graph-rest-1.0
      operationId: deviceManagement_ListMobileThreatDefenseConnector
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowPartnerToCollectIOSApplicationMetadata
                - allowPartnerToCollectIOSApplicationMetadata desc
                - allowPartnerToCollectIOSPersonalApplicationMetadata
                - allowPartnerToCollectIOSPersonalApplicationMetadata desc
                - androidDeviceBlockedOnMissingPartnerData
                - androidDeviceBlockedOnMissingPartnerData desc
                - androidEnabled
                - androidEnabled desc
                - androidMobileApplicationManagementEnabled
                - androidMobileApplicationManagementEnabled desc
                - iosDeviceBlockedOnMissingPartnerData
                - iosDeviceBlockedOnMissingPartnerData desc
                - iosEnabled
                - iosEnabled desc
                - iosMobileApplicationManagementEnabled
                - iosMobileApplicationManagementEnabled desc
                - lastHeartbeatDateTime
                - lastHeartbeatDateTime desc
                - microsoftDefenderForEndpointAttachEnabled
                - microsoftDefenderForEndpointAttachEnabled desc
                - partnerState
                - partnerState desc
                - partnerUnresponsivenessThresholdInDays
                - partnerUnresponsivenessThresholdInDays desc
                - partnerUnsupportedOsVersionBlocked
                - partnerUnsupportedOsVersionBlocked desc
                - windowsDeviceBlockedOnMissingPartnerData
                - windowsDeviceBlockedOnMissingPartnerData desc
                - windowsEnabled
                - windowsEnabled desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowPartnerToCollectIOSApplicationMetadata
                - allowPartnerToCollectIOSPersonalApplicationMetadata
                - androidDeviceBlockedOnMissingPartnerData
                - androidEnabled
                - androidMobileApplicationManagementEnabled
                - iosDeviceBlockedOnMissingPartnerData
                - iosEnabled
                - iosMobileApplicationManagementEnabled
                - lastHeartbeatDateTime
                - microsoftDefenderForEndpointAttachEnabled
                - partnerState
                - partnerUnresponsivenessThresholdInDays
                - partnerUnsupportedOsVersionBlocked
                - windowsDeviceBlockedOnMissingPartnerData
                - windowsEnabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mobileThreatDefenseConnectorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: Create mobileThreatDefenseConnector
      description: Create a new mobileThreatDefenseConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-mobilethreatdefenseconnector-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateMobileThreatDefenseConnector
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/mobileThreatDefenseConnectors/{mobileThreatDefenseConnector-id}':
    get:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: Get mobileThreatDefenseConnector
      description: Read properties and relationships of the mobileThreatDefenseConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-mobilethreatdefenseconnector-get?view=graph-rest-1.0
      operationId: deviceManagement_GetMobileThreatDefenseConnector
      parameters:
        - name: mobileThreatDefenseConnector-id
          in: path
          description: The unique identifier of mobileThreatDefenseConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mobileThreatDefenseConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowPartnerToCollectIOSApplicationMetadata
                - allowPartnerToCollectIOSPersonalApplicationMetadata
                - androidDeviceBlockedOnMissingPartnerData
                - androidEnabled
                - androidMobileApplicationManagementEnabled
                - iosDeviceBlockedOnMissingPartnerData
                - iosEnabled
                - iosMobileApplicationManagementEnabled
                - lastHeartbeatDateTime
                - microsoftDefenderForEndpointAttachEnabled
                - partnerState
                - partnerUnresponsivenessThresholdInDays
                - partnerUnsupportedOsVersionBlocked
                - windowsDeviceBlockedOnMissingPartnerData
                - windowsEnabled
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: Update mobileThreatDefenseConnector
      description: Update the properties of a mobileThreatDefenseConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-mobilethreatdefenseconnector-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateMobileThreatDefenseConnector
      parameters:
        - name: mobileThreatDefenseConnector-id
          in: path
          description: The unique identifier of mobileThreatDefenseConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mobileThreatDefenseConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: Delete mobileThreatDefenseConnector
      description: Deletes a mobileThreatDefenseConnector.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-onboarding-mobilethreatdefenseconnector-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteMobileThreatDefenseConnector
      parameters:
        - name: mobileThreatDefenseConnector-id
          in: path
          description: The unique identifier of mobileThreatDefenseConnector
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: mobileThreatDefenseConnector
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/mobileThreatDefenseConnectors/$count:
    get:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: Get the number of the resource
      operationId: deviceManagement.mobileThreatDefenseConnector_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/remoteAssistancePartners:
    get:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: List remoteAssistancePartners
      description: List properties and relationships of the remoteAssistancePartner objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-remoteassistance-remoteassistancepartner-list?view=graph-rest-1.0
      operationId: deviceManagement_ListRemoteAssistancePartner
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - lastConnectionDateTime
                - lastConnectionDateTime desc
                - onboardingStatus
                - onboardingStatus desc
                - onboardingUrl
                - onboardingUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - lastConnectionDateTime
                - onboardingStatus
                - onboardingUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.remoteAssistancePartnerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: Create remoteAssistancePartner
      description: Create a new remoteAssistancePartner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-remoteassistance-remoteassistancepartner-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateRemoteAssistancePartner
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.remoteAssistancePartner'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.remoteAssistancePartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/remoteAssistancePartners/{remoteAssistancePartner-id}':
    get:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: Get remoteAssistancePartner
      description: Read properties and relationships of the remoteAssistancePartner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-remoteassistance-remoteassistancepartner-get?view=graph-rest-1.0
      operationId: deviceManagement_GetRemoteAssistancePartner
      parameters:
        - name: remoteAssistancePartner-id
          in: path
          description: The unique identifier of remoteAssistancePartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteAssistancePartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - lastConnectionDateTime
                - onboardingStatus
                - onboardingUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.remoteAssistancePartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: Update remoteAssistancePartner
      description: Update the properties of a remoteAssistancePartner object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-remoteassistance-remoteassistancepartner-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateRemoteAssistancePartner
      parameters:
        - name: remoteAssistancePartner-id
          in: path
          description: The unique identifier of remoteAssistancePartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteAssistancePartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.remoteAssistancePartner'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.remoteAssistancePartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: Delete remoteAssistancePartner
      description: Deletes a remoteAssistancePartner.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-remoteassistance-remoteassistancepartner-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteRemoteAssistancePartner
      parameters:
        - name: remoteAssistancePartner-id
          in: path
          description: The unique identifier of remoteAssistancePartner
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: remoteAssistancePartner
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/remoteAssistancePartners/$count:
    get:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: Get the number of the resource
      operationId: deviceManagement.remoteAssistancePartner_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/resourceOperations:
    get:
      tags:
        - deviceManagement.resourceOperation
      summary: List resourceOperations
      description: List properties and relationships of the resourceOperation objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-resourceoperation-list?view=graph-rest-1.0
      operationId: deviceManagement_ListResourceOperation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actionName
                - actionName desc
                - description
                - description desc
                - resourceName
                - resourceName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionName
                - description
                - resourceName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.resourceOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.resourceOperation
      summary: Create resourceOperation
      description: Create a new resourceOperation object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-resourceoperation-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateResourceOperation
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.resourceOperation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.resourceOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/resourceOperations/{resourceOperation-id}':
    get:
      tags:
        - deviceManagement.resourceOperation
      summary: Get resourceOperation
      description: Read properties and relationships of the resourceOperation object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-resourceoperation-get?view=graph-rest-1.0
      operationId: deviceManagement_GetResourceOperation
      parameters:
        - name: resourceOperation-id
          in: path
          description: The unique identifier of resourceOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: resourceOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionName
                - description
                - resourceName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.resourceOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.resourceOperation
      summary: Update resourceOperation
      description: Update the properties of a resourceOperation object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-resourceoperation-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateResourceOperation
      parameters:
        - name: resourceOperation-id
          in: path
          description: The unique identifier of resourceOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: resourceOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.resourceOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.resourceOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.resourceOperation
      summary: Delete resourceOperation
      description: Deletes a resourceOperation.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-resourceoperation-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteResourceOperation
      parameters:
        - name: resourceOperation-id
          in: path
          description: The unique identifier of resourceOperation
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: resourceOperation
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/resourceOperations/$count:
    get:
      tags:
        - deviceManagement.resourceOperation
      summary: Get the number of the resource
      operationId: deviceManagement.resourceOperation_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/roleAssignments:
    get:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: List deviceAndAppManagementRoleAssignments
      description: List properties and relationships of the deviceAndAppManagementRoleAssignment objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-deviceandappmanagementroleassignment-list?view=graph-rest-1.0
      operationId: deviceManagement_ListRoleAssignment
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - resourceScopes
                - resourceScopes desc
                - members
                - members desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - resourceScopes
                - members
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceAndAppManagementRoleAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Create deviceAndAppManagementRoleAssignment
      description: Create a new deviceAndAppManagementRoleAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-deviceandappmanagementroleassignment-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateRoleAssignment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleAssignments/{deviceAndAppManagementRoleAssignment-id}':
    get:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Get deviceAndAppManagementRoleAssignment
      description: Read properties and relationships of the deviceAndAppManagementRoleAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-deviceandappmanagementroleassignment-get?view=graph-rest-1.0
      operationId: deviceManagement_GetRoleAssignment
      parameters:
        - name: deviceAndAppManagementRoleAssignment-id
          in: path
          description: The unique identifier of deviceAndAppManagementRoleAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - resourceScopes
                - members
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Update deviceAndAppManagementRoleAssignment
      description: Update the properties of a deviceAndAppManagementRoleAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-deviceandappmanagementroleassignment-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateRoleAssignment
      parameters:
        - name: deviceAndAppManagementRoleAssignment-id
          in: path
          description: The unique identifier of deviceAndAppManagementRoleAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Delete deviceAndAppManagementRoleAssignment
      description: Deletes a deviceAndAppManagementRoleAssignment.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-deviceandappmanagementroleassignment-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteRoleAssignment
      parameters:
        - name: deviceAndAppManagementRoleAssignment-id
          in: path
          description: The unique identifier of deviceAndAppManagementRoleAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleAssignments/{deviceAndAppManagementRoleAssignment-id}/roleDefinition':
    get:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Get roleDefinition from deviceManagement
      description: Role definition this assignment is part of.
      operationId: deviceManagement.roleAssignment_GetRoleDefinition
      parameters:
        - name: deviceAndAppManagementRoleAssignment-id
          in: path
          description: The unique identifier of deviceAndAppManagementRoleAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - rolePermissions
                - roleAssignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleAssignments
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/roleAssignments/$count:
    get:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Get the number of the resource
      operationId: deviceManagement.roleAssignment_GetCount
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /deviceManagement/roleDefinitions:
    get:
      tags:
        - deviceManagement.roleDefinition
      summary: List roleDefinitions
      description: List properties and relationships of the roleDefinition objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-roledefinition-list?view=graph-rest-1.0
      operationId: deviceManagement_ListRoleDefinition
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isBuiltIn
                - isBuiltIn desc
                - rolePermissions
                - rolePermissions desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - rolePermissions
                - roleAssignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleAssignments
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.roleDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.roleDefinition
      summary: Create roleDefinition
      description: Create a new roleDefinition object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-roledefinition-create?view=graph-rest-1.0
      operationId: deviceManagement_CreateRoleDefinition
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleDefinitions/{roleDefinition-id}':
    get:
      tags:
        - deviceManagement.roleDefinition
      summary: Get deviceAndAppManagementRoleDefinition
      description: Read properties and relationships of the deviceAndAppManagementRoleDefinition object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-deviceandappmanagementroledefinition-get?view=graph-rest-1.0
      operationId: deviceManagement_GetRoleDefinition
      parameters:
        - name: roleDefinition-id
          in: path
          description: The unique identifier of roleDefinition
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - rolePermissions
                - roleAssignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleAssignments
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.roleDefinition
      summary: Update roleDefinition
      description: Update the properties of a roleDefinition object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-roledefinition-update?view=graph-rest-1.0
      operationId: deviceManagement_UpdateRoleDefinition
      parameters:
        - name: roleDefinition-id
          in: path
          description: The unique identifier of roleDefinition
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.roleDefinition
      summary: Delete roleDefinition
      description: Deletes a roleDefinition.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-roledefinition-delete?view=graph-rest-1.0
      operationId: deviceManagement_DeleteRoleDefinition
      parameters:
        - name: roleDefinition-id
          in: path
          description: The unique identifier of roleDefinition
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleDefinitions/{roleDefinition-id}/roleAssignments':
    get:
      tags:
        - deviceManagement.roleDefinition
      summary: List roleAssignments
      description: List properties and relationships of the roleAssignment objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-roleassignment-list?view=graph-rest-1.0
      operationId: deviceManagement.roleDefinition_ListRoleAssignment
      parameters:
        - name: roleDefinition-id
          in: path
          description: The unique identifier of roleDefinition
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - resourceScopes
                - resourceScopes desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - resourceScopes
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.roleAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.roleDefinition
      summary: Create roleAssignment
      description: Create a new roleAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-roleassignment-create?view=graph-rest-1.0
      operationId: deviceManagement.roleDefinition_CreateRoleAssignment
      parameters:
        - name: roleDefinition-id
          in: path
          description: The unique identifier of roleDefinition
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleDefinitions/{roleDefinition-id}/roleAssignments/{roleAssignment-id}':
    get:
      tags:
        - deviceManagement.roleDefinition
      summary: Get roleAssignment
      description: Read properties and relationships of the roleAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-roleassignment-get?view=graph-rest-1.0
      operationId: deviceManagement.roleDefinition_GetRoleAssignment
      parameters:
        - name: roleDefinition-id
          in: path
          description: The unique identifier of roleDefinition
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: roleAssignment-id
          in: path
          description: The unique identifier of roleAssignment
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: roleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - resourceScopes
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.roleDefinition
      summary: Update roleAssignment
      description: Update the properties of a roleAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/intune-rbac-roleassignment-update?view=graph-rest-1.0
      operationId: deviceManagement.roleDefinition_UpdateRoleAssignment
      parameters:
[...]
