openapi: 3.0.1
info:
  title: DeviceManagement.Functions
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceManagement/applePushNotificationCertificate/microsoft.graph.downloadApplePushNotificationCertificateSigningRequest():
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function downloadApplePushNotificationCertificateSigningRequest
      description: Download Apple push notification certificate signing request
      operationId: deviceManagement.applePushNotificationCertificate_downloadApplePushNotificationCertificateSigningRequest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/deviceConfigurations/{deviceConfiguration-id}/microsoft.graph.getOmaSettingPlainTextValue(secretReferenceValueId=''{secretReferenceValueId}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getOmaSettingPlainTextValue
      operationId: deviceManagement.deviceConfigurations_getOmaSettingPlainTextValue
      parameters:
        - name: deviceConfiguration-id
          in: path
          description: 'key: id of deviceConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceConfiguration
        - name: secretReferenceValueId
          in: path
          description: 'Usage: secretReferenceValueId=''{secretReferenceValueId}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.getEffectivePermissions(scope=''{scope}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function getEffectivePermissions
      description: Retrieves the effective permissions of the currently authenticated user
      operationId: deviceManagement_getEffectivePermissions
      parameters:
        - name: scope
          in: path
          description: 'Usage: scope=''{scope}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Collection of deviceManagement
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.rolePermission'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/deviceManagement/microsoft.graph.verifyWindowsEnrollmentAutoDiscovery(domainName=''{domainName}'')':
    get:
      tags:
        - deviceManagement.Functions
      summary: Invoke function verifyWindowsEnrollmentAutoDiscovery
      operationId: deviceManagement_verifyWindowsEnrollmentAutoDiscovery
      parameters:
        - name: domainName
          in: path
          description: 'Usage: domainName=''{domainName}'''
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: boolean
                    default: false
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
components:
  schemas:
    microsoft.graph.rolePermission:
      title: rolePermission
      type: object
      properties:
        resourceActions:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.resourceAction'
          description: Resource Actions each containing a set of allowed and not allowed permissions.
      additionalProperties:
        type: object
      description: Contains the set of ResourceActions determining the allowed and not allowed permissions for each role.
    microsoft.graph.resourceAction: { }
  responses:
    error:
      description: error
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]