openapi: 3.0.1
info:
  title: DeviceManagement.Administration
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /deviceManagement/applePushNotificationCertificate:
    get:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Get applePushNotificationCertificate from deviceManagement
      operationId: deviceManagement_GetApplePushNotificationCertificate
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appleIdentifier
                - certificate
                - expirationDateTime
                - lastModifiedDateTime
                - topicIdentifier
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Update the navigation property applePushNotificationCertificate in deviceManagement
      operationId: deviceManagement_UpdateApplePushNotificationCertificate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.applePushNotificationCertificate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.applePushNotificationCertificate
      summary: Delete navigation property applePushNotificationCertificate for deviceManagement
      operationId: deviceManagement_DeleteApplePushNotificationCertificate
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/complianceManagementPartners:
    get:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Get complianceManagementPartners from deviceManagement
      operationId: deviceManagement_ListComplianceManagementPartners
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - androidEnrollmentAssignments
                - androidEnrollmentAssignments desc
                - androidOnboarded
                - androidOnboarded desc
                - displayName
                - displayName desc
                - iosEnrollmentAssignments
                - iosEnrollmentAssignments desc
                - iosOnboarded
                - iosOnboarded desc
                - lastHeartbeatDateTime
                - lastHeartbeatDateTime desc
                - macOsEnrollmentAssignments
                - macOsEnrollmentAssignments desc
                - macOsOnboarded
                - macOsOnboarded desc
                - partnerState
                - partnerState desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidEnrollmentAssignments
                - androidOnboarded
                - displayName
                - iosEnrollmentAssignments
                - iosOnboarded
                - lastHeartbeatDateTime
                - macOsEnrollmentAssignments
                - macOsOnboarded
                - partnerState
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of complianceManagementPartner
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Create new navigation property to complianceManagementPartners for deviceManagement
      operationId: deviceManagement_CreateComplianceManagementPartners
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/complianceManagementPartners/{complianceManagementPartner-id}':
    get:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Get complianceManagementPartners from deviceManagement
      operationId: deviceManagement_GetComplianceManagementPartners
      parameters:
        - name: complianceManagementPartner-id
          in: path
          description: 'key: id of complianceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: complianceManagementPartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidEnrollmentAssignments
                - androidOnboarded
                - displayName
                - iosEnrollmentAssignments
                - iosOnboarded
                - lastHeartbeatDateTime
                - macOsEnrollmentAssignments
                - macOsOnboarded
                - partnerState
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Update the navigation property complianceManagementPartners in deviceManagement
      operationId: deviceManagement_UpdateComplianceManagementPartners
      parameters:
        - name: complianceManagementPartner-id
          in: path
          description: 'key: id of complianceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: complianceManagementPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.complianceManagementPartner'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.complianceManagementPartner
      summary: Delete navigation property complianceManagementPartners for deviceManagement
      operationId: deviceManagement_DeleteComplianceManagementPartners
      parameters:
        - name: complianceManagementPartner-id
          in: path
          description: 'key: id of complianceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: complianceManagementPartner
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/deviceManagementPartners:
    get:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Get deviceManagementPartners from deviceManagement
      operationId: deviceManagement_ListDeviceManagementPartners
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - isConfigured
                - isConfigured desc
                - lastHeartbeatDateTime
                - lastHeartbeatDateTime desc
                - partnerAppType
                - partnerAppType desc
                - partnerState
                - partnerState desc
                - singleTenantAppId
                - singleTenantAppId desc
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime desc
                - whenPartnerDevicesWillBeRemovedDateTime
                - whenPartnerDevicesWillBeRemovedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isConfigured
                - lastHeartbeatDateTime
                - partnerAppType
                - partnerState
                - singleTenantAppId
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime
                - whenPartnerDevicesWillBeRemovedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceManagementPartner
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Create new navigation property to deviceManagementPartners for deviceManagement
      operationId: deviceManagement_CreateDeviceManagementPartners
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/deviceManagementPartners/{deviceManagementPartner-id}':
    get:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Get deviceManagementPartners from deviceManagement
      operationId: deviceManagement_GetDeviceManagementPartners
      parameters:
        - name: deviceManagementPartner-id
          in: path
          description: 'key: id of deviceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementPartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isConfigured
                - lastHeartbeatDateTime
                - partnerAppType
                - partnerState
                - singleTenantAppId
                - whenPartnerDevicesWillBeMarkedAsNonCompliantDateTime
                - whenPartnerDevicesWillBeRemovedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Update the navigation property deviceManagementPartners in deviceManagement
      operationId: deviceManagement_UpdateDeviceManagementPartners
      parameters:
        - name: deviceManagementPartner-id
          in: path
          description: 'key: id of deviceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementPartner'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementPartner
      summary: Delete navigation property deviceManagementPartners for deviceManagement
      operationId: deviceManagement_DeleteDeviceManagementPartners
      parameters:
        - name: deviceManagementPartner-id
          in: path
          description: 'key: id of deviceManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementPartner
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/exchangeConnectors:
    get:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Get exchangeConnectors from deviceManagement
      operationId: deviceManagement_ListExchangeConnectors
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - connectorServerName
                - connectorServerName desc
                - exchangeAlias
                - exchangeAlias desc
                - exchangeConnectorType
                - exchangeConnectorType desc
                - exchangeOrganization
                - exchangeOrganization desc
                - lastSyncDateTime
                - lastSyncDateTime desc
                - primarySmtpAddress
                - primarySmtpAddress desc
                - serverName
                - serverName desc
                - status
                - status desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - connectorServerName
                - exchangeAlias
                - exchangeConnectorType
                - exchangeOrganization
                - lastSyncDateTime
                - primarySmtpAddress
                - serverName
                - status
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceManagementExchangeConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Create new navigation property to exchangeConnectors for deviceManagement
      operationId: deviceManagement_CreateExchangeConnectors
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/exchangeConnectors/{deviceManagementExchangeConnector-id}':
    get:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Get exchangeConnectors from deviceManagement
      operationId: deviceManagement_GetExchangeConnectors
      parameters:
        - name: deviceManagementExchangeConnector-id
          in: path
          description: 'key: id of deviceManagementExchangeConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - connectorServerName
                - exchangeAlias
                - exchangeConnectorType
                - exchangeOrganization
                - lastSyncDateTime
                - primarySmtpAddress
                - serverName
                - status
                - version
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Update the navigation property exchangeConnectors in deviceManagement
      operationId: deviceManagement_UpdateExchangeConnectors
      parameters:
        - name: deviceManagementExchangeConnector-id
          in: path
          description: 'key: id of deviceManagementExchangeConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementExchangeConnector'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementExchangeConnector
      summary: Delete navigation property exchangeConnectors for deviceManagement
      operationId: deviceManagement_DeleteExchangeConnectors
      parameters:
        - name: deviceManagementExchangeConnector-id
          in: path
          description: 'key: id of deviceManagementExchangeConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementExchangeConnector
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/iosUpdateStatuses:
    get:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: Get iosUpdateStatuses from deviceManagement
      operationId: deviceManagement_ListIosUpdateStatuses
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - complianceGracePeriodExpirationDateTime
                - complianceGracePeriodExpirationDateTime desc
                - deviceDisplayName
                - deviceDisplayName desc
                - deviceId
                - deviceId desc
                - deviceModel
                - deviceModel desc
                - installStatus
                - installStatus desc
                - lastReportedDateTime
                - lastReportedDateTime desc
                - osVersion
                - osVersion desc
                - status
                - status desc
                - userId
                - userId desc
                - userName
                - userName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceDisplayName
                - deviceId
                - deviceModel
                - installStatus
                - lastReportedDateTime
                - osVersion
                - status
                - userId
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of iosUpdateDeviceStatus
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: Create new navigation property to iosUpdateStatuses for deviceManagement
      operationId: deviceManagement_CreateIosUpdateStatuses
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/iosUpdateStatuses/{iosUpdateDeviceStatus-id}':
    get:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: Get iosUpdateStatuses from deviceManagement
      operationId: deviceManagement_GetIosUpdateStatuses
      parameters:
        - name: iosUpdateDeviceStatus-id
          in: path
          description: 'key: id of iosUpdateDeviceStatus'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosUpdateDeviceStatus
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceDisplayName
                - deviceId
                - deviceModel
                - installStatus
                - lastReportedDateTime
                - osVersion
                - status
                - userId
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: Update the navigation property iosUpdateStatuses in deviceManagement
      operationId: deviceManagement_UpdateIosUpdateStatuses
      parameters:
        - name: iosUpdateDeviceStatus-id
          in: path
          description: 'key: id of iosUpdateDeviceStatus'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosUpdateDeviceStatus
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.iosUpdateDeviceStatus'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.iosUpdateDeviceStatus
      summary: Delete navigation property iosUpdateStatuses for deviceManagement
      operationId: deviceManagement_DeleteIosUpdateStatuses
      parameters:
        - name: iosUpdateDeviceStatus-id
          in: path
          description: 'key: id of iosUpdateDeviceStatus'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: iosUpdateDeviceStatus
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/mobileThreatDefenseConnectors:
    get:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: Get mobileThreatDefenseConnectors from deviceManagement
      operationId: deviceManagement_ListMobileThreatDefenseConnectors
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - androidDeviceBlockedOnMissingPartnerData
                - androidDeviceBlockedOnMissingPartnerData desc
                - androidEnabled
                - androidEnabled desc
                - iosDeviceBlockedOnMissingPartnerData
                - iosDeviceBlockedOnMissingPartnerData desc
                - iosEnabled
                - iosEnabled desc
                - lastHeartbeatDateTime
                - lastHeartbeatDateTime desc
                - partnerState
                - partnerState desc
                - partnerUnresponsivenessThresholdInDays
                - partnerUnresponsivenessThresholdInDays desc
                - partnerUnsupportedOsVersionBlocked
                - partnerUnsupportedOsVersionBlocked desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidDeviceBlockedOnMissingPartnerData
                - androidEnabled
                - iosDeviceBlockedOnMissingPartnerData
                - iosEnabled
                - lastHeartbeatDateTime
                - partnerState
                - partnerUnresponsivenessThresholdInDays
                - partnerUnsupportedOsVersionBlocked
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of mobileThreatDefenseConnector
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: Create new navigation property to mobileThreatDefenseConnectors for deviceManagement
      operationId: deviceManagement_CreateMobileThreatDefenseConnectors
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/mobileThreatDefenseConnectors/{mobileThreatDefenseConnector-id}':
    get:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: Get mobileThreatDefenseConnectors from deviceManagement
      operationId: deviceManagement_GetMobileThreatDefenseConnectors
      parameters:
        - name: mobileThreatDefenseConnector-id
          in: path
          description: 'key: id of mobileThreatDefenseConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileThreatDefenseConnector
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidDeviceBlockedOnMissingPartnerData
                - androidEnabled
                - iosDeviceBlockedOnMissingPartnerData
                - iosEnabled
                - lastHeartbeatDateTime
                - partnerState
                - partnerUnresponsivenessThresholdInDays
                - partnerUnsupportedOsVersionBlocked
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: Update the navigation property mobileThreatDefenseConnectors in deviceManagement
      operationId: deviceManagement_UpdateMobileThreatDefenseConnectors
      parameters:
        - name: mobileThreatDefenseConnector-id
          in: path
          description: 'key: id of mobileThreatDefenseConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileThreatDefenseConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mobileThreatDefenseConnector'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.mobileThreatDefenseConnector
      summary: Delete navigation property mobileThreatDefenseConnectors for deviceManagement
      operationId: deviceManagement_DeleteMobileThreatDefenseConnectors
      parameters:
        - name: mobileThreatDefenseConnector-id
          in: path
          description: 'key: id of mobileThreatDefenseConnector'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: mobileThreatDefenseConnector
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/remoteAssistancePartners:
    get:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: Get remoteAssistancePartners from deviceManagement
      operationId: deviceManagement_ListRemoteAssistancePartners
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - lastConnectionDateTime
                - lastConnectionDateTime desc
                - onboardingStatus
                - onboardingStatus desc
                - onboardingUrl
                - onboardingUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - lastConnectionDateTime
                - onboardingStatus
                - onboardingUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of remoteAssistancePartner
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.remoteAssistancePartner'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: Create new navigation property to remoteAssistancePartners for deviceManagement
      operationId: deviceManagement_CreateRemoteAssistancePartners
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.remoteAssistancePartner'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.remoteAssistancePartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/remoteAssistancePartners/{remoteAssistancePartner-id}':
    get:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: Get remoteAssistancePartners from deviceManagement
      operationId: deviceManagement_GetRemoteAssistancePartners
      parameters:
        - name: remoteAssistancePartner-id
          in: path
          description: 'key: id of remoteAssistancePartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: remoteAssistancePartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - lastConnectionDateTime
                - onboardingStatus
                - onboardingUrl
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.remoteAssistancePartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: Update the navigation property remoteAssistancePartners in deviceManagement
      operationId: deviceManagement_UpdateRemoteAssistancePartners
      parameters:
        - name: remoteAssistancePartner-id
          in: path
          description: 'key: id of remoteAssistancePartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: remoteAssistancePartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.remoteAssistancePartner'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.remoteAssistancePartner
      summary: Delete navigation property remoteAssistancePartners for deviceManagement
      operationId: deviceManagement_DeleteRemoteAssistancePartners
      parameters:
        - name: remoteAssistancePartner-id
          in: path
          description: 'key: id of remoteAssistancePartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: remoteAssistancePartner
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/resourceOperations:
    get:
      tags:
        - deviceManagement.resourceOperation
      summary: Get resourceOperations from deviceManagement
      operationId: deviceManagement_ListResourceOperations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actionName
                - actionName desc
                - description
                - description desc
                - resourceName
                - resourceName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionName
                - description
                - resourceName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of resourceOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.resourceOperation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.resourceOperation
      summary: Create new navigation property to resourceOperations for deviceManagement
      operationId: deviceManagement_CreateResourceOperations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.resourceOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.resourceOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/resourceOperations/{resourceOperation-id}':
    get:
      tags:
        - deviceManagement.resourceOperation
      summary: Get resourceOperations from deviceManagement
      operationId: deviceManagement_GetResourceOperations
      parameters:
        - name: resourceOperation-id
          in: path
          description: 'key: id of resourceOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: resourceOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionName
                - description
                - resourceName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.resourceOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.resourceOperation
      summary: Update the navigation property resourceOperations in deviceManagement
      operationId: deviceManagement_UpdateResourceOperations
      parameters:
        - name: resourceOperation-id
          in: path
          description: 'key: id of resourceOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: resourceOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.resourceOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.resourceOperation
      summary: Delete navigation property resourceOperations for deviceManagement
      operationId: deviceManagement_DeleteResourceOperations
      parameters:
        - name: resourceOperation-id
          in: path
          description: 'key: id of resourceOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: resourceOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/roleAssignments:
    get:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Get roleAssignments from deviceManagement
      operationId: deviceManagement_ListRoleAssignments
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - resourceScopes
                - resourceScopes desc
                - members
                - members desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - resourceScopes
                - members
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceAndAppManagementRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Create new navigation property to roleAssignments for deviceManagement
      operationId: deviceManagement_CreateRoleAssignments
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleAssignments/{deviceAndAppManagementRoleAssignment-id}':
    get:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Get roleAssignments from deviceManagement
      operationId: deviceManagement_GetRoleAssignments
      parameters:
        - name: deviceAndAppManagementRoleAssignment-id
          in: path
          description: 'key: id of deviceAndAppManagementRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - resourceScopes
                - members
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
          links:
            roleDefinition:
              operationId: deviceManagement.RoleAssignments.GetRoleDefinition
              parameters:
                deviceAndAppManagementRoleAssignment-id: $request.path.deviceAndAppManagementRoleAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Update the navigation property roleAssignments in deviceManagement
      operationId: deviceManagement_UpdateRoleAssignments
      parameters:
        - name: deviceAndAppManagementRoleAssignment-id
          in: path
          description: 'key: id of deviceAndAppManagementRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementRoleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceAndAppManagementRoleAssignment
      summary: Delete navigation property roleAssignments for deviceManagement
      operationId: deviceManagement_DeleteRoleAssignments
      parameters:
        - name: deviceAndAppManagementRoleAssignment-id
          in: path
          description: 'key: id of deviceAndAppManagementRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementRoleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/roleDefinitions:
    get:
      tags:
        - deviceManagement.roleDefinition
      summary: Get roleDefinitions from deviceManagement
      operationId: deviceManagement_ListRoleDefinitions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - isBuiltIn
                - isBuiltIn desc
                - rolePermissions
                - rolePermissions desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - rolePermissions
                - roleAssignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleAssignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of roleDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.roleDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.roleDefinition
      summary: Create new navigation property to roleDefinitions for deviceManagement
      operationId: deviceManagement_CreateRoleDefinitions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleDefinitions/{roleDefinition-id}':
    get:
      tags:
        - deviceManagement.roleDefinition
      summary: Get roleDefinitions from deviceManagement
      operationId: deviceManagement_GetRoleDefinitions
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - rolePermissions
                - roleAssignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleAssignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleDefinition'
          links:
            roleAssignments:
              operationId: deviceManagement.RoleDefinitions.ListRoleAssignments
              parameters:
                roleDefinition-id: $request.path.roleDefinition-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.roleDefinition
      summary: Update the navigation property roleDefinitions in deviceManagement
      operationId: deviceManagement_UpdateRoleDefinitions
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.roleDefinition
      summary: Delete navigation property roleDefinitions for deviceManagement
      operationId: deviceManagement_DeleteRoleDefinitions
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleDefinitions/{roleDefinition-id}/roleAssignments':
    get:
      tags:
        - deviceManagement.roleDefinition
      summary: Get roleAssignments from deviceManagement
      operationId: deviceManagement.roleDefinitions_ListRoleAssignments
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - resourceScopes
                - resourceScopes desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - resourceScopes
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of roleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.roleAssignment'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.roleDefinition
      summary: Create new navigation property to roleAssignments for deviceManagement
      operationId: deviceManagement.roleDefinitions_CreateRoleAssignments
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleDefinitions/{roleDefinition-id}/roleAssignments/{roleAssignment-id}':
    get:
      tags:
        - deviceManagement.roleDefinition
      summary: Get roleAssignments from deviceManagement
      operationId: deviceManagement.roleDefinitions_GetRoleAssignments
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: roleAssignment-id
          in: path
          description: 'key: id of roleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - resourceScopes
                - roleDefinition
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleDefinition
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleAssignment'
          links:
            roleDefinition:
              operationId: deviceManagement.roleDefinitions.RoleAssignments.GetRoleDefinition
              parameters:
                roleDefinition-id: $request.path.roleDefinition-id
                roleAssignment-id: $request.path.roleAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.roleDefinition
      summary: Update the navigation property roleAssignments in deviceManagement
      operationId: deviceManagement.roleDefinitions_UpdateRoleAssignments
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: roleAssignment-id
          in: path
          description: 'key: id of roleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.roleAssignment'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.roleDefinition
      summary: Delete navigation property roleAssignments for deviceManagement
      operationId: deviceManagement.roleDefinitions_DeleteRoleAssignments
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: roleAssignment-id
          in: path
          description: 'key: id of roleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleDefinitions/{roleDefinition-id}/roleAssignments/{roleAssignment-id}/roleDefinition':
    get:
      tags:
        - deviceManagement.roleDefinition
      summary: Get roleDefinition from deviceManagement
      operationId: deviceManagement.roleDefinitions.roleAssignments_GetRoleDefinition
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: roleAssignment-id
          in: path
          description: 'key: id of roleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - isBuiltIn
                - rolePermissions
                - roleAssignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - roleAssignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.roleDefinition'
          links:
            roleAssignments:
              operationId: deviceManagement.roleDefinitions.roleAssignments.RoleDefinition.ListRoleAssignments
              parameters:
                roleDefinition-id: $request.path.roleDefinition-id
                roleAssignment-id: $request.path.roleAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/roleDefinitions/{roleDefinition-id}/roleAssignments/{roleAssignment-id}/roleDefinition/$ref':
    get:
      tags:
        - deviceManagement.roleDefinition
      summary: Get ref of roleDefinition from deviceManagement
      operationId: deviceManagement.roleDefinitions.roleAssignments_GetRefRoleDefinition
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: roleAssignment-id
          in: path
          description: 'key: id of roleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleAssignment
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            roleAssignments:
              operationId: deviceManagement.roleDefinitions.roleAssignments.RoleDefinition.ListRoleAssignments
              parameters:
                roleDefinition-id: $request.path.roleDefinition-id
                roleAssignment-id: $request.path.roleAssignment-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - deviceManagement.roleDefinition
      summary: Update the ref of navigation property roleDefinition in deviceManagement
      operationId: deviceManagement.roleDefinitions.roleAssignments_SetRefRoleDefinition
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: roleAssignment-id
          in: path
          description: 'key: id of roleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleAssignment
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.roleDefinition
      summary: Delete ref of navigation property roleDefinition for deviceManagement
      operationId: deviceManagement.roleDefinitions.roleAssignments_DeleteRefRoleDefinition
      parameters:
        - name: roleDefinition-id
          in: path
          description: 'key: id of roleDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleDefinition
        - name: roleAssignment-id
          in: path
          description: 'key: id of roleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: roleAssignment
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/telecomExpenseManagementPartners:
    get:
      tags:
        - deviceManagement.telecomExpenseManagementPartner
      summary: Get telecomExpenseManagementPartners from deviceManagement
      operationId: deviceManagement_ListTelecomExpenseManagementPartners
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appAuthorized
                - appAuthorized desc
                - displayName
                - displayName desc
                - enabled
                - enabled desc
                - lastConnectionDateTime
                - lastConnectionDateTime desc
                - url
                - url desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appAuthorized
                - displayName
                - enabled
                - lastConnectionDateTime
                - url
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of telecomExpenseManagementPartner
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.telecomExpenseManagementPartner'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.telecomExpenseManagementPartner
      summary: Create new navigation property to telecomExpenseManagementPartners for deviceManagement
      operationId: deviceManagement_CreateTelecomExpenseManagementPartners
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.telecomExpenseManagementPartner'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.telecomExpenseManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/telecomExpenseManagementPartners/{telecomExpenseManagementPartner-id}':
    get:
      tags:
        - deviceManagement.telecomExpenseManagementPartner
      summary: Get telecomExpenseManagementPartners from deviceManagement
      operationId: deviceManagement_GetTelecomExpenseManagementPartners
      parameters:
        - name: telecomExpenseManagementPartner-id
          in: path
          description: 'key: id of telecomExpenseManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: telecomExpenseManagementPartner
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appAuthorized
                - displayName
                - enabled
                - lastConnectionDateTime
                - url
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.telecomExpenseManagementPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.telecomExpenseManagementPartner
      summary: Update the navigation property telecomExpenseManagementPartners in deviceManagement
      operationId: deviceManagement_UpdateTelecomExpenseManagementPartners
      parameters:
        - name: telecomExpenseManagementPartner-id
          in: path
          description: 'key: id of telecomExpenseManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: telecomExpenseManagementPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.telecomExpenseManagementPartner'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.telecomExpenseManagementPartner
      summary: Delete navigation property telecomExpenseManagementPartners for deviceManagement
      operationId: deviceManagement_DeleteTelecomExpenseManagementPartners
      parameters:
        - name: telecomExpenseManagementPartner-id
          in: path
          description: 'key: id of telecomExpenseManagementPartner'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: telecomExpenseManagementPartner
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/termsAndConditions:
    get:
      tags:
        - deviceManagement.termsAndConditions
      summary: Get termsAndConditions from deviceManagement
      operationId: deviceManagement_ListTermsAndConditions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - acceptanceStatement
                - acceptanceStatement desc
                - bodyText
                - bodyText desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - title
                - title desc
                - version
                - version desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - acceptanceStatement
                - bodyText
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - title
                - version
                - acceptanceStatuses
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - acceptanceStatuses
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of termsAndConditions
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.termsAndConditions'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.termsAndConditions
      summary: Create new navigation property to termsAndConditions for deviceManagement
      operationId: deviceManagement_CreateTermsAndConditions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termsAndConditions'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termsAndConditions'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/termsAndConditions/{termsAndConditions-id}':
    get:
      tags:
        - deviceManagement.termsAndConditions
      summary: Get termsAndConditions from deviceManagement
      operationId: deviceManagement_GetTermsAndConditions
      parameters:
        - name: termsAndConditions-id
          in: path
          description: 'key: id of termsAndConditions'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: termsAndConditions
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - acceptanceStatement
                - bodyText
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - title
                - version
                - acceptanceStatuses
                - assignments
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - acceptanceStatuses
                - assignments
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.termsAndConditions'
          links:
            acceptanceStatuses:
              operationId: deviceManagement.TermsAndConditions.ListAcceptanceStatuses
              parameters:
                termsAndConditions-id: $request.path.termsAndConditions-id
            assignments:
              operationId: deviceManagement.TermsAndConditions.ListAssignments
              parameters:
                termsAndConditions-id: $request.path.termsAndConditions-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.termsAndConditions
      summary: Update the navigation property termsAndConditions in deviceManagement
      operationId: deviceManagement_UpdateTermsAndConditions
      parameters:
        - name: termsAndConditions-id
          in: path
          description: 'key: id of termsAndConditions'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: termsAndConditions
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.termsAndConditions'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.termsAndConditions
      summary: Delete navigation property termsAndConditions for deviceManagement
      operationId: deviceManagement_DeleteTermsAndConditions
      parameters:
        - name: termsAndConditions-id
          in: path
          description: 'key: id of termsAndConditions'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: termsAndConditions
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/termsAndConditions/{termsAndConditions-id}/acceptanceStatuses':
    get:
      tags:
        - deviceManagement.termsAndConditions
      summary: Get acceptanceStatuses from deviceManagement
      operationId: deviceManagement.termsAndConditions_ListAcceptanceStatuses
      parameters:
        - name: termsAndConditions-id
          in: path
          description: 'key: id of termsAndConditions'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: termsAndConditions
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - acceptedDateTime
                - acceptedDateTime desc
                - acceptedVersion
                - acceptedVersion desc
                - userDisplayName
                - userDisplayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - acceptedDateTime
                - acceptedVersion
                - userDisplayName
                - userPrincipalName
                - termsAndConditions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - termsAndConditions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of termsAndConditionsAcceptanceStatus
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.termsAndConditionsAcceptanceStatus'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
[...]
